{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. "Мезень"{% endblock %}
{% block content %}



<br/><br/>
<p>
<strong>Пояснение. </strong>
        Начало этого фильма см. <a href="/Part2/Sabas-83_ssilkaGleba/">
            "Путешествие к Глебу с ссылку в Троице-
            Печерск"
        </a>
</p>
<p>87.<u> Просим смотреть на дефекты проявления как на знак субъективности нашего фотовзгляда на северный мир.</u></p> <p>88. <u>В страну Мезению - по реке Пижме</u>  между великими реками - приуральской Печорой и прикарельской</p>
<p>89. Двиной течет быстрая и своенравная Мезень. Ее до сих пор считают недоступной, хотя к верховьям проведена железная дорога, к устью приходят пароходы, а в оба райцентра летают большие самолеты. Правда, в самой Мезении дорог почти нет, если не считать реки, что и понятно: для пары десятков тысяч людей на такой громадной территории не стоит тянуть дороги, самолет дешевле.</p>
<p>90. Но наш путь из Коми на Мезень шел по-старинному и был труднее.После того, как вертолет нас высадил на водоразделе, мы прошли пешком волок и на катамаране 270 км по Пижмам до самой Мезени. Тяжело, </p>
<p>92. зато самую дикую, почти безлюдную, как бы нулевую часть мезенской страны насмотрелись всласть. </p>
<p>93, 94, 95.</p>
<p>96. Пижма стала нашим первопрохождением северней тайги, как большого, общего для нас и предков дома. Людей мы до впадения Четласа, т.е. почти неделю, не видели и, конечно, страшно радовались первым встречам.</p>
<p>98. Среди мимолетных встреч особой была встреча с крестом - вон там, на верху скалы. Его совсем недавно восстановили потомки, видно, помнящие, что здесь горели раскольники, не просто люди, а новые люди, личности, первые и настоящие диссиденты.</p>
<p>99. Раскольники уходили в эту тайгу-пустыню, осваивали здесь земли трудом великим, а как только добирались до них царские власти, вспыхивали факелами, не отступая ни на шаг от своей независимой веры, единственной основы правильной жизни.</p>
<p>20 тысяч самосожжений заставили-таки прекратить гонения.</p>
<p>100. Когда власть перестала гнать за веру, раскольники примирились с властью, стали ей верноподданными. И этот компромисс верен. Ведь государство объединяет людей разных вер, а их надо и понимать, и признавать. </p>
<p>101. Витя и Глеб тоже пошли на примирение с властью, но есть ли у них своя вера-основание? И сохранят ли они ее?</p>
<p>102.А  раскольники заставили-таки величайшее в мире самодержавие признать их человеческие и божеские права. Необычайной высоты духовный подвиг, до сих пор нами</p>
<p> не оцененный. Не его ли повторяет часть сегодняшних правозащитников? <i>(Примечание Вити 2007г.: Чуть позже уже в плавании по реке Пижме и встрече с раскольничими крестами я мысленно возвращался к предложению Глебу осмыслить жизнь и опыт наших предков, которые благодаря своей иступленной вере вплоть до самосоженния создали возможность для создания промышленной России в предреформенные годы)</i></p>
<p>103. <u> Первые деревни</u></p>
<p> 104. Первую мезенскую деревню мы увидели задолго до нее самой - по коровьим загонам вдоль берегов Пижмы. - Кобылинская. </p>
<p>105. Она оказалась брошенной (без перспективы и людей).</p>
<p>106. Только один дом держат жилым молчаливые два пастуха, приглядывающие</p>
<p>107. за нагулом совхозного скота между делом, т.е. между охотой и</p>
<p>108. рыбалкой. С нами они не разговаривали. И мы не решались расспрашивать про крест и раскол. Да мы ведь и сами знаем, что Мезень раскола</p>
<p>109. не приняла, осталась православной.</p>
<p>110. И покатили нас снова вода и руки 12 км до Шегмаса.</p>
<p>111. В нем нет и полусотни домов.</p>
<p>112. Однако здесь отделение совхоза, а значит,- клуб, почта-телефон, сельсовет и, конечно, магазин - предмет наших недельных мечтаний. Но жителям и здесь не было до нас никакого дела: мало ли шастает тут туристов и приезжих. </p>
<p>113. Даже местные ребятишки не любопытствовали. А может, в этом - будущая сдержанность характера и достоинство?</p>
<p>114. Только один раз нам повезло, когда рядом с катамараном причалила лодка с сеном. Старики в перерывах между тяжелыми ходками с сеном</p>
<p>115. успели порассказать и про житье-бытье, и про охоту в лесу, и про детей в городе. Труд им привычен, здоровье - позволяет, берегут друг друга. Себя высоко не ставят, но в праведности прожитой жизни, </p>
<p>116. похоже, уверены. И так это хорошо! И так завидно! </p>
<p>117. Еще 12 км гребли от Шегмаса, и показалась Ларкино - третья и последняя деревня на Мезенской Пижме.</p>
<p>118. В магазине продавца не оказалось. "На работе" - сказала нам старушка, приехавшая из большого села на Мезени, чтобы помочь дочери в пору сенокоса!</p>
<p>119. Почти слепая, она привычно ориентировалась в своем бывшем доме и огородике. Дивились мы, каким светом лучилось ее доброе лицо, светом праведно проживаемой жизни. Она свела нас в свой огородик,</p>
<p>120. чтобы одарить зеленым луком. Удивительно, как мало здесь ухоженной земли, да и ту поддерживают старики. Старинная, земледельческая, общинная Мезень вымирает...</p>
<p>122. Можно подумать, что и сами эти могилы живы только временно, пока жива еще деревня. Но дух покоящихся здесь мезенцев бессмертен </p>
<p>123-124. и когда-нибудь очнется в новых людях, деревнях, артелях.</p>
<p>125.<u> р.Мезень у Вожгоры</u>Ну, вот мы  добрались до аэродрома в селе Вожгоры, где и закончили свой водный маршрут. </p>
<p>126. Вожгора - центр совхоза, что по нынешним понятиям - уже столица, уже многолюдье. А, кроме того, здесь ведется крупная разделка леса, есть грузовая пристань, аэропорт для Аннушек и вертолетов, а за ближайшей </p>
<p>127. "горой" стоит воинская часть, и льются музыка-команды на всю округу.</p>
<p>128. Потому здесь много магазинов</p>
<p>129. и строится что-то вроде большого клуба или театра... </p>
<p>130. Дома большей частью современные, без художественных излишеств. Но дымятся северные баньки по-прежнему, греют хозяевам тело, а нам души и надежды...</p>
<p>131. С этими чувствами мы бегом возвращаемся на аэродромное поле к приземлившемуся самолету, вызванному для нас чуть пижонистым, но таким скромно-славным диспетчером и улетаем в райцентр.</p>
<p>132.-135.<u>Лешуконье - леших кони</u></p>
<p>136. Этим уроженкам Лешуконского, приехавшим на родину, потому что - "тянет", мы хвалили северный край, и они с большой благодарностью встречали наши слова. И возникло ощущение, что в свое новое жилье эти славные женщины увезли самое добротное из своего мезенского </p>
<p>137. детства. И понятно, почему они сюда приезжают.</p>
<p>138. 139. В Лешуконском много новых домов, но и старые крепыши стоят еще людям на радость. С особым благоговением мы осматривали крыши,</p>
<p>140. сложенные из теса по-старому, с желобами на курицах и с мощным бревном-охлупенем - деревянным конем, ставшим, по книгам Адамова и иных северян - символам русского Севера, его сути.</p>
<p>141. <u>Из книги Ю.Галкина о Шергине</u></p>
<p>Вот "мы говорим: жил человек такой-то, трудился, в поте лица добывая свой хлеб, прожил срок и умер, и остались после него дети.</p>
<p>142. Это мы говорим про него, но сам он никогда не скажет так. Он никогда не согласится, что весь смысл его жизни состоял в труде и детях. Нет, у него были какие-то иные надежды, просто жизнь оказалась слишком тяжела и надежды оказались неисполненными".</p>
<p>143. Но каковы же эти надежды и смысл? Где они записаны? В каких вечных книгах? - Как где? - В народном искусстве! Ведь искусство - </p>
<p>144. это поэтический шифр, которым выражаются мысли и чувства, надежды и упования, охватывающие опыт поколений, память и мечту, и убеждение </p>
<p>145. в том, как все должно быть между людьми. И потому смысл и надежды жизни не гаснут и не теряются в веках, но передаются одним поколением другому".</p>
<p>146. Уставшая от туристов, но не потерявшая природной доброты уборщица на речном вокзале пустила нас ночевать в зал ожидания, вымокших. </p>
<p>147. Устроенный быт, вымытые в бани тела - настроили нас на благодушие воспоминаний. Исторических, конечно. Читали путеводитель </p>
<p>148. и уходили в глубь веков: как появились здесь еще в дохристианские времена новгородские молодцы, удаль которых и силушка всегда нам в пример будет ставиться, и гадаем -</p>
<p>149. не от их ли коней на ладьях пошли мезенские кони на крышах? В память о древнем роде и в пример внукам? </p>
<p>150. Как будто без следа погибли варяги - древние наши землепроходцы, а духом вот нет: вынырнули из пучин и оседлали жилища своих</p>
<p>151. потомков, направляя их души к морю и свободе... </p>
<p>152. Может, и неверна наша догадка. Может, правей ученые, видящие в охлупнях больше языческие заклинания и образы. Пусть так. Нам просто нравится Север и его лешие кони.</p>
<p>153-154.</p>
<p>155. <u>Ha "Зарнице" - в Кельчемгоры</u></p>
<p>156. Пожалуй, самым интересным и заповедным мезенским селом-околотком является Кельчемгоры на правом берегу Мезени из пяти соседствующих,</p>
<p>157. почти слитых деревень: Кольчино, Заручье, Моктево, Заозерье, </p>
<p>158-159. Шелява.</p>
<p>160. <u>Из книги Ю.Галкина</u>:"Характер человека, образ его жизни и слова - это одно и тоже...  </p>
<p>161. Многие исследователи и путешественники объясняли характер жизни на Русском Севере тем, что там не было крепостного права, как не было его на Дону и в Сибири. А в нравственном смысле это имеет большое значение. Достоинство человека не подавлено рабским положением при барине, при помещике, при хозяине. Воля человека, его инициатива не связаны тяжелой цепью неволи.</p>
<p>162. Труд северного крестьянина был ничуть не легче труда крестьянина московского или тульского, хлеб со своих бедных десятин никогда не кормил его, но он был свободен, он был относительно равноправен со всеми, а одно это обстоятельство сильно влияет на характер</p>
<p>163. человека, на его творческие потенции. Понукание, надзор за трудящимся человеком рождает бездельников, хитроумных лодырей, а свобода побуждает к жизнетворчеству...''</p>
<p>164. Подходим к поминаемому всеми путеводителями дому В.Н.Клокотова со старинной, еще от прошлого века резьбой и росписью.</p>
<p>165. Роспись на фронтоне: львы, собаки, сказочные птицы и растительный орнамент (говорят, они еще из языческих времен). </p>
<p>166. Нам повезло: удалось разговориться с хозяином - и как ему только туристы не надоели, едут со всего Союза? Нелегким трудом и упорством поддерживает он жизнь огромного дома, следит и подновляет его старинный фасад. Хотя не раз настоятельно предлагали переезд в городскую квартиру, а дом перевезти в музей "Малые Корелы". </p>
<p>167. Но он упрямо не сдается: здесь вырос, здесь и умру. И дому стоять здесь. Необыкновенная симпатия пробуждается к этому мрачноватому </p>
<p>168. человеку: ведь его волей и трудом еще живо художество Кельчемгоры, да и всей Мезени, нашей северной крестьянской Атлантиды... </p>
<p>169.</p>
<p>170. Есенин: (по Сулимову)</p>
<p>
        О красном вечере задумалась дорога,<br/>
        Кусты рябин туманной глубины.<br/>
        Изба-старуха челюстью порога<br/>
        Жует пахучий мякиш тишины.
    </p>
<p>
        171. 	Осенний холод ласково и кротко<br/>
        Крадется мглой к осеннему двору; <br/>
        Сквозь синь стекла желтоволосый отрок <br/>
        Лучит глаза на галочью игру.
    </p>
<p>
        172. ... 	Все гуще хмарь, в хлеву покой и дрема,<br/>
        Дорога белая узорит скользкий ров... <br/>
        И нежно охает ячменная солома,<br/>
        Свисая с губ кивающих коров.
    </p>
<p>173. A другого всесоюзно известного дома мы уже не находим. Женщина привела нас на место, где он не так давно стоял, а после смерти</p>
<p>174. последнего хозяина был разобран за "ветхостью" на дрова. Лишь крыльцо увезли в музей. Стоим, обескуражено улыбаясь. Неужели это неизбежно? Нет, крестьянская Атлантида не может потонуть полностью, в душах-то она останется? - </p>
<p>175. Украшают же в соседней Юроме фронтоны новых домов львами по типу клокотовских... </p>
<p>176. И снова приведем слова из книги о Шергине: "Конечно, трудящийся человек ничего не будет делать без необходимости, без прямой пользы. Но так же верно, что ничего хорошего он не делает и без красоты, без любви, без настроения, "из-под палки".</p>
<p>177. Когда же эту очевидную, пусть нелегкую мудрость Севера усвоим все мы, вся страна? Пока же разрушения видно больше, чем возрождения.</p>
<p>178. Особенно грустно было ходить по закрытой разваливающейся школе среди разлетевшихся пособий, тетрадей, даже книг.</p>
<p>179. Грустно смотреть из разоренного храма знаний на северную деревню, так высоко ценившую в свое время умение-знание.</p>
<p>180. <u>Из книги Б.В.Шергина:</u> </p>
<p>
        Колотился я на Груманте / Довольны годочки. <br/>
        Не морозы там страшны, / Страшна темна ночка.
    </p>
<p>
        181. 	Там сполохи пречудно / Пуще звезд играют.<br/>
        Разноогненным пожаром / Небо зажигают.
    </p>
<p>
        182. 	И еще в пустыне той / Была мне отрада,<br/>
        Что с собой припасены / Чернила и бумага...
    </p>
<p>
        183. 	Я в пустой избе один, / А скуки не знаю,<br/>
        Я хотя простолюдин, / Книгу составляю. <br/>
        Не кажу я в книге сей / Печального виду. <br/>
        Я не списываю тут / Людскую обиду...
    </p>
<p>184. Приветливая женщина наблюдает, как мы опорожняем ее ведро с обратом. Потом она приносит из дома трехлитровую банку, наполняет ее нам в дорогу и продолжает извиняться, что это - не молоко.</p>
<p>185. A через четверть часа другая женщина на вопрос, как выйти на юромскую дорогу, вызвалась проводить и шла с нами добрую версту до луговой дороги, по которой </p>
<p>186. потом часть пути провез наши рюкзаки местный молоковоз - и тоже при этом извинялся. Ни о каких деньгах нет и речи. Всего по Мезени мы общались, пожалуй, с двумя десятками местных жителей. Были среди них и в дымину пьяные, но не было неприятных, неприветливых.</p>
<p>187. Здесь живут люди еще старшего, традиционного северного поколения, почти поморского согласия. С точки зрения современней школы, они, может, даже малообразованны, но с гораздо более важной точки зрения, это люди высокой традиционной культуры - как в человеческих отношениях, так и в памяти о предках. </p>
<p>188. Вспомним знаменитую представительницу этих людей - сказительницу   Марию Дмитриевну Кривополенову: Галкин пишет: "это та самая бабушка, которую нищей привезли в 1916 году в Москву, а три месяца спустя она уехала на родину, осыпанная подарками, богатая и напоенная славой и радостью. Однако бабушку это не смутило, и очень скоро, раздав все свое так внезапно обретенное богатство, она сделалась опять такой, какой и была - бедной и свободной. Кривополенова была последней сказительницей Русского Севера.</p>
<p>189. Печать и, особенно, радио отучили северян петь самим былины, передавать изустно особую северную культуру. Тем не менее, передача северного характера, наверное, происходит...?</p>
<p>190. В Mокшеве - под языческой "горой"-холмом сооружена в конце прошлого века деревянная пятиглавая церковь. Мы даже названия ее не знаем. Путеводители только говорят, что до недавнего еще времени </p>
<p>191. продолжались здесь встречи ночи Ивана Купалы. И хотя православная церковь, наверное, намеренно строилась близ языческого холма, чтобы подчинить себе его - но, видно, сама жизнь заставляла мезенских </p>
<p>192. священников считаться со вкусами паствы, упрямых в соблюдении преданий и обычаев своих далеких новгородских предков. </p>
<p>193. Храм закрыт. Закрыт и квартировавший в нем клуб. Одно хорошо - можно подняться по шаткой лестнице на колокольню и посмотреть на мезенский мир сверху. Подумать, чем отличалось северное православие от столичного, государственного?</p>
<p>194. А отличалось оно, прежде всего, сильным ослаблением государственного давления: от Москвы далеко, а люди на этой суровой земле сильны и самостоятельны в отстаивании своих обычаев, свободы. </p>
<p>195. Приверженность к своей старине, начиная с языческой - свойство и других русских окраин, особенно западных - Белоруссии, Закарпатья, не говоря уже просто о западных странах. Да, это так. Почвенность, консервативность - существенная часть свободного, западного по типу человека, где бы он ни был - в Европе ли, в Японии, Индии или на окраинах России.</p>
<p>196. И нам тоже, говоря словами Шергина и Галкина, необходимо восстановить "златую цепь времен", начиная с самого первого, самого исконного и истинного - языческого звена детства человечества, чтобы на основе человеческой приверженности к "золотому веку первобытного коммунизма" идти, выстраивать в отношениях свободный коммунизм будущего.</p>
<p>197. А для этого надо, прежде всего, уходить от власти центра на окраины. От ее авторитета, от сопривилегий, богатств, культуры - в бедность и человеческую пустыню. Чтобы душу спасти, надо не жалеть тело...</p>
<p>198. <u>Религия обетных крестов</u></p>
<p>199. Пожалуй, самой яркой и заметной деталью мезенского православия, доказательством его личного характера являются многочисленные обетные кресты при дорогах, а еще чаще - у ворот и во дворах домов.</p>
<p>200. Эти кресты люди ставили по обету - Богу за избавление от болезней и несчастий - себя и скота. Изрезывали криптограммами молитв, знаками страстей </p>
<p>201. Христовых, укутывали дарственными паневами, утепляли свечами. И такая в этом проглядывает прозрачная связь с языческими еще поклонениями святым деревьям или изрезанным идолам, или играм на высоких холмах, ко всей этой общинной, родовой стихии, что невольно вспоминаются обетные молельные распятия на наших католических окраинах.</p>
<p>202. И то, что эти кресты сейчас падают по всей Мезени, даже известные, что только нам, туристам, приходит в голову перекладину с Христом</p>
<p>203. хотя бы повернуть из мокрой травы к просыхающему иногда небу -</p>
<p>204. свидетельство такого упадка, такого регресса личной веры - что от</p>
<p>205. печали и слова не помогут...</p>
<p>206. Красноглинистыми мезенскими берегами мы продвигались от Кельчемгоры к древней Юроме, со страхом и благодарностью к устроителям</p>
<p>207. преодолевая такие раскачивающие мостки. Ведь мы уже несли подаренные в этой деревушке иконы.</p>
<p>208. Анастасия Александровна Пургина ныне живет у дочери в Северодвинске, а летом приезжает на родину. Она предложила нам стопку старых подпорченных икон, признавшись, что не знает, куда их деть - сжечь, что ли, ведь зять-военный, не одобряет. Берите, если кому добро будет.</p>
<p>209. А вот эту красоту, семейное достояние, она ценит и холит. И хоть нам, напротив, не так уж симпатичен этот православный блеск, но привязанность нашей хранительницы трогает. Спасибо.</p>
<p>210. Мы рады ее подарку и печалимся, что сама она, если и верит, то стесняясь своей веры. И потому наше восхищение отдается больше</p>
<p>211. иным, еще верующим, не отрекшимся...</p>
<p>212.-215.</p>
<p>216. <u>Юрома</u>Юрома с 17-го века - волостная столица, а ныне - центр совхоза и крупное для Мезени село. Дома его, как и в Вожгоре, перестраиваются.</p>
<p>217. Старинного осталось мало, хотя деревянные обрубы и мосто-бревенчатые укрепления красных берегов мы еще нашли, перечитывая строки путеводителя: "Остатки деревянных набережных еще есть</p>
<p>218. в Великом Дворе - центральном околотке Юромы. Это сложное и умное, прямо-таки инженерное сооружение. Вот и призадумаешься - можно ли всерьез говорить об отсталости крестьянского Севера? "</p>
<p>219. Эти слова были особенно убедительны в довоенное время, когда еще существовал великолепный ансамбль Юромского погоста. Все сгорело от молнии, небрежения. Остались только картинки в книжке, да людская память о мужиках- богатырях, строителях огромных храмов,</p>
<p>220. таких, как Пашко, принужденного оставить мирную пахоту, чтобы преследовать разбойного атамана Зажегу, грабившего и зорившего все селения по Мезени и защитившего мирный труд.</p>
<p>221. B легенде была реальная основа - крестьянские отряды самообороны под командой Павла из Юромы, самостоятельно каравшие как настоящие разбойные шайки, так и московских стрельцов, когда они уж слишком давали волю рукам в своих грабежах и "воровских поживах". Северные крестьяне могли защищать себя, конечно, когда силы были хотя бы сопоставимыми.</p>
<p>222. Сейчас над рекой стоят только современные памятники - Ворошилову, отбывавшему когда-то ссылку, и самодельный памятник юромцам, погибшим на реке после войны.</p>
<p>223. Ночевали мы в общежитии архангельских шабашников, приглядываясь к местному быту и неторопливым стройкам.  Но хозяева наши вернулись с работы заполночь, когда мы уже спали, а утром мы ушли, </p>
<p>224. когда они еще спали. Так что общения не получилось, и как живут современные промышленные артели на Мезени, мы не узнали. Только</p>
<p>225. догадываемся, что это обычный брат наш шабашник, одинаковый в северных или южных пустынях. Но все же надеемся, что он хранит в своей работе и отблеск старинных поморских уставов.</p>
<p>226. <u>Путешествие по нижней Мезени</u></p>
<p>227. Утренней "Зарницей" мы продолжили свое путешествие по нижней Мезени, деля время между чтением книг, сном,</p>
<p>228. наблюдением за курсом единственного пассажирского корабля на Мезени, дорогого, как самолет, и проклинаемого, как погубителя </p>
<p>229. берегов и рыбы. Попыткой беседы с бывшим морским капитаном Феофаном Кирилловичем Мальгиным, интереснейшим северянином-помором - и так жаль, что я мало что из разговора вынесла, хоть и старалась. Или просто вслушиванием в незамысловатый треп сегодняшних мезенцев.</p>
<p>230. Или просто вглядыванием, даже насматриванием на берега страны Мезении.</p>
<p>231. <u>Нисогоры</u></p>
<p>232. <u>Березники</u></p>
<p>233. <u>Азополье</u></p>
<p>234. Наше путешествие на "Зарнице" закончилась перед Кимжей в местах, куда доходит уже дыхание морских приливов. </p>
<p>235. К вечеру из Кимжи мы пешком подошли к Дорогорскому - оно на том берегу, надеясь на случайную помощь. И верно, крики детей подвернули к нам сердобольного лодочника - Володю с напарником, похоже, </p>
<p>236. расконвоированным, передавшим Москве приветы. Они-то и перевезли нас, не взяв денег.</p>
<p>237. Из Дорогорского последним автобусом мы уехали в саму Мезень. После ночевки в притундровом cоснячке у аэродрома и утреннего</p>
<p>238. чая с ягодой, выяснив состояние билетов на Архангельск, мы отправились на</p>
<p>239. осмотр Мезени. К сожалению, осторожность путеводителей была оправдана - в этом раскиданном и сером от перестроек, как будто временном, поселении трудно что-либо  смотреть.</p>
<p>240. Даже в самом центре, у райкома партии если не деревня, то бревенчатый поселок продолжает "править бал" - и мы не знаем, радоваться этому или огорчаться. Вроде хорошо, что у начальства нет сил все </p>
<p>241. вокруг себя корежить под западные образцы, а с другой стороны - уж очень убога рабочая, барачная Мезень, и нет сил радоваться ее сохранности.</p>
<p>242. Только на центральной улице, поднимая голову к старинным решеткам на домах, мы получали возможность подумать об основателе города - новгородце Окладникове с сыновьями, о Борисе Годунове, устроившему здесь первую таможню на первом сибирском тракте и, наконец, об Екатерине Великой, объединившей Окладникову слободу и Кузнецову</p>
<p>243. слободу в уездный город Мезень со своим гербом и громадными владениями в пол-Европы. Однако эти слободы так и не слились в единый город, а Мезень численно почти не выросла. Видно, таков уж удел у этого города - быть не столько столицей и выразителем Мезенского края, сколько - слободой-форпостом власти.</p>
<p>244. Только в музее, в многочасовой беседе с его директором-энтузиастом (по совету этого мезенца) наше настроение переломилось. </p>
<p>245. Василий Иванович с такой любовью повествовал нам о географии, экономике, археологии и новой истории, о славе своего края, о 17-ти мезенских именах на карте Ледовитого океана, о славных мезенских </p>
<p>246. землепроходцах, о Груманте и Чукотке, о подвигах Серебрякова и знаменитых писателях,... что мы не могли не понять, что такая любовь не может существовать без мощной поддерживающей любви множества людей, его земляков. И эта встреча поселила в нас радость, не гаснущую до сих пор. </p>
<p>247.<u> Из книги Ю. Галкина "Златая цепь" - о Б.Шергине - поморском писателе и последнем сказителе Севера</u></p>
<p>248. "Исторические условия сделали Русский Север своего рода заповедником, где память о предках-новгородцах была не только на языке, но проявлялась во всех традициях здравствующей жизни".</p>
<p>249. "...Здесь была власть моря, власть реки, леса и сам уклад жизни иной, и сам человек еще не успел измениться под натиском социальных преобразований... Всякие нововведения достигали берегов Белого моря уже с опозданием и ослабленными, а подчас и потерявшими обязательную силу. Поэтому житейские устои, профессиональные и художественные пристрастия северного жителя не подвергались таким решительным искушениям и испытаниям, как в центральных областях России.</p>
<p>250. Есть у Шергина удивительная легенда об Иване Гостеве, одном из тех новгородцев, государей-кормщиков, которые утверждали жизнь на</p>
<p>251. берегах Белого моря: "Вечно ходит солнце с Востока на Запад. Гуси и гагары с теплом летят на Север, с холодами - на Юг. Этим же обычаем сорок лет мерил Иван Гостев неизмеримое море, и где ставил кресты, и избы, и амбары, там учреждался промысел, уставлялся ход </p>
<p>252. лодейный, урочный. И вот так сорок лет. Сочти этот труд и путь человеческий! Но, видно, притомился Иван Гостев, не под силу сделалось то, что еще недавно было привычно. И тут его прямой ум исказила поперечная дума: 'Берег я выбрал себе удаленный, путь туда грубый и долгий.</p>
<p>253. Не сыскать ли промысел поближе, чтобы дорога была покороче...' В смятении ума стоит Гостев у кормила лодейного: "Кому надобны несчетные версты моих путеплаваний? Кто сочтет морской путь и морской труд?' И видит Гостев:</p>
<p>254. У середовой мачты стоит огнезрачная девица. У нее огненные крылья ...и багряница, истыканная молнией. Она что-то считает вслух и счет списывает в золотую книгу. 'Кто ты, о госпожа? - ужаснулся Гостев. - Что ты считаешь и что пишешь?' Девица повернула к Гостеву свое огненное лицо: 'Я Премудрость Божия</p>
<p>255. София Новгородская. Я считаю версты твоего морского хода. О, кормщик! Всякая верста твоих походов счислена, и все пути твоих лодий исчислены и списаны в книгу жизни Великого Новгорода'.- 'Ежели так, о, госпожа,- воскликнул Гостев,- то и дальше дальних берегов пойду и пути лодий моих удвою!' "</p>
<p>256. "О, море! Души моей строитель"...</p>
<p>Весной побежим с Пафнутием Осиповичем в море: Во все стороны развеличилось Белое море - пресветлый наш Гандвик. Засвистит в парусах уносная поветрь, крутой взводень, придет "время наряду и час красоте" Запоет наш штурман былины:</p>
<p>
        Высоко, высоко небо синее, / Широко, широко океан-море,<br/>
        А мхи-болота - и конца не знай, / От наших рек от Архангельских...
    </p>
<p>257. Обычай к артельному труду на Севере есть дело повсеместное. Промысел, от которого богатела северная сторона - дальний, на диких пустынных берегах. Студеное море угрюмо и жестоко, а артель зверепромышленников - до 10-15 человек, вверивших свою судьбу Господу Богу да артельному старосте. Но вот еще на утлый кораблик берут человека </p>
<p>258. с "песней и сказкой", и на равной доле самым ловким промышленникам. Зачем? Да, чтобы, когда наступят "мрачные дни", люди не упали духом, не поддались тоске и цинге, не озверели, не одичали за долгую зимовку среди полярной ночи, чтобы не затмился разум в изнурительной борьбе за жизнь, не сломилась в душе воля от видимой бессмысленности такого существования, чтобы не потерялся во мраке путеводный огонек жизни - ведь песня, сказание - это всегда надежда негаснущая. Не потому ли из-за талантливых сказителей и песенников "артельные старосты плахами березовыми дрались, боем отбивали, отымом отымали?"</p>
<p>259. "Плыли мы первым весенним рейсом в Мурманское. Стали попадаться отмелые места. Вдруг старик рулевой сдернул шапку и поклонился в сторону еле видимой каменистой грядки... На этой грядке "во времена недавние"... без всякой надежды на спасение, без пищи и воды остались два брата, Иван и Ондреян, мезенские промышленники... Но вместо того, чтобы есть друг друга, следуя законам борьбы, они рассудили иначе: 'Не мы первые, не мы последние. Мало ли нашего брата пропадает в относах морских. Если на свете двоих еще не станет, от этого белому свету переменения не будет'. </p>
<p>261. В дело были пущены ножи, но даже не для того, чтобы "по доске нацарапать несвязные слова предсмертного вопля", а стали они ножами своими украшать печальный досуг любезным их сердцам художеством, и вот простая щербатая доска столешницы, которую выкинуло море на эту каменистую коргу, превратилась в произведение искусства. "Чудное дело. Смерть наступила на остров, взмахнула косой, братья видят ее - и слагают гимн жизни, поют песнь красоте. И эпитафию они себе слагают в торжественных стихах:</p>
<p>
        262.Корабельные плотники Иван с Ондрияном /Здесь скончали земные труды, <br/>
        И на долгие отдых повалились, И ждут архангеловой трубы...<br/>
        Чтобы ум отманить от безвременной скуки <br/>
        К сей доске приложили мы старательные руки... <br/>
        Ондреян ухитрил раму резьбою для увеселения; <br/>
        Иван летопись писал для уведомленья...
    </p>
<p>263.<u> Выписки Шергина из морского старинного устава "Устянского правила"</u></p>
<p>264. "В северо-русском промышленном мореходстве - поясняет Шергин,- издревле существовало "обычное право", своеобразная юриспруденция, определяющая ...жизненно-деловые отношения промышленников друг к другу. Иногда они закреплялись письменно. Устав так и начинался: </p>
<p>265. "Мореходством нашим промышляем прибыль всем гражданам... Держись гораздого сего обычая. Не разорите мореходства доброго уставы". А вот некоторые правила:</p>
<p>266. - Ежели покоренье кормщику напоказ содержится, а внутри молва и хула, то ждет нас беспромыслица.</p>
<p>- Ежели переступил устав и учинил прошибку - не лги, а повинись пред товарищи и скажи: 'Простите меня!' - и огрех мимо идет. </p>
<p>- Ежели кто сделал ошибку, и бедственную, но понял ее и исправился - не могите напомянуть ему о ней.</p>
<p>267. - А если "за которым человеком сыщется какое воровства или татьба или какое скаредное дело, кто сироту обидит или деньги в рост давал, его в промышленный поход не брать.</p>
<p>О, человече!  Лучше тебе дома по миру ходити, куски собирати, нежели в море позориться, переступая вечную заповедь морскую".</p>
<p>268.<u> Кимжа</u>Наш предпоследний мезенский день был посвящен знакомству с Кимжой,</p>
<p>269-270.</p>
<p>271. удивительно красивым и гармоничным селом на берегу левого мезенского притока, настоящей Мекке для художников и поэтов.</p>
<p>272. Отодвинутость Кимжи от русла Мезени и некоторая укрытость, а также солидный процент живших здесь раскольников с их упрямой приверженностью к старинному укладу жизни в старинных постройках </p>
<p>273. определили и такую удивительную сохранность, заповедность этой деревни, наилучшего представителя Мезенского Севера. Здесь все есть - и деревянные набережные, </p>
<p>274. и мельницы-ветряки, </p>
<p>275. и кони на крышах, </p>
<p>276. и "обетные кресты".</p>
<p>277. Но, прежде всего и, в конце концов - Одигитриевская церковь, выразитель духа целого края. И страшно подумать, какое нам будет горе, </p>
<p>278. если с этой церковью случится трагедия. О небрежении и разоре</p>
<p>279. ее и сейчас не один раз поминают местные жители. И, боясь этой </p>
<p>280. судьбы, суеверно ее отпугивая, снимал ее Витя несчетное число раз.</p>
<p>281-282. Богат был этот день и на встречи с людьми, самыми разными. В этом доме старушка угощала нас и своих постояльцев чаем, добро сочувствуя и входя в наши заботы. И тут же был пьяный, не </p>
<p>283. соображающий механизатор Юрка, как он себя называл, с которым мы неуспешно пытались договориться о лодке в Дорогорское.</p>
<p>284. Разговорились мы и москвичами-киношниками, изготовителями будущего дорогостоящего киношедевра про знаменитого ученого, конечно, </p>
<p>285. Ломоносова. Они рассказывали о каких-то там миллионах на доставку в Кимжу студийных машин и электростанции, не говоря уж об именитых актрисах и ином обеспечении... </p>
<p>286.Дюжий парень сбрасывал веревкой колокол. Мы ахнули, но он полетел легкой пушинкой. Оказалось - бутафория... </p>
<p>287. Притвор и часовни рядом с церковью - тоже понарошку. </p>
<p>288. А в отдалении стоял целый раскольничий посад с часовней из сарая, предназначенный для самосожжения раскольников, и изба, где будет расти Михайло Ломоносов...</p>
<p>289. В какой-то момент стало казаться, что и церковь неправдошняя, и святого-то ничего нет, и уроки народные интеллигенции не нужны.</p>
<p>290. И снова мы обращаемся к книге Галкина, где говорится о мучительных раздумьях Блока о страшном разделении России на две реальности: "народ и интеллигенцию", полтораста миллионов с одной стороны, и несколько сот тысяч с другой; люди, взаимно друг друга не понимающие</p>
<p>291. в самом основном. В этом-то и таится российская трагедия, и миром она уже никак не разрешится, все яснее слышится гул приближающейся беды - революции. </p>
<p>292. Эта проблема и сегодня актуальна. Пропасть, заваленная революцией, разверзается вновь. Не жалея сил, интеллигенция снова рвется </p>
<p>293. в баре - от "этих пьяниц и ворюг". Вместе с Галкиным мы не хотим разводить эти противоположности до антагонизма красного и белого. </p>
<p>294. Мы просто желаем себе и своим друзьям избавления от служивых </p>
<p>295. комплексов, возвращения к нравам суровых предков. </p>
<p>296. Мы прощаемся и уходим из деревни к переправе на Дорогорское.</p>
<p>297. ...Мы идем вдоль реки Кимжы, по заливным лугам мимо мезенских</p>
<p>298. коней на приволье... Потом вброд переходим левый рукав и вступаем в мезенскую пустыню обмелевшего дна. </p>
<p>290. Вот где хорошо думается на ходу, </p>
<p>300. перерабатывая мезенские уроки...</p>
<p>301-303 <u>Конец</u></p>
<br/>

{% endblock content %}
