{% extends 'base.html' %}
{% block title %}ЗЭС N2: 1. Эндре Гач "Рынок на службе плана" - Опыт успешной{% endblock %}
{% block content %}



<h1>
<p><font size="4">В защиту экономических свобод</font></p>
<p><font size="4">Выпуск 2, ноябрь 1978г.</font></p>
<p><font size="4">Составители К.Буржуадемов и В.Грин </font> </p>
<p><font size="3">Раздел I. Попытки теоретического осмысления свободной 
экономической деятельности.</font></p></h1>
<p><font size="3">(В разделе мы поместили как экономические работы, посвященные 
рыночной экономике в нашей стране, так и юридические, посвященные анализу и 
критике ныне действующих законов, запрещающих свободную экономическую 
деятельность, а также опыт успешной экономической реформы в Венгрии.</font></p>
<h1> Эндре Гач "Рынок на службе плана" - Опыт успешной экономической 
реформы </h1><font size="3">
<p>(Помещая напечатанную в журнале "Венгерские новости" № 11, 1967 г.статью 
венгерского журналиста о начале экономической реформы в социалистической стране, 
мы полагаем, что в следующих выпусках удастся подробно проанализировать ход и 
результаты этой реформы – в целом удавшейся в отличие от нашей реформы 1965 г. - 
К.Б.)</p>
<p>Тот, кто приезжает сейчас в Венгрию, в первые же дни сталкивается с 
выражением "новый хозяйственный механизм". Это выражение встречается в газетах, 
в передачах радио и просто в разговорах и – венгры не были бы венграми – в 
анекдотах. </p>
<p>Экономические средства управления хозяйством. Вышеупомянутые три слова 
означают новую систему управления хозяйством, которая вступит в действие с 1 
января 1968 г. С этого момента предприятиям никто не будет предписывать, что они 
должны производить, сколько и с какой стоимостью – они будут составлять планы по 
своему усмотрению. Это отнюдь не означает отмены народнохозяйственного 
планирования. Центральные плановые органы будут и впредь составлять планы, но 
осуществление их будет обеспечиваться не путем "спуска плановых показателей", 
так сказать, директив, а с помощью экономических категорий (цены, кредиты, 
налоги, таможенные пошлины и т.д.) Более значительную роль в хозяйственной жизни 
страны получат цены и деньги, спрос и предложение, другими словами – рынок. 
Ранее план и рынок представляли собой в "сознании" общества противоположные, 
исключающие друг друга понятия. Одна из целей реформы заключается в том, чтобы 
поставить "стихию" рынка на службу планового хозяйства. Все это приведет к 
значительному росту самостоятельности предприятий. Это естественно – большая 
часть государственных предприятий Венгрии имеет уже двадцатилетнее прошлое: они 
стали "взрослыми" и не нуждаются более в мелочной опеке сверху. Часть 
экономических решений таким образом децентрализуется, перейдет на такой уровень, 
где есть более конкретные сведения о производстве.</p>
<p>Конечно, право решений само по себе для предприятий недостаточно, они должны 
располагать необходимыми средствами для их реализации. Впрочем, они и раньше 
распоряжались частью прибыли, но с 1968 г. у них будет оставаться большая часть 
получаемой прибыли, которая в определенных пропорциях начнет использоваться, с 
одной стороны, для развития производства, с другой стороны – для повышения 
заработной платы трудящихся, премирования и т.д. Тем самым материальная 
заинтересованность превратится в более ощутимый стимул в деле увеличения 
производства, улучшения деятельности предприятий.</p>
<p><strong>Гибкая система цен. </strong>Значительные изменения произойдут в 
системе цен. До сих пор цены не во всех случаях отражали фактическую стоимость 
затраченных средств; цены в большей степени приблизятся к действительным при 
новой системе ценообразования. Цель новых мероприятий заключается в том, чтобы 
они ориентировали и стимулировали предприятия и центральные органы на принятие 
правильных хозяйственных и экономических решений.</p>
<p>Изменения произойдут и в регулировании цен. До сих пор цены в большинстве 
случаев устанавливались централизованно на продолжительное время. При новой 
системе будут установлены лишь частично твердые (государственные) цены, 
остальные будут изменяться в определенных рамках или вообще останутся 
свободными. Уровень цен, относящихся к двум последним категориям, начнет 
определяться отчасти соотношением спроса и предложения, и это придаст большую 
гибкость всей системе ценообразования.</p>
<p><strong>Права предприятий на экспорт и импорт. </strong>Внешняя торговля 
играет чрезвычайно важную роль в венгерском народном хозяйстве. 35-36% всего 
нашего национального дохода составляет экспорт. Именно поэтому одна из целей 
хозяйственной реформы заключается в том, чтобы приблизить отечественное 
производство к внешней торговле, создать более тесные контакты между внутренним 
и внешним рынком. Теперь больше предприятий, чем до сих пор, располагают правом 
самостоятельного экспорта и импорта. С другой стороны, иностранная валюта 
перечисляется на форинты с помощью единых коэффициентов. Другими словами, 
предприятия будут непосредственно знать, сколько они получат за свои экспортные 
изделия или сколько им заплатят в долларах или рублях за импортированное сырье и 
оборудование. Многие жесткие ограничения, относящиеся к импорту, ликвидируются 
или в значительной мере сокращаются.</p>
<p>Разумеется, перечисленные изменения составят лишь часть предстоящей 
реформы.</p>
<p><strong>Не постепенно, а сразу. </strong>Часто возникает вопрос, почему столь 
значительные изменения будут проводиться в жизнь не постепенно, а сразу. Не 
лучше ли сначала "испробовать" их на части предприятий, и лишь потом – если они 
оправдают себя – распространить их на остальные предприятия?</p>
<p>Каким бы рациональным ни казалось на первый взгляд такое соображение, 
практически оно неосуществимо. Предприятия находятся в тесной связи между собой, 
их производство и сбыт находятся в тесной зависимости. Если бы часть их работала 
по старой системе, a другая часть – по новой, это неминуемо привело бы к 
противоречиям, хаосу. Например, какое-то предприятие осуществляет производство 
еще на основе обязательного плана, но другое предприятие, поставляющее для 
первого сырье, уже не обязано поставлять материал, в таких случаях первому 
предприятию вряд ли удалось бы выполнить план. Картина получилась бы примерно 
такая же, как если бы в Англии или Швеции перешли к правостороннему движению не 
сразу, а постепенно: сначала мотоциклы, потом легковые автомобили и т.д. </p>
<p>Постепенность невозможна даже в смысле постепенного внедрения отдельных 
элементов новой системы на всех предприятиях сразу, так как элементы новой 
системы представляют собой органическое целое и потеряли бы свой эффект, будучи 
разрозненными. К примеру, нельзя считать прибыль основным критерием деятельности 
предприятия до тех пор, пока не сложилась соответствующая система цен.</p>
<p><strong>Капитализм? Инфляция? Безработица? </strong>Эти тревожные вопросы в 
связи с новым хозяйственным механизмом часто возникают как в стране, так и за 
границей.</p>
<p>Рассеялось опасение, что расширение рыночных условий кроет в себе опасность 
постепенного возвращения к капитализму, а ликвидация плановых директив приведет 
к ослаблению центрального управления и, в конце концов, к анархии. Ведь средства 
производства останутся в руках общества, предприятия останутся государственными, 
а рынок будет организованным, урегулированным, действующим в рамках 
социалистического планового хозяйства.</p>
<p>Тревогу вызывают скорее конкретные вопросы, например, не приведут ли 
свободные цены к инфляции. Это необоснованное опасение. Причиной инфляции 
является не форма цен, а длительное нарушение равновесия между спросом и 
предложением. Однако правильное применение экономических регуляторов 
обеспечивает такое состояние, при котором покупательная способность предприятий 
и населения не превышает реальных возможностей удовлетворения платежеспособного 
спроса. С другой стороны, предприятия будут заинтересованы в повышении 
производства и, следовательно, в увеличении ассортимента. Это, разумеется, не 
исключает возможности умеренного повышения (один-два процента в год) уровня цен, 
но это не в ущерб интересам трудящихся, так как доходы должны расти быстрее, чем 
цены.</p>
<p>Часто возникает также такой вопрос: не приведет ли более рациональное 
хозяйство, стремление к повышению производительности труда к увольнениям, к 
безработице? – Несомненно, сокращение штатов будет, усилится перегруппировка 
рабочей силы между отраслями народного хозяйства и предприятиями, но неуклонное 
развитие всего народного хозяйства в целом в соответствующих темпах является 
залогом того, что не будет проблем на работу.</p>
<p>Именно поэтому большинство населения с уверенностью идет навстречу новому 
экономическому механизму. Не нужно, конечно, думать, что с первого января все 
проблемы разрешатся. Понадобится год-два, чтобы "шоферы" хозяйственной жизни по 
образу мыслей перешли на другое направление в движении.</p></font><table width="600"> <tr> <td>
<a href="0.1.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="I.2.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
