{% extends 'base.html' %}
<title>ЗЭС N2: Виктор Грин «Ценность» (глава из книги "Гуманистическая социология")</title>
{% block content %}



<h1>
<p><font size="4">В защиту экономических свобод</font></p>
<p><font size="4">Выпуск 2, ноябрь 1978г.</font></p>
<p><font size="4">Составители К.Буржуадемов и В.Грин </font> </p>
<p><font size="3">Раздел I. Попытки теоретического осмысления свободной 
экономической деятельности.</font></p></h1>
<p><font size="3">(В разделе мы поместили как экономические работы, посвященные 
рыночной экономике в нашей стране, так и юридические, посвященные анализу и 
критике ныне действующих законов, запрещающих свободную экономическую 
деятельность, а также опыт успешной экономической реформы в Венгрии.</font></p>
<h1>
<p><font size="3"></font></p>
<p>Виктор Грин «Ценность» (глава из книги "Гуманистическая социология")</p></h1>
<p>Ценность есть одно из самых обычных понятий человеческого мира. 
Функционирование каждого человека и любого общества есть по существу 
производство, распределение, обмен и потребление ценностей. Однако ловкие 
марксисты подменили ценность стоимостью, тем самым заставив нас жить во имя 
ложных идеалов. Давайте вернемся на исходные позиции и посмотрим – что мы 
утратили?</p>
<p><font size="4"><strong>Ценность</strong></font> есть в конечном счете 
эмоциональное отношение субъекта к вещи. Следовательно, она имеет количественную 
характеристику: отрицательную, нулевую, положительную. Отрицательную ценность 
для субъ</p>
<p>екта имеют такие вещи, как насилие, нетворческий труд, негативные воздействия 
внесоциальной природы (холод, голод, болезни и т.д.).</p>
<p>Что же принять за единицу ценности? Очевидно, носитель, пригодный для 
установления такой единицы, должен обладать следующим свойством: в широких 
пределах ценность должна быть пропорциональна количеству носителя. Так, ценность 
единицы пищевого продукта после утоления голода резко снижается, сокращая 
интервал пропорциональности. По той же причине в качестве носителя единицы 
ценности не годятся никакие дискретные вещи. Лучше всего для этой цели подошел 
бы процесс или его характеристика. Причем такой процесс, эмоциональное 
восприятие которого за каждую единицу времени было бы постоянным на протяжении 
нескольких часов. Необходимо также, чтобы этот процесс были бы способны 
эмоционально воспринять все люди. Перебрав великое множество процессов, мы 
увидим, что данным условиям удовлетворяет только один – процесс нетворческого 
труда. Два часа нетворческого труда эмоционально вдвое отвратительнее одного 
часа. Не мною открыт этот факт. Подсознательно он ощущается каждым. Неслучайно 
мерилом стоимости Смит, Рикардо, а за ними и Маркс, выбрали труд. Но нам пока 
нет нужды вводить понятие стоимости. Сейчас нас непосредственно интересует 
ценность, поскольку она тесно связана с эмоциями, следовательно, и с 
потребностями.</p>
<p>Итак, за единицу ценности мы примем модуль (так как эта ценность 
отрицательна) ценности единицы времени среднеинтенсивного нетворческого труда. 
Прошу обратить внимание: не труд или его качество, а ценность труда.</p>
<p>Далее, ценность труда пропорциональна количеству труда, но количеству труда 
пропорционально и количество денег! Следовательно, один рубль есть эквивалент 
некоторого количества ценности. Последнюю мы и примем в конечном счете за 
единицу ценности. Но отсюда вытекает, что любые ценности могут быть измерены в 
деньгах. В том числе и те, носитель которых нерукотворен (по этой причине 
научная значимость категории ценность выше категории стоимость).</p>
<p>Количество труда, равноценного одному рублю, для каждого субъекта свое, так 
как разные люди по-разному оценивают одно и то же количество среднеинтенсивного 
нетворческого труда. Один его переносит легко и за один рубль готов затратить 
много труда, другой, особенно тот, у кого сильно развита потребность в 
творчестве – очень тяжело (эмоционально, естественно) и поэтому желает сократить 
его до минимума.</p>
<p>Помимо рубля в качестве единицы ценности можно взять любую другую ценность, 
приняв ее за единицу (5, 10, 100 единиц). В этом случае оценка будет балльной 
(например, в спорте). Субъективную погрешности измерения можно вычислить из 
следующего эксперимента: оценить по 100-балльной системе 100 вещей (чтобы не 
запомнить оценок). Затем повторить оценку несколько раз. Для каждой вещи 
вычислить относительную погрешность оценки. Среднеарифметическая из 
относительных погрешностей и даст Вашу точность измерения ценностей вообще.</p>
<p>Сознательно или подсознательно каждый субъект стремится к максимальному 
потреблению ценностей (те, кто утверждает обратное, максимизируют потребление 
ценности безделья).</p>
<p>В обществе ценность может быть потреблена двояким образом: непосредственным 
потреблением субъектом материально-информационных свойств вещи и быть обмененной 
на другую вещь. В первом случае ценность имеет потребительную форму 
(потребительную ценность), во втором – меновую (меновую ценность). В итоге 
ценность вещи для субъекта равна максимуму из потребительной и меновой 
ценностей. Меновая ценность равна потребительной ценности вещи, приобретенной в 
результате обмена. Если меновая ценность заметно выше потребительной, то субъект 
идет на рынок. Состоится ли обмен – будет зависеть уже не только от него.</p>
<p><font size="4"><strong>Потребительная ценность. </strong></font>От чего зависит 
величина потребительной ценности нерукотворной вещи, например, воды? Во-первых, 
от вида потребности: при утолении жажды – одна, при умывании – другая, при 
поливке – третья; во-вторых, от величины потребности: при большой жажде ценность 
воды выше; в- третьих, от качества воды: при утолении жажды пресная вода ценнее 
соленой. И поскольку потребность обладает свойством дефутуризации (т.е. будущие 
потребности воспринимаются как сегодняшние), величина сегодняшней конкретной 
потребности равна максимуму из сегодняшнего и всех будущих возможных значений 
потребности данного вида. Одно дело, мы постоянно живем на берегу пресного 
озера, и совсем иное, если нам предстоит отправиться в пустыню. Несмотря на то, 
что во втором случае мы еще находимся на берегу озера, ценность воды уже 
выше.</p>
<p>Теперь посмотрим, как зависит величина потребительной ценности каждой единицы 
от количества потребляемой вещи. Допустим, вода из озера ушла в землю, и где-то 
на дне его осталась лишь лужа. Ясно, ценность каждого литра воды повысится. 
Почему? Потому, что при таких ресурсах мы будем вынуждены сократить дневное 
потребление. А так как потребность в воде ежедневно воспроизводится, то 
неудовлетворенность жажды (или другой потребности) увеличится, снизив тем самым 
исходный эмоциональный уровень. Таким образом, в-четвертых, величина 
потребительной ценности зависит от количества вещи (носителя ценности). Эту 
зависимость формулирует так называемый закон убывания предельной полезности: с 
ростом количества потребляемой вещи ценность общего количества возрастает, 
однако ценность каждой единицы уменьшается.</p>
<p>Теперь введем в рассмотрение возможность производства вещи (продукта). С 
одной стороны производство увеличит количество продукта, увеличив тем самым 
потребительную ценность всей массы продукта. С другой стороны, производство 
требует нетворческого труда, и, следовательно, производства и потребления 
отрицательной ценности (труда). Сумма потребительной ценности всей массы 
произведенных вещей и ценности нетворческого труда дает нам 
произведенно-потребительную ценность, которая сначала возрастает, затем убывает, 
в некоторой точке становится равной нулю, и далее является отрицательной. В 
точке КОПТ произведенно-потребительная ценность максимальна, и увеличение объема 
производства сверх количества КОПТ ведет к снижению суммарной ценности, так как 
неприятность от нетворческого труда подавляет снижающееся удовольствие от 
потребления продукта. </p>
<p>Каждый человек в процессе труда преследует максимальность нормы прибавочной 
ценности (т.е. отношение прибавочной ценности к ценности затраченного 
нетворческого труда). Каждый сознательно или бессознательно определяет для себя 
минимально допустимую норму (например, 50%). По этой норме можно определить 
максимальный объем производства (следовательно, и рабочее время) КДОП, еще 
гарантирующий минимум нормы. Дальнейшее увеличение объема производства 
становится нецелесообразным.</p>
<p>Производство потребительных ценностей содержит в себе зародыш обмена: чтобы 
получить в свое распоряжение продукт, мы должны "отдать" энергию и здоровье, 
потрудиться. И мы возьмемся лишь за ту работу, которая обеспечит нам 
установленный нами минимум нормы прибавочной ценности. В данном случае мы 
торгуемся с природой.</p>
<p>Отметим, что получение результатов этого параграфа в поле марксистской 
политэкономии невозможно в принципе!</p>
<p><font size="4"><strong>Меновая ценность. </strong></font>Меновая ценность может 
быть выявлена только в результате обмена, поэтому при отсутствии рынка меновая 
ценность не существует. Обмен же есть добровольная перемена местами двух агентов 
собственности относительно двух вещей. Обмен, так же как и производство 
потребительных ценностей, подчиняется закону оптимальности. Норма прибавочной 
ценности в этом случае исчисляется как отношение  
разности  потребительной или меновой (если купленная вещь 
предназначена для перепродажи) ценности покупки и   модуля 
потребительной ценности труда, затраченного на производство своего товара. к 
последнему</p>
<p>Грамотный подход к оптимальности производства и обмена дает существенный 
эффект как самому производителю, так и обществу в целом.</p>
<p>Из определений меновой ценности и обмена следует, что для существования 
меновой ценности необходимы следующие условия:</p>
<p>* вещь должна иметь положительную потребительную ценность для других членов 
общества – иначе ее никто не купит;</p>
<p>* субъект должен обладать монопольным правом пользования вещью – иначе другие 
члены общества воспользуются ею без обмена;</p>
<p>* в обществе должны существовать другие меновые ценности, имеющие 
положительную потребительную ценность (или хотя бы меновую) для нашего субъекта 
– иначе он сам не пойдет на обмен. </p>
<p>Сфера общественной деятельности, содержанием которой является обмен, назовем 
рынком. За данную вещь нашему субъекту на рынке будет предложено 
(непосредственно или опосредованно, через деньги) множество других вещей; 
субъективная (с точки зрения нашего субъекта) максимальная ценность среди 
ценностей предложенных вещей и будет равна меновой ценности исходной вещи. Мы 
подчеркнули слово "ценность", поскольку приобретенную вещь субъект может 
использовать непосредственно, т.е. как потребительную ценность, либо же опять 
как меновую ценность (например, с целью "спекуляции"). Однако, в конце концов, 
исходная вещь через множество обменов должна превратиться в потребительную 
ценность. Это и будет окончательная меновая ценность исходной вещи.</p>
<p>Купленные средства производства, предназначенные для производства продукта с 
последующим только личным потреблением, имеют только потребительную ценность. 
Если же при помощи этих средств будет производиться товар, то средства 
производства имеют меновую ценность. В процессе производства носитель ценности 
(т.е. средства производства) меняет свою вещественную форму.</p>
<p>Владение большой меновой ценностью (в частности, деньгами) делает субъекта 
властелином многих членов общества. Деньги (в чем видят зло многие социологи) 
могут исчезнуть только с исчезновением меновой ценности, т.е. при нарушении хотя 
бы одного из трех условий меновой ценности. Это – либо производить продукт, 
заведомо ненужный другим членам общества, либо другие члены общества не должны 
производить продукты, полезные для нашего субъекта, либо лишить субъекта 
монополии на владение произведенными им самим вещами. Регрессивность первых двух 
путей очевидна. Лишить же субъекта монополии на владение произведенными вещами 
можно двумя путями: а) насильственным изъятием, но тогда следующие вещи субъект 
производить не будет, а если его к этому принудить, то он будет производить их с 
наихудшими качествами, регресс опять налицо; б) воспитать добровольность 
отторжения вещей (без обмена, без эквивалента) практически бесплатно. Но если 
все отторгнут от себя произведенные вещи почти бесплатно, ведь кто-то же должен 
прибрать к своим рукам эти ценности! Этот "кто-то" до чертиков заинтересован в 
том, чтобы народ жил "ради других"! В крайнем случае – ради идеи или Бога! Но 
только не ради себя! И много еще вислоухих, клюющих на эту приманку…</p>
<p><font size="4"><strong>Товар. </strong></font>Товаром назовем вещь, 
предназначенную к обмену. Отсюда следует, что товаром может быть и материальный 
предмет, и информация, и услуга, и должность, и любое действие – необходимо 
только, чтобы эта вещь имела бы агента собственности, желающего совершить обмен. 
История происхождения вещи не имеет никакого значения (получена ли она в 
результате труда, найдена ли, украдена ли или подарена природой).</p>
<p>Обратим внимание на то, что по марксовому определению в товар не включаются: 
услуги, информация, энергия, должность или рабочее место (для кого представляет 
ценность такое содержание категории "товар"?). Заметим, что товар не обязан 
иметь меновую ценность – он может быть абсолютно бесполезным для 
покупателей.</p>
<p>Марксова модель появления денег работает и при нашем содержании термина 
"товар". Однако с нашей точки зрения деньги измеряют прежде всего ценность, а 
стоимость – лишь в исключительных случаях.</p>
<p><font size="4"><strong>Цена. </strong></font>Цена есть денежное выражение 
ценности, установленное продавцом. Цену, имеющую только это содержание, назовем 
установленной (таким образом, любая цена является установленной). Цену, по 
которой товар будет продан с аукциона, назовем истинной или рыночной. Истинная 
цена нескольких (в том числе и только одной) одинаковых вещей равна истинной 
цене последней проданной вещи. Истинная цена регулярно воспроизводимой во 
времени вещи равна цене, при которой выполняются следующие условия: а) товар в 
течение производственного цикла постоянно имеется на прилавке; б) последняя вещь 
из партии продается к моменту поступления следующей партии вещей (иначе говоря, 
скорость производства равна скорости реализации); в) количество продавцов 
достаточно, чтобы успеть реализовать всю партию товара за производственный цикл 
(более строго это условие звучит так: количество продавцов должно быть таковым, 
чтобы суммарное время, затраченное потребителями в очередях, было равно 
суммарному времени простоя продавцов; именно так обстоит дело на Западе).</p>
<p>Реализация товара по рыночной цене означает, что спрос равен предложению. 
Колебание рыночной цены зависит от изменения спроса на товар (например, при 
изменении моды) и от изменения поставок на рынок. Увеличение спроса вызывает 
рост рыночной цены, увеличение поставок – ее снижение.</p>
<p>Установленная цена может быть равна и неравна рыночной. Кроме рыночной мы 
выделяем также следующие цены: заниженную (ниже рыночной), завышенную (выше 
рыночной), нижнюю (равную себестоимости), среднюю (равную стоимости), 
оптимальную (дающую максимум прибавочной ценности либо максимум нормы 
прибавочной ценности), максимальную (цена, по которой будет продан товар на 
аукционе при выпуске, равном 1).</p>
<p>Рыночная экономика характеризуется господством истинных цен. Превышение 
истинной цены над средней стимулирует приток капитала в отрасль, быстро 
ликвидируя дефицит. Падение истинной цены ниже средней ведет к сокращению 
поставок и производства, поднимая тем самым рыночные цены до средних. В итоге, 
как видим, цены колеблются вокруг стоимости.</p>
<p><font size="4"><strong>Общественная ценность вещи. </strong></font>Выше мы 
рассмотрели, как выявляется величина ценности вещи для субъекта. Попытаемся 
теперь определить величину ценности вещи (или нескольких одинаковых вещей) для 
общества в целом.</p>
<p>Очевидно, ценность для общества единственной вещи равна ее рыночной цене, 
установленной на общественном аукционе. Это будет максимальная из всех цен, 
предложенных различными или скооперированными покупателями. Допустим, рыночная 
цена вещи равна 100 руб. Это значит, что в обществе имеется реальный покупатель, 
готовый заплатить за вещь 100 руб., и нет ни одного покупателя, согласного 
заплатить хотя бы на копейку больше. Значит, общество в целом оценивает данную 
вещь в 100 pyб.</p>
<p>Пусть теперь имеется три таких вещи. Если существование двух других вещей не 
известно покупателям, то первая имеет общественную ценность в 100 руб., если 
затем представить на аукцион вторую вещь, то ее никто не оценит выше 100 руб., 
вероятнее всего она будет оценена ниже, например, в 90 руб. …Третья такая же 
вещь будет оценена еще ниже, например, в 85 руб.</p>
<p>Ситуация будет принципиально иной, если на аукцион поступят сразу три вещи. 
Здесь возможны два случая: а) три вещи образуют комплект, т.е. новую вещь. Вот 
этот комплект будет иметь особо высокую ценность по сравнению с тремя 
разрозненными вещами, то рыночная цена комплекта может превысить 300 руб; б) три 
вещи комплекта не образуют. По каким ценам они будут проданы? И чему будет равна 
их общественная ценность?</p>
<p>Очевидно, когда на одну из вещей цена будет установлена на уровне 85 руб., 
себя проявят трое покупателей, у которых не останется ни одного конкурента. 
Естественно, эти трое не станут повышать ставку, ибо три вещи все равно 
достанутся им по цене 85 руб., следовательно, общественная цена всех трех вещей 
равна 85 х 3 = 255 руб.</p>
<p>Подсчитаем теперь общественную ценность трех вещей. Ценность вещи для 
третьего покупателя равна 90 руб., ибо именно при этой величине третий 
покупатель отказался бы от участия в аукционе при одиночной продаже второй вещи 
после продажи первой. (На самом деле ценность вещи для третьего покупателя на 
очень малую величину ниже 90 руб., например, 89 руб. 90 коп., мы этой разницей 
пренебрежем). Ценность вещи для второго покупателя равна 100 руб. Именно при 
этой цене он отказался бы от дальнейшей игры. Ценность первого покупателя есть 
величина неопределенная, но она заведомо выше 100 руб., иначе обмен для него был 
бы бессмысленным: работа (участие в аукционе) есть, а выигрыша никакого. 
Получается, что общественная ценность трех вещей превышает величину: 90 + 100 + 
100 = 290 руб.</p>
<p>В общем случае ценность одной из многих одинаковых вещей для каждого 
покупателя равна рыночной цене (к-1)-й вещи, проданной после продажи (к-2)-х 
вещей. Рыночную цену, по которой продана к-я вещь после продажи (к - 1)-й 
вещи...можно считать  рыночной ценой любой вещи из партии. В дальнейших 
вычислениях мы будем полагать среднюю общественную ценность вещи выше рыночной 
цены вещи на 20%.</p>
<p><font size="4"><strong>Личное богатство. Жизненный уровень. </strong>Личным 
богатством </font>субъекта мы назовем рыночную цену всех материальных или 
энергитивных вещей, которыми реально владеет субъект.</p>
<p>Рыночная цена вещей, имеющихся на рынке, известна точно. Иначе она известна 
вероятностно. Специалист может предсказать цену с большой точностью, так что 
вычисление личного богатства не представляет принципиальных трудностей – нужно 
только просуммировать все ценности по рыночной цене. В эти ценности должны быть 
включены все материальные вещи, которыми владеет и пользуется субъект на 
сегодняшний день.</p>
<p>Если вещью пользуются (в качестве предмета потребления) сразу несколько 
субъектов, то на каждого приходится доля рыночной цены пропорционально времени 
пользования. Если средства производства (в общем случае – капитал) находится в 
полном личном реальном владении субъекта, то они включаются в личное богатство 
полностью по рыночной цене. Если капитал находится в реальном владении 
нескольких субъектов, то доля каждого в рыночной цене капитала пропорциональна 
их долям в прибыли. Если в личном пользовании находится арендованная вещь, то 
она включается в личное богатство по рыночной цене аренды. Разберем несколько 
примеров.</p>
<p>1. Государственная квартира включается в личное богатство по рыночной цене. 
(Рыночная цена жилплощади с удобствами равна около 300 руб. за кв.м., 
следовательно, госквартира в 100 кв.м. равноценна 30.000 руб.).</p>
<p>2. Государственным автомобилем пользуется Иванов. 50% поездок совершается по 
личным делам. Следовательно, 50% рыночной цены автомобиля включается в личное 
богатство Иванова (рыночная цена "Чайки" где-то около 100.000 руб.). В некоторых 
учреждениях срок службы государственных автомашин составляет 2 года. 
Следовательно, будущие автомобили на 50% следует включить в личное богатство 
(так что "Чайка", используемая в личных целях в течение 40 лет, равноценна 
личному богатству в 1 млн. новых руб.! В этом случае можно сказать, что Иванов 
пользуется такой вещью, как 20 "Чаек").</p>
<p>3. Государственная дача, предоставленная в бессрочное личное пользование 
Иванову, полностью включается в личное богатство по рыночной цене. (Рыночная 
цена некоторых гос.дач составляет многие миллионы). Если государственная дача 
предоставлена на сезон, то она включается в личное богатство по рыночной цене 
аренды (300-500 руб.) для простых дач; в общем же случае – 1/10-1/30 часть 
рыночной цены дачи).</p>
<p>4. Земельный участок входит в личное богатство по рыночной цене. Рыночная 
цена одной сотки земли в зависимости от ее статуса (огород, садовый участок, 
дача и т.д.) равна 100-1000 руб. Следовательно, участок в 4 га (есть дачи с 
таким участком) войдет в личное богатство в размере 100-400 тыс.руб.! </p>
<p>Под <font size="4">жизненным уровнем</font> мы будем понимать сумму всех 
реальных ценностей (исчисленных по рыночным ценам), полученных субъектом в 
личное пользование в течение определенного периода времени (месяца, года). В 
жизненный уровень со знаком плюс включаются позитивные ценности (материальные 
вещи, услуги, денежные накопления, со знаком минус – негативные ценности 
(насилие, нетворческий труд, внесоциальная несвобода).</p>
<p>Включение в жизненный уровень только позитивных ценностей, на наш взгляд, 
искажает сущность жизненного уровня. Ведь совершенно ясно, что среди двух людей 
с одинаковыми позитивными доходами жизненный уровень выше у того, у кого больше 
свобод, кто меньше занят нетворческим трудом. Нетрудно догадаться, кому выгодно 
не включать насилие в жизненный уровень.</p>
<p>Крупнейшими статьями жизненного уровня являются: а) все реальные доходы за 
месяц; б) ценность месячного потребления (квартиры, дачи, автомашины, мебели и 
т.п.); в) ценность насилия, нетворческого труда, внесоциальной несвободы.</p>
<p>При исчислении месячного реального дохода за основу можно взять номинальную 
месячную зарплату. Затем мы должны перечислить купленные товары по рыночной цене 
(разделив реальный доход на количество потраченных денег, мы можем узнать 
реальную, рыночную цену номинальной зарплаты. В самом деле, зарплата, 
реализованная в спецмагазине, эквивалентна нескольким зарплатам, реализованным 
на общественном рынке). К примеру, рыночная цена курятины 4 руб. за кг. А 
Иванов, благодаря своему месту в обществе, покупает ее по 1 руб. 30 коп. Таким 
образом, один рубль конкретной зарплаты Иванова означает 3 рубля реального 
дохода. После рыночной переоценки всех "купленных" ценностей, мы найдем рыночную 
цену, т.е. реальный доход, эквивалентный его номинальной величине. Сбережения 
также надо переводить на рыночный эквивалент.</p>
<p>К полученной сумме мы должны приплюсовать месячные реальные доходы, получение 
которых минует денежную форму: использование служебного транспорта в личных 
целях (опять же в перерасчете по рыночной цене!), государственную прислугу, 
охрану, дачи, дома отдыха и т.д. и т.п.</p>
<p>При исчислении месячной ценности долговременных предметов потребления мы 
также должны учесть все ценности. В качестве условного нуля шкалы ценностей для 
нерукотворных вещей (например, воздуха) мы примем ценность среднего качества и 
количества вещи, потребляемой членами общества. Если субъект имеет возможность 
потреблять вещь лучшего качества и в большем количестве, то мы будем говорить о 
потреблении положительной ценности. Если субъект не имеет возможности потреблять 
вещь даже в среднем количестве и среднего качества, мы будем говорить о 
потреблении отрицательной ценности. В большинстве случаев для ценности можно 
найти денежный эквивалент.</p>
<p>Например, ценность жилища в Москве (включая и фактор прописки) раза в два 
выше ценности точно такого же жилища, но в Рязани. Разделив разницу в цене домов 
на среднее количество месяцев, проживаемых человеком на одном месте (и учтя 
процент на капитал), мы получим месячную ценность московского жительства 
относительно рязанского рублей в 15-20 в месяц (контроль: именно на эту величину 
месячная рыночная цена московской квартиры выше рязанской). Точно также мы можем 
вычислить месячную ценность от проходящей мимо дома проезжей дороги. Если дом в 
глуши можно купить за 200 руб., то точно такой же дом, но у шоссе, уже стоит 
2000 руб. Это около 5 руб. ценности в месяц.</p>
<p>Рыночная цена государственной однокомнатной квартиры (в Москве) с удобствами 
равна 50-70 руб. в месяц. Такая же квартира, но без удобств – 20-30 руб. Разница 
в 35 руб. Это равносильно тому, что первый жилец имеет реальный доход на 35 руб. 
в месяц больше, чем второй. Аналогично мы можем оценить и месячное потребление 
услуг.</p>
<p>Вычислим теперь ценность нетворческого труда и насилия. Сейчас у нас в стране 
рыночная цена одного часа нетворческого труда составляет от 2-х до 10 рублей, 
или в среднем 3 руб. в час. Именно по такой цене большинство рабочих продает 
себя на стороне. 30 руб. заработка в день считается нормальной шабашкой. Это 
означает, что чтобы компенсировать неудовольствие от одного часа нетворческого 
труда, рабочий должен получить взамен ценность, равную трем рублям. При меньшей 
зарплате рабочий уже не согласен на труд, так как заработанные ценности (деньги 
или купленные на них вещи) ниже ценности (по модулю) труда, следовательно, минус 
три рубля – это ценность одного часа нетворческого труда.</p>
<p>Если мы тратим один час нетворческого труда, не получая взамен результат 
труда, то мы потребляем ценность, равную минус трем рублям. Если же рабочий за 
час работы получит три рубля, то общая сумма ценностей, полученных им, будет 
равна нулю. (Заметим, что если три рубля – это минимум зарплаты, за которую 
рабочий еще согласен выполнять работу, то в эти три рубля входит и прибавочная 
ценность. Этот кажущийся парадокс мы разберем когда-нибудь в следующий раз). 
Если рабочий получит больше трех рублей, то он получит сверхценность, и сумма 
полученных им ценностей будет положительной. Однако если рабочий получит меньше 
трех рублей за час нетворческого труда, то сумма полученных им ценностей будет 
отрицательной. Очевидно, добровольно на такой исход рабочий не пойдет! К этому 
его можно только принудить.</p>
<p>За 170 часов рабочего времени в месяц рабочий получает 170, плюс 100 руб. из 
так называемого общественного фонда и 170 час. х (-3) руб./час = -510 руб. 
ценности нетворческого труда. Следовательно, сумма ценностей, получаемых рабочим 
только от официальной работы, равна минус (!!!) 240 руб. в месяц. Это означает, 
что в среднем эмоциональное состояние нашего рабочего отрицательно. (Не в этом 
ли состоит главная причина всенародного пьянства?). </p>
<p>Нетрудно теперь понять, почему наши рабочие (да только ли они ?) выглядят 
такими пришибленными и задавленными. Еще бы, негативное потребление более чем в 
полтора раза превышает позитивное!</p>
<p>Ну, а если кроме экономического насилия над человеком будет осуществляться 
еще и внеэкономическое? Попробуем оценить и его. Прибором для измерения опять 
будет являться рынок.</p>
<p>Допустим, человек пожелал отказаться внеэкономического насилия. Сколько он 
должен за это заплатить?</p>
<p>25 августа 68 г. группа молодых людей пожелала быть свободной (причем 
относительно только одной из свобод – свободы демонстраций) всего на одну 
минуту. Обошлась же им эта минута только экономически (за счет отчислений из 
зарплаты в пользу государства) в: 7 (лет заключения) х 12 (месяцев) х 170 (руб. 
зарплаты в месяц) х 1/2 (доля отчисления в пользу государства) = 7000 руб. При 
этом на 7 лет были ужесточены их несвободы (или полусвободы - "свободы" слова, 
собраний, передвижения и т.д., но возьмем хотя бы эти три) допустим, вдвое. 
Итого, за 7 лет они получат дополнительно отрицательной ценности: 7 (лет) х 356 
(дней) х 24 (часа) х 60 (минут) х 7.000 (руб. экономического эквивалента 
свободы) х 3 (несвободы) = 75 млрд.руб! И все это за одну минуту свободы! Вот 
истинная цена одной минуты свободной жизни. Итак, живя несвободно 1 месяц 
свободолюбивая личность вынуждена потреблять: минус 30 (дней) х 24 (часа) х 60 
(минут) х 75 млрд.руб. = -380.000 млрд,руб.</p>
<p>Не удивительно, что в стране находятся люди, которым высокие оклады и особые 
привилегии не могут скрасить страдания от лишения их элементарных человеческих 
прав.</p>
<p>Оценим теперь потребление отрицательной ценности в очередях. Простаивание в 
очереди – тяжкий труд, результат которого может быть продан. В самом деле, товар 
Вы можете приобрести двумя путями: самому отстоять в очереди, либо купить этот 
товар у того, кто уже отстоял, т.е. у так называемого "спекулянта". Но 
"спекулянт" вложил труд, и этот труд может быть обменен на ценность. Если 
рыночная цена равна 3 руб. за час, и "спекулянт" выстоял очередь в 5 часов, то 
он вправе получить эквивалент своего труда, т.е. 15 руб. Не желаете платить 15 
руб. – стойте в очереди сами! Нетрудно подсчитать, что простаивание в очередях 
эквивалентно потреблению минус 300 руб. в месяц. Человек, имеющий возможность 
покупать без очереди, имеет (относительно других членов общества) дополнительный 
доход в 300 руб. в месяц.</p>
<p>В демократическом государстве часовая оплата труда равна рыночной цене часа 
труда. И при отсутствии насилия со стороны государства жизненный уровень, 
измеренный по рыночным ценам, в среднем равен нулю, а с учетом более творческого 
характера труда является положительным.</p>
<p>Попробуйте соизмерить средний жизненный уровень американца и советского 
жителя при помощи нашего понятийного аппарата.</p>
<p></p>
<p> </p><table width="600"> <tr> <td>
<a href="I.2.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="I.4.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
