{% extends 'base.html' %}
{% block title %}В.и Л.Сокирко Диафильм «Московские церкви»{% endblock %}
{% block content %}



<br/><br/>
<p></p> <p>263. Жизнь не стоит на месте. И вот уже рядом с ломившимся от роскоши собором Богоявленского монастыря стоит деловитая и целеустремленная петровская колокольня. Пройдет немного времени, и петровская практичность сломает роскошную лень боярской жизни.</p>
<p>264. Вырастет Петербург, и:<br/>
      Перед новою столицей<br/>
      Главою склонится Москва,<br/>
      Как перед юною царицей <br/>
      Порфироносная вдова.</p>
<p>265. Появление Петра до сих пор представляется чудом, спасшим Россию от вековой спячки, повернувшим ее к западной цивилизации.</p>
<p>266. Однако, даже здания говорят о том, что Петр был бы невозможен без просветительской деятельности его предшественников. Петр основал флот, но ведь первые морские корабли построил его отец Алексей Михайлович.</p>
<p>267. Петр посылал боярских детей учиться за границу, но ведь уже при его брате Федоре Алексеевиче было основано в Заиконоспасском монастыре</p>
<p>267. славяно-греко-латинское училище, где учились у Магницкого Ломоносов, Кантимир и Баженов.</p>
<p>269. Долгое время именно монастыри были кладезями знаний, рассадниками культуры. Только монахи были грамотными людьми. Им мы обязаны знаменитыми летописями древнейшей истории. Искусство, живопись, архитектура и музыка также служили церкви и лучше всего сохранились в монастырях.</p>
<p>270. Андреевский монастырь. Здесь Федор Ртищев открыл первое духовное училище во второй половине XVII-го века.</p>
<p>271-273.</p>
<p>274. Движение и развитие русского общества конца XVII-го века начало захватывать и женщин, придавленных Домостроем. Уже давно прошло легендарное время походов княгини Ольги и былинных богатырш. Христианство с его мифом о первородном грехе, в котором из-за женщин люди лишились рая, наследовали болезни, голод и стали смертными, принесло презрение к женщине, и даже ненависть.</p>
<p>275. Женщине дано было право лишь на подчинение мужу: «Жена до убоится мужа своего», да на вечную верность. Лучшей же участью для женщины считалось монашество,  законом было пострижение вдов в монахини.</p>
<p>276. Это здание было построено уже в нашем столетии академиком Щусевым на Марфо-Марьинской обители.</p>
<p>277. Но как верно передана бело-черным цветом суровость и печаль женского монашества.</p>
<p>280. А вот другой женский монастырь - знаменитый Новодевичий. Солнечный, яркий, нарядный, роскошный. Такой вид монастырю, основанному в начале XVI-го века, придала Софья. В конце XVII-го века зодчие достигли глубочайшего понимания законов построения ансамбля.</p>
<p>282. Поэтому достройка и перестройка не только не ухудшила их, а, наоборот, усиливала их архитектурную выразительность. Обычно монастыри ставили на берегу рек, прудов, чтобы их красота удваивалась, отражаясь в голубой воде. Сочетание зелени деревьев, красного цвета стен, белоснежной резьбы и золота глав, увеличивало торжественность ансамбля.</p>
<p>283. В центре ансамбля расположен Смоленский собор. Соборы такого типа у нас вызывают уважение, а у наших предков, наверное, вызывали очень сложные чувства, понять которые нам довольно трудно.</p>
<p>284. Но люди делают и делают попытки понять их. И в холодный зимний день девушка рисует старинный собор, всматриваясь в него, вдумываясь.</p>
<p>285. По неписаному закону царевны не могли выходить замуж за неровню ей по происхождению, а равных царскому роду не было на Руси. Единственный выход состоял в уходе в монастырь. Сколько их было, царевен, постриженных в годы цветения, сколько слез в подушку и затраченных сил.</p>
<p>278. И эти силы как бы скопились в Софье, когда она боролась за свое место под солнцем, за свое право жить и управлять государством. Ее судьба чем-то схожа с судьбой Бориса Годунова - она тоже захватила не по праву власть и, зная это, заигрывала с народом, со стрельцами.</p>
<p>281. Она тоже была способна на мелкие расправы, но не такие ужасающие, как законные венценосцы Иван Грозный или Петр Первый, устроивший настоящую бойню над стрельцами. Софья потеряла власть и была заточена в монастырь, в отстроенный ею же Новодевичий.</p>
<p>285. В монастыре много построек: над обоими воротами выстроены парадные надвратные церкви. Не знаю, велись ли там службы, наверное, просто молились, а может, считалось, что только церковь может придать наивысшую торжественность входу. Над южными воротами - привлекательная трехглавая церковь, которую необычайно украшают маковки оригинальной формы.</p>
<p>286. А рядом - палаты Ирины Годуновой. Насколько мрачны ее палаты, настолько же светла и празднична трапезная церковь, построенная Софьей.</p>
<p>287. Колокольня монастыря высока и «отменно сложена». Закрытые ярусы чередуются с открытыми, что придает ей необычайную легкость.</p>
<p>288. Колонки по углам тоже усиливают это ощущение.</p>
<p>289. Ушло древнерусское зодчество с концом XVII-го века, были забыты и рецепты, по которым строились высокие, но легкие колокольни. В дальнейшем грузные, неуклюжие великаны все чаще стали появляться над воротами монастырей. Такова, к примеру, колокольня в Новоспасском монастыре.</p>
<p>290. Новодевичий монастырь! Сколько пролито за твоими красными стенами слез, но случалось, что ты их и осушал. Здесь любила бродить тонкая поэтесса прошлого века Ростопчина.</p>
<p>291. Обитель древняя, убежище святыни,<br/>
      Как стало мне легко в стенах твоих,<br/>
      Как живо чувствую я ныне <br/>
      Всю суетность надежд и радостей земных.</p>
<p>292. С разбитым сердцем я, с взволнованной душою <br/>
      Вступала в сень твою, мятежных дум полна. <br/>
      За грань житейскую сюда я за собою <br/>
      Оковы бренности и груз тоски несла.</p>
<p>293. И здесь меня отрада ожидала,<br/>
      Здесь утешение спустилось сверху мне.<br/>
      Моленье теплое на время оторвало<br/>
      Печаль, томимую в сердечной глубине.</p>
<p>293а. С очей упал покров, таинственная вечность<br/>
      Явилась предо мной разительно странна,<br/>
      Житейской бури я постигла скоротечность,<br/>
      От ложных призраков душа отвращена.</p>
<p>294. Когда Петру грозила гибель от Софьи, он бежал в Троицкую лавру, куда постепенно перешли все верные ему войска и бояре. В благодарность Богу за чудесную победу мать Петра Наталья Кирилловна поставила церковь Филиппа-митрополита в Высокопетровском монастыре.</p>
<p>295. Посмотрите, как легко и горделиво звучит материнская радость за сына.</p>
<p>296. От петровских времен в монастыре сохранилось много построек. Место соборного храма занимает обширная трапезная церковь Сергия Радонежского.</p>
<p>297. Несколько в стороне стоит огромный храм-усыпальница бояр Нарышкиных. Храм сделан по типу приходских храмов XVII-го столетия.</p>
<p>298. Над западными воротами расположена церковь Антипия.</p>
<p>299. Ее современница (построена в середине XVIII-го века) Толгская церковь - совсем игрушечная, да еще и раскрашенная в многоцветье. Рядом с ней видна многоярусная колокольня. Поскольку в конце XVII-го века монастырь стоял в черте города, то ему пришлось даже композиционно измениться. Прежде в монастырях центром ансамбля был собор-храм, стоящий в середине двора - он был самым высоким и мощным зданием монастыря.</p>
<p>300. Теперь же главной вертикалью стала колокольня, выдвинутая на фасад монастыря.</p>
<p>301. А вместо каменных стен на Петровку выходят кельи, наряженные наличниками с разорванными фронтонами и фризом, бегущим вдоль стен.</p>
<p>302</p>
<p>303. Здесь мы прощаемся с древней Москвой. Про здания последующих лет уже нельзя сказать, что они полностью самобытны. Петр энергичной рукой крушил старый быт и нравы, весь ритм и уклад жизни. Все, что происходило в общественной жизни, непременно сказывалось и на зодчестве.</p>
<p>304. Но если петербургские зодчие, не имевшие традиций, первоначально больше воспринимали и меньше перерабатывали, то московское зодчество, впитывая в себя западноевропейские формы, своеобразно перерабатывало их и продолжало идти самостоятельным путем.</p>
<p>305-306. Русские архитекторы при постройке церквей начинают применять нерусские «рациональные» конструкции, как, например, колоннады с портиком, огромные купола, которых раньше делать не умели, ордерные формы и многое другое.</p>
<p>307. Церковь Архангела Гавриила построил Зарудный - архитектор, получивший западноевропейское образование. Ярусами, по-московски, тянется церковь вверх.</p>
<p>308. Когда-то она была еще выше. Ее хозяину - Меньшикову - хотелось превзойти колокольню Ивана Великого, почему и звалась она в народе Меньшиковой башней.</p>
<p>309-310. Церковь богато украшена скульптурным орнаментом, почти все детали которого взяты из барочного декора.</p>
<p>311. Церковь Петра и Павла на Кулишках поставлена была в тяжелые годы войны со Швецией.</p>
<p>312. Ее наряды скромны, нет уже резных надкарнизных украшений, ярусов всего два, но пропорции, силуэт, форма главы - во всем еще явственно ощущается влияние нарышкинского стиля. И колокольня ей вполне подходит.</p>
<p>313. Церковь Иоанна Воина на Якиманке - здание, которым восхищался в свое время Баженов. Действительно, здание необычной конструкции. В церкви слились недавние принципы «московского барокко» и то новое, что шло ему на смену.</p>
<p>314. Закомары-кокошники превратились в полукруглые фронтоны, а прежние малозаметные слухи - в большие люкарны с полным декоративным оформлением.</p>
<p>355. Новые детали в виде волют и остроконечных пирамид заняли место декоративных гребней.</p>
<p>316. В Замоскворечье стоит огромная церковь Климента. По виду это просто дворец, но с куполами. Полагают, что построил ее один из учеников Растрелли.</p>
<p>317. И в то же время этот храм близок к Иоанну Воину. Но только украшен с большим вкусом и любовью. Тончайшим вкусом в отделке обладал его строитель.</p>
<p>318. И, наверное, это последнее барочное (уже в западноевропейском смысле) здание в Москве. На смену барокко на Западе, а довольно скоро и в России, шел классицизм. Конечно, казаковские церкви и красивы, и внушительны, но это не церковная красота - та осталась за порогом XVIII-го века. Ротонда вместо барабана на церкви Филиппа Митрополита придала зданию совсем светский вид.</p>
<p>319. У карниза здания выполнены с большим искусством барельефы на церковные темы. Жаль, что они все больше разрушаются временем.</p>
<p>320. Казаковская рука чувствуется и в этой церкви Вознесения на Гороховом поле.</p>
<p>321. И колоннада красивая, и шпиль - почти шатер. Книги единодушно называют ее лучшим творением Казакова.</p>
<p>322. Совсем непохожа на нее церковь Косьмы и Дамиана на Покровке.</p>
<p>323. Церковь эта как бы составлена из пузырей, так округла  каждая ее часть.</p>
<p>324. Единственная церковь, которую построил в Москве Баженов, самый талантливый русский архитектор, к которому судьба екатерининскими руками была так жестока, -</p>
<p>325. церковь Всех Скорбящих Радости в Замоскворечье.</p>
<p>326-327. Да и то осталась лишь колокольня и трапезная, а само здание после пожара 1812 года перестроил Бове.</p>
<p>328. Начиная с петровского времени, старая Москва приходила в упадок, забывались приемы древнерусского строительства, исчезали старинные улицы, запираемые на ночь цепями боярские хоромы, бесчисленные сады и огороды, заменяясь новыми безликими постройками. Этот необратимый процесс больно отозвался в сердцах русских поэтов.</p>
<p>329. О, как пуста, о как мертва <br/>
      Первопрестольная Москва. <br/>
      Везде чугун, везде гранит, <br/>
      Сады, мосты, объем широкий. <br/>
      Несметных улиц, все блестит<br/>
      Излишней роскошью - все ново,<br/>
      Но жизни нет! Она мертва, <br/>
      Первопрестольная Москва!</p>
<p>330. С домов боярских герб старинный<br/>
      Пропал, исчез... И с каждым днем <br/>
      Расчетливым покупщиком <br/>
      В слепом неведеньи, невинно <br/>
      Стираются следы веков, <br/>
      Следы событий позабытых, <br/>
      Следы вельможей знаменитых. <br/>
      Обычай, нравы, дух отцов -<br/>
      Все изменилось...</p>
<p>331. Сквозь слез гляжу на древний град<br/>
      Вот он, свидетель величавый <br/>
      И русских бед, и русской славы <br/>
      И горестных моих утрат. <br/>
      Моих утрат!.. Порыв роптаний <br/>
      Умолкни здесь. Что значу я? <br/>
      Скрижаль родных воспоминаний <br/>
      И царства русского глава. <br/>
      Былого летопись живая <br/>
      Золотоглавая Москва.</p>
<p>332. Москва! Предел моих желаний,<br/>
      Где я расцвел, где я увял. <br/>
      Где наслаждался, где страдал <br/>
      И где найду конец свиданью.</p>
<p>333. С религией у русского человека была вся жизнь связана от рождения до самой смерти. И сейчас на всех старых кладбищах стоят церкви, где отпевают православных и ходят черные старухи. И любого верующего охватывает светлая грусть и воспоминания.</p>
<p>334-338.</p>
<p>339. Есть близ заставы кладбище,<br/>
      Его всем знакомо имя...</p>
<p>340. Божия нива засеена вся.<br/>
      Тут безвестные люди,<br/>
      Добрые люди сошлися<br/>
      В ожиданье весны воскресенья.</p>
<p>341. Ветки простые дерев<br/>
      Осеняют простые могилы,<br/>
      И свежа мурава, и спокойно, и тихо,<br/>
      		На вечность.</p>
<p>342. Посещают родных,<br/>
      Как хорошо тут лежать<br/>
      И свежо, и покойно, и тихо,<br/>
      И беспрестанно идут и живые,<br/>
      И мертвые гости...</p>
<p>343. Иным же даже в смертный час не изменяло чувство юмора. Бродя по Ново-Алексеевскому кладбищу, мы натолкнулись на такое завещание:<br/>
      Живите, дети, не тужите, <br/>
      С вами божья благодать, <br/>
      Меня к себе уже не ждите, <br/>
      Я ж вас буду ожидать.</p>
<p>344. Церковь же у Никитских ворот напоминает о другом - о молодости, радости, свадьбах. Здесь венчался Пушкин с первой московской красавицей Натальей Гончаровой.</p>
<p>345. Мы отменили все красивые обычаи, связанные с церковью, а сейчас начинаем жалеть о них. Порядки во Дворцах бракосочетаний - это лишь жалкое подражание таинственному, освященному древностью обряду венчания.</p>
<p>347. И сейчас много молодых венчается в церкви, наверное, даже не веря в Бога. И не надо осуждать их, настолько любящих старинное и прекрасное, чтобы найти силы отбросить современные предрассудки о церковном дурмане.</p>
<p>348. Многие века единственным убежищем было религиозное, единственной культурой - церковная, единственной живописью - церковная и храмовая роспись, и, наконец, единственной серьезной музыкой было церковное пение.</p>
<p>349. И сейчас еще церковное пение вызывает у верующих самые бурные чувства восторга, печали и умиления, которые, наверное, недоступны нам, безбожникам.</p>
<p>350. Это - главный действующий собор в России - Елоховская церковь. Слышали ли вы когда-нибудь пение, славящее господа на сто ладов, пение, льющееся сверху на благовестную толпу.</p>
<p>351. И какая разница, что соседи тебя немилосердно сдавливают, что кашель, стеснение, шум, просьбы о передачах на икону прерывают голоса певцов.</p>
<p>352. Душа верующего настроена на божественный лад, уши не слышат земной суеты, лицо жадно подставляется под дождь святой воды, руки тянутся за благословением.</p>
<p>352а-358.</p>
<p>365. А эта церковь называется Никола Красный звон. В своем арсенале эта церковь сохранила и развила самую древнюю музыку - колокольный звон. Москва всегда особенно славилась своим колокольным звоном. В Москву ездили «хлеба-соли покушать, красного звону послушать».</p>
<p>368. В колокол мирно дремавший<br/>
      С налета тяжелая бомба упала.</p>
<p>369. Грянула с треском, кругом<br/>
      Ее разлетелись осколки.</p>
<p>373. Он - тоже вздрогнул: и к народу <br/>
      Медные звуки</p>
<p>374. Вдаль потекли, негодуя<br/>
      Гудя и на бой созывая.</p>
<p>374а. В безмолвии, под ризою ночной<br/>
      Москва ждала. И час святой настал.<br/>
      И мощный звон промчался над землею <br/>
      И воздух весь, гудя, затрепетал.</p>
<p>378. Певучие серебряные громы<br/>
      Сказали весть святого торжества.<br/>
      И, слыша глас ее, душе знакомый,<br/>
      Подвиглася великая Москва. </p>
<p>379. Один глагол всегда священный<br/>
      Наследия былых времен, <br/>
      И как сердцам понятен он,<br/>
      Понятен думе умиленной.</p>
<p>380. То вещий звук колоколов,<br/>
      То звук, торжественно чудесный,<br/>
      Взметающий до облаков<br/>
      Когда все сорок сороков <br/>
      Взывают к благости небесной!</p>
<p>385. Знакомый звон, любимый звон,<br/>
      Москвы наследие святое,<br/>
      Ты все былое, все родное <br/>
      Напомнил мне. Ты сопряжен<br/>
      Навек в моем воспоминанье<br/>
      С годами детства моего,</p>
<p>386. С рожденьем пламенных мечтаний<br/>
      В уме моем. Ты для него<br/>
      Был первый вестник вдохновенья,<br/>
      Ты в томный трепет, в умиленье<br/>
      Меня вседневно приводил.</p>
<p>389. Ты поэтическое чувство<br/>
      В ребенке чутком разбудил,<br/>
      Ты страсть к гармонии, к искусству <br/>
      Мне в душу пылкую вселил.</p>
<p>391. Религия - опиум для народа. Может быть и так, но скорее это просто один из видов глубокого психологического воздействия на человека. И разве это огромное влияние церковь использовала только во вред людям?</p>
<p>392. Сказать так - это не уважать сегодняшних верующих. И можете поверить, сейчас 25 действующих церквей в Москве отнюдь не пустуют. В большие же праздники здесь просто не протолкнешься. Конечно, сюда заходят и просто любопытные вроде нас, старающиеся впитать в себя архаику обстановки. Но их мало. В основном людей влечет сюда вера, вера отцов и дедов.</p>
<p>393. В археологии есть закон: народ, переменивший веру своих отцов, стал новым народом, переродился. Так, славяне, принявшие крещение от Владимира Красное Солнышко, образовали единую русскую нацию.</p>
<p>394. А крах царизма и православия в 1917 году обозначил рождение нового понятия - советского народа - единого в своей коммунистической убежденности. Нынешние верующие лучше всего сохранили в своей среде обычаи и нравы дореволюционного русского народа.</p>
<p>395. Даже небольшие изменения в вере, введенные патриархом Никоном, привели к изменению народа. Старообрядцы, не воспринявшие новшества Никона, как бы остались жить в допетровском времени.</p>
<p>396. Старообрядческих церквей в Москве немало. Большинство из них резко отлично от православных. Старообрядцам разрешили строить свои церкви лишь в начале ХХ века.</p>
<p>397. Часть из них построена по типу простых древних храмов, например, Трифона в Напрудном.</p>
<p>398. Церковь Николы у Белорусского вокзала. Она сделана грубо и просто, но подражание закомарам потеряло и тень той привлекательности эстетического плана, которой обладали древние храмы.</p>
<p>399. А у этой церкви у Парка Культуры повторен другой старинный мотив - вместо обычной колокольни - забытая звонница.</p>
<p>400. Но в это же время появляются и другие совсем необычные постройки, зодчим большинства из которых являлся Бондаренко. Это - церковь Покровско-Успенской старообрядческой общины.</p>
<p>401. Ее стена украшена необычным орнаментом, а колокольня кончается маковкой, но на самом деле очень непривычно видеть маковку без пережима у основания.</p>
<p>402. Храм московской общины старообрядцев-пoмoрцев. Колокольня такая в Москве, наверное, единственная - как будто избушка на курьих ножках. Ее фасад облицован изразцами, так что получилось довольно большое панно с изображением двух ангелов.</p>
<p>403. Изразцами был облицован и портал. Можно сказать, что старообрядческие церкви перепрыгнули от древности в модернизм. Зодчий же элементами типа этой избушки пытался выразить свои представления о древности старообрядческих традиций.</p>
<p>404. Вообще церкви нового времени (конца XIX-го - начала XX-го века) можно отличить по современному кирпичу, по возврату от классицизма к древнерусским формам и по машинообразной точности старинных деталей декора. Время это бескомпромиссные искусствоведы считают безвременьем в архитектуре - не было своего стиля.</p>
<p>405. Мне же больше думается, что архитекторы, разочарованные в классицизме (как ни перерабатывали они его - он все равно не вписывался в русский дух), снова обратились к старым формам. И кто удачно, а кто и неудачно стали возрождать XVII-ый век.</p>
<p>406. Церковь Одигитрии. Здесь даже богатая изразцовая отделка не могла спасти кирпичную коробку башни от купеческого практицизма.</p>
<p>407. Зачастую же новые церкви очень привлекательны. Посмотрите на эти шлемовидные купола - как будто два коренастых богатыря - большой и поменьше, венчают пересечение крыш над объемом церкви.</p>
<p>408. По-моему, вполне удачна церковь Божьей матери. Нечаянная радость на Шереметьевской улице. Конечно, насмотревшись на подлинные древние церкви, ты не примешь эту церковь за древнюю.</p>
<p>409. Но зодчие этих времен и не делали подделки. Они просто искренне уважали старину и считали, что именно такие церкви отвечают московскому духу, и такие-то и надо во все века ставить.</p>
<p>410. Вот еще одна «подделка» - церковь в Сокольниках. Может и правда, что к такому массивному основанию не идет шатер.</p>
<p>411. Но издали она очень хороша шатром, а вблизи - роскошью украшений самого здания.</p>
<p>412. Здание бывшей церкви у метро «Пионерская» можно считать уникальным.</p>
<p>413. Оно построено из белого кирпича</p>
<p>414. и кажется совершенно новой постройкой сегодняшних дней.</p>
<p>415. Это - явно деревенский храм. Он отличается простотой и ясностью композиции. Скупая отделка красным кирпичом и серым камнем подчеркивают мягкость всего ее облика. Крыша красной черепицы вообще делает из здания уютный финский домик. Черепицы волнистой бахромой покрывают купол. Между прочим, такая бахромчатая крыша весьма популярна у архитекторов нового времени.</p>
<p>417. И действительно, насколько более симпатичный вид приобретает приземистая коробка деревенской церкви близ Лианозова, когда ее покрыл купол, взлохмаченный рядом кокошников. Храм совсем недавний. Это видно. Еще не слезла позолота с креста. Но по маковке видно также, что церковь начинает разрушаться.</p>
<p>418. И ждет ее печальная участь всех деревенских церквей - заброшенность и разрушение.</p>
<p>419. Ведь она не является историческим памятником, да и художественной ценности, согласно существующим канонам, не представляет.</p>
<p>420. Мало ли их было разбито только из-за одного желания использовать остатки кирпича для постройки какого-нибудь свинарника. Редко кого заинтересует, что вот такая маленькая деревенская церковь, спрятанная в деревьях, может служить главной и самой прочной нитью связи живущих здесь людей с их предками, с их славой и бедами.</p>
<p>421. И пусть постройка эта недавнего времени, но в глазах народа она овеяна поэзией древности, служит для них памятником прошлому. Разрушение ее равносильно осквернению могил.</p>
<p>422. За наш XX-ый век уничтожено больше половины всех московских церквей, больше двухсот. Многие перестроены и заброшены так, что уже практически перестали существовать. А этой церкви здорово повезло, ее просто закрыли от мира многоэтажной громадой. И нужно много времени проплутать, прежде чем доберешься до нее. Другим же повезло меньше.</p>
<p>423. Их новые хозяева - многочисленные предприятия, склады и учреждения - типа студий диафильмов или фабрик зонтов - используют отведенные им хоромы на износ. Где надо - коптятся трубы, где надо - проложены балки, где надо - уложено железо, пробиты окна и двери. Отличный получился промышленно-церковный комплекс, наверное, не хуже, чем домашние домны в Китае.</p>
<p>424. Даровые здания - чинить их не надо, прочно поставлены, да и все равно их сносить будут. Это еще что. Хуже, когда старинные здания обезображиваются и уничтожаются не только физически, но и морально.</p>
<p>425. Какая была необходимость устраивать общественные уборные в сквере перед церковью Климента, прекрасном памятнике XVIII-го века, или устроить тюрьму в древнейшем монастыре Даниловом?</p>
<p>426. А в соборе его современника - Новоспасского монастыря - разместить вытрезвитель?</p>
<p>429. Но нет, они не правы, эти преобразователи жизни, полные недоброжелательности к старой Москве, Фомы, не помнящие своего родства с православным русским народом!</p>
<p>430. Сохранение, а не разрушение старого наследия - вот принцип, который положен в основу государственной политики, пусть он в массе случаев и нарушается. Если и сейчас разрушаются отдельные церковные здания, то еще больше их реставрируют.</p>
<p>431. Реставрация - это долгий и длительный процесс, требующий большого искусства и большой любви... Быстро можно только разрушать.</p>
<p>432. Строить заново гораздо дольше, а восстанавливать здание - это еще дольше.</p>
<p>433. И все же пусть не день за днем, только год за годом, но встают рядом с белыми зданиями новостроек обновленные древние храмы, освобожденные от всех безвкусных наслоений купеческого времени, от всякой грязи и парши.</p>
<p>434. И происходит чудо. Внезапно эти, казалось бы, безликие космополитические коробки приобретают национальный колорит, русский характер, становятся частью нашего большого города.</p>
<p>435. Велика Москва, издавна была такой! Еще два века назад о ней говорили, что Москва - не город, а целый мир. Вот этот мир, его небольшую часть в виде церковных старинных зданий мы и хотели узнать. Посмотрев почти все церковные здания сегодняшней Москвы, большинство тех из них, которые еще сохранили свой прежний облик, мы показали вам в диафильме лишь небольшую часть этого богатства, принадлежащего русскому народу.</p>
<br/>

{% endblock content %}
