{% extends 'base.html' %}
{% block title %}Сокирко В.В. Сумма голосов присяжных в поиске граней экономической свободы{% endblock %}
{% block content %}



<h1> Сокирко В.В. Сумма голосов присяжных в поиске граней экономической свободы</h1>
<br/>
    (c) В.В. Сокирко, 2000<br/>
    (c) Издательство "РосКонсульт", 2000<br/>
    Москва, "РосКонсульт", 2000<br/>
<hr/><br/>
<br/>
<table>
<tr>
<td width="80%">
                Глас народа - Глас Божий<br/>
                Сокирко В.В.<br/>
                Сумма голосов присяжных в поиске граней экономической свободы: Учебное <br/>
                пособие - Учебное пособие - М.: РосКонсульт, 2000. - 640 с., ил.<br/>
                ISBN 5-89805-020-5 <br/>
                УДК 343.195:343.37<br/>
                ББК  67.408<br/>
                С 59<br/>
<br/>
</td>
<td>
<img src="/static/images/sum.jpg"/>
</td>
</tr>
</table>

    В книге обобщен десятилетний опыт работы Общества защиты осужденных <br/>
    хозяйственников и экономических свобод, а также рассматриваются суждения и <br/>
    оценки тысяч присяжных по наиболее спорным делам о предпринимательских <br/>
    правонарушениях-преступлениях. Основной пафос книги - в установлении <br/>
    правовых и нравственных граней между преступлениями и сферой необходимой <br/>
    российскому обществу экономической свободой.<br/>
    Книга будет полезна для широкого круга читателей, интересующихся как <br/>
    сутью "мафиозных" явлений в нашей экономике, так и тем, как о них судят <br/>
    простые граждане и не на улицах, а под присягой и при разборе аргументов <br/>
    юристов; для юристов, источником информации о механизме принятия присяжными <br/>
    своих решений, которым в рыночном обществе по праву отведена роль эталона <br/>
    совести и независимости и для коллег-правозащитников, ибо в ней изложены <br/>
    практические советы, как в работе опереться на мнение народа.<br/>
<br/>
    Содержание<br/>
<br/>
<a href="pris/0_1.html">Авторские благодарности</a> <br/>
<a href="pris/0_2.html">Список авторов-участников судов присяжных ОЗОХ и ЭС в 1989-96 гг.</a><br/>
<a href="pris/0_3.html">Сумма голосов присяжных в процессах 1989-96 гг.</a><br/>
<a href="pris/0_5.html">Первые пояснения</a><br/>
<a href="pris/0_6.html">Последнее слово К. Буржуадемова</a><br/><br/>
<a href="pris/0_7.html">Введение</a><br/>
<a href="pris/0_8.html">Понятие суда присяжных</a>
<br/><a href="pris/0_9.html">Корыстный обман доверия как ядро предпринимательских хищений и чиновничьих взяток - главных извращений экономической свободы</a><br/>
<br/>
<a href="pris/1_1.html">Глава 1. Дела организаторов финансовых пирамид (время и опыт исправляют оценки присяжных)</a><br/>
<a href="pris/1_3.html">Дело обманутых вкладчиков</a><br/>
<a href="pris/1_4.html">Дело о "бесконечных" товарных кредитах</a><br/>
<a href="pris/1_5.html">Снова дело руководителей ваучерного фонда</a><br/>
<a href="pris/1_6.html">Приложение 1.1. Запись ОСП по делу обманутых вкладчиков</a><br/>
<a href="pris/1_7.html">Приложение 1.2. Запись ОСП по делу В. о товарных кредитах</a><br/>
<a href="pris/1_8.html">Приложение 1.3. Стенограмма ИСП по делу руководителей ваучерного фонда</a><br/><br/>
<a href="pris/2_1.html">Глава 2. Обналичиватели авизо (авторитет юристов опасен для совести присяжных)</a><br/>
<a href="pris/2_3.html">Как осуждали по авизовочным делам?</a><br/>
<a href="pris/2_4.html">Чеки "Россия" за автомобили</a><br/>
<a href="pris/2_5.html">Дело обналичивателя П.</a><br/>
<a href="pris/2_6.html">Приложение 2.1. Стенограмма ИСП по делу П.</a><br/><br/>
<a href="pris/3_1.html">Глава 3. Цеховики, кооператоры, директора (к истине через споры присяжных)</a><br/>
<a href="pris/3_2.html">Дела старых предпринимателей</a><br/><a href="pris/3_3.html">Историческое дело "Теллура"</a><br/>
<a href="pris/3_4.html">Три суда по делу о "прокрутке" государственных средств</a><br/>
<a href="pris/3_5.html">Приложение 3.1. Запись ОСП по делу бакинского "цеховика"</a><br/>
<a href="pris/3_6.html">Приложение 3.2. Запись ИСП по делу приемщика картофеля Л.</a><br/>
<a href="pris/3_7.html">Приложение 3.3. Стенограммы судов по делу С.</a><br/><br/>
<a href="pris/4_1.html">Глава 4. Дела леваков и рыбаков (не надо бояться неустойчивости вердиктов присяжных на пути к истине)</a><br/><a href="pris/4_3.html">Суды и опрос по делам о неучтенке</a><br/><a href="pris/4_4.html">5 судов по делу камчатских рыбаков</a><br/><a href="pris/4_5.html">Ходатайство в Верховный Суд РФ</a><br/><a href="pris/4_6.html">Приложение 4.1. Стенограммы судов по делу камчатских рыбаков</a><br/><a href="pris/4_7.html">Приложение 4.2. Переписка ОЗОХиЭС с правоприменительными органами  и правовой анализ дела камчатских рыбаков</a><br/><br/>
<a href="pris/5_1.html">Глава 5. Наценки и подношения (без знания деталей присяжные не смогут решать по совести)</a><br/><a href="pris/5_3.html">Суды по делам о взятках в торговле</a><br/><a href="pris/5_4.html">Суды и опрос по делам о взятках в связи с ЧПД</a><br/><a href="pris/5_5.html">5 судов по делу о взятке замдиректора</a><br/><a href="pris/5_6.html">Приложение 5.1. Стенограммы судов по делу о взятке Г.</a><br/><br/>
<a href="pris/6_1.html">Глава 6. Взятки-подарки (основной наказ присяжных: "Не сажайте зря!")</a><br/><a href="pris/6_2.html">Суды по делам о взятках лиц со спорным должностным положением</a><br/><a href="pris/6_3.html">4 "заказных" суда по делу о взятке налогового инспектора П.</a><br/><a href="pris/6_4.html">Приложение 6.1. Стенограммы судов по делу о взятке налогового инспектора</a><br/><br/>
<a href="pris/7_1.html">Глава 7. Иные грани экономической свободы (присяжные опережают законодателей)</a><br/><a href="pris/7_3.html">Суды по делам о спекуляции</a><br/><a href="pris/7_4.html">Суд и опрос по делам "валютчиков"</a><br/><a href="pris/7_5.html">Дела налоговые</a><br/><a href="pris/7_6.html">Дела о неразрешенном предпринимательстве</a><br/><a href="pris/7_7.html">Дела о вымогательстве</a><br/><a href="pris/7_8.html">Неоконченный заочный суд присяжных по "делу Козьмы Минина"</a><br/><a href="pris/7_9.html">Приложение 7.1. К разработке международного договора о защите экономических свобод (проект, доклад и резолюция)</a><br/><br/>
<a href="pris/8_1.html">Глава 8. Учитесь слушать присяжных (формы и приемы работы)</a><br/><a href="pris/8_2.html">Возможные формы суда присяжных</a><br/><a href="pris/8_3.html">Подготовка ИСП</a><br/><a href="pris/8_4.html">Техника набора присяжных</a><br/><a href="pris/8_5.html">Проведение судебного заседания</a><br/><a href="pris/8_6.html">Анализ результатов и техника повторных ИСП</a><br/><a href="pris/8_7.html">Приложение 8.1. Предложения ОЗОХиЭС по проекту УПК РФ</a><br/><a href="pris/8_8.html">Приложение 8.2. Отзывы юристов и ученых</a><br/>
<br/>
    Автор - В.В. Сокирко                     <br/>
    Консультант - А.В. Похмелкин<br/>
    Общество защиты осужденных<br/>
    хозяйственников и экономических свобод<br/>
    (ОЗОХ и ЭС)<br/>
    Л.Н.Ткаченко,<br/>
    секретарь<br/>
    А.Ф.Владышевский,<br/>
    ответственный секретарь Л.В.Сулимова,<br/>
    бухгалтер<br/>
<br/>
<br/>

{% endblock content %}
