{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Диафильм "Молдавия"{% endblock %}
{% block content %}



<br/><br/>
<p>1. <u>Молдова-81</u></p> <p>2. <u>Римская идея в молдавской судьбе</u></p>
<p>3. Главную молдавскую реку Днестр мы видим в третий раз. В 73-м посетили бывшую молдавскую крепость Хотин, в 77-м плыли от Ямполя до Сороки и обратно автобусом до Атаки.</p>
<p>4. А сейчас, едва взглянув на него, досрочно уезжаем от затяжных дождей... И все же из пяти наших дней в Молдавии три были солнечными, а знакомство с неизвестной нам прежде страной - состоялось.</p>
<p>5. <u>Постановка проблемы</u></p>
<p>Что мы знаем о Молдавии? - Что она богата песнями и вином, кишиневской культурой и хорошими книгами. </p>
<p>6. Наслышаны были и о гигантомании молдавских секретарей, упрямо создающих громадные садовые и виноградные плантации во славу кооперативных утопий даже вопреки очевидной пользе... И откуда тaкие великие, почти римские масштабы в исконно крестьянской стране?</p>
<p>7. У нас создалось впечатление, что все дороги по Молдавии идут в столицу. И мы не сопротивлялись ее притяжению, надеясь в музеях получить ответ и на этот вопрос.</p>
<p>8-10.</p>
<p>11. Не удалось нам побывать в кишиневских музеях, но в поездке мы наслышались, что молдаване - это "особый народ", единственный в Союзе с романским языком, что они имеют славное прошлое и большую культуру.</p>
<p>12. Вместе с валахами в прошлом веке образовали Румынию, т.е. Римлянию, и только в пределах России остались молдаванами.</p>
<p>13. И все же трудно поверить, что такие обычные на вид, славные, простые люди и есть римляне, трудно даже отказаться от прежнего отождествления молдаван с цыганами, которые ведь тоже зовут себя похоже - "рома", а загадок в своем происхождении имеют еще больше.</p>
<p>14. Музеи, похоже, не главные помощники в ответах на такие вопросы. Лучше молдавские книги и соответствующее воображение при знакомстве с этой историей.</p>
<p>15. Б.Хашдеу: И в нашем крае в дни былые, / Когда под игом бусурман<br/>
      Не низил пошло молдаван / Непреклонимой римской выи,<br/>
      Бойцы водились удалые./ Турниры были и у нас, <br/>
      И девы свежими венками / Героев награждали сами. <br/>
      Пастух, боярин, воин, князь / За взгляд красотки ратовали,<br/>
      Родов, чинов не разбирали! / Случалось пастуху не раз <br/>
      Сразить вельможу, и в награду / <br/>
      Венки и пламенные взгляды / Он от красавиц получал.<br/>
      Певец народный воспевал / Дела и подвиги героя...</p>
<p>16. 	Минуло время то святое, / В ножнах заржавел наш булат.<br/>
      И только песни говорят / Нам про житье-бытье былое!<br/>
      Весь мир забыл, что на Дунае / Есть горемычная страна,<br/>
      Которой доля суждена  / Рабою быть всегда.<br/>
      Но в дни былые в этом крае / Судьба Европы решена!<br/>
Bсе говорят про нас с улыбкой: / "Народ простой!" - "А чем он был!<br/>
      Kакие подвиги творил! / Увы! Про то весь мир великий<br/>
      Забыл... Давно забыл!</p>
<p>17. <u>Идея 1-го Рима</u></p>
<p>Когда автобус повезет Вас из Кишинева на юг к Белгороду Днестровскому, где впервые на этой земле появились римляне, то дорога пересечет линию древнеримских "траяновых валов", за которыми император Траян во 2 веке оборонялся от свирепых даков, а потом стал как бы крестным отцом этих молдавских предков. Мы знаем, что и через тысячу лет "Слово о полку Игореве" называло эту землю "землей траяновой".</p>
<p>18. <u>Тира - Монте-Кастро - Аккерман - Белгород Дн.</u></p>
<p>Белгород-Днестр. Ныне выведен из Римской империи, из Румынии и даже из Молдавии и стал лишь райцентром Одесской области. </p>
<p>19. Но для Молдавии и Румынии - он самый древний цивилизованный город,</p>
<p>20. основанный еще греками в VI веке до н.э., когда звали его Тирой.От нее остались сейчас только раскопанные фундаменты.</p>
<p>21. Рядом днестровский лиман - полуморе-полурека - водная дорога - связь вглубь таинственных, но богатых ресурсами народов-даков. Ведь варвары свои меха, мед, зерно не ценили, а у греков было достаточно блестящих товаров для выгодного обмена.</p>
<p>22. Археологи нашли здесь плиту о награждении тирца лавровым венком причерноморских городов за лучшую торговлю. Но время шло, аппетиты даков росли, а ресурсы исчезали. Зато они научились владеть греческим оружием и обернули его против прежних поставщиков. Греки были бы неминуемо скинуты в море, если бы не приход сюда непобедимых римских легионов.</p>
<p>23. Главная достопримечательность Белгорода - его крепость. Одесские путеводители приписывают честь ее создания русским и украинцам. Однако нетрудно докопаться до истины, достаточно лишь войти в </p>
<p>24. крепость и увидеть ее сердце - генуэзскую цитадель. B XIV веке ее построили генуэзские купцы, а в 1362 году Монте-Кастро стал вольным городом и торговой опорой Молдавии.</p>
<p>25. Когда город разросся до 20 тысяч, по повелению молдавского господаря Штефана Великого были сооружены эти основные стены под руководством венецианского мастера. Штефану они были нужны для защиты от турок, находившихся тогда в зените своего могущества.</p>
<p>26. Правду сказать, стены эти недолго сдерживали турок. В августе 1484 года султан овладел Белгородом - этим ключом к Молдавии и Польше, и назвал его Аккерманом. Из 20 тысяч жителей осталось только 200 семейств.</p>
<p>27. Три столетия Аккерман был мусульманским, вплоть до Кутузовского штурма. Но только в 1812 году он стал окончательно русским.</p>
<p>28. Турки обновляли эти стены, и все же главными строителями его были генуэзцы и венецианец - прямые потомки Рима (если не по крови, то </p>
<p>29. по земле и культуре) - и молдаване Штефана - потомки римлян по языку и самоназванию.</p>
<p>30. Так что нынешняя крепость представляется римской не только по поэтическим фантазиям Пушкина, когда он с этой башни обращался к духу величайшего римского поэта Овидия, изгнанного императором в Черноморье.</p>
<p>31.Златой Италии роскошный гражданин,<br/> 
       В отчизне варваров безвестен и один,<br/>
Ты звуков родины вокруг себя не слышишь,<br/>
Ты в тяжкой горести далекой дружбе пишешь.</p>
<p>32.Суровый славянин, я слез не проливал.<br/>
 Но понимаю их. Изгнанник самовольный,<br/>
 И светом, и собой, и жизнью недовольный,  <br/>
    С душой задумчивой, я ныне посетил <br/>
 Страну, где грустный век ты некогда влачил.</p>
<p>33. Связь между оборонным зодчеством итальянцев и древнего Рима проследить легко, а вот откуда у молдавского господаря и его ратников взялся римский дух, понять труднее.</p>
<p>34. И что такое римский дух, римская идея, римское наследство? Не в частностях и деталях, а в главном, что позволяет румынам заявлять: "Мы - римляне? "... Об этом можно только гадать...</p>
<p>35. И другие народы перенимали чужие имена. Южные славяне назвали себя именем тюркского племени болгары, восточные славяне - именем варяжского племени русов. Но они оставили себе славянскую речь, богов и обычаи. А у молдаван-румын совсем иное. У них, и вправду, язык романский, а называть себя потомками известных всем римлян и брать их жизнь себе в идеал - это совсем иное, чем хранить имена давно забытых болгар и русов.</p>
<p>36. Во-первых, Рим дал миру всю западноевропейскую цивилизацию, выросшую на латыни и на возрождении античности.</p>
<p>37. Рим образец империи, как технически и административно организованного мира. И, подражая ему, вожди народов принимали звание цезарей, царей, императоров. Германская империя средневековья называла себя священной Римской империей, Византия - Ромейской империей, а от нее идею империи получили турецкая Блистательная Порта и православная Русь.</p>
<p>38. Рим дал миру понятие о праве, римский гражданский кодекс, идею разделения властей, идеал честной и ответственной администрации.</p>
<p>39. Но главной идейной основой Рима, его первоначальных успехов был идеал свободной и мужественной жизни крестьян-воинов-защитников. И вот этот-то идеал, на мой взгляд, и светил молдаванам в момент их национального возникновения.</p>
<p>40. Вот как описал самый большой поэт румынского народа Эминеску разговор господаря Мирче Старого с султаном Баязетом.</p>
<p>41. 	Да, я стар, но не к лицу нам перед бурей падать наземь.<br/>
      Не со смердом ты толкуешь, Баязет, - с валашским князем,<br/>
      И узнать народ мой в гневе я врагу не пожелаю:<br/>
      Он свое схоронит войско в пенистых волнах Дуная,<br/>
      А непрошеные гости к нам захаживали часто, <br/>
      И преданья сохранили имя Дария Гистаста.<br/>
      Берега Дуная помнят: были здесь степные орды,<br/>
      И Аттила, бич вселенной, и Траяновы когорты.</p>
<p>42.	Все властители, которым трудно в этот мир вместиться,<br/>
      Шли попить водицы нашей и попробовать землицы.<br/>
      Нам хвалиться не пристало, и пугать негоже гостя,<br/>
      Но они земли наелись и воды напились вдосталь...<br/>
      ...Ведь за мною - наша бедность, наши беды, род мой гордый,<br/>
      Потому-то все, что живо в этом крае - воды, кодры,-<br/>
      Лишь со мной одним в союзе, а с тобою в схватке смертной.<br/>
      Все тебя здесь ненавидят, потаенно, неприметно.<br/>
      Пусть немного нас, но каждый родиной силен любимой,<br/>
      Так чего же нам страшиться, Баязет неустрашимый?</p>
<p>Та первая битва закончилась победой молдаван, а турецкое завоевание оттянулось на столетие.</p>
<p>43. ...А как шло римское завоевание почти 2000 лет назад? На рубеже 1-2 веков римляне только защищались от даков. Но, поднакопив силы, при императоре Траяне римские легионы разбили даков,</p>
<p>44. дакский вождь Децибал заколол себя мечом, а Дакия стала римской провинцией, Новой Романией. Неизвестно, какими мерами и привилегиями</p>
<p>45. привлекала римская администрация на свою сторону доблестных даков, но факт, что через несколько столетий здесь жил ассимилировавшийся с римскими колонистами, принявший латинский язык и культуру народ, называвший себя вэльски или валахи, т.е. говорящий на латыни.  </p>
<p>46. В последующем им пришлось пережить много бед от нашествий кочевых народов. И только в отрогах карпатских гор они смогли выжить, дожидаясь своего звездного часа. Этот час наступил после монгольских</p>
<p>47. ударов по Руси и Венгрии. Под водительством легендарного князя Драгоша валахи вырвались из венгерских пределов и заняли </p>
<p>48. опустевшие земли своей древней родины, мечом ограждая свои права - и от татар-ногайцев, и от венгров, а потом от поляков и турок. </p>
<p>49. Перед удивленным миром вдруг появился почти из ничего совершенно новый народ, как будто воскресли римские легионы в ополчениях отважных молдавских крестьян-пехотинцев.</p>
<p>50. Как будто после столетий спячки заново родился дако-римский народ.</p>
<p>52. Таковы неисповедимые пути римской идеи на этой земле.</p>
<p>53. <u>Молдавские кодры</u></p>
<p>Кодры - многозначное слово. Это и молдавские холмы, а вернее, невысокие горы, прямое продолжение Карпат в причерноморской степи.</p>
<p>54. Это и тенистый лес - надежное укрытие для всяких гайдуков, разбойников, партизан и иных народных мстителей.</p>
<p>55. Это, наконец, и разбросанные здесь молдавские села, где сосредоточился самый дух и корень народа. И потому не походить по кодрам - не увидеть страны.</p>
<p>56. И мы ходили. С палаткой и костром.</p>
<p>57. Из Кишинева доехали до Трушены, а дальше пешком в Скопены, Каприану, Лозово, таская в рюкзаке приобретенный в Кишиневе томик Богдана Хаддеу, а в нем юношеские стихи про основателя Молдавии, князя Драгоша:</p>
<p>Дремучие леса охотою полоша,<br/>
                  Наш прадед вышел из теснин Марамуроша.<br/>
В пути завидел зубра княжий взор.<br/>
 А зубр бежал в Молдавии простор.</p>
<p>58. Вокруг цвела природа жизнью чудной,<br/>
 Тянулись нивы лентой изумрудной,<br/>
И дебри тень бросали к лону вод...<br/>
"Спасибо, зубр! Свершен обет мой трудный:<br/>
Как Моисей, кончаю наш исход.<br/>
В наследьи,- волю мой обрел народ".</p>
<p>59. Мы встречались дважды с пасеками - извечным здесь промыслом еще от древних русских бортников.</p>
<p>Дед Яцко, родом рус, на берегах Модавы <br/>
Жил, разводя богатых ульев строй,<br/>
И с пчелами подстать, в цепи своей державы <br/>
Судил-рядил семьею родовой. </p>
<p>60. Пестрили целый край и горы, и дубравы,<br/>
      -Но лаком мед,- и близкой стороной,<br/>
           Он привлекал не раз татарские облавы:<br/>
            Терпел старик и доли ждал иной.</p>
<p>61.Когда из угор, буй-тура гоняя,<br/>
          В Молдавию прибрел "Молдавии отец",<br/>
                     Дед Яцко-пасечник, чело склоняя,<br/>
                    Пришельцу знатному поднес с земли венец:<br/>
                    "Храни наш русский мед,- а Русь святая<br/>
                  И мед детей твоих отхранит под конец".</p>
<p>62. Драгош славен был не только ратными подвигами и любовью к крестьянам, пасечникам и рудокопам, но и демократичностью. Он ввел в Молдавии выборность господарей.</p>
<p>63.Большое торжество готовится в народе,<br/>
 Едва очнувшемся от ига на свободе,-<br/>
Большое торжество - родному воеводе<br/>
Молдавия подносит жезл царей.<br/>
Выходит Драгош, и могучим словом<br/>
Он общей воле шлет ответ:<br/>
"Не царский нужен плод в народе новом, <br/>
А доблести врожденный свет,<br/>
Под лучших граждан выборным покровом<br/>
Вам должно крепнуть много лет".</p>
<p>64. Князь Драгош был и первым хозяйственником:<br/>
Окинув взорами объем своих владений,<br/>
Князь Драгош думою во глубь земли проник<br/>
И стал раскапывать таинственный рудник.<br/>
"Я дал свободу вам, но знаете ль значение<br/>
Свободы в мировом уставе провиденья.<br/>
Богатство ей близнец... богатство ей двойник".</p>
<p>65. Он же привлек в страну и торговых армян:<br/>
В Молдавию зашел изгнанников отряд.<br/>
Он встретил Драгоша в его державе новой,<br/>
Моля поддерживать армянен быт торговый...<br/>
"Вы дурно просите; в моей семье суровой<br/>
Нет бытов этаких: нам всяк прихожий брат,<br/>
А братству вашему как гражданин я рад".</p>
<p>66. Оказывается, что именно Драгош принял первого русского эмигранта - древлянского князя Мала, убежавшего от мести княгини Ольги:</p>
<p>Вождь Мал, избегнув чудом лютой мести, <br/>
      Ушел на чуждь, привить на новом месте <br/>
      Свободы ветку меж лесов да дебрей горных...<br/>
      В Молдавии развил он знамя чести,-<br/>
      И времени назло, в берлогах Вранчи черных <br/>
      Цветет поныне дух пришельцев непокорных...</p>
<p>67. Правда, в местах, где мы ходили, молдаване говорили не о Драгоше, а о Штефане Великом. Недалеко от этого турслета стоит дуб Штефана Чекмаре, о котором еще наш Карамзин писал: "Мужественный в опасности, твердый в бедствиях, скромный в счастии, он был удивлением государей и народов, с малыми средствами творя великое". А еще дальше по дороге, в Каприану, стоит основанный им монастырь, ибо не только мечом, но и крестом защищал и укреплял свою отчизну великий господарь.</p>
<p>68. Памятный дуб связан с каким-то сражением, выигранным Штефаном в этих местах. А побед в битвах с могущественными соседями он </p>
<p>69. одерживал немало.</p>
<p>Осман, венгерец, лях кичливый  / Пред ним смирялись боязливо,<br/>
      Сам царь московский дорожил / Родством и дружбой воеводы,<br/>
      А папа Сикст его почтил / Названьем "витязя свободы,<br/>
      	Атлета христианских сил!"</p>
<p>70.Чего же больше он желает? / О чем он снова помышляет?<br/>
      Недаром молчаливый вид / О грусти князя говорит!<br/>
      О чем грустит он?..</p>
<p>71. Но самым славным был отпор туркам в 1475 году, когда на месте нынешних полей тянулись леса, на месте водохранилища, где купаются наши и местные дети - были топкие болота. В одной из таких долин и устроил Штефан засаду туркам, уверенным, что легко раздавят маленькую Молдавию.</p>
<p>73. Голова растянувшегося турецкого войска была остановлена у моста заставой Штефана, состоявшей из нескольких сотен добровольцев-рыцарей со всей Европы и молдаван. Турки не могли идти широким фронтом, и потому много часов штурмовали заставу,</p>
<p>74. но не пробились. А в это время остальное войско находилось в тумане и неизвестности. Со всех сторон их кусали летучие молдавские отряды, но попытки турок огрызаться и нападать только приводили к гибели в болотах. Наконец, деморализация</p>
<p>75. стала полной и превратилась в паническое бегство. 16 тысяч молдаван победили 120 тысяч турок. Из них 40 тысяч было убито. А главное, был убит миф о непобедимости турецкой гвардии железных янычар. Молдавские ратники и их воевода доказали, что Европа может выжить. Вот о чем говорит нам этот дуб.</p>
<p>76. <u>Каприановский монастырь</u></p>
<p>77. Монастырь, конечно, нe действует, в нем сейчас детский туберкулезный санаторий.</p>
<p>78. Но церковные здания хорошо сохранились. Правда, удивляться нечему, они построены в начале нашего века при русском епископе, а самые губительные для церквей наши 30-е годы провели в составе боярской Румынии.</p>
<p>79. Русский по виду лик св.Георгия помогает нам вспомнить, как основавший этот монастырь Штефан добивался союза и помощи от великого православного соседа - русского государства, даже путем брака дочери Елены. Вот как об этом рассказывает Хащдеу:</p>
<p>80. "Одной-единственной дочерью благословил Бог Штефана господаря. ...Солнце вплетало в ее косы золотое сияние своих лучей, луна даровала ее лицу свою серебристую белизну, небесная лазурь отразилась в синеве ее очей, дикие розы покидали луга, чтобы расцвесть на ее душистых устах, ее певучий голосок напоминал соловьиные трели, легкие зефиры обвевали ее чело, и кедр, возросший на священных горах Ливана, все чаще пенял господу Богу: есть на свете кто-то стройнее меня..."</p>
<p>81. В 1482 г. Иван III прислал Штефану грамоту: </p>
<p>"У тебя есть дочь, а у меня сын. Дошло до нас, что дочь твоя благолепна и разумна; а о сыне своем могу сказать, не хвалясь, что никто не превзойдет его силой. И твои, и мои народы живут в одном законе; и русичи, и молдаване восприяли святой крест из рук ап.Андрея. И мы, и вы пишем кириллицею. Твои враги суть король ляшский да хан крымский; они и мне неприятели: если соединимся, повергнем их к стопам нашим. Итак, обвенчаем на мир и любовь детей наших..."</p>
<p>82. Крепко любил Штефан Великий свою дочь... но еще крепче любил наш Штефан прекрасную Молдову. Ради счастия этой многострадальной земли забыл он о холоде бескрайней Руси... все забыл он и ответил московским послам: "Вот моя Елена, берите ее".</p>
<p>83. На прощанье Штефан Великий благословил Елену и, подавая ей книгу, начертанную золотом на пергаменте, молвил: "Береги, доченька, эту летопись, свидетельствующую о доблестных деяниях предков наших, перечитывай ее везде, куда бы ни забросила тебя слепая судьбина; читай и вспоминай о нас, читай - не забывай себя".</p>
<p>Книга начиналась словами: "Род наш от древних римлян пошел, а каковы были древние римляне, знает мир..."</p>
<p>84. Несчастье и гибель ожидали Елену в Москве. Иоанн Молодой скоро умер, а дочь Штефана с сыном Дмитрием осталась одинокой вдовой. Шли годы, и 15-летний Дмитрий, внук Штефана, был объявлен наследником московского престола и даже венчан на царство.</p>
<p>85. Это было 4 февраля 1498г. Когда весть об этом дошла до Штефана Великого, он устроил на радостях боярам знатную соколиную охоту и велел выкатить для простонародья бочки с вином из господарских хранилищ: пусть веселятся...</p>
<p>86. Но не прошло и года, как переменилась царская воля, и наследником был назначен сын Василий от второй жены - гречанки Софьи. А молдаванку Елену вместе с боговенчанным сыном заточили в темницу. Так не состоялся союз Молдавии с Московией (ради византийского наследства).</p>
<p>87. Понимая, что одних молдавских сил на противостояние не хватит, Штефан завещал: можно даже согласиться на подданство туркам, но при сохранении языка, веры и обычаев. В 1511г. при сыне его Богдане Молдавия покорилась туркам.</p>
<p>88. <u>Идея 2-го Рима - деспотизм</u></p>
<p>Конечно же, эта идея зародилась еще в 1-м Риме, но именно в Константинополе она стала главенствующей. Веру, письменность и приемы</p>
<p>89. управления молдаване, как и русские, получили из Царь-града. Мы, действительно, братья по греческой воспитательнице, только отцы у нас разные: у них римляне, а у нас - татары.Кроме того, 300 лет их "довоспитывали" турки, а это тоже не сладко.</p>
<p>90. Вот самая старая из сохранившихся в Молдавии церковь Успения, выстроенная в XVI веке в городе Каушаны. Турки запрещали здесь строить церкви выше домов, чтоб не оскорблять крестом мусульманских взоров. И потому прихожане углубили пол, чтобы устроить достойный дом для пребывания Бога.</p>
<p>91. Глаза могут сквозь щели увидеть лишь контуры фресковых росписей. Фотоаппарату доступны лишь надписи над входом и поврежденные временем барельефы зверей-защитников храмовых...</p>
<p>92. Как ни старались тогда молдаване, все же не уберегли церковь от поругания. Увидев, каким красивым стал храм, турки оскорбились за свою веру и в отместку поместили в нем коней, а Христу и святым</p>
<p>93. выкололи глаза. И в ту же ночь грянуло Божье наказание - лошади турок передохли!!!</p>
<p>94. Да, вражда здесь была неискоренимой, неизбежны были и войны за освобождение, а это требовало сильных и жестоких вождей. Такая потребность, наложившись на давнюю традицию византийского воспитания, привела к появлению у румын целого ряда деспотов, изумлявших садизмом европейских соседей. Самым знаменитым был </p>
<p>95. валашский князь-господарь XV века Влад Цепеш, известный в народе, как Дракула, Дьявол...   <u>Т.Аргези</u> </p>
<p>96. 	В отчизне мир, во всем краю обширном,<br/>
                             Царит покой на крепких рубежах, <br/>
      И новый пахарь, позабывший страх,<br/>
      Дробит покров земли на поле мирном. <br/>
      А ветер, солнца умеряя жар,<br/>
      Преданья шепчет селам бессловесным, <br/>
      Дрожь пробегает по ветвям небесным,<br/>
      -И почему-то дрожь берет бояр.</p>
<p>97. 	Должно быть, князь задумчивый опять<br/>
                             Намерен чистить род людской умело.<br/>
      До горла острие пронзает тело -<br/>
      Колы умеет Цепеш заострять.<br/>
      Того, кто справедливость попирает,<br/>
      Без жалости бросает палачу. <br/>
      Но к колышку кутью он и свечу<br/> 
      По-христиански щедро добавляет.</p>
<p>98. 	Когда казнил, он знать не унижал <br/>
                              И никогда не забывал приличья: <br/>
      Мунтян и турок знатных без различья<br/>
      Лишь на высокие колы сажал.<br/>
       Не пожалев, рубил платан ветвистый,
      Чтоб был визир доволен высотой,<br/>
      В епископе сан уважал святой,<br/>
      И на кол тратил кипарис душистый. </p>
<p>99. 	Явился он в собрание совета./ Совет его за мир благодарит. <br/>
      На троне князь. Спокоен.И молчит./Железною броней душа одета.<br/>
       Пока, в честь князя кубок поднимая,/Шумит придворный каждый за двоих, <br/>
                      Он думает, их похвалам внимая,/О кольях, уготованных для них.</p>
<p>100-102.</p>
<p>103. "Повесть о Дракуле" была очень популярна на Московии. И совсем не случайно Иван Грозный так схож с этим исчадием ада и в жecтокости, и в лицемерии, и в зломудрии, хоть и жил веком позже. </p>
<p>104. Но как странно в мире откликается. В то время, как Иоанн Грозный показывает Москве наяву, что значит быть 3-м Римом, в Молдавии к власти приходит двойник по имени и прозвищу - господарь Иона. Он казнит людей жестоко и бесчеловечно, заслуживая в народе звание Иона Лютого. Но, в отличие от бездарного Грозного, он был талантливым полководцем, террором против бояр успокоил</p>
<p>105 и сплотил страну и поднял ее на восстание против Турции. После первых побед, он был все же разбит, убит и оставил о себе почетную память борца за освобождение. А нам - оставил недоумение: неужели можно оправдывать террор?</p>
<br/>

{% endblock content %}
