{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. «Дети и шабашки» 1968-1977 гг{% endblock %}
{% block content %}



<br/><br/>
<div class="'n'"> <p>Титры:    1. «1975 год»<br/>
2. «Шабашка и»<br/>
3. «Поход»<br/>
4. «Печора и Онега»</p>
<p>5. 75-м годом заканчиваются Витины поездки на шабашные работы - одного, без меня. И этот диафильм можно считать прощанием с уникальной для нас темой.</p>
<p>А почему, собственно, надо прощаться с этим видом отпуска? Ну, если бы все шабашки были сходны по тяжести с хабаровской 74-года, то и для нас ответ не стоил бы труда</p>
<p>6. Однако типичная шабашка другая. Вы ее сейчас сами увидите, и сами озадачитесь вопросом: «Почему интересная и денежная шабашка хуже трудного и расточительного туризма»?</p>
<p>7.  «Река Печора» </p>
<p>8. Пристань с поселком в 400 человек.</p>
<p>9. Здесь швартуются на ремонт много кораблей Печорского речного пароходства.</p>
<p>10. На берегу тихого затона - стоят ремонтные мастерские - механические, сварочные и пр. Наша бригада ремонтировала здание кузницы, а главное - строила новый лесопильный цех.</p>
<p>11. Вот что было здесь в начале - куча земли</p>
<p>12. и 10 гавриков на ней.</p>
<p>13-19. И вот что стало через полтора месяца(кадры последовательно показывают этапы возведения здания вперемежку с показом отдельных работ - бетонных, плотницких, сварочных, погрузочных, земляных и пр.)</p>
<p>20. Мы работали без выходных, по 12 часов как минимум,</p>
<p>21. Конечно, уставали, особенно если в наряде была земля, бетон, погрузка - ломовая работа.</p>
<p>22. Но это была все же - хорошая, желанная усталость. Ведь мы приехали сюда по доброй воле и делали нужное дело.</p>
<p>23. А вокруг нашей площадки - только подними глаза - простиралась без края печорская тайга.</p>
<p>24. Красотища!</p>
<p>25.  И часто, на перекурах у нас возникал спор.</p>
<p>26.  Ребята говорили мне: «Ну что может дать твой туризм? Природу?
Грибы и ягоды? Купанье?</p>
<p>27. Светлые северные ночи?</p>
<p>28. Чувство удовлетворения от преодоленной усталости. От тяжелых нагрузок? - Здесь это все есть. </p>
<p>29. Я не знал, что им отвечать, и в письмах домой стыдился сообщать, как мне хорошо на шабашке. </p>
<p>30. Ни в один отпуск я так много, так часто и самозабвенно не купался.</p>
<p>31. У меня было достаточно свободных вечеров после бани, чтобы с фотоаппаратом побродить по окрестностям нашего поселка, зайти в </p>
<p>32. старообрядческую деревню.</p>
<p>33. Деревня наполовину пуста, но, говорят, еще живы староверы и ездят к ним ученые - собиратели древностей.</p>
<p>34. Как жаль, что я не умею заходить в избы и заговаривать просто с их обитателями - живыми хранителями допетровских, дониконовских еще традиций.</p>
<p>35. Кто знает, когда возникла эта деревня. Может, она - старое поселение туземцев - коми, а может, основана еще новгородцами - первыми колонизаторами края, почитавших Печору, а вслед за ней и Югру, т.е. Зауральскую Северную Сибирь, своей изначальной вотчиной.</p>
<p>36. Культура новгородцев, почти исключительно  деревянная и берестяная, целиком погибла в этих краях.</p>
<p>37-38. И о ней можно только вспоминать в виду русского креста над большой холодной рекой.</p>
<p>39. Однако, солнце садится все ниже, времени немного</p>
<p>40. и я опускаюсь вниз, к Печоре, чтобы успеть побаниться в прозрачном холоде ее воды</p>
<p>41. и посидеть у вечерней реки, глазея на ее трудовую жизнь.</p>
<p>42. Каждую эту свободную и совершенно свою, единственную минуту покоя над закатной Печорой ощущая </p>
<p>43. как великое счастье, изо всех сил стараясь попрочней ее запомнить.</p>
<p>44. Еще одно яркое воспоминание, способное, уверен, у каждого вызвать зависть: наш воскресный день на деревенском сенокосе </p>
<p>45. К сожалению, плохо проявленные пленки не передают сочного многоцветья</p>
<p>46. белых рубах на фоне зеленых северных трав, </p>
<p>47. яркости ромашек и берез на темной зелени елей. </p>
<p>48. Ну какой туризм может дать столь близкое соприкосновение с этой извечной народной праздничной страдой?</p>
<p>49. Лев Толстой знал это и потому, наверное, брался сам за плуг и косу и вставал в ряд с мужиками.</p>
<p>И сегодняшние кандидаты и доценты берутся за грабли, вот как Саша-комиссар на этом слайде.</p>
<p>50. Монументальный портрет Саши-комиссара - Идейный руководитель, а вернее, идеолог нашей шабашки, со своей изощренной диалектической речью, соединяющей в каждой фразе и «Да», и «Нет» - он прекрасно управлялся со всей нашей бригадой, а она, естественно, - с ним.</p>
<p>51. Спросят его, бывало: «Саш, а можно сегодня принять спиртянского не в очередь?» - Он отвечает мгновенно и без раздумий, как будто даже независимо: «Нельзя, конечно, по стакану, не больше!»</p>
<p>52. За то и любил его народ до обожания.</p>
<p>53. А вот портрет другого интеллигента. Он у нас был борцом за качественную, неспешную и потому - быструю работу, а вечером - за немедленную выпивку и этим самым - за полный порядок.</p>
<p>54. Вот Эдик оглядывается, еще раз негодующе поминает бригадира: «Мы, мол, не дети, и пьем на свои!» и</p>
<p>55. принимает свою законную долю «зеленого змия»,</p>
<p>56. Потом, раздобревшись, становится мягким, ласковым и даже разговорчивым. </p>
<p>57. Может, с точки зрения некоторых моралистов, пили наши ребята слишком много. Для шабашных бригад это, мол, нетипично.</p>
<p>58. Ho, во всяком случае, ребята с неожиданно выявившимся здесь пристрастием к зеленому змию и мату оказались весьма сродни печорскому быту, прекрасно вписывались в поселковый пейзаж.</p>
<p>59. Немедленно завязавшиеся контакты и знакомства с местными людьми сразу же сделали их своими в домах и клубах.</p>
<p>60. И снова меня спрашивают: «Разве туризм может так тесно сблизить тебя с иным миром?»</p>
<p>61. И опять я вынужден был соглашаться.</p>
<p>62. Возвращаясь с работы в общежитие и привычно отмечая по дороге оригинальные черты местной жизни,</p>
<p>63. вроде этих детей, копошащихся недалеко от очереди за водкой,</p>
<p>64. или красоту полуночного северного неба,</p>
<p>65. мне думалось: «Сколько раз мы с Лилей бывали вот в таких северных деревнях и поселках, мимолетными туристами,</p>
<p>66. а вот сейчас я взаправду живу здесь, пусть временным, но нужным, своим человеком, жителем.</p>
<p>67. Да, в споре о преимуществах шабашки перед туризмом я терпел полное поражение  и сдавался почти сразу.  </p>
<p>68. Но хоть хорошо было на печорской шабашке, но на будущий сезон, я, наверное, уже не поеду. Трудно найти этому оправдание.</p>
<p>69. Как будто судьба уготовила нам с Лилей летний туризм в правило, в привычку. И поздно, невозможно перестраивать себя по иному.</p>
<p>70. Я не верил, но даже в этом году Лиле удалось выбраться из дома на неделю. Однако она не поехала проветриться ко мне на Печору, а наоборот, отозвала меня в поход на Онегу, несмотря на всю неудобность моего отъезда перед штурмовым концом работ.</p>
<p>71. Показав шабашную Печору и, не скрывая всех достоинств такого рода отпуска, мы покажем теперь туристскую Онегу, верхнее Онежье-Каргополье с его дорогами, лесными озерами и старыми церквями, надеясь из сравнения выудить понимание.</p>
<p>72. Два дня Витя добирался до Каргополя, где мы с Темой его ждали. Четыре дня длился поход и два дня - мы возвращались домой.</p>
<p>73. И всего-то! но впечатлений набралось на 4 пленки, больше, чем за 1,5 месяца шабашки.</p>
<p>74. В такой насыщенности путевого образа жизни - одна из главных прелестей и плюсов туризма.</p>
<p>75. С погодой нам повезло. Только в первое утро, в Ошевенске, что в 50-ти км от Каргополя, сеял дождичек.</p>
<p>76. В Ошевенском монастыре мы были впервые. Но все здесь казалось очень знакомым. Вот так же в дождик ходили мы по мокрым стенам с </p>
<p>77. уцелевшими башнями можайского монастыря, полуразрушенным кельям Иосифо-Волоколамского, касались церковных стен</p>
<p>78. Соловецкого, Кирилловского, Михаил-Архангельского...</p>
<p>79. За 10 лет наших похождений многое стало знакомым и привычным. И хотя этот поход по новым местам края, где мы один раз были, стал как бы возвращением-припоминанием давнишнего и дорогого впечатления.</p>
<p>80. От монастыря видна вдалеке деревянная Богоявленская церковь,   </p>
<p>81. А вот она вблизи.</p>
<p>82. Через километр длинной деревни стоит часовня. С тех пор, как 8 лет назад я увидела деревянные церкви, не переставала мечтать о новой встрече с ними. Именно здесь, на севере, на их исконных местах, в окружении мощно растущих деревьев, рядом с серыми от дождей домами.</p>
<p>83. Есть какая-то невыразимая сладость в том, чтобы погрустить около них и, скользнув взглядом по шатру, вдруг оторваться в небо.</p>
<p>84.  Потом был дремучий лес, ночевка в палатке и длинный долгий переход по «худой», как нам сказали, дороге - до Макарьевского скита.</p>
<p>85. Для нас эта дорога была нетрудной, скорее приятной. Для Темы же полный день был событием,</p>
<p>86. а сто с лишним километров за весь поход, думаю, станут незабываемыми. Мы боялись, что Теме будет трудно. Но он шел впереди нас совсем неплохо.</p>
<p>87. Как способ приобщения детей к природе, к истории, ко всему богатству земли народа, туризм, конечно, не заменим ни дачей, ни шабашкой. Вот только мало мы ходим вместе с детьми...</p>
<p>88. Тема очень хотел взять домой эту резную деталь иконостаса, как сувенир. Но Лиля была против: «И так церкви люди разрушают и грабят, да еще мы будем разбирать». - «Но, мама, ведь она все равно тут пропадет в куче мусора...» - «Все равно не бери. Пока пропадет, другие посмотрят...»</p>
<p>89. А кругом - тишь озера и былая жизнь. Церковная решетка уже не отделяет молящихся от окружающего мира. Разрушены двери и ограды, никого не держат. Но оказалось, что вместе с ними была разрушена и вся внешняя жизнь. Вместе с церковью покинули люди и весь этот озерный край, оставив пустынные дома для приезжающих рыбаков,</p>
<p>90. да заросли малины</p>
<p>91-93. - (виды Макарьевских озер)</p>
<p>94. К вечеру мы прошли 19 км до Лекшмоозера и на его роскошном берегу остановились.</p>
<p>95-98. Песчаное, мелкое, чистое, рыбное озеро. В можжевельниковых и сосновых зарослях. Там было очень здорово отдыхать после пешего перехода и всей суммы дневных впечатлений.</p>
<p>99. На следующий день мы шли по старому почтовому тракту на Кенозеро</p>
<p>100-105. по водоразделу между Онегой и Онежским озером </p>
<p>106. А вечером было Порженское с древней и очень красивой церковью на погосте, окруженном мощной бревенчатой оградой.</p>
<p>107. Мы долго здесь крутились, Темке надоело и хотелось уйти. А мы не могли толком объяснить, зачем мы тут торчим.</p>
<p>108. С недавних, совсем недавних пор я стал понимать, зачем люди ходят на кладбища. Почему им надо это делать. Не только потому, что все люди смертны и лишь на кладбище, пожалуй, лучше всего думать о себе, людях, о своих детях и предках, о вечном.</p>
<p>109. Нет, дело  не только в тишине и размышлениях. Нам, атеистам, недоступна церковь с ее сложнейшей психотерапией,</p>
<p>110. но заменить ее мы можем, пусть неполно, посещая кладбища или исторические памятники, что, в сущности, одно и то же. Здесь действует не разум, а интуиция и чувство, создавая настрой высокий, или, как раньше говорили -<u> умиленность.</u></p>
<p>111. Не знаю, как точнее выразиться. Но надеюсь, что Вы меня поймете.</p>
<p>112. Тихая радость от встречи с предками в их вещах и строениях - первый толчок к пробуждению чувства родной истории и ответственности. После уж разум поможет связать прошлое с настоящим и увидеть в нем будущее. </p>
<p>113. Нельзя недооценивать это следствие походов.</p>
<p>114. Шабашка вся нацелена на современность. Она дает человеку перемещение лишь в географическом плане и снова швыряет его в нашу настоящую жизнь с ее заботами, проблемами, страстями, которыми он кипит весь зимний сезон.</p>
<p>115. Туризм же меняет обстановку кардинально. Он вырывает человека напрочь из города и помещает его - </p>
<p>116. или среди девственной природы на положении дикаря-охотника,</p>
<p>117. или, как нас на Онеге - в иные времена, к далеким предкам.</p>
<p>И если человек как следует почувствует вкус и тягу к истории и миру, он, видно, останется бродягой до гроба.</p>
<p>118-125.</p>
<p>126.Четвертый день мы мало ходили и весь провели на Кенозере, в излюбленном художниками крае: купались, катались на единственном пассажирском теплоходе на озере, глазея с борта на разнообразные кенийские деревни и деревянные часовни...</p>
<p>127. Вечером этого дня мы сделали последнюю 12-км экскурсию к Филипповской шатровой церкви</p>
<p>128-130.</p>
<p>131-133. Как и другие северные красавицы, она охраняется государством, но разрушается от равнодушия властей. Я говорю - властей, потому что сами люди не равнодушны к ней. Разговаривая с молодыми шоферами, для встречи с ней сделавших крюк, и с пожилыми отхожими мужиками, возвращающимися в родную Филипповскую на выходные дни, мы ощущали и уважение, и гордость, и любовь. И было ясно: дай возможность местным и пришлым людям собрать деньги, они б выполнили свой долг перед предками, прибрали бы и уходили свою церковь-память</p>
<p>134. на радость и умиленность себе и всем бесчисленным детям детей детей своих...</p>
<p>135. Вот и весь наш поход. Еще один день мы плыли </p>
<p>136. по Кенозеру до Першлахты, оттуда автобусом мимо </p>
<p>137. Кенийского монастыря </p>
<p>138. до знакомого Конева, из которого 8 лет назад отправились вдвоем на байдарке вниз по Онеге,  а маленький Тема оставался дома.</p>
<p>139. А теперь мы катим вдоль Онеги автобусом и выросший, серьезный Тема сидит вместе с нами.</p>
<p>140. Вечером и ночью была железная дорога,</p>
<p>141-148. а утром - Вологда. Ну не странно ли: в этом 
городе мы были раньше один раз, а встречаемся с ним, как со старым другом.  
Здесь, в Вологде, мы радуемся Софийскому собору, освобожденному от реставрационных лесов, с головой окунаемся в мир его фресок, печалимся, что другим церквам еще долго ждать возрождения.</p>
<p>И даже не сердимся на то, что нас, как и в прошлый раз, не пустили в Прилуцкий монастырь, и мы снова ограничиваемся лишь подсматриванием памятников через стенные амбразуры и разглядываем их с предмостных земляных укреплений.</p>
<p>149. (кадр улыбающейся Лили у прилуцких стен) «Ну, скажите теперь - почему Лиля так счастлива?» ...Этим кадром я хотел бы закончить диафильм. Но боюсь, что Вы не сможете быть объективными и сделаете заключение только в пользу туризма.</p>
<p>150. А мне хотелось бы избежать односторонности</p>
<p>151. Конечно, случайность, что с суровой и рабочей Печорой у меня связался длинный шабашный сезон, </p>
<p>152. а с древней, поэтической Онегой - короткий туристский отдых, и все же я не могу отвязаться от онегинско-печорских сравнений.</p>
<p>153. Может, и правда, на смену туристской и раздумчивой Онеге идет</p>
<p>154. шабашно-деятельная Печора? Неужели и здесь будет брать верх излюбленный мною экономизм?</p>
<p>155. Вряд ли... В мире всему есть место. Вы только вспомните, что  из века в век, рядом и не тесня друг друга, текут Онега и Печора в один и тот же вечный Ледовитый океан.</p>
</div>
<br/>

{% endblock content %}
