<html>
<head>
<img src="/static/images/zes.jpg"/>;
<title>ЗЭС N1: В.Грин Плановое производство, дефицит, спекуляция </title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<link href="/modules/m.css" media="all" rel="stylesheet" type="text/css"/>
<table width="600"> <tr> <td>
<a href="0.1.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="1.2.html"> следующая </a>
</td></tr></table>
</head>
<body>
<script src="/modules/utilities.js" type="text/javascript"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            add_footer()
        });
    </script>
<h3>В защиту экономических 
свобод.            Выпуск 
1</h3>
<h1>
<p><font size="4">Раздел I. Постановка проблемы (оправдание экономически свободных 
людей)</font></p></h1>
<h1>В.Грин Плановое производство, дефицит, спекуляция </h1>
<p><strong>Ценность. </strong>Ценность, ценность… Большевикам удалось 
кастрировать сознание советских людей, вырезав из него самое важное понятие. Не 
побоялись даже Маркса фальсифицировать, который, как известно, не отождествлял 
стоимость и ценность. Однако советским переводчикам было приказано их 
отождествить.</p>
<p>Весь мир создает ценности, а мы – стоимости, т.е. абстрактный труд, который 
сам по себе никому не нужен. Нужен-то ведь качественный продукт, т.е. ценность 
(Ц).  Ц есть отношение субъекта к вещи с точки зрения ее использования. 
Величина Ц определяется величиной изменения эмоции при потреблении вещи. 
Следовательно, Ц может быть положительной, нулевой и отрицательной. Важным 
примером отрицательной ценности является нетворческий труд.</p>
<p>За единицу Ц люди подсознательно принимают абсолютную величину Ц единицы 
времени среднеинтенсивного нетворческого труда. При 6-8-часовом дне Ц 
нетворческого труда в среднем пропорциональна его количеству, два часа 
нетворческого труда вдвое отвратительнее одного часа. Но количество 
нетворческого труда в среднем пропорционально его денежному эквиваленту! 
Поэтому, выбрав некоторый масштаб, за единицу Ц мы можем принять Ц денежной 
единицы, например, рубля! С помощью денежной единицы, как единицы Ц, измеряются 
Ц почти всех вещей в мире. Очевидно, Ц могут иметь вещи, как созданные трудом, 
так и не созданные им.</p>
<p>В обществе Ц может быть потреблена двояким образом: непосредственно субъектом 
или быть обменённой на другую вещь. В первом случае Ц имеет потребительскую 
форму (ПЦ), во втором – меновую (МЦ). В итоге Ц вещи для субъекта равна 
максимуму из ПЦ и МЦ. МЦ равна ПЦ вещи, приобретенной в результате обмена. 
Каждый субъект стремится к максимальному потреблению Ц. Этот закон можно считать 
<em>первым социальным законом.</em> </p>
<p>Величина ПЦ вещи является крайне субъективной. Например, наркотики для одних 
людей имеют положительную ПЦ, для других – большую отрицательную. Люди, 
утверждающие, что они не максимизируют потребление Ц, максимизируют потребление 
Ц такой вещи, как безделье. Величина ПЦ для субъекта определяется 
потребительными свойствами вещи и эмоциональным состоянием субъекта. ПЦ хлеба 
для голодного человека намного выше, чем для сытого. Также ясно, что с ростом 
количества продукта в распоряжении субъекта ПЦ каждой дополнительной единицы 
продукта будет уменьшаться. При бесконечном количестве продукта, например, 
воздуха, его ПЦ свыше некоторого количества будет равна нулю, несмотря на 
присутствие потребительных свойств. С другой стороны, при помощи труда (в силу 
его ограниченности) мы не можем произвести бесконечное количество искусственного 
продукта, и если последний имеет потребительные свойства, то обязательно имеет и 
ПЦ. Для существования МЦ у вещи, необходимо выполнение двух условий: 1) субъект 
должен иметь монопольное право распоряжаться вещью (в противном случае другие 
воспользуются этой вещью без обмена), 2) вещь должна являться ПЦ для других. 
</p>
<p><strong>Модель производства и обмена. </strong>Вещь, предназначенная к 
обмену, называется товаром. Товар не обязательно должен быть рукотворным. Но 
поскольку большинство товаров создается трудом, а труд имеет отрицательную Ц, то 
<em>первый социальный закон порождает второй</em>: максимализация нормы 
прибавочной ценности, т.е. на каждую единицу труда (следовательно, и ценности 
труда) получить максимум ценности.</p>
<p>Само производство есть вырожденный случай обмена между человеком и природой: 
мы отдаем свое здоровье и силы, а взамен получаем продукт. Весьма существенно, 
что субъект пойдет на обмен лишь в том случае, если взамен он получит заведомо 
большую Ц. Если он производит вещь, то ее Ц. с необходимостью должна быть больше 
абсолютной величины затраченного труда. При покупке вещи за 10 руб. ее цена 
заведомо больше этих 10 руб. То же верно и относительно его партнера. (Если 
грузин готов заплатить за "Волгу" 20 тыс., а купил машину за 9200, ценность ее 
для него заведомо выше госцены). Это означает, что наличная ценность у каждого 
субъекта после обмена строго возрастает. Этот факт можно считать законом обмена, 
или <em>третьим социальным законом.</em> </p>
<p>Количество другого товара, получаемого в обмен на единицу данного товара, 
называется ценой. Цена назначается продавцом. От ее величины зависит скорость, 
следовательно, и объем реализации. С ростом цены скорость реализации падает 
- это <em>четвертый социальный закон.</em> </p>
<p>Если издержки производства в отрасли плюс средняя прибыль (т.е. стоимость) 
для уже произведенного есть величина фиксированная, то цена – величина 
произвольная, и уж коли товар подан на прилавок, цена ни в коей мере не зависит 
от его стоимости. Продавец всегда старается продать товар как можно выгоднее: 
подороже и одновременно побыстрее.</p>
<p>Стоимость он будет учитывать потом: если цена обеспечила ему среднюю норму 
прибыли, то он будет продолжать и, может быть, расширять производство, если же 
нет, то он будет его свертывать. Именно так проявляет себя закон стоимости. По 
сути дела здесь проявляется <em>пятый социальный закон</em> : каждый 
производитель старается получить прибыль как минимум по средней (для общества) 
норме. Статистическим следствием этого закона является факт: при отсутствии 
высокой степени монополизации в отраслях средние нормы прибыли во всех отраслях 
приблизительно равны.</p>
<p>Таким образом, мы рассмотрели наиболее обобщенную модель демократического 
товарного производства.</p>
<p><strong> Монополия. </strong>Что же произойдет, если мы введем в нашу 
модель насилие?</p>
<p>Допустим, некоторая отрасль будет монополизирована одним производителем, т.е. 
другим производителям будет запрещено прямо или косвенно (конечно, при помощи 
аппарата насилия) вливаться в эту отрасль и конкурировать с монополией? Тогда 
монополия незамедлительно поднимет цены на свой товар. Это приведет к сокращению 
спроса, следовательно, и к сокращению производства и его издержек, хотя издержки 
на единицу продукта возрастут. Но в итоге норма прибыли фантастически возрастет, 
вследствие чего может возрасти и общая норма прибыли. Капитал же, освободившийся 
за счет сокращения производства, может быть направлен в другие отрасли, где он 
может рассчитывать на среднюю прибыль.</p>
<p>Рассмотрим числовой пример: 
<table align="center" border="0" cellpadding="3" cellspacing="0" width="100%">
<tbody>
<tr>
<td></td>
<td>До монополизации </td>
<td>После монополизации </td></tr>
<tr>
<td>Среднеобществ.норма прибыли </td>
<td> 0,1-10%</td>
<td> 0,1-10%</td></tr>
<tr>
<td>Цена одного изделия </td>
<td>1,1 р.</td>
<td>1,5 р.</td></tr>
<tr>
<td>Себестоимость 1 изд.</td>
<td> 1 р. </td>
<td>1, 1р.</td></tr>
<tr>
<td>Прибыль с 1 изд.</td>
<td>0,1р</td>
<td>0,4р.</td></tr>
<tr>
<td>Норма прибыли в отрасли </td>
<td>0,1:1=10% </td>
<td>0,4:1,1=36%</td></tr>
<tr>
<td>Кол-во произвед. продукции при предложении, равном спросу </td>
<td>1 млрд.шт.</td>
<td>0,5 млрд.шт</td></tr>
<tr>
<td>Прибыль в отрасли </td>
<td>0,1х1=0,1млрд.р.</td>
<td>0,2 млрд.р.</td></tr>
<tr>
<td>Капитал, необходимый для функционирования отрасли </td>
<td>1р.х1млрд.шт 
      <p>=1млрд.р. </p></td>
<td>0,55 млрд.р. </td></tr>
<tr>
<td>Избыток капитала в отрасли по сравнению с исходным капиталом </td>
<td>      -</td>
<td>1-0,55 = 0,45млрд.р. </td></tr>
<tr>
<td>Прибыль на капитал, помещенный в другую отрасль </td>
<td>      -</td>
<td>0,45х0,1=0,045млрд.р.</td></tr></tbody></table></p>
<p></p>
<p></p>
<p> Прибыль монополии послемонополизации 0,2+0,045= 0,245млрд.р. </p>
<p>Из примера видно, что несмотря на сокращение капитала в отрасли не только 
норма прибыли баснословно возросла, но возросла и масса прибыли с 0,1 до 0,2, а 
с учетом помещения освободившегося капитала в другую отрасль – до 0,245 
млрд.руб. Итак, барыш монополии очевиден. А что получило общество?</p>
<p>Та часть населения, которая приобрела продукт после монополизации, понесла 
убыток в размере 0,5х(1,5-1,1)=0,2 млрд.руб, ибо на эту сумму она переплатила 
монополии за те же потребительские ценности. Но и та часть населения, которая 
отказалась приобрести продукт из-за повышения цены, также понесла убыток, ибо на 
деньги, предназначенные ранее для покупки продукта, она приобретает другой 
продукт с заведомо меньшей потребительной ценностью.</p>
<p>Таким образом, монополия увеличила свою прибыль на 0,245-0,1=0,145 млрд.руб. 
Это означает, что от монополизации отрасли общество в целом гарантированно несет 
убыток, и даже в том случае, если сверхприбыль монополии отдана в распоряжение 
общества.</p>
<p>Убыток, который несет советское общество от государственной монополизации 
производства легковых автомобилей (как и всех остальных отраслей!) и устойчивого 
во времени пятикратного завышения цен на них относительно стоимости, намного 
превышает кажущуюся сверхприбыль. Пусть годовой выпуск автомобилей = 1 млн.шт, 
себестоимость – 800 р., стоимость – 1000 р., цена – 5000 р. Сверхприбыль 
(5000-1000)х1 = 4 млрд.р.</p>
<p>При отсутствии государственной монополии на выпуск и цену автомобилей 
(например, другие отрасли могли бы свободно подключиться) их выпуск мог бы 
составить, скажем, 10 млн.шт. в год с себестоимостью 500 руб/шт., стоимостью и 
ценой – 600 руб/шт. Получается, что сегодняшний действительный покупатель (т.е. 
1 млн. чел.) по сравнению с монопольным производством несет убыток! 
(5000-600)х1=4,4 млрд.руб.. 9 млн.чел., которые желали бы купить машину по цене 
600 руб., остаются без оной. Какова же средняя ценность автомобиля для этой 
категории покупателей? – Очевидно, что нижняя граница = 600 р. (по этой цене 
готовы купить все 9 млн.человек), а верхняя = 4999р.99к. (Если ценность 
автомашины превышает эту величину, то субъект не покупает машины). Учитывая, что 
для основной массы из 9 млн.чел. ценность автомобиля будет ближе к нижней 
границе (600 р.), предположим, что для 4 млн.чел (ниже других оценивающих 
автомобиль) средняя ценность равна 1000 р., и они в основном проиграют, купив на 
600 руб. другие вещи: ведь ценность купленного будет заведомо выше этих 600р. 
(скажем, 1000 р.).</p>
<p>Для остальных 5 млн.чел. положим среднюю (между 1000 и 5000 р.) ценность (она 
будет ближе к нижней границе – 1000 р.) в 2000 р… Вынужденная купить на 600 р. 
товаров со средней ценностью в 1000 руб. вместо автомобиля с ценностью 2000 
руб., эта масса несет убытки на сумму (2000-1000)х5=5 млрд.руб.</p>
<p>Таким образом, прямые убытки населения = 4,4+5=9,4 млрд.руб.! С учетом 
сверхприбыли государства общество в целом ежегодно терпит прямые убытки 
(относительно оптимального варианта) на 9,4-4=5,4 млрд.руб.!!Это означает, что 
только за счет ликвидации монополии на производство автомобилей без 
дополнительных затратблагосостояние общества возросло бы на 5,4 млрд.руб. Вместо 
того, чтобы сверхприбыль (4 млрд.руб) срочно вкладывать в автомобильную 
промышленностьна ее развитие и тем самым действительно содействовать 
экономическому прогрессу, государство-монополист перебрасывает эти средства в 
отсталые отрасли, стимулируя(!) тем самым их отсталость.</p>
<p>Вывод таков: монополизация (как одна из форм насилия) в сфере производства и 
ценообразования общественно вредна!</p>
<p><strong>Дефицит. </strong>Выше мы разобрали экономическую модель, когда между 
спросом и предложением мы предлагали равновесие. Действительность же намного 
суровее: в тоталитарной социалистической практике этого никогда не было и, как 
мы увидим ниже, невозможно в принципе.</p>
<p>В основе ценообразования у нас лежит пресловутый закон стоимости, т.е. цены 
устанавливаются обычно на уровне стоимости. Планирование производства, в 
основном, определяется двумя факторами: пропорциональностью развития и 
неуклонным ростом производства. Спрос при этом не учитывается, да и не может 
быть учтен в принципе. Учет желаний потребителей невозможен из-за огромного 
количества информации. Во-вторых, через год эти желания изменятся, и в-третьих, 
одного желания мало – для купли нужны средства. И даже оценив средства 
населения, невозможно предвидеть структуру их расхода.</p>
<p>Принцип пропорциональности тоже нереализуем. Чтобы он работал, необходимо 
планирование всех, а не только важнейших продуктов. Но с этой целью не справятся 
никакие ЭВМ. При частичном же планировании успех отнюдь не только не 
гарантирован, но и невозможен: не спланировали производство тривиальной гайки, и 
план по производству всех механизмов летит в тартарары.</p>
<p>Тем не менее, Госплан сделал вид, что спланировал, и в один прекрасный день 
товар поступил на прилавок по цене, уже назначенной другим ведомством. Но каждой 
цене соответствует свой спрос. Скажем, на швейные машины Подольского завода при 
цене 70 руб/шт. ежегодный спрос = 100 тыс.шт., а запланировано производить 500 
тыс., в результате за короткое время на складе завода скопилось 2 млн. швейных 
машин - 140 млн.руб. чистого убытка! - обычный для советской экономики кризис 
перепроизводства.</p>
<p>В одно время появились лакированные дамские сапоги. По цене 30 руб./пару 
спрос на них равнялся, наверное, около 50 млн. В магазины же поступило, 
допустим, 1 млн. пар. Но чтобы при этом количестве спрос приравнять к 
предложению, цену надо было назначить на уровне 50рубб, это – так называемая 
рыночная цена. Если на товар назначена цена ниже рыночной, то он обязательно 
становится дефицитным. Это, так сказать, текущая форма дефицитности, в отличие 
от хронической, которую можно рассматривать как долговременное отклонение 
рыночной цены от стоимости, например, в нашей автомобильной промышленности. 
Дефицит в первой случае прекратить легко, если назначить на товар рыночную цену. 
Дефицит во втором случае может быть ликвидирован только с ликвидацией монополии 
на производство.</p>
<p><strong>Спекуляция. </strong>Продолжим разбор ситуации с дамскими 
лакированными сапогами. Итак, сапоги поступили в магазин по цене 30 руб. за 
пару. Но за дверями стоит толпа жаждущих и готовых уплатить и по 50 руб. (иные и 
того больше!). И как добрый и даже недобрый продавец может отказаться 
удовлетворить просьбу покупателей продать им сапоги по 50 руб.? – Конечно, на 
доверчивого работника торга государство расставило сети статей уголовного 
законодательства, но в то же время именно само государство путем занижения им 
установленной цены подталкивает продавца на спекуляцию – ведь покупатели сами 
дают!</p>
<p>Попытаемся оценить экономический эффект спекуляции. 1 млн. пар сапог будет 
наверняка продан и по 30 руб., и по 50 руб. По 30 руб. желающих купить равно 50 
млн. чел., по 50 руб. – 1 млн. Для 49 млн. человек ценность сапог колеблется от 
30 до 50 руб. и в среднем составляет (учитывая математические свойства функции 
спроса) около 32 руб. Для 1 млн.чел. (готовых купить и по 50 руб.) их ценность в 
среднем будет составлять около 55 руб. Общественная потребительская ценность 
всех сапог в первом случае равна 32 млн. руб., а во втором – 55 млн. руб., т.е. 
намного выше! Это означает, что спекулянты способствуют (после того, как 
государство уже совершило нелепый экономический шаг с назначением низкой цены), 
более эффективному использованию общественного продукта, ибо направляют этот 
продукт тем покупателям, которые ценят его наивысшим образом.</p>
<p>Можно понять обиду тех, для кого ценность сапог заключена между 30 и 50 руб., 
кто купил бы сапоги за 30 руб. и отказывался покупать за 50 руб. Им кажется, что 
первопричина их обиды – спекулянты. Дудки! Они забывают о том, что при цене 30 
руб. они должны на 20 руб. поработать на очень изнурительной работе: постоять в 
очереди, и не один час! Именно эту работу за них выполняют рядовые спекулянты и 
20 руб. являются по существу их заработной платой. Когда же спекулируют сами 
продавцы, они отнимают хлеб насущный у рядовых спекулянтов, не совершая при этом 
никакой полезной работы. Вот она, вша на шее труженика!</p>
<p>Стойте! Не спешите с окончательным выводом! Не забывайте, что люди 
добровольно переплачивают спекулянтам, и, следовательно, являются соучастниками 
"преступления".</p>
<p>Тогда обиженные бросают последний аргумент: "Почему мы не имеем нетрудового 
дохода, а он, гад, имеет?" – Но разве спекулянт виноват в том, что люди сами ему 
переплачивают? По-видимому, подсознательно наш гнев вызван неравноправием 
относительно нетрудового дохода: он – имеет, а мы – нет! Но разве это 
неравноправие? Недовольные тоже имеют право на этот "нетрудовой" доход – пусть 
идут в продавцы! И вот только сейчас начинает проглядывать истинная причина зла: 
всем желающим не хватит мест продавца, ибо их число ограничено! Это ограничение 
вытекает из монопольного (т.е. поддерживаемого аппаратом насилия!) права 
государства устанавливать количество рабочих мест в торговле! А отсюда следует, 
что продавцы (и не только они!!!) монопольно распоряжаются общественным 
продуктом! А мы с вами не имеем этого права, как не имеем права и требовать от 
государства установления назначенной цены на уровне рыночной! Как не имеем права 
производить дефицитный продукт по личной инициативе!</p>
<p>В нашем примере с сапогами 20 млн.руб., которые попали в карманы спекулянтам, 
есть те средства, от которых по нерадивости отказалось государство. В обществе с 
демократической экономикой цены на сапоги при выпуске в 1 млн.пар обязательно 
были бы установлены на уровне рыночной – 50 руб., и 20 млн.руб. сверхприбыли 
получили бы, в основном, не спекулянты, а именно те предприятия, которые 
выпустили дефицитную обувь. Эта сверхприбыль немедленно направляется на 
увеличение её производства (к этому их "принудят" конкуренты), вследствие чего в 
считанные месяцы (а не годы!) дефицит ликвидируется, спрос покупателей 
удовлетворен полностью. Причем рыночная цена быстро упадет вследствие роста 
предложения до уровня стоимости – 30 руб. за пару (У нас эти сапоги вышли из 
моды до удовлетворения полного спроса! Сейчас вы можете их увидеть в отделах 
уцененной обуви! По 10 руб.!!!). Ни тебе дефицита, ни спекуляции, ни очередей. 
Как в Америке! Таким образом, дефицитность, очереди и спекуляции – суть 
следствия тоталитарной экономики.</p>
<p><strong>Дефицит и воровство. </strong>При отсутствии дефицитного товара на 
прилавке некоторые покупатели не могут приобрести позарез нужный им товар ни за 
какие деньги! Черный рынок находится неизвестно где, а госпредприятие, 
производящее дефицит,- рядом, и идет покупатель к проходной…</p>
<p>Комплект вкладышей к рулевым тягам для "Москвича" стоит 10-20 коп (при 
стоимости 5 коп, ну да ладно…). Но в магазин они практически не поступают. И 
крадут их рабочие со всех автобаз и заводов, где их изготовляют. За пятачок не 
посадят, а на "черном рынке" это – "бутылка", не меньше! Так государство 
стимулирует производственное воровство.</p>
<p><strong>Дефицит рабочей силы и спекуляция должностями. </strong>Рабочие места 
или должности есть тоже вещи, причем имеющие меновую ценность для руководителя 
предприятия, потому что они монопольно принадлежат ему и в то же время являются 
потребительными ценностями для других. Поскольку цена рабочего места (зарплата) 
устанавливается "с потолка", то отклонение ее от рыночной цены 
гарантировано.</p>
<p>Это значит, что все сказанное выше относительно товара вообще, верно и 
относительно товара "должность". Существуют должности крайне дефицитные. Чтобы 
ее получить, работник должен дать руководителю хорошую взятку. Например, на 
Кавказе взятка за должность сторожа винзавода=10000 руб.! С другой стороны 
огромное количество рабочих мест пустует: оклад на этих местах намного ниже 
рыночной цены этих должностей. Виновник положения – опять же монополистическое 
государство. Это означает, что само государство зачастую фактически запрещает 
производство дефицитных продуктов при помощи низкой зарплаты. Отклонение 
зарплаты от рыночной цены должности является также основной причиной текучести 
кадров, ибо есть работы выгодные и невыгодные.</p>
<p><strong>Мелкая буржуазия. </strong>Часто приходится слышать обвинения в адрес 
советских м/б бизнесменов. Рассмотрим явление на примере: Иванов выращивает розы 
и продает их на рынке по 5р. (ах, злодей! ах, спекулянт!) за штуку. Нет бы по 
рублю(?), а то ведь по 5! Обвиняющий не видит абсурдности своих обвинений. Как 
покупателя, его понять можно: он хочет "подешевле". Но если он считает, что 5 р. 
за цветок дорого, пусть попробует его вырастить сам! Ан, нет, не хочет. За 5 
руб. не хочет! Невыгодно! И государству невыгодно! Иначе оно обеспечило бы 
население цветами. Или не может. А вот Иванов может!</p>
<p>Но бывает так, что государство тоже выращивает розы и продает их по 2 руб. 
(при рыночной цене 5). Последствия гарантированы: дефицит, очередь, спекуляция 
(помните? – По телевизору показывали). А у Иванова нет очереди, зато цветы 
всегда есть. И если в госларьке вы кланяетесь продавцу, то на базаре Иванов 
кланяется Вам. Так что Иванова надо любить и жаловать – это истинный слуга 
народа (не бесплатно, конечно; бесплатно – ни вы, ни государство слугой быть не 
желает). Он решает такие проблемы, которые ни вам, ни государству 
непосильны.</p>
<p>В свою очередь у меня есть обвинения против обвиняющих, требующих: "Пресечь!" 
Не желаете покупать цветы – проходите мимо! Если у Иванова покупает 
(добровольно!!!) цветы Петров – это их личное дело! Вам-то что до того?</p>
<p>Но что получится, если "пресечем!"? – Петров останется без цветов, Иванов без 
денег. Жизненный уровень двух людей в обществе (а, следовательно, и самого 
общества!) принудительно стал ниже!</p>
<p>Правда, есть в этой ситуации подводный камень. Товарищ Сидоров считает, что 5 
р. – дорого, а надо – 4 р. И он готов производить и продавать по 4 р./шт. Но 
беда в том, что Сидоров не может заняться этой работой, потому что не имеет 
земли и иметь без особых жертв не может. Земля принадлежит государству. Иванову 
она могла достаться бесплатно, а Сидоров может приобрести ее только за очень 
большие деньги, ибо в стране Советов люди имеют неравные права на землю, и земля 
в этом случае обладает свойством давать ренту, т.е. сверхприбыль. Первопричина 
этого опять тоталитарное государство.</p>
<p>Можно сказать, что люди в нашей стране лишены всяких прав повышать 
благосостояние народа. Однажды "Человек и закон" ополчился против одного 
делового крестьянина, который собрался в одиночку обеспечивать куриным мясом (не 
бесплатно, конечно) небольшой город (17000 кур ежемесячно). Фураж воровать 
будет! Доля истины есть: рядовой гражданин не имеет права покупать много фуража, 
нельзя! На том и порешили: гражданин без денег, город без мяса. По сей день… И 
едут люди за тыщу верст в Москву за продуктами.</p>
<p><strong>Итоги. </strong>Труд на поиск товаров, дорогу до магазинов и 
простаивание в очередях является необходимым. Если учесть и необходимый труд в 
домашнем хозяйстве (на приготовление пищи, ремонт квартиры и т.п.), то 
получается, что рабочий день в СССР равен 12-13 час. в сутки (считая и 
выходные), т.е. вдвое длиннее, чем в США или у рабов Древней Греции (там было 
157 нерабочих дней).</p>
<p>В магазинах пусто. Цены непрерывно растут (в соответствии с законом 
стоимости, что ли?) И это в стране с самыми богатыми природными ресурсами и с 
"самым прогрессивным социально-экономическим строем"!</p>
<p>Вместо того чтобы бороться за расширение экономических и политических свобод 
большинство граждан осуждает любые их проявления. Элиту это вполне устраивает. 
Поэтому в обществе устойчиво действует антипрогрессивный закон: те, кто желают и 
могут поднять экономику страны – не имеют права, а те, кто имеют право – не 
хотят и не могут. Как долго народ будет удовлетворяться этим законом? 
1968,1978</p>
<p><strong><em>Примечания составителя:</em></strong></p>
<p>Помещая статью В.Грина в качестве "передовой" и соглашаясь с ее основным 
духом, я должен отметить и свое несогласие по многим пунктам. Например, 
думается, что положение о несомненно монополистической природе государства 
следует использовать с большей осторожностью, чтобы не получалось, что от 
продажи автомобилей по пониженной (в сравнении с рыночной) цене, государство 
"наживается", хотя известно, что сегодня страна производить большее количество 
машин – не в состоянии (значит, нет монопольного запрета на производство). 
Нелогично заявление о спекулирующих продавцах, как "вшах на шее народа" и 
т.д.</p>
<p>Однако сейчас не время обсуждать эти несогласия. К ним следует вернуться в 
следующих выпусках.</p>
<p></p>
<p></p><table width="600"> <tr> <td>
<a href="0.1.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="1.2.html"> следующая </a>
</td></tr></table>
<br/>
</body></html>
