{% extends 'base.html' %}
<title>ЗЭС: К.Буржуадемов "Я обвиняю интеллигентов – служащих...</title>
{% block content %}



<h3>В защиту экономических 
свобод            Выпуск 
1</h3>
<p><strong><font size="4">Раздел I. Постановка проблемы</font></strong></p>
<p><font size="5"><em>К.Буржуадемов </em><strong>"Я обвиняю интеллигентов – 
служащих и потребителей в противостоянии экономическим свободам и прогрессу 
Родины"</strong></font></p>
<p>Я решаюсь на это, на безоглядную и резкую откровенность. Потому что молчать и 
терпеть двусмысленность более невозможно. Чем дальше, тем больше ширится 
всеразрушительная, безответственная и неконструктивная критика (особенно со 
стороны околодиссидентской интеллигенции) и не только государства и его 
экономической политики, но и тех новых экономических сил, которые уже сегодня 
выводят общество из "государственного тупика". Конечно, околодиссидентская 
интеллигенция является лишь частью того слоя нашего народа, который с одной 
стороны в качестве служащих покорно служит всесильному государству, а с другой 
стороны – в качестве потребителей бесплатных и полубесплатных государственных 
услуг и товаров – рабски зависит от "системы". Но, получив сегодня некоторую 
свободу для самовыражения (в печати и неофициально), именно эта часть народа 
обратила острие своей критики не в обеспечение дальнейшего расширения свободы и 
ответственности во всех сферах жизни, а совсем наоборот – для укрепления и 
усиления своих привилегий, своего бездельного и потому рабского состояния…</p>
<p>Но я уже начинаю увлекаться сутью, не сделав предварительных разъяснений. 
Дело в том, что я сам являюсь государственным служащим, потребителем и 
посетителем государственных магазинов, сам принадлежу к числу околодиссидентской 
интеллигенции и потому разделял, а может и разделяю до сих пор многие ее 
притязания и иллюзии. Таким образом, здесь я соединяю в себе и обвинителя, и 
обвиняемого. Желание выдавить из себя все иллюзии, всего "раба – по капле", 
только подхлестывало мою резкость.</p>
<p>Но, обвиняя себя, я не желаю жалеть и своих упорствующих в корыстных иллюзиях 
друзей. Пусть будет правда между нами, какая бы она ни была тяжелая и опасная. 
Напротив, пусть она будет острой и целебной как хирургический нож. Обвинения 
слишком тяжелы, чтобы их замазывать. Пусть друзья в них разберутся… О, если бы 
они были правы, если бы доказали мне неправоту и указали бы иной выход! Пусть 
выступят "адвокаты", пусть побеждают, я буду только счастлив от их победы…</p>
<p>Да, раньше у меня еще оставались надежды на это, сегодня – нет. Лишь ясная 
трезвость и спасительная беспощадность.</p>
<p>1. Поскольку я обращаюсь со своим обвинением к самой околодиссидентской 
интеллигенции и ищу понимания у нее же, то, прежде всего, необходимо 
договориться об общих понятиях и целях.</p>
<p>Наверное, нормальным людям свойственно желать счастья и блага всем людям и 
себе тоже. Но тут же необходимо уточнить позиции. Например, существует точка 
зрения, что чем богаче в материальном смысле народ, тем он беднее в духовном, 
главном смысле. Я придерживаюсь иной, более распространенной точки зрения: 
материальное и духовное богатства людей не взаимоисключают, а 
взаимообуславливают и дополняют друг друга ("лучше быть "богатым и здоровым"), 
что на унавоженной материальным богатством почве обычно вырастает и богатая 
духовная культура. Если Вы с этим согласны, то мы можем договориться, что 
стремление к наибольшему валовому продукту (национальному доходу) страны – не 
противоречит, а способствуют благу наших людей. На общей основе такого 
утверждения можно вести нашу тему дальше.</p>
<p>Чтобы добиться наибольшего национального дохода, нужна наибольшая 
производительность труда, а для этого мы все должны работать наилучшим образом, 
по наилучшим технологическим и организационным схемам и, с другой стороны, 
должны использовать произведенную продукцию наилучшим, самым эффективным 
способом.</p>
<p>Если мы будем сегодня жить и работать таким наиболее рациональным, т.е. 
оптимальным способом, то сможем достигнуть самых высоких в мире жизненных 
стандартов (и этим удовлетворить свой национальный престиж) и одновременно 
накопить наибольшее количество средств (капитальных вложений) для будущего 
развития.</p>
<p>Однако что значит работать и потреблять наилучшим и наиболее организованным 
образом? Это значит, что каждый человек должен работать на самом удобном, 
соответствующим его способностям и возможностям месте, что он должен получать 
наиболее нужные ему продукты и что все потребление и производство продуктов 
должно быть сбалансировано (т.е. чтобы производилось продукции столько, сколько 
ее будет с пользой потреблено). При несбалансированности производства и 
потребления происходит прямая растрата и гибель народного труда – или при 
непотреблении произведенных уже товаров или от бездействия, омертвления 
потребителей, недополучивших нужную им продукцию (поле – минеральных удобрения, 
автомобиль – запасных частей, человек – не удовлетворив своей важной 
потребности…)</p>
<p>Согласны ли Вы с этим? Если "да", то вспомним, что существуют два главных 
способа-предложения, как можно осуществить такую оптимальную жизнь и работу:</p>
<p>* С помощью выполнения заранее и "научно" рассчитанного социалистического 
плана. Практика показывает иллюзорность этого предложения: невозможно заранее 
предусмотреть и вычислить все эффективные варианты производства и потребления, 
потому что невозможно познать до необходимой тонкости всю жизнь и, тем более, 
невозможно ее с такой же точностью предвидеть и планировать. В жизни любой план 
корректируется (настаивать на его абсолютном выполнении, значит привести к 
развалу хозяйство, к смерти – общество), но корректируется самыми случайными и 
неконтролируемыми способами.</p>
<p>* С помощью беспрерывного осведомления потребителей и покупателей чего кому 
надо, и беспрерывной балансировки-обмена на самом древнейшем из человеческих 
форумов – рынке. Этот обмен на рынке ведется с помощью игры цен на обмениваемые 
товары: производители (продавцы) повышают цены до максимума, потребители 
(покупатели) снижают их до минимума, а сходятся они все же на компромиссной, 
средней, рыночной, оптимальной цене.</p>
<p>Почему же эту компромиссную рыночную цену экономическая теория называет 
оптимальной? – А потому что она балансирует, уравновешивает спрос и предложение 
товара путем ограничения их предложения и потребления. Товары будут производить 
только те, кто способен от этой работы получить прибыль выше минимальной (при 
рыночной цене) и покупать их будут только те, кто в потреблении получит от них 
пользы больше, чем затратит на рынке денег.</p>
<p>Но прежде чем рассматривать это утверждение, попробуем согласиться со 
следующим:</p>
<ul>
<li>
<div> Деньги есть мерило всех товаров. Когда на рынке покупатель 
  предъявляет деньги, он тем самым предъявляет свидетельство о производстве им 
  каких-то общественно значимых продуктов и услуг, уже признанных и 
  востребованных обществом (рынком). Покупая товары за деньги, покупатель только 
  заканчивает ранее начатый эквивалентный обмен, оканчивает балансировку. Без 
  денег невозможен ни быстрый и полный обмен, ни разделение и, следовательно, 
  эффективность труда, ни балансировка производства и предложения. Поэтому 
  бессмысленно говорить о жестокости и несправедливости рынка, отказывающего в 
  потреблении людям, не имеющим денег. Рынок – это математический инструмент 
  балансировки, который и не должен уклоняться от своей математической 
  строгости, для которого исключения – это просто ошибки. Такие исключения 
  должно делать само общество, наделяя необходимыми деньгами своих неработающих 
  членов (пенсии, стипендии, пособия и пр.)</div>
<li>
<div> Производители и потребители не равны между собой. Есть более и 
  менее эффективные производители, как существуют более и менее эффективные 
  потребители. Продукт можно производить на высокопроизводительном автомате и 
  молотком на наковальне. Купленные запчасти можно использовать и для оживления 
  автомобиля, и для какой-нибудь домашней поделки. Поэтому и ставится задача, 
  чтобы продукт производили и потребляли самые эффективные 
  производители-потребители.</div>
<li>
<div>При этом мы должны принять, с сожалением, что ни силы человеческие, ни 
  ресурсы материалов, машин, природы – не безграничны, что именно ресурсы 
  ограничивают производство и потребление любого товара, что произвести товар по 
  полной, максимальной потребности – невозможно. Когда мы говорим, что можно 
  было произвести, допустим, 1 млн.т. пшеницы, но рынок ограничивает это 
  производство только 0,5 млн.т, то не нужно негодовать на рынок, а необходимо 
  его благодарить: ведь тем самым он высвободил ресурсы для производства других, 
  тоже очень нужных товаров. Если же мы произведем все же дополнительно 0,5 
  млн.т. пшеницы (сверх назначенного рынком количества), то из-за нехватки сил 
  не будет выращено сколько-то миллионов тонн картошки, овощей или еще чего-то 
  более нужного, чем дополнительный хлеб, и менее производительно (потому что 
  производство к этому было не подготовлено).</div></li></li></li></ul>
<p>Если мы признаем справедливость всего вышесказанного, то нетрудно будет 
понять и принять, что рынок:</p>
<p>* балансирует производство и потребление, назначает компромиссную цену;</p>
<p>* отсекает неэффективных производителей, ибо при продаже своих изделий по 
рыночной цене они будут терпеть убытки;</p>
<p>* отсекает неэффективных потребителей, которые должны будут покупать иные, 
более нужные им вещи или изыщут способы заработать больше денег.</p>
<p>Т.е. рынок заставляет нас выполнять все условия оптимальности – 
сбалансированность производства и потребления и наибольшую эффективность 
производства и потребления. Согласны ли Вы с этим?</p>
<p>2. Что происходит, когда цены на товары выше цен свободного рынка 
(монопольные цены)? – Эти товары начинают потреблять меньшее количество 
потребителей, остальные используют менее эффективные заменители. Производство 
товаров при этом должно быть свернуто при соответствующих потерях.</p>
<p>Что происходит, когда товары продаются по цене ниже цены свободного рынка? – 
Эти товары начнут хватать большая масса покупателей и нерационально, неразумно 
тратить этот уже материализованный труд, который мог бы быть использован 
эффективно в другом месте.</p>
<p>На деле потери еще больше, потому что производство не в силах точно и сразу 
следовать за сокращением и увеличением спроса из-за искажения рыночных цен. 
Тогда беда неэффективного перепотребления или недопотребления превращается в 
простую гибель товаров и стремление потребителей при несбалансированном 
спросе-предложении (затоваривание или дефицит). Такая несбалансированность – 
страшное зло, которое должно быть уничтожено в первую очередь для немедленного 
повышения производительности общества. Сделано же это может быть только с 
помощью возвращения ценам их свободной гибкости, рыночности.</p>
<p>Вообще говоря, производство – вещь инерционная, тяжелая на изменение. 
Сократить производство – значит, уволить рабочих, закрыть фабрики, перестроить 
их на новое дело, новую продукцию и т.д. Увеличить производство – значит, 
построить фабрики, нанять и обучить новых рабочих, реконструировать производство 
и т.д. и т.п. Означает ли это, что неизбежны несбалансированность, т.е. 
перепроизводство или дефицит? – Нет! Рынок в такой ситуации поднимет временно 
цены на дефицитные товары (которые в принципе можно было производить много и 
дешево, но сейчас – практически невозможно) и отсекает этим ряд наименее 
эффективных потребителей, т.е. уменьшает спрос, балансируя его с величиной 
производства; снижает цены на товары, утерявшие популярность с той же целью. При 
этом, конечно, остаются некоторые потери от недостаточно эффективного 
потребления и производства, но это мелочи в сравнении с потерями от 
несбалансированности, и терпим мы их вынужденно – пока не успеем изменить 
структуру самого производства (первых товаров – увеличить, вторых – снизить). 
Говорить же, что цены должны ориентироваться не на реальный размер производства, 
а на будущий, проектируемый, которого еще нет – значит, обрекать общество на 
потери труда и ресурсов уже сегодня, и тем самым уменьшать скорость построения 
желаемого эффективного производства.</p>
<p>Если мы, допустим, смотрим на Запад и видим, что те или иные товары там очень 
дешевы, то поступим близоруко, если у себя назначим аналогичные цены (чтобы 
установить соответствующий размер эффективного потребления). Это будет не только 
близорукость, но и расточительность, преступность, ибо у нас еще нет этих 
товаров в таком количестве, нет соответствующего их производства, ибо сейчас 
надо оптимально распределять то, что есть, а не то, что будет.</p>
<p>Понимаете ли Вы, что те, кто требуют неизменных и низких цен в противовес 
рыночным – требуют преступной расточительности? Что они фактически есть 
погубители народного труда - этого совокупного воплощения миллионов жизней?</p>
<p>3. Если Вы признали, что в нормально работающей экономике должен 
использоваться закон рыночной стоимости, как первый и главный закон 
оптимальности экономики, то можно будет перейти к следующему вопросу: "Как 
перейти к такому оптимальному положению в нашей стране"?</p>
<p>Конечно, лучше всего было бы ввести сразу, по всей стране, сверху, рыночное 
хозяйство. Но чтобы осуществить такую реформу, такую НЭП, необходимо не только 
согласие подавляющего большинства людей, но их горячее желание и прямая 
поддержка. Ведь законы становятся реальными, действующими законами не потому 
только, что их провозглашает государственная власть, а потому что они признаются 
и выполняются народом, соответствуют ему. Мы заслуживаем именно те законы и тех 
руководителей, которые нами сегодня управляют. </p>
<p>Есть ли у нас желание экономической реформы? Хочется ответить – да, но если 
вдуматься, то убеждаешься, что у интеллигенции наличествует не поддержка, а 
противодействие уже назревшим экономическим реформам. На деле интеллигенция 
корыстно и близоруко озабочена лишь своими специфическими интересами. Даже те, 
кто приветствует экономическую реформу… или даже НЭП, или даже капитализм, на 
деле под этим понимают не увеличение своей работоспособности и улучшение уровня 
организация труда, a облегчение работы, увеличение своего оклада и его товарного 
обеспечения.</p>
<p>Кто из нас выступает с требованием к государству о повышении цен на 
дефицитные и нерентабельные товары до нормального рыночного уровня? – Нет таких. 
А ведь это необходимое условие и необходимое же следствие любой реформы. Все 
предпочитают покупать продукты у государства за полцены или совсем за бесценок, 
т.е. все предпочитают жить на дотации у государства, нахлебниками. И после этого 
вы еще желаете независимости от государства? Есть полубесплатно его хлеб и мясо 
и еще ругать, что мало? Но ведь это – кусать кормящую вас руководящую руку!</p>
<p>Вы часто ссылаетесь на Запад, где "все есть". Но ведь там за это "все" все 
непрерывно платят сами и сполна – своей производительной работой, своими 
деньгами по истинным рыночным ценам. Они-то, на Западе, имеют возможность и 
право критиковать государство, потому что экономически независимы от него, 
потому что живут "на свои", а не на дотации. А вы? – Да стоит только исчезнуть 
"кормящей руке", как вы первые затоскуете по прошлым даровым хлебам.</p>
<p>Нет свободы без ответственности, без трудностей. Те, кто не принимает 
трудовых следствий свободы, желают на деле потребительского произвола, анархии, 
развала, зовут общество к смерти. Не дай Бог, чтобы осуществились такие 
деструктивные, смертоносные пожелания.</p>
<p>Я знаю все, что мне предъявят в ответ на такие обвинения: мол, если на Западе 
эти товары дешевы, то пусть и у нас будут дешевы, если на Западе их много, то и 
у нас "пусть сделают" ("пусть мужики сделают" – построят фабрики, введут 
новейшую технологию), пусть…  Но кто же все это сделает, за какие деньги, 
чьими руками? Да разве можем мы когда-нибудь встать вровень с западными странами 
по развитию, если сейчас не перейдем к рыночному, т.е. экономному, оптимальному 
распределению товаров и ресурсов, если не будем рационализировать свою жизнь и 
копить силы для строительства?</p>
<p>Еще говорят: а что, беспокоиться о государстве? – Руководители, как известно, 
живут неплохо, колхозникам стали платить, рабочим больше, мы, интеллигенты, 
получаем меньше. Что ж нам хотеть, чтоб цены на продукты и товары 
повысили?  </p>
<p>Какой детский лепет! Нет ни малейшего понимания, что таким способом: низкими 
ценами на товары власть превращает в рабов как производителей, так и 
потребителей. Государство покупает за бесценок продукты, например, у сельского 
хозяйства, а компенсирует это централизованным выделением капитальных вложений 
на его развитие (но уже как свой "дар" и, конечно, по своим указаниям). 
Государство раздает полубесплатно продукты, жилье и пр., но компенсирует это 
низким уровнем зарплаты. И правильно делает: зачем рабам зарплата, достаточно 
бесплатной похлебки… Я б на вашем месте вообще потребовал не пониженных цен, а 
чтобы все продукты распределялись совсем бесплатно, "по справедливости", в 
"строгой очередности", "по карточкам". То-то хорошо стало бы совсем без 
презренных денег, то-то обрадовались бы "благородные и бескорыстные" души… 
"Рабы, кругом одни рабы, нация рабов"- это было сказано давно, а приходится 
повторять.</p>
<p>Нет, уж если вы честны и хотите свободы, то взваливайте на свои плечи и все 
тяготы ее осуществления, и прежде всего добейтесь экономической свободы от 
государства, как в своем труде на общество, так и в своем потреблении. И если вы 
желаете экономической свободы для общества, то добивайтесь повышения цен на 
товары до рыночного уровня, добивайтесь повышения своей производительности и 
оплачиваемости. Прежде чем добиваться политических и иных прав, необходимо 
добиться более основополагающих – экономических, т.е. прав на независимое от 
государства, свободно-рыночное существование. Не иначе! Ибо предоставлять 
политические свободы завистливым и ленивым рабам и нахлебникам столь же 
неразумно, как предоставлять такую свободу детям: набезобразничают, напортят, а 
потом пойдут по миру просить еды и кредитов.</p>
<p>4. Я убежден: основное препятствие для дальнейшего экономического прогресса в 
нашей стране в нас, как в жадных и завистливых потребителях. Именно здесь 
заключается главный поводок, на котором нас водит власть, ошейник, снятию 
которого мы сопротивляемся всеми силами и зубами. Во многих случаях государство 
и само было бы радо повысить цены до оптимально-рыночного уровня (например, на 
продукты), но боится укусов, боится критики и возмущения. А ведь экономическую 
реформу невозможно внедрить там, где производство товара убыточно, т.е. 
существует на дотациях. </p>
<p>Лишь немногие поднимаются до сознания, что производителям надо все же 
разрешить продавать свою продукцию по повышенным ценам, хотя бы не в убыток 
себе. Они стоят за НЭП, но непреклонны к спекуляции, т.е. против перепродаж по 
рыночным ценам, и не хотят вдуматься, а как это возможно? Производитель, значит, 
может продавать по рыночным, балансирующим спрос (т.е. высоким) ценам, а 
продавец делать то же не может? Значит отменить всю мировую и отечественную 
торговлю? Да ведь торговец тем и живет, что где-то сорвет большой куш с большого 
спроса, а где-то и прогорит на большом предложении от пресыщенных покупателей… 
Да знают ли эти люди, о чем они говорят?</p>
<p>Однако если предположить, что государство пренебрежет-таки всеобщим 
недовольством и решится торговать по рыночным ценам, т.е. станет спекулянтом, то 
у него это плохо будет получаться. Недавний пример: государство повысило цены на 
букинистические книги довоенного издания до рыночного уровня, однако свободный 
(черный) рынок не исчез. Почему? – Потому что государственная система торговли и 
установления даже свободных цен слишком жестка, лишена живого общения 
покупателя-продавца, менее поворотливо откликается на спрос, да еще скована 
рядом идеологических запрещений. Конечно, в магазинах теперь можно увидеть много 
интересных, хотя и дорогих книг, но чтобы достать нужную книгу, порой приходится 
обращаться к рынку. Таким образом, становится ясно, что полностью 
платежеспособный спрос может удовлетворить только свободный рынок, дополняющий 
государственные магазины.</p>
<p>Следовательно, для исправления сегодняшнего неоптимального состояния нашей 
экономики необходимо установить сегодня же, немедленно, рыночную систему 
распределения продукции, т.е. чтобы государство само свободно спекулировало, и 
чтобы спекулировали свободно люди, дополняя этим и завершая оптимальность всей 
системы.</p>
<p>Однако, как это уже стало ясно, государство не может решиться на такой 
кардинальный шаг, не может решиться на экономическую реформу, потому что боится 
возмущения жадных верноподданных. Поэтому инициативу в деле экономического 
освобождения берут низы, т.е. люди, занимающиеся спекуляцией самостоятельно и 
независимо от государства, выполняя этим не только свое "тонкое" регулирование, 
но и крупное, государственное, поскольку последнее до сих пор не решается на 
повышение цен до оптимального уровня.</p>
<p>Общественно-полезная деятельность этих людей несомненна: она отсекает 
неэффективных и неработающих потребителей, балансирует спрос и производство, 
экономит ресурсы. Правда, если бы спекулировало само государство, полученные от 
этого деньги можно было бы сразу пустить на развитие производства дефицитных 
товаров (которое в будущем и могло бы дать долгожданный эффект снижения рыночных 
цен). Но, во-первых, этого нет – государство боится потребителей, во-вторых, 
полученные скопом деньги будут распределяться государством совсем не по принципу 
дефицитности производства, а по всяческим "высшим соображениям" (оборота, помощь 
дружеским странам и освободительным движениям, образование "общественных фондов" 
и т.д. и т.п.), в-третьих, государство никогда не сможет так гибко торговать, 
как частные торговцы, в-четвертых…</p>
<p>Сегодня частным спекулянтам (торговцам) запрещено вкладывать накопленные 
деньги в производство дефицитных товаров, от продажи которых они получают свои 
прибыли, т.е. запрещен естественный демократический механизм вкладывания самими 
потребителями средств на развитие производства нужных им товаров. Сегодня 
спекулянты вынуждены тратить полученные от государства средства часто на покупку 
у государства предметов роскоши, автомобилей, золота, вина, заниматься простым 
накопительством. Конечно, если учесть, что такие предметы роскоши для нашего 
государства, как правило, рентабельны и дают ему высокую прибыль (особенно 
алкоголь), то опосредствованно государство от спекулянтов получает гораздо 
больше, чем от распродажи этих же товаров прямым потребителям по официальным 
низким ценам. Парадоксально, но именно преследуемые государством 
спекулянты-"грабители", в конечном счете обогащают государство-преследователя, 
повышают эффективность общественной системы. Но это так.</p>
<p>Однако, конечно, выгода от спекулянтов могла бы быть гораздо большей, 
существуй у нас нормальные условия для их деятельности. Сегодня спекулянты 
просто вынуждены часть полученных средств тратить непроизводительно; кормить 
взрослых детей-бездельников, увеличивать свое личное потребление и т.д. и т.п. 
Такое положение необходимо изменять <em>в первую очередь</em>. Необходимо 
узаконить и приветствовать любую производственную деятельность спекулянтов, 
необходимо, чтобы деньги потребителей шли на производство сразу и эффективно. 
</p>
<p>И, конечно же, совершенно необходимо изменить общественное отношение к 
спекуляции и свободному ("левому") предпринимательству. Сегодня эти люди 
находятся в удушливой атмосфере общественного презрения, подвергаются моральному 
остракизму, усиливающем физические преследования государства. Это вы, жадные 
потребители, виноваты в том, что подобно средневековым ростовщикам-евреям, 
сегодняшних спекулянтов и леваков шпыняют и преследуют на каждом шагу… Этому 
законодательному и, главное, моральному прессу противостоять могут лишь 
полууголовники, уже отринувшие общественную мораль, удержаться на этом важном 
общественном поприще может зачастую лишь антиобщественное отребье… Это вы 
виноваты в извращении героического облика экономически свободных людей. "Ату 
его!" – кричат "высоко-добродетельные" и жадные рабы и науськивают на несчастных 
сторонников свободного дела государственных ищеек.</p>
<p>Но никуда вы не денетесь от преследуемых и презираемых, от их услуг, как 
никуда не могли деться феодалы средневековья от услуг евреев-ростовщиков. Их 
жадность и порочность – лишь отражение вашей собственной жадности и порочности. 
В условиях перманентного и неограниченного дефицита и нехваток Вы не можете жить 
без спекулянтов и леваков, Вы на деле протянете без них ноги. И чем больше вы 
будете их презирать, чем больше честных людей выживете из их числа, тем с более 
худшими и наглыми спекулянтами вам придется иметь дело. А если вам еще удастся и 
государство натравить, заставить его "прикрыть спекуляцию и левачество", то за 
таблетками импортных лекарств, за необходимыми книгами, за необходимыми 
продуктами и тряпками вам придется расплачиваться уже с такими омерзительными 
типами, которые сейчас и не снились. И как в войну, расплачиваться не только 
деньгами, но страхом, душой и телом.</p>
<p>Нет, только когда вы поймете великую необходимость обслуживающих вас 
свободных людей, только тогда проникнетесь уважением к этой общественной 
деятельности, к ее трудностям и опасностям, даже героизму и романтике, тогда 
сюда войдет множество достойных людей, тогда между ними возникнет деловая 
конкуренция, которая сведет их прибыли к размеру нормального заработка остальных 
достойных свободных людей.</p>
<p>А сейчас запомните: вы сами виноваты! Только из-за вашей барской спеси и 
презрения спекулянты дерут деньги (и справедливо) "за риск и общественные 
неудобства". Только когда государство прекратит под вашим нажимом свои репрессии 
против экономически свободных людей и станет уважать экономические права и 
свободы человека, только тогда наша экономика станет оптимальной, рыночной и 
быстро развивающейся. Главное препятствие сегодня заключается именно в вас, в 
вашей близорукости и жадности, бездеятельности и высокомерии.</p>
<p>5. Сделаю еще одну оговорку, вернее, еще одно обвинение: именно из-за вашей 
неразборчивости и смешения честных торговцев-бизнесменов с уголовниками и 
ворами, такие переплетения происходят и в действительности, создавая очень 
сложные коллизии, в которых трудно разбираться. Но разбираться необходимо.</p>
<p>Первая из этих трудностей - переплетение спекуляции и монополизма. 
Известно, что кроме государственных низких нерыночных цен, возможно 
существование и монопольно высоких (сверхрыночных) цен: для этого владельцы 
товаров сговориваются о прекращении меж собой конкуренции по какому-нибудь 
ходовому товару и поднимают цены выше рыночных. Но при этом покупки этих товаров 
должны сократиться, следовательно, необходимо сократить их производство. Бывают 
случаи, когда сговорившиеся монополисты получают в итоге больше денег от 
поднятия цен, чем убытков от сокращения объема продаж. Но при этом общество в 
целом несет убытки как от неоправданной приостановки эффективного производства, 
так и от неудовлетворения эффективных потребностей.</p>
<p>Может ли такое происходить у нас? Может ли спекулянт заломить монопольную 
цену? Конечно, он это и делает в действительности, хотя ни с кем не 
сговаривается. И потому виноваты в этом на деле не спекулянты, а вы и ваше 
государство! Что происходит, когда продавец прячет под прилавок часть товара, а 
потом продает по повышенной цене? Он продает, как правило, по цене не рыночной, 
а монопольной. Но кто создает эту монополию? </p>
<p>Ответ не так прост, как вам, поднаторевшим в завистливых пересудах о 
спекулянтах, покажется. Осуществляя свободную перепродажу, "левый" продавец 
фактически ориентируется лишь на число доступных ему эффективных и 
платежеспособных покупателей. Однако поскольку свободно (т.е. из-под прилавка – 
по свободной цене) продается не весь товар, а только его небольшая часть, то и 
продаваться он будет по высокой монопольной цене, как будто производится только 
эта, свободная часть. Но с другой стороны часть эффективных покупателей может 
случайно купить этот товар, наткнувшись на очередь за "дефицитом" и решившись 
выстоять ее, и этим теряется для левых продавцов. Другая часть активных 
покупателей не решается делать спекулятивные покупки и предпочитает совсем 
обойтись без товара, терпя свои потребительские убытки, и этим снова теряется 
для свободной торговли, т.е. снижает величину реального эффективного спроса на 
левый товар, тем самым снижая его "левую", "монопольную" цену.</p>
<p>Однако в целом, как мне кажется, цена, которую левый продавец назначит из-под 
прилавка, окажется монопольно высокой, поскольку большая часть товара изъята из 
свободного обращения в сферу дешевого, т.е. полубесплатного и потому 
расточительного ("автомобильные детали – на строительство дачной уборной") 
распределения в очередях.</p>
<p>Попробуем для иллюстрации привести числовой пример. Допустим, что произведено 
1000 штук товара по цене 1 руб/шт. По такой цене товар могут купить не более 
5000 чел.</p>
<p>По цене 2 руб/шт. он понадобится не более как 2000 чел. </p>
<p>По цене 3 руб/шт. он окажется нужным только 1000 чел. </p>
<p>Цену 5 руб/шт. готовы отдать за него не более 500 чел. </p>
<p>По цене 10 руб/шт. он нужен позарез уже только 100 чел.</p>
<p>На этом мы остановимся, потому что уж 100 штук из 1000 леваки сумеют 
припрятать для свободной продажи!</p>
<p>Сделаем теперь несложные расчеты. Как уже было сказано раньше, истинная 
рыночная цена должна балансировать спрос и предложение и равна в нашем случае – 
3 руб/шт. Вклад в нац. продукт при это должен быть бы – 3 р/шт. х 1000шт. = 3000 
р. Распродавая же товар по цене 1 руб/шт. государство снижает общественный доход 
до 1000 рублей и само недополучает от потребителей – (3 р/шт. – 1 р/шт.)х1000 
шт. = 2000 руб. прибыли (и не может соответственно развивать это производство), 
а с другой стороны, эти товары получают только 1/5 часть всех желающих 
потребителей, в том числе только 1/5 всех желающих потребителей, т.е. 800 
человек, готовых платить производству по 3 р/шт. и выше (в том числе 80 человек, 
готовых заплатить даже до 10 рублей/шт. и выше – так им этот товар нужен.</p>
<p>Невыгодность такого распределения для покупателей и производителей очевидна. 
Но вот в дело вступает левый бизнес и в значительной мере исправляет положение. 
Продавец утаивает часть товара, допустим 100 шт. и продает их по цене активного 
спроса.</p>
<p>Казалось бы – по 10 руб/шт., однако на деле часть (20%) этих самых 
эффективных покупателей уже успела отовариться случайно в очередях, а часть 
(допустим половина из оставшихся) слишком боязлива или "моральна", чтобы 
покупать у спекулянтов. Из этой группы остается для покупок только 40 человек, а 
товара припрятано – 100 штук. Следовательно, чтобы распродать всё, нужно 
продавать по более низкой цене – покупателям второй группы – по 5 руб/шт. 
Нетрудно посчитать число неудовлетворенных и способных на левые покупки 
потребителей в этой группе – (500 – 500х0,20):2 = 200 человек, т.е. больше чем 
припрятано товара. Значит, наш левый продавец может назначить даже какую-то 
промежуточную цену, допустим 7 руб/шт. и реализовать по этой цене весь свой 
товар. </p>
<p>Что же мы получаем в итоге? – Значительная часть самых эффективных 
потребителей (но не все) удовлетворяют свои потребности по цене 7 руб/шт. и 
живут как нормальные люди, спекулянты получают свою прибыль (7 р/шт - 1 
р/шт)х100шт. = 600 руб, а общество соответственно увеличивает национальный 
продукт до 1600 рублей. (Кстати, если бы государство назначило за этот товар 
нулевую цену, то в национальный продукт по правилам экономического счета не 
вошло бы ничего – и правильно, потому что весь этот бесплатный продукт может 
быть взят за бесценок и безответственно погублен). </p>
<p>В конечном счете, выгоду от спекулятивных продаж получит и государство, 
поскольку наш продавец заработанные 600 рублей потратит на покупку дорогого 
гарнитура или золота (где государство получает при продаже 100% прибыли вместо 
законных 15% или прямых убытков), следовательно он передаст государству около 
половины этих денег. А если он их просто пропьет, то практически вся выручка 
окажется в государственном кармане. Кто же окажется больше всего недовольным при 
осуществлении левых продаж? – Больше всего недоволен добродетельный интеллигент, 
который и в очереди стоять неспособен, и со спекулянтами гнушается общаться. 
Вернее, он не против купить товар свободно, без очереди – но только по цене 1 
руб/шт, а 7 руб/шт. – считает грабежом. Он кричит: "Вот если бы зловредные 
спекулянты не прятали эти 100 штук товара, то и я свободно получил бы товар по 
магазинной цене…!!!" – Какие же все-таки это ослепленные и жадные задницы… 
интеллигентные задницы… Простите, зачеркните это, у меня просто не находится 
слов.</p>
<p>Но конечно, существующее положение со спекулятивными продажами еще далеко от 
оптимального. Ведь национальный продукт в нашем примере достигает только 1600 
рублей вместо возможных 3000 рублей. При этом: </p>
<p>* оказались неудовлетворенными около 700 эффективных потребителей – 
предназначенные для них товары ухватили по дешевке расточительные и 
неэффективные покупатели; </p>
<p>* государство недополучило 2000 – 300 = 1700 рублей дохода, который можно 
было бы пустить на развитие производства этого дефицитного товара;</p>
<p>* часть изъятых левыми продавцами у эффективных потребителей расходуется ими 
непроизводительно, теряется.</p>
<p>Но, повторяю, вина за это лежит не на спекулянтах, а на их противниках – на 
государстве и покупателях. Только когда вы и ваше государство изменятся, только 
когда свободно-рыночная торговля и производство станут открытыми, только тогда 
цена нашего товара упадет (или поднимется) до 3 р/шт., он станет доступным в 
продаже, общество будет получать максимальный доход, а производство – 
максимальные прибыли для своего расширения и снижения на этой базе цены, кто 
знает – может и до 1 р/шт… Но не раньше!</p>
<p>6. Другой сложный вопрос – о воровстве с государственных предприятий.</p>
<p>Как следует относиться к нему? В этой проблеме любят различать вопросы морали 
и целесообразности. Признавая целесообразность изъятия с фабричной территории 
погибающей (или просто ненужной) вещи "для дома и семьи", тут же подчеркивают, 
что "вообще-то воровать нехорошо", что это аморально и приведет в будущем к 
очень-очень плохим последствиям, к развращению и упадку нравов.</p>
<p>Я не понимаю такого деления. Если какое-то деяние дает лишь временную или 
иллюзорную пользу, а в перспективе приносит существенный вред – то такое деяние 
просто вредно. Если поступок приносит выгоду индивидууму, но вред всему 
обществу, он тоже – просто плохой, без всяких оправданий.</p>
<p>С другой стороны нельзя же цепенеть перед моральными определениями: 
воровство, грабеж. Если мы отнимаем у вора свои вещи – это не грабеж, а хорошее 
дело. Если мы спасаем из рук расточителя овеществленный человеческий труд – это 
тоже хорошо, как бы это ни называлось.</p>
<p>Однако вернемся к "воровству с производства". Возьмем самый отрицательный 
случай из возможных: воруют не погибающее на производстве, а нужное, т.е. 
готовые к продаже вещи, вроде автомобильных запчастей, и продают их, 
естественно, по спекулятивной цене. Возвращаясь к нашему примеру, прибавим к 
1000 официально произведенных и проданных государством изделий еще 100, 
сворованных с производства. При этом будет, видимо, удовлетворен спрос еще 100 
самых эффективных покупателей из 2-й группы, а спекулятивная цена снизится до 5 
р/шт. Но в отличие от первого случая левой торговли, государство терпит видимый 
ущерб в размере 1шт х 100шт.=100 рублей, правда, косвенно получает от "воров", 
затративших полученные деньги на роскошь и выпивку около 500:2=250 рублей, т.е. 
в конечном счете, останется в выигрыше 250-100=150 рублей. Вот если "воры" – не 
деловые люди, а дилетанты, и будут сбывать "краденое" по государственной цене 
(т.е. если они будут "благородными ворами"), то они действительно, принесут 
только вред государству. У них останется только одна возможность загладить свою 
вину – всю выручку потратить на выпивку и этим на 95% вернуть украденные деньги 
государству.</p>
<p>Так получается, что в наших уродских условиях "производственное воровство" 
как правило – хорошо, морально. Но как только государство будет само 
спекулировать, станет продавать свой товар по нормальным рыночным ценам, так 
сразу пропажа 100 ворованных изделий принесет ему прямой ущерб, не будет 
необходимой для потребителей, для общества, и следовательно, должна быть 
расценена, как аморальная.</p>
<p>Мне скажут: "Разве кто-нибудь делает такие расчеты в жизни: сегодня это 
хорошо, а завтра будет плохо… Гораздо проще затвердить правило: воровать плохо 
всегда. Иначе запутаешься". - Нет, неправда! Неправильны такие возражения! </p>
<p>Конкретные моральные правила базируются на глубоком реальном чувстве добра, 
пользы всем людям, всему человечеству. И как бы мы сегодня ни убеждали людей, 
что "воровать у государства плохо, потому что плохо в принципе", люди, видя что 
в реальной жизни такое правило приводит к гибели людского труда и жизней, к 
торжеству зла, будут следовать не затвержденным правилам, а своему 
непосредственному нравственному чувству и опыту: будут "воровать" у 
нечеловеческого государства, обманывать тюремщиков, убивать убийц.</p>
<p>Мне смешно, когда я слышу рассуждения о всеобщем нравственном падении, 
воровстве и лени, когда утверждают: прежде всего, надо изменить нравственность 
всех людей, сделать их честными и бескорыстными, а уж потом менять условия их 
жизни. </p>
<p>Ничего подобного: наш народ и сегодня нравственен и здоров, как всегда, как и 
все прочие. И только ненормальные условия изменяют, делают ненормальной форму 
этой нравственности. Исправить эту форму, это положение можно лишь изменением 
ненормальных условий, лишь легализацией в действительности полезной и моральной 
деятельности. Положение с нашей нравственностью нормализуется только когда 
перепродажа товаров по рыночным ценам не будет преследоваться как преступная и 
аморальная спекуляция, а будет прославляться как частная торговля; когда 
государство будет не гноить труд и материальные ценности и преследовать лагерем 
их рациональное использование, а напротив – поощрять и стимулировать таковое в 
качестве похвальной и общественно полезной частной инициативы; когда, наконец, 
вымогательство у государства низких цен и скупка товаров за полубесценок будет 
считаться не геройством, а презренным нахлебничеством и холуйством – тогда 
старые моральные понятия и критерии вновь обретут прежнюю ясность и 
незамутненность. Только тогда всякое воровство, в том числе и с 
негосударственных предприятий, будет считаться простым воровством, безусловно 
аморальным деянием, поскольку уже не будет связано ни с какими общественными 
выгодами. Только тогда мы получим возможность разделять все поступки на плохие и 
хорошие с помощью привычных моральных критериев.</p>
<p>Конечно, трудно оправдывать такой способ производственного воровства, как 
разбавление молока, ухудшение качества колбасы и других продуктов, обвешивание 
покупателей, но со все большей ясностью я вижу, что и такие "дела" есть 
закономерное возмездие нам, потребителям, за низкие государственные цены. 
Понижение качества государственного товара равносильно повышению цены на товар 
нормального качества. И вот, если сопоставить – сколько мы, потребители, 
отнимаем, т.е. фактически воруем у производителей, покупая их продукты по низким 
ценам, и сколько "воруют", отнимают у потребителей, производственные "леваки", 
то получится, что последние отнимают у нас, воров и грабителей, лишь малую 
толику. Необходимо понять: тот, кто покупает у государства по нерыночным, 
искусственно заниженным ценам – есть фактический вор и грабитель. Как раз в этом 
– основной порок наших потребителей.</p>
<p>Но как можно избавиться от этого порока? – Ведь не будешь же заставлять 
государство повышать цены?..  - Да уж где там, хоть бы не ругали 
государство, когда оно повышает эти цены без ваших призывов, хоть бы не грозили 
бунтами (Когда, в 17-м столетии русский царь пробовал законами препятствовать 
переходу свободных землевладельцев в крепостное, защищенное от государственных 
налогов состояние, в ответ последовали бунты людей, стремящихся стать холопами… 
- Не повторяется ли ситуация?)</p>
<p>А ведь достойный выход существует. Но как и всякий истинный выход, он очень 
труден. Он заключается в принципиальной ориентировке нас, потребителей, на 
свободный, сегодня черный рынок с его действительным качеством товаров и 
культурой обслуживания, с его истинными, взаимовыгодными, а не обманными ценами, 
и в столь же принципиальном уклонении (а в будущем, может, и бойкотировании) 
унизительной для свободного трудового человека системы рабского полубесплатного 
распределения. Есть лишь один способ борьбы с хамством и обманом государственных 
рабочих и продавцов – пойти на рынок, даже черный. </p>
<p>И не надо бояться, что все будет "раскрадено и страна погибнет". Так "все 
раскрасть" – значит, это "все" денационализировать, всем вернуть их частную 
собственность, т.е. основу их независимости и свободы (то, что происходило с 
помещичьими имениями в 17-м году). Неприятно, когда процесс идет так стихийно, 
анархически, без узаконений, но кто же виноват в этом – кроме вас и 
вдохновляемого вами государства?</p>
<p>Свободная деятельность спекулянтов и леваков толкает уже сейчас нас, 
подкармливаемых государством ленивых подданных, к трудной, но свободной и 
достойной жизни. И за это я отдаю им должное, пусть сейчас среди них из-за 
всеобщего презрения и обретается множество плохих, на грани с уголовщиной, даже 
омерзительных людей.</p>
<p>Меня спросят: "Но где же мы возьмем денег для покупок на рынке?" И я ответу: 
"Вот детский вопрос! Самостоятельный человек не задаст вопроса: "А что мне надо 
делать?" Такие вопросы задают хозяину служащие, рабы. Свободные же люди знают, 
что они могут заработать деньги, только принося пользу, но не государству, не 
тюремщикам (у них можно получать только небольшое рабское жалование), а 
обществу, рынку".</p>
<p>Если вам этого ответа недостаточно, то вы – безнадежны, говорить дальше 
бесполезно. Но я все же договорю: если желаете свободной и богатой жизни, то и 
займитесь свободной экономической деятельностью, не жалея своих сил и времени, 
презрев опасности от государственных преследований и моральные упреки от 
"служивой интеллигенции"; становитесь кустарями, шабашниками, леваками, 
спекулянтами, предпринимателями, частниками…</p>
<p>Если же вы не желаете изменять своим прежним духовным занятиям, внутреннему 
самоусовершенствованию, вечным проблемам, то будьте последовательны, 
ограничивайте свои материальные потребности, становитесь йогами, аскетами, 
духовно очищайтесь, но оставьте наш материальный мир в покое от ваших 
требований. Так, по крайней мере, будет честнее.</p>
<p>Мне пора завершать свое выступление заключительным обвинением.</p>
<p>В годы, когда в стране появляются начатки общественного самосознания и 
активности, его проявления, выражающиеся во взглядах околодиссидентской 
интеллигенции, к сожалению, носят на себе четкий отпечаток несвободного прошлого 
и настоящего и направлены, в основном, против экономических свобод и прав 
народа. Околодиссидентская интеллигенция на деле больше всего ценит свои 
потребительские привилегии, получаемые ею от государства, которому она служит 
днем, а ругает втихомолку по вечерам. Она требует от государства прежде всего 
расширения и увеличения этих привилегий (в виде повышения служебных окладов и 
понижения потребительских цен), а своим основным врагом считает в конечном счете 
спекулянтов, частников, леваков, шабашников, т.е. всех, кто свободно работает и 
торгует и этим отнимает у расточительного государства и его прихлебателей часть 
прибылей и средств, начиная устраивать народную жизнь на свободных, независимых 
от государства и эффективных началах. Таким образом, сегодня "служивая 
интеллигенция"-"потребители" является одной из самых активных общественных сил, 
противящихся экономическому и нравственному прогрессу страны.</p>
<p>Внешне она поступает так из-за своей приверженности к марксистским 
политэкономическим догмам о трудовой стоимости и пр., а в глубинном чувстве – 
из-за завистливой и корыстной неприязни государственного верноподданного раба к 
удачливости свободных и независимых людей. Чем более рьяно они торгуются со 
спекулянтами из-за покупаемых товаров, тем с большим пылом возводят эти обычные 
торговые распри в разряд моральных деяний, где, естественно за ними 
провозглашается роль обижаемых морально чистых тружеников, а за спекулянтами и 
леваками роль гнусных и морально низких злодеев.</p>
<p>То огромное влияние, которое интеллигенция оказывает на формирование 
общественного и государственного мировоззрения, интеллигенты-потребители 
используют для укрепления древних "государственно-социалистических догм", для 
расширения государственных репрессий против экономически свободных людей.</p>
<p>Снова обращаюсь к вам и повторяю: вы – главный тормоз в нашем общественном 
развитии. Одумайтесь!</p>
<p>Я кончил. Теперь слово вам, "товарищи адвокаты". Защищайтесь. 5.01.1978 
г.</p><table width="600"> <tr> <td>
<a href="1.2.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="2.1.01.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
