{% extends 'base.html' %}
{% block title %}ЗЭС N1: Полемика: В.Р. Жанр политической публицистики обладает…{% endblock %}
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
1</h3>
<h1>
<p><font size="4">Раздел II. Полемика</font></p>
</h1>
<p><font size="5"><em>В.Р.</em> "Жанр политической публицистики обладает…"</font></p>
<p>Жанр политической публицистики обладает одним коварным свойством: ставя в 
центр своего внимания самые злободневные вопросы политической жизни и благодаря 
этому без труда получая в полное свое распоряжение внимание читателей, 
произведения волей-неволей берут миссию указания тех средств или путей, принятие 
которых кардинально решит эти наболевшие вопросы. И чем острее обсуждаемые 
вопросы, чем ближе к сердцу принимает их публицист, тем вернее, более обещающе, 
"панацеистее" то средство, которое "само напрашивается" в руки реформатора. А 
для того, чтобы вызвать созвучный энтузиазм читателей, чтобы поднять температуру 
его эмоционального накала, предложение, как правило, оказывается гениальным, 
самоочевидным, всеобъемлющим и исчерпывающим. И горе тем, кто не знает, не 
видит, не верит или не подозревает ни о существе этих проблем, ни о 
существовании пути их разрешения. В этом случае можно занять удобную позицию 
общественного обвинителя, откровенно хлещущего правду-матку в глаза замшелого 
обывателя. Удобство такой позиции главным образом состоит в том, что можно не 
толкаться в тесноте обоснований и аргументов, а сразу занять господствующую 
высоту моральной правоты и выйти на оперативный простор бичевания, оставляя, тем 
не менее, единственный путь отступления – сдаться на милость победителя.</p>
<p>Единственное, в чем я полностью согласен с К.Б. – это в выборе той болевой 
точки нашего общественного организма, которая теперь нуждается не в 
диагностировании, а в интенсивном и эффективном лечении. Всякий, кто не утратил 
чувства реального бытия, кто мучительно размышлял над его гримасами и пытался 
найти хотя бы только для себя пусть хоть умозрительную, но привлекательную 
альтернативу, которую можно было бы положить в основу иной модели 
функционирования нашего общества, не может не присоединиться к автору, не может 
не разделить его праведный гнев по поводу отсутствия экономического прогресса в 
стране, бесхозяйственности, бездарности планирования и т.д. Но взывая к чувству, 
не следует забывать о разуме. Нельзя, размышляя о столь сложной, многообразной и 
по природе своей противоречивой материи, какой является экономика, не думать или 
по крайней мере не подозревать о существовании своих, специфических для нее 
закономерностей, соответственно сложных, многообразных и противоречивых. Это так 
же нелепо, как если бы в объяснении поведения человека мы рассуждали бы лишь 
исходя из средневековых представлений о его физиологии. Но именно так поступает 
автор. Из всех видов критики самая худшая – некомпетентная критика, которая тем 
более опасна, когда исходит от публициста, претендующего на общественное 
внимание просвещенной и образованной, а не невежественной публики.</p>
<p>Я вообще не знаю, должен ли публицист обвинять – ему, по-моему, более 
пристало будить мысль, размышляя вслух. Взяв на себя роль обвинителя, автор 
поставил перед собой довольно смелую задачу не просто эпатировать определенные 
слои нашей интеллигенции, но и противопоставить ее привычной 
либерально-фрондирующей, но безответственной и неконструктивной критике 
существующего положения, критику с противоположными эпитетами. Разве это не 
предполагает уже изначально прежде всего более глубокое понимание внутренних 
пружин общественного механизма, более пристальное и чуткое внимание к скрытым в 
нем возможностям, более осторожное обращение с рецептами и прогнозами. Вместо 
этого – поза и расплывчатые формулировки, удивительное дилетантство и громкие 
фразы. Давно замечено, что когда человеку не хватает слов по существу, он 
обращается к общим словам, и чем острее дефицит, тем расхожее и громче фразы. А 
чем громче слова, тем легче они произносятся, но зато и легче испаряются. Разве 
этих слов и фраз недостаточно произносится, пишется; передается по каналам 
официальной пропаганды и разве ее беспрецедентно низкая эффективность не 
очевидна, что потребовалось перейти на этот же уровень и в неофициальных 
заметках? Думаю, что причина в том, что такой уровень дается проще. Даже в 
строгих науках существует прием, когда самые тонкие и труднодоказуемые положения 
принимаются верными по соображениям их очевидности, в то время, как следствия, 
вытекающие из них, подвергаются дотошному строгому и зачастую весьма виртуозному 
доказательству. Примерно так поступает и К.Б. с той только разницей, что не 
отдает себе в этом отчета, непроизвольно введя тем самым в заблуждение читателя. 
Возможно, что специалист, сделав скидку на непрофессиональность заметок, оставит 
без внимания теоретическую беспомощность и эмпирическую наивность автора, 
оценивая прежде всего и главным образом его эмоциональный настрой. У читателя 
неспециализированного, но не потерявшего способность размышлять и делать выводы, 
все это вызывает раздражение, которое отбивает всякое желание обсуждать и уж тем 
более оправдывать в том, что так некорректно, произвольно и предвзято 
сформулировано. </p>
<p>Уже с первых пунктов обвинения, когда еще по инерции с согласием в 
констатирующей части пытаешься согласиться с автором в критической части, 
натыкаешься на такие непозволительные передержки, логические несуразности и 
наивно-невежественные представления, которые подрывают кредитоспособность 
автора, а вместе с ней и правомерность его выводов и предложений.</p>
<p>Говоря откровенно, столь легковесно построенные обвинения не могут 
претендовать на иной, чем столь же поверхностный отклик. В то же время, труднее 
всего анализировать и возражать оппоненту, не обременному фактами и не 
озабоченному их добыванием. Поэтому считаю, что не могу, не хочу брать на себя 
функцию того адвоката, кому передает слово К.Б., равно как не могу и не хочу 
претендовать на роль наставника. Я позволю себе лишь выразить свое несогласие в 
некоторых исходных пунктах. Поскольку содержательная дискуссия требует и иной 
постановки задачи; и готовности предложить собственную альтернативу ее решения, 
которой у меня, к сожалению, нет.</p>
<p>Основной тезис автора строится на противопоставлении плана и рынка, на 
иллюзорности первого и эффективности, даже оптимальности второго. Причем, 
иллюзорность решения задачи организации "оптимальной жизни и работы" с помощью 
плана заключается в том, что в нем "невозможно заранее предусмотреть и вычислить 
все эффективные варианты производства и потребления". – Но ведь это совершенно 
неверно, поскольку относится не вообще к плану, а к плохому плану, взятому с 
"потолка", "от достигнутого", от чего угодно. Достаточно взять любую газету 
сегодняшнего дня, чтобы найти там множество эмпирических фактов абсолютно 
беспланового ведения хозяйства. Я беру, например, "Известия" от 1.2.78г. и читаю 
статьи "Поощрение за отставание. Как белгородские асбоцементники стали давать 
продукции меньше, а премии получать больше". В ней, в частности, говорится: 
"Видимость благополучия достигается просто. Главное управление… уменьшало 
производственные задания очередного квартала и переносило недоданную продукцию 
на последующий", а в конце года просто "урезало" годовое задание на 3,5 млн. 
руб. В результате такой манипуляции годовое задание оказалось "выполнено" на 
100,5%. Таких фактов – море. Так что на самом деле беда не в плане, а в том, что 
его нет. Кроме того, К.Б. считает, что план не сможет выполнить свою задачу 
потому, что "невозможно познать до необходимой тонкости всю жизнь" и пр. Но ведь 
это уже либо передержка, либо простое непонимание функции плана – он вообще и не 
должен содержать все "необходимые тонкости", тонкости вообще не нужны, они даже 
вредны, а нужны лишь конечные результаты, причем, результаты, действительно, 
конечные и обоснованные. Если посмотреть с этой точки зрения на рынок, как на 
тот спасительный инструмент, который только и может, по мнению К.Б., быть тем 
"человеческим форумом", на котором взвешиваются все тонкости жизни, то ведь 
сразу становится ясным, что уж он-то никак не приспособлен к тому, чтобы 
предусматривать и вычислять эффективные варианты. </p>
<p>Автор попадает в явное логическое противоречие – с одной стороны, он 
понимает, что необходимо все-таки предусматривать и вычислять (раз он критикует 
за это план), с другой стороны, он боится этого и обращается к рынку, как к 
такому "черному ящику", который все возможные ошибки и просчеты скалькулирует в 
виде цены. Но в том-то и беда, что рыночная цена складывается уже после того, 
как продукция произведена, так что она не может быть оптимальным 
регулятором.</p>
<p>Далее, рынок, по словам К.Б., балансирует производство и потребление и т.д. 
Но именно это же делает план. Вот и получается, что автор одни и те же вещи 
называет разными словами… Здесь же, между прочим, походя, вводится в 
употребление понятие "эффективного" потребителя.</p>
<p>Как нетрудно заметить, вводится оно по аналогии с категорией эффективного 
производителя, то время как эти категории вовсе не аналогичны или, во всяком 
случае, это нуждается в доказательстве, поскольку: А) производителей, как 
правило, намного меньше потребителей; Б) производители непосредственно 
управляемы; В) между производителями и потребителями есть промежуточные звенья; 
Г) между моментом производства и моментом потребления всегда есть эффект 
запаздывания.</p>
<p>Разя потребителя-интеллигента, который требует неизменных и низких цен, автор 
почему-то утверждает, что делается это только потому, что такова цены на Западе. 
А может быть все-таки потому, что неизменна и низка заработная плата? Закон 
рыночной стоимости, о которой говорит К.Б., как первый и главный закон 
экономики, насколько мне известно, еще не открыт, а вернее, опровергнут. Для 
этого достаточно прочитать основные работы Д.Кейнса или на худой конец 
В.Леонтьева или В.Немчинова. Во всяком случае, нельзя делать вид, что этих работ 
не было и пользоваться воззрениями времен Адама Смита.</p>
<p>В практическом плане автор предлагает очень простой, но по существу ошибочный 
выход – чтобы увеличить работоспособность, организацию труда и т.п., поднять 
цены на товары. При этом совершенно ничего не говорится о заработной плате и, 
что гораздо более важно, о возможности зарабатывать любую плату. В том-то и 
дело, что система желает того же, чего хочет автор – поднять сначала 
эффективность производства, причем только за счет интенсификации труда, 
увеличения отдачи, а уж потом поднимать зарплату. С точки зрения абстрактных 
экономических формул это само собой разумеется, но с точки зрения даже 
политэкономических соображений, не говоря уже о социологических, сделать это 
невозможно. В результате этого процветает "липа", полный произвол в определении 
объема выполненных работ, скрытая безработица. </p>
<p>Автор был бы абсолютно прав, если бы утверждал то, из чего он неявно исходит 
и интуитивно верно чувствует – что у нас вообще инструмент цен полностью 
отсутствует и вот было бы хорошо, если бы удалось ввести его в действие. Между 
прочим, по такому пути пошла реформа в Венгрии, и, как говорят очевидцы, 
результаты поразительные. Вместо этого автор начинает петь дифирамбы спекулянтам 
и говорить об их общественно-полезной деятельности. Главный аргумент автора при 
этом почерпнут в собственных же построениях – а именно, что благодаря спекулянту 
отсекается неэффективный потребитель! Само же понятие неэффективного потребителя 
нуждается еще, мягко выражаясь, в дополнительном обосновании. На самом деле 
автор имеет в виду некоторый истеблишмент потребителей, для которых 
действительно, чем дороже товар, тем он более привлекателен, и чем меньше его 
производится, тем с большей жадностью за ним охотятся. И уж совсем парадоксальна 
вера автора в спекуляцию и ее поощрение как путь нормализации нравственности – 
это звучит просто анекдотически. Конечно, называть вещи своими словами – 
необходимое условие оздоровления нравственности, но оно совершенно недостаточно. 
Ясность и незамутненность моральных понятий непосредственно, к сожалению, не 
усваивается, а проходит стадию интерпретация, что, кстати говоря, делает и сам 
автор. Однако его интерпретация сильно ограничена, ибо связана только одним 
(почему именно этим?) "злом" – воровством. И здесь автор, верно подметив причину 
явления, предлагает устранить ее весьма оригинальным образом – по способу "клин 
клином вышибает" – вместо одного зла "вбить" другое, которое представляется 
автору более нравственным. Конечно, гильотинирование было более умеренным 
"злом", чем четвертование или колесование, но ведь мы говорим о живых людях.</p>
<p>Возможно, с точки зрения автора я тоже отношусь к той категории гнилой 
служивой интеллигенции, которая безнадежна, однако в отличие от него я не 
чувствую за собой никаких потребительских привилегий и не требую от государства 
их расширения и увеличения. Но мне было бы тяжело, если бы даже наедине с самим 
собой я мог бы признаться, что являюсь активным противником, преградой, тормозом 
экономическому и нравственному прогрессу страны. В этом случае я бы ни за что не 
стал бы писать этот отклик. </p>
<p></p>
<p><strong><em>Комментарий на рецензию В.Р.</em></strong></p>
<p>Рассмотрим прежде всего конкретные возражения В.Р.</p>
<p>1) "Совершенно неверно" отвергать принципы (оптимального) планирования, 
исходя из такого аргумента К.Б. как: "невозможно заранее предусмотреть и 
вычислить все эффективные варианты производства и потребления". Неверно, потому 
что, во-первых, это можно отнести только к плохому плану или к его отсутствию, а 
во-вторых, потому что тонкости в планах вообще не нужны, "они даже вредны", 
в-третьих, если посмотреть на рынок, то "сразу становится ясным, что уж он-то 
никак не приспособлен к тому, чтобы предусматривать и вычислять эффективные 
варианты", что "рыночная цена… не может быть оптимальным регулятором", 
в-четвертых, "рынок, по словам К.Б., балансирует производство и потребление… Но 
именно это же делает план. Вот и получается…"</p>
<p>Что же означают эти возражения? </p>
<ul>
<li>
<div> Рассчитывать оптимальный (хороший) народнохозяйственный план – 
  возможно! – Но этой вере противоречит вся практика внедрения оптимального 
  планирования в последние годы. Да и теория его твердит о том же. Достаточно 
  посмотреть любые серьезные экономические работы на эту тему, чтобы убедиться 
  (см. хотя бы последнюю книгу Л.В.Канторовича "Оптимальные решения в 
  экономике").</div>
<li>
<div> С другой стороны В.Р. заявляет, что план не нужно рассчитывать до 
  тонкости. Но тогда необходимо предусмотреть механизм, который бы регулировал 
  производство и распределял продукты – в "тонкости", как это бывает в жизни – 
  до болтов. На что же надеется В.Р., если он возражает против рыночного 
  механизма?– Впрочем, в конце своей статьи он упоминает о благодетельности 
  инструмента цен и чудесных результатах эконом. реформ в Венгрии. Но ведь и то 
  и другое – как раз и есть результат введения рыночного регулирования в 
  хозяйство (смысл реформы в Венгрии, если не ошибаюсь, в том и заключается, что 
  разрешено гибкое, т.е. свободное ценообразование в широких пределах от 
  установленной базы, а государственный план потерял свой жесткий и обязательный 
  натуральный характер). У нас же, при официальном запрете на рынок, действует 
  рынок нелегальный, стихийный, и потому уродливый (в производственной сфере его 
  осуществляют снабженцы и толкачи).</div></li></li></ul>
<p>Интересно, что среди моих оппонентов В.Р., кажется единственный, кто отрицает 
необходимость рыночного регулирования, отстаивает "план", но при близком 
знакомстве оказывается, что и он склонен к венгерскому опыту, т.е. к тому же 
рынку.</p>
<p>2. В.Р. пишет: "Закон рыночной стоимости" еще не открыт, а вернее, 
"опровергнут" (что за великолепная формулировка: не открыт, но уже опровергнут!) 
Для этого достаточно прочитать основные работы Д.Кейнса или на худой конец 
В.Леонтьева или В.Немчинова. Во всяком случае; нельзя делать вид, что этих работ 
не было и пользоваться воззрениями времен Адама Смита".</p>
<p>Для экономистов неоклассического (да и иных) направлений, вышеприведенная 
тирада В.Р. звучит как для физика примерно следующее: "Вы пользуетесь законами 
Ньютона? Какое невежество! Разве Вы не слышали об опровергшем его Эйнштейне или, 
на худой конец, Фоке"?</p>
<p>Мне не пришлось прочесть "основные труды Кейнса и Леонтьева", но я знаю, что 
никто из них не "опровергал" А.Смита и экономическую науку прошлого века (как и 
Эйнштейн не опровергал Ньютона), не отрицал, например, такого положения: "цена 
товара устанавливается на рынке" или основной схемы действия рыночного механизма 
(хотя, возможно, уточнял ее).</p>
<p>3. В.Р. обвинил меня в том, что совместно с государством я желал бы сначала 
поднять эффективность производства, а уж потом поднимать зарплату. Вот с этим 
"обвинением" я полностью соглашусь и не вижу какой-либо иной возможности для 
любого трезвого человека, желающего прочно жить в своей стране, "по средствам", 
а не "хапать сколько позволят".</p>
<p>Я уверен: если поддаться жалости к себе самому, вслед за всеобщим повышением 
зарплаты (всему "страдающему народу"), работоспособность людей не повысится, а 
понизится. Уменьшится эффективность труда. Ведь при почти неизменившихся 
потребностях и больших деньгах им можно будет меньше работать. Ну, а меньше 
работать, значит меньше сделать товаров на продажу. Меньше товаров, больше 
денег, катастрофический рост дефицита. Что же делать? – Покупать у спекулянтов, 
это можно, но по взвинченным (а на деле – равновесным) ценам… Ну и так далее… 
инфляция, разруха…</p>
<p>В.Р. полагает, что "политэкономия и социология" велит нам поднимать зарплату 
даже вопреки "абстрактным экономическим формулам". Ну, а то, что такое 
непрерывное поднятие зарплаты способно привести нас в конце концов к разрухе, к 
смерти от голода – это его не пугает? Примеров подобного самоубийственного 
диктата политэкономии над экономикой в истории – навалом).</p>
<p>4. Отождествление В.Р. "эффективного потребителя" с "истеблишментом 
потребителей", гоняющихся за престижными товарами, представляет какую-то 
карикатуру на серьезные, хотя и достаточно простые экономические понятия. Если 
бы моему оппоненту были знакомы хотя бы самые примитивные описания действия 
рыночного механизма (к сожалению, наши курсы политэкономии его опускают), 
подобных конфузных ляпсусов не было бы.</p>
<p>5. Цитирую:</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p> "Парадоксальна вера автора (К.Б.) в спекуляцию и ее поощрение как 
  путь нормализации нравственности – это звучит анекдотически… Конечно, называть 
  вещи своими словами – необходимое условие оздоровления нравственности, но оно 
  совершенно недостаточно… Автор предлагает устранить (причину воровства) 
  оригинальным способом – вместо одного зла вбить другое (гильотинирование 
  вместо четвертования»…)</p></blockquote>
<p>Что я могу возразить В.Р. в ответ? Ничего, кроме повторной просьбы: 
перечитайте статью, в которой доказывается, что спекуляция приносит добро людям 
и, следовательно, нравственна. Только если Вы докажете обратное, я смогу 
воспринять Ваше сравнение спекуляции и производственного воровства с 
гильотинированием без возмущения.</p>
<p>Рассмотрев конкретные возражения В.Р. и отметив, с сожалением, их слабость 
(особенно в сравнении с первоначальной заявкой на компетентность и 
доказательность), мне придется сейчас вернуться к началу его рецензии, в которой 
выражено главное – набор эмоций:</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Нелепо… самая худшая… некомпетентная критика… опасная критика… поза и 
  расплывчатые формулировки… удивительное дилетантство и громкие фразы… 
  теоретическая беспомощность и эмпирическая наивность… некорректно, произвольно 
  и предвзято сформулировано… непозволительные передержки, логические 
  несуразности и наивно-невежественные представления…"</p></blockquote>
<p>Когда встречаешь на нескольких страницах такое обилие ругательных слов, то 
трудно не поддаться ответным эмоциям, однако спросим себя: отчего такое 
происходит? Конечно, в этих словах выразилась естественная реакция на мои 
собственные резкости. Так что, кажется, я просто получил "сдачу", может и 
больше, чем диктуют приличия, ну да разве в драке на это обращают внимание? – Не 
стоит…</p>
<p>Но на деле, думаю, что основная причина раздражения и несдержанности моего 
оппонента лежит глубже. И она откровенно высказана в конце статьи:</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Мне было бы тяжело, если даже наедине с самим собой я мог бы признаться, 
  что являюсь активным противником, преградой, тормозом экономического и 
  нравственного прогресса страны. В этом случае я бы ни за что не стал писать 
  этот отклик".</p></blockquote>
<p>Дело именно в этом – в душевном неуюте от подобных обвинений, в их 
инстинктивном желании зачеркнуть их, обругать, отвергнуть и успокоиться. Я это 
знаю, ведь самому приходилось испытывать обвинения. Впрочем, мне было много 
легче, поскольку они приходили чаще в форме самообвинений, покаяний… И дай Бог, 
чтобы у других была именно такая, "легкая" форма самообвинений.</p>
<p>Мне кажется, резкость нашей полемики в качестве одной из причин имеет как раз 
нашу неспособность к самообвинению и готовности к перестройке своей жизни. 
Отклик В.Р. – типичная и естественная реакция раздраженная обвинением человека. 
И все. И потому он интересен именно своими эмоциями, а не доводами. Разум здесь 
еще должен работать.</p>
<p></p>

<br/>

{% endblock content %}
