{% extends 'base.html' %}
<title>ЗЭС N1: Полемика: О.И. (обиженный интеллигент – Ирина Васильевна Кирилова)</title>
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
1</h3>
<h1><p><font size="4">Раздел II. Полемика</font></p> </h1>
<p><font size="5"><em>О.И. (обиженный интеллигент – Ирина Васильевна Кирилова)</em> 
"Моя реакция на статью К.Буржуадемова…"</font> </p>
<p>Возможно, что моя реакция обусловлена нелюбовью к фарсу вообще, а к фарсу, 
затрагивающему серьезные проблемы – в особенности. Как бы то ни было, но эта 
реакция в целом отрицательная, т.к. по-моему серьезные вопросы нельзя обсуждать 
в таком нелепо шутовском, а точнее – провокационном стиле… А главное – нельзя ни 
за что ни про что выставлять в качестве посмешища интеллигенцию. Именно 
антиинтеллигентская направленность бросилась мне в глаза прежде всего. Если это 
делается для того, чтобы, оскорбившись, интеллигенция высказалась, то я такого 
способа вызова на полемику не понимаю. Мне кажется, что это способ не достойный. 
И без того интеллигенция сейчас считается внутренним врагом № 1, так зачем же 
это усугублять.</p>
<p>Если же отшелушить смехачество и попытаться вылущить основные более или менее 
"конструктивные" "экономические" тезисы, то они не столь уж многочисленны и 
весьма уязвимы.</p>
<p>Следует заметить, что автор опирается в своих доводах на понятие национальный 
доход. Не будучи грамотной в этом вопросе, я боюсь спорить, но мне кажется, что 
он обращается с этим понятием довольно-таки вольно и вряд ли можно считать, что 
национальный доход может увеличиваться за счет краж и тому подобных 
операций.</p>
<p>Мне кажется, что проблема несбалансированности производства и потребления 
весьма серьезна и заслуживает не менее серьезного обсуждения. Боюсь, что такое 
гротескное изложение и вызванная им "дискуссия" далеких от экономики людей вряд 
ли может привести к серьезным конструктивным предложениям.</p>
<p>То, что жесткое планирование в системе без обратной связи не может обеспечить 
такую балансировку, вероятно, не требует особых доказательств, это и так ясно, а 
у тех, кому это надо доказывать, такая статья может вызвать совсем другую 
реакцию.</p>
<p>Основная идея о рынке, как об основном регуляторе проблемы в принципе 
справедлива, хотя и доведена до абсурда, по-моему. В этом отношении она, правда, 
не более абсурдна, чем идея о возможности прекращения войн, если все женщины 
договорятся и перестанут рожать детей, чего должны убояться правительства.</p>
<p>И дело совсем не в "жестокости и несправедливости рынка, отказывающего в 
потреблении людям, не имеющим денег". Дело в утопичности идеи возможного подрыва 
государственной торговли путем необращения к ее услугам (утопична она еще и 
потому, что рынок дает далеко не все продукты, необходимые потребителю, буде он 
даже и решит следовать наущениям автора). Автор, на мой взгляд, смешивает (и 
совершенно напрасно) понятия "частная торговля" и "спекуляция". Уповая на 
спекуляцию, как на регулирующее благо для общества, автор не отдает себе отчета 
в том, что спекуляция подразумевает обогащение спекулянта за счет перепродажи 
(перераспределения) дефицитных товаров при постоянном (государственно 
запланированном) объеме производства. Спекулянт на этот объем не влияет никоим 
образом. Тогда как частная торговля подразумевает наличие частного сектора 
производства и т.о. представляет в значительной мере "саморегулирующуюся" 
экономическую систему, т.е. влияющую на объем производства, заинтересованную в 
его увеличении. Спекулянт заинтересован в сохранении "дефицита", т.к. увеличение 
объема производства грозит ему уменьшением клиентуры. Для системы частного 
сектора производства и торговли увеличение объема производства и товарооборота 
увеличивает доход. Думаю, что все эти вопросы достаточно хорошо разработаны в 
курсах политэкономии и вопросы ценообразования там также, наверное, 
рассматриваются серьезнее.</p>
<p>Тезис же о неэффективных потребителях, которые должны изыскивать способы 
заработать побольше денег, развертывается, как мне кажется, в некорректной 
форме. </p>
<p>Требование "свободно-рыночного существования" мне кажется не выдерживающим 
критики потому что: </p>
<p>1) Рынок отнюдь не так свободен, как это представляется автору - 
ценообразование на рынке в значительной мере определяется наличием 
государственных цен. Повышение государственных цен на кофе и шоколад на рынке не 
отразилось, ибо этими товарами рынок не торгует. Но если бы повысились цены на 
мясо, молочные продукты и т.п., соответственно подскочили бы и рыночные 
цены.</p>
<p>2) Ceгодняшний рынок не в состоянии обеспечить всю реальную потребность 
потребителей, ибо для того, чтобы он мог ее обеспечить, необходимо перестроить 
всю систему сельского хозяйства и производства ширпотреба, возродив частный 
сектор.</p>
<p>Перед войной в Москве были т.н. "коммерческие" государственные промтоварные 
магазины, где продавались те же товары (а м.б. и был более широкий ассортимент) 
по цене в 4-5 раз более высокой, чем в обычных магазинах, где надо было товары 
"ловить" и стоять за ними. Не вижу в этом (при существующей ситуации) ничего 
особенно плохого, т.к. туда было легко зайти, а спекулянта надо еще искать. 
Однако думаю, что это паллиатив и что частная торговля, при которой 
продавец-хозяин был бы заинтересован в продаже товара, своевременном его заказе 
и, главное, в достаточном производстве, было бы лучше.</p>
<p>А вот общественно-полезной деятельности в спекуляции не усматриваю (хотя 
случается и прибегаю к посредничеству спекулянтов), ибо спекулянт для общества 
ничего не улучшает, а только наживается на дефекте экономической системы 
государства. Утверждение автора, что спекулянт "балансирует спрос и предложение" 
мне представляется необоснованным, ставится знак равенства между спекулянтом и 
частным торговцем. В общем, ставка на "экономически свободных людей" (под 
которыми подразумеваются спекулянты) для приведения экономики в оптимальное 
состояние – удивляет.</p>
<p>Цифровые примеры, вероятно, должны были производить впечатление, но ведь 
дело-то в том, что товара мало (либо он завезен не туда, что практически одно и 
то же, либо плохого или немодного в нем много, а хорошего мало – что опять-таки 
одно и то же) и что централизованная система снабжения с массой паразитирующих 
промежуточных звеньев, не имеющая обратной связи (т.е. не заинтересованная 
материально), не в состоянии уравновесить спрос и предложение. Спекулянты могут 
только приблизить часть товара к части потребителей, но они не изменяют действия 
всей экономической системы. Поэтому не понимаю возведения их в ранг спасителей 
общества. Кстати, далеко не всякий спекулянт в перспективе (или в потенции) 
хороший частный торговец, хотя очень вероятно, что из них может выйти их больше, 
чем из общей массы.</p>
<p>Непонятно, зачем автор припутал сюда вопрос о воровстве. Это отдельная 
проблема, хотя и связанная, быть может, через проблему материальной 
заинтересованности, а также моральной и материальной ответственности общества. И 
говорить об этом надо было бы не в данном контексте. Все же думаю, что даже и 
оправданное воровство приносит обществу значительно больше вреда, чем пользы. 
Как ни поворачивайте, воровство для общества так же плохо, как и ряд других 
явлений, свидетельствующих о девальвации ценностей и пытаться это возводить в 
ранг достоинств, по-моему, неправильно, потому что так можно обелить и многие 
другие, еще более вредные для общества деяния.</p>
<p>Призыв к свободной экономической деятельности ведет, я думаю, не к свободе, а 
к другому виду рабства – добровольной каторге. Ибо сейчас презираемый автором 
интеллигент пусть за кажущуюся ему неэквивалентной плату работает, отвечая 
своему призванию, способностям и образованию, а так он должен заниматься не 
любимой, неинтересной ему, неинтеллектуальной деятельностью только для того, 
чтобы стать угодным автору "эффективным потребителем". На мой взгляд, такая 
каторга хуже описываемого автором рабства. А главное – таким образом автор 
полностью присоединяется к огромной массе потомков черной сотни и охотнорядцев, 
убежденных в том, что "интилихенция зря хлеб ест".</p>
<p>Не берусь судить о настроениях околодиссидентской интеллигенции, кто ее 
друзья и кто враги, но как мне представляется, записка написана от лица врага 
интеллигенции вообще и мне это обидно.</p>
<p><strong><em>Комментарий к записке О.И.</em></strong> </p>
<p>Мой очередной оппонент не счел возможным даже отнестись серьезно к 
рецензируемой статье, настолько мысль об общественно полезной роли спекулянтов 
показалась ему шокирующей, а вскрытие паразитизма прислуживающей интеллигенции - 
"нелепо шутовским… фарсом", даже провокационным и черносотенным. Наибольшее 
негодование у О.И. вызвала якобы "антиинтеллигентская направленность" моей 
статьи, а этого, мол, никак нельзя допускать.</p>
<p>Но позвольте объясниться. Почему разговор пошел об интеллигенции вообще? – 
Ведь существует интеллигенция не служащая и не пользующаяся подкупающе низкими 
государственными ценами на дефицитные товары (например, в провинции). В названии 
своей статьи я определил адресат своего обвинения много уже "интеллигенции 
вообще".</p>
<p>И с каких это пор "служивая интеллигенция" стала для власти врагом №1, когда 
до сих пор она была самым первым помощником?</p>
<p>В тексте самой статьи я еще уточнил круг вызываемых на спор: 
околодиссидентская, т.е. способная к самиздатскому чтению интеллигенция. Я 
обратился к людям, способным к самостоятельным размышлениям, ибо к иным 
обращаться бесполезно – не услышат. И к ним же, естественно, я причислил прежде 
всего самого себя. В разборе, кто прав, кто виноват я думаю, самая достойна 
позиция это винить прежде всего себя и своих друзей, а не неизвестных нам людей 
иных положений и интересов.</p>
<p>Я бы понял упрек О.И. в такой форме: "Не надо было вообще упоминать об 
интеллигенции в Вашей статье, лучше было бы говорить просто о 
служащих-потребителях». С таким советом я склонен был бы согласиться, но одно 
обстоятельство мне мешает: именно среди свободомыслящей интеллигенции сегодня 
очень живо презрение к экономически свободным людям, живы антибуржуазные 
предрассудки и традиции. И именно поэтому я остановился на таком адресате 
обвинения.</p>
<p>Повторяю, я сам – служивый интеллигент и именно поэтому должен говорить 
прежде всего о наших, а не о чужих болезнях и пороках, не заботясь о "чистоте 
мундира", черт бы его побрал.</p>
<p>Переходя к конструктивной части критики О.И., нельзя не отметить одну 
симпатичную черту: у автора-интеллигента отсутствует такая специфическая черта, 
как интеллигентное высокомерие. Он может спокойно признаться в своей 
"безграмотности" по тому или иному вопросу. Надеюсь, что и у меня нет такого 
высокомерия и потому найти общий язык нам будет много легче обычного. Перейдем к 
конкретным возражениям.</p>
<p>1) "Нацдоход не может быть увеличен с помощью краж и спекуляций» (речь идет о 
повышении цен на продукцию до уровня рынка при передаче товаров в левую 
сеть).</p>
<p>- Если бы автор-интеллигент признал тезис о различной эффективности 
потребления и оптимальность рыночного регулирования, он бы признал и данный 
тезис.</p>
<p>2) Высказанная О.И. надежда, что обсуждаемая нами тема может привлечь 
внимание "серьезных экономистов" (видимо, ученых, находящихся на службе у 
государства) мне кажется совершенно неоправданной.</p>
<p>3) Об утопичности развития рыночных отношений в нашей стране, поскольку 
утопично пожелание бойкота госмагазинов. </p>
<p>- Но к такому бойкоту, на сегодня, действительно, утопичному (говорю, на 
сегодня, потому что в истории подобные массовые бойкоты проводились), я, 
конечно, не призывал. Речь шла лишь о доброжелательном отношении к частному и 
спекулятивному рынку.</p>
<p>4) Автор-интеллигент делает интересную попытку разделить понятия "спекулянт" 
и "частный торговец". Спекулянт – это перекупщик, в основном, гос.товаров, а 
частник – это торговец продуктами частного сектора. О том, что в жизни они 
переплетаются и тесно связаны друг с другом, мой оппонент не упоминает, а 
зря.</p>
<p>Капиталист, который сегодня закупает у советского государства сырье и продает 
его дальше зарубеж – спекулянт или частный торговец? Или, что можно западному 
Юпитеру, то не дозволено советскому спекулянту? Да и в наших условиях крупные 
подпольные предприятия, дающие левую продукцию, на деле используют сеть мелких 
левых продавцов-спекулянтов и не могут жить без них. Отрицание полезности 
спекулянтов-перепродавцов государственных товаров – это отрицание факта 
врастания государственного производства в стихийный рынок, это фактическая 
попытка подогнать реальное социалистическое хозяйство под невыполнимый 
социалистический идеал.</p>
<p>Впрочем, оппонент не отрицает пользы от государственной спекуляции в виде 
коммерческих магазинов, продающих товары в несколько раз дороже, но без очереди. 
Но тут же отрицает подобное право за частными спекулянтами. Почему? – 
Непонятно…</p>
<p>О.И. утверждает: спекулянты заинтересованы в сохранении "дефицита", ибо на 
его перепродаже наживаются. В устных разговорах эту мысль продолжали еще так: 
спекулянты не могут без дефицита, следовательно, они не могут жить без 
советского государства, творящего дефициты постоянно, след., спекулянты – самая 
заинтересованная и прочная основа нынешней власти.</p>
<p>Такие выводы мне кажутся совершенно необоснованными. Почва для перепродаж 
существует на любом рынке, в любом государстве (вспомните хотя бы деятельность 
знаменитых биржевых маклеров), так что профессия торговца-перекупщика везде 
необходима и будет нужна. А вот ущемление прав, постоянная угроза тюрьмой, 
общественное презрение, подавление инициативы и возможности производительно 
использовать добытые деньги – эти обстоятельства экономически свободными людьми 
воспринимаются крайне болезненно. Нет, друзьями ОБХСС или КГБ они никак не могут 
быть. </p>
<p>5) Надежда О.И., что "вопросы ценообразования в учебниках политэкономии 
разобраны "серьезнее" – мне кажется тщетной.</p>
<p>6) Предположение о том, что если бы повысились бы цены на мясо, молочные 
продукты и т.п., то соответственно подскочили бы и рыночные цены, говорит о 
простом непонимании действия рыночного механизма, а еще вернее – о 
потребительских предрассудках на этот счет.</p>
<p>7) Конечно, видеть в спекулянтах – единственных спасителей общества 
неправильно. Со стороны О.И. это невольная передержка.</p>
<p>Они улучшают госуд. систему распределения товаров, приближают ее к рыночной и 
помогают стихийной перестройке нашего хозяйства к нормальной организации.</p>
<p>8) Вопрос о производственном воровстве автор-интеллигент решает с позиции 
простого максимализма: "воровать нехорошо" и баста. Так же, собственно, 
рассуждает и ОБХСС, даже когда сажают за горсть колосков. А вот миллионы людей 
думают и поступают иначе. Обвинить их всех скопом в безнравственности, осудить в 
преступности очень легко, тем более что государство в этом будет – первым 
помощником, но на деле, в глубине, безнравственно и преступно. Прежде чем 
обвинять "ворующие" миллионы, может, следует более внимательно и скрупулезно 
просмотреть выдвинутые мною доводы в их защиту?</p>
<p>9) И, наконец, последнее: Утверждение О.И., что призыв к свободной 
экономической деятельности путь не к свободе, а к добровольной каторге 
интеллигентов, каторге, которая хуже "описываемого КБ рабства" – на мой взгляд, 
есть на редкость откровенное признание автором-интеллигентом справедливости моих 
обвинений. Именно так. Для большой части современной служивой интеллигенции 
спокойная государственная служба много лучше беспокойной службы народу, 
свободным рыночным потребителям. Сытое и спокойное рабство много лучше трудной и 
неустойчивой свободы – в этом-то все дело. Поэтому и возникает ненависть к 
спекулянтам, что они показывают реальность подлинной свободы, за которую на 
словах эти интеллигенты вроде бы выступают. Потому-то и кричат они экономически 
свободным людям: "Чур-чур меня, сгинь", что мечтают соединить нынешнюю сытость и 
будущую свободу, равнозначную, оказывается, "добровольной каторге". </p>
<p>Сегодняшняя реальность состоит именно в этом, в выборе между государственным 
социалистическим рабством и добровольным, т.е. свободным трудом на рынок. 
Остальные мечтания – вредные утопии.</p>
<p></p>
<table width="600"> <tr> <td>
<a href="2.1.02.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="2.1.04.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
