{% extends 'base.html' %}
<title>Обзор экономический статей «Правды» за январь 1981г.</title>
{% block content %}



<h1><font size="4">Сокирко В.В. </font></h1>
<h1><font size="4">Экономические материалы и обсуждения 1980-1988гг.</font> </h1>
<h1>Обзор экономический статей «Правды» за январь 1981г.</h1>
<p>Уважаемая редакция газеты "Правда"! Позвольте 
поблагодарить Вас за широкое обсуждение проекта "Основных направлений 
экономического и социального развития СССР на 1981-85гг. и на период до 1990 г." 
на страницах Вашей газеты, в ходе которого высказывались и даже обсуждались 
многие радикальные предложения по совершенствованию управления и планирования 
народного хозяйства, т.е. по проведению коренной экономической реформы, 
необходимость которой становится чем дальше, тем более очевидной.</p>
<p>Как мне кажется, ключевой проблемой, по общему признанию, является перевод 
экономики на интенсивный путь развития, что невозможно без резкого повышения 
производительности общественного труда, рационального использования рабочей 
силы.</p>
<p>Так, например, <u>Я.Кушнер в письме "Сколько стоит "помощь"?»</u> (от 
12.1.1981г.) объясняет, к каким потерям приводит практика внеэкономического 
отвлечения рабочей силы с основной работы на стройки, сельское хозяйство, и 
предлагает "четко и недвусмысленно осудить как порочную, подрывающую основы 
хозрасчета практику безучетной помощи организаций и предприятий друг другу".</p>
<p><u>В.Селюнин "Деньги любят товар"</u> (от 7.1.1981г.) обращает внимание на 
то, что рост зарплаты – даже если он идет в соответствии с повышением 
производительности оплачиваемого труда, но не вызывает соответствующего роста 
производства товаров народного потребления,- играет не положительную, а скорее 
отрицательную роль, ибо ведет к увеличению дефицитности товаров, т.е. к росту 
особого вида инфляции, и к снижению реальной заработной платы у других 
работников. Его предложение: "Балансировать денежные доходы с товарным 
обеспечением не только в нархозплане, но также на уровне отраслей и предприятий" 
– или: "Рост фонда зарплаты на предприятиях тяжелой промышленности поставить в 
зависимости от прибавки на них производства потребительских товаров" – возможно, 
и выглядят теоретически несостоятельными, но практически могут сыграть 
положительную роль в ориентировании предприятий именно на производство конечной, 
потребительской продукции, хотя основной вопрос – о повышении производительности 
общественного труда в основном производстве предложение Селюнина, конечно, не 
решает. Но, во всяком случае, неприемлемость нынешнего почти безудержного роста 
зарплаты в соответствии лишь с локальными, искусственными критериями роста 
производительности труда, Селюнин показал наглядно.</p>
<p>Доктор философских наук<u> С.Крапивенский ("Не только исполнитель, но и 
хозяин" от 8.1.1981г.)</u> делает ставку прежде всего на административные и 
запретительные меры, и потому предлагает: "1) прямо записать, что "в течение 
80-х годов покончить с явлением так называемого дефицита рабочей силы"; 2) 
"запретить привлечение рабочей силы в Москву, Ленинград и другие крупнейшие 
промышленные центры страны из мелких и средних городов и сельской местности"…; 
3) "предусмотреть комплекс экономических, юридических и иных мер для закрытия 
всех каналов извлечения нетрудовых доходов".</p>
<p>Никто не сомневается, что эти три задачи хорошо бы решить, но столь же ясно, 
что их всегда ставили и пытались решить с помощью "комплекса экономических, 
юридических, моральных и иных мер" (с нажимом на юридические и моральные меры) – 
но малоуспешно, раз эти задачи до сих пор не разрешены, а даже усугублены кое в 
чем. От очередного усиления уже применяемого "комплекса мер" (в том числе и 
такой популярной экономической меры, как повышение зарплаты) они только 
углубятся дальше. Впрочем, сам Крапивенский предлагает и иное, еще не 
испробованное у нас средство, а именно, в целях развития у работников чувства 
ответственности, чувства хозяина, социалистического собственника, - уравнять 
распределение общественных фондов потребления и "последовательно развивать 
демократию на производстве, обеспечивая постепенный переход к выборности 
руководителей всех трудовых коллективов и одновременно расширения их прав".</p>
<p>Конечно, эти меры – не панацея, но несут в себе положительный заряд в 
направлении повышения производительности общественного труда. Сегодня выборные 
руководители существуют в наших колхозах и на югославских предприятиях, и везде 
это хорошо сказывается и на повышении ответственности работников и их трудовой 
дисциплине. Поддерживаю это предложение, хотя единственным спасительным 
средством оно стать не может.</p>
<p>Так, выборный руководитель, председатель колхоза <u>В.Бабенко ("Доверие 
рождает инициативу" от 4.1.1981г.)</u> описывает, что, несмотря на огромные 
капиталовложения, рост машино- и энерговооруженности труда, повышение 
квалификации и мастерства кадров, урожайность полей, эффективность с.х. растет 
крайне медленно, непозволительно мало. Основная причина этого - "районные 
управления сельского хозяйства ежегодно без нашего на то согласия составляют и 
доводят хозяйству структуру посевных площадей… Инициатива руководителей и 
специалистов хозяйств связана всевозможными инструкциями, которые не позволяют 
им сделать лишний шаг. Ежегодно просим управление с.х-ва района разрешить нам 
сеять больше кормовых культур. Это выгодно, с одной стороны, для животноводства, 
которое пока слабо обеспечено кормами, с другой стороны, повышается урожайность 
поля. Однако каждый раз нам объясняют: структура посевных площадей для колхозов 
составляется в Мин-ве сельского хозяйства республики, и мы, мол, ни на один 
гектар изменить ее не можем… Невольно спрашиваю себя: зачем нам столько 
специалистов (58 человек), если за нас думают другие, за нас решают вышестоящие 
с.х.инстанции?"</p>
<p>Думаю, что В.Бабенко четко вскрывает одно из самых главных препятствий на 
пути к коренному повышению производительности общественного труда в нашем 
хозяйстве, а именно "господство "шаблонного планирования". Однако он не 
учитывает, что планирование сверху, из единого центра, не может не быть 
обобщенным, единообразным, т.е. шаблонным. Детали же и "тонкости" условий 
отдельных хозяйств могут учесть только низовые работники. Если же низовым 
хозяйственникам развязать руки в деле совершенствования своего производства, то 
они в этом деле будут ориентироваться на такие экономические показатели, как 
прибыль, на наиболее "выгодную" с точки зрения цен продукцию. Однако, поскольку 
у нас цены на продукцию тоже плановые, стабильные, не отражают ни ее меняющуюся 
потребительскую стоимость, ни величину потребительского на нее спроса, постольку 
такое ориентирование неизбежно окажется ложным, приведет к перепроизводству 
одних и дефициту других товаров, к резкому нарушению хозяйственных пропорций. 
Без гибких, равновесных цен - этих необходимых экономических ориентиров для 
хозяйственников, совершенно необходимо и централизованное, шаблонное 
планирование со всеми его неизбежными громадными потерями, описанными В.Бабенко, 
лишь частично.</p>
<p>Сегодня довольно широко распространяется опыт венгерских кооператоров, когда 
на приусадебных участках индивидуальным, семейным трудом (но с помощью 
кооперативов) производится значительная доля сельскохозяйственной продукции, в 
том числе мяса. Этот замечательный опыт высоко оценивает секретарь Львовского 
обкома партии <u>М.Васылив ("На приусадебном участке" от 10.1.1981г.)</u> . 
Конечно, он должен быть внедрен повсеместно, учитывая, что даже сегодня, без 
средств малой механизации, производительность общественного труда (т.е. труда по 
конечным результатам) на приусадебных участках во много раз (если не в десятки 
раз) выше, чем в колхозах и совхозах. Однако следует загодя учесть, что без 
гибких заготовительных цен, учитывающих местные условия, широкое распространение 
этого опыта даст негативные результаты, ибо приусадебники начнут продавать свою 
продукцию на рынках по рыночным ценам или даже продолжат нынешнюю порочную 
практику, когда у государства закупается дешевое мясо, которое затем государству 
и сдается,но по дорогим закупочным ценам. </p>
<p>Можно, конечно, понять, что предложение сделать цены гибкими, учитывающими 
потребительский спрос и эффект (т.е. равновесными, рыночными) крайне непопулярны 
в среде некоторых политэкономов, ибо не соответствует их догме, что равновесные 
цены, мол, противоречат марксистской теории трудовой стоимости, хотя 
теоретическая несостоятельность этой догмы уже давно показана в трудах видных 
советских экономистов, например, В.В.Новожилова. Но говорят, природу гонят в 
дверь – она влетает в окно. Проблема экономической оценки качества, 
эффективности продукции в потреблении встает все острее и неумолимей. Без ее 
разрешения невозможно решить и проблему качества продукции, и перевода экономики 
на интенсивный путь развития. До сих пор эту проблему пытаются решить с помощью 
отдельных искусственных приемов, обзывая их совокупность "наукой о качестве", 
"квалиметрией" и т.д. Примером может служить хотя бы статья <u>М.Бужкевича 
"Сервис: мера качества"</u> (от 12.1.1981г.). Однако, на деле, никакие 
рекомендации как ученых, так и плановиков из-за своего единообразия, грубости и 
неповоротливости не смогут оценивать качество продукции так же точно, полно и 
оперативно, как это делают потребители с помощью гибких, договорных цен.</p>
<p>Одно из самых энергичных и важных предложений по повышению производительности 
общественного труда поступило от профессора МГУ <u>Г.Попова ("Твое рабочее 
место" от 27.12.1980г.)</u>: "Энергично сняв все ограничения, внедрять щекинский 
метод – источник дополнительных ресурсов рабочей силы, стимул 
высокопроизводительного и долговременного труда на предприятии". Продумывая 
следствия широкого внедрения щекинского метода (при котором все работники 
стремятся работать эффективнее и получить часть зарплаты сокращенных), Г.Попов 
предлагает обеспечивать первоначальное содержание уволенных людей, их 
переучивание и трудоустройство за счет перечисления предприятиями государству 
твердой части зарплаты уволенных (выдавая последним минимум – 80 рублей (в 
месяц) при временном использовании на малоквалифицированных работах. Ваша газета 
31.1.1981г. поместила и отклики на это предложение. <u>И.Поляков </u>его 
поддерживает и дополняет, юрист <u>В.Малахин</u> резко возражает, считает, что 
предложение Г.Попова противоречит Конституции СССР, гарантирующей, мол, не 
просто право на труд, но и право на выбор профессии: "Ведь, скажем, и докторов 
наук у нас в Москве избыток. Так что же, некоторым из них брать метлы в руки?"… 
и предлагает решать вопрос только в далеком будущем, только через правильное 
планирование структуры вузовской и иной учебной подготовки (?). Следует 
понимать, что до тех пор, если у человека есть диплом, то лучше он будет 
бездельничать на рабочем месте, но в дворники ему идти нельзя. Думаю, что все же 
правильней быть дворником, чем бездельником всю жизнь. Думаю, что при подходе, 
высказанном В.Малахиным, серьезное повышение производительности общественного 
труда будет невозможно.</p>
<p><u>А.Калицов</u> выдвигает возражение, аналогичное В.Селюнину: "Повсеместное 
использование щекинского метода приведет не только к ликвидации свободных 
рабочих мест, но и к росту заработной платы,… к несбалансированности товарных 
масс и денежных доходов населения… Ведь только часть, причем не основная, 
работников нар.хозяйства занята в отраслях, выпускающих товары", и потому 
предлагает: "Внедрять щекинский метод, в первую очередь, в отраслях производства 
товаров народного потребления, постепенно, в меру сбалансированности растущих 
денежных доходов и товарных ресурсов, распространять его на все отрасли 
народного хозяйства".</p>
<p>Однако и это предложение не может достигнуть своей цели. Теоретически 
внедрение щекинского метода не должно увеличивать зарплаты всех работников, а, 
например, по предложению Попова часть уволенных работников временно станут 
получать минимальные 80 руб. в месяц, т.е. уменьшится общая сумма выдаваемой 
зарплаты. Но на деле, конечно, внедрение этого метода сразу же и намного 
поднимет среднюю зарплату по стране, ибо нынешние свободные ставки и вакансии 
(их сейчас везде много – знаменитые объявления "Требуется… требуется…") будут 
быстро заполнены и разделены между работниками, а у руководителей возникнет 
задача добиваться новых плановых вакансий и ставок. Если принять предложение 
Л.Калицова и внедрять щекинский метод сначала только в отраслях группы "Б", то 
уволенные работники тут же станут переходить на предприятия группы "А", ничего 
не потеряв лично, а работники "Б" разделят ставки уволенных, повысив среднюю 
зарплату по группе "Б" и народному хозяйству в целом. Кроме того, работники "Б", 
приложив вначале усилия, чтобы заместить как можно больше должностей и тем самым 
максимально увеличить свою зарплату, в дальнейшем будут стремиться упростить 
свою работу за счет ухудшения качества этой работы и выпускаемой продукции, т.е. 
снижая на деле потребительскую стоимость выпускаемых ими товаров народного 
потребления и, тем самым, увеличивая "несбалансированность товарных масс и 
денежных доходов". Наши экономические трудности только углубятся.</p>
<p>При одновременном же энергичном внедрении щекинского метода по всем отраслям 
народного хозяйства эти трудности и противоречия будут расти еще быстрее и 
резче. Помимо разового увеличения зарплаты всех работников путем заполнения 
всех, ныне свободных вакансий, без какого-либо увеличения продукции, предприятия 
и в дальнейшем будут добиваться выделения им больших фондов зарплаты. И сегодня 
предприятия оказывают большое (если не решающее) влияние на составление 
производственных планов. Сегодня они добиваются принятия в производство 
максимально дорогой продукции с максимумом чужого труда в ней. Если будет принят 
щекинский метод, они станут добиваться преобладания в планах трудоемких видов 
продукции, чтобы иметь возможность впоследствии сократить полагающееся по плану 
количество труда, оставив значительную часть зарплаты уволенных в качестве 
личной премии оставшимся работникам. Предприятие будет стремиться к изготовлению 
не наиболее эффективной с потребительской, народнохозяйственной точки зрения, а 
наиболее трудоемкой и потому субъективно прибыльной ему продукции. При этих 
условиях "энергичное внедрение щекинского метода" может дать не положительный, а 
отрицательный итог в виде энергичного роста производства неэффективной (не 
экономной с общей точки зрения) продукции, роста неоправданных денег у 
работников предприятия, получаемых ими не за счет действительной экономии 
трудовых и иных ресурсов, а за счет планирования производства трудоемкой 
продукции, роста инфляции и дефицита товаров нар.потребления. </p>
<p>Думается, что любые предложения о материальном стимулировании предприятий за 
экономию труда (высвобождение излишней рабочей силы), оборудования, энергии, 
материалов и т.д. не будут достигать цели, пока составление производственных 
планов не будет непосредственно зависеть от спроса потребителей, пока оценка 
основной деятельности предприятий будет производиться по искусственным 
показателям, вроде валовой, товарной, условно-чистой продукции и т.д., 
определяемых лишь по "затратным ценам", а не по конечным результатам, 
признаваемым всем народным хозяйством в лице потребителей продукции, т.е. по 
разности между потребительским эффектов произведенной продукции и затратами на 
ее производство. Для того, чтобы ввести в действие последний, совершенно 
необходимый показатель истинной прибыли (или народнохозяйственного эффекта, 
пользы от деятельности предприятия) необходимо, чтобы цены на саму продукцию и 
на производственные ресурсы включали в себя и оценку потребительского эффекта. 
Для примера можно упомянуть используемые сегодня методики исчисления "лимитных 
цен", объективно обусловленных оценок оптимального плана, экспертных цен на 
продукцию, вырабатываемых с участием потребителей, венгерский опыт 
ценообразования и т.д. Также необходимо, чтобы производственные планы 
составлялись в тесной связи с прогнозами потребительского спроса, размер 
которого, в свою очередь, зависит от эффективности продукции в потреблении 
(эластичность спроса и цен).</p>
<p>Если это предложение будет принято, исчезнет и основное препятствие широкому 
внедрению как щекинского метода, так и иных предложений по повышению 
производительности общественного труда и развязыванию инициативы хозяйственников 
(раз у них появятся правильные экономические ориентиры). Только тогда 
предприятия станут по-настоящему заинтересованы в выпуске максимума продукции, 
максимально нужной потребителям и с максимальной оценкой потребительского 
эффекта, с минимумом затрат в производстве на базе максимального внедрения новой 
техники и т.д. Только тогда совершенствование хозяйственного механизма будет 
поставлено на правильную дорогу и даст ожидаемый всеми эффект.</p>
<p>В связи с вышеизложенным, я предлагаю включить в проект "Основных 
напревлений…" следующее положение: "Незамедлительно в течение 1981г. 
разработать, а в течение 1982 года провести в жизнь хозяйственную реформу на 
основе внедрения лимитных, равновесных цен, учитывающих эффективность 
потребления и спроса, и на основе истинной прибыли, как главного показателя 
деятельности предприятий".</p>
<p>При форсированной разработке этой экономической реформы (как пишет 
<u>В.Селюнин</u> : "Время, полагаю, не терпит. Если уж применять решения, то 
именно сейчас") необходимо всесторонне анализировать и учитывать хозяйственный 
опыт восточноевропейских соц.стран, особенно Югославии, Венгрии и Польши.</p>
<p>Убежден, что фактическая революция, проходящая сегодня в Польше (когда низы 
не хотят жить по-старому, а верхи не могут управлять по-прежнему), есть, прежде 
всего, результат прежнего пагубного экономического курса лишь на всемерное 
обеспечение растущих запросов населения при фиксированных ценах на товары и без 
особых забот о росте эффективности общественного труда, так и о 
сбалансированности доходов и товаров.</p>
<p>Сейчас вывести Польшу из кризисного положения может или откровенное 
применение вооруженного насилия к бастующим рабочим из "Солидарности", т.е. к 
значительной части (если не большинству) рабочего класса (но после подавления 
все экономические проблемы останутся нерешенными и снова будут готовить почву 
для очередных потрясений). Или – передача предприятий самим бастующим рабочим, 
чтобы они сами решали экономические проблемы, сами получали с потребителей свои 
доходы и заработки (да и на самом деле, почему это именно государство должно 
взваливать на себя огромную, непосильную ношу планирования и согласования 
экономических интересов, вместо того, чтобы только взимать налоги и заниматься 
своими прямыми государственными, политическими проблемами?). На деле второе и 
единственно конструктивное решение будет означать переход к югославской модели 
самоуправляющегося социализма, когда предприятиями командуют рабочие советы и в 
своей деятельности ориентируются непосредственно на потребителей, на рынок 
товаров. Известны экономические минусы югославской модели хозяйства: работники 
оказываются в среднем неважными хозяевами, ибо они склонны больше затратить на 
свою сегодняшнюю зарплату, чем заботиться о будущем предприятия и тратиться на 
обновление его оборудования и расширение основного капитала. Однако со временем 
это можно исправить, допустив экономическое соревнование самоуправляющихся 
коллективов с иными формами предприятий и обеспечить преобладание более 
эффективных форм.</p>
<p>Мне кажется, что наша страна в экономическом смысле сегодня тоже идет по 
неверному, потребительному пути герековской Польши и потому может встретиться в 
будущем с аналогичными, но гораздо более тяжелыми последствиями, потому что 
помогать и обеспечивать нас "братской" продовольственной и вооруженной помощью – 
просто некому. Альтернативой же этому пути может стать лишь всемерное 
использование, главным образом, венгерского опыта радикальной экономической 
реформы, создавшей, прежде всего, условия для целесообразного, ответственного, 
инициативного труда: гибкие договорные цены, подлинная хозяйственная 
самостоятельность (а фактически – возвращение к ленинским принципам организации 
народного хозяйства, установившиеся в последние годы его жизни и искаженные во 
времена культа личности). 6.2.1981г.</p>
<p><em>24 февраля Вите позвонил "коллега" и сказал, что внимательно ознакомился 
с его письмом в "Правду". Хотя оно и написано не совсем таким языком, каким 
полагается, особенно в конце, про Польшу, но, в конце концов, "наплевать". Из 
редакции "Правды" ответ Витя получит, и от В.А. тоже. Вот нагрузка в связи со 
съездом уменьшится, и Витя обязательно получит беседу или аргументированный 
ответ. Тут же поинтересовался, ознакомился ли Витя с "Отчетным докладом 
Л.И.Брежнева" и понравился ли он ему. Выслушав ответ, попросил изложить его 
письменно: "Нам интересно знать Ваше мнение, как специалиста и человека, 
имеющего свою точку зрения". Хотя предложение было неожиданным, но Витя 
согласился, раз его просят изложить свою точку зрения.</em> </p>
<p><em>В конце февраля Витя получил открытку из "Правды", помеченную 
26.2.1981г., на которой типографским способом было напечатано:</em> </p>
<p><strong>" Уважаемый товарищ! Редакция "Правды" благодарит Вас за участие в 
обсуждении проекта ЦК КПСС к 26 съезду партии "Основные направления 
экономического и социального развития СССР на 1981-1985 годы и на период до 1990 
года". Как Вы знаете, часть таких писем использована на страницах газеты, а 
остальные обобщены в специальные обзоры, содержание которых доведено до сведения 
компетентных органов.</strong> </p>
<p><strong>Желаем Вам всего доброго! Отдел писем "Правды".</strong>
</p>
<br/>

{% endblock content %}
