{% extends 'base.html' %}
<title>Экономические материалы и обсуждения 1980-1988гг.</title>
{% block content %}



<h1><font size="4">Сокирко В.В. </font></h1>
<h1><font size="4">Экономические материалы и обсуждения 1980-1988гг.</font> </h1>
<h1>Неудачный опыт выступления в защиту "экономически 
свободных людей"</h1>
<p>6 марта 1988г. я отправил свое обращение по поводу осужденных 5-ти 
мончегорских граждан за несанкционированную добычу золота из неохраняемой 
заводской свалки, предназначенной, видимо, для переплава (об этом сообщила 
"Правда" 5.3.1988).</p>
<p>Этот вопиющий по драматичности случай нашего правового и хозяйственного 
абсурда нечаянно описала сама "Правда" для миллионов читателей, и было бы очень 
полезным высветить на этом примере всю недостижимость объявленной перестройки, 
если карательные органы будут с прежней свирепостью карать любую 
несанкционированную инициативу. Свой отзыв-обращение я направил в главный 
руководящий орган страны – ЦК КПСС (непосредственное начальство "Правды" и 
судов) и в "Экспресс-Хронику" (по моим представлениям, наиболее авторитетный 
орган независимого общественного, оппозиционного мнения). Не рассчитывая на 
отклик первого адресата, я был уверен в положительном отклике 
"Экспресс-Хроники", как поводу выступить хотя бы символически в защиту целого 
слоя невинно осуждаемых людей. Получилось несколько иначе.</p>
<p>ЦК КПСС, естественно, мне не ответил , да я и не ждал ответа на очевидно 
"диссидентское" письмо. Однако о некоторой "реакции" я могу догадываться по 
опубликованной вскоре (25 марта) статье на аналогичную тему "Серебро серебром", 
но совсем иного духа: там уже осуждаются хозяйственники, которые не поощряют 
самовольных (правда - "бескорыстных") добытчиков серебра из свалок… Мне кажется, 
что таким образом "Правда" попыталась несколько исправить впечатление от своей 
первой, погромной статьи… Надеюсь, что к такому "повороту" было причастно и мое 
обращение в ЦК КПСС. А значит, косвенный отклик был.</p>
<p>А вот со стороны "Экспресс-Хроники" я получил неожиданно сугубо негативный 
отклик. Обращался я прямо к члену редакции "Экспресс-Хроники" – Петру Старчику, 
хорошо отнесшемуся к моему обращению. Однако иное мнение сложилось у остальной 
редакции. Через пару недель П.Старчик с огорчением мне рассказал, что в редакции 
считают выступление в защиту подобных людей – неправомерным, поскольку они брали 
из заводских свалок, значит - "воровали"! </p>
<p>Мои попытки объяснения, просьбы обратиться к авторитетным юристам оппозиции 
для изучения этого важного случая судебных преследований – не доходили, не 
воспринимались.</p>
<p>Вдобавок было высказано сомнение в моей собственной порядочности, ссылаясь на 
суд 1980г. П.Старчик даже высказал некоторое редакционное пожелание: "Вот если 
бы ты выступил с публичным раскаянием…" На это я ответил объяснением, что все 
события 1980 года были очень дотошно обсуждены, открыто, еще в 1980-81 годах, 
включая и "Хронику текущих событий", и возвращаться к этому у меня нет никакого 
желания и нужды. Попасть в чей-либо "черный список" я не боюсь.</p>
<p>Хотя П.Старчик взялся еще раз "проталкивать" этот вопрос – но, видно, не 
получилось. Поэтому я вынужден числить весь этот эпизод завершенным, в целом – 
неудачным.</p>
<p>Главный его урок: глубокое равнодушие оппозиционного движения в лице его 
самого традиционного и авторитетного издания - "Экспресс-Хроники" – к защите 
прав и свобод самодеятельного слоя людей. Крайне печальный и даже страшный для 
оппозиции вывод, свидетельство узости ее социальной базы, зацикленности лишь на 
собственных проблемах. Симптоматично, что из экономических тем в самиздате 
обсуждается иной раз лишь проблема борьбы с повышением государственных цен, что 
равносильно борьбе за сохранение качества государственных жалований. И все.</p>
<p>Наконец, практический вывод для себя: к сожалению, я не могу считать 
"Экспресс-Хронику" – своим органом печати. Она не только не развивает традиции 
старой "Хроники" вширь, что было бы естественно в новых условиях, но имеет 
узкий, может даже искусственный характер. Думаю, что это не позволит ей 
приобрести широкое влияние среди освобождающихся людей. 
21.4.1988</p>
<br/>

{% endblock content %}
