{% extends 'base.html' %}
<title>Экономические материалы и обсуждения 1980-1988гг.</title>
{% block content %}



<h1><font size="4">Сокирко В.В. </font></h1>
<h1><font size="4">Экономические материалы и обсуждения 1980-1988гг.</font> </h1>
<h1>Черновик одной "научной" статьи</h1>
<p>Предыстория: Находясь в 80г. в Бутырской тюрьме на следствии, я был уверен, 
что жизнь моя радикально переломилась, что к работе во ВНИИНефтемаше, где я 
занимался определением перспективной потребности страны в нефтяном оборудовании, 
возврата мне не будет. Но от этого я чувствовал только облегчение. Последние 
годы я мучился бессмысленностью своей работы, необходимостью в ней вранья и 
халтуры. Необходимость заработка на жизнь себе и семьи и стремление выгадывать 
время для собственных занятий вынуждали меня мириться с этим, но совесть все 
равно твердила о невозможности вести халтурную работу всю жизнь, до пенсии. И 
казалось в тюрьме, что сама судьба диктует мне после лагеря выбрать простую, но 
морально чистую физическую работу, чтобы жить дальше с чистой совестью. Потом 
оказалось, что это мне не позволено. "Коллега следователя" прямо выразился: 
"Ничего не выйдет, Виктор Владимирович. Это дурной тон – становиться рабочим, не 
для того государство учило Вас в вузе".</p>
<p>Однако внутренне прощавшись с профессией плановика-экономиста, мне хотелось 
подытожить полученный во ВНИИНефтемаше и ЦЭМИ АН СССР (почти 10 лет) опыт, 
изложить его хотя бы для друзей, которые находятся в сходной ситуации. Времени в 
камере было много. На нескольких страницах школьной тетради я написал первый 
вариант, надеясь передать его как-нибудь домой для последующей доработки. Сделал 
два списка на всякий случай, однако оба погибли на обысках. И сейчас я могу 
только вспоминать, о чем тогда писал.</p>
<p>Материал этот был посвящен Вячеславу Алексеевичу Бессонову – ныне покойному 
старейшему экономисту ГИПРОЦветмета, ставшему первым и единственным моим 
учителем в нынешней моей профессии. Студент дореволюционного университета и 
царский офицер, он заканчивал вуз уже в советское время. Был членом партии, но в 
20-х годах смог безболезненно выйти из нее (воспользовавшись тем, что в пожаре 
Москворецкого райкома сгорела его учетная карточка). Потом был ученым секретарем 
Института экономики АН CCCР и делился со мной смешными эпизодами из периода 
"создания политэкономии социализма". В годы войны был экспертом по 
прогнозированию стратегических ресурсов воюющих стран, после войны – советником 
в Берлине при создавшемся вначале всегерманском правительстве (эта работа была 
заброшена после раскола Германии). После возвращения на родину был арестован по 
нелепому обвинению и по ст.58 провел в лагере время вплоть до общей 
послесталинской реабилитации. Но после выхода карьера его не поднималась выше 
должности старшего научного сотрудника, хотя на деле он был единственным 
специалистом в цветной металлургии, определяющим размеры потребности страны и 
мира в меди, свинце, цинке, алюминии и других цв.металлах. Мало того, в 
последние годы его лишили "допуска" (ведь почти вся цветная металлургия в СССР 
"совершенно секретна" – одна из наших хозяйственных нелепостей). Однако институт 
не мог обойтись без услуг В.А., и он продолжал работать, как прежде и без 
допуска. Кстати, такая уникальность положения В.А. позволила и мне, тогдашнему 
диссиденту, которому, естественно, тоже отказали в допуске, все же продержаться 
на работе в ЦЭМИ АН СССР на теме оптимального планирования цветной металлургии 
полтора года и даже написать диссертацию. Между нами очень быстро возникла 
сердечная приязнь. Я с благодарностью пользовался его опытом и знаниями, он 
благодарил меня за книги Солженицына и иной самиздат, помогал всем, чем мог. 
Недаром на его похоронах ближайшая его сотрудница сказала мне: "Вячеслав 
Алексеевич считал Вас за сына". А я всегда помнил и буду помнить его, как и 
других замечательных стариков, на дружбу с которыми была так щедра моя 
жизнь.</p>
<p>Вячеслав Алексеевич был марксистом, но не большевистского, а скорее 
социал-демократического толка. Он прекрасно видел все несуразности нашего 
экономического бытия и работы и, тем не менее, находил возможности выполнять 
нужную всем и достойную работу. Именно этому свойству я сейчас поражаюсь, этого 
качества я не смог у него перенять. Это стало для меня загадкой и 
неповторимостью. Поэтому эта статья и была сначала посвящена его памяти, как 
образцу и примеру достойной жизни для расчетчика потребности.</p>
<p>После возвращения из тюрьмы и восстановления на прежней работе, друзья из 
ученой среды предложили мне написать статью о своей работе. В возможности ее 
публикации веры у меня не было, но – чем черт не шутит – написал снова. Однако 
при здравом общем рассмотрении оказалось, что научного содержания в ней маловато 
для серьезной статьи, обсуждение наших несуразностей для научного мира не очень 
интересно – все и так все знают, хотя печатно и не обсуждают. Я понял, что 
единственное место этой статьи – лишь в нашем семейном архиве, как памяти о 
тюремных размышлениях о смысле своей профессии. Только жаль, что в руках остался 
не первый, тюремный, а второй, онаученный и в определенном смысле – разжиженный 
– вариант. Июнь 1981г.</p>
<p><strong>"Вопросы определения потребности в отраслевой продукции и их 
значение" (на примере нефтеаппаратуры)</strong>. (Статья содержит 4 рисунка, 
но  я  их не привела - просто кратко описала –Л.Т., 
2008г.)</p>
<p>Ниже будет сделана попытка проанализировать практику определения 
перспективной потребности народного хозяйства в отраслевой продукции на одном 
примере и поставить вопросы, решение которых, на наш взгляд, имеет большое 
значение для будущей экономической реформы. </p>
<p>Значение определения потребности в отрасли для социалистического планирования 
вытекает из давно сформулированного основного экономического закона социализма: 
"Обеспечение максимального удовлетворения постоянно растущих материальных и 
культурных потребностей всего общества путем непрерывного роста и 
coвершенствования производства на базе высшей техники" (формулировка И.В.Сталина 
– уч."Политэкономия"М.1954г.,стр.405). Значит, от того, как будут определены 
потребности общества, зависят и результаты планирования производства и 
последующее выполнение поставленных планов, и само действие "основного закона 
социализма". Однако, как убеждает опыт, до сих пор никто не знает, как же именно 
определяются, рассчитываются эти "постоянно растущие материальные и культурные 
потребности всего общества"…</p>
<p>Чаще всего встречается упрощенная трактовка этого закона: надо производить 
"всего" ныне производимого, как можно больше. Но при этом неизбежно изменятся 
пропорции, структура выпускаемой продукции, искажение же структуры потребления 
означает производство на деле ненужных вещей (грубо говоря, колеса при нехватке 
машин). Возникает задача определения потребности общества (народного хозяйства – 
в случае продукции машиностроения), как предела целесообразного использования 
этой продукции, до которого можно и следует развивать производство ее. Взамен 
реального многообразия потребностей, разнящихся от множества причин, главными из 
которых является эффективность в разных сферах использования и стоимость 
производства на разных предприятиях, в нашей практике принято жесткое понятие 
однозначной потребности (для пущей важности ее часто именуют "научно 
обоснованной", хотя на деле ученые, как правило, здесь ни при чем).</p>
<p>Предполагается, что потребность рассчитывается исходя из нужд потребителей 
продукции, и следует подтягивать план производства к этой величине. Разность 
между однозначной потребностью и производственным планом именуется дефицитом 
продукции. От реального экономически осмысленного дефицита (который определяется 
как разность между совокупным эффективным спросом и совокупным предложением), 
этот "условный дефицит" отличается как раз тем, что взамен четкой категории 
"эффективный спрос" вводится однозначная потребность, величина которой 
определяется весьма неопределенно и произвольно, фактически вне зависимости от 
экономической эффективности потребления и производства.</p>
<p>Общеизвестно, что заявки предприятий на оборудование и материалы в наших 
условиях сильно завышены по сравнению с реальными потребностями. Потребители не 
рассчитывают, какую прибыль принесет им новое оборудование, потому что 
рассчитывают получить средства на его приобретение из централизованных 
капиталовложений внеэкономическим путем. Конечно, такие завышенные заявки и 
расчеты потребности делают невозможным составление реальных производственных 
планов. Но еще печальней, когда завышенные потребности все же удовлетворяются – 
тогда фактически ненужное оборудование плохо работает, простаивает или просто 
бездействует и уничтожается. Почему это происходит? Почему экономисты не могут 
рассчитывать правильную величину потребности, равную совокупному эффективному 
спросу? – Дело в том, что при отсутствии рыночного перераспределения продукции 
по ценам, прямо зависящим от величины эффективного спроса, величина совокупного 
эффективного (платежеспособного) спроса просто теряет смысл.</p>
<p>Долгое время экономисты просто не знали, как правильно определять 
"потребность", на практике же ориентируясь на оценки (нормативы) прошлого 
потребления. Только возникновение в нашей экономической науке концепций 
оптимального планирования привело к появлению понятия "оптимальной потребности", 
в целом, равнозначного совокупному эффективному спросу. Однако величина 
оптимальной потребности в продукции любой отрасли может быть рассчитана только в 
ходе решения глобальной задача оптимизации всего народного хозяйства, потому что 
только в такой общей задаче можно выбрать наиболее эффективные с точки зрения 
всего народного хозяйства (общества) направления производства и потребления. 
Кстати, "оптимальной потребности" должно соответствовать и "оптимальное 
производство", т.е. эти величины должны быть обязательно сбалансированы, а также 
"оптимальная цена" продукции, при которой все выбранные потребители и 
производители заинтересованы получением определенного экономического эффекта ( 
рис.1 – две пересекающиеся кривые, ниспадающая –потребление, восходящая - 
затраты производства, отмечен прилегающий к осям координат прямоугольник 
"оптимальная цена – оптимальная потребность и производство")</p>
<p>Пересечениение кривых "затраты производства" и "эффективности потребления" 
дает искомую величину оптимальной потребности. Однако для нас это лишь 
теоретическая схема. И сейчас, и в предвидимом будущем такая задача не может 
быть решена на ЭВМ, потому что требует максимально быстрого сбора информации от 
всех участников производства и потребления, почти мгновенного сравнения всех 
возможных вариантов потребления и производства по всему народному хозяйству, что 
под силу только рынку (т.е. совокупности всех потребителей и производителей, 
объединенных в естественную гигантскую вычислительную машину балансирования 
спроса и предложения) или равномощной ему совокупности ЭВМ (равномощной 
человечеству, что является сегодня чистой фантастикой).</p>
<p>Невозможность математического расчета "оптимальной потребности" снова 
возвращает нас к необходимости расчета потребности "традиционными", т.е. ныне 
принятыми эмпирическими методами. Эти методы, вернее, приемы способны по-разному 
приближаться к прогнозированию оптимальной потребности.</p>
<p>Прежде чем рассматривать различия этих методов, надо отметить,- основой их 
являются нормативный тип расчетов, что обуславливается плановым характером 
нашего хозяйства. Потребность подсчитывается перемножением планируемых объемов 
основной деятельности потребителя на заранее определенный норматив потребления 
(т.е. прогнозные или заранее утвержденные удельные расходы). Планы основной 
деятельности задаются сверху, а на долю расчетчиков потребности остается лишь 
определение нормативов потребности. Наиболее известными методами, 
рекомендованными самим Госпланом СССР (НИИПиН), считаются экстраполяционный и 
факторный. Первый заключается в выявлении основной тенденции изменения удельных 
расходов потребления в прошлом и продолжении ее на будущее с помощью 
математически однозначных процедур, что ограничивает во многом произвол 
расчетчиков потребности. Факторный метод заключается в корректировке базового 
удельного расхода (обычно, в последнем году предпланового периода) с помощью 
факторных индексов, выражающих ожидаемое (или желаемое) влияние технического 
совершенствования потребляемого оборудования, изменения его эксплуатационных, 
стоимостных и иных качеств и т.п. Математически однозначных практических 
способов определения этих индексов не существует, поэтому факторный метод дает 
более неопределенные результаты и не застрахован от произвола расчетчиков 
потребности.</p>
<p>Если норматив перемножить на план работы потребителя, то получим "плановую 
потребность", если же сомножителем норматива поставить ожидаемое выполнение 
плана (прогноз) – то получим реально ожидаемое потребление (прогнозную 
потребность). Но в любом случае величина норматива и самой потребности 
ориентируется на реально сложившиеся тенденции потребления, если отсутствуют 
какие-либо особые интересы у разработчиков, вынуждающие их произвольно завышать 
или занижать свои расчеты. Ничего иного эти методы и не могут дать.</p>
<p>Мы считаем, что такая ориентация на сложившийся уровень потребления и 
существующие тенденции его изменения – наиболее правильна и дает результаты, 
наиболее близкие к величине оптимальной потребности… Это положение о близости 
реального распределения оборудования к оптимальному в существующих условиях 
часто оспаривается. Однако нельзя отрицать, что, во-первых, реальное потребление 
– все же сбалансировано с производством (хоть и плохо), а во-вторых, что в 
создавшихся условиях люди действуют все же наилучшим (оптимальным) со своей 
точки зрения образом. Если брать за целевую функцию нынешней экономики не 
абстрактные принципы, а реальные цели власти, коллективов, людей, из которых и 
складывается целевая функция всего общества, народа, то как раз нынешнее 
положение дел окажется близким к оптимальному, а наиболее правильным будет 
придерживаться уже сложившегося состояния экономики (в том числе и потребления 
нашей продукции) и лишь развивать сложившиеся в прошлом тенденции. Конечно, если 
у общества есть реальный выбор между разными вариантами и тенденциями развития, 
там должны рассчитываться и разные варианты развития (в том числе и разные 
объемы потребления)…</p>
<p>На рис.2 проиллюстрированы результаты определения потребности по годам, 
полученные разными расчётными методами – восходящие прямые 1…4, максимальное 
значение показывает 1 и зигзагообразная кривая реального потребления 5, 
наложенная на кривую 4. </p>
<p>1 и 2 – плановая потребность, определенная в расчете на полное выполнение 
запланированной работы потребителя, соответственно, факторным и 
экстраполяционным методами; 3и 4 – прогнозная (ожидаемая) потребность, 
рассчитанная лишь на ожидаемую работу потребителя (прогноз), соответственно – 
факторным и экстраполяционным методами; 5 – реальный тренд потребления, 
заменяющий в наших условиях динамику эффективного спроса.</p>
<p>В официальных отчетах обычно ссылаются на два первых вида потребности, хотя 
на деле наиболее близки к фактическому (и след., оптимальному) потреблению – 
прогнозная потребность, с использованием наиболее объективного 
экстраполяционного метода (4). Остальные типы расчетов оказываются заведомо 
завышенными.</p>
<p>Практика расчетов потребности это подтверждает. Так, на рис.3 показаны (все 
расчётные кривые имеют экспоненциальный характер, а кривая реального выпуска 
нефтеаппаратуры - зигзагоообразный) рассчитанные в разные годы перспективные 
планы производства нефтеаппаратуры в стране на уровне удовлетворения 
народнохозяйственной потребности в конце планового периода (1,2,3,4) в сравнении 
с фактической динамикой производства нефтеаппаратуpы. Расчеты эти велись разными 
методами, но результаты во всех случаях получились сильно завышенными (более чем 
в два раза). Кроме того, на этом рис. приведены экстраполяционные прогнозы 
(5,6,7), составленные на основе предположения о сохранении в будущем темпа 
развития нефтеаппаратурного производства, достигнутого в предшествующем 
расчетному периоде. Очевидна близость "расчетов потребности" и экспоненциальных 
расчетов производства, что, на наш взгляд связано с субъективизмом расчетов 
потребности, со стремлением расчетчиков развивать производство максимально 
возможными темпами, достигнутыми в предыдущий период. Именно стремление 
производителей (в ведении которых и находятся плановики, занятые расчетами 
потребности) обосновать перед высшим руководством необходимость выделения им 
максимума возможных капитальных вложений, соблазняет их понуждать своих 
плановиков завышать расчеты потребности: раз насчитают большую потребность, 
значит для ликвидации будущего "дефицита" нужно больше построить и ввести 
производственных мощностей, а для этого надо больше выделить капитальных 
вложений. А чем лучше обоснуешь и больше потребуешь – тем больше тебе дадут на 
деле (хотя и не то, что запрашивал). Думаем, что именно в этом главная причина 
завышения результатов в современных расчетах потребности.</p>
<p>Кстати, когда время подходит к выполнению конкретных производственных планов, 
на что надо отвечать премиями и даже положением, то у хозяйственных 
руководителей на первый план выступает противоположный интерес – чтобы план 
текущего производства был реально выполнимым с превышением на 10% и с 
достаточным запасом прочности. На этом этапе производители предпочитают давать 
расчеты типа 3 и 4) (рис.2), в то время как высшие инстанции стремятся утвердить 
завышенные текущие планы производства (по типу 1 и 2), требуя, чтобы все планы 
были "напряженными", максимально возможными (т.е. закладывают их реальную 
невыполнимость).</p>
<p>Так, в процессе разработки планов производители и руководящие ими инстанции 
выступают в качестве противоборствующих сторон. Плановики производителей 
защищают интересы производства, высшие инстанции – интересы потребителей, т.е. 
всего народного хозяйства в целом. Такой процесс просчетов планов превращается в 
подобие торга между производителями и потребителями (на рынке существует торг 
между покупателями и продавцами). Это становится особенно наглядно, когда, 
например, два или больше отделов Госплана, представляющие производителей и 
потребителей, собираются, чтобы согласовать планы производства и потребления 
конкретной продукции. Но в этом "квазиторге" основным ориентиром являются, к 
сожалению, не цены равновесия, не экономические расчеты эффективности, а всякие 
качественные соображения и общехозяйственные ограничения. Это вызывает большие 
сомнения, что такой "квазиторг" способен привести точно к экономически 
эффективным, оптимальным решениям. Было бы лучше, если б этот квазиторг 
превратился в торг настоящий, рыночный.</p>
<p>Тогда и расчеты потребности освободятся от нынешнего произвола необъективных 
оценок, а сама сфера экономической деятельности превратится в очень важную 
область знания – изучение и прогнозирование эффективного спроса. Сегодня же 
расчетчики потребности вынуждаются самой обстановкой к вранью, к завышению своих 
расчетов. И чем длиннее перспективный период и, след., больше неопределенность 
от будущего, тем больше степень завышения, больше вранья… По мере укорачивания 
перспективного периода с течением времени, планы на данный год постоянно 
пересматриваются, корректируются в сторону снижения вплоть до "успешного 
выполнения" на уровне экстраполяционного прогноза. И чем больше укрепляется эта 
практика корректировок планов, даже утверждениях сверху, тем больше уверенность, 
что наше плановое хозяйство на деле развивается стихийно и неуправляемо. Ведь 
признаком управляемой экономики служат как раз выполняемые, реальные 
план-прогнозы. И как бы мы ни "совершенствовали методы определения н.-х. 
потребности", практика таких расчетов при настоящих условиях всегда будет 
тяготеть к максимально возможному (на деле нереальному) росту существующего 
производства. Изучение же реальных тенденций изменения спроса, предвидение 
реального будущего оказывается просто ненужным, вернее, неудобным, в условиях 
вышеописанного неофициального, превратного торга – не с помощью гибких цен, а с 
помощью "гибких планов" (завышенных заранее – не для выполнения, а для торга). 
Реальная жизнь исправляет потом эти завышенные планы, корректирует их совершенно 
непредвидимым, случайным образом и тем самым придает динамике производства 
скачкообразный, стихийный характер.</p>
<p>К сожалению, статистических данных о производстве и потреблении хотя бы 
основных видов продукции по годам за длительные периоды времени недостаточно, 
чтобы строить доказательные временные ряды. Мы столкнулись с этим при анализе 
динамики производства в стране нефтеаппаратуры. Этой позиции еще повезло, т.к. 
она вошла в список важнейших, данные о которых включены в сборники ЦСУ, а во 
вторых, до недавнего времени ее измерение шло не в денежном, а в натуральном 
выражении (в тоннах), что устраняло фактор инфляции.</p>
<p>Риc.4 показывает различие данных ЦСУ о развитии производства нефтеапаратуры в 
стране (они приводятся лишь за отдельные годы) за исключением последнего периода 
и данных, выписанных из текущих отчетов одним из наших плановиков (ныне на 
пенсии) в частном порядке, себе для памяти (ибо текущие отчеты через несколько 
лет уничтожаются) –(кривая, составленная по выписанным данным – зубчатая, 
проходящая через данные ЦСУ, Л.Т.) </p>
<p>Если коснуться причин наблюдаемых колебаний производства нефтеаппаратуры в 
нашей стране, то в них легко заметить три цикла. 1-й цикл – 1932-1945гг. связан 
своим подъемом с началом индустриализации страны и спадом в военные годы в связи 
с переходом машиностроения на производство вооружения. 2-й цикл – 1945-1955гг. 
связан с переходом промышленности на мирную продукцию, вызван насущной 
потребностью обновления изношенного за войну парка нефтеаппаратуры в стране, 
расширения масштабов нефтепереработки. Потребность страны в нефтеаппаратуре была 
тогда столь большой, что были развиты слишком большие мощности для ее покрытия, 
довольно скоро реальный спрос народного хозяйства в нефтеаппаратуре был насыщен 
(хотя расчеты потребности и заявки твердили, наверное, о дефиците…) Наконец, до 
высшего управляющего звена дошло, что существуют гораздо более настоятельные 
потребности на иную продукцию и потому большая часть нефтеаппаратурных заводов 
была переведена на производство другой продукции. Производство нефтеаппаратуры в 
стране стало стремительно падать и сократилось в 2,5 раза – теперь гораздо ниже 
реальной потребности. Наконец, третий цикл колебаний в производстве 
нефтеаппаратуры пришелся на 1955-1969гг. и связан с аналогичными ошибками в 
оценке потребности. В настоящее время идет четвертый цикл колебаний, но выяснить 
их масштаб теперь будет очень трудно, потому что в последние годы (с 1976-го) 
учет выпуска нефтеаппаратуры стал вестись в деньгах (млн.руб), а не в тоннах. 
Кроме того, из состава н/а выведена крупная группа оборудования, что делает еще 
более несопоставимыми прежний и нынешний показатели. Однако и имеющегося ряда, 
на наш взгляд достаточно для вывода о наличии циклических колебаний в 
социалистическом хозяйстве, что, к сожалению, не находит отражения в 
экономической литературе.</p>
<p>Как исключение из правила о замалчивании этих явлений и как свидетельство 
объективности (и типичности) их процитируем реферат на статью венгерских 
экономистов: "Причины колебаний объема капитальных вложений в экономике":</p>
<p>"Систематические колебания объема. кап.вложений наблюдаются в большинстве 
социалистических стран. Однако часть экономистов социалистических стран, 
ссылаясь на плановое хозяйство, отрицает возможность и факт систематических 
колебаний объема капитальных вложений в социалистическом хозяйстве… 
Форсированные темпы экономического развития и повышенный спрос министерств и 
предприятий на кап. вложения приводят к цикличности процесса капитальных 
вложений. Часто допускалось снижение сметной стоимости строительных объектов. 
Наряду с этим возникала дополнительная потребность в сопряженных кап.вложениях. 
В условиях большого спроса на кап.вложения не предъявлялось строгих требований к 
экономической эффективности кап.вложений. Кап.вложения финансировались за счет 
бюджетных ассигнований. Для уменьшения спроса на капит.вложения были введены 
расчеты экон.эффективности кап. вложений. Однако на практике при решении 
вопросов о кап.вложениях исходили в основном из натуральных показателей 
предполагавшихся к строительству объектов. Технико-экономическое обоснование 
строительства объектов часто выполнялось после принятия решений о кап.вложениях. 
Вследствие этого результаты обоснования целесообразности кап.вложений не играли 
существенной роли. Даже введенная с 1968г. система кап.вложений не устранила 
колебаний объема кап.вложений в отдельные периоды".</p>
<p>Как видно, колебания производства нефтеаппаратуры весьма схожи с обычными 
циклическими (кризисными) колебаниями в западной экономике, на наш взгляд, имеют 
сходную природу и связаны с огромными растратами средств не только в 
производстве (в связи с вынужденными перестройками), но еще больше – в области 
потребления нефтеаппаратуры, когда произведенное сверх нужды оборудование 
простаивает, или когда потребители простаивают из-за отсутствия нужного 
оборудования. Стоимость количества нефтеаппаратуры в размере величины колебаний 
ее производства может служить грубой оценкой тех потерь, которые несет народное 
хозяйство, как на западе, так и у нас, из-за неверного планирования и 
вызываемого им скачкообразного развития производства из-за плохой работы 
расчетчиков потребности. Цена этих потерь очень велика, одного порядка с 
народнохозяйственными потерями при капиталистических кризисах.</p>
<p>Если вернуться к рис.3, то легко увидеть, что в каждом году рассчитывались 
завышенные планы производства на основе сильно завышенных расчетов потребности 
народного хозяйства в нефтеаппаратуре. Можно сказать, что эти колебания вызваны 
именно неправильными предсказаниями потребности и составленными на их основе 
неверными планами. цена нашей лжи и халтуры. Именно на расчетчиках потребности 
лежит великий грех неэффективности и несбалансированности нашего народного 
хозяйства.</p>
<p>И слабым утешением может служить соображение, что в определенном смысле 
капиталистические кризисы тоже вызываются ошибками инвеститоров капитальных 
вложений и чрезмерным наращиванием тех или иных производств ("разогреванием 
экономики") – из-за неверных прогнозов будущего эффективного спроса. Правда, там 
эти ошибки связаны существенным образом с инфляционной порчей денежной системы – 
главного измерителя и ориентира эффективности экономических решений (механизм 
этой порчи описан в известной статье В.В.Новожилова "Пределы инфляции"). Когда 
отдельные фирмы планируют рост своего "дела" столь же безудержным 
экспоненциальным образом, как и наши отрасли, то они неизбежно и аналогично 
приходят к таким же скачкам и потерям (правда, расплачиваются за это прежде 
всего – собственным имуществом), а в масштабах страны – к кризису, который 
безжалостным образом исправляет допущенные хозяйственные ошибки в процессе 
технической перестройки всего хозяйства и кредитно-денежной системы.</p>
<p>Совершенствование методов расчета потребности народного хозяйства в 
отраслевой продукции заключается в повышении степени достоверности и 
независимости прогнозов эффективного спроса на эту продукцию, является одним из 
важных условий уменьшения колебательности, т.е. стихийности развития народного 
хозяйства и неотделимо от необходимого проведения радикальной экономической 
реформы.</p>
<p>Необходимо, чтобы хозяйственные руководители воспринимали последствия 
неправильных прогнозов потребности (спроса), как катастрофу, личное банкротство 
и, след., были заинтересованы жизненно именно в реальных прогнозах, а не в 
"очковтирательных" планах; денежная система была избавлена от инфляционной 
порчи, а цены были равновесными, хозяйственный рыночный механизм – 
действенным.</p>
<p>На этих условиях станет результативным и совершенствование самой техники 
прогнозирования эффективного спроса, использование всех достижений мировой 
экономической науки.</p>
<p>Первые две задачи могут быть решены в полном объеме только в ходе коренной 
экономической реформы. Без нее усилия расчетчиков потребности будут объективно 
обречены на неудачу. Однако профессиональная честь и человеческое достоинство не 
позволяют мириться с этим обстоятельством. Даже в рамках существующей 
хозяйственной системы, существующего давления начальства, расчетчики потребности 
могут прилагать усилия, чтобы противостоять требуемой от них лжи, завышению 
прогнозов перспективной потребности и планов производства. Следует пытаться 
вырабатывать прогнозы потребности в зависимости от искусственно разрабатываемых 
равновесных перспективных цен, увязывать прогнозы этих цен и величины 
потребности с учетом направлений разной эффективности и т.п. Также следует 
обдумывать способы реального перевода "торга через планы" в нормальный торг 
производителей и потребителей через цены и о ценах. И если сейчас это сделать 
трудно или даже невозможно, то при разработке и утверждении реальных проектов 
новых заводов и реконструкции действующих предприятий совершенно необходимо 
учитывать реальные и правдивые прогнозы потребности, нет, эффективного, 
обоснованного спроса, чтобы не множить незавершенку, не увеличивать потери и 
будущие тяготы страны.</p>
<p>Иначе не может быть чистой совесть у расчетчиков потребности, плановиков и 
всех экономистов социалистического хозяйства. Только в разработке реальных 
прогнозов можем мы выполнять свой профессиональный и человеческий долг. 
1980-1981гг..</p>
<br/>

{% endblock content %}
