{% extends 'base.html' %}
{% block title %}Дневник Анатолия Жилина. Саяны 1963{% endblock %}
{% block content %}



<h1>
    Саяны. Лето 1963г<br/>
    Анатолий Жилин</h1>
<i>
<p>
        Это – не настоящая книжка.</p>
<p>
        Это дубликат, восстановленный мною почти через год с использованием записей Цепелева
        и личной памяти. Я не мог, конечно, вспомнить все. Многие детали стерлись, о чем
        очень сожалею. Необходимость в дубликате появилась, когда настоящая книжка оказалась
        потерянной Сотниковой, которой дадена была для чтения. Очень жаль!!! Мне не хотелось бы, чтобы я забыл о Саянах, поэтому пишу снова.</p>
</i>
<p>
     </p>
<p>
    «Всюду был лес, огромный
        и пугающий,</p>
<p>
    он скрыл небо и остальной
        мир»</p>
<p>
    А. Фадлер. «Канада,
        пахнущая смолой»</p>
<p>
     </p>
<p>
<b>29.6-1.7.63</b>
<b>Москва-Ачинск.</b>
</p>
<p>
    Весь прошедший год в памяти отчетливо жили картины Алтая. Был сделан большой и очень содержательный
        поход. И всегда человеку мало. Мне тоже. Хотелось еще грандиозного мероприятия.
        Теперь меня манило слово «Саяны». Как-то там?! Что там?! Одно точно - здорово!</p>
<p>
    Стал думать. Еще  зимой содрал карту в турклубе. Имел беседу с Цепелевым. Хотел предупредить все возможные
        психологические инциденты. Очень неопределенно поговорили с Антоновым. Вроде мысль
        появилась - бывшую связь походную восстановить, т.е. триумвират: Антонов, Жилин,
        Цепелев.</p>
<p>
    Но чем ближе дело шло к лету, тем неопределеннее становились наши отпуска. Ох, уж это рабство! Цепелев
        закинул якорь в альплагерь и получил путевку в зубы. Антонов безвылазно сидел в
        командировке в Феодосии. Что-то не получается ни черта!</p>
<p>
    Май, июнь беспрерывно почти болтаюсь в Коврове - тоже в командировке. Но вот где-то в районе 20.6 появилась
        возможность получить отпуск тут же. Крупно беседую с Цепелевым и, о чудо! Он почти
        согласен закинуть альплагерь и двинуть в Саяны. А ведь что стоило это его самолюбию!
        Член бюро альпсекции МВТУ, всеми признаваемый альпинист уже второй год не едет в
        горы!</p>
<p>
    Итак, ядро вроде будет, Цепелев и я. Кто с нами?!</p>
<p>
    Времени осталась неделя. В голове многочисленные комбинации с людьми, продуктами и вообще! Это уже
        не та спокойная (сравнительно) и планомерная подготовка, как в прошлом году. Рвусь
        на части!</p>
<p>
    Так кто же с нами?!  Давно просился Сокирко Витя. Ни разу, правда не был в серьезном походе, но очень
        хочет, наслышался от Лили про Алтай.</p>
<p>
    Значит, вроде бы, Цепелев, Сокирко и я. Так, так.</p>
<p>
    Где взять палатку?  О, она есть у Быкова. Слышал о таком. Сейчас работает со Славкой. Был на Памире
        и вообще. Отличный фотограф и с собственной палаткой. Взяли. Надо будет только ему
        сказать. Вроде пожелание ранее высказывал.</p>
<p>
    Где же девушки?!</p>
<p>
    Здесь намного хуже. Вроде надо брать Бойкову и Галину. Очень уж просились. Но это уже 6! Не могу я,
        черт возьми, отказывать. Говорю и так, и эдак, а получается, что согласен. В общем,
        обе были обнадежены в какой-то мере, а взять надо одну только. Собрались с Быковым
        и придумали взять Галкину. Антонине сказать сам не решился. Говорил Цепелев.</p>
<p>
    Некрасиво получилось, опять эта психология! Черт бы ее побрал!</p>
<p>
    Беготня за продуктами, шмотками!</p>
<p>
    И среди всего этого
        надо еще ходить на работу!</p>
<p>
    Совершенно изнуренный сел в поезд.</p>
<p>
    НАС ПЯТЕРО!</p>
<p>
    1.Жилин А.- опять вроде «начальник», хотя официально не провозглашался, «фотограф».</p>
<p>
    2.Цепелев С.-«проводник»,
        «рабочая сила»</p>
<p>
    3.Быков Б.- «фотограф».</p>
<p>
    4.Сокирко В.- «марксист», идейное начало</p>
<p>
    5.Галкина В. –«благородное начало».</p>
<p>
    Мы сели в поезд!</p>
<p>
    Не может быть. Но
        нас даже провожают. Смеются. Лиля, Люда, Галя, Соколов, Галкин. Но им грустно! Я
        их понимаю. Всегда очень грустно, когда другие уезжают, тем более в САЯНЫ. Пока
        для нас это загадочная страна, где ждет нас... Впрочем, об этом потом.</p>
<p>
    В дороге все обычно и противно. Словом, общий вагон.</p>
<p>
    «В поезде душном  лежат туши,</p>
<p>
    Разинув рты, просят воды…» 
</p>
<p>
    (см. мои сочинения).</p>
<p>
    Наковырял, в общем,
        вирши какие-то, пока ехали. Вот и Ачинск. Здесь нам пересадка. Грязнейший и противнейший
        провинциальный городишко. Бывает же! Начались приключения. Оставили сетку на заборе,
        но, к счастью, нашли ее там же. Вечером совершили отличную прогулку на р.Чулым.
        Берег крутой, закат красивейший. Первые транспортные неувязочки. Масло из банки
        расползается. 
</p>
<p>
<b>3.7.63. Ачинск-Абакан
    </b>(на поезде
        из Красноярска)</p>
<p>
<b>Абакан – Журавлево
    </b>(по строящейся
        дороге Абакан-Тайшет).</p>
<p>
    В Абакане не задержались
        совсем, перешли лишь с одного вокзала на другой вокзальчик, уместившийся в вагончике
        дореволюционного времени. Здесь начинается трасса Абакан-Тайшет. Звучит здорово,
        но картина совсем не привлекательная. Билеты стоят дорого. Сбор за страховку. Надо
        же! Трасса пока экспериментальная. По дороге отличные виды. Сначала Енисей, потом
        Казыр, Кизир. Удивительно красивые реки среди зеленого царства тайги. 
</p>
<p>
    Поздно-поздно вечером
        приехали в Журавлево. Потыркались немного и устроили палатку в придорожном кустарнике.
        Завтра разберемся! 
</p>
<p>
<b><u>4.7.63</u></b></p>
<p>
    Вроде начало основной
        нашей части. Перед нами –Кизир! Могучий, красивый и непонятный Кизир. К его истокам
        мы должны пробраться. По предварительным расчетам и алтайским замашкам это должно
        было у нас занять неделю. Для начала переехали на пароме на ту сторону. Походили
        по домам, поузнавали. Тропы и в помине нет. Вернулись на другой берег и подъехали
        на машине небольшой кусочек до места Зимовье. Отсюда, говорят, возят на моторных
        лодках вверх по течению до 1-го порога. Где-то по пути поселок геологов. Туда регулярно
        совершаются рейсы. Пока все ясно. Только вверх по течению. Ведь до Грандиозного
        пика- цели нашей, рукой подать. 
</p>
<p>
    Кинули шмотки на
        берегу. Дивная красота! Какие берега, какая вода! Сто тысяч чертей! Ищем пароход.
        Что-то плохо получается. Местные бизнесмены куда-то подевались. Геологические посудины
        сегодня не пойдут. Наконец, нашли одного проворотчика, затребовавшего по 5р. Это
        местный ГОСТ до 1-го порога. Тут не попрешь. Надо соглашаться. Все же это солидный
        кусок. Ехать 4 часа. Выделены два парохода. На одном сам хозяин, на другом - его
        сын. С хозяином - Вика, Витя и я. Славка с Борисом - там. Вот и едем. До чего же
        здорово. Чудеснейшая погода и краски представлены во всем своем блеске. Дремучие
        и беспредельные леса, убегающие во все стороны сопки и красивый Кизир. Моторы ревут,
        подминая под себя волны Кизира. Бесподобно! Много кадров сделано. Как в настоящем
        сказочном мире! И все раскрывается перед тобой безо всякого труда. Сидишь, как буржуй,
        и только головой вертишь. 
</p>
<p>
    Вот и поселок геологов.
        Городок среди тайги. Интересная картинка. Проскакиваем мимо. До самого 1-ого порога.
        Вот он! Широкое разводье перед водопадом. Масса рыбаков. Из поселка, в основном.
        На берегу лежит громадный таймень, вытащенный только что одним из них. Ну и рыбка!
        Глаза разгораются. В мечтах начинаешь ловить только таких рыб. Что-то ждет нас наверху?!
        Может, и мы порыбачим...</p>
<p>
    Чуть выше за порогом
        есть избушка - нам рассказали об этом. Решаем идти туда. На берегу над порогом -
        белый памятник, здесь погибли совсем недавно. Вообще здесь много трагедий было.</p>
<p>
    Комары донимают.
        Видимо, сурово нам придется. До чего же сволочные твари!</p>
<p>
    Избушка - сплошная
        романтика. Таежная! Внутри - нары, что-то вроде печки, на столе спички, соль, свечи.
        Топор есть, словом, все условия для пижонства. Если бы, конечно, не комары. Настоящее
        бедствие. И это-то в самом начале! Вытряхнули с удовольствием все свои шмотки из
        рюкзаков. Великая пересортировка перед серьезной пешей частью.</p>
<p>
    Неожиданно встала
        проблема посуды. Захватили мы с собой банки из-под конфитюра и из-под килек. Вторая
        - широкая, неудобная, опрокидывается все время. А в первой образовалась дырочка.
        Внизу! Вот проклятие! Пробуем заклепывать. Ничего не получается. Еще хуже. Чем дальше,
        чем отвратительнее настроение.</p>
<p>
    Виктор принимает
        неожиданное решение идти в поселок к геологам. Это около 6 км назад. Как-то уж так
        получилось, что ушел он один. До сих пор не могу себе этого простить. Ушел, на ночь
        глядя. Есть тропа, конечно. Сварили с горем пополам какой-то каши. Парни залегли.
        Сижу у костра, жду Виктора. Со мной дядя-рыбак, пришел к нам на огонек. Беседы разные
        ведем. О местных порядках в тайге. И о том, зачем нужна дорога Абакан-Тайшет. Витьки
        нет. Уже поздно довольно. Дядя пожалел, что идем мы невесть куда: «Уж очень это
        далеко!» 
</p>
<p>
    Только прилег - ломится
        кто-то сквозь кусты. Слава Богу, пришел. Уставший как черт, измученное лицо. Со
        злобой бросил на землю ведро – наше спасение и с остервенением набросился на оставленную
        и теперь холодную кашу.</p>
<p>
    Молодчина, конечно.
        Но почему же один? Он как-то сказал и ушел, парни не успели даже подумать. Теперь
        это дело прошлое. 
</p>
<p>
    Какие еще приключения
        нас ожидают? Ведь это только начало.</p>
<p>
    Завалились дрыхать.
        Под ухом пищат комары. Хлоп по морде, себе, конечно. Снова противный писк. И так
        все время. Черт бы их всех побрал. Это в закрытой – то избе. В углу шевелится крыса,
        наверное. Первая ночевка в тайге! Шумит Кизир, убаюкал все же.</p>
<p>
<b><u>5.7.63</u></b>.</p>
<p>
    Ну, что ж! Пошли!
        Дядя-рыбак уже ушел. Собирались не очень вроде долго. Мимо прошли дяди и тети. Отправились
        на далекое Черное озеро. Рыбачить. Вот жизнь – то!</p>
<p>
    Сначала вроде тропа,
        потом камни, заросли и вообще черт знает что. Поначалу казалось, что вот-вот все
        это кончится и начнется асфальтовая дорога. Но ее почему-то не было и не было. Были
        заросли, буреломы. Рюкзаки еще целенькие. Тяжело. Пот льет. Это хорошо. «Лишнее
        сходит»,- внушаю себе. Как-то с самого начала получилось, что стали мы прижиматься
        к берегу Кизира. И стоило немного уйти в сторону, как закрадывались сомнения, как
        бы не запороться. Снова возвращаемся на шум Кизира. А там то обрывистые берега,
        то совершеннейший хаос из поваленных деревьев и камней. В самом прямом смысле корячимся,
        тяжеленная работа! Вверх, вниз, снова вверх. Несколько сот метров по берегу, потом
        снова вверх, т.к. впереди отвес прямо в виду. Настроение пока не падает. На каждом
        привальчике усиленно моемся, смывая соль и грязь. Спины на рюкзаках совершенно мокрые.</p>
<p>
    Свалившись, наконец,
        с большого взлета к реке, забиваем ночевку. Вид впечатляющий. Каменный мешок, ревет
        Кизир. Бесподобны закатные краски. Туман над рекой. Нет, стоило все же ломиться
        так целый день, чтобы увидеть всё это! Прямо на камни ставим палатку. Предварительно
        свалили ель для лапника и чуть не раздавили фотон Быкова. Надо попробовать половить
        рыбку. Славка наладил что-то. Закидывает упорно. Пару выловил. Но совсем не тех,
        коих рисовали мы в своих мечтах. С палец. Ну, немного побольше. Пробую и я. Три
        штуки. Мяса мало, но удовольствие огромное. Куда девать рыбу? Устроили жарку! Здорово!</p>
<p>
    Чем темнее, тем суровее
        окружающие картинки. Кому-то надо спать на улице, в мешке. По жребию - мне. Это
        очень хороший мешок. Пух. Темно там ужасно. Залез. Надвигающаяся темнота страшит.
        Пробую заснуть. Где-то в середине ночи пошел дождь. Чтоб ему! Потерпел малость и
        залез головой в палатку к ребятам, ноги снаружи. Разве ж это спанье, мученье сплошное!
        Но что делать?! Группа не по ГОСТу.</p>
<p>
<b><u>6.7-7.7.63</u></b>
</p>
<p>
    Перекупался Борис
        все же вчера. Простудился, гад. Сопли потекли, и вообще хуже стало. Это уж совсем
        ни к чему. Где-то через пару часиков дошли до перекатов, по местному называются
        «шивера». Когда уходили от 1-ого порога, нам говорили о них. На той стороне трое
        рыбаков. Пытаюсь перекричать Кизир и выяснить, как называется это место. Наконец,
        выяснили, что это «второй » порог. Это уже хорошо. Значит, двигаемся! Как же легко
        мы приняли желаемое за действительное! Все эти длительные часовые рыдания приравняли
        к прогулке по тропе с 4 км/час. Вот и оказались за один день у «второго» порога.
        Мы ошиблись, но поняли это лишь намного позднее. По берегу алеют бесподобные азиатские
        купальницы. До чего же красивые цветы!</p>
<p>
    Борису все хуже.
        Разгружаем малость его. Сопли его одолели совсем.</p>
<p>
    Берег совершенно
        отвратительный. Сплошные рыдания. Лазание по диким кручам, переползание на животе,
        ноги вечно в воде - в общем, черт знает что и рюкзак в придачу. До чего же он мешает!
        А еще донимают комары. Отвратительнейшие создания. Роем вьются около головы, кусают
        в самых недосягаемых местах. Причем лезешь где-нибудь по стеночке, держишься еле-еле,
        а тут комар как вопьется! Ругаешься про себя страшенными словами. Звереешь понемногу.</p>
<p>
    Парни устали здорово.
        Вите тяжело. Борису плохо. Тайга- это, конечно, не курорт. Славка впереди. Молодец,
        конечно, но тоже устает. Вика худеет на глазах. Это ковыряние без просвета надоело
        уже. А ведь это только начало! Начало! Сколько еще впереди! Вот залезли в какие-то
        кустарниковые дебри. Ушел в сторону. Увидел далеко впереди косу песчаную вроде.
        На полной скорости двинул. Остервенело ломаю сучья и ругаюсь. Пот льёт ручьями.
        Со стороны, наверное, отличная картинка. Вот и коса. Камешки мелкие на берегу Кизира.
        Может, и дальше так будет, вот бы здорово! Скидываешь рюкзак, как кандалы. Облегчение
        страшное, кажется, лететь можешь. Парни сзади. Далеко даже. Пошел навстречу, как
        бы мне это не хотелось. Борису совсем плохо. Взял рюкзак у него. Снова ломлюсь через
        заросли к косе. Отдых! Здесь будет отдых! С наслаждением стаскиваю протухшие носки;
        ноги ненормально белые от пребывания в воде. Рубашка совершенно мокрая от пота.
        Быков ложится. Явная простуда. Проклятье - не вовремя заболел. Небольшой закусон.
        Колбаска, чернослив. Любимое мое занятие - пью соленую воду, отлично помогает, когда
        обессиливаешь совсем! Усталость на лицах, молчаливое жевание. И это к четвертому
        дню! Всего лишь! Как хорошо отдыхать, а надо идти дальше. Начав с косы, бодро зашагали
        по ней, как по шоссе. Но недолго длилась наша радость. Снова чащоба, снова мучение.</p>
<p>
<b><u>8.7.63</u></b>.</p>
<p>
    Ночью дождь. Это
        стало обычным уже. Утром препротивное хождение по мокрой траве. По пояс в воде.
        Ну и удовольствие! Где-то к середине дня ощутимый шум впереди услышали. Может, порог.
        Ломимся, ломимся. И вот картина- чудо! Словно из фильма об африканских джунглях.
        Раздвигаем ветви. Внизу бушует Кизир. Порог. Посреди русла наворочены камни и вода
        бессильна сдвинуть их. Вдали видны горы. Вода голубая, белая, зеленая. Желтый песочек
        на берегу. Ба! Сваливаемся, не забывая, однако, об интересных кадрах. Редкая картина.
        Итак, это, по нашим расчетам - «третий порог». Значит, двигаемся все же! Трудно,
        но двигаемся! Конечно, за неделю до Грандиозного мы не доберемся. Но если даже за
        10 дней, то все равно успеем слазить на него. Обязательно успеем. Настроение поднимается,
        хотя все чертовски устали. 
</p>
<p>
    Умывание, подмывание!
        До чего же здорово! Кусочек чуда посреди тайги! Насладившись вдоволь обозрением
        сей местности, пошли дальше.</p>
<p>
    О! Здесь, кажется,
        избушка. Люди покинули ее. Долго, видимо, здесь жили. Истоптано вокруг прилично.
        А от избы вверх по течению отличная тропища. Ну, и обрадовались же мы! Может, конец
        нашим ползаниям. Час - тропа не кончается, два - тропа не кончается. Так-то можно
        много километров понаделать. Нет, не так уж нам и не везет! 
</p>
<p>
    Но! Но тропа кончилась!
        Ищем, ищем - нет тропы. Пропала как-то совершенно незаметно. Проклятая! Что же,
        пойдем без тропы!</p>
<p>
    Снова постигаем все
        прелести тайги, от Кизира далеко не уходим. Смысла нет. Там в горах намного хуже
        будет. Это уж точно. Здесь пока просто плохо, иногда прескверно. Борис, может, и
        подлечится. Пока усиленно глотает пилюли и беспрерывно утирает сопли. Фотон отдал
        Цепелеву, и тот выступает в необычной для себя роли. 
</p>
<p>
    Пора бы и поискать
        что-нибудь в смысле ночевочки. Но место совершенно неподходящее. Ровного нет ничего.
        Кажется все, что за тем поворотом обязательно будет. Ан нет! И так от поворота до
        поворота. И еще очень кажется, что вот-вот увидим Грандиозный. А его все нет и нет!
        Нашли все же небольшую площадку у самой реки. Кругом глухомань страшная. Лес сырой
        с массой наваленных полусгнивших деревьев. Однако устроились вроде неплохо. Закат
        на Кизире! Не устаем говорить ох и ах. На том берегу вдали выделяется гора в виде
        пирамиды. Это «Пирамида», пожалуй. Спорили долго. И все же это она – так мы решили.
        Вроде определились по карте, а то не знали, где мы находимся. Уж завтра мы обязательно
        увидим пик! О! Как же мы ошибались!</p>
<p>
<b><u>9.7.63</u></b>.</p>
<p>
    Снова рыдания и мучения!
        И вот! И вот мы увидели пик! Это он! Справа поднималась громада со снегом наверху.
        Неужели это- пик! Это же очень здорово. Бежать стало немного веселее. Хотя, что
        значит бежать в тайге - в этом небывалом хаосе!</p>
<p>
    Все ближе и ближе
        пик. Нам очень хотелось, чтобы это было так, и мы сбрасывали со счетов всякие несоответствия
        с картой, в смысле притоков справа и слева. Подумаешь, карта врет. Пик–то, вот же
        он! Ну, докажите, что это не он! Доказывать было некому, и мы ломились на крыльях
        надежды. Однако сегодня нам не суждено было дойти до его подножия. Кое-где попадались
        следы пребывания человека. Но разве же это то, что должно быть около Грандиозного?
        Там же сотни за лето бывают. Однако снова не верим своим сомнениям, гоним их прочь.
        Тем горше было последующее раскаяние.</p>
<p>
<b><u>10.07.63.</u></b></p>
<p>
    Сегодня осталось
        немного дойти. Рубка, ломка, бесконечная борьба с комарами, этими пикирующими тварями.
        И сбор клещей. На каждой остановке внимательно обыскиваемся на предмет клещей. Залезают,
        сволочи, прямо с головой в тело. Вытаскиваешь его - и в баночку. Заимел я специальную
        баночку, куда стал собирать их. Интересно, сколько их будет к концу?</p>
<p>
    Где-то в середине
        дня вышли к речке. Ну, конечно, это Ледниковая. Она вытекает прямо из-под пика,
        Троп, однако, нет нигде. 
</p>
<p>
    Странно, однако,
        По речке сваливаемся к Кизиру. О чудо! До чего же здорово! Целый огромный пляж из
        приятного жёлтого песка. Хорошо–то как! Простор необыкновенный! Мы посередине огромного
        ущелья, Прямо на пляже ставим палатку. Вид очень живописный. Много кадров. Солнце
        палит. Вытащили все шмотки, многое уже полустухло. Колбаса попахивает. Зря мы ее
        в целлофан завернули. Разложили. 
</p>
<p>
    А ведь без неё совсем
        пропадём. Единственное мясо.</p>
<p>
    Моемся, купаемся
        в Кизире. Весьма приятственное занятие, не спеша, с расстановкой, готовим жратву.
        Нравоучительствуем над Витькой, ибо совершил он недисциплинированность - ушел в
        тайгу и не сказал никому. Долго его не было. Разве ж это дело?! Такие штуки к добру
        не приводят.</p>
<p>
    К вечеру собрался
        дождик, Витька завернулся в мешок и накрылся целлофаном, на улице дрыхнет.</p>
<p>
    Чем темнее, тем сильнее
        дождь. Вот и молнии. Все грохочет, свистит, шумит кругом. Кизир, ветер, тайга. Прямо
        над головой сверкают молнии. Впечатление страшного хаоса в этой просторной долине,
        в которой маленькой точкой белеет наша палатка – наш дом. И нам совсем не страшно
        в этом доме!</p>
<p>
<b><u>11.07.63. 
    </u></b>
</p>
<p>
<b><u>Н</u></b>Надо бы наверх сходить,
        только погодка не дает в этом уверенности. Пораскачивались утром, но потом все же
        решили сходить. Быков, правда, остался. Ему всё ещё нездоровится. Взяли маленько
        пожрать и вверх по речке. Только что-то очень мало следов пребывания здесь человека.
        А ведь на Грандиозный толпами ходят. Однако снова не придавали этому никакого значения
        и пёрлись напролом вверх по диким, невообразимо заросшим и крутым склонам. Вите
        тяжеловато, он сам тяжел, да и не привык к нашим темпам, а мы с Цепелевым прём и
        прём. Без отдыха. Вика вот взмолилась еще. Отдыхаем маленько. Виды сверху отличные,
        сосны тут красивые. И везде, между прочим, следы пребывания медведей. Может, встретим...
        Очень мешают комары и мошки. Как их много здесь, проклятых! Ничего похожего на прочитанные
        описания о Грандиозном. И всё же не верится ещё, что это не то! Кончился, наконец,
        лес. Перед нами балда, на склоне даже снежник, правда, снег грязнущий страшно, но
        снег. Ползём. Ухожу вперед, всегда меня подмываем упилить вперёд. Мелькают под ногами
        камни, рододендроны; вверх, вверх, приятное ощущение легкости. Кажется, готов так
        до самого неба! Но до неба дороги нет. Склон кончился. Ребята далеко сзади. Все!
        Даже тур какой-то есть. Записка! Морда сразу скрючилась в удивлении. Это высота
        1856 м. В прошлом году ее посетили геодезисты. Всего лишь 1856 м. А где же Грандиозный?
        Недоуменные вопросы сыпались один за другим. Надо же так бесславно влипнуть! Далеко
        на горизонте видны какие-то снежные вершины.</p>
<p>
    Неужели это там?
        Но туда еще около 50 км, а может и больше. Позорище-то какое. Так обсчитаться! Только
        тут я стал реально подходить к пройденным километрам, Их должно быть очень мало,
        если за неделю мы не приблизились на видимость к цели. Обалдеть можно! Подошли ребята.
        Удивление, смешки, но смешки, прямо скажу, невеселые. Смеяться, конечно, не приходится.
        Посудачили, погоревали, побегали по гребешку, Внизу тонкой ленточкой вьется Кизир...
        Замысловатые петли выписывает он среди зеленого ковра тайги и еще надо идти и идти.
        Сколько идти, никто не знает. Загоревали мы. Однако надо и вниз, Решили - по пути
        подъема, Так будет вернее. Пошел впереди. Весёлого мало. Опять мошки. Их прямо миллионы.
        Над головой плотное кольцо вьющихся гадов. В глаза лезут, в уши. Особенно тяжко
        Вите. Мошки его особенно любят. Закусали аж до кровоподтеков. Еле ноги волочит к
        тому же. Устал очень. Падает часто. Идти вообще трудно. Ставишь ногу и не знаешь,
        куда. Заросли высокие и ничего не видно. Мука! Когда всё это кончится?</p>
<p>
    Кажется, я попал
        даже в кулуар, по которому поднимались. Потом вдоль речки. Сплошные прыжки с камня
        на камень. Витя прикладывается ко многим. Жалко смотреть на него. Он очень сейчас
        мучается, но старается даже улыбаться. В общем, вид у нас был что надо, когда, наконец,
        мы выбрались к Кизиру. Особенно эффектна распухшая в два раза Витина физиономия.
        Да и остальные хороши. Отличная разведочка! Звучит, как издевательство – «разведочка».
        Стаскиваем промокшие ботинки, с наслаждением моемся в холодной реке. 
</p>
<p>
    Ну, а где всё же
        мы находимся? Кто нам скажет? И что из этой неопределенности будет?</p>
<p>
<b><u>12.07.63</u></b><b>. </b>
</p>
<p>
    Идем всё же вперед,
        пытаясь влить уверенность, что вот-вот за очередным холмом покажется настоящий Грандиозный.
        Но поворот следует за поворотом, а пика все нет. Беспокойство растет. Неопределенность
        будущего начинает давить. Однако идем вперед. Мы должны идти вперед!</p>
<p>
<b><u>13.07.63.</u></b></p>
<p>
    Кизир ушел влево.
        Решили срезать уголок и залезли в какие-то болота. Вода стоячая, бревна поперёк
        навалены. Картинки бесподобные! Витя провалился по пояс - вот потеха была! Подмокнуть-то
        пришлось всем без исключения. Подустали все лазить по этим проклятущим болотам,
        Кизира совсем не слышно – далеко ушли. И сразу как без дороги. Мысли грустные у
        всех лезут. Цепелев меланхолично бьет комаров. У Вики ясно написано на лице - зачем
        же я с ними связалась? Меня все это страшно трогает. Лезем, лезем, лезем. 
</p>
<p>
    Вдруг собачий лай.
        Ну! А вот и сама собака. Может, и человека увидим? Так и есть. Сразу трех. Две девушки.
        Оказывается, геологи. Сюда их на вертолетах забросили. Недалеко здесь у них лагерь.
        Вот здорово! Кто мог такой поворот событий ожидать?! Девчонки веселые, болтают без
        умолку: «Грандиозный?- Как же, слыхали. Он совсем недалеко - 45 км». Вот те раз!
        Но и это хорошо бы! 
</p>
<p>
    Вышли все вместе
        к Кизиру. К ним должна подойти лодка. Вскоре мы в лагере геологов. Тут же отвалили
        нам хлеба (до чего же хорош!) Поставили палатку рядом с ихними домиками, помылись.
        Вот это жизнь! А ведь сегодня 13-е число. Уж сколько плохого было сказано по его
        адресу, ан все наоборот. Нанесли визит начальнику, спросили про Грандиозный. Впечатление
        такое, что ничего он не знает. Странно как-то. Работа же их такая. Оказывается,
        пока мы лазили по болотам, остался незамеченным третий порог. Ну и ладно. Так и
        не видели его. И подвезти бы он на моторке согласился нас, но бензина нет. Завтра
        вот вертолет должен прилететь. Что же делать? А пока наши хорошие знакомые - девчата
        таскали нам хлеб (горячий) и уговаривали дядю Колю (водителю мотора) подбросить
        нас хоть немного. Уговорили, но это надо делать сейчас, завтра он будет занят с
        утра (вертолёт прилетает). Разобрали в темпе палатку, распрощались и снова в путь.
        Времени не так уж и много. Довезут нас до избушки какой-то, а если завтра будет
        бензин, то дядя Коля приедет и подбросит нас подальше. Словом, как в сказке. Час
        приятной езды и мы у избушки-терема, Рядом лабаз. Привлекательная картина! В избе
        – огромная медвежья шкура, дровишки и прочие мелочи, а в лабазе -даже ружье. Вот
        она, тайга и ее законы!</p>
<p>
    Дядя Коля все показал
        нам и рассказал, и, преисполненные большой благодарности, мы с ним распрощались.
        До завтра! Ведь он обязательно приедет. Удочки есть. Пробуем ловить рыбку, но это
        так, баловство одно. Каша была вкуснейшая и вообще здорово. А еще 13-ое число. Побольше
        бы таких.</p>
<p>
<b><u>14.07.63</u></b>.</p>
<p>
    Что ж, надо ждать
        дядю Колю. Ловим рыбу. Витя зашивает свои бесконечные дырки на носках, Быков снимает
        козявок и цветочки. Отдыхаем, блаженствуем. А если дядя Коля не приедет? Ну, этого
        не может быть! Снова ждем. И дождались. Даже не верим своим глазам. Вот люди! Грузимся
        и вверх по Кизиру. Сидеть лучше, чем лазить по этим проклятым берегам. Смотрим на
        них со злостью и торжеством. Они проплывают мимо, а мы отпускаем нелестные замечания.
        Собрался везти нас дядя Коля до 4-го порога. А там рукой подать до Грандиозного.
        Но не довез. До избы доехали какой-то. Но часа два ехали, И то очень здорово. Снова
        благодарности, прощание. Витя вспомнил, что забыл кошелек с 50 руб. на последней
        стоянке в избе. Вот раззява! Долго объясняет, как ему выслать. Что-то не верится
        в это (а ведь выслали же! с припиской «Деньги в тайге цены не имеют») Вот ведь!
        Витя весь расстроенный, естественно</p>
<p>
    Двигаемся дальше,
        Рыдания повторяются, И в каждой встречной речке видим мы те, что изображены на нашей
        большой карте. Но набольшую карту мы еще не вступили и четвёртого порога еще не
        видели. Где же он?</p>
<p>
<b><u>15.07.63</u></b>. 
</p>
<p>
    И до сих пор не знаем,
        где же мы находимся. Сплошные догадки, но обоснования для них совершенно противоречивые.
        На одном из перекусов начинается разговор со всеми на тему: где мы? Докладчик –
        я сам. Смешного вообще мало. Смотрим в карту, вспоминаем всё, что было сказано нам
        начальником геологов два дня назад, что видели, когда на разведку ходили (ведь видели
        же на горизонте балду(?) - наверняка Грандиозный). Словом, дискутировали. Вика совсем
        невеселая – боится опоздать на работу. И видок у нее измученный… Зачем втравил я
        ее? Теперь идиотское чувство виноватости. Витя рисует план спуска на плотах по Кизиру
        вниз. Нет, это не выход. Надо идти вперед! Мы где-то совсем недалеко от выхода.
        Надо заставлять себя каждый день набирать по 7-8 часов хода, Только так может что-то
        проясниться в ближайшие дни. На том и порешили. Только вперед! Только трудно всем!
        А тут еще сырость, дожди, комары.</p>
<p>
<b><u>16.07.63</u></b>. 
</p>
<p>
    Ущелье значительно
        расширилось—на многие км, Болот стало больше. Приметили впереди по курсу балду в
        виде трапеции. Очевидно, мимо нее пойдём. Обходим очередное болотце. Пока никаких
        опасений. Но чем дальше мы его обходим, тем круче сворачиваем вправо. А потом, вообще,
        чуть ли не назад. Сто тысяч чертей! Конца же этой болотной косе так и не видно.
        Грусть задавила нас совсем. Моросит. Остановились на каких-то кочках. Славка идет
        вперед, а я лезу на дерево. Может, брод увижу через эту проклятую полосу воды метров
        30 шириной. Вода тёмная и, наверняка, с головкой. Какой уж тут брод! Славка вроде
        конец увидел. Премся. Действительно! Обогнули, наконец. Ну и глухомань!</p>
<p>
    Утки шлепают кругом,
        за маленькими утятками пытались побегать. Очень обидно, что ухлопали массу времени
        на это дурацкое болото! А по курсу как были утром, так и остались. Примеченная трапеция
        не сдвинулась с места даже. Да! Дела! Еще несколько часов рыданий и пора бы о ночевке
        подумать. Ищем… Вдруг впереди видим жёлтую косу. Песок. Это хорошо. Рвём туда.<span style="display: none">фем тудаКиККкКк Кизир заметно сбавил ход. Течет
        теперь широко и медленно, оттого и болота кругом.</span></p>
<p>
    Песок оказался наипротивнейшим.
        Мелким-мелким, почти пыль и грязным. Но делать нечего Пора ставиться.</p>
<p>
    Мелкие мошки сожрать
        решили нас совсем, На этом месте они оказались особенно назойливыми. Ноги и руки
        у всех сплошь усеяли волдырями, сволочи. Ругаться уже нет никаких сил. В ближайших
        кустах кто-то хрустит ветками. Лось, может быть. А вдруг хищник? Немного страшновато.
        Даже до кустов не хочется идти. Ночью трески повторились. Интересно. Но на улице
        никто не спал.</p>
<p>
<b><u>17.07.63</u></b>. 
</p>
<p>
    Серый, нудный, трудный
        день!</p>
<p>
<b><u>18.07.63</u></b>.</p>
<p>
    Нужно делать каждый
        день по 7 ходовых часов. Нужно. Иду и скрупулёзно считаю эти длиннющие минутки.
        До чего же долго тянутся эти 40 минут, после которых радостно произносишь: «Слав!»
        и кидаешь рюкзак на землю. Пять минут отдыха – слишком кратковременно. Снова пилёжка
        и новый отсчет времени от нуля. 
</p>
<p>
    Но сегодня мы узнали,
        где мы. Перед нами четвертый порог. Это бесспорно. Узкий длинный каньон. Берега
        обрывистые, если не отвесы совершенно. Где-то впереди ревёт главный порог, где перепад.
        Красота удивительнейшая! До чего же узок здесь Кизир! Кажется, что можно прыгнуть
        на тот берег. Настроение ребят заметно повышается. На большой карте есть этот порог,
        и теперь можно даже подсчитать, как отсюда побыстрее выскочить.</p>
<p>
    Долго любуемся каньоном.
        Попёрлись в обход, он оказался из нелегких. Перед порогом видели следы недавнего
        пребывания каравана оленей. Значит, тропа есть где-то выше. Чтобы обойти последний
        бом, лезем на стенку. Вынули даже залежавшуюся веревку, и по всем правилам альпинизма
        травили её. Интересно даже было на этой стенке... А за бомом увидели следы рубленой
        тропы. Здорово-то как! Теперь как по шоссе, Здесь шли олени, и для них и пришлось
        многое вырубить. Следы свежие. Словом, как в сказке. Только об этом и мечтали...
        Эх, если бы немного пораньше это. Но... Бежим по тропе, подгоняемые собственным
        весельем, И ночевку нашли отличную. Посушились в удовольствие.</p>
<p>
<b><u>19.07.63.</u></b></p>
<p>
    Но мы потеряли эту
        тропу, Видимо, она ушла куда-то в сторону, оставив нам тему для разговоров о несбыточном
        шоссейном счастье. Снова рубимся по чаще и переходим вброд многочисленные притоки.
        Только теперь вроде стало легче, т.к. узнавали по карте где, какая речка. Ножищи
        мокрые всё время. Ребята еще отжимаются после каждой переправы. А зачем? Я решил,
        что это лишнее. Но теперь-то мы увидим Грандиозный!</p>
<p>
<b><u>20.07.63.</u></b>
</p>
<p>
    Долина стала пошире.
        Совсем близко где-то настоящие Саянские горы без комаров, куда, собственно, мы и
        хотели. А теперь получается, что надо скорее, скорее бежать отсюда, Вике надо на
        работу и наше туманное будущее пугает ее очень. 
</p>
<p>
    С радостью узнаем
        по карте мелкие изгибы реки. Наконец-то идем по карте! Решил я вынуть свой небольшой
        сюрпризик. Купил я перед отъездом в «Военторге» вяленные вьетнамские бананы. Отличнейшая
        вещь! И весьма транспортабельна. Нашли неплохое местечко, открытое солнцу. За спинами
        горелые стволы деревьев. Кадры отличные. Вынимаю эти бананы... Наверное, больше
        всего радости было у меня самого. Парням как-то все равно, что жрать, а Вика даже
        прямо сказала, что они ей не нравятся. Разобиделся я. Крокодилы несчастные! А я
        то-то думал... Пытаюсь снова и снова вызвать у публики энтузиазм призывами: «Ну,
        скажи, что здорово!» - Эх! Довела, в общем, тайга, что и радости мелкие стали нипочем.
        Виктор снова что-то штопает, Цепелев примкнул к нему, Я побегал в сухостое, ища
        необыкновенную точку для съемок горелых деревьев. Надо бы и двигаться. 
</p>
<p>
    Однако и стенку вроде
        нашли уж когда, казалось бы, совсем пришли. Покорячились по склонам с кустарниками
        и еще черт знает с чем. И всё из-за той же боязни уходить от русла этого проклятого
        Кизира. А где же Пихтовая? Она уж совсем рядом, и не сегодня, так завтра, мы найдем
        ее.</p>
<p>
<b><u>21.07.63.</u></b></p>
<p>
    Ищем эту Пихтовую.
        Долина стала широкая. Проток у речки бесчисленное множество. Шлепаем по воде все
        время, Близость цели прибавила мне силы. Ухожу от ребят и рыскаю по реке в надежде
        увидеть на том берегу приток, который должен быть Пихтовым. Убежав далеко, я нашел
        этот приток. Уж это точно он. Иного быть не может. Начинаю громко орать, призывая
        ребят. Бурно доказываю, что приток на той стороне – это Пихтовая и ничего иначе.
        Вон и следы стоянки видны. Словом, давайте на тот берег переправляться. Вода холоднющая.
        Проклятье! Долго отжимались. Теперь-то уж что, все ясно! Бодренько двинулись по
        притоку вверх. Вначале даже что-то вроде тропы. Убежал я вперед, лежу на бревне,
        жду ребят. Как вдруг слышу<u> чьи-то</u> другие шумы. <u>Не наши!</u> Надо же! Возбужденные,
        премся навстречу им, и вот вываливается группа людей с оленями, проводником и собакой.
        Ба! Бывает же! Обмен восклицаниями! Потом узнаём, что ребята из Запорожья(?) идут
        за 4-й порог, чтобы потом сплавиться вниз по Кизиру. Неделя уж как из Гутары. С
        оленями! Буржуи.</p>
<p>
    А приток этот –совсем
        не Пихтовая. Она рядом, следующий приток. Вот тебе и раз! Случайно, конечно, постигли
        мы это. Распрощались и пошли поперек от этого притока на настоящую Пихтовую. Какие-то
        болота, склоны моховые и через пару часиков выходим на облизанную туристами площадку
        перед слиянием Пихтовой и Кизира! Все говорит о том, что здесь бывают тысячи людей,
        Ну, конечно, так и должно быть. А мы-то дураки какие!? Широченная тропища и дымок
        невдалеке. Снова люди. Потрепались. Теперь все окончательно выясняли. Если бодро
        бежать, то дней за пять прибежим в Гутару. Значит, всё теперь зависит от нас А как
        же Грандиозный!? Вот же он, рядом совсем, И парни эти только что оттуда. Правда,
        погода хорошая нужна. А Вике на работу надо. Исстрадалась, бедная. Посоветовались,
        посомневались и все ж решили бежать отсюда. Жалость необыкновенная. Очень обидно,
        что чуть ли не главную нашу цель приходится покидать, когда на нее надо бы еще пару
        дней. Но что делать?! Все же очень обидно. 
</p>
<p>
    Ноги в руки и бегом
        по этой широченной тропе вверх по Пихтовой. Вверх-вверх. Совсем скоро морда в морду
        столкнулись с оленем -, группа туристов из Подольска! Ба! Совсем, почти земляки!
        Сколько сегодня людей увидели! Долго трепались, показывали друг другу карты, хорошо
        они подготовлены, черти! Не то, что мы. Пойдут через хребет Крыжина по нехоженым
        местам. Ну, счастливо! Вверх, вверх! Съели последнюю банку шпрот - деликатес вроде.
        Вот и поворот реки направо, а нам - налево, на перевал.,</p>
<p>
    Сегодня надо перевалить
        обязательно. Сзади все более отличные картины горных хребтов Саянских, собственно,
        куда мы и стремились и от которых убегаем сейчас, так и не посмотрев на них, а проковырявшись
        где-то в болоте внизу. До чего же обидно! Эх. 
</p>
<p>
    Вот и перевал! Во
        всей красе окинули панораму Центральных Саян. Отчетливо выделяется громадина Грандиозного!
        Не добрались мы до тебя. Ну, погоди же! Красиво-то как! 
</p>
<p>
    Перевал – это огромное
        поле с сочной травой и блюдцами маленьких озер с чистейшей водой! Отличные картинки.
        Жаль, что потихоньку уже темнеет. Здорово мы сегодня пробежались.</p>
<p>
    Скрылся сзади Грандиозный.
        Далеко впереди – Перья. Все вздыхают по горам и отдыхают от комаров. Вниз – вниз!
        Там виден дымок. Там ребята из Запорожья. И когда стало совсем темно, мы добежали
        до них. Вообще, мы устали приличненько. Пожалуй, <u>только сегодня</u> ощутили,
        что мы <u>идём</u>, а не ползём. Как-то поняли, что мы передвигаемся в пространстве,
        а то ковыряние в этой проклятой тайге выбило у нас все это. Там каждый день одно
        и тоже. Над тобой – лес, впереди –лес, по бокам –лес. И кругом –лес. И вот мы уходим
        оттуда. Уходим, уходим.</p>
<p>
    Запорожцы оказались
        приветливыми, парни у них ушли на пик Грандиозный, а оставшиеся ждут. С оленями.
        Вот жизнь-то у них. А рядом расположилась большая группа москвичей - пижоны, кстати.
        Кинули мы палатку. Место отличное, на рододендронах. Костёрик распалили. Приятственно-то
        как. Потом визитик к запорожцам. Блинчиков (лепешек) отвалили нам. Хорошие ребята!
        Потрепались вдоволь, Да и спать вроде пора.</p>
<p>
    Кинули морского на
        мешочек, выпало мне. Повезло, потому как погода отличная. Воздух чистейший, да и
        комариков вроде бы нет. Высокогорье! Вот где бы ходить надо, а не по болотам! Ну
        что же теперь поделаешь?! Небо звездное- звездное, а кругом –темнотища, И кажется,
        что лежишь в этом мешке посреди этого звездного мира , и даже не лежишь, а висишь.
        И звезды такие близкие. И еще много разных мыслей пробежало. Хорошо спаслось!</p>
<p>
<b><u>22.07.63. 
    </u></b>
</p>
<p>
    Уж теперь все ясно.
        Беги вниз и вниз. Одна беда - нажрались мы здорово. Отвалили нам запорожцы ведерко
        каши молочной и еще чего-то. Необыкновенно вкусно! Чтобы не пропадала, пришлось
        постараться. Но бежать поначалу не очень приятственно будет, надо полагать. Ну,
        ладно. Распрощались и пошли.</p>
<p>
    Впереди иду сам.
        Темп задаю. Чувствую, необыкновенную ответственность – ведь от того, как будем идти,
        зависит, придем ли мы в Гутару через намеченные три дня. 
</p>
<p>
    Начались длинные
        поляны с мелкими деревцами по колено, Ужасно жесткие, 
</p>
<p>
    Рвут уже давно порванные
        мои штаны трикотажные, а через них и ноги. Но что делать?! Тропища ясная. Сбиться
        совершенно невозможно. Масса бродов. Наконец, тропа переходит на левый берег Правого
        Кизира. Теперь, кажется, всё время по этому берегу. Конца дальше не видать. Сзади
        громыхает. Не иначе, как дождик собирается. Так и есть. Застал он нас не в совсем
        удобном месте, и пришлось нам помокнуть. Ну, да уж нам все равно как-то. Привыкли
        с мокрыми ногами ходить! Бодро бежим по тропинке. И вот кидаю взгляд вперед. На
        тропе –корова, Это первое, что пришло в голову. Потом уже трезвее. Корова?!; Откуда
        же ей быть здесь? Ага, догадался: это медведь! Возбужденно объясняю остальным, что
        это медведь. Любопытство и боязливость. Медведь довольно здоровый, бурый, как и
        положено ему быть. Землю роет. Муравьев, наверное, жрет. Вот медленно скрывается
        за бугорком, Решение приходит немедленно - окружить! Только для чего, мы пока не
        знали. Медленно подходим к месту, где он только что скрылся. Возбуждение достигло
        апогея. И вот сбоку истошный вопль Цепелева: «Он здесь!» Мигом оборачиваюсь (оказывается,
        я прошел от него сбоку). Медведь выскочил из-за куста и побежал к реке. Сразу сообразил,
        что надо щелкнуть, так как фотон был наготове. Плохо, что против солнца,. И ко всему
        этому улюлюканье и гиканье вдогонку бедному медведю. Убежал. Интересная встреча!
        Вот здорово. Увидели настоящего медведя в настоящей саянской тайге. Словом, хоть
        перед концом нам немножко повезло...</p>
<p>
    Прошли еще немного
        и заложили ночевку. Солнце садилось. Бурлящая река словно из молока. Отличные кадры
        должны получиться, я полагаю. Лазаем с Быковым по берегу, бесконечно щелкаем. Поваленные
        деревья, пенящаяся река! Здорово! И действительно, потом получились хорошие снимки.
        А вечером долго еще склоняли нашу встречу с медведем. 
</p>
<p>
<b><u>23.07</u></b><u><span style='font-size: 14.0pt; font-family: "Arial","sans-serif"'>.63.</span></u><span style='font-size: 14.0pt; font-family: "Arial","sans-serif"'>
</span></p>
<p>
    Как ни ясна была
        дорога наша, тропа вроде, и все же ушли мы от нее и не заметили, когда. Затерялась.
        Прижались к берегу Правого Кизира. Снова рыдания. Вброд по пояс даже переходили
        в одном месте. Где-то впереди обещанный горельник перед самым Казыром. Берег крутой,
        и когда совсем невмоготу стало идти вдоль реки, запилили вверх. Сухо, жарко, Еще
        немного и начался тот самый горельник. Зрелище довольно ужасное. Тысячи и тысячи
        обугленных деревьев, половина из них валяется в самом невообразимом хаосе. И через
        этот ад надо пройти. Очень сухо, пить хочется невыносимо. 
</p>
<p>
    Идти очень тяжело.
        Тут слово «идти» даже не подходит. Скорее ползешь, ковыряешься. Словом, рыдания.
        И среди всех этих обгорелых, поваленных деревьев - густая травища и камни. Для небольшого
        облегчения ходим по поваленным деревьям, балансируя руками, Сначала по одному, потом
        - по другому, Путь удлиняется, но так легче. Часто приходится прикладываться, потому
        как на деревьях кора отваливается. Снова Витя бедный. А змей тут, наверное, много,
        но почему-то не видим пока. Надо отдохнуть. Ужасно сухо. Перемазанные, как в кочегарке.
        К чему ни прислонишься - все в саже,. И когда кончится эта горелка, чёрт бы ее побрал?!
        Достал остатки бананов, Лично я с удовольствием сожрал эти тропические штучки в
        этой тропической обстановке. Вика меня совсем расстроила, отказалась. А я-то дурак,
        сюрприз из них готовил! Хоть парни поддержали! А женщины – они всегда такие.
    
</p>
<p>
    Быков снимает наши
        рожи крупным планом, на цветную. Отлично, потом получилось. Ну, ладно, надо бы проскочить
        сегодня это отвратное место. И когда после 3-х или 4-х-часовых мучений казалось,
        что никогда не кончится это, голос Цепелева откуда-то снизу возвестил, что он вышел
        на зеленую тропу! О! Здорово! Я в это время ушел от ребят, упал с бревна и в самой
        неудобной позе сползал в какую-то яму с корягами и камнями. Причем, головой и рюкзаком
        вниз! Проклятье! Весь переругался, но все же выбрался. Еще несколько минут мучений
        и я на тропе. Счастье-то какое!</p>
<p>
    Внизу уже настоящий
        Казыр, Тут рядом ручеек с такой долгожданной водой. Ребята уже моются. С превеликим
        удовольствием скидываю рюкзак. Долго и толково моемся, так не хватало воды в этой
        проклятой горелке! Достаем немногочисленные оставшиеся деликатесы. Грызем сало,
        даденное нам запорожцами. Тщательно сосем кожу, Быков делает из нее жвачку, а потом,
        отказавшись от мыслей раскусить ее, кладет в карман.</p>
<p>
    Снова тропа, снова
        все ясно. Ну, уж, теперь, кажется, не собьемся. Справа шумит Казыр. Вот подошли
        к самой реке. Поперек –огромный валун. Вода бурлит с невероятным шумом. Долго сидим
        на камне. На эти водовороты можно очень долго глазеть. Ровный, мощный шум забивает
        все. Мыслей в голове нет. 
</p>
<p>
    Но, кажется, дело
        к вечеру. Надо бы еще пропилить. Тропа, тропа, по склону, среди леса, высокие деревья.
        Красиво! Хорошо. Приток Казыра. Это Б. Кишта, Здесь должен быть мост. «Чёртов»,
        кажется. И действительно. Узкий каньон шириной метра 3, а глубиной метров 15, наверное.
        Жидкий мост из бревнышек. Кажется, вот- вот обвалится. Суровый каньон. Кидаем вниз
        камни. Глубоко. Интересное место! Времечко ещё есть, можно пилить,.</p>
<p>
    Мы дошли в этот день
        до следующего притока. Это М. Кишта. Здесь нам надо уходить от Казыра, Вверх, туда,
        на перевал. Ну, а пока хватит. Много и так сегодня прошли. 
</p>
<p>
    В месте слияния М.Кишты
        и Казыра –снова горельничек, но совсем небольшой. Нашли неплохое местечко на берегу
        М.Кишты. Только вот шумно очень от нее. Профилактический осмотр на предмет клещей
        оказался сегодня урожайным. Я вынул этих гадов штуки четыре, Да и ребята тоже. Мерзкие
        твари. 
</p>
<p>
<b><u>24.07.63. 
    </u></b>
</p>
<p>
    Бежим по тропе, я
        впереди. Действительно, бежим. Темп высок. Но так нужно. И хотя это вверх, картины
        меняются, как в калейдоскопе, а горизонт сзади становится все шире и шире. Сегодня
        мы настроены проскочить Иденский перевал, что в верховьях М.Кишты. Надо сделать.
        Идем строго по расписанию: 50 минут хода, 10 отдыха. Интересного мало кругом. Больше
        спортивного интереса - добежать до перевала. Однако не проскочили надпись на дереве.
        Она говорит о том, что чуть пониже - надпись, сделанная самим Кошурниковым во время
        похода его здесь в 42-м году. Трассу они тогда намечали «Абакан-Тайшет». Которую
        теперь строят, правда, намного севернее. Полустёртые буквы! Интересно! 
</p>
<p>
    А вот навес из лапника.
        Портрет итальянской актрисы. Ба! Остряки какие-то соорудили. Отдыхаем. Выполняем
        план по шоколаду.</p>
<p>
    Когда забрались повыше,
        кончилась тропа в лесу, началась тропа в густой и высокой луговой траве. Масса цветов
        удивительной окраски, И много ревеня. Это тип лопухов, но со съедобными стеблями.
        Кисло, но вкусно, Набрали про запас. Лучше жрать его печеным, Соорудили костерчик
        на полдник, попекли. Красота! Удивительные минуты! И совсем скоро это должно кончиться.
        Дело одного-двух дней. Жаль же, чёрт возьми! Все чаще возвращаешься в мыслях к началу
        похода. Зачем мы выбрали этот дурацкий вариант по Кизиру? Надо все же было с Севера,
        через Клюквенную. И ребят втянул в это дело. Словом, ел себя сам. 
</p>
<p>
    Ну вот, конец, этой
        М.Киште. Долина раздвоилась, склоны голые от леса. Простор! Вот там –перевал. Последний
        брод! Подъем. И мы на перевале. Это длинная плешь с озером посередине. Иденский
        перевал. Озеро большое. Вокруг болотистая почва с купавницами и необыкновенно сочной
        травой. На той стороне озера кто-то ковыряется. Люди какие-то. Покричали друг другу,
        к ним не пошли. Да тут и снег есть! Снежник совсем небольшой, грязный, но снежник,
        А мы давно хотели мороженого. Вернее, я всех уговаривал. Вынули оставшийся кисель
        и соорудили из него и снега превосходное месиво необыкновенной вкусноты. Очень здорово!
        Для прессы (по моей просьбе) ребята прошлись по снегу, чтобы потом сказать, что
        ходили по снежным горам, и вообще, все такое. Юмор. 
</p>
<p>
    Кадр сделал, и со
        снега тут же убежали. Последний взгляд на озеро и вниз. Последний раз вниз. Вниз
        по Идену, который впадает в Гутару. А там уже цивилизация!</p>
<p>
    На тропе множество
        камней, и вся она ужасно кривая и корявая. А пониже начались болота. Грязь, жижа,
        торф. Словом, настоящее болото! Туфель кто-то оставил на дороге. Теперь задача -
        найти сухое место. Вряд ли таковое имеется здесь. А пока бежим вниз. Ну, уж вон
        туда дойдем - там сухо. Но там еще сырее. Проклятье! Как же нам быть? Придется ночевать
        в этом болоте. Это будет наша <u>последняя</u> ночевка. Последняя! Жаль! Очень жаль!
        Где же она будет? Подошли к Идену, вода черная в нем. Болотная. Ноги тонут во мху.
        Но что делать?! Ставимся прямо на мох. Как на перине. Плотно облегает тело. Мягко
        будет спать.</p>
<p>
    А завтра уже мы будем
        в цивилизации. Завтра.</p>
<p>
<b><u>25.07. 63 
    </u></b>
</p>
<p>
    Неплохая ночевка
        была. После снятия палатки остались во мху вмятины по форме наших сухощавых тел.
        Забавно. Цепелев решил бриться. Ведь сегодня мы попадем к людям, и разве может Цепелев
        выйти к ним небритый. Даже из тайги. Заодно и все стали скрестись. Что делать, всем
        так всем.</p>
<p>
    Потом Цепелев побежал
        за шишками кедровыми. Приметил их вчера. Думает уже о сувенирах! А кедровые шишки
        из Саян - это лучшее, что можно придумать. Зеленые, правда, но все равно уж. Собрались,
        наконец. В последний раз. Ушли. Итак, до Гутары 
</p>
<p>
    Болото так почти
        и не кончилось. Видели дохлого зайца. А под конец, когда совсем уж подошли в Гутаре,
        закрапал вдруг дождь. Выгоняет нас тайга. Гутару перешли вброд. Дождь закрапал сильнее,
        посидели под деревом, пожевали шоколад.</p>
<p>
    Вскоре, после того,
        как пошли, видели <u>человека. У</u>же того, который цивильный. Запахло сеном, лошадьми.
        Широченная тропища. Бежим веселые и грустные, Иногда останавливаемся, чтобы посмотреть
        назад. На Горы. На Саяны. Красиво! Голубая дымка, Нежно-зеленые тона. Впереди светло.
        Уже, наверное, над Гутарой.</p>
<p>
    .И вот за последним
        холмом увидели строения. Гутара! Бревенчатый настил мостовой через болото, словно
        парадный въезд в новый мир. Поле. Большое поле. Это аэродром. Самолетов нет. Около
        будки спрашиваем, как бы улететь. Говорят – завтра. Если, конечно, погода будет.
        Ну, и ладно. Идем к реке. Сейчас будем мыться, стираться и вообще приводить себя
        в порядок. Это уже все.</p>
<p>
    Движения замедленные,
        вялые. Спешить некуда. Нашли отличное местечко на берегу и спокойно стали заниматься
        бытом. Потом пошли с Цепелевым в магазинчик. Белый хлеб, кабачки (?), молоко, принесенное
        Витей, - до чего же это здорово! Редкое блаженство! А может, и счастье! Много разговоров
        о завтрашнем дне. Улетим - не улетим!</p>
<p>
<b><u>26,07.63</u></b>. 
</p>
<p>
    С утра ничего определенного.
        Курсируем между аэродромом и палаткой. Вроде, не прилетит, но может быть и наоборот.
        Всё же нам повезло. Самолет прилетел. Маленький, неказистый, дырявый ПО, который
        заберет нас в Нижнеудинск. Последние кадры у самолета, и мы уже в воздухе. Кругом
        дует со страшной силой. Внизу реки, горы и лес-лес-лес. Неужели и мы там корячились?
    
</p>
<p>
<p>
<b>Итак, прощай, Саяны! </b>
</p>
<p>
<b>Может быть, до свидания!</b></p>
<p>
<b>Мы многое узнали, многое увидели.</b></p>
<p>
<b>Спасибо тебе за то!</b></p>
<p>
<b>Не все получилось так, как хотелось, </b>
</p>
<p>
<b>но что поделаешь?!
    </b>
</p>
<br/>
</p>
{% endblock content %}
