{% extends 'base.html' %}
{% block title %}Мария Эндель. Память о тете Лиле и дяде Вите{% endblock %}
{% block content %}



<div class="WordSection1">
<p align="center" class="MsoNormal" style="text-align:center"><span style='font-size:14.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Сокирки</span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span style='font-size:14.0pt;line-height:115%;font-family:"Times New Roman","serif"'>(Прощальное
письмо)</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Тетя Лиля и дядя Витя, невозможно поверить, что вас
больше нет. Наверное, это неверие вызвано тем, что мы очень тесно общались
много лет, потом же пути наши разошлись и в памяти моей вы навсегда остались
крепкими, совсем не старыми. И хотя я встречалась с дядей Витей и в последние
годы, мозг мой упорно отказывается верить, выдает системную ошибку. Нет,
говорит он, вы еще молоды, полны сил, еще мы сможем встретиться, сходить друг к
другу в гости, поговорить, поспорить, повспоминать. Но на самом деле все это невозможно,
и приходится писать письмо.</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Помните, мы познакомились в 1986 году, мы с Лешей
были в шестом классе, и дядя Витя все говорил: «Ох уж эти шестиклассники,
страшные люди. Вот это самый неприятный возраст. Все им не так, все время
вопросы». Меня тогда это смешило, отличный возраст, мне казалось. Мы пошли
вместе в лыжный поход, в Звенигород, кажется. И уже там меня поразили какая-то
совершенно другая, чем это было принято в моей семье, манера общения с детьми.
Между детьми и родителями не было пропасти, в походе все оказались равны, все
подчинялись некоторым обстоятельствам, в каком-то смысле каждый отвечал за
другого и за самого себя. Это был первый урок путешествия, полученный от
великих путешественников. </span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Потом был поход на Алтай, общий вагон трое с
половиной суток,  разговоры с ликвидаторами аварии на Чернобыльской АЭС. Они рассказывали
страшные вещи, которые сейчас уже хорошо известны, а тогда были обжигающим
откровением. Я с удивлением вслушивалась в дяди Витину манеру говорить с
людьми, запросто, без панибратства, с большой заинтересованностью.   Почти
доехав, гуляли по Барнаулу, где ждали поезда в Бийск, купались в Оби. С какой-то
естественной щедростью и гордостью водили нас Сокирки по улицам города, делились
своими находками, воспоминаниями, любовью к этим местам. </span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>А потом был сам поход, во многом изменивший мою
жизнь, ставший точкой поворота. Высокие горы, белые алтайские реки, наука
преодоления себя – все это я узнавала с вами и от вас. Когда я думала об этом письме,
мне все хотелось сравнить дядю Витю со Сталкером Тарковского. Таким он и был
для меня – открывателем неизвестных земель, проводником. Но потом я поняла, что
сравнение это вряд ли уместно, нет, совсем не Сталкер, хотя и действительно
проводник, но без всей этой метафизики, настоящий, земной. Да к тому же и
невозможно представить дядю Витю без тети Лили. Она-то, в отличие от жены Сталкера
из фильма, всегда была рядом, во всем. Нет, никакие сравнения здесь неуместны,
не подходят, ни со Сталкером, ни с Дон Кихотом, ни еще с кем-то. Сокирки – это
Сокирки, равные сами себе: путешественники по большой стране, а потом и по
миру, всю жизнь прожившие вместе, друг ради друга и ради всех вокруг:
родственников, друзей, а часто людей полузнакомых или незнакомых вовсе.</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Невозможно, говоря о Сокирках, пропустить знаменитые
пятницы с их диафильмами, обсуждениями, бесконечными русскими разговорами об
истории, о себе, об общем и частном, все эти книги, которые читались вместе,
болезненные вопросы, на которые часто не было ответов, все эти попытки
восстановить историю, начиная от огромного генеалогического древа, которое
встречало гостей в коридоре, до всех исторических экскурсов в диафильмах и
дневниках.  </span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Поразительным образом в вашем доме сочетался
советский аскетизм, (не вынужденный, а добровольно на себя принятый, как
некоторый отсвет идеи всеобщего блага, коммунизма) с борьбой за экономические
свободы, т.е. за то, что нередко сами Сокирки называли «буржуйство». И во
многих разговорах, и диафильмах была еще одна важная тема – необходимость
компромисса, необходимость поступиться чем-то важным, может быть даже решающим
ради достижения более значимой цели. Например, в семье, где всегда приходится
учитывать мнение другого, в государстве, с которым необходимо поддерживать
диалог, каким бы плохим оно ни было, или даже с самим собой, собственными
планами, которые вынужденно приходится менять, оказавшись «на местности», в
походе. Проще, конечно, напролом, но нужно ли, чтобы было проще?</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Свое собрание сочинений дядя Витя и тетя Лиля
назвали «Жизнь и поражения советского инакомыслящего». И хотя это хлесткое
название, видимо, верное, т.е. отражает тот путь, который был пройден, но так и
хочется крикнуть вдогонку – нет, это не так. Да были поражения, были ошибки,
обиды, недопонимания, неравная борьба с государством и борьба с собой, всякое
было. Но не это важно.  Для слишком многих людей общение и дружба с вами были необходимы,
слишком многих вы поддерживали, а некоторых и спасли. До сих пор, спустя уже много
лет после первой встречи, я чувствую в своей душе как будто ее отпечаток,
навсегда изменивший и во многом определивший мою жизнь. </span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Мы как-то столкнулись случайно с дядей Витей несколько
лет назад на митинге против присоединения Крыма. Он был уже болен, шел очень
медленно и нес в руках огромный украинский флаг. Я пошла с ним, мы говорили об
Украине и России, о том, что все еще может измениться, и не такое менялось, и
все больше и больше отставали, почти топтались на месте около метро Чистые
пруды. А потом он вдруг сказал – иди, а я потихоньку, здесь недалеко – шествие
заканчивалось на площади Сахарова. У меня уже не было времени, я спустилась в
метро, а он, уверена, дошел. </span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>И еще мне хочется отдельно вспомнить о тете Лилечке,
о пятничных пирогах-коврижках и прекрасных цветастых ковриках, которые она
вязала из ни на что уже не годных отходов бесконечного вещевого круговорота,
раскрученного вечным советским дефицитом. Вот эти коврики, мне кажется, это
какой-то невероятный по силе символ теперь почти забытой советской эпохи. Именно
такими ковриками латались и прикрывались ужасные дыры, разрывы, дефицит смысла,
памяти, материи (по иронии именно в стране материалистов ее вечно не хватало),
всего всегда было мало: денег, вещей, квадратных метров, тепла, нормальной
семейной жизни, человеческой истории и пр. Этот коврик сплетался из ветоши, но
сам по себе был почти произведением искусства, это было как фокус или чудо, нечто
из ничего. Но за этим ковриком прятался какой-то тайный механизм – и жизнь в этом
разорванном мире всеобщей недостачи была возможна только благодаря ему. Недостаток
материального здесь с успехом восполнялся избытком… нет, не духовного.  Есть
такое удачное слово на иврите –  <i>хийут</i>. Оно означает волю к жизни, живучесть,
формулу «я выбираю жизнь». И это именно то, что помогало существовать в
условиях, лишь с некоторой натяжкой для этого предназначенных. И не просто
существовать, а бесконечно и щедро поддерживать и одаривать всех вокруг.</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>И напоследок, у меня есть еще одна история про тетю
Лилю, история, которую многие, наверное, помнят. Все про тот же <i>хийут</i>.
Однажды, во время велосипедного похода, дорога как раз шла на подъем, напротив нее
притормозил грузовик. Из него высунулся водитель и спросил тетю Лилю с
характерным грузинским акцентом: «А ты самолет случайно не обгоняла?»</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Простите и прощайте, дорогие!</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>Остаюсь вашим должником,</span></p>
<p class="MsoNormal"><span style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman","serif"'>МЭ</span></p>
</div>

{% endblock content %}
