{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Диафильм "Посещение Нахичевани"</title>
{% block content %}



<br/><br/>
<p>72. <u>21 сентября 1969 г.</u></p> <p>73. <u>Посещение Нахичевани</u></p>
<p>74-75.</p>
<p>76. <u>еще утром прохлада гор Армении</u></p>
<p>77. <u>а днем - пыль, жара</u></p>
<p>78. <u>Азия!</u></p>
<p>79-80.</p>
<p>81. Впереди горы Ирана приближаются с пугающей быстротой. Одна надежда, что пограничный Аракс задержит машину </p>
<p>82. А сзади грозит непостижимой загадкой Змеиная вершина Илан-дага.</p>
<p>83. Предчувствие нас не обмануло. Нахичевань оказалась закрытой республикой, а ее бдительные граждане доставили нас в «столичное» министерство внутренних дел.</p>
<p>84. Ведь как любое независимое государство, Нахичевань требует въездных виз и разрешения нахичеваньского посольства в лице московской милиции...</p>
<p>85. Нам повезло. Капитаны КГБ еще не видели здесь туристов и потому, вместо азиатской ямы, ночь мы провели в лучшей гостинице города с правом проживания одни сутки.</p>
<p>86.<u>Воскресное базарное утро</u>.</p>
<p>87. Наш единственный в жизни нахичеваньский день разделился между базаром, гостиницей и ходьбой</p>
<p>88. по плоскому, глиняному, пыльному, безводному, захолустному восточному городу и</p>
<p>89. его старой крепости. Давняя провинция Ирана, Нахичевань последние несколько веков держалась независимым ханством, пока русские походя не захватили это провинциальное захолустье. Черепки и глина! Что в этом интересного?</p>
<p>90. Разве что легендарная могила прародителя нашего Ноя, забытая в Нахичевани, да мавзолеи знаменитой нахичеваньской школы, так живо воспринявшей в себя островерхую зароастрийскую традицию?</p>
<br/>

{% endblock content %}
