{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Север - Сибирь{% endblock %}
{% block content %}



<h2>Том 5. Север - Сибирь. 1967-1978гг.</h2>
<h1>Предисловие.</h1>
<p>      В этот том входят путевые дневники и диафильмы, записанные по результатам поездки на Русский Север в 1967  и в Восточную Сибирь - в 1978 году.</p>
<p>  Расположение материалов - обычное: сначала дневники, потом диафильмы. Однако из первого дневника исключена часть, описывающая байдарочный поход по Коже (она включена в том 2), и конец, относящийся к Новгороду и Пскову. Сами же диафильмы приводятся не в походном порядке, а, по мере развития их внутренней темы, осмысления церковного, монастырского, религиозного опыта. Ведь наша северная поездка была прямым (без промежутков) продолжением хождений по московским церквям, и поначалу унаследовала ту же тематику. Так, диафильм "Кижи" был задуман и выполнен как рассказ о деревянном русском зодчестве, а "Соловки" - продолжил линию "Подмосковных монастырей". Однако знакомство с северной спецификой, с книгами Пришвина, привело нас к теме раскола и сектантства, прозвучавшей в диафильме "Онега", а плавание по Сухоне, Двине и Вычегде возбудило тему русского землепроходчества и освоения Сибири.</p>
<p>Из темы монастырского коммунизма выросла тема религиозного протестантизма, этого идейного предшественника капитализма, а из знакомства с русским Севером нас потянуло на Восток, в Сибирь. Перепечатывая северные диафильмы, я попытался одновременно решить и поднятые ими вопросы.</p>
<br/>

{% endblock content %}
