{% extends 'base.html' %}
{% block title %}Приглашение к обсуждению темы «Чечня и Россия»{% endblock %}
{% block content %}

<h4><a href="/picket/index.html">Антивоенное движение - против империи</a></h4>


<h1>Приглашение  к обсуждению темы   «Чечня и Россия»</h1>
<img align="right" src="/static/images/picket/razgon20.jpg"/><p>В  последнее время я уже не раз слышу упреки не только себе, но и в адрес всего антивоенного пикета, как сборища упрямцев,
переставших понимать, чего конкретно они добиваются. Такие упреки заставили меня пересмотреть свои собственные предложения, 
начиная с конца 1994 года с целью выявить потеряна ли была их актуальность и существует в них «развитие»? В этом разделе  
приведены 18 таких текстов за эти годы  (частью в изложении).
</p><p>При этом просмотре я убедился, что в моих первых предложениях не было грубых ошибок, от которых надо отказываться. 
</p><p>С первых дней войны  мы, т.е. участники антивоенного движения, настаивали прежде всего на прекращении военных действий и проведении 
честных  переговоров с участием международных наблюдателей и гарантий. Эти требования остаются актуальными и сегодня. С первых же месяцев войны 
стало ясно, что война с Чечней повлечет не только огромные человеческие жертвы в Чечне, но и неисчислимые беды самой России, включая ее будущие 
развал и гибель. Прошедшие годы, только подтвердили эти опасения. Театром военных действий стал теперь весь Кавказ, Силовые органы России, чем 
дальше, тем больше сами, становятся террористами, насилуя собственное население. Ареной террора-антитеррора стала не только Чечня, но уже  
Россия. Она все больше  -«избиваема и убиваема». 
</p><p>Подтверждается и первоначальное мнение, что отношения Чечни и России могут быть нормализованы лишь при условии превращения России в 
истинную, свободную и договорную Федерацию, а с другой стороны Чечня должна стать правовым государством, 
уважающим волю своих граждан. При этом  вопрос об отделении Чечни от России не имеет  главного и однозначного решения. 
</p><p>Последний из <a href="//www.tyoma.com/table/hobbies/discussions/Chechnya/index.html">таких споров проведен по инициативе моего сына Артема Сокирко
</a> (см. подраздел «Дискуссия вокруг…»   
</p><p>Конечно, мои предложения год от года  уточнялись    вплоть до последнего варианта, изложенного  в выступлении на 
<a href="502-Chechnja.html">митинге 23.02.2005</a>
и <a href="53.html">обращения «О смысле пикета…и нациеразводном суде» от 23.08.2006г.</a>
</p><p>Справедливость своих предложений я готов отстаивать  и сейчас…   
</p><p>                                                          В.Сокирко<br/>
<a href="//viktor-sokirko.livejournal.com/">viktor-sokirko.livejournal.com/</a>
</p>
<br/>

{% endblock content %}
