{% extends 'base.html' %}
{% block title %}Очерки растущей идеологии (Антигэлбрейт){% endblock %}
{% block content %}



<h3>Манифест инициативной группы Комитета антивоенных действий </h3>
<h2> «Наш пикет»</h2>
<h4>(редакция А.Рощина текста  В.Василевской с учетом замечаний других участников)</h4>
<p>Наш пикет  против войны на Северном Кавказе объединяет разных и во многом несогласных друг с другом людей. Среди нас есть верующие и атеисты, патриоты и космополиты, сторонники  капитализма и социализма, люди разных национальностей и социального положения, малообеспеченные пенсионеры, ученые, переводчики, рабочие, инженеры, учителя, деятели культуры и бизнесмены.</p>
<p>Нас объединяет понимание человеческой жизни, как высочайшей ценности, стремление к гуманному решению возникающих проблем, приверженность нормам гражданского общества. Мы убеждены, что нет плохих и хороших наций. Все они должны иметь голос в решении собственной судьбы. Мы считаем, что состояние войны губительно для стран и общества, и выступаем против бесконтрольности власти в решении  вопросов войны и мира. </p>
<h2>     Мы требуем  от власти прекращения войны против народов Северного Кавказа, потому что эта война:</h2>
<ul><li>уносит бесценные жизни представителей всех национальностей;</li>
<li>растлевает нашу молодежь, приучая к обыденности насилия;</li>
<li>приучает нас, россиян, к беззаконию государственной власти, к  террору и лжи; </li>
<li>неизбежно  вызывает  ответное насилие со стороны очередного «противника», назначенного властью, порождая порочный круг взаимной ненависти; </li>
<li>неизбежно усиливает ксенофобию, национальную нетерпимость, служит источником нацистских настроений и движений; </li>
<li>приводит к неизбежному расширению конфликта. Очаг войны находится  в Чечне, но весь Северный Кавказ стал «горячей точкой, на очереди вся Россия;  </li>
<li>в конечном счете, разрушит Россию  как государство. </li></ul>
<h3>Наш пикет это призыв к  Вам , граждане Российской Федерации:</h3>
<p>И мы должны вместе остановить нынешнюю власть в ее безумном стремлении любой ценой сохранить целостность страны. Мы должны вместе добиться полного и справедливого расследования под международным контролем всех военных преступлений, совершенных в этой несправедливой войне».                 Москва, октябрь 2006 г.</p>
<br/>

{% endblock content %}
