{% extends 'base.html' %}
{% block title %}Сокирко В.В. Дело обманутых вкладчиков{% endblock %}
{% block content %}




<h3><a name="1-3">Дело обманутых вкладчиков</a></h3><br/>
<br/>
     (ОСП 28.10.1994 г.)<br/>
<br/>
     Доводы обвинителя<br/>
<br/>
     Доказательством заведомого умысла руководителей фонда "Рост" М. и С. на <br/>
обман доверия вкладчиков является факт использования ими ложного названия <br/>
"ваучерный фонд", хотя юридически никакого такого фонда с обязательной <br/>
лицензией и иными вызывающими доверие вкладчиков атрибутами не было, поэтому <br/>
последних с самого начала обманывали.<br/>
     За три месяца до краха, когда курсовая стоимость ваучеров быстро росла, <br/>
М. и С. уже не могли не знать, что ни при каких обстоятельствах не смогут <br/>
вернуть ваучеры всем владельцам, тем не менее, они принимали новые ваучеры, <br/>
продавали их, расплачиваясь с предыдущими вкладчиками, заведомо понимая, что <br/>
последние вкладчики будут обмануты.<br/>
<br/>
     Доводы защиты<br/>
<br/>
     Договора с вкладчиками фонд заключал на взаимовыгодных условиях и <br/>
постоянно их выполнял, всегда возвращал владельцам ваучеры с процентами. <br/>
Значит, никакого умысла на присвоение чужих ваучеров у М. и С. не было. Шла <br/>
обычная коммерция за счет ваучерных перепродаж.<br/>
     То, что фонд не был зарегистрирован должным образом, говорит только об <br/>
административном правонарушении (так многие поступают), но никак не <br/>
доказывает обманные намерения.<br/>
     Нельзя видеть заведомый обман в факте продолжения сбора ваучеров, когда <br/>
операции с ними стали убыточными. Конъюнктура рынка сильно меняется и вполне <br/>
понятно, что М. и С. цеплялись за надежду, что ситуация поменяется в их <br/>
пользу, и они смогут не только выполнить все обязательства, но и остаться с <br/>
прибылью. Этого не произошло, но и уголовную вину за такие надежды на них <br/>
возлагать нельзя.<br/>
     Вердикт присяжных: "Не виновны" -- 7 голосами против 4.<br/>
     Какими же доводами при этом руководствовались присяжные?<br/>
     Пятеро из семи оправдавших согласились с основным доводом защиты: <br/>
"Умысел на обман не усматривается, подсудимые хотели сделать, как лучше, но <br/>
это не получилось".<br/>
     Дополнительно этими присяжными высказаны и новые аргументы, звучащие <br/>
довольно парадоксально: 1) виновны не подсудимые, а сами вкладчики, <br/>
погнавшиеся за большим процентом; 2) виновны не подсудимые, а государство, <br/>
затеявшее выдачу бесполезных ваучеров. Подсудимые хоть что-то платили за <br/>
ваучеры, а государство всех обмануло.<br/>
     Конечно, определенная доля истины есть и в этих доводах. Так невольную <br/>
вину за потери последних вкладчиков вместе с организаторами несут и те <br/>
первые вкладчики, которые успели не только вернуть свой ваучер, но и <br/>
получить солидные проценты на них (на самом деле за счет продажи последних <br/>
сданных в фонд ваучеров). Без сомнения, весомую долю вины за эти беды несло <br/>
и государство в лице чиновников, которые не защищали граждан, а явно <br/>
подыгрывали махинаторам. Но делать на этом основании вывод о невиновности <br/>
самих М. и С., на мой взгляд, странно.<br/>
     Только треть присяжных (4 человека) поддержали обвинение.Трое их этой <br/>
четверки были местными жителями, так что о деятельности подсудимых имели <br/>
гораздо больше информации, чем остальные.<br/>
     Двое из них обосновали свою позицию прежде всего согласием с <br/>
центральным пунктом обвинения: даже если М. и С. начинали свою деятельность <br/>
без умысла на обман, то в конце ее они не могли не понимать, что обманут <br/>
последних своих клиентов. Это свидетельствует о том, что они более вдумчиво <br/>
вникли в ситуацию. Но, тем не менее, они оказались в меньшинстве, что, как <br/>
мне кажется, можно объяснить эффектом времени: народ, разочарованный в <br/>
советском государстве, еще не успел разочароваться в "новых предпринимателях <br/>
" комсомольского типа. Именно поэтому всем нам пришлось еще долго проходить <br/>
через все испытания веры в Мавроди с его Леней Голубковым и им подобных <br/>
иллюзионистов. Еще слава Богу, что дело не дошло до гражданской войны <br/>
вкладчиков, как в Албании.<br/>
     Даже не соглашаясь с вердиктом присяжных по данному делу, я должен был <br/>
признать его, потому что он выражал понятие о справедливости большинства <br/>
граждан в то время.<br/>
     Из первого процесса по делу о ваучерном фонде мною был сделан <br/>
практический вывод. Я стал воздерживаться от обвинений в адрес конкретных <br/>
"пирамидостроителей", тем более, что статус нашего Общества действительно <br/>
предполагает упор в работе не на обвинения, а на защиту предпринимателей.<br/>
     Кроме того, стало ясно, что старая трактовка понятия мошенничества в <br/>
ст.147 УК РСФСР (редакция до 1994 года), включавшая в себя не только хищение <br/>
имущества путем обмана или злоупотребления доверием, но и любой иной вид <br/>
приобретения права на имущество путем обмана ни правоприменителями, ни <br/>
присяжными не принималась.<br/>
     Я и сейчас остаюсь при своем мнении, тем более что оно основывается на <br/>
еще дореволюционном толковании мошенничества, как преступления не столько <br/>
против собственности, сколько против истины.<br/>
     Современный же законодатель идет по пути постоянного умножения числа <br/>
норм, карающих разные виды конкретных мошеннических преступлений, но тем <br/>
самым он неизбежно оставляет возможность для мошенников изобрести новые <br/>
обманные способы "отъема денег", криминальность которых еще не предусмотрена <br/>
законом. Поэтому новаторы-мошенники всегда будут оставаться безнаказанными <br/>
за счет своего умения находить новые "дыры в законе". В то время как <br/>
дореволюционная трактовка мошенничества позволяла судьям и присяжным <br/>
осуждать любые формы корыстного обмана, независимо от времени их <br/>
изобретения.<br/>
<br/>
<br/>


{% endblock content %}
