{% extends 'base.html' %}
<title>Сокирко В.В. Дела старых предпринимателей</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="3_1.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="3_3.html"> следующая </a>
</td></tr></table>
<h3><a name="3_2">Дела старых предпринимателей</a></h3><br/>
<br/>
     Анализ дела о "бакинских цеховиках"<br/>
     (ОСП 12.01.1990 г., 6.04.1991 г., 31.01.1992 г.)<br/>
<br/>
     С этого уголовного дела об экономическом подполье на Бакинской <br/>
галантерейной фабрике фактически начались работа нашего Общества, первая <br/>
публикация в газете "Коммерсант" и первая известность. Хотя в Списке <br/>
подзащитных бакинец Ш. был не первым, а пятым, его дело было настолько ярким <br/>
примером преследования подпольного акционерного общества, возникшего еще в <br/>
годы Брежнева - Андропова, что несколько лет, вплоть до освобождения Ш., мы <br/>
часто ссылались на него при отстаивании необходимости срочной амнистии жертв <br/>
экономических репрессий. Обвинитель требовал его смертной казни, но суд дал <br/>
"лишь" максимальные в те годы 15 лет лишения свободы.<br/>
     Впервые на общественном суде присяжных дело Ш. было заслушано 12.01.90 <br/>
г. К сожалению, от его обсуждения осталась только запись вердикта.<br/>
     Второе заседание по делу Ш. состоялось 6.04.1991 г. в Институте <br/>
государства и права АН СССР с участием известных юристов-ученых и <br/>
телевидения (программа ЦТ "Человек и закон"). Именно этот суд был впервые (и <br/>
единственный раз) показан всей стране и именно с него проблема осужденных <br/>
хозяйственников начала входить в сознание граждан (но, к сожалению, так и не <br/>
добралась до общественного осознания). Существует подробная запись <br/>
выступлений сторон и судьи на этом процессе (см. приложение 3.1.).<br/>
     К сожалению, не велась запись выступлений присяжных (судья строго <br/>
соблюдал правило "тайны совещательной комнаты присяжных"). <br/>
     На третьем ОСП 31.01.1992 г. по "бакинскому" делу подсудимым был не Ш., <br/>
а его подельщик фабричный механик К. Роль судьи, обвинителя и защитника <br/>
исполняли активисты Общества - Сокирко В.В., Шпигель Л.Т., Владышевский А.Ф. <br/>
при 13 присяжных. Только от третьего обсуждения осталась краткая запись <br/>
мнений присяжных. При всей равнозначности ролей Ш. и К. в теневом <br/>
производстве суть вмененных им преступлений в принципе одинакова: частное <br/>
предпринимательство, хищение социалистического имущества, дача взяток.<br/>
<br/>
     Фабула дела, изложенная судьей<br/>
<br/>
     Инженер-технолог 3-го участка Бакинской галантерейной фабрики Ш. с <br/>
соучастниками обвиняется в хищении соцсобственности в особо крупных размерах <br/>
на сумму 698 тыс. руб. Он обвиняется в том, что наладил нелегальное "левое" <br/>
производство банных ковриков, которые сбывал через торговую сеть, а деньги <br/>
присваивал. Он обвиняется в том, что создал преступную организацию, начиная <br/>
от шофера и сторожа и кончая директором предприятия, который получал <br/>
соответствующие отчисления. Они сложили начальный капитал - 100 тыс. руб. и <br/>
если кто-то хотел вступить в это преступное сообщество, он должен был <br/>
выкупить часть этого капитала по 1 тысяче рублей за 1%. Капитал приносил <br/>
большую прибыль 100% годовых, и каждый месяц соучастники получали <br/>
соответствующую доле каждого сумму из этой прибыли. Вы должны установить, <br/>
верно ли, что Ш. совершил таким образом хищение.<br/>
     Ш. обвиняется также в том, что занимался частнопредпринимательской <br/>
деятельностью. А это уже ст.153 УК РСФСР.<br/>
     Ш. обвиняется в том, что систематически давал взятки, чтобы обеспечить <br/>
производство и реализацию неучтенных ковриков работникам торговли, врачу <br/>
санэпидстанции, ревизору и др.<br/>
     (Доводы обвинителя и защитника смотри в приложении 3.1.)<br/>
<br/>
     Анализ суждений присяжных по делу "бакинских цеховиков" в трех ОСП<br/>
<br/>
     В первом обсуждении участвовали 14 присяжных, возрастом от 20 до 50 <br/>
лет, в основном - инженеры и научные работники. <br/>
     Практически все они признали факт неучтенного производства "левых" <br/>
ковриков на "бакинской" фабрике и роль Ш. как организатора этого <br/>
производства доказанными. 10 присяжных посчитали Ш. невиновным в уголовных <br/>
преступлениях, включая хищение, а 4 признали его вину в хищении у <br/>
государства материалов, энергии, амортизации оборудования, неуплаченных <br/>
государству налогов. Спор между присяжными шел и о размере присвоенного <br/>
"цеховиками" имущества. Но никто не согласился с обвинением их в хищении <br/>
всего объема произведенной продукции.<br/>
     Несогласившееся с обвинением большинство посчитало, что на "левое" <br/>
производство "цеховики" тратили лишь энергию, материалы, труд, которые они <br/>
же сэкономили рационализацией планового производства, так что на деле <br/>
государство никакого ущерба при этом не понесло. Не согласилось большинство <br/>
с обвинением "цеховиков" в хищении материалов у потребителей плановой <br/>
продукции, ("недовложение сырья"). Их основной довод: раз такие товары <br/>
пользовались устойчивым покупательским спросом, то качество и цена товара <br/>
потребителя удовлетворяли, значит, никто ничего у него не крал. Наконец, <br/>
большинством было отвергнуто и обвинение во взятках, поскольку последние <br/>
были видом вынужденных поборов со стороны государственных чиновников взамен <br/>
налогов.<br/>
     Во втором обсуждении из 12 присяжных только 2 признали Ш. виновным в <br/>
хищении (и, судя по вопросам присяжных, видимо, опять в связи с <br/>
неправомерным использованием государственного оборудования, энергии и т.п.), <br/>
причем один из них согласился с квалификацией его частнопредпринимательской <br/>
деятельности, как уголовного преступления. Но никто не признал за Ш. вины в <br/>
даче взяток.<br/>
     В третьем обсуждении дела бакинский "цеховик" - механик К. признан <br/>
невиновным примерно с такими же результатами.<br/>
     Из 13 присяжных только двое назвали его "вором" и "мелким мошенником", <br/>
но наказанным слишком жестоко. Причем один из этих присяжных определил вину <br/>
К. как "воровство не у государства, а у людей", добавив: "Дома в Спитаке <br/>
рушились (при землетрясении в Армении), потому что не докладывали цемент в <br/>
бетон".<br/>
     Другие ему возражали:<br/>
     - Я изучала западные стандарты. Качество товара определяется рынком, <br/>
потребителем. Качественно то, что покупается. Обвинитель был не прав, <br/>
приводя аналогию с продуктами питания, санитарные нормы - это совсем <br/>
другое...<br/>
     -  Считаю, что К. делал полезное дело, поставляя нужную людям <br/>
продукцию...<br/>
     Суммируя итоги трех ОСП, можно сказать, что из 39 присяжных только 8 <br/>
человек (т.е. пятая часть) признали бакинских "цеховиков" виновными в <br/>
уголовном преступлении, причем не во взятках или хищении у государства всего <br/>
объема произведенной ими левой продукции, а лишь в двух видах <br/>
правонарушений:<br/>
     - причинение ущерба государству путем бесплатного использования его <br/>
оборудования, энергии, сырья, труда рабочих,<br/>
     - причинение ущерба потребителям плановой продукции, поскольку в <br/>
последнюю "цеховики" недовкладывали сырье, развивая параллельно "левое" <br/>
производство.<br/>
     Можно считать, что присяжные тех лет проявляли единодушие в <br/>
оправдывании "теневого" предпринимательства, чему способствовали <br/>
освободительные настроения того времени, радужные упования на <br/>
благодетельность рыночных реформ и господствующие убеждением в заведомой <br/>
виновности государства-монополиста.<br/>
     Справка. Наши жалобы в союзные правоприменительные органы не дали <br/>
результата, и только через помилование президента Азербайджана А. Муталибова <br/>
технолог Ш. был освобожден после 5 лет, а механик К. после 6 лет лишения <br/>
свободы.<br/>
<br/>
     Дело "теневого" предпринимателя-барда Н.<br/>
     (ОСП 10.11.1990 г.)<br/>
<br/>
     Судья: к.ю.н. Пациорковский В.В.<br/>
     Обвинение поддерживал к.ю.н. Сокольский О.Э.<br/>
     Защитники: Курдюмов Г. и Сокирко В.В.<br/>
     12 присяжных.<br/>
<br/>
     Певец и автор самодеятельных песен Н. был осужден в 1985 г. на 10 лет <br/>
лишения свободы за изготовление акустической аппаратуры под видом <br/>
иностранной и продажу их заводским и иным ансамблям (ВИА) по высокой цене, <br/>
как за хищение государственных средств путем мошенничества. Похищенной была <br/>
посчитана разность между продажной ценой и себестоимостью.<br/>
     12 присяжных не признали Н. виновным в хищении, потому что поверили <br/>
защитникам, что никакого обмана не было, музыканты прекрасно знали, что <br/>
покупают отечественные самоделки, но иной аппаратуры тогда в продаже просто <br/>
не было. Однако одна присяжная отметила плохое следствие, поскольку остались <br/>
неясны ми источники материалов. Если при изготовлении использовались <br/>
ворованные с заводов детали, то вина в хищении все же есть. Один присяжный <br/>
по сути также поддержал обвинение, но отказался высказываться против <br/>
большинства. Двое присяжных отметили неэтичность использования чужой <br/>
торговой марки, но это уже не относилось к теме суда. Можно считать, что <br/>
голосами 10 против 2 обвинение Н. в хищении было отвергнуто.<br/>
     Справка. По нашей жалобе и протесту Генеральной прокуратуры СССР, <br/>
уголовное дело против Н. было пересмотрено в надзоре с отменой большинства <br/>
обвинений (за исключением случаев незаконного использования заводских <br/>
деталей). Отметим этот редкий случай, когда официальные органы согласились, <br/>
по сути, с вердиктом общественного суда присяжных.<br/>
<br/>
     Дело подмосковного "цеховика" Д.<br/>
     (ОСП 8.02.1991 г).<br/>
<br/>
     Обвинитель к.ю.н. Сокольский рассказал, что Д., бригадир цеха сдвижных <br/>
(переводных) картинок подмосковного комбината, организовал неучтенный выпуск <br/>
4 млн. этих картинок из государственной гуммированной бумаги на сумму 767 <br/>
тыс руб. и реализацию их через московских киоскеров с извлечением личной <br/>
прибыли в размере 201 тыс. руб. Д. осудили за ЧПД (частнопредпринимательскую <br/>
деятельность) и за хищение гуммированной бумаги на сумму 6 тыс. руб.<br/>
     Защитник Сокирко возражал: во-первых, ЧПД по совести не есть уголовное <br/>
преступление, во-вторых, бумагу для левых картинок Д. получал у снабженцев <br/>
хотя и вне плана, т.е. незаконно, но не бесплатно, а по обычной госцене, что <br/>
нельзя назвать хищением.<br/>
     Вердикт присяжных - не виновен.<br/>
     15 присяжных признали абсурдом обвинение Д. в ЧПД, но 2 присяжных <br/>
признали его виновность в хищении гуммированной бумаги, а также <br/>
электроэнергии, гос.оборудования, используемого в "левом производстве", а <br/>
еще 3 говорили, что хотя Д., видимо, нарушал законы при покупке бумаги, но <br/>
вреда не было, и потому считать его виновным нельзя. Особенно интересно, что <br/>
правоприменительные органы в данном деле хищением назвали не весь объем <br/>
"левого" производства, а только стоимость бумаги-сырья. Присяжные же не <br/>
согласились и с этим обвинением.<br/>
     Справка. Наши жалобы не были удовлетворены. Вскоре Д. был условно <br/>
досрочно освобожден (УДО) и стал кооператором. К сожалению, он рано умер.<br/>
     Дело бухгалтера мехового цеха Т.<br/>
     (ОСП 8.03.1991 г.)<br/>
<br/>
     Обвинитель Сокирко зачитал обвинение Т. в хищении 400 тыс. руб. путем <br/>
неучтенного производства и реализации дефицитных меховых шуб взамен дешевых <br/>
плановых воротников. (Т. была осуждена за это на 14 лет лишения свободы).<br/>
     Защитник Котова И.С. сказала, что Т. и ее коллеги никакого вреда <br/>
государству не принесли, они аккуратно выполняли все положенные платежи. <br/>
Фактически они организовали свое арендное предприятие, выпуская пользующуюся <br/>
спросом продукцию взамен ущербной. Правда, можно говорить об упущенной <br/>
государством части прибыли, которую присвоили Т. и ее подельники полностью, <br/>
но, во-первых, в этом виновато само государство, а во-вторых, упущенную <br/>
выгоду нельзя считать похищенным имуществом.<br/>
     Следует особо отметить четкую мысль защитника: в данного рода делах <br/>
можно вести речь не о хищении, а только об упущенной государственным <br/>
собственником выгоде, но, добавим, такие претензии должны разбираться не в <br/>
уголовном, а в гражданском порядке.<br/>
     Вердикт: все 10 присяжных признали Т. невиновной.<br/>
     Справка. Однако официальные инстанции приговор ей так и не изменили. <br/>
Освободилась Т., отбыв в заключение 8 лет, по помилованию президента <br/>
Украины.<br/>
<br/>
     Дело "цеховика"-смертника О.<br/>
     (ОСП 10.01.1992 г.)<br/>
<br/>
     Обвинитель Владышевский сказал, что О. виновен в хищении полотна, <br/>
велюра и других материалов с государственных предприятий с целью последующей <br/>
передачи их работникам системы бытового обслуживания для производства <br/>
неучтенных ("левых") товаров. Хищение осуществлялось путем недовложения <br/>
сырья в плановую продукцию или путем списания сырья на производство более <br/>
дешевой продукции. Суд приговорил О. к смерти, замененной помилованием на 20 <br/>
лет лишения свободы.<br/>
     Защитник Шпигель Л.Т. квалифицировал действия О. как коммерческое <br/>
посредничество (в конце1991 г. оно было декриминализированно). Обвинения же <br/>
в хищении он счел недоказанными.<br/>
     Защитник Ткаченко Л.Н. : "Недовложение сырья может считаться <br/>
преступлением, если оно существенно ухудшает качество продукции и наносит <br/>
вред потребителям. В данном случае государству не причинялось никакого <br/>
вреда, поскольку оно получало все запланированные выплаты. Также в деле нет <br/>
жалоб и претензий, что потребители понесли ущерб от поставок им технических <br/>
салфеток уменьшенного размера или рукавиц из иного материала. Поэтому речь <br/>
может идти только о вынужденном способе получения сырья в условиях <br/>
абсолютной монополии государства путем рационализации изготовления плановой <br/>
продукции, а не о хищении. Эффект, который общество получило от такой <br/>
рационализации и развития частного производства, в любом случае несопоставим <br/>
с воображаемым ущербом, который могли бы потерпеть потребители плановых <br/>
изделий."<br/>
     Вердикт присяжных: не виновен.<br/>
     11 присяжных из 16 признали О. невиновным в уголовщине.<br/>
     3 присяжных посчитали его виновным в хищении материалов, но <br/>
заслуживающим снисхождения. <br/>
     2 присяжных признали О. виновным в ущербе потребителям плановой <br/>
продукции.<br/>
     Таким образом, только пятая часть присяжных согласилась недовложение <br/>
материалов в продукцию считать хищением.<br/>
     Справка. Приговор О. не был пересмотрен, а сам он был актирован по <br/>
болезни после отбытия 10 лет лишения свободы.<br/>
<br/>
     Дело З. - агента по сбыту неучтенного леса из ИТУ<br/>
     (ОСП 28.02.1992 г.)<br/>
<br/>
     Обвинитель Владышевский: З., отбывая наказание в одной из лесных <br/>
колоний, вошел в сговор с начальником по сбыту. После освобождения по <br/>
просьбе последнего З. занялся сбытом в украинских колхозах неучтенных <br/>
пиломатериалов из этой колонии, представляясь бригадиром "шабашных" <br/>
лесозаготовителей. Таким образом, при заранее обещанном соучастии З. <br/>
начальником сбыта (он умер на следствии) из лесной колонии было похищено 27 <br/>
вагонов пиломатериалов на сумму 110 тыс. руб., из которых он, помимо <br/>
расходов на поездки, оставил себе 3200 руб. как комиссионные. З. обвиняется <br/>
в хищении госимущества на 110 тыс. руб. с использованием подложных <br/>
документов."<br/>
     Защитник Сокирко прежде всего отметил, что бывший з/к З. является <br/>
единственным обвиняемым по данному делу, хотя трудно представить, как из <br/>
колонии уходили десятки вагонов похищенных пиломатериалов, а администрация <br/>
об этом не догадывалась... Но даже если так, то тем более нельзя говорить, <br/>
что левая продукция была у государства украдена З., раз все государственные <br/>
планы и платежи колонией исполнялись. Можно говорить лишь об упущенной <br/>
государством выгоде. Что же касается З., то в любом случае он был лишь <br/>
коммерческим посредником, работавшим за 3% от объема продаж, и странно, как <br/>
можно возлагать на него вину за хищение леса на 110 тыс. руб. Что касается <br/>
подложных документов, то во времена запрета на коммерческое посредничество <br/>
они были рядовым явлением.<br/>
     Вердикт: Не виновен.<br/>
<br/>
     Суждения 12 присяжных по делу З.<br/>
<br/>
     7 присяжных признали З. невиновным в хищении, 2 уклонились от оценки, 3 <br/>
признали его виновным в хищении, причем 2 из них - со снисхождением.<br/>
     Примерно такое же соотношение голосов подали присяжные в определении <br/>
вины З. в использовании подложных документов: 6 - не виновен, 2 - <br/>
уклонились, 4 - виновен, из них 3 - со снисхождением.<br/>
     Но практически все присяжные обвиняли администрацию ИТУ в хищении леса <br/>
из колонии:<br/>
     - Тут все ясно. Лагерь производил продукцию, она должна была идти по <br/>
заказ-нарядам туда, где ее ждут люди, а она шла налево. Это хищение. <br/>
Виновен.<br/>
     - Следствие и суд умышленно вывели из дела администрацию колонии. Нет <br/>
никаких доказательств, что З. был в сговоре. Он занимался лишь <br/>
посредничеством.<br/>
     - Его, наверное, специально выбрали для реализации леса, а потом все на <br/>
него и свалили, сделали козлом отпущения. Не виновен.<br/>
     - Не согласен с защитой, что раз материал был неучтенный, то можно его <br/>
брать. Да, З. оказался стрелочником, но он сам на это согласился. Не могу <br/>
сказать, что не виновен, ведь воровали он у нас с вами, но заслуживает <br/>
снисхождения.<br/>
     - Может, государство что-то потеряло из-за его действий, но у народа он <br/>
ничего не отнял, люди в другом месте получили этот товар. Закон был <br/>
бандитским, не способствовал развитию инициативы людей, нормальной работе. <br/>
Не виновен.<br/>
     - Хищение было, но в этой группе З. был лишь винтиком, а его роль <br/>
раздули...<br/>
     - Хищение действительно было, но З. к нему отношения не имел, он лишь <br/>
участвовал в продаже похищенного другими леса. Однако умысел не доказан, <br/>
поэтому виновен лишь в использовании подложных документов и заслуживает <br/>
снисхождения.<br/>
     - Да, участвовал в реализации похищенного, но вина в хищении не <br/>
доказана.<br/>
     - Кто прошел сталинские лагеря, тот знает, что такое "туфта". Лагерь <br/>
никогда плана не выполнял, но отписывались, составляли документы об отправке <br/>
вагонов леса, а настоящие вагоны отправляли" налево". Нашелся человек для их <br/>
реализации, а когда началось следствие, должен был взять все на себя. <br/>
Существовала формула: вдвоем - да, втроем - нет. По совести он, конечно, не <br/>
виновен.<br/>
     Важно отметить, что оправдательный вердикт в данном процессе далеко не <br/>
столь единодушен, как в предыдущих ОСП, где за оправдание подсудимых <br/>
высказывалось подавляющее большинство присяжных. Думаю, это обстоятельство <br/>
объясняется характером получения в колонии "неучтенного леса".<br/>
     Внимательный анализ суждений присяжных показывает, что 8 из 12 <br/>
присяжных (т.е. большинство) признали сам факт хищения леса из колонии, хотя <br/>
из них только трое согласились считать подсудимого соучастником этого <br/>
хищения. Возможно, они представляли внеплановый "левый" лес результатом <br/>
дополнительной эксплуатации заключенных со стороны "озверевшей <br/>
администрации", а посредника З. - лишь вынужденным пособником реализации <br/>
"похищенного". Можно сказать, что по отношению к самому "левому" <br/>
производству в этом деле присяжные вынесли обвинительный вердикт. И <br/>
действительно, ни обвинение, ни защита не смогли толком объяснить, каким <br/>
образом в строго контролируемой колонии могло возникнуть дополнительное <br/>
(неучтенное) производство лесоматериалов.<br/>
<br/>
     Мудрость старого политзаключенного<br/>
<br/>
     Толковое объяснение было дано в процессе обсуждения последним присяжным <br/>
из бывших политзаключенных. По его мнению, тут было не дополнительное <br/>
производство, а обыкновенная лагерная "туфта" (обман), на которой, по <br/>
известному описанию А.И. Солженицына, держалась вся лагерная экономика и <br/>
даже вся экономика "планового социализма". Лагерное начальство занижало <br/>
планы (или списывало их невыполнение на объективные трудности) и этим, с <br/>
одной стороны, облегчало рабочую нагрузку на заключенных, а с другой, <br/>
получало возможность часть реально произведенной продукции пустить "налево" <br/>
с выгодой для себя. Возможен был и иной вариант, когда государственные планы <br/>
по отгрузке леса колонией выполнялись, но на деле вагоны с лесом шли <br/>
потребителям с недогрузом или с частичным браком. Если недогруза или <br/>
некондиции было не очень много, плановые потребители дефицитной продукции не <br/>
возникали, а администрация опять же получали "неучтенку" уже для частной <br/>
реализации.<br/>
     Хорошо это или плохо? А.И. Солженицын, совесть диссидентов, не смог не <br/>
признать, что лагерная "туфта" зачастую спасала не только лес от <br/>
бессмысленной растраты, но и заключенных от дурной непосильной работы. Можно <br/>
сказать, что явочным порядком администрация колонии "приватизировала" часть <br/>
лагерного производства, направляя его продукцию самым нуждающимся и смелым <br/>
потребителям, т.е. свободному ("теневому") рынку, осуществляя рыночные <br/>
преобразования в нашей экономике задолго до их официального провозглашения. <br/>
И это было намного полезнее для людей и общества, чем тупое выполнение часто <br/>
вредных планов.<br/>
     С точки зрения социалистического государства такие действия лагерного <br/>
начальства были хищением. Кстати, с формальной точки зрения правильнее было <br/>
бы квалифицировать их именно как хищение путем злоупотребления служебным <br/>
положением, но поскольку под судом оказался лишь один посредник З., не <br/>
обладавший должностным положением, то его "пустили как мошенника".<br/>
     Юристы утверждают, что права государства надо защищать с той же <br/>
неукоснительностью, как и права частных собственников. Однако справедливо ли <br/>
это? Но вспомним, что наше государство само было грабителем своих подданных <br/>
и узурпировало все их права. Самовольное посягательство лагерных <br/>
хозяйственников на имущество тоталитарного государства было не хищением, а <br/>
скорее самоуправным осуществлением своих интересов. Поскольку такое <br/>
самовольство было вынужденным, уголовным преступлением его признать нельзя. <br/>
Но в данном суде присяжные с таким мнением не согласились.<br/>
     Можно констатировать, что, оправдав посредника З., присяжные в этом <br/>
процессе все же осудили за хищение госимущества администрацию колонии, <br/>
занимавшуюся реально "цеховым предпринимательством".<br/>
     Итог голосования по делу З. поставил под сомнение наши убеждения о <br/>
поголовной несправедливости обвинений "теневых" предпринимателей.<br/>
     Справка. После нашего долгого обжалования Верховный Суд РФ снизил <br/>
наказание с 13 до 8 лет лишения свободы, и в марте 1993 г. З. был освобожден <br/>
по УДО. Вернувшись в Москву, он стал одним из самых деятельных и близких нам <br/>
людей.<br/>
<br/>
     Дело Ш. - еще одного лесоторговца из Сибири<br/>
     (ОСП 2.12.1990 г)<br/>
<br/>
     Процесс был весьма значимым для истории ОСП в нашем Обществе. На нем мы <br/>
познакомились с сотрудниками ведущих правовых институтов страны. Его впервые <br/>
снимали на видео для слушателей Института повышения квалификации работников <br/>
прокуратуры.<br/>
     Судья : д.ю.н., профессор Петрухин И.Л.<br/>
     Обвинитель - к.ю.н. Сокольский О.Э.<br/>
     Защитник - д.ю.н., профессор Морщакова Т.Г.<br/>
     Общественный защитник - Сокирко В.В.<br/>
     12 присяжных.<br/>
     Поскольку состав юристов-участников был идентичен второму суду по делу <br/>
бакинских "цеховиков", стиль аргументов которых уже представлен в приложении <br/>
3.1., мы ограничимся лишь кратким изложением аргументов сторон и судьи.<br/>
<br/>
     Аргументы обвинителя<br/>
<br/>
     "Вольный снабженец" Ш. заключал с совхозами Западной Сибири и <br/>
Казахстана фиктивные договора на поставку пиломатериалов силами бригад <br/>
временных рабочих. На деле же он поставлял совхозам некондиционную древесину <br/>
красноярских лесокомбинатов (колоний), расплачиваясь с последними поставками <br/>
дефицитных материалов - проволокой, техникой, электролампами и др., а <br/>
деньги, выделенные на оплату труда фиктивных рабочих, присваивал и тратил по <br/>
собственному усмотрению. Сам Ш. признавал за собой лишь коммерческое <br/>
посредничество, но был осужден за хищение совхозных средств на 15 лет <br/>
лишения свободы, поскольку обманывал руководителей совхозов и явно завышал <br/>
оплату своих услуг. Кроме того, этим он способствовал нарастанию в стране <br/>
инфляции.<br/>
<br/>
     Аргументы защитника<br/>
<br/>
     Договоры с совхозами Ш. стремился выполнить полностью, и это ему <br/>
удавалось, кроме двух последних случаев по независящим от него причинам. <br/>
Руководители совхозов получали по договорам то, что хотели, и за те деньги, <br/>
которые сами соглашались выплачивать. Тут нет места не только для уголовного <br/>
наказания, но даже для гражданского спора. Что касается подложных <br/>
документов, то оформляли их не Ш., а руководители хозяйств вынужденно из-за <br/>
отсутствия в то время понятия о законности посредничества. Аргумент <br/>
обвинения в чрезмерности полученных Ш. сумм за посреднические услуги <br/>
несостоятелен, потому что суммы должны регулироваться только договором, они <br/>
могут быть любыми, если это будет выгодно потребителю. А как известно, <br/>
руководители совхозов давали показания о выгодности для хозяйств действий <br/>
Ш., потому что поставленные им пиломатериалы обошлись совхозам дешевле, чем <br/>
если бы они шли по обычным снабженческим каналам. Тем более что Ш. <br/>
приходилось тратить много денег на "проталкивание грузов". Формально в его <br/>
действиях есть признаки "коммерческого посредничества", но надо учесть <br/>
положение закона, что ни одно деяние, содержащее формальные признаки <br/>
преступления, не может считаться таковым, если оно потеряло общественную <br/>
опасность. Действия Ш. имеют большой положительный социальный эффект и <br/>
потому не могут считаться преступлением.<br/>
<br/>
     Общественный защитник<br/>
<br/>
     Возразил обвинителю, заявив, что основная причина инфляции лежит в <br/>
неэффективности хозяйства, непроизводительных затратах, в т.ч. и гниющей <br/>
древесины, а деятельность Ш. как раз помогала "расшивать" такие узлы.<br/>
     Напутственное слово судьи<br/>
<br/>
     "Уважаемые присяжные заседатели! На вас лежит огромная ответственность. <br/>
Вы должны решить судьбу человека. Сидеть ли ему долгое время в тюрьме или <br/>
быть на свободе. Совершил ли он действия полезные для нашего общества или <br/>
опасные. Должен он быть наказан или оправдан. Все в ваших руках, как вы <br/>
скажете, так и будет. Ибо суд присяжных - это суд народа, и человек из <br/>
народа доверяет свою судьбу народу. И сам народ должен сказать: виновен он <br/>
или не виновен..."<br/>
     Прокомментировав аргументы сторон, судья закончил свою речь так:"Прошу <br/>
иметь в виду: от того, что вы сейчас скажете, будет зависеть судьба <br/>
конкретного человека и развитие судебной практики по такого рода делам. <br/>
Потому что ваш вердикт будет широко обнародован. Надо сделать так, чтобы вам <br/>
не стыдно было смотреть потом людям в глаза... И чтобы потом по таким же <br/>
делам выносились такие же справедливые вердикты."<br/>
     Вердикт присяжных: Все 12 присяжных признали Ш. невиновным в хищениях и <br/>
в должностном подлоге.<br/>
     Только один признал его вину в использовании подложных документов. С <br/>
чем связано такое единодушие присяжных в отличие от суда по делу предыдущего <br/>
лесоторговца? В данном деле не разбирался вопрос о причинах появления у <br/>
лесокомбинатов излишних запасов некондиционных пиломатериалов, которые они <br/>
могли пустить на свободный бартер. Сам Ш. из ИТУ писал нам, что у <br/>
лесокомбинатов древесина просто гнила. И ему легко верилось после чтения <br/>
прессы о частых пожарах на сибирских лесобиржах. Да и обвинение Ш. <br/>
предъявлялось не в хищении "неучтенной древесины", а лишь в излишнем его <br/>
коммерческом доходе.<br/>
     Наверное, старый политкаторжанин, участник ОСП по лесоторговцу З., и в <br/>
случае с лесоторговцем Ш. объяснил бы возникновение "излишнего леса" <br/>
"туфтой" лагерного начальства (его "цеховой" деятельностью), но даже <br/>
присяжные не имеют право на выход осуждения за пределы обвинения.<br/>
     Справка. Единодушие присяжных как бы сказалось и на позиции <br/>
правоприменительных органов того времени. Через год по протесту Прокуратуры <br/>
СССР Верховный Суд Казахстана пересмотрел дело Ш. За исключением одного <br/>
эпизода все его сделки с совхозами были названы не хищением, а коммерческим <br/>
посредничеством, декриминализированным к тому времени.<br/>
     В этом деле действующий суд практически согласился с судом присяжных.<br/>
     Отбыв в заключении 11 лет, Ш. был освобожден в начале 1992 г., но в <br/>
1995 г. от болезней умер.<br/>
<br/>
     Дело якутского кооператора С.<br/>
     (ОСП 3.04.1992 г.)<br/>
<br/>
     Обвинитель Шпигель: Председатель якутского кооператива С. взялся делать <br/>
фундамент под склад, не имея ни своего бетонного узла, ни фондов на <br/>
получение бетона. Это его не остановило. Он договаривался с начальниками <br/>
различных строительных управлений, имеющих бетонные узлы, получал от них <br/>
товарно-транспортные накладные, по которым незаконно вывез на свою стройку <br/>
(т.е. похитил) 200 м3 бетона на 16,7 тыс. руб. Объяснения С., что за <br/>
получаемый бетон его кооператив расплачивался собственной работой или <br/>
поставками щебня, надуманы в целях самооправдания.<br/>
     Защитник Владышевский: С. со своей бригадой подрядился строить <br/>
фундамент, заручившись обещанием заказчика обеспечить его бетоном. Но <br/>
заказчик оказался несостоятельным (растворно-бетонные узлы почему-то <br/>
отказывали ему в изготовлении бетона даже из собственных материалов). Склад <br/>
был очень нужен, шли вагоны с мясом, которое приходилось хранить под <br/>
открытым небом. Поэтому С. был вынужден "доставать" бетон самостоятельно, <br/>
опираясь на старые дружеские связи и в обмен на эквивалентные по стоимости <br/>
поставки щебня или на исполнение строительных работ, преодолевая <br/>
существовавшие госзапреты на отпуск бетона неплановым, частным организациям.<br/>
     Да, С. понимал, что приобретение бетона было незаконным, но другого <br/>
выхода у него не было, себе он ничего не присвоил, а стоимость <br/>
приобретенного бетона государству была полностью компенсирована, поэтому нет <br/>
никаких оснований квалифицировать действия С. как преступление.<br/>
     Подспудно же в основе дела против С. лежит конфликт между ним и <br/>
руководством комбината "Якутугольстрой", в который входили все вышеназванные <br/>
СУ с бетонными узлами. Раньше С. был начальником одного из управлений <br/>
комбината, но уволился и ушел в строительный кооператив против воли <br/>
директора комбината, за что его решили наказать. Сначала появились позорящие <br/>
статьи в местной прессе, потом его обложили запретом отпускать бетон <br/>
кооперативным бригадам, и наконец пошел силовой вариант: подключили ОБХСС, <br/>
арестовали на длительное содержание под стражей, оказывали давление на <br/>
свидетелей и наконец осудили на 8 лет лишения свободы. А начальникам СУ, <br/>
которые помогали С. в получении бетона вопреки запрету, суд определил <br/>
условные наказания. Такова была схема расправы с человеком, пожелавшим <br/>
отделиться от госмонополиста.<br/>
     Реплика обвинителя: Очень часто подсудимые в целях самозащиты говорят о <br/>
"терроре", "незаконном аресте" и т.д. Но на деле отступление от закона было <br/>
допущено именно С. Защитник "не заметил", что бетон для этого кооператива <br/>
был отпущен по фиктивным накладным, а это и есть хищение. Мало того, в <br/>
данном случае имеет место дискредитация идеи предпринимательства, ибо оно не <br/>
должно базироваться на использовании похищенных материалов.<br/>
     Реплика защитника: То, что С. и начальники СУ нарушали запрет <br/>
руководства комбината "Углестрой" на отпуск бетона частным организациям <br/>
совсем не означает, что бетон был украден. Руководитель комбината мог <br/>
уволить подчиненных руководителей СУ, нарушивших его запрет или наложить на <br/>
них иные административные санкции. Но осудить их и тем более С. как <br/>
расхитителей мог только пристрастный суд.<br/>
     Председательствующий Сокирко В.В.: По делу изложены две позиции. <br/>
Обвинение считает, что С. завладел бетоном против воли комбината, который <br/>
был фактически собственником бетона, и потому С. совершил хищение. Защита <br/>
говорит, что передача С. бетона совершалась на договорной основе, возмездно, <br/>
никому реального вреда причинено не было (только польза) и потому хищения не <br/>
было. <br/>
     Вам предстоит ответить на вопросы:<br/>
     Было ли хищение?<br/>
     Виновен ли С. в хищении?<br/>
     Если С. виновен, то заслуживает ли он снисхождения?<br/>
     Вердикт: Не виновен.<br/>
<br/>
     Анализ суждений присяжных<br/>
<br/>
     10 из 12 признали С. невиновным в хищении. Их доводы:<br/>
     - Дико, когда в городе существует один такой гигант, которому подчинены <br/>
все остальные. Была осуществлена обычная торговая операция: бетон за щебень <br/>
или работу. А если комбинат запрещал такие сделки, то пусть бы он и <br/>
наказывал подчиненных ему начальников СУ... Но при чем тут хищение? Ради <br/>
дела он шел на нарушение, но не на преступление. А может тут была даже <br/>
провокация.<br/>
     - Согласен. Взыграли у начальника амбиции, вот и подключил <br/>
прокуратуру...<br/>
     - Получение бетона только по перечислению - формальное правило, которое <br/>
часто нарушается на практике. Здесь же им воспользовались, чтобы осудить С.<br/>
     - С. решал задачу доступным ему способом. Явный пример здравого <br/>
предпринимательства. Очевидно, не виновен.<br/>
     2 присяжных признали С. виновным в хищении, но со снисхождением.<br/>
     - Раз С. взял бетон, не оформив этот факт документально, значит, скрыл <br/>
его от владельца, а это и есть хищение.<br/>
     - Бетон получали по липовым накладным. Сегодня вывезли его у <br/>
государства, завтра - у меня. Волю собственника нарушать нельзя. С. виновен, <br/>
но заслуживает снисхождения.<br/>
     Господство голосов, оправдывающих кооператора С., на мой взгляд, <br/>
вызвано двумя обстоятельствами:<br/>
     - Начальник комбината как официальный собственник бетона действовал не <br/>
по экономическим, а по репрессивным (или даже мстительным) мотивам, т.е. <br/>
против интересов настоящего собственника-государства, С. же пытался <br/>
действовать экономически. Только защищая интересы своего заказчика и своих <br/>
рабочих, он вынужден был искать пути обхода комбинатского запрета. <br/>
     - С. забирал бетон не безвозмездно, а в порядке устных бартерных <br/>
договоров с начальниками растворных узлов, поэтому в нарушении воли <br/>
собственника-комбината логичнее именно этих начальников, но никак не С.<br/>
     Но есть правда и у тех, кто не смог оправдать С. Ведь он все же нарушил <br/>
запрет официального собственника и соблазнил на этот запрет начальников <br/>
бетонных узлов. А воля собственника, каким бы он ни был - "священна и <br/>
неприкосновенна", иначе все будут нарушать всё. Но и они отказались лишать <br/>
С. свободы и, значит, вывели на деле его действия из-под сферы уголовного <br/>
закона. <br/>
     Справка. Дело С. было официально опротестовано, отправлено на <br/>
доследование, а там закрыто за утратой общественной опасности. Фактически <br/>
следствие согласилось с большинством присяжных в данном ОСП.<br/>
     Дело украинского приемщика картофеля Л.<br/>
     (ИСП 28.04.1992 г.)<br/>
<br/>
     Этот общественный суд присяжных по делу осужденного хозяйственника был <br/>
организован профессиональными юристами и психологами из частного Института <br/>
психолого-правовых исследований (руководитель Похмелкин А.В.) не на <br/>
территории Общества ЗОХиЭС и без участия его активистов, если не считать <br/>
официального защитника Сокирко В.В.<br/>
     В число 12 присяжных вошли слушатели Гуманитарной армейской академии <br/>
(ранее называвшиеся курсантами Военно-политической академии им. Ленина). <br/>
Таким образом, профессиональные исследователи впервые обеспечили <br/>
независимость суда от ОЗОХиЭС (можно сказать, с избытком, потому что трудно <br/>
заподозрить будущих политруков в симпатиях к осужденным хозяйственникам) и, <br/>
потому мы его считаем первым исследовательским судом присяжных.<br/>
     Подробная запись процесса приводится в приложении 3.2., а здесь я <br/>
только кратко изложу доводы сторон.<br/>
<br/>
     Доводы обвинителя<br/>
<br/>
     Приемщик Л. присвоил 16 тыс. руб., выданных ему на закупку картофеля, <br/>
отчитавшись фальшивыми документами о якобы закупленном, а потом сгнившем на <br/>
базе картофеле.<br/>
     Действия Л. имеют все признаки хищения: он присвоил чужие деньги <br/>
обманным (противоправным) способом, естественно, с корыстной целью, <br/>
безвозмездно, потому что картофель покупателям так и не поступил, причинив <br/>
явный ущерб потребкооперации (затратил ее деньги).<br/>
     Применяя обман, Л. разрушал саму возможность свободных экономических <br/>
связей. Нет тут и использования забытых государством ресурсов, одно <br/>
жульничество.<br/>
     (Характерно, что обвинитель напрочь отказался от социалистической <br/>
терминологии суда, реально осудившего Л. в 1984 г., и вполне успешно <br/>
применил риторику демократов-прогрессистов 90-х годов, но с тем же <br/>
репрессивным смыслом.)<br/>
<br/>
     Доводы защитника<br/>
<br/>
     На деле Л., став заведующим базой, перестроил всю ее работу, резко <br/>
сократив потери картофеля (естественную убыль). Но эта реконструкция <br/>
потребовала немалых затрат, в том числе на новое оборудование и более <br/>
эффективную работу персонала. Деньги для этого база зарабатывала сама, <br/>
продавая убереженный от гниения картофель как закупленный у населения. <br/>
Значит:<br/>
     - Никакого ущерба ни потребкооперация, ни потребители не понесли, <br/>
поскольку запланированное и оплаченное потребкооперацией количество <br/>
картофеля было поставлено потребителям в соответствии с плановыми <br/>
обязательствами.<br/>
     - Официально узаконенный норматив списания картофеля на естественную <br/>
убыль не только не был превышен, а напротив, картофеля списано было вдвое <br/>
меньше, чем по нормативу, что уже было достижением для этой базы.<br/>
     - Использование "липовой отчетности" являлось практически обязательным <br/>
компонентом любой инициативной работы в условиях тотально планируемой <br/>
экономики. Не Л. это придумал и нельзя его за это судить.<br/>
     - В условиях подавления частников Л. осуществлял эффективное частное <br/>
предпринимательство и потому вынужден был оставаться в тени. Сегодня он <br/>
должен быть оправдан.<br/>
     Вердикт: В хищении не виновен - 6 голосами против 6.<br/>
<br/>
     Анализ суждений присяжных<br/>
<br/>
     Надеюсь, читатели сами оценят весь драматизм этого процесса как в <br/>
стадии судебных прений, так и при обсуждении его присяжными, если <br/>
внимательно ознакомиться с ним в приложении 3.2.<br/>
     Так было угодно судьбе, что наш первый исследовательский суд присяжных <br/>
оказался и самым красивым из-за того, что в нем приняли участие такие <br/>
талантливые люди, как подсудимый Л. (было зачитано его письмо), обвинитель <br/>
Похмелкин В.В., старшина присяжных М. Кстати, острота вскрытой проблемы не <br/>
уменьшилась и по сей день. Хотя сам Л., отсидев половину срока, был <br/>
помилован, но его приговор так и не был пересмотрен.<br/>
     Мало того, остается незаполненным ров непонимания между присяжными, <br/>
оправдывающими "теневиков" и оправдывающими репрессии против них. Есть даже <br/>
подозрение, что совместные обсуждения в коллегиях присяжных приводят не к <br/>
взаимопониманию, а только к утверждению каждого на своей позиции, что грозит <br/>
не примирением и согласием, а скорее сползанием общества к войне друг против <br/>
друга.<br/>
     Итог голосования зафиксировал "фифти-фифти" по главному вопросу, но <br/>
если присмотреться к их суждениям, то можно увидеть более сложную картину <br/>
мнений.<br/>
     Трое присяжных (4, 5, 6) обосновали свой твердый вердикт: "виновен" <br/>
прежде всего приматом закона. ("Закон есть закон, и его нарушение есть <br/>
преступление"). Подобно профессиональным юристам они ссылаются на <br/>
установленный закон, а не на свою совесть, довольно пренебрежительно <br/>
приравнивая ее к "разным рассуждениям"(4), ко "всяким философствованиям"(5) <br/>
или к не относящимся к делу "обсуждениям мотивации и морального облика"(6). <br/>
При этом их просто не интересуют вопросы экономики или причиненного ущерба.<br/>
     Эту позицию можно назвать "формально-юридическим законничеством".<br/>
     Двое присяжных (8 и 11) признали, что занимают двойственную позицию, в <br/>
которой, с одной стороны, присутствует понимание, что от действий Л. была <br/>
экономическая польза, а не ущерб, но, с другой стороны, заботясь о честности <br/>
нарождающегося предпринимательства, они считают, что нельзя прощать <br/>
нарушение этических норм, "нечистоплотность".<br/>
     Их позицию обозначим термином "нравственный ригоризм". Как можно <br/>
понять, эти присяжные в наказании Л. склонны к проявлению снисхождения.<br/>
     Интересно мнение последнего присяжного (7) из группы осудивших: <br/>
"Реального ущерба не было, но присваивать экономию нельзя. Л. виновен, но <br/>
заслуживает снисхождения". Этот присяжный совершенно правильно ухватил суть <br/>
проблемы, что Л. действительно виновен в противоправном присвоении, но не <br/>
собственности, а прибыли (экономии) от нее, что является не уголовным, а <br/>
гражданским правонарушением. Но поскольку стороны такого варианта ответа ему <br/>
не дали, он избрал формулу "Виновен", но скорректировал его требованием <br/>
снисхождения (т.е. применения наказания, не связанного с лишением <br/>
свободы.)Эту позицию (7) я бы назвал точкой зрения "гражданской <br/>
ответственности".<br/>
     Трое присяжных (1, 2, 3) также отмечали двойственность своего отношения <br/>
к Л. Выделяя такие признаки преступления в его действиях, как незаконность и <br/>
безвозмездность присвоения средств, они отрицали преступно-корыстные мотивы <br/>
у Л. и говорили о том, что он стремился к общей пользе и не причинил ущерба. <br/>
По двойственности своего отношения эти присяжные похожи на присяжных 8 и 11, <br/>
но критерий общей пользы и отсутствия ущерба оказался для них более <br/>
значимым, чем общеэтические соображения.<br/>
     Для этой позиции подходит название "житейский прагматизм".<br/>
     Наконец, последние трое присяжных (9, 10, старшина12) в обоснование <br/>
своего твердо оправдательного вердикта ссылались, прежде всего, на личный <br/>
опыт, ("шабашничество", "подшефные работы" и др.), где им также приходилось <br/>
совершать правонарушения ради общей пользы. Для себя они считали невозможным <br/>
осуждать другого за неисполнение "преступных законов".Фактически они лучше <br/>
защитника выразили его точку зрения, которую можно назвать "позицией <br/>
шабашников".<br/>
     Справка. Л. помилован после половины срока.<br/>
<br/>
     Возможен ли диалог "законников" и "шабашников"?<br/>
<br/>
     Среди присяжных были выявлены две радикальные тройки противоположных <br/>
взглядов и группа 6 колеблющихся "центристов". Теперь становится понятным, <br/>
почему не состоялась дискуссия во имя взаимопонимания, к которой приглашал <br/>
старшина, - уж слишком непримиримы были заявленные позиции.<br/>
     И действительно, в чем могут убеждать друг друга группы радикалов: три <br/>
"законника по убеждениям" и три "шабашника по жизни", если они непримиримы <br/>
по определению? Когда "шабашники" говорят, что они и сами нарушали такие <br/>
преступные законы и что прежде всего следует осудить хотя бы морально <br/>
создателей таких законов, а "законники" еще более убеждены, что сажать надо <br/>
нарушителей любого закона (и соглашателей с ними), то им не остается ничего <br/>
другого, кроме как осуждать друг друга. Тут не до дискуссий.<br/>
     Дискуссии возможны только среди "центристов", которые сами чувствуют <br/>
плюсы и минусы как обвинения, так и защиты, потому нуждаются в <br/>
дополнительных аргументах и их обсуждении. Тем более, что именно в их среде <br/>
присяжным (7) обнародована позиция "гражданской ответственности", наиболее <br/>
похожая на интегральную истину. Останься "шестеро центристов" одни, они <br/>
скорее бы смогли примирить свои этические опасения или подчеркивания <br/>
практической пользы, допустим, на вменении Л. только вынужденного <br/>
гражданского правонарушения.<br/>
     К сожалению, наличие непримиримых радикалов создает как в обществе, так <br/>
и в среде присяжных атмосферу нетерпимости, что просто замораживает <br/>
конструктивный спор. Прежде всего этот упрек следует отнести все же к тройке <br/>
"законнников", не желающих ничего и слышать о точке зрения "совести" и иных <br/>
"философствованиях" и тем сводящих возражения оппонентов к преступлению или <br/>
к пособничеству преступления. Этот случай хорошо иллюстрирует причины <br/>
невозможности ввода в среду присяжных юристов по профессии. К сожалению, <br/>
избавиться от юристов по сознанию в суде присяжных, призванном учитывать <br/>
прежде всего точку зрения совести, представляется почти невозможным.<br/>
     "Радикалы защиты" (себя я отношу к их числу) мне кажутся более <br/>
вменяемыми, сомневающимися в собственной правоте и способными выслушивать <br/>
чужие аргументы. В их признаниях, что они были вынуждены идти на <br/>
правонарушения, видна не отрицательная бравада, а сознание своей вины и <br/>
желание исправлять ее, если позволит ситуация. Недаром именно старшина, как <br/>
их лидер, предлагал своим коллегам не спешить с окончательным решением и <br/>
продолжить дискуссию в целях нахождения взаимопонимания. Но этот призыв не <br/>
был услышан.<br/>
     Подводя итог анализу, я посчитал бы наиболее правильным поделить <br/>
присяжных по делу Л. на две неравные группы: 3 "юристоподобных" обвинителя, <br/>
неспособных к диалогу (четверть состава), и группа 9 житейски мудрых <br/>
прагматиков (три четверти), отказывающихся осуждать Л. на лишение свободы и <br/>
способных к выработке новых общественных установлений.<br/>
<br/>
     Вспоминая М.Я. и "Поиски взаимопонимания"<br/>
<br/>
     Хочется оставить на память "замечание на полях", как любил не только <br/>
говорить, но и делать историк М.Я. Гефтер, духовный основатель самиздатского <br/>
журнала "Поиски взаимопонимания", получившего известность на рубеже 70-80-х <br/>
годов в диссидентской среде. Мои дискуссионные сборники "В защиту <br/>
экономических свобод" должны были стать составной частью "Поисков <br/>
взаимопонимания", но тогдашние правоприменители им уготовили более суровую <br/>
судьбу - стать составной частью не печатного издания, а уголовного дела.<br/>
     Однако вспомнил М.Я. Гефтера и "Поиски" я не случайно, а в связи с <br/>
призывом старшины присяжных в деле Л. продолжить обсуждение и поиски <br/>
взаимопонимания. Как и в 1979-м, так в 1993 г. этот призыв внешне остался <br/>
безответным, но я не считаю это поводом лишь для уныния.<br/>
     Во-первых, потому что участники все же разговаривали друг с другом и <br/>
оказались способными принять решение, а во-вторых, непримиримые к диалогу <br/>
"законники" оказались в очевидном меньшинстве. Большинство же присяжных <br/>
граждан было способно сомневаться и слушать чужие доводы. При определенных <br/>
условиях они будут способны искать и находить взвешенное взаимоприемлемое <br/>
решение (например, если по закону заставить принимать вердикт не простым, а <br/>
квалифицированным большинством и тем стимулировать процесс убеждения друг <br/>
друга). И именно люди, прошедшие школу теневого бизнеса ("шабашки"), типа <br/>
старшины в деле Л., оказываются наиболее продвинутыми в поиске гражданского <br/>
согласия. Убежден, это не простое совпадение, тут есть связь. Дайте людям <br/>
суд присяжных, и они сами станут искать правильные решения и по кирпичику <br/>
строить гражданское общество.<br/>
<br/>
     Выводы из рассмотрения вердиктов присяжных по 9 старым делам<br/>
<br/>
     Проведенные в 1990-92 г. общественные процессы по делам "теневиков" <br/>
убеждают, что присяжные подавляющим большинством их оправдывают и не видят в <br/>
их действиях такого преступления как хищение. Из 128 присяжных, принявших <br/>
участие в 9 процессах, только 33 (одна четверть) признали подсудимых <br/>
виновными в хищении у государства материалов, энергии, амортизации <br/>
оборудования, используемых в "левом" производстве или прибыли от него. Но <br/>
даже эти люди в основном предпочитали осуждать "цеховиков" со снисхождением, <br/>
т.е. без лишения их свободы. С другой стороны, можно понять, что многие из <br/>
присяжных, не признавших уголовную виновность "цеховиков", посчитали, что <br/>
вопросы о незаконном использовании государственного имущества надо было <br/>
решать в договорном (гражданском) порядке. Целиком оправдать "цеховой <br/>
бизнес" они не могли.<br/>
     Болезненнее всего присяжные воспринимали недовложение сырья в плановую <br/>
продукцию (в процессах О. и З. почти треть присяжных признала недовложение <br/>
хищением). Но большинство все же поддержало аргументы защиты, что <br/>
недовложение сырья в продукцию нельзя считать хищением, если потребитель <br/>
своей покупкой такое недовложение фактически одобрил.<br/>
     С перестройкой и разрешением частных (кооперативных вначале) <br/>
предприятий ситуация сдвинулась. В число "новых кооператоров" могли <br/>
вливаться не только бывшие "комсомольцы", но и недосаженные "цеховики". <br/>
Однако, выделившись из госпредприятий, они потеряли и традиционные приемы <br/>
хозяйствования, например, возможность пользоваться гособорудованием и <br/>
создавать на госпредприятиях неучтенные запасы материалов для своих цехов. А <br/>
при отсутствии отлаженных товарных рынков единственным источником сырья, <br/>
площадей и иных производственных ресурсов все равно оставался все тот же <br/>
госсектор, сиднем сидящий на своих гниющих богатствах. И потому неизбежно <br/>
выросло число уголовных дел о прямых хищениях с госпредприятий сырья <br/>
(особенно цветных металлов). Они тоже проходили через наше Общество и <br/>
общественные суды.<br/>
<br/>
<br/>
<table width="600"> <tr> <td>
<a href="3_1.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="3_3.html"> следующая </a>
</td></tr></table>

{% endblock content %}
