{% extends 'base.html' %}
{% block title %}Сокирко В.В. Приложение 3.1. Запись ОСП по делу бакинского "цеховика"{% endblock %}
{% block content %}




<h3><a name="3_5">Приложение 3.1. Запись ОСП по делу бакинского "цеховика"</a></h3><br/>
     (6.04.1991 г. в институте государства и права АН СССР)<br/>
<br/>
     Судья: д.ю.н. Петрухин И.Л., институт ГиП<br/>
     Обвинитель: к.ю.н. Сокольский О.Э., институт прокуратуры<br/>
     Защитник: д.ю.н. Морщакова Т.Г., институт советского права<br/>
     Общественный защитник: Сокирко В.В.<br/>
     Присяжные - 12 жителей г. Москвы (отобраны из 15)<br/>
<br/>
     Судья предлагает присяжным принять присягу следующего содержания:<br/>
     "Приложу всю силу разумения моего к тщательному рассмотрению как <br/>
обстоятельств, уличающих подсудимого,так и оправдывающих его, и подам <br/>
решительный голос согласно с тем, что увижу и услышу в суде по сущей правде <br/>
и убеждениям моей совести, не оправдывая виновного и не осуждая <br/>
невиновного."<br/>
<br/>
     Вступительное слово судьи<br/>
<br/>
     Присяжные принесли присягу, и мы приступаем к рассмотрению уголовного <br/>
дела. Я должен разъяснить вам права и обязанности в ходе судебного <br/>
заседания. Вы должны внимательно слушать все происходящее на суде. У нас суд <br/>
экспериментальный, нет судебного следствия, допросов обвиняемых, свидетелей. <br/>
Поэтому информацию о деле вы должны черпать из выступлений прокурора, <br/>
адвоката и общественного защитника. Никакие другие источники информации <br/>
недопустимы.<br/>
     Дело сложное, подсудимый Ш. обвиняется по 4-м статьям УК. Оно выделено <br/>
из более широкого уголовного дела, но мы судим только Ш. И я обязан <br/>
объяснить смысл обвинения, которое предъявлено прокуратурой.<br/>
     Ш. с соучастниками обвиняется в хищении соц.собственности в особо <br/>
крупных размерах на сумму 698 тыс. руб. Он обвиняется в том, что наладил <br/>
нелегальное "левое" производство банных ковриков, которые сбывались через <br/>
торговую сеть, а деньги присваивал. Он обвиняется в том, создал преступную <br/>
организацию, начиная от шофера и сторожа и кончая директором предприятия, <br/>
которые получали соответствующие отчисления. Ш. и соучастники сложили <br/>
начальный капитал - 100 тыс. руб., и если кто-то хотел вступить в это <br/>
преступное сообщество, то платил за 1% капитала 1 тыс. руб. Капитал приносил <br/>
годовую прибыль такую же как сам капитал, т.е. 100 тыс. руб. Каждый месяц <br/>
соучастники получали соответствующую доле каждого сумму из этой прибыли. Вы <br/>
должны установить, верно ли, что Ш. совершил таким образом хищение.<br/>
     Кроме того, Ш. обвиняется не только в хищениях, но и в том, что <br/>
занимался частнопредпринимательской деятельностью. А это преступление по <br/>
ст.153 УК РСФСР.<br/>
     Также Ш. обвиняется в том, что систематически давал взятки, чтобы <br/>
обеспечить производство и реализацию неучтенных ковриков, работникам <br/>
торговли, врачу санэпидстанции, ревизору и др.<br/>
     По всем этим обвинениям вам предстоит определиться.<br/>
<br/>
     Речь обвинителя<br/>
<br/>
     Уважаемые присяжные, уважаемый судья. Дело, которое предстоит сегодня <br/>
разобрать относится к категории самых сложных, оно очень велико по объему. <br/>
Преступления совершались большой организованной группой расхитителей. Всего <br/>
по делу были привлечены 82 человека, потому в суды оно направлялось <br/>
раздельными партиями, что вызывало определенные сложности с соблюдением прав <br/>
обвиняемых... Но сейчас нам важно разобрать способ, которым были совершены <br/>
преступления.<br/>
     Хозяйственные дела, к которым относится и данное, делятся на три группы <br/>
по своей сложности. Первые - самые простые дела типа недостач или растрат, <br/>
когда обвиняемые присваивают имущество и не заботятся, чтобы скрыть следы. <br/>
Ко второй группе относятся такие же хищения, но скрытые различными <br/>
документами. Третий же способ - самый сложный - когда на производстве <br/>
организуется неучтенный выпуск "левой" продукции.<br/>
     На Бакинской галантерейной фабрике в течение длительного времени <br/>
действовала большая организованная группа расхитителей. Подсудимый Ш. был <br/>
инженером-технологом на 3-м участке фабрики. По другим делам проходили <br/>
осужденные с других участков, включая директора фабрики. Они втянули в свою <br/>
деятельность большую группу рабочих, служащих, давали взятки работникам <br/>
контролирующих и правоохранительных органов. За счет нарушения технологии <br/>
они организовали выпуск плановой продукции с недовложением сырья. И за счет <br/>
созданного резерва организовали производство пользующейся спросом продукции. <br/>
При производстве "левой" продукции использовались государственные станки, <br/>
здания, сырье и трудовые ресурсы. Для доставки "левой" продукции в торговую <br/>
сеть использовалась товарно-транспортные накладные, которые после продажи <br/>
продукции изымались и менялись на другие, где не указывалась "левая" <br/>
продукция, а деньги делились между компаньонами пропорционально паю.<br/>
     Почему у них возникла необходимость в этом пае? А потому, что когда в <br/>
такую форму вовлечено большое число людей, опасно, если вся деятельность <br/>
замыкается на одном человеке, это может нарушить всю цепь и привести к <br/>
разоблачению. Поэтому создается акционерный капитал. В сущности, это было <br/>
акционерное общество. "Цеховики" давно пользуются этой формой деятельности, <br/>
а в прошлом году Совмин СССР даже легализовал ее.<br/>
     В 1982 г. Ш. вошел в это дело, получив пай 30%. Два других его <br/>
соучастника имели паи по 35%, но заработала организация эффективно только с <br/>
приходом Ш., когда он внедрил в производство продукцию, пользующуюся <br/>
спросом, - бытовые коврики меняющихся артикулов. Ш. обвиняется в том, что <br/>
эта продукция выпускалась за счет преступной экономии.<br/>
     Чтобы избежать разоблачения, расхитители несли большие накладные <br/>
расходы в виде выплат не только пайщикам и рабочим, но и взяток.<br/>
     (Так, по словам одного из подельщиков Ш. известно, что директору <br/>
фабрики пайщики платили ежемесячно 2500 руб., работникам конторы - 1500 <br/>
руб., на "обеспечение безопасности" (видимо взятки правоприменительным <br/>
органам) - 4000 руб., складу готовой продукции - 1500 руб., бухгалтеру <br/>
склада - 200 руб., заместителю гл. бухгалтера - 75 руб., начальнику <br/>
планового отдела -100 руб., нач. лаборатории - 100 руб., нач. техотдела - <br/>
60-100 руб., нач. ОТК - 100 руб., нач. ОТИЗ - 70-150 руб., отделу кадров - <br/>
30 руб., парткому - 100 руб., месткому - 50 руб., ст. товароведу - 50 руб., <br/>
юрисконсульту - 30 руб., ревизору участка - 50 руб., участковому <br/>
инспектору - 30 руб. - показания из дела).<br/>
     Как добывалось сырье? Коврик состоял из полиуретана, на который <br/>
наносилась тканевая основа, обшитая бахромой. По ГОСТу толщина полиуретана <br/>
должна была быть 20 мм. Но Ш. изобрел специальное приспособление, <br/>
позволявшее делить полиуретан по толщине пополам, чем и достигал экономию <br/>
сырья. Экономия ткани также достигалась за счет изменения плотности плетения <br/>
и т.п. Некоторые технологические операции вообще не выполнялись, изменена <br/>
была упаковка. В цеху даже не было машин, способных работать с ковриками 20 <br/>
мм толщиной, все они были налажены на работу с полиуретаном в 10 мм <br/>
толщиной... все эти обстоятельства подтверждаются экспертизами, изъятыми <br/>
образцами, показаниями рабочих, так что нет никаких сомнений в фактической <br/>
стороне дела. Вопрос состоит в том, как эти действия квалифицировать.<br/>
     Ш. одновременно вменено и хищение, и частнопредпринимательская <br/>
деятельность. Но можно ли считать, что Ш. и его компаньоны наладили <br/>
дополнительное производство ковриков? Я думаю, что нет, потому что здесь <br/>
имеется преступление более тяжелое, чем предпринимательская деятельность.<br/>
     Частнопредпринимательская деятельность могла иметь место, если бы <br/>
пайщики оборудовали какой-то сарай, достали сырье, привезли станки, наняли <br/>
рабочих и начали выпускать продукцию, а их покрывала охрана фабрики. Тогда <br/>
это был бы "левый цех". Здесь же была "рационализация", которая могла быть <br/>
вознаграждена. Ведь за любое рациональное предложение, которое дает <br/>
увеличение выпуска продукции, полагается вознаграждение рационализатору. Да, <br/>
Ш. был заслуженным изобретателем республики. Он мог иметь премию за <br/>
сверхплановую продукцию, но никак вся эта продукция не могла быть <br/>
собственностью изобретателя и его компаньонов. Он же сделал ее неучтенной и <br/>
таким способом превратил государственную собственность в личную - на <br/>
колоссальную сумму в 700 тыс. руб. В этом состоит наиболее тяжелое обвинение <br/>
против Ш.<br/>
     Без сомнения, виновен Ш. и в даче взяток...<br/>
<br/>
     Речь защитника<br/>
<br/>
     Уважаемый председатель, уважаемые присяжные! Я прошу очень внимательно <br/>
отнестись как к фабуле дела, так и к правовой оценке содеянного. Мы должны <br/>
решить вопрос о том, совершено ли преступление подсудимым, которое <br/>
представлено обвинением? Совершил ли он противоправные действия?<br/>
     Самое тяжкое - обвинение в хищении госимущества в особо крупных <br/>
размерах.<br/>
     ...Вызывает возражение размер присвоенных сумм. Давайте посмотрим, из <br/>
чего они складывались. Они складывались не из фактических расходов, а из <br/>
номинальных, исчисленных по бумагам... Сославшись на заключение экспертов, <br/>
обвинитель указал, что из него можно сделать вывод, что неучтенной продукции <br/>
выпускалось ровно столько, сколько и учтенной, т.е. половина продукции была <br/>
"левой". На чем основан этот вывод?<br/>
     Расход материала на единицу продукции определен нормативом, <br/>
установленным на основе заключений экспертов, отобравших по три коврика на <br/>
тысячу изделий. Проанализировав эти образцы, эксперты установили, какие <br/>
излишки плановой продукции экономили эти производители. Но у меня есть <br/>
возражения по методу. Ведь изделия не были идентичными. Они были различны по <br/>
линейным размерам, по толщине, по плотности покрытия. Также исследования <br/>
машин показали, что они могли резать полиуретан не только 10 мм, но и <br/>
большей толщины в зависимости от настройки... Кроме того, эксперты исходили <br/>
при вычислении объема "левой продукции" из предположения, что все излишки <br/>
употреблялись в дело. Однако из показаний работников фабрики известно, что <br/>
материал часто поступал бракованным, было много отходов, которые сжигались. <br/>
Эти показания учтены не были.<br/>
     Не был учтен и такой момент. Реализация "левой" продукции производилась <br/>
через торговлю, при этом торговые работники должны были получать за труд <br/>
реализации "левой" продукции. Цифры выплат торговым работникам немалые, 20% <br/>
от дохода. Они хотя и присутствуют в обвинении, но также включены в доход Ш.<br/>
     Исходя из этого, считаю, что размер обогащения Ш. исчислен неточно и не <br/>
может быть положен в основу обвинения. А ведь в теории объем обогащения еще <br/>
не считается размером похищенного, тут же он и сам неверно вменен.<br/>
     Производство было значительно рационализировано: изготовлены <br/>
специальные приспособления для реконструкции технологического процесса, <br/>
поставлены дополнительные машины, налажен выпуск продукции, которую фабрика <br/>
никогда не выпускала, причем налажен на оставшихся от старой трикотажной <br/>
фабрики линиях, давно уже не работавших. Своим трудом люди модернизировали <br/>
производство. Кроме того, была разработана технология производства, <br/>
позволившая взаимозаменять полотно покрытия всех видов изделий. Это <br/>
позволяло иметь минимум отходов. Налицо модернизация, улучшение технологии, <br/>
экономия, возможность реального увеличения выпуска продукции. Это <br/>
положительный эффект их работы.<br/>
     Нужно ответить также на довод обвинения, что такие технологические <br/>
новшества ухудшали качество продукции. Но он голословен, этот вопрос никем <br/>
не был проанализирован. Данная продукция никогда не признавалась <br/>
бракованной, более того, ее товарный вид был улучшен и она пользовалась <br/>
спросом.<br/>
     Эта продукция, как и плановая, реализовывалась по одним ценам, и <br/>
обвинение могло бы и в этом усмотреть зацепку. Но давайте посмотрим на <br/>
систему образования государственных цен. Четкой обоснованной системы здесь <br/>
вообще не существует. Сегодня разрешается устанавливать так называемые <br/>
договорные цены, гораздо более высокие, чем позволила себя эта группа <br/>
производственников.<br/>
     Здесь я хочу подойти к вопросу о том, было ли совершено хищение <br/>
государственного имущества в особо крупных размерах? Ведь хищением <br/>
госимущества признается изъятие из фондов собственности... А тут понесло ли <br/>
государство какой-либо материальный ущерб в результате деятельности данной <br/>
группы? Я считаю, что не понесло... Плановую продукцию предприятие <br/>
выпускало, деньги от реализации поступали в казну в том объеме, в каком оно <br/>
было запланировано, и в этом смысле госпредприятие ущерба не понесло. По <br/>
делу о хищении предприятие не предъявило никакого гражданского иска к лицам, <br/>
которые были осуждены. Имущественный ущерб, причиненный госсобственности, <br/>
отсутствовал.<br/>
     Да, это производство было налажено под прикрытием госпредприятия, а это <br/>
означало не только вывеску. которая защищала, но и то, что производство <br/>
велось на государственном оборудовании, в государственных помещениях, силами <br/>
наемных рабочих, которые получали зарплату. Как быть с этим? <br/>
     Но по эксплуатации зданий, оборудования, оплате труда действовали <br/>
определенные нормативы. Износ техники оплачивался из фондов предприятия за <br/>
счет доходов. Оплачивало ли предприятие эти амортизационные расходы? <br/>
Безусловно. Но был ли процесс износа оборудования больше обычного? Этот <br/>
вопрос можно только ставить. Ответ на него неизвестен, ибо не измерялись <br/>
реальные масштабы износа, перерасход энергии, не было учтено, что <br/>
рационализация позволяла сохранить оборудование в лучшем состоянии. Все же <br/>
сомнения должны трактоваться в пользу обвиняемого.<br/>
     Обсудим теперь иной вопрос (о ЧПД). Поскольку первое обвинение в <br/>
изъятии госсредств, т.е. их хищении, подтверждения не находит, то может быть <br/>
поставлен вопрос, что здесь имела место частнопредпринимательская <br/>
деятельность с использованием государственных, кооперативных или иных <br/>
общественных форм, которая по ст.153 УК РСФСР считается уголовным <br/>
преступлением.<br/>
     Но материалы дела не подтверждают положения Ш. в группе как <br/>
организатора такой деятельности. Первоначально все соучастники ничего не <br/>
говорили о роли Ш., потом стали давать такие показания под влиянием обещаний <br/>
следователей. С моральной точки зрения эти показания не заслуживают доверия.<br/>
     Кроме того, есть и сведения фактического свойства о том, что даже тот <br/>
пай в 30%, которым якобы владел Ш., был на самом деле не его, что он <br/>
выполнял больше роль технолога. У нас нет никаких достоверных данных, что Ш. <br/>
был организатором "левого" производства. А обвинительный приговор на <br/>
предположениях не может быть основан.<br/>
     И наконец, обвинения Ш. во взятках представляются неправомерными как в <br/>
связи с сомнительностью ряда свидетельских показаний, так и в связи с тем, <br/>
что деньги, которые Ш. передавал, например, снабженцам и иным специалистам, <br/>
от деятельности которых реально зависело производство, правильнее <br/>
рассматривать, как работу по договору за процент или как вид коммерческого <br/>
посредничества. Ведь это были действия по обеспечению реализации продукции, <br/>
и квалифицировать их как взятки нельзя.<br/>
     Данная производственная группа работала много лет, в ней существовали <br/>
определенные правила. Каждый член группы знал, что нужно платить <br/>
определенные деньги за обеспечение их производственной деятельности, они <br/>
договаривались о распределении доходов и выплачивали нужным лицам <br/>
определенные суммы...<br/>
     Да, производство считалось очень доходным, давало 100% годового дохода. <br/>
Но по материалам дела видно, что в определенные годы это производство вообще <br/>
не давало дохода. Если происходили замены пайщиков, то это было вызвано <br/>
именно такими причинами. Те, кто продавал свои паи, просуществовали в <br/>
качестве пайщиков более года и никакого дохода не получили. Они объясняли <br/>
это тем, что для покупки пая заняли деньги и не могли выплатить долг по <br/>
результатам работы производства... и тогда участники должны были платить <br/>
должностным лицам из собственного кармана, потому что производство <br/>
действовало и его нужно было обеспечивать и поддерживать... Это еще один <br/>
аргумент в пользу того, что предъявляемые в качестве общего объема ущерба <br/>
суммы являются неточными.<br/>
     Наше уголовное законодательство развивается, в нем долгое время <br/>
присутствовала ст. 153 УК, которая устанавливала ответственность за <br/>
частнопредпринимательскую деятельность и коммерческое посредничество. Теперь <br/>
она ставится под сомнение. Многие преступления, за которые были осуждены <br/>
люди, занимавшиеся организацией производства и хозяйственной деятельностью, <br/>
с социальной точки зрения уже не оцениваются как преступления. Поэтому <br/>
сегодня и вам надо оценить, какую деятельность вели работники этой фабрики - <br/>
полезную или вредную для общества? Можно ли признать, то, что добавляя что-<br/>
то в дом потребителя, они все-таки обманывали его? Думаю, что нельзя, потому <br/>
что потребитель, приобретая изделие, может решить сам, годится ли ему оно за <br/>
такую цену или нет. Тем более что сейчас мы говорим о полезности свободных <br/>
цен.<br/>
     Я считаю, что виновность Ш., который в течение всего следствия отрицал <br/>
свою вину, не нашла подтверждения в собранных следствием доказательствах. <br/>
Поэтому я прошу вас признать Ш. невиновным по всем обвинениям.<br/>
<br/>
     Речь общественного защитника<br/>
<br/>
     Подчеркну лишь один момент - общественную значимость данного уголовного <br/>
дела. Я прошу вас, отвечая на вопросы суда, прежде всего оценивать <br/>
полезность или вредность производственной деятельности подобных фирм <br/>
"цеховиков", т.е. частных предпринимателей, раньше запрещаемых, но готовых <br/>
развиваться сейчас, если бы им дали такую возможность, если бы наши <br/>
правоохранительные и судебные органы высказались бы за оправдание <br/>
"цеховиков".<br/>
     Деталей обвинения касаться не буду, они опровергнуты в выступлении <br/>
адвоката, с которым я полностью согласен. Особо коснусь только обвинения во <br/>
взятках, т.к. считаю, что к хозяйственным делам понятие взятки вообще <br/>
неприменимо. Обвинить во взятках можно только государственных чиновников, <br/>
например, судей, которым должно быть категорически запрещено путать свои <br/>
властные обязанности с частными денежными вознаграждениями. В данном же <br/>
случае мы имеем дело с частной производственной фирмой, которая в тех <br/>
условиях (иные и ныне) просто вынуждена была "делиться" немалой частью своих <br/>
доходов. Подсчеты показывают, что до 80% этого дохода уходило именно на <br/>
разные выплаты, от самых крупных лиц ("безопасность"и дирекция) до самых <br/>
мелких чинов из парткома-месткома. Я призываю вас оценить эти обстоятельства <br/>
с позиций собственного опыта.<br/>
     Да, эффективная частная фирма большую часть своих доходов вынуждена <br/>
была отдавать партократии (как раз в этом сейчас обвиняют "теневую" <br/>
экономику, которая, мол, кормит мафию). Но разве "теневики" делали это <br/>
добровольно? Разве государство дало им какую-то иную альтернативу? Разве их <br/>
действия не были вынужденным шагом, чтобы выжить? Разве мы все с вами не <br/>
находились в таком же точном положении, когда большую часть своих <br/>
способностей и труда отдавали партократии с ее безумными тратами на "каналы-<br/>
Афганистаны". Если из-за этого осуждают "теневую" экономику, то мы тогда <br/>
должны будем осудить и себя самих. Думаю, это неверно.<br/>
     ... Надо решать. Должны ли мы оправдать такой род деятельности или <br/>
будем по-прежнему осуждать реальное частное предпринимательство и потому <br/>
находиться в безнадежной экономической яме? Будем ли мы освобождать не <br/>
выдуманных, а реальных частных предпринимателей, которые закладывали основы <br/>
рынка еще в застойные годы? Подумайте: ведь пайщики не разрушали, нет, они <br/>
добивались, чтобы и плановое, и свое производство у них шло превосходно. Так <br/>
и было. Они занимали первые места в соцсоревновании, получали красные <br/>
знамена. И при этом реально еще и удваивали выпуск продукции, пользовавшейся <br/>
спросом, наполняя рынок товаром. Неужели это плохо и неужели было бы лучше, <br/>
если бы они ничего не делали сверх учета? К ним тогда никаких претензий не <br/>
было бы? Так кого мы оправдываем и кого поддерживаем?<br/>
     Повторяю: если мы будем мечтать о выращивании особо чистых, <br/>
социалистических предпринимателей, а реальных "цеховиков" держать в тюрьмах, <br/>
то никогда из тоталитарной экономики не выползем. Прошу оправдать бакинского <br/>
предпринимателя Ш.<br/>
     (Судья предлагает сторонам обменяться репликами. Реплики не носили <br/>
принципиального характера. На просьбы присяжного задать вопрос прокурору, <br/>
судья отвечает отказом и предлагает задать их после напутственного слова).<br/>
<br/>
     Напутственное слово судьи<br/>
<br/>
     Вы оцениваете доказательства по вашему внутреннему убеждению, никакие <br/>
доводы предустановочной силы не имеют, вы сами их свободно оцениваете. Вы <br/>
можете принимать во внимание только те доказательства, которые были здесь <br/>
исследованы и о которых говорили прокурор и адвокат. Если у вас возникает <br/>
сомнение в виновности подсудимого, то все сомнения толкуются в пользу <br/>
подсудимого. Почему? В нашем уголовном процессе действует презумпция <br/>
невиновности, человек считается невиновным до тех пор, пока его вина не <br/>
доказана прокурором. Если прокурор не смог доказать вину, значит, человек не <br/>
виновен. Презумпция невиновности установлена, чтобы не допустить судебной <br/>
ошибки. Недоказанная виновность приравнивается к доказанной невиновности, и <br/>
человек полностью реабилитируется...<br/>
     И еще: недостаточно только показаний самих подсудимых. Если нет других <br/>
доказательств, должен быть вынесен оправдательный приговор. Одному же <br/>
признанию вины доверять не следует, ведь бывают случаи, когда подсудимые <br/>
оговаривают себя по разным мотивам. В данном деле есть указания на <br/>
экспертизу, эти данные можно использовать, есть еще показания обвиняемых по <br/>
другим делам. Но если обвиняемый заявил о виновности другого обвиняемого, к <br/>
такому заявлению надо подходить осторожно. Вот адвокат напомнил о том, что <br/>
эти лица вначале арестовывались, у них получали признания в отношении Ш. <br/>
После того как они признавались и обвиняли Ш., их из-под стражи освобождали. <br/>
Такой прием широко используется нашими следователями: арестовать, получить <br/>
признание, освободить. Если такой свидетель откажется от этих показаний, у <br/>
следователя есть возможность вновь его арестовать и тем "воспитать <br/>
послушность"... Я не хочу сказать, что так было в данном случае, но надо <br/>
учитывать, что такие ситуации в нашей следственной практике нередки.<br/>
     Главный вопрос, стоящий перед вами: имело ли место хищение <br/>
социалистической собственности или по УК - "завладение с корыстной целью <br/>
государственного имущества путем злоупотребления своим служебным положением <br/>
в особо крупных размерах"? УК предусматривает за такое преступление не <br/>
только конфискацию имущества, но в отдельных случаях и смертную казнь. Если <br/>
вы подсудимого признаете виновным в совершении этого преступления, то я как <br/>
судья имею право приговорить его к смертной казни. Если все доказано, то его <br/>
можно расстрелять.<br/>
     Вам предстоит решить два вопроса. Во-первых, доказано ли обвинение в <br/>
хищении? Прокурор и адвокат разошлись в оценках доказательств. Прокурор <br/>
считает, что хищение доказано и ссылается на показания соучастников, на <br/>
заключения бухгалтерской и технологической экспертиз. Адвокат же считает, <br/>
что хищение не доказано, что имеется отрицание вины подсудимым, а других <br/>
доказательств очень мало, в этой ситуации нет оснований считать, что Ш. <br/>
совершил это хищение.<br/>
     Второй вопрос в том, какова правовая оценка этого деяния, если вы <br/>
посчитаете его доказанным. Что это? Хищение в особо крупных размерах или это <br/>
частнопредпринимательская деятельность, полезная для нашего общества?..<br/>
     Наша практика в последние годы очень сильно перестроилась. До недавнего <br/>
времени суды приговаривали к серьезным наказаниям так называемых "шабашни-<br/>
ков", которые добывали деньги тяжелым трудом. Судили за хищение <br/>
социалистической собственности руководителей предприятий, которые вступали в <br/>
сделки с "шабашниками". Их судили за производственный риск и т.д. В <br/>
настоящее время наши суды все более пытаются переоценивать эти факты с точки <br/>
зрения идущих в стране социальных преобразований. Ведь перестройка - это <br/>
внедрение рынка, самофинансирование, развитие инициативы людей, переход на <br/>
акционерную форму производства...<br/>
     В данном деле мы видим, что было создано акционерное общество. Вы <br/>
должны решить, принесло ли оно пользу или вред. Спор заключается в <br/>
следующем. Эти люди продавали продукцию, ее покупали, значит, их действия <br/>
приносили пользу обществу... Но потребители у нас поставлены в такое <br/>
положение, что они купят все, что выброшено на рынок. И потому, может, они <br/>
покупали за ту же цену коврики, изготовленные с нарушением стандартов...<br/>
     Да, Ш. расходовал свои силы, он рационализатор, усовершенствовал <br/>
производство, но ведь при этом расходовались энергия и оборудование <br/>
государства, использовался труд государственных рабочих... Это все надо <br/>
оценить...<br/>
     Второе, Ш. обвиняется и в частнопредпринимательской деятельности с <br/>
использованием общественных форм производства. В данном случае производство <br/>
осуществлялось на государственном предприятии и силами рабочих, нанятых <br/>
государством. Но сейчас суды все меньше применяют уголовную норму о <br/>
частнопредпринимательской деятельности. Напротив, обществом последняя <br/>
сегодня не порицается, а одобряется.<br/>
     Имейте в виду особую социальную роль, которую играет суд присяжных в <br/>
развитии нашего советского права. Суд присяжных может сказать: "Да, в то <br/>
время это деяние подпадало под признаки преступления, но сейчас такие деяния <br/>
не считаются общественно опасными". Вам решать. Ст.153 УК еще не отменена, <br/>
но почти не применяется и от судов присяжных зависит, будет ли она жить.<br/>
     Третье. Дача взяток снабженцам, врачу, бухгалтеру и другим... Подход <br/>
тут должен очень строгий по каждому эпизоду. Вы должны учесть все доводы...<br/>
     ...Условия деятельности суда присяжных таковы, что он уголовное дело не <br/>
может вернуть на дополнительное расследование. Он должен вынести или <br/>
обвинительный, или оправдательный приговор по каждому пункту обвинения. <br/>
Имейте в виду: каждый вердикт суда присяжных получает широкую огласку. <br/>
Судьба человека в ваших руках.<br/>
     Заранее отвечу на вопрос, должны ли вы руководствоваться <br/>
представлениями времени совершения этих деяний? Нет, как раз надо <br/>
рассматривать это дело в отрыве от старых представлений. Вы выносите вердикт <br/>
сейчас и потому обязаны учитывать все произошедшие изменения в социальной <br/>
обстановке.<br/>
     Конечно, суд обязан руководствоваться законом. Но законы стареют. Суд <br/>
присяжных, вынося вердикт, как бы развивает наше право, делает его более <br/>
справедливым. Суд присяжных может выйти за рамки буквы закона, потому что <br/>
меняется жизнь. Сейчас мы видим, что происходит в экономике, и мы <br/>
вдохновлены новыми идеями. Поэтому у суда присяжных есть возможность <br/>
перешагнуть через правовые рамки и судить по справедливости, по совести, в <br/>
соответствии с той обстановкой, которая сейчас сложилась в стране...<br/>
     (После ответов прокурора и адвоката на несколько вопросов присяжных о <br/>
сроках амортизации оборудования и иных деталях, присяжные удаляются на <br/>
совещание, ход которого, к сожалению, не записывался).<br/>
     После возвращения присяжных старшина зачитал вердикт: Ш. не виновен.<br/>
     - По вопросу о виновности Ш. в хищении путем нелегального производства <br/>
продукции ответили: да - 2 , нет - 10 присяжных,<br/>
     - по вопросу о виновности Ш. в частнопредпринимательской деятельности <br/>
ответили: да - 1, нет- 11 присяжных,<br/>
     - по вопросам о даче взяток ответили "нет" - все 12 присяжных.<br/>
     На основании вердикта судья произносит приговор: "Подсудимого Ш. по <br/>
всем статьям предъявленного обвинения оправдать, из-под стражи освободить".<br/>
<br/>
<br/>
<br/>


{% endblock content %}
