{% extends 'base.html' %}
<title>Сокирко В.В. Приложение 4.2. Переписка ОЗОХиЭС с правоприменительными органами и правовой анализ дела камчатских рыбаков</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="4_6.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="5_1.html"> следующая </a>
</td></tr></table>
<h3><a name="4_7">Приложение 4.2. Переписка ОЗОХиЭС с правоприменительными органами  и правовой анализ дела камчатских рыбаков</a></h3><br/>
<br/>
     1. Из постановления начальника следственного отдела УВД Камчатской <br/>
области о привлечении капитана В. в качестве обвиняемого - 24.09.1993 г.<br/>
     ...По делу собраны достаточные доказательства для предъявления В. <br/>
обвинения в том, что он, работая в должности капитана МРТ, в июле 1993 г., <br/>
находясь в районе рыбного промысла, вступил в преступный сговор с капитан-<br/>
директорами промысловых судов Б. и С. с целью хищения государственного <br/>
имущества в особо крупных размерах. Зная о наличии на указанных судах <br/>
сокрытой от учета рыбной продукции - свежемороженой икры минтая, он <br/>
предложил им посреднические услуги по транспортировке и реализации этой <br/>
продукции в иностранном порту за валюту. Получив их согласие, а также <br/>
согласие своего и иных судоэкипажей, В. принял на борт своего транспортного <br/>
судна 50 т минтаевой икры, доставил ее в южнокорейский порт Пуссан и сбыл ее <br/>
там за 220 тысяч долларов США. Впоследствии эту сумму он разделил между <br/>
указанными судами, а долю своего экипажа разделил по своему усмотрению между <br/>
членами экипажа. В результате он причинил в сговоре с Б. и С. АО <br/>
"Океанрыбфлот" ущерб на сумму 51 млн. руб. и совершил преступление, <br/>
предусмотренное ст.93-1 УК РФ.<br/>
     2. Из обращения Общества ЗОХиЭС к прокурору Камчатской области <br/>
9.03.1994 г.<br/>
     Очевидно, что акционерное общество "Океанрыбфлот" является не <br/>
государственным, а частным предприятием, совладельцами которого являются, в <br/>
частности, и экипажи судов. Претензии участников АО друг к другу должны <br/>
разрешаться не в уголовном, а в гражданско-правовом порядке, включая и <br/>
претензии владельцев АО к экипажам трех судов, решившимся на добычу и <br/>
реализацию дополнительного количества икры. При этом имеет существенное <br/>
значение, как именно выполнили экипажи судов условия договоров с АО, ибо за <br/>
пределами этих условий экипажи должны считаться свободными в своих <br/>
действиях, как и любые арендаторы (включая и дополнительный вылов рыбы). <br/>
Считаем, что данное дело должно быть прекращено в качестве уголовного.<br/>
     3. Из обвинительного заключения, утвержденного прокурором Камчатской <br/>
области - 28.04.1995 г.<br/>
     ... На основе изложенного обвиняется по ч.3 ст.147-1 УК РФ, в том, что, <br/>
работая капитаном транспортного суда АО, являясь должностным лицом, <br/>
единоначальником, ответственным за выполнение производственных задач судна и <br/>
сохранность имущества, В. по предварительном сговору группой лиц повторно, <br/>
путем злоупотребления служебным положением совершил хищение чужого, в том <br/>
числе государственного имущества в крупных размерах...<br/>
     4. Из обращения в суд Общества ЗОХиЭС - июль 1995 г.<br/>
     Судоэкипажи выполняли возложенные на них от АО обязанности по плановому <br/>
вылову рыбы, сохранению судов и экономии ресурсов. Согласно заключенному <br/>
договору подряда экипаж возвращал АО вверенное ему судно и иное имущество, а <br/>
также в обмен на зарплату передавал АО запланированную продукцию. <br/>
Выловленной рыбы могло быть больше или меньше в зависимости от затраченного <br/>
труда и удачи, но ее нельзя считать вверенным рыбакам имуществом. Напротив, <br/>
это "имущество" было рыбаками создано (выловлено) и до официальной сдачи им <br/>
и принадлежало... Да, оно должно было быть передано АО в обмен на зарплату и <br/>
за использование судна согласно договору подряда, но еще не было сдано (не <br/>
было учтено). АО в тот момент, возможно, имело право на эту собственность, <br/>
но еще не саму собственность. При неисполнении договорных обязанностей, <br/>
возможно, рыбаки должны нести ответственность в порядке гражданского или <br/>
трудового права, но не по уголовному закону. Осуждение рыбаков за присвоение <br/>
выловленной и еще не сданной ими рыбы, как за присвоение вверенного им <br/>
имущества, мы считаем абсурдным.<br/>
     Еще в большей степени эти аргументы относятся к присвоению <br/>
рыбопродукции, произведенной рыбаками неучтенно уже сверх плана и своих <br/>
договорных обязанностей, в порядке самозаготовки. Нелепо считать, что эта <br/>
продукция принадлежит АО, раз само АО явно не желало самозаготовки и прямо <br/>
запрещало такое дополнительное производство. Конечно, самозаготовка икры <br/>
рыбаками в целях извлечения личного приработка и с неразрешенным <br/>
использованием судна и иного имущества АО является противоправным действием, <br/>
но подлежит не уголовной, а гражданской или трудовой ответственности.<br/>
     5. Из приговора Камчатского облсуда - 28.02.1996 г.<br/>
     Доводы подсудимых об отсутствии в их действиях уголовно-наказуемого <br/>
деяния, поскольку они являются акционерами АО "Океанрыбфлот", т.е. <br/>
собственниками выпускаемой их судами продукции, в связи с чем не могут <br/>
похитить ее у самого себя, судебная коллегия признает несостоятельными... <br/>
Членство в АО подсудимых не предопределяет их право на распоряжение его <br/>
имуществом в корыстных целях. Так, согласно договорам подряда между <br/>
судоэкипажами и гендиректором АО первые обязаны выловить рыбу и выпустить <br/>
готовую рыбопродукцию, для чего АО обеспечивало их судами, промысловым и <br/>
технологическим вооружением, расходными материалами. При выполнении этих <br/>
условий АО обязалось оплатить труд судоэкипажей, исходя из количества, <br/>
качества выпущенной рыбопродукции с учетом понесенных АО расходов. Однако <br/>
подсудимые, обратив часть вышеуказанной рыбопродукции в свою собственность, <br/>
фактически совершили хищение имущества, принадлежащего всему АО. При этом <br/>
хищение было совершено в форме присвоения, т.е. имущество было вверено <br/>
подсудимым и находилось в их правомерном владении, причем в силу их <br/>
служебных обязанностей они были наделены правом отдавать распоряжения по <br/>
поводу оперативного использования данного имущества. Присвоение чужого <br/>
имущества, вверенного подсудимым, есть наиболее замаскированная форма <br/>
хищения, при этом оконченное хищение в форме присвоения характеризуется <br/>
наступлением вредных последствий: недостачи имущества и преступного <br/>
обогащения в значительных размерах.<br/>
     Доводы об отсутствии в действиях подсудимых состава преступления, <br/>
предусмотренного ч.3 ст.147-1 УК РФ, т.к. право собственности не наступило, <br/>
в результате чего их действия надлежит квалифицировать по ст.148-3 УК РФ, <br/>
как причинение имущественного ущерба путем злоупотребления доверием, <br/>
судебная коллегия признает безосновательным. Ссылка защиты на ст.221 ГК РФ. <br/>
является неправомерной. Данный довод заявлен без учета установленных в <br/>
судебном заседании обстоятельств совершения подсудимыми преступных деяний, <br/>
согласно которым вылов рыбы и выпуск из нее готовой рыбопродукции <br/>
производился на судне с использованием промыслового и технологического <br/>
вооружения и расходных материалов, не являющихся частной собственностью <br/>
судоэкипажей. В результате изложенного выловленная, переработанная на судне <br/>
рыба является собственностью АО безотносительно к тому, оприходована она или <br/>
нет, т.к. АО имело лицензию на вылов море продуктов... Признать виновными по <br/>
ч.3 ст.147-1 УК РФ и назначить наказание в виде лишения свободы...<br/>
     6. Из ответа зам. председателя Верховного Суда РФ на последнюю <br/>
надзорную жалобу, поданную на личном приеме - 3.09.1997 г.<br/>
     Вы считаете, что в действиях осужденных капитанов... отсутствует состав <br/>
преступления, предусмотренный ст.147-1 УК РСФСР, ввиду того, что между АО <br/>
"Океанрыбфлот" и судоэкипажами отношения строились на основании договоров <br/>
подряда, а, следовательно, имущественные споры между сторонами должны <br/>
разрешаться в порядке гражданского судопроизводства.<br/>
     С такими доводами нельзя согласиться, поскольку, во-первых, указанные <br/>
договорные отношения, которые действительно имели место, ни в коей мере не <br/>
исключали полной материальной ответственности помощников капитанов по <br/>
производству (обработке) за надлежащий учет и сохранность всех товарно-<br/>
материальных и имущественных ценностей на промысловых судах, и, во-вторых, <br/>
как установлено по делу и не оспаривается вами, находившаяся на этих судах <br/>
переработанная и готовая к реализации икра минтая оприходовалась не <br/>
полностью с целью создания неучтенных излишков для последующей реализации и <br/>
обращения в свою пользу денежных средств.<br/>
     Осужденные по делу по существу не оспаривали этих обстоятельств, <br/>
признав, что им было известно о наличии на судах неучтенной мороженой икры <br/>
минтая, которая предназначалась для реализации за наличные в тайне от АО <br/>
"Океанрыбфлот", что и было фактически осуществлено.<br/>
     Со ссылкой в жалобе на ст.712 ГК РФ, которая якобы давала право <br/>
экипажам промысловых судов на побочные заработки за счет использования <br/>
средств и имущества АО "Океанрыбфлот", также нельзя согласиться, поскольку <br/>
удовлетворение требований судоэкипажей (если бы таковые действительно <br/>
предъявлялись) за счет удерживаемого (но не похищаемого) имущества <br/>
безусловно предполагало осведомленность об этом АО "Океанрыбфлот", чего в <br/>
действительности не было и, как уже отмечалось, противоправные действия <br/>
(неполное оприходование выпускаемой продукции, создание неучтенных излишков <br/>
икры минтая, умышленное невнесение в судовые журналы сведений о фактах <br/>
швартовки судов и перегруза похищаемой рыбопродукции, а также ее реализация) <br/>
совершались в обход и втайне от акционеров и руководства указанного АО.<br/>
     При таких данных оснований к пересмотру в порядке надзора состоявшихся <br/>
по делу судебных решений не имеется.<br/>
<br/>
     Кого сегодня слушает Верховный суд РФ<br/>
<br/>
     В нашей стране правом толковать законы и давать разъяснения по вопросам <br/>
применения их в судебной практике обладают Верховный Суд РФ в лице его <br/>
Президиума или Пленума согласно Конституции РФ, Закону РФ о судебной <br/>
системе, а также давней традиции. Хотя формально нижестоящие суды могут этим <br/>
рекомендациям и не подчиняться, но они при этом должны считаться с тем, что <br/>
их решения будут отменены в вышестоящей судебной инстанции.<br/>
     Президиум Верховного Суда РФ выносит такое решение, как правило, в виде <br/>
надзорного постановления по какому-либо конкретному делу. Поскольку такое <br/>
решение никем не может быть оспорено (случаи обжалования в Конституционный <br/>
или Европейский Суды мы не учитываем, потому что их решения касаются лишь <br/>
дел, где обнаруживаются нарушения Конституции РФ или неисполнение <br/>
международных обязательных установлений), оно будет образцом для всех <br/>
остальных судов.<br/>
     Постановления и разъяснения пленумов Верховного Суда РФ носят общий <br/>
нормативный характер и готовятся как обобщение судебной практики и <br/>
рекомендации Научно-практического совета при Верховном Суде РФ. Но и в том, <br/>
и в другом случае решения принимаются довольно узким составом судей - членов <br/>
Президиума или Пленума Верховного Суда РФ. Причем эти решения или толкования <br/>
будут действовать до тех пор, пока сами же члены Пленума или Президиума <br/>
Верховного Суда РФ их не отменят. Получается, что законы меняются гораздо <br/>
чаще и радикальней, чем их толкования судами, и столь же медленно меняется <br/>
сама судебная практика, т.е. реальные судебные решения.<br/>
     Надо учесть еще одно важное обстоятельство. Чтобы ни считали сами члены <br/>
судебной коллегии Верховного суда РФ по делу капитанов, они не могут <br/>
выносить решение, опираясь лишь на свое понимание, без учета сложившейся <br/>
традиции разрешения таких дел в судейском корпусе. А по аналогичным делам <br/>
она сложилась уже давно (со времен социализма) и прочно: "цеховиков" и <br/>
"леваков" надо карать очень строго. Изменить эту традицию может только <br/>
президиум Верховного суда РФ, но и он в свою очередь пойдет на такое <br/>
решение, только если с ним будет согласно все его собственное окружение и не <br/>
только среди судей, но и в среде исполнительной, законодательной и всякой <br/>
иной власти, т.е. когда в этой властной среде (старое название - <br/>
номенклатура) не будет создано общее мнение (консенсус) о необходимости <br/>
иначе разрешать такого рода дела. Попытка принять судебное решение вопреки <br/>
общему мнению (которое даже не зарегистрировано в каких-либо официальных <br/>
документах) приведет к жестким санкциям: само решение будет изменено, а <br/>
"виновные" рано или поздно будут изгнаны из власти как неумеющие или <br/>
нежелающие считаться с коллегами.<br/>
     Знающие люди находят немало профессиональных преимуществ в таком <br/>
взвешенном способе решений. Но понятен его основной порок: решение <br/>
принимается во имя интересов властвующей элиты, а не волей и интересами <br/>
граждан... И если сегодня бывшие директора и "новые русские" составляют <br/>
основу экономической, а может, и политической власти в стране, то какого еще <br/>
решения по делу камчатских капитанов и иным делам нам приходится ожидать? <br/>
Знающие люди так и уверяют: изменения судебной практики по нашим делам в <br/>
ближайшие годы не предвидятся.<br/>
     Но позвольте: если будут продолжать сажать и притеснять инициативных <br/>
производственников, если будут продолжать судить по традициям и интересам <br/>
номенклатуры, а не народа, то не надо обманывать себя и других сказками о <br/>
демократии. Тогда мы и вправду олигархичнее и застойнее коммунистического <br/>
Китая. По крайней мере сегодня.<br/>
     Выход из тупика: широкое распространение судов присяжных, независимых <br/>
от мнений любой номенклатуры. Надо добиться выполнения конституционного <br/>
права каждого подсудимого на суд присяжных по самому спорному делу. И их <br/>
решения должны считаться прецедентами для профессиональных судов, образцами <br/>
народной совести. Когда граждане смогут этого добиться, судебная власть <br/>
будет вырвана из-под всевластия мнений номенклатуры, что станет началом ее <br/>
ухода из иных видов власти, концом номенклатурного абсолютизма.<br/>
     Глупо надеяться, что нынешняя элита и ее юристы добровольно отдадут <br/>
свою бесконтрольную власть судам присяжных. Их к этому можно только <br/>
принудить. Сейчас же правозащитники обязаны не уставать твердить Верховному <br/>
Суду РФ правду - на его языке и по его правилам, пока нелогичность, <br/>
несправедливость и даже антинароднос ть его решений не станут очевидными для <br/>
всех.<br/>
<br/>
     О Постановлении Верховного суда СССР 25.06.1976 г. как основании <br/>
обвинений частных предпринимателей и "леваков" в хищении<br/>
<br/>
     В своих жалобах по такого рода делам я неоднократно ссылался на текст <br/>
ст.153 УК РСФСР, согласно которой неразрешенная частнопредпринимательская <br/>
деятельность (ЧПД) на государственных (и иных) предприятиях (с получением <br/>
"левых" доходов) считалась особым уголовным преступлением, значительно менее <br/>
тяжелым, чем хищение, а с конца 1991 года, когда эта статья была отменена <br/>
законодателем, ЧПД должна быть декриминализирована.<br/>
     Этот довод судьи всегда отвергали молча, безмотивно. И только <br/>
дружественно настроенные юристы в личных беседах мне говорили: есть у судов <br/>
основание приравнивать "левую" работу к хищению, и этим основанием является <br/>
доныне действующее постановление Верховного Суда СССР 25.06.1976 г.<br/>
     "Частнопредпринимательская деятельность (ст.153 УК РСФСР) нередко <br/>
сопровождается хищением социалистического имущества (например, путем <br/>
присвоения неучтенной продукции, изготовленной из похищенного сырья и <br/>
материалов). Пленум Верховного Суда СССР от 25.06.1976 г. разъяснил, что <br/>
если частнопредпринимательская деятельность связана с незаконным, <br/>
безвозмездным изъятием в корыстных целях сырья и материалов, принадлежащих <br/>
государственным или общественным организациям, а также денежных средств, <br/>
такие действия следует квалифицировать по совокупности, как <br/>
частнопредпринимательская деятельность и хищение государственного или <br/>
общественного имущества" ("Комментарии к УК РСФСР", М. Юриздат, 1984 г., <br/>
с.303)<br/>
     "Хитрость" этого текста дошла до меня далеко не сразу. Внешне он <br/>
выглядит логичным: если в процессе ЧПД на госпредприятиях похищаются сырье и <br/>
деньги, то судить виновных надо по совокупности этих преступлений. Но на <br/>
деле именно этот документ увязал ЧПД и хищение неразрывно, без всякого <br/>
"если", так что и ныне ЧПД на чужих предприятиях трактуется как хищение<br/>
     С моей точки зрения, постановление ВС СССР от 25.06.1976 г. в этой <br/>
части есть преступная подтасовка ("юридическое мошенничество"), изменившая <br/>
коренным образом всю судебную практику по делам о частном <br/>
предпринимательстве еще в 1976 году, задолго до формальной отмены ст.153 УК <br/>
РСФСР и повлекшая за собой тяжелейшие последствия (увеличение сроков лишения <br/>
свободы для множества "цеховиков" и "леваков").<br/>
     Рассмотрим аргументы против вышеуказанного постановления ВС СССР.<br/>
     Оно представляется несправедливым прежде всего потому, что исходит из <br/>
неверного допущения, что если "неучтенная продукция изготавливалась из <br/>
похищенного сырья и материалов", то она вся должна считаться похищенной. <br/>
Ведь помимо чужих материалов в стоимость неучтенной продукции входят и иные <br/>
компоненты: оплаченное сырье, труд дополнительно привлеченных рабочих, <br/>
предпринимательская прибыль и т.д. Объявление всех этих "хороших <br/>
компонентов" преступными только на том основании, что они оказались в связке <br/>
с похищенными (чужими) расходными материалами, неправомерно. В такой <br/>
ситуации похищенными должны считаться только действительно похищенные <br/>
материалы и не больше.<br/>
     Несправедливым оказывается также упомянутое в постановлении приравнение <br/>
к хищению "незаконного, безвозмездного изъятия в корыстных целях сырья и <br/>
материалов, принадлежащих государственным или общественным организациям". <br/>
Ныне действующее понятие хищения (см. примечание к ст.158 УК РФ) считает <br/>
необходимым его признаком причинение прямого ущерба владельцу присвоенного <br/>
имущества. Как раз в практике "левого" производства неучтенной продукции <br/>
были очень часты ситуации, когда использовалось списанное или сэкономленное <br/>
государственное (колхозное) сырье, когда отчуждение от государства формально <br/>
принадлежащей ему собственности не причиняло государству вреда. <br/>
Игнорирование в постановлении этого признака как раз и приводит к <br/>
неправомерному отождествлению частнопредпринимательской деятельности и <br/>
хищения.<br/>
     На практике суды отождествляют ЧПД с хищением еще более расширенно, чем <br/>
это определено в обсуждаемом постановлении, например, игнорируя признак <br/>
незаконного изъятия в корыстных целях сырья и материалов, как это произошло <br/>
в деле рыбаков.<br/>
<br/>
     Возрождение рабовладельческих отношений<br/>
<br/>
     Приговор Камчатского облсуда, строго говоря, основан уже не на логике <br/>
отождествления неразрешенной частнопредпринимательской деятельности на чужом <br/>
судне (предприятии) и хищения, а на тезисе о том, что согласно служебным <br/>
обязанностям капитанам якобы вверялась вся изготовленная рыбаками продукция <br/>
(законная или незаконная - все равно, а присвоение любой ее части (даже <br/>
незаконной) является хищением вверенного им имущества.<br/>
     Но ведь нельзя вверить капитанам имущество, которого до момента <br/>
"вверения" и не было, производство которого (самозаготовка) было <br/>
категорически запрещено. Ведь реально перед выходом в море капитанам могли <br/>
вверить только само судно и все находящееся на нем имущество, но не <br/>
рыбопродукцию, которую еще только предстояло произвести, передать в <br/>
собственность АО, прежде чем руководство АО могло бы эту продукцию кому-то <br/>
вверить. Получается, что причина меняется со следствием, и время течет <br/>
вспять.<br/>
     Тем не менее суд утвердил именно эту обратную логику и тем самым <br/>
согласился с претензией руководства АО обладать всеми результатами работы и <br/>
жизнедеятельности экипажей вне зависимости от заключенных с ними договоров и <br/>
условий, а также утвердив требование руководства АО к капитанам осуществлять <br/>
тотальный контроль и кары.<br/>
     Несколько утрируя, можно представить себе ситуацию, когда руководство <br/>
АО возбудит уголовное дело против капитанов за продажу членами экипажей <br/>
своих стихотворений или статей в иностранной прессе поскольку они были <br/>
написаны на судне АО с использованием освещения, воды, питания и т.п., а <br/>
также на основании убеждения руководства АО, что все произведенное членами <br/>
экипажей, пока они находились на судне, принадлежит ему. Получается что <br/>
работники территории АО не свободные люди, а только подчиненные, <br/>
фактически - наемные рабы.<br/>
     Нечего и говорить, что такая рабовладельческая логика в корне <br/>
противоречит логике договорных отношений, в которых только и могут <br/>
находиться свободные граждане. Даже если представить, что был добровольно <br/>
заключен между рыбаками и руководством АО договор, по которому первые <br/>
обязывались быть в рабском положении, гражданский суд при реальном <br/>
рассмотрении условий выполнения такого договора должен был бы признать его <br/>
ничтожность в связи с невозможностью иметь, с одной стороны, строго <br/>
ограниченные обязанности у АО, а с другой стороны - неограниченные <br/>
обязанности у нанятого работника.<br/>
     Конечно, официальные отношения судоэкипажей и руководства АО были <br/>
иными. Камчатский облсуд говорит о договоре подряда. Как известно, отношения <br/>
сторон в договоре подряда достаточно подробно регулируются новым гражданским <br/>
законодательством. Кроме того, как считает известный юрист к.ю.н. Пашин <br/>
С.А., в данном деле есть основания считать договор подряда формой трудовых <br/>
отношений. Ниже мы рассмотрим оба варианта.<br/>
<br/>
     Вариант гражданских отношений АО и судоэкипажей<br/>
<br/>
     В приговоре описан круг обязанностей каждой из сторон в упомянутом <br/>
договоре подряда. Судоэкипажи были обязаны выловить рыбу и изготовить <br/>
готовую рыбопродукцию, АО обеспечивало их за это судами, промысловым и <br/>
технологическим вооружением, расходными материалами, а также оплачивало их <br/>
труд, исходя из количества, качества выпущенной рыбопродукции с учетом своих <br/>
расходов. Конечно, эти обязанности конкретизировались, с одной стороны - <br/>
плановыми заданиями, а с другой стороны - нормами расхода материалов, износа <br/>
оборудования, ставками заработной платы и т.п. Согласно ч.1 ст.702 ГК РФ по <br/>
договору подряда одна его сторона (подрядчик- судоэкипаж) обязуется <br/>
выполнить по заданию другой стороны (заказчика -АО) определенную работу и <br/>
сдать ее результаты заказчику, а заказчик обязуется принять результат работы <br/>
и оплатить его".<br/>
     Таким образом, АО "Океанрыбфлот" по договору подряда могло приобрести в <br/>
свою собственность лишь те результаты работы, которые ему сдавали <br/>
судоэкипажи в порядке выполнения своих обязательств и были соответствующим <br/>
образом учтены и оприходованы. Если бы экипажи за весь рейс и по собственной <br/>
вине не сдали бы АО ни килограмма рыбопродукции или всю ее до оприходования <br/>
вывалили за борт (что нечасто, но бывало), они бы только лишились зарплаты <br/>
или в худшем случае их в гражданском порядке обязали бы возместить АО ущерб <br/>
за износ судна. А вот если бы они присвоили или противоправно уничтожили уже <br/>
оприходованную АО продукцию, их можно было бы обвинить в хищении или <br/>
уничтожении имущества, которое для них уже стало чужим.<br/>
     Таким образом, обвинение капитанов и их помощников в хищении неучтенной <br/>
рыбопродукции, как вверенного им имущества АО, не основано ни на смысле <br/>
договора подряда, ни на законе. Утверждение суда о том, что капитанам и их <br/>
помощникам в силу служебных обязанностей вверялась вся выпущенная экипажами <br/>
рыбопродукция, убежден, просто не может соответствовать закону. Даже если в <br/>
служебных инструкциях капитанов и содержится такое требование, его нельзя <br/>
принимать во внимание, поскольку оно противоречит законодательству о <br/>
договорах подряда и потому законной силы не имеет.<br/>
     Каков же тогда правовой статус рыбопродукции, произведенной экипажами <br/>
сверхплановых заданий для себя, фактически вне рамок заключенных договоров, <br/>
но с использованием оборудования АО? Или проще: чьей собственностью является <br/>
эта продукция?<br/>
     Ст.136 ГК РФ отвечает на этот вопрос так: "Поступления, полученные в <br/>
результате использования имущества (плоды, продукция, доходы), принадлежат <br/>
лицу, использующему это имущество на законном основании, если иное не <br/>
предусмотрено законом, иными правовыми актами или договором об использовании <br/>
этого имущества".<br/>
     В рассматриваемом деле судоэкипажи использовали имущество АО на <br/>
законном основании по договору и выполнили все условия этого договора о <br/>
передаче АО заказанной им рыбопродукции. Следовательно, остальная часть <br/>
новой продукции должна принадлежать экипажам за вычетом ущерба, который был <br/>
причинен владельцу использованием этого имущества. Но даже если владелец с <br/>
этим несогласен, его претензии должны рассматриваться гражданским судом по <br/>
делу о ненадлежащем исполнении условий договора подряда. Потому в приговоре <br/>
по делу камчатских капитанов не основаны на законе утверждения об ущербе АО <br/>
до соответствующего разрешения такой жалобы АО в гражданском суде.<br/>
     Согласно ст.712 ГК РФ "при неисполнении заказчиком обязанности уплатить <br/>
суммы, причитающиеся подрядчику в связи с выполнением договора подряда, <br/>
подрядчик имеет право на удержание в соответствии со ст.359 и 360 ГК РФ <br/>
результата работ, а также принадлежащих заказчику оборудования, переданной <br/>
для переработки (обработки) вещи, остатка неиспользованного материала и <br/>
другого оказавшегося у него имущества заказчика до уплаты им соответствующих <br/>
сумм."<br/>
     Поскольку в деле имеются сведения о том, что руководство АО в 1993 году <br/>
не исполняло должным образом свои обязанности, экипажи имели право не только <br/>
на побочные заработки ради выживания, но могли удерживать из уже переданной <br/>
АО рыбопродукции или даже иного имущества АО стоимость в размере <br/>
причитающейся им зарплаты и иных обусловленных договором сумм. В принципе <br/>
они имели право продать само судно за свою зарплату...<br/>
     К сожалению, Камчатский облсуд принял иную позицию, осудив не <br/>
руководство АО, не исполнявшего свои обязанности по договору, а судоэкипажи <br/>
в лице их капитанов, которые свои плановые обязанности перед АО выполняли <br/>
полностью, причем осудили не в гражданском, а в уголовном порядке.<br/>
     Производство и присвоение экипажами неучтенной рыбопродукции нельзя <br/>
признать хищением и по такому основанию, что произведена она была членами <br/>
экипажей во вневахтенное время и благодаря дополнительно вложенному ими <br/>
труду. Оплату экипажи получали только за сданную плановую продукцию, а <br/>
самозаготовленная продукция, естественно, не оплачивалась, поскольку для АО <br/>
она была чужой.<br/>
     Вариант трудового конфликта<br/>
<br/>
     Другим серьезным доводом защиты является утверждение, что данное дело <br/>
является на деле трудовым конфликтом и должно рассматриваться именно таким <br/>
образом, поскольку судоэкипажи с гендирекцией АО состояли не в гражданских, <br/>
а в трудовых отношениях.<br/>
     Однако и при таком варианте рассмотрения дела в суде победа окажется на <br/>
стороне рыбаков, поскольку у АО невыполненных обязательств много больше.<br/>
     Что касается причиненного предприятию ущерба, то ст.118 Кодекса закона <br/>
о труде регулирует этот вопрос следующим образом:<br/>
     " Материальная ответственность за ущерб, причиненный предприятию, <br/>
учреждению, организации при исполнении трудовых обязанностей, возлагается на <br/>
рабочего или служащего при условии, если ущерб причинен по его вине. Эта <br/>
ответственность, как правило, ограничивается определенной частью заработка. <br/>
При определении размера ущерба учитывается только прямой действительный <br/>
ущерб, неполученные доходы не учитываются."<br/>
     Таким образом, КЗоТ ограничивает право предприятия на возмещение <br/>
виновным работником причиненного прямого ущерба только частью одного <br/>
месячного заработка и при этом не может быть и речи о возмещении, например, <br/>
"неполученных доходов", не говоря уже о неполучении каких-то <br/>
незапланированных доходов, как в деле капитанов. Законодатель, видимо, <br/>
полагал, что, с одной стороны, этот ущерб во многом возмещается той <br/>
прибылью, которую работник приносит предприятию своим трудом, а с другой <br/>
стороны, у предприятия есть другие рычаги для воздействия на "вредящего <br/>
работника" (например, простое увольнение).<br/>
     Вместе с тем ч.1 ст.121 КЗоТ РСФСР устанавливает, что когда ущерб <br/>
причинен действиями работника, содержащего признаки деяний, преследуемых в <br/>
уголовном порядке, он несет полную материальную ответственность за <br/>
причиненный предприятию ущерб. Естественно, что сам КЗоТ эти признаки <br/>
уголовных деяний не устанавливает, отсылая нас к уголовному закону.<br/>
     В действиях камчатских капитанов отсутствуют признаки хищения, но <br/>
именно за хищение они осуждены, потому что именно так на них посмотрел <br/>
гендиректор АО, а за ним и российские судьи.<br/>
     Таким образом, если ст.118 КЗоТ защищает работника от разорения при <br/>
необходимости выплат предприятию компенсации причиненного ущерба, то ст.121 <br/>
полностью отдает работника на растерзание и лишение свободы руководителю <br/>
предприятия и правоохранительным органам, как только они захотят усмотреть в <br/>
их действиях признаки уголовных деяний. Наличие такой колоссальной разницы <br/>
между возможными последствиями от причиненного работодателю ущерба дает ему <br/>
большие возможности для произвола.<br/>
     Представляется, что ч.1 ст.121 КЗоТ должна быть устранена, поскольку на <br/>
деле она есть часть уголовного закона, которому нет месте в Законе о труде. <br/>
Гораздо правильнее включить в КЗоТ более детально проработанные нормы о <br/>
материальной ответственности работников за причинение предприятию ущерба при <br/>
"левой" работе и тем более при присвоении части изготовленной ими же <br/>
продукции или материалов. Несправедливо такие присвоения считать рядовым <br/>
хищением чужого имущества. Ведь продукция была результатом труда работника, <br/>
он был волен в ее уничтожении или созидании.<br/>
     Правильнее считать такие присвоения нарушениями условий трудового <br/>
договора, представляя предприятию возможность разорвать договор, уволить <br/>
виновного, истребовав от него всю необходимую и возможную компенсацию.<br/>
     Такой порядок в наших условиях более справедлив, ибо отсечет от <br/>
руководителей предприятий соблазн уголовных расправ над своими же <br/>
работниками, позволит с меньшими жертвами разрешать подобные конфликты и <br/>
находить взаимоприемлемые решения, не закрепощая работников, не загоняя их в <br/>
тень левачества и оздоравливая предприятия.<br/>
<br/>
     Послесловие<br/>
<br/>
     Право работника на произведенную им продукцию как на свою собственность <br/>
повторяет выработанный еще в феодальной Европе принцип: "Вассал моего <br/>
вассала - не мой вассал" (или в близком нам переложении: "Продукт моего <br/>
подчиненного - не мой продукт"), что означало "вассал" подчинен мне только в <br/>
строго определенных рамках договора, а вне его мы оба свободные люди. <br/>
Понятно, что по отношению к рабовладению этот средневековый принцип <br/>
знаменовал огромный прогресс. Печально, что нам еще нужно дорасти до него.<br/>
     Конечно, для иных предпринимателей отождествление работника с частью <br/>
производственного механизма кажется более технологичным и прогрессивным, чем <br/>
более сложный для управления принцип соподчинения свободных людей в <br/>
договорных отношениях. Но отказ от него чреват ослаблением и так слабых <br/>
гражданских отношений. Еще трагичнее превращение гражданских или трудовых <br/>
отношений между работниками и хозяевами в уголовные дела.<br/>
     Самое печальное, на мой взгляд, заключается в тенденции. Если в <br/>
дореволюционной России принцип гражданских отношений между работодателями и <br/>
работниками просто не ставился под сомнение, а про левачество никто и не <br/>
слышал, в советское время инициативная работа на себя стала преследоваться <br/>
как обман государства, а потом как уголовно наказуемая ЧПД. Теперь же ее <br/>
расценивают как тяжкое хищение. За годы "демократии" в этом вопросе мы не <br/>
только не восстановили досоветские гражданские отношения, но усугубили отказ <br/>
от них. Спор по делу камчатских капитанов в Верховном Суде РФ завершился <br/>
нашим поражением. Обвинение рыбаков в хищении оставлено в силе. Убежден, это <br/>
касается всех.<br/>
<br/>
<br/>
<table width="600"> <tr> <td>
<a href="4_6.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="5_1.html"> следующая </a>
</td></tr></table>

{% endblock content %}
