{% extends 'base.html' %}
{% block title %}Сокирко В.В. Суды и опрос по делам о взятках в связи с ЧПД{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="5_3.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="5_5.html"> следующая </a>
</td></tr></table>
<h3><a name="5_4">Суды и опрос по делам о взятках в связи с ЧПД</a></h3><br/>
<br/>
     Вторым часто встречающимся типом дел о хозяйственных взятках, являлись <br/>
обвинения в передаче "руководству наверх" части прибыли от "теневой", <br/>
запрещенной частнопредпринимательской деятельности (ЧПД).<br/>
     Так, бакинский цеховик Ш. (см. главу 3), был обвинен не только в <br/>
хищении произведенной им продукции, но и в передаче немалой части прибыли <br/>
"наверх", как взятки. В 2 общественных судах по этому делу присяжные <br/>
отказались признать его вину во взятках.<br/>
     Широко известна трагедия - расстрел в 1987 году директора Дзержинской <br/>
плодоовощной базы г. Москвы Амбарцумяна М.А., осужденного за прием от своих <br/>
подчиненных прибыли, образованной в результате повышения эффективности <br/>
работы базы, и за передачу ее части вышестоящим руководителям, что было <br/>
квалифицировано судом как получение и дача взяток. Вот как об этом говорит <br/>
приговор: "На протяжении более десяти лет в Дзержинской плодоовощной <br/>
конторе, крупнейшей в Москве, существовала система получения нетрудовых <br/>
доходов путем по лучения взяток заведующими складами-холодильниками с <br/>
директоров магазинов за отпуск им плодоовощной продукции с искусственно <br/>
заниженной кондицией, а также за отпуск продукции, пользующейся повышенным <br/>
спросом у населения, которые в свою очередь давали взятки руководящим <br/>
должностным лицам конторы. Директор Амбарцумян... действуя в интересах <br/>
заведующих складами, с которыми вступил в преступные отношения, обеспечивал <br/>
поступление плодоовощей на склады в количестве, ассортименте и сроки, <br/>
выгодные для них, оказывал содействие в реализации неходовой продукции... за <br/>
что заведующие складами давали ему взятки...<br/>
     Кроме получения взяток, Амбарцумян установил и поддерживал преступные <br/>
отношения, основанные на взяточничестве с начальником <br/>
Главмосплодоовощпрома... его заместителями, заведующим отдела торговли и <br/>
обслуживания населения МГК КПСС, которые, действуя в его интересах, <br/>
создавали благоприятные условия для выполнения плана товарооборота конторы, <br/>
осуществляли бесперебойное обеспечение конторы плодоовощной продукцией путем <br/>
сверхпланового завоза, переадресовки и первоочередной поставки... за что он <br/>
неоднократно давал взятки... Своими действиями он причинил существенный <br/>
моральный вред системе советской торговли и снабжения... Его личность <br/>
исключительно опасна для общества. Судебная коллегия считает необходимым <br/>
назначить ему наказание в виде смертной казни".<br/>
     Мы не ставили дело Мхитара Адамовича Амбарцумяна на рассмотрение <br/>
общественного суда присяжных, ибо преступность расстрела за хорошее <br/>
хозяйствование казалась нам очевидной. Зачем обсуждать дело, в котором <br/>
единогласность вердикта "Не виновен!" ясна заранее? Но сейчас я склонен <br/>
думать по-иному.<br/>
     Обвинительный приговор по делу Амбарцумяна остается непересмотренным. <br/>
Летом 1993 года (за считанные месяцы до окончательного падения советской <br/>
власти) на мою жалобу с просьбой о реабилитации член Президиума Верховного <br/>
Суда РФ отвечал так): "Квалификация действий Амбарцумяна является правильной <br/>
и ему назначено наказание с учетом того, что он длительное время занимался <br/>
взяточничеством, своими действиями способствовал совершению тяжких <br/>
преступлений, разлагал возглавляемый им коллектив, насаждал среди <br/>
подчиненных дух стяжательства круговой поруки, причинил моральный вред <br/>
системе советской торговли и снабжения".<br/>
     Мне хорошо знакомы эти слова "о моральном вреде системе", за который <br/>
надо было расстрелять Амбарцумяна. Они перенесены дословно из приговора, <br/>
который, в свою очередь, как часто бывает, списан с обвинительного <br/>
заключения, т.е. они сочинены следователем О. - тем самым, который ныне <br/>
членствует в Конституционном Суде РФ. В глубине души он, может, давно уже <br/>
раскаялся в своем былом рвении "очистить" систему советской торговли, однако <br/>
вида не подает, а слова его продолжают жить и казнить нереабилитированных <br/>
хозяйственников.<br/>
     Мое новое обращение весной 1997 года в Мосгорсуд с предложением о <br/>
прекращении уголовного дела против Амбарцумяна и его коллег в связи с <br/>
принятием нового УК РФ, по которому они как руководители государственных <br/>
предприятий (а не бюджетных учреждений) не могут считаться должностными <br/>
лицами и отвечать за должностные преступления, осталось без ответа. Так что <br/>
стало ясно: допустить реабилитацию хозяйственников на основании новых <br/>
законов в верхах не намерены.<br/>
     И объяснение тут надо искать не только в лежащем на поверхности факте, <br/>
что люди, приговаривавшие хозяйственников к смерти или к зоне, до сих пор на <br/>
высоких постах (в дополнение к упомянутому следователю припомним судью, <br/>
приговорившего знаменитого директора Елисеевского магазина Соколова к <br/>
расстрелу, который ныне секретарствует в Президиуме Верховного Суда РФ, и <br/>
больше вспоминать не будем), а в том, что андроповская идеология <br/>
нравственного ригоризма, "очищения социализма от "теневой" мрази" до сих пор <br/>
жива как среди властных структур, так и в среде рафинированной <br/>
интеллигенции. В жизни ее представителей встретишь нечасто (на наших <br/>
исследовательских судах тем более), но вот на экранах телевизоров - нередко.<br/>
     Стоит задержаться взглядом на экране ТВ, крутящем очередной советский <br/>
детектив про жадных мафиозных "теневиков" и борющихся с ними бесстрашных и <br/>
интеллигентных "чекистов", и вы ощутите на себе весь неистовый запал их <br/>
ненависти к проклятым "буржуям". А послушав очередные филиппики депутатов <br/>
против "растущей экономической преступности", попробуйте продолжить логику <br/>
рассуждений оратора, и вы увидите еще одного потенциального последователя <br/>
Пол Пота. Последний ведь тоже вначале не зверем был, а учеником <br/>
рафинированной французской элиты, способным педагогом и борцом за <br/>
нравственность, а кончил убийством миллионов камбоджийцев, трети своего <br/>
народа. Конечно, Пол Потов мало, но много тех, кто готов их слушать, и <br/>
потому спор с ними еще очень далек от завершения везде, даже в "коллегиях <br/>
присяжных".<br/>
     Дело директора райбыткомбината М.<br/>
     (ОСП 30.03.1990 г.)<br/>
<br/>
     Отставной подполковник из замполитов М. после выхода на пенсию стал <br/>
директором РБК (райбыткомбината) под Одессой, но через очень короткое время <br/>
попал под вал андроповских репрессий против хозяйственников и был арестован. <br/>
После нескольких ночных допросов с избиениями стал подписывать все, что <br/>
угодно было следователю, и за такое "послушание" был приговорен за взятки и <br/>
прочий букет статей к "минимальному" наказанию в 8 лет лишения свободы. <br/>
Попав под знаменитую амнистию 1987 года, он освободился через 4 года и стал <br/>
искать через нас "правду" и реабилитацию. Помочь М. мы так и не смогли.<br/>
     Обсуждение дела М. было плохо записано, поэтому я ограничусь выдержками <br/>
из интересного выступления обвинителя к.ю.н. Сокольского О.Э.: "К сожалению, <br/>
по многочисленным эпизодам, изложенным в приговоре, трудно составить картину <br/>
происходившего. Вообще любое следствие обычно выявляет лишь фрагменты общей <br/>
картины... Так, один юрист на Съезде народных депутататов высказал довольно <br/>
глубокую мысль: "Закон дискретен, а действительность непрерывна". Дело не <br/>
только в том, что следователь не может всего исследовать, а в том, что он <br/>
ориентирован прежде всего на предмет доказывания. Такова уж его функция: ему <br/>
не нужна вся реальность, а нужна только та реальность, которая подпадает под <br/>
статью УК - потому и возникает такая пестрая, лоскутная картина, но если по <br/>
этим "лоскутам" попытаться воссоздать истинное целое, то мы увидим, что весь <br/>
этот РБК был обычной "лавочкой", работавшей в своем тесном кругу, где каждый <br/>
получал, конечно, в карман, в основном за счет реализации неучтенки. Так, в <br/>
Белоруссии задержали водителя, который реализовывал неучтенные изделия - <br/>
значит, кто-то их производил и его послал. Или вот М. получил 400 или 600 <br/>
рублей от Ц., который тоже получал "слева" - на комбинатские нужды...<br/>
     В общем, была такая система. И понятно, что если какие-то мастера, <br/>
подчиненные получают большие "левые" деньги, выполняют "левые" заказы, то и <br/>
начальник, который их обеспечивает и защищает, смешно было бы, если бы он не <br/>
получал. Наверняка он был с ними в сговоре... Существуют неписаные нормы, <br/>
сколько надо "отстегивать" директору, но сложность заключается еще и в том, <br/>
что судебная практика требует доказательств взятки за конкретное действие. <br/>
По этому поводу идут споры, можно ли считать взятками дачу денег за общее <br/>
благоприятствование своим подчиненным. И в некоторых случаях суды такие <br/>
эпизоды не признавали. Следователи боятся, чтобы дело не забраковали и не <br/>
отправили на доследование, потому и начинаются несуразности: фотограф якобы <br/>
дал взятку за получение во время зарплаты. Конечно, это нелепость, у него <br/>
вся зарплата к выдаче как раз и составляла эти 50 руб. Он, наверное, и <br/>
вправду отдал эти полсотни, но просто как причитающуюся директору долю его <br/>
дохода. В этом и состоит реальность. Как же ее описать, обозначить?<br/>
     По существующему закону (как бы критично мы к нему ни относились, но он <br/>
существует) упомянутые действия подпадают под понятие преступной <br/>
частнопредпринимательской деятельности. Директор М., конечно же, был <br/>
соучастником ЧПД, получая свою долю ее доходов. Квалифицировать эти деньги <br/>
как взятки нельзя. Поэтому я как обвинитель отказываюсь от обвинения по всем <br/>
эпизодам, по которым происходил дележ доходов. Ему эти эпизоды можно вменить <br/>
только как соучастие в ЧПД своих подчиненных".<br/>
     После анализа менее значимых пунктов обвинитель подвел итог: "Итак, <br/>
суммирую: считаю М. виновным в принятии взятки за выдачу сыну сотрудницы <br/>
справки о работе в РБК для поступления в вуз, в приписках зарплаты РБК и в <br/>
соучастии в ЧПД своих сотрудников".<br/>
     Вердикт 13 присяжных: М. не виновен в предъявленных обвинениях, но по <br/>
эпизоду выдачи справки он виновен в должностном подлоге.<br/>
     - 1 присяжный согласился со всеми доводами обвинителя,<br/>
     - 7 присяжных признали М. виновным в подделке документа в вуз для сына <br/>
сотрудницы (квалифицировав его как должностной подлог взамен взятки), не <br/>
согласившись со всеми остальными обвинениями,<br/>
     - 5 присяжных полностью оправдали М., сочтя эпизод с выдачей документа <br/>
в вуз недоказанным.<br/>
     Следовательно, все участники этого общественного суда вместе с <br/>
обвинителем не признали официальное обвинение М. во взятках, поскольку такие <br/>
действия директора РБК были только формой его участия в доходах ЧПД <br/>
подчиненных, и только 1 присяжный согласился считать ЧПД и приписки зарплаты <br/>
преступлениями.<br/>
     Дело директора московского кафе Ш.<br/>
     (ОСП 14.02.1992 г.)<br/>
<br/>
     Обвинитель Шпигель сообщил, что Ш., работая в 1980-85 годах директором <br/>
кафе "Охотник", неоднократно получала от своих сотрудников взятки деньгами, <br/>
продуктами, спиртным, вещами за то, что в их интересах не предпринимала <br/>
должных мер по пресечению нарушений правил торговли, за покровительство и <br/>
поддержку в работе, за устройство на места, выгодные для извлечения <br/>
нетрудовых доходов. В свою очередь Ш. передавала взятки директору треста <br/>
кафе и столовых Ч. Эти факты доказываются ее собственными показаниями на <br/>
следствии и показаниями сотрудников, их заявлениями в органы. Все <br/>
последующие слова Ш. о давлении на нее со стороны следствия не правдивы.<br/>
     Защитник Владышевский рассказал историю возникновения дела. В 1985 г. <br/>
за взятки был арестован директор треста Ч., начали раскрывать "широкую сеть <br/>
злоупотреблений". Но большинство дел разваливалось из-за отказа людей быть <br/>
свидетелями. Тогда арестовали Ш., к тому времени уже пенсионерку, и <br/>
принудили к самооговору. Так же принуждали к оговору всех ее сотрудников, <br/>
поставленных перед выбором: сесть самому или оговорить Ш. Играло значение <br/>
еще и то обстоятельство, что в бытность директором Ш. жестко наводила <br/>
порядок и потому многих восстановила против себя, что вызвало анонимки, а <br/>
затем проверки, которые однако не выявляли грубых нарушений.<br/>
     Следствие насчитало Ш. взяток на 30 тыс. руб., даже не смутившись тем, <br/>
что свидетели показывали о передаче сумм в 7 раз меньших. Не выяснено, куда <br/>
могли пойти эти деньги, ибо у Ш. ничего ценного не обнаружено. Даже если не <br/>
оспаривать факты передачи Ш. денег от подчиненных, квалифицировать их надо <br/>
не как взятки, а как систему поборов, или даже сборов на общие нужды. Нельзя <br/>
осуждать человека за вынужденное участие в этой системе, не выяснив его роли <br/>
в ней. Ш. же была осуждена на 8 лет лишения свободы именно из-за того, что <br/>
вышла из "системы", став пенсионеркой. Даже ее начальник Ч. был практически <br/>
освобожден (на кассации его подвели под амнистию).<br/>
     Вердикт 15 присяжных: Ш. не виновна принят единогласно.<br/>
     В позициях присяжных имеются различия.<br/>
     Большинство (10 присяжных) возмущалось поведением следствия, "заказным <br/>
характером" дела, что и определило их вывод о невиновности Ш. Я привожу <br/>
суждения оставшихся пятерых, согласивших с фактической стороной обвинения, <br/>
но не с его квалификацией как преступления.<br/>
     2 присяжных говорили о неизбежности поборов в системе: <br/>
     -  Я знаю систему общепита. Чтобы наладить работу кафе, Ш. должна была <br/>
давать взятки: за поставку продуктов, ремонт и все остальное. Возможно, и <br/>
она что-то имела. Иного выхода у нее не было, тем более перед пенсией. Не <br/>
виновна.<br/>
     -  Это было распределение дополнительной прибыли, которая добывалась в <br/>
самой уродливой форме вопреки социалистическим принципам. Виновата система.<br/>
     3 присяжных же эту позицию довели до обвинений всех работников <br/>
общепита, по сравнению с которыми Ш. почти не виновна.<br/>
     -  При нашей системе быть совершенно честным нельзя. Ш. должна была <br/>
нести деньги тому же Ч., она сама была объектом вымогательства. Но в этой <br/>
системе она виновата меньше других, а пострадала сильнее всех. Ведь тогда <br/>
надо было сажать всех. То, что Ч. не пошел в колонию, а она там оказалась, - <br/>
профанация правосудия.<br/>
     - Логика обвинения абсолютно несправедлива. Взяткодатели обвешивают, <br/>
разбавляют, но привлекают к уголовной ответственности не их, а Ш...<br/>
     - Дело заказное. Мы знаем, что все они жулики. Но почему она одна <br/>
должна отвечать за всех? Ш. не виновна.<br/>
     Процитированные суждения содержат ответы на основной вопрос: являются <br/>
ли деньги, которые принимала от подчиненных Ш. (если она принимала их) <br/>
взяткой или лишь частью общей "теневой" прибыли. Все пятеро единогласно <br/>
посчитали, что, конечно, это есть вид дележки "теневой" прибыли, аналогичной <br/>
доходу от ЧПД. При этом трое говорили, что такой "теневой" доход работников <br/>
кафе может появиться только в результате жульничества и обмана, а двое <br/>
упирали на необходимость для работы иметь директору дополнительные оборотные <br/>
средства. Первые отнеслись к нему как к уголовному преступлению, вторые - <br/>
скорее со знаком "плюс". Из этого обстоятельства нетрудно сделать вывод, что <br/>
большая часть присяжных, признавших фактуру, все же настроены больше на <br/>
осуждение левых доходов работников и в условиях лучшего следствия способны <br/>
были бы не оправдать, а обвинить Ш., но не за взятку, а за причинение ущерба <br/>
посетителям кафе (обман и т.п.).<br/>
     Справка. Ш. была освобождена по УДО в том же году.<br/>
     Дело Б. о "взятках с пива"<br/>
     (ОСП 22.10.1993 г.)<br/>
<br/>
     Обвинитель Владышевский: Ставропольский предприниматель Б. в 1992г. был <br/>
осужден на 5 лет лишения свободы за неоднократное вымогательство (угрозой <br/>
увольнения) взяток с подчиненных ему продавцов пива в зависимости от объема <br/>
реализации сверх выручки.<br/>
     Защитник Сокирко: В 1992 г. кооператив, возглавляемый Б., получил от <br/>
города в аренду сеть пивных ларьков. С самого начала Б. попытался установить <br/>
жесткий контроль над продавцами, что, конечно, последних не устраивало. <br/>
Конфликтная ситуация разрешилась устройством провокации против Б. Ларьки <br/>
требовали ремонта. Продавец К. передал Б. деньги на ремонт своего ларька по <br/>
250 руб. с каждой проданной емкости пива, но по совету "покровителей из <br/>
органов" сделал это под их контролем, заявив, что Б. вымогает взятку. Б. был <br/>
арестован, но вины своей не признал.<br/>
     Даже если не оспаривать фактическую сторону обвинения, невозможно <br/>
признать в них взятку хотя бы потому, что Б. является не государственным <br/>
должностным лицом, а частным предпринимателем, владельцем семейной фирмы, <br/>
где ему и членам его семьи принадлежали 90% уставного капитала.<br/>
     Нелепой выглядит формулировка обвинения, что Б. требовал взятки от <br/>
подчиненных сверх полученной ими выручки. Ведь если следовать строго термину <br/>
"выручка", то под ней понимается вся сумма денег, полученная за <br/>
реализованное пиво. Если бы Б. получал всю выручку, то не ему, а он из нее <br/>
должен был бы платить продавцам зарплату, за поставку пива, налоги, <br/>
оставлять средства на развитие и т.д. и т.п. Очевидно, что суд со слов <br/>
продавцов под словом "выручка" понимал ту небольшую сумму средств, которую <br/>
они раньше платили городу как их владельцу, беря все остальные платы на себя <br/>
самих.<br/>
     Конечно, в получении фирмой Б. от города в аренду сети пивных ларьков <br/>
против воли их реальных владельцев (продавцов) был заложен солидный элемент <br/>
государственного произвола, но и в том способе, которым продавцы <br/>
восстановили свои традиционные права и независимость через обращение в <br/>
органы за расправой и в той бездумности, с которой эти органы произвели эту <br/>
расправу, нетрудно увидеть проявление все того же произвола.<br/>
     Вердикт присяжных: Все 12 признали Б. невиновным, согласившись с <br/>
доводами защиты и не увидев в этом деле взятки.<br/>
     Но обнаружились разные точки зрения на вину Б. в нравственном смысле.<br/>
     2 из присяжных увидели в нем почти героя, а именно: <br/>
     Честного человека, способного помешать продавцам пивных ларьков, тесно <br/>
связанных с органами внутренних дел, за что его и сожрали самым подлым <br/>
образом.<br/>
     4 присяжных склонились к таким упрекам в адрес Б.: <br/>
     Как-то надо было договариваться с продавцами. Ничего не нужно было <br/>
менять. Если не знал специфики, зачем влез в это дело? Юридически он не <br/>
виновен, но по человечески виноват... Если деньги берешь на производственные <br/>
цели, надо это как-то фиксировать в документах. Жаль, что он не сумел сразу <br/>
оценить, чем кончится для него обладание таким партийным подарком, как сеть <br/>
пивных ларьков, продавцы которых фактически сами были предпринимателями.<br/>
     Наблюдается такой же эффект, что и в предыдущих процессах над М. и Ш. <br/>
При единогласном отторжении официального обвинения Б. во взятках, присяжные <br/>
разделились по оценке пивного (теневого во многом) бизнеса, причем в данном <br/>
случае преобладало терпимое, даже положительное к нему отношение. Наверное, <br/>
потому, что среди присяжных не оказалось потерпевших от пены и недолива. Но <br/>
и те и другие присяжные вымогательства взятки в действиях Б. не усмотрели.<br/>
     Справка. В 1994 году по жалобе Общества Президиум Верховного Суда РФ не <br/>
согласился с доводами Ставропольского облсуда, реабилитировал Б., поскольку <br/>
он не является должностным лицом и освободил его из заключения. Можно было <br/>
бы поздравить не только Б., но и Президиум Верховного Суда РФ, мнение <br/>
которого на этот раз совпало с вердиктом участников суда присяжных.<br/>
<br/>
     Социологический опрос по делу К. - коммерческого директора завода<br/>
<br/>
     Как уже говорилось, 3-4 апреля 1993 г. фонд "Общественное мнение" <br/>
провел опрос 996 человек в 15 городах России по выборке, репрезентирующей <br/>
взрослое городское население страны - по трем делам осужденных <br/>
хозяйственников, в том числе по делу К. со следующей фабулой:<br/>
     Коммерческий директор государственного завода на основании официального <br/>
разрешения продал арендному предприятию 20 т. меди. Сверх записанной в <br/>
договоре цены получил от покупателей 4 тыс. руб. наличными. Деньги были <br/>
помещены в заводской сейф и предназначались для нужд завода. Осужден на 5 <br/>
лет лагерей усиленного режима за получение взятки, отбыл половину срока.<br/>
     Задачей присяжных (респондентов) было выбрать один из 5 предложенных <br/>
вариантов. Вот в каких процентных отношениях распределились эти "вердикты": <br/>
     1. Он виновен, осужден правильно, должен полностью <br/>
     отбыть срок 7%.<br/>
     2. Он виновен, осужден правильно, но наказан слишком жестоко, сегодня <br/>
должен быть освобожден 19%.<br/>
     3. Он виновен, но не в том, за что был осужден, его нельзя было лишать <br/>
свободы 29%.<br/>
     4. Он не виновен, осужден неправильно, должен быть освобожден и <br/>
реабилитирован 32%.<br/>
     5. Затрудняюсь ответить 13%.<br/>
     Подавляющее большинство граждан (61%) считают хозяйственников, как К., <br/>
не виновными во взятках и не заслуживающими лишения свободы.<br/>
     Только четверть (26%) наших граждан согласились называть такие действия <br/>
хозяйственников преступными взятками и лишь незначительная доля (7%) <br/>
солидаризировалась с судебными решениями о лишении их свободы. Мы убеждаемся <br/>
в несовместимости решений нынешних российских судов с мнениями и оценками <br/>
народа.<br/>
     Справка. Отбыв в заключении более двух лет, К. был помилован и скоро <br/>
вернулся домой.<br/>
<br/>
<br/>
<table width="600"> <tr> <td>
<a href="5_3.html"> предыдущая </a>
</td><td><a href="../prisyaghnye.html">оглавление</a></td><td>
<a href="5_5.html"> следующая </a>
</td></tr></table>

{% endblock content %}
