{% extends 'base.html' %}
{% block title %}Сокирко В.В. Глава 6. Взятки-подарки (основной наказ присяжных: "Не сажайте зря!"){% endblock %}
{% block content %}




<h2><a name="6-1">Глава 6. Взятки-подарки (основной наказ присяжных: "Не сажайте зря!")</a></h2><br/>
<br/>
     Конечно, и при социализме за получение взяток сажали не только <br/>
хозяйственников, но и чиновников. Мы получали жалобы и от таких осужденных. <br/>
Когда наказание им было чрезмерно жестоким, или должностное положение <br/>
сомнительным, или весомы иные мотивы, такие люди тоже становились нашими <br/>
подзащитными, а их уголовные дела иной раз рассматривались нашими <br/>
общественными судами присяжных.<br/>
     Ниже мы приведем несколько таких ОСП - ИСП, участники которых спорят, <br/>
определяя грань между допустимым (по совести) бизнесом госслужащих, <br/>
допустимыми "благодарностями" и недопустимой "торговлей властью".<br/>
     Формально говоря, взятки чиновников и есть коррупция госаппарата, ее <br/>
основное юридическое звено. Но коррупция никогда не входила в сферу нашей <br/>
правозащиты. Мало того, изначально я был настроен на отторжение этой темы, <br/>
поскольку спорил с главным тезисом "андроповцев" о том, что "цеховики" и <br/>
прочий "теневой" бизнес есть лишь порождение и причина коррупции социализма, <br/>
и утверждал, что нашей защите подлежат только хозяйственники, несправедливо <br/>
осужденные за участие во взятках. Однако жизнь брала свое, и в последние <br/>
годы я вынужден был признавать, что в сферу нашей правозащитной <br/>
специализации входят обвинения не только в экономических, но и в должностных <br/>
преступлениях. Правда, в последнем случае мы, как правило, спорим не с <br/>
квалификацией содеянного, а с неразмерно суровым наказанием. Так что в <br/>
главном я с андроповскими "блюстителями чистоты" разошелся еще дальше.<br/>
<br/>
<br/>


{% endblock content %}
