{% extends 'base.html' %}
{% block title %}Сокирко В.В. Суды по делам о взятках лиц со спорным должностным положением{% endblock %}
{% block content %}




<h3><a name="6_2">Суды по делам о взятках лиц со спорным должностным положением</a></h3><br/>
<br/>
     Дело управдома Л. <br/>
     (ОСП 9.10.1992 г. )<br/>
<br/>
     Обвинитель, юрист Лебедев Л. И.: Работая управдомом (начальником <br/>
жилищно-эксплуатационного участка), Л. неоднократно вымогала взятки с <br/>
граждан за прием на работу, за предоставление комнат в общежитии, прописку в <br/>
них, за содействие в постановке на очередь получения кооперативных квартир и <br/>
т. д. Приговорена к 11 годам лишения свободы с конфискацией имущества.<br/>
     Ответы на вопросы:<br/>
     - Нет, она не имела права принимать на работу, но визировала заявления <br/>
о приеме.<br/>
     - Нет, в общежитие она устраивала только тех, кто реально работал.<br/>
     - Ее семейное положение: престарелые родители, несовершеннолетняя дочь, <br/>
сын служит в армии. Наложенные на нее иски погасила.<br/>
     Защитник Сокирко: Л. несправедливо признана должностным лицом, <br/>
обладающим властными полномочиями. Вопросы прописки, предоставления жилья и <br/>
тем более кооперативных квартир не могли решаться без руководителей милиции, <br/>
райсовета и прочего начальства, в ряду которых Л. могла играть только <br/>
начальную роль сборщика "податей". Следствие и суд не захотели изучать всю <br/>
цепь зависимостей, выхватили ее, управдома, как нижнего члена иерархии, на <br/>
которого и свалили всю вину за коренные пороки нашей лишь официально <br/>
бесплатной, а на деле безнравственно блатной системы распределения, осудив <br/>
"на полную катушку".<br/>
     Кроме того, неправильно осуждать Л. за вымогательство, поскольку в деле <br/>
полно эпизодов, когда Л. возвращала взятые средства в связи с отказом людей <br/>
от работы или общежития. Фактически это подтверждает существование системы <br/>
негласных договорных отношений между ищущими жилье гражданами и управдомом, <br/>
как "теневым" посредником в получении этого жилья не через непроходимую <br/>
систему "блата", а посредством денег, которые играли в этом случае роль <br/>
"частичной цены" приобретаемой жилплощади. Сделка могла состояться, а могла <br/>
быть и расторгнутой. Так при "реальном социализме" нелегально реализовывался <br/>
рынок недвижимости, который, по моему мнению, является одним из <br/>
необходимейших условий осуществления права человека на нужное ему жилье. <br/>
Поэтому считаю:<br/>
     Л. была не должностным государственным лицом, а лишь участником рынка <br/>
недвижимости, преступно запрещенного в нашей стране.<br/>
     Наконец, нельзя не отметить чрезмерную суровость избранного судом <br/>
наказания - тяжелее максимальной кары за намеренное убийство.<br/>
<br/>
     Суждения присяжных за вердикт: Виновна<br/>
<br/>
     - Она виновна, но не во взятках, а в поборах. Наказана чрезмерно.<br/>
     - Виновна во взятках. Она занимала положение, имела определенную <br/>
власть, визировала заявления. Конечно, она имела соучастников, но никого не <br/>
назвала. Наносила большой вред обществу, и сейчас такие действия считаются <br/>
большим злом. Но наказана чрезмерно.<br/>
     - Она брала взятки с людей, у которых нет прописки и работы, а такое <br/>
возникало из-за существования обязательной прописки, что и было основным <br/>
источником развращения людей. По совести - виновна, но заслуживает <br/>
снисхождения.<br/>
     - Мы сегодня платим за квартиру и прописку не должностному лицу, а <br/>
государству, а это большая разница, куда поступают деньги. Аморально брать <br/>
деньги с людей за то, что ты обязана делать и так. Виновна, но наказание ей <br/>
как женщине и матери надо смягчить.<br/>
     - При любой системе есть честные и нечестные люди. Виновна, но <br/>
заслуживает снисхождения.<br/>
     (Последнее мнение поддержали еще двое присяжных).<br/>
<br/>
     За вердикт: Не виновна<br/>
<br/>
     - Приходится проводить линию между совестью и существующим уголовным <br/>
кодексом. Поступки Л. аморальны, но это было выгодно бюрократической <br/>
верхушке. Виновата не она, а система, которая ее сломала, и судить надо не <br/>
ее, а систему. Кодекс надо менять в корне. Она невиновна, как жертва <br/>
системы.<br/>
     - Конечно, она являлась должностным лицом, брала взятки за устройство <br/>
на работу и за жилье. Но она предвосхитила сегодняшние отношения получения <br/>
квартир за деньги, поэтому сегодня считать ее преступницей нельзя.<br/>
     - Полностью поддерживаю защиту. Не виновна.<br/>
     Вердикт: Виновна, но заслуживает снисхождения принят 7 голосами против <br/>
3.<br/>
     Можно считать, что подавляющее большинство участников обсуждения <br/>
категорически не приняло основную линию защиты, не пожелало приравнять <br/>
поборы за жилплощадь при социализме к оплате услуг современных квартирных <br/>
посредников ("риэлторов"). Жилплощадь и тем более работу, по их мнению, люди <br/>
должны получать не за деньги, а бесплатно, как исконное право человека. При <br/>
таких представлениях Л. является очевидным должностным лицом и, безусловно, <br/>
виновной. Снисхождение ей оказывалось только как матери.<br/>
     Справка. Л. была освобождена по отбытии половины срока помилованием, <br/>
затем последовало судебное решение о снижении срока наказания.<br/>
     Дело служащей горисполкома М.<br/>
     (ОСП 20.11.1992 г.)<br/>
<br/>
     Обвинитель Сокирко: Работая начальником сметно-договорного отдела <br/>
управления капитального строительства (УКС) горисполкома и пользуясь <br/>
доверием как высококвалифицированный специалист, М. получала взятки от <br/>
председателей ЖСК (жилищно-строительных кооперативов) следующим образом.<br/>
     По договорам УКС обеспечивал строительство домов ЖСК проектно-сметной <br/>
документацией, заключал договора с подрядчиками, осуществлял надзор за <br/>
строительством и вводом домов в эксплуатацию. Но поскольку в силу разных <br/>
причин подрядчики в ходе строительства заменяли ряд материалов на более <br/>
дешевые, не выполняли часть предусмотренных проектом работ и т. п., <br/>
стоимость возведенных домов часто оказывалась значительно меньше проектной, <br/>
и потому ЖСК начинали требовать возвращения им неиспользованных в <br/>
строительстве сумм. Делать это они могли только опираясь на документы о <br/>
фактической стоимости строительства, которыми располагал только УКС, а <br/>
конкретно начальник отдела М. Именно за получение таких документов <br/>
председатели ЖСК и передали ей 8 взяток на сумму 48 тыс. руб. В 1990 г. суд <br/>
приговорил ее к 6 годам лишения свободы. Вина ее несомненна.<br/>
     3ащитник Лебедев Л. И.: Сама М. отрицала свою вину, утверждала, что не <br/>
является должностным лицом и что делала перерасчеты смет в нерабочее время <br/>
по просьбам председателей ЖСК, но не получала за это деньги.<br/>
     Но даже если не принимать во внимание эти утверждения, потому что <br/>
кажутся очевидным и ее должностное положение, и факты получения денег от <br/>
ЖСК, все равно ее действия нельзя считать преступлением. Ведь нет <br/>
доказательств того, что эти перерасчеты смет М. обязана была делать по долгу <br/>
службы, и того, что она это не делала в свое нерабочее время. Известно <br/>
также, что сами председатели ЖСК считали эти деньги не взятками, а платой М. <br/>
за ее расчетную работу и даже предлагали ей заключать на это договора (но <br/>
она отказывалась). Никакого вымогательства денег в суде не было доказано. А <br/>
раз так, то мы должны принять, что председатели ЖСК передавали М. эти суммы <br/>
как плату за ее дополнительную работу и, следовательно, признать ее <br/>
невиновной в получении взяток.<br/>
<br/>
     Суждения присяжных за вердикт: Виновна<br/>
<br/>
     - Виновна, была в курсе всех строительных махинаций.<br/>
     - За взятки надо строго судить. Люди на квартиру всю жизнь копили. <br/>
Виновна.<br/>
     - Не согласна, что М. делала благое дело. Раз она могла это делать для <br/>
кооперативов, то почему не делала для всех, т. е. бесплатно. Но наказывать <br/>
ее надо было только снятием с должности.<br/>
<br/>
     За вердикт: Не виновна<br/>
<br/>
     - Всем известно, что творится в наших исполкомах и следственных <br/>
органах. Если исходить из самого худшего, М. все знала и брала деньги не за <br/>
работу, а за прохождение подписи. Но не делай она этого, для ЖСК было бы еще <br/>
хуже. Исходя из того, что она делала для себя и что для ЖСК, перевешивает <br/>
добро от ее действий, потому считаю ее невиновной.<br/>
     - Думаю, что виновна не она, а председатели ЖСК, которые подписывали <br/>
акты приемки дома заниженной стоимости, что потом приходилось переделывать с <br/>
кровью. М. же выполняла только технические расчеты в пользу ЖСК.<br/>
     - Кому причинен ущерб от ее действий? Ведь в итоге - одна польза. <br/>
Преступные действия приемной комиссии, завысившей реальную работу, <br/>
исправляются якобы преступными действиями М., которая помогает ЖСК вернуть <br/>
свои деньги, несмотря на то, что она работник исполкома. Не виновна.<br/>
     - Не виновна, потому что нет убедительных доказательств.<br/>
     - Она жертва системы. Не виновна.<br/>
     - Не виновна, потому что она получила деньги за дополнительную работу.<br/>
     (Еще одна присяжная присоединилась к последнему мнению).<br/>
     Вердикт: Не виновна - принят 7 голосами против 3, причем только 2 <br/>
высказались за лишение свободы.<br/>
     По сравнению с предыдущим общественным судом по делу Л. здесь <br/>
неожиданно получен оправдательный вердикт, хотя должностное положение М. <br/>
кажется более очевидным. Основанием для оправдания М. у 3 присяжных послужил <br/>
факт производимых ею дополнительных расчетов как вида работы, за которые <br/>
полагалась оплата, еще для 2 - отсутствие ущерба, вернее, наличие пользы для <br/>
ЖСК, которые получали через ее содействие возможность вернуть свои деньги.<br/>
     Их же оппоненты среди присяжных посчитали, что М. должна была помогать <br/>
возвращению денег всем ЖСК, а она это делала лишь для избранных, вернее, <br/>
тех, кто ей платил, значит и вина ее несомненна.<br/>
     Было высказано и мнение, что источник бед не М., а система монопольного <br/>
строительства, когда у клиентов почти нет рычагов воздействия на <br/>
недобросовестных подрядчиков, и потому приходится рассчитывать лишь на <br/>
заинтересованное содействие госслужащих.<br/>
     Понятно, что трое присяжных, принявшие линию защиты получения М. денег <br/>
за дополнительную работу, фактически отвергли ее должностное положение при <br/>
исполнении этих действий. Остальные же четверо присяжных оправдали ее уже <br/>
как чиновника ссылкой на пользу ее действий и на общую порочность <br/>
существующей государственной системы.<br/>
     И вот в позиции этих присяжных, оправдывающих получение взяток <br/>
чиновниками, заключалась основная новость и трудность для нас как <br/>
правозащитников. То ли люди отказываются считать взяточничество чиновников <br/>
преступлением (потому что оно, мол, приносит пользу взяткодателям), то ли <br/>
просто жалеют, считая наказание лишением свободы несоразмерно жестоким для <br/>
таких, как М.<br/>
     Справка. Приговор М. не был изменен, но она освободилась раньше срока <br/>
благодаря помилованию Президента Украины и УДО.<br/>
<br/>
     Дело врача М.<br/>
     (ОСП 20.05.1992 г.)<br/>
<br/>
     Обвинитель Владышевский: Работая участковым врачом-терапевтом одной <br/>
ленинградской поликлиники, М. за взятки выдавал фиктивные листы <br/>
нетрудоспособности здоровым людям, которые нуждались в освобождении от <br/>
работы по каким-либо причинам, при этом совершал должностные подлоги и <br/>
пособничал хищению взяткодателями государственных и общественных денежных <br/>
средств (получение ими незаслуженной оплаты больничных листов). Взятки <br/>
выдавались в виде подношений спиртными напитками, фруктами и т. п.<br/>
     М. составил 40 подложных больничных листов для 16 человек. В связи с <br/>
тем, что он уже однажды был осужден за подобные деяния, Ленгорсуд приговорил <br/>
его к 8 годам лишения свободы.<br/>
     Защитник Сокирко: Я не отрицаю, что врач М., когда выписывал больничные <br/>
листы, являлся должностным лицом. Не буду я сейчас приводить доказательства <br/>
М., что вменяемых ему эпизодов не было. Даже если считать эти факты <br/>
установленными, я думаю, что осуждение М. нельзя считать справедливым и <br/>
законным. Ведь столь суровое наказание вынесено не важному коррупционеру, а <br/>
обыкновенному участковому врачу, который шел навстречу просьбам людей об <br/>
освобождении от работы, наверняка даже полагая в душе, что отдохнуть <br/>
человеку или справиться спокойно с какой-то жизненной задачей будет полезно <br/>
для его здоровья. Я не спорю, что допущенное М. нарушение инструкции и <br/>
самоуправство не могут быть терпимы в государственном здравоохранении, но <br/>
ведь наказывать можно и проще - простым отрешением от должности, которая <br/>
связана с выдачей больничных листов, в административном порядке и, конечно, <br/>
без лишения свободы.<br/>
     Закон считает взятки страшными преступлениями, от которых гибнут <br/>
страны, но водку и фрукты для врача нельзя считать такими взятками, <br/>
коррупцией, и потому содеянное М. никак нельзя признать уголовным <br/>
преступлением.<br/>
<br/>
     Суждения 7 присяжных<br/>
<br/>
     - Нельзя было наказывать М. тюрьмой, надо только лишить его права быть <br/>
врачом. Тут надо вести речь об огрехах воспитания, а не о взятках.<br/>
     - Я считаю М. виновным в должностном подлоге, но не во взятках.<br/>
     - Думаю, что обвинение фальсифицировано следствием, вряд ли у М. выдача <br/>
таких бюллетеней была практикой, а не исключением. Не виновен.<br/>
     - На фоне ужасных взяток на высоком уровне это не взятки. Тут нет <br/>
уголовно наказуемых действий, и М. не должен сидеть.<br/>
     (Еще трое присяжных отрицали доказанность обвинений).<br/>
     Вердикт: Не виновен - принят 6 голосами против 1, посчитавшего М. <br/>
виновным не во взятке, а в должностном подлоге и без лишения свободы.<br/>
     Можно сказать, что оправдательный вердикт присяжных по этому делу был <br/>
практически единодушным. Участников обсуждения поразила тяжесть <br/>
определенного судом наказания за рядовые в целом прегрешения. Их удивление <br/>
было бы сродни тому, как если бы рядового инспектора ГАИ посадили на много <br/>
лет за обычные поборы с водителей на дорогах. Отсюда настойчивый мотив о <br/>
вероятности фальсифицированного следствия, в смысле заданности расправы над <br/>
этим человеком. Мне кажется, что догадки присяжных по этому делу весьма <br/>
правдоподобны, потому что характер у М. даже в зоне был действительно весьма <br/>
ершист.<br/>
     Справка. Дело М. в нашем Обществе проходило по второму списку <br/>
осужденных, т. е. не хозяйственников, но наказанных несправедливо жестоко. <br/>
Жалобы наши постоянно отклонялись ввиду юридической правомочности приговора <br/>
с точки зрения судей. Последний раз письменно мне отвечал зам. председателя <br/>
Верховного Суда РФ Меркушов А.Е. примерно так: "Ваши утверждения, что М. <br/>
получал подарки за способствование выздоровлению граждан, опровергаются <br/>
материалами дела. Оснований к опротестованию судебных решений не имеется".<br/>
     Думаю, что мне повезло на личном приеме по поводу этого последнего <br/>
отказа, потому что принял меня сам Председатель Верховного Суда РФ Лебедев <br/>
В. М. Рассказ о враче, который чересчур тесно дружил со своими пациентами и, <br/>
конечно, виноват (но ведь не на 8 лет), его, видимо, по-человечески тронул. <br/>
Подытоживая сказанное, он неожиданно показал на кадык, спросив с усмешкой: <br/>
"Закладывал врач, да?", и пообещал еще раз посмотреть дело. Потом мы <br/>
получили известие из Президиума Верховного Суда РФ о том, что врачу М. <br/>
применили ст. 43 УК о назначении наказания ниже низшего предела, снизив его <br/>
с 8 до 6 лет лишения свободы. Довольно скоро М. вернулся домой, а мы могли <br/>
сделать вывод: в данном случае Верховный Суд РФ в лице его Председателя и <br/>
Президиума согласились с мнениями наших присяжных по делу "о взятках" <br/>
участкового врача. К сожалению, так бывает не всегда.<br/>
<br/>
     Дело лесничего И.<br/>
     (ОСП 20.05.1992 г.)<br/>
<br/>
     Обвинитель Владышевский: Работая лесничим Волховского лесхоза, И. <br/>
потребовал от гражданина К., обратившегося к нему за выделением участка леса <br/>
под вырубку и заранее оплатившего в банке стоимость этого леса, <br/>
дополнительную плату якобы за то, чтобы вырубка шла не на болоте и недалеко <br/>
от дороги. Считая эти требования незаконными, К. обратился за помощью в <br/>
милицию. При передаче взятки заранее помеченными купюрами (500 тыс. руб.) <br/>
лесничий И. был задержан с поличным. Впоследствии И. объяснял получение этих <br/>
денег необходимостью изыскания средств на нужды лесничества (новые машины, <br/>
спецодежда и др.). Суд не посчитался с этими доводами, но учитывая семейное <br/>
положение И. (двое несовершеннолетних детей), дал лишь 3 года лишения <br/>
свободы.<br/>
     Защитник Сокирко: И. как лесничий считается должностным лицом. Но в <br/>
данном эпизоде он не распоряжался властью над лесом, а выступал как менеджер <br/>
государственного предприятия (лесничества), торгуясь с гражданином К. за <br/>
близость выделяемого лесного участка к дороге на пользу К. и лесничеству. <br/>
Ведь в принципе цены лесных участков должны быть разными, из которых К. <br/>
оплатил лишь самую меньшую (замыкающую) цену наименее удобного участка. К <br/>
сожалению, следователи, судьи и, возможно, даже деятели Минлесхоза, <br/>
устанавливающие эти цены, не знакомились с азами экономики даже в упрощенном <br/>
марксистском варианте, а иначе знали бы, что цена земли, в том числе под <br/>
лесом, включает в себя и дифференциальную ренту второго рода, зависимую от <br/>
близости этой земли к транспортным путям и рынкам сбыта, и что извлечение <br/>
этой ренты для пользы лесничества является первейшей обязанностью его <br/>
управителя и не должна доставаться только потребителям леса по случаю или <br/>
даже по блату.<br/>
     Если сегодня плата вырубщиков леса не предусматривает дифференциации в <br/>
зависимости от близости к дороге предоставляемых участков, то это есть <br/>
крупный недостаток в нынешнем государственном лесопользовании, исправление <br/>
которого даже в масштабах отдельных лесхозов должно приветствоваться и <br/>
поощряться, поскольку оно не только помогает выжить лесхозам и лесу, но и <br/>
соответствует принципам справедливости. Правоприменительные же органы в <br/>
данном случае из-за своего экономического невежества взяли сторону доносчика <br/>
и халявщика К.<br/>
     Представляется также противоправным игнорирование обвинением доводов <br/>
И., что дополнительные средства, которые он требовал от К., предназначались <br/>
для нужд лесничества, а не для себя лично. Он был молодым руководителем и <br/>
нередко использовал даже средства своей семьи для дела, поскольку интересы <br/>
хозяйства для него были на первом плане. Считаю, что И. заслуживает полного <br/>
оправдания.<br/>
<br/>
     Суждения присяжных за вердикт: Виновен<br/>
<br/>
     - Я работал на "шабашках" и понимаю, что такие ситуации возможны. Если <br/>
б не было вымогательства, то никто бы его не посадил. Заслуживает <br/>
снисхождения.<br/>
     - Он виновен, но заслуживает снисхождения.<br/>
     - С юридической точки зрения факт взятки доказан, ведь лесничий - это <br/>
должностное лицо. Но вымогательства здесь не было. К. мог договориться с И., <br/>
но предпочел обратиться к властям. Можно понять и И., который столкнулся с <br/>
неразвитостью материальной базы своего лесничества, с необходимостью <br/>
перераспределения прибыли в пользу хозяйства. Этот случай есть производная <br/>
нашего несовершенного законодательства, отсутствия земельного кадастра, что <br/>
не дает возможности государству получать причитающуюся ренту, что и толкнуло <br/>
И. на совершение правонарушения. Кроме того надо учесть личность И., перед <br/>
этим прошедшего афганскую войну. Он совершил преступление, но по вине <br/>
государства. Виновен, но заслуживает снисхождения.<br/>
     - Вина есть, но небольшая и вполне достаточно было бы условного <br/>
наказания.<br/>
     За вердикт: Не виновен<br/>
<br/>
     -  Думаю, что никакого вымогательства не было. Эту версию <br/>
"потерпевшему" К. подсказали в РУОПЕ.<br/>
     - Считаю, что никаких взяток не было. Как молодой специалист И. просто <br/>
не сумел правильно оформить договор на вырубку леса, а может, инструкции <br/>
устарели. Для К. участок вдали от дороги стал бы гораздо дороже.<br/>
     - Незнание, как правильно оформить выгодный хозяйству контракт, не <br/>
является уголовной виной.<br/>
     - Здесь был договор, а не взятка.<br/>
     - Мне кажется, что осуждения заслуживает не лесничий, а скорее К.<br/>
     -  Вымогательства не было, он не виновен.<br/>
     - Я вижу тут вину государства, а со стороны К. - провокацию. И. только <br/>
начинал работать, и ему надо было помогать.<br/>
     -  Существенна отрицательная характеристика "потерпевшего" К. Суд не <br/>
пожелал разобраться в сути конфликта. Очень важны показания двух свидетелей, <br/>
что И. тратил на хозяйство даже личные деньги. Во взятках не виновен.<br/>
     Вердикт: Не виновен - принят 8 голосами против 4, посчитавших И. <br/>
виновным, но заслуживающим снисхождения.<br/>
     Из 8 присяжных, оправдавших И., трое прямо поддержали основной аргумент <br/>
защиты, что здесь была не взятка, а попытка договорных отношений, а пятеро <br/>
свое решение аргументировали бескорыстием И. и недобросовестностью К.<br/>
     Из 4 присяжных, осудивших И., один (как ни странно, отрекомендовавшийся <br/>
бывалым шабашником, т. е. участником "теневых" договорных отношений) увидел <br/>
главную его вину в вымогательстве, а трое признали, что полученные И. деньги <br/>
были незаконной взяткой (небольшой и без вымогательства), причем один их них <br/>
даже возложил вину за это на государство.<br/>
     Но самое главное, что все 12 присяжных, вне зависимости от того, <br/>
считали они его виновным или не считали, единодушно проголосовали за <br/>
снисхождение И., т.е. за освобождение его от наказания лишением свободы.<br/>
     Справка. Наши жалобы по этому делу были безуспешными.<br/>
     И. был освобожден из заключения лишь по УДО.<br/>
<br/>
     Выводы по 4 ОСП о взятках для законодателей<br/>
<br/>
     Из 18 присяжных, оправдавших управдома Л., служащую горисполкома М. и <br/>
лесничего И., только 8 согласились с линией защиты, утверждавшей, что <br/>
инкриминируемые действия носили не властный, а экономический характер, и <br/>
потому не могут считаться должностными преступлениями. Другими словами, <br/>
поступки подсудимых нельзя считать взятками.<br/>
     Большая же часть в своем оправдании ссылалсь на незначительность <br/>
правонарушений или даже на приносимую людям пользу. По-видимому, им было бы <br/>
более приемлемо старое российское законодательство, подразделявшее взятку на <br/>
два вида: "мздоимство", т. е. принятие чиновниками денег за действия, <br/>
осуществляемые без нарушения своих обязанностей, и общественно более опасное <br/>
"лихоимство", когда чиновник принимает деньги за действия, противные <br/>
обязанностям службы. Мздоимство наказывалось штрафами и отрешением от <br/>
службы, а лихоимство - арестами и ссылкой.<br/>
     Кстати, участковый врач М. был оправдан присяжными именно потому, что <br/>
они отказались признать его вину во взятке как в "лихоимстве".<br/>
<br/>
<br/>


{% endblock content %}
