{% extends 'base.html' %}
{% block title %}Сокирко В.В. Суд и опрос по делам "валютчиков"{% endblock %}
{% block content %}




<h3><a name="7-4">Суд и опрос по делам "валютчиков"</a></h3><br/>
<br/>
     Эта категория дел (обмен иностранной валюты и драгметаллов на рубли) в <br/>
нашем Обществе считалась четвертым крупным видом антирыночных репрессий, <br/>
предусмотренных советским уголовным законодательством. Со времени <br/>
знаменитого дела "валютчиков" Рокотова и Файбишенко, расстрелянных по <br/>
приказу Хрущева вне всякого закона ("закон" о смертной казни за нарушение <br/>
правил валютных операций был принят уже после вынесения обоим "валютчикам" <br/>
смертного приговора), обмены иностранной валюты считались крайне серьезным <br/>
преступлением, и хотя про иные расстрелы я не слышал, но приговоры со <br/>
сроками в 13 лет лишения свободы по валютной статье 88 УК РСФСР наших <br/>
подзащитных видел своими глазами.<br/>
     В отличие от ранее обсужденных видов уголовных репрессий против <br/>
"рыночников", жестокость и несправедливость суровых кар по ст. 88 УК среди <br/>
правозащитников никогда не ставилась под сомнение. Поэтому мы такие дела <br/>
практически и не ставили на обсуждение общественного суда присяжных как <br/>
бесспорные. Исключением стали только два дела. В первом случае москвич Т. <br/>
сам настаивал на общественном обсуждении своего уголовного дела, а второй <br/>
случай связан с опросом общественного мнения, когда на обсуждение горожан <br/>
России было предоставлены фабулы дел расхитителя, взяточника, а для <br/>
сравнения - валютчика Х.<br/>
     Дело московского продавца серебром Т.<br/>
     (ОСП 23.04.1993 г.)<br/>
<br/>
     Обвинитель Владышевский: В 1982 г. Т. получил от родственников <br/>
несколько пластин технического серебра и пытался сбыть их, но был задержан и <br/>
получил за это 5 лет лишения свободы. Закон им был нарушен, а наказан Т. по <br/>
ст. 88 УК не очень сурово.<br/>
     Защитник Сокирко: Сам Т. оспаривает факт попытки сбыта серебра, <br/>
утверждая, что передал некоторое его количество ранее незнакомому лицу для <br/>
определения пробы под денежный залог. Но даже если оставить в стороне это <br/>
объяснение, защита считает противоречащим человеческой совести приравнение <br/>
преступлению нормального желания людей обменять свои рубли на нечто более <br/>
весомое - иностранную валюту или драгметаллы. Поэтому в любом случае Т., <br/>
который как раз и пытался удовлетворить такую человеческую потребность, по <br/>
совести должен быть признан невиновным.<br/>
<br/>
     Суждения 19 присяжных<br/>
<br/>
     18 человек против 1 проголосовали за невиновность Т. в преступлении по <br/>
ст. 88 УК РСФСР, причем более трети из них говорили о преступности самой <br/>
этой статьи, карающей людей за обыкновенные рыночные действия, кстати, к <br/>
тому времени уже легализованные. Единственный оппонент говорил, что пока <br/>
этот закон существует, его нельзя нарушать.<br/>
<br/>
     Дело московского студента-валютчика Х.<br/>
     (4.04.1993 г.)<br/>
<br/>
     Дело Х. было поставлено нами на опрос общественного мнения в следующей <br/>
форме:<br/>
     Студент купил у иностранца на улице 70 долларов и был осужден за <br/>
валютные операции на 7 лет ИТУ усиленного режима, отбыл половину срока.<br/>
     995 представителей российских горожан выбрали следующие варианты <br/>
ответов: <br/>
     1.Он виновен, осужден правильно, должен полностью отбыть срок 53 чел.<br/>
     2.Он виновен, осужден правильно, но наказан слишком жестоко. Сегодня <br/>
должен быть освобожден 107 чел.<br/>
     3.Он виновен, но не в том, за что был осужден, его нельзя было лишать <br/>
свободы 168 чел.<br/>
     4.Он невиновен, осужден неправильно, должен быть освобожден и <br/>
реабилитирован 556 чел.<br/>
     5.Затрудняюсь ответить 111 чел.<br/>
     Содержательные ответы по делу дали 884 человека, из них только 160, <br/>
т.е. 18%, сказали "Да. Х. виновен в нарушениях правил валютных операций" <br/>
причем большинство их высказалось за наказание со снисхождением. Остальные <br/>
82% посчитали, что в этом преступлении Х. не виновен и его нельзя было <br/>
лишать свободы. А большая часть этих людей (556, т.е.63% от числа <br/>
содержательно ответивших) вообще посчитали, что студент-валютчик должен быть <br/>
не только освобожден, но и реабилитирован.<br/>
     Справка. Т. был освобожден еще до нашего обсуждения, а Х. был помилован <br/>
в том же 1993 году.<br/>
     В стране был официально разрешен свободный обмен иностранной валюты в <br/>
обменных пунктах и существование грозной ст. 88 в УК все больше становилось <br/>
анахронизмом. Тем не менее правоприменительные органы регулярно возбуждали и <br/>
доводили до лишения свободы ежегодно около трех десятков дел по этой статье.<br/>
     Летом 1994 года действовавшая уже на основе новой Конституции <br/>
Государственная Дума РФ в лице руководства Комитета по законодательству <br/>
попыталась исключить из УК РСФСР одиозную 88-ю статью вместе с главой <br/>
"Хищения социалистической собственности", но не удалось. Группа депутатов от <br/>
Демократической партии России подняла крик о том, что "российские капиталы <br/>
вывозятся за границу, и потому ст. 88 отменять нельзя" И хотя она никакого <br/>
отношения к вывозу капитала не имела, а демагогичность таких требований была <br/>
очевидна, депутаты оставили действовать валютную статью-пугало еще на два с <br/>
половиной года.<br/>
     Только с января 1997 года, со вступлением в силу УК РФ, наказания за <br/>
обмен валют были наконец-то отменены. Многолетнее несоответствие уголовного <br/>
закона и народной совести в этой части наконец-то ликвидировано. Правда, в <br/>
УК остался запрет на свободную продажу драгоценных металлов в техническом <br/>
виде, но уже не из-за нарушения правил валютных операций, а ввиду <br/>
существования государственной монополии на добычу и сбыт этих металлов.<br/>
     Интересная деталь: за несколько месяцев до вступления в действие нового <br/>
УК, легализирующего валютные обмены, из Мосгорсуда продолжали поступать <br/>
распоряжения о продлении практики осуждения людей по этой издыхающей статье. <br/>
На встрече с правозащитниками одна из районных судей г. Москвы искренно <br/>
негодовала на ошибку законодателей, позволяющую "уводить от ответственности <br/>
людей, которые меняют отечественную валюту на иностранную даже в больших <br/>
количествах". Для этого весьма опытного юриста обмен валют так и остался в <br/>
памяти чем-то сродни "измене родине"...<br/>
     И тут не следует даже усмехаться. Ведь эта судья и единодушные с ней <br/>
коллеги выросли как специалисты в атмосфере постоянного судилища, когда <br/>
"измена родине" и "обмен валюты" стояли рядом и наказывались почти равным <br/>
способом - смертной казнью. Граждане, получающие зарплату в валюте, для них, <br/>
наверное, до сих пор сродни "наймитам империализма". С этим живут и сейчас.<br/>
<br/>
<br/>


{% endblock content %}
