{% extends 'base.html' %}
{% block title %}Сокирко В.В. Приложение 8.1. Предложения ОЗОХиЭС по проекту УПК РФ{% endblock %}
{% block content %}




<h3><a name="8-7">Приложение 8.1. Предложения ОЗОХиЭС по проекту УПК РФ</a></h3><br/>
     (принятого Госдумой РФ в первом чтении в 1997 году)<br/>
     в части расширения сферы действия судов присяжных<br/>
<br/>
     Пояснительная записка<br/>
<br/>
     Какова основная задача реформы власти в наше время и в нашей стране? Ее <br/>
формула проста: начать жить честно, по средствам и дать возможность людям <br/>
богатеть самим и обогащать страну. Но задача не нова. Люди моего, ныне уже <br/>
пожилого поколения начинали решать ее еще под водительством КПСС в застойные <br/>
70-80-е годы. (Правда, еще раньше, в пору моей молодости, Хрущев брал все на <br/>
себя, внушая уверенность скорой жизни при изобилии коммунизма и при его <br/>
личном руководстве.) Сместившие Хрущева "прагматики" стали решать <br/>
вышеуказанную задачу, но безуспешно. И оказалось, что почти всю сознательную <br/>
жизнь мы прожили при самых разных экономических реформах, начиная с <br/>
"преобразований Косыгина", кончая нынешними.<br/>
     Думаю, Хрущев - последний искренний и в этом смысле "честный" лидер в <br/>
нашей стране. Он верил в свою способность осчастливить страну и умел <br/>
заставить руководящую номенклатуру работать на поставленную им цель. Если бы <br/>
Хрущев не был коммунистическим романтиком и хоть частично был бы схож с <br/>
мудрым Дэн Сяопином, сумевшим в миллиардном Китае заставить свою КПК взамен <br/>
руководства всем, дать людям экономическую самостоятельность, у нас не было <br/>
бы более чем двадцатилетнего экономического застоя и нынешнего провала.<br/>
     Но повзрослеть Хрущев не успел, он был свергнут номенклатурой, которая <br/>
реально и продолжает править нами до сих пор, исходя уже из своих <br/>
собственных ценностей, в число которых, к сожалению, не входят ни честность, <br/>
ни жизнь по средствам, ни богатство людей и страны. И кто бы ни становился <br/>
во главе страны, как бы искренне он ни верил в собственную честность и силы, <br/>
на деле он является заложником своей номенклатурной команды, кого бы он ни <br/>
набрал в нее, потому что иной по типу правящей команды в стране нет и быть <br/>
не может. Президент Ельцин в этом отношении мало чем отличен от генсека <br/>
Брежнева, который тоже много раз менял своих помощников.<br/>
     Сегодня потеряны романтические надежды на приход к власти новых лидеров <br/>
через демократические выборы. Наша элита так успешно овладела приемами <br/>
воздействия на избирателей, а потом и на законодателей, что теперь никаких <br/>
особых опасностей для ее господства выборы не представляют.<br/>
     Впрочем, никто особо и не посягает на власть существующей номенклатуры. <br/>
Пусть она будет, но пусть по-настоящему начинает работать на выздоровление <br/>
экономики и процветание людей. Только как и кто ее может к тому понудить? <br/>
Если нечестность (показуха) и нежелание жить по средствам - в родовой памяти <br/>
нашей элиты? В эпоху застоя она изворачивалась и шиковала за счет роста <br/>
товарного дефицита, в перестройку и демократизацию она освоила жульничество <br/>
инфляции, прощаемых кредитов и фальшивых авизовок, теперь вот нагло не <br/>
оплачивает долги за выполненную работу. В любой стране такое невозможно, ибо <br/>
грозит немедленным судом и наказанием. В сегодняшней же России стало <br/>
реальностью, потому что нет у нас такого воспитателя элиты - как "суда <br/>
скорого и правового" (замечательное определение из манифеста императора <br/>
Александра П., который именно устроением новых судов, включая суд присяжных, <br/>
начал в России эпоху реформ). Что и говорить, качества министров и <br/>
помощников Президента имеют очень большое значение, но для настоящего <br/>
правового порядка имеет значение прежде всего продвинутость страны на пути <br/>
полновластия суда присяжных.<br/>
     Но глупо надеяться, что наши исполнительные власти вдруг сами станут <br/>
укреплять на свою шею независимую судебную власть и что профессиональные <br/>
судьи сами станут отстаивать свою подчиненность вердиктам присяжных. <br/>
Подчинить судебную власть присяжным могут только сами граждане своими <br/>
требованиями. Но как трудно представить, что главным политическим <br/>
требованием избирателей станет устроение судов присяжных, т.е. взваливание <br/>
на себя немалой гражданской обязанности... Нам до такого ой как далеко.<br/>
     И потому я вынужден надеяться лишь на осознание этих проблем гражданами <br/>
во времени и, главным образом, в провинции, где влияние людей на местную <br/>
власть и суды сказывается непосредственнее. Суды в российской глубинке уже <br/>
сейчас во многом действуют, сообразуясь с народной совестью, чаще решаются <br/>
действовать не в согласии с юридическими стереотипами высших судебных <br/>
инстанций, а по собственному пониманию. Если бы у них было право сослаться <br/>
на непреложность решений суда присяжных, то воспитывающее решение <br/>
провинциальных судов возросло бы многократно.<br/>
     С другой стороны, федеральной власти гораздо проще пойти на судебные <br/>
реформы именно на местах, им сподручнее отдать контроль за судами, а через <br/>
них за местными властями присяжным гражданам, своим непосредственным <br/>
избирателям. Укрепив власть народа над своеволием местных властей, начав <br/>
наводить правовой порядок на местах, федеральная власть укрепит и свое <br/>
положение в целом. Ну а решив задачу порядка на местах, поднакопив сил и <br/>
опыта, у власти и народа хватит сил такие преобразования провести на <br/>
региональном уровне, а потом уж и в самом Центре.<br/>
     Завершая книгу об исследовательских аспектах судов присяжных, о <br/>
технологиях извлечения из них уроков для законодателей и юристов, нельзя не <br/>
рассказать о поданных нами в Государственную Думу РФ предложениях по <br/>
расширению сферы действия официальных судов присяжных. Ведь мы стремимся не <br/>
только к росту числа самодеятельных ОСП или ИСП, но и к повсеместности <br/>
действительных судов присяжных, которые бы наряду со своими прямыми задачами <br/>
были наделены исследовательскими функциями в помощь законодателям.<br/>
     Сегодня суд присяжных действует лишь в нескольких областных судах (в <br/>
качестве эксперимента) и лишь по делам об особо тяжких убийствах. Мы же <br/>
убеждены, что суды присяжных должны действовать и показывать пример (быть <br/>
прецедентами) не только по всем видам уголовных (а возможно, гражданских и <br/>
арбитражных) дел, но и при разрешении вопросов о помещении под арест <br/>
подследственных или, напротив, вопросов об условно-досрочном освобождении от <br/>
назначенного судом наказания, т.е. везде, где речь идет о существенном <br/>
ограничении прав и свобод человека.<br/>
     Авторы проекта судебной реформы 1993 года полагали, что суд присяжных <br/>
должен внедряться в России сверху, подобно судебной реформе 1863 года, <br/>
введенной царским манифестом. Отсюда и план внедрения СП: сначала на <br/>
областном уровне, а потом уже и на районном (нижнем) уровне. Сегодня можно <br/>
констатировать, что таким надеждам не суждено было сбыться: судебная реформа <br/>
явно захлебнулась под влиянием реакции опомнившихся профессионалов судебной <br/>
да и прочей власти. Россия уже дважды получала уроки неудачных правовых <br/>
реформ именно из-за того, что за их основу принимала путь проведения сверху <br/>
и, мне кажется, у нас нет права вновь наступать на те же грабли.<br/>
     Осуществлять строительство судов присяжных на местном уровне по мере <br/>
созревания условий легче. От центральных же властей в таком случае нужно <br/>
сегодня только одно: разрешение ввода судов присяжных на региональном и <br/>
местном уровнях по желанию населения этих территорий.<br/>
     Формально добиться такого расширения можно, только изменив действующее <br/>
судебное законодательство, в частности, Уголовно-процессуальный кодекс, <br/>
проект которого застрял в Государственной Думе. Наши предложения по <br/>
корректировке этого проекта застряли там же. Ниже мы их приводим, хотя <br/>
уверены: сегодня они не получат поддержки, не будут приняты, а значит задача <br/>
получения законодательного разрешения на строительство судов присяжных снизу <br/>
вновь передвинется на очередное будущее. Но это не должно нас смущать. У <br/>
сторонников правовой реформы останется больше времени для работы на низовом <br/>
уровне судов присяжных, которых могут организовывать сами граждане и <br/>
правозащитники.<br/>
     Ч.1 ст.6 "Задачи уголовного процесса" предлагаем дополнить такой важной <br/>
задачей, как "вынесение судебных решений в соответствии с народной совестью, <br/>
законом (и опытом судебной практики, выраженной в предыдущих судебных <br/>
постановлениях)".<br/>
     В противном случае в законе не будет отмечено, что, во-первых, <br/>
вынесение правильного судебного решения является центральной важнейшей <br/>
задачей уголовного процесса, во-вторых, не будет определено, что судебное <br/>
решение должно быть вынесено в соответствии с народной совестью и законом, и <br/>
именно в такой последовательности, потому что закон хотя и разрабатывается <br/>
народными избранниками, но далеко не всегда соответствует народной совести, <br/>
да еще с учетом всех обстоятельств конкретного дела.<br/>
     Наиболее ясным и понятным образом это требование выполняется судом <br/>
присяжных, где коллегия присяжных выносит вердикт по совести, а <br/>
председательствующий оформляет это решение в соответствии с законом. В суде <br/>
с участием народных заседателей, по-видимому, роль выносящих вердикт по <br/>
совести должны исполнять народные заседатели, и потому, на мой взгляд, их <br/>
мнение в приговоре должно фиксироваться особо. Наконец, в суде <br/>
профессиональных судей роль вынесения вердикта по совести (по внутреннему <br/>
убеждению) должны исполнять сами судьи, принимая решение и ориентируясь на <br/>
сумму прецедентов вердиктов судов присяжных по такого рода делам.<br/>
     В ч.3 ст.9 о праве обвиняемого на рассмотрение его дела судом с <br/>
участием присяжных заседателей необходимо фразу "в случаях, предусмотренных <br/>
настоящим Кодексом" заменить на слова "во всех случаях и по правилам, <br/>
предусмотренным настоящим Кодексом, включая дела, подсудные мировому суду".<br/>
     Это уточнение необходимо для реального введения в жизнь суда присяжных <br/>
и действительного осуществления правовой реформы в нашей стране. Жизнь <br/>
показала, что если УПК РФ не сделает исполнение права обвиняемого на суд <br/>
присяжных обязательным, то Россия такого суда иметь не будет. Главную <br/>
трудность ввода суда присяжных, связанную с финансированием, можно разрешать <br/>
включением (частичным или полным) этих расходов в процессуальные издержки, <br/>
которые обязаны будут выплачивать подсудимые.<br/>
     Ст.11 "Неприкосновенность личности" очень важна и в связи с <br/>
распространенностью недозволенных способов дознания (побои, иные пытки) ее <br/>
необходимо существенно дополнить, а именно:<br/>
     ч.2 необходимо дополнить следующим: "В случае, если в течение 48 часов <br/>
будет принято судебное решение о применении к лицу содержания под стражей <br/>
как меры пресечения его в качестве обвиняемого или подозреваемого, оно имеет <br/>
право ходатайствовать о пересмотре этого решения судом присяжных в порядке <br/>
апелляции по месту задержания в течение месяца по правилам глав 40 Кодекса".<br/>
     В ст.20 "Оценка доказательств по внутреннему убеждению" в списке лиц, <br/>
имеющих право на такую оценку, по моему мнению, следует оставить только <br/>
присяжных и народных заседателей, а также судей, когда они принимают решения <br/>
без последних, поскольку оценка "по внутреннему убеждению" аналогична оценке <br/>
"по совести" и потому право на нее надо оставить только представителям <br/>
народа.<br/>
     Профессиональным же юристам следует в оценках ориентироваться прежде <br/>
всего на указания закона, на прецеденты и постановления вышестоящих судов, а <br/>
в случаях неустранимых противоречий применять принцип презумпции <br/>
невиновности. Если же профессионалы в своих решениях будут ориентироваться <br/>
на свои "внутренние убеждения", то о презумпции невиновности на практике <br/>
придется забыть.<br/>
     Аналогичные изменения необходимо произвести и в иных статьях проекта, <br/>
где упоминается об оценках доказательств участниками уголовного процесса "по <br/>
внутреннему убеждению".<br/>
     Ч.5 ст.34, в которой устанавливается право обвиняемого ходатайствовать <br/>
о рассмотрении его дела судом присяжных, только если он обвиняется в особо <br/>
тяжких преступлениях, по которым предусмотрено наказание свыше 15 лет <br/>
лишения свободы (т.е. за тяжкие убийства), должна быть, несомненно, изменена <br/>
так, чтобы обеспечить реальное обеспечение права граждан на суд присяжных.<br/>
     В связи с этим я предлагаю следующую формулировку ч.5 ст.34: "По <br/>
ходатайству обвиняемого его дело должно рассматриваться судом присяжных в <br/>
составе не менее одного судьи и не менее 6 присяжных заседателей и при <br/>
условии возмещения части дополнительных судебных расходов. Если другие <br/>
обвиняемые по этому же делу ходатайствуют о рассмотрении их дела только <br/>
профессиональными судьями, в таком случае дело может рассматриваться судом <br/>
присяжных, но в отношении обвиняемых, отказавшихся от присяжных, последние <br/>
вердикт не выносят, а судебные решения по ним принимают только участвующие в <br/>
процессе судья или коллегия из трех судей".<br/>
     В ч.2 ст.35 "Полномочия суда" по отношению к действиям на досудебной <br/>
стадии процесса неправильно упоминаются полномочия не суда, а судьи, <br/>
неоправданно ограничивая возможности использовать, например, суд присяжных. <br/>
Поэтому в тексте ч.2 ст.35 слово "судья" следует заменить словом "суд".<br/>
     Из ст.44 "Защитник" следует устранить понятие адвоката как <br/>
профессионального и потому особо привилегированного защитника. Авторитет <br/>
адвокатов зиждется на их профессиональных умениях и не нуждается в особом <br/>
выделении в УПК. Процессуальный закон должен знать только слово "защитник".<br/>
     В связи с этим с.2 ст.44 следует изложить следующим образом: <br/>
"Защитником может быть любое совершеннолетнее лицо, имеющее от <br/>
подозреваемого или обвиняемого доверенность на ведение его дела".<br/>
     Такое изменение особенно необходимо сделать сейчас в связи с ростом <br/>
числа судебных дел и огромной нехваткой профессиональных адвокатов, <br/>
непосильной дороговизной их услуг. Максимальное расширение круга независимых <br/>
лиц, которые по желанию обвиняемых могут взять на себя функции защиты, <br/>
способно снизить уровень монополизации адвокатского дела, существенно <br/>
улучшить правовое положение обвиняемых и материальное положение их семей.<br/>
     В ч.1 ст.104 следует записать, что судебное рассмотрение о применении <br/>
меры пресечения должно быть публичным и состязательным, как и любое иное <br/>
судебное заседание.<br/>
     Ст.104 необходимо дополнить специальной частью, предусматривающей право <br/>
арестованного обжаловать первое судебное решение о правомерности содержания <br/>
его под стражей в суде присяжных, заседание которого по разрешению данной <br/>
жалобы должно произойти не позже месяца после начала задержания.<br/>
     В случае подтверждения судом присяжных правомерности содержания <br/>
обвиняемого под стражей решения о продлении сроков такого содержания должны <br/>
приниматься органами прокуратуры, а именно: областным прокурором - до 6 <br/>
месяцев, до полутора лет - Генеральным прокурором РФ.<br/>
     Согласно уже вышеописанной концепции о необходимости рассмотрения жалоб <br/>
на законность и обоснованность первого судебного решения о заключении под <br/>
стражу именно судами присяжных в течение месяца после задержания, текст <br/>
ст.130 подлежит коренной переработке. Он должен состоять из ссылок на <br/>
наиболее упрощенные процедуры проведения судов присяжных, приведенных в <br/>
главе 40 настоящего Кодекса, но при соблюдении основных принципов: <br/>
публичности, состязательности, окончательности вердикта присяжных <br/>
заседателей, а также обеспечения присяжным права избирать конкретный вид <br/>
меры пресечения обвиняемому: содержание под стражей, домашний арест, <br/>
приемлемый для обвиняемого или его поручителей, денежный залог или подписка <br/>
о невыезде.<br/>
     Целиком поддерживаю изложенные в ст.245 такие нововведения, как право <br/>
обвиняемого или его защитника при ознакомлении с материалами дела копировать <br/>
их с помощью технических средств, а также обязанность следователя обеспечить <br/>
конституционное право любого обвиняемого на рассмотрение его дела судом <br/>
присяжных, даже если против этого возражают подельщики.<br/>
     Мы считаем, что должна быть принципиально расширена подсудность <br/>
уголовных дел суду присяжных, в связи с чем ст.370 следует изложить в <br/>
следующей редакции: "Суду присяжных подсудны все уголовные дела, по которым <br/>
хотя бы один из подсудимых заявил ходатайство о рассмотрении таким судом".<br/>
     В связи с необходимостью всемерного удешевления суда присяжных (что <br/>
позволит обеспечить более быстрое его внедрение в нынешних сложных <br/>
экономических условиях страны) считаем необходимым допущение к работе суда <br/>
присяжных в сокращенном составе. Поэтому в ст.371 следует слова "судьи и <br/>
двенадцати присяжных заседателей" заменить следующим:<br/>
     "Судьи и коллегии из не менее шести присяжных заседателей, за <br/>
исключением дел, указанных в ч.2 ст.372".<br/>
     Соответственно, в ч.3 ст.372 должно быть назначено к вызову в судебное <br/>
заседание не менее 10 (а не 20, как ныне) присяжных заседателей.<br/>
     Также в этой части необходимо предусмотреть случай, когда по делам об <br/>
особо тяжких преступлениях, по которым предусмотрены наказания свыше 15 лет, <br/>
часть обвиняемых ходатайствует о рассмотрении дела судом присяжных, а <br/>
часть - за рассмотрение коллегией из трех профессиональных судей. Поэтому <br/>
предлагаем дополнить эту часть следующим:<br/>
     "Если по делу об особо тяжком преступлении, за которое законом <br/>
предусмотрено наказание, связанное с пожизненным лишением свободы или <br/>
смертной казнью, между обвиняемыми нет единства в ходатайствах о желаемом <br/>
ими виде судопроизводства, дело должно рассматриваться судом присяжных в <br/>
составе 12 присяжных и трех профессиональных судей".<br/>
     Также представляется малоосуществимым требование в ч.1 ст.373 о том, <br/>
что "одно и тоже лицо не может участвовать в течение года в качестве <br/>
присяжного заседателя более одного раза". Нам же представляется <br/>
целесообразным отвлекать граждан на исполнение должности присяжного <br/>
заседателя, как и народных заседателей на срок до двух недель, задействуя их <br/>
в разных уголовных процессах, в связи с этим последнее предложение этой <br/>
части следует изложить так:<br/>
     "одно и тоже лицо не может участвовать в судебных заседаниях в качестве <br/>
присяжного заседателя более двух недель в два года или одного раза по <br/>
длительным делам".<br/>
     Также в тексте этой статьи следует пояснить, каким именно образом будет <br/>
производиться отбор кандидатов в присяжные путем случайной выборки. Проще и <br/>
правильнее записать:<br/>
     "Зачисление в кандидаты присяжных помощник судьи производит в <br/>
алфавитном порядке из находящегося в суде общего списка граждан, проживающих <br/>
в регионе".<br/>
     Ч.1 ст.373 целесообразно дополнить указанием об общих ограничениях, <br/>
препятствующих исполнению гражданином обязанностей присяжного, а именно - <br/>
отсутствие постоянной прописки (местожительства) в данном регионе, возраст - <br/>
младше 25 и старше 70 лет, обладание юридическим образованием или стажем <br/>
юридической работы. Это позволит снизить необходимость отбора присяжных на <br/>
последующих этапах формирования коллегии присяжных заседателей.<br/>
     В связи с предложенным выше возможным сокращением числа присяжных <br/>
заседателей вдвое подлежат изменению и ст.374, а именно: в ч.4 взамен "менее <br/>
двадцати" надо поставить "менее десяти", в. ч.6 взамен "каждая сторона может <br/>
заявить по два немотивированных отвода" надо поставить "не менее одного <br/>
немотивированного отвода".Аналогичные цифровые изменения следует произвести <br/>
и в ст.375.<br/>
     Изложенная в ст.378 присяга присяжных мне кажется более длинной и <br/>
выспренней, чем ныне принятая. Очень неудобно удлинение требуемого ответа <br/>
присяжных "Я клянусь в этом" вместо короткого и естественного "Клянусь".<br/>
     В ч.2 ст.379 следует исключить упоминание о праве присяжных просить у <br/>
председательствующего разъяснения норм закона, относящихся к делу. Конечно, <br/>
такие вопросы со стороны присяжных возможны, но поощрять их к превращению <br/>
судебного заседания в правовой ликбез нельзя, ибо это будет прямо отвлекать <br/>
присяжных от вынесения вердикта по "внутреннему убеждению и совести" и даже <br/>
дезориентировать их.<br/>
     По моему убеждению изложенные в ст.381 пределы компетенции присяжных <br/>
заседателей надо сильно расширить, отдав на их разрешение не только <br/>
изложенные в ч.1 ст.346 вопросы 1, 2, 4 и о снисхождении, но и первую часть <br/>
вопроса 3 ("Является ли это деяние преступлением?), вопросы 5 ("Имеются ли <br/>
обстоятельства, смягчающие или отягчающие его ответственность?"), 6 <br/>
("подлежит ли подсудимый наказанию за совершенное им преступление?), 7 <br/>
(только переформулировав его так: "Заслуживает ли подсудимый лишения <br/>
свободы?"), потому что ответы на эти вопросы требуют не столько правовой <br/>
культуры и юридических знаний судьи, сколько жизненного опыта и голоса <br/>
совести присяжных заседателей.<br/>
     Также мне представляется неестественным и неудобным разделение процесса <br/>
с участием присяжных на две части: сначала по вопросам, которые должны <br/>
разрешаться вердиктом присяжных и только по ним, а потом уже по вопросам, <br/>
которые будут разрешаться судьей, вызванное желанием максимально огородить <br/>
присяжных от якобы излишней для них информации. Поэтому я бы предложил из <br/>
ст.383 и последующих убрать требование исследовать и обсуждать при присяжных <br/>
только те обстоятельства, которые касаются вопросов, на которые должны <br/>
отвечать присяжные.<br/>
     Изложенный в ч.1 ст.387 список основных вопросов присяжных следует <br/>
расширить в соответствии с предложенными изменениями ст.381.<br/>
     По моему мнению, вердикты присяжных и их аргументация имеют очень <br/>
большое методическое значение для правоприменителей и законодателей и потому <br/>
принцип тайны совещательной комнаты присяжных заседателей не должен <br/>
становиться препятствием для аудио- и видеозаписи происходящего в <br/>
совещательной комнате при обязательной подписке исследователей об <br/>
анонимности результатов исследования и обеспечения тайны совещательной <br/>
комнаты. В связи с этим текст ст.389 следует дополнить следующим:<br/>
     "С разрешения присяжных и судьи исследователи могут проводить аудио- и <br/>
видеозапись совещания присяжных при обеспечении анонимности результатов <br/>
исследования и обеспечения тайны совещательной комнаты, о чем у <br/>
исследователей берется соответствующая подписка".<br/>
     В связи с ранее предлагаемыми изменениями в ч.1 ст.391 следует <br/>
исключить предложение: "Оправдательный вердикт считается принятым, если за <br/>
отрицательный ответ на любой из поставленных в нем трех основных вопросов <br/>
проголосовали шесть и более присяжных заседателей".<br/>
     Изложенные в ч.3 ст.392 права присяжных на уточнение вопросов и <br/>
особенно на разрешение сомнений по поводу фактических обстоятельств дела с <br/>
последующим возобновлением судебного следствия, как способные сильно <br/>
усложнить и удорожить суд присяжных, надо либо совсем исключить из Кодекса, <br/>
либо оставить как редкое исключение по преступлениям, по которым возможно <br/>
применение смертной казни.<br/>
     Крайне важным является положение о том, что оправдательный вердикт <br/>
присяжных является окончательным и не подлежит отмене ни при каких <br/>
обстоятельствах, иначе присяжные, принимая свое решение, будут <br/>
ориентироваться не на голос своей совести, а на прогноз того, какое решение <br/>
пройдет через вышестоящие судебные инстанции. Тем самым дух независимого <br/>
суда присяжных будет уничтожен. В связи с этим ч.3 ст.394 надо дополнить <br/>
следующим:<br/>
     "Оправдательный вердикт присяжных опротестованию не подлежит и является <br/>
окончательным решением".<br/>
     По моему мнению, правовые последствия признания присяжными подсудимого, <br/>
заслуживающего снисхождения либо особого снисхождения, должны быть <br/>
скорректированы в сторону снижения назначаемых при этом наказаний. <br/>
Изложенное в ст.397 правило, что вердикт присяжных о снисхождении для <br/>
осужденного влечет за собой обязанность судьи отказаться от смертной казни <br/>
или пожизненного заключения либо назначить наказание не выше двух третей от <br/>
максимально возможного срока наказания (т.е. даже больше среднего наказания) <br/>
представляется явно недостаточным. На деле вердикт присяжных о снисхождении <br/>
означает их желание ограничиться минимальным наказанием, предусмотренным <br/>
законом.<br/>
     Что касается наказания, связанного с вердиктом присяжных об особом <br/>
снисхождении, то нам представляется также очевидным, что в таком случае суд <br/>
должен вынести наказание, не связанное с лишением свободы. В связи с этим мы <br/>
и предлагали выше взамен вопроса об особом снисхождении задавать присяжным <br/>
лишь вопрос: "Заслуживает ли подсудимый лишения свободы?"<br/>
     Поэтому мы предлагаем взамен последнего предложения ч.2 ст.397 ввести <br/>
слова: "При вердикте присяжных заседателей о том, что подсудимый заслуживает <br/>
снисхождения, назначаемое наказание не может превышать минимальный срок <br/>
лишения свободы, предусмотренный санкцией соответствующей статьи УК РФ".<br/>
     Также предлагаем исключить ч.3 ст.397, если в качестве обязательного <br/>
вопроса присяжным будет: "Заслуживает ли подсудимый лишения свободы?" или <br/>
заменить ее следующим:<br/>
     "Если подсудимый признан заслуживающим особого снисхождения, судья <br/>
назначает ему наказание без лишения свободы, условно или с отсрочкой <br/>
исполнения".<br/>
     Следует согласиться с исходящей из Генпрокуратуры РФ поправкой, а <br/>
именно дополнением ст.434 частью следующего содержания:<br/>
     "Установленные пунктами "а" и "б" частями 1 и 2 настоящей статьи <br/>
правомочия суда кассационной инстанции не распространяются на <br/>
пересматриваемые в кассационном порядке дела, рассмотренные с участием <br/>
присяжных заседателей".<br/>
     Вызвано это тем, что такие действия кассационной инстанции влекут за <br/>
собой установление новых обстоятельств, которые могли бы повлиять на вердикт <br/>
присяжных заседателей, что без нового рассмотрения дела судом присяжных <br/>
представляется недопустимым.<br/>
     Необходимо исключить ч.2 ст.444 об условиях отмены оправдательного <br/>
вердикта присяжных ввиду его явного противоречия принципу окончательности <br/>
оправдательного решения присяжных.<br/>
     Кроме того, считаем, что в данном Кодексе неоправданно обойдены <br/>
вниманием чрезвычайно важные процедуры судебных решений по вопросам, <br/>
связанным с исполнением наказаний, например, с установлением судом оснований <br/>
полагать, что для своего исправления осужденный не нуждается в полном <br/>
отбывании наказания лишением свободы и заслуживает условно-досрочного <br/>
освобождения.<br/>
     Нынешняя процедура разрешения такого ходатайства осужденного одним <br/>
судьей и лишь по рекомендации администрации ИТУ не обеспечивает <br/>
состязательности сторон в суде (смешно говорить о состязании заключенного и <br/>
его начальника) и объективности судебного рассмотрения (достаточно сказать, <br/>
что несколько мелких нарушений режима, вроде незастегнутого воротничка, <br/>
отмеченных администрацией, сегодня гарантируют отказное решение <br/>
профессионального судьи об УДО и тем санкционируют произвол административных <br/>
рекомендаций. Считаем, что именно в разрешении таких дел о степени <br/>
исправления осужденного решающее слово должно оставаться за интуицией и <br/>
совестью присяжных, а не за юридическими познаниями профессионального судьи. <br/>
В связи с этим предлагаем ввести дополнительную ст.459-1 "Рассмотрение <br/>
ходатайств об условно-досрочном освобождении осужденного" следующего <br/>
содержания:<br/>
     "(1) Вопрос об условно-досрочном освобождении рассматривается судом <br/>
присяжных по месту отбывания наказания осужденного по его ходатайству и по <br/>
правилам главы 40 настоящего Кодекса.<br/>
     (2) В судебном заседании обязаны принимать участие прокурор и <br/>
представитель администрации ИТУ, в котором отбывает наказание осужденный - с <br/>
одной стороны, сам осужденный и его доверенный попечитель - с другой <br/>
стороны. В суд по ходатайству сторон могут быть вызваны также свидетели <br/>
поведения осужденного и представители его семьи.<br/>
     (3) Доверенным попечителем признается авторитетное лицо, как правило, <br/>
член местной попечительской организации, который имеет доверенность <br/>
осужденного и не менее полугода наблюдал за его жизнью и поступками.<br/>
     (4) Рассмотрение начинается заслушиванием объяснения осужденного, <br/>
обратившегося с ходатайством, после чего исследуются представленные <br/>
материалы и выслушиваются участники и вызванные лица. По ходатайству сторон <br/>
суд вызывает в заседание свидетелей.<br/>
     (5) Положительный вердикт присяжных считается окончательным и <br/>
опротестованию не подлежит. Осужденный по его желанию подлежит освобождению <br/>
в зале суда.<br/>
     (6) В случае отказа суда в условно-досрочном освобождении повторное <br/>
ходатайство об этом может быть возбуждено не ранее, чем через год."<br/>
<br/>
<br/>
<br/>


{% endblock content %}
