{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Том IX СРЕДНЯЯ АЗИЯ.1966-1976 гг.{% endblock %}
{% block content %}



<p> 1-2.<u> Наши встречи со Средней Азией. (1966-1976)</u></p> <p>3. 10 лет назад впервые поезд вез нас на  встречу с таинственной глубокой Азией.</p>
<p>4. И что хотели, то увидели: и красивые Фанские горы, и древние города, и экзотику восточного быта. Наелись впечатлений до отвала и были очень довольны своей поездкой вдвоем.</p>
<p>5. Мы начали с Ташкента, где в первый раз столкнулись с узбеком, ненавидевшим русских, и почувствовали, что значит тезис: «горит земля под белым человеком».</p>
<p>6. Самарканд ошеломил нас великолепием тимурских развалин.</p>
<p>7. Бухара удивила многочисленностью и сохранностью средневековых медресе-училищ. </p>
<p>8. А Хива - нетронутостью всего старинного быта.</p>
<p>9. 10 дней мы провели в Фанских горах, удивительных по красоте вершин и расцветке горных озер.</p>
<p>10. На долгие годы Фаны стали нашим любимым воспоминанием.</p>
<p>11. Возвращались домой мы по Аму-Дарье и через Арал. Но послушайте наш старый диафильм:</p>
<p>12. <u>Часть 1. Аму и Арал</u></p>
<p> «Водичка Аму-Дарьи. Снилась она мне потом, не раз. Сплошная глина. Такой тяжелой воды нет ни в одной реке мира.</p>
<p>13. Еще больше поражает изменчивость расхода. Не верится местным, что вот в этом месте река обмелела настолько, что из Ходжейли в Нукус на танцы ходили по колено.</p>
<p>14. Но больше поражает мощь воды - откуда у реки в пустыне такая скорость и сила? На наших глазах она сбрасывает в воду огромные глыбы земли и тут же уносит их прочь. Буквально на наших глазах сжирался берег.</p>
<p>16.  Еще назад два года перед поселком были бахчи и огороды, a вот теперь река бьется рядом с домами. И все ждут конца. Ведь именно так смыла Аму-Дарья город Бируни, смыла, несмотря на громадные усилия по спасению старой столицы Каракалпакии.</p>
<p>17. Отсюда мы начали свой водный путь на Север.</p>
<p>18. Два дня тащился маленький колесный «Новороссийск» с караваном в 4 баржи.</p>
<p>19. Расстались мы с ним только в Аральском море. Это были замечательные дни. Проезд - бесплатно, каюты - бесплатно, питание - с командой, не то, что бесплатно, а с уважением, как гостям.</p>
<p>20. Команде работы хватало, ну, а мы вместе с капитаном наблюдали за нею с мостика. Только на седоусого капитана-узбека можно было смотреть целый день и удивляться его патриархальной простоте обращения с подчиненными и знанию повадок Аму-Дарьи.</p>
<p>21. А что стоили рассказы о местных джунглях - камышовых  тугаях, где водятся фазаны и кабаны, а раньше - тигры.</p>
<p>22. Эти камыши с бесконечным однообразием тянутся по обе стороны реки, и только облака саранчи над ними.</p>
<p>23. Однако встречаются и люди. Юрты каракалпаков. Вся команда отправилась к этой юрте на туй-помолвку: водка и плов, дыни и лепешки. Мне тоже разрешили сесть в круг с мужчинами, но пришлось укрывать голые ноги.</p>
<p>24. Ради туя караван, не задумываясь, пристал к берегу на несколько часов.</p>
<p>25. А ночью снова остановка - для сна.</p>
<p>26. А разве мы забудем покупку у рыбаков усачей по рублю штука?</p>
<p>27. А усачевую разделку и засолку? Для нас этот кадр олицетворяет все приволье и сытость незабываемых тех дней.</p>
<p>28. Однако на берегах Арала был установлен холерный карантин и нам пришлось вернуться самолетом назад, добраться до Ашхабада, и лишь оттуда - домой, пообещав себе вернуться вскоре.»</p>
<p>29. Не удалось нам приехать в Среднюю Азию на следующий год. Желание увидеть Русский Север, а потом и всю страну - пересилило. А потом, в размышлениях над русской историей, всплыло старинное обвинение Азии в застое и плохом влиянии на Русь. Наша первая радужная встреча стала окрашиваться в мрачные тона. А когда мы делали диафильм, то это настроение вылилось в какой-то вымученный, ложный пафос. Вот послушайте начало того диафильма в отчаянном 68 году: </p>
<p>30. «Аральское море! Прекрасный Арал! Море в пустыне - само пустыня. </p>
<p>31. Со своим морским флотом из двух судов всего лишь.</p>
<p>Однако, нам не удастся уплыть на этом корабле, хоть и остается всего пять сотен километров, чтобы вырваться домой, в Европу, прохладный и уютный дом.</p>
<p>32. Но этот путь закрыт! И нас увозят с корабля. В Кара-Калпакии заклятье, холерный карантин. Насильно нас везут, в тоске жестокой, к жаре и пыли, тяжелой вони базаров и грязной детворы, к ужасным воспоминаниям о старой Азии - надменности эмиров-ханов и тучности наставников и мулл. </p>
<p>33. Не надо этого! С нас хватит Азии с величием Тимуров и Чингизов, и правоверности ее довольно! Домой, скорей домой, в наш скромный и прохладный мир.</p>
<p>34. И море нам сочувствует, спокойно. Но люди не пускают из Азии, как будто встарь, как будто вернулись времена побегов неудачных из страшной басурманщины. Вот берег близко, но сколько времени придется нам томиться на этих берегах? </p>
<p>35. Сейчас попали мы в Муйнак, вцепившийся в песчаные наносы Аму-Дарьи, поселок без воды и зелени, без прочной связи с внешним миром. Короче говоря, холерный карантин грозил нас задержать надолго в Кара-Калпакии, и мы бежали через юг.»</p>
<p>36.  Тягостно и стыдно слушать сегодня самого себя. Но, говоря о нашей встрече со Средней Азией, я не смею скрыть, каким был раньше, не смею подновлять. Что было в 68 году, то было. И потому, послушайте концовку.</p>
<p>37. «Мы приехали, чтобы самим увидеть грозную и ненавистную страну, что долго давила нашу родину и изменила ее судьбу. Нам это не удалось. Лишь в Самарканде вспоминали это, глядя на руины тимуровских построек.</p>
<p>38. Однако, уже в море, болтаясь на барже, в ожидании морского путешествия, мы поняли, что не там искали страну единой веры и мирового культа, войны и гибели людской, что Бухара, Хива и Самарканд здесь не причем. Так что же, Азия мертва? И не грозит нам больше? Наверное, так.</p>
<p>39. Давно ушел от нас последний Тимур -  Сталин, забрав с собою в смерть ужасы и рабство. Давно уже свободны мы и не боимся собственного слова, письма и мысли. И даже наследники Тимуров нам страшными не кажутся. Ни те, что дома, ни те, которые с китайских стен грозятся размозжить нам головы цитатниками Мао.</p>
<p>40. Спокойно спится нам на барже - ведь завтра предстоит безоблачное счастье пути домой... Однако, вспомните: на утро нас, спокойных ротозеев, захватит Азия врасплох и потянет властно к себе на берег, в холерный карантин. И, ради бога, будьте дальновидней».</p>
<p>41. С годами я изменился во взглядах на азиатскую вину. В русской отсталости скорее виновен Запад, а вернее, наши предки и мы сами, а правильнее - срединное положение, география, судьба! И нечего искать виновных!</p>
<p>42. А когда привелось прочесть книгу казахского поэта Оджаса Сулейменова «Аз и я», где он сводит счеты с такими, как я, невольными хулителями Азии, - мне стало нестерпимо стыдно.</p>
<p>43. Просто исправить этот диафильм было б слишком легким наказанием. Сохранить его и выявить для всех свою ошибку, это тяжелее, но и полезнее. Поэтому мы сохранили весь старый текст.</p>
<p>44. <u>Часть II. Древние столицы.</u></p>
<p>45. <u>Самарканд. 1966 г.</u></p>
<p>46. Для кого как, а для нас восточный город начинался с базара.</p>
<p>47. Мы долго бродили мимо его рядов и лавок.</p>
<p>48. Для полноты ощущения пили зеленый чай.</p>
<p>49. И смотрели, как это делают другие.</p>
<p>50. Жадно, радостно впитывали мы впечатления. Ну, как было не удивляться спокойствию, с которым орудует торговец мясом в клубке роящихся ос?</p>
<p>51. А как было не заглядеться на дело чеканщика по меди, который работает сосуды, как и тыщи лет назад, или, скажем, во времена Тимура.</p>
<p>52. Гробница Тимура - знаменитый Гур-Эмир, и сегодня окружена легендами и суеверным почитаньем. Чего только не рассказывали нам о мавзолее величайшего человека, который сделал Самарканд столицей мировой империи, строил и украшал его, свозил сюда богатства мира, золото и драгоценные камни, оружие и утварь искусных ремесленников и рабов.</p>
<p>53. Нам говорили о сильнейшем запахе роз в Тимуровой могиле, о несметных богатствах, вывезенных из мавзолея. И это, наверное, лишь малая доля легенд, связанных с именем Тимура.</p>
<p>54. Так почему же этот садист, хромоногий изверг, весь в крови с головы до пят, до сих пор жив в памяти народа и будет жить? Почему именно с ним олицетворяются прекраснейшие памятники той эпохи, труд народа, в то время как имена самих строителей давно пошли прахом? В чем же тогда справедливость народов? Их потомков?</p>
<p>55. Да что там правители и ханы - в памяти народа остались дети и жены ханов, сами ничего не значившие. Только прихоть истории нарекла именем Биби-ханым - китайской принцессы и жены Тимура - огромную и роскошную мечеть.</p>
<p>56. Но, как и все великие замыслы тиранов, эта постройка, начатая по личному указанию Тимура, оказалась внутренне непрочной, тяжелой и рухнула уже через несколько лет после возведения.</p>
<p>57. Рухнула, оставив нам память о талантливости и героизме рабов-строителей, и о невежественной гордыне и идиотской непреклонности преобразователя и покорителя мира с его лозунгом: «Кто сомневается в нашей власти и щедрости, пусть посмотрит на наши постройки». Вот теперь мы и смотрим!</p>
<p>58. А теперь отправимся в мавзолей других самаркандских повелителей, менее грозных, но избегавших давать своим подчиненным невыполнимые задачи.</p>
<p>59. В ансамбле Шах-и-Зинда - 11 мавзолеев, и строились они в течение двух веков. Невзрачные и серые снаружи, внутри они полыхают яркими красками, фантастически сложными узорами каменной резьбы, майолики, терракоты и пр.</p>
<p>60-61. Почему придумана масса ученых названий, но это не убавило их способность восхищать и радовать любого человека. </p>
<p>62-63. Триста ступеней ведут наверх вдоль мавзолейной роскоши к могиле «святого и живого» царя Куссон-ибн-Аббаса. Он был идеологом, проповедником ислама, как единственной на свете истинной веры, и по преданию, дух его до сих пор живет в одном из глубочайших колодцев мавзолея. </p>
<p>64. И сейчас паломники-мусульмане ходят сюда за обычные музейные 10 копеек, шарахаясь в сторону от туристских толп. Ходят, утверждая Аббасову память, подтверждая, что и проповедником «единственно истинной веры» может быть обеспечено бессмертие. Но почему же, почему у этих азиатов в такой чести народной лишь тираны и проповедники, Аббасы и Тимуры? Но успокойтесь. Мы слишком уж сгустили краски. Ведь живы имена великих ученых, поэтов и философов народа. Ведь жив великий Улугбек!</p>
<p>65. Регистан - это центр города. Это его старый торговый кремль и монастырь из трех старинных медресе.</p>
<p>66. И первое среди них, старейшее, всего на 100 студентов, построил Улугбек в 1420 году. Он положил начало.</p>
<p>67. Глухие стены снаружи отгораживали мир науки от шума, а внутри в просторный двор входили  худжры-каморки студентов.</p>
<p>68. Говорят, что в этом медресе преподавал сам Улугбек, хотя он и был великим ханом Самарканда и внуком самого Тимура.</p>
<p>69. Но, прежде всего, он был ученым, защитником науки и искусства, а роскошь его построек - лишь дань обычаям.</p>
<p>70. А вот другие медресе, построенные много позже, уже не стали светильниками точных знаний и науки. В них главным стали лишь детали учений и украшений.</p>
<p>71. Это медресе «Шир-дор», что значит «тигры и солнце».</p>
<p>72. А это - «Тиля-Кари» - «покрытый золотом».</p>
<p>73. Улугбек не имел наследников в своей стране.</p>
<p>74. Он был крупнейшим астроном, на сотни лет опередил Европу, он был поборником науки и гуманности. И Азия за то его сожрала, убила руками сына, рвавшегося к власти.</p>
<p>75. Обычная история с убийством ученого в те средние жестокие века. Но если в Европе после такого убийства наука продолжала жить в других: в монастырях или в городах, или княжествах отдельных, то здесь она погибла вместе с Улугбеком. </p>
<p>76. И в этом вся трагедия, что не было наследников. Покорному народу его наука не была нужна, а фанатичным муллам, поборникам «единой правой веры», она была противна.</p>
<p>77. Вот этот звездный секстант муллы разрушили и засыпали, как только не стало Улугбека. Зачем им звезды? Лишь в наше время раскопали и частью восстановили инструмент. </p>
<p>78. Его обсерватория! Мы смотрим с парапета мемориала Улугбека на это маленькое здание. Внизу - огромный Самарканд. Он был всегда! А дальше - громадный азиатский материк - и в нем одна лишь капля улугбековской учености. Какая темь над миром! Какая чернота! Как страшно!</p>
<p>79. В ней все погибло. Сам Улугбек и его дело. Попытка начать науку, просвещенье. Росток прогресса может удаться не сразу, не везде. И много будет неудач, пока блеснет успех. Но потому - славна попытка Улугбека!</p>
<p>79а. Мемориал Улугбека стоит на холме рядом с обсерваторией и посвящен ему от имени узбекского правительства. Кажется, что такой почести не удостоился никто из среднеазиатских древних. Но Улугбек достоин этого. Дело его удалось в Европе. И вот теперь оттуда наука завоевывает мир. И Азию, конечно. </p>
<p>80. <u>Бухара - 1966 г.</u></p>
<p>81. Бухара - крупный промышленный и вузовский город, знаменитый с X века.</p>
<p>82. С эпохи саманидов, от времени которых остались труды бухарца Авиценны и этот мавзолей «Исмаила Саманида». Удивительно гармоничное здание. Кирпичиками, как ковром, сотканы стены.</p>
<p>83. Веками правоверные мусульмане твердили: - священная, благословенная, благородная Бухара - источник знанья, мудрости и веры.</p>
<p>84. И до сих пор в городе существует духовное мусульманское училище - лишь слабый отблеск прошлой мощи университетской Бухары с 10 тысячами студентов-мусульман.</p>
<p>85. Самым большим из всех училищ было медресе Кукельдаш. В нем училось 300 студентов. За 15-20 лет учебы, они запоминали наизусть тексты и премудрость 132-х священных книг.</p>
<p>86. А больше книг не имелось, ибо муллы тщательно оберегали чистоту мусульманского учения от любых ревизионистских нововведений.</p>
<p>87. Нам странно слышать о таком методе обучения, способном лишь убивать поэзию и ум. Но не забудем, что это - Азия. </p>
<p>88. Каждое бухарское медресе - это не храм науки, а скорее полит-духовное училище, готовящее армию идеологов, способных убеждать народ и, если надо, то вести на бой с «неверными» «гяурами» или умниками.</p>
<p>89. Каждое из бухарских медресе давало цель и веру, а больше ничего не нужно. Ведь впереди сияющее счастье рая, а сейчас пусть будут только эти стены, каморки, книги, скудная еда, седобородые имамы, благочестивые ходжи. Так было раньше.</p>
<p>90. Сегодня правоверный с тоской смотрит на опустевшие святыни благословенной Бухары. А новое ему противно.</p>
<p>91. Какой позор! В святых жилищах поселились семьи, прорезали глухие стены в окна и оглашают музыкой людей.</p>
<p>92. В старых торговых куполах торгуют книгами безбожников. </p>
<p>93. Дымят чудовища-машины, не столько пылью, как бензиновою гарью. Железные дороги, самолеты, неверные гяуры полонили землю, лишили святости Бухару. Какое горе для народа, его души и будущего счастья.</p>
<p>94. Так думает, наверное, правоверный, но изменить он ничего не может. Исчезла сила прошлых лет, когда веками все по-старинному стояло.</p>
<p>95. А я почти не жалею, что меняются нравы и обычаи, ведь вместе с восточной экзотикой исчезает и пыль, грязь, бедность, скученность, болезни и память о страшных тюрьмах, о жестокости в них палачей.</p>
<p>96. Арк - типичный средневековый замок-крепость - резиденция бухарского эмира.</p>
<p>97. Его глинобитные стены сохранились не полностью, и от всех зданий внутри осталась лишь небольшая часть.</p>
<p>98. Каким же бедным и хилым выглядит так называемый тронный зал, похожий слегка на декорации в театре. Нет, трон был, и Лиля не зря себе рисует картины склоненных подданных.</p>
<p>99. Все это было. Решетка на камнях трона.</p>
<p>100. Решетка входа в тронную святыню - тоже правда. Но фальшь здесь в самом главном - в поддельном могуществе бухарского эмира.</p>
<p>101. Мы это четко ощутили, бродя по залам летнего эмирского дворца в Махасе вблизи Бухары.</p>
<p>102. Каждый зал  отделан по своему. Это - белозеркальный зал.</p>
<p>103. Baзы, подарки, часы от русского царя - рядовая коллекция туземного царька.</p>
<p>104. Да, собственно, эмир таким и был. Его дворец нам показался восточным подобием усадеб Шереметьева - та же пышность, богатство на липовой основе, штукатурка по дереву. Старинным и грозным величием уже не пахнет.</p>
<p>105. И это к лучшему! Мы это знаем, ведь чем бедней живут вверху, тем богаче и сытнее живут внизу!</p>
<p>106. Мы бродим по бухарским улицам, больше вечерами, когда смягчается жара-удушье. Ходим по безрадостным и серым бугристым переулкам и тупикам, вбирая предметы быта мусульманского Оксфорта</p>
<p>107-111.</p>
<p>112. Прощаясь с Бухарой, мы пришли к Ляби-хауз, к извечному месту отдыха бухарцев. Хорошо здесь, уютно от деревьев, воды и старинных зданий. Это - ханака Диван-беги.</p>
<p>113. А напротив - медресе Диван-беги.</p>
<p>114. И на обоих зданиях - тонкий виртуозный рисунок на фоне ярких красок...»</p>
<p>115. Сегодня, перебирая старые кадры, мы думаем, в чем правильно, а в чем неправильно судили о бухарской учености. И судим себя словами Сулейменова:</p>
<p>116. «Молодая цветущая Европа, морща носик, рассматривает из окна вагона хромую, согбенную старуху Азию. Трудно юной эгоистичной особе поверить, что морщинистая баба-яга некогда была энергичной дерзкой красавицей.</p>
<p>117. И тяжелые драгоценности, которые она вынесла к поезду на продажу, украшали когда-то ее гибкую шею и бились, сверкали на высокой груди. И звонкую речь ее слушала древняя Греция и старцы Египта».</p>
<p>118. Принимая эти слова на себя, следует вспомнить, что такие духовные училища-зубрилища были не только в Бухаре, но и в Европе. He только медресе, но и монастыри. Дело не в Азии или Европе, а в средневековом догматизме, везде ужасном.</p>
<p>119. Но ведь из монастырей, из споров богословов и схоластов и родилась европейская философия и новая наука. Пусть это был очень долгий путь логической науки.</p>
<p>120. Наверное, история считает роскошью повторяться. Один раз родившись на христианской почве, новая наука сделала ненужной схоластику Бухары в этом смысле, да и любую другую схоластику. Опоздали мусульманские медресе, опоздали партийные школы.</p>
<p>121. Однако, может они нужны и сегодня? Хотя бы для переходного обучения людей, повязанных традициями и к иному не способных? - Не знаем.</p>
<p>122. Но, глядя на эти восточные университеты, вспоминая нудность звучащих в них поучений,</p>
<p>123-124. не забудем, что живущая в них Азия - наш прямой родственник, почти прародительница.</p>
<p>125. <u>Хива - 1966 г.</u></p>
<p>126. Хива долго не покорялась русским войскам, и, даже признав себя русским вассалом, последний хан Эсфандияр продолжал строить свою столицу вплоть до 1920 г., когда был обезглавлен басмачами за измену Исламу и переговоры с красными.</p>
<p>127. Минарет Исмаила был выстроен в 1913 г.</p>
<p>128. А эта европейская почти постройка с хивинским орнаментом появилась в 1912 году.</p>
<p>129. А этот конус, в просторечии - «коротышка» - память о грандиозных планах хана построить высочайший минарет. К счастью, не хватило всех денег Хивинского ханства.</p>
<p>130. Хива оказалась в стороне от дорог и это «спасло» ее от новых кирпичных построек. И сейчас хивинцы строят дома с наклонными стенами и угловыми башенками,</p>
<p>131. и обязательным узором на деревянных дверях.</p>
<p>132. По-прежнему тянутся в Хиву на базарный день арбы с огромными колесами, истошно кричат ослы, под крышей чайханы роятся тучи мух, шумит цветисто-халатное кипение базара.</p>
<p>133. Во внутреннем городе Ичан-кале торгуют лотки под куполами ханского тима и караван-сарая.</p>
<p>134. По-прежнему ходят мусульмане в старые мечети и</p>
<p>153. медресе, даже нe притворяясь экскурсантами и радуясь на</p>
<p>136-137. сохранность всех орнаментов.</p>
<p>138. По-прежнему почитаем и храним мавзолей Пахлаван-Махмуда, богатыря, героя и поэта. </p>
<p>139. Приходят, чтобы поклониться его надгробию.</p>
<p>140. По-прежнему границы внешнего города Душан-кале не вышли за свои пределы, а старые ворота служат проездом для местного транспорта.</p>
<p>141. По-прежнему целы глинобитные стены Ичан-кале, хотя и обвалена часть стен для удобства проходов, но восстановить легко можно.</p>
<p>142. И только древние бани Ануша заброшены и молчаливы.</p>
<p>143. Да, страшно запустела ханская резиденция Куня-арк. Хозяина уже нет давно. Все осыпается, ломается, зелени, может, и не было, ковры унесены, вода в бассейне исчезла, как исчезли и красивые наложницы из айвана-гарема.</p>
<p>144. Не лучше вид из тронного зала. Только здесь Хива мертва и ясно, что Хива-столица больше не поднимется, но Хива торговая, ремесленная, мусульманская - жива».</p>
<p>145. Есть в марксистской теории такое понятие «азиатский способ производства». Оно неразрывно связано с определениями: неизменность, застойность, традиционность.</p>
<p>146. Старые среднеазиатские столицы как раз и демонстрируют нам эту застойность в течение веков.</p>
<p>147. Ну, а в XX веке? - Что ж, концентрация власти и нетерпимость официального учения остались в той же, если не в большей силе. - А это главное... Однако, поостережемся делать сразу выводы. Посмотрим новые столицы.</p>
<p>148. <u>Часть III. Новые столицы</u>.</p>
<p>149. <u>Ташкент - 1966 г.</u></p>
<p>150. Говорят, по столице судят о всей стране, но у Ташкента совсем европейский вид, </p>
<p>151. а после землетрясения, следы которого мы часто видели, он станет еще более современным. </p>
<p>152-155. </p>
<p>156. Что же осталось от Востока? - Немного. Шумит и волнуется вечный базар.</p>
<p>157. Носят женщины местные шелка. </p>
<p>158. Не пустуют недавно выстроенное медресе и </p>
<p>159. еще в сталинские времена воздвигнутый театр Алишера Навои. </p>
<p>160. И многие из ташкентцев продолжают жить вот в таких убогих глиняных домишках того же возраста».</p>
<p>161<u>Ашхабад. 1966-1976 гг.</u></p>
<p>Лишь одной ночью да утром в аэропорту ограничилось наше пребывшие здесь в 76-м году. Зато 10 лет назад мы гуляли здесь больше двух суток. По этому проспекту Свободы, бывшему Сталина, а еще раньше - Свободы.</p>
<p>162. Купались в недавно прорытом к городу Большом Каракумском канале, бродили по Ботаническому саду, </p>
<p>163. ходили в музеи и на выставки, глазели на фонтаны и памятники,</p>
<p>164. не особенно задумываясь, кому они и зачем, а просто удивляясь роскоши туркменской столицы. </p>
<p>165. 8 рядов деревьев - прохлада даже в жаркий день.</p>
<p>166. Солнцезащитная архитектура, перепевы порталов медресе и мечетей, тонкие деревянные колонки, традиционные мотивы в европейских зданиях.</p>
<p>167. Нечто подобное мы видели еще при Сталине на сельхозвыставке в Москве. И эти детские воспоминания наводят настроение праздничного представления, выставки богатства будущего.</p>
<p>Но все это лишь на главных улицах.</p>
<p>168. Десяток метров за такое здание, и начнутся редко ремонтируемые дома, а то и бараки, а еще дальше -</p>
<p>169. пустыня, времянки, кибитки, Азия...</p>
<p>170. Центральная площадь Ашхабада, города-сада, который нам так полюбился. Непохож он был на древние столицы, с их глиной и изразцами.</p>
<p>171. В глаза бросились только различия. И душу наполнял торжествующий оптимизм. Это было в 1966 году.</p>
<p>172.<u>Алма-Ата. 1976 г.</u></p>
<p>В Алма-Ату мы прилетели ночью, проспав ее в придорожных</p>
<p>173. кустах. Но этот снимок сделан еще в Домодедово, где мы переживали отложенный полет. Летишь самолетом - не забудь взять палатку! </p>
<p>174. А утром следующего дня, вышли на первую экскурсию в Алма-Ату. Ну, здравствуй снова, Средняя Азия!</p>
<p>175. Здравствуй, базар. - Фрукты дороги. Но мы не изменяем своей мечте. Загружаем сетки яблоками, дыней, грушами, виноградом, хлебом и</p>
<p>176. двигаем к центру, в парк, к музею, поглядывая на высящиеся прямо над городом Тянь-шаньские горы. Завтра нам предстоит близкое знакомство с ними.</p>
<p>177. Доходим до собора. Пожалуй, эта резная игрушка из Тянь-шаньских елей - главная достопримечательность. Спокойно выдержала страшные землетрясения.</p>
<p>178. Вечный огонь в парке - память о героях формировавшейся здесь памфиловской дивизии. Грудью защищали они кремлевские зубцы - здесь это выражено просто. Неизбежный пионерский караул вызывает почему-то стыд, а не гордость.</p>
<p>179. В Волгограде или Севастополе, где люди хранят память о тяжести военных лет, такой караул еще может быть посильным для чувств нынешних ребят, для их гордости за отцов. Но когда вечный огонь становится модой или приказом, а караул - рутинной обязанностью, то что, кроме затаптывания естественной памяти и гордости, может получиться от этих маршировок?</p>
<p>180. На главных улицах Алма-Аты остановлен транспорт, для торжественной встречи вывели школьников, служащих: «Кунаев принимает Брежнева».</p>
<p>181. Приехал он лишь к вечеру. Встречающие освобождено приветствовали, остальные без транспорта, чертыхаясь, шли пешком. Тогда мы и подумали: и здесь прогресс налицо. Раньше выезды владык тоже обставлялись очень пышно, но масштабы сегодня и расходы существенно выросли.</p>
<p>182. Нынешняя столица Казахстана, бывший город Верный, возникла более 100 лет назад, как первая опорная крепость в рывке русских колониальных войск на юг. Отсюда, с Востока до Каспия, началось «добровольное» присоединение к Европейской России среднеазиатских государств в пику английскому господству в Индии. Верный был распланирован по-военному и в своей одноэтажной части остался совсем русским городом.</p>
<p>183. Но имя Алма-Ата? Но памятник Абаю и другим казахам? Это просто фасад. Да, Абай сегодня смотрит на удивительные изменения в своем народе. Такого он себе, наверное, и представить не мог. Но разве об этом он мечтал? Разве это схоже с привольем, свободой и счастьем в родных степях?</p>
<p>184. Сзади Абая стоит дворец спорта с огромным портретом под гигантской золоченой крышей под пагоду. В другом месте, другим русским божеством смотрит лицо другого Ильича. И разве этого желал Абай своим казахам?</p>
<p>185. Да, красивы улицы Алма-Аты. Но мы уже другие. И наше удовольствие от красивого зрелища не утверждает примитивный оптимизм: в новых зданиях - новый дух! Теперь мы видим расхождение архитектурного модерна с тягуче прочной традицией восточной власти и бесправья. Ведь эти здания строились не людьми, а центральной властью. Только если раньше Тимур брал образцы и самих строителей из Ирана и Багдада, то теперь их выписывают из Москвы и Европы.</p>
<p>186. Неясная тревога возникает: красив город, отстраиваемый центральной властью. Но ведь он лишил средств и места под солнцем другой, не казенный город, который мог бы возникнуть тут, если б строился свободно, по желанию людей, их воле...</p>
<p>187.<u>Фрунзе. 1976 г.</u></p>
<p>В столицу Киргизии мы попали через неделю после Алма-Аты, после горного похода. </p>
<p>188. Автобус доставил нас на турбазу, и на пустыре за ее забором мы поставили свою палатку. Великое дело - турбаза! </p>
<p>189. А утром, по заведенному порядку, фруктовый базар, музеи.</p>
<p>190. На наше счастье, исторический музей работал. Но слишком невежественны мы были, чтобы с толком овладеть его богатством. Нас интересовала история в событиях и людях, а нам предлагали антропологию и этнографию.</p>
<p>191. А вот музей искусств был закрыт и нам остался лишь сам город, как основной музей.</p>
<p>192. Городская история совсем проста. Еще одна русская крепость Пишпек была переименована в честь родившегося здесь Фрунзе. Под стеклом хранится его родной дом. </p>
<p>193. В парке рядом - множество маленьких елок с табличками посадивших их высоких партийных товарищей - «лично» или «по поручению», как у Брежнева.</p>
<p>194. От ЦК тянется фешенебельная улица - стекло, бетон, модернистские палисадники-скверы. Дом политпросвещения, пропаганды, министерства, партшкола...</p>
<p>195. Мы поначалу удивлялись: чем ретроградней учрежденье, тем более модернистскую, более западную форму оно себе выбирает. Что это? - Разложение? Прогресс? Нет, скорей завистливость хозяев.</p>
<p>196. И еще мы осознали: именно отсталость среднеазиатских республик влечет руководство - свое отбросить, чужое перенять, да побыстрее, радикальней и решительнее. Сильной властью.</p>
<p>197. Но чем быстрее мы примемся «догонять» и разрушать свое, тем больше оснований для укрепления деспотизма, азиатчины. Нам говорят: улучшим жизнь, догоним. Но это значит: копировать Запад в технике, сохранять Восток в жизни.</p>
<p>198. Нет, нет, не слушайте. Мы сами запутались в своих сомнениях и подозрениях. Зеленый ухоженный город, мы можем лишь догадаться, что он мог бы быть самобытнее.</p>
<p>199. И выразительнее в иных условиях. И лишь грустим о неразумной спешке. А может, мы просто постарели и потому не можем всякое новое считать прогрессом?</p>
<p>200. Все новые столицы Средней Азии разительно отличны от старых. Между ними нет связи, преемственность почти фиктивна. Волей руководства воздвигнут здесь Запад по форме и в этом, как ни странно, одно из тяжких обвинений. </p>
<p>201. Как ни странно...</p>
<br/>

{% endblock content %}
