{% extends 'base.html' %}
{% block title %}Рынок и коммунизм{% endblock %}
{% block content %}



<h3>В. Сокирко</h3>
<h3>К.Б.</h3>
<h1>Рынок и коммунизм (к проблеме идеала перестройки)</h1>
<p>Знамение времени - перестройка началась, когда еще ни у кого нет полной 
ясности, что надо строить, но все знают, что изменения необходимы. Значит, 
действительно, допекло, значит, и вправду пришло время. Иначе погибнем, если не 
избавимся от коррупции и бюрократизма, равнодушия и апатии, страха и застоя.</p>
<p>В обсуждениях выделяются две системы взглядов, два подхода, обозначенные 
А.Стреляным (статья в ж-ле "Знамя", №6 за 1986г) как товарники-"купцы" и 
нетоварники-"кавалеристы". В среде экономистов же они были известны, как 
"рыночники" и "плановики", хотя первые не защищали открыто рыночный принцип 
хозяйствования, а вторые уже давно не отстаивают карточную систему взамен денег. 
Причины понятны. Рыночники-"купцы" до сих пор под страхом быть уличенными в 
"ревизионистских симпатиях" к капитализму, плановики-"кавалеристы" давно уже под 
угрозой обвинений в "левачестве". И все же до сих пор взгляды последних 
официально главенствуют, хотя все их попытки "совершенствования существующего 
социализма" оказывались несостоятельными и потеряли общественный кредит.</p>
<p>Тем не менее, страх, боязнь обсуждения крайних выводов довлеет над 
публицистикой, на мой взгляд, и поныне.</p>
<p><strong>Сталинский максимин.</strong> </p>
<p>Я согласен, что созданная Сталиным система административного, директивного 
социализма есть на деле отступление от начатого Лениным строительства коммунизма 
через НЭП, можно даже сказать: предательство духа ленинизма и реставрация 
порядков военного коммунизма. Но Сталин был прежде всего практиком и потому 
утопическую до гибельности систему последнего, давшую ему максимум личной 
власти, дополнил допущением минимума товарно-денежных, хозрасчетных, рыночных 
отношений, что позволяло населению худо-бедно жить, хозяйствам – сводить концы с 
концами в сети полутерпимых снабженческих обменных операций, а плановым органам 
иметь хоть какие-то ориентиры в народном хозяйстве. Именно этот максимин, 
названный Сталиным <u>"построенным социализмом"</u> , стал основанием под 
культом его личности.</p>
<p>Такой перекос между максимумом власти и плана и минимумом жизни и рынка мог 
поддерживаться только страхом. Известно, какие глубокие потери понесли советские 
экономисты в 30-е и последующие годы. Но и своих "нетоварников", когда они 
"зарывались", Сталин умел одергивать. Так, по воспоминаниям одного старого 
работника Института экономики (В.А.Бессонова – в личном общении), в конце 30-х 
годов группу ведущих "нетоварников" во главе с будущим академиком Островитяновым 
вызвали к Сталину. Островитянов тогда доказывал, что с построением социализма 
должны отмирать и товарно-денежные отношения, а вместе с ними – и закон 
стоимости. Разговор был краток. "Вождь народов" недовольно спросил: "Это Вы 
пишите, что при социализме закона стоимости нет?"</p>
<p>- Да, товарищ Сталин, - вынужден был ответствовать Островитянов.</p>
<p>- Как нет? А что же тогда есть?"</p>
<p>Ученые завороженно молчали и с наказом "думать" были отпущены…"</p>
<p>С тех и по сю пору закон стоимости непременно включается во все курсы 
политэкономии социализма. Но не больше. Как только "товарники" делают попытку 
развить в нашей экономике закон стоимости и сделать ее более сбалансированной и 
эффективной (например, под "флагом оптимального планирования"), так против них 
выступает "реакция идеологических обвинений". О характере ее можно судить хотя 
бы по отзыву одного из ведущих советских "плановиков" ак.Струмилина в адрес 
другого академика, единственного советского экономиста с мировым именем, 
впоследствии лауреата Нобелевской премии: "Канторович повторяет зады австрийских 
социал-оппортунистов, пытается обогатить социалистическую науку отбросами 
буржуазной апологетики…"</p>
<p>В сталинские годы такие обвинения были чреваты скорым лагерем и смертью, в 
застойные – только отстранением от эффективной деятельности. Результатом же 
стала непродуманность, нелогичность всех попыток совершенствования системы 
хозяйственного управления, провал экономической реформы.</p>
<p><strong>Врожденный страх сегодняшней критики.</strong> </p>
<p>Созданная Сталиным идеология директивного социализма ныне окончательно изжила 
себя, доведя великую страну едва ли не до духовного и физического паралича. Мне 
нет нужды доказывать эту горькую правду, ее несут многие публикации последнего 
времени. Я надеюсь, что они будут появляться и впредь. Анализ последних 60 лет 
должен войти в национальное самосознание, как бесценный опыт и уроки на будущее, 
как противоядие военному коммунизму и культу личности. И, конечно, не избежать 
обсуждения и самого запретного: природы изобретенного Сталиным строя и, что 
существенней, соотношения между принципами оптимальной, т.е. рыночной экономики 
и коммунистическим идеалом страны.</p>
<p>Без прояснения этих вопросов, каждый из нас будет топтаться перед 
решительными ответами на вопрос: "Что же делать? " От самоторможения не 
избавится даже самый решительный сторонник перестройки, ибо вечно будет 
опасаться, как бы ненароком не реставрировать капитализм, не предать идеалы. До 
тех пор общество будет ощущать "идейную правоту за "нетоварниками", а значит, 
бюрократами всех мастей. Вот пример: прекрасная статья Н.Шмелева "Авансы и 
долги" ("Новый мир", №6, 1987) доказывает крайнюю нужду в перестройке, но тут же 
связывает ее с "идеологическими потерями": "Жизнь требует от нас пойти на все, 
чтобы уже в ближайшие годы обеспечить наш продовольственный рынок… Пусть мы 
потеряем свою идеологическую девственность, существующую, кстати говоря, только 
в газетных сказках-передовицах".</p>
<p>Еще более остро и недвусмысленно проблему выбора между рыночной 
эффективностью и верностью социализму поставила Л.Попкова ("Новый мир", №5, 
1987), хотя сама от выбора уклонилась, сославшись на необходимую, мол, для 
ученого идейную нейтральность. Ссылка, конечно, надумана – даже в ее "предельно 
смелом" письме живет страх быть обвиненной в пропаганде капиталистического 
пути.</p>
<p>Зато 10 эмигрантов-диссидентов в письме "Пусть Горбачев нам докажет" 
("Московские новости" от 29.3.1987) прямо кончают советом отказаться от "ложного 
учения, приведшего страну к краху и… поискать что-либо иное". Эмигрантским 
авторам вроде совсем бояться нечего, но и они находятся в плену "культового 
мышления" и выработанных им стереотипов. Поданный ими совет отказаться от 
главных знамен страны и руководящей роли партии (под последним я понимаю не 
всевластие, не сталинский максимин, не подавление жизни, а напротив, как бы 
минимакс: минимум своей административной власти при максимуме свободного 
авторитета традиционной, избранной еще великой революцией идейной основы 
общества) – на мой взгляд, нелоялен и безответственен, грозит сломом власти и 
наступлением в стране общественной смуты и разрухи. А принимая во внимание 
значение нашей страны и ее роль в сложившемся мировом равновесии – это грозит 
даже миру на земле. Тем более что от смут и разрух не может получиться ничего 
иного, кроме возрождения нового авторитаризма в качестве единственного шанса на 
спасение от бедствий (нового Сталина или нового царя)…</p>
<p><strong>Между "Сциллой рынка" и "Харибдой застоя" </strong></p>
<p>Итак, проблема обозначена: мы находимся между двумя смертельными угрозами. 
Причем, как объяснила Л.Попкова, нам не поможет даже промежуточный, средний путь 
по рецептам западных специалистов: ни то, ни сё, нужной для выживания в мировой 
конкурентной борьбе эффективности не дает, а социал-коммунизм – профанирует. Но 
тогда получается, что выхода вообще нет, даже посередине, и правы были деятели 
последних застойных лет, когда любые радикальные изменения считали вредными и 
тормозили их изо всех сил? И значит, гибель неизбежна?</p>
<p>Но как часто бывает, именно выявление полной, даже логической безысходности 
лишь стимулирует поиски выхода, рождает догадку: одна из этих опасностей – 
мнимая. Такой мнимостью не может быть пропасть застоя, в которой гибли и до сих 
пор гибнут силы и способности миллионов людей. В этом единодушны все. Многие 
годы доказали: никакое "наведение административного порядка", 
"совершенствование" и половинчатые меры не спасают, а еще быстрее втягивают в 
воронку застоя.</p>
<p>А вот ко второй опасности, которой нас вечно пугают сталинисты, - к скрытой в 
тучах обвинений Сцилле рынка необходимо присмотреться более внимательно: так ли 
уж противоречат хозяйственные свободы и рынок идеалам социализма и 
коммунизма?</p>
<p>Компасом в штормовом море идей должно стать изначальное нравственное чувство: 
если коммунизм – наш идеал, то не может его первая ступень быть хуже 
капитализма, не может социализм не включать в себя лучшее, что развито в 
капитализме, в том числе – и принципы оптимальной (или, говоря языком 
экономико-математической науки – совершеннорыночной) экономики.</p>
<p>Убежден: стоит лишь безбоязненно вглядеться в лик этой якобы ужасной Сциллы, 
и наваждение от уравнительных заклятий рассеется, мы увидим, что никаких 
сциллиных пастей нет, что страхи перед рынком, как таковым, есть лишь порождение 
военно-коммунистической и сталинской Харибды, что до сих пор мы только кружимся 
вокруг гибельной бездны в тумане ее ложных представлений, миражей, хотя окрест 
нас расстилается свободное море свободного развития.</p>
<p>Ниже я попытаюсь описать свое понимание, естественно, никому его не навязывая 
и даже не надеясь, что мои буржуазно-коммунистические взгляды (так условно я 
назвал их для себя более 15-ти лет назад), будут кем-то приняты, как свои. Я 
только хотел бы показать, что пугают нас зря, что безнадежности в нашем 
положении нет, что сторонники кардинальной перестройки могут не питать опасений: 
именно за ними идейная правота и верность. </p>
<p><strong>Социализм и коммунизм как первоначальные понятия.</strong> </p>
<p>В человеческих языках словам "социализм" и "коммунизм" выпала доля обозначать 
идеал общественного устройства, синоним счастливого будущего общежития, земного 
рая. Но поскольку мысли и желания людей различны, то всегда различалось и 
наполнение этого идеала – у разных народов и поколений, групп и людей, даже у 
одних и тех людей в разные периоды их жизни. Такие великаны, как Маркс и 
Энгельс, Ленин – не исключения. Напротив, благодаря глубине и жизненности, их 
мышление с большой силой отражало и развивало противоречивые тенденции 
представлений о социализме-коммунизме. Понять это – значит, сделать первый и 
важный шаг в сторону освобождения от догматических наваждений. Ибо сводить 
человеческий идеал только, допустим, к национал-социализму Гитлера, или к 
коммунизму Пол Пота, или даже к "социалистическому культу" Сталина – значит, 
возводить худшую хулу на человека и его коммунизм в целом.</p>
<p>Нельзя также забывать, что немалая часть советских людей имеет религиозные 
убеждения и что идеальное будущее они представляют и называют - "земной рай", 
"Царство Божие на земле". Но как мне представляется – это лишь иное название 
того же идеала. По Конституции СССР коммунизм является высшей общей целью 
советских людей вне зависимости от мировоззренческих и религиозных различий и 
потому должен включать в себя – и атеистическое, и религиозное видение, чтобы 
быть целью всех.</p>
<p>Конечно, не различия и взгляды можно объединить, как несоединимо добро и зло. 
Думается, что и в прошлом основные споры были идентичны разногласиям наших 
"кавалеристов"-уравнителей и "купцов" – сторонников рынка и свободной жизни. И 
раньше изобретатели рационально выверенных общественных схем и утопий (можно 
назвать их "вечными конструкторами"), спорили со сторонниками естественного 
человеческого счастья (можно назвать их "вечными садовниками"). Для примера 
вспомним только известных в 19-м веке проповедников: вначале 
заговорщиков-коммунистов Бабефа и Бланки, а в конце его – их антиподов: 
марксистов-социал-демократов и анархо-коммуниста Кропоткина с его отрицанием 
государственного насилия. И здесь проявляется одна из важных исторических 
закономерностей: движение обществ и людей от исповедания грубо-уравнительного 
коммунизма к истолкованию его в духе свободы и ненасилия. </p>
<p>И мы сегодня тоже включены в это движение.</p>
<p><strong>Содержание коммунизма</strong> </p>
<p>Понятно, что общественный идеал "садовников" включает в себя все лучшее из 
желаний людей. Среди основных традиционных представлений о коммунизме надо 
назвать равенство, свободу жизни и труда, мечта о всеобщем счастье 
(изобилии).</p>
<p><u>Равенство</u> при этом никогда не толкуется как одинаковость, а скорее, 
как равенство возможностей. Великий лозунг: "От каждого по способностям, каждому 
– по потребностям" как раз и утверждает, что люди – разные, а сочетание их 
способностей и удовлетворенных потребностей должно обеспечивать наилучшее 
общественное состояние (можно сказать – оптимум счастья для всех).</p>
<p>Наряду с равенством <u>свобода</u> является вторым краеугольным камнем 
настоящего коммунизма и, конечно, тесно связана с отсутствием принуждения, 
отчуждения, наемничества, эксплуатации людей, государственного и иного 
легализированного насилия и монополий, неправды, зла.</p>
<p>Особое место в идеале занимает <u>мечта об изобилии</u> благ. Это элемент 
прямой недостижимой утопии, который с одной стороны соответствует вечным 
устремлениям человеческого духа, а с другой – обеспечивает коммунизму роль 
идеала, никогда не достигаемой цели. Как цель и идеология, коммунизм никогда не 
умрет в достижении, не исчерпает своего развития – хотя бы в смысле достижения 
полного изобилия.</p>
<p>Рост знаний и производительных сил приближает нас к осуществлению этой мечты. 
Вторая промышленная революция, ныне уже идущая в технически развитых странах, 
окончательно вытеснит подневольный, наемный отчужденный труд людей – работой 
роботов, оставив человеку только труд свободный, желанный, творческий, 
естественный. И конечно, приведет к гигантскому росту материальных и духовных 
благ. Видимо, тогда-то и возникнет материальная база коммунизма. Но и такой 
рост, конечно, не сможет опередить все фантазии спроса и вопросы духа. Так что и 
тогда у людей останется как нужда в самоограничении, так и потребность в труде 
для людей и обмен его результатами. А где обмен, там и рынок. Совокупность 
людских представлений о коммунизме, как о совершенном обществе, кроется в самой 
естественной, свободной, нравственной жизни людей. Так что же в реальной жизни 
может служить прообразом коммунизма?</p>
<p>…Мы знаем о существование в древности родового коммунизма. Еще недавно среди 
охотничьих племен, земельных общин и патриархальных деревень сохранялись 
некоторые его черты. Эти "заветы общинной старины" всегда служили духовным 
корнем народа, залогом его здоровья и свободного гармоничного развития. В 
настоящее время самой распространенной и зримой формой реального коммунизма 
являются отношения в обычной нравственной семье, построенной на любви и свободе. 
Что же касается более крупных общественных образований, несших в себе черты 
свободного будущего, то нам необходимо внимательней присмотреться к 
обыкновенному рынку.</p>
<p><strong>Рынок как несовершенный коммунизм</strong> </p>
<p>Сам по себе свободный рынок, место обмена продуктами труда – это основная 
форма безгосударственных, самодеятельных экономических расчетов людей и их 
объединений. На рынке обмениваются не только товарами, но и информацией, 
сопоставляют и сравнивают как свои-чужие интересы-потребности, так и трудовые 
затраты – свои и конкурентов, выбирают оптимальные решения. Рынок осуществляет 
максимально возможную свободу выбора и для потребителя, и для производителя. 
Именно рынок реализует для трудового человека относительное изобилие: ведь, как 
правило, здесь – все есть. Конечно, не безмерное изобилие сказочного будущего, а 
счетное изобилие в пределах заработанных средств.</p>
<p>Можно сказать, что рынок одновременно проводит и принцип социализма "по 
труду" – в области счетного количества, и принцип коммунизма "по потребности" в 
смысле разнообразия и свободы выбора. Но любое стеснение этой свободы выбора, 
любая монополия искажает и портит рынок, где свободное развитие каждого есть 
условие свободного развития всех. </p>
<p>Вышесказанное подтверждается как простой логикой, так и простыми чувствами, 
стоит только попасть на вольный, нестесненный базар, ярмарку. Искони везде 
считалось: рынок – главное воплощение народа, человечества, а если вдуматься – 
то и духа его свободы и коммунизма. Отсюда же, из базара, искони вырастали 
народные начинания и решения, вече или выборная ратуша – зачатки добровольных, 
еще не насильственных общественных учреждений. Да и само слово "товарищ" – 
товарного, рыночного корня.</p>
<p>Так обнаруживается совпадение сути рынка со свободным коммунизмом, только 
второй – идеален и совершенен, а первый – реален и в силу людских пороков 
зачастую бывает просто грязен. Эта грязь и искажения, монополии и эксплуатация, 
конечно, изживаются при устремленности людей к идеалу, а сам рынок очищается до 
идеальной модели рынка совершенной конкуренции, когда на нем присутствуют все 
возможные покупатели и производители, когда к обмену свободно предъявляются все 
продукты, к сравнению – все способности и потребности.</p>
<p><u>Коммунизм – это и есть идеальный "рынок совершенной конкуренции"</u> , а 
нынешний рынок есть несовершенный его начаток и прообраз. Итак: коммунизм 
нуждается в образе совершенного рынка, чтобы стала ясной его 
социально-экономическая суть и чтобы никто не мог его путать с казарменным 
антиподом. Реальный же рынок нуждается в коммунистическом идеале, чтобы иметь 
стимул к очищению и избавлению от социальной порчи.</p>
<p><strong>Капитализм как болезнь рынка</strong> </p>
<p>К сожалению, в нашем сознании рынок и его товарно-денежные отношения крепко 
ассоциированы с пороками монополистического капитализма.</p>
<p>Историческая реальность иная. Рынок всегда, с первобытно-коммунистических 
времен был формой экономических, свободных отношений людей и народов. Капитализм 
же возник сравнительно недавно, в условиях первой промышленной революции и 
появления машин. Он заменил внеэкономическое рабско-феодальное принуждение на 
систему наемной эксплуатации, как более свободную и динамичную. Не рынок создал 
капитализм, а научно-технический, промышленный прогресс; машины, требующие 
рабочих рук. </p>
<p>Рынок при этом был, конечно, расширен, но и искажен монополиями и 
стеснениями. Ведь, отчуждая людей от свободной работы на рынок и втягивая их в 
наемничество, капитализм препятствует свободному развертыванию и выявлению 
способностей людей на рынке, разоряет их самостоятельный труд и творчество. 
Только вторая (ныне идущая) промышленная революция и коммунистическое отвращение 
людей к наемничеству приведут рынок к изживанию капитализма и его монополий.</p>
<p><strong>Военный коммунизм</strong> </p>
<p>Однако надо прямо признать: образ свободного, совершенно рыночного коммунизма 
– не единственный и сегодня, видимо, не самый распространенный. В моменты 
общественных потрясений и революций люди чаще думают о нем, как о стерильно 
правильном, рационально устроенном государственном общежитии, как о сытой 
казарме. И этот образ до сих пор довлеет. Причем, если на Западе он многих 
ужасает, то в развивающихся странах многих он привлекает и, видимо, еще долго 
будет популярным.</p>
<p>Так же двоится смысл слова "социализм". Если свободный идеал предваряет 
социализм, демократический и рыночный по сути, то казарменный коммунизм – это 
лишь предел директивного социализма.</p>
<p>Отрицательный образ военного коммунизма так же противоположен свободному 
коммунизму, как черное-белому, но паразитирует на подмене понятий. Пользуясь 
выразительным религиозным языком, можно сказать, что происходит подмена 
Христа-Антихристом, Бога-Сатаной. Такая подмена происходит, когда рушится вера 
людей в нравственность, когда они отворачиваются от трудового, хозрасчетного 
рынка – к довольству государственной казармы. А капитализм с его разорением 
независимых трудовых людей, работающих на рынок – резко усиливает упования людей 
на государство, на военно-казарменный коммунизм.</p>
<p><strong>Государство как самовозрастающий источник насилия.</strong> </p>
<p>Известно: первобытный коммунизм подкосило государство. Откуда же взялось само 
государство?</p>
<p>Говоря все тем же религиозным языком, реальный мир лежит в грехе. В нем 
всегда появляются воры, насильники, убийцы. Если люди могут справиться с ними 
моральными средствами, не отвечая злом на зло, то сохранятся и порядки 
свободного коммунизма, а значит,- и вольного рынка! Если же нравственных сил 
воздействия не хватает, возникает нужда в полиции, судах, тюрьмах, войсках – во 
всей системе встречного, общественно признанного насилия во имя защиты от 
уголовников и внешних врагов. Появляется государство, как машина подавления, 
исполняющее свою защитную функцию. Но при этом само общество становится 
перманентно несчастным от присутствия в нем легализированного насилия. А самое 
главное: раз возникнув ради защиты общества, государство начинает заботиться о 
себе самом, расширяет сферу своего насилия, портит рынок налогами и запретами, 
пронизывает жизнь людей подчинением и отчуждением, приучает их к мечте о 
бездельной службе в сытой казарме. Так возникает и держится этот вечный 
парадокс. Но он может обернуться для народа и катастрофой, если в стране 
произойдет окончательная подмена целей, и не государство будет подчиняться 
обществу, а напротив, будет провозглашена всеобщая власть государства, когда 
страшная идеология казармы и государственного всесилия овладевает страной, 
государство в ней уподобляется раковой опухоли, стремящейся разрастись до 
подчинения себе всего.</p>
<p>А с другой стороны жизнь людей без государства сегодня также непредставима, 
любые попытки анархистского толка избавиться от него разом – обречены на провал 
и еще большее насилие. Государство нельзя отменить, оно может только постепенно 
отмирать, если люди вновь научатся сами решать свои проблемы и противостоять злу 
– сами. Если у людей будет крепнуть вера в ненасилие и власть моральных 
воздействий.</p>
<p><strong>Вера в мораль как основа современного рынка</strong> </p>
<p>Известно, какой коренной поворот в европейской истории произвела проповедь и 
укоренение ненасильственного христианства. Не без основания это учение считают 
духовной основой, выросшей на развалинах Римской империи – Европы 
самостоятельных государств, общин и людей, основой для укрепления европейского, 
а потом и мирового рынка, для рождения новой технической цивилизации.</p>
<p>Конечно, в свой черед и христианство, став государственной идеологией, 
портилось и освящало государственное насилие, но первоначальный его импульс, как 
мне кажется, не исчез до сих пор, играет немалую роль в приближении человечества 
к идеалу.</p>
<p>Замечено: чем меньше у людей свободной веры и бесстрашной готовности умереть, 
но выполнить нравственный долг, тем слабее они перед насильниками, тем больше у 
них упований на защиту и помощь государства, тем сильнее соблазн мечты о казарме 
и тем ближе процесс общественного распада. И напротив, чем сильнее свободная 
вера людей, тем выше их готовность к добровольному объединению против зла, тем 
самоорганизованней, законнее и свободней становится жизнь, совершеннее рынок, 
тем ближе люди к свободному коммунизму, даже если называют его по-иному. Думаю, 
что коммунистическая идеология, выросшая из европейского христианства, имеет 
много шансов стать одной из самых мощных духовных основ ныне поднимающегося из 
отсталости человечества.</p>
<p>Но спасет мир лишь свободная вера, а не ее казарменный антипод. Не иначе! 
Последняя –как опасная, хотя во многих революциях и неизбежная болезнь 
переходного периода (по Ленину -"детская болезнь левизны"), которой болеют люди 
и народы на пути к истине. Но для этого необходимо прежде всего силой разума 
разогнать мрак военно-коммунистических наваждений и понять, наконец, свою 
собственную веру. Только это может вдохновить людей на освобождение нашего рынка 
к жизни, на совершенствование их до уровня гораздо более высокого, чем в 
Европе.</p>
<p>Вполне соглашаюсь с Л.Попковой, что сегодня и на Западе рынок далек от 
совершенства, стеснен множеством "остатков феодализма и деятельностью всякого 
рода утопистов". Западу тоже не хватает воодушевляющей всех веры, о которой мы 
говорим. И совсем не случайно, именно США с их давними традициями глубокой 
свободной протестантской веры и с преданиями о первоначальных переселенческих 
коммунах, и именно Япония с ее почитанием общинных традиций и верностью духу 
предков – на мировом рынке неизменно добиваются положения лидеров развития.</p>
<p>У нашей страны с ее большими традициями практического коммунизма и прочной 
веры, в случае безбоязненного выхода на рыночное хозяйствование есть немалые 
шансы стать действительным лидером мирового развития.</p>
<p><strong>Учение Маркса-Энгельса о коммунизме</strong> </p>
<p>Чрезвычайно важно выяснить отношение к вопросу признанных в стране учителей. 
Ведь убеждение, что они всегда отрицали рынок и либерализм – чрезвычайно широко 
распространено, но никак не обосновано.</p>
<p>Конечно, было бы неверно и не исторично изображать Маркса и Энгельса лишь как 
мирных реформаторов. Но и рисовать их лишь как проповедников революционного 
насилия – ради установления "директивного социализма" – еще большая и более 
вредная неправда. Истина же лежит не по середине, а в том, что марксизм-ленинизм 
есть прежде всего <u>жизненное учение</u> и в разные периоды включало в себя 
разные, даже противоречивые стороны народных представлений о "светлом будущем" – 
конечно, не рабски их копируя, а соответственно перерабатывая и тем поднимая их 
на более высокий уровень.</p>
<p>Так, Маркс и Энгельс начали свое учительство со вступления в "Союз 
справедливых", но уже своим "Коммунистическим манифестом" они перетолковали его 
грубо-уравнительный идеал в духе безгосударственного существования свободных 
ассоциаций гармонично развитых людей. Правда, для переходного периода ими 
предполагалось не только сохранить, но и усилить элементы принуждения, 
планирования сверху действий людей. Но в целом, диктатуру пролетариата они 
толковали не как усиление, а как отмирание государства.</p>
<p>Попытки трактовать социализм лишь как государственную собственность и 
управление вызывали у них уничтожительный сарказм над "королевским социализмом", 
а уравнительный принудительный коммунизм получил от них навечно приставшую 
кличку - "казарменный". Такой коммунизм они характеризовали как доведенный до 
всеобщего абсурда капитализм со всеми его пороками, эксплуатацией и отчуждением 
человека. Но в то же время, в реальной своей жизни они пропагандировали 
революционное насилие, национализацию (огосударствление) предприятий и трудовые 
армии. Такое великое жизненное противоречие в их взглядах отражало противоречие 
развития Европы XIX века.</p>
<p>Не были неизменными и взгляды их соратников и учеников. Первое 
коммунистическое общество не смогло полностью принять их учение и распалось. По 
настоящему же вырастили марксизм, как великое учение и мировое движение, лишь 
социал-демократические партии западных стран, т.е. партии, сознательно 
отказавшиеся от принудительного коммунизма и в своих идеях сделавшие упор на 
демократическое их понимание. </p>
<p>Как отнеслись к этому поздние Маркс и Энгельс? В общем – положительно. И в 
этом согласии, на мой взгляд, - итог их жизни и главная суть их учения, не 
противоречащего жизни и рынку, а продвигающего их на пути совершенствования, 
очищения и перестройки. Это – так, как бы ни сбивали нас с толку эмигранты и не 
пугали сталинисты.</p>
<p><strong>Ленин как зачинатель предстоящей перестройки</strong> </p>
<p>Как известно, Ленину выпала иная судьба. Воспитанный в 
либерально-демократических традициях, один из основателей Российской 
социал-демократической партии западного типа, он всей жизнью шел навстречу 
коммунизму, как идеологии взбунтовавшихся масс не только России, но и иных 
развивающихся стран. Сначала Ленин обособил в российской социал-демократии 
большевистское течение, в годы революции – основал партию нового типа, сделал ее 
коммунистической и вечно правящей, наконец, основал Коминтерн. Сама российская 
революция наполняла его программу и действия. По работам Ленина можно видеть, 
как в них вымывалось социал-демократическое содержание в пользу 
военно-коммунистического. От тезиса 1917 г. о Советской власти, как отмирающем 
государстве типа Парижской Коммуны, в ленинских работах 1920 г. введен переход к 
всеобщему планированию, регламентации, запретам торговли и рынка, едва ли не к 
уничтожению денег, к трудовым армиям и концлагерям. И это было неизбежно.</p>
<p>Ленин только потому и был великим Лениным, что мог слушать голос масс и идти 
навстречу их грубо-уравнительным, военно-коммунистическим требованиям – даже 
вопреки собственным изначальным убеждениям. Да, он не отрицал последствия 
самодеятельности проснувшихся к активности масс с их тягой к народной расправе, 
возглавив их, и только поэтому мог повести за собой вздыбившуюся революционную 
стихию не только России, но и мира. Конечно, при этом массы навязывали Ленину 
свои уравнительные представления, они как бы говорили через Ленина с миром 
человеческой культуры-идеологии. Но это не лишало самого Ленина способности 
самостоятельно оценивать ситуацию. Как только военный коммунизм привел страну к 
разрухе, как только на краю гибели революционные массы и партия стали ощущать 
эту опасность, Ленин силой своего авторитета осуществил гигантский поворот – в 
себе, в стране, и в потенции – поворот всего отсталого мира. От принуждения и 
страха – к свободе жизни, от всеобщего планирования и огосударствления – к 
вольному рынку и разнообразию хозяйственных укладов.</p>
<p>К сожалению, этот поворот был только начат в НЭПе, до конца даже не осознан, 
потом прерван смертью Ленина и реставрацией военного коммунизма в форме культа 
личности.</p>
<p>Конечно, сталинская оценка наследия Ленина – неверна. В главном смысле НЭП 
был не отступлением, а напротив, движением страны к цивилизации, развитию 
производительных сил до уровня развитых западных стран, а потом – и на 
недостижимый для капитализма уровень, на котором, как на собственном 
производственном базисе, должна была появиться из России нэповской Россия 
социалистическая, коммунистическая.</p>
<p><strong>Отказ Сталина и его преемников от ленинского курса.</strong> </p>
<p>К сожалению, Ленин не успел сформулировать эту свою последнюю теория 
развернуто и однозначно, что и позволило Сталину произвести подмену, 
ликвидировав нормальный экономический механизм, реставрировав директивное 
планирование, фонды, карточки и лагеря. Сталин свою систему объявил построенным 
социализмом и страхом заставил поверить в это миллионы. Как именно это делалось, 
теперь известно: экономические провалы преподносились как победы, полунищенская 
жизнь – как осуществленный земной рай. Правда, при Сталине партии и народу в 
качестве еще не осуществленного идеала был оставлен коммунизм.</p>
<p>Но и он был подорван демагогической попыткой Хрущева реально построить в 
основе коммунизм еще при своей жизни, даже с указанием конкретной даты – к 1980 
г. При Брежневе о коммунизме предпочитали уже не говорить, а взамен беспрестанно 
жевали безнадежное "совершенствование" уже развитого и реального социализма. 
Страна оказалась фактически без идеалов и цели движения – и уж потому – в застое 
и начинающейся деградации.</p>
<p><strong>Что сегодня?</strong> И только сегодня мы услышали властные слова 
ленинского звучания. <u>"Наш курс – как можно больше социализма!"</u> – И стало 
ясно, что до сих пор социализма у нас недостаточно, если не просто мало, что 
социализм – не в сталинском прошлом, а в нашем собственном, после перестройки – 
будущем. И снова возникла в обществе демократическая перспектива, ибо также 
авторитетно, от имени самой Жизни, Заветов, Учения сказано: <u>"Чем больше 
демократии, тем больше социализма!"</u> </p>
<p>Пройдет же время и (я убежден) мы услышим столь же авторитетное и 
определенное согласие с жизнью: <u>"Чем больше рынка, тем больше 
коммунизма!"</u> </p>
<p>С этим страна снова обретет цель, перестройка – всем понятный смысл, а 
значит, и исторический шанс на успешное осуществление.</p>
<p>И станет понятно, что не со стыдливого и робкого разрешения служащим 
кустарничать во внерабочее время на пользу государству и себе (вроде 
полузапретительного "Закона об индивидуальной трудовой деятельности") надо 
начинать, а с широкого раскрытия инициативы и свободы работы на потребителей, на 
рынок – всех коллективов, групп, коммун, творческих людей, с реальной амнистии 
инициативных хозяйственников. Сокирко. 6.06.1987г.</p>
<p> </p>

<br/>

{% endblock content %}
