{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Том IX СРЕДНЯЯ АЗИЯ.1966-1976 гг.{% endblock %}
{% block content %}



<br/><br/>
<p>202.<u> Часть IV. Фергана. 1976г</u></p> <p>203. Увидев 10 лет назад долины Зеравшана и Хорезма, на этот раз для главной встречи со Средней Азией мы выбрали Ферганскую долину - самый древний и большой оазис трех народов сразу: киргизов на горах, узбеков в котловане, таджиков у ее горла.</p>
<p>204. Поля, селенья, снова селенья, сады и виноградники, и хлопок, хлопок, хлопок! Труд, труд, работа из года в год, из века в век. Тысячелетья...</p>
<p>205. В цепи тяньшанских и памирских гор Фергана - второе понижение после Иссык-куля, но заполненное не морской водой, а бесплодным без воды песком.</p>
<p>206. Вода здесь, в общем, есть, и не только с ближайших гор; но и от Сыр-Дарьи.</p>
<p>207. В прошлый раз мы видели Аму-Дарью, а в этот - познакомились с Сыр-Дарьей. Могучая река, водное изобилие. А выше по течению - изобилие безводной Ферганской пустыни. Для ее освоений не хватает лишь техники и человеческих рук. Даже на эту небольшую и густонаселенную долину - не хватает рук!</p>
<p>208. Близлежащие плоскогорья кажутся пустыней, но это не так. Здесь весной выпадают дожди и сеют хлеб</p>
<p>209. и, конечно, пасут скот. И не только.</p>
<p>210. Идет добыча угля, руд, нефти, перерабатывают ее на химию... Фергана - это целый отдельный мир и может жить самостоятельно, как это и было раньше.</p>
<p>211. Однако, сейчас в Фергане главное - хлопок. Пахтакор! Монокультура! Госпожа и владычица ферганцев.</p>
<p>Сентябрь - начало уборки, и везде мы видели склоненные в полях фигуры.</p>
<p>212. Заботливо поливаемые и подрыхляемые летом кусты хлопчатника нежно расцветают, и к осени его цветы оборачиваются ватными</p>
<p>213. коробочками семян. Ловкие пальцы разворачивают коробочку и срывают свою белую добычу.</p>
<p>214. И так куст за кустом, межу за межой, гектар за гектаром, быстрее и быстрее, одной, нет, двумя, тремя руками, зубами.</p>
<p>215. Пока не придет автомашина, чтоб каждый сдал свой сбор и мог разогнуться малость. Колхозники, студенты, школьники, рабочие, служащие. С середины сентября вся Фергана на поле.</p>
<p>216. Мы надеялись увидеть, как работают комбайны. Но говорят, им еще рано. Капризны и прихотливы, не то, что дешевые руки. </p>
<p>217. И было даже стыдно глядеть на согнутые спины из окна автобуса, как будто то были рабы на обозреваемых туристами плантациях. Приходилось повторять себе - мы же в отпуске, домой вернемся - пошлют на картошку...</p>
<p>218. Везет нас автобус по Фергане. Тонко ухмыляется интеллигентный шофер: «Желаете увидеть басмаческий город Коканд - пожалуйста, покажу!» И усмехается над его головой Сталин в генеральской форме...</p>
<p>219. Крутит дорога меж полей и селений. Остановки делаем лишь в крупных городах, которых здесь так много, что они порой сливаются в один.</p>
<p>220. Это - Маргелан, родина знаменитого Бабура, первого из индийских императоров - Великих Моголов. Старорежимный город. 1976 год - мимо проходят две женщины в глухих темных чадрах, однако, заснять в упор я не решился.</p>
<p>221. Истратил кадр на чайхану. С 66-го года вид чайханной публики, конечно, изменился. Халатов и чалмы стало меньше, чем пиджаков и мундиров. Однако, чай пока пьют. </p>
<p>222.  И снова мелькают придорожные кусты, дома и люди.</p>
<p>С Востока на Запад и с Севера на Юг. Мы посетили два райцентра, два областных города и, наконец, Коканд. </p>
<p>223<u>Узген</u></p>
<p>В древнюю столицу Караханидского государства, а ныне </p>
<p>224. районный центр Узген мы попали поздним вечером, в проливной дождь. И потому вместо палатки ночевали в закрытой гостинице.</p>
<p>225. Утро было неприветливым. Где-то внизу бежит Кара-Дарья. А земля пучится остатками древних жилищ, могил, размытых укреплений, давая лишь зацепку глазу, лишь повод разгуляться воображению о некогда грозной крепости на великом шелковом пути из Китая в Европу.</p>
<p>226. Дожило до нас немногое: минарет, да три мавзолея. Украшены они вязью кирпича не хуже древних мавзолеев</p>
<p>227. Саманидов или хорезм-шахов.</p>
<p>223. Конечно - это провинциальная культура. Ведь Узген был столицей небольшого государства и недолго.</p>
<p>229. Но в том-то и соль, что искусство везде искусство. И в провинциальной глуши оно может стать иной раз плодотворнее мировых столиц.</p>
<p>230. Небогат прошлым современный Узген, но мы не пожалели, что сделали сюда крюк.</p>
<p>231<u>Ура-Тюбе</u></p>
<p>«Древней его только Шахристан» - так отрекомендовал нам город зав. народным (т.е. бесплатным) музеем. </p>
<p>232. Зав. утверждал, что эти холмы над городом тоже суть древние крепости, но ничего стоящего мы там не нашли, только вытоптанные, выжженные плеши. </p>
<p>233. А вот это - раскопки в Шахристане. Но и здесь, кроме ям, мы ничего не увидели.</p>
<p>234. Конечно, это не Крым, не Греция с культурой тесаного камня, а Азия с необожженным кирпичом и глинобитными стенами. Все рушится и разрушается. Здесь жизнь уходит быстро в землю, сметая за собой следы.</p>
<p>235. И кажется, что все холмы  сложены из  глины старых построек. Череда людей берет ее и строит из нее, чтоб после бросить, все позабыть и снова взяться за прежнее.</p>
<p>236. Мобильность эта, «прогрессивность» в азиатском духе многим не нравится. Нам - тоже. И все же не забудем упрек Сулейменова: было время, и звонкую речь ее слушала древняя Греция и старцы Египта.</p>
<p>237. В какой пропасти отсталости сидит сейчас Китай! Но сколько веков его мудрость, технология, изобретательность насыщали Европу! А может, это разные вещи: мудрость и благосостояние? Изобретения и умение их эффективно применять? </p>
<p>238. Многие тысячелетия живут здесь люди, мало материальных следов от них осталось, и, тем не менее, археологи  что-то находят, разбирают нити прошлого, тянут их в будущее. В будущее вот этого самого Шахристана и Уpa-Тюбе, и Ферганы, и всей страны и мира. </p>
<p>239.  В Ура-Тюбе мы приехали ночью и по заведенному порядку вышли за его пределы, поставили палатку под каким-то деревом. </p>
<p>240. A утром оказались под старым орехом в заброшенном саду. </p>
<p>241. Яблоками и грушами этого сада мы потом два дня питались. Есть все же прелесть в бродячем образе жизни.</p>
<p>242. И вот, сбросив рюкзаки в музее и выслушав рекомендации, мы пошли на поиски обещанных архитектурных чудес. Плутали в восточных улицах с революционными названиями.</p>
<p>243. Однако, найденная огромная мечеть нас разочаровала. Реставрационные леса стоят, видимо, не один год, а за ними трудно что увидеть.</p>
<p>244. Несколько красивых деревянных айванов небольших мечетей сильно застроены и недоступны.</p>
<p>245. И только дойдя до конца города, до средневековой меж холмов дороги, мы отказались от поиска и повернули назад - просто поглазеть на старый город.</p>
<p>246. Вот он - Ура-Тюбе, еще не тронутый районной реконструкцией. Памятник старой Азии, встречи с которой мы так ждали.</p>
<p>247. Конечно, новое проникает и сюда: шифер на крышах, скорая помощь на машине, горячий хлеб в государственной лавке, но это - не самое главное.</p>
<p>248. Нам кажется, что даже когда люди переберутся в стандартные пятиэтажки нового города, они не станут богаче и свободней.</p>
<p>249. Как ни странно, но начало освобождения людей мы угадывали лишь в новых постройках старого города. В том, как люди сами, на основе опыта отцов, но по-новому красиво и удобно строят свой дом. И уж, наверное, надолго. И уж, наверное, не дадут разрушать ни грому, ни горисполкому. Бог им в помощь.</p>
<p>250.<u>Ош</u></p>
<p>251. Ош - киргизский областной город. В нем нам запомнилась причудливая гора над главной улицей и нудная блочная архитектура в остальных кварталах. </p>
<p>252. Снимать не хотелось. Лишь пару кадров для порядка. Вот река в центре города. </p>
<p>253. А над ней вместо традиционной  чайханы с тенистым двориком стоит бетонный ресторанный куб: «Не хуже, чем у людей». </p>
<p>254. Нe видим мы здесь старого, а новое построено впопыхах и неуместно. Зато когда сломают - жалеть не будут. Объект для переделки. Азия в бетоне.</p>
<p>255. <u>Ленинабад</u></p>
<p>Совсем другим нам показался древний Ходжент.</p>
<p>256. У него очень глубокая история. Еще жива в парке над Сыр-Дарьей Ходжентская цитадель. Как заняли ее когда-то русские войска на время, так и не ушли. Даже из развалин.</p>
<p>257. Две с лишним тысячи лет назад Ходжент звался Александрией Эсхоте, т.е. Крайней крепостью, поставленной Македонским у входа в Ферганскую долину.</p>
<p>258. Для него эта долина, а с ней и будущий Ходжент, была Эсхоте - пределом обозреваемого мира, его северо-восточной гранью. Дальше на север - бесплодные пески.</p>
<p>259. Сейчас Ленинабад служит южной Эсхоте для другой великой державы. Не придет ли ему пора стать западным Эсхоте для еще одной - Китайской империи? Один раз, в 1758 г., это уже было. Как будто пуп земли здесь. Но не будем гадать, лучше посмотрим сам город, а для удобства будем звать его истинным именем - Ходжент.</p>
<p>260.<u>Ходжент</u></p>
<p>На кадре центральная площадь и областной краеведческий музей в мечети-медресе. Попасть внутрь не удалось, и мы лишь обошли его кругом.</p>
<p>261. Из расспросов стало ясно, что таких кварталов в Ходженте больше нет, что, сделав Ленинабадом, его сильно перестроили.</p>
<p>262. А на этот квартал рука не поднялась, и память в камне сохранилась, а с нею достоинства Ходжентского происхождения и мудрость его истории. И это преображает.</p>
<p>263. Напротив музея стоит огромное здание под старину, под медресе. Конечно, стилизация, конечно, подделка. Но подкупает, что это крытый рынок, удобный для людей, что идут навстречу их материальным и духовным нуждам.</p>
<p>264. И выходя из его огромного зала с авоськами, нагруженными персиками и виноградом, мы, не теряя из вида купол мечети, проникаемся симпатией к древнему Ходженту, как-то сумевшему уберечь свою память - залог будущей духовной независимости. Ключ к Фергане, перекресток на великой шелковом пути, Ходжент, живет и здравствует!</p>
<p>265. Конечно, город в своей центральной части стал европейским.</p>
<p>266. Зелень, цветы, таджикская ухоженность его облагораживают для людей. </p>
<p>267. И даже тяжелой красоты постройки от сталинских, наверно, времен в цветах и на просторе не давят. Теперь и они память о прошлом, правда, близком. </p>
<p>268. Там, в Черемушках, за Сыр-Дарьей, через которую перекинут новый мост, возможно, все иначе. Но мы туда не ходили. </p>
<p>269. Вернулись к центру и толкались в уличной толпе, любуясь таджикскими девочками. Прощай, Ходжент!</p>
<p>270.<u>Коканд</u></p>
<p>Знаменитая узбекская столица сейчас лишь один из райцентров одной из пяти здешних областей, а когда-то подчинял себе Ташкент. Но в наших глазах, он стал главным зрительным фокусом всех ферганских впечатлений.</p>
<p>271. После вечерних гуляний ночевали мы, как обычно, за городом, у обочины какой-то дороги, на помидорном поле, и утром мимо грохотали телеги.</p>
<p>272. Зато встали с солнышком и примчались к музею до его открытия.</p>
<p>273. Музей во дворце последнего независимого правителя Ферганы Худояра-хана. Когда-то он был лишь небольшой частью огромного квартала ханской резиденции, выстроенной Худояром в 1875 году, незадолго до сдачи власти русским благодетелям.</p>
<p>274. Обычно русские представлялись спасителями народов от гнета кровожадных туземных правителей. В Коканде же они явились на помощь хану, осажденному своими подчиненными. Однако, результат был тот же: город взят, восстание подавлено, a спасенный хан потерял фактическую, а потом юридическую власть, а затем и резиденцию.</p>
<p>275. А дворец великолепен! Представляем, как было жаль его хану. Преобладание орнамента зелено-желтой краски выделяют Коканд в нашей памяти особым цветовым пятном.</p>
<p>276. Конечно, дворец сейчас подновляется, но эта реставрация скорее упрощает, осовременивает его под музейную бутафорию, чем выявляют прошлое.</p>
<p>277. Кокандский музей почти неотличим от типового советского музея. Здесь есть весь набор: от оленьих чучел и кремневых стрел до стахановских бригад и последних социалистических обязательств. И лишь где-то в одном из средних залов примостилась история независимого Коканда.</p>
<p>278. Увиденное нами напоминает чем-то бухарский, хивинский и даже бахчисарайский дворцы. И наверно, это получилось из-за глубокого внутреннего сродства всех наших небольших восточных ханств. Их основа - военная сила ханской дружины, басмаческой банды. От европейских ружей и восточной выносливости - их местные победы, но деспотическим, традиционно азиатским было ханское правление.</p>
<p>279. Недолговечным был рассвет кокандской власти, ее подмял под себя еще более сильный хищник. Однако власть белого царя и его губернаторов, мало что внесла нового в отношения людей. За Худояром - белый царь, за ним Сталин. Меняются хищники, их оружие, меняются дворцовые стили. Востока же суть остается.</p>
<p>280. Но не впадаем ли мы снова в грех очернительства? А ведь Коканд нам нравится. И музею мы радовались, и людям, в него пришедшим - ведь пробудившийся в них интерес к родной истории - лучший залог духовного освобождения от азиатчины, этого бездумного бега на месте. </p>
<p>281. Нет, не чернить, а хвалить нам хочется Коканд, прославлять его тенистые улицы и скверы.</p>
<p>282. Ароматные фруктовые ларьки, чайханы и шашлычные, </p>
<p>283. поэтичные могилы и архитектурные памятники,</p>
<p>284. соседство нового и традиционного в одной крепкой жизненной увязке.</p>
<p>285. Нас особенно удивили распространенность и сохранность в городе дореволюционной архитектуры псевдорусского или модернистского стиля.</p>
<p>286. Ведь Коканд не был резиденцией русских властей, однако, в эпоху капиталистической России для хозяйственного развития важно было не место пребывания губернатора или управителя, а скученность народа, рабочих рук. И вот оказалось, что старый Коканд более пригоден для самостийного развития, гражданского и промышленного строительства, чем новые губернские столицы.</p>
<p>287. Разнообразные банки, правления, союзы, училища, гимназии. Теперь в этих помещениях, увешанных мемориальным досками, располагаются советские учреждения. И, слава богу, что районный статус не дает им средств ломать старые дома для строительства современных коробок.</p>
<p>288. Старые русские кварталы в Коканде остались в наследство от короткого, но плодотворного времени, когда, лишившись звания столицы, его жителям оставили право устраивать свою жизнь по собственной воле. И они устроили ее хорошо. </p>
<p>289. Европейские улицы здесь тесно соседствуют с восточными, доброжелательно вглядываясь друг в друга и готовясь к естественному соединенью.</p>
<p>290. Ходить по восточным улицам нам было интересно и днем и</p>
<p>291. вечером, когда старинное изречение: «Мой дом - моя крепость» выглядело особенно убедительным. </p>
<p>292. Не надоедало заглядывать украдкой через открытые двери во внутренние дворики, как будто там скрывалось что-то таинственное, a не обычный советский быт, </p>
<p>293. и доброжелательно рассматривать прохожих. </p>
<p>294. Ведь традиционная одежда даже у пожилых исчезает на памяти одного поколения. Вот такая школьница старого Коканда уже не вернется, наверное, к бабушкиному наряду.</p>
<p>А впрочем, кто знает. В Ходженте мы видели, как носят девушки национальный наряд - как вызов, как самоутвержденье.</p>
<p>295. Обычно мы бродили по этим улицам в поисках какого-либо медресе или мечети.</p>
<p>296. До революции их было около трех сотен, но в гражданскую войну, во время столкновений различных революционных течений, автономистов, басмачей и прочих - многое было разбито, а в пору всяческих культурных революций разрушено до конца.</p>
<p>297. Но что дожило до наших дней - теперь сохраняется, правда, иногда своеобразно. Вот мы натолкнулись на здание знакомых форм, но выкрашенного в больничный цвет. Вывеска гласит: районное управление по ремонту сельхозтехники. Радушные хозяева приглашают посмотреть. Да, это бывшее медресе. Механические, сварочные и другие мастерские коптят сталактитовые купола.</p>
<p>298. В бывшее училище мусульманского духа, а ныне часть материального производства свозится на переработку металлолом и среди них вот эти согбенные, в чалмах изваянья. Их сняли с памятника кокандскому поэту, убитому фанатичной толпой   в начале века.</p>
<p>299. Теперь стоит памятник в сквере одинокий. Нет с ним рядом его убийц, и весь эффект пропал. Так здесь защитили добродетель, унизив тем искусство.</p>
<p>300. Мы ходим по Коканду, глазеем на Азию, щупаем ее руками, интуитивно, неизвестно зачем, как будто роемся в собственной истории, в своих истоках.</p>
<p>301. Стены старинного квартала приводят сначала к действующей мечети,</p>
<p>302. а потом к мусульманскому кладбищу. Очень выразительным нам оно показалось. Эти ровные, врытые друг в друга глиняные надгробья-саркофаги так безлики, как и захороненные под ними подданные восточного владыки. Без имени и знака.</p>
<p>303. А над ними только два больших ханских мавзолея. Каждый из них красив.</p>
<p>304. Не трудно отвлечься от серого окружения этих мавзолеев, от мысли, что величие одного обусловлено нивелировкой остальных. </p>
<p>305. И потому мы с удовольствием замечали более поздний разнобой. Добрый знак!</p>
<p>306. Кокандское кладбище демократизируется. Больше здесь не построят пышных гробниц, но не будет и единообразия и ритма серых могил. Это значит, что живут и умирают больше не подданные, а люди!</p>
<p>307. Старик идет в огромную городскую мечеть. Он входит в ее</p>
<p>308. обширный тенистый двор, а поскольку службы еще нет, то он, наверное, займется какими-то полезными в этом особом мире делами.</p>
<p>309. Было время, и мечети служили лишь пропагандистскими центрами насильственной идеологии. Сейчас другое дело: вера в Магомета - стала верой меньшинства, а поддерживать ее и сохранять, значит, защищать свое право на свободу совести и мысли, значит, растить в себе самостоятельного человека.</p>
<p>310. Да, все перемешалось в старой басмаческой столице... Под стройным минаретом разбросаны</p>
<p>311. ярмарочные ларьки и магазины.</p>
<p>312. На узких улицах с трудом разъезжаются повозка с бабаем и автомобили.</p>
<p>313. На современную, в бензиновом чаду улицу выходит кузница с тысячелетней технологией работы.</p>
<p>314. Мимо медресе спешат на занятия студенты. Идут, как ни в чем не бывало. И никому из них уже не приходит в голову мысли о разрушении старого, о тотальной переделке. Время культурных революций прошло.</p>
<p>315. Автобусы делают остановку: «Каменный мост». Но вместо древних камней сейчас через реку проложено бетонное недоразумение со звездами на столбиках - плод энтузиазма 40-х годов. Осталось лишь название. До воскрешения моста в камне далеко.</p>
<p>316. Однако, что уцелело, то сохраняется. Тянутся нити традиций, нити понимания, растет воля к действию и развитию. И постепенно Азия, возвращаясь к своим истокам, вспоминает свою давнюю звонкую речь, становится по духу, как Европа.</p>
<p>317.<u>  Часть V. Вторая встреча с Самаркандом. 1976 г.</u></p>
<p>318. Из Ферганы мы выбирались домой через юг, через горы и Самарканд, потому что стало ясно, что без повторения встречи с мировой столицей Тамерлана не будет полной наша радость.</p>
<p>319. Едем на попутках, как и 10 лет назад, в Фаны.</p>
<p>320. Дорога Ленинабад-Душанбе круто серпантином взбирается на перевал в Зеравшанском хребте. Внизу остались домики последней перед перевалом гостиницы, и лишь</p>
<p>321. памирская, давно знакомая арча сопровождает нас по склону.</p>
<p>322. Прекрасная дорога. Но тяжело гудит мотор. И неудивительно -  перевал 3378 м.</p>
<p>323. Да, пешком  здесь пришлось бы попыхтеть. И от таких мыслей сладкой кажется езда в машине.</p>
<p>324. Взобрались на перевал - и без остановки вниз, вниз, в долину Зеравшана. Спускаться пешком полегче, и потому утомительным кажется подпрыгивание в пыльном и тесном кузове.</p>
<p>325. Но вот распахнулась долина Зеравшана со своими разноцветными горными склонами - предверьем многоцветных Фан. </p>
<p>326. А вот и знакомый Зеравшан! Обедать мы заехали в Айни. </p>
<p>327. 10 лет назад мы сюда не добирались, и потому с интересов оглядываемся. Недавно ему присвоили звание райцентра. </p>
<p>328. У центральной площади - старинный минарет. Он сложен из сырцового кирпича, испытал множество землетрясений и все равно стоит почти тысячу лет. Завидное качество.</p>
<p>329. Айнинский минарет нам напоминает, что</p>
<p>330. долина Зеравшана - одна из самых древнеобжитых долин.</p>
<p>331. Она была вся в лугах и лесах и кормила массу народа. Но тысячелетия рубили лес на строительные нужды Самарканда и Бухары, сплавляя вниз по Зеравшану.</p>
<p>332. Пока не извели лес полностью, а долину сделали пустыней. Попробуй теперь, восстанови ее!</p>
<p>333. Мы катим вниз вдоль Зеравшана. Вечером будем в Пенджикенте, а к ночи успеем в Самарканд. Все складывается очень удачно. </p>
<p>334. И, как 10 лет назад, мы жадно оглядываемся по сторонам на Зеравшанские причудливые горы, на мелькающие таджикские кишлаки с их неизвестной нам жизнью.</p>
<p>335. И как в прошлый раз, мы оглядываемся, чтобы при удачном повороте увидеть снежные верхушки Фанских гор и главную вершину - Чимтаргу. Здравствуйте! Фаны! Здравствуй, наша молодость! Вот мы и вернулись, нет, не к вам, вернулись в Среднюю Азию, но как приятно, что и на вас, горы, нам удалось хоть издали посмотреть.</p>
<p>336. В Пенджикент попали на закате солнца и не узнали город. Он вырос, стал красивым, почти курортным. А через 70 км. - Самарканд. В предчувствии его мы теряем рассудительность, как будто обречены на спешку. </p>
<p>337. И потому проходим мимо музея, потом вдоль главной улицы до конца и там, остановив попутную машину, едем ночевать </p>
<p>338. на самаркандскую турбазу. Снова, снова, снова - как 10 лет назад.</p>
<p>339. <u>Самарканд 1976 г.</u></p>
<p>340-343.</p>
<p>344. Мечеть Хозрета стоит высоко на холме древнего города. </p>
<p>345. С ее ступенек отлично видна панорама города. </p>
<p>346. Здесь мы стояли ранним утром и не могли сдвинуться от благоговения. Здравствуй, любимый город! Вот мы и вернулись. Каким же ты стал за эти годы без нас? </p>
<p>347. 10 лет назад эта мечеть не была реставрирована - сейчас она блестит ухоженностью и благородной чистотой. </p>
<p>348. Да, благородством, потому что именно по уважению к предкам, по верности их заветам, по чистоте могил и памятников узнают благородство народа. </p>
<p>349. Перед нами лежал почти родной, известный в главном город. Нам не нужно бежать по нему сломя голову, чтобы все успеть, увидеть, а можно просто спокойно</p>
<p>350. пройти, куда повернет улица и прихоть желания.</p>
<p>351. Ну что ж, мы снова начали с Гур-Эмира. В прошлый раз не удалось, так в этот раз проникли внутрь мавзолея и даже в подземелье.</p>
<p>352. Постоянно влечет к себе загадка власти. Тимур - прообраз всех Сталиных, а Гур-Эмир - прекрасный образец высотных зданий.</p>
<p>353. Жестокие властители, в крови и лести, короче - мерзавцы, они становятся обычно под старость большими меценатами для великого искусства. Примеров много. Самарканд - один из самых ярких. Что это - ирония судьбы? Или Ницше прав, что красота замешана на силе власти и слабости рабов?</p>
<p>354. Этот вопрос возник у нас 10 лет назад на этом самом месте, а вот сейчас пришел ответ: «Нет, ни Тимур, ни Сталин не были создателями красоты, они всегда были и остаются лишь ее погубителями».</p>
<p>355. Да, Тимур согнал со всей Ближней и Средней Азии в свои столицы умельцев-мастеров. Он сделал их рабами. Да, вместе они соорудили самаркандские чудеса.</p>
<p>356. Но насколько больше и лучше они б сработали каждый на своем месте, в свободе и радости! И скольких прекрасных зданий лишился мир в целом, чтобы возник только один Тимуровский Самарканд.</p>
<p>357. Как и раньше, вокруг Гур-Эмира узкие и бедные восточные улицы, они иллюстрируют тезис: диктатура может лишь сконцентрировать в одной точке красоту и богатство за счет обнищания окружающего мира.</p>
<p>358. Но недаром мы в Самарканде второй раз и можем, не торопясь, пройти к менее известным, не тимуровским, а обычным старинным постройкам. В этот раз перед нами может открыться другой, не царский, а человеческий Самарканд.</p>
<p>359. 10 лет назад к этим развалинам в огородах нельзя было подойти. Сейчас они приглашают к себе удобными подходами, асфальтированными дорожками и площадками.</p>
<p>360. Развалины зовутся Ак-сарай - прибежище последних Тимуридов, уже не грозных повелителей полумира, а провинциальных управителей.</p>
<p>361. Постройки местных мастеров не выдерживают, конечно, сравнения с Гур-Эмиром или Регистаном. </p>
<p>362. Так что же? Согласимся ли мы с Ницше, что для великого искусства нужна великая сила и власть бестии. </p>
<p>363. А эти здания не признаем?</p>
<p>364. Почувствуем ли в них поэзию естественной, привольной жизни простых людей?</p>
<p>365. Старые улицы Самарканда! Мы перестали видеть в них застойную Азию, что-то чуждое и ненавистное: они стали нам близкими и родными, как улицы старых русских городов, как наше прошлое, из которого растет наше общее с Самаркандом будущее. И не консервировать эти улицы, не разрушать их под модерн нам хочется, а просто развивать их жизнь, растить. Так, как это делают сами самаркандцы, заменяя глину в стенах - кирпичом, землю на крышах - шифером, муэдзина - телевизором.</p>
<p>366. Новые улицы Самарканда! Они не кажутся нам утомительно новыми, оскорбительно европейскими. Город имел сходную с Кокандом судьбу: столица в древности, при русских он был избавлен от великих административных тягот и развивался стихийно, как было удобно самим горожанам. И потому он тенист, налит водой в арыках и товарами в ларьках (в которых, нам говорили, много бухарских и самаркандских евреев). И раньше так было, и сейчас.</p>
<p>367. И вот мы вышли к еще одному неизвестному раньше объекту - женский мавзолей Ишрат-хона (дом радости) для поздних Тимуридов.</p>
<p>368. Удивительно гармоничные развалины! Как будто время выступило здесь в роли талантливого ваятеля, вытесавшего из когда-то целого мавзолея романтический и красивый памятник прошлому. Рядом, невидимое в кругу деревьев, на кладбищенском поле стоит другое неизвестное нам чудо -</p>
<p>369. мавзолей арабского юриста Абдал-Мазеддина. Мы ощущали теплую благодарность к творцам этого маленького рая.</p>
<p>370. А ведь строился он веками. На могиле IX века построен этот мавзолей в XII веке, перестроен в XV, а в XIX веке построили вот эту мечеть с деревянными колонками. Непрерывность традиции создала это прохладное чудо культуры.</p>
<p>371. Хватит ли сил у самаркандцев развивать таким чудом <br/>
      весь город, хватит ли у нас понимания и любви для России?</p>
<p>372. В Регистане Лиля разговорилась с двумя энтузиастами: местный лейтенант Ахрон показывал любимый город своему двоюродному </p>
<p>373. брату из Казани. Лиля и Ахрон сошлись, конечно, на безудержной любви к Самарканду, и потому часть дня мы ходили вместе. </p>
<p>374. Естественно, что были на базаре. Хотелось повторить зеленое чаепитие, как 10 лет назад. Но вот наглядный урок уродливого прогресса - вместо традиционного чая, самаркандская чайхана могла предложить нам только пиво.</p>
<p>375. Господин план торговой выручки сумел испортить нам настроение. Да разве только нам? Роскошен самаркандский базар, правда, давят цены. Знать, зажиточно живут в городе, хоть и жалуются простые люди, что грабят их перекупщики продуктов, спекулянты.</p>
<p>378. Однако беспредметны эти жалобы. Рынок есть рынок, и если он дорог и если спекулятивен, то виноваты уродские условия.</p>
<p>379. Над самаркандским рынком, как и 10 лет назад, нависли грандиозные развалины соборной мечети Биби-ханым. Как будто обозначают и осеняют его.</p>
<p>380. Ахрон, как любезный хозяин, не преминул сводить нас к Биби-ханым, невзирая на идущий ремонт и запретительные знаки. Впрочем, этому никто из строителей не удивился.</p>
<p>381. Раньше мы думали, что Биби-ханым так и суждено навеки остаться руинами. Как приятно было увидеть восстановительные работы, которые идут быстро, не то, что в русских монастырях.</p>
<p>382. Пройдет немного времени, и Биби-ханым станет такой, какой ее не видали даже строители. И такая модернизация нам нравится, потому что она равна развитию.</p>
<p>383. Уже сейчас территория Биби-ханым считается музеем. Закончится реконструкция, и сюда, к каменному «корану», будут ходить толпы людей, всматриваться, вдумываться, вспоминать свою историю. </p>
<p>384. В этот день мы не пошли в мавзолеи Шах-и-Зинда, не захотели накладки ярких впечатлений. Лишь издали раскланялись с их куполами. 10 лет прошло, а мы помним ослепительное чудо Шах-и-Зинда в мельчайших деталях.</p>
<p>385. Этот же модерновый музей весь посвящен Афрасиабу - так звался в древности, при Македонском, наш Самарканд, столицы Согдианы, тогдашней Средней Азии.</p>
<p>386. Он стоит близ раскопок на старом городище. </p>
<p>387. Вот это поле с остатками валов и россыпью черепков от глиняной посуды и есть Афрасиаб. Средневековый Самарканд передвинулся со временем на запад, оставив предков мертвому полю - обычная для Азии судьба.</p>
<p>388. Теперь археологи с ней спорят и возвращают Самарканду предков. Чем дальше, тем рельефней и яснее.</p>
<p>389. И вот встают из поля стены, жилища, предметы, облик, жизнь. </p>
<p>390. На горизонте Афрасиаба виден профиль Самарканда, вершины Биби-ханым и Регистана. Отсюда видишь все: пыль, в которую Азия стирала свою тысячелетнюю историю, руины, в которые она превращала жизнь в средние века; мы сами и наши современники, которым стало нужно прошлое. Вот почему сегодня мы так тоскуем по истории и так благодарны людям, восстанавливающим прошлое даже в Азии, даже из глиняных руин и пыли. </p>
<p>391. И снова Регистан - средневековой центр торговли и ученья. До сих пор функционирует торговый купол Чор-су. </p>
<p>392. 10 лет назад нам представлялось, что Регистан был в очень хорошем состоянии. Оказывается, то не было пределом восстановления. Проделав колоссальную работу; расчистив до первоначального уровня дворы, реставраторы сделали здания выше, еще более торжественными.</p>
<p>393. Расчищены и площади рядом с Регистаном. Они превращены в сквер, начинающийся концертным залом, открытым самаркандским звездам и куполу Тиля-кари». </p>
<p>394. Дальше - парк. На огромном мозаичном панно - в символических знаках и фигурах изображены главные события жизни Афрасиаба-Самарканда. </p>
<p>395. А вдоль панно идет аллея самых мудрых и почитаемых восточных поэтов. Ведь многие из них здесь жили, и современный город гордится ими и приписывает себе их славу, пользуется их смехом и мудростью. </p>
<p>396. Восстанавливаются в Регистане средневековые худжры. Наверное, когда-нибудь они будут превращены в комнаты музеев, архивов, библиотек, хранилища культуры, открытые для всех людей. Свободных, раскованных людей, потомков современных самаркандцев. </p>
<p>397. Сотни лет этой двери, наверное. Но служит она, голубушка, до сих пор исправно. Старые испытанные вещи служат надежно. В их долголетии как бы заключен залог и нашего бессмертия. Сейчас мы, а затем - мы в образе наших детей, внуков, правнуков будем открывать эти двери...</p>
<p>398. и входить в дворики самаркандских медресе. Тогда они станут еще краше, а по своей сути те же. Такие же бессмертные, как и мы.</p>
<p>399.  Заканчивать этот долгий на 10 лет и длинный на 5 республик фильм нам хочется новым самаркандским куполом.</p>
<p>400. Чудеса солнечных тигров Шир-дор</p>
<p>401. и звезд медресе Улугбека</p>
<p>402. теперь венчаются голубым куполом Тиля-кари.</p>
<p>403. Венчаются, как фактом успешной реставрации,</p>
<p>404. как знаком живой связи с прошлым,</p>
<p>405. залогом воскрешения и вечной жизни!</p>
<p>406-407.</p>
<br/>

{% endblock content %}
