{% extends 'base.html' %}
{% block title %}ЗЭС N4: В.В.Сокирко «Опыт экономической реформы в Венгрии: шаг вперед, шаг назад»{% endblock %}
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
4</h3><font size="3"></font>
<h3>Раздел I. Наука</h3><font size="3">
<h1>В.В.Сокирко «Опыт экономической реформы в Венгрии: шаг вперед, шаг назад»</h1>
<p>(рецензия на книгу В.И.Голубовой "Система планирования и управления народным 
хозяйством в Венгерской народной республике", М., 1978г.)</p>
<p>Венгрия сегодня для экономистов кажется любопытной страной. Ходят слухи, что 
там-таки осуществлена реформа хозяйственного механизма, аналогичная той, что 
была провозглашена у нас в 1965 году и тихо погибла. И осуществлена без 
каких-либо серьезных политических изменений, при полном сохранении абсолютной 
роли партии и союза с Советским Союзом. Таким образом, если в нашей стране 
экономическая реформа не была допущена, то в Венгрии ее осуществление не вызвало 
со стороны советского руководства никакого видимого недовольства. Так что именно 
экономическая реформа в Венгрии представляется вполне приемлемым вариантом для 
нашего руководства. И если она докажет свою эффективность, то можно ожидать 
осуществление венгерского опыта и у нас. На венгерский опыт мы можем смотреть 
как на свою ближайшую перспективу, как на свой прогноз.</p>
<p>Рецензируемая книга написана специалистом и посвящена прежде всего опыту 
экономической реформы в ВНР, содержит в себе достаточное количество фактов для 
уяснения достоинств и недостатков ее проведения, а также для обоснования выводов 
по наиболее интересующей нас всех теме.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Система планирования и управления народным хозяйством ВНР за более чем 
  30-летний период прошла значительный путь развития, становления, упрочения и 
  совершенствования. В построении и функционировании этой системы отразились 
  общие закономерности централизованного планового руководства социалистическим 
  хозяйством и вместе с тем исторические, социально-экономические особенности 
  страны.</p>
<p>… В рамках непрерывного процесса совершенствования планирования и 
  управления экономикой ВНР, начавшегося в 1957 г. и продолжающегося по 
  настоящее время, в книге рассматривается реформа хозяйственного механизма 1968 
  г."</p></blockquote>
<p>Переводя вышеприведенный текст на понятный язык, мы понимаем, что система 
планового централизованного руководства экономикой возникла в Венгрии более 30 
лет назад, т.е. сразу после освобождения страны советскими войсками и прихода к 
власти коммунистов, что она прошла три этапа: переходный период становления (до 
окончательного подавления всех буржуазно-демократических элементов, разгрома 
конкурирующих партий и абсолютизации роли компартии); период упрочения, который, 
видимо, совпадает со временем насилья "клики Ракоша-Гере" и отличается 
преобладанием административных методов хозяйствования, и наконец, период 
совершенствования, начавшийся после известных венгерских событий 1956 года (так 
называемой "венгерской контрреволюции") и длящимся до сих пор под руководством 
Я.Кадара.</p>
<p>Отметим для себя эту историческую деталь: период "упрочения", т.е. наиболее 
грубого административного засилья в экономике окончился "контрреволюционным" 
восстанием населения и открещиванием новой власти от "ошибок клики Ракоши-Гере". 
И этот же 1956-1957 год послужил началом для длящегося до сих пор 
"совершенствования". </p>
<p>Чем же отличалась система управления народным хозяйством Венгрии до реформы 
1968 года?</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Ведущую роль играл Госплан ВНР, который в первые годы своего существования 
  выполнял одновременно функции планирования и управления. Впоследствии 
  сложилось разделение труда… Госплан разрабатывал народнохозяйственные планы, 
  определял их срочность, содержание, методы выполнения в форме непосредственных 
  плановых заданий. Министерства определяли и контролировали деятельность 
  органов среднего звена управления, а также… подведомственных предприятий…</p>
<p>Действовавшая система планирования и управления хозяйством обеспечила 
  достижение поставленных целей. …Возросли темпы экономического роста, 
  значительная часть нац.дохода использовалась на цели накопления, политика 
  капиталовложений предусматривала расширение производственных мощностей, как 
  правило, на уже достигнутом техническом уровне, создание новых рабочих мест в 
  промышленности при более медленном темпе роста легкой и пищевой 
  промышленности, транспорта, сферы услуг, а также сельского хозяйства. Более 
  половины прироста промышленного производства происходило за счет увеличения 
  численности занятых… Осуществлялся преимущественно экстенсивный характер 
  развития производительных сил страны…</p>
<p>Не учитывались в должной мере особенности страны: ее небольшие размеры, 
  бедность природных ресурсов, узость внутреннего рынка, что объективно 
  требовало включения экономики страны в систему международного разделения 
  труда. Стремление создать независимую производственную базу… привело к 
  раздробленности производства по многочисленным промышленным отраслям и 
  мелкосерийности, что само по себе снижало его рентабельность. Благоприятные 
  климатические условия не использовались в должной мере для успешного развития 
  с/х-производства, которое могло бы создать прочную базу для прогресса многих 
  отраслей легкой промышленности, а также играть важную роль в обеспечении 
  потребностей населения в продовольственных продуктах и их экспорта. В 
  результате возникли значительные диспропорции…</p>
<p>Различные ступени хозяйства, осуществлявшие планирование и управление, не 
  располагали достаточной информацией и объективной с народнохозяйственных 
  позиций оценкой действительных потребностей и ресурсов для их удовлетворения. 
  В сложившихся условиях обострились дефициты в народном хозяйстве, и как 
  следствие этого возросли роль и число детальных предписаний по регулированию 
  отдельных хозяйственных процессов. Директивные плановые показатели 
  распределялись без достаточного учета конкретных условий.</p>
<p>…Напряженные плановые задания, к тому же имевшие тенденцию к дальнейшему 
  волевому повышению в процессе планирования, часто были невыполнимы. В этом 
  сказалась и малая материальная заинтересованность трудящихся, отсутствие у 
  предприятий собственных финансовых фондов"(с.11).</p>
<p>В этом описании экономики "периода упрочения плана и централизации" легко 
  увидеть и наш собственный экономический портрет: в принципе некомпетентный 
  Госплан, бездействие экономических регуляторов, экстенсивный стиль развития 
  (т.е. за счет перевода средств потребления в капиталовложения и увеличения 
  числа рабочих часов) и огромные потери в диспропорциях и неэффективности.</p>
<p>В чем же заключалось "совершенствование" системы хозяйственного управления 
  в Венгрии после контрреволюции 1957 года?</p>
<p>"Первые и наиболее значительные изменения произошли в системе планирования 
  и управления сельским хозяйством. В 1957 году была отменена система 
  планирования государственных закупок и пр-ва с/х продукции на основе договоров 
  с государственными заготовительными организациями. Было ликвидировано 
  распределение директивных плановых показателей…, доводимых до с/х 
  производителей. Указанные изменения усилили роль цены, кредита и 
  государственной помощи в управлении с/х производством, привели к широкому 
  использованию методов стоимостного, финансового планирования. </p>
<p>…Начиная с 1957г. стал постепенно сокращаться круг директивных показателей 
  народнохозяйственного плана. Это позволило повысить самостоятельность 
  министерств в распределении плановых показателей по предприятиям, лучше, чем 
  прежде, учитывать отраслевую специфику, а также производственно-технические 
  условия отдельных предприятий. Одновременно в ходе выполнения плана стало 
  юридически возможным изменение ранее утвержденных плановых показателей, если 
  это признавалось обоснованным.</p>
<p>…По существу был отменен прежний порядок планирования "снизу вверх". Вместо 
  него была внедрена практика так называемого совместного планирования 
  (согласования). </p>
<p>Изменилась система показателей оценки работы предприятий. Вместо показателя 
  валовой продукции, игравшего раньше ведущую роль, стали утверждаться задания 
  по объему реализации продукции на внутреннем и внешнем рынках. Упростилась 
  система централизованного распределения материалов и продукции. В 1967г. была 
  ликвидирована чрезвычайно трудоемкая для Госплана система заявок на 
  материально-техническое обеспечение объектов капитального строительства.</p>
<p>…Продолжила сокращаться номенклатура утверждаемой в народнохозяйственном 
  плане продукция… Определенному повышению рентабельности производства и 
  усилению материальной заинтересованности способствовало создание в 1957 г. 
  фонда участия трудящихся в распределении прибыли.</p>
<p>…В 1959 г. была проведена реформа оптовых цен промышленности, которая 
  ликвидировала государственные дотации по многим видам сырья и материалов, 
  повысила рентабельность ряда отраслей промышленности… В 1963-1964гг. была 
  введена система государственных дотаций к ценам на новую продукцию в период ее 
  освоения и повышенные ставки налога с оборота на устаревшую продукцию. В 
  1964г. был введен налог на производственные фонды в размере 5% их 
  стоимости.</p>
<p>Расширилось применение хоз.расчета в сфере обращения. В 1966г. вступила в 
  силу новая система хоздоговоров. Она предоставила каждому хозяйственному 
  органу право выбора поставщика и заказчика. Условием заключения договора стала 
  фактическая потребность; были предусмотрены меры по усилению позиций 
  заказчика, повышению эластичности ценообразования в рамках договора.</p>
<p>…Следовательно, процесс совершенствования методов управления экономикой, 
  проводившиеся с 1957г. определил основное направление изменений хозяйственного 
  механизма в 1968г. и составил их органическую часть".</p></blockquote>
<p>Таким образом, мы видим, что на деле хозяйственная реформа в Венгрии начала 
осуществляться задолго до 1968 года и до 1965 года в СССР, что скорее, напротив, 
венгерские "поиски" послужили моделью для хозяйственного "совершенствования" в 
Советском Союзе. А исходным пунктом этого процесса в Венгрии послужил именно 
контрреволюционный 1956-57 год. Несмотря на прокламированное в 1957 году 
осуждение "ревизионистских взглядов" о ликвидации централизованного управления 
хозяйством, магистральным путем "совершенствования" стал именно косвенный отказ 
от административного управления, от централизованного планирования в пользу 
увеличения хозяйственной независимости предприятий, роста роли экономических 
методов влияния на хозяйственные процессы и т.п.</p>
<p>Однако процесс "совершенствования экономики" в Венгрии длился очень долго и, 
по-видимому, не без оглядки на "старшего советского брата". Естественно было 
ожидать, что при смене руководства в Советском Союзе в 1964 году и объявленный 
им курс на экономическую реформу, перед венгерским руководством открылась дверь 
для дальнейшего углубления начатых преобразований. И действительно, наиболее 
существенные отмены в системе директивного планирования в Венгрии были 
осуществлены именно в период 1966-1968 гг. (до чехословацких событий), вплоть до 
передачи части хозяйственной власти предприятиям (ибо право выбора поставщика и 
заказчика фактически было началом отмены обязательного плана; а замена плановой 
выручки предприятий от экспорта по каждому товару – таким же показателем, но по 
группе товаров, означало смягчение монополии внешней торговли).</p>
<p>Реформа 1968 г. только закрепила и развила шаги 1966 г., но при этом она 
должна была быть ограничена принципиальным сохранением системы планирования. 
Венгерский вождь Я.Кадар специально подчеркивал: "Централизованное планирование 
и впредь будет играть первостепенную роль", тем самым сохраняя принципиальную 
верность как советскому руководству, так и материальной основе своей власти (ибо 
централизованное планирование и есть хозяйственная власть центра, т.е. 
осуществление власти вождя над экономикой). Однако конкретное истолкование этого 
принципа в Венгрии 1968г. уже существенно отличается от привычного для нас 
тотального планирования.</p>
<p>Под планом венгры стали понимать лишь перспективные цели развития (на 5 лет 
вперед и дальше), добиваться которых следует лишь экономическими средствами, 
воздействуя "на экономический процесс, опираясь в основном на рыночный 
механизм". Годовые же планы стали фактически лишь перечнем правительственных мер 
косвенного воздействия на производство. Так была соблюдена верность форме 
централизованного плана по обеспечению возможности рыночного регулирования, т.е. 
произошла фактическая замена директивного плана экономическими регуляторами и 
экономическое освобождение производителей. Именно это обещала венгерская реформа 
1968 года, именно этого от нее ждали и кое-что из этих обещаний было 
осуществлено и сохранилось, в успешности именно этого процесса жаждут убедиться 
сторонники экономической реформы в Советском Союзе.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Действующая в Венгрии единая система народнохозяйственных планов не 
  представляет собой жестко интегрированной системы с распределением плановых 
  задач по конкретным годам. Увязка …и непрерывность планирования обеспечивается 
  преемственностью целей, согласованием и подчинением им системы экономического 
  регулирования.</p>
<p>…Особенность применения плановых прогнозов в Венгрии состоит в том, что как 
  по содержанию, так и организационно они неотделимы от всего процесса 
  планирования… и используются при формировании концепции перспективного плана, 
  целей и задач экономической политики планового периода.</p>
<p>…Применение межотраслевого баланса усилило внимание к стоимостным, 
  макроэкономическим взаимосвязям, в отличие от традиционного метода, 
  основанного на взаимосвязанном использовании натуральных и частных 
  взаимосвязей(с.72).</p>
<p>…Становится правилом, что оперативное вмешательство в хозяйственные 
  процессы и деятельность предприятий обоснованно до таких пределов, до каких 
  компетентный центральный орган способен оценить последствия своего 
  вмешательства и нести за него всю меру ответственности, включая 
  материальную(с.86). </p>
<p>…Венгерские предприятия – новый тип интеграции: они созданы на договорных 
  началах. Различаются "обязательные" объединения, образуемые по указанию 
  компетентного министра, и "добровольные", возникающие по инициативе самих 
  предприятий, но с санкции министра. Те и другие объединяет предприятия, 
  имеющие почти полную самостоятельность, ограниченную кругом вопросов, 
  добровольно переданных для координации Совету директоров. Этот орган руководит 
  деятельностью объединения по поручению входящих в него предприятий. Последние 
  обладают правом юридического лица, самостоятельно рассчитываются с госбюджетом 
  и третьими лицами. Для венгерских предприятий характерно согласование 
  совместной деятельности в области технического и инвестиционного развития, 
  закупочно-сбытовой деятельности и отсутствие единых финансовых фондов. Этим 
  обусловлены возможность и право вступления любого предприятия в одно или 
  несколько объединений различного профиля: производственного, торгового, 
  внешнеторгового и т.п. </p>
<p>…По существу это форма акционерного общества, образуемая 
  предприятиями-учредителями на договорной основе (но с санкции соответствующего 
  министра) из паевых, в том числе имущественных взносов. В зависимости от их 
  размера каждое предприятие-учредитель участвует в распределении прибыли или 
  убытка, а также голосов в Совете директоров (с.92).</p>
<p>…В рамках хозяйственного механизма, введенного в 1968г., особенно 
  расширился круг решений, касающихся текущего производства и оборота продукции. 
  Самостоятельность предприятий ограничена в этой области только доведением до 
  них относительно небольшого числа контингентов на производство, реализацию или 
  закупку наиболее важной или дефицитной продукции, а также указаний, связанных 
  с выполнением обязательств по межгосударственным соглашениям (с.95) 
".</p></blockquote>
<p>Как известно, второй столь же важной стороной экономического регулирования 
является правильная политика ценообразования. В этой области реформа 1968г. 
также предусматривает большие улучшения в сторону образования гибких, 
равновесных, т.е. оптимальных цен.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Задачи совершенствования ценообразования, проводимые с 1968г., 
  предусматривали формирование новой системы оптовых цен, которая должна давать 
  правильную информацию и ориентиры, касающиеся условий экономического развития, 
  способствовать рациональному использованию ресурсов, ускорению технического 
  развития, достижению равновесия между предложением и платежеспособным спросом, 
  формированию современной и эффективной структуры производства, преодолению 
  разрыва между производственными и внешнеторговыми ценами и их постепенному 
  приближению к уровню и пропорциям цен международного рынка. Соответственно 
  новые цены должны формироваться под совместным влиянием трех факторов: 
  общественно необходимых затрат, составляющих основу цены; спроса и 
  предложения; государственных преференций.</p>
<p>…С 1968г. действует так называемый смешанный механизм цен, который включает 
  твердые (фиксированные), максимальные, лимитные и договорные ("свободные"). 
  Цены первой, второй, а также лимиты третьей категории прямо фиксируются 
  государством. Конкретные цены в рамках лимитов и договорные цены… в принципе 
  определяются свободным соглашением сторон на основе централизованно 
  установленных правил. Доля каждой категории цены в производстве и розничном 
  товарообороте определяется правительством ВНР, которое может изменять ее в 
  соответствии с задачами политики.</p>
<p>Доля отдельных категорий цен в производстве и розничном товарообороте в 
  1971г. </p>
<p>
<table align="center" border="0" cellpadding="3" cellspacing="0" width="100%">
<tbody>
<tr>
<td>Сфера действия</td>
<td>Твердые</td>
<td>Максимальные</td>
<td> Лимитные</td>
<td> Договорные</td></tr>
<tr>
<td>Оптовые цены, % к стоимости производства </td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Добывающая промышленность</td>
<td>30</td>
<td>40</td>
<td>2</td>
<td>28</td></tr>
<tr>
<td>Обрабатывающая промышленность</td>
<td>3</td>
<td>16</td>
<td>3</td>
<td>76</td></tr>
<tr>
<td>Сельское хозяйство</td>
<td>59</td>
<td>10</td>
<td>19</td>
<td>12</td></tr>
<tr>
<td>Розничные цены, % к общему объему оборота </td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td>Государственная розничная торговля и 
        <p>свободные рынок </p></td>
<td>20</td>
<td>30</td>
<td>28</td>
<td>22</td></tr></tbody></table></p></blockquote>
<p dir="ltr">     Таблица наглядно демонстрирует ту степень 
реальной экономической свободы, которая была предоставлена венгерским 
производителям. Если считать, что первые две категории – это государственные, 
фиксированные цены, а две последние определяются главным образом соотношением 
спроса-предложения, т.е. рынком, то по розничной торговле видно, что свобода 
была предоставлена лишь половине экономики, что реформа 1968 года не только 
закамуфлирована плановой терминологией, но и сама по себе была далеко на полной, 
а скорее являлась классическим примером "половинчатой" реформы.</p>
<p>Эта половинчатость сказывалась и в том, что с самого начала реформы за 
государством было оставлено право вмешиваться в производство "в отдельных 
случаях". </p>
<p>Пленум ЦК партии прямо указывал, что не исключает, а напротив даже "требует 
от социалистического государства применения таких административных мер 
(разрешений, запрещений, инструкций), которые оказывают прямое воздействие на 
экономическую деятельность предприятий.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Кроме того, в интересах общества, когда с помощью иных средств желаемая 
  цель недостижима или достижима не полностью, в отношении государственных 
  предприятий могут применяться распоряжения, т.е. непосредственные указания 
  индивидуального характера относительно их хозяйственной 
деятельности".</p></blockquote>
<p>Дальнейшая жизнь показала, что такая "лазейка", оставленная самим себе – 
верный путь к возвращению государству его тотальной экономической власти, к 
прямому администрированию в хозяйстве. Половинчатость, противоречивость (когда 
введение рыночного регулирования выдают за совершенствование принципов 
планирования) и лазейки для реставрации экономического администрирования – вот 
несомненные минусы экономической реформы в 1968г. в Венгрии.</p>
<p>Тем не менее она была проведена и на первоначальном "порыве освобождения" 
дала несомненные положительные результаты, среди которых – открытое 
провозглашение важной роли рыночного регулирования и "экономического 
соревнования между предприятиями.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Устанавливался принцип свободного выбора поставщика и заказчика, наиболее 
  экономичного канала реализации или закупки продукции и средств производства, 
  возможности партнеров непосредственно договариваться об условиях поставок и 
  ценах в пределах, определенных государственным регулированием цен…</p>
<p>…Пленум ЦК ВСРП указал на необходимость обеспечения "в интересах народного 
  хозяйства и потребителей большую, чем до сих пор, роль экономического 
  соревнования между социалистическими предприятиями, побуждать их соревноваться 
  на рынке… Целесообразно сделать производство товаров не только на одном, 
  находящемся в монопольном положении предприятии, но и на других 
  предприятиях".</p></blockquote>
<p>Далее, при уточнении смысла "экономического соревнования" упоминался и такой 
вид, как соревнование "торговлей производителей на рынке и частной торговлей", 
что окончательно убеждало, что речь идет именно о поощрении экономической 
конкуренции – необходимейшего компонента здорового рынка.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"За три года после введения реформы… эффективная хозяйственная деятельность 
  позволила лучше увязать производство и потребление. В результате реализация 
  готовой продукции и национальный доход выросли больше, чем производство. 
  Хозяйство стало более уравновешенным (с.34).</p>
<p>…Происходило относительно равномерное и более быстрое, чем планировалось, 
  увеличение национального дохода. Среднегодовой темп роста его производства 
  составил 6,2% против 5,5-6% по плану. В результате национальный доход 
  увеличился на 35%. Производительность труда в отраслях материального 
  производства выросла на 33%, объем производственных фондов – на 41, 
  эффективность общ.производства – на 20-21%, за счет этого фактора было 
  получено около 60% прироста национального дохода. Производство нац.дохода в 
  расчете на одного работника повысилось за пятилетие на 35-36% при снижении 
  фондоотдачи на уровне народного хозяйства на 1%...</p>
<p>…В результате в четвертой пятилетке Венгрия приблизилась и даже несколько 
  превзошла среднегодовой темп роста производительности труда в странах СЭВ… 
  Позитивные сдвиги в структуре производства в определенной мере повысили 
  конкурентоспособность венгерской промышленной продукции… Внешнеторговый оборот 
  страны в сопоставимых ценах увеличился в 1,5 раза больше, чем национальный 
  доход (стр.57) ".</p></blockquote>
<p>Но вместе с ожидаемыми успехами выявились и негативные результаты. Некоторые 
из них были неожиданными: сильный инфляционный рост мировых цен в сочетании с 
медлительностью повышения цен на венгерский экспорт привели к большим потерям в 
торговле с западными странами. Другие минусы легко было предвидеть. Так, один из 
главных мотивов, по которым, предоставляя предприятиям свободу текущей 
деятельности, сразу же ограничивали их самостоятельность в перспективном 
планировании – было опасение того, что работники и руководители, не являясь на 
деле полными собственниками предприятия, будут заботиться лишь о текущей прибыли 
(ведь в любой момент работник может уйти на другое предприятие).</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Пленум ЦК ВСРП указывал: "Закономерное стремление к повышению роли прибыли 
  на предприятиях может затмить у некоторых перспективные задачи развития, может 
  вызвать вредную тенденцию к погоне за прибылью в текущий момент, к 
  игнорированию будущего.</p>
<p>…В тех же случаях, когда коллектив проявляет стремление улучшить свое 
  положении за счет интересов общества, против этого следует выступать самым 
  решительным образом. В борьбе с подобными явлениями должны играть важную роль 
  вышестоящие, контролирующие органы(с.30) ".</p></blockquote>
<p>Кстати, это обстоятельство – один из главных недостатков и югославской 
экономической системы. Там тоже приходится вмешиваться центральным органам и 
самой партии, лишь бы удержать коллективы от "грабежа" собственных предприятий. 
И, кажется, что порок этот неустранимый, ибо рабочие в принципе – свободные 
рабочие, а не владельцы, закрепощенные своей собственностью, своим "делом". 
Истинным владельцем может быть или государство, или частный 
собственник-акционер.</p>
<p>В Венгрии собственник – государство и потому распределение большей половины 
капиталовложений – централизованно. В первые же годы реформы предприятия стали 
стремиться к максимальному использованию централизованных капиталовложений, 
экономя свои собственные средства.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Инвестиционные затраты превышали запланированный уровень… При этом в 
  течение планового периода капиталовложения предприятий, осуществлявшиеся с 
  государственной помощью, росли быстрее, а за счет собственных средств – 
  медленнее.</p>
<p>…Наряду с другими причинами это привело к тому, что баланс централизованных 
  капиталовложений на четвертую пятилетку… оказался чрезвычайно напряженным. 
  Кроме того, сверх плановых наметок началось строительство еще нескольких 
  крупных инвестиционных объектов. Такая напряженная программа капитального 
  строительства не учитывала в должной мере наличия строительных мощностей, а 
  также усилившейся активизации инвестиционной деятельности хозяйственных 
  органов (с.79).</p>
<p>Недостатком планирования, как отмечали венгерские экономисты, оставалось 
  превышение на 10% запланированных предприятиями капиталовложений по сравнению 
  с заданиями плана. Последнее обстоятельство, однако, предоставило банковским 
  органам большие возможности удовлетворять только те заявки, которые отвечают 
  принципам кредитной политики (с.99) ".</p></blockquote>
<p>Однако еще большей неприятностью оказались экономическая слабость и 
малопривлекательность крупных венгерских предприятий, т.е. главной "опоры 
социалистической экономики". Положение о том, что чем крупнее предприятие, тем 
больше у него возможности организовать рациональное и дешевое производство, в 
практике экономической реформы не подтвердилось. Влияло то обстоятельство, что 
небольшие предприятия быстро находили выгодные виды продукции, перестраивались 
на продажу товаров по договорным повышенным ценам. Крупные же предприятия 
выпускали продукцию по большей части с твердофиксированными ценами и потому не 
могли обеспечить своим работникам быстрый рост зарплаты. Начался отлив рабочих с 
крупных предприятий на небольшие, работающие на рынок. </p>
<p>Конечно, это естественная реакция экономического организма на половинчатость 
провозглашенной в 1968г. реформы. Избавиться от этой болезненной реакции 
следовало бы переводом и крупных предприятий с их продукцией на рыночные рельсы, 
т.е. логичным завершением реформы. Однако решение венгерского руководства было 
иным.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Х съезд ВСРП высказался за более последовательное осуществление принципа 
  социалистического распределения по труду. Учитывая проявившуюся в ходе 
  хозяйственной практики текучесть рабочей силы, в частности, стихийный переход 
  части рабочих государственных предприятий в кооперативные и даже частные, где 
  оплата в ряде случаев выше, съезд высказался за то, чтобы в зависимости от 
  получаемой прибыли усилить централизованное определение ее роста. Съезд дал 
  директиву разработать мероприятия, которые защищали бы интересы кадровых 
  работников предприятий (с.35) "</p>
<p>Ноябрьский пленум ЦК ВСРП (1972) принял решение… об определенном ослаблении 
  связи роста средней заработной платы работников предприятий с прибылью в тех 
  областях хозяйства, где формирование прибыли не могло вследствие объективных 
  причин отражать действительных усилий по повышению эффективности труда и 
  удовлетворению общественных потребностей (например, в энергетике, в сфере 
  услуг и т.п.)</p>
<p>…Пленум указал на то, что среди основных категорий трудящихся, как правило, 
  заработки рабочих, особенно на крупных государственных предприятиях, в 
  последние годы повышались относительно медленно. Рост розничных цен на часть 
  потребительских товаров также чувствительно сказался на уровне жизни 
  значительной части трудящихся. </p>
<p>…Пленум постановил принять в централизованном порядке ряд неотложных мер по 
  повышению в среднем на 4-5% доходов трудящихся, живущих на заработную плату, в 
  том числе рабочих и специалистов государственной промышленности, а 
  строительной промышленности – на 6%... Пленум дал указание разработать 
  тарифную сетку для квалифицированных рабочих, которая должна была стать 
  составной частью действующей тарифной системы… что за одинаковый по качеству и 
  количеству труд квалифицированный рабочий должен получать равную заработную 
  плату независимо от того, в какой отрасли он работает, на крупном или мелком 
  предприятии, в государственном, кооперативном или частном секторе (с.40) 
".</p></blockquote>
<p>Таким образом, уже через 4 года после провозглашения венгерская экономическая 
реформа 1968 года была свернута в одном из самых главных своих аспектов – вместо 
тесной связи заработной платы с прибылью, с эффективностью труда, вновь был 
утвержден "социалистический принцип оплаты по качеству и количеству труда" вне 
зависимости от результатов труда. Реформа только еще начинала действовать в 
направлении перестройки хозяйства, перехода на более эффективную экономическую 
структуру, выявления и устранения (разорения) нерентабельных предприятий (в 
основном, государственных, что вполне понятно). Именно в этой перестройке и 
заключался самый благодетельный, хотя и трудный результат. Но именно такой 
перестройки испугалось венгерское руководство и дало "отбой". Даже странно, 
зачем было нужно вообще затевать реформу? Неужели, по недомыслию?</p>
<p>По-видимому, венгерское руководство рассчитывало, что экономическая реформа 
ничего существенно не изменит ни в структуре хозяйства, ни в структуре 
экономической власти, а только подхлестнет работников в деле "выполнения высших 
указаний". Возможно, в этом их убеждали и экономические советники, стремясь 
побыстрее протолкнуть "осуществление реформы". Если последняя догадка верна, то 
эти экономисты оказали плохую услугу и партии, и самой реформе. Ибо лучше не 
начинать, чем обречь реформу на заведомую неудачу и подорвать всякие надежды на 
будущее. Нельзя начинать реформу, не представляя, к какому результату поведет ее 
последовательное осуществление: свободная, рыночная экономика, где только 
эффективность определяет соотношение государственного и частного секторов, где 
планирование возможно лишь в качестве прогнозирования, а управление экономикой – 
лишь как косвенное экономическое регулирование.</p>
<p>Такой переход совсем не означает отказа от социализма, но, несомненно, 
означает изменения ныне существующих экономических порядков, отказ от ныне 
существующей сталинской модели социализма. И у югославских коммунистов, и у 
шведских социал-демократов гораздо больше оснований называть свою систему 
социализмом, чем у сталинистов, если оглянуться на те идеалы, которые были 
провозглашены классиками социалистических учений в прошлые века.</p>
<p>Еще существеннее вопроса о "верности социализму", проблема сохранения 
абсолютной власти партийного руководства. Экономическая реформа прямо требует 
отказа руководства от большей части своей экономической административной власти. 
Но в дальнейшем (не сразу), она же потребует отказа и от части социальной власти 
(так в Венгрии реформа потребовала отказа в повышенной зарплате работникам 
крупных предприятий – одной из главных опор партии), потребует перехода к 
демократической системе правления. Конечно, переход от экономической реформы к 
политической может затянуться на долгие годы, но, тем не менее, он неизбежен. И 
это надо понимать, приступая к экономическим преобразованиям.</p>
<p>Вернемся к описанию понятия осуществления экономической реформы в Венгрии. 
Отказ от принципов реформы в области заработной платы был только началом и 
потянул за собой и другие изменения. Так была взята под плотную 
правительственную опеку крупная государственная промышленность. Далее был 
снижен, а в ряде случаев просто снят налог на производственные фонды, что 
означало еще один важный пункт отказа от принципов реформы.</p>
<p>Однако чтобы обеспечить необходимый рост заработной платы работникам крупной 
госпромышленности, этой "гвардии венгерского рабочего класса", мало было отказа 
от налога с фондов. Были приняты усилия нейтрализовать "разрушительное" действие 
реформы в самом главном ее пункте – в ценообразовании. </p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"С 1968г. венгерским предприятиям дано право самостоятельно изменять по 
  централизованно устанавливаемым правилам цены примерно на 40-50% объема 
  реализуемой продукции.</p>
<p>Повышение оптовых цен в начале реформы обосновывалось стремлением 
  приблизить их к общественно необходимым затратам. Это выразилось, в частности, 
  в централизованном разовом повышении на 8% общего уровня оптовых цен 
  промышленности в 1968г., а также в неоднократном повышении государственных 
  закупочных цен на сельскохозяйственную продукцию. Соответственно повысились 
  оптовые цены на ряд важных видов промышленной и с/х продукции. Рост розничных 
  цен (за 1968-72гг. – в 1,5 раза по сравнению с ростом на 0,6 раза за период 
  1957-67гг.) также частично обосновывался приближением к общественно 
  необходимым затратам (с.106)</p>
<p>…Предприятия, выпускающие продукцию, на которую распространялись более 
  подвижные формы цен, в основном средние и мелкие, часто находящиеся в 
  кооперативных связях с крупными предприятиями, могли отражать повышение 
  издержек в ценах своей продукции. В то же время крупные предприятия, 
  выпускающие, как правило, конечную продукцию по государственным ценам, не 
  смогли сделать этого и вынуждены были либо покрывать такие расходы из своей 
  прибыли (например, отдельные крупные машиностроительные предприятия 
  затрачивали на это 10-15% своей прибыли), либо обращаться к государственной 
  помощи (с.107) "</p></blockquote>
<p dir="ltr">Государственная помощь – вот главный ответ руководства на последствия 
объявленной им самим реформы. Вопрос о необходимости государственной помощи 
сложен в условиях непрекращающейся инфляции во всем мире ("цены росли как до 
реформы, так и в годы реформы"). Но очевидно, что государственная помощь не 
должна демпфировать регулирующей роли цен, их структурообразующего влияния. В 
Венгрии же государственные дотации стали служить именно средством нейтрализации 
и противодействия указаниям рынка.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"В условиях проявляющейся тенденции к росту оптовых и розничных цен 
  поддерживание их планово-стабильного уровня требовало значительных бюджетных 
  расходов. Государственные дотации к оптовом и розничным ценам за 1968-1973гг. 
  составили около 10 млрд. форинтов, а к импортным ценам – 13млрд. фор. Но 
  ежегодно растущие дотации к импортным ценам покрывали примерно 70% 
  дополнительных расходов, связанных с их повышением, и составили в 1974г. около 
  9% всех бюджетных расходов.</p>
<p>…Результатом увеличения бюджетной помощи стало сокращение доли 
  централизованного чистого дохода, а следовательно, возможностей 
  государственного влияния на деятельность хозяйственных организаций</p>
<p>На основе решений ноябрьского (1972г.) Пленума ЦК ВСРП… для усиления 
  стабильности лимитных и особенно договорных цен была введена новая система 
  обязательных договоров о ценах между предприятиями, находящимися в постоянных 
  производственных (кооперационных) и торговых связях. Предприятия обязаны 
  заключать ценовые договоры сроком от 2 до 5 лет и представлять их в 
  Государственный комитет материалов и цен. Последний, анализируя договоры, 
  разрешает или запрещает повышать цены в зависимости от обоснованности… 
  Расширился круг продукции со свободным ценообразованием, на которую 
  распространялось обязательство получения от компетентного ценового органа 
  предварительного разрешения на повышение цены. Усилился регулярный 
  государственный и общественный контроль за ценообразованием хозяйственных 
  организаций, особенно в сфере оптовых цен (с.109).</p>
<p>…Вместе с тем неоднократное и значительное повышение оптовых цен привело к 
  тому, что их уровень оказался выше уровня розничных цен. Вследствие этого, 
  например, в 1976г. сумма дотаций к розничным ценам и тарифам на услуги 
  примерно на 3% превысила сумму налога с оборота, что вызвало много проблем" 
  (с.112).</p></blockquote>
<p>Таким образом, и в области ценообразования произошел отход от принципов 
реформы – не только косвенно, с помощью государственных дотаций, но и прямым 
отказом от свободных (договорных) цен. Фактически, от последних остается только 
название, раз каждое изменение цены должно получать разрешение в государственном 
Комитете. Впрочем, отмечается и прямое сокращение доли договорных цен в 70-е 
годы. Так в 1976 году уже около 70% расходов населения шло на приобретение 
товаров, цены которых строго контролируются государством". </p>
<p>Отступление от реформы в области зар.платы и ценообразования не могло не 
вызвать такого же отступления и в остальных ее сферах. И действительно, начиная 
с 1970 - 72гг. в решениях партийного руководства начинает вновь 
пропагандироваться "усиление единого централизованного управления", которое, 
якобы, не противоречит хозяйственной самостоятельности предприятий… Вновь 
поднимаются и ставятся задачи усилить "научную обоснованность планов", 
использовать не только стоимостные, но и натуральные показатели плана (как 
известно, планы в натуральных показателях требуют для своего выполнения прежде 
всего административных методов управления экономикой). </p>
<p>Наконец, было сделано прямое признание о том, что управлять "социалистической 
экономикой" лишь косвенными, экономическими методами – невозможно:</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Практика хозяйственного развития Венгрии показала, что решение неотложных 
  хозяйственно-политических проблем, в частности, связанных с улучшением 
  сбалансированного экономического развития, нельзя обеспечить исключительным 
  использованием средств экономического регулирования. Необходимо также 
  применение непосредственных методов централизованного управления хозяйством 
  (с.82) ".</p></blockquote>
<p>Здесь можно регистрировать начало отказа от главного знамени реформы 1968г., 
возвращение к прежнему, дореформенному состоянию, с той же "стабильностью", но 
теми же проблемами и той же неэффективностью. Вновь во главу угла выдвигают 
определение "общественных потребностей" (вместо изучения и прогнозирования 
рынка). Вновь было признано необходимым государственное вмешательство даже в 
текущее (годовое) управление:</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Вместе с тем разработка и выполнение 4-го пятилетнего плана показали, что 
  среднесрочный план… не всегда оказывал действенное влияние на хозяйственные 
  процессы. Одним из проявлений этого было стремление предприятий располагать 
  большим числом занятых и большим объемом инвестиционных средств, чем было 
  возможно и необходимо. Предприятия связывали увеличение своих доходов прежде 
  всего с расширением объема производства. Это в определенной мере тормозило 
  переход к интенсивным методам ведения хозяйства… что обусловило необходимость 
  усиления централизованных начал в организации планирования, разработки 
  конкретных программ действий (с.69) ".</p></blockquote>
<p>Вновь было признано необходимым фондированное распределение продукции: </p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"На наиболее важную и дефицитную часть продукции сохранилось 
  централизованное фондированное распределение (с.69)… Все решения в этой 
  области выносятся правительством, а выполняются Государственным комитетом 
  материалов и цен, применяющим различные методы центрального регулирования, 
  включая государственную монополию (с.140) ".</p></blockquote>
<p>Вновь возлагаются надежды на электронно-вычислительные машины и 
экономико-математические методы планирования, которые, мол, смогут улучшить 
централизованное планирование и распределение и без обращения к экономическим 
методам, к рынку.</p>
<p>Наконец, вновь провозглашаются призывы способствовать техническому прогрессу, 
не тормозить его, сокращать удельные затраты всех ресурсов, улучшать 
технико-экономические показатели венгерской продукции и ее конкурентоспособность 
на мировом рынке. Появление этих знакомых призывов в партийных решениях как раз 
и свидетельствует о том, что хозяйства снова их не решают сами добровольно, без 
нажима сверху, что "дело" – снова плохо! </p>
<p>Конечно, здесь мы почти не касались внешнеторговых трудностей Венгрии в 
послереформенный период, которые в значительной мере поторопили отказ 
руководства от самой реформы. Однако эти трудности совсем не были одной из 
причин этого отказа, шага назад, и почти зачеркнувшие значения шага вперед, 
сделанного в период 1966-68гг. Внешнеторговые трудности, как и все иные, можно 
было преодолевать по- другому – на пути углубления и расширения самой 
экономической реформы, на пути неуклонного повышения эффективности производства, 
укрепления рыночных начал, освобождения хозяйства от принципиально 
некомпетентного государственного вмешательства. Но для этого нужна была немалая 
решительность.</p>
<p>Венгерское руководство, несомненно, проявило в 60-е годы добрую волю для 
решения экономических проблем страны на пути кардинальной хозяйственной реформы. 
Возможно, что внутренним импульсом для этой доброй воли служили уроки краха 1966 
года и боязнь их повторения на путях безудержного администрирования. Однако 
когда реформа была- таки провозглашена и начала осуществляться, переделывая 
хозяйство на свободный, эффективный, рыночный лад и уже реально лишая 
руководство тотальной власти над экономикой, это же самое руководство повернуло 
назад. Доброй воли и воспоминаний о 1956 годе оказалось недостаточно.</p>
<p>По-видимому, без активного воздействия общественного мнения, без ясно 
выраженной общественной воли у партийного руководства никогда не хватит "доброй 
воли" и решимости провести настоящую экономическую реформу.</p>
<p>Как мне кажется, в этом-то и заключается главный урок попытки проведения 
экономической реформы в Венгрии в 1968-1972гг.</p></font>
<br/>

{% endblock content %}
