{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Сибирь православная и советская{% endblock %}
{% block content %}



<br/><br/>
<p>1-2.</p> <p>3. <u>Старая столица</u> К сожалению, весь день лил дождь и затемнил фотопленку. Так выглядит Иркутск в десяти минутах ходьбы от центрального проспекта.</p>
<p>4. Подобной же стеклобетонной роскоши в Иркутске пока еще немного, и потому</p>
<p>5. из всех сибирских старых городов он показался нам самым интересным и исторически значимым.</p>
<p>6. На кадре слева мы видим стену обкома, расположившегося прямо в старом центре, рядом со Спасской церковью, построенной всего лишь через 50 лет после того, как пришли сюда первые русские люди.</p>
<p>7. В 1652 году остановились вон на том острове посреди Ангары, напротив впадения Иркута, казаки Ивана Позабова, и срубили ясачное зимовье. Весной их залило половодье, и потому они переселились на эту площадь, тогда, конечно,</p>
<p>8. бывшую просто высоким берегом Ангары. Маковки иркутских церквей стали одеваться в золото намного позже, когда город уже окреп.</p>
<p>9. А с 1822 года он стал столицей губернатора Восточной Сибири. Он был православной столицей - вот главная причина того, что именно Иркутск, находившийся в середине страшной Азии, в 70 километрах от Байкальского провала,</p>
<p>10-11. стал похож на древний белокаменный русский город. </p>
<p>12. Крестовоздвиженская церковь на краю старой части города оставлена верующим и служит до сих пор Божьим домом.</p>
<p>13. С большим достоинством стоит она на зеленом пригорке, и обрадовала нас своим богатством: множеством изящных маковок</p>
<p>14. и бесчисленными настенными карнизами, фронтонами, украшениями столь необычными, что невольно мы подумали о влиянии буддистского зодчества.</p>
<p>15. Помню, как долго мы шли под дождем к этому храму, привлеченные издали каким-то индийским силуэтом.</p>
<p>16. А вблизи он оказался обычным поздним храмом с большим центральным куполом.</p>
<p>17. Если переехать речку Ушаковку (ныне почти везде взятую в трубы), то попадем в бывшее предместье города.</p>
<p>18. Во главе его стоит Знаменский монастырь, заложенный еще в 1693 году. Там похоронены многие знаменитые русские люди русской Сибири.</p>
<p>19. Помянем их!</p>
<p>20. Памятник на могиле Григория Ивановича Шелехова, русского Колумба, открывателя и хозяина Аляски. Почти 20 лет продолжалась его колонизаторская деятельность: строительство поселков, укрепленных фортов, торговых складов и школ, обучение алеутов хлебопашеству и обращение их в православие. Энтузиазма у Шелехова было, наверное, не меньше, чем у англичан, ставших американцами.</p>
<p>21. Шелехов был от роду курским мещанином, потом удачливым купцом, но стал вельможей и директором Русско-Американской компании. Однако семью он держал в Иркутске, и похоронен здесь, а не в Америке. И это показательно. Сибирь и Аляска так и не стали для русских новой родиной, Новым Светом, потому что не вельможи становились купцами и "отцами-основателями", а, наоборот, купцы превращались в вельмож и царских чиновников. И потому Сибирь так и не стала Русской Америкой, а мечты Потанина и других энтузиастов "Молодой Сибири" прошлого века остались беспочвенными.</p>
<p>22. В Знаменском монастыре похоронены и иные люди - декабристы, ставшие из царских офицеров государственными преступниками. Многие из них почти всю жизнь отдали исследованию и освоению Сибири, и память их заслуженно чтится тут.</p>
<p>23. Это - могила княгини Екатерины Трубецкой и ее детей, не вынесших сурового сибирского климата. Первая русская женщина, пошедшая вслед за мужем-декабристом на новую родину, она была вместе с тем и великой матерью. Такие люди и обживали по-настоящему Сибирь, только они и делали ее русской.</p>
<p>24. А при выходе из Знаменского монастыря нам показали еще одну могилу. Зимой 1919 года на льду Ангары, напротив устья Ушаковки, был в спешке расстрелян адмирал Колчак.</p>
<p>25. Этот храбрый офицер и приполярный исследователь был продолжателем декабристских традиций и заслуживал бы нашей доброй памяти. Но в годы гражданской войны он бросил свой авторитет и силы на защиту сначала погибающей учредительной демократии, а потом - на "спасение России".</p>
<p>26-27. Декабристский Иркутск. На этих деревенских по виду улицах они жили в ссылке, в пору расцвета своих сил и деятельности. Нам хотелось бы понять, что чувствовали европейские образованные люди, вдруг очутившиеся на всю жизнь в центре Азии. Что они могли сделать?</p>
<p>28. Дом Волконских на реставрации и закрыт для посещения.</p>
<p>29. Зато дом Трубецких пригрел нас, обсушил и открыл собранные в нем богатства.</p>
<p>30. Одна из первых реакций - это удивление перед налаженным бытом, и даже роскошью дома политического ссыльного. Но не забудем, что декабристы не лишались своих имений и экономической независимости.</p>
<p>31. И эта независимость давала им возможность хранить здесь культуру, высаживать и оберегать в суровой Сибири ростки Европы.</p>
<p>32. Конечно, в старом Иркутске жили не только декабристы. Еще до них купец Сибиряков выстроил Белый дом близ Ангары, самое прекрасное здание старого Иркутска.</p>
<p>33. Оно стало впоследствии частью университета и его библиотеки.</p>
<p>34. Мы видели и другие красивые старые жилые здания. </p>
<p>35-36.</p>
<p>37. А потом в город пришел первый поезд, пробившийся из России на гребне экономического подъема после освобождения крестьян. Первому поезду поставлен в Иркутске памятник, и заслуженно, потому что он разорвал извечную преграду пространств между Европой и Азией.</p>
<p>38. Сибирь пошла вперед, пусть медленно, но - лиха беда начало!</p>
<p>39. К сожалению, до сих пор социально Азия осталась Азией, а железные дороги она использует для того, чтобы самой добраться до Европы и установить там свои каторжные порядки.</p>
<p>40. <u>Александровский централ</u> Центральная пересыльная каторжная тюрьма Сибири была расположена в 76 километрах от Иркутска, в селе Александровском.</p>
<p>41. Сюда присылала Россия своих политических преступников, и отсюда по три тысячи в год их распределяли по  всей Восточной Сибири.</p>
<p>42. Дряхлеющая православная монархия пыталась сибирской каторгой подавить своих социалистических конкурентов.</p>
<p>43. После революции тюрьмы эти были закрыты, а потом централ сделали психиатрической лечебницей. Однако вид у нее самой и ее подопечных за решеткой - самый тюремный.</p>
<p>44-45. Не переводится дух насилия ни в этом месте, ни в самой Сибири.</p>
<p>46. На унылой и пустынной дороге в Александровское стоит памятник погибшим в последней войне сибирякам. А мы думаем, когда же будут памятники или хотя бы восстановление памяти о погибших в Сибири заключенных?</p>
<p>47. Когда же эта память встанет открыто, заклеймит зло и вырвет из земли его черные корни?</p>
<p>48. <u>Светлое око Сибири</u></p>
<p>49. Про Иркутск теперь можно сказать, что он стоит в конце байкальского залива, созданного подпором Иркутской ГЭС.</p>
<p>50. "Ракета" домчит до самого Байкала за час с небольшим, как электричка в пригородную зону.</p>
<p>51. И вот оно, славное море необыкновенного холода, глубины и, конечно же, радости!</p>
<p>52-53.</p>
<p>54. Мы же увидели Байкал впервые рано утром из поезда, спускавшегося в Слюдянку.</p>
<p>55. Увидели через промышленный пейзаж.</p>
<p>56. Потом поезд шел по восточному низкому берегу к Улан-Удэ, и озеро открылось нам как бескрайнее синее море.</p>
<p>57. Чуть отодвинувшиеся от воды, горы Хамар-Дабана с редкими снежниками тоже привлекали глаз.</p>
<p>58. Мы надеялись побывать и там тоже.</p>
<p>59. Круго-Байкальскую дорогу с ее многочисленными мостами и туннелями строили в XIX-ом веке, и довольно долго, начиная с 1867 года, когда сюда были свезены поляки - участники восстания 1864 года.</p>
<p>60. Их главным местом поселения была Слюдянка и соседний Култук. Здесь они снова подняли восстание, стремясь прорваться в Бурятию, а потом в Монголию, и, через Китай - в свободный мир, но потерпели поражение. Байкальская польская организация погибла после первых же сражений. Десятки были убиты и ранены, руководители расстреляны.</p>
<p>61. Памятника полякам нет, есть только православная церковь в центре Слюдянки, стоящая, верно, от времен железнодорожного строительства. А за ней видно здание вокзала, выложенного по-царски, из гранитных и мраморных блоков; его строил зодчий из Италии. Это здание как бы соединило для нас старинные соборы Фиораванти в Кремле и выстроенное по шведскому проекту московское мраморное метро.</p>
<p>62. Впрочем, мрамора в Слюдянке много. Он дешев настолько, что сотни метров железнодорожного полотна устланы им, как щебенкой. А из этих мраморных плит хотели устроить дамбу от байкальских волн, но построили из бетона. И мраморная россыпь теперь - лишь экзотическое место для туристов.</p>
<p>63. Потом мы бродили по Хамар-Дабану, искали в просветах между елями и склонами хребтов далекую синюю гладь</p>
<p>64. и вместе с одной из байкальских речек спешили вниз к озеру и к городу Бабушкину, названному в честь расстрелянного здесь за транспорт оружия в 1905 году революционера. Еще одна огневая страница в истории холодного моря.</p>
<p>65. Солнце жаркое, но холодно. И все же мальчишка-сибиряк на надувном матрасе, который, кстати, быстро намокает, плещется в воде. А мы, уставшие, сидим на камешках, щуримся на свет, отражаемый Байкалом, и ожидаем ближайшего поезда.</p>
<p>66. Железная дорога отходит от Байкала по долине Селенги. Селенга собирает воду со всей Монголии и Бурятии и несет ее </p>
<p>67. в Байкал, чтобы, профильтровавшись в нем, вылиться Ангарой на далекий Север.</p>
<p>68. И вот - Улан-Удэ.</p>
<p>69. Но, прежде чем говорить о современности, зайдем в городской этнографический музей. История этого края начинается с 1668 года, когда здесь в отрогах Яблоневого хребта русские поставили первое зимовье для сбора дани-ясака с туземцев.</p>
<p>70. Потом сюда ссылали опальных стрельцов, и возник Удинский острог. Но в 1668 году отчаявшиеся буряты не побоялись ружей и пошли приступом, чтобы сжечь дома и уничтожить нежданных пришельцев.</p>
<p>71. Тогда-то и была выстроена вместо острога деревянная крепость, а Верхне-Удинск стал русским городом. Буряты, конечно, были побеждены и рассеяны.</p>
<p>72. Но сегодня удинский музей хранит не только русские избы, но и бережно укрывает полиэтиленом бурятские войлочные юрты.</p>
<p>73. Позже буряты стали делать свои юрты из дерева, а в хозяйстве применять русские приемы.</p>
<p>74. Так они постепенно осваивались в новой культуре, и потихоньку возвращали себе свое хозяйское право на эту землю.</p>
<p>75-76. В этнографическом музее много интересного. </p>
<p>77. Сам Улан-Удэ сохранил дореволюционный облик деревянных правильных кварталов, а также несколько православных храмов. Ведь в свое время он был одним из административных центров Даурии, забайкальского казачества.</p>
<p>78-79. На наших слайдах остались лишь два удинских храма, схожих друг с другом.</p>
<p>80. Одигитриевская церковь построена в 1714 году. В ней даже чувствуется какой-то азиатский, кхмерский дух. То ли сама земля каким-то мистическим образом влияла на строителей, то ли более опосредованно - южноазиатские храмы отразились на приемах мастеров.</p>
<p>81. А здесь эти забытые мотивы лишь полнее проявляются для нашего глаза.</p>
<p>82. В старом центре города по русскому обычаю выстроены были в XVIII-ом веке Малые,</p>
<p>83. а в XIX-ом веке - Большие торговые ряды с Гостиничным двором. Ведь город стоял на перекрестке важнейших торговых путей, из Монголии и Тихого океана.</p>
<p>84. Буряты - скотоводы и кочевники, были вместе с тем и активными участниками в этой торговле.</p>
<p>85. Бурятское инородческое меньшинство овладевало экономическими рычагами и европейской культурой.</p>
<p>86. А когда в деревянный Верхнеудинск пришла великая революция, она означала и возвращение в город ее окрепших изначальных хозяев.</p>
<p>87. Верхнеудинск стал столичным Улан-Удэ.</p>
<p>88. Театр оперы и балета - одно из самых помпезных зданий в городе. Постройка сталинских времен, национальная по форме и социалистическая по содержанию.</p>
<p>89. Впрочем, говорят, бурятский балет, действительно, славен мастерством и хорошей школой. Ведь, как известно, в области балета - мы впереди планеты всей.</p>
<p>90. Но стоит отойти чуть в сторону, и видишь, что эта "роскошь" - вывеска и фасад. Нарядные дома стоят лишь вокруг центральной площади, а дальше - или старые, еще прежние деревянные улицы, или стандартные коробки, или просто пыльный пустырь. Азия...</p>
<p>92. Наверное, то же самое происходит и с литературой. Беспризорными выглядят Горький, Маяковский, Толстой в чахлом городском парке, как будто выброшенными на задворки соцстроительства. Ими клянутся, их подсеребривают, но что берут от них?</p>
<p>93. Да и жива ли в наше время бурятская культура? Способна ли она перерабатывать чужую культуру, как раньше? Без своих буддистских основ, без идеологической самостоятельности?</p>
<p>94. Оживлены улицы Улан-Удэ. Часто встречаем богато одетых людей.</p>
<p>95. Среди них много бурятской молодежи, студентов. Они веселы, чувствуют себя здесь привольно, хозяевами. И это приятно. Радостно ощущать рост молодой и здоровой нации, ее напор.</p>
<p>96. На селенгинском берегу я исподтишка наблюдал и даже фиксировал типичную бурятскую пару. На их лицах печать европейского воспитания и образования. Как они их приняли? Не знаю. Но это современная Азия: европейская по форме, но вот какая по содержанию?</p>
<p>97. А у этой молодой женщины, я бы сказала, буддистская отрешенность. Глядя на нее, мы вспоминаем о Дандароне, буддистском учителе, проповеднике, последнем духовном принце Бурятии. У нас, понятно, его портрета нет.</p>
<p>98. Последние свои дни в 1975 году Дандарон провел в третьем заключении в исправительном лагере на берегу Байкала. Неизвестно, почему именно его снова посадили после сталинских лагерей. Вроде бы поводом стало строительство священной ступы на могиле предков без дозволения властей, а на деле, скорей всего, этим поводом стала растущая его популярность среди молодежи. И только среди бурятской.</p>
<p>99. Дандарон не считал свои заключения горем. Архату злоключения только помогают на священном пути, только улучшают его Карму. В самых суровых условиях он не терял своего достоинства, привлекая этим разных людей, даже бывших коммунистов и партработников... Своею жизнью он показал, какие потенциальные глубины заложены в древнем буддистском учении.</p>
<p>100. И когда осенним днем пришла его смерть, он принял ее  как благо, передав людям свою радость.</p>
<p>101. Его ученики говорят: Дандарон не умер, Дандарон ушел в беспредельные глубины, но примером он всегда с нами. И они - тоже Бурятия, возможная Бурятия!</p>
<p>102. Когда выходишь на центральную площадь Улан-Удэ, то тебя едва не сбивает с ног неожиданность встречи с огромной отрезанной головой, но не из пушкинской поэмы, а из социалистической реальности.</p>
<p>103. Знакомый архитектор рассказывал нам впоследствии, что в осуществлении этого кощунственного замысла сыграла большую роль денежная заинтересованность: ленинградским скульпторам работа оплачивалась по кубометрам скульптуры... И они постарались!</p>
<p>104. Но видны в этом творении и азиатские вкусы заказчиков. И вот новый черный Будда-Ленин взирает на всегда людную площадь все понимающими глазами, как бы оценивая: "Ну и ну... Что вы еще учудите?".</p>
<p>105. <u>И снова Байкал</u></p>
<p>106. Священное море и современная индустрия - каковы их отношения?</p>
<p>107. Нынешняя техника не может не влиять на Байкал и не губить его. Это кажется неизбежным. Растет население и его подвижность. Растет туризм.</p>
<p>108. Неизбежно растут и нужды промышленности в его лесе, руде, воде... Но остановимся.</p>
<p>109. Вот знаменитый целлюлозный комбинат БЦК. На его строительстве настаивали военные ведомства и местное начальство. Первый секретарь республики даже пробовал объявить протестующих ученых врагами бурятского народа, но времена пошли не те.</p>
<p>110. Поэтому комбинат был снабжен дорогими очистными установками, а озеро-море правительство взяло под охрану. Однако мы сами видели грязные разводья на воде от комбината, ощущали густую вонь.</p>
<p>111. Вредные вещества скапливаются в байкальских глубинах, а там они уничтожают байкальскую особую жизнь. А ведь существуют иные, безотходные технологии, с замкнутым водооборотом.</p>
<p>112. Но эти решения требуют увеличения средств и противоречат примитивно понятой хозяйственной выгоде. Ведь в эти экономические расчеты не включают стоимость Байкала, а она громадна. Пять национальных доходов страны стоит только одна байкальская вода.</p>
<p>113. Еще труднее оценить богатства окрестных лесов, того живописного мира, о котором протопоп Аввакум когда-то писал:</p>
<p>114. "Бесчисленные здесь кабаны, лоси, гуси-лебеди, яко снег зимой...".</p>
<p>115. Наши предки успели уже многое взять от Байкала. Сегодня нет ни богатых птичьих базаров,</p>
<p>116. ни лежбищ байкальских тюленей - пресноводных нерп.</p>
<p>117. Скудеет и хиреет главное богатство - омулевые косяки. И началось это оскудение уже давно. Статистика свидетельствует, как стремительно падал улов с сотен тысяч пудов рыбы в начале прошлого века</p>
<p>118. до немногих тысяч пудов в его конце. И - всего лишь с помощью древнего невода и лодки.</p>
<p>119. Сегодня оснащенность рыболовного и прочего флота на Байкале резко выросла. Возросло и мастерство.</p>
<p>120. Однако уловы падают. И современные рыбаки заняты неэффективным процеживанием уже опустошенных предками и браконьерами озерных вод.</p>
<p>121. Конечно, невозможно не трогать Байкал, не пользоваться им, но здесь нужна мера, учитывающая права будущих поколений.</p>
<p>122. Но как трудно принять на себя всю полноту ответственности, как трудно удержаться от хищничества.</p>
<p>123. И вот, только отшумела полупоражением битва за чистоту стоков Байкальского целлюлозного комбината, как с северных заснеженных отрогов байкальских гор доносятся еще более тревожные вести: геологи нашли свинцово-цинковые руды.</p>
<p>124. Когда на реке Холодной будет выстроен рудный комбинат, в Байкал потекут такие ядовитые и грязные стоки, что отходы БЦК покажутся "всего лишь газированной водичкой". Велик технический прогресс нашего времени, но еще более велики беды и опасности, которыми он грозит священному морю Азии.</p>
<p>125. Еще рано говорить о его полной гибели, а только о необратимом загрязнении и уничтожении его священного смысла. Но разве этого мало?</p>
<p>126. Разве невозможен путь, когда интересы художника и туриста будут значить не меньше, чем интересы заводчика и военспеца?</p>
<p>127-128. Мы верим, что так оно ни будет! </p>
<p>129. Экологические проблемы Сибири, конечно, одним Байкалом не исчерпываются. Эти трагедии продолжаются и у дочери Байкала - Ангары, да и не только у нее.</p>
<p>Мы находили их даже в самых благополучных местах социалистической Сибири.</p>
<p>130. <u>Железногорск</u> Он стоит на реке Коршунихе. Типичнейший шахтерский соцгородок. Вскрытый машинами голый склон горы и железорудный карьер. Руду везут на обогатительную фабрику слева. Речка внизу превращена в ее технологический пруд.</p>
<p>131. Справа амфитеатром расположился весь легко обозримый городок. Несколько кварталов стандартных жилых многоквартирных домов, неплохое снабжение продуктами, набор культучреждений: клуб, кинотеатр, стадион - ну, все, что надо для сытной, хоть и скучной жизни. Сам Железногорск уничтожает не так уж много - лишь несколько рудных гор, да одну речку, да тайгу в округе, - но люди, которых он воспитывает, скукой обеспеченной работы, становятся способными на гораздо большее.</p>
<p>132.<u> Ангарск</u> Один из промышленных центров Восточной Сибири, Ангарск нам показывали его старожилы и хорошие знакомые - подобно американцам, со своего собственного автомобиля.</p>
<p>133. Когда-то здесь пролегала лишь кандальная дорога во глубину сибирских руд, о чем напоминает этот памятник, а в послевоенное время было размещено отобранное у немцев и у японцев заводское оборудование.</p>
<p>134. В те же годы руками пленных и заключенных был выстроен регулярный двух- и трехэтажный желтоцветный город, восхищающий приезжих правильной планировкой и снабжением, лучшим, чем даже в областном Иркутске.</p>
<p>135. А вокруг города по притоку Ангары Китою и самой Ангаре - огромные пространства, огороженные под строго охраняемые предприятия.</p>
<p>136. Здесь ведут комфортабельную жизнь люди, работающие над силами, способными перевернуть не только Сибирь, но и всю Землю, люди безгласные и техничные, подчиненные анонимной воле. И нам страшно от такого будущего.</p>
<p>137. <u>Братск</u> Увидели мы, как ни странно, что вместо города Братска на железной дороге оказались лишь три мало связанные друг с другом станции. На одной из них, близ ГЭС, мы остановились.</p>
<p>138. Поселок энергетиков, обслуживающий крупнейшую в мире гидростанцию, очень благоустроен. Есть даже гостиница для интуристов.</p>
<p>139. Но человек все равно стремится из современных многоэтажных домов к саду, личному куску земли - даже под шелестом воздушных электропередач. Новый город - и старые, неизменные идеалы.</p>
<p>140. Вот знаменитое, поющее под гитару Братское море, гигантский резервуар байкальской воды, затопивший своим холодом сотни километров плодородной ангарской долины, целые деревенские миры и человеческие судьбы, как это описано В.Распутиным в романе "Прощание с Матерой".</p>
<p>141. Вот он - воплощенный технический прогресс - Братская ГЭС. Громада не хуже египетских пирамид. Не только красота, но и величие,</p>
<p>142. ибо за ней вместо тысяч загубленных рабов стоят тысячи затопленных гектаров ангарских земель и труды многих тысяч предков, их осваивавших.</p>
<p>143. Как и все крупные гидростанции, Братскую ГЭС творил Гидропроект, тот самый, что родился в 30-е годы при НКВД, чтобы строить Беломорканал, а потом еще более крупные волжские стройки коммунизма, но теми же самыми методами.</p>
<p>144. Сейчас Гидропроект не подчиняется КГБ, а плотины, в основном, возводят не заключенные, а вольнонаемные люди.Но ведь главное не изменилось...</p>
<p>145. Высоким ангарским берегом мы удаляемся от плотины, наслаждаясь ярким по-южному солнцем, соснами, над скалами и темно-зеленой водной гладью.</p>
<p>146. Вглядываемся в еще не затопленные острова. Постройки еще видны, но людей, наверное, уже свезли. Хотя и не понятно, почему. Пересекаем притоки. Велика Ангара, и неиссякаема ее водная сила.</p>
<p>147. Вслед за ангарской водой мысленно уплываем к Усть-Илиму, а потом к Богучанам, где строят новую ГЭС,</p>
<p>148. где вновь останавливают живой хрусталь байкальской воды...</p>
<p>149. и превращают ее в зыбь водохранилищ, романтизированных нашими стихами и песнями.</p>
<p>150. В ресторане зеленого деревянного поселка "Падун"</p>
<p>151. веселятся под шум Братского моря-кладбища.</p>
<p>152. А мы вглядываемся в Ангару, на ее живом участке стараемся хоть как-то запомнить дочь священного Байкала, чтобы угадать в будущем участь наших детей. Без плотин они жить уже не смогут, но как же они будут жить без рек и долин?</p>
<p>153.<u> Путешествие в Илимск</u>Мы ехали в Илимск к острогу и месту ссылки первого русского диссидента Радищева.</p>
<p>154. Рано утром мы вышли со станции Хребтовая и попутками двинулись в сторону Илимска.</p>
<p>155. Но попутчики, дорожные рабочие, ошарашили нас сообщением, что Илимск затоплен, а илимчане разбросаны по окрестным поселкам и деревням.</p>
<p>156. Но мы уже не могли остановиться, и двигались к бывшему городу Илимску, чтобы отдать дань его славной памяти.</p>
<p>157. Заброшенная таежная дорога...</p>
<p>158. Прошагав безлюдные двенадцать километров, забеспокоились, правильно ли мы идем.</p>
<p>159. Но тут начался постепенный уклон, и стала угадываться впереди большая вода.</p>
<p>160. Илимское водохранилище не кажется громадным, но ведь сам Илим был небольшой рекой, и потому неширокой была его животворящая и теплая долина.</p>
<p>161. По ней нас повезет над затопленным Илимском-Китежем Иван Порфирьевич, один из активистов-илимчан, а ныне пенсионер.</p>
<p>162. Он вез нас над своим Илимском, над жизнью своей и своих предков, похороненных в многокилометровой водной бездне, к новому шоссейному мосту, и рассказывал.</p>
<p>163. Много рассказывал и о том, как просили Гидропроект использовать иной вариант, но которому ГЭС строилась чуть выше устья Илима. Но цифра большей мощности генераторов для верховных проектировщиков была важнее интересов поколений, будущих и прошлых.</p>
<p>164. Впрочем, верхнее, новое кладбище под воду не ушло, хотя без людского внимания оно быстро захиреет, прибавив еще один камень к виновности Гидропроекта.</p>
<p>165. Но он - не единственный виновник; когда затопление стало неизбежным, жители требовали спасти Илимск, передвинув затопляемые дома на взгорье.</p>
<p>166. Однако местные власти решили иначе. Директору леспромхоза легче оказалось переселиться на Хребтовую, где и железная дорога есть, и хороший лес еще не весь вырублен. Директору совхоза хотелось переселиться куда угодно, чтобы закрыть разваливающееся хозяйство, получить государственные деньги за потопление и начать жизнь сначала. И вот эти два госкапиталиста, два банкрота окончательно решили судьбу старинного городка, вопреки очевидному желанию его жителей.</p>
<p>167. Принуждаемые к отъезду, владельцы даже незатопляемых домов тоже стали жечь свои дома, чтобы получить за них деньги. Затоплен и сожжен, а жители разбросаны, как в войну. Где еще, в каком месте может столь полно и нахально разбойничать монополистический капитал?</p>
<p>168. Древний острог - увезен на Байкал, а жилье Радищева и та скала, у которой он, по преданию, работал, тоже затоплены.</p>
<p>169. Остался лишь самодеятельный памятник всем революционерам, сооруженный в недавние годы местным учителем и школьниками. Наивной кажется эта новая коммунистическая "ступа". И что она может сообщить затопляемому будущему?</p>
<p>170. И все же мы ей рады. Ведь поставил ее человек, уважающий предков и любящий эту землю.</p>
<p>171. <u>Красноярск</u> - 1628 года рождения.</p>
<p>172. В свой предпоследний день отпуска мы смотрим на краевую столицу Восточной Сибири, на ее многоэтажные громады в полумгле тяжелого промышленного воздуха.</p>
<p>173. Скользим взглядом по широким проспектам.</p>
<p>174. Смотрим на роскошь облицованных гранитом и мрамором столичных новостроек.</p>
<p>175-176.</p>
<p>177. Затерянными кажутся среди них здания старинного города.</p>
<p>178-179. Нигде в Сибири мы не видели такой городской мощи, как будто сподобились увидеть ее будущее.</p>
<p>180. Новый стадион, ставший гордостью и символом города, расположен посреди Енисея на "островках отдыха".</p>
<p>181. Высшая точка над городом - Черная сопка, с которой связано много эвенкийских легенд, смотрит на это</p>
<p>182. промышленное чудо, наверное, с восхищением и страхом.</p>
<p>183. Гораздо ниже - наша смотровая площадка.</p>
<p>184. Отсюда мы видим, как на деревянные дома старого Красноярска наступают кварталы многоэтажных громадин, а на них - в свой черед, наползают дымы из труб многочисленных заводов правобережья.</p>
<p>185. Неужели городу предстоит быть задушенным смогом? Мы не хотим в это верить. Люди не допустят, и город у красного енисейского яра станет жить в гармонии с природой. Но это произойдет лишь тогда, когда мы станем умнее. Мировая история подсказывает, что выход люди находили. И мы обращаемся к истории Красноярска...</p>
<p>186. В 1628 году здесь пристала ватага енисейского воеводы Дубенского с единственной целью: через устроенный острог пограбить туземцев. И пограбили. Пушных зверей повыбили. Зато в Сибири людей прибавилось.</p>
<p>187. Потом стал город. Совсем небольшой, скорее даже маленький. Через двести лет, когда в 1823 году он вырос до губернского центра, в нем жило лишь три тысячи человек. Но и этой малости хватило, чтобы держаться здесь царской власти, чтобы принимать высланных из России преступников, вытаскивать из недр серебро и золото, а из леса - пушнину. Добываемая роскошь уходила в метрополию, европейскую Россию.</p>
<p>188. А здесь она оседала лишь блестками в убранстве редких православных церквей.</p>
<p>189. Таких, как эта, единственная отреставрированная в городе</p>
<p>190. красавица.</p>
<p>191. В тридцатые годы прошлого века появились первые тротуары в городе (до этого лошади тонули в грязи), в 40-е годы - первая парикмахерская.</p>
<p>192. В пятидесятые годы появились первая гимназия и первая городская библиотека... Такой "прогресс" мог тянуться не одну тысячу лет.</p>
<p>193. Но вот в город пришла железная дорога, и преобразила его. Она набила его промышленностью, нагнала новых людей и насытила их.</p>
<p>194. И что же, погибла Сибирь? Нет, она лишь изменилась, стала кормить уже миллионы трудолюбивых крестьян-переселенцев, и дала соки их культура.</p>
<p>195-198.</p>
<p>199. Но разве сравнить прежние масштабы и нынешние? Прежнюю штольню с современным карьером-разрезом, паровую машину с ГЭС, пушку - с водородной бомбой, или прежний город - с нынешним гигантом?</p>
<p>200. Какой же выход? - Мы не знаем. Закрыть технический прогресс? - Не выйдет. </p>
<p>Остаться в его власти безвольно? - Погибнешь. Как-то ограничить, направить верно? - Но как?</p>
<p>201. Мы знаем только: всем надо думать, все помнить и понимать, бояться и стараться, ценить и охранять цветы духовные и цветы живые.</p>
<p>202. Тогда, быть может, мир спасется...</p>
<br/>

{% endblock content %}
