{% extends 'base.html' %}
<title>ЗЭС N7: От составителя</title>
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
7</h3>
<h1>
<p>От составителя</p></h1>
<p>Данный сборник отличается от предыдущих своей структурой. Фактически он 
состоит из двух больших материалов: научной работы Л.Карпинского, посвященной 
перспективам и условиям проведения экономической реформы в нашей стране и блока 
документов и статей, обсуждающих соотношение прав человека, т.е. гражданских (в 
том числе и экономических) свобод – и так называемых социально-экономических 
прав, под которыми понимаются обычно те материальные блага, которые государство 
предоставляет в пользование своим подданным безденежно (право на образование, 
здравоохранение, жилье, социальное обеспечение, труд и т.п.). Этот блок занял 
фактически место трех наших традиционных разделов и, что особенно важно,- место 
дискуссионного раздела, поскольку в определенном смысле он подвергает критике ту 
преувеличенную оценку социально-экономических прав, которая свойственна многим 
участникам современного оппозиционного движения при фактическом забвении защиты 
экономических свобод, при забвении того, что зачастую требование увеличения 
"социально-экономических прав" с необходимостью подрывают экономические и 
гражданские свободы, основные права человека. Я надеюсь, что материалы этого 
раздела вызовут споры и обсуждения, и призываю к ним.</p>
<p>К сожалению, развертывание этой дискуссии на станицах сборников "В защиту 
экономических свобод" или аналогичных изданий, возможно, будет продолжаться без 
моего редакционного участия.</p>
<p>И дело не в том, что я "устал", "разочаровался" или "оказался в одиночестве". 
Постоянный и внимательный читатель "ЗЭС" может убедиться, что пусть медленно и с 
трудом, но обсуждение насущных вопросов экономических проблем в наших сборниках 
с участием разных авторов не прекращается. Дело в чрезмерном внимании 
властей.</p>
<p>По понятным причинам (все же – псевдоним) К.Буржуадемов еще не слышал прямых 
угроз в свой адрес, но он – живой человек и, естественно, имеет буржуазный, 
далеко не героический характер, а потому сгущение грозовой обстановки вокруг 
себя и своих соавторов ощущает весьма болезненно. Приходит момент, когда хотя бы 
из условий нашей общей (не государственной, конечно) безопасности К.Буржуадемову 
следует уступить свое право на составление сборников "ЗЭС" другому: "Продолжите 
начатое мною дело!"</p>
<p>Такое решение еще не окончательное, многое зависит от властей, но – весьма 
возможно. Однако в любом случае было бы хорошо, если бы дело защиты 
экономических свобод жило и развивалось в стране и без К.Буржуадемова. Успеха 
Вам! К.Б. </p>
<p> </p><table width="600"> <tr> <td>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="71.2.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
