{% extends 'base.html' %}
{% block title %}ЗЭС N7: Международный Пакт об экономических, социальных и культурных правах, ч.III{% endblock %}
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
7</h3>
<h1>
<p><font size="4">Раздел II.Права человека и социально-экономические 
права</font></p>
<p><font size="4">(подборка статей и документов)</font></p>
<p>Избранные документы Московской Группы содействия выполнения Хельсинкских 
соглашений в СССР</p></h1>
<p><font size="5">1. Документ №36 от 16 февраля 1978 г.</font></p>
<p>Группа Содействия никогда не ставила и не ставит своей задачей 
непосредственное участие в деятельности различных ассоциаций или групп населения 
(религиозные общины пятидесятников, Евангельских Христиан Баптистов, Адвентистов 
и др.; немцы и евреи, борющиеся за право выезда, крымские татары, ведущие борьбу 
за возвращение в Крым; политические заключенные, добивающиеся достойного 
обращения, медицинского обслуживания, нормального питания и бытовых условий и 
пр.). Задачей Группы является освещение фактов нарушения прав граждан или их 
отдельных групп и содействие выполнению этих прав в соответствии с 
Заключительным Актом.</p>
<p>Недавно в Москве были проведены пресс-конференции, на которых группа рабочих 
и инженерно-технических работников из различных городов сообщила, что они будут 
совместно добиваться осуществления своих прав в области техники безопасности 
производства, условий труда, справедливой оплаты и распределения жилой площади, 
защиты от незаконных увольнений, особенно после критических выступлений. Группа 
объявила о создании свободного профсоюза.</p>
<p>Мы заинтересованно следим за этой деятельностью и ожидаем сообщений о целях и 
задачах ассоциации. Мы надеемся, что создание профсоюза будет иметь значение в 
развитии правосознания в нашей стране. В этой связи Группа Содействия считает 
необходимым напомнить советской и мировой общественности, что создание его 
является правомерным и основано на законе.</p>
<p>Статья 225 раздела XV Кодекса о труде (Юридическая литература, Москва, 1972) 
– Право рабочих и служащих на объединенные профессиональные союзы гласит:</p>
<p>"В соответствии с Конституцией СССР и Конституцией РСФСР рабочим и служащим 
обеспечивается право на объединения в профессиональные союзы. Профессиональные 
союзы действуют в соответствии с принимаемыми ими уставами и не подлежат 
регистрации в государственных органах. Государственные органы, предприятия, 
учреждения, организации обязаны всемерно содействовать профессиональным союзам в 
их деятельности" (текст статьи приведен полностью).</p>
<p>Связи Группы Содействия со вновь организованным профсоюзом могут основываться 
на тех же принципах, как и с другими ассоциациями. При этом мы полагаем, что 
цели и задачи этой ассоциации будут исходить из Всеобщей Декларации прав 
человека и из Пактов о правах, на которые опирается Заключительный Акт совещания 
в Хельсинки. Подписи</p>
<p><font size="5">Документ № … от 21 апреля 1979 года "Нарушение 
социально-экономических прав человека в СССР. Право на труд"</font></p>
<p>Советская государственная пропаганда настойчиво уверяет, что так называемые 
социально-экономические права человека имеют главенствующее значение перед 
правами гражданскими и политическими.</p>
<p>При этом утверждается, что в СССР, в отличие от стран "свободного мира", 
социально-экономические права населения полностью обеспечены. Этот 
пропагандистский шквал, достигая Запада, создает впечатление об СССР, как об 
обществе всеобщего благоденствия, в котором построен т.н. "развитый социализм" и 
осуществляется принцип высшей социальной справедливости: "от каждого по его 
способностям, каждому – по его труду".</p>
<p>Главным доказательством всеобщего благополучия в обществе выставляется 
отсутствие в стране безработицы. Однако все эти заверения есть ни что иное как 
пропагандистский камуфляж. На самом деле право на труд, на благоприятные условия 
труда и на справедливое за него вознаграждение – далеко от повсеместного 
обеспечения. Все 4 пункта ст.23 Всеобщей декларации прав человека – не 
выполняются.</p>
<p>Заработная плата рабочих и служащих крайне низка. Официально называемая 
средняя заработная плата по стране 161 рубль в месяц – есть величина 
статистическая, но даже она, при нынешнем уровне инфляции и роста цен, едва ли 
обеспечивает то, что следует называть "достойным человека существованием". Что 
же говорить о минимуме заработной платы, составляющей 70, а в отдельных районах 
60 рублей в месяц?! О низком уровне зарплаты говорит тот факт, что в советской 
семье, как правило, вынуждены работать все взрослые члены, включая часто 
пенсионеров по старости. О том же свидетельствует и такое широко 
распространенное явление, как "шабашки" и хищение с предприятий. Уходит рабочий 
с молочного завода – выносит масло, сливки, со спиртового – фляжку спирта, c 
лесообрабатывающего – доску. Ситуация, в которой рабочие вынуждены "добирать" 
таким образом, то, чего недодает им государство, порождает серьезную моральную 
проблему, вызывая у рабочих чувство душевного разлада, способствуя 
распространению в обществе лжи и лицемерия. </p>
<p>Следует сказать, что тот видимый достаток, которым обладает какой-то процент 
рабочих семей, довольно часто создается именно за счет нетрудовых доходов. 
Уровень "чистой" заработной платы подавляющего большинства рабочих и служащих в 
СССР таков, что позволяет лишь еле-еле сводить концы с концами. Это, пожалуй, 
является главной причиной снижения в стране роста народонаселения.</p>
<p>В СССР существует произвол в заработной плате. Непомерно велик разрыв между 
минимальной зарплатой, которую получает значительная часть населения и 
максимальной зарплатой у отдельных групп (высшие партийные и государственные 
работники, генералитет, академики и др.). Эта зарплата может быть в 10-20 и 
более раз выше минимума. </p>
<p>Несправедлива разница в заработной плате у рабочих различных отраслей и 
министерств. Практикуется разная оплата за равный труд в центре и на периферии. 
Например, расценки на ткацких фабриках в Московской области значительно выше, 
чем в соседних с нею Владимирской и Ивановской областях, хотя нормы выработки – 
ниже. Особой привилегией пользуется Москва, где зарплата отдельных категорий 
рабочих и служащих намного выше, чем повсеместно в провинции.</p>
<p>Неравенство в заработной плате увеличивается за счет неудовлетворительного 
снабжения периферии продуктами питания. Если москвич покупает ежедневно продукты 
в государственной торговле, то житель провинции вынужден приобретать их на 
местном рынке втридорога и далеко не в таком ассортименте. Все это ведет к 
развитию у населения чувства естественной зависти и антагонизма по отношению к 
жителям "коммунистического города" – Москвы.</p>
<p>Наиболее низко оплачиваются рабочие непроизводственной сферы, служащие 
государственных учреждений, работники службы быта, торговли, медицины, 
просвещения, культуры. Не обеспечивают "достойного существования" пенсии, 
выплачиваемые по старости, инвалидности, в случае потери кормильца.</p>
<p>В стране существует, хотя это слово никогда не произносится вслух, подлинная 
бедность значительной части населения. Точное число семей, которые следовало бы 
назвать бедными, не поддается учету, поскольку порог бедности в СССР официально 
не определен. Прожиточным минимумом полуофициально считается 50р. на человека в 
месяц (если исходить из того, то только в таких семьях, где доход на каждого 
члена семьи ниже 50 рублей в месяц, назначается дополнительное пособие в размере 
12 рублей на какого ребенка до 8 лет), хотя фактически эта сумма – не порог 
бедности, а порог нищеты. Далеко ниже этого порога живут отдельные многодетные 
семьи, пенсионеры, матери-одиночки.</p>
<p>В СССР распространена и, мало того, пользуется популярностью рабочих, 
поскольку им кажется, что только здесь, в отличие от почасовой оплаты, они могут 
заработать – система сдельной оплаты труда, которая в развитых странах давно уже 
дискредитирована как "потогонная", и с которой активно борются западные 
профсоюзы.</p>
<p>На советских предприятиях, может быть, за немногим исключением, в виде 
предприятий особо важного значения, оборонных и т.н. "образцово-показательных", 
- плохая организация труда, низкий уровень санитарно-гигиенических условий и 
техники безопасности, высокий производственный травматизм. При этом случаи 
производственных травм скрываются администрацией, акты о них составляются 
неохотно, администрация даже идет на то, что выставляет пострадавшему "рабочие 
часы", лишь бы не числить его травмированным по вине производства.</p>
<p>На многих участках (строительные, дорожные работы и др.) применяется тяжелый 
физический труд, на который по причине низкой оплаты и "непрестижности" работы 
идут в основном женщины. Женщины с носилками для бетона на строительных лесах, 
женщины в оранжевой униформе с лопатами и ломами на руках на полотне железной 
дороги – одна из безобразнейших картин советской действительности.</p>
<p>На советских предприятий грубо нарушается трудовое законодательство. Широко 
практикуется, особенно в дни авралов по "вытягиванию" плана скрытая, не 
регистрируемая сверхурочная работа, чем нарушается закон о длительности рабочей 
недели. Эти переработки часто не оплачиваются, поскольку рабочие вроде бы и так 
заинтересованы: "дадим план – будут премиальные".</p>
<p>Привычной формой бесплатного труда стали обязательные "субботники", 
общесоюзные и местные, а также направления людей, включая пенсионеров и 
школьников, на работу в колхозы, совхозы, на овощехранилища и т.п.</p>
<p>Совершенно не нормирован рабочий день у сельскохозяйственных рабочих в 
колхозах. У них нет оплачиваемых отпусков. Ввиду невозможности колхозникам уйти 
из колхоза и куда-то переехать, эти люди превращены фактически в государственных 
крепостных.</p>
<p>Всякий конфликт рабочего с администрацией, выступление с критикой, попытка 
защитить свои права – чреваты серьезными последствиями. В руках администрации 
немало средств воздействия на рабочего – лишение премии, лишение тринадцатой 
зарплаты, снятие с очереди на квартиру, отказ в путевке в санаторий, и, наконец, 
увольнение. Администрация имеет широкую возможность увольнять неугодных рабочих, 
так как в законодательстве отсутствует четкая конкретизация причин для 
увольнения.</p>
<p>В СССР резко ограничен свободный выбор рабочим места работы. Средством 
закрепощения и дискриминации рабочих служит, отсутствующая на Западе, система 
обязательных трудовых книжек, которая является как бы продолжением всеобщей 
паспортной системы. Поскольку в трудовую книжку заносятся причины увольнения, 
почему-либо порочащие рабочего (например, запись об увольнении в связи с 
судимостью), такая книжка становится для ее владельца "волчьим билетом"). В то 
же время поступить на работу без трудовой книжки нельзя.</p>
<p>Ограничивает свободный выбор работы и постыдная система прописки, т.е. 
отсутствие у населения возможности выбирать место жительства по своему 
усмотрению.</p>
<p>Несмотря на видимую нехватку рабочей силы, на объявления "требуются", т.е. на 
формальные признаки отсутствия в стране безработицы, в СССР существует скрытая 
безработица – когда из-за резкого недостатка жилья, ограничений в месте 
жительства, отсутствия накоплений, человек вынужден наниматься на работу, не 
отвечающую ни его желанию, ни квалификации. К этому же понуждает и аморальная 
статья уголовного кодекса о тунеядстве, т.е. обязанность под угрозой тюрьмы 
оставить поиск нужной работы и устроиться на любую.</p>
<p>Можно считать, что наряду со скрытой, в СССР есть и явная безработица. Если в 
западных странах безработными считаются те, кто не работает две недели, то в 
СССР всегда имеется огромное и неучитываемое число людей, не работающих по много 
месяцев (да хотя бы те 4 месяца, что "дозволены" законом о тунеядстве).</p>
<p>В то же время в СССР отсутствуют какие-либо пособия по вынужденной 
безработице. Увольняемый с предприятия, скажем, по сокращению штатов, рабочий 
получает единовременное пособие в размере двухнедельного заработка, и это – 
все.</p>
<p>Если бы к СССР применить выработанные многолетней практикой рабочего движения 
представления о безработице, которые существуют на Западе, то миф о стране, не 
знающей безработицы, был бы развеян.</p>
<p>Наибольшим нарушением прав рабочих и служащих является отсутствие у них 
реальной возможности защищать свои интересы. В советском законодательстве нет 
права на забастовку, любая попытка коллективного выступления жестоко 
подавляется. Имеющиеся в СССР отраслевые профсоюзы есть по сути образование 
партийно-государственное, они не являются организацией рабочих для борьбы за 
повышение уровня жизни и улучшение условий труда.</p>
<p>Еще к Ленину восходит определение профсоюзов как "приводных ремней" от партии 
к массам. В настоящее время они превращены в инструмент прямого подчинения 
трудящегося населения. Профсоюзы в СССР занимаются вопросами производства, 
выполнения плана, укрепления трудовой дисциплины, воспитательной и 
идеологической работой (недаром они называются "школой коммунизма") и лишь в 
самом ничтожном объеме защищают интересы рабочего.</p>
<p>Одним из свидетельств сказанного стало немедленное подавление властями 
попытки создания группами рабочих в 1977-78гг.. нескольких независимых 
ассоциаций по защите своих прав.</p>
<p>Организаторы первого такого объединения (ноябрь 1977г.), так называемого 
свободного профсоюза трудящихся, В.А.Клебанов, В.Т.Поплавский и другие были 
репрессированы, многие подвергнуты заключению в психиатрические больницы.</p>
<p>Развернуты репрессии и против Свободного межпрофессионального объединения 
трудящихся – СМОТ (ноябрь 1978г.), в частности недавно арестован один из его 
основателей – Л.Волоховский.</p>
<p>Между тем, право создания независимых ассоциаций трудящихся для защиты своих 
интересов, гарантированное как советским, так и международным правом, 
неоспоримо, и попытки создания таких ассоциаций будут, несомненно, 
продолжаться.</p>
<p>Говоря о нарушении социально-экономических прав в СССР, мы подчеркиваем, что 
обеспечение этих прав не может быть осуществлено без предварительного 
обеспечения политических и гражданских прав, в первую очередь, права на свободу 
слова, печати, объединений, профсоюзов.</p>
<p>Мы приветствуем недавнее решение МОТ сделать официальный запрос правительству 
СССР в связи с репрессиями против членов независимых профсоюзов и ее намерение 
добиваться обстоятельного ответа по этому поводу. Заявление представителя СССР 
на недавней сессии МОТ в Париже, что В.А.Клебанов и другие основатели 
независимых профсоюзов - "безответственные и психически неуравновешенные люди" - 
является не только намеренной дискредитацией, но и попыткой замолчать наличие 
серьезных нарушений социально-экономических прав в СССР". 
Подписи.</p>
<br/>

{% endblock content %}
