{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. «Дети и шабашки» 1968-1977 гг{% endblock %}
{% block content %}



<br/><br/>
<div class="'n'"> <p>1-2. Наши старшие дети Тема и Галя уже имеют о себе диафильмы, так как же можно обойтись без диарассказа о самых маленьких?</p>
<p>3. <b>«Часть I. Рождение»</b></p>
<p>Когда в Хабаровской шабашке я получил известие, что Лиля родила двух сразу, что у меня теперь четверо детей, то испытал какую-то непередаваемую радость: «Все хорошо, все хорошо, все хорошо!!!». </p>
<p>4. <b>«Печатники, август 1974 г.»</b></p>
<p>У Лили, наверное, это чувство было острее. В заранее купленной квартире на берегу Москва-реки, она в полной мере вбирала в себя это трудное, очень трудное, но такое глубокое счастье </p>
<p>5. взращивания двух новых родных человечков.</p>
<p>6. Сейчас им уже по 3 года, и мы расскажем и покажем все, что можем, но прежде хочется понять самим, откуда взялось такое везенье?</p>
<p>7. Аня и Алеша в свои младенческие годы стали как бы завершением нашего счастья, его вершиной. И, находясь на этой вершине (ведь скоро 40), хочется оглянуться на уже прожитую, </p>
<p>8. уже состоявшуюся жизнь, поблагодарить Бога или судьбу за доставшееся и понять, как же все это получилось. Хотя заранее знаю: причиной тому - Лиля. Только она...</p>
<p>9. Тема родился, когда мы работали после вуза в Коломне. В его рождении была неизбежность, как жизнь. Конечно, было много страхов, но не меньше радостей. Было бездомье, безденежье, но</p>
<p>10. зато счастье роста первого ребенка; нехватка времени для подготовки в аспирантуру и общения с друзьями, но и растущая уверенность в прочности создавшейся семьи. Темкины пеленки соединили нас крепко, пусть мы и были тогда не расписаны.         </p>
<p>12. Потом Коломна сменилась Москвой. Другой завод и институт, аспирантура у Лили и долгие поиски призвания у меня.</p>
<p>13. Была стесненная жизнь в Филях в комнате родителей и психологическая малосовместимость. </p>
<p>14. Но зато было открытие семейного байдарочного туризма с Артемкой по Подмосковью, а потом и счастье дальних путешествий вдвоем. </p>
<p>15. И, забираясь куда-нибудь в далекую Среднюю Азию или на Русский Север, мы уже скучали по своему сыну и своему дому. Нам было уже кого оставлять и перед кем чувствовать себя обязанными вернуться.</p>
<p>16. Прочнее веревок привязал сын к этой жизни.</p>
<p>17-18.</p>
<p>19. В 1967 г. страна праздновала 50-летие революции. Москва была разукрашена огненными лозунгами, огромными портретами, бессмысленными, темными словами. Но в этой идейной темноте</p>
<p>20. через радио и друзей до нас стал доходить иной, всемирный свет.</p>
<p>21. Уже в следующем 68-м году я стал подписантом, поддержав протест своих друзей, поставив этим под опасность не только себя, но и свою семью.</p>
<p>22. Как отнеслась к этому Лиля? - А как она могла к этому отнестись, если по-настоящему мы и познакомились лишь после исключения меня из комсомола 7 лет назад? Разве могла она удерживать меня от самого важного и благородного, от того, за что когда-то оценила?</p>
<p>23. В мае этого же 1968 года родилась наша Галя.</p>
<p>Мое диссидентство и рождение Гали нельзя связать причинной связью, но в памяти и чувстве они связаны воедино. Никаких, совершенно никаких условий и предпосылок: мы жили двумя семьями с родителями в одной комнате. У Лили, кончавшей аспирантуру, были испорчены отношения с руководителем и заваливалась диссертация, а я втягивался во что-то грозное - и вдруг рождение Гали!</p>
<p>24. Как Лиля на это решилась? - Не знаю. Нет у меня другого ответа, кроме ссылки на ее непонятный, но какой-то основополагающий, животворящий инстинкт. Вместо удерживания меня от опасных шагов, вместо драки за погибающую диссертацию, вместо пробивания отдельной квартиры - простое, без расчетов создание новой жизни.</p>
<p>25. И Вы знаете - она была права, все образовалось... Уже весной нам дали отдельную от родителей комнату, Лилю оставили после аспирантуры на кафедре доделывать диссертацию, а я... что ж! Я только лишаюсь аспирантуры, сохранив работу. Лето Лиля провела с новорожденной в новой квартире, </p>
<p>26. а я - в альплагере на Кавказе. 5 вершин, зачеты, третий разряд и... мысли о доме. Да и как же было не думать о такой семье? </p>
<p>27. Высочайшие снежные вершины и великий ералаш в моей голове от вопросов... Меморандум Сахарова и обсуждение его на привалах, пример Чехословакии и страх за нее, воспоминание о своей увлеченности Мао и Фиделем, высокие идеалы любимых экстремистов и мерзкие их провалы - эта география пострашнее Кавказских гор!</p>
<p>28. А ведь в лето рождения Темы я тоже уезжал, тогда в Саяны. И почему Лиля так хорошо, с улыбкой отпускает меня даже в свои самые тяжелые месяцы? Почему не держит мужа при себе, как поступают иные жены? Какая ей корысть от моей свободы?             </p>
<p>29. На это нет понятного ответа. Есть ответ только общий, интегральный: наша общая жизнь, наши общие горы, наше доверие друг к другу.</p>
<p>30. И, может, именно этот месяц в горах, в тоске по дому, позволил мне навести порядок в душе и еще крепче связаться с жизнью? И, может, Лилино доверие пошло семье во благо?</p>
<p>31. В горах я много времени проводил один на один с чистой бумагой. Задуманный рассказ у меня не получился, зато завязалась публицистика: «Письмо к сверстнику». На самом деле это было письмо к себе самому, и оно помогло, очень помогло избавиться от нервической смелости, от безоглядной верности романтическим идеалам - ради ценностей несомненных, живых и семейных.</p>
<p>32. Здесь я жил вместе со смелыми людьми - альпинистами. Моим инструктором был Вадим Ш., командиром отряда - Юрий Моисеев.</p>
<p>33. Мне довелось наблюдать за их опасным восхождением на Чатын и пережить трагедию - три смерти в ранее вышедшей на Чатын группе и их спасателей.</p>
<p>34. Сегодня, уже зная, что Юра Моисеев несколько лет спустя все же погиб, я вспоминаю тревожное лицо его сынишки в лагере еще тем, благополучным летом: «Что с папой?» и снова терзаюсь в безысходных вопросах:</p>
<p>35. «Горы и жизнь?»</p>
<p>36. В Москве, зимой 1969 года, под угрозой лишения работы я перестал подписывать протесты друзей, но это совсем не избавило меня от страхов. Совсем наоборот. Жизнь читателя Самиздата в те годы установилась в каком-то опасно-каменистом русле.</p>
<p>37. И лишь летние походы возвращали нас к открытой, заманчиво свободной жизни.</p>
<p>38. Прибалтика и Армения, Урал и Алтай - дети не мешали нашим путешествиям. Начались диафильмы. Забирая основную часть нашего свободного времени, они прессовали наш отпуск, наполняли остальной год смыслом, наполняли нас жаждой видеть мир и передавать увиденное.</p>
<p>39. Первую половину 70-го года мы провели в Ленинской библиотеке над Лилиной диссертацией. Тяжелым был у нее этот подъем. Не с помощью, а скорее даже с противодействием руководителя. И только скомпоновав в августе первый вариант работы, она вырвалась в поход.</p>
<p>40. ... Илыч и Печора для нашей байдарки оказались много тяжелее, чем представлялось в Москве. Но дома нас ждал сын, </p>
<p>41.идущий в 1-й класс, и потому мы торопились вовсю.  </p>
<p>42. И мы успели.</p>
<p>43. Сын Тема спрессовал наш отпуск, он заставил нас грести, собрав все силы и волю. И той же осенью Лиля бросила заряд своей воли на завоевание права на защиту. </p>
<p>44. И добилась своего уже в конце учебного года.</p>
<p>45. Я знаю: это было очень трудно, сложно, даже страшно, как будто ее уставшая байдарка продолжала плыть по Печоре, поспешая на встречу с сыном.</p>
<p>46. ...Жизнь наполнялась все нарастающим единым ритмом: 
байдарки, работа, горы, писанина, диафильмы, друзья, интересные книги. Потом прибавились работы на отцовской даче, на садовой земле.</p>
<p>47. Дети лишь уплотняли эту круговерть интересов, озвучивая ее своими звонкими и такими нужными нам голосами. И казалось - не будь их, разве мы смогли бы так сработаться, так сродниться?</p>
<p>48. ...Алтайский поход был юбилейным. 10 лет назад Лиля с друзьями уже смотрела на эти горы и гадала о своем будущем.</p>
<p>49. А сейчас мы вместе подбираем местечко, куда б могли приезжать пенсионерами. Жизнь наша устоялась. И, стоя на ее алтайской вершине, можно было подводить итоги.</p>
<p>50. Все на Алтае: и красивые горы, и климат, и лес, и озера, и вершины, казались нам удивительно гармоничными.</p>
<p>51. В такой гармонии и красоте хотелось бы прожить вдвоем до самой смерти: делать нужную работу, растить детей, общаться с друзьями.</p>
<p>52. Но невозможно удержаться на вершине. Гармония не вечна. В верности этих банальных истин нас убедила сама жизнь. </p>
<p>53. Да и на Алтае были подъемы и спуски, за уютом и довольством долины следовали желанная тягость и страх подъема в холод.</p>
<p>54. Алтайские мечты о гармоничной и спокойной жизни нам реализовать не удалось. Но зато было другое движение - зато родились у нас двойняшки.</p>
<p>55. В Москве меня ожидали неприятности: фактическое изгнание из стен академического института, увольнение как неблагонадежного. Потянулась долгая, темная и безуспешная борьба за накопленные материалы, за право защиты диссертации, за право на научную работу и нормальный заработок.</p>
<p>56. Но главное, в Москве уже шло следствие над Якиром и Красиным, как организаторами оппозиции. Затронет ли это следствие меня, и в какой степени? Помешает ли научной защите? Этот вопрос мучил всю зиму, и только выработанная в горах и реках привычка идти без устали и всегда надеяться, помогала мне гнать работу, ожидая чуда: вдруг пронесет, вдруг успею защититься до срыва...</p>
<p>57. Прошли октябрьские праздники, прошел семейный Новый Год, и лишь в марте, на непраздничный, но памятный день смерти Сталина, меня вызвали в КГБ.</p>
<p>58. Почти месяц длились наши встречи и переговоры в Лефортовских кабинетах, пока окончательно и нерасчетливо я не превратился из свидетеля обвинения в обвиняемого по статье: «Отказ от дачи свидетельских показаний...»</p>
<p>59. Шел май 73 года, и с разрывом лишь в неделю прошли и радость: моя предварительная защита - итог трехлетнего напряженного труда, и горе: суд по ст. 182 - еще не полный расчет за 5 самиздатских лет.</p>
<p>По этой, как говорил следователь, слишком мягкой статье, нельзя было посадить в тюрьму. На суде меня даже не уволили с работы. Зато (но это стало ясно лишь позднее), лишили права на защиту уже готовой диссертации.</p>
<p>60. Нe успел я отбыть свои полгода принудительных работ, как осенью последовал новый вызов, теперь на Малую Лубянку из-за серьезных, очень серьезных показаний на меня знакомых. Снова заштормило, закачало наш корабль.</p>
<p>61. Как вела себя в этот штормовой год Лиля?</p>
<p>Я не могу подобрать другого определения, кроме слова - «мужественно». Когда в 69-м году меня исключили из аспирантуры, она плакала, когда же в 73-м судили, она только молчала. А свой допрос в Лефортово провела лучше, чем я. Но все же - это не главное. Ее истинный ответ на штормы 73 года был совсем иным и по-настоящему женственным...</p>
<p>62. ...Нет, нет, мы совсем не сторонники многодетных семей, а знаменитый «десяток малолетних поросяток» вызывает у нас лишь сочувственную ухмылку. И вот это знакомство с алтайской свиноматкой могло породить лишь отрицательное отношение к подобному «геройству». Однако такой алтайский настрой был зачеркнут бурей,</p>
<p>63. а в бурю и войну, как известно, каждый борется за спасение рода, семьи, себя, а женщины рожают мальчиков.</p>
<p>64. Вот тогда-то, в пору очередных октябрьских праздников, в ожидании очередного допроса на Лубянке, начались быть у нас</p>
<p>65. Аня и Алеша. Нет, не скажу, что я тут ни причем. Все 
бури, которые испытала наша семья, пришли к ней по моей, в основном, вине.</p>
<p>66. Но Лилины решения об увеличении устойчивости семейного корабля через детский балласт тоже значили очень много - они нас спасали.</p>
<p>67. ...В те же осенние дни мы решили отдать государству назад занимаемую комнату и купить кооперативную квартиру.</p>
<p>68. Так, еще не родившиеся Аня и Алеша переселили нас в Печатники, а меня летом послали на шабашку.</p>
<p>69. <b>Шабашка!</b> Сначала Дальний Восток, а потом два сезона на Печоре - сколько дали они мне, как сильно изменили, направили в созидательную сторону - и все это случилось по Лилиной воле, по ее желанию родить третьего ребенка.</p>
<p>70. ...Летом 74 года в Хабаровск прилетела искрящая счастьем телеграмма: «Витенька, поздравляю близнецами!»</p>
<p>71. <b>Часть II. «Первые годы»</b></p>
<p>72. Это - мы на прогулке перед своим новым домом. Неприглядна еще наша улица. Не один год ей придется благоустраиваться, обзаводиться магазинами, 100-метровой зеленой зоной перед пляжем, тихим троллейбусом. Аня-Алеша спят в своей двойной, еще не украденной коляске. Хорошо им там.</p>
<p>73. А вот - парадный кадр делает Лиля, стремясь запечатлеть не только семью, но и квартиру на 9-м этаже. Вон как высоко забрались. Крайняя - Галина комната, потом идет общая, потом - наша, затем кухня, а Теминого окна не видно.</p>
<p>74. Из этих комнат в ясные дни раскрывается вид на все южное Замоскворечье, на всю Москву: от колокольни Рогожинского кладбища через всю гамму высотных зданий, Останкинской и Шуховской башен, глава Ивана Великого, и дальше</p>
<p>75. через синь портового моря к Университету, чтобы завершиться старинным Коломенским и Дьяковым, а на нашем берегу - громадным зданием Перервинского монастыря. </p>
<p>Перед Коломенским нам виден первый московский шлюз, слева - остров географический и политический. Хотя давно уже снят там ГУЛАГовский лагерь еще со времен постройки канала, но до сих пор закрыт вход в его поселок. Через шлюз идут пароходы вниз по реке к Коломне на Оке, к Волгограду на Волге.</p>
<p>76. Когда-то, еще до Гали, мы с Темой сели на пароход и поплыли по Москва-реке вниз.</p>
<p>77. Проплыли пустынное Южное «море», мимо еще не выстроенного нашего дома на топких берегах речки Нищенки и, прошлюзовавшись, в первый раз выплыли к Коломенскому.</p>
<p>78. Долго тащил нас старенький «Сергей Есенин», много раз он шлюзовался и петлял по равнине; прежде чем за день и ночь привез нас под утро в Коломну...</p>
<p>79. Да, нескорый путь по воде. И все же мы мечтаем опять плыть - теперь по Волге, до Лилиного и Галиного Волгограда.</p>
<p>     80-81. А пока мы глазеем на речной путь и на заходящее солнце, поджидая, когда подрастут самые маленькие...</p>
<p>82. <b>1-й год жизни.</b> От первой ани-алешиной зимы осталось очень мало кадров</p>
<p>83. - Аня!</p>
<p>84. - Алеша!</p>
<p>85. - И снова Аня. Замечаете разницу? Нет? - А для нас это были два совершенно не похожих существа. Мы так радовались, что они разные: двойняшки, а не близнецы. Не любим одинаковость.</p>
<p>86. И снова Алеша. И так много-много раз на дню. Счастье видеть их, носить на руках, пеленать, кормить, купать... держало наш общий тонус так высоко, что с ним не могла совладать никакая усталость. От них, от добродушного Алешика - «маминой радости» (ведь сын ожидался) и </p>
<p>87. от беззубой улыбки Аннушки - «маминого подарка» - так весело стало в нашем доме.</p>
<p>88. Какие б ни были неприятности, как бы ни штормило вокруг, наши маленькие, как якоря, привязывали нас к земле, и тем спасали.</p>
<p>89. Пусть седые волосы на висках и близко сорок лет, а там и звание бабушки, но в этих, еще таких удивленных глазах уже не угаснет и наша молодость, и наше бессмертие.</p>
<p>90. Ну, а как отнеслись к новым членам нашей семьи старшие дети? - В целом, очень благосклонно. Как будто у Ани и Алеши кроме нас есть еще одна пара родителей -младших только. И только один раз они были недовольны, когда после года пребывания в нашей спальне кроватки маленьких переехали в детские комнаты.</p>
<p>91. Галя стала для них главной и заботливой няней в мое отсутствие. Она маленьким так и велела себя величать - второй мамой. Как будто она возится с большими и очень-очень настоящими куклами. Такая игра, надеемся, ей только в пользу.</p>
<p>92. Тема занят детками зимой меньше, но зато летом, когда Галя в Волгограде, папа на шабашке, а мама уезжает по утрам с дачи на работу, детки целиком на его попечении.</p>
<p>93.<b> Дача.</b> Родители купили садовый участок еще 10 лет назад, и постепенно дача стала предметом постоянных забот, неустанных трудов, источником яблок, меда, ягоды и варенья и гарантированным летним местопребыванием детей. </p>
<p>94-95.</p>
<p>96. Да и нам здесь, среди цветов и свежести бывает хорошо.</p>
<p>97. Дачный участок в лесу, тянущемся к Верее и Можайску. </p>
<p>98. Любимое развлечение - грибная охота.</p>
<p>99. Нам здесь будет особенно хорошо, когда станем свободными от обязательной службы.</p>
<p>100. Ну, а пока надо работать и помогать деду обустраиваться, вести хозяйство и заготовку на зиму.</p>
<p>101-104.</p>
<p>105. Несколько лет назад по настоянию бабули Тани дедушка выстроил теплую кухню. И дача стала настоящим домом. Теперь здесь можно жить и зимой.</p>
<p>106. Бабуля Таня еще увидела малышей, держала их на руках, но, уже смертельно больная, не могла быть с ними много. Похоронили ее недалеко от дачи.</p>
<p>107. А через год умерла Витина бабушка, ушла вслед за дочерью.</p>
<p>108. Особенно сильно перешивал смерть Татьяны Дмитриевны Витин отец. И только внуки на первых порах отвлекли его от тоски и терзаний.</p>
<p>109. Молодые, требовательные, набирающие силу голоса зазвучали вместо голосов усопших. Это естественно. Так заменяются и птицы, и звери. Но люди, ...люди должны помнить.</p>
<p>110-113.</p>
<p>114. Для Алешика этот луг - огромный и манящий мир. Через год он улизнет через калитку, пройдет через луг</p>
<p>115. к лесной речке, где, завязнув в приречном болоте, будет тихо скулить, пока его не найдет Тема.</p>
<p>116. Ну, а пока они еще не могут ходить и только ползают под присмотром Темы или сидят в траве, как грибы,</p>
<p>117. или балуются со столь редко ими занимающимся папой,</p>
<p>118. или дедом.</p>
<p>119.</p>
<p>120. <b>«Первый поход».</b></p>
<p>Первым целевым походом со всеми детьми мы считаем нашу воскресную прогулку по Шоссейной - главной в Печатниках улице - к Перервинскому монастырю и дальше, в еще сохранившуюся деревню.</p>
<p>121. Был погожий мартовский день. Снег уже частично сошел и санки не всегда скользили. Что ж... В походе и должны быть трудности...</p>
<p>122. А вот и первопутешественники. Они уже могут ходить, но не быстро, и потому лучше их вести на санках.</p>
<p>124. Вот первый нестандартный дом на нашем пути - неказистый деревенский продмаг. В своей молодости, в тридцатые-сороковые годы, он был, конечно, стандартным, но сейчас, в отличие от белых одинаковых гигантов, он хранит в себе нашу память, как дед среди внуков.</p>
<p>125. Потом появляется краснокирпичное здание 40-х годов - мы в таких учились.</p>
<p>126. А вот красивое, похоже, еще дореволюционных времен, здание, закрытое, правда, от улицы очередной коробкой. Но может, к лучшему - дольше сохранится. Ведь, наверное, только оно и осталось здесь от старой деревни.</p>
<p>127. Да, пожалуй, еще Перервинский монастырь. Сейчас он 
обозначает собой границу, за которую многоэтажные Печатники еще не перешагнули. 
Может, бьются до сих пор историки-архитекторы, запрещающие строительство высоких 
коробок вокруг монастыря - со строителями,</p>
<p>128. стремящимися побыстрее и проще двигать многоэтажные дома дальше.  Строители, наверное, победят. Белые дома нависают над беззащитным монастырем.</p>
<p>129. Опечалены ли мы этой победой? Да, мы сочувствуем 
историкам-архитекторам, и своим детям хотели бы передать любовь к старинным зданиям,</p>
<p>130. к поэзии жизни и труда предков.</p>
<p>131. Но ведь при всем этом мы сами живем в девятиэтажке белых Печатников, наступающих на Перерву.Нам остается лишь оправдание, что разрушение идет не нашими руками, не по нашей воле... Зато в нашей воле сохранить память вот в этих слайдах...</p>
<p>132. Ведь это Перерва, несмотря на свой поздний вид - один из древних московских монастырей. Основан еще во времена царей Рюриковичей и назывался Никольским мужским монастырем.</p>
<p>133. В XIII веке он принял к себе младшие классы Славяно-греко-латинской академии, нашего первого университета, стал ее младшим братом. Имел 4 церкви, среди которых вот эта, Иверская, выстроенная в 1904 году, вмещала в себе 3000 человек. А   сейчас ... пустынь за забором.</p>
<p>134. Еще 10 лет назад, когда мы фотографировали московские церкви, монастырь выглядел лучше, внушительней, уцелевшие главки очень оживляли его несколько угрюмый вид, в него можно было войти</p>
<p>135. и полюбоваться вблизи старой трапезной.</p>
<p>136. Теперь же монастырь закрыт наглухо, охраняется собаками. А красивые главки уже многие годы закрыты строительными лесами...</p>
<p>137. Мы проходим монастырь и вступаем в деревню, пригородную раньше, а теперь - остаток деревни. С умилением смотрим на водопроводную колонку. С ней тоже связано наше детство. Правда, в моем Мазилове в те годы действовали еще колодцы...</p>
<p>138. Нет, эти дома не могут привлечь внимание краеведов и искусствоведов. </p>
<p>139. Обыкновенные дома, старинные, построенные руками отцов и дедов. Но если присмотреться, то сколько в них отразилось человеческих характеров, как сроднилось дерево с человеком, побывав в его руках. </p>
<p>140-142.</p>
<p>143. И все это должны подмять под себя наши коробки. Неизбежно! Смотрите, дети, запоминайте, как новое воздвигается на костях старой красоты. Смотрите, дети, и ужасайтесь. Может, хоть вам удастся строить, не разрушая; жить, не умерщвляя старое, а делая его бессмертным.</p>
<p>144. Еще полгода назад на этом месте стоял бревенчатый клуб. Наверное, как и в клубе моего детства, здесь стояли лавки, а на стенах масляной краской были намалеваны лозунги, а по вечерам крутили фильмы за 10 копеек, а публика лузгала семечки и лузгу выметали метлами... И вот - не успел я его заснять...</p>
<p>145. Бульдозер хозяйничает в деревне, бульдозер торжествует над Перервой, бульдозер господствует в нашей жизни. Чудовищная механическая сила, пришедшая из будущего, чтобы сломать дома, труды и память предков.</p>
<p>146. Но разве техника выполняет свою волю, или даже волю государственных чиновников?... Нет, если подумать, то мы сами в этом виноваты! В этих домах живут обыкновенные люди и держат обыкновенных злых собак.</p>
<p>147. Работают в московских учреждениях и учат детей в московских школах. И только дома у них деревенские, с дровяным отоплением и без удобств. Но до чего же хочется этим хозяевам получить удобную государственную квартиру - как у всех! И без трудов - в этом особая сладость! Как хочется избавиться от надоевшего отцовского наследства, черт его подери!</p>
<p>148. Порушить бы его на дрова, поджечь...</p>
<p>149. Хозяин одного из этих домов, увидев мои съемки, поинтересовался, не из «комиссии» ли я какой-нибудь, а потом рассказал, как долго они ждут сноса, и что монастырь мешает застройке: «Вот еще, понимаешь, морока...», что соседям вон  </p>
<p>150. сильно повезло, «загорелся, понимаешь, у них дом, до конца не сгорел, успели потушить и вещи все вынести, зато теперь квартиру дали где-то в другом районе...»</p>
<p>- А я думал: «Боже мой!...»</p>
<p>151-152. Ничего этого, конечно, наши маленькие путешественники не увидели. Аннушка терпеливо просидела на санках всю дорогу.</p>
<p>153. Алешик же на обратном пути буянил, желая самолично везти свои санки, и проявлял в этом истинно хохлацкое (или мужицкое) упрямство.</p>
<p>154. Нашим деткам предстоит жить в красивом и удобном микрорайоне, который мы тоже любим заранее. Эти улицы - их родина. Но как хочется, чтобы они узнали и запомнили и другую,</p>
<p>155. нашу, деревянную, с резными наличниками родину, чтобы знали, на чьих костях стоит их дом.</p>
<p>156. <b>«К С П»</b>Если для Темы и 
Гали первые выходы в лес были связаны с воскресными походами, то для Алеши и Ани 
- со слетами клуба самодеятельной песни, сокращенно, КСП.</p>
<p>157. Раньше эти слеты были неофициальными, скрываемыми, и потому небольшими.</p>
<p>158. Теперь о них пишут в газетах, покровительствует комсомол и ходить стали многие тысячи людей,</p>
<p>159. в том числе и мы с детьми.</p>
<p>160. Когда электричка на ближайшем к месту слета полустанке разгружается от гитаристов и их слушателей, то ахаешь от вида этого многоцветного зрелища. Сколько людей стремится к «неформальному общению», пусть в рамках дозволенного.</p>
<p>161. Ближе к ночи с субботы на воскресенье проходит конкурсный концерт... Сетуют «старички», что теперь, после ужесточения самоконтроля исполнителей и самодеятельных авторов на глазах Горкома, конкурс стал неинтересным.</p>
<p>162. Но, может, он и раньше был не так интересен по сравнению с импровизированными и самозабвенными конкурсами в отдельных группах и группах групп (кустах).</p>
<p>163-164. Гигантский контролируемый слет после первого концерта на большой сцене разбивается на десятки неконтролируемых кустовых сцен, как будто пойманный идеологической сетью дракон распадается на множество мелких и вновь неуловимых дракончиков. Невольно пожалеешь работников Горкома...</p>
<p>165. Выступает 8-я творческая студия МИФИ - пародии, стихи, рассказы, сказки, истории, песни - студенческий капустник. </p>
<p>166. Подрывают ли этим ребята наши «идеологические основы»? Да что Вы... У них и в мыслях нет такого. Они только смеются и сами от души веселятся, и заражают своим весельем остальных.</p>
<p>167. Им не нужна идеология. Даже неофициальная и оппозиционная. Им сейчас и пока нужна только свобода. И они пользуются ею здесь в полной мере!</p>
<p>168. Выступает ансамбль «Последний шанс» - певец-гитарист и аккомпаниатор на самых разных из известных и придуманных инструментах. Много детских песен, в том числе и на стихи Юнны Мориц. Прекрасное музыкальное исполнение.</p>
<p>169. Эти ребята из Подмосковья выступали на этом слете первый раз, пели самозабвенно, много раз. Успех перед многотысячной аудиторией был их удавшимся последним шансом    завоевать право на творчество, на профессиональный труд. И они добились успеха, ухватили свой шанс. Теперь их можно услышать не только на лесной сцене.</p>
<p>170. Так песенный слет стал не только местом неформального кострового общения, но и местом свободной игры и выявления таланта, ареной свободного искусства...</p>
<p>171. И смотрели на все-это наши Алеша и Аня, впечатывая пока лишь в подкорку яркий, шумный, мелодичный, благожелательный хороший мир.</p>
<p>172. А мы смотрели на своих детей, тщеславно гордились ими, беспокоились о сухих штанах и теплой еде и молили судьбу, чтобы не заболели. И судьба была нам милостивой...</p>
<p>173-174. А может, пройдут годы, и наши малыши вдруг обнаружат странную приязнь к костровой песне и сами потянутся участвовать в свободной жизни КСП или чего иного. Так уже случилось с Артемкой. Он теперь ездит в лес самостоятельно. Счастливой дороги, дети!</p>
<p>175.  <b>Часть III. «Три года. Украинские корни»</b></p>
<p>Теперь расскажем о том лете, когда завершился ясельный возраст наших деток </p>
<p>176.и приблизилась «взрослая детсадовская жизнь».</p>
<p>177. В это лето им повезло: их родители расстались с горным туризмом и пришли к мысли, что пора ходить с детьми. А то ведь не успеешь пообщаться с ними в походах, как вырастут, перестанут нуждаться, разорвут связи-нити, если окажутся непрочными и будет к старости, которой я так боюсь, глухота и пустота вокруг нас. Хорошо, если удастся ее пройти вдвоем, а если одному?</p>
<p>178. Я никогда не смотрела на детей, как на банк, куда кладут сбережения под проценты - для обеспечения старости. И не будет у меня оснований для упреков: «Вот я тебе всю жизнь отдала, а ты...» -</p>
<p>179. Потому что не отдала, потому что жила сама. А дети только делали жизнь полноценной, а не заедали ее.</p>
<p>180-181. Они никогда не были нашей собственностью. Мы научились обращаться с ними, как с чужими людьми. Да, да, я не оговорилась, подразумевая под этим уважение к внутреннему миру, потребностям, ранимости другого человека.</p>
<p>182. Хотелось бы научить такому отношению старших и младших детей, но удивительно трудно дается им эта наука жизни, - главная наука, без усвоения которой большинством наших молодых сограждан нельзя рассчитывать на положительные изменения в нашей стране.</p>
<p>183-184. А сколько еще иных наук должны усвоить наши дети:</p>
<p>185. вести хозяйство и растить сад,</p>
<p>186. знать и чувствовать красоту всего живущего,</p>
<p>187. испытывать жажду проникновения в глубины жизни, к ее истокам.</p>
<p>188-193.</p>
<p>194. А сколько знаний, доступных сегодня и еще недоступных, должны будут вместить их головы! - Но не спешим мы насыщать ими своих детей, отчасти от недостатка времени, отчасти боимся задавить их стремления к самопознанию, их духовную активность.</p>
<p>195. Вот мы в зоопарке, в этом разнообразнейшем удивительном мире, где и взрослым хорошо.</p>
<p>196. Хорошо от того, что могут доставить радость своим детям,</p>
<p>197. от того, что могут познакомить их и с лисенком, и с медвежонком, и павлином, и бегемотом.</p>
<p>198. А детям хорошо от оживших сказок: увидеть живого Мишку для них так же удивительно, как нам - живого Дракона или Кащея.</p>
<p>199. Жизнь поворачивается к детям такими многообразными гранями, будит к себе их интерес.</p>
<p>200. И пусть пока несмышлены эти глазенки. В свое время они зажгутся интересом, который вызовет сотни вопросов. </p>
<p>201. Пусть будет все естественно, не будем торопить природу.</p>
<p>202. ...А через 2 недели после посещения зоопарка нас уже грело украинское солнце</p>
<p>208. и ублажала днепровская вода...</p>
<p>204-207. «Крот-строитель» (Алеша в песке) </p>
<p>208. Фотофиксируемся у Запорожского дуба, где когда-то казаки писали свое охальное письмо Султану... Алеша - в динамике, остальные - застыли.</p>
<p>209. Мы уже не считаем себя украинцами, а наши дети тем более будут русскими. Но почему-то важно не забывать и этих, украинских корней, почему-то важно показать детям - смотри, и это тоже твое личное наследство.</p>
<p>210. После осмотра знаменитого ДнепроГЭСа, наш путь на «Ракете» лежал вверх по Днепру, в Черкащину, в землю родичей.</p>
<p>211-212. Грустно смотреть, как водохранилища похоронили под собой старый Днепр. Но мы тешим себя надеждой, что на берегу увидим больше.</p>
<p>213. Вместе с детьми мы лазили на Богданову гору в Чигирине</p>
<p>214. И гуляли по паркам Каменки, где каждый поворот дорожки </p>
<p>215. связан со славой декабристов, Пушкина, Чайковского.</p>
<p>216. Много часов тряслись в пыльных автобусах по старинным украинским селам,</p>
<p>217. ночевали в придорожных кустах, бросив палатку, </p>
<p>218. прежде чем добрались до родственников.</p>
<p>219. Какое оно вкусное - парное молоко, а не попросить ли еще у кормилицы-поилицы - тети Нины? - Проси, не откажут. В этой семье доброта естественна, как воздух.</p>
<p>220. Мы любим вспоминать и говорить о них, нашей украинской родне из села Шевченково. Юру и Нину вы уже видели, а</p>
<p>221. это - Маруся - средняя сестра. Пока Нина не вышла на пенсию и не вернулась в дом, на ней лежало все хозяйство, потому что Юра сильно болен, рана с войны, а </p>
<p>222. наша ровесница Оля слаба здоровьем.Но не услышать жалоб от них, недовольных нот в голосе, не увидеть недоброй усмешки, не почувствовать зависти... Говорят, это у них от матери.</p>
<p>223. А я? Какова мера моего добра и хватит ли его детям? Научу ли самостоятельности, трудолюбию и незлобивости?</p>
<p>224. Труд, работа, самостоятельная, без расчета на чужую благодарность и помощь, необходимая: ведь в магазинах почти ничего нету. Насколько меньше такой работы в городе.</p>
<p>225. Нет, например, нужды два раза в день гнать коров на пастьбу. А в деревне это обязательный ритуал. </p>
<p>226. Нельзя не пасти корову Малявку, телку Юльку и теленка Черву.</p>
<p>227. И наши старшие дети, сбив в первый же день свой интерес, остальные дни преодолевали себя, выводя коров в поле. Что же у них больше останется в памяти - радости от преодоления своей лени в большом и нужном деле или </p>
<p>228. злобы от наших понуканий? От итога зависит многое. </p>
<p>229-230.</p>
<p>231. Это была хорошая школа, потому что, кроме всего сказанного, нужно было научиться ладить с другими, такими же пастухами.</p>
<p>232. И совсем неожиданно преподнесла пастьба еще и экономический урок. Ребята согласились за деньги пасти чужую корову. Но их трое: Галя, Тема и главный пастух</p>
<p>233. - хозяйский племянник Вадик. Сложные перипетии дележа заработанных денег показали, надеемся, Теме и Гале, как сложен мир человеческих отношений и как тонка грань между стремлением к справедливости и нанесением несправедливой обиды.</p>
<p>234. ...Как итог этой нелегкой летней работы - пастьбы - прозвучали для меня Темины слова, сказанные им уже после расставания, при встрече с чужой коровой:  «Смотри, мама, </p>
<p>235. совсем как наша Малявка!» </p>
<p>236. Спасибо, Малявка, за уроки старшим детям!</p>
<p>237. Малыши тоже помнят тебя, вспоминают часто. Видели, сколько труда нужно вложить, чтобы тебя накормить и выдоить. Видели, как достается молоко.</p>
<p>238. Но, конечно, их жизнь пока не знает забот. Все впереди. И пока обязательный труд не коснулся их, они живут, как в раю. А разве не так?</p>
<p>239. Стоит только пожелать - и яркие мальвы наклонят свои </p>
<p>240. цветы.</p>
<p>241. Пожелай яблочка - </p>
<p>242. - и оно уже здесь, у ног твоих.</p>
<p>243. А от яблони подойди к груше.</p>
<p>244-245. И слива зреет для тебя...</p>
<p>246. А вон цветок тыквы. Смотри, какой громадный. И сколь многим пчелам дает мед.</p>
<p>247. А вон виноград развесил свои кисти по соседней яблоне... </p>
<p>248. Смотри, смотри, запоминай, полюби через них землю, небо </p>
<p>249-250. .............</p>
<p>251. Это только в детстве можно так увлекательно и безопасно путешествовать посуху на плавательном кругу. </p>
<p>252. Далеко ли? - Не скажем... </p>
<p>253. Да мало ли радостей у жизни... </p>
<p>254-256. Когда вишню - допьяна...</p>
<p>257. Но у жизни есть конец - смерть. Это когда для человека, зверя, травинки все исчезает: - и солнце, и небо, и краски, и запахи. И вы должны </p>
<p>258.  знать о смерти, дети, чтобы не отдать ей себя и ее посланцу - случаю без боя себя и свой мир...  Мы идем на кладбище, к могилам родных.</p>
<p>259. Красивая, 18-летняя, смотрит на нас мама наших теток Оли, Маруси, Нины, Гали, и мы благодарны ей за то, что через все беды революций, голода, репрессий пронесла в душе тепло и добро. Это сейчас легко быть доброй. А как же она-то устояла? Сама ли  по себе, памятью ли мужа? Заботами ли о детях. Светлая ей память!</p>
<p>260. А вот одну из сестер, Раю, сломила жизнь с жестоким мужем. По старому обычаю ее похоронили, как самоубийцу, в углу кладбища. И горько нам у этой могилы.</p>
<p>261. Растет население кладбища. Вот мы у могилы двоюродного брата Витиного отца, еще и года не прошло, как он здесь лежит. Потом проходим к могиле его матери Ольги Павловны. Это хорошо, что родственники собираются вместе хоть после смерти.</p>
<p>262. А теперь мы на прощание еще побродим по селу.</p>
<p>263. С каждым годом все меньше остается мазанок под соломенными крышами. Все больше они замещаются кирпичными строениями под железом и шифером.</p>
<p>264. И, глядя на этот бурный рост благополучия, невольно вспоминаешь, что такое уже бывало здесь: в начале века украинские деревни уже начинали менять соломенные крыши на железные, </p>
<p>265. начинали благоустройство, но катаклизмы гражданской войны, разрух и коллективизации остановили ее развитие и отбросили деревню назад, в Шевченковские крепостнические времена.</p>
<p>266. Глядя же сегодня на эти ухоженные украинские дома, невольно гордишься ими, сравниваешь их не только с нищим сталинским прошлым, но и богатыми западными образцами...</p>
<p>(далее следует сравнительный показ украинских домов с коттеджами австралийских рабочих и пенсионеров).</p>
<p>267. Ну, скажите, пожалуйста, чем такой новый дом украинского</p>
<p>268. колхозника или механизатора хуже</p>
<p>269. домов австралийских рабочих</p>
<p>270. или пенсионеров. </p>
<p>271. Любовь к труду, земле, дому своему и общественное поощрение этой любви делают чудеса благополучия в любом участке земного шара.</p>
<p>272. И мы хотели бы верить, что наши дети будут достойными преемниками этой новой традиции, этого нарождающегося прогресса,</p>
<p>273. что они будут жить и работать не хуже австралийцев. Только дайте срок.</p>
<p>274. Здесь живут наши родичи. Здесь столько Сокирок и Ткаченок  в списке погибших на главном памятнике и на доске почета, здесь постоянно звучит украинская речь, знакомая мне с детства от бабушки. </p>
<p>275. Мама старалась говорить только по-русски и сердилась на бабушку, что, мол, она обучает меня, свою внучку - грубой провинциальной, по ее понятиям, украинской мове... </p>
<p>276. Здесь то и дело встречаются похожие на меня женщины и, включившись в круговерть огородно-кухонных дел, я отчетливо осознала, что руки, и тело, и мозг мои созданы для крестьянской тяжелой работы, для цепляющихся друг за друг забот, что в них сидит память моих предков, украинских земледельцев, питающая меня силой и здоровьем.</p>
<p>277. Город, учеба потребовали от меня перестройки на другой тип работы - умственной, перестройки нелегкой, на всю жизнь. Тешу себя надеждой, что детям будет легче. Но кто знает, как сложится их судьба, может, как раз дети вернутся в отчину и будут перестраиваться на крестьянский труд от зари до зари.</p>
<p>278. Нам только не сгубить бы их природное трудолюбие, научить получать радость от труда, любого, самого простого и незавидного.</p>
<p>279. Кроме Черкащины на Украине есть и другой корень наших детей - село Гвинтовое - родина моей мамы. Давно, очень давно я хотел приехать в эти места, но лишь сейчас, после маминой смерти, наконец-то собрался.</p>
<p>280. Здесь совсем иная Украина, луговая, лесная, равнинная, пограничная к России и почти Россия. Ближайший райцентр - древний русский Путивль, ближайшая река - </p>
<p>281. Сейм, с детства звучавший для меня легендой больше, чем все остальные реки мира.</p>
<p>282. Гвинтовое - большое, глубинное и уже не растущее село. Молодежь уезжает. Сама, по своей воле. А вот дед Витин уезжал отсюда не по своей воле.</p>
<p>283. Не собирался он покидать землю отцов. Вынудили в коллективизацию.</p>
<p>284. Тут, напротив кладбища, и было их подворье - братьев Степанкив, т.е. детей Степана Глобенко, прапрадеда для наших деток.</p>
<p>285. Из соседней русской Нечаевки на это подворье пришла жить молоденькая Поля. Она родила деду пятерых дочек и долгожданного сына. Две девочки умерли маленькими, выросли трое.</p>
<p>286. Жизнь девчоночья, полная работы с раннего детства, имела,</p>
<p>287. конечно, и радости, которые тем более ценились, что были не часты. Пo большому двору бегали они к ставку,</p>
<p>288. ели, как и я сейчас, яблоки и груши с деревьев, посаженных дедом,</p>
<p>289. и гоняли к Сейму лошадей по ровному-ровному лугу.</p>
<p>290-291. Ну, а уж там-то - какое раздолье! </p>
<p>292. Мамины ровесницы продолжают жить, еще крепки, несмотря на все перенесенные тяготы и тяжести. Мы как будто принесли с собой волшебный ключик, которым открыли их память. Как они оживились, вспоминая и Таню, и Настю, и Соню, и тетю Полю, и дядю Митрия...</p>
<p>293. «Вот здесь стоял дом дяди Митрия, вот прямо здесь, а там - его брата, нет, нет, чуть правее»...</p>
<p>294. Как приятно им вспоминать, вызывая из небытия свою молодость.</p>
<p>295.<b>«Волгоград»</b></p>
<p>Кроме Украины у наших детей есть еще и моя родина - город, где я родилась и прожила до семнадцатилетия - Волгоград. </p>
<p>296. Вот на этой по-деревенски тихой улице, тогда еще без многоэтажек, и прошло мое школьное детство.</p>
<p>297. Вот моя школа. Моя школьная подруга Валя взяла меня «за ручку» и ведет в школу.</p>
<p>298. Отчий дом </p>
<p>299. с вишневым садом</p>
<p>300. и столом под яблоней. Гале здесь привычно, Тема бывал меньше, а малыши приехали в первый раз и в первый раз</p>
<p>301. увидели свою старенькую прабабушку.Не очень-то им везет на общение с бабушками, московские умерли, волгоградская бабуля приезжает раз в год. Но все же сколько-то бабушкиного любви и тепла и им досталось. И может, дадут со временем добрые свои плоды.</p>
<p>302. <b>Заключение.</b></p>
<p>Наши детки уже ходят в детский сад и называют себя большими. Крепыш Алеша и</p>
<p>303. расцветающая Аннушка...</p>
<p>304. В суровый год начались наши младшие дети. Много сделали для нас своим существованием. В благодарность за это</p>
<p>305. мы желаем им быть счастливыми и богатыми - горами, друзьями, книгами.</p>
<p>306. А главное - чтоб были хорошими людьми и не боялись трудностей и опасностей, ибо из них выросли.</p>
<p>307. А что получится из наших желаний, жизнь покажет! </p>
<p>308-325.</p>
</div>
<br/>

{% endblock content %}
