{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Соловки{% endblock %}
{% block content %}



<br/><br/>
<p><b>Пояснение. </b>Прежде чем поехать на Соловки, мы встретились с другим северным монастырем - в Кож-Озере. Когда-то он был огромным и даже соперничал с Соловецким, но сейчас полностью обезлюдел, оставив после себя только кирпичные здания и рассказы жителей на Онеге о прежнем крепком монастырском хозяйстве и о последующей трансформации его сначала в хилую коммуну, потом в колхоз, вплоть до поголовного выселения с когда-то богатых мест. Не прогресс, а очевидный регресс...</p>
<p>В Соловках же меня задело за живое совсем иное: история о том, как этот величественный монастырь был основан бескорыстными аскетами и подвижниками, а вырос в богатейшее хозяйство, а потом и в тюрьму для противников самодержавия. И такое создалось впечатление, что жертвенность и коммунистическое бескорыстие старцев-основателей под силу лишь одиночкам, а тысячи последователей обязательно низводят их идеалы до мещанского благополучия сытой жизни, или, что еще хуже - до безобразий семейной коммуны и колхозов. Не могут быть все Сергиями. Коммунизм для всех - недоступен и способен утверждаться только силой, т.е. превращаться в огромное зло. Эта простая истина коснулась меня именно в то лето, на Соловках. Вот почему я теперь - за обыкновенное счастье, за "мещанскую жизнь" и капиталистическое хозяйство. Но, правда, эти резкие формулировки пришли позднее.</p>
<p>Тогда мы еще не знали Самиздата и всей послереволюционной истории Соловков, но и таинственных слухов о Соловецких лагерях особого назначения хватало для создания в диафильме совершенно особого настроения страха и недоумения: почему столь прекрасное место, столь памятное духовными подвигами старцев-основателей, превратилось в лагерь уничтожения.</p>
<p>В конце диафильма я поместил длинное-длинное белое 
стихотворение Луи Арагона из журнала "Иностранная литература" (к сожалению, 
сейчас  не могу найти первоисточник-журнал), адресованного Пабло Неруде, 
символического по форме, но, в то же время, для меня совершенно ясного: речь шла 
о "земле", которая "предает" своих лучших сынов-коммунистов, обрекает их дело на 
неудачу. И, тем не менее, "сыновья" продолжают любить неблагодарную "землю". 
Утешение Арагон находит только в аналогии: как для получения вина необходимо 
давить ногами драгоценные гроздья винограда, так и земля-народ давит их - для 
чего? - наверное, для своего будущего?.. Жертва жизни подвижников-коммунистов, 
отвергаемая большинством современников, получает при этом какое-то 
сверхъестественное, сверхприродное оправдание и смысл... И, как ни странно, я 
его всегда принимал, хотя вместе с тем уже оправдывал и "предательство земли", 
ибо видел - от пламенных идеалов в будущем появлялось не вино счастья, а 
похмелье тюрем и лагерей. Вот как во мне все это совмещалось! А просто тема 
превращения идеалов в свою противоположность на примере Соловков наложилась на 
самую больную личную тему (<a href="/Tom2/">"Наши горы"</a>                                                                                                                                                                   ). В 1967 году революционер-фанатик и обыватель-циник мне казались единственно возможными альтернативами в поведении, и, в то же время, равно опасными и отвратительными. Тип обывателя-труженика еще не вырос в моих глазах, и казался просто недалеким, недоразвитым типом циника: стоит ему только призадуматься над тщетой своих усилий, и не избежать разочарования и цинизма, а возможности его развития в сторону протестантизма я не видел... Молодость еще тянула меня к революционному бунтарству, хотя разум уже основательно поработал над развенчанием экстремистских идеалов.</p>
<p>Поэтому, не имея своего ответа на поставленную Соловками тему, я с облегчением схватился за муки современных западных коммунистов (оказавшихся в столь трагическом раздвоении между разумом и чувством верности идеалам молодости) "Что-то хорошее все же получается из наших мук и крови" - эта беспомощная вера русских народников прошлого века еще живет в стихах Арагона, еще находит отклик в душах современной молодежи. В 1967 году у меня она была уже на излете. Нам было по 28 лет.</p>
<p>Когда же (уже после 1968 года) я с ней окончательно расстался, то послушался Лилиного настояния и стер стихотворение Луи Арагона - это еврокоммунистическое окончание - с магнитофонной пленки, где были записаны "Соловки", избавив диафильм от главного противоречия в тексте. Правда, Лиля приводила, главным образом, доводы эстетического порядка: длинный и непонятный стих разрушал впечатление от самих Соловков, от их природы, истории и современности... Он также затруднял понимание и без того трудной темы: как именно аскетизм основателей связан с вчерашними лагерями и сегодняшним поголовным пьянством соловецких сезонников, этим послереволюционным похмельем.</p>
<p>1. Диафильм "Соловки".</p> <p>2. 	Костер огнем багровым дышит./Висят, как три летучих мыши, <br/>
      На черной жерди котелки /И вкусно звякают половники.</p>
<p>3. 	Приплыли новые паломники /За красотой на Соловки.<br/>
      Глядят в раздумии ребята, /Как в озеро кусок заката <br/>
      Упал и подпалил сосну, /А в чем же смысл встающей ночи, <br/>
      Где острова плывут как кочи, В покой стеклянный, в тишину.<br/>
               Средь моря только горсть России, /Но полземли - в любой росинке <br/>
      На лбу покатом валуна.</p>
<p>4.  Соловки стали Россией пятьсот лет назад, и с тех пор ни на секунду не переставали быть ее частью. Да только ли частью? Они запали в душу нашего народа, как место особое - для одних - святое, для других - страшное.</p>
<p>5. Два часа Белого моря, и встает над ним узкая полоса зеленого леса с маяком на холме, что зовется Секирной.</p>
<p>6. И, кто знает, может, и вам захочется заговорить горьковскими словами:</p>
<p>7. "Словами трудно изобразить гармоническое неуловимое сочетание прозрачных нежных красок Севера, так резко различных с густыми, хвастливо яркими тонами юга... Над морем -</p>
<p>8. ...густо зеленые холмы, тепло одетые лесом; и на фоне холмов - Кремль монастыря... как постройка сказочных богатырей...".</p>
<p>9. Соловки - это, прежде всего, монастырь, Кремль, подобного которому нет в России.</p>
<p>10. Как будто складывали эти гигантские стены, многотонные камни, легендарные циклопы...</p>
<p>11. Но монастырь - это еще не все. Соловецкие острова - это уникальная по своей мягкости и красоте природа, необычная для сурового Северного края и неожиданная среди студеного Белого моря.</p>
<p>12. Жителям Среднерусских лесных равнин она покажется совсем обычной, а, может, и невзрачной. Но вспомните тогда, как шли сюда в давние времена люди с разных концов Белого моря: - от суровых архангельских болот и каменистых рек с приморской тундрой, - от чахлых низкорослых лесов Карелии, - или вообще от ледяных тундр Кольского полуострова - </p>
<p>14. И, попадая сюда, они не могли не воспрянуть духом. Ну, разве не святые это места. Богом избранные для праведников?</p>
<p>15. Но когда-то Соловки были безлюдной землей... И освоение ее, как ни странно, начали пустынники, их дух аскетизма и подвига.</p>
<p>16. Вот на этом месте, в Савватиеве, где ныне пустуют монастырские хоромы, пятьсот лет назад стояла низкорослая келья Савватия и Германа. Сюда они бежали от мирской суеты уже освоенных монастырей.</p>
<p>17. Поморы, перевозившие их с материка, смеялись и не верили, что на этих островах можно выжить. И действительно, через шесть лет, не выдержав скудного житья, голода и холода, островитяне вернулись на материк, к Выгу. Савватий через год умер.</p>
<p>18. Но скоро нашелся продолжатель. Инок Зосима - стал первым настоятелем Соловецкого монастыря. Это его дух лег первым главным камнем в соловецкие стены.</p>
<p>19. Соловки - это памятник героизму первых пустынников, их мученичеству ради веры, их бесстрашию первопоселенцев в борьбе с природой, их чистоте и бескорыстию.</p>
<p>20. Взобравшись на гору Секирную, к маяку, который более ста лет назад был устроен монахами в специально выстроенной церкви</p>
<p>21. лучше всего можно увидеть соловецкий мир. Наблюдая, как быстро сменяются красная и короткая летняя ночь</p>
<p>22. на светлый день, можно размышлять о борьбе природы и человеческого духа.</p>
<p>23. Соловки - это гимн труду объединенных людей. Помните, как в "Таинственном острове" Жюля Верна четыре энтузиаста с помощью лишь своих рук и разума преобразовали дикий остров. Но если у Жюля Верна - фантазия, то огромное сложное хозяйство Соловецкого монастыря - реальность зримая.</p>
<p>23. Если вы приедете на турбазу, то поселят вас в монастырских кельях, и вы будете ходить по монастырскому двору и пить воду из искусственной питьевой речки, созданной монахами на этом острове без рек.</p>
<p>25-25a. И бродить вы будете по старым монастырским дорогам, на которых до сих пор еще остались полосатые верстовые столбы, вызывающие ассоциации с временами ямщиков и троек.</p>
<p>26. По этим удобным и красивым дорогам вы будете доходить до скитов, ныне по большинству пустующих, а когда-то выполнявших роль производственных бригад мощной монастырской коммуны.</p>
<p>27. Если в скиту Исакова монахи ловили пресноводную рыбу, то в Нижней Сосновке они брали морскую рыбу и тюленя. Сейчас все это разваливается, никому не нужны эти крепкие, сложенные из глыб, по-соловецки, стены, хоть и рыбачат здесь бригады сезонников.</p>
<p>28. Если в скиту Реболде работал монастырский завод по выплавке тюленьего жира, то в Макарьевской пустыни выращивали цветы и овощи.</p>
<p>29. А на Муксалме содержали огромные монастырские стада. Вся еда у монахов, кроме муки, была своя. Не то, что сейчас, когда все привозное.</p>
<p>30. В житиях Зосимы так и писалось: "Землю копали и деревья на постройки монастырские готовили, также множество дров рубили и воду из моря черпали, и соль варили, и продавали ее купцам и брали от них всякое орудие, потребное монастырю. Творили и так от своих потов и трудов кормились".</p>
<p>31. Даже самый экзотичный Соловецкий аттракцион - катание на лодке по озерам - обязан строительному искусству монахов. Двенадцать озер были соединены ими судоходными каналами, а еще семьдесят - питьевыми, для сбора излишка воды.</p>
<p>32. Таинственно молчаливые каналы! У них необычное свойство - здесь невозможно не думать об их строителях, не чувствовать их присутствие,</p>
<p>33. разрывая в прищуре соловецкого солнца туманные кольца истории...</p>
<p>34. На Соловках более 400 озер, со своими островами, а иногда и микроозерами. Для байдарочников эти сотни озер, разграниченных лишь несколькометровыми волоками, - настоящий лабиринт.</p>
<p>35. Из каждого так же трудно выйти,</p>
<p>36. как из того первобытного лабиринта, который задолго до христианства возник на Заячьих островах. Мы не смогли туда попасть и испытать сами первобытную магию, а только посмотрели с соловецкого берега и погрустили,</p>
<p>37. сидя у знаменитого переговорного камня.</p>
<p>38. Соловецкий мир! Ты остался памятником труду энтузиастов. Пусть они были верующими монахами, пусть они не называли себя коммунарами, но они жили здесь ради идеи, в равенстве и братстве, хоть и христианского толка. Они пришли сюда сами по велению духа, особенно в начальный, самый трудный период жизни монастыря. И эта праведная жизнь вызывала восторг всей России.</p>
<p>39. Сюда на поклон и причащение шли самые активные люди нашей земли, чтобы, прикоснувшись к святыне, самому вдохновиться на жизненный подвиг. Здесь были Степан Разин перед восстанием, и Авраамий Палицкий после организации отпора польской интервенции.</p>
<p>40. Отсюда же вышел и преобразователь русской церкви в XVII-ом веке - будущий Патриарх Никон, своими новшествами сильно снизивший накал коммунарско-подвижнического фанатизма в России для государственной пользы.</p>
<p>41. И тогда Соловки объявили раскол, первыми встали грозными стенами против своего воспитанника.</p>
<p>42. Несколько лет они защищались от царских стрельцов, пока черная измена не погубила их и тайным ходом не впустила врага. После этого Соловки навсегда потеряли свою духовную самостоятельность. Кончился начальный, подвижнический период их жизни.</p>
<p>43. Соловки стали оплотом официальной религии и государственности, центром русской колонизации на Севере. Окрепнув хозяйством, монастырь потучнел, и стал одеваться роскошно.</p>
<p>44. На монастырском дворе на обозрение туристов выставлены два колокола.</p>
<p>45. На большом во весь бок вылито изображение монастырских зданий в пору их расцвета. Можно себе представить, как горели на солнце эти островерхие маковки.</p>
<p>46.  Но, чтобы объемней увидеть монастырь сегодня, можно рискнуть и по шаткой лесенке взобраться на верх Прядильной башни.</p>
<p>47-48.</p>
<p>50. Монастырские здания громоздки и монументальны, как и подобает оплоту государства и религии. Обшарпанность, отсутствие позолоченных маковок только обнажает их суть.</p>
<p>52. Какая мрачная громада - Преображенский собор! Даже сейчас давит на психику. И как же он был силен раньше, когда наступал на паломника</p>
<p>53. и блеском маковок, и строгостью стен, строгими глазами икон и сладким пением монахов.</p>
<p>54. Паломники не знали о другой жизни монастыря. Подземелья его соборов были превращены в тюрьмы для заключенных с материка. Соловки - это не только память о творческой силе идеализма. Одновременно это памятник и предательству.</p>
<p>55. Это память о том, как монастырь обратил пламень веры монахов, фанатизм их христианского коммунизма на гнусное дело - охранение царского государства. Это память о том, как превратились чистые обители проповедников братства и любви в тюрьму для поборников свободы и демократии. Десятками лет томились здесь сподвижники Петра Первого и последний кошевой Запорожской Сечи, декабристы и демократы, революционеры и правдолюбцы - соль земли Русской. И только в 1903 году в дыхании революции монастырь избавился от этого кошмара.</p>
<p>57. Но не везло Соловкам. В сталинское время они снова стали синонимом тюрьмы. Организация с тягостным названием - Соловецкие лагеря особого назначения - в сокращении СЛОН - заполонила весь остров.</p>
<p>57а. Бедные Соловки! Чистая озерная, островная капля русской земли, так верно и полно отразившая в себе всю Родину, во что превратили тебя люди?</p>
<p>58. Но не будем чернить и без того черную историю. Не забудем упомянуть про наступившую в 1961 году эпоху открытых, свободных Соловков. Соловки сегодня - это поселки, отремонтированные дороги и автомобили на них.</p>
<p>59. Это туристы и строительный студенческий отряд МГУ, реставрирующий древние стены и строящий аэродром.</p>
<p>60. Это бригады по сбору водорослей: ламинарий, фуксов и анцефелий.</p>
<p>61. За водоросли платят хорошие деньги. Но деньги эти сезонникам не идут впрок. Водка живо их отбирает, оставляя взамен тяжелую голову и опустошенную душу, не говоря уж о виде.</p>
<p>62. Ничто этих парней не трогает: ни природа, ни море. Жирные морские утки, летающие здесь в изобилии, провожаются ленивым взглядом, как приевшаяся закуска.</p>
<p>63. Рыба, как приправа все к той же горькой, а гагары и тюлени, живущие на этих мелких островках, - лишь как предмет пьяного любопытства.</p>
<p>64. Содрав с туристов в пятьдорога за перевоз в пять километров - через пролив на второй по величине остров архипелага Анзер, - они постараются побыстрее купить на полученное три поллитра, и разопьют их тут же в море,</p>
<p>65. ...всуча тебе право везти их на Анзер. Вначале они будут вас уверять, что уже давно сами хотели посмотреть на глубину Анзера и взобраться на гору Голгофу - высшую точку всего архипелага. Но не верьте!</p>
<p>66. Они уже перевезли не одну группу туристов, и выпили не одну бутылку водки, но добраться сюда, в заповедный край чистейшей красоты и удивительный даже для тех, кто видел большой остров Соловков, - они не смогли и не смогут!</p>
<p>66а. Водка съела их силы и тягу к красоте. Им не под силу пройти и три километра до скита,</p>
<p>67. и еще пять - до Голгофы.</p>
<p>68. Они не смогут подняться до женского монастыря, расположенного на самой вершине, и хоть раз взглянуть не снизу,</p>
<p>69-69а . а сверху на просторы Анзера и на весь Соловецкий мир. </p>
<p>70. И пусть они живут здесь много месяцев, просторов этих им не увидеть, души Соловков не понять. Пьяная жизнь забрала у них страшно много, она украла у них Анзер.</p>
<p>71. Мы все не верим в бога. Эти парни тоже не верят, но у них, как сказал один старичок: "осталась в душе одна пустая пространства, чтоб было, куда водку заливать". Ушла вера. Так что же должно ее заменить? Новая вера? Этих парней трудно забыть и, перебирая соловецкие впечатления, мы не можем уйти от мысли, что и они определяют сегодняшние Соловки, что, только разрушив тюрьмы, отменив лагеря и запреты, расковав души людей, - полной правды и торжества человека не достигнешь.</p>
<p>72. Соловки - это наша земля, сменившая святое вдохновение первых старцев на лицемерие попов, земля, предавшая идеалы монастырской коммуны ради сытости официальных проповедников, заветы братской любви и терпимости на застенки для своих же лучших сынов.</p>
<p>73. Это - наша земля, сменившая пламень революции на вьюгу концлагерей и беспросветную пьянь нынешних парней. Это она, наша родная земля, все долгие годы меняла</p>
<p>74. пламя на стужу, добро на зло, свет на тьму.А, может, - она права, земля?</p>
<p>75. Острова Большой Соловецкий и Муксалма соединяются трехкилометровой дамбой, сложенной монахами из огромных валунов.</p>
<p>76. Сидя у арок дамбовых каналов и наблюдая за морским течением, вспомните эти строки Луи Арагона...</p>
<p>77.</p>
<br/>

{% endblock content %}
