{% extends 'base.html' %}
{% block title %}ЗЭС N6: А.Канцеленбоген "Разноцветные рынки в Советском Союзе"{% endblock %}
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
6</h3>
<h1>
<p><font size="4">Раздел I. Наука</font></p>
<p>А.Канцеленбоген "Разноцветные рынки в Советском Союзе", ж. "Soviet Studies", 
январь 1977г.</p></h1>
<p><strong>Предисловие составителя</strong></p>
<p><em><strong>Настоящая статья была написана известным советским 
ученым-экономистом и теоретиком оптимального планирования, эмигрировавшим из 
СССР в начале 70-х годов, - уже зарубежом, в старых добрых традициях 
экономического анализа и почти без использования общепринятой у нас "плановой" 
терминологии, что, на мой взгляд, скорее хорошо, чем плохо. Редкие попытки 
рассмотрения нашей экономики не как чисто плановой, а хотя бы как двухсекторной 
(см., например, обсуждение книги Волгина в ЗЭС №2) вызывают обычно резкое 
осуждение со стороны официальной экономической науки.</strong></em></p>
<p><em><strong>Перевод статьи осуществлен специально для нашего сборника. Я 
надеюсь, что с ее помощью будет положено начало для научного рассмотрения 
реального положения дел в нашей экономической системе в целом. Конечно, можно 
ожидать, что бывшие коллеги А.Канцеленбогена, оставшиеся доныне на своих постах, 
воспримут данную статью как нечто неприличное, но людям, стремящимся к овладению 
истиной, не следует этим огорчаться: мировая наука, в отличие от "советской" от 
подобных аргументов не зависит.</strong></em></p>
<p><font size="4">Введение.</font></p>
<p>Опыт советской действительности до настоящего времени показал, что вопреки 
предсказаниям Маркса плановая социалистическая система нуждается в элементах 
рынка. На самом деле можно говорить о целом ряде рынков в СССР. Цель настоящей 
статьи – попытаться расклассифицировать их типы.</p>
<p>Прежде всего, я различаю рынки с точки зрения их легальности: Если 
правительство и народ открыто поддерживают определенный тип рынка, то это 
легальный тип. Я буду обозначать такие типы яркими, светлыми цветами: красный, 
розовый, белый. Если народ нуждается в некотором типе рынка, а правительству он 
не нравится, но оно в то же время "закрывает на него глаза" (идет на 
компромисс), то это полулегальный тип, который я обозначаю серым цветом. Если 
народ (или часть его) поддерживает рынок, который правительство хочет 
уничтожить, то это нелегальный тип рынка. Для обозначения таких типов я буду 
использовать темные цвета – коричневый, черный.</p>
<p>Другая классификация рынков может быть осуществлена с точки зрения того, в 
какой степени они обусловлены централизованной плановой системой. По этому 
критерию я предлагаю выделить три следующих группы рынков:</p>
<p><u>Группа 1 – имманентные рынки</u>. Это рынки, внутренне присущие развитому 
обществу как таковому. Они являются творениями больших экономических систем, в 
которых действуют личности, наделенные разнообразными человеческими страстями. К 
таким относятся красный и розовый рынок, а также черный рынок в той мере, в 
какой он связан с продажей товаров, запрещенных в любом цивилизованном 
обществе.</p>
<p><u>Группа 2 – собственно социалистические рынки</u>. Это ряд рынков, 
порожденных плановой системой с государственной собственностью. К ним относятся 
серый рынок для продажи средств производства и особенно черный рынок, связанный 
с хищениями социалистической собственности.</p>
<p><u>Группа 3 – рудиментарные рынки.</u> Это рынки, возникшие в СССР в основном 
как следствие специфических исторических условий в развитии крестьянской страны 
с низким уровнем жизни и культуры. К ним относятся белый рынок, серый рынок для 
продажи потребительских товаров и коричневый рынок.</p>
<p>Я буду основывать свой анализ рынков на первой классификации, т.е. с точки 
зрения их легальности. Вторая классификация поможет в прогнозировании развития 
различных типов рынков в будущем (см. таблицы)</p>
<p>Все сказанное позволяет нам подойти к более детальному рассмотрению причин 
формирования внутри плановой системы рынков, которые на деле осуществляют 
централизованный механизм плановых решений администрации и дополняют его. Тaкие 
рынки могут существовать для всех видов товарных услуг и трудовых ресурсов. Ниже 
мы будем рассматривать только рынки для продажи товаров и услуг.</p>
<p>Некоторые типы рынков в СССР, особенно черный, хорошо описаны в ряде 
публикаций специального и общего характера и поэтому не будут рассматриваться 
здесь в деталях. Что касается легальных рынков, то многие их аспекты одинаковы 
для всех современных экономических систем, и я не буду подробно останавливаться 
на них.</p>
<p></p>
<p>Основные черты разноцветных рынков в Советском Союзе (в статье они 
представлены в двух таблицах и описаны. Поскольку описание достаточно подробное, 
то таблицы при подготовке статьи для  нашего сайта опущены - Л.Т.)</p>
<p><font size="4"><strong>Легальные рынки</strong></font></p>
<p><strong>Красный рынок. </strong>В плановом хозяйстве так же, как и в 
рыночном, потребности потребителей различны. Чем более дифференцированы доходы и 
чем разнообразнее производимые потребительские товары, тем более гибкой должна 
быть система их распределения.</p>
<p>Возьмем период крайне низкого уровня потребления, например, во время войны. 
Ассортимент потребительских товаров невелик и их можно распределять 
непосредственно путем прямого нормирования по карточкам.</p>
<p>Но потребности людей все же неодинаковы, так что возникает параллельная 
система перераспределения товаров, полученных по карточкам. Это было очевидно в 
СССР во время 2-й мировой войны. Тот факт, что табак выдавался по карточкам 
всем, хотя некоторые люди не курили вообще, а для других курение очень важно, 
привел к "отношениям перераспределения": Иногда девушки обменивали хлеб на чулки 
и т.п.</p>
<p>С ростом производства потребительских товаров после войны стала насущной 
необходимость в более гибком распределительном механизме. В принципе каждый 
должен быть свободным в выборе нужных ему товаров в рамках обшей ограниченности 
денежного дохода.</p>
<p>Советский механизм, созданный для распределения потребительских товаров, 
должен, строго говоря, рассматриваться, как квази-рынок, так как государство 
устанавливает и доходы, и цены. В то же время и в устройстве на работу, и в 
потреблении присутствуют существенные рыночные черты, и это оказывает влияние на 
действия государства.</p>
<p>В теории обычно считается, что с постепенным приближением к полностью 
коммунистическому обществу будет уменьшаться роль красного рынка и возрастать 
роль безденежного распределения. Однако, по нашему мнению, с ростом общего 
уровня жизни роль красного рынка должна повышаться. Желательно постепенно 
включить в этот рынок даже те товары и услуги, которые сейчас распределяются 
бесплатно. Можно признать, что их бесплатное распределение в значительной мере 
связано с низким уровнем жизни (имеется ввиду, прежде всего, медицинское 
обслуживание и образование).</p>
<p>Традиционная идея распределения по потребностям противоречит пониманию 
существующих ограничений в расширении производства. Нет необходимости повторять 
здесь все преимущества легального рынка с точки зрения выбора и эффективности в 
условиях ограниченных ресурсов. Вопрос заключается в том, какова роль такого 
красного рынка в СССР, сейчас и в будущем, каковы его отношения с другими 
рынками и какое место занимает он в экономике в целом.</p>
<p><strong>Розовый рынок. </strong>Люди в СССР, как и Homo sapiens вообще, 
иногда ошибаются. В частности, они могут ошибиться, купив ту или иную вещь. Если 
эту вещь нельзя вернуть в магазин, то покупатель может исправить свою ошибку, 
продав ее тому, кому она нужна.</p>
<p>Желания советского гражданина, как и всякого человека, меняются с течением 
времени. Он может захотеть купить новую вещь, но у него нет денег. В то же время 
он готов продать ранее купленные вещи, которые нужны ему меньше, чем новые, и 
получить таким образом деньги.</p>
<p>Боясь появления неконтролируемого рынка в результате таких стихийных 
перепродаж и возможности превращения его в черный рынок с участием спекулянтов, 
государство создало специальную сеть государственных комиссионных магазинов для 
продажи одежды, мебели, книг и других потребительских товаров.</p>
<p>Так как число комиссионных магазинов сравнительно невелико (в Москве, 
например, их всего несколько дюжин), они не требуют сколько-нибудь значительных 
капиталовложений. Издержки по их содержанию полностью покрываются комиссионным 
сбором, которым облагается продаваемый товар (7% продажной цены).</p>
<p>Комиссионные магазины защищены от убытков, в случае, если на товар не 
найдется покупателя, так как деньги за него выплачиваются продающему только 
после продажи товара. Государство внимательно контролирует деятельность 
комиссионных магазинов. С целью предотвращения использования таких магазинов для 
продажи краденых вещей или товаров, изготовленных частными лицами, предметы, 
принимаемые для продажи, регистрируются с указанием паспорта продающего. 
Государство контролирует цены в комиссионных магазинах, запрещая делать их выше 
государственных цен.</p>
<p>С учетом этого ограничения цены в комиссионных магазинах в отличие от 
государственных устанавливаются самим ком.магазином. Эти цены очень гибки. С 
согласия продающего они могут быть быстро снижены, если вещь не находит 
покупателя.</p>
<p>Наконец, следует отметить существование такого вида комиссионных магазинов, 
как скупочные, где продающему деньги выплачиваются немедленно, но комиссионный 
сбор намного выше, чем в обычных комиссионных магазинах. Таким образом в СССР 
создана сеть госуд.магазинов, которые выполняют посреднические функции, 
вызванные необходимостью у потребителей перепродажей исправить свои ошибки. Эти 
магазины являются собственностью государства, и, что очень важно, служащие в 
этих магазинах – это государственные служащие. Таким образом мы имеем дело с 
ситуацией, аналогичной красному рынку. В то же время имеется и существенное 
различие между этим и обычным государственным магазином. Основное отличие 
заключается в том, что, как мы уже отметили, цены здесь устанавливаются самими 
работниками магазинов, что создает гораздо больше возможностей увеличивать свои 
доходы. В этом основная причина, почему комиссионные магазины – не красного, а 
розового цвета.</p>
<p>Каковы же перспективы развития розового рынка в СССР? - Он будет продолжать 
существовать в будущем, потому что причины, вызвавшие его к жизни, лежат внутри 
человеческой натуры. С ростом уровня жизни и числа потребительских товаров, 
будет расти и роль этого рынка. Естественно, произойдут структурные изменения 
природы товаров, продаваемых на розовом рынке: когда одежда станет сравнительно 
недорогой, вещь, которую уже несколько раз одевали, не будет представлять почти 
никакой ценности, но через комиссионные магазины, возможно, будут продавать 
автомобили.</p>
<p>Возможно также, что розовый рынок по способу своего функционирования начнет 
конкурировать с красным рынком. Не исключено, что усовершенствование методов 
советской торговли может пойти по пути организации работы государственной 
розовой торговой сети на подлинно комиссионных принципах для предприятий, 
производящих товары потребления. Разумеется, такая реорганизация торговли 
повлечет за собой определенные социально-экономические изменения.</p>
<p><strong>Белый рынок. </strong>Белый рынок – это совсем другой тип легального 
рынка. Его специфика, по сравнению с розовым рынком, заключается в том, что 
продажа осуществляется самими владельцами товаров. Этот рынок, хотя и 
контролируется государством, но в гораздо меньшей степени, чем розовый 
рынок.</p>
<p>Можно выделить два типа белых рынков: один по продаже товаров долговременного 
пользования, и второй – на котором продаются в основном продукты питания. 
Причины их образования существенно различны.</p>
<p><em><strong>Товары долговременного пользования.</strong> </em>Вследствие 
неадекватности розового рынка нуждам населения, власти разрешают во многих 
городах продажу вещей, бывших в употреблении, на специальных рынках, которые в 
народе называются "барахолками". Государство облагает эти рынки налогом и следит 
за тем, чтобы на них не продавались новые вещи (они могут быть возвращены в 
госуд.магазин по месту продажи или сданы в комиссионный магазин). На этих рынках 
товары продаются самими владельцами без ограничения на цены со стороны 
государства.</p>
<p>Такие слабо контролируемые рынки могут довольно легко превращаться в источник 
приобретения частного дохода. Поэтому государство не поощряет эти рынки и 
закрывает их, если они становятся крупными нелегальными центрами торговли. Так 
случилось в Москве, в 50-е годы, когда была закрыта большая Перовская барахолка. 
В 1975 г. подобный рынок, называвшийся "толкучка", был закрыт в Киеве.</p>
<p><em><strong>Продукты питания. </strong></em>При советской системе крестьяне 
получали свой доход натурой: в виде продуктов, получаемых от колхоза и со своих 
приусадебных участков.</p>
<p>Так как этот доход натурой не совпадал с нуждами крестьян, как потребителей, 
а, с другой стороны, потребности горожан в различных продуктах питания не 
полностью удовлетворялись государственной торговлей, необходимо было найти метод 
организации обмена между городом и деревней. В принципе было бы возможно 
осуществлять этот обмен через государственную систему торговли. Однако это 
потребовало бы привлечения значительных трудовых ресурсов для доставки товаров в 
город и деревню и их продажи. В то же время крестьяне располагают значительным 
количеством свободного времени, представляющего для них определенную ценность. 
Они готовы потратить это время на доставку своих товаров в город и их продажу и 
покупку необходимых им городских товаров. Из-за низкого уровня своего дохода, 
они не хотят оплачивать услуги посреднических организаций.</p>
<p>Все это привело к организации в СССР колхозного рынка, который составляет 
самую важную часть того, что мы произвольно назвали белым рынком. Он менее 
желателен для государства, чем красный рынок, потому что его труднее 
контролировать. Тем не менее, он, как официальный рынок, ограничен не только с 
точки зрения определенных часов работы и некоторых других условий. Государство 
также определяет верхнюю границу цен. На практике обычно на колхозных рынках 
запрещается продавать товары по ценам, превышающим государственные цены более, 
чем в 3 раза.</p>
<p>Обычно государство не прибегает к прямому вмешательству в установку цен на 
колхозном рынке. Но во время неурожая в конце 60-х годов и в 1975г. на этих 
рынках были установлены максимальные цены. Это привело к немедленному 
образованию другого нелегального типа рынка, дополняющего белый рынок. На 
колхозных рынках те же самые продавцы продавали "под прилавком" необходимые 
товары по более высоким ценам. Продукты, лежащие на прилавках, были низкого 
качества. Необходимость риска со стороны продавцов вызывала еще большее 
повышение цен.</p>
<p>Роль колхозного рынка снижается по разным причинам, которые, скорее всего, 
будут существовать и в дальнейшем. В общей сумме продуктов, проданных по 
действительным ценам в период с 1950 по 1972 г., наблюдалось снижение доли 
колхозного рынка с 28,7 до 7,7% ("Народное хозяйство СССР в 1973г." М, 1973, 
стр.577) Объем сельскохозяйственных продуктов, проданных на колхозных рынках вне 
деревни, изменился от 3,7 млрд,руб в 1960 до 4,7 млрд.руб в 1972г., т.е. возрос 
только на 17%. Рост цен на колхозном рынке за этот же период был, однако, 
значительным, так что в физических единицах объем, возможно, сократился. Тем не 
менее, значение колхозного рынка для снабжения городов такими продуктами 
питания, как картофель и мясо, особенно хорошего качества, остается очень 
большим.</p>
<p><font size="4"><strong>Полулегальный (серый) рынок</strong></font></p>
<p><em><strong>Потребительские товары.</strong> </em>Предметы, являющиеся 
товарами на этом рынке – это потребительские товары, которые предоставляются 
владельцам государством, а потом они продают их на рынке. Нелегальность этих 
операций заключается только в том, что их взаимные сделки официально не 
оформлены, а получаемый доход не облагается налогом. Товары на этом рынке 
включают в себя и сдаваемые в наем дачи, и частные уроки, и ремонт квартир и 
т.д.</p>
<p>Давайте рассмотрим более детально причины образования серого рынка.</p>
<p><u>Жилье.</u> Хорошо известно, что в Советском Союзе жилищное строительство 
осуществляется в основном государством, которое затем формально распределяет 
квартиры через райсовет. Фактически же в основном жители городов получают жилища 
от предприятий, на которых они работают. Значительность предприятия и его нужда 
в рабочей силе определяют то количество жилья, которое разрешается ему строить. 
Но многие жители города не могут получить жилье от государства; например, 
студенты не всегда могут получить место в общежитии; молодожены, желающие жить 
отдельно от родителей. Таким образом, нужда в дополнительном жилье вызывает 
подъем предложения жилья на рынке.</p>
<p>Некоторые семьи, остро нуждающиеся в деньгах (например, для лечения) могут в 
то же время иметь свободную жилплощадь (например, если глава семьи умер) и 
сдавать внаем комнату или часть комнаты.</p>
<p>Заинтересованные стороны находят друг друга через знакомых и по объявлениям. 
В течение многих лет в крупных городах имеются определенные места, где 
неофициально собираются желающие сдать жилье и снять его. В отличие от 
государственных цен на сдачу жилья в наем, которые не зависят от площади, 
наличия лифта или других удобств, цены на жилье на сером рынке учитывают все эти 
свойства. Например, в Москве однокомнатная квартира со всеми удобствами (т.е. 
газ, электричество, ванна) в районе, близком к метро, стоит примерно 600 рублей 
в год (около трети средней зарплаты). Комната в квартире с удобствами недалеко 
от метро стоит 350 руб. в год.</p>
<p>Другим товаром, предлагаемым на сером рынке, является жилье для летнего 
отдыха, обычные здания, не имеющие кондиционеров. Интеллектуалы, которые следят 
за своим здоровьем, стараются уезжать из города на все лето. Путевки в санатории 
– ограничены по времени и по количеству. И никакого иного средства устроиться на 
лето вне города нет, поскольку жилье для летнего отдыха, сдаваемое государством 
– не существует. Только небольшое число интеллектуалов имеет частные или 
государственные дачи.</p>
<p>С позиции закона, человек может иметь частную дачу, только если предприятие 
выделило для этого участок земли. Также можно купить готовую дачу. Но и строить 
дачу, и поддерживать ее трудно (трудно с материалами и ремонтом и т.д.) Вот 
тут-то и появляется на сцене частный владелец, который предлагает часть своего 
дома горожанину на лето. Плата за такую дачу может стать значительным источником 
доходов для ее владельца. Дача на летний сезон в московской области (в 
зависимости от местоположения, числа комнат и т.д.) может стоить от 150 до 300 
рублей (что равняется зарплате за 1-2 месяца инженера или же доходу колхозника 
или рабочего небольшого загородного предприятия за 2-3 месяца.</p>
<p>В середине 60-х годов государство пыталось приостановить практику сдачи в 
наем дач, в основном, потому что дополнительные источники доходов снижали 
интерес к основной работе. Эта попытка была сделана буквально перед наступлением 
летнего сезона. Но очень скоро было обнаружено, что при таких условиях для 
огромного количества семей стало невозможно организовать летний отдых. 
Посыпались жалобы с просьбой отменить запрет на сдачу дач в наем. Я не знаю 
причин, по которым власти прореагировали на эти письма, но вскоре указание было 
отменено, о чем было официально сообщено в местной печати, в частности, в газете 
"Вечерняя Москва". В газете было указано, что сдача домов под дачу не 
санкционируется, но разрешается приглашать к себе жить родственников. Поскольку 
степень родства не была указана, а все люди – братья и сестры, то практика сдачи 
в наем дач была восстановлена.</p>
<p><u>Образование. </u>Как правило, трудно, например, получить хорошее знание 
иностранного языка в школе. Обычно изучение иностранного языка начинается не 
раньше 5-го класса. Уроки ведутся 2-3 раза в неделю классами по 35-40 
учеников.</p>
<p>Как правило, интеллигенты первого поколения не знают иностранный язык, но они 
хотят дать знание языков детям (и сейчас, как правило, изучают их все больше 
сами). Отсюда большой спрос на частных преподавателей.</p>
<p>Частные преподаватели обычно берут 3 руб. за академический час (45 минут). 
Это примерно в 2,5 раза больше, чем плата учителя в школе. Другая причина спроса 
на частных преподавателей связана с поступлением в институты. Хороший учитель 
математики, ученики которого выдерживают вступительные экзамены, получают обычно 
10 руб. за час. Для преподавателей школ и институтов такая работа может быть 
существенным источником дохода.</p>
<p><u>Здравоохранение. </u>В СССР медицинское обслуживание бесплатное. Однако 
хорошие врачи сосредоточены часто в больницах при учебных и НИИинститутах, 
доступ в которые затруднен жителям, не прикрепленным к этим больницам. Во всяком 
случае, пациенты не могут выбрать себе врача из этих больниц. Спрос на хороших 
врачей превышает предложение. Равновесие достигается тем, что пациенты платят 
врачам значительные суммы денег, например, 25 рублей за визит на дом.</p>
<p>Другим широко распространенным является оплата ночных сестер по 10 руб. за 
ночь, потому что дежурные сестры не оказывают больным достаточного внимания.</p>
<p><u>Другие услуги. </u>Давайте рассмотрим более детально факторы, влияющие на 
появление на сером рынке большого числа товаров и услуг. Очень распространенной 
формой услуг является ремонт квартир. Фактически это следствие очень низкой 
арендной платы за государственные квартиры. За квартиру, включая воду, 
канализацию, площадью 30-35 кв.м. надо платить 10 руб. в месяц (примерно 5% 
месячного заработка семьи). Совершенно очевидно, что такая квартплата не 
рентабельна, но государство отказывается изменить ее в основном из 
пропагандистских соображений. Но это вызывает различные нежелательные 
последствия, такие как нехватка фонда средств для поддержания жилищ в 
сохранности. Текущий ремонт лежит на самих жильцах, поскольку государственных 
контор по ремонту квартир мало, очереди в них длинные, а цены высокие. Жильцы 
предпочитают приглашать частным образом рабочих, хотя качество их работ, как 
правило, низкое.</p>
<p>Сапожники, портные и т.д. тоже в большом спросе из-за низкого качества 
государственных товаров. Цены за шитье у частного портного примерно в 2-3 раза 
больше, чем в ателье. По-моему, за последние годы число частных портных 
уменьшается из-за того, что появляется импортная одежда высокого качества в 
госуд. магазинах и на рынке.</p>
<p>И наконец, цветы фигурируют как рыночный товар. Продажа цветов на официальных 
колхозных рынках ограничена во времени и пространстве (рынки закрываются в 6 
часов вечера и обычно находятся далеко в стороне от пути следования людей. Число 
государственных цветочных киосков мало и ассортимент в них узкий. Но поскольку 
спрос на цветы особенно велик вечером, а товар сам по себе абсолютно легальный, 
власти официально санкционировали продажу цветов. Что касается места продажи, то 
это вопрос другой. Хотя возможна такая ситуация, что милиция может прогнать 
продавцов с места продажи, в целом власти смирились с нелегальной продажей 
цветов. Продавцы цветов не облагаются налогом. А продажа цветов из южных районов 
страны стала профессией оптовых торговцев, снабжающих в широком масштабе 
различных торговцев. Выращивание цветов около больших городов стало выгодным 
делом. Розничные торговцы, в основном женщины, не подлежат обвинению в 
тунеядстве.</p>
<p>Из-за того, что в советской экономике существуют потребительские товары и 
услуги, спрос на которые не может быть полностью удовлетворен государством, 
появляются люди, которые могут предложить их из своих собственных запасов или 
произвести своим собственным трудом. Поскольку удовлетворение спроса на эти 
товары не противоречит интересам властей, а источник получения их абсолютно 
легальный, государство предпочитает по большей части не мешать этому спонтанному 
процессу.</p>
<p>Таким образом, серый рынок – это рынок для продажи легальных товаров из 
легальных источников в нелегальной форме. По мере того, как доля интеллигенции, 
которая придает особое значение своему здоровью, отдыху, образованию, - 
возрастает, постольку растет потребность в этих видах товаров и услуг. Можно 
считать, что СССР находится на такой стадии развития, когда доля интеллигенции 
возрастает быстрее, чем способность удовлетворят ее потребности (отсюда нужда в 
сером рынке). Когда эта способность догонит потребность, серый рынок может пойти 
на спад.</p>
<p><em><strong>Производственные товары. </strong></em>Товары, которые фигурируют 
на этом рынке, - в основном строительные материалы и запасные части. Обмен на 
этом рынке – товарный. Большинство участников плохо информированы о том, что 
другие желают или имеют из-за полулегальных обстоятельств. Давайте рассмотрим 
причины возникновения серого рынка и этих товаров в условиях советской 
экономической системы.</p>
<p>Планирование в СССР в значительной степени основано на принципе взаимного 
отталкивания. По всей вертикальной линии от Госплана до предприятий происходит 
борьба между администраторами и подчиненными, теми, кто будет выполнять этот 
план. Как хорошо известно, те, кому предстоит выполнять этот план, пытаются 
получить наименьший план из возможных и получить как можно больше ресурсов.</p>
<p>Большие ресурсы, полученные в соответствии с планом, дают возможность 
предприятию в случае необходимости перевыполнять план по выпуску и прибыли и 
облегчают предприятию маневрирование (такое маневрирование иногда дает 
возможность производить товары для черного рынка). Давайте рассмотрим ситуацию, 
когда существование повышенных ресурсов позволяет предприятию маневрировать.</p>
<p>Технико-экономическое обоснование плана при отсутствии четких критериев 
используется только как средство в борьбе между двумя сторонами при создании 
плана. Большую роль в этой борьбе играют чисто человеческие отношения. Для того 
чтобы получить выгодный план, подчиненные не только пытаются скрыть возможности 
своего предприятия, но прибегают и к различного рода подкупам вышестоящих 
органов. Итак, если возможно торговаться с вышестоящей организацией за большее 
количество ресурсов, чем действительно нужно, то у предприятия образуется 
избыток ресурсов. Но поскольку реквизиция вышестоящих органов по разным ресурсам 
делается по-разному, то количество избытков также остается разным. В то же время 
предприятие может иметь недостаток каких-то ресурсов. Одной из причин такого 
недостатка может оказаться недостаточный подвоз нужных ресурсов с других 
предприятий, так как сам план часто (несбалансирован) и включает в себя 
недостаток товаров. Например, стало правилом планировать доставку ресурсов с 
новых фабрик до того, как они начали функционировать. Влияние всяких аварий на 
производство товаров также обычно не учитывается.</p>
<p>Эта несбалансированность между спросом и предложением на различные ресурсы 
наблюдается в советской экономике не только в сфере массовой продукции. 
Искусство, демонстрируемое участниками советской экономической системы, 
заключается в способности использовать избыток товаров, которое им удалось 
накопить в обмен на нужные. Есть опытные люди, которые знают, кто что имеет, 
Контакты могут осуществляться напрямую. Например, зав.отделом снабжения может 
позвонить коллеге и попросить его: "Иван Петрович, нет ли у тебя металла такого 
размера?.." И.П. отвечает: "Конечно, Евсей Абрамович, найдется. Но что вы нам 
дадите взамен? Нет ли у вас того-то и того-то?.." – Ответ может быть такой: "У 
нас нет, но я попытаюсь узнать у Виктора Иосифовича и позвоню". Таким образом, 
возникают очень длинные цепочки.</p>
<p>На сложность этой сети влияет тот факт, что все обмены производятся в 
натуральном виде. Деньги, которые могли бы развязать эти трудные отношения, не 
играют роли. А если через деньги что-то делается, то только в формальных 
целях.</p>
<p>Высшие инстанции об этом знают и понимают, что руководители предприятий 
действует, в основном, именно так в рамках планового механизма. Вдобавок 
инстанции всех уровней иерархии, кроме самых высших, принимают такую процедуру 
планирования, так как она дает им возможность получать личную выгоду совершенно 
безопасным способом, - здесь трудно доказать коррупцию. Вышестоящие организации 
закрывают глаза на факторы, которые способствуют накоплению избыточных ресурсов 
и фактически санкционируют такой обман.</p>
<p>На уровне предприятий это выражается, например, в том, что участники сделки 
обмениваются официальными письмами и подписывают банковские счета друг другу. 
Если обмениваемые товары не находятся под особым контролем, то таких писем 
достаточно. Но если нужна санкция сверху, то трудностей в ее получении обычно 
нет.</p>
<p><strong>Вывод</strong>. В СССР в рамках существующей плановой системы 
образуется неравномерность распределения отдельных ресурсов и создаются 
избыточные запасы ресурсов, в значительной мере благодаря всевозможным методам 
разработки и получения планов. В то же самое время существуют легальные способы 
для перераспределения излишков ресурсов, которые направляются для перевыполнения 
планов, заранее несбалансированных. Это перераспределение достигается с помощью 
рыночного механизма, и поэтому мы называем этот рынок серым рынком 
производственных товаров, который действует легально, но является производным от 
полулегальных действий, производимых в процессе работы экономического механизма. 
Мы должны отметить, что существование рынка производственных товаров очень 
пагубно влияет на людей, которые участвуют в этом процессе. Они легализуют 
недостойные методы, ложь и коррупцию, дают им возможность распределять то, что 
было получено низкими средствами в процессе выбивания ресурсов под план. И 
поскольку первый шаг в направлении коррупции заложен в самой плановой системе, 
за ним следуют другие шаги, которые ведут к черному рынку.</p>
<p>В общем, имеется определенная тенденция к установлению легализации практики 
серого рынка промышленных товаров, так что у него есть потенция стать 
(официальным) красным рынком. Изучение этой тенденции требует более глубокого 
знания того, что происходит и предложений, что надо делать для улучшения этой 
области советской экономики.</p>
<p><font size="4"><strong>Нелегальные рынки</strong></font></p>
<p><strong>Коричневый рынок. </strong>Главная причина функционирования этого 
рынка – дефицитность товаров. Дефицитные товары есть как среди производственных 
товаров, так и среди потребительских. Причины тому самые разные: невыполнение 
плана, ошибки в планировании, недостаточно гибкие контакты между поставщиком и 
потребителями и т.д. Мы рассмотрим только такой рынок дефицитных товаров, для 
которого характерно, что дефицитность товаров заложена в самом плане. Рассмотрим 
отдельно образование рынка для потребительских и производственных товаров.</p>
<p><em><strong>Потребительские товары. </strong></em></p>
<p><em>Дефицитные товары на красном рынке.</em><u> </u>Цены на целый ряд 
потребительских товаров установлены ниже равновесных, поэтому спрос на них 
больше предложения, и они становятся дефицитными (мы можем заметить, что другие 
товары, имеющие равновесные цены, тоже становятся дефицитными либо от более 
низких цен, либо от повышения дохода покупателей).</p>
<p>Недостаток таких товаров, как мясо, масло в промышленных городах – тому 
пример. В число дефицитных входят многие виды женской одежды, ковры, импортная 
мебель, холодильники, машины, стройматериалы и др. Может показаться, что 
государство может поднять цены, не боясь взрыва негодования, поскольку эти 
дефицитные товары не являются предметами первой необходимости. Тем не менее, 
можно предположить, что причина существования дефицитных товаров лежит в страхе 
поднять цены из-за боязни населения. Однажды я слышал в частном разговоре от 
важного лица, занимавшегося вопросами ценообразования, следующее объяснение 
дефицитности. Существование заниженных цен определяется политическими 
соображениями. Занижение цены создает у населения иллюзию доступности этих 
товаров. Все, что должен сделать человек с низким доходом – это постоять в 
очереди. У населения существует мнение, что невозможность купить товар без 
очереди – лишь временная трудность и по мере роста выпуска товаров – очереди 
исчезнут. Отсюда следуют некоторые нетривиальные результаты. Поскольку в стране 
не существует организаций борьбы за повышение зарплаты, в то время как цены 
могут расти, то искусственное сдерживание цен является свидетельством того, что 
здесь существует ограничение в виде угрозы гнева населения. Неудовлетворенность 
стоянием в очередях тоже становится стимулом, который должен влиять на рост 
производства дефицитных товаров.</p>
<p>Мы сейчас рассмотрим негативные аспекты этого явления. С интересующей нас 
точки зрения осветим ту плату, которую несет общество за иллюзии, созданные у 
населения правительством. Существование дефицитных товаров приводит к 
нелегальной системе продажи товаров в государственной сети. Механизм этого 
процесса может быть различным. Например, продавщица говорит своим пoдpугам, 
когда прибудет дефицитный товар, покупатели приходят, становятся в очередь и 
покупают, или продавцы откладывают товар в сторону и приклеивают ярлык 
"продано". Например, на дефицитную мебель. Дополнительная оплата в таких случаях 
меньше, чем та, которую запрашивают спекулянты, но труднее найти продавцов, 
которые готовы рисковать, имея дело с незнакомыми людьми. Часто работники 
торговли предпочитают иметь дело именно с проверенным контингентом покупателей и 
спекулянтов. Можно смело заявить, что большинство продавцов участвует в таком 
виде продажи дефицитных товаров, поскольку они имеются практически во всех 
магазинах. Даже если молодая продавщица еще честна, ее заставит участвовать в 
такой деятельности заведующий отделом, который должен передать часть дохода 
директору, который в свою очередь передает часть дохода в райторг или на оптовую 
базу, с которой он получает дефицитные товары (потому что они могли отдать эти 
товары другому) – и так до самой высшей точки торговой иерархии. Такого рода 
злоупотребления, которые были вскрыты в конце 50-х годов, показали, что в 
подобных делах участвовал зам.министра торговли СССP. Все, что сказано о 
перепродаже дефицитных товаров в торговой сети, касается работников торговли как 
красного, так и розового рынков. Нa розовом рынке запрещение продавать товары по 
ценам выше государственных создает дефицитность товаров, что заставляет 
работников торговли прибегать к нелегальным методам. С одной стороны низкая 
зарплата, а с другой – возможность быстро нелегально заработать деньги действуют 
на них (инженер, возможно, тоже торговал бы дефицитом под прилавком, но у него 
его просто нет…) Более того, такие методы продажи дефицитных товаров 
сравнительно безопасны, т.к. трудно установить сам факт, что продавщица 
позвонила кому-то или отложила товар. Вдобавок, работники милиции, которые 
должны бороться с этим, сами низко оплачиваются и соответственно их легко 
подкупить.</p>
<p>Возможность накопления в системе торговли больших сумм денег ведет к 
развращению персонала. При низком культурном уровне работников торговли, деньги, 
которые они легко зарабатывают, в значительной степени тратятся на алкоголь. Это 
особенно заметно в мебельных магазинах, в которых благодаря дефицитности товаров 
у продавцов высокий доход (у некоторых до 200 рублей). И обычно там продавцы не 
бывают трезвы, всегда выпивши. Сильно растет количество пьяниц среди женщин в 
торговле.</p>
<p>Есть еще один тип дефицитного товара на коричневом рынке – нелегальный наем 
левых машин. В больших городах, как правило, транспорт хорошо организован, 
особенно метро, но такси во многих городах недостаточно по сравнению со спросом, 
плата за такси низка. Таксисты не заинтересованы в дальних поездках. Левые 
машины берут за проезд примерно столько, сколько такси. Это же относится и к 
машинам, которые обслуживают всяких руководителей и высших должностных лиц. 
Зарплата у этих шоферов обычно низка, ниже среднего уровня. Чтобы удержать 
хорошего шофера, человек, на которого шофер работает, дает ему возможность 
левого заработка, составляющего примерно половину официального заработка.</p>
<p><em>Импортные товары от частных лиц. </em>Советский Союз производит далеко не 
все товары, которые нужны публике. Многие товары высокого качества, обувь, 
одежда официально импортируется.</p>
<p>Количество этих товаров обычно недостаточно, ассортимент ограничен. Однако 
импорт товаров, особенно синтетических тканей, очень выгоден. Отношение цен на 
эти товары на Западе и в СССР таково, что покупательная способность доллара 
оказывается в 10 раз больше покупательной способности рубля. Например, костюмы 
из поролона, (советское название синтетической фибры) стоят в США – 12-15 
долларов, в СССР – 120 руб. на розовом рынке. </p>
<p>Существуют совершенно легальные источники приобретения западных товаров: 
моряки, советские артисты, спортсмены, советские командировочные высокого ранга… 
Последние остаются заграницей довольно долго и легально могут копить деньги, 
чтобы купить модные в СССР товары. Туристы и участники конференций ездят на 
Запад на короткий период и валюта у них ограничена, поэтому они покупают товары 
только для своей семьи. В советских таможнях существуют ограничения импортных 
товаров больше определенного количества. Обычно содержимое чемоданов артистов и 
спортсменов не проверяется. Доход, получаемый советскими гражданами от продажи 
товаров, привезенных с Запада, рассматриваете и правительством, как 
дополнительная оплата. Возможно, это некоторая компенсация того факта, что 
зарплата советских граждан на Западе почти полностью конфискуется.</p>
<p>Товары, привозимые в Советский Союз частными лицами, могут быть проданы через 
государственную сеть комиссионных магазинов, однако это не всегда удобно, хотя 
цены там довольно высокие. Чтобы отдать вещь в комиссионный магазин, надо 
предъявить паспорт. Самый факт фиксации обращения в магазин неприятен, а если 
человек сдает вещи часто, то это может оказаться для него и опасно, особенно, 
если он продает западные товары.</p>
<p>Из-за всего этого возникает коричневый рынок продажи этих товаров и, как мы 
увидим дальше, он развивается в черный рынок, где в процесс купли-продажи 
включаются спекулянты.</p>
<p>Таким образом, существование коричневого рынка в принципе для государства 
нежелательно, поскольку создает искусственное перераспределение доходов среди 
населения и источник легкого заработка. Однако государство не слишком преследует 
участников этого рынка, а прибегает к снятию с работы и применяет другие 
относительно мягкие методы. Государство получает даже определенную выгоду, т.к. 
имеет возможность благодаря этому платить меньшую зарплату. </p>
<p><em><strong>Товары сферы производства.</strong> </em>В Советском Союзе 
существует дефицит запасных частей, особенно для машин массового использования: 
тракторов, моторов, сельскохозяйственного оборудования… Этот дефицит имеет много 
причин, среди которых отметим только одну, которая меньше всего обсуждается в 
прессе.</p>
<p>В Советском Союзе производство этих машин организовано с учетом возможности 
скорейшей перестройки на военные рельсы. Во время войны срок службы танков, 
моторов и т.д. – довольно короткий, поэтому нет нужды в большой прочности таких 
машин и запчасти к ним нужны в ограниченном количестве. Таким образом, мощности 
советских машиностроительных заводов и соотношение между производством запчастей 
и основным производством таково, чтобы в случае войны выпуск машин был бы сразу 
максимальным. Но поскольку в мирное время выпуск их требует другого соотношения, 
возникает конфликт, который разрешается в пользу военных целей. Поэтому 
существует заранее заложенный планом дефицит запасных частей. Наиболее острый 
дефицит запасных частей в сельском хозяйстве, которое снабжается хуже, чем 
тяжелая индустрия, транспорт, строительство и т.д.. Ответственность 
руководителей с/х предприятий за урожай исключительно велика, поэтому всеми 
возможными легальными способами они стремятся получить зап.части. Этим 
занимаются областные и районные партийные комитеты, которые отвечают за выпуск 
сельскохозяйственной продукции, они требуют от опекаемых местных предприятий 
производить запчасти для сельхозмашин.</p>
<p>Но все эти легальные методы не всегда эффективны. Колхозы имеют больше 
возможностей тратить свои деньги, находящиеся в банке, чем государственные 
предприятия. Таким образом, руководители колхозов стимулируют предприятия к 
производству этих запчастей для коричневого рынка. Эти запчасти изготавливаются 
для них работниками предприятия, которые затем используют нелегальные методы для 
передачи их колхозу. Иногда руководитель колхоза устанавливает такие отношения с 
руководителями государственных предприятий, которые получают довольно большие 
суммы.</p>
<p>С точки зрения используемых на этом рынке методов нужно признать, что здесь 
присутствуют элементы черного рынка. Здесь можно отметить смягчающие 
обстоятельства: руководители колхозов, которые побуждают рабочих предприятий 
воровать, не преследуют личных корыстных целей, в том смысле, что они стремятся 
не столько к личному обогащению, сколько к тому, чтобы не пострадать от 
невыполнения плана. И именно эти смягчающие обстоятельств делают этот рынок не 
черным, а коричневым – с соответствующей системой административных, а не 
уголовных наказаний…</p>
<p>В дальнейшем коричневый рынок товаров для производства может быть значительно 
сокращен. Это зависит в основном от близости войны. Если будет ожидаться 
длительный период мира, то военный потенциал может быть усилен более эффективной 
структурой производства продукции, т.е. увеличением срока службы машин путем 
увеличения выпуска запчастей. Экономия, достигнутая таким образом, сделает 
возможным усиление военного потенциала до еще большей степени.</p>
<p><strong>Черный рынок. </strong>Мы называем черным такой рынок, участники 
которого преследуются государством и наказываются как преступники. Рассмотрим 
структуру черного рынка с точки зрения легальности товаров, которыми, здесь 
оперируют.</p>
<p><em><strong>Легальные товары.</strong></em></p>
<p><em> Легально доступные товары, производство или импорт которых 
ограничены.</em>Коричневый рынок дефицитных товаров стремится перерасти в черный 
из-за особой группы людей, которые занимаются перепродажей товаров и называются 
спекулянтами. Работники розничной торговли часто боятся иметь дело с 
многочисленными случайными покупателями дефицита. Несмотря на элемент опасности, 
они предпочитают иметь дело с постоянным специализированным оптовым покупателем 
(спекулянтом). То же самое можно сказать о лицах, которые легально привозят 
товары.</p>
<p>Черный рынок является "паразитом" на теле других рынков, особенно белого. В 
ряде городов, особенно портовых (Одесса, Таллин) предметы, продаваемые на 
"толкучке", включают импортные товары, которые продаются из-под прилавка, 
поскольку нельзя открыто продавать здесь новые товары. В городах, где таких 
рынков нет, например, в Москве, эти товары продаются на дому у спекулянтов. 
Другой важный источник импортных товаров - "иностранные туристы". Это особенно 
относится к туристам из Финляндии, которые, приезжая в СССР на двухдневный 
кутеж, обычно привозят нейлоновую одежду.</p>
<p>В общем, трудно ответить на вопрос, насколько у спекулянтов цены выше 
государственных. Цены варьируются не только в зависимости от времени, 
пространства и степени дефицитности, но от того, является ли спекулянт первым 
или вторым перекупщиком (лично купил в магазине или перекупал) и еще от того, 
торгует ли он популярными товарами в большом количестве (прибыль с оборота). 
Коэффициент спекулянтской ставки колеблется от 40 до 100% к государственной 
цене. Иногда спекулянт продает свою очередь.</p>
<p>Мне трудно оценить число спекулянтов в СССР, поскольку трудно найти 
спекулянта даже для человека, который готов купить. Но я могу смело сказать, что 
число спекулянтов составляет несколько сот тысяч. В основном это замужние 
женщины, которые имеют право не работать. Спекулянтами являются также люди, 
работающие на производстве. Это относится в особенности к швейцарам, дворникам, 
привратникам, которые работают ночью и ранним утром. После работы они занимают 
очередь в магазин, где ожидается дефицитный товар. В области продажи дефицитных 
товаров процветают не только большие и маленькие спекулянты, существуют также 
доверенные лица, искусно использующие дифференцированность товаров, некоторые из 
них настоящие мастера, способные поспорить с О.Бендером.</p>
<p>Можно ожидать, что в ближайшие годы роль черного и коричневого рынка 
возрастет, т.к. резко растет количество неиспользуемых денег в руках населения 
(примерно 10 млрд.рублей в сберкассах и под матрацами, большая часть которых 
залежалась в ожидании товаров). В более отдаленном будущем, если уровень жизни 
населения поднимется, можно утверждать, что государство отвергнет практику 
использования (идеологических) преимуществ, порожденных иллюзией в народе о 
возможности покупки товаров в магазине – со всеми нежелательными 
последствиями.</p>
<p><em>Легально добытые товары с ограниченным объемом продажи. </em>Все 
вышеперечисленные дефицитные товары государство хотело бы сделать более 
доступными, если бы оно имело для этого ресурсы. Существуют товары, которые 
дефицитны, потому что государство стремится уменьшить их потребление (водка и 
вино). Хорошо известно, что неослабевающее употребление алкоголя – русская 
традиция. В Советском Союзе эта традиция умножена. Одна из причин этого состоит 
в том, что по сравнению с ценами и качеством других товаров, продукт, дающий 
наибольшее удовлетворение на рубль затрат – это алкоголь. Разница Запада и СССР 
в том, что цены на крепкие алкогольные напитки на Западе сравнимы с ценой, 
допустим, одежды или обуви. Цена хорошей рубашки или пары ботинок соизмерима с 
ценой литра крепкого вина. В Советском Союзе бутылка водки стоит от 1/3 до 1/5 
цены хорошей рубашки.</p>
<p>Отношение правительства к потреблению алкоголя двойственно – с одной стороны, 
отрицательное, т.к. алкоголь – одна из причин преступлений, снижения 
производительности труда, с другой стороны – положительное, т.к. алкоголь – 
важный источник дохода (примерно 10%) и что еще более важно – это средство 
психологического расслабления масс. Когда негативные аспекты начинают сильно 
беспокоить власти, они издают декрет, направленный на сокращение алкоголизма. 
Среди мер, принятых в прошедшее десятилетие, было следующее: запрещение продажи 
водки до 11 часов утра и после 7 ч. вечера. Таким образом, предполагалось, что, 
по крайней мере, рабочие не будут пьяными до работы и в течение первых часов и 
вечером. Однако декрет не может отменить спрос на водку. Абсолютно нереально 
покупать водку впрок, т.к. если есть водка, то будет и пьянство. Таким образом, 
водка стала дефицитным товаром утром и вечером. Как всегда в таких случаях на 
сцену выходит черный рынок. Он образовал свою сеть и в госторговле.</p>
<p>Продавцы, торгующие алкогольными напитками, приняли на себя роль спекулянтов 
и продают водку утром и вечером на 25% дороже (за добавочный рубль). Алкогольный 
черный рынок включил в себя таких людей, которые сочетают основную работу с 
нелегальной продажей алкоголя. Обычно это водители такси, которых легко найти на 
стоянках, и, наконец, профессиональные спекулянты - в основном, пожилые женщины, 
а также молодые, ищущие покупателей. </p>
<p>Самогон, который, в основном, потребляется сельским населением, также 
является товаром черного рынка, хотя количество его не изучено.</p>
<p><em>Нелегально добытые товары. </em>Черный рынок в Советском Союзе питается 
нелегально полученными товарами, в основном, потребительскими, поскольку только 
за них можно получить наличные деньги (контрабанда имеет малое значение, 
поскольку таможенный осмотр тщательный).</p>
<p>На черном рынке могут быть товары дефицитные и недефицитные. Важно здесь то, 
что все они производятся из ворованных материалов на государственных или 
кооперативных предприятиях или украдены из торговой сети. Чтобы продать 
нелегально произведенный товар, также как и легально произведенный, часто 
используется государственная торговая сеть, особенно маленькие госуд. магазины 
или розничные палатки или павильоны на колхозных рынках. В последних случаях 
продажа ведется без кассы и накладных. </p>
<p>Другим источником товаров для черного рынка является воровство из оптовых 
торговых баз или из самих магазинов с помощью списывания товаров, обвешивания и 
т.п. Затем эти товары обычно продаются через розничную сеть налево. Например, 
государственный магазин, имеющий и кассы, и накладные, организует открытые 
прилавки, часто на улицах. Деньги получают непосредственно продавцы и ворованный 
товар вручается ими непосредственно покупателям. Для установления открытых 
прилавков обычно используется объяснение, что не хватает торговых площадей для 
выполнения плана. И наконец, можно отметить, что товары, украденные из 
государственных предприятий, могут продаваться непосредственно публике. Это 
относится особенно к дефицитным строительным материалам.</p>
<p><em><strong>Полулегальные и нелегальные товары.</strong><u>
</u></em>Полулегальными являются потребит. товары, официально не импортируемые, 
главным образом, из-за идеологических причин. Например, синие джинсы – потому 
что они ассоциируются с западным образом жизни, яркие западные платья, галстуки 
ассоциируются с легкомыслием, считаются нескромными. Современная музыка, в том 
числе популярная, непонятна, аполитична, т.е. не соответствует духу 
социалистического реализма. Возможно, что в автократической системе 
руководители, чтобы достигнуть стабильности, предпочитают то, что принято. Любой 
вид отклонения от принятого приводит к ломке стереотипов в сознании. И если 
вдобавок новый товар привезен из-за границы, это вызывает у людей чувство 
преклонения перед странами, у которых такой товар существует. Путем ограничения 
разнообразия импортных товаров власти препятствуют увеличению разнообразия 
внутри системы. Но существует слишком большое желание разнообразия, чтобы 
государство могло обеспечить спрос на этом огромном рынке (хотя количество 
товаров там невелико). Государство особенно активно борется с фарцовщиками 
(перекупщиками предметов одежды), чтобы снизить контакты с иностранцами.</p>
<p>Валюта, золото, наркотики – относятся к самым нелегальным товарам этого 
рынка. Спрос на иностранную валюту и золото исходит в основном от людей, у 
которых большой доход и которые хотят сохранить свое богатство. Иностранная 
валюта покупается также гражданами, которые собираются путешествовать за 
границей.</p>
<p>Источники иностранной валюты – иностранные дипломаты, туристы, а также люди, 
которое сохранили доллары с 20-х годов. Золото на черном рынке, в основном, 
продается в форме царских золотых монет, также можно купить золото в слитках или 
золотой песок, сворованный на золотых приисках. Цены на иностранную валюту на 
черном рынке довольно постоянны, доллар стоит около 5 рублей. В начале 60-х 
годов наказание за профессиональную спекуляцию валютой (валютчикам) было 
увеличено с относительно легких (2-3 года заключения) до долгих сроков и даже 
смертной казни.</p>
<p>Спрос на наркотики порождается теми же самыми факторами, что и на Западе, в 
основном, желанием получить острые ощущения. Основной наркотик – морфий. 
Источник его – больницы. Цена за ампулу – около 1 рубля. Другими наркотиками 
являются гашиш и опиум из Средней Азии и Азербайджана или же украденные с 
предприятий фармацевтической промышленности. Почти невозможно купить другие 
наркотики, потребляемые на Западе, из-за таможенного контроля и строгости 
наказания.</p>
<p>И наконец, мы должны помянуть проституцию, как нелегальный товар. Ее 
существование официально не признается. Мне неизвестны открытые суды над 
проститутками. Но государство борется с проституцией (за исключением случаев ее 
использования КГБ-истами). Девушки, которым выговаривали, что это занятие может 
помешать выйти замуж, уверяют, что наоборот, поможет, т.к. дает возможность 
хорошо одеться. Пара модных сапог, которые стоят 70 рублей – всего лишь немного 
меньше месячной зарплаты женщины с окладом 90 рублей, а проститутка зарабатывает 
от 5 до 15 рублей за раз.</p>
<p><strong>Заключение. </strong>В соответствии с данной выше классификацией 
рынков можно предсказать будущее этих рынков в Советском Союзе. Основное 
заключается в следующем.</p>
<p>Не только в ближайшем, но и в отдаленном будущем различные постоянные рынки: 
красный, розовый и черный (для некоторых товаров) будут продолжать существовать 
и возможно расширяться. Другие рынки имеют тенденцию сохраниться в отдаленном 
будущем, - собственно социалистические – например, серый рынок для средств 
производства, хотя значительное улучшение социально-экономического механизма 
может основательно уменьшить его роль.</p>
<p>Что касается белого и коричневого рынков (остаточных), то в ближайшем будущем 
они будут расширяться, но в отдаленном будущем их роль сойдет на нет.</p>
<p></p>
<p><strong><font size="4">К.Буржуадемов "Вместо послесловия к статье 
А.Канцелейбогена "Разноцветные рынки в СССР"</font></strong></p>
<p>Думаю, что эта статья требует долгого и неспешного осмысления, возможно, 
критики, но еще более – усвоения и углубления. Сейчас же, наспех, я хочу 
ограничиться лишь двумя замечаниями:</p>
<p>1) Серый рынок для производственных товаров, на мой взгляд, совершенно 
незаслуженно помещен в середину рыночной классификации, хотя он обслуживает 
самую главную, основную часть социалистической плановой экономики – производство 
промышленных товаров. Если официальный потребительский рынок продуктами 
сельского хозяйства, где действует с одной стороны соц.государство, а с другой – 
индивидуальные потребители, Канцелейбоген называет красным, то рынок, где с двух 
сторон действуют представители социалистического хозяйства, следует назвать 
сверхкрасный, а поскольку он одновременно и невидимый (тайный), то это название 
следует переименовать на "инфракрасный", а сам рынок поместить во главе всей 
классификации, как наиболее адекватное описание тайной сути смысла 
функционирования главного звена нашей экономики – ее плановой социалистической 
системы. И конечно, необходимо уделить описанию и анализу этого рода рынка 
гораздо больше внимания.</p>
<p>Я надеюсь, что инакомыслящие экономисты обратят внимание на эту часть 
Канцелейбогена и более подобно разработают обозначенную им важнейшую проблему. 
Только после такой работы станет понятно, что существование социалистического 
хозяйства как планового, как нерыночного – это миф, что на деле вместо него 
существует весьма специфический инфракрасный рынок – везде, от вездесущей армии 
толкачей внизу, до торговли на высшей точке хозяйственной руководящей иерархии, 
когда при подготовке заседаний Совмина или даже Политбюро разные стороны 
толкутся и столковываются о дележке денег и ресурсов на взаимовыгодной основе не 
хуже заправских торгашей в рыночном ряду. Тогда и сам Госплан предстанет в виде 
огромной фондовой биржи, где отделы и подотделы знаменитого учреждения есть лишь 
маклеры – представители различных отраслей нашего хозяйства.</p>
<p>2) Прогнозы Канцелейбогена о том, что в отдаленном будущем ему кажется 
очевидным укрепление красного и розового, т.е. государственных рынков, как 
наиболее – имманентно необходимых для развитого общества – мне кажутся 
основанными на субъективных его заблуждениях. Последние, видимо, основываются на 
вере в конвергенцию обществ на социалистической, государственной основе.</p>
<p>Реальность заставляет признать перспективы расширения именно серого и белого 
рынков (угодных публике, но не совсем угодных властям) – хотя бы в ближайшие 
годы. Я же лично убежден в этом росте и на более отдаленные перспективы, когда 
общество найдет возможности для установления более оптимального соотношения в 
этой системе рынков, причем, конечно, серый рынок и значительная часть черного 
должны избавиться от государственных преследований и благодаря этому 
осветлиться, побелеть, так же как и красный рынок (не говоря уже об 
инфракрасном) должны стать, по крайней мере, розовым, с нормальной системой 
гибких цен. Таким образом, мой прогноз заключается в общем осветлении и 
побелении разноцветных рынков в Советском Союзе, если, конечно,… если все будет 
хорошо.</p>
<p>Я понимаю, что это утверждение может быть предметом для спора и призываю к 
нему.</p><table width="600"> <tr> <td>
<a href="0.0.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="62.1.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
