{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Д/ф «Армения -69г.»{% endblock %}
{% block content %}



<br/><br/>
<p>1.	<u>Армения</u></p> <p>2.<u>Сентябрь, 1969 г.</u></p>
<p>3-5.<u>    Севан</u></p>
<p>6-9.<u>Айоцдзор </u></p>
<p>10. <u>Зангезур</u></p>
<p>11, 12.<u>Татев</u></p>
<p>13. <u> Хндзореск</u></p>
<p>14. И все же мы устали от дорог и быстрой смены памятников."Объект тысяча семьсот первый!" - провозглашает наш командор, и участники похода медленно бредут к объекту, понуждаемые железной уздой собственных претензий.</p>
<p>15. Лиля на короткое время проникалась духом истории, перенося себя вглубь веков. Ее любовь к познанию не боится наших насмешек и каждый раз выходит победителем из столкновения с нами - скептиками и маловерами.</p>
<p>16. Люба больше скользит по внешним обводам объекта, помогая самой собою оценить его красоту и соразмерность.</p>
<p>17. Ну, а трое парней вытаскивают свои 5 аппаратов и тратят очередные десятки кадров. Через полчаса - все! Готово... Исщелкавшиеся фотолюбители собираются скопом и, вырвав из мечтательности просто любителя, тащатся снова к шоссе, 
      <p>18. где по мановению Лениной руки останавливается любая грузовая машина и превращается в быструю и бесплатную попутку к очередному объекту "тыща семьсот второму".</p>
<p>19. <u>Армения - открытый музей</u>Армения калейдоскопом проносилась перед нашими глазами, утомляя тело и возбуждая зрение.Ну, а душу? Исчезла ли городская заторможенность и скепсис? Была ли радость узнавания нового и прекрасного? А проще говоря - было ли нам хорошо и интересно? Вот это мы сейчас попытаемся рассказать. И начнем, конечно, с главной красоты Армении -</p>
<p>19а.  с Севана.</p>
<p>20. Шоссе Тбилиси-Ереван, взметнувшись на Семеновском перевале, сразу же распахнуло перед нами темную синь армянского моря.</p>
<p>20а. За голубым простором океана /Я грежу и тоскую об одном, <br/>
О синей чаше ясного Севана /С армянским древним сказочным вином.</p>
<p>20б,20в.Люблю Севан любовью неизменной.<br/>
      Когда во дни творения вселенной <br/>
      Моря от гор Кавказа отошли, -<br/>
      Севан остался нам в лазурной чаше. <br/>
      И озеро я не сменяю наше <br/>
      На все моря великие земли.</p>
<p>21. К Севанскому монастырю мы подошли вечером, когда тени гор уже темнили окраины моря. И мы торопились обогнать солнце.</p>
<p>22. Сегодня монастырский остров сделался полуостровом с пологими пляжами и домами отдыха и потерял пустынность и суровость, и потерял соответствие старым легендам.</p>
<p>23. Монастырь на острове был убежищем в дни нашествий. Но от Тамерлана не спасла бы и севанская вода. Только чудо.</p>
<p>24. До смерти перепугался Тамерлан, увидев, <br/>
      Как посуху шел, по синей воде <br/>
      Босой, в клобуке, псалмы бормоча, <br/>
      Игумен скита, святитель Оган,</p>
<p>24а.Так испугался, что согласился народ отпустить, <br/>
      Кого этот храм в пределы вместит.</p>
<p>25.И пленники шли волна за волной,<br/>
      Скрываясь в тиши за белой стеной,<br/>
      Валили валом в скитские врата.<br/>
      Их счетом не счесть, а церковь пуста".<br/>
      Куда же исчез плененный народ?</p>
<p>26. Усердно молясь Подателю сил,<br/>
      Их всех в голубей Оган превратил <br/>
      И выпустил их на волю в окно. <br/>
      И голуби ввысь умчались давно.</p>
<p>27. Но близкое знакомство с монастырскими легендами нам предстоит завтра утром,</p>
<p>28. а сейчас мы спешим обнять Жилина. Наконец-то, он нас догнал, наконец-то, возглавит наш поход по сияющим просторам Армении навстречу страшному "Хндзореску".</p>
<p>29. Только тот восторг встречи, беззаветный энтузиазм сорвавшегося с цепи в отпуск лейтенанта, заставил его вскарабкаться на тысячелетнюю крышу и кричать на всю округу:</p>
<p>29а. "Долой военную хунту Подгородецкого!", упиваясь ответными криками снизу: "Да здравствует законная монархия Жилина!"</p>
<p>30. Анатолий Семенович Жилин! Родился, учился, учится, вступал, поступал, выбывал, работал, а сегодня служит.</p>
<p>31. Однако, необыкновенное сочетание таких качеств, как неуклонность в достижении цели и умение аккуратно вести счет денег; внимание к чужой психике и умение вовремя через нее переступить, а главное - выносливая терпеливость, с которой он несет крест общественных хлопот, - естественно, произвели из него туристского руководителя,</p>
<p>32. окруженного нашей всеобщей верой и любовью и даже в стране Хндзореска. </p>
<p>33.<u>Утро на Севане</u><br/>
      Ты помнишь ли Севан, хрустальный дом, <br/>
      Высокогорную лазурную купель,</p>
<p>34.Где, как русалка в царстве водяном, <br/>
      Живет армянская волшебная форель.</p>
<p>35, 36.</p>
<p>37. Сиунна - по-урартийски - "страна озерная". Здесь много остатков от урартийских времен - камни, крепости, надписи, могилы. Но еще больше здесь памятников и самих армян. Намогильные плиты... как страницы, на которых записана история Армении.</p>
<p>37а. А потом мы ездили и ходили по глиняным и песчаным берегам колыбели армянского народа.</p>
<p>37б. Здесь 3 тыс. лет назад господствовали урартийцы - предки армян. Ученые находят остатки крепостей, камни с клинописью, глиняные таблички.</p>
<p>38.Лазурь да глина, глина да лазурь! <br/>
      Чего тебе еще?! Скорей глаза сощурь,<br/>
      Как близорукий маг над перстнем бирюзовым, <br/>
      Над книгой звонких глин, над книжною землей.</p>
<p>39. Но еще больше здесь памятников от самих армян.</p>
<p>40.<u>Норадуз</u></p>
<p>41. "Что-то в этом есть" - сказали ребята после часового блуждания среди хачкаров и намогильных плит.</p>
<p>Словом "что-то" каждый выразил свои сложные неосознанные, как в недопроявленном снимке, ощущения. Допроявить ощущения, превратить их в чувства и мысли дело нелегкое, требующее напряжения и времени.</p>
<p>42. В стремительном ритме наших поездок времени хватает только на то, чтобы охватить "объект" зрением, чувствами и уложить в ячейку памяти. А уже дома, рассматривая диапозитив, воскресить наиболее острые тогдашние ощущения, облечь их в слова, как бы переводя из смутного призрака в материальный гипс.</p>
<p>43. Кладбище Норадуз совсем не тянет мертвостью, смертью, оно благоухает временем, вечностью! Каждый район камней имеет свое время, свой век, свою эпоху и потому свой облик. Каменные стены и плиты, хачкары, вросшие в землю, и хачкары на постаментах; рисунок простой и сложный, примитивно-языческий, или изощренно-христианский.</p>
<p>44. Вырезая фигуры умерших на камне, или,</p>
<p>45. как сегодня, - вырубая их из камня, оставшиеся на земле как бы предлагают им жить вечно, жить с друзьями и видеть мир живых.</p>
<p>46. А в этом уголке все предусмотрено для частых дружеских встреч - даже столик и сейф с вином.</p>
<p>47. Изображения пастухов, стрелков из лука сменились сегодня - автомобилями, ракетами и ружьями.</p>
<p>48. Ножницы на могильном камне портнихи нашего времени и кувалда кузнеца, умершего 13 веков назад - могла ли такая традиция сохранится у народа, не уважающего превыше всего предков - и, главное - их труд?</p>
<p>49. Дивясь роскоши хачкаров,</p>
<p>49а. радуясь, когда удавалось понять рисунок могильных плит, мы и не заметили, как созрело наше удивление перед армянским народом, перед этой необычной культурой, сделавшей деревенское кладбище гимном жизни и труда, превратившей самую смерть в свою противоположность.</p>
<p>50. Вот в чем секрет бесстрашия армян перед смертью. Они, видно, знают, что останутся лично бессмертными здесь на земле, в камне.</p>
<p>51. И, может, интуитивное понимание этого факта и выразило наше тогдашнее восклицание: "В этом что-то есть!"</p>
<p>52. Философские камни лежат на берегу Севана!</p>
<p>53. На мысе Норадуза мы в последний раз купались в Армянском море. На Гегамских горах уже выпал первый снег и дул холодный ветер. Но Севан был теплым, и мы неслыханно наслаждались синей ласковой волной. Такая роскошь не часто выпадает в нашей жизни.</p>
<p>53а, 54.</p>
<p>55.На берегу Севана я стою, /Живой стихии голос узнаю, <br/>
И долго, радостный и молчаливый, /Гляжу я на взбегающие гривы.</p>
<p>55а.Пусть умереть в свой срок мне суждено./Но вечным пусть останется оно -<br/>
Играющее шумно на просторе /Севанское лазоревое море. </p>
<p>56б.</p>
<p>57. Утром, после мягкой ночевки под звездным небом, мы покидали севанское плоскогорье.</p>
<p>58. <u>Камо</u></p>
<p>59. <u>Мартуни</u></p>
<p>60. <u>До свидания, Севан</u></p>
<p>61. Наша машина постепенно поднималась к Айодзорскому перевалу, пересекая пастбища севанских степей и пшеничные поля с их осенней страдой.</p>
<p>61а. В горах миролюбивый жил народ,<br/>
      Земле библейской мир и свет несущий,<br/>
      Он камню душу отдавал и пот<br/>
      И выжимал из камня хлеб насущный.</p>
<p>62. Геганские хребты радушны и покаты, <br/>
      В некошеной траве играют табуны,<br/>
      А по ночам звенят наперебой цикады, <br/>
      И матова полынь от пыли и луны.</p>
<p>63.  <u>Айоцдзор</u>Отгороженный со всех сторон разноцветными хребтами, пропиленными глубокими реками, открытый лишь к Югу, Айоцдзор каменист и жарок. Здесь нет пшеницы и сочных пастбищ, зато вкусен виноград и роскошны персики.</p>
<p>64. Здесь, на перевале, нас угощал очередной гид-шофер арбузами, лавашом и водкой, и жадно ловил слова нашего восхищения страной.</p>
<p>65. Потом водил к недавно реставрированному Караван-сараю 14 века, долго и уважительно стоял перед входом.</p>
<p>66. И только внутри, в полусвете от верхнего ордика, вел бесконечные рассказы о том, как здесь на перевале спасались люди и совсем давно, и не так давно - от турок, как защищала здесь детей и женщин горстка мужчин от тысяч врагов, и про внутренний колодец, и много других восторженных</p>
<p>67. историй, делающих этот древний каменный Сарай каким-то одухотворенным свидетелем героической жизни.</p>
<p>68. Взойди на крутые седые хребты, <br/>
      Величием предков проникнешься ты. <br/>
      В высокое синее небо вглядись, <br/>
      Спокойствием предков овеяна высь.</p>
<p>69.Кипит и бушует в долине поток, <br/>
<p>Той ярости, что, раскалясь добела, <br/>
<p>Очаг негасимый для нас сберегла.</p>
<p>70. Бесконечные ленты армянских дорог. Они ведут нас вглубь Армении - любимой страны Брюсова и Мандельштама. Для нас эти поэты были как открыватели неизвестной страны. Первый - своими переводами поэтов древней книжной земли, второй - своим гениальным чутьем, что нашептало великому поэту стихи Армянского цикла.</p>
<p>71. <u>Вспоминая Мандельштама</u></p>
<p>72.Ах, Эривань, Эривань! Или птица тебя рисовала, <br/>
      Или раскрашивал лев, как дитя, из цветного пенала.</p>
<p>73. Ты красок себе пожелала,/И выхватил лапой своей <br/>
      Рисующий лев из пенала/С полдюжины карандашей.<br/>
      Страна москательных пожаров/И мертвых гончарных равнин,<br/>
      Ты рыжебородых сардаров/Терпела средь камней и глин.</p>
<p>75,76. И снова нас подкидывает очередная попутная машина,</p>
<p>77. и снова Жилин становится командором автопробега, злобствуя на страну, где трудно сделать шаг, чтобы не попасть на автотранспорт.</p>
<p>78. И снова очередные добровольные гиды заливают про крепости и винограды, заработки и армянок, монастыри и нарзанные ванны.</p>
<p>79.  <u>Нарзанные ванны</u></p>
<p>80, 80а.</p>
<p>81. И почему-то мне утро армянское снится.<br/>
      Думал - возьму, посмотрю, как живет в Ереване синица, <br/>
      Как нагибается булочник, с хлебом играющий в жмурки,</p>
<p>82. Из очага вынимает лавишные влажные шкурки.</p>
<p>83.Какая роскошь в нищенском селенье,</p>
<p>84.Волосяная музыка воды!<br/>
      Что это? Пряжа? Звук? Предупрежденье? <br/>
      Чур-чур меня! Далеко ль до беды!</p>
<p>85.	И в лабиринте влажного распева<br/>
      Такая душная стрекочет мгла, 	<br/>
      Как будто в гости водяная дева <br/>
      К часовщику подземному пришла.</p>
<p>86.<u>Водопад Шаки, 29м</u></p>
<p>87. Ночевали мы высоко над дорогой, на полпути к развалинам Танаатванка, в персиковом саду,</p>
<p>88. в гостях у садовода Мкртыча Мкртычяна. Это он разбил и вырастил сад, сам, собственными руками, и сам же работает и охраняет его вдали от колхозного начальства.</p>
<p>89. Встреча с этим колхозником, таким необыкновенно милым и мудрым человеком, напрочь развеяла у нас все басни об армянах - поголовных ловкачах и проходимцах, все невежественные выдумки о трудолюбивом народе. "Кушайте, ребята, пожалуйста". И он нес и нес нам молоко, лаваши, помидоры, сыр. Смотрел на наши с аппетитом жующие физиономии и тихо радовался, вызывая у нас ответное тепло и благодарность. Ведь как точно подметил Ованес Туманян, сказав, что как часто вражда и ненависть возникают из непонимания, недоразумения. Все доброе может обнаружиться только при добром, любовном отношении.</p>
<p>90. Скала. Она совсем гола,/Ни землинки на розовом камне. <br/>
Но мужик, горбоносей орла, /Тянет собственными руками</p>
<p>91.Лозу из камня. /Это - Армения!</p>
<p>92. Я был. Я видел. Я слышал речь.<br/>
Ни с чем не схожий клекот, ропот./Я слышал горных обвалов топот.<br/>
И я всегда буду беречь/На дне души /Эту Армению.</p>
<p>93. <u>Танаатванк - 1279 г.</u> </p>
<p>93а-93б. Его еще называют "черным монастырем" из-за темно-синих базальтовых стен; черным пятном выделяется он на фоне рыжих гор.</p>
<p>94,95. У памятника старины седой<br/>
      С опущенной стою я головой.</p>
<p>96. Пускай в осколки купол разобьется, <br/>
      Алмаз всегда алмазом остается.</p>
<p>97,98. Камни бывают разные,/Красные, обожженные, <br/>
      Смутные, сизо-синие./Камни бывают добрые, <br/>
Властные и бессильные./Камни бывают тихие, <br/>
Словно плита могильная.</p>
<p>99. Рыжие, изначальные/Камни здесь пахнут древностью<br/>
      И укоряют путника/В суетности и бренности.</p>
<p>100,101.<u>Священное дерево</u> </p>
<p>102, 103 <u>Зангезур</u></p>
<p>104. Ночь Зангезура сердце мне тревожит. <br/>
      Торжественного света пелену <br/>
      Раскинет млечный путь во всю длину <br/>
      И до рассвета не сиять не может.</p>
<p>105. Да будет так, как я того хочу.<br/>
      И друг ударит друга по плечу, <br/>
      И свет звезды пронзит стекло стакана, <br/>
      И старый Грин сойдет на братский пир, <br/>
      И скажет нам, что изменился мир, <br/>
      Что Зангезур получше Зурбагана.</p>
<p>106. Наконец-то мы добрались до Зангезура. Здесь, в высоких хребтах и глубоких ущельях</p>
<p>107. пройдет наш пешеходный маршрут. Но до него еще не близко.</p>
<p>108. "В центре Зангезура лежит Горис. После Еревана - лучший город Армении, - говорил нам главный инженер какого-то строительного треста, хозяин очередной попутки. - Горис еще до революции строил немец, потому он такой красивый и удобный".</p>
<p>108а,108б. Однако, старый Горис был не менее впечатляющим.</p>
<p>109. Раньше люди жили в окружающих город скалах. Они выбивали в песчанике пещеры и выводили окна и двери ряд над рядом, как гигантские соты.</p>
<p>110-113.</p>
<p>114. Старый Горис почти разрушен и сведен временем в дочеловеческое время, зато в 12 км от него есть другой, более сохранившийся обширный пещерный город и называется он</p>
<p>115.  <u>Хндзореск</u></p>
<p>Это слово было для нас как заклинанье, пароль, символ армянской необычности и стимул дальнейшего движения.</p>
<p>116. И вот мы бродим по его покинутым переулкам.</p>
<p>117. Путь далекий, томленье и дрема./День - расплавленной бронзой. <br/>
      Это солнечный яд и истома,/Это песня о солнце.</p>
<p>117а. То меня через тысячелетья/Кличут предки - вещие маги -<br/>
К солнцу, древней лестницей вслед им/Движусь, полный отваги.</p>
<p>117б. Закипают седые глубины /Заклинаний забытых. <br/>
Оживают глухие руины /Городов позабытых.</p>
<p>118-121.</p>
<p>122. Мы не сразу разгадали, почему пещеры, к которым сравнительно легко можно было подойти, могли служить надежным убежищем.</p>
<p>123. Все дело в том, что пещеры двухэтажные. В случае опасности семья поднималась на второй этаж по веревочной лестнице, лестница убиралась.</p>
<p>124. Враг не мог подняться по отвесной стене, зато защитники могли почти безнаказанно с ним расправляться. И только</p>
<p>125. в самое последнее время Хндзореск поверил в безопасность мира и перебрался на ровное верхнее плато, да и то не весь.</p>
<p>126. Хндзореску - тысяча лет, а может, и больше. Может, он стоит здесь от сотворения мира. Может, был всегда.</p>
<p>127. Но главное для нас открытие было то, что он живет и сейчас. Часть пещер занята под склады, сараи и даже под жилье,</p>
<p>128. что вызывало страшное любопытство.</p>
<p>129. Так одеваются только зангезурцы. Впрочем, не только в одежде, но и в обычаях, характере жилищ Зангезур самобытен.</p>
<p>130. Защищенный высоким Зангезурским хребтом с запада и юга, а нагорьем Карабахом с севера и востока, Зангезур долгие века мог сопротивляться азиатским нашествиям и сохранять полунезависимость. Cюник - так звали государство этих пещерных городов.</p>
<p>131. Орущих камней государство - Армения, Армения. <br/>
      Хриплые горы к оружью зовущая - Армения, Армения. <br/>
      К трубам серебряным вечно летящая - Армения, Армения <br/>
      Солнца персидского деньги щедро раздаривающая -<br/>
      Армения, Армения!</p>
<p>132. Старики, живущие здесь, не столь древние, чтобы помнить события прошлого, но они охотно рассказывают о том, что помнят: о прежней жизни Хндзореска, о полях за 15 км отсюда, о войнах, вплоть до последней.</p>
<p>133. Бродить по развалинам покинутых жилищ всегда грустно. Нас же отягощало увиденное в Армении, знание ее многострадальной истории и героической, почти безнадежной, обороны.</p>
<p>134. Армения - открытый музей, потому что полна развалин вроде Хндзореска, полна прошлой жизни, прошлых страданий и странствий. Вместить в себя этот груз тысячелетий и не взмолиться от душевной усталости невозможно.</p>
<p>136. Историки, я больше не хочу <br/>
      Рассказов о погибших городах. <br/>
      Смотреть совой зловещею на прах, <br/>
      Историки, я больше не хочу.<br/>
                  Я радуюсь полдневному лучу <br/>
      На ереванских розовых камнях. <br/>
      Историки, я больше не хочу <br/>
      Рассказов о погибших городах.</p>
<p>137. Но, преодолевая усталость, мы не теряли жадности и продолжали ездить и смотреть. Наша последняя остановка перед походом - Татевский монастырь. Очень опасная дорога! Страшно!</p>
<p>138. Склоны ущелья реки Воротана. 500-600-метровые.</p>
<p>139. "Чертов мост" через Воротан - одно из экзотических мест Армении. Грозная река стеснена многометровым каньоном,</p>
<p>140. стены которого мокнут нарзанами и шершавятся сталактитами солей.</p>
<p>141,142. В теплых нарзанных ваннах мы лечили ноги и слушали разговор реки с камнями.</p>
<p>143. Вверху парят могучие орлы, <br/>
      Громадой крыльев воздух рассекая.</p>
<p>144. А Воротан в ущелье, полном мглы, <br/>
      Гремит, из пасти пену извергая.</p>
<p>145. И с высоты, как снеговой обвал, <br/>
      Сползают тучи, в бездне оседая, <br/>
      Повиснув на зубцах отвесных скал, <br/>
      Леса лиловой мглою заполняя.</p>
<p>145а. Воротан - главная река Зангезура, и понятно, что монастыри и старые города надо искать на ней.</p>
<p>146. Совсем недалеко от «Чертова моста» мы видели неизвестный монастырь. Яблоками из его одичавшего сада нас даже угощали.</p>
<p>147. А на плацу церквушка - древняя, разрушенная, одна из многих, стоит даже без памятной доски и следов туристов. И только свечки паломников говорят о святости места.</p>
<p>148, 149, 149а.Выше, в нескольких десятках километров по Воротану дремлет полуразрушенный Воротанаванк.</p>
<p>150. А еще выше - древний Сисиан, столица Сюника, со строгим княжеским храмом 6-го века,</p>
<p>151. устоявшим перед разрушительным временем.</p>
<p>152. И вот теперь мы поднимаемся на правый берег Воротана, к некогда крупнейшему средневековому университету страны - Татевскому монастырю.</p>
<p>153. Здесь под грушей, во дворе монастыря, мы ночевали, прямо между плитами, чтобы утром всласть насмотреться.</p>
<p>153а. Почему-то мы уже не испытывали  привычной усталости экскурсантов. Мы все одинаково не скрывали своего восторга перед</p>
<p>154. великолепными останками цивилизации, достойной древней Греции и Рима. Воочию мы ощущали эту связь времен, эту живую почву древней Эллады, из которой выросло и</p>
<p>155. искусство средневековой Европы, и культура древней Армении.</p>
<p>156. Татев строили в X веке, в годы возникновения и развития княжества Сюник, и не только как величественный и пышный храм, но больше, - как город-крепость.</p>
<p>157. В дни войн он зрачками бойниц взирал. <br/>
      Уступы оград росли все грозней. <br/>
      Стоял монастырь - увесистый вал, <br/>
      Гигантский оплот гонимых людей.</p>
<p>158. Поныне бессмертен стен полет,<br/>
      Как в битве столетий копилась рать. <br/>
      Стремится, как вихрь, качнув небосвод, <br/>
      В ущелье слететь и врагов покарать.</p>
<p>159. И камни лежат в ущельях седых, <br/>
      Как трупы врагов, холодным холмом, <br/>
      Сраженные насмерть у ног твоих, <br/>
      Мечом легендарным - предков мечом.</p>
<p>160. Как прадедов души снежно чисты.<br/>
      Там голуби вьют миллионы гнезд. <br/>
      Стоит монастырь, следит с высоты. <br/>
      И вечности гул, и реянье звезд.</p>
<p>161. Монастырь простоял 12 веков и только 25 лет назад землетрясение разрушило большинство зданий.</p>
<p>162-165.</p>
<p>166. Здесь в самые тяжелые времена Татевский митрополит собирал лучших людей. Здесь шла интенсивная духовная жизнь, что помогло уберечь нацию от гибели.</p>
<p>167. Как неожиданно было видеть огромные залы и переходы татевских помещений после ставших уже привычными малых объемов армянских церквей. Совсем немного нужно воображения, чтобы увидеть, как повествует летопись, что в одном отделении обучал музыке, сладкозвучным мотивам первый учитель в этой области, а учились у него многие из всех стран и городов.</p>
<p>168. В другом отделении обучали живописи и ее видам.</p>
<p>169. В третьем - христианским сочинениям и светским и языческим наукам...
      Нет больше университета в Татеве.</p>
<p>170. Жизнь вместе с мыслью ушла отсюда. Тишина.</p>
<p>171. И только очень, очень тихо ведут свой рассказ камни тем, кто подойдет их послушать.</p>
<p>172. Когда Бог делил землю, то в конце деления обнаружил, что армянам ничего не осталось, кроме камней. И тогда в придачу Бог дал армянам ум.</p>
<p>173. Армяне смогли по-умному распорядиться камнями, сделав их друзьями, поверяя им думы и радости.</p>
<p>176. Печально, когда умирает родственник, но он был хорошим человеком, и весело водят хоровод девушки на могильном камне, радуясь, что, отмучившись на земле, он теперь в раю.</p>
<p>177. В старой Армении не было человека, который не знал бы Григория Просветителя, в пастушьем наряде, с посохом, бродившего по земле, внушая людям идеи христианства, еще в 4 веке. Привлекательные сами по себе, христианские идеи в делах сильных мира сего превращались в свою противоположность. И лишь простые люди сберегали в своих сердцах мир и добро христианской морали.</p>
<p>178. Я не уставала радоваться, находя эти бесхитростные кресты на стенах монастыря. Мне представлялся то старец; ушедший в свои мудрые мысли и очнувшийся возблагодарить Бога, вырезав ему крест;</p>
<p>179. то юноша, переполненный чувствами, лихорадочно вырезающий крест, прося Бога о помощи.</p>
<p>180. А в укромных уголках монастырских школ мне виделось, как неудачливые подростки, не выучившие уроки, царапают стыдливо малюсенькие крестики, прося о защите от наставника-учителя.</p>
<p>181. Из Татева мы уходили пешком и медленно, с каждым поворотом горной дороги, прощались. Ведь каждый понимал, что вряд ли кто-нибудь из нас приедет сюда снова и испытает снова всю гамму Татевских впечатлений.</p>
<p>182. <u>Начало похода</u></p>
<p>183. Куда ты, горная тропа, ведешь меня? <br/>
      В лиловом ущелье, где, звеня,<br/>
      Под шум и грохот гроз,<br/>
      Под ливнями в ночи,<br/>
      Под белой молнией рождаются ручьи.</p>
<p>184-188, 188а. перевал через Бгомский хребет.</p>
<p>189. Хотел бы улететь я/В сиреневый простор,<br/>
             Спуститься на рассвете /На пики синих гор.</p>
<p>190. На следующий день мы спускались в ущелье Каджарана. Внизу нас снова встречали</p>
<p>191. молочные фермы, сады, ангезурки, зангезурцы и старые крепости.</p>
<p>192. Развалины крепости Давид-Бека.</p>
<p>В 1722 г. Петр I после долгих просьб выступил, наконец, в защиту закавказского христианства. Грузины и армяне начали военные действия против турок. Но неожиданно Петр пересмотрел свои планы и, захватив персидское побережье Каспия, оставил своих союзников без помощи. Месть турок была ужасной, разгром и резня - катастрофической, и только Зангезур сумел выстоять против мусульманского моря, не идя с ними ни на какие соглашения. Их вождь Давид-Бек наголову разбил турок, а впоследствии добился признания независимости Зангезура-Сюника.</p>
<p>193. Позади нас остались десятки армянских городов, дороги и попутки, столовые и гостиницы, фотопозерство и фотолюбительство, но вместе с ними позади осталась и наша чужестранность в этих горах, позади осталась и наша скучающе-пренебрежительная усмешка в монастырских развалинах, и настороженность к людям, и недоверие к восторгам путеводителя.</p>
<p>История Армении уже вошла к нам в душу, и наш поход и горы Зангезура вдруг стали ее продолжением.</p>
<p>194. В скалах стали чудиться развалины крепости, в синих просторах - библейские тысячелетия, во встречных садоводах и чабанах - </p>
<p>195-197. древние мудрецы и поэты. </p>
<p>198. Подъем к Зангезурскому хребту. Уже близок вечер, и мы ищем место стоянки.</p>
<p>198а. На этой порядочной высоте, где рядом снег, и нет уже ни деревьев, ни кустов для костра.</p>
<p>199. Утро нового перевального дня. Солнце еще не добралось до нашей палатки, а мы уже спешим к перевалу рядом с самой высокой вершиной Зангезура и всего Закавказья.</p>
<p>200.  <u>Капудджух 3996 м</u></p>
<p>201-203.</p>
<p>204.<u>Перевал</u></p>
<p>205. Здесь, на границе Армянского Зангезура с Азербайджанским Нахичеванем,</p>
<p>206. мы и попрощались со страной тысячелетий.</p>
<br/>
</p></p></p>
{% endblock content %}
