{% extends 'base.html' %}
{% block title %}Виктор и Лидия Сокирко. Том 4. Москва - Ополье.{% endblock %}
{% block content %}



<h2>Том 4. Москва - Ополье. 1967-1982гг. </h2>
<ul>
<li>Раздел 1. Москва и Подмосковье.
			<ul>
<li><a href="/Tom4/intro.html">Предисловие. </a>
<li>Диафильм "Московские церкви"<ol>
<li><a href="/Part2/Moskwa_1/index.html">до 17 века</a>
<li><a href="/Part2/Moskwa_2/index.html">до Петра 1</a>
<li><a href="/Part2/Moskwa_3/index.html">нового времени</a></li>
</li></li></ol>
<li><a href="/Part2/Sergii_Rad/index.html">Диафильм "Сергий Радонежский" (Подмосковные монастыри) </a></li>
</li></li></ul><li>Раздел 2. Ополье - Иконы - Два Переславля
<ul>
<li>Суздаль
<ul>
<li><a href="/Tom4/notes.html"> Л.Ткаченко «Путевые заметки» </a>
<li><a href="/Tom4/rest.html"> В.Сокирко «Воскресный отдых» </a>
<li><a href="/Part2/Opolje/index.html"> Диафильм «Память русского Ополья (Суждаль)»</a></li>
</li></li></ul><li><a href="/Tom4/icons.html"> Иконы</a>
<ul>
<li><a href="/Tom4/mirovozrenie.html"> О мироззрении</a>
<li><a href="/Part3/Nida/index.html"> Диафильм «Воспоминания о Ниде.1969год»</a>
<li><a href="/Tom4/picture.html"> Моя картина мира</a>
<li><a href="/Part2/ikoni/index.html"> Диафильм «Рассказ об иконах»</a>
<li><a href="/Tom4/berdyaev.html"> Читая Бердяева...</a>
<li><a href="/Tom4/terpimosti.html"> О терпимости (доклад Лили на домашнем семинаре март-апрель 1969года</a>
<li><a href="/Tom4/ateist.html"> Атеист перед иконой (доклад Лили на домашнем семинаре 24.12.82г.)</a>
<li><a href="/Tom4/bogoborez.html"> О богородичных иконах(незаписанный диафильм)</a></li>
</li></li></li></li></li></li></li></ul><li>«Нужны ли Вам русские церкви?»
<ul>
<li><a href="/Tom4/nughno.html"> Предыстория</a>
<li><a href="/Part2/2_Pereslawlja/index.html"> Диафильм «Два Переславля»</a>
<li><a href="/Tom4/threeletters.html">Три письма: дьякону Александру Ильичу Борисову от Л.Ткаченко, его ответ и второй ответ от знакомой Л.Блехера</a></li>
</li></li></ul>
</li></li></li></ul><li>Раздел 3. Москва - Волга
<ul><li><a href="/Tom4/volga.html"> Волжский дневник. Июль 1978</a></li></ul>
</li>
</li></li></ul>
<br/>

{% endblock content %}
