{% extends 'base.html' %}
<title>В.и Л.Сокирко Том 4. «Москва - Ополье»</title>
{% block content %}



<h2>Том 4. «Москва - Ополье»</h2>
<h1>Суздаль</h1>
<h1>В.Сокирко «Воскресный отдых»</h1>
<p>Каждый проводит выдавшийся ему за неделю свободный день по-разному. Можно провести его и так:</p>
<p>Поздний вечер, скоро ночь. В 0.30 отправляется поезд Москва-Иваново. Мы покупаем билеты за двадцать минут до отправления, входим в вагон и с огромным неудовольствием обнаруживаем, что, согласно новой моде, этот старый общий вагон переделали на ряды кресел. Раздосадованы до крайности! Черт бы драл этих новоустроителей, умудрившихся даже поезд Москва-Волгоград, идущий более суток, оборудовать этими пыточными агрегатами. В ночное время человек, сидящий в нем, способен лишь подремать, и так, что у него раз и навсегда отобьется охота к подобным поездкам. А ведь мы рассчитывали немного поспать. К счастью, людей в вагоне осталось совсем мало, и мы укладываемся на полу между креслами, засунув головы под один ряд, а ноги - под другой. Сносно, в общем, но все же неуютно и скверно. Мучение, хотя все же лучше, чем кресла.</p>
<p>Выходим в Юрьеве-Польском. Это - один из древнейших русских городов, основанный еще Юрием Долгоруким. 4.20 утра. Темно. Пронизывает мелкий осенний дождь. Рассвета ждем на вокзале, использовав для сна станционные скамейки. В 7 часов вышли к автобусу. Заметно рассвело, но дождь все еще моросит. Это в данном случае особенно досадно, потому что делает фотосъемки почти нереальным делом. Но когда мы приехали в центр и увидели то, ради чего приехали - древний Георгиевский собор со стенами из горельефов, то забыли о дожде. Бегали вокруг в радостном возбуждении. А вот и первая награда. Сквозь облака в небольшой просвет пробивается солнце. Началась охота за каждым лучом, чтобы продублировать кадры, сделанные в полутьме... Ну, насмотрелись, загубили полпленки, и хватит!</p>
<p>Ранняя столовая - и в автобус, теперь уже до областного центра - до Владимира. Прямого пути в соседний Суздальский район нет. Жаль. Придется оставить Суздаль до следующего раза.</p>
<p>Три часа - в дороге. Места сидячие - это очень хорошо. Медленно проплывают, вернее, пропрыгивают владимирские поля и перелески. А вот и Владимир на Клязьме. Солнышко-то как светит! Красота.</p>
<p>И весь божий день мы бегали от здания к зданию, мучительно выжидая, когда, наконец, сойдет с солнца очередная туча и даст возможность щелкнуть очередной кадр.</p>
<p>Поездка в Боголюбово, к церкви Покрова на Нерли - это апогей, последний взлет радостного настроя.</p>
<p>Дальше - возвращение домой, дальше - нарастание усталости, накопленной за ночь и за день. Автобус - во Владимир, электричка - до Петушков. Здесь последнее раздражение: московская электричка ушла за две минуты до прихода владимирской. Более сотни пассажиров, едущих до Москвы, клянут, на чем свет стоит, идиотское расписание и усаживается на полтора часа ждать. Довольно-таки тоскливые полтора часа. А потом - снова полупустой вагон электрички на Москву и беспокойный сон на короткой скамейке.</p>
<p>И вот Москва. Курский вокзал. 10 часов вечера. Отдых кончился. Хорошо. Радость возвращения домой. Артемка еще не спит. Радость вдвойне! Мы счастливы самым настоящим образом. Тяжесть и тоскливость пути отошла, уже забылась, но темное небо с осенним солнцем и белые стены владимирских зданий не забудутся. Они - наше новое достояние. Такое, как и две новые диапозитивные пленки. Только дай бог, чтобы они получились. С этой мыслью и приходит сон.</p>
<p>Ну, как, нравится ли вам такой «отдых воскресного дня»?</p>
<br/>

{% endblock content %}
