{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. Алтай-Сибирь 1987 г.{% endblock %}
{% block content %}



<br/><br/>
<p>1.<u> Алтай-1987. Северо-Восток</u></p> <p>2. <u>"Наша Чулышмания"</u></p>
<p>3. <u>Страна теленгитов, телесов, телеутов</u></p>
<p>4. в алтайских стихах.</p>
<p>5. ...Кошев <u>"Осень, Москва и Алтай"</u></p>
<p>Что-то дождь все бубнит меднолистным московским деревьям,</p>
<p>6. Бабье лето висит в золотой паутине двора.</p>
<p>7. А для женщин Алтая, как давно повелось по кочевьям,<br/>
      Время скатывать войлок - кийис-дяй - это "лето ковра".<br/>
      На осенних лугах сенокосу пора завершиться,<br/>
      Звездный иней ночами привыкнет к остылой земле...</p>
<p>8. Торопливые козы, неспешное племя коровье<br/>
      С летних пастбищ-яйлу, где пожухла трава дочерна,<br/>
      Пробираются в дол - уж давно там готово зимовье:<br/>
      Лето сложено в стоги, это значит, зима не страшна.</p>
<p>9. Вот сейчас бы домой - до конца сенокоса успел бы!-<br/>
      Чтоб по лугу пройтись со звенящей, свистящей косой:<br/>
      И старик у костра высоко и надтреснуто пел бы,<br/>
      А звенел бы закат золотою своей полосой.</p>
<p>10. <u>"Белые стоянки"</u>: <br/>
      Далекий белый горизонт в подсветках зорных.<br/>
      Там снег растет живым цветком на ветках черных.</p>
<p>11. Собирайся, память, в дальний путь, к родным кочевьям.<br/>
      К стоянкам белым, на плато, к степным деревьям.<br/>
       Хранится в сердце у малчи немая тайна.</p>
<p>12. Ее не вызнает ни враг, ни гость случайный.<br/>
      А для других она - как твердь скалы недвижной.<br/>
      Ее сказители зовут любовью к Жизни.</p>
<p>13. Молчат малчи. Молчанье их - снегов сиянье,<br/>
      Скучает сердце вдалеке без их молчанья.<br/>
      А их веселье - где еще найдешь такое?<br/>
      Без их веселья нет в душе моей покоя?</p>
<p>14. Они богатство в сундуках не затаили.<br/>
      Не для себя - для всей земли его скопили.</p>
<p>15. Пушистей свежего снежка, луны белее.<br/>
      В кошаре овцы погляди, радушно блеют.<br/>
      Придешь бывало к чабану, хвастлив, удачлив.<br/>
      Он только глянет - и стоишь стекла прозрачней.<br/>
      В его уме твой каждый шаг на жизнь помножен,<br/>
      И все, что сбудется с тобой, он знает тоже...</p>
<p>17. Кошев Каран Дмитриевич, чьи стихи мы сейчас прочли, кончил московский институт и стал инженером. Он алтаец из племени теленгитов,</p>
<p>18. уроженец села Коо близ Телецкого озера, в котором мы побывали этим летом в сенокосную страду и потому понимаем его грусть: "Я в Москве, а дома нужно косить сено"...</p>
<p>19. Но, прежде чем начать рассказ, мне хочется сделать <u>посвящение</u> в благодарность <u>Лиде Сулимовой</u>. После горного похода она сняла</p>
<p>20. с нас заботу о возвращении домой детей и тем самым сделала подарок к серебряной свадьбе: возможность шестидневного путешествия вдвоем.</p>
<p>21. После прощания на акташской автостанции со своими, уехавшими мягким автобусом на Горно-Алтайск и Бийск, двинулись и мы на осмотр</p>
<p>22. поселка и его магазинов. Несмотря малую величину - это настоящий рудничный городок с множеством улиц, учреждений, двухэтажных рабочих </p>
<p>23. бараков и с громадной Советской площадью вокруг рудничного управления, называемого то уважительно - "Белый дом", то более </p>
<p>24. зло - "Пентагон". Подвыпивший местный рабочий быстро просветил нас, что здешний ртутный рудник единственный в Союзе. Что, конечно, ртуть опасна, но технологию блюдут, а все равно дохнут. Все дохнут - и мужики, и рыба. "Вот сейчас будете наверху проезжать</p>
<p>25. мертвые озера. Там и не купается никто. А кроме этого вот нижнего Акташа, есть еще и Акташ второй, и третий. Там тоже все соблюдается. И заработки хорошие, и пенсию дают рано, a все равно дохнут.</p>
<p>26. Нет, алтайцам там делать нечего, там только русским впору. Они ведь всю жизнь свою привычные, ведь водярой очищаются, а алтайцы от нее лишь дуреют..."</p>
<p>27. <u>Бедюров "Баллада о подрезанных крыльях"</u>.</p>
<p>Мчались взмыленные кони. /Уносился ветер прочь.<br/>
      В страшном топоте и стоне /Начиналась эта ночь. </p>
<p>28. <u>в Акташ за водкой</u> <br/>
      У горняцкого поселка /Под названием Акташ<br/>
      Мчались люди, как от волка, /Страх великий, дикий раж.<br/>
      Полуслепы, полупьяны, /Лиц во тьме не разглядеть.<br/>
      Лишь земля на топот рьяный /Отзывалась, словно медь.<br/>
      А куда они летели - /Не беду ли отвести, </p>
<p>29. Иль спасти кого хотели? /Деньги, смятые в горсти...<br/>
      Не тушить пожар бежали, /Не спасались от беды,<br/>
      И коней своих загнали - /Ради огненной воды. </p>
<p>30. Что сказать? Но этот топот, /Это эхо, плач коней -<br/>
      Cловно чей-то страшный опыт, /Что уводит в пропасть дней.<br/>
      Мне они глаза открыли, /Боль вошла, как в сердце нож:<br/>
       Если вдруг подрежут крылья, /Прежней доли не вернешь! </p>
<p>31. Нам повезло на остановке, и 50 км до районного села Усть-Улаган нас подвез военный ПАЗик.</p>
<p>32. На подъеме его мотор сильно грелся. Солдат-шофер бегал за водой, а мы в ущелье собирали смородину, пренебрегая его ртутной славой. </p>
<p>33. "Красные ворота" - пробитые в киноварной ртутной руде. Из пассажиров, кроме нас, по городскому модно одетая девушка из Горно-Алтайска и двое подростков налегке.</p>
<p>34. Шоферу лет 18, а его строгому и заботливому лейтенанту - чуть больше, но красные петлицы внутренних войск говорят о близости лагерях. Эти симпатичные ребята, наверное, охранники, а на деле -</p>
<p>35. наши дети.</p>
<p>36. Мертвые озера, больная земля, отравленные люди, лагерные зоны - а сколько в них погибло немногочисленной и потому для алтайцев дорогой своей интеллигенции? - Понятно, почему ни </p>
<p>37. одного хорошего стиха об Акташе и вообще об алтайских городах мы не нашли...</p>
<p>38. Наш автобус долго колесил по плоскогорью, редколесью, прежде чем, преодолев водораздел, начал спускаться в долину Башкауса (как по-литовски звучит, правда?), к райцентру <u>Усть-Улаган</u></p>
<p>39. В книжном магазине мы купили алтайские гравюры и две поэтические книжки, не предполагая тогда, что они лягут в основу этого фильма.</p>
<p>40. Стихи приоткрыли нам мысли и чувства наших алтайских современников и увязали с Алтаем собственные представления о мире.</p>
<p>41. Прежде всего, удивила свобода и смелость женских голосов.</p>
<p>42. <u>Сурайя Сартакова</u> </p>
<p>Над девчонкой-алтайкой /Без нужды не шути.<br/>
      Как поглажу нагайкой - /Не торчи на пути!</p>
<p>43. Я сиять не устану /Алым цветом чейне.<br/>
      Если искоркой стану -/ Запылаешь в огне.<br/>
      Для хорошего парня, /Удалой головы, <br/>
            Я, словами не раня,  /Шелковистей листвы,<br/>
      Но для черного сердца, /Чьи намерения злы,<br/>
      Я всегда жгуче перца, /Круче, крепче  скалы...</p>
<p>44. Кто-ты есть, отвечай-ка! /Не торчи на пути.<br/>
      Я девчонка-алтайка, /Ты со мной не шути!"<br/>
      - Но что ждет тюркскую девчонку, об этом говорит другая поэтесса </p>
<p>45. сборника - <u>Гюзель Кипчаковпа Елемова</u> </p>
<p>Приданого груда, приданого ворох:/Надменная вскинута бровь.<br/>
      Над юртой березы испуганной шорох: /Подушки считает свекровь.<br/>
      Всему есть цена - ты узнаешь об этом,/Отчаянная голова!<br/>
      Но все ж в чегедек с надлежащим советом /Тебя обряжают сперва.</p>
<p>46. Вначале семейные нравы не круты, /Как в юности ты весела.<br/>
      Пред всеми распахнута дверь твоей юрты, /Отчаянна ты, как была!<br/>
      Затянешь на празднике песню открыто, /На танец свободно пойдешь...<br/>
      Но мужем твоим нечего не забыто, /Ты вскорости это поймешь. </p>
<p>47. В душевной свободе - печалей причина, /Причина сомнений и слез...<br/>
      Пойдут пересуды, а после кручина /Тобой овладеет всерьез... <br/>
      Опаснее черного глаза наветы  /Твоей необычной красе,<br/>
      Оденешься ты, как соседки одеты, /Состаришься сердцем, как все... </p>
<p>48. Тогда-то отстанут: подумают - хватит! /Молва в этом мире права.<br/>
      Иначе никто за веселье не платит, /Отчаянная голова!</p>
<p>49. О смелости и силе алтайских женщин мы были наслышаны еще от чтения древнего народного эпоса про Очыра и Очы-Бала. Но то - времена легендарные, сказочные, на высоких горах. А сейчас звучали слова совсем молодых женщин, живущих вот в таких невзрачных, на наш взгляд, сельских домах... </p>
<p>50. <u>Борис Укачин</u></p>
<p>Кукушка в клюве принесла /Веселый месяц - май,<br/>
      Услышав птичьи голоса, /Похорошел Алтай. </p>
<p>51. Кукушка пенье с высоты /Сронила - расцвели </p>
<p>52. Небесно-синие цветы - /Глаза моей земли. <br/>
      Сельчанин спину распрямил, /Душой помолодел,<br/>
      О, дай ему, кукушка, сил / Для  трудных вешних дел!</p>
<p>53.На последние 20 км <u>до Балыктююля</u> нас подхватила колхозная вездеходная машина. Мы уселись на стопке кирпича и стали присматриваться к попутчикам.</p>
<p>54. Это были женщины с продуктами, детскими игрушками и иными покупками из районных магазинов - привычная "расейская" картина. Одно лишь отличие - тюркские лица.</p>
<p>55. Но зато удивил пожилой алтаец чистой и правильной русской речью, сдержанным и емким рассказом о трудностях алтайской оседлости -</p>
<p>56. - земледелия на этих холодных горах: вызревают, и то не всегда, лишь некоторые сорта ячменя, а уж сколько труда нужно...</p>
<p>57. <u>Б.Укачин</u></p>
<p>Родина, милая Родина, где ты? /- Разве не видишь? Я - черная эта <br/>
      Почва-земля у тебя под ногами, /Та, что ты меришь в раздумье шагами.</p>
<p>58. Родина, милая Родина, где ты?  /- Осень, зима, и весна, и лето.<br/>
      Я - недоступное и голубое Небо, /Раскинутое над тобою! </p>
<p>59.- Родина, хочется слышать твой голос! /- Я шелестящий налившийся колос.<br/>
      Я - ручейка  молодое журчанье, /Каменных гор вековое молчанье...</p>
<p>60. Мы недолго задержались в этой последней деревне. Попутчики в гости к себе не позвали, видно, к туристам привыкли, или от природной сдержанности, но зато подробно рассказали, как лучше идти</p>
<p>61. к Телецкому озеру. Сдержанность алтайцев мы ощущали и в дальнейшем. И потому еще так ценны для нас откровения их</p>
<p>62. поэтов и рассказы историков. Мы никакими сведениями не пренебрегали.</p>
<p>63. Вот в 30-годах была выпущена туристская книжка. В ней так образно описаны алтайские курганы (где-то в этом районе располагаются</p>
<p>64. знаменитые пазарыкские...):</p>
<p>65. "Могильные курганы, остатки неразгаданной большой страны великого народа, который когда-то населял Алтай, Енисей, часть Монголии, Китай.</p>
<p>66. Кровь этой страны сосали Китай и Тибет, Монголия, Джунгария и Русь. Народы Азии и Европы провели здесь свой младенческий возраст.</p>
<p>67. Кочевники Алтая, охотник-тунгус, самоед-скотовод и европейский финн из одного гнезда, из этой древней страны... И белобрысая чудь тоже жила на Алтае. В чумах ребятишкам оленеводов рассказывают сказки, где действуют львы, тигры, орлы, верблюды. Почему звери Индии живут за полярным кругом? - Об этом снова рассказывают курганы и камни.</p>
<p>68. На плоских могильных камнях целые поэмы, высеченные лица ассирийцев. Здесь была столбовая дорога народов. Арабы, купцы из Багдада, Греции растеряли золотые монеты. Орды Тимура прокатились до верховьев Енисея...</p>
<p>69. <u>Д.Белеков "В древнем краю"</u><br/>
      Золото гор  под высоким и синим шатром - край мой небесный! <br/>
      Не мысля с тобою разлуки, -<br/>
       Дерево-Камень, Обитель-Вода - называли свой дом предки мои -<br/>
      голубые алтайские тюрки.</p>
<p>70. Недруг ли явится вестником новой войны,-<br/>
      Путь преградит ему сабель отчаянный высверк.<br/>
      Смерть презирают высокой отчизны сыны:<br/>
      Павший - восстанет, коль мучает родину изверг!</p>
<p>71. Люди с золотыми руками, простою судьбой,<br/>
       В ковке железа искусны и в пряже стиха, <br/>
      Южной стране, знаменитой своими шелками,<br/>
       Слали в обмен соболей драгоценных меха.<br/>
      Сердце открытое, чистые нравы от века<br/>
      Боготворили природной своей простотой,<br/>
      Нет ничего в этом мире ценней человека,-<br/>
      Истину эту они почитали святой.</p>
<p>72. В память потомкам свое первозданное чувство<br/>
      Предки мои завещали: узор, письмена...<br/>
      Каменных стел, пазарыкских курганов искусство<br/>
      Мир вековой пощадил, пощадила война.<br/>
      Древняя почва - легенда веков золотая,<br/>
      Скольких народов она сохранила следы!<br/>
      Душу питаю волшебным напевом Алтая, <br/>
      Сердце питаю целебной пригоршней воды.</p>
<p>73. Диману Белекову - всего 35 лет, а он уже член Союза писателей и ответственный партийный работник области. Его стихи - выражение почвенных настроений ведущего слоя алтайской интеллигенции, старающихся по партийному не сомневаться в благородстве своих предков - воинственных голубых тюрков...</p>
<p>74. Но звучат и иные голоса. На 6 лет  старше Борис Самыков, режиссер и художник народного театра села Каспе. Он смотрит на свои курганы, уже не скрывая сомнений и теней:</p>
<p>75. Лежит в ущелье, озарен и тих, / Курган-могильник пращуров моих.<br/>
       Века назад схоронено в него / Минувшее народа моего.<br/>
      Быть может, слава, честь и гордый взор.../ А может, поражения позор...</p>
<p>76. Чем этот вот могильник знаменит? / А сколько их Алтай в себе хранит!<br/>
      Скажите же, чем славен предок мой,  /Свидетели истории немой?</p>
<p>77. А ведь и перед нами аналогичные проблемы: какими предками гордиться? Кого славить и предлагать в пример? Отчаянных воителей, создавших в конце концов величайшую в мире Российскую державу (сверх) или мирных крестьян, создавших гармонию Беловского "Лада"?</p>
<p>78. Так и у алтайцев выбор: славить и гордиться теми из своих предков, кто, покинув Алтай, веками носился в грабежах и убийствах по всей Евразии от океана к океану: скифами, хуннами, тюрками, разбрасывая вокруг себя ужас и желание принять на себя их имя и семя.</p>
<p>79. Или тех, кто не соблазнялся славой и грабежом и оставался в родных алтайских горах мирными, даже бедными пастухами, и в трудах и обороне дал жизнь нынешним горцам. То же относится и к Кавказу...</p>
<p>80. <u>Б.Укачин</u> </p>
<p>Камни Кавказа и камни Алтая, /С давних времен вы окрашены кровью!<br/>
      Парни Кавказа и парни Алтая, /С давних времен вы пылали любовью!</p>
<p>81.K милым горам и красавицам юным!/Мы за любовь и счастливую долю<br/>
      Бились веками - не оттого ли /Мало осталось нас в мире подлунном?<br/>
      - Отчую землю зато отстояли! </p>
<p>82. Ночевали в одном из пустых становищ, многочисленных и пустынных в этих горах. Живут в них или зимой, или когда в округе пасется скот. Трава кончается, и пастухи вместо со скотом уходят к другому</p>
<p>83. такому стойбищу. Так и меняется пастбище за пастбищем. А заодно и охотничьи угодья чередуются. Под колхозной вывеской продолжается древняя устойчивая и какая-то аккуратная жизнь...</p>
<p>84. Исследователь алтайского быта этнограф Дыренкова в 26 году сообщала, что "члены алтайского рода - "сеока" до последнего времени землей пользовались сообща даже там, где отчасти занимались и земледелием.</p>
<p>85. Работа у сородичей шла по очереди. Скот пасся вместе, а еще раньше он был общей собственностью рода. К сожалению, сейчас этот обычай под влиянием русских местами выходит из употребления".</p>
<p>86. Но в 50-е годы сталинский историк Потапов говорит иное: "Усвоив эту псевдонаучную теорию, некоторые работники Горного Алтая пытались объяснить успехи коллективизации не руководством компартии, а тем, что алтайцы до революции жили родовым строем и имели навыки к коллективному труду и быту. Националистическая легенда о родовом строе алтайцев служила теоретической базой правоуклонистов,</p>
<p>87. отрицавшим наличие кулаков-эксплуататоров среди алтайцев. Oсобенно яростно защищали теорию родового строя у алтайцев буржуазные националисты, пробравшиеся в местные советский и партийный аппарат. Они злобно клеветали на партию, обвиняя ее в ненужной борьбе с якобы несуществующими эксплуататорами-алтайцами, пытаясь ограничить ее, направив только против русских кулацких элементов".</p>
<p> Зная, какой громадной несправедливостью было раскулачивание русских крестьян, нетрудно представить, какой нелепостью были репрессии ради коллективизации к родовым алтайцам. И как же ожидать добрых к себе отношений, если эту сталинскую политику проводили русские.</p>
<p>88. Само становище невелико: хлев и загон со скирдами сена. Изба и, конечно же, излюбленная в этих горах бревенчатая юрта с корой на крыше. Рядом коновязь с птичкой наверху. Внутри юрты скамьи с козьими шкурами и очаг-треножник, дым от которого выходит через центральную дыру прямо в звездное небо. И ни души кругом: само древнее</p>
<p>90. анонимное человечество гостеприимно распахнуло перед нами двери. Мы вошли в ее темное и недоступное фотоаппарату нутро, зажгли очаг, сварили праздничный ужин - ведь Темин сегодня день рождения. Необычным был наш праздник, весь в алтайских мемориальных тонах.</p>
<p>91. <u>Сурайя Сартакова "Мать, очаг, огонь"</u></p>
<p>Впервые узнала в младенчестве я - мать, очаг, огонь.<br/>
      Остался незыблемым круг бытия: - мать, очаг, огонь.</p>
<p>92. Какое наследство, подарок какой! - Мать! Очаг! Огонь!<br/>
      Есть в мире гнездо, где на сердце покой - мать, очаг, огонь.<br/>
      Одно притяженье вернет меня вспять - мать, очаг, огонь,<br/>
      Уеду, но станут по мне тосковать - мать, очаг, огонь.</p>
<p>93. Три слова священных в душе берегу - мать, очаг, огонь.<br/>
      Начала начал в повседневном кругу - мать, очаг, огонь.</p>
<p>94. Нас окружал тысячелетний быт-огонь, нераздельный с алтайской душой. Вроде совсем обрусел <u>Каран Кошев</u>, уехав в Коми московским инженером, а вот снятся ему огни предков, держат его нравственный стержень и нам помогают.</p>
<p>95. Очнулся я. Конь заржал в тишине. /Дымился костер, угасая.<br/>
      Кочевника-предка я видел во сне -/Высокую мудрость Алтая.</p>
<p>96. Веками хранил он кресало свое, /За пазухой бережно пряча.<br/>
      Посулам не внял, не сменял на ружье, /За деньги не продал тем паче.</p>
<p>97.Пусть множество разных привычек и свойств /Мне время мое подарило<br/>
      Сберег я и нрав неуступчивый свой. /И предков душевную силу.<br/>
      Недаром я прошлое видел во сне! / В безвыходный час несчастливый<br/>
      Я знаю, что горская воля во мне /Найдется, как это огниво!...</p>
<p>98. Весь <u>второй день</u> шли мы по лесному-луговому верхнему Алтаю,</p>
<p>99. не интересуясь, какие хребты и урочища проходим. Дорога была ясной - по телефонным столбам. И никого. Только раз тишину нарушили мотоциклисты из Акташа,</p>
<p>100. промчались на воскресную рыбалку. А то все коровы или мальчишка-пастух за телятами, а из очередного стойбища в сторонке</p>
<p>101. слышим окликающие голоса: нам предлагают мясо или зовут пить чай. </p>
<p>102. Жаль, что приглашение к чаю было сразу после нашего обеда и жаль, что поэтому не соблазнились... Контакты с людьми наши минимальны. Но по самой дороге,  по чистым лужкам мы чувствуем какую-то европейскую ухоженность и даже цивилизованность, в отличие от привычных нам бесхоза и свалок.</p>
<p>102а. А чему удивляться: горцы есть горцы, в Швейцарии или на Алтае. Сами горы делают их свободными и независимыми.</p>
<p>103. И какой чудовищный парадокс в том, что именно русские считали и считают их дикарями, с позапрошлого века не оставляют попыток </p>
<p>104. "просветить", т.е. переделать на свой лад.</p>
<p>105. Одной из самых ярких страниц неудач русского насильственного просвещения является история жизни и гибели алтайской православной миссии. 50 храмов было устроено ею до революции в Горном Алтае, а остался лишь один, встреченный в то утро памятный крест.</p>
<p>106. Первые попытки крестить алтайцев предпринимались еще в XVIII столетии, сразу же после раздела между Китаем и Россией Ойротского ханства. Церковь даже утвердила специальные должности миссионеров, но видно, толку было мало, потому что когда при Екатерине эти должности были упразднены, все крещеные алтайцы разбежались и тут же вернулись к шаманству.</p>
<p>107. При Николае I христианизация Алтая восстановилась. В 1828 г. была основана Макарием Глуховым алтайская духовная миссия. Профессор духовной семинарии, либерал по убеждениям, сочувствующий декабристам, он сам выбрал Алтай, как место духовного подвига. В 1834 г. он явился в алтайском селе Улала, которое и стало центром Миссии, а теперь вот стал столичным и </p>
<p>108. Горно-Алтайском сделался.</p>
<p>109. Макарий Глухов был настоящим цивилизатором: сколько добра сделал он для алтайцев: выписывал семена и орудия с.х., сам учил сажать овощи, ухаживать за огородом. Учил чистоплотности и гигиене, создавал женские кружки при миссии для обучения акушерству, уходу за детьми, выпечке хлеба. Его школы для мальчиков и</p>
<p>110. девочек были бесплатными. Он создал алтайскую письменность на русских буквах. Сам перевел на алтайский язык Евангелие, молитвы и богослужебные книги, предвосхитив систему Ильменского - обращать инородцев в христианство лишь с помощью обучения их на родном языке. Для крещеных алтайцев Макарий добился освобождения на три года от всех налогов, т.е. завлекал  и духовно, и материально.</p>
<p>111. В 1845 г. Макарий ушел с поста по болезни. Но почему же тогда крещение вызывало у алтайцев такое отвращение? - Вот послушайте отчеты миссионеров середины прошлого века. 1846г.: "Калмыки здесь так дики, что не желают иметь с нами никакого дела. Разбежались от нас в разные стороны, оставив</p>
<p>112. пустые юрты. Не успевшие же убежать, чтобы не слышать проповеди, затыкали пальцами уши.</p>
<p>113. Только бедные северные алтайцы принимали крещение для спасения от голодной смерти. Они-то и были первыми "добровольно" крестившимися. Часты случай, когда пришедшие в отчаяние бедняки ходят по селу, </p>
<p>114. продавая своих детей и, лишь не найдя покупателей, отдают их в миссию".</p>
<p>115. А вот послушайте запись 1861 года: "Миссионер Смарагд привез в Кебезенский миссионерский стан тайком соблазненную им креститься. Родители погнались за ней. Когда они приехали в Кебезень, им сказали: "Торты уже окрещена". Услышав это, мать Торты повесилась</p>
<p>116. на березе в 20-ти саженях от церкви под яром. Муж ее, старик Анапас, взял жердь и бросился на народ, обступивший его жену. Народ обратился в бегство. Тогда старик бросился на отца Смарагда,</p>
<p>117. но тот успел выхватить жердь из рук старика. Тогда Анапас схватил отца Смарагда за шею, разорвал на нем подрясник и рубашку и оба они скатились с отвесного яра в реку Кебезень. Но, к счастью, никто опасно не пострадал".</p>
<p>118. Вся многотрудная и благородная вначале деятельность основателя миссии оказалась на деле лишь видом духовного подкупа и национального оскорбления, и потому бесплодной. Веру можно принять только свободно, не корысти своей ради, а напротив, </p>
<p>119. жертвуя собой. Так, как в начале века по алтайской земле полыхнул верой бурханизм...</p>
<p>120. Деятельность же русских миссионеров год от года становилась все более насильственной, даже простой разновидностью полицейской духовной службы. Так что освобождение в 1917 году стало вполне заслуженно и крахом алтайской миссии. И один</p>
<p>121. только этот крест остался - как памятник на могиле насильственного миссионерства. И нам, русским туристам - как зарубка в памяти о грехах высокомерия наших предков, как запрет на презрение чужой веры. Не скажем за всех, но мы у алтайцев можем только учиться.</p>
<p>122.<u> Б.Укачин</u>:</p>
<p>"Сотворим здесь реки и озера! " - /Шли дожди, обильно шли и споро,<br/>
       6 десятилетий шли подряд. /"Станем плотью Горного Алтая! " -</p>
<p>123. 7 десятилетий, не стихая,  /Каменный на землю падал град.<br/>
      Новая затем пора настала: /Золото и прочие металлы<br/>
      На Алтай потоками лились, /Плавились, сверкали и лучились.-<br/>
      И в земную толщу просочились, /В сокровенных недрах улеглись.</p>
<p>124. Возросли на ней деревья, травы, /Бог-Творец посматривал лукаво<br/>
      Реденькой кивая бородой: /"Все-таки придумал я не худо!<br/>
      Золото для алчущего люда  /Станет испытаньем и бедой!...</p>
<p>125. ...Крови пролилось на свете много /Ради золота. По воле Бога</p>
<p>126. Или нет - кто нынче разберет? /Но верховной воле непослушен,<br/>
      К золоту остался равнодушен /Мирный мой пастушеский народ! </p>
<p>127.<u> Б.Самыков</u></p>
<p> Когда впервые из небесных недр /Возник рассвет, над белым светом тая,<br/>
      Впервые озарил священный кедр, /И твердь, и воду горного Алтая<br/>
      Когда возникли, в синеве лучась, /Гольцы, предгорья, ближние отроги,<br/>
      О чем могли подумать в этот час /Всевластные решительные боги?</p>
<p>128. Зачем из бездны инобытия /Я сотворен для счастья и кручины?<br/>
      Не зря же был рожден алтайцем я, /Наверно, были для того причины.</p>
<p>129. <u>Обед в алтайской тайге</u> После неспешного обеда в улыбчивой</p>
<p>130. тайге нас разбудил рык недалекого, за хребтиком, грома. Подгоняемые короткими слепыми дождиками, через три часа мы добежали-таки</p>
<p>131. до Челушманского провала. Но, прежде чем терять на спуске</p>
<p>132. полкилометра высоты, мы увидели брошенные машины и иное имущество бригады, строящей дорогу вдоль Челушмана (<u>призрак техники бродит по Алтаю</u>) -</p>
<p>133. дорожная незавершенка, растянувшаяся не на годы, а видно, навечно.</p>
<p>134. Жизнь, правда, еще теплится. Среди разора мы видим - "Беларусь" на ходу и юрту с вагончиком. Двое алтайцев, что в них живут, став рабочими, похоже, не работают. Раньше сманивали и портили душу православные миссионеры, теперь - наше начальство.</p>
<p>135. А ведь рецепт спасения так прост!</p>
<p>136.<u> Б.Самыков</u>: </p>
<p>В тесном ущелье, где жалобы птичьи, /В старенькой хижине осенью поздней<br/>
      Снова живу я, как пастырь из притчи, /Снова скитаюсь по прихоти козьей. </p>
<p>137. Следом за ними по каменным кручам /лазаю я, о себе причитаю,<br/>
      Ползаю я по уступам колючим, /осени долгие дни коротаю. </p>
<p>138. Нет униженья в работе поденной, /были бы руки мои не ленивы,<br/>
      Грязь я отмою водою студеной, /были бы мысли чисты и красивы. </p>
<p>139. Наш последний спуск с восточных алтайских гор. Отсюда пойдет почти ровная дорога на 70 км вдоль Челушмана. А там - гладь Телецкого озера еще на 70 км. Из него вытекает Бия, чтобы через 400 км стать великой Обью. А через тысячи км</p>
<p>140. западно-сибирской равнины - влиться в океан... Длинная ровная дорога. Не спешим спускаться, насматриваемся сверху на Челушманию - родовую страну алтайцев-теленгитов.</p>
<p>141.<u> С.Сартакова</u>: </p>
<p>В рог трубя, по логам и отрогам  /здесь отцы охотились, Алтай.<br/>
       Скалы в золотом молчанье строгом, / рев порога,ебет птичьих стай</p>
<p>142.Плеск берез.Внезапный гром обвалов./По ущельям -серебро стремнин.<br/>
         Грозная жестокость перевалов./Тихая божественность долин.</p>
<p>143. Здесь звучат алтайские сказанья /вкруг ночных охотничьих костров.<br/>
      Чутким сердцем сокровенность знанья  /постигаю здесь без праздных слов...</p>
<p>144. Мы не соблазнились навесным мостом к алтайской ферме, постеснялись и чуть ниже поставили палатку у хорошего места, богатого </p>
<p>145. изумрудной водой и грибами. Через полчаса к нам заглянул рыболов из Акташа. Хлебнул для приличия чай и щедро поделился десятком</p>
<p>146. хариусов из рюкзака с рыбой. Одарил и тактично удалился.</p>
<p>147. Счастливая, блаженная страна, как награда нам двоим за дорогу</p>
<p>148. длиной в 25 лет <u>в любви и согласии</u> </p>
<p>149-151.</p>
<p>152. <u>3-й день</u> Пасмурным, но теплым утром распростились со своим</p>
<p>153. акташским доброхотом, уже прыгавшим со своими товарищами над</p>
<p>154. хариусными всплесками этого рыбного Эльдорадо и</p>
<p>155. пошли по хорошей тропе вниз по нашему Чулушману.</p>
<p>156. Скальные теснины сменялись ровными лугами-пастбищами. Ведь</p>
<p>157. глубокая и теплая эта долина - главная родовая усадьба целого</p>
<p>158. племени. <u>Анчи Самунов</u> </p>
<p>Теленгит я - коренной алтаец! / В давние седые времена, </p>
<p>159.Как ключи, сквозь скалы пробиваясь, /Выжили здесь наши племена!<br/>
      Не страшась ни холода, ни ветра, /Ни коварной недруга стрелы,<br/>
      Мы росли в горах, как шишки кедра / В ароматах хвои и смолы. </p>
<p>160. По степям бураны и метели /Над простором выжженной земли<br/>
      С диким завываньем летели, /Но наш след они не замели!<br/>
      Пригибаясь к шее аргамака, /Словно сокол, я летал в горах,<br/>
      Светоносным взглядом среди мрака /Побеждал я горечь, боль и страх. </p>
<p>161. Теленгит я - коренной алтаец!  /В давние седые времена,<br/>
      Как ключи сквозь скалы пробиваясь, /Выжили здесь наши племена!</p>
<p>162. Чулушман красив и заповеден. Нам захотелось рекомендовать его друзьям, собирающимся на Телецкое. Правда, об опасностях сплава</p>
<p>163. по нему напоминает могильная плита на тропе. Но ведь пороги</p>
<p>164. можно обходить по тропе...</p>
<p>165. После обеда неожиданная встреча: два велосипедиста - по горам - молодцы!</p>
<p>166. Рассказали им, что знали про маршрут на Акташ, и испытали  </p>
<p>167. чувство зависти и тревоги. Ведь не под силу нам тащить по горам велосипеды. И тревожно за свои будущие годы. </p>
<p>168.За четверть века дорога из привычки стала судьбой, потеряв которую, значит,потерять себя, возможность видеть вечно новый и мудрый мир. </p>
<p>169.<u>Б.Укачин "Тоскую по родным горам"</u> </p>
<p>Меня тянет к родимым алтайским горам,<br/>
Я здороваться с ними привык по утрам.<br/>
Но сегодня в степи, что ровна и бела,<br/>
Я стою словно голый, в чем мать родила.</p>
<p>170.Я привык, что родимые горы меня<br/>
 Oбступают, поддерживая и храня,<br/>
А сегодня я здесь одинокий такой -<br/>
Совно колышек, вбитый безвестной рукой.<br/>
Даже страшно отчасти: иду я, иду -<br/>
И мне кажется, в пропасть сейчас упаду. </p>
<p>171.Нет в пространстве опоры - лишь марев игра...<br/>
А в горах мне как посох любая гора!... </p>
<p>172...Значит, сердце мое, понимай, привыкай,<br/>
Но и помни алтайский торжественный край,<br/>
И высокие кедры в колючем снегу,/И отцовский аил на речном берегу. </p>
<p>173. Там в долинах прохладная мчится вода,<br/>
      Там глядится в нее голубая звезда,<br/>
       Там поют, не смолкая, родные ветра,/Там похожа на сердце любая гора! </p>
<p>174. И тогда поспешил я скорее домой<br/>
      На Алтай мой любимый, единственный мой,<br/>
      Не спалось мне в пути, и на белой заре,<br/>
      Шапку сняв, поклонился я первой горе!</p>
<p>175. Еще несколько поворотов дороги - и мы выходим к загородям-</p>
<p>176. -поскотине деревни Коо, той самой, к которой шли, в которой вырос Каран Кошев, тоскующий по ночам на севере: .</p>
<p>177. В знойные дни бывает: послышится гром.<br/>
      Пики священных вершин вдруг начинают куриться.<br/>
      Белоголовые старцы, к горам повернувшись лицом,<br/>
      Шапки снимают тогда, чтоб до заката молиться. </p>
<p>178. Если всех раньше мать различит этот звук,<br/>
       Жизнь ее станет покойной, светлой и ладной,<br/>
      Если же девушка грохот услышала вдруг, </p>
<p>179. Значит, погибнет - сгорит от любви безоглядной. </p>
<p>180. Парень, что первый услышит вершин разговор,<br/>
      Будет могуч и силен, но не станет жениться; </p>
<p>181.Взамен же: навеки образ сияющих гор, <br/>
      Как нарисованный,в сердце его сохранится. <br/>
      Если когда-нибудь пули в него полетят, </p>
<p>182.То вместо сердца встретят их горные пики,<br/>
      И как бронею его от беды защитят./ Быть ему богатырем - алыпом великим.</p>
<p>183. Говорят, Коо славится огородами и даже зимостойкими садами. </p>
<p>184. А мы подумали: если христианская вера не привилась на Алтае, то почему же сады и огороды от миссии  устояли? - Да потому, </p>
<p>185. что алтайцы сами, свободно вобрали их в свой родовой опыт, как нужное своей земле, а вот символы-веру свою - не тронули, образ белого коня не разрушили, не унизили свободную веру. </p>
<p>186. <u>К.Кошев</u>: </p>
<p>А чем же отплачу тебе, Алтай, /За то, что явлен я в твоих пределах?<br/>
      Позволь тебя разведать, отчий край -/Секреты старых троп обледенелых; </p>
<p>187. Позволь благословить твои труды, /Твои ущелья и леса родные...<br/>
      Каких сынов ты прижимал к груди /И посылал на подвиги земные! </p>
<p>188. Хозяин твой на белом скакуне -/Так говорят старинные преданья,<br/>
      И образ деда на таком коне /Мне детские дарят воспоминанья. </p>
<p>188а. Имел отец мой белого коня, /На нем он мчался, ветер обгоняя... </p>
<p>189. Есть белый конь в душе и у меня./Конь времени - молочный конь Алтая,<br/>
          Он чист, как снег, как яблоневый цвет./Он с горным серебром имеет сходство,<br/>
      Как совесть мира, в белое одет /Он служит подвигу и благородству.</p>
<p>190. Так пусть и мне он служит. Пусть летит  /В такт сердцу и дыханию поэта.<br/>
      Пока не встретит юношу в пути /И - станет бесконечной эстафета.<br/>
      Через века мы свято пронесли /Свободный горный знак родной земли.</p>
<p>191. Третья наша ночевка тоже была на прекрасном чистом месте у реки, почти на острове. В километре ниже слегка голосили плановые туристы. К ночи одиночество наше было нарушено посещением двух молодых алтайцев.</p>
<p>192. После вежливых приветствий последовали деловые вопросы: "Не нужно ли шерсть? Мумиё? Мясо?" - Но нам ничего не было нужно, хотя и немножко стыдно за свою торговую бесполезность. Может, у плановых им повезет.</p>
<p>193. Нет, мы не были обескуражены торговостью недавних родовых людей. Мы уже давно поняли, что между родовым коммунизмом и торговой буржуазностью никогда не было противоречий, скорей - гармония. <u>К.Б.</u> И, распростившись с коммерсантами деревни Коо, совсем не возмутив облика нашей счастливой Челушмании, мы спокойно заснули...</p>
<p>194. Следующий, <u>4-й день</u> был воскресным, а для алтайцев - покосным.</p>
<p>195. Конечно, горы никуда не делись - скальными отвесами до неба они стояли рядом. Нет, нависали. Но мы-то шли сплошными полями-лугами, где не техникой, а вручную и семьями работали алтайцы. Как будто наяву увидели</p>
<p>196. исчезнувшие в России нынешней картины деревенского семейного, доколхозного покоса. Нам даже показалось непривычным для Алтая такое работающее многолюдье. Как будто весь народ вышел обеспечивать главное: "Сложить лето в стога". Ведь веками от этой работы зависела жизнь. И, конечно, мы от души желали им: "Бог</p>
<p>197. в помощь! " А про себя чувствовали невольную вину за неучастие в народной работе, особенно помня сожаление современного алтайского классика <u>Б.Укачин</u>: </p>
<p>Шли туристы навстречу, смеясь и болтая,<br/>
      Шел и попросту праздный, гулящий народ.<br/>
      Их немало сейчас и у нас на Алтае, /-И откуда напасть появилась такая?<br/>
      Только Время, быть может, само разберет!</p>
<p>198. Ничего, у горцев есть еще помощники. Вот с мамой деловито спешит (на косьбу) младшеклассница. Дети еще не избалованы, даже из города</p>
<p>199. приезжают помогать, даже с младенцами. Вон, голубую коляску по горному укосу катит бабушка, а мама, наверное, на сене.</p>
<p>200. <u>Укачин</u> Проложил прокос в траве зеленой  </p>
<p>201.И, на землю колкую упав, /Жадно освежаюсь, утомленный,<br/>
      Запахом шестидесяти трав.<br/>
      Снова нет усталости, на свете смерти /Нет! /Я вновь косить готов<br/>
      И не слышен мне в минуты эти /Тихий стон подкошенных цветов.</p>
<p>202.<u> "Письмо"</u> <br/>
      Здравствуйте! Тепуков я. Едва ли /Вы слыхали что-то обо мне.<br/>
      Обо мне газеты не писали, /Как о вас, о знатном чабане.<br/>
      Я стихи пишу - признаюсь честно, /Опубликовался в первый раз,<br/>
      Но не пью, и это всем известно, /Пусть не беспокоит это вас.</p>
<p>203. Но сегодня... пригублю за горное раздолье.<br/>
      Все проходит - наша ль в том вина?<br/>
      Может, и друзья в своем застолье /Позабудут наши имена...</p>
<p>204. Как у Вас с кормами? Как погода? /Я не праздный задаю вопрос: <br/>
      Cтроки тоже требуют ухода, /Как ягнята в мартовский мороз.</p>
<p>205. Как в кошаре Вашей в ночь окота /Пели или не пели петухи?<br/>
      У меня в душе одна забота, /Как поставить на ноги стихи!</p>
<p>206. Мной покуда сделано немного, /Но тружусь и я не напоказ.<br/>
      Верю, что верна моя дорога, /В чем с почтеньем заверяю Вас...</p>
<p>207. <u>Б.Самыков:</u><br/>
      Последний стог сметали мы в долине./Здесь, где скала уперлась в небо лбом,<br/>
      Как в сказке о батыре-исполине,  /Поля-столы в пространстве голубом.</p>
<p>208. Молчат ребята. Притомились кони.  /Мы все копнили из последних сил,<br/>
      Но наконец, натертые ладони  /Освободились от двузубых вил.</p>
<p>209. Вдруг разом все вздохнули - наважденье / Ушло; свобода помыслам, рукам<br/>
      Уже лучей закатных отраженье /От горных круч взметнулось к небесам.</p>
<p>210. Мой друг вскочил в седло! Лишь свистнул, гикнул -<br/>
      Мы следом поскакали во всю прыть! /Напрасно бригадир вослед нам крикнул:<br/>
       Нас разумом уже не отрезвить!</p>
<p>211. Вниз по теченью, вдоль живой стремнины<br/>
      Мы понеслись, и наш счастливый клич /Летел так быстро в тишине долины,<br/>
      Что и на крыльях было не достичь!</p>
<p>212. <u>Река Башкаус</u> К полудню дошли до Башкауса, почти равного по мощноcти Чулушману, но более популярного в среде спортивных водников.</p>
<p>213. Однако мост через него выстроен в 5 км от устья и</p>
<p>214. нашей дороги, и как тяжело он нам дался по этой жаре!</p>
<p>215. И снова в путь - последние 15 км до Балыкчи - родного села Сурайи Сартаковой. А оттуда уже рукой подать до Телецкого озера.</p>
<p>216. Фактически Балыкча - приозерное село. И мы надеемся уже сегодня увидеть алтайское море. <u>С.Сартакова "Озера думают"</u></p>
<p>217. Разлиты в каменные чаши, /Отрогов отразив горбы,<br/>
      Алтайские озера наши /В глубоких думах морщат лбы...<br/>
      Быть может, память их тревожат /Сражения минувших дней?<br/>
      Им представляется, быть может, /Грядущее земли моей?</p>
<p>218. Осенний шторм, волну крутую /Кати к скалистым берегам!<br/>
      Алтая тайну золотую /Выкатывай к моим ногам...</p>
<p>219. Из поэтов этого сборника мне более всего понятны стихи Сурайи - миловидной женщины. Она сознает свою поэтическую силу, конечно, могла бы уехать в Город, но не изменяет своему за горами Чулушману, не покидает своего дальнего села... Как симпатична ее верность себе, своему детству. </p>
<p>220. Стоптана роса небес / Покрасневшими ступнями.<br/>
      Без особенных чудес /Ветки выглядят конями.</p>
<p>221. С каждой утренней  /Зарей в золотые эти годы<br/>
      Таинства земли родной  /Открывает мир природы...</p>
<p>222. Разноцветную дугу  /Держат гордые утесы<br/>
      Я за радугой бегу  /По лугам, сминая росы.</p>
<p>223. За теленком, за сестрой  /Я гонюсь вдоль Челушмана,<br/>
      Горько плачу я порой  /От обиды и обмана...</p>
<p>224. Голубые времена, /Розоватые рассветы,<br/>
      Дорогая сторона, / Близкой осени приметы...<br/>
      Эти звонкие года  /Сохранились в скалах эхом, <br/>
      Отвечают иногда  /Нежной песней, детским смехом...</p>
<p>225. Даже в Литературном институте она училась заочно, и создается впечатление, что она никогда надолго и не покидала родной долины и потому с таким</p>
<p>225а. привольем чувствует себя в ней полноправной хозяйкой.  <u>"Моя поэзия"</u></p>
<p>226. Поэзия моя - аржан живой, /что средь гор, журча, потек однажды...<br/>
      Не освящен досужею молвой, /он честно служит утоленью жажды.</p>
<p>227. Когда придется быть в моем краю, /раскройте сборник, вынув из кармана,<br/>  Увидите, что родину мою  /в стихах я показала без обмана.</p>
<p>228. Всегда я прямо голову держу, /как учат горы - ведро ли, туманы...<br/>
      Ни капли я собой не дорожу, /как бьющие без удержу аржаны.</p>
<p>229. Перед самым селением минуем кладбище, последнее прибежище - память предков, нравственная узда для всех живущих:  "Годы мои"</p>
<p>230. Детство мое, что телят погоняло ущельем,<br/>
      В дальнем осталось, заросшем бурьяном селе...<br/>
      Юность моя, вместе с первым внезапным смущеньем<br/>
      Вмиг промелькнула на щедрой цветущей земле...</p>
<p>231. Перемежая жестокие грозы и смерчи, <br/>
      Бабий мой век, указав предначертанный путь, <br/>
      Тяжкие руки свои возложил мне на плечи, <br/>
      Тянет к земле, безуспешно пытаясь пригнуть.</p>
<p>231а. Детство и юность за двери ушли в бесконечность...</p>
<p>232. Как же ответствены, как же бесценны года, <br/>
      Что приближают ко мне  непостижимую вечность, </p>
<p>233.Миг, когда вдруг бытие ускользнет навсегда.</p>
<p>234. Хочу понять: увидеть, оценить, /Связь древнего народа с миром сущим,<br/>
      Чтобы не пресечь невидимую нить, /Cвязующую прошлое с грядущим.</p>
<p>235. И вот развернулась панорама <u>Балыкчи</u> у отвесных гор, с которых срываются тонкими струями источники воды и аржаны поэзии...</p>
<p>236. Мы входим на широкие, какие-то обрусевшие улицы. Ведь нынешняя совхозная столица была воспреемницей Челушманского монастыря  с его хозяйством - самого большого на Алтае.</p>
<p>237. Правда, никаких следов от монастыря мы не увидели и из расспросов ничего узнать не могли. Только неопределенное: "Да, там за рекой что-то когда-то было, а сейчас только пионерлагерь".</p>
<p>238. И моста туда нет. И мы поверили - нет там ничего.</p>
<p>238а. Был когда-то монастырь, в революцию стал коммуной. Белые ее упраздняли, </p>
<p>239. ну, а красные через колхоз и лагерь довели до исчезновения. И ни одна местная душа об этом не жалеет. Понятно, почему. <u>До революции</u>. земли алтайцев</p>
<p>240. считались за царем - кабинетными, чтобы уберечь их от расхищения русскими богатеями. Но для церкви делалось исключение. И вот родовые земли теленгитов царь отдал основанному бийскими купцами монастырю в конце прошлого века.</p>
<p>241. А тот, лишь утвердился, сразу установил с теленгитов в свою пользу грабительский налог; в свою пользу: за землю под юртой - 1 рубль, за пастьбу скота - от 10 к. до рубля за голову, за огород - десятую часть урожая. А не хочешь и не можешь - убирайся куда знаешь... А куда же уйдешь с земли, в которой тысячелетиями</p>
<p>242. жили твои предки?  Так что исчезновение монастыря - заслуженная ему кара!...</p>
<p>243. Деловой центр Балыкчи: магазины, аптека и библиотека, совет и правление. В одной из этих контор председателем профкома работает</p>
<p>244. Сурайя Михайловна Сартакова, поэтесса алтайского народа. Понятны, доверительны, легко находят у нас в сердце место ее стихи:</p>
<p>245. <u>Едва лишь запишу</u> в тетрадь полстрочки,<br/>
      Как выбегает суп из казана...<br/>
      Едва решу закончить проволочки, /Как вдруг заплачет дочка Аржана.</p>
<p> 246. Едва хочу, собрав стихи в охапку,<br/> 
      Послать их, наконец, на строгий cуд, /Пускай, мол, эту бедную тетрадку<br/>       Всезнающие в городе прочтут...</p>
<p>247. Окажется, что почты ныне нет,/Покажется, что рановато в свет...</p>
<p>248.<u>Велели срочно</u> выбрать лучший стих.<br/>
      Всю ночь вздыхала я, бродя по дому. /Средь стихов, как средь детей моих,<br/>
      Нет силы предпочесть одно другому.</p>
<p>249. <u>Как этот мир тревожен и жесток!</u><br/>
       Не оторваться от житейской прозы.<br/>
       Задумалась над жизнью - на листок  /Закапали предательские слезы...<br/>
      Где силу взять - сопротивляться злу?</p>
<p>250. - Зачем ты плачешь, ты уже большая?
Ребенок мой, сидевший на полу, /Кусочек хлеба тянет, утешая...<br/>
О боже, этой жизни не понять,</p>
<p>251. Где люди пустякам по-детски рады!<br/>
      Пускай я не жена, а только мать,-/Живу и не хочу другой отрады.</p>
<p>252. <u>Две женщины</u> <br/>
      Хлопочет женщина одна, / Грозит детишкам мокрой тряпкой<br/>
       Другая, глядя из окна, /Нет-нет слезу утрет украдкой.<br/>
      Одна развесила белье: порток!  /- Со счета можно сбиться!<br/>
      Другая, думая свое, платок /Повесила сушиться.</p>
<p>253. <u>Болит ладонь</u> и ноет не шутя...<br/>
      За что я так отшлепала дитя?</p>
<p>254. <u>Следит</u> за хмурой мухой на окне:<br/>
      Затылочек и крохотная спинка.../Тень матери поймала на стене<br/>
      Малышка, несмышленыш мой, кровинка...</p>
<p>255. <u>Не плачьте</u>, кровинки мои, /Минует час горького плача,<br/>
      Как в сердце печаль не таи, /Не вечно жива неудача...<br/>
      Такая бывает тоска! /Такое порой лихолетье...</p>
<p>256. Но радость, хотя и редка, / Рассвета несет разноцветье...<br/>
На луговине цветут огоньки, /Нежная зелень. Крутые откосы.<br/>
Над голубой стремниной реки  /Золотом солнца облиты утесы.<br/>
Воздух прозрачен - и  мысли чисты,  /Прочь отступают заботы и сроки<br/>
Здесь зарождаются вне суеты  /Лучшие образы, главные строки.</p>
<p>257. Мама хозяйкой в недавние дни /Часто ходила близ этой излуки.<br/>
      Здесь исходила босые ступни, /Стерла до крови умелые руки...</p>
<p>258. Солнце. Утесы. Река и трава. /Милому голосу родины внемлю:<br/>
      Мне, шелестя, завещает листва /Так же, как мама, любить нашу землю.</p>
<p>259. Нет, мы не делали попытки встретиться с Сурайей. Не в наших правилах. А отправились, хоть и устали, сразу к Озеру. Из 10 км</p>
<p>260. прошли не больше двух, остальные проехали в тракторной тележке, в обществе трех лесников. Один лесник - алтайская девушка, крепкая,</p>
<p>261. загорелая, легко одетая, что ее не смущало, державшаяся свободно, прямо-таки - та "отчаянная голова", о которой писала</p>
<p>262. Гюзель Елемова. Во все века женщина страдала от зависти товарок и гнета обычаев. И я пожелала ей лучшей доли, чем у литературного прототипа. Ведь свобода - не безнравственность...</p>
<p>263. <u>Озеро</u> мы увидели, лишь когда дошли до его берега. Алтын-кель - Золотое - зовут его теленгиты. От сумерек вода казалась фиолетовой, что было для нас так неожиданно: ведь вода его главной реки Челушмана - изумрудная. И все равно волны и </p>
<p>264. нависшие скалы придали нашей встрече торжественность. К тому же палаточный городок туристов был отодвинут от берега в зеленую зону. </p>
<p>265. А мы со своей палаткой, поставленной в 10 м от кромки воды, оказались лицом к лицу с вечерними озерными далями. </p>
<p>266. Гроза с гор  нагнала-таки нас и, обождав, пока мы сготовим ужин, ливанула потоком. Ну и ладно - в палатке было вполне уютно ужинать под аккомпанемент небесного громыхания и неумолчного туристского, </p>
<p>267. забавно задорного пения, которому мы и улыбаемся, и завидуем в своем скальном отшибе. А ведь кажется: завидовать нечему. </p>
<p>268. Жизнь у нас прожита хорошая, и Алтай на этот раз увидели полно, со всех четырех стран света, на 4 диафильма. Друзьям увидеть и узнать Алтай помогли. Чего же еще желать? (Лиля перед перевалом Дружба). </p>
<p>269. И все же под стеной Белухи я была в угнетении и страхе. Как будто весь груз прожитых лет и избегнутых опасностей кричал мне:</p>
<p>270. "Не смей рисковать жизнями Лиды и детей! Не моги!"</p>
<p>271. А от того - тяжелое непонимание с Алешей и Витей, не желавших отказываться от намеченного рискового Абыл-оюка. И казалось мне, что были они во власти экстремизма, столь свойственного молодым. </p>
<p>272. Но, слава Богу, Витя смог смириться и нас с Лидой пожалеть. И может, потому у меня появились силы и желание на Челушманский поход, где ясно стало, что путевая романтика от нас пока еще не уходит...</p>
<p>273. <u>Утром 5-го дня на Алтын-кель</u> - мы впервые никуда не спешили, и только яркое солнце выманило нас на свет Божий. После завтрака</p>
<p>274. Витя ушел на ловлю кадров, а я подошла к озеру.</p>
<p>275. Оно - похоже на Байкал, только в 10 раз меньше, и все равно поражает размерами: 300 м в глубину, 3 км в ширину, 70 - в длину.</p>
<p>276. Если Байкал - священное море бурят, русских, да и всего мира, то Алтын-кель - родовое море алтайского народа. Оно - как </p>
<p>277. Севан для армян, Иссык-Куль для киргизов.</p>
<p>278. <u>С.Сартакова</u></p>
<p>279.<u>Алтын-кель</u>- телецкая царица, /Матерь целомудренных озер,<br/>
       В чаще, как сокровище таится,  /Чтобы не цеплялся праздный взор. </p>
<p>280. О Алтая тайна золотая! /Ты, лучом просвечена до дна,<br/>
      Kак роса на лепестке кристальна, /вся насквозь до камешка видна </p>
<p>281. Плеск качает блик закатной меди... /Стерегут царицу до зари<br/>
      Кряжи, словно дюжие медведи,  /И утесы, как богатыри. </p>
<p>282. Отдыхаю я, раскинув крылья,  /Словно лебедь на твоей волне...<br/>
      В час тревоги или в час бессилья  /Ты живой водой поможешь мне.</p>
<p>283. Недалеко от нашей палатки, перед отвесной стенкой печальный  </p>
<p>284. памятник. Как погиб этот молодой военный, нам спросить не у кого, но мысли все равно поворачиваются к исторической памяти. </p>
<p>285. Первые же русские погибли на Телецком озере еще в 17-м веке, когда волей великого царя, распоряжением томского воеводы на эти мирные воды прибыли сотник Пущин с 60-тью казаками - ставить острог, т.е. крепость-тюрьму.</p>
<p>286. Пущин со своим воинством проплыл все озеро вплоть до этих вот мест, до устья Челушмана, но для острога все же выбрал место на Бие.</p>
<p>287. Но все равно: и там не удержался. Под убийственным натиском местных воинов-патриотов. Вплоть до 18 века русские здесь не появлялись. Зато теперь -</p>
<p>288. сколько нас тут? - Орды...</p>
<p>288а. Разносится слух, что пароход всех желающих не возьмет,</p>
<p>289. сажать будут только плановых. Это наполняет меня ужасом: ведь</p>
<p>290. дороги вдоль берега отсюда нет. Как в ловушке - а вдруг надолго застрянем? Поэтому уже за два часа до его прихода мы были собраны</p>
<p>291. и я сидела на камушке за дневником, начав собой живую очередь. Спешу записать последние впечатления и вот про эту стоянку,</p>
<p>292. про ее молодые, самонадеянные голоса, которых сейчас я даже боюсь.</p>
<p>293. ...За мной занимает очередь группа "водников" и тут же лезет купаться - холодная вода для них привычна. На горизонте появился пароход, но пока он идет в дальний конец озера... </p>
<p>294. А очередников все прибывает. Все мы не уверены, что хоть кого-то пустят -</p>
<p>295. нарастает тревога. Мы оказываемся в обычной очереди за страшным дефицитом и где? - На дальнем берегу священного</p>
<p>296. Телецкого озера! - Конечно, с опозданием, но подплывает к нам</p>
<p>297. белый теплоход. Через секунду он пристанет к камням. Опустит</p>
<p>298. трап, но это еще не будет означать начала посадки. Долго выходят вновь прибывшие со своими продуктовыми ящиками.</p>
<p>299. А потом началось невообразимое: дюжие ребята, инструктора плановых в отработанной спортивной манере буквально нависли над трапом и силой отстранив живую очередь, стали выкликать свои группы. Торжествовала</p>
<p>300. их молодая сила, их порядок. Витина настойчивость кончилась для него обидной неудачей. Но прошло 10 длинных минут этой</p>
<p>301. жуткой свалки - и ... берег опустел, все до одного оказались на теплоходе, даже сидячих мест в салоне оказалось достаточно...</p>
<p>302. Так зачем нас так унижали? И почему нам теперь трудно смотреть на милых вчерашних певиц?... - Вот чем оборачивается плановая</p>
<p>303. романтика, городская "цивилизация"...</p>
<p>304. Нет, не у алтайцев, а у нас на Телецком озере настоящая дикость</p>
<p>305. Самая популярная у туристов якобы местная легенда гласит, что когда-то один алтаец нашел много золота, но в голодовку не смог на него сменять ни куска хлеба. В отчаянье забрался на высокую гору</p>
<p>306. и бросился с золотом в озеро, которое с тех пор и зовется золотым.</p>
<p>307. На наш взгляд, эта легенда скорее плод русского влияния. Родовые алтайцы в голод, конечно же, поделились бы едой без всякого золота и громких слов.</p>
<p>308. Да что вам человечество далось! / Вы ничего вокруг не замечали.<br/>
      В душе - о человечестве печали, /а для соседа - места не нашлось!"  </p>
<p>309. <u>С.Сартакова:</u> <br/>
      Нет, не снизошла прозренья благодать./Вокруг все тот же мир Алтая:<br/>
      Навек сотворена утесов стать, /Навек - озер голубизна святая.</p>
<p>310. Чередованье радуг и цветков, /Гул камнепадов, солнце над снегами<br/>
      Осенним утром испокон веков /Архары на гольцах стучат рогами.</p>
<p>311. Огромный мир и счастья бытия /В единстве слиты здесь от сотворенья.<br/>
      Но редкий дар пророчества, чутья /Не дался: не даны мне откровенья.</p>
<p>312. Взгляну назад и оглянусь кругом: <br/>
      Где след мой в мире? Где мой труд упорный?</p>
<p>313. Я развела огонь под очагом, /Золу оттуда выдул ветер горный...</p>
<p>314. Подчас я отрешенности прошу, /Хоть сознаю, что нет удела плоше,<br/>
      Но как я до сих еще ношу /Пожизненность своей безмерной ноши?</p>
<p>315.</p>
<p>316.Народ родимый, как отца, / Вовеки не предам,<br/>
      Словам невежды и глупца  /Значенья не придам...</p>
<p>317. Хоть живы и пороки в нем,  /Честь у него - в крови;<br/>
      Среди родных иду путем  /Страданья и любви...</p>
<p>318.Здесь кончился мой походный дневник. Но только сейчас я нашла строки, наиболее близкие к моему душевному отзыву на стихи Сурайи, и нашла их у <u>Ксении Некрасовой</u>: </p>
<p>316.На столе открытый лист бумаги,/Чистый, как нетронутая совесть.<br/>
Что запишу я в памяти моей?/Почему-то первыми на ум идут печали.<br/>
Но проходят и уходят беды,</p>
<p>320. И в конечном счете остается солнце, утверждающее жизнь!</p>
<p>321. Не только солнце, но и грозовой мрак с ливнем испытали мы на великом озере. Через 5 часов хода пристали к Актыбашской пристани, у</p>
<p>322. истока Бии... Автобусы уже ушли и,</p>
<p>323. перейдя мост, мы встали на бийском берегу. Палатка, спальники, костер,</p>
<p>324. чай. Телецкая тишина и воздух - как будто в последний раз -</p>
<p>325. пришел к нам из счастливой нашей Челушмании...</p>
<p>326.<u>Тютчев</u>Так, в жизни есть мгновения, их трудно передать,<br/>
      Они самозабвения земного благодать.</p>
<p>327. Шумят верхи древесные высоко надо мной,<br/>
      И птицы лишь небесные беседуют со мной -</p>
<p>328. Все пошлое и ложное - ушло так далеко,<br/>
      Все мило-невозможное - так близко и легко.<br/>
      И любо мне, и сладко мне, и мир в моей груди,<br/>
      Дремотою обвеян я - О время, погоди!!!</p>
<p>329. <u>Последний автобусный, 6-й день по Алтаю</u></p>
<p>Раннее, промозглое утро. Не различимая в тумане Бия и 50 км вниз</p>
<p>330. по ней до райцентра Туроча, где начинается водное сообщение Бии. </p>
<p>331. Миновав мост, весь день крутили автобусом по невысоким горам, с каким-то</p>
<p>332. подпорченным лесом и еще более невзрачными поселками... </p>
<p>333-334. А может, это мы просто устали от неразобранных впечатлений?</p>
<p>Ведь здесь живут сами алтайцы... </p>
<p>335.<u> Райцентр Чои</u></p>
<p>336. <u>А вот и Горно-Алтайск</u></p>
<p>337. Это единственный город у алтайцев. От столицы в нем много урбанистических</p>
<p>338. зданий. Но нам были интереснее старые дома: </p>
<p>339. от православной Улалы и от бурханистской Ойрот-туры.</p>
<p>340. Нам даже открыли двери музея, где мы познакомились</p>
<p>341. с алтайским археологом. Его рассказ об алтайских древностях, так</p>
<p>342. естественно перескакивающий на его двух детей, слился в нашей памяти с Сурайиным голосом о главном: "Я - мать"</p>
<p>343. В одной руке - младенец мой беспечный <br/> 
      Cмеется, ножки пухлые задрав...</p>
<p>344. В другой руке - простор Алтая Вечный:<br/>
      Пространство гор, долин, озер, дубрав...<br/>
      В сияньи жизни, вечной и нетленной, /Святыни равновесны - на весу<br/>
      По безграничной Пажити Вселенной  /Я оба чуда бережно несу.</p>
<p>345. Любовь к земле - вовек непогрешима./Любовь к ребенку - не взыскует слов.<br/>
      Я - таинство. Я - вещих тайн вершина./Я - мать. Основа всех земных основ.</p>
<p>346. Дитя мое, расти с улыбкой ясной,  /Простор обожествляя каждый час!<br/>
      Земля моя, будь мирной и прекрасной! /Благословенье матери на вас...</p>
<p>347. Века растают, как туманы лета; /Как скалы, раскрошатся в сущий прах...</p>
<p>348. Я - вечность. Я - исток любви и света. /Я - мать. Дитя и Мир в моих руках.</p>
<p>349.</p>
<p>350. Конец</p>
<br/>

{% endblock content %}
