{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. "Волга-Калмыки"{% endblock %}
{% block content %}



<br/><br/>
<p>1-2.<u> Волга, Волга, мать родная, Волга - русская река - Наша Калмыкия</u></p> <p>3-4.  <u>"И друг степей калмык" - А.С.Пушкин </u></p>
<p>5. Прощай, любезная калмычка! <br/>
      Чуть-чуть, назло моих затей /Моя похвальная привычка, <br/>
      Не увлекла среди степей /Вслед за кибиткою твоей.<br/>
      Твои глаза, конечно, узки,/И плосок нос, и лоб широк.<br/>
       Ты не лепечешь по-французски, /Ты шелком не сжимаешь ног; </p>
<p>6. По-английски пред самоваром /Узором хлеба не крошишь,<br/>
      Не восхищаешься Сен-Маром, /Слегка Шекспира не ценишь,<br/>
      Не погружаешься в мечтанье, /Когда нет мысли в голове,<br/>
      Не распеваешь: Ма доуе, /Галоп не прыгаешь в собранье...<br/>
      Что нужды? - Ровно полчаса, /Пока коней мне запрягали, </p>
<p>7. Мне ум и сердце занимали /Твой взор и дикая краса.<br/>
      Друзья! Не все ль одно и то же: /Забыться праздною душой<br/>
      В блестящей зале, в модной ложе, /Или в кибитке кочевой?</p>
<p>8. "На днях посетил я калмыцкую кибитку. Все семейство собиралось завтракать. Котел варился посредине, и дым выходил в отверстие, сделанное вверху кибитки. Молодая калмычка, собою очень недурная, шила, куря табак. Я сел подле нее... Как тебя зовут? Сколько тебе лет? -10 и 8.- Что ты шьешь? - Портки. - Кому? - Себя.</p>
<p>9. Она подала мне свою трубку и стала завтракать. В котле варился чай с бараньим жиром и солью. Она предложила мне свой ковшик. Я не хотел отказаться и хлебнул, стараясь не перевести духа. Не думаю, что другая народная кухня могла произвести что-нибудь гаже. Я попросил чем-нибудь заесть, мне дали кусочек сушеной кобылятины, я и тому был рад.</p>
<p>10. Калмыцкое кокетство испугало меня. Я постарался выбраться из кибитки и поехал от степной Цирцеи" <u>"Путешествие в Арзрум"</u>.</p>
<p>11. Лиля: <u>Лето 1986г.</u>  Автобус Волгоград-Элиста за 4 часа доставил нас в нынешнюю столицу Калмыцкой республики. В салоне -</p>
<p>12. жарко, за окном - пусто, калмыцкие попутчики - молчаливы, а в голове - вопросы.</p>
<p>13. Всего полчаса было у Пушкина для встречи с "любезной калмычкой", ее семейством, кибиткой и кухней. Всего полчаса, чтобы отведать трубку, чая с бараниной и заесть отвращение кобылятиной, и испытать калмыцкое кокетство. Но этого получаса хватило, чтобы откликнуться - и прозой, и восхвалением калмыцкой Цирцеи, и, наконец, чтобы в итоговом "Памятнике" вспомнить "друга степей - калмыка" как непременную часть Руси Великой.</p>
<p>14. И нам всем следовало бы в меру сил своих присмотреться к истории и опыту этого единственного в Европе народе желтой расы, недавно еще буддистской веры, кочевого быта, родового строя,</p>
<p>15. чтобы найти великую духом Калмыкию, без которой невозможна Свободная Россия...</p>
<p>16. Поэт был прав - и сегодня калмыки чтят его память, помнят все его строки о себе. В Элисте они и в музее, и на улице... </p>
<p>17. <u>Элиста</u> Получится ли что у нас? - С этой мыслью мы стремились к Элисте и ее музею. Но начало было неважное...  </p>
<p>18. Какое-то небольшое одноэтажное строение во дворе новых домов, столь невзрачное, что даже слайд не получился - оно-то и оказалось республиканским музеем истории и быта. А его убогое </p>
<p>19. содержание почти полностью свелось к нынешним успехам калмыцкого  социализма.  И ни слова о ссылке и полууничтожении в сталинское время...</p>
<p>20. Но было и счастье. Молодая калмычка-сотрудница повела нас по "антирелигиозной выставке", на которой им, наконец-то, удалось показать святыни буддистской веры - хотя и под антирелигиозными названиями. Каким энтузиазмом горели ее глаза! </p>
<p>21. И какая радость - иметь возможность учить русских, передавать им опыт веры своего народа! И как было нам стыдно за их музейную зажатость.</p>
<p>22. Ведь не без воли Москвы царят здесь и антирелигиозные названия, и молчание о ссылке... Но теперь у нас есть книги, старые и новые,  и есть сердечная обязанность -</p>
<p>23.  память от встречи - и в Элисте, и на Волге  с пожилой калмычкой у храма-хурула на берегу Волги. По ней-то мы и поплывем </p>
<p>24. в счастливую страну лотоса и Бумбы...</p>
<p>25. <u>I. Нижняя Волга</u>Лиля: 1978г. - гостевание у мамы в Волгограде, купание в волжской </p>
<p>26. водичке. Детки и Галя, а через день приедет Тема, и мы все будем вместе.</p>
<p>27. Сейчас я смотрю на этот кадр, на еще детское личико Гали с умилением, осознанием тогдашнего и уже минувшего счастья. Когда все дети были рядом, и были еще маленькими, и Волгоград был с мамой и домом, и еще в то лето у нас состоялось первое </p>
<p>28. с детками (которым исполнилось по 4 года) путешествие. Первое и, кстати, единственное путешествие вшестером: пароходом  вниз по Волге, к Астрахани  и дальше, в дельту. А мимо плыли белые красавцы-пароходы. Мы тоже плыли на красавце-флагмане </p>
<p>28. под названием "Спартак". Не таком, конечно, древнем, как этот ковчег, но тоже дореволюционной постройки, названном при рождении в честь царской дочери  "Святой Татьяной", </p>
<p>30. может, как раз той, в чьем молитвеннике была вложена ее стих-молитва про охранников и убийц: "Господи! прости нашим врагам... Господи, прими их в объятья..." - И нам прости...</p>
<p>31. Пароход у нас был шикарный, особенно в своих первых классах, просторный и полупустынный. Мы чувствовали себя, почти как </p>
<p>32. в музее, хотя из экспонатов на стенах висели только слова про </p>
<p>33. участие "Святой Татьяны" в составе красной волжской флотилии Раскольникова.</p>
<p>34. Аня и Алеша носились по всему обширному корабельному </p>
<p>35. пространству, и нам с Витей доставляли немало хлопот, зато Галя </p>
<p>36. быстро подружилась в кают-кампании с детьми отдыхающих, и у фортепьяно разучивала песни и сценки. Ей, наверное, было здесь очень уютно. В аристократизм "Спартака" она вписалась всех естественней.</p>
<p>37. Витя: Если Тема (он в желтой рубашке) постоянно снимал волжские берега и   пароходы, то меня больше интриговали </p>
<p>38. калмыцкие попутчики - пожалуй, главные пассажиры на "Спартаке", если не считать верхнепалубных туристов-аристократов, уже оплативших проезд и питание от Москвы до Астрахани и обратно.</p>
<p>39. Меня влекли эти дети сосланного народа, пережившего страшную ссылку, праправнуки тех калмыков, о которых Пушкин так отзывался в "Истории Пугачева":</p>
<p>40. "По необозримым степям астраханским и саратовским, кочевали мирные калмыки, в начале 17-го столетия ушедшие от границ Китая под покровительство белого царя. С тех пор они верно служили России, охраняя южные ее границы. Русские приставы, </p>
<p>41. пользуясь их простотой и отдаленностью от средоточия правления, начали их угнетать, жалобы сего смирного и доброго народа не доходили до высшего начальства. Выведенные из терпения, они решились оставить Россию и тайно снеслись с китайским правительством... Не возбуждая подозрений, прикочевали к самому берегу... И вдруг, в числе 30 тысяч кибиток, потянулись по </p>
<p>42. киргизской степи к пределам прежнего отечества. <u>1771г.</u> Правительство спешило удержать неожиданный побег. Яицкому войску велено было выступить в погоню, но казаки не послушались..." В этих немногих и, может, даже наивных в добросердечии словах Пушкин описывает одну из самых драматических и поворотных страниц калмыцкой истории. Исход был страшным: </p>
<p>43. из 170 тысяч по пустыням среди врагов добралось меньше половины, всего <u>70 тысяч</u>. Остальные погибли от мщения башкир и казахских </p>
<p>44. набегов. И только 5 тысяч кибиток, <u>12 тысяч человек</u> не смогли убежать, остановленные разливом Волги. И потом многие годы их не пускали на левобережье из опасения новых  побегов. В такой-то полусвободе-полузаключении и выросли сегодняшние 120 тысяч калмыков. После революции они получили даже автономию и даже республику и, как до войны говорили: "Цвети, расцветай, Советская Калмыкия!"</p>
<p>45. А в 44-м году, после изгнания немцев, сокрушительный  удар по калмыкам последовал от своих: отряды НКВД выселяли весь калмыцкий народ на восток, уже не в китайское, а в сибирское изгнание. За калмыками последовали народы Кавказа, очищая свои родовые земли для русских и иных поселенцев. И снова, как 170 лет назад, массовые гибели и скорбь сопровождали эти "переселения народов", мало отличимые от геноцида, которым мы как будто заразились от самих немцев. И только разоблачение </p>
<p>46. культа личности, пусть половинчатое раскрытие его преступлений, позволило калмыкам вернуться и восстановить республику, хотя далеко не в прежних размерах... </p>
<p>47. Лиля: Бесконечны водные просторы нижней Волги. Сливаются с горизонтом ее пустынные берега. Самый нижний, могучий ствол нашей величайшей реки, вобравший в себя воду с огромной части России, чтобы через свое прямое продолжение - Каспийское море - донести ее до берегов Персии, индийских пределов. </p>
<p>48. И как подстать эта мощь и дальнодействие поэтическим строчкам про Стеньку Разина, ставшим народной песней: "Волга-Волга, мать родная, <u>Волга - русская река</u>".  В них - и очевидная правда, </p>
<p>49. и сугубая ложь: ведь разве эти степные, кочевые, чужие нам </p>
<p>49. берега сходны с образом Руси?  Разве не нанизаны на Волге, начиная с Горького, автономные республики с исконным, неславянским народом?</p>
<p>50. И разве к этим водам не подступают вплотную - исламский Казахстан с востока, Калмыкия - с Запада? Витя: Зато сама Волга была всегда главным путем для воинских русских отрядов, главной скрепой евроазиатской империи, всех ее народов, и потому лучше бы считать Волгу - не русской, а российской рекой, понимая под Россией не только славянскую Русь, но и множество народов. Не умирающих в ассимиляции, а расцветающих и развивающих собой общую российскую культуру.</p>
<p>51. Волжский синтез народов  как раз и должен дать нам пример образования истинной России. И потому именно мы, русские, прежде всего, заинтересованы, чтобы Калмыкия не урезалась ни физически, ни духовно. От этого зависит будущее российского разнообразия, а значит,  и наше будущее существование.</p>
<p>52. Лиля: Пока еще тянутся волжские низкие берега на пути к Астрахани, пока есть у нас еще время - почитаем Брокгауза про</p>
<p>53. Волгу, про то, как величественно звали ее древние греки - "Ра", как египтяне, а византийцы и арабы - "Итиль".</p>
<p>54. Название же <u>"Волга"</u> производят от финского корня - "святая река", или от древнеболгарского - <u>болгарь-волгарь</u>. Последнему верится больше. На Волге рядом с нынешней Астраханью стояла </p>
<p>55. столица Хазарского каганата Итиль - первой империи на территории нынешней России, значит, первого ее предка, можно даже </p>
<p>55. сказать - первой Москвой. Эта первая империя на Волге была разношерстным, торговым и кочевым Вавилоном, объединяя массу народов и вер. Царь-каган вместе с порфирородными боярами держался иудейской веры, но среди остальных подданных были еще и язычники, и христиане, и мусульмане - и каждая община со своими судами и управителями.</p>
<p>56. Долго и успешно управляли со своей Волги надменные <u>хазарские</u> каганы - и Кавказом, и Крымом, и русскими, и болгарами - и все же</p>
<p>57. не были прочны, погибла Хазария, была сметена восстанием русского князя Святослава.  Правда, через три века империя воскресла</p>
<p>58. в Золотой Орде, но со столицей уже в Сарай-Бату. <u>Хазары - в татары!</u></p>
<p>59. Лиля: Если на одной из волжских пристаней пересесть на местную ракету, то боковыми протоками можно добраться до <u>Селитренного</u></p>
<p>60. на берегу Ахтубы. В этом лесочке, удалившись на км от села, мы поставили на 2 дня палатку, чтобы испытать летний отдых</p>
<p>61-62. на Ахтубе, про который много слышали.</p>
<p>63. Но Селитренное - это не только село и пристань, это -</p>
<p>64. огромная территория в 12 верст, засыпанной столицы Сарай-Бату. Или,  правильней - Сарай-ал-Махруса, которую раскапывают уже много десятилетий и даже столетий, если считать от простых </p>
<p>65. грабителей могил. Раскапывали ее на наших глазах и археологи по соседству с нами, а потом снова закапывали - для сохранения. Их руководитель с увлечением рассказывал студентам, а я </p>
<p>66. повторила своим про громадность этого города, про рекордные сроки его воздвижения между 1242 и 1254 годами. Строили его и сам Батый, и брат его Берке - как центр и Европы, и Средней Азии. Сначала привычно используя китайский строительный опыт и знания, а потом - силу и умения тысяч и тысяч согнанных с покоренных земель строителей. Это был великолепный город-синтез. </p>
<p>67. Отойдя от небольших квадратов раскопов, мы видим сейчас лишь унылые бугры или даже совсем полупустыню, равномерно усеянную осколками поливной керамики, которой украшались здания </p>
<p>68. столичной знати. В отвалах керамики, которую археологи после раскопок сваливают в бесхозные кучи, хотя на словах гордятся ее великолепием и оригинальностью, мы выбрали образцы на память.</p>
<p>69. Витя: И какая странная очередность в сменах этих имперских столиц - с юга на север, но все по Волге - от хазарского Итиля,  потом севернее - к монгольскому Сарай-Бату, еще выше - к Сарай-Берке у нынешнего Волгоградa. И еще дальше по Волге - к татарско-булгарской Казани, чтобы в результате успокоиться надолго, может, навсегда, в русской Москве близ верхней Волги. Как объяснить эту закономерность? </p>
<p>70. В 1330г. хорезмиец Ал-Омари писал про Сарай: "Это город великий, заключающий в себе рынки, бани и заведения благочиния, места, куда направляются товары. Посредине его - пруд с водой из </p>
<p>71. реки и ...большой дворец хана, на верхушке которого большое золотое новолуние. Вокруг него - дворцы эмиров, стены которых сверкали майоликой. Одних соборных мечетей было 13." </p>
<p>72. А ибн-Баттута в 1333г.: "Город Сарай - один из красивейших городов, достигающих чрезвычайной величины, на ровной земле, переполненной людьми, красивыми базарами и широкими улицами. </p>
<p>74. В нем живут разные народы, как-то: монголы - это настоящие жители страны и владыки ее, некоторые из них - мусульмане, acы-кыпчаки, черкесы, русские и византийцы, которые христиане. Каждый народ живет в своем участке отдельно, там и базары их".</p>
<p>75. Лиля: Особенно велика была в Сарае колония русских, так велика, что была учреждена особая Сарайская епархия и, конечно, созданы православные храмы. Полтора столетия здесь решались </p>
<p>76. русские дела, приезжали за властью или гибелью великие князья, здесь была первая для русских царская столица. И столь велик был уважительный страх русских, что только Иван IV посмел назвать себя татарским титулом - царь.</p>
<p>77. А сейчас - ничего, пусто... И только на горизонте невысокие памятники, которые при приближении оказываются обычными</p>
<p>78. мазарами современных казахов. Чем больше расстраивался огромный и великолепный Сарай-Бату, тем больше слабела золотоордынская власть, и потому погибла враз - от одного черного </p>
<p>79. похода Тамерлана в <u>1395г.</u> Сам город и его жители были уничтожены неожиданно, поголовно - во дворах, на улицах, в домах... так что не стало города... Но где же хотя бы развалины огромной столицы? Куда девались хотя бы камни? - Отгадку дают </p>
<p>80. московские архивы: когда в 16-м веке русские завоевали Астрахань и начали строить крепость, они разбирали здания Сарай-Бату на кирпичи. Именно в Астраханский кремль и дома  был превращен Сарай-Бату.</p>
<p>81. Витя: Да, Лиля права: орды Тамерлана разрушили великую столицу. Русские строительные команды разобрали его камни - караванами перетаскивая в свою Астрахань, все же остальное затянули песок и время. Хотя нет,  при Петре I был здесь почему-то </p>
<p>82. устроен селитренный завод и, конечно, тоже из золотоордынского кирпича. Правда, через полвека и завод закрыли. Взамен него осталось нынешнее село Селитренное, жители которого за два века доразобрали на личные постройки - и завод, и </p>
<p>83. золотоордынские остатки. И мы ходили по этому селу, как по некоему захудалому перерожденцу золотоордынской столицы и гадали: куда что ушло? Да и было ли?</p>
<p>84. Вьются чайки над Ахтубой близ Селитренного, над могильным </p>
<p>84а. чертополохом вековых развалин. И думается нам: исчез Итиль, исчез Сарай. Как непрочны были эти гигантские полукочевые, полуторговые империи (полукапиталистические), а значит, как они нечеловечны, раз обрекали на гибель и забвение, даже памяти, такие труды, такие жизни. И как нам нужно знать их опыт, чтобы не следовать ему.</p>
<p>85. Лиля: Мы сделали небольшую прогулку на восток от Ахтубы, в начинающуюся   казахскую, а когда-то калмыцкую степь, но не нашли ничего интересного, кроме окаменевшей земляной соли и обычных ордынских черепков. Эта степь практически неизменной катится на тысячи км на восток и юг, к Монголии и Китаю, откуда приходили все, в том числе и последние из степняков-завоевателей. </p>
<p>87. Ойроты, называвшие себя калмыками, пришли недавно, всего 300 лет назад, когда русские уже владели - и Волгой, и Сибирью, и пришли, конечно, не робкими просителями. Ученые спорят о причинах их прихода - то ли как буддистские диссиденты, отщепившиеся от языческой еще родины, то ли от давления Китая, то ли, напротив, от временных успехов их Джунгарского ханства...</p>
<p>88. Полтора столетия они жили между Уралом и Доном - фактически независимым ханством, хотя и с охотой вступая в союзнические отношения с Москвой. Но при случае и нападали на Россию, и оберегали от нее свои границы. На такую независимость Аюки-хана соглашался даже деспотический Петр. А сами калмыцкие ханы оставались в подданнических отношениях с родной Джунгарией, освящение своей власти получали от Далай-ламы в Тибете. </p>
<p>89. Таковы парадоксы мировой истории: в то самое время, когда Российская империя крепла и усиливалась на Западе и Востоке, китайские богдыханы имели право рассматривать <u>Волгу</u> и всю калмыцкую Европу частью своей <u>Поднебесной империи</u>, державы.</p>
<p>90. <u>В Тюменовку</u> Археологи Сарай-Бату подсказали, где можно найти калмыцкий хурул. И вот рейсовая "Ракета" мчит меня в поселок </p>
<p>91. Речное, бывшую Тюменовку, где стоит единственный на всей Волге и во всей Калмыкии буддистский храм. Впрочем, стоит он уже не в Калмыкии. Ведь, вернув в 1953 году из ссылки калмыцкий народ, территорию его республики сильно урезали, фактически отринув калмыков от Волги, в том числе и от старинного Хошеутовского улуcа с его Тюменовским хурулом. Теперь в единственном </p>
<p>92. калмыцком поселке на Волге - Цаган-Ама живет единственный калмыцкий лама, да и тот - полуподпольный, а в Речном стоит последний хурул - уже не калмыцкий, потому разбирается и уничтожается на глазах. Таковы результаты полуосвобождения калмыков из сибирского изгнания - только телом, но не свободной душой. </p>
<p>93. Сегодня Тюменовский хурул выглядит одиноким и даже неуместным среди русских технических пустырей. Не таким он был в недавнем прошлом, особенно при своем создании в начале прошлого века одним из героев Отечественной войны 1812г., </p>
<p>94. князь-нойоном <u>С.Тюменем</u>. Конечно, был он тогда окружен садами и дворовыми постройками, где князь принимал гостей. Мы, например, знаем, что сюда приезжал Александр Дюма в гости к полковнику Тюменю. </p>
<p>95. Сейчас мы видим только центральное храмовое здание-сюме, а еще недавно от "сюме" отходили крыльями колоннады, как у Казанского собора в Петербурге. </p>
<p>96. Они заканчивались угловыми башнями в тибето-монгольском стиле. Стены ограждали всю территорию калмыцкого монастыря. И только нам, наглядевшимся в том же 78-м году на бурятские дацаны, легко было представить былое </p>
<p>97. по этим кадрам. Постройкой хурула Сербеджат Тюмень славил своих калмыков, а в Петербурге перед правительством он отстаивал их </p>
<p>98. права и свободы.</p>
<p>99. Тюменовский хурул был вместе с тем и памятником 1812 году, - наравне с Казанским в Петербурге и Христа-Спасителя в Москве. От тех лет осталась и калмыцкая боевая песня: </p>
<p>100. Рубились мы с куце-черными французами /Ради защиты России,</p>
<p>Защищали Россию, чтобы /Вечно установился мир... </p>
<p>101. И стихи Федора Глинки:</p>
<p>Я видел, как коня степного /На Сену пить водил калмык,<br/>
      И в Тюльери у часового / Сиял как дома русский штык.</p>
<p>102. Кстати, специалисты видят в Тюменьевском хуруле и промышленные задатки народа. Ведь сложен он был из своего калмыцкого кирпича. При формовке и обжиге каждый кирпич снабжался степным клеймом из нескольких луков со стрелами - родовой тамгой. </p>
<p>103. А ведь у них были под боком кирпичные развалины Сарай-Бату. Но, видно, для калмыков с их очистительным культом святого огня было правильней научиться кирпичному обжигу новой глины для святого храма, чем, подобно воронам, подбирать кирпичную падаль золотоордынской столицы. ...А ведь нравственность и огонь веры, как известно, всегда и всюду в подходящих условиях вели молодой народ и к промышленному развитию. </p>
<p>104. Сюме облезло, заколочено   от входа, окружено грудами кирпичного боя и отбросами. И только под башенным входом можно увидеть уцелевшие </p>
<p>105. фрагменты духовной живописи-бурханы. Это тоже </p>
<p>106. сторона старой культуры наряду с письменностью, созданной Зая- <u>Пандитом</u> еще в 17-м веке и дожившей в качестве официального калмыцкого письма до советской власти. В Ленинграде и Европе </p>
<p>107. сейчас хранятся многие сотни калмыцких рукописей, в основном религиозных тибетских и индусских переводов - тот фонд великой культуры, которую ламы</p>
<p>108. вносили в сознание  калмыков, а те - своей жизнью в российский мир.</p>
<p>109. Но что об этом можно узнать в наш век выжженной пустыни народных ссылок и государственного обезбоживания? - Только рассказы о том, как эксплуатировали ламы бедных степняков, как выманивали средства на ненужные, мол, хурулы и еще более ненужные молитвы?</p>
<p>111. И все же есть свидетельство. В Библиотеке Всемирной литературы опубликована часть поэмы калмыцкого ученого-лхарамбы <u>Бадмы Боована "Услаждение слуха"</u>. После 18-летнего обучения в Тибете</p>
<p>112. он стал ламой в Петербургском хуруле и  источником знаний для петербургских буддологов. Но за критику он был отлучен от церкви, а в 1917-м году погиб 30-летним. </p>
<p>113.Перед собою ладони соединив, /Пречистой Пищи сыну помолимся.</p>
<p>114.Погружен он в благостную нирвану, /Покровительствует всему cущему<br/>
      Ради того, чтобы люди всюду /Радостно, одинаково жили,</p>
<p>115. Буду я песни петь призывные, /Будоражить людские умы.Послушайте<br/>
<u> "Песня мирянам"</u><br/>
      Почитаньем трех драгоценностей /Добродетель в мире умножится,</p>
<p>116.Почитаньем отца и матери /Благонравье всюду упрочится;<br/>
      Воздержанием от насилия /Жизнь живых на земле продолжится;<br/>
      Воздаяньем всем обиженным /Возродим везде благоденствие.</p>
<p>117. Коль неправую цель преследовать, /Добродетели все утратятся,<br/>
      Коли ложь возлюбить как истину, /Трудно вести речь о доверии,<br/>
      Коли вздор нести, суесловие, /Поубавится уважения,<br/>
      Коли бранных слов не удерживать, /Сохраним ли свое достоинство/</p>
<p>118.<u>Заповеди Будды</u> <br/>
      Служба-помощь народу верная /Славу нам принесет, имя доброе<br/>
      А своя корысть, своя выгода - /От худой молвы не защитница.<br/>
      О своей лишь мошне печальники / Не избудут напастей-горестей,<br/>
      Непомерным чванством да гордостью /Одного лишь позора доищешься/</p>
<p>119. Друга доброго поучения /С чистым сердцем надо выслушать,<br/>
      От приятеля непутевого /В отдаленье держаться следует.<br/>
      Коль задумано дело нужное /Так с умом его должно выполнить,<br/>
      А покуда цель не достигнута, /Придержать язык не мешало бы.</p>
<p>104а. Похваляться добродеяниями, /Не свершая их - опрометчиво.<br/>
      И кичиться своими знаньями, /Не имея их - опрометчиво.<br/>
      Быть усердным в деле несбыточном - /То же самое - опрометчиво,<br/>
      Так без прочного состояния /Богачом прослыть - опрометчиво.</p>
<p>118. Закали в себе волю твердую /И к наукам яви усердие.<br/>
      Справедливость признав святынею, /К ней стремись, прояви усердие<br/>
      Ради пользы, блага всеобщего /Всем на радость яви усердие,<br/>
      Чтобы тратились с толком, с разумом /Все богатства - яви усердие</p>
<p>119. Пьянство приносит один лишь вред /Стань образцом воздержания.<br/>
      Кости да карты - источник бед /Стань образцом воздержания,<br/>
      С той душой, что тебе не верна, /Лучше и вовсе не знайся,<br/>
      Если связалась с кем-то жена, /С ней развязаться старайся.</p>
<p>121.Накопить ли нам добродетели, /Коль в продаже их не случается?<br/>
      Десяти черных дел отвержение /Добродетелью называется.<br/>
      Благодати вероучения /Ты сподобишься не поклонами,<br/>
      С добродетельными в общении, /Не с порочными ветрогонами.</p>
<p>122a.Будды заповеди блюдите, /Черных дел избегайте, миряне,<br/>
      И во имя его вершите /Только праведные деянья.</p>
<p>122. Выполняя без упущений /Все обеты, все воздержания,<br/>
       Вы сподобитесь, что свершатся /Ваши добрые начинанья.</p>
<p>120.Теперь Калмыцкий хурул  окружает русское село, унылое, наверное, из-за своего переселенчества, что мы видим как по задуманной добротности домов </p>
<p>121. в одной казенной перспективе, так и по их какой-то бесхозности.  Основная рабочая сила на полях - студенты-школьники, а самих  жителей как будто нет, лишь чертополох, бурьян равнодушия. </p>
<p>126.Но в этой человеческой пустыне мне посчастливилось. Меня приметила и окликнула родная калмыцкая душа. Откуда только взялась? А просто увидела человека с фотоаппаратом рядом с ее "сюме" и поспешила радостно навстречу:</p>
<p>124a. "Молодой человек, Вы наш храм снимаете? " - Объясняю, что да, специально приехал ради него. И как легко, как оживленно мы заговорили! О "нашем храме" и о себе. Живет она, конечно, на другом берегу Волги, </p>
<p>124.а сюда приезжает, чтобы посмотреть храм ближе и помолиться... Рассказывает, что раньше при нем было еще 4 храма поменьше и было очень красиво. Я догадываюсь, что как раз разбор этих храмовых приделов и видел мой знакомый байдарочник 14 лет назад, в 1964 году. Еще в 68-м году два придела существовало, а сейчас после реставрации от них ничего не осталось. </p>
<p>125. В первый раз и именно от калмычки Марии Наримановны я слышу жалобы на русских реставраторов (потом услышу их уже не раз от русских женщин): "Со стариков собирали деньги на реставрацию, но храм так и не открыли, и худо ему, и нам худо без него". Спрашиваю: "Почему же вы не просили настойчивее?" - "Как не просили, очень просили,  но не разрешают, даже музей нельзя..." - И я молчу, со стыдом понимая: астраханским властям совсем не нужен калмыцкий дух, вера  и гордость, да и калмыкам тут, с их точки зрения, делать нечего... </p>
<p>125a. Еще долго тетя Мария благодарила меня за внимание к "нашему храму": "Ты мне, хороший молодой человек, как сын, как племянник". </p>
<p>126.Ушла, потом снова вернулась, преодолев стеснение и попросила выслать ей карточку нашего храма, чтобы можно было на нее молиться - ведь икон никаких нет. И, конечно, осенью, что было в моих силах - сделал.</p>
<p>127. А потом, на берегу Волгу, в ожидании обратной "Ракеты", мы сидим рядом. Тетя Мария рассказывает о лютой жизни в Сибири, тяжелой лагерной работе на кирпичном заводе -</p>
<p>128. чуть не умерла там, и что сейчас не осталось у нее никаких родственников: старость пришла   одинокая. И только мама вспоминается на Волге с ее молитвами и рассказами о чудесном прошлом... Нет, она почти ничего не знает о своей вере, ведь выросла при советской власти и молитвы слышала только в далеком детстве от мамы. А сейчас и рассказать не может, как молиться, обращаясь чаще всего к матери-Волге.</p>
<p>129.И я так остро почувствовал всю важность этого доверительного разговора о буддистской вере двух таких разных и все же близких, даже родных людей, разговора почти без слов, больше на чувствах.  Прощаясь с тетей Марией, через кладбище уходящей к храму, благоговейно впитывая ее благословение, как будто сам стал немного калмыком, испытал необычайный душевный подъем и радость.</p>
<p>130. <u>М.Хотонов:</u> </p>
<p>Мои предки в незапамятное время,/Расседлав коней на волжском берегу,<br/>
      Помолились синей Волге на лугу.</p>
<p>131. Вождь сказал в раздумье перед всеми:/Серебром звенит речная гладь,<br/>
      А бежит река, как конь рысистый. /Силу может та вода придать<br/>
      Человеку словно чай душистый./ Там, где предок твой поил коня,/<br/>
      Где воде молился, преклоненный, /Ныне Волга, серебром звеня,<br/>
      Так же вдаль уходит просветленно. </p>
<p>132. Слушаю заветы стариков, словно пью кумыс /Средь зноя лета:<br/>
      Стать певцом лишь тот джигит готов, /Кто внимает мудрости завета.<br/>
      Пусть играет на траве степной / Вольный сын твой, как волна весною, </p>
      133. Пусть в степи гуляют сайгаки, /Словно волжской рыбы косяки.<br/>
      Где б ты ни был, помни Волгу-мать, /С ней жить тебе и побеждать.<br/>
<p>134. Витя: Но вернемся к своему путешествию на "Спартаке" к Астрахани и заглянем в одну из самых любопытных калмыцких книг, но уже нового, послереволюционного времени: <u>"Мудрешкин сын" Амур-Санана</u></p>
<p>135. Лиля: В своей недолгой жизни (1888-1939гг.) Амур-Санан был мальчишкой, пастухом - безродным, и потому презренным орудом, был слугой калмыцкого князя Гахаева, и студентом-учителем, калмыцким интеллигентом и выборным старшиной. В революции он стал членом исполкома и даже Председателем калмыцкого Совнархоза. Вот, например, как он пишет: </p>
<p>136. "Для человека, заваленного делами, озабоченного злобами дня полезна поездка на пароходе. Забираешься в каюту - все дела и заботы отходят в сторону. Ведь нечего нельзя подправить... мысль отдыхает и направляется совсем в иные стороны.</p>
<p>137. Такую свободу рассуждать я почувствовал, когда из Астрахани уселся на пароход, чтобы ехать в Баку на съезд народов Востока, как представитель калмыков, где Коминтерн призвал все народы к священной войне с английским империализмом. </p>
<p>138.  Но на этот раз я задумался об ужасном калмыцком обычае, уродующем женскую грудь. Ведь калмыцкие девушки с 12 лет носят безрукавные камзолы, которые туго стягивают грудь и не дают ей развиваться, причиняя сильную боль и вред здоровью. Необходимо было уничтожить варварский обычай. Еще в 1918 г., будучи заведующим Калмыцким РОНО, я повел агитацию... но встретился с железной стеной традиций, запретил силой - они втихомолку носили его. Принял репрессивные меры - исключил из пансиона несколько девиц - но это не </p>
<p>139. повлияло на остальных. Ну, a теперь я решил взять иной метод по возвращению в Астрахань: для осуществления реформы калмыцкого женского костюма добились поддержки от женотдела в Москве, от Коллонтай, а вместе с ней - мануфактуры и ниток на 20 тысяч калмыцких девиц. Декан медфакультета в Астрахани, доктор Залкинд научно обосновал мой проект, комиссия выработала </p>
<p>140. новый костюм в виде свободного с кокеткой платья, слегка суживающегося в талии ...и закипела работа кройки и шитья. <u>1921г.</u>Дальше началась трудная агитация, и к маю 21 года по аймакам стали развозить реформированный костюм. В Цоросовском аймаке раздача была произведена с особой торжественностью: собрали местный женский съезд и объявили о реформе костюма. Для этого все девушки 12-18-летнего возраста вошли в зал съезда, по удалению мужчин - переоделись, а старые камзолы были </p>
<p>141 сложены перед домом съезда и при дружном пении Интернационала сожжены. Самый факт сожжения как бы скреплял уничтожение вредного костюма и с ним всех вековых предрассудков, причинявших большое несчастье нашему народу".</p>
<p>142. В годы гражданской войны Амур-Санан сыграл большую роль в создании калмыцкой советской автономии, что было совсем не просто. Ведь в 17-м году, самоопределясь, калмыки вместе со своим дворянством и просвещенной интеллигенцией высказались за переход на казачье положение. Когда же к власти пришли большевики с их продразверстками и разрушением церквей, они, вместе с казаками, отшатнулись к белым. За немногими исключениями - в Советской Астрахани, вроде Амур-Санана, у донских калмыков - как Городовиков. <u>белые и красные</u></p>
<p>143. В своей очередной поездке в красную Москву Амур-Санан </p>
<p>144. добивается подписания Лениным обращения <u>"К братьям-калмыкам!"</u> с обещанием автономии, амнистии и неприкосновенности калмыцких земель - только все на борьбу с Деникиным! </p>
<p>145. Но подействовать это обращение не успело, а может, и не могло. Калмыки (особенно донские) от красного наступления уходили поголовно. Ведь: </p>
<p>146. "Картины 1918 года стояли перед каждым: бежать и спастись, остаться и быть убитым... Рассчитывать на милость со стороны </p>
<p>147. большевиков, год назад рубивших калмыков, было трудно. Люди метались, теряя рассудок". Ужасную Голгофу невольного великого переселения калмыков Амур-Санан описывает, цитируя вначале стихи из белогвардейской газеты южнорусского города:</p>
<p>148. Вчера у нас был карнавал, /Какого, смею поручиться,<br/>
      Париж ни разу не видал/ Не наблюдал ни Рим, ни Ницца.<br/>
      По нашим улицам ползли/Коврами крытые кибитки,<br/>
      В неведомую даль везли детей, и женщин, и пожитки.</p>
<p>149. Неся с достоинством горбы,/Верблюды плыли вереницей,<br/>
      Сойдя с кибиточной арбы/Шел их хозяин желтолицый.<br/>
      Куда идет несчастный люд,/Свою родную землю бросив?<br/>
      За всех ответил мне верблюд:/ "Я коммунизма не приемлю!"</p>
<p>150. Ужасны описания, свидетельства народного отступления-самоубийства: "Там пала лошадь, там издыхает верблюд... </p>
<p>151. А сзади рвущаяся шрапнель... Снова серый день - и голо... и ругань бегущих русских: "Черт еще навязал вас на нашу голову... И смерти, смерти - дети, старики... Куда ни посмотришь - беженцы и беженцы... Чашу горького страдания мы испили до дна... </p>
<p>152. При виде красных нами овладевал животный страх. Мы были уверены, что они сейчас подойдут к нам и изрубят в капусту". </p>
<p>153. И вот заключительный рассказ какого-то добросердечного казака, уехавшего-таки в Крым - про калмыков-круглолицых - "солнышки". </p>
<p>"Сколько ни пропадали "солнышки" в дороге, до Туапсе добралось их немало. Перли на пароход почем зря. Их в нагайки - они ревут белугой: "Матер-черт! - кричат офицерам. Ты погоны снял, и кто тебя знает, а мой кадетский морда всякий большак видит. </p>
<p>154. Куды тут... Когда отчаливали от мола, иные калмычки бросали о камень своих детишек, а сами бросались в воду. Вот дурные! Жалко "подсолнухов". Мало их доберется до Крыма..." </p>
<p>155. В своем трагическом <u>исходе 1920г.</u> сальские калмыки погибли до половины...</p>
<p>156. Не много ли бедствий для одного народа? И имеем ли мы право забывать хотя бы об одной из этих катастроф? - в своей благоприлизанной истории об извечно верном России и компартии народе? - Мы не имеем права забывать размышления </p>
<p>157. Амур-Санака, записанные в 1930г., и вопрос его: "За что голыми ножками по холодной мартовской грязи шагали маленькие калмычата, за что на панелях городов с голоду, как осенние мухи, стаями умирали калмыки?" Строки не только сказанные, но даже напечатанные, но не услышанные. И народные гибели потому повторялись и в 20-м, и в еще более страшные 40-е годы. А все эти беды - от нас, </p>
<p>158. от нас, от русских - нет, скорее, от московских, столичных, когда </p>
<p>159. человеческие цели подминаются <u>имперским злом</u>... </p>
<p>160. Спасти же народ может только беззаветная любовь к нему хороших людей - <u>"сян-кюнов"</u>, по Амур-Санану, или "настоящих коммунистов", по Трифонову - против "лже-коммунистов". </p>
<p>161. Вспомним еще один эпизод из книги Амур-Санана, последний, потому что после рыборегулирующего моста скоро покажется Астрахань и кончится наше путешествие по Волге и исторической Калмыкии.</p>
<p>162. "<u>14 октября 1920г.</u> я говорил на заседании Политбюро ЦК, где присутствовали Ленин, Сталин, Бухарин и др... "Я хорошо знаю,- говорил я,- что калмыки, независимо от перспектив на Востоке и </p>
<p>163. Западе револ. событий, <u>хотят жить</u>. Но когда ничего общего с революцией не имеющие, а прикрывающиеся ее именем, насилующие женщин, убивающие, грабящие темных калмыков, без нужды оскорбляющие религиозное чувство народа, выдают себя за истинных представителей власти, тогда надо о происходящих безобразиях </p>
<p>163. говорить самому Ленину. Мы, идейные сторонники советской власти, не можем молчать и не довести об этом до сведения высших партийных и сов.инстанций. На места, захваченные белогвардейцами, приезжают корреспонденты английских газет, фотографируют развалины буддистских храмов и эти снимки, как иллюстрацию большевистского варварства и нац. гнета, в млн экз. распространяют по всему буддистскому Востоку - по Индии, Цейлону, Сиаму, Китаю... </p>
<p>164. Я говорил о том, что калмыки совершенно разорены как гражданской войной, так и реквизициями, разорены не только воюющими сторонами, но и соседними русскими крестьянами. Положение калмыков поистине печально. Прикрываясь в летний зной и зимнюю стужу грязными овчинами, обсыпанные паразитами, не имея продуктов, лишенные единственного их достояния - скота, калмыки стоят перед лицом физического уничтожения".</p>
<p>166. Я говорил горячо, волнуясь, стучал кулаком по столу. Т. Кожиев несколько раз дергал меня за полу пиджака... Я кончил. Тогда Ленин в упор же сразу поставил вопрос: "А как калмыки относятся к советской власти?" - Я кратко сформулировал свой ответ:</p>
<p>167. "Калмыки говорят: "Был большой чума - прошел, был большой холера - прошел, <u>а большевик - не проходит</u>". Все расхохотались, в том числе и Ленин.</p>
<p>"В сознании темного калмыка - продолжал я, - большевизм, революция, гражданская война преломляются как болезнь, гораздо более худшая, чем страшная чума или холера".</p>
<p>168.<u> Ленин в своем резюме</u> сказал: "То, что говорил представитель калмыков - вопиющее явление. Необходимо принять меры к ликвидации его". А в Постановлении Политбюро было сказано: "Признать необходимым проведение в жизнь автономии... в первую очередь для калмыков. Нназначить расследование злоупотреблений и насилий, совершенных местным русским населением по отношению к восточным народностям, в особенности калмыкам, и подвергнуть виновных наказанию.</p>
<p>169. Предложить участникам внести в ЦК список лиц, принадлежащих к народам Востока, амнистирование коих, по их мнению, желательно".</p>
<br/>

{% endblock content %}
