{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. "Брянщина"</title>
{% block content %}



<br/><br/>
<p>1.<u>"Русское Черноземье"-1985. ч. Х. "Брянщина"</u></p> <p>2. <u>"Земля Брянская"</u> для нас, как и для многих, это, прежде всего, родина Тютчева и Толстого. Нельзя сказать, что оба они пламенно любили свою малую родину. И все же, они - дети этой земли, ею определены, хоть мы сейчас и не понимаем, как именно. Только расскажем вам, что знаем и что видели. И тогда, надеемся, с Вашей помощью сможем что-то понять. </p>
<p>3.<u>Ф.И.Тютчев (1803-1873гг.)  родом из Овстуга на Брянщине</u> - потомок родовитейшей московской фамилии. Ее основатель Захар Тютчев был посланником Дмитрия Донского к Мамаю на Куликовом поле, а его потомки служили царю воеводами во многих городах и ратях. </p>
<p>4. Уже в 14 лет он был принят в Общество Российской словесности. Окончив за 4 года Московский университет и получив кандидатскую степень, уехал в Европу, в Мюнхен и Турин, на дипломатическую службу, где и провел с небольшими перерывами 22 года. В Европе он похоронил свою первую горячо любимую жену Элеонору, баварскую аристократку, женился</p>
<p>5. вновь на другой немецкой баронессе Эрнестине, Кисаньке. Там родились и были воспитаны его дочери, там сформировались убеждения и родились важнейшие стихи, там он дружил с Гейне и спорил с самим Шеллингом.</p>
<p>6. Всю жизнь он говорил и писал лишь по-французски, а вот задушевные стихи у него рождались только по-русски. А куда денешься от своей земли? Тютчев не был профессиональным поэтом, стихи писал только для себя, чтобы самому себе уяснить мир и себя. По выражению Гете, его стихи "не придуманы, а выросли сами, как плод на дереве" и только стараниями родственников и друзей они сохранялись и направлялись для восторгов Пушкину, Некрасову или Тургеневу. А уж они-то могли оценить самого значительного философа-лирика русской поэзии. Но сам Тютчев больше осознавал их несовершенство, ведь они не могли до конца выразить его внутренний мир. Поэтическим кредо его так и осталось "Молчание" - Silentium.</p>
<p>7. 	Молчи, скрывайся и таи /И чувства, и мечты свои -<br/>
      Пускай в душевной глубине /Встают и заходят оне <br/>
      Безмолвно, как звезды в ночи,- /Любуйся ими - и молчи.<br/>
      Как сердцу высказать себя? /Другому как понять тебя?<br/>
      Поймет ли он, чем ты живешь? / Мысль изреченная есть ложь; <br/>
      Взрывая, возмутишь ключи.- /Питайся ими - и молчи, <br/>
      Лишь жить в себе самом умей  /Есть целый мир в душе твоей <br/>
      Таинственно-волшебных дум; /Их оглушит наружный шум, <br/>
      Дневные разгонят лучи,- /Внимай их пенью - и молчи!..</p>
<p>8. Живя в Европе, Тютчев защищал и гордился Российской империей, был видным славянофилом. Но, вернувшись на службу в Петербург, он начинает прозревать не только глубины отечественных несовершенств, но и неисправимость их, неизбежность гибели исторического самодержавия. Судьба ему благоволила. Даже когда он разражался едкой эпиграммой: </p>
<p>Печати русской доброхоты, /Как всеми вами, господа, <br/>
      Тошнит ее - но вот беда, /Что дело не дойдет до рвоты. </p>
<p>Но его не только не наказывают, но и назначают Председателем цензуры по иностранной литературе. Но после долгих лет службы на таком высоком посту и многих разочарований он пишет жене: </p>
<p>9. "Отныне все будет ясно, что те условия, какие представляются печати в России таковы, что подобным им нигде нет. Разум целой страны по какому-то недоразумению подчинен ...безапелляционной диктатуре мнения чисто личного... в резком и систематическом противоречии со всеми чувствами и убеждениями страны. Но зло коренится глубже. Есть привычки ума, под влиянием коих  печать сама по себе уж является злом. И хоть бы она и служила власти, как это делается у нас - с рвением и убеждением - но в глазах самой власти всегда лучше, чтобы печати не было вовсе. Содрогаешься при мысли о жестоких испытаниях, как внешних, так и внутренних; через которые должна пройти бедная Россия, прежде чем покончит с такой прискорбной точкой зрения". И нам становится понятным, почему его посещали пророческие видения, поражающие предсказательной силой до сих пор: </p>
<p>10. "Москва. Кремль.<u> 8 сентября 1855г.</u> я поднялся на первую площадку Ивана Великого, покрытую народом, ожидавшим появления государя... И тут </p>
<p>11. меня охватило чувство сна. Мне пригрезилось, что протекло полвека и более, что начинающаяся теперь великая борьба, пройдя сквозь целый цикл безмерных превратностей, захватив и раздробив в своем изменчивом движении государства и поколения, наконец, закончена, что новый мир возник из нее... что суд Божий свершился... Новые поколения </p>
<p>12. с совсем иными воззрениями и убеждениями господствовали над миром, и, уверенные в достигнутых успехах, едва помнили о тех печалях, о той тоске и темной ограниченности, в которой мы живем теперь.</p>
<p>13. И тогда вся эта сцена в Кремле, эта толпа, столь мало сознавшая и теснившая, чтобы видеть государя, который так недолго просуществует и жизнь которого так скоро будет подорвана и поглощена при первых же испытаниях великой борьбы - вся эта картина показалась мне видением прошлого, и весьма далекого прошлого, а люди, двигавшиеся вокруг меня,- давно исчезнувшими из этого мира. Я вдруг почувствовал себя современником их правнуков". (письмо жене, 1855)</p>
<p>14. <u>Граф А.К.Толстой (1817-1875)</u>был схож и различен со своим старшим брянским собратом. Прямой внук виднейшего царского вельможи Разумовского и друг детства царя, он с 6-ти лет стал писать стихи, марать бумагу, а потом всю жизнь стремился освободиться от придворной высокой службы ради занятий литературным творчеством. Толстой основную часть жизни провел в России, знал и любил ее, но считал себя решительным западником. В нем много было противоречий. Проповедник теории "искусство для искусства", он писал политически злободневные стихи; ярый защитник монархии, он был самым решительным критиком ее тиранства; прямой потомок вольных казаков, душой устремленный в украинские пределы, он резче всех обличал бунтарский и бесплодный характер нигилистов, как "станичников". Его кредо: европейская законность- <u>порядок</u>! Но что же делать, </p>
<p>15. если у русских такая география и потому такая история...</p>
<p><u>"Русская история от Гостомысла" с IX по XIX вв.. (по слову летописца Нестора)</u> <br/>
      Послушайте, ребята, /Что вам расскажет дед. <br/>
      Земля наша богата, /Порядка в ней лишь нет. <br/>
      А эту правду, детки, /За тысячу уж лет <br/>
      Смекнули наши предки: /Порядку-де, вишь, нет. </p>
<p>16.	И встали все под стягом, /И молвят: "Как нам быть?"<br/>
      "Давай, пошлем к варягам /"Пускай придут княжить.<br/>
      "Ведь немцы тароваты, /Им ведом мрак и свет,<br/>
      Земля у нас богата, /Порядка в ней лишь нет. </p>
<p>17.	...Когда взошел Владимир /На свой отцовский трон,<br/>
      "Да ендигте фюр иммер /Ди алте религион"<br/>
      Он вдруг сказал народу:"Ведь ваши боги дрянь, <br/>
      Пойдем креститься в воду!"/И сделал там Иордань.<br/>
      "Перун уж очень гадок! /Когда его спихнем,<br/>
      Увидите, порядок /Какой мы заведем!"</p>
<p>18.	Послал он за попами /В Афины и Царьград,<br/>
      Попы пришли толпами, /Крестятся и кадят.<br/>
      Поют себе, умильно /И помнят свой кисет;<br/>
      Земля, как есть, обильна, /Порядка только нет. </p>
<p>19.	...Иван Васильич Грозный /Ему был имя рек,<br/>
      За то, что был серьезный./Солидный человек. <br/>
      Приемами не сладок, /Но разумом не хром: <br/>
      Такой завел порядок, /Хоть покати шаром! </p>
<p>20.	...Царь Петр любил порядок /Почти как царь Иван,<br/>
      И так же был он сладок, /Порой бывал и пьян. <br/>
      Он молвил: "Мне вас жалко, /Вы сгинете в конец, <br/>
      Но у меня есть палка, /И я вам всем отец! <br/>
      Не далее как к святкам /Я вам порядок дам!" <br/>
      И тут же за порядком /Уехал в Амстердам.<br/>
      ...Но сон объял могильный /Петра во цвете лет,<br/>
      Глядят, земля обильна, /Порядка ж снова нет... </p>
<p>21.	...Какая ж тут причина  /И где же корень зла<br/>
      Сама Екатерина /Постигнуть не могла. <br/>
      "Мадам, при вас на диво /Порядок зацветет" <br/>
      Писали ей учтиво /Вольтер и Дидерот. <br/>
      "Лишь надобно народу, /Которому Вы мать, <br/>
      Скорее дать свободу, /Скорей свободу дать. <br/>
      "Месье - им возразила /Она: - ву ме компле" <br/>
      И тут же прикрепила /Украинцев к земле". </p>
<p>22.	Последнее сказанье /Я б написал еще, <br/>
      Но чаю наказанье,/Боюсь месье Вейлет. <br/>
      Ходить бывает склизко /По камешкам иным, <br/>
      Итак, о том, что близко /Мы лучше умолчим.<br/>
      ...Составил от былинок /Рассказ немудрый сей <br/>
      Худый смиренный инок, /Раб Божий Алексей".</p>
<p>23. Взамен этого осторожного якобы конца правильней привести оконцовку другого толстовского произведения, ироничной "Баллады с тенденцией", где после рассказа о русских нигилистах-коммунистах, озабоченных всеобщим делом поравнения через революционный хаос, он насмешливо обещает им стать "правоверным", видимо, и не догадываясь  столь дьявольски насмешливым исполнением будет его прогноз </p>
<p><u>"Пророчество о партийности"</u><br/>
      Я новому ученью, /Отдавшись без раздела, <br/>
      Хочу, чтоб в песнопеньях /Всегда сквозило дело. <br/>
      Служите ж делу, струны /Уймите праздный ропот! <br/>
      Российская Коммуна, /Прими мой первый опыт!" </p>
<p><u>Егермейстер Е.И.В. двора граф А.К.Толстой, 1871г.</u></p>
<p>24. Брянcкую поездку мы начали с курской границы: от города самозванцев Севска к родовому гнезду стариннейших русских князей Трубецких. Через день от стариннейшего казачьего Стародуба к раскольничьим городам Клинцы и Новозыбково, а уж от них для нас открылся прямой путь к Брянску и поэтическим усадьбам в Красном Роге и Овстуге.</p>
<p>25. <u>1. Севск - крепость Комарницкой волости</u>Севск мы смотрели в дождь, и потому в пасмурном настроении. </p>
<p>26. Обширная бетонная площадь. Слева райком партии, справа оставлена</p>
<p>27. колокольня от разоренного Троицкого девичьего трехвекового монастыря.</p>
<p>28. Городской музей под хмурым присмотром скучной женщины показался нам неприветливым и молчаливым.</p>
<p>29. Конечно, сеет дождь, конечно, город был очень сильно разбит последней войной - но не можем мы переложить своего тоскливого настроения-убежденности, что видим серость и разруху больше не от времени и немцев, а от людей, от разорителей церковных садов, о которых предсказывал брянский граф Толстой: </p>
<p>30.	Или даже выйдет проще, о жизнь моя, о Лада,<br/>
                        И будет в этой роще свиней пастися стадо! <br/>
О друг ты мой единый,- спросила тут невеста:-<br/>
      Ужель для той скотины /Иного нету места?<br/>
                        - Есть много места, Лада, /Но наш приют тенистый <br/>
                        Затем изгадить надо, /Что в нем свежо и чисто!</p>
<p>31.<u> "Баллада с тенденцией" </u> <br/>
      "Но кто же эти люди,- /Воскликнула невеста: -<br/>
      Хотящие, как дети, /Чужое гадить место?<br/>
                        Чужим они, о Лада, /Немногое считают, <br/>
                        Когда чего им надо,/То тащут и хватают... <br/>
Они, вишь, коммунисты, /Честнейшие меж всеми, <br/>
      И на-руку нечисты /По строгой лишь системе; <br/>
                        Системы их дешевле /Другая есть едва ли, <br/>
                        Станичниками древле /У нас их называли. </p>
<p>32. Знать сами неказисты, /Они ж и реалисты, <br/>
      Изящного не любят, /Затем красу и губят, <br/>
      Они ж и материалисты, /От имени прогресса <br/>
      Кричат, что трубочисты /Суть выше Апеллеса...<br/>
                        ...В одном согласны все лишь: /Коль у других именье,<br/>
                        Отымешь и разделишь, /Начнется вожделенье. </p>
<p>33. Весь мир желают сгладить /И тем ввести равенство,<br/>
                        Что все хотят загадить /Для общего блаженства. </p>
<p>34. Каким злым казался в прошлом веке всем мечтателям Российской Коммуны этот шарж брянского графа, но как смещаются наши оценки </p>
<p>35. спустя полвека, после исполнения пророчеств...</p>
<p>36. После ухода Литвы <u>старая крепость</u> на высоких севских холмах была восстановлена, расширена, пополнена служилыми людьми и боеприпасами, и стала одной из сильнейших и неприступных русских твердынь на юге границы Московии с Речью Посполитой. И говорят очевидцы:</p>
<p>37. "Град хороший вельми Севск, ряды и торги хороши, а люди в нем живут все служилые, мало посадских, и московские есть стрельцы, все люди тертые, зело доброхотны и приветливы. ...Крепость великолепна с чрезвычайно мощными башнями и многочисленными большими</p>
<p>38. пушками, размещенными одна над другой, с широкими и глубокими рвами, скаты которых обложены деревом, с деревянной двойной стеной.</p>
<p>39. Мы увидели на обоих краях рвов удивительные приспособления из заостренных, связанных меж собой бревен, к которому человеку невозможно приблизиться... За городом есть еще две деревянные стены для задержки конницы... Мы переехали деревянный мост в час пути, под которым много воды, болота и большие заросли..."</p>
<p>40. Сейчас крепость пуста, только скот пасется. А раньше теснилось управление целого края, которому подчинялись Карачев, Орел, Брянск, Путивль, Волхов и иные известные города-крепости, были воеводские двор, Успенская церковь, караульные и приказные избы, амбары, хлебные, людская, поварня, бани, конюшня, торговые ряды.</p>
<p>41. По указу Ивана Грозного Севск был назначен местом ссылки, а вся севская волость с ее "хинельными" лесами получила название Комарницкой, с особыми порядками казацкой разбойной вольницы. ...Поднимались восстания гулящих людей, апофеозом которых стала Смута самозванства, когда под "Камаринскую" заплясала вся Великая Московия. Восстание атамана Хлопко в 1603-м году, Болотникова в 1606-м. Лжедмитрий I считал Севск своим городом и под именем "Комарск" подарил своему тестю Мнишеку. И весь последующий 17-й век Комарницкая волость оставалась разбойничьим лесным вертепом, где только Севская твердыня устаивалась основой власти и порядка. </p>
<p>42.	Поляки ночью темной /Пред самым Покровом,<br/>
                        С дружиною наемной /Сидят перед огнем. <br/>
                        Исполнены отвагой, /Поляки крутят ус, <br/>
                        Пришли они ватагою /Громить Святую Русь. </p>
<p>43. И с польскою державою /Пришли из разных стран, <br/>
      Пришли с войной неправою /Враги на россиян. <br/>
      Тут волохи усатые /И угры в чекменях, <br/>
      Цыгане бородатые /В косматых кожухах. <br/>
      Валя толпою пегою /Пришла за ратью рать, <br/>
      С Лисовским и Сапегою /Престол наш воевать. <br/>
      И все стучат стаканами: /"Да здравствует Литва!" <br/>
      Так возгласами пьяными /Встречают Покрова!"</p>
<p>44. Алексей Константинович не случайно связывает внутренних разрушителей, нигилистов с разрушителями внешними - казаками-станичниками. И пусть повыбиты разбойники, повычищены леса и Комарницкой буйной волости уж нет, остался "пожар в крови", грозная опасность, что от бунта рухнет непрочное здание русского "порядка". Наверно, потому Алексей Константинович оставался непреклонным другом законной монархии, т.к. знал, что именно в борьбе с внешним и внутренним разбоем были выстроены русским народом материальные и духовные твердыни, крепости и церкви.</p>
<p>45. Но без их подчинения первоначальному закону-власти земли, они тоже непрочны, как будто построены на песке. В последнюю смуту, уже ХХ в, казалось бы, погибли и власть, и вера. Но тут же воскресла в новом самодержавии. А спустя четверть века, в годы войны, волей земли поднялось </p>
<p>46. и старое православие, но уже не самодержавной, а второй, народной верой.</p>
<p>47. Красиво поет хор действующей севской церкви, поддерживает в нас надежду на свободное и разное вероисповедание во вновь отстроенных храмах...</p>
<p>48. <u>Тютчев "Наш век"</u></p>
<p>Не плоть, а дух растлился в наши дни, /И человек отчаянно тоскует. <br/>
 Он к свету рвется из ночной тени /И, свет обретши, ропщет и бунтует </p>
<p>48а.Безверием палим и иссушен /Невыносимое он днесь выносит... <br/>
И сознает свою погибель он /И жаждет веры... но о ней не просит... </p>
<p>48б.Не скажет ввек, с молитвой и слезой,/Как ни скорбит перед замкнутой дверью:<br/>
					"Впусти меня! - Я верю, Боже мой! /Приди на помощь моему неверью!"...</p>
<p>49. <u>Дорога на Трубчевск</u> была сплошным подарком: сперва первые кресла с видами через переднее окно мягко несущего нас Икаруса, затем веселая теснота в пожарной машине и быстрая езда до Суземок, и, наконец, </p>
<p>50. места у окошка поезда из одного вагона, стучащего по стыкам старинной железной дороги, не нанесенной ни на одну из наших карт. </p>
<p>51. Ночью мы с удобством расположились на ночлег в деснянской пойме,</p>
<p>52. а утром не спеша подошли к древнему городу на высоком правом берегу.</p>
<p>53. Благоустроенное шоссе от первых деревенских домов приводит постепенно к небольшим каменным зданиям уютного городка украинского</p>
<p>54. типа. Это и есть родовая вотчина князей Трубецких. В известном стране краеведческом музее, ведущем самостоятельные раскопки, издающем свои труды, можно проводить целые часы, несмотря на крайнюю малость и тесноту помещений. А потом, уже с просветленной </p>
<p>55. знаниями головой, идти в парк, на встречу с самой древней на Брянской </p>
<p>56. земле церковью - к Троицкому собору XV, а может, и более раннего века. Правда, он был перестроен на рубеже 18-19 столетий. </p>
<p>57. Гордое древностью города, начальство устроило вблизи собора, в парке прекрасный памятник Бояну, учителю автора "Слова о Полку Игореве".</p>
<p>58. Ведь главный помощник Игоря Святославовича Буй-тур Всеволод со курянами был Трубческим князем, родоначальником Трубецких. Историки </p>
<p>59. предполагают, что от военной трубы княжеской дружины могло произойти боевое имя города.</p>
<p>60. Певцом древней Руси, варяжской, еще неотрывной от Европы, был Алексей Константинович Толстой. Это ему принадлежат строки: "Моя ненависть к деспотизму - это я сам. Когда я думаю о красоте нашей истории до проклятых монголов и до проклятой Москвы, еще более позорной, чем самые монголы, мне хочется броситься на землю и кататься в отчаянии от того, что мы сделали с талантами, данными нам Богом". </p>
<p>61..Над светлым Днепром, средь могучих бояр,<br/>
      Близ стольного Киева-града, <br/>
      Пирует Владимир, с ним молод и стар, <br/>
      И слышен далеко звон кованых чар -<br/>
      Ой, ладо, ой, ладушки-ладо!"</p>
<p>63. Так зачинается одна из толстовских былин про Змей-Тугарина, предсказывавшего потомкам могучих киевских витязей прямое бесчестие:</p>
<p>64.И честь, государи, заменит вам кнут,/А вече - казанская воля! <br/>
          И еще хуже:И землю единый из вас соберет,/Но сам же над ней станет ханом.<br/>
          И в тереме будет сидеть он своем, /Подобен кумиру средь храму.<br/>
          И будет он спины вам бить батогом,/Ой, сраму, ой, горького сраму!</p>
<p>65.	Обычай вы наш переймете, /На честь вы поруху научитесь класть, <br/>
      И вот, наглотавшись татарщины всласть,/Вы Русью ее назовете!</p>
<p>66.И с честной поссоритесь вы стариной, /И, предкам великим на сором,<br/>
                   Не слушая голоса крови родной, /Вы скажете: станем к Варягам спиной,<br/>
      Лицом повернемся к Обдорам!"...<br/>
      Даже сейчас нам страшно от этих пророчеств... Ведь до сих пор </p>
<p>67. живем и сами их исполняем. И как мы беспомощны, какими оказались черными предателями своих киевских отцов! Они ведь и в мыслях такого про нас не держали.</p>
<p>68. Смеется Владимир:Вишь, выдумал нам /Каким угрожать он позором,<br/>
Чтоб мы от Тугарина приняли срам! /Чтоб спины подставили мы батогам,<br/>
      Чтоб мы повернули к Обдорам!</p>
<p>69.	Нет, шутишь! Живет наша Русская Русь,/Татарской Руси нам не надо.<br/>
Солгал он, солгал? перелетный он гусь, /За честь нашей родины я не боюсь, <br/>
      Ой ладо, ой, ладушки-ладо! </p>
<p>70.	А если б над нею беда и стряслась, /Потомки беду перемогут!<br/>
...Подайте ж мне чару большую мою,/За русский обычай до дна ее пью,<br/>
                       За древнее русское вече! </p>
<p>71.За вольный, за честный, славянский народ,/За колокол пью Новограда,</p>
<p>72.И если он даже и в прах упадет,/Пусть звон его в сердце потомков живет.<br/>
      Ой ладо, ой, ладушки-ладо!</p>
<p>73.И слыша такую светлую веру в нас, насмерть отугаренных, одурманенных, как не захочется завыть с тоски вместе с графом Толстым, и не кататься по земле в отчаянии от проклятых монголов и еще </p>
<p>74. более проклятой самодержавной Москвы!</p>
<p>75. ...Трубчевский Троицкий собор построен на фундаменте княжеского дворца Трубецких и усыпальницы, сохранившейся частично до сих пор.</p>
<p>76. Сам же город пережил все долгие века исполнения гнусных пророчеств достойней многих: и века безвестности после степного погрома, и</p>
<p>77.  подъем к чести и славе в составе Литвы. Но, даже попав под власть Москвы, Трубчевск-Трубецк еще более полвека хранил остатки удельной самостоятельности, и только Грозный в 1562 году окончательно уравнял его с прочими своими холопами.</p>
<p>78. И за это Трубчевск вместе со всей русской землей ответит последней судорогой свободы - поддержкой Самозванца. В 17-м веке смог на время даже вернуться в Литву и вместе с еще более западным</p>
<p>79. Стародубьем держаться казацкой вольности, быть сотенным городом, но исторически обреченным был польско-литовский вариант развития русских народов: свобода - без равенства и твердых законов</p>
<p>80. кончается деспотизмом, без верности изначальному исконному порядку земли ведут к гибели, опрокидываются верностью азиатскому самодержавию.</p>
<p>81. Потом у Трубчевска была рядовая судьба. Он был маленьким уездом Орловской губернии в 7 тысяч жителей, правда, с 8 церквями и 84 заводами на 700 рабочих. Изменений и разрушений в нем, слава Богу, немного. Ощущается в нем до сих пор особое - живая память о гордых предках, а от этого - должны идти традиции, благородство, твердые нравы и даже уют жизни, порядок.</p>
<p>82. Трудно это выразить словами, но когда власти ценят старину, а люди сами заботятся о своем городе, в нем жить хорошо, и потому уезжали </p>
<p>83. мы от Трубчевска на Десне с легким сердцем.</p>
<p>84. А поехали и по-новому увидели, как давно началась измена порядку земли в погоне за иноземным прогрессом.</p>
<p>85. <u>Дорога на Кветунь</u>В 12 км ниже по течению Десны, рядом с деревней Кветунь и остатками </p>
<p>86. старого Чолнского монастыря высятся валы городища еще более древнего, дохристианского Трубчевска. Ученые предполагают, что языческие традиции мешали новой вере, вот и перенесли город. И тем начали самодержавный обычай слома традиций и переноса</p>
<p>87. столиц. Так разве Змей Тугарин виновен в том, что велика наша страна и обильна, распахнута на все четыре стороны всем правдам и соблазнам навстречь?</p>
<p>88. <u>А.К.Толстой "Правда"</u><br/>
      Выезжало семеро братьев, / 7 выезжало добрых молодцев, <br/>
      Посмотреть выезжали молодцы, /Какова она, правда, на свете живет <br/>
      А и много про нее говорено, /А и много про нее писано, <br/>
      А и много про нее лыгано. </p>
<p>83.Поскакали добры молодцы,/Все 7 братьев удалых,<br/>
      И подъехали к правде с 7 концов, /И увидели правду с семи сторон.<br/>
      Посмотрели добры молодцы, /Покачали головами удалыми, <br/>
      И вернулись на свою родину, /А вернувшись на свою родину, <br/>
      Всяк рассказывал правду по-своему: /Кто горой называя ее высокою, <br/>
      Кто городом людным, торговым, /Кто морем, кто лесом, кто степию. </p>
<p>90.	И поспорили братья меж собой, /И вымали мечи булатные,<br/>
      И рубили друг друга до смерти, /И рубяся, корились, ругалися, <br/>
      И брат брата называл обманщиком. /Наконец, полегли до единого <br/>
      Все семеро братьев удалых. /Умирая, каждый сыну наказывал, <br/>
      Рубитеся, наказывал, до смерти, /Полегти за правду, за истину. <br/>
      То ж и сын сыну наказывал,  / И доселя их внуки рубятся, <br/>
      Все рубятся за правду (за истину) /На великое себе разорение.</p>
<p>91. <u>На Погар в машине сборщиков лесной черники</u> </p>
<p>92.   <u>Древний Радогощ стал Погаром</u> Древнеславянский Радогощ на р. Судость был не раз сжигаем и разоряем. В 1563 году его сожгли так основательно, что восстановили лишь много позже и под иным именем - Погорелого места - Погара, как вотчина еще одних князей - Погарских-Пожарских... Долгие века он был заштатным </p>
<p>93. городом Черниговской губернии, и только в наше время дорос до положения районного центра Брянской области. И все же, Погар до сих пор </p>
<p>94. - лишь большое село, на окраине которого, среди сглаженных остатков рвов и валов, сохранились две небольшие церкви - Троицкая, </p>
<p>95. и рядом, на одном церковном дворе - ц.Св. Анны, бывшей при рождении польским маленьким костелом. В 18-м веке католическую Анну </p>
<p>96. сделали православной, но вряд ли от того стали более счастливы. От умаления католической и прочих чужих правд своя стала исчезать,</p>
<p>97. а с нею гибнет порядок и свобода.</p>
<p><u>Тютчев:</u>Над этой темною толпою /Непробужденного народа,<br/>
                              Взойдешь ли ты когда, свобода? /Блеснет ли луч твой золотой?</p>
<p>98. Блеснет твой луч и оживит, /И сон разгонит, и туманы... <br/>
                        Но старые, гнилые раны, /Рубцы насилий и обид, <br/>
                       Растленье душ и пустота, /Что гложет ум и в сердце ноет,-</p>
<p>99.	Кто их излечит, кто прикроет? /Ты, риза чистая Христа...</p>
<p>100. <u>Hoчь в Стародубье</u></p>
<p>101.Kaрта с автобусной дорогой к Стародубу все же обманула нас. Автобус в этот вечер довез нас только до Гринева.</p>
<p>102. Это старое черниговское село ныне центр брянского колхоза, где напротив правления с магазином стоит</p>
<p>103. Троицкая церковь XVIII в., в стиле украинского классицизма. Ныне она запущена, хотя, по ученым предположениям, хранит в себе сокровища - живопись Кипренского. А еще чуть дальше -</p>
<p>104. огромное здание школы, перестроенное из барского дворца, созданного в том же веке едва ли не по проекту Кваренги. Памятник</p>
<p>105. времени, когда после череды казацких старшин Гринево передали екатерининскому фавориту Безбородко. И таких сел здесь немало.</p>
<p>106. Ведь почти вся западная часть Брянщины раньше была Украиной.</p>
<p>107. Из Гринево нам пришлось 22 км идти пешком и ночевать</p>
<p>108. у тихой речки. И это было хорошо.</p>
<p>109.<u>А.К.Толстой:</u> "Ты помнишь ночь над спящей Украиной, </p>
<p>110. 		Когда седой вставал с болота пар,<br/>
      Одет был мир и сумраком и тайной<br/>
      Блистал над степью искрами стожар<br/>
      И мнилось нам: через туман прозрачный<br/>
      Heсутся вновь Палей и Сагайдач.</p>
<p>111.                       Ты знаешь край, где с Русью бились ляхи, <br/>
      Где столько тел лежало средь полей?<br/>
      Ты знаешь край, где некогда у плахи<br/>
      Мазепу клял упрямый Кочубей,<br/>
      И много где пролито крови славной<br/>
      В честь древних прав и веры православной.<br/>
      ...Туда, туда стремлюся я душой...</p>
<p>112. Поздним утрoм мы входили в Стародуб, тот самый, в который </p>
<p>113. 890 лет назад, по словам летописи, "вбежал князь Олег Святославович</p>
<p>113а. и заторися тут'", потом со Святополком и Владимиром Мономахом выдержал 33-дневную осаду... И так было не один раз.</p>
<p>114. Крепость в старых дубах и дубравах служила защитой многим в течение веков - и литовцам, и русским. А при Хмельницком она стала</p>
<p>115. главным <u>центром земель Стародубского полка</u>.</p>
<p>116. В 1686 году Стародуб, как и вся левобережная Украина, вошел в состав Московской Руси... От 22 стародубских церквей в конце прошлого века до наших дней осталось только три, среди которых </p>
<p>117. вот этот старый или казацкий Рождественский собор построен еще в 1617 году на месте древнекиевского собора и был главным </p>
<p>118. храмом стародубского полка... Вся несимметричность, хаотичность </p>
<p>119. храма, обшарпанность и запущенность стен делают из него истинного Тараса Бульбу, представителя казацких "лыцарей" с их странными привычками и собственным кодексом чести. Певцом этих</p>
<p>120. людей стал великий Гоголь, обрисовавший так ярко и страшно, что до сих пор мы не можем отойти от удивления и определить себя:</p>
<p>121. - в нашем отношении к Бульбе чего больше - любви и восхищения,</p>
<p>122. или страха и негодования?</p>
<p>123. А вот А.К. не стал казачьим певцом, хотя и был прямым потомком казаков и вырос на Украине, получил от своих казацких предков не только поэтическую, но и физическую огромную силу. Он не стал певцом казаков, хотя душой стремился к ним - ... настолько духу его была ненавистна неупорядоченная и негуманная сила станичников.</p>
<p>124. С детства мягкий и впечатлительный, воспитанный дядей-писателем Перовски-Погорельским, поездками в Европу с ее культурными сокровищами, где он ребенком даже сидел на коленях у Гете, Толстому по сердцу была больше, наверное, вот</p>
<p>125. эта Николаевская церковь в стиле европейского классицизма на стародубском взгорке. А служение искусству он противопоставлял</p>
<p>126. грязной политике... Но вот не спасла красота, померкла в революцию и уступила место примитивной мысли о </p>
<p>127. народной пользе. И Бог весть, когда мы из нее еще выпутаемся.</p>
<p>128. Тютчев: Нам не дано предугадать, /Как наше слово отзовется,<br/>
                                           И нам сочувствие дается, /Как нам дается благодать...</p>
<br/>

{% endblock content %}
