{% extends 'base.html' %}
<title>Раздел 1. Мои первое и главное путешествие на Запад</title>
{% block content %}



<h2>Глава II. Школьные годы</h2>
<h3>Раздел 1. Моё первое и главное путешествие на Запад в Германию-Польшу 
(1946-48гг.)</h3>
<p>Лет через тридцать после нашего переезда из заводской комнаты в Филях в 
четырехкомнатную кооперативную квартиру в Печатниках, меня неожиданно окликнул 
сосед по дому: «Простите, но Вас я, кажется, припоминаю. Вы в первом классе не у 
Лидии Ивановны учились? Да-да, город Швейдниц, в Польше, бывшей Германии...»</p>
<p>Конечно, я помнил свою первую учительницу, но был просто поражен способностью 
одноклассника опознать в постаревшем мужике семилетнего мальчишку. Конечно, мы 
разговорились, и хотя близкие отношения у нас так и не сложились (довольно скоро 
я перестал его встречать), но этот человек походя подарил мне очень интересную 
мысль. Он заметил, что все, кто хоть часть детства провел на Западе, стали не во 
всем советскими людьми, как бы изначально расширив себя на Запад. Правда, у него 
это детское время длилось около пяти лет, но и я, пробывший там всего пару лет, 
сразу с ним согласился.</p>
<p>После окончания войны мой отец не спешил с демобилизацией - он ведь и войну 
начинал профессиональным военным авиатехником. Квартира в Харькове была 
разбомблена, жена с сыном жили временно у родителей в Москве. Начинать надо было 
с нуля. Наверное, он рассчитывал остаться в армии навсегда, и ему это обещали. 
Как подтверждение последовало разрешение на перевоз семьи по месту службы в 
Германии.</p>
<p>За несколько месяцев до поездки за нами, осенью 1945г.,  у 
отца  с сослуживцами была "экскурсия" в побеждённый Берлин, от 
которой  в семейном альбоме остались виды отца у стены и на крыше 
рейхстага,  колонна на площади и девушка-регулировщица. </p>
<p><img alt="" height="268" src="/static/images/detyun/glava234/0050-42.jpg"/>
<img alt="" src="/static/images/detyun/glava234/0031-3.jpg" width="230"/>
<img alt="" src="/static/images/detyun/glava234/0031-4.jpg" width="260">
<img alt="" height="298" src="/static/images/detyun/glava234/0050-44.jpg"/>
<img alt="" height="300" src="/static/images/detyun/glava234/0050-43.jpg"/></img></p>
<p> Ранней весной 46 года, собрав за несколько дней документы и пару 
чемоданов белья, мы покинули хмурую мартовскую Москву. Сама поездка «на чужбину» 
запомнилась лишь ночной пересадкой в знаменитом Бреслау (нынешний Вроцлав) из 
нашего привычного теплом и уютом общего вагона со спальными вторыми полками в 
какой-то сидячий неудобный польский вагон с проваленными багажными сетками над 
головами, в котором ехали до города Лигниц.</p>
<p>Но вот ночное вселение и утреннее пробуждение в двухэтажном немецком особняке 
с палисадником на перекрестке небольших улиц показались мне сказочными. Огромные 
бархатные диваны, стенные шкафы, гигантские напольные маятниковые часы, 
блестящий черный рояль перед парадной лестницей и куча чего-то непонятного. Еще 
запомнилась старинная сабля, с которой я играл очень недолго - все-таки сабля не 
игрушка, да и припасенная отцом заводная кошка на колесах, передвигающаяся по 
огромным комнатам, была интереснее. Из переполненной комнатушки в стандартном 
доме на московской окраине с дровяными сараями, общими отхожими местами на 
морозной улице, частными чадящими керосинками на мрачной коммунальной кухне мы 
вдруг перенеслись в невиданные хоромы, да еще в роли новых хозяев. Прямо по 
поговорке: «из грязи - в князи». Впрочем, к моим родителям эту уничижительную 
поговорку относить было бы несправедливо. В отличие от мародеров (а их хватало в 
Советской армии) моим родителем не приходило даже в голову считать себя 
«победителями» или «законными князьями». Они выросли из крестьян-солдатских 
детей и по духу были разночинцами. Этот особняк в Лигнице так и остался для нас 
временной игрушкой. Кстати, он был слишком велик для рядовой офицерской семьи, и 
второй этаж заняли другие офицеры, которые свое жизненное обустройство начали с 
выбрасывания на улицу рояля руками своих бойцов. Помню, как родителям было не по 
себе от этой первой «культурной операции» соседей, но и сил препятствовать 
вандализму не было. Они не чувствовали себя виноватыми перед исчезнувшими 
хозяевами лигницкого особняка за то, что живут в нём, но вот крестьянский стыд 
за разрушение не ими созданного богатства был. И я помню возмущение отца 
«нашими», которые заходя в немецкий дом, старались прежде всего напакостить, 
раздирали богатые гардины на портянки или еще хуже - разводили костер на паркете 
при исправных печах -«Зачем?» Его возмущение естественно соединялось с 
восхищением добротностью и разумной устроенностью немецкой жизни: «У них даже 
коровы сами себя поят в автопоилках». Такие отзывы я слышал и от других 
фронтовиков, закончивших войну в Германии. Как правило, их наблюдения 
соединялись с безнадежным выводом: «Наши так никогда не смогут!».</p>
<p>Российская эта безнадежность была основана, к сожалению, на богатом 
историческом опыте вечно подневольной жизни и работы не на себя или на равного 
тебе потребителя, а на властелина. Краткие расцветы экономической свободы типа 
НЭПа, когда русские мужики могли начинать делать хорошо и разумно для себя и 
иных товарищей по рынку, кончались жуткими катастрофами типа коллективизации и 
голодомора. Тогда выживали лишь те, кто мог украсть колоски с колхозного поля и 
выглядеть победнее. Именно такой опыт и вносился в родовую память, в знаменитый 
русский менталитет. Но эта привычка к бедной и вороватой жизни начинала трещать 
и наводить тоску о лучшей доле при сопоставлении с опытом жизни иных народов. 
</p>
<p>В большом Лигнице мы жили недолго. Через несколько месяцев отца перевели в 
городок Швейдниц, на краю которого располагался военный аэродром с 
раскуроченными немецкими и советскими самолетами, так что занятый ремонтом отец 
приходил обедать домой прямо с аэродромного поля. Нас поселили в более привычные 
для советских людей условия, в какие-то служебные помещения с коридорной 
системой, но в трех отдельных комнатах. Быт наладился довольно быстро, тем 
более, что теперь мы приехали уже не с парой чемоданов, а с целым грузовиком 
семейной мебели и барахла. </p>
<p>Городские кварталы были от нас совсем рядом, и потому именно Швейдниц остался 
в моей памяти главным немецким городом, в котором я прожил свой первый класс. 
Как помнится, он был очень похож на типичные немецкие городки на почтовых 
открытках , правда, с частыми развалинами от бомбежек, где мы, детвора, любили 
находить разные занятные предметы (слышно было и о трагических подрывах на 
неразряженных боеприпасах.) Потом еще долгие годы я помнил запахи руин и 
запущенных подвалов. Эту часть Германии союзники передали Польше взамен 
отобранных СССР Западной Украины и Белоруссии. И потому всем немцам предстояло 
поголовное выселение на Запад ( или в Сибирь в случае сопротивления). Они в 
подвалах еще оставались и старались не попадаться русским завоевателям на глаза. 
Только немецкие женщины рисковали подходить к русским «фрау» с просьбой о работе 
(стирка, мытье полов и т.п.) для пропитания. Первые этажи городских улиц 
постепенно заселялись польскими торговцами, но сам каменный город был еще 
немецким и именно он остался мне на жизнь не картиной, а родным ощущением, 
сгруппированными в памяти какими-то кусками. Осязательные ощущения от немецкого 
города я испытал вновь в июне 1969, когда мы приехали в Калининград, бывший 
Кенигсберг (<a href="/Part3/Koenigsberg/">д/ф "Умирающий Кёнигсберг"</a>). 
Знакомство с Кёнигсбергом было началом знакомства с западными землями Союза (
<a href="/Part3/Nida/"> Воспоминания о Ниде</a>, 
<a href="/Part3/Latvia/"> Латвия</a>, 
<a href="/Part3/Tallin/"> Эстония</a> и 
<a href="/Part2/Pskowsri_kreposti/"> Псковские крепости</a> ) 

</p>
<p>...Жаркий летний день. По единственной городской улице длиннющей колонной в 
течение многих часов движется советская кавалерийская часть со всем имуществом. 
Они, наверное, где-то будут загружены в эшелоны и отправлены на родину. Идти им 
тяжело и нет никакой радости на лицах. И мне это запоминается контрастом к 
летним праздничным эшелонам 45 года, когда через Москву на родину возвращались в 
теплушках победители, швыряя в ликующих филевских мальчишек немецкими монетами и 
еще чем-то интересным. А сейчас кавалеристам тяжело, но дома будет еще 
тяжелее... И они об этом догадываются.</p>
<p>А вот другое воспоминание - радостное от свежести после купания в пригородном 
озере с загоранием на гладких гранитных плитах. Всезнающие ребята говорят, что 
эти плиты готовили на памятник Гитлеру. Лежать на них хорошо, хотя и страшно. 
Говорят, недавно с них нырнул какой-то парень в озеро и не вынырнул, напоровшись 
на железный штырь.</p>
<p>И ещё. Я почему-то бегу с мальчишеской ватагой по полю, с воплем забегаю в 
сторожку, хватаю с ее стены парусную модель и с тем же воплями мы убегаем 
обратно мимо ошалевшего от нас сторожа. Что это и зачем - не помню, кроме дикого 
вопля-восторга от грабительского набега. Подобного восторга я больше никогда не 
испытывал. Странно, что именно в немецком Швейднице мне довелось участвовать в 
русской хулиганской команде, чтобы не испытывать этого больше никогда. Почему? 
Может, проснулась совесть от растерянного лица немецкого (или польского) 
сторожа, наверняка доброго, но ограбленного нами, и я уже тогда потерял все 
шансы стать бандитом или карьеристом, стать успешным в российских условиях...</p>
<p>Но основные нравственные уроки мне всегда давала мать. Первую четверть 
первого касса она неотступно сидела со мной, пока я выполнял довольно суровые 
домашние задания заслуженной и всеми уважаемой Лидии Ивановны. Обозначенное в 
букваре задание надо было повторить в тетради десять раз. Наверное, я просто выл 
от натуги, но мать не отступала и награждала потом пирожками за усердие, пока 
мне не стало легко делать задания. Она смогла не обозлить меня, а помогла 
преодолеть себя и понять, что хорошая работа и учеба гораздо проще решает все 
жизненные проблемы, чем канюченье или хитрость. Увидев, что я справляюсь, мама 
раз и навсегда прекратила заставлять, но не забывала регулярно интересоваться 
моими отметками и успехами. Примерно также доброжелательно вела себя и 
учительница. В общем, мне сильно повезло с ними обеими.</p>
<p><img alt="Первоклассники. Витя в верхнем ряду крайний слева" src="/static/images/detyun/glava234/0044-28.jpg" width="467"/></p>
<p>Первоклассники. Витя в верхнем ряду крайний слева</p>
<p>В первом же классе мать отучила меня от домашнего воровства. Оно проявилось 
довольно невинно: одноклассник принес какую-то захватывающую модель самолета и 
сказал, что может ее уступить за сорок рублей. Это были небольшие деньги - 
школьный завтрак стоил десятку, и я рассчитывал их собрать, Но поскольку я знал, 
где лежат родительские деньги, то решил временно позаимствовать красную 
тридцатку.</p>
<p>Однако мама быстро обнаружила пропажу, и реакция ее была безжалостной. 
Приобретенный краденными деньгами самолет был уничтожен без всякой надежды на 
восстановление, а с меня взято обещание впредь никогда и ни при каких 
обстоятельствах не брать ничего без спроса. </p>
<p>В Швейднице мы прожили только год. Условия для оккупационных советских войск 
закономерно ужесточались, пока их вообще не загнали в казармы. Следующим местом 
службы отца стал русский закрытый военный городок при аэродроме под Заганом на 
польско-германской границе.В советскую школу ребятишек ежедневно возил грузовик 
с брезентовым верхом, так что Заган мы видели только мельком, а из рассказов 
мамы, изредка вместе с другими женщинами выезжавшей в город, я мог слышать 
только о торговле с «высокомерными панами» и о словесных стычках с ними. Вполне 
понятно, что поляки лишь терпели русских «освободителей», а те отвечали им 
«взаимностью». </p>
<p>С тех времен помню антипольский анекдот в нашей семье. Поляк спрашивает 
русского, когда советские войска выполнят обещание покинуть Польшу, а тот 
отвечает:«Когда польский бело-красный флаг окончательно покраснеет» (кстати, так 
собственно и происходило в течение почти полувека). Позже, когда мне было 
неловко за антипольский настрой в семье, я связывал его с давней 
польско-украинской враждой, но потом понял - не в традициях дело. </p>
<p>Мою мать особенно возмущало, что из голодающей в 47 году России в 
относительно сытую Польшу шли хлебные эшелоны. Такова была сталинская политика 
подкармливания враждебного польского населения, наплевав на вымирание 
собственных покорных «граждан». Понятно, что маме, посылающей из Польши 
родителям в голодную Москву продуктовые посылки, было обидно сознавать, что в 
ответ на советскую помощь она слышит от поляков не сочувствие и благодарность, а 
пожелание скорейшего исчезновения. Мотивов сталинской политики мама не знала, 
хотя в Сталине не сомневалась. Я помню, как на одном из застолий мама  
хотела поднять тост «За Сталина!» и получила от знакомого офицера: 
предупреждение:«Это будет  неуместно». </p>
<p><img alt="Русские жёны офицеров, г. Швейдниц, сентябрь 1946г. Мама с подругой сидят в центре" src="/static/images/detyun/glava234/0025.jpg" width="427"/>
<img alt="Мамина подруга" height="280" src="/static/images/detyun/glava234/0044-18.jpg"/></p>
<p>Русские жёны офицеров, г. Швейдница, сентябрь 1946г. Мама с подругой (она же 
отдельно) сидят в центре.</p>
<p>Со временем я понял, как хорошо, что мы быстро уехали домой, в свое 
российское «стойло», а при Горбачеве распростились-таки с имперской мечтой о 
покраснении Польши. Спасибо ему за это! </p>
<p>Надежды отца на продолжение армейской службы не оправдались. 
Армию-победительницу урезали и сокращали пинками и даже унижениями. Естественно, 
про последнее говорил не молчащий отец, а возмущающаяся мать. Именно так она 
восприняла отмену для фронтовиков почти всех крохотных льгот и выплат за боевые 
ордена и медали. Но это была мелочь. Гораздо хуже, что начало меняться отношение 
к отцу. Ему стали настоятельно рекомендовать демобилизацию, подчеркивая, что 
есть только один путь остаться в армии: поступать на учебу в военную академию 
ради получения прав на карьерный рост. Но шансов на поступление в Академию с 
учетом возраста и всего лишь средне-технического образования (да и то, на 
украинском языке) в условиях тогдашней конкуренции у моего отца почти не 
было.</p>
<p><img align="left" alt="" height="260" src="/static/images/detyun/glava234/0031-2.jpg"/>
Отсутствие высшего образования работе сутками на аэродроме не мешало, но 
дослужить 25-летний, необходимый для военной пенсии срок, мешало, ибо угрозе 
попасть в безжалостную очередь на демобилизацию подвергались и на более близкие 
к начальству офицеры. Отец, в конце концов, сломался и подал ожидаемый 
начальством рапорт. И как мать ни просила еще сходить и упросить дать дослужить 
оставшиеся два с небольшим года, он остался непреклонным: «Раз я стал не нужным, 
уйду». Наверное, он сделал правильно, сохраняя свое человеческое достоинство, 
тем более что его просьба, наверняка, не была бы удовлетворена. Ибо старинное 
правило «мавр сделал свое дело - мавр должен уйти» заменилось еще более жестким 
«умри ты сегодня, чтобы я или мой кореш мог жить завтра». Я не доучился второй 
класс в заганской школе. В апреле 48 года - мы вернулись к маминым родителям в 
Москву. </p>
<p>И только после перестройки, в 1993г., получив загранпаспорт и возможность 
велосипедных поездок по Германии, Польше и всей Европе, мы сделали попытку 
вернуться в моё детство. У немецкого Герлица мы пересекли польскую границу и 
мимо крупного и сегодня Загана доехали до старого Лигница. Но я его не узнал. А 
дальше получилось ещё хуже. За время долгого велопробега от Брюсселя, шины 
Лилиного велосипеда пришли в негодность, а на разбитой бетонке, ведущей в 
Швейдниц, они стали просто разлезаться. Нам пришлось пешком возвратиться на 
вокзал и дальнейший путь до Бреслау(Вроцлав) и до Москвы делать на поезде. </p>
<p>Мое возвращение в Щвейдниц всё же состоялось, но только виртуально с помощью 
объявившегося в Интернете сайта о советской школе в этом городе, на который меня 
вывел соученик, прочитавший раньше появившиеся на нашем сайте мои воспоминания о 
поездке на Запад. Теперь на нашем сайте присутствует <a href="/family/Schweidnitz/">собрание подобранных в то время почтовых 
немецких открыток</a>. Так они спасены от забвения, и хотя до сих пор не 
переведены на русский язык, но своим видом напоминают о знакомом с детства 
прекрасном мире. </p>
<p>А весной 1948 года мы поехали в Москву богатыми, как победители, за счет 
Германии. Грузовой двухосный вагон был загружен почти доверху мебелью и 
трофейным имуществом, ставшим собственностью трех офицерских семей, которые сами 
ютились на узлах тут же. Конечно, досмотр польских пограничников в конфедератках 
с язвительными улыбками на лицах («Давайте-давайте, тащите быстрее немецкое 
барахло») был достаточно поверхностным, тем не менее наш эшелон тащился 
медленно, с бесконечными многочасовыми остановками, прежде чем его поставили под 
разгрузку где-то рядом с Филями, откуда через день заводская полуторка за 
несколько рейсов перевезла все немецкое богатство... на «дачку». Оказалось, перед 
нашим приездом дед на свои трудные сбережения купил половину развалившегося за 
войну деревенского дома в соседней подмосковной деревне Мазилово («дачку», по 
его выражению), где нас и заскладировали вместе с «барахлом». Первые месяцы мы 
жили в нем, как в сарае. Слава Богу, весна-лето 48 года не было холодным, а до 
осени отец успел как-то укрепить и утеплить дом (сложили печь, поставили зимние 
рамы, обшили тесом и фанерой), который стал главным домом моего детства (с 3-го 
по 8-й класс). А уничтожен он был в годы моего студенчества и хрущевских 
пятиэтажек, которые ликвидировали не только сталинские кварталы «стандартных 
домов соцгородов» (слава Богу), но заодно и такие деревни, как мое родное 
Мазилово с нашим домом. Утешает лишь то, что дед Митрофан успел в своём доме 
пожить несколько лет, выйдя на пенсию.</p>
<p>В мае 48 года я уже учился в филевской школе, мать сразу стала заводской 
медсестрой «Москватоли», а отец, не долго думая, по протекции деда поступил на 
трубный завод в транспортный цех. Фронтовик, капитан ВВС взамен учебы в Академии 
стал рабочим-кладовщиком и оставался им практически до глубокой старости. Да, он 
не был карьеристом - говорю я без сожаления и с любовью. Ведь я привык им 
гордиться, в том числе и за решительный отъезд из бывшей Германии-Польши, </p>
<p>До сих пор в моем доме есть привезенные трофейные вещи, как зримая память о 
чудесной стране моего детства. Вообще-то вслед за родителями я привык не очень 
ценить вещи, иной раз даже пренебрежительно называя их </p>
<p>«барахлом». Но теперь, когда уже почти вся жизнь прожита с ними, когда с ними 
сроднились дети и знакомятся внуки, я вижу, что был не прав в принятом в моей 
среде к ним пренебрежении. Ведь они - богатство, которое не оценить деньгами, 
</p>
<p>И тем не менее, главное сокровище - в личной памяти. Так уж получилось, что 
именно в Германии я увидел добрый <a href="http://www.youtube.com/watch?v=e8Q5j_DeXXU"> фильм про Золушку по сценарию Евгения Шварца</a>, 
бережно пересказавшего сказку Ш.Перро. И именно тогда киношный облик маленького 
королевского городка-дворца у меня соединился с обликом старого силезского 
городка Швейдниц и стал буквально главной сказочной памятью моего детстве, 
сделал меня немного немцем задолго до того как я стал русским дедом двух 
немцев, внука и внучки. И думаю, что еще и потому я в жизни такой счастливый. Спасибо, 
моя Германия! Надеюсь, что ты уже не в обиде за присвоенные нами вещи - в них 
осталась добрая о тебе память. </p><table width="600"> <tr> <td>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel2-2.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
