{% extends 'base.html' %}
{% block title %}Раздел 2. Наша жизнь в подмосковном Мазилове{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава II. Школьные годы</h2>
<h1>Раздел 2. Наша жизнь в подмосковном Мазилове</h1>
<p>Итак, весной1948 года мы быстро вернулись в Москву, вернее в купленный 
дедом  деревенский полудом в соседнем Мазилове. Здесь прошли  
нелегкие, но в целом для меня благополучные позднесталинские годы, когда я 
впитывал коммунистично-партийное одноверии отца. На чердаке мазиловского 
деревенского дома, в пыли и обломках старых икон я нечаянно наткнулся на часть 
старого учебника «Закона Божия» и с интересом прочёл её. Но воспринимал эти 
страницы я как  сказки,  старые христианские легенды. Естественным 
образом, от радио и школьных книг я, стал обычным филевским школьником, 
напичканный «научными и космическими фантазиями».</p>
<p>И всё же остатки деревенского быта Мазилова и старых Филей, правда, 
замусоренного гниющими кузовами машин в пойме речки Фильки, и реставрируемый, хоть и медленно,  царственный храм в Филях приучали душу 
к мысли о том, что это все есть общее наследие моей страны, России, которое мне 
надо помнить слитно с памятью о своих православных предках. И действительно уже 
нет ни деревень Фили и Мазилово, ни речки Фильки, но жива торжественная память 
прекрасного Покровского храма в Филях 
(фильмы <a href="/Part2/Moskwa_2/">"Московские церкви"ч.2</a>, 
<a href="/Part3/Vesna_sveta/">«Весны света»</a>)

</p>
<p>У моего деда Митрофана Степановича в те годы практически не было 
авторитета. Жена по старинке оказывала ему уважение, но младшие дети, особенно 
Соня, почти в глаза ему дерзили и упрекали за скопидомство и несовременность, 
ссылаясь на пример его старшего, более удачливого брата Ивана Степановича: и под 
раскулачивание не попал и с начальством умел ладить. Покупку участка земли с 
половиной избы в Мазилове они считали отцовской глупостью, но оказалось, что 
таким «нерасчетливым поступком» дед обеспечил жильём семью дочери Татьяны и тем 
определил мое собственное почти деревенское детство взамен барачных филевских 
подворотен. И только сейчас я могу оценить всю удачность для меня этого дедова 
«скопидомства», позволившего ему, а по сути, нам, иметь свою недвижимость. Да, 
жизнь в деревенском доме была совсем нелегкой, связанной с ежедневными 
хождениями по грязи еще незасыпанных противотанковых рвов к филевским заводам, в 
магазины и школу, с вечной заготовкой дров и ношением воды из дальнего уличного 
колодца, с кормлением кур и поросенка... </p>
<p><img align="left" alt="" height="262" src="/static/images/detyun/glava234/0044-36.jpg"/>
Но зато овражные спуски на 
санках к чистой Фильке зимой, зеленая от травы наша Полевая улица летом, с 
удобными местами для игры в городки, пригодный для купания недалёкий проточный 
пруд у Филевского лесопарка делали для матери неприемлемой даже мысль об 
отправке меня из дома в пионерлагерь. Ни одного пионерлагеря я так и не узнал. 
Знал только свой мазиловский дом, посильные по двору обязанности и чтение 
взахлеб. Кстати, именно летом я очень много времени проводил один, но 
одиночества мне даже как будто не хватало. Поэтому в хорошую погоду я устаивал 
из пары половиков и коврика у стены террасы собственное бунгало, куда и 
забирался не только с учебниками перед экзаменами, но и просто с книгами. Так 
купленный дедом и перестраиваемый вместе с отцом дом в Мазилово как бы вложил в 
меня на всю последующую жизнь простые мещанские желания и привычки. Я стал 
нормальным мазиловцем, подмосковным жителем. Кстати, сразу за нашими окрестными 
огородами и колхозным полем тянулись Белорусская железная дорога и Можайское 
шоссе, ведшее к огородам под картошкой на Поклонной горе, за ними виднелся 
таинственный лес «калининской», на деле, сталинской ближней, кунцевской дачи - и 
еще дальше поднимались краны высоток Московского университета. </p>
<p>Деревня получила название от старинного занятия её жителей, смазывающих 
деревянные оси и ступицы колес дегтем и проводивших иной тележный ремонт карет и 
телег, съезжавших в неё с Можайского тракта. Особое впечатление моего детства 
было связано с тем, что один из одноклассников принес в класс пушечное ядро, 
найденное им на своем огороде у Поклонной горы. Конечно, французы здесь не 
держали своих огневых позиций, но вот потеря ядра одной из отступающих русских 
колонн была понятной, Для нас же это была встреча с реальной историей почти на 
соседнем огороде. А с другой стороны деревни лежал барский пруд, из которой 
вытекала речка Филька, которая впадала в Москва-реку прямо  у Западного 
порта  уже достаточно грязной. У Кастанаевки и нашей деревни она была еще 
прозрачной, пригодной для купанья и пескарных запруд. </p>
<p>Слава Богу, еще жив и здоров Александр Павлович Аракчеев, мой одноклассник со 
2-го по 4-й класс 590 московской (филевской) школы и сосед по деревне Мазилово. 
И потому в нашей с ним памяти до сих пор еще жива подмосковная деревня Мазилово 
со всеми ее яркими от детства впечатлениями. Мы не были соседями: я жил на 
Полевой улице, ближе к Москве и железной дороге, Шура - подальше на Главной 
улице, которая потом, после слияния Мазилова и Кунцева с заводской Москвой стала 
прямым продолжением Кастанаевской улицы Москвы, сразу за сельским магазином и 
колхозным домом культуры, но ближе к началу деревни у деревенского пруда, из 
которого вытекала наша Филька. Главный пруд моего детства жив до сих пор, хотя 
уменьшен до прямой неузнаваемости. А ведь именно его я впервые решился 
переплывать на мяче и лишь потом, обретя уверенность, переплыл соседнюю 
Москва-реку, по которой ходили грузовые и пассажирские теплоходы и в которой 
даже тонули старшеклассники из нашей школы, как говорили, едва ли не на глазах 
друзей. Мой путь к купанию часто шел именно через дом Шуры, 
<img align="right" alt="" src="/static/images/detyun/glava234/0050-18.jpg" width="159"/>
вернее, пристройку к 
дому. Жили они с матерью (отец погиб на войне) очень бедно и потому гораздо чаще 
именно Шурик приходил в наш дом, где были и книги, и немецкие часы с боем, и 
мягкие стулья. Для него наш дом был подобием богатого, почти барского дома, хотя 
на деле, конечно, все это «богачество и культура» были очень относительны. Но, 
как я сейчас понимаю, они для Шурика в его детстве были очень важны, примерно, 
как для меня самого была важна поездка в сказочную Германию. Можно сказать, что 
для Шурика знакомство с нашим домом было опосредованное знакомство с Европой, 
через которое и он стал тоже чуть европейцем. Наша взаимная расположенность 
оказалась долгой, можно сказать, на всю жизнь, хотя могла прекратиться после 
окончания 4-го класса и перевода всех старшеклассников, живших в деревне 
Мазилово, в школу Кунцевского подчинения. Она была ближе к дому Шурика, а наш 
дом, по мнению родителей, был ближе к московской школе и потому мы разошлись, но 
как оказалось, не навсегда. Заслуга в верности этому детскому знакомству 
принадлежит прежде всего Шурику,
который уже давно отслужил армейский срок, перестал быть Шуриком, откликается на 
имя Саша, имеет приличную электромонтерскую профессию, большую семью, внуков и 
даже правнучек, но по давней с детства привычке связывается со мной на Новый год 
в день рождения по телефону каждый год и даже приезжает. И пока он это делает, я 
продолжаю благодарить его за живую память.</p>
<p>Другой мой одноклассник -дружок Валерий Антипов
<img align="left" alt="" height="250" src="/static/images/detyun/glava234/0050-17.jpg"/>
был приезжим (его отец-офицер вечно кочевал по 
гарнизонам, вплоть до начала своей учебы в Академии Генерального Штаба) и 
появился в нашем классе довольно поздно, но был очень разговорчив и развит. Жили 
они в деревне Фили  на Красной улице (параллельной будущей линии 
метро) в бедном деревенском доме. Но зато рассказов от него я услышал 
немало (особенно впечатлила меня трагедия бывшего немецкого линкора (крейсера) 
«Императрица Мария», погибшего в Севастополе, прямо у берега). Ещё у меня была 
переписка с Валерием примерно этих лет и студенческих - в ней слышатся отзвуки 
наших юношеских споров. В последний раз мы виделись с Валерием, уже после 
окончания института (он кончал Харьковский авиационный институт) на  его 
свадьбе, а потом дороги наши разошлись.</p>
<p>Еще более кратким было время юношеской дружбы троицы из школы 590, к которой 
я примыкал и которая в 1954 году перешла в бывшую женскую школу 63: Толя Михеев, 
Валерий Дутлов, Володя Гулин.</p>
<p><img alt="4е класс, учительница Нина Ивановна, я справа от неё" src="/static/images/detyun/glava234/0044-29.jpg" width="471"/></p>
<p> 4 "е" класс, учительница Нина Ивановна, я справа от неё</p>
<p><img alt="6е класс, математичка Нина Ефимова, я смотрю в парту" height="300" src="/static/images/detyun/glava234/0044-30.jpg"/>.</p>
<p> 6 "е" класс, математичка Нина Ефимова, я смотрю в парту</p>
<p>На  фото 1954 года  я  с Соней и мамой в огороде, а также 
соседка Зоя -  дочь погибшего в войну прежнего хозяина мазиловского 
дома. Мне запомнилось, что она смеялась над милиционерами-«краснооколышными» 
петухами» звала их.</p>
<p><img alt="На  фото 1954 года  я  с Соней и мамой в огороде" src="/static/images/detyun/glava234/0050-57-1.jpg" width="250"/>
<img alt="соседка Зоя - дочь погибшего в войну прежнего хозяина мазиловского дома" height="267" src="/static/images/detyun/glava234/000021.jpg"/></p><table width="600"> <tr> <td>
<a href="Rasdel2-1.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel2-3.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
