{% extends 'base.html' %}
{% block title %}Раздел 12.Публичная «казнь» на училищной{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава III. Студенческие годы (1956-1962гг.)</h2>
<h1>Раздел 12.Публичная «казнь» на училищной конференции</h1>
<p>Интересно, что совершив свою спонтанную, неожиданную для всех вылазку на 
факультете и, наконец, войдя в прямое столкновение с официальным комсомолом, я 
совершенно не понимал, что с точки зрения своих «кураторов» явно зарвался, 
начинаю выходить из-под контроля, становлюсь опасным и потому заслуживаю 
серьезного наказания. </p>
<p>Через неделю с лишним состоялась общеучилищная годовая комсомольская 
конференция. Официальное участие в ней принимали делегаты по спискам от 
факультетских конференций. Меня, естественно, в списках не было, так что и 
готовиться было не к чему, тем более что и внутреннее мое состояние было 
довольно смутным. </p>
<p>Тревожил какой-то вакуум вокруг - я открыто высказал свои идеи письменно и 
публично, т.е. поступил согласно старому правилу: «Делай, как знаешь, а там 
пусть будет, что будет», и что же произошло в итоге? - А ничего, почти полное 
молчание - и сверху, и снизу...  Ну, был очень важный для меня частный спор с 
Володей Н., и был начат открытый спор на факультете, но потом - глухое молчание 
со всех сторон, в котором я должен был бы снова и безнадежно завязнуть, чтобы, в 
конце концов, придти к взрослой «разумности». Но мои кураторы поступили на этот 
раз по-иному, избрав публичную порку, хотя сильно мою ситуацию она не 
изменила.</p>
<p>Неожиданно за день до училищной конференции ко мне и еще нескольким студентам 
моей группы обратился В.Шадрин, член факультетского бюро и наш сокурсник, с 
настоятельным предложением придти на училищную конференцию по пригласительным 
билетам со всеми правами участия, кроме права решающего голоса. Его 
настойчивость меня удивила и как-то подкупила, как будто судьба нежданно 
предоставляла мне возможность еще одного выступления (не мог же я предположить, 
на что меня зовут). Остальные этот зов восприняли, как привычную 
заинтересованность в наполнении большого зала.</p>
<p>После начальных недлинных докладов и сообщений, слово было предоставлено 
заведующему кафедрой Истпата Патрикееву, который вдруг повел речь обо мне 
примерно следующим образом: «В то время как весь советский народ, все мировое 
человечество целиком приветствует и одобряет успехи, планы и решения нашей 
партии, в наших рядах находятся отщепенцы, которые клевещут на партию и 
советскую власть - я имею в виду студента Сокирко. В то время как самые рьяные 
враги советской власти, даже такие как монархист Шульгин, признают заслуги нашей 
власти перед Россией, Сокирко смеет заявлять, что советская власть это только 
«ширма», что партийное руководство должно исчезнуть, направляет в партийные 
органы такие пасквили, как «критику программы партии»...  Конференция должна 
определиться в своем отношениям к подобным вражеским вылазкам!»</p>
<p>Патрикеев кончил свою речь под аплодисменты и негодующие против меня крики 
«Где этот гад?» К микрофону подходит Шадрин: «Должен сообщить, что Сокирко 
присутствует в зале...  Предлагаем конференции потребовать от него удалиться за 
недостойное и позорящее звание комсомольца поведение и перейти к работе по 
повестке дня». Председательствующий мгновенно продолжил: «Кто за? Против?...  
Единогласно. Сокирко, покиньте заседание».</p>
<p>Поднявшись с места, я громко, на весь зал, пытался просить возможности 
объясниться, но тут же был прерван микрофоном: «Нет, вопрос о Вашем пребывании 
уже решен, а вопрос о Вашем поведении конференция примет позже и без Вашего 
участия. Переходим к работе по повестке дня» </p>
<p>Остаток заседания я провел в холле под звуки динамиков из зала, не один раз 
высказывающих свое возмущение и презрение в адрес моего предательского 
поведения...  Кто-то прямо требовал расстрела...  Передать, что я при этом испытывал, 
трудно. Конечно, не страх, я понимал, что это лишь эмоция и оборот речи. Нет, 
душило чувство обвала, потери почвы,что, может, даже страшнее. Не один раз в 
голове мелькало: «Вот так в 1937 году, наверное, было... » Так искренно «отстаивал 
коммунизм», а, оказывается, тебе не комсомолец имя, а враг народа. И это 
происходит не в диком сне, а с тобой наяву и вот сейчас...  </p>
<p>Объявили перерыв, и в фойе хлынули с облегчением участники, опасливо (а 
может, с тайным участием) обходя круг отверженности вокруг меня. Я понимал, что 
нарушить его и тем проявить участие к врагу участникам было нельзя, чтобы не 
стать столь же заразными. И только один раз нарушил табу. Увидев Шадрина, с 
усилием встал на затекшие ноги и окликнул его: «Ты знал, что будет? И ты именно 
для этого звал меня?» Он ответил, почти не смущаясь: «Я был обязан это 
сделать».</p>
<p>Я досидел в фойе свою публичную казнь до конца, выслушав в решении и свой 
пункт: «Новому составу комитета ВЛКСМ рассмотреть вопрос о пребывании Сокирко в 
рядах ВЛКСМ и обратиться к дирекции с предложением рассмотреть вопрос об 
аннулировании его оценок по общественным дисциплинам и отчислении из МВТУ». </p>
<p><strong><em><font size="4">Растерянность.</font></em></strong> Я плохо помню 
все последующие разговоры...  Взамен вчерашнего одиночества на меня обрушилась 
волна сочувствия, меня бросилось «спасать» множество людей и в том было главное 
отличие хрущевского времени от сталинских лет, когда любой звук в защиту 
осуждаемого тут же ставил произнесшего в тот же смертный ряд. Конечно, не было 
открытого протеста, а было лишь желание спасти меня от исключения из института и 
слома жизни. Практически все говорили о том, что, конечно, я виноват и должен 
быть наказан, но более мягко, с возможностью «исправиться». </p>
<p>И сам я с ними соглашался!.. Куда вдруг от одного публичного разноса делись 
все мои призывы бороться за правду и коммунизм? Почему не решался заявлять, как 
герой: «История меня оправдает!». Неужели только от страха? Нет, конечно. 
Реальных испытаний и страха от столкновений с системой я еще не знал и бояться 
их не умел. Как не понимал, что значит «бороться». На уровне действий «борьба за 
идеалы» сводилась к смелым призывам, а «борьба за людей» - к привычным просьбам 
об исправлении в духе официальной идеологии. И если я из «героя-целинника» был 
переставлен в смертельные враги, то борьба за меня и должна была вестись на 
почве не вражды с системой, а правоверности. Ощущение себя как советского 
человека и верующего коммуниста сохранилось на долгие годы, даже после того, как 
я с публичной трибуны говорил о советских органах, как о ширме партийной власти, 
а коммунизм у меня соединился со свободным рынком. Я никогда не ощущал себя 
жертвенным борцом с режимом.</p>
<p><strong><em><font size="4"><a href="/ideology/pv1/8.html">Защита группы</a>.</font></em></strong> В таком духе
стали действовать прежде всего мои сокурсники. Для группы моё падение было 
шоковым событием. Ведь пять лет они слышали мои открытые идеологические споры, 
остававшиеся без наказаний. Я всегда казался им чокнутым на почве верности 
коммунизму, но именно за верность меня собрались исключать из комсомола. Да если 
бы только из комсомола, то черт с ним, но за этим последует невозможность 
закончить высшее образование, солдатчина, высылка из Москвы с лишение прописки, 
да мало ли чего еще...  Мы были уже дипломниками, общих занятий почти не было, но 
группа бурлила и «консультировалась», пока не пришла практически к единодушному 
мнению вынести мне для спасения строгий выговор с занесением за допущенные 
политические ошибки, но оставить в комсомоле на исправление, и обратиться в 
училищный комитет с просьбой утвердить именно такое наказание. Что и было 
сделано групповым собранием почти в полном составе, причем никаких слов о 
каких-то политических ошибках и «клеветах» никто и не думал произносить. Никто 
их не принимал всерьез, как не принимались всерьез и мои свободолюбивые 
коммунистические филиппики все пять студенческих лет. Жизнь зримо и грубо 
показала правоту их скепсиса ко всякой идеологии и, следовательно, мое глубокое 
поражение, но никто и не подумал пенять: «Ну что, Сокира, кто оказался прав?» - 
Нет, у них было только одно желание: вытащить из беды. Моя группа, которую я так 
долго упрекал в «некоммунизме» и равнодушии к идеалам и даже пытался силой 
подвигнуть на борьбу за свободу посещения лекций, в опасный для меня момент 
повела себя без упреков и как единая семья, т.е. по-коммунистически в истинном 
смысле этого слова.</p>
<p><em><u>Лиля:</u> Исключение из комсомола - это ещё и начало маминой 
гипертонии, и начало нашего сближения. Пять лет мы не представляли один для 
другого никакого интереса. После случайного общего осеннего похода стали 
здороваться, встречаясь в коридорах. В этот день мне не захотелось 
поздороваться, и я отвернулась. Вечером девчонки из общежития сказали, что Витю 
Сокирко сегодня исключили из комсомола. Утром я бросилась искать его, чтоб 
извиниться за вчерашнее. Слово за слово, и вот мы уже вместе выходим из училища 
и не спешим расстаться. Оказывается, что мне очень интересно слушать Витю, а мои 
незрелые "на ходу" мысли им подхватываются и развиваются. (За следующие 40 лет я 
встретила только двоих людей, способных также радоваться чужой мысли как подарку 
и развивать её). Где мы ходили, не помню. Помню только сильно счёсанные каблучки 
моих единственных нарядных голубых туфель.</em></p>
<p><em>Пройдёт потом целый год Витиных ненавязчивых, но и неотступных 
ухаживаний, внутри которого были моё ворочение носом вроде: "Ямочка на 
подбородке", "Профиль не греческий"; огромная корзина цветов; лыжный поход в 
Карелию; распределение, на котором Витя попросится на один завод со мной в 
Коломну, и многое другое, прежде чем амур запустит в меня стрелу поострей и 
очнется моё сердце.</em> </p>
<p><strong><em><font size="4">Слова и действия знакомых.</font></em></strong> В 
эти дни проявили себя знакомые, о сочувствии которых я раньше и не подозревал. 
Такой оказалась прежде малознакомая сокурсница Лиля. Ее эмоциональный порыв 
сочувствия привел к длительной прогулке по Москве и через множество других 
событий к долгой и счастливой совместной жизни с детьми и внуками...  Так 
устроенная моими кураторами политическая казнь уже на следующий день оказалась 
первым узелком нашей семьи. Но это, конечно, совершенно особая и бесконечно 
важная для меня история и судьба.</p>
<p>Типичным же примером участия может служить совет ранее незнакомой мне Гали, 
близкой подруги Лили по туристской компании - обратиться за помощью к очень 
авторитетному и человечному преподавателю и всесоюзно известному альпинисту - 
А.Г.Овчинникову. Такой порыв как обращение к «авторитетному» хорошему человеку, 
который умеет решать сложные проблемы, был типичен для советских людей. Выслушав 
рассказ о произошедшем, очередной сочувствующий поражался: «Как исключить? Не 
может быть...  Да, нет, тут надо поговорить и все объяснить...  Да. Да. Я обязательно 
поговорю и Вам сразу сообщу». А после категоричного отказа, долгого и неловкого 
молчания человек сообщал, что к сожалению, тут все не просто и «надо очень 
думать». </p>
<p>На тему «надо думать» меня толкало немало разумных людей, причем искренне, а 
не только в сталинском смысле: «Идейно разоружись, а не то уничтожим». Нет, люди 
желали разобраться, в чем же именно заключалось мое «преступление» и что реально 
я предлагал в своей «Критике». Прочитав полученный от меня экземпляр «Критики», 
они приходили чаще всего к полному несогласию и недоумению, о чем мне и 
сообщали. Меня это не удивляло, т.к. за долгие годы споров с группой я к 
несогласию привык, ибо возражения меня не сильно трогали (что видно на примере 
доводов Володи Н.). Как фундаменталист, я нуждался прежде всего в марксистских 
доводах, как в критериии истины, но их мне дать не мог никто, даже такие 
теоретики, как Косолапов...  Тем не менее сейчас что-то во мне стало сдвигаться... 
У меня появилось желание признаться в неловкости и даже неправильности каких-то 
фраз отвергать. Впервые я испытал на себе целый шквал искренней критики и 
переубеждений: как будто открылся шлюз и поток аргументов хлынул на меня и 
затопил. Парадокс: если раньше никто не хотел спорить со мной по каким-то 
опасным идеологическим темам, то теперь это стало даже нужным хотя бы во имя 
моего спасения. В процесс переубеждения включались неожиданные для меня люди, 
такие, как, например, мой научный руководитель и в недалеком будущем заведующий 
нашей кафедрой, совершенно не заинтересованный в идеологических спорах (но член 
партии). Он специально изучил мой текст, раскритиковал, но он же постоянно 
отстаивал возможность защиты моего диплома, называя его тему чрезвычайно 
важной.</p>
<p>Многие из мыслей тогдашних оппонентов было справедливыми, и я не мог этого не 
признать. Таким образом и пошел процесс сомнения и самокритики, что в общем 
вызывало удовлетворение у моих доброжелателей, как благодетельный процесс 
начавшегося исправления и выздоровления. И...  замаячила проблема возможного 
«двоемыслия». Само слово вошло в оборот много позже из тамиздатского романа 
Оруэлла«1984», а в полный рост передо мной самим обвинение в «двоемыслии» встало 
в 1980 году. В романе речь шла о методах воздействия (через изощренные пытки) на 
мышление человека со стороны спецслужб тоталитарного государства таким образом, 
что человек приобретает по команде извне способность к ложному, извращенному, но 
искреннему мышлению. </p>
<p>Никто, наверное, не оспорит, что мышлению необходима критика и способность 
отказа от своих же неверных выводов ради истины. Так что начавшийся тогда 
оживленный процесс обсуждения, критики и корректировки положений моего текста 
был в принципе полезным и конструктивным, но тот факт, что он начался именно 
после «осуждения и в ожидании моего исправления» свидетельствовал о начинающемся 
«мышлении под давлением», т.е. о«двоемыслии», которое сродни не только вранью, 
но и психическому заболеванию. </p>
<p>Сам я никаких признаков мышления под пытками и последующего двоемыслия в 
орвелловском смысле не чувствовал ни тогда, ни позже. Думаю, что уже почти 
прошедшая жизнь мне самому четко показала: несмотря на изменения в убеждениях, в 
главном, я остался верен самому себе и никаким двоемыслием не страдаю. Хотя 
конечно, давление обстоятельств на себе в критические годы испытывал и 
неоднократные колебания в убеждениях тоже. Но все это в пределах психической 
нормы. </p>
<p> </p>
<br/>

{% endblock content %}
