{% extends 'base.html' %}
<title>Раздел 13.Комитетское судилище</title>
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава III. Студенческие годы (1956-1962гг.)</h2>
<h1>Раздел 13.Комитетское судилище</h1>
<p>Недели через две состоялось заседание нового комитета с моим вопросом. Оно 
было довольно многочисленным - человек двадцать за длинным столом. Хотя судьба 
моя была уже предрешена, обвинение произнесено и «гражданская казнь» проведена, 
процесс надо было оформить уставным демократическим образом: «Все аргументы, 
включая от подсудимого, выслушать, всесторонне их обсудить и вынести 
справедливое решение с правом на последующее обжалование». </p>
<p>Таким спокойно процедурным, судейским манером то заседание и было проведено. 
Запомнилось оно мне смутно, включая собственные слова. Припоминаю я только свой 
самооправдывающий тон, что, мол, не ожидал столь суровых оценок, что, наверное, 
был во много не прав, в частности, в употреблении неверных оценок (типа «ширмы») 
и уже сейчас начинаю это сознавать, продумывать все более взвешенно, но всегда 
был верен коммунистическим идеалам, что прошу дать возможность мне исправляться 
в рядах комсомола.</p>
<p>Приглашённые, начиная с комсорга группы, просившего отдать меня группе на 
поруки, выступали с примирительными речами в духе «дать возможность». 
Комитетчики их изредка прерывали напоминаниями о том, что речь идет о таких 
непростительных для комсомольца и уже установленных конференцией преступлениях, 
как неубежденность в коммунизме и клевета на советскую власть Вынесенное без 
колебаний решение практически повторило уже принятое конференцией: «Исключить из 
рядов ВЛКСМ за неубежденность в марксизме-ленинизме, за клевету на советскую 
действительность, за непринципиальное поведение. Поставить вопрос перед 
дирекцией об отчислении на два года из училища. Сокирко имеет право на 
апелляцию»</p>
<p>Официально голоса защитников на комитете не были учтены. Все обвинения, 
включая отказ назвать имя студента в споре о коммунизме, названный в решении 
«непринципиальное поведение» (в последующем комитетчики ГБ такое «обвинение» 
формулировали более изящно: «Вы с нами не искренни»), остались на месте, но 
существенно был смягчен пункт о главном наказании: взамен аннулирования оценок 
по общественным дисциплинам и отчислении стояло лишь «отчисление на два года», 
что фактически сводилось к двухлетней задержке с защитой диплома («пусть 
поучится у рабочего класса»).</p>
<p>Такое смягчение было, конечно, заранее спланировано - может, оттого, что 
процедура аннулирования отметок по общественным дисциплинам была трудно 
исполнима и делала из этих «наук» просто служанок. А скорее мои кураторы, 
наблюдая мои метания и раскаяния, решили, что поднимать градус наказания не 
следует, но саму угрозу исключения из института с одной стороны и пряник 
восстановления в комсомоле сохранять надо подольше. Для моей же пользы...</p>
<h4>Состояние было тяжелым и смутным.</h4>
<p>Схлынула первая горячка надежд и пересудов, 
оставалось только ждать решения дирекции училища об отчислении. В неудаче 
апелляции в райкоме комсомола я был уверен заранее, хотя и не собирался от нее 
отказываться и не потому, что мне было реально нужно звание комсомольца как 
таковое, а из желания реабилитации и возвращения в прежнее состояние. Кстати, я 
конечно, неоднократно пытался обратиться за советом и помощью к своему 
покровителю Алику, но он был то в отъезде, то недоступен, так что пришлось 
понять, что встречи с ним не будет (теперь я уверен, что из вида он меня не 
терял и, наверное, как-то помогал).</p>
<p>Однако дирекция МВТУ с принятием окончательного решения не спешила, и мне 
ничего не оставалось, как работать над дипломом, продолжать делать что-то по 
НИРу, стараясь забывать, что скоро всё окажется бессмысленным...  В работу и 
привычную жизнь ушли и все мои доброжелатели.</p>
<h4>Родители.</h4>
<p>В том же октябре моих 
родителей пригласили на беседу в деканат. Мама сдержанно рассказала о том, как 
попрекал их декан Зверев, что они, мол, вырастили такого недостойного сына, 
обманувшего доверие его факультета, сказала, что отец возмущался его хамскими 
попреками. Но я не спросил, сдержался ли он от резких ответных слов. Закончилась 
эта бессмысленная накачка зверевским предупреждением о почти неизбежном 
исключении и необходимости сыну «думать и исправляться».</p>
<p>На фото кроме меня с родителями дядя Сеня с дочкой Таней и моя двоюродная 
сестра Лида</p>
<p><img align="left" alt="На фото кроме меня с родителями дядя Сеня с дочкой Таней и моя двоюродная сестра Лида" src="/static/images/detyun/glava234/0026.jpg" width="350"/>
Сколько 
ж моим родителям пришлось пережить из-за меня и до этого года, а после него! Но 
чем дальше, тем глубже я понимаю, что по-иному, более правильно, наверное, я и 
не сумел бы поступать. Видя мои переживания, они не сделали мне ни единого 
попрека. Отец вообще ничего не говорил, мать успокаивала, что если исключат из 
училища, это не страшно - пойдешь на наш завод, рабочие там получают не меньше 
инженера...  Наверное, в глубине души она была бы рада, если б я избавился от своих 
«метаний от ума» даже ценой лишения диплома и ссылки на завод, Нет, она не 
считала меня сумасшедшим, но боялась, что давнишняя увлеченность книгами и 
«идеями», ведёт меня к опасной болезни. Уже не помню когда, в том ли 1961 году 
или уже в диссидентские годы, она вдруг поделилась со мной своим неожиданным 
страхом: в вагоне метро перед ней вдруг встала кампания молодых и громких 
милиционеров. Они были такие накаченные, такие готовые искалечить и разнести 
любого, что она просто задрожала: «Ну, а попади Витя к ним, что с ним сделают? - 
Витенька, зачем ты это делаешь??? -Не надо!!!»</p>
<p>И я начинал принимать чувством ее голос, хотя разумом продолжал отвергать 
«мещанские глупые страхи», принимая возможность их реализации только в качестве 
случайного исключения...  А ведь еще совсем недавно умер Сталин и не все 
репрессированные вернулись, а мы, молодые, уже легко смеялись над «анекдотом» 
той поры, когда бериевское МГБ переименовали в хрущевский КГБ: «Чем отличается 
МГБ от КГБ? - А тем, что «Место, Где Бьют» назвали «Комнатой, Где Бьют». Меня 
лично милиция и чекисты ни разу даже не толкнули, но чем дольше живу, тем выше 
уверенность, что это случайность...  А сейчас страх перед «ними» за себя 
уравновешивается только сознанием уже прожитой жизни. Теперь я знаю, что били 
всегда, бьют до сих пор и неизвестно, сколько будут еще бить впредь, любого и ни 
за что...  И потому страх за детей и внуков неистребим и, наверное, передастся им 
по наследству.</p>
<p>В начале перестройки мой младший сын Алеша, еще подросток, заслуженно провел 
ночь в КПЗ. Когда утром мне сообщили об этом, я приехал в милицейское отделение 
и довольно долго ждал, пока дознаватель оформит на него бумаги... . И пока я сидел 
в тих крашеных, но столь пахнущих Бутыркой, стенах, на меня навалилась гнетущая 
чёрная тоска, что вот с этой ночи покатится мой сын по тюремной бесконечной 
дорожке и ничего я сделать не смогу. Когда же его отдали, я не мог говорить, и 
только выйдя на улицу, выдавил из себя: «Скажи, ты и вправду всего этого 
(камеры, ее стен, жизни в них) хочешь?» И даже не ждал от него ответа. Потому 
что тут ответить может только сама жизнь. Слава Богу, сын меня услышал...  Я свою 
маму в жизни слышал хуже.</p>
<h4>На рабочей свадьбе.</h4>
<p>На вершину 
спасительной для меня душевной пустоты пришлись ноябрьские праздники, в тот год 
совпавшие со свадьбой моей сестры Лиды , старшей из двоюродных. Мои родители и 
я принимали в ней участие по полной программе, обеспечивая все три дня сплошной 
пьянки. </p>
<p><img align="left" alt="" height="250" src="/static/images/detyun/glava234/0050-65.jpg"/>
<img align="right" alt="" height="250" src="/static/images/detyun/glava234/005051.jpg"/>
Лидин Валентин, многочисленные его друзья с подругами были потомственные 
рабочие с филевского авиазавода. Сама Лида всю жизнь проработала там же в 
малярном цеху, а почти вся моя «веточка семейного древа» трудилась на Московском 
трубном заводе, здесь же в Филях. Гости были очень неплохие ребята и старики, 
наобщался я с ними выше крыши, но сколько бы ни пил, состояния тоски не 
излечивалось. Вот они - хорошие, нормальные ребята, и как славно они хвалят 
какого-то Славку, который никогда не спешит и делает всю токарную работу «очень 
чистенько». Я же - какой-то урод, взамен работы и друзей у меня какие-то критики 
и программы, и я уже сам не понимаю, верю ли в них или нет? Вот они - настоящие 
рабочие и, наверняка, хотя конечно, им ни комсомол, ни программы на дух не 
нужны. А что нужно мне?</p>
<p>Особенно внимательна была ко мне некая Света, статная и красивая девушка, 
которая откровенно тормошила меня, заставляя беспрерывно танцевать и ухаживать. 
Я был необычен для ее окружения, хмуростью вызывая любопытство и интерес. 
Вначале ею руководил просто азарт красивой девицы, которая не привыкла к 
отказам, потом она стала серьезней. Конечно, она ничего не знала о моих бедах, 
но чувствовала что-то, хотела продлить знакомство и чем-то помочь, а мне было 
стыдно за невозможность ответить взаимностью... Однако до сих пор я вспоминаю 
Свету с благодарностью за ее естественную попытку обогреть меня, показать, что я 
не урод и могу быть интересен. Ей удалось это сделать в самом начале 
ноябрь-декабрьского холода, когда я составлял свое отречение и отправлял его в 
ЦК КПСС (<a href="/ideology/pv1.html">"В.Сокирко в письмах и выступлениях"</a>)</p><table width="600"> <tr> <td>
<a href="Rasdel3-12.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel3-14.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
