{% extends 'base.html' %}
{% block title %}Раздел 5.1964 год - последний год жизни в Коломне.{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава IV. Далёкие и молодые наши годы в Коломне(1962-1964гг.)</h2>
<h1>Раздел 5.1964 год - последний коломенский год</h1>
<p>У нас так много всего тогда было: мы друг у друга, быстро растущий сынок, 
ухаживающая за ним за небольшие деньги нянечка баба Настя, родители, живущие за 
117км от нас в Москве, куда мы чуть ли не еженедельно ездили</p>
<p><img alt="" height="250" src="/static/images/detyun/glava234/0029-1.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0044-11.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0044-10.jpg"/></p>
<p>с Тёмой в коляске, тёплая комната в заводском доме, неплохая 
работа, библиотека и растущий круг коломенских знакомых, в основном, из Лилей 
приобретенных подруг. Мои же знакомые не заходили на наш семейный круг, видимо 
из-за моей природной нелюдимости. Долгую дружбу мне подарил только Лёня Файнберг 
- выпускник Киевского политехнического. А когда мы с ним разъехались по своим 
городам, то завязалась переписка, в частности, имел место многостраничный спор 
по еврейскому вопросу "26. Переписка о сионизме"(<a href="/ideology/pv1.html">"В.Сокирко в письмах и выступлениях"</a>)</p>
<p>С наступлением весны и лета начались прогулки в лес, на песчаный карьер за 
Окой для купания и по ягоды-грибы. Это делало для нас Коломну все более теплой, 
Как жаль, что мы не нашли времени съездить с большим Темой в город его детства и 
пусть опосля, но и его одарить памятью малой родины. Но было и такое, о чём 
стыдно вспоминать, и сейчас я принуждаю себя это рассказать просто для 
честности.</p>
<p>Уезжая в прошлом году в Саяны, я знал, что летом 64г будет Лилина очередь 
отправляться в горы - на привычный Кавказ, в альплагерь, чтобы продолжить свою 
альпинистскую «карьеру». Но ведь нельзя в жару, летом лишать ребёнка 
материнского молока! Я предлагал ехать в горы нам всем троим, причем ночевать в 
палатке рядом с лагерем. С утра Лиля уходила бы на занятия и на восхождения, а я 
занимался Артёмкой, кормя его маминым сцеженным молоком и иным детским питанием. 
Конечно, могли быть недовольства руководства лагеря...  Но по-настоящему готовиться 
к такой поездке мы даже не начали, потому что Лиля решила оставить Артемку на 
бабу Настю, а в альплагерь нам ехать вдвоем. Думаю, на это решение ее подвигло 
не только желание показать мне высокие горы, но и уверенность, что у бабы Насти 
Артемке будет лучше. Просто она еще ни разу не ездила с ребенком в горы и не 
понимала, что для маленького человека единство с мамой во много раз полезней 
любого питания или удобств. Не понимал этого и я. </p>
<p>Конечно, уезжали мы на альпинистскую смену с очень тревожным сердцем, 
родителей не извещая и абсолютно веря в бабу Настю, оставив ей многодневный 
запас питания, сколько-то сцеженного молока, адреса и телефоны подруг и врачей 
и, конечно, на всякий случай, адрес и телефон лагеря, хотя очень надеялись, они 
не понадобятся, и может, Артёмка даже не сильно заметит отсутствие мамы. Однако 
эти надежды не оправдались. Мы были в одном альплагере «Алибек», но в разных 
отрядах. Вернувшись из своего перевального похода, я получил Лилину записку об 
её отъезде, а потом телеграмму, что с Темой все в порядке, и мне надо добыть 
смену. После восхождения на зачётную вершину и получения альпинистского значка, 
я тут же уехал через Москву в Коломну. Оказалось, что первую неделю Артёмка у 
бабы Настю чувствовал себя хорошо, а потом стал почему-то температурить. Причин 
этого она не понимала и решила, от греха подальше, вызвать Лилю, и абсолютно 
правильно сделала. Тема обрадовался и появившейся маме, и ее новому молоку, а к 
моему приезду совсем выздоровел. Конечно, от всей этой авантюры в наибольшей 
степени выиграл именно я, проведя свою первую альпинистскую смену в ущелье 
Домбая ( и как теперь оказалось, в Домбае - единственный раз в жизни). Лиля 
побывала все же в горах... Но как Лилино отсутствие аукнулось на Теминой 
психике, мы так и не знаем. Больше мы так рискованно своих детей не оставляли - 
только на родную бабушку и после окончания молочного кормления. </p>
<p><img align="left" alt="" height="253" src="/static/images/detyun/glava234/0044-13.jpg"/>
Осенью 1964 года Лиля 
осуществила свою мечту и поступила в аспирантуру, что дало ей право раньше 
покинуть Коломну. Она переехала с Артёмкой в Москву, и стала жить то в 
родительской комнате, то у моей бабушки Поли, где ее еще не приметили соседи и 
милиция. Я же вновь поселился в Доме приезжих у станции Голутвин, откуда каждую 
субботу в 2 часа дня (чуть раньше окончания рабочего дня) электричка увозила 
меня к своим в Москву, а поздним воскресным вечером доставляла обратно. Наша 
теплая Коломна с отъездом Лили и Темы разом похолодала и опостылела. Мне 
оставалось только отбывать срок до марта 1965 года. В октябрьской или новогодней 
стенгазете отдела был помещен дружеский шарж на меня: парень в шляпе отщелкивает 
на счетах число оставшихся от обязательного срока дней.</p>
<p>И вот как-то раз в декабре на выходе из заводоуправления меня окликнул 
хозяйский голос Слонова: «Как дела?». Тускло ответил: «Обычно...  Жена и сын 
здоровы,.. сейчас в Москве...  Она в аспирантуре, я дорабатываю... » Ничего больше он 
не спросил, чуть помолчал, повернулся и пошагал дальше. А на следующий день меня 
вызвала его секретарша: «К.Н. велел вам написать заявление на увольнение по 
собственному желанию. А теперь подождите здесь... » </p>
<p>На передачу дел, бегунок и расчет у меня ушел только день с небольшим. Прямо 
в декабре меня приняли ст. инженер-технологом на Московский трубный завод, и 
после Нового года я вышел на работу. Еще не веря самому себе, окончательно 
распростился с Коломенским заводом. </p>
<p>Так Слонов подарил мне три месяца свободной жизни. Без моей просьбы, по 
собственной воле. Поистине «не бойся, не надейся, не проси». Конечно, не было бы 
той случайной встречи и оклика, не возникло бы у него поворота в настроении и 
желания как-то подправить прежнее жесткое, даже крепостническое решение. Но в 
итоге про себя я говорил и говорю ему даже сейчас, наверное, посмертно - 
спасибо. И еще: уверен, что хотя Слонов по должности был связан с органами, но 
со мной он был прям, понятен и потому все же вменяем. Под ним жить было трудно, 
но все же возможно. </p>
<h4>Заключение. </h4>
<p>Осуществилась 
мамина мечта, чтобы единственный сын как-то «образумился», женился, завёл ей 
<img align="left" alt="" height="250" src="/static/images/detyun/glava234/0029.jpg"/>
внука , вернулся домой и стал нормально работать 
на «родном» заводе...  Тесновато, конечно, впятером в одной комнате, но можно ведь 
и разгородиться ширмой. Невестка покладиста, занята своей аспирантурой, а со 
временем завод, конечно, присоединит к ним еще и соседнюю небольшую комнату, что 
сделает всех нас, наконец-то, хозяевами отдельной квартиры. О чём ещё 
мечтать?..</p>
<p>И мы с Лилей радовались. Правда, счастливыми мы были и в Коломне, но там 
мешало сознание временности пребывания. Сейчас же все становилось и лучше и 
прочнее...  Меня практически сразу прописали - дополнительные «гири» - мамины 
справки о болезнях- перевесили сомнения начальника паспортного стола (мы не 
слышали, что б родителей вынуждали к взятке). После чего практически сразу мы 
отправились во Дворец бракосочетания и «сыграли» <img align="right" alt="" height="238" src="/static/images/detyun/glava234/0044-09.jpg"/>
официальную свадьбу, на которой полуторалетний 
Тема сидел между «молодыми» и это было здорово, хотя он еще не понимал, 
что с этим событием получал не только отцовскую фамилию, но и московскую родину. 
Зато все это хорошо чувствовала его мама - она больше не считалась незаконным 
жителем столицы и ей не надо бояться участкового милиционера. А одна комната на 
пятерых - это такая ерунда!</p>
<p><img align="left" alt="" height="231" src="/static/images/detyun/glava234/0052091.jpg"/>
Конечно, счастлив был и я. 
Досрочно кончилась фактическая ссылка. Я вновь живу в родительском доме, теперь 
со своей семьей. Правда, уже немного растерял надежды на учебу в аспирантуре и 
любимую работу, но перспектива даже вынужденной работы ради заработка совсем не 
пугала меня, тем более, что предложенное место старшего технолога было и 
денежней (180 руб. в месяц) и приятней, чем в коломенском муравейнике. Кстати, 
через тридцать лет, в конце своей инженерной службы, уже перед перестройкой, в 
отраслевом институте я получал всего на пятьдесят рублей больше. Конечно, я был 
тогда лишь поднадзорным клерком, но письменная нагрузка не была очень 
напряженной, и у меня всегда находилось время для свободных размышлений. Жизнь 
предложила мне: инженерной службой зарабатывать «на хлеб» и постоянно выкраивать 
свободное время для «своих увлечений». Так чего мне ещё желать? </p>
<p>             
            
            
             
       
<img alt="" hspace="0" src="/static/images/detyun/glava234/0044.08.jpg" width="350"/> </p>
<p>            
            
             
            
Тёма среди родных в Волгограде: дедушка Коля, бабушка Фаина и мама </p>
<p>Новым для нас увлечением в Москве стал семейный туризм и создание собственных 
диафильмов, что практически на всю оставшуюся жизнь стало нашей особенностью, 
способом осознания мира и строительства своей собственной, имеющей шанс на 
бессмертие души. </p>
<p>Позже, в Бутырской тюрьме у меня было довольно много свободного времени. 
Одной из интересных тем для обдумывания было составление плана отчета о 
собственной жизни. Я заранее оставляя за бортом надежду на то, что это будет 
кому-то интересно. Но если мой отчёт уцелеет в течение предстоящей сотни лет, то 
он найдет своего читателя в любом случае, несмотря на авторскую бесталанность. 
Но что будет интересно будущему читателю? Ведь в каждом из нас действует много 
увлечений, как и множество разных людей в разные периоды времени. Невозможно 
описать все подробно, поэтому следовало бы выделить в себе условно до 10 
возрастов (например, детство, начальная школа, старшие классы, вуз, молодость, 
начало семьи, профессиональная зрелость, успехи и поражения, старость и 
завершение) и до 10 основных занятий (например, основные параллельно идущие 
профессии и жизненные увлечения), а потом последовательно описывать каждую 
клетку. Но замысел этой стоклетки я так и не был воплотил. Остались лишь 
некоторые намерения.и ограничения. Например, одним их них было табу на изложение 
своих любовных переживаний просто потому, что нет таланта и невозможна для меня 
полная открытость, т.е. правда, так что и стремиться к ней не надо. И еще один 
принцип: нужна полная открытость в описании своих отношений с людьми из КГБ и им 
подобных, но следует сторониться предположений о причастности к ним других 
людей, надо держаться презумции невиновности, чтобы не ошибиться и не множить 
зло. В моем случае это особенно важно, потому что во внимании к себе людей из 
органов и пусть даже добрых, я, к сожалению, был уверен. </p>
<p>Я и сейчас не знаю, на каком списке занятий я бы остановился. Так получилось, 
что профессионально (получая за это небольшие деньги) я занимался довольно 
бессмысленно сначала технологией сварки, потом экономическими отраслевыми 
прогнозами и, лишь перед пенсией и с некоторой пользой - правозащитной работой. 
Сюда надо добавить строительную шабашную работу для оплаты нашей кооперативной 
квартиры и возведение дачного дома, в ходе которой мне больше всего удавались 
действия с лопатой. Всегда вспоминаю чеховское сожаление: «Ему бы сапожником 
быть, а он профессором мучается». Мне повезло больше: от стремления к 
профессорству Бог уберег, а лопатой толково я поработал немало. Но все это не 
идет в сравнение с главным увлечением жизни - философией и историей коммунизма и 
экономических свобод. Рядом термодинамическое обоснование своей веры и вечный 
интерес к Федерации как к смыслу российской истории.</p>
<p>На этом я заканчиваю воспоминания о наших молодых годах, потому что 
последующая наша жизнь уже давно представлена в разделе «Диафильмы и дневники» 
нашего сайта. Что касается итогов, то, надеюсь, у меня ещё есть время не их 
подведение.</p>
<h3>Приложение</h3>
<p>В приложение вошли 
фото не нашедшие себе места в тексте, и более поздние</p>
<h4>Мама в разные годы</h4>
<p><img alt="" height="218" src="/static/images/detyun/glava234/0028-7.jpg"/>
<img alt="" height="219" src="/static/images/detyun/glava234/0040-1.jpg"/>
<img alt="" height="216" src="/static/images/detyun/glava234/0040-5.jpg"/>
<img alt="" height="217" src="/static/images/detyun/glava234/0042-27.jpg"/>
</p>
<h4>Мама в санатории</h4>
<p><img alt="" height="225" src="/static/images/detyun/glava234/0027-3.jpg"/>
<img alt="" height="225" src="/static/images/detyun/glava234/0027-1.jpg"/>
<img align="right" alt="санаторная подруга" height="225" src="/static/images/detyun/glava234/00003.jpg"/></p>
<p align="right">(санаторная подруга)</p>
<h4>Мама среди сотрудников своей поликлиники</h4>
<p><img alt="" height="250" src="/static/images/detyun/glava234/0028-4.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0028-5.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0025-2.jpg"/></p>
<h4>На пасхальном празднике у бабушки</h4>
<p><img alt="" height="262" src="/static/images/detyun/glava234/0028-3.jpg"/>
<img alt="" height="267" src="/static/images/detyun/glava234/0028.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-54.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-52-1.jpg"/></p>
<h4>На недавно купленной даче</h4>
<p><img alt="" height="250" src="/static/images/detyun/glava234/0050-603.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-62.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-61.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-63.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0044-06.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0050-59.jpg"/></p>
<h4>С Тёмой и Серёжей 
Мухортовым             
С бабушкой и Соней</h4>
<p><img alt="" height="250" src="/static/images/detyun/glava234/0044-16.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0043-03.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0043-05.jpg"/></p>
<h4>Фото отца</h4>
<p><img alt="" height="227" src="/static/images/detyun/glava234/0031-1.jpg"/>
<img alt="" height="217" src="/static/images/detyun/glava234/0031-9.jpg"/>
<img alt="" height="232" src="/static/images/detyun/glava234/0040-2.jpg"/>
<img alt="" height="224" src="/static/images/detyun/glava234/0041-01.jpg"/>
<img alt="" height="200" src="/static/images/detyun/glava234/0041-02.jpg"/>
<img alt="" height="200" src="/static/images/detyun/glava234/0041-03.jpg"/>
<img alt="" height="200" src="/static/images/detyun/glava234/0042-01.jpg"/>
<img alt="" height="200" src="/static/images/detyun/glava234/0042-02.jpg"/></p>
<h4>Отец на встрече однополчан в Харькове</h4>
<p><img alt="" height="250" src="/static/images/detyun/glava234/0044-21.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0044-20.jpg"/>
<img alt="" height="256" src="/static/images/detyun/glava234/0044-22.jpg"/>
<img alt="" height="250" src="/static/images/detyun/glava234/0044--23.jpg"/></p>
<h4>В гостях у родственников</h4>
<p><img alt="В гостях у родственников" height="250" src="/static/images/detyun/glava234/0043-08.jpg"/></p>
<h4>Последний пасхальный праздник у Степана</h4>
<p><img alt="Последний пасхальный праздник у Степана" height="284" src="/static/images/detyun/glava234/005060.jpg"/>
</p>
<h4>Бабушка, Мухортов-старший и т. Настя</h4>
<p><img alt="Бабушка, Мухортов-старший и т. Настя" height="256" src="/static/images/detyun/glava234/0051077.jpg"/></p>
<h4>Последнее фото тёти Насти</h4>
<p><img alt="Последнее фото тёти Насти" height="178" src="/static/images/detyun/glava234/0004.jpg"/>
</p><table width="600"> <tr> <td>
<a href="Rasdel4-4.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
</td></tr></table>
<br/>

{% endblock content %}
