{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Том 1. Партизанское кино. 1977г.</title>
{% block content %}



<h2><i><b>В. и Л. Сокирко</b></i></h2>
<h1>Том 1. Партизанское кино. 1977г.</h1>
<ul>
<li><a href="intro.html">Вместо предисловия: Почему мы это пишем?</a>
<li><a href="/Part71/Ob.kult/">Начала. "Обыкновенный культ" - нулевой диафильм</a>
<li><a href="razbeg.html"> "Разбег", 1966. Самодеятельный журнал Московского трубного завода</a>
<li>Первые диафильмы <ul>
<li><a href="/Part3/Vesna_sveta/">"Весна света"</a>
<li><a href="/Part3/Vesna_wodi/">"Весна  воды и мая"</a>
<li><a href="/Part1/Chibini/">"Хибины"</a></li></li></li></ul>
<li><a href="movement.html">Диадвижение на Московском трубном заводе (1966-1970 г.г.)</a>
<li><a href="fedorov.html">Приложение 1. Н.Ф. Федоров "История - не суд, а воскрешение"</a>
<li><a href="speach.html">Приложение 2. Партизанское кино: диафильмы как исторический источник</a>
</li></li></li></li></li></li></li></ul>
<br/>

{% endblock content %}
