{% extends 'base.html' %}
{% block title %}В.и Л.Сокирко Диафильм «Московские церкви»{% endblock %}
{% block content %}



<br/><br/>
<p>1-8. (Музыкальный проигрыш)</p>
<p>9. «П.Вяземский»</p>
<p> Чье сердце русское не дрогнет, <br/>
      Когда с твоих колоколов<br/>
      Раздастся в благовесте громком <br/>
      К народу православный зов?<br/>
      Твердят, ты с Азией Европа, <br/>
      Славянский и татарский Рим, <br/>
      И то, что зрилось до потопа, <br/>
      В тебе еще и ныне зрим.<br/>
      В тебе и новый мир, и древний, <br/>
      В тебе пасут свои стада<br/>
      Патриархальные деревни<br/>
      У Патриаршего пруда.</p>
<p>10. Все это так, и тем прекрасней<br/>
      Разнообразье-красота. <br/>
      Быль жизни с своенравной басней, <br/>
      Здесь хлам, - там свежая мечта.<br/>
      Здесь личность есть и самобытность. <br/>
      Кто я, так я, не каждый мы. <br/>
      Чувств подчиненность или скрытность<br/>
      Не заморозила умы.<br/>
      Нет обстановки хладно-вялой, <br/>
      Упряжки общей, общих форм. <br/>
      Что конь степной - здесь каждый малый <br/>
      Разнуздан на подножный корм.</p>
<p>11. У каждого свои причуды<br/>
      И свой аршин с своим коньком.<br/>
      Свой нрав, свой толк и пересуды <br/>
      О том, о сем, и ни о чем...<br/>
      Москва, под оболочкой пестрой <br/>
      Хранишь ты самобытный быт. <br/>
      Пусть Грибоедов шуткой острой<br/>
      Тебя насмешливо язвит.<br/>
      Ты не смущайся, не меняйся,<br/>
      Веками вылитая в медь,<br/>
      На Кремль свой гордо опирайся <br/>
           И чем была, тем будь и впредь.</p>
<p>12. Величье есть в твоем упадке,<br/>
      В рубцах твоих истертых лат, <br/>
      Есть прелесть в этом беспорядке <br/>
      Твоих разбросанных палат,<br/>
      Твоих садов и огородов, <br/>
      Высоких башен, пустырей, <br/>
      С железной башнею заводов <br/>
      И с колокольнями церквей.</p>
<p>13. Здесь повсеместный и всегдашний<br/>
      Есть русский склад, есть русский дух, <br/>
      Начать от Сухаревой башни<br/>
      И кончить сплетнями старух.</p>
<p>14. Странное это чувство - любовь к городу, в котором ты живешь. Оно неощутимо в обычной обстановке, но стоит тебе только уехать, пусть ненадолго, и ты почувствуешь тоску по дому, одна из причин которой - любовь к родному городу. Наглядевшись в чужих краях на необычное, разбудившее поток любопытства, ты зорче начинаешь всматриваться и вдумываться в свой родной город.</p>
<p>15. Толпами стекаются поклонники древнерусского искусства в Ростов, Суздаль, Кижи. А разве московские церкви недостойны почитания? Ведь в свое время существовал наряду с Владимиро-Суздальским, Новгород-Псковским, Киевским также и Московский стиль в зодчестве. Помните поговорку: «Кто в Москве не бывал, красоты не видал».</p>
<p>16. Мы живем, и многое не замечаем вокруг себя. Тысячу раз мы можем пройти мимо подобного здания, не задумываясь о нем, о его строителях, их жизни и мечтах. И тебе нет дела до того, что храм построен 300 лет назад и посвящен Иоанну Богослову - ближайшему ученику Христа, написавшему Евангелие и Апокалипсис. Знаем лишь то, что это - бывшая церковь, остаток проклятого прошлого, оплот религии, а «пионер не верит в бога», и всю эту рухлядь давно уже пора взорвать.</p>
<p>17. Но день настанет! И ты вдруг очутишься перед этим. И душа твоя распахнется навстречу прекрасному, доброму и сильному, тому, что завещано нам в наследие предками, и ты тут вспомнишь слова Пушкина: «Гордиться  славой предков не только можно, но и должно». И ты забудешь, что «пионер не верит в бога», но зато остро захочешь понять, кто, когда и во имя чего создал это каменное чудо. Ты забудешь, что это церковь, где раздается опиум для народа. Тебе покажутся смешными слова эти, потому что  </p>
<p>18. ты поймешь, наконец, что перед тобой, прежде всего, творение твоих далеких предков - сынов русского народа, его художников и каменных дел мастеров, которые не только верили в Бога, но и могли так сильно выразить свои идеалы, хранимые в самой светлой, детской части их души, что даже суетящиеся их потомки останавливаются в удивлении.</p>
<p>19. И уходишь от этой церкви уже навсегда отравленный. Тебе захочется еще и еще повторять подобную встречу. Ты вспоминаешь какие-то обрывки пословиц и поговорок о Москве-златоглавой, белокаменной, с сорока сороками церквей, начинаешь судорожно рыться в справочниках и в старых книгах, без устали ходишь и ходишь по когда-то старинным улицам, вглядываешься в зачастую искаженный до неузнаваемости облик древних храмов и зданий.</p>
<p>20-27.</p>
<p>28. Старые города все своеобразны. Древний Таллин, так передавший очарование средневекового западноевропейского города, легко отличить от древнерусского Суздаля или от новоклассического Ленинграда. А вот каков стиль Москвы?</p>
<p>29. Может быть, это - вереница новых домов? Конечно, мы посмеемся над претензией этих коробок, одинаковых, как в Нью-Йорке, так и в Москве, представить дух города.</p>
<p>30. А, может, - классический стиль? Подобных зданий, величавых и красивых, достаточно в Москве, но опять же они были только подражанием Петербургу.</p>
<p>31. А, может быть, Москва - готический город? Разве эти мрачные здания с острыми красными крышами не в Москве стоят? Разве не московское небо голубеет над этими средневековыми башнями?</p>
<p>32. Да полноте Вам смеяться, скажете вы. Разве предки наши были какими-нибудь расчетливыми бюргерами, или, простите за сравнение, немцами? Разве могли они строить эти мрачные и безрадостные здания только на потребу практической пользе и выгоде? Разве не широкой и радостной была душа русского человека, разве в Москве не осталось зданий, в больше степени соответствующих национальному русскому характеру?</p>
<p>33. Конечно, вы правы, мы просто обратили ваше внимание на разностильность Москвы, на бросание из одной крайности в другую, от легких шатров до тяжести сталинских построек, от классических колоннад до готических зданий, от современных белых коробок до убогих деревянных домишек.</p>
<p>34. Как в подмосковном лесу в одно привлекательное целое смешаны хвойные и лиственные деревья, так и в Москве время закрутило все стили в красочный клубок.</p>
<p>35. И все же есть в Москве здания, которые являются ее главной особенностью, выражением ее духа и духа народа, живущего в этом городе. Это - церкви.</p>
<p>36. «На протяжении многих веков своеобразие городу придавали многочисленные деревянные и каменные церкви с разноцветными главами, монастыри, разбросанные в окрестностях Москвы или вкрапленные в гущу городских построек, и дворы светских и духовных магнатов с многочисленными службами и хоромами.</p>
<p>37. Заметим, кстати, что гости из западноевропейских скученных городов дивились тому, что «отдельные группы домов, церкви и монастыри в Москве тонули в зелени садов, огородов, наливок (рощ). Даже в Китай-городе дома обрамлялись садами...».</p>
<p>37а. Город чудный, город древний, <br/>
      Ты вместил в свои концы <br/>
      И посады, и деревни, <br/>
      И палаты, и дворцы.</p>
<p>38. Опоясан лентой пашен,<br/>
      Весь пестреешь ты в садах. <br/>
      Сколько храмов, сколько башен<br/>
      На твоих семи холмах.</p>
<p>39-43.</p>
<p>44. Я люблю этот город вязевый. <br/>
      Пусть обрюзг он и пусть одрях.<br/>
      Золотая дремотная Азия<br/>
      Опочила на куполах.</p>
<p>45. Народная молва приписывает Москве сорок сороков церквей. На деле к началу нашего столетия их было немного больше 500 (в пределах Коллежского вала), а сейчас сохранилось меньше половины. Действующих же храмов - всего лишь 25.</p>
<p>47. Много, очень много зданий погублено. Но те, что остались, молчаливо напоминают об истории великого города всем нам.</p>
<p><i>Часть первая</i></p>
<p>48. Андроников монастырь. Возник он в конце XIV-го века, но его стены нам гораздо больше напоминает вид древней Москвы, чем стены и башни московского Кремля, построенные итальянскими зодчими.</p>
<p>49. Монастырь на высоком берегу реки Яузы поставил Андроник - ученик Сергия Радонежского, по приезде в Москву митрополита Алексея из Царьграда. Митрополит хотел сделать все так же, как и в Царьграде, и даже ручей назвал в память о бухте Золотой Рог - Золотым Рожком.</p>
<p>50. В 1420-27 годах в центре монастырской территории вырос Спасский собор. Собор этот ни на кого не похож. Он - самый первый. Впервые традиционное позакомарное (полуцилиндрами) покрытие, пришедшее из Владимиро-Суздальской земли, сменилось новой кровлей - рядами кокошников. Это начал вырабатываться новый, московский стиль. Вместо архитектуры Владимира, выражающей величавый покой и силу, вместо новогородской мощи в это бурное время сумятиц, частой смены князей, интриг и татарской неволи появляются формы, насыщенные динамикой, напряженные устремлением вверх: арки килевидные, покрытия - рядами кокошников.</p>
<p>51. Посмотрите, в каком нарядном обрамлении стоит барабан! То уменьшая, то увеличивая размеры кокошников, вплетая трехлопастные арки, зодчий придал покрытию такую живописность и обаяние, что смотреть на него на надоедает. Можно долго скользить глазами от одного кокошника к другому, а потом начать сначала.</p>
<p>52. Спасский собор украшал Андрей Рублев. Время, к сожалению, не сберегло его труды.</p>
<p>53. Сейчас остались лишь намеки на его фрески, но зато рядом, в одном из помещений - музей древнерусской живописи имени Рублева, в котором очень интересно побывать. Особенно, если есть настрой.</p>
<p>54. Стоит на территории монастыря с конца XVII-го века другая церковь. Храм сам по себе неплохой: высоты ярусов пропорциональны, красива белокаменная отделка. Но рядом со своим старшим по возрасту и меньшим по росту братом кажется нескладным простачком.</p>
<p>55. Да, вся Москва мало чем отличалась от этого небольшого крепостного сооружения. Более того, была когда-то и поменьше его - всего несколько домов, боярский терем да деревянный частокол...</p>
<p>56. ...вот облик Москвы, возникшей в самом центре леса, настолько дремучего, в котором, согласно летописи, два княжеских войска, вышедшие воевать друг друга, так и «минустася в лесах», после чего вернулись домой ни с чем.</p>
<p>57. В названиях некоторых церквей звучат отголоски непроходимого леса: Боровицкий холм, на котором стоит Кремль с Боровицкой башней; кремлевская церковь (сейчас ее нет уже) Спас на Бору, так упрятанная среди недоступных кремлевских зданий, что увидеть ее можно было только с улицы Калинина; церковь Иоанна Богослова под Вязами близ станции метро Дзержинская;</p>
<p>58.церковь Всех Святых на Кулишках (болотах);</p>
<p>59. церковь Иоанна Предтечи под Бором, расположенная в Замоскворечье.</p>
<p>60. Рядом с последней церковь черниговских чудотворцев князя Михаила и боярина Федора напоминает нам о том времени, когда вся Москва была дальним медвежьим углом черниговского княжества.</p>
<p>61. И о том, как после Чернигов стал заштатным городом великого Московского государства. «Кто думал - гадал, что Москве царством быти, и кто же знал, что Москве государством слыти».</p>
<p>62. Но вот явился он, Юрий Долгорукий, которому история приписывает основание Москвы. Однако, летопись упоминает о том только, как он в 1147 году пировал на Боровицком холме над рекой Москвой. Да народное предание говорит, как приехал он в гости к первому владельцу московской земли - боярину Степану Кучке и показалось гостю-князю, что не очень чтит его боярин и хуже того, как сказали бы современные нам историки, является опасным обособленцем.</p>
<p>63. И как казнил он боярина Кучку, а малых детей его взял в услужение, а на месте Кучкина заложил град Москву. И многое другое говорят легенды, о чем не упоминают учебники, создавая образ великого основателя Москвы. Обычный насильник был этот князь, отплативший боярину кровью его за гостеприимство.</p>
<p>64. А город рос и богател. Оседали на перекрестке торговых путей люди, принося свою культуру. Первые московские соборы воздвигались по образцам новгородских и киевских.</p>
<p>65. Но городок был небольшой, и церкви в нем строились маленькие, какие-то домашние.</p>
<p>66. Церковь Зачатия Анны - у гостиницы Россия. Анна - мать богородицы Марии, и церковь построена в ознаменование счастливого события, предшествовавшего рождению девы Марии. Церковь эта, хоть и построена после Спасского собора в Андрониковом монастыре (в конце XV-го века), осталась в большей степени ближе к новгородско-псковским образцам.</p>
<p>67. Гладкие белые стены с узкими окнами и над ними трехлопастная арка - верный признак псковских церквей XII-го века. Контур арки напевный, как песня, нарядный, как женский кокошник, и в то же время торжественен, так как он ведет глаз вверх, к барабану, главе и кресту. И еще очень хорош пояс из кирпичей, уложенных на ребро, отчего и назывался поребриком. Вот как просто и нарядно умели украшать русские мастера свои храмы. Придел, конечно, поздний, но и он неплохо сочетается с основным зданием.</p>
<p>68. А это - церковь св.Трифона в Напрудном. В церковь можно влюбиться с первого взгляда. Древностью веет от белого камня ее стен, звонницы (позже, с последующими столетиями, появились уже колокольни), от барабана, покрытого шеломом, от лиричных русских трехлопастных арок, от килевидных перспективных порталов. Удивительная простота, целесообразность и сдержанность в украшении!</p>
<p>70. Из захолустного города в столицу Москва стала превращаться во времена татарского владычества. Время татарского ига глубоко укоренилось в народной памяти, в названиях улиц и церквей. Вблизи Ордынки - улицы, на которой жили «ордынцы» - татары, стоит церковь Иверской божьей матери</p>
<p>71. в Толмачевском переулке, где жили толмачи - переводчики, - церковь Николы в Толмачах.</p>
<p>72. Великое народное горе - татарские набеги, сеющие смерть и рабство, московские правителя без зазрения совести использовали в своих корыстных интересах.</p>
<p>73. И, хотя история их потом оправдала, но разве помянешь добром Ивана Калиту - собирателя земли русской, не брезговавшего ничем святым для того, чтобы натравить татар на кого-нибудь из своих соседей, а потом по свежим следам татарских грабежей и пожаров прибрать их землю.</p>
<p>74. Как сказал когда-то Алексей Толстой:<br/>
      Узнали то татары,<br/>
      Ну, думают, не трусь.br/&gt;
      Надели шаровары,<br/>
      Приехали на Русь.</p>
<p>75. Кричат: «Давайте дани»,<br/>
      Хоть всех святых неси. <br/>
      Тут много всякой дряни <br/>
      Настало на Руси.<br/>
      Что день, то брат на брата <br/>
      В Орду несут извет.<br/>
      Земля, кажись, богата,<br/>
      Порядка ж нет, как нет.</p>
<p>76. Но не только черное было связало в памяти народа с Москвой. Москва стала центром сопротивления татарскому игу. В истории, как и в жизни, не бывает светлого без темного. На базе успехов лучшего татарского пособника Калиты выросла светлая фигура освободителя Дмитрия Донского, победителя татар на Куликовом поле. А ведь для татар, наверное, имя Дмитрия стало синонимом самого худшего коварства и неблагодарности, ответившего войной после стольких благодеяний его отцу.</p>
<p>77. Симонов монастырь был заложен за десять лет до Куликовской битвы выдающимся церковным деятелем Сергием Радонежским, прославившимся благородством и умом. Имя Сергия было высоко чтимо русскими людьми. Свое громадное влияние Сергий в полной мере использовал для объединения в борьбе против татар всего русского народа. Его доля в победе на Куликовом поле очень велика.</p>
<p>78. От Симонова монастыря сохранилось немного. 385 лет продолжалось цветение монастыря, а потом у него отобрали в казенное ведомство крестьян, а еще через сорок лет даже вывезли братию в Ново-Спасский монастырь. Но еще наступали  и добрые времена. Его перестраивали.</p>
<p>79. В 1683 году перестроили трапезную церковь, одев ее в белую резьбу. От церкви остался лишь куб основания</p>
<p>80. да по счастливой случайности резной фронтон - украшение, которого нет ни у одной московской церкви.</p>
<p>81. В XIX-ом веке на северной стене монастыря выросла 47-саженная колокольня - самая высокая в Европе. Жаль, что именно на этом месте возникла необходимость построить дворец автозаводцев.</p>
<p>82. Теперь только три башни - могучие боевые башни, напоминают о силе и грандиозности этого укрепленного форта на подступах к Москве.</p>
<p>83. Древние монастыри - это крепости на ближних подступах к столице.</p>
<p>84. Под Москвою, на дорогах<br/>
      Средь лесов и пустырей <br/>
      В старину стояло много <br/>
      Сторожей-монастырей.<br/>
      В них всегда монахи жили, <br/>
      Пили, ели, не тужили, <br/>
      Все давала им земля, <br/>
      Огороды и поля. <br/>
      Но когда заметят в страхе <br/>
      Вражий стан со стен монахи, <br/>
      Иль блеснут издалека <br/>
      Копья вражьего полка,</p>
<p>85. Тотчас в Кремль гонец-монах <br/>
      Мчится, стоя в стременах, <br/>
      Объявить, что под Москвою <br/>
      Объявилась вражья рать, <br/>
      Чтоб готовы были к бою <br/>
      Стольный город обранять.</p>
<p>86.А крестьяне между тем<br/>
      С монастырских крепких стен<br/>
      Путь в столицу защищали,<br/>
      Метко били их пищали.<br/>
      И частенько под Москвой <br/>
      Закипал горячий бой.</p>
<p>87. Много раз за стены эти<br/>
      Укрывались бабы, дети.<br/>
      Как объявится беда, <br/>
      Весь народ бежит сюда.<br/>
      Сохранились и поныне<br/>
      Древнерусские твердыни.<br/>
      Поезжай и посмотри<br/>
      На Москве монастыри:<br/>
      Новодевичий, Данилов, <br/>
      И Андроньев, и Донской. <br/>
      Эти стены вражью силу<br/>
      Оттесняли под Москвой.</p>
<p>88. Данилов монастырь - самый старый боевой монастырь, поставленный на татарской дороге сыном Александра Невского - одним из первых московских князей Даниилом. Его старые израненные стены, не искаженные поздними строителями, до сих пор выполняют роль крепости-тюрьмы.</p>
<p>88а. И там, едва заметная<br/>
      Меж сосен и дубов, <br/>
      Во мгле стоит заветная <br/>
      Обитель чернецов.<br/>
      Монахи с верой пламенной<br/>
      Во тьму вперили взор,<br/>
      Вокруг твердыни каменной<br/>
      Ведут ночной дозор.<br/>
      Всю ночь они морозную <br/>
      До утренней поры<br/>
      Рукою держат грозною<br/>
      Кресты и топоры.</p>
<p>89. Молитесь богу, братья,<br/>
      Начнется скоро бой.<br/>
      Я слышу их проклятья<br/>
      И гиканья, и вой.<br/>
      Несчетными станицами<br/>
      Идут они вдали.<br/>
      Приляжем за бойницами,<br/>
      Раздуем фитили.</p>
<p>90. Долго не могла Москва избавиться от ярма татарского. Совсем недавно Тохтамыш истоптал и испепелил родную землю. Только оправилась Москва от последнего пожара, а уже новый враг (и слышно, что жестокий враг) идет на Москву.</p>
<p>91. Призадумался великий князь Василий Данилович: как спасти землю русскую от врага лютого. И послал гонцов во Владимир-град за святой иконой Божьей матери. И велел нести ее в храм кремлевский, чтобы спасла она град стольный и всю Московию от лихого врага ненасытного. И пока несли из Владимира икону, весь народ просил свою заступницу не оставить его в лихое времечко. Москвичи с поклонами встретили икону на Кучковом поле на Владимирке, отнесли ее в храм Успения и служили ей молебен, плакали.</p>
<p>92. Повернул Тамерлан от Рязани, не пошел на Московскую землю. В счастье - радости воротилося княжье войско в Москву. В благодарность иконе-заступнице  князь обитель поставил Сретения на Кучковом том поле близ города.</p>
<p>93. С татарами было покончено только в 1480 году, когда государь всея Руси Иван  III вот на этом месте, где сейчас стоит церковь Николы на Болвановке, топтал ногами статуэтку хана, в просторечии - болвана.</p>
<p>93а. Хан писал царю Ивану в ярлыке:<br/>
      «От высоких от гор и от темных лесов, <br/>
      Что подвластны ордынскому хану, <br/>
      И от сладостных вод, и от чистых лугов <br/>
      Шлет Ахмет свое слово Ивану.</p>
<p>94. Ты припомни, как корчились ваши цари<br/>
      От батыевой сабли жестокой.<br/>
      Сорок тысяч алтын мне теперь набери<br/>
      И отдай эту дань за три срока.<br/>
      И еще островерхий колпак свой вдави <br/>
      В знак покорности хану Ахмету,<br/>
      А не то потоплю твою землю в крови,<br/>
      По хребтам по боярским проеду».<br/>
      Государь прочитал и спокоен, и строг<br/>
      Повернулся к ахметовым людям,<br/>
      Бросил наземь ярлык под сафьянный сапог <br/>
      И сказал: «Дань платить мы не будем!»</p>
<p>95. Ушли татары, освободив Руси дорогу в будущее. Москва стала преемницей Византии, третьим Римом. Иван III был твердым и просвещенным государем. Москва ему обязана постройкой Кремля со всеми  церквями и стенами.</p>
<p>96. С тех пор Московский Кремль стал главной святыней русского народа. Ему посвящено множество искренних поэтических строк и раздумий. Однако долгое время Кремль был для всех всего лишь синонимом высшей власти и недоступности. Но сейчас, когда открыт свободный вход на территорию Кремля, он становится все ближе.</p>
<p>97. Над всеми зданьями возвышен,<br/>
      Огнем востока Кремль алел. <br/>
      Зажгли лучи его живые <br/>
      Соборов главы золотые. <br/>
      Меж ними царственно горел <br/>
      Иван Великий.</p>
<p>98. Кремль - центр Москвы, а Успенский собор - центр Кремля. Это - главный собор России. Заложенный еще Иваном Калитой и заново перестроенный Аристотелем Фиораванти по образцу Владимирских соборов, он служил гробницей митрополитов и патриархов.</p>
<p>99. Здесь цари венчались на царство, принимая от предков всю власть. Здесь хранились наиболее знаменитые иконы. «Была же та церковь весьма удивительна величеством и высотой, и звонкостью и пространством. Такой же прежде не бывало на Руси, кроме Владимирской церкви». Да, собор торжествен, спокоен, могуч, строг. Гладкие стены с узкими окнами, тяжелые барабаны - все внушает мысли об отрешенности его от суетной жизни, о прочности веры, которую он несет. И лишь поясок из арок на теле этого суровца как бы протягивает руки к людям, смягчая его недоступность.</p>
<p>100. Из-за стен белокаменного Успенского собора выглядывает Благовещенский собор, построенный псковичами. Восемь золотых головок, ослепительных в яркий день, ступенями поднимаются к центральной главе.</p>
<p>102. Архангельский собор - усыпальница царей. Его строитель - Алевиз Новый - создал удивительный синтез русских и итальянских декоративных приемов. Вместо владимирского аркатурного пояса посередине фасада - тонкая тяга, в тимпаны закомар он вставил раковины, портал украсил гирляндой из лавров. Богатый коринфский ордер, тонкие профилированные карнизы - все это вызывало удивление и порождало немало подражателей.</p>
<p>103. Как будто из русской сказки спустились в Кремль и стали рядком одиннадцать изящных барабанов с маковками над собором Верхоспасским. Затейливая резьба по металлу, яркое солнечное сочетание красок - и получилась сказочно красивая картина.</p>
<p>104-104б.</p>
<p>105. Кремль. Все чаще приходят к тебе не только любопытные, а люди мечтающие, чтобы твои соборы заговорили с ними. И, видя их почтительность и настойчивость, ты открываешь им красоту людских дел и мыслей.</p>
<h3>
<a href="/Part2/Moskwa_2/"> Часть вторая "От Грозного до Петра" </a>
</h3>
<br/>
<br/>
<br/>

{% endblock content %}
