{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Диафильм "Ленинград" Часть II. "Полярная звезда"</title>
{% block content %}



<br/><br/>
<p>1-2. За 100 лет в устье Невы поднялся город, приводивший в изумление иностранных туристов. Отдает ему дань и маркиз де Кюстин. "Представьте себе: огромное количество церковных куполов, синие или ярко</p> <p>3. зеленые крыши двориков, площади, украшенные бронзовыми статуями императоров и героев русской истории.</p>
<p>4. Прибавьте сюда водную гладь широчайшей реки. И вы поймете, почему Петербург является все-таки бесконечно живописным городом."</p>
<p>5. Понятно изумление иностранцев. Для них город на болоте, выросший вопреки желаниям людей - экзотика, почти чудо, созданное Питером, Элизой и Катариной. И только невзрачность и рвань простолюдья, их бедных жилищ вызывали недоумение.</p>
<p>6. А хозяева этих дворцов нищеты не замечали, как не замечают грязь на дороге.</p>
<p>7. Однако и тогда были в Петербурге живые люди, способные слышать правду со стороны, способные чувствовать ее, как Герцен: "Книга Кюстина действует на меня как пытка, как камень, привешенный к груди. Я не смотрю на его промахи, основа - верна. И это страшное общество, и эта страна Россия. И тягостно оттого, что чувствуешь страшную правду, и досадно, что чужой дотронулся до больного места". С такой же болью и я читала эту книгу.</p>
<p>8. Кюстин не увидел живых людей в холодном и бесчеловечном Петербурге. Но мы-то знаем, что они уже были. И удивляемся, как же они рождались на этой бесплодной почве.</p>
<p>9. На это один ответ: "Такова жизнь!" Не своей волей переселились сюда русские люди, но они обжили землю, похоронили родителей, и за 100 лет стали Петербуржцами.</p>
<p>10. Медленно, но неуклонно город оживал,  как прорастает мрачный камень свободными цветами. И как ни старалась царская власть восстановить порядок, выпалывая сорняки периодическими казнями, ссылками, жизнь-стихия неистребима.</p>
<p>11. Вся история Петербурга - это история борьбы самодержавной красоты с нерегулярностью и свободой людей.</p>
<p>12. Екатерина была великой, и потому не боялась дать свободу, но только своим дворянам.</p>
<p>13. А те воспользовались ею, прежде всего, для того, чтобы окончательно поработить мужиков, и за их счет настроить европейских дворцов и усадеб. Такова цена свободы, идущей сверху: вместе с великолепием частной инициативы екатерининских орлов развязалась свора их азиатских инстинктов.</p>
<p>14. Так хороша свобода или плоха?</p>
<p>15. Почти неразрешимый вопрос в русской истории, окаменевшей в петербургских зданиях.</p>
<p>16. Михайловский, или Инженерный замок, был выстроен архитектором Бренной как резиденция-убежище Павла I, главная память о его коротком царствовании и убийстве. До смерти матери Павел жил в пригородных усадьбах, сначала в Павловске, а потом в Гатчине, на природе, под присмотром педагогов, выписанных Екатериной.</p>
<p>17. Но результат от этого воспитания получился обратным.</p>
<p>18. И это понятно. Ведь от матери Павел получал не столько ласку, сколько подозрительность и попреки. Екатерина боялась, что сын отымет власть, разгонит любовников и уничтожит славу. А от отца он получил лишь скорбную память царя и мужеубийства, грозящего и ему. Ну, как не изломаться от ожидаемого громадного могущества после смерти матери, и ежечасного страха перед ней и ее кровожадными орлами.</p>
<p>19. Возмужание принесло Павлу не власть, лишь полудобровольное заточение - выжидание в Гатчине, лишь ненависть к наглой свободе матушкиных фаворитов, смешанная вместе с романтическим сочувствием к угнетаемому ими народу, подданным,  лишь гнев: "Уже погодите, наглые рабы, отольются вам мои и народные слезы".</p>
<p>20. Так в тиши гатчинских прудов готовился очередной всплеск самодержавной революции. Вверх-вниз, поосвободить людей - зажать. В этих колебаниях билась и бьется наша жизнь.</p>
<p>21. Историк Янов: "Грядет новый Петр, пусть имя ему будет Павел - и целые полки зашагают в Сибирь, и 20000 человек всего за 4 года будут изгнаны, рассеяны, уничтожены, и прежний аппарат перестанет существовать. В этом смысле Павел, и впрямь, окажется революционером, как и его прадед.</p>
<p>22. Подражая великому Фридриху, он будет вставать в 3 часа утра - и странное впечатление будет производить ночной Петербург со свечами в окнах административных зданий и трепещущими чиновниками, а вдруг вызовет - зачем вызовет? Не в Сибирь ли прямо из кабинета? Не в каземат ли?</p>
<p>23. А если не вызовет ночью, значит, рано утром пожалуйте на плац-парад. Там выслушиваются все доносы, там решение судеб... Неверный шаг, минута невнимания, или даже без малейшей причины малейшее подозрение, промелькнувшее в уме государя, человек погиб... Всегда стоят наготове кибитки, тут же забирают людей в крепость или ссылку.</p>
<p>24. И вспоминала потом екатерининский президент академии Дашкова: "Ссылки и аресты пощадили едва ли несколько семей. Муж, отец, дед видели в жене, в сыне, в наследнике доносчика, из-за которого он мог погибнуть в тюрьме; ужас испытывался всеми".</p>
<p>25. А заканчивает Янов свою книгу так: "Никому нет спасения от произвола в стране произвола. Ибо у каждой палки два конца. Ибо никому не дано избегнуть кары в опричном строе, когда воскресает Грозный. А он в такой стране всегда воскресает. И для того пишу я свою книгу, чтоб понимали все, чтоб не забывали, чтоб высекли на стенах домов провидческий вопль Курбского: "Час отмщения близ есть".</p>
<p>26. С Павлом России повезло. Убили его через 4 года в 1801 г. вот в этом мрачном замке-крепости с ее каменными рыцарями-стражами, потайными переходами, убежищами и прочей романтикой. Решительные действия убийц тирана избавили страну от множества бед, дали власть либеральному внуку Екатерины, и все же...</p>
<p>27. Молчит неверный часовой, /Опущен молча мост подъемный, <br/>
      Врата отверсты в тьме ночной /Рукой предательской наемной. <br/>
      О стыд: О ужас наших дней! /Как звери, вторглись янычары! <br/>
      Падут бесславные удары./Погиб увенчанный злодей.</p>
<p>28. И днесь, учитесь, о цари. /Ни наказанье, ни награда <br/>
      Ни кров темниц, ни алтари /Не верные для вас ограды.</p>
<p>29.	Склонитесь первые главой /Под сень надежную закона<br/>
      И станут вечной стражей трона /Народов вольность и покой.</p>
<p>30. Но через 40 лет Кюстин свидетельствовал не о памяти, а о забвении. "Теперь    русские люди проходят мимо старого Михайловского дворца, не смея на него взглянуть. В школах и вообще повсюду запрещено разговаривать о смерти Павла. Я удивляюсь лишь тому, что до сих пор не снесли этот дворец с его мрачными воспоминаниями".</p>
<p>31. Но для туриста большая удача видеть исторические здания, которые своей старинной внешностью так резко выделены</p>
<p>32. на общем фоне города, в котором деспотизм все подстриг под одну гребенку,  все уравнял и заново создал, стирая каждый день самые следы прошлого".</p>
<p>33. <u>Дней Александровых прекрасное начало</u>Павел был антиподом матери, Александр - его самого, и, значит, он стал прямым продолжателем Екатерины.</p>
<p>34. Да и по человечески все очень понятно: бабка любит внука, прочит ему престол через голову сына и воспитывает близ себя в Царском селе. Швейцарец-педагог прививает ему республиканские убеждения.</p>
<p>35. Александр не жаждал царской власти, республиканцу нечего с ней было делать. Власть пришла к нему сама, волей победивших заговорщиков. Став русским императором, Александр очаровал всех петербуржцев ласковостью, учтивостью, надеждами на реформы и конституционным проектом комиссии Сперанского.</p>
<p>36. И, встречаясь с гуляющим по улицам города или аллеям Царского села императором, Екатерининские орлы и либералы утирали втихую слезы умиления, благословляя внука матушки-царицы.</p>
<p>37. Однако став полноправным хозяином этих апартаментов и всей страны, обкатываясь в государственных делах, молодой вольнодумец стал терять преобразовательский пыл. Все оказалось куда как сложно.</p>
<p>38. Гораздо проще было одевать столицу в европейские фасады. Прекрасные, строгие здания с серьезными и изысканными пропорциями получили жизнь в эти годы.</p>
<p>39. Уверенно стало на свое место захаровское адмиралтейство, сильное и мужественное здание с легким, растворяющимся в небе верхом.</p>
<p>40-41. На стрелке Васильевского острова выросла роскошная Тоомоновская биржа,  биржа в Греческом храме.</p>
<p>42. Александрово время окончательно утвердило классический вид столицы, соперничавшей со столицами мира. И если нас этот храм торговли восхищает, то какой он должно было вызывать восторг 150 лет назад на фоне грязных складов, купеческих контор и суетливой торговли.</p>
<p>43.	Прошло сто лет, и юный град /Полнощных стран краса и диво <br/>
      Из тьмы лесов, из топи блат /Вознесся пышно, горделиво.</p>
<p>44. По оживленным берегам  /Громады стройные теснятся <br/>
                        Дворцов и башен, корабли /Толпой со всех концов земли<br/>
                        К богатым пристаням стремятся.</p>
<p>45. В гранит оделася Нева /Мосты повисли над водами</p>
<p>46. Темнозелеными садами /Ее покрылись острова</p>
<p>47. И перед младшею столицей /Померкла старая Москва <br/>
                         Как перед новою царицей /Порфироносная вдова.</p>
<p>48. За 10 первых лет Александровского царствования бывший строгановский крепостной Воронихин выстроил Казанский собор с колоннадой. Про него не скажешь "божья свечка". Торжественным гимном античности, гуманизму звучит он.</p>
<p>49. Недаром стал местом студенческих демонстраций.</p>
<p>50. После того, как сюда поместили реликвии 1812 г., Казанский собор стал памятником Отечественной войны.</p>
<p>51. Вспомним, что этой войне предшествовали провалы имперских армий в европейских битвах с Наполеоном. И вот при минимуме самодержавного руководства и естественном ходе событий, которому Кутузов только не мешал, выявился невиданный народный энтузиазм.</p>
<p>52. Прекрасные условия для разрешения всех внутренних проблем страны таят такие моменты национального единения и братства! Сроднившись за годы боевой жизни с солдатами-мужиками, дворянство могло одобрить отмену крепостного права, а победоносная армия могла защитить конституционные реформы. Все было в руках и воле монарха-республиканца.</p>
<p>53. Однако ничего такого не произошло. Проект отмены рабства погиб в зачаточном состоянии, конституционная комиссия Сперанского была закрыта. Из мечтаний и надежд ничего не вышло.</p>
<p>54. Зато Александр начинает строить свой памятник: На месте Петровской деревянной Исаакиевской церкви - собор. Но не успевает, хотя и вкладывает в него почти все деньги, предназначенные для церковного строительства по стране.</p>
<p>55-56. В Исакие лучше всего воплощены суть и облик самодержавия: концентрация усилий на какой-либо одной, часто бесполезной задаче. И еще - наша слепота. Мы видим громадный, роскошный собор, и не думаем, что здесь схоронены десятки и сотни не построенных, и более лучших зданий и храмов, силы страны за 40 лет - и всего навсего один Исакий!</p>
<p>57. Сегодня здесь море экскурсантов, охающих на умопомрачительную роскошь собора, построенного по принципу всех азиатских деспотов: "Кто хочет убедиться в моей силе и щедрости, пусть смотрит на мои постройки". И что ж? Мы ахаем и преклоняемся.</p>
<p>58. Так что же случилось? Почему народные победы 1812 года не обратились в победу народа? Почему все валится. Даже при прекрасном, западном, прогрессивном и либеральном Александре? Наш ответ парадоксален: "Чем лучше самодержец, чем сильней жаждет он счастья для народа, и чем больше своей власти для этого употребляет, тем будет хуже нам, много хуже".</p>
<p>59. И не нашлось еще ни разу, и не найдется самодержца, который бы понял, что самое лучшее, что он может сделать - это аккуратно уничтожить абсолютность своей власти, по собственному почину.</p>
<p>60. Но кому передавать власть? Вспомним, когда в этом здании 60 лет назад заседал первый съезд Советов и обсуждал, кто может реально принять власть от павшего царя, - в притихшем зале раздался лишь один голос: "Есть такая партия". Это был Ленин,  а за ним стал Сталин, затмивший многих самодержцев. И так всегда: не Екатерина, так Пугачев, не Александр, так Пестель. Разве это выход? Где же другие люди, которые могут взять власть от имени и по праву народа и его свободы? Где достойная демократическая оппозиция?</p>
<p>61. Такие люди в России были, но их было мало. Это Радищеву принадлежит горькое: "Встал я, оглянулся окрест, душа моя страданием народа уязвлена стала". При Александре выросло целое поколение образованных дворян, видевших Европу и не способных смотреть равнодушно на страдания крепостных и солдат.</p>
<p>62. Потом их назвали декабристами. Откуда же они взялись в стране рабов и фаворитов?</p>
<p>63. Однокашники выросли в Царском селе, в привилегированном Лицее, построенном для них архитектором Стасовым. Здесь, немного раньше, растила Александра Екатерина.</p>
<p>64. А там в безмолвии огромные чертоги<br/>
      На своды опершись, несутся к облакам, <br/>
      Не здесь ли мирны дни вели земные боги? <br/>
      Не се ль Минервы русской Храм?</p>
<p>65. Не се ль Элиниум полнощный <br/>
      Прекрасный царскосельский сад,<br/>
      Где, льва сразив, почил орел России мощный <br/>
      На лоне мира и отрад?</p>
<p>66.	Увы, промчалися те времена златые <br/>
      Когда под скипетром великия жены <br/>
      Венчалась славою счастливая Россия <br/>
      Цветя под кровом тишины.</p>
<p>67-68.</p>
<p>69. В те дни, когда в садах лицея /Я безмятежно расцветал, <br/>
      Читал охотно Апулея, /А Цицерона не читал,</p>
<p>70.	В те дни в таинственных домах /Весной при кликах лебединых <br/>
      Близ вод, сиявших в тишине, /Являться муза стала мне.</p>
<p>71.	Моя студенческая келья /Вдруг озарилась: муза в ней <br/>
      Открыла пир младых затей. /Воспела детские веселья</p>
<p>72.	И славу нашей старины /И сердца трепетные сны.</p>
<p>73-74.</p>
<p>75. Об этой пушкинской деве Анна Ахматова писала: </p>
<p>И ослепительно стройна, /Поджав незябнущие ноги <br/>
      На камне северном она  /Сидит и смотрит на дороги.</p>
<p>76-78.</p>
<p>79. Здесь был создан особый, идеальный мир. Усилия незаурядных педагогов,  поощрявших детскую инициативу, творили в этом аквариуме прекрасных будущих людей,  сотни Александров.</p>
<p>80. У лицеистов больше было возможностей испытать сладость товарищества, юношеской дружбы и радость собственного творчества. И на них не давил с измальства груз будущей громадной власти.</p>
<p>81. Помните? </p>
<p>Друзья, прекрасен наш союз! /Он как душа неразделим и вечен -<br/>
            Неколебим, свободен и беспечен, Срастался он под сенью дружных муз.<br/>
            Куда бы нас не бросила судьбина /И счастье куда б не повело <br/>
            Все те же мы: нам целый мир чужбина, /Отечество нам Царское село.</p>
<p>82. Конечно, выпускники лицея готовились к высокой государственной службе, и многие достигали высот, но у части их судьба была другая, декабристская.</p>
<p>83. Любви, надежды, тихой славы /Недолго нежил нас обман <br/>
      Исчезли юные забавы /Как сон, как утренний туман</p>
<p>84. Hо в нас горят еще желанья, /Под гнетом власти роковой <br/>
      Нетерпеливою душой /Отчизны внемлем призыванье <br/>
      Мы ждем с томленьем упованья /Минуты вольности святой...</p>
<p>85. Конечно, не только из лицея вышли декабристы. Других воспитывали западные гувернеры. Третьи с малолетства отправлялись на учебу за границу, и лишь, возвращаясь, узнавали, что в России - рабство.</p>
<p>86. И вот молодежь покидает лицей и родные усадьбы.</p>
<p>87. Из оранжерей их высаживают на лютый холод русского деспотизма. Что же с ними будет? Замерзнут, или смягчат климат родины?</p>
<p>88. Первый "Союз благоденствия" организовался в стране в 1816 году, но быстро распался из-за вопроса - куда идти? Обращения к царю не помогли. Заставить силой, в духе привычных дворцовых переворотов - мешало идеальное воспитание и отвращение к насилию. Оставался новый для России путь либералов-постепенцев. В стране родилась мирная дворянская оппозиция, содействующая прогрессу родины, кто борьбой со взяточничеством, кто обучением солдат, а кто просто филантропией.</p>
<p>89. Но был в дворянской оппозиции неискоренимый порок. Мечтая улучшить жизнь народа, они сами привычно жили в роскоши, полученной от труда их крепостных рабов, службы на царя, и не могли жить иначе. Прямо-таки заколдованный круг.</p>
<p>90. Лишь немногие из лицеистов разрывали этот круг и строили свою жизнь на самостоятельном труде. Среди них - Пушкин, ставший из помещика профессиональным литератором.</p>
<p>91. Интересно, что Пушкин шел как бы впереди декабристов. Когда они были еще постепеновцами, он уже дозволял себе радикальные разговоры о пользе революционного террора и был репрессирован даже Александром. Когда же они с отчаяния перешли к мысли о революционном восстании, Пушкин пришел к позиции личного дела.</p>
<p>92. 1825 год. Умирает бездетный Александр. Вместо среднего Константина, на престол восходит младший брат Николай. А декабристы выводят на Сенатскую площадь свои войска на открытое выступление. Пора мучительных колебаний кончилась. Это началось. Но что это - революция или дворцовый переворот? Не революция - ибо не было здесь народной инициативы, и не переворот - ибо вместо эффективного цареубийства здесь был лишь демонстративный отказ от присяги и пассивное ожидание переговоров.</p>
<p>93. Конечно, многие из декабристов и сами не осознали цель своего выхода на площадь, и не мудрено. Свершить в сознании и поведении рывок от заговора к диссидентству, к гражданскому протесту - не легко. Прошлое тянуло к заговору, будущее - к ненасильственному и конструктивному протесту. И хотя они вышли с оружием в руках, хотя был выстрел Каховского, все же они сделали этот рывок, устроили первую массовую ненасильственную демонстрацию граждан.</p>
<p>94. И, вместе с тем, это была первая расстрелянная демонстрация. Царь Николай картечью срезал родившиеся едва цветы русской гражданственности на каменистой Петербургской почве.</p>
<p>95. С той поры в Петропавловской крепости не переводились политзаключенные.</p>
<p>96. Сырые, темные подвалы - свидетели потрясающих драм первого поколения русских диссидентов. Очень многие из них раскаивались в выступлении, по их мнению, военном, и, не запираясь и не выгораживая других, с искренностью и болью излагали царю и следствию свои мысли и проекты о реформах в родной России, которые затем на долгие годы стали предметом изучения николаевских комиссий - но бесплодно.</p>
<p>97. 1826 г. 5 декабристов повешено, остальные отправлены в долголетнюю ссылку.  Этим позорным пятном начал свое тридцатилетнее правление Николай. Однако не надо забывать, что вместе с декабристами-диссидентами были разгромлены и декабристы-заговорщики, типа Пестеля, чья победа могла бы привести Россию к еще большим несчастьям. Провидение страну хранило, удержав тогдашних оппозиционеров от насилия.  И потому мы их славим.</p>
<p>98. Но еще большая честь и слава тем, кто сумел удержаться от обреченного декабря и продолжать в холодном Петербурге жизнь не рабскую, а свободную, творческую.</p>
<p>99. <u>А.Григорьев.</u></p>
<p>Да, я люблю его, громадный, гордый град, <br/>
      Но не за то, за что другие. <br/>
      И не граниты вековые</p>
<p>100. Я в нем люблю, о нет! Скорбя душой /Я прозираю в нем иное -<br/>
Его страдания под ледяной корой /Его страдание больное.</p>
<p>101. И пусть его река к стопам его несет /И роскоши и неги дани,<br/>
      На них отпечатлен тяжелый след забот, /Людского пота и страданий.</p>
<p>102. И пусть горят светло огни его палат, <br/>
                  Пусть слышны в них веселья звуки,-<br/>
      Обман, один обман! Они не заглушат <br/>
      Безумно страшных стонов звуки <br/>
      Страдание одно привык я подмечать,<br/>
      В окне ль с богатою гардиной,</p>
<p>103. Иль в темном уголку - везде его печать!/ Страданье - уровень единый!</p>
<p>104-107.</p>
<p>108. Перед нынешним Ленсоветом и бывшим Мариинским дворцом стоит памятник Николаю I, вошедшему в русское оппозиционное предание как Николай Палкин. Получая объедки от царскосельского воспитания, Николай лучше был знаком с изнанкой русской жизни, и потому стал родоначальником последней формации русских царей - трезвых, рассудительных, понимающих шаткость своего неимоверного могущества. И страшно боящихся его потерять.</p>
<p>109. Кривая общественного развития России после казни декабристов снова поползла вниз. Цензура, запрет на свободный выезд, военизация вузов, ссылки, одиночки, каторга. Чего стоят расправы только над известными писателями: Лермонтовым,  Герценом, Шевченко, Полежаевым, Достоевским!</p>
<p>110. Конечно, Николай не был насильником по природе. Нет, он давил из долга хозяина, из желания навести сначала в стране "порядок", а потом реформировать ее как надо. Нечего и говорить, что на таком пути его ждало полное бесплодие.</p>
<p>111. Будучи рачительным хозяином, Николай не увлекался грандиозными стройками, как его бабка и брат, и даже изменил их традиции. И, вместо очередного памятника основателю, лишь закончил Исаакиевский собор и воздвиг столп в честь брата.</p>
<p>112. Гранит суровый, величавый, /Обломок довременных скал,<br/>
      Как знак побед, как вестник славы /Ты перед царским домом стал.<br/>
      Ты выше, чем колонна Рима  /Поставил знаменье креста. </p>
<p>113. Несокрушима, недвижима /Твоя тяжелая пята. <br/>
      И через кровлю низких зданий, /Все озирая пред собой, </p>
<p>114.Ты видишь в сумрачном тумане /Двух древних сфинксов над Невой <br/>
      Глаза в глаза вперив, безмолвно, /Исполнены святой тоски, <br/>
      Они как будто слышат волны /Иной, торжественной реки. </p>
<p>115. Для них, детей тысячелетий, /Лишь сон виденье этих мест, <br/>
      И эта твердь, и стены эти, </p>
<p>116.И твой, взнесенный к небу крест.</p>
<p>117. Видя в Петербурге только афишу русского самодержавия, де Кюстин и этих сфинксов принял за копию, чем дал прекрасный повод николаевским борзописцам закричать на всю Европу: "Какие копии? Сфинксы самые настоящие из Египта, от пирамид. Маркиз - лжец. И все, что он написал - ложь. А мы - лучшие в мире".</p>
<p>118. Казенщина, бюрократизм -николаевский порядок виден и сегодня в облике столицы.</p>
<p>119. Строго ограниченный список фасадов зданий, почти исключительно желто-белая их окраска, полосатые шлагбаумы, служащие в форме делали не только из столицы,  но и из всей России, по определению Щедрина, город Глупов, с верховцем Угрюм-Бургеевым во главе.</p>
<p>120. Заметил я, что желтый этот цвет <br/>
      Особенно льстит сердцу патриота.<br/>
      Обмазать вохрой дом иль лазарет <br/>
      Неодолимо русскому охота;<br/>
      Начальство также в этом с давних лет <br/>
      Благонамеренное видит что-то,</p>
<p>121.И вохрятся в губерниях сплеча <br/>
      Палаты, храм, острог и каланча.</p>
<p>А вот Кюстин: "Утренние часы в Петербурге пустынны. Это время выполнения всякого рода поручений господ и начальников. Никто, казалось, не шел по своей воле, и вид этого подневольного уличного движения навеивал грустные впечатления.</p>
<p>122. Все было тихо и размеренно, как в казарме или в лагере. Это шедевр дисциплины. Здесь можно двигаться, можно дышать не иначе, как с царского разрешения или приказа.</p>
<p>123. Содрогаешься от мысли, что столь огромное число рук и ног имеет одну голову". И сейчас, в XX веке, я не вижу, чем утопия Орвелла, отнесенная к 1984 году, мрачнее русских реалий, увиденных у нас французским путешественником уже 140 лет назад, удивительно другое: мы-то живем между этими датами, да еще и радуемся.</p>
<p>124. Кюстин оставил нам замечательный портрет Николая и его политических воззрений.</p>
<p>125. "Да, в России еще существует деспотизм, потому что он составляет основу управления, но он вполне согласуется с духом народа. Я еще понимаю республику, но представительного образа правления постигнуть не могу. Я скорее отступил бы до самого Китая, чем согласился бы на такой образ правления.  Покупать голоса, подкупать совесть, завлекать одних, чтобы обманывать других - я с презрением отверг все эти средства, слава Богу, навсегда покончил с этой   отвратительной политической машиной в Польше и никогда не соглашусь управлять народом при помощи хитрости и интриг".</p>
<p>126. И вот человек наших взглядов, маркиз де Кюстин отмечает: "Я чувствовал себя подавленным, ослепленным от благородства взглядов, откровенной и прямой речи".</p>
<p>127. Но деспотически благородные речи Николая не могут ослепить надолго. Тем более Кюстина. Он видит, что за верностью подданных, за надменностью монарха таится страх, что все непрочно в этом роскошном каменном мире.</p>
<p>128. И закончил он анализ неопровержимым прогнозом революцией через 50 лет.</p>
<p>129. По большому счету, Кюстин прав! Вот только жаль, не увидел он ростки жизни на нашей земле, уж очень слабы они были. И до, и при Кюстине город жил незаметно для иностранца, незаметно для властей, этих внутренних иностранцев, город оживал, населялся обычными людьми с их обычными, независимыми от начальства горестями и радостями.</p>
<p>130.Вспомним, что здесь вырос и работал годами Пушкин.</p>
<p> Город пышный, город бедный, /Дух неволи, строгий вид, <br/>
                   Свод небес зелено-синий, /Скука, холод, и гранит.</p>
<p>131. Его дом на Мойке - самый посещаемый музей в Ленинграде.</p>
<p>132. Нам не удалось в него попасть, только заглянули во дворик.</p>
<p>133. На Черной же речке, месте дуэли Пушкина с Дантесом, мы долго и грустно выжидали ухода этих диковатых школьников, чтобы хоть немного сосредоточиться.</p>
<p>134.Кустарник. Сосны. Старая деревня.<br/> 
                  Здесь все не так, как много лет назад. <br/>
      А видевшие многое деревья  /Угрюмо и подавлено молчат.</p>
<p>135. Дитя своего времени, Пушкин испытал все противоречия эпохи.</p>
<p>136. Он был декабристом и верноподданным Николая, сторонником конституции   и законности и прославителем Петра Великого, тружеником-литератором и безоглядным барином-картежником, оставившим семье громадные долги.</p>
<p>137. В одном и том же 27 году он пишет и декабристам в Сибирь.</p>
<p>Оковы тяжкие падут, /Темницы рухнут и свобода <br/>
      Вас примет радостно у входа /И братья меч вам отдадут.</p>
<p>138. И царю:</p>
<p>В надежде славы и добра /Гляжу вперед я без боязни. <br/>
      Начало славных дней Петра /Мрачили мятежи и казни. <br/>
      Самодержавною рукой /Он смело сеял просвещенье, <br/>
      Не презирал страны родной, /Он знал ее предназначенье</p>
<p>139.То академик, то герой, /То мореплаватель, то плотник,<br/>
      Он всеобъемлющей душой /На троне вечный был работник.<br/>
      Семейным сходством будь же горд, /Во всем будь пращуру подобен:<br/>
      Как он неутомим и тверд /И памятью, как он, незлобен.</p>
<p>140. Как легко уличить Пушкина в непоследовательности, как просто упрекнуть в измене и идейном предательстве. Но все эти упреки будут бессмысленны, ибо Пушкин неоднократно изменял и взгляды, и принципы, и привычки. Но зато он ни разу не изменил своему отечеству. А это оказывается самое главное, самое важное.</p>
<p>141. Да, он считал себя обязанным учить тирана, глядящего на страну, лишь как на укрощаемого коня. Известно, что Клодтовские скульптуры на Аничкином мосту были любимыми изваяниями императора. Две из них он далее подарил царственным родственникам в Европе. Но кому Пушкин помогал на деле: коню-России или царю-укротителю? Жизнь показала, что не укротителю, а нам. В укрощении народа царю помогали лишь Бенкендорф и прочие с ним.</p>
<p>142. Друзья Пушкина пытались вырвать узду из рук укротителя и выпустить на волю дикую страну, себе и ей на гибель.</p>
<p>143.  Пушкин же и другие, верные себе люди, работали над настоящим выходом, чтоб укрощаемый конь перестал быть зверем, чтобы в России жили не варвары, не рабы,  а люди, граждане, тогда и с укротителем пойдут иные разговоры. А до той поры, держи, удерживай, но и не дави, не тормози его преображение.</p>
<p>144. Первый наследник Николая попытался было ослабить мертвую узду, пойти с народом рядом, но испугался, снова уперся, и был сметен. А два последующих самодержца только и делали, что безнадежно, безрассудно упирались. И тем страшнее был взрыв конского освобождения.</p>
<p>145. А что теперь? Россия снова готова к движению вперед, и снова ее держат под уздцы и тормозят изо всех сил, снова диссиденты становятся политзаключенными. И снова барды тоскуют.</p>
<p>О, доколе, доколе, и не здесь, а везде,<br/>
       Будут Клодтовы кони подчиняться узде.</p>
<p>146. И снова мучает вопрос: что впереди - снятие узды или очеловечивание? Обращение к Западу или игнорирование его как погубителя? Надеяться лишь на себя, или на нового Петра?</p>
<br/>

{% endblock content %}
