{% extends 'base.html' %}
<title>Цели людей: Крах взаимопонимания с М.А.Поповским</title>
{% block content %}



<h3>В. Сокирко</h3>
<h3>Цели людей </h3>
<h1>Крах взаимопонимания с М.А.Поповским</h1>
<p>Осенью 86г. через знакомых нам был передан привет от бывшего советского 
писателя и нашего хорошего знакомого, живущего с 1977г. в Нью-Йорке и никогда не 
писавшего нам. Мы поздравили его и его жену с Новым Годом, получив в ответ</p>
<p><strong>Из Нью-Йорка</strong> </p>
<p> Дорогие Лиля и Витя! Большое спасибо за поздравление… Представить Темку 
физиком-теоретиком и малышку Галочку музыкантшей очень трудно, еще труднее 
вообразить, что две крохи, родившиеся на наших глазах, уже ходят в шестой класс. 
Вот когда понимаешь, насколько быстро растут чужие дети. Но, надеюсь, вы то сами 
по-прежнему молоды и красивы? Не так ли? Вообще, взаимоотношения человека со 
своим возрастом штука очень субъективная. Я в нынешнем году достиг возраста 
пенсионного, но у меня и в мыслях нет, что я старик. Я называю других людей 
примерно такого же возраста стариками. Но я сам? Н-е-е-т! Люблю жизнь, 
интересуюсь людьми, книгами, музыкой, чужими странами, бодро переругиваюсь с 
женой, кое-что еще произвожу по профессиональной линии, меня знают и понимают 
люди, говорящие на английском, французском, немецком и шведском языках, не 
говоря уже о русском. Разве это старость? В минувшем году мы с Л. побывали в 
Германии, Англии, Канаде, поездили по Соединенным Штатам. В частности, 
новогодние каникулы провели не где-нибудь, а в Техасе, рядом с Мексиканским 
заливом… О разногласиях спорить не станем.</p>
<p>Для спора нужна свобода, а она на планете нашей распределена не поровну. 
Радуюсь Вашему оптимизму, но абсолютно его не разделяю, ибо всю жизнь изучаю 
историю отечества нашего. В какое-то время года и на Сев.полюсе льды подтаивают, 
но от этого Полюс не становится экватором. Спасибо за приглашение посетить 
Москву. Рассматриваю его лишь как знак Вашей доброты. У меня таких планов пока 
нет. Да никто меня там не ждет, кроме наследников дяди Феликса. Пока планируем 
съездить в Израиль, где еще не были. Да и Европа пока далеко не исследована, не 
говоря уже об Америке. Спешить надо.</p>
<p>Вас с Л. всегда вспоминаем по-хорошему; исходим из своих личных впечатлений, 
а не из того, что нам пишут и рассказывают. И опять же всегда помним, что у вас 
их четверо. Это тоже аргумент. В деталях выясним все, когда доберетесь до 
какой-нибудь заграницы. Покажу вам Париж или Лондон и, уставши, зайдем в 
ресторанчик для выяснения отношений. Идет?</p>
<p>У нас, в общем, все идет пока неплохо. Есть работа по душе, есть, 
соответственно, и зарплата. Живем не богато, но вполне обеспеченно. Здоровье 
тоже не подводит пока. На днях сходил к доктору, чтобы произвести, так сказать, 
полный обзор, заплатил денежки и – зря. Оказался вполне здоровым. Денежки 
плакали… </p>
<p>Среди радостей здешней жизни особенно полюбили концерты в одном из самых 
прославленных залов мира – в Карнеги Холл. Там выступают самые лучшие в мире 
оркестры симфонические, пианисты, скрипачи. Мы там бываем в сезон два-три раза в 
месяц. Чтобы слушать все это, богачом быть не надо: все в пределах возможностей 
наших. Наиболее интересные книги, вышедшие в Сов.Союзе в минувшем году (и те, 
что были в журналах) читали. В восторг от Астафьева, Белова и Айтматова не 
пришли. Похоже, что лет 10 назад авторы эти писали лучше. Публицистика лезет изо 
всех щелей, а это не украшает прозаика. А у Белова и душок антисемитский полез. 
Для меня, кто никогда не делил людей по нац.признакам, это неприемлемо. Но, 
может, теперь так носят.</p>
<p>Желаю, дорогие Витя и Лиля, здоровья вам и счастья, чтобы у детей было все 
как надо. Я своих детей и внуков – их теперь четверо – едва ли когда увижу. Если 
только полюс превратится в экватор. Ваш Ваня.</p>
<p><strong>Здравствуйте, дорогие Марк Саныч и Л., милые Ваня и (Джо)!</strong>
</p>
<p>Рады восстановлению прямой и, надеемся, устойчивой связи. Оказалось, как 
просто: взять и написать, а взамен получить прежнее и даже родное: - "бодро 
переругиваюсь с женой",.. "меня знают и понимают на англ., франц., нем. и 
шведском языках, не говоря уже о русском", и что здоровье не подводит и даже, 
что "абсолютно не разделяете наш оптимизм". Еще бы вам его разделять! Разделяли 
б – не уехали бы! И все же от гостевой поездки в Москву не зарекайтесь, ведь, 
как известно, Ваш любимый дядя Феликс кончил делами транспортными и 
хозяйственными, проявив при этом недюжинную приверженность "экономизму". Что уж 
говорить о наследниках и их планах. Что касается разногласий, то я остался 
прежним любителем спорить и степеней-запрещений в своих спорах за эти годы не 
чувствовал. А с 1980г. открыто и иной раз даже гордо поминаю свой прежний 
псевдоним – К.Буржуадемов. Только одним, сознательно принятым обязательством 
связан – не приносить ущерба интересам страны (например, участием в призывах 
вооружаться против нас, как исчадий ада), но это условие естественно, и если Вы 
его учитываете, то в спорах я совершенно открыт и свободен, да и в переписке 
пока проблем не встречал.</p>
<p>Много раз слышал неодобрительные отзывы о Вашей последней любовной книжке, но 
никто из знакомых так и не дал мне ее почитать, может, сберегают меня от 
"заразы", но должен же я сам увидеть, до чего докатился милый Джо – почему-то 
уверен, что слухи преувеличены. Зато совсем недавно довелось прочитать в № 5-6 
Ваших "Однофамильцев". Впечатление – сдержанное. Лихо написано, вполне 
пессимистично, что, на мой взгляд, скорее свойство, чем заслуга. Почему 
неактуально, может, только для меня (никогда меня не интересовали дела 
писательские, СП-ные, чем и как кормятся эти тысячи). Может, потому, что время 
меняет все быстро, и главным сейчас кажется рост интересных изданий – на потребу 
людям читающим, а не пишущим… Такой процесс идет, и, может, именно он приведет к 
неизбежному превращению "СП" в орган пенсионеров, в отделение "Литературного 
фонда" (недавний смехотворный перевод Пастернака из "ЛФ" в "СП" посмертно, этот 
процесс не остановит).</p>
<p>Мы также не в большом восторге от наших мэтров (новые или совсем старые имена 
– интересней). Впрочем, Айтматов верен себе, и этим нравится, а Белова мы даже 
не читали, не хочется портить старых впечатлений. Что же касается 
"антисемитского душка", то куда же он денется, раз годами остается стыдливо 
скрываемой, зажатой для обсуждения темой. Лично я всегда стремился обсуждать и 
тем лечить эту больную тему. В 82-м году, при обсуждении нашего диафильма 
"Белоруссия", мы едва не доспорили до остервенения по этой теме, но, слава Богу, 
наши друзья-евреи выдержали и даже после этого стали спокойней и роднее. Сейчас 
мы думаем еще доспорить эту тему на примере писем Эйдельмана-Астафьева. А как Вы 
отнеслись к освобождению по части ст.70 и 190-1? К выступлению Сахарова на 
"безъядерном форуме"? Я – положительно и даже радостно, оптимистично… Но пора 
закругляться.</p>
<p>Понимаю, что переписка будет не частой, но рады будем получать от Вас вести и 
даже личную бодрость, так резонно контрастирующую с общественным пессимизмом. По 
отношению к себе лично, к сожалению, мы больше – пессимисты. Часто(регулярно, по 
пятницам), показывая знакомым диафильмы старых лет, с удивлением убеждаемся, что 
уже тогда ныли на приближающуюся старость – и в 1966г. после похода в Фанские 
горы, когда нам было еще по 27 лет, и в 71-м в Карпатах, а в 76-м на Тянь-Шане – 
вообще прощались с горами… Так что сказать про себя - "молоды и красивы" совсем 
не можем, разве только в дразнилку. Вот Вы, и, особенно, Л. – совсем другое 
дело. Кроме "красоты и молодости" ничего и не помним. Были бы рады получить 
"слово" и от Л., если у нее нет к тому "принципиальным запретов". Только недавно 
Лиля доломала ее красные беговые лыжи… Я же беспрестанно пользуюсь Вашим 
Брокгаузом. Это – главное для меня (да и для всей семьи издание) – и в 
диафильмах, и в поездках по разным районам страны обращение к истории в 
Брокгаузе совершенно необходимо. Так что в нашей семье вы живы даже в таком, 
чисто материальном смысле.</p>
<p>До свидания (не только с внуками, но и с нами). Виктор, Лиля и дети.</p>
<p><strong>Из Нью-Йорка, 13.03.1987г.</strong> </p>
<p>Здравствуйте, Витя! </p>
<p>Вчера днем негр-почтальон принес мне Ваш оклеенный марками конверт. Письмо со 
специальной доставкой, за которое приходится расписываться. Вещь в нашей жизни 
довольно редкая: американское правительство не контролирует переписку своих 
граждан и не перехватывает писем. Мне было нелегко объяснить почтальону-негру, с 
любопытством разглядывавшему советские марки, то чувство неуверенности и страха, 
которое заставляет граждан моей родины столь густо оклеивать конверты марками, в 
надежде на то, что в таком виде письмо все-таки дойдет до адресата.</p>
<p>Мы с женой дважды перечитали Ваше послание и приуныли. За последние годы 
несколько человек уже предупреждали нас о переменах, которые с Вами произошли. 
Но я не хотел им верить и решил сам разобраться в происшедшем. В памяти нашей 
семьи сохранилась милая московская молодая семья, полная жизни и самых 
разнообразных интересов. Это произошло на наших глазах: из "образованцев" Вы с 
Лилей превратили себя в интеллигентов. Вы рассказывали о ваших дедах – 
раскулаченных и выброшенных из деревни, об отцах, которые годами вынуждены были 
жить в нищенских заводских общежитиях. Мы гордились Вами: Вашим трудолюбием, 
широкими культурными интересами, а главное, порядочностью. На наших глазах Вы 
дважды отказывались давать показания против своих товарищей интеллектуалов и 
диссидентов.</p>
<p>Ваше нынешнее письмо, Витя, как будто написано другим человеком. Меня, 
покинувшим родину в поисках свободы, Вы пытаетесь убедить, что она, 
долгожданная, уже со вчерашнего дня на дворе. Вы пишите, что не имеете 
затруднений с перепиской с заграницей, что можете публично высказывать любые 
взгляды. Вы стараетесь меня, пробывшего 16 лет членом Союза писателей СССР, 
уговорить в том, что в литературе государственной теперь все в порядке и поток 
талантливых, свободных книг изливается на общество. И антисемитизм 
государственный, по Вашему мнению, преодолевается простейшим образом: в беседах 
за рюмкой водки или чая. Вы "всерьез" приглашаете меня приехать в Москву. Ваши 
вопросы о том, как я отношусь к замечательному освобождению Сахарова и других 
диссидентов, осужденных по ст.70 и 190-1, звучат точно так же, как их задают 
"заблудившимся интеллектуалам" в прокуратуре г.Москвы. Я через это, Витя, уже 
проходил и снова проходить не собираясь, поэтому мне ездить в Москву ни к 
чему.</p>
<p>Только однажды за 10 лет эмиграции мы с женой получили письмо, похожее на 
Ваше. Его прислал мне в Рим мой ныне покойный отец, изрядно надрожавшийся от 
страха в 20-е, 30-е и 40-е годы, писатель Александр Поповский. Я вернул ему его 
опус с просьбой впредь направлять такого рода послания непосредственно в 
инстанцию, для которых они предназначены. И еще одно воспоминание пробудило во 
мне Ваше письмо. Помнится, в 50-х годах показывали в Москве фильм американского 
режиссера Крамера. Как будто назывался он "Благословенны будь дети и звери". Там 
есть эпизод, в котором дети освобождают из загона бизонов. Дети уверены, что 
животные галопом помчатся навстречу свободе, но некогда свободолюбивые животные 
уныло возвращаются в загон: свобода им вовсе ни к чему… Не узнаете?</p>
<p>Десять лет назад тот, кого мы, шутя и любя, называли между собой 
"носильщиком", взвалил на себя иной груз, и похоже, груз этот изрядно 
деформировал его. Даже интонация Вашего письма, Витя, звучит для меня странно: 
Вы как будто снисходительно похлопываете "старичка" М.А. по плечу. Не помню за 
Вами в прошлом такого: Вы были всегда деликатны и уважительны. Перемены, 
перемены… Когда-то мы с большим интересом и благодарностью прочитали написанную 
Вами для Ваших детей историю вашей семьи, рода. Там было немало горечи и боли, 
но неправды не было. Что же теперь, подчищаете, подправляете историю отцов, 
вносите в нее элемент (обязательный!) оптимизма?</p>
<p>Деструкция личности, которая при взгляде из мира свободы видна особенно 
явственно, не Вас одного поразила в последнее время. Нам, читающим не только 
книги, выпущенные государственными издательствами, но и получающими все 
мало-мальски заметные произведения Самиздата, хорошо видна тенденция ряда бывших 
верующих христиан и диссидентов, изменять своим прошлым идеалам… Гнилая оттепель 
(кстати сказать, 12-я за последние 70 лет), которой Вы теперь клянетесь, 
призвана оправдать Ваше отступничество. Это не ново и всякого знакомого с 
историей России XIX-XX вв. не удивляет. Забавно, однако, насколько с переменой 
общественно-политической позиции притупился Ваш слух. Вы пишете, что в СССР, где 
свободы теперь – хоть залейся, Вы связаны только одним обязательством "не 
приносить ущерба интересам страны (например, участием в призывах вооружаться 
против нас, как против "исчадий ада")… Лет 10-12 назад Вы не произнесли бы этой 
фразы уже по одному тому, что ее лексика и конструкция полностью взяты из 
протокола известного Вам государственного учреждения. Но ныне Вы уже утеряли 
нормальное восприятие и дословно повторяете штампы, слышанные в соответствующих 
кабинетах. Крушение личности – факт огорчительный. Крушение личности, которая с 
немалыми трудами выстроила себя сама – трагедия. Я сочувствую Вам, Витя, но, 
увы, никто другой, кроме нас самих, не способен помочь нам сохранить идеалы 
нашей юности. И не так уж важно, каким образом Вы аргументируете свое 
самопредательство: спасались ли от тюрьмы, защищали ли будущее своих детей. У 
А.Марченко тоже остался сын.</p>
<p>На этом закончу. Я не хочу вступать с Вами в политический диспут. У нас с 
Вами слишком неравные возможности. Я, действительно, располагаю свободой в 
высказывании своих мнений, у меня в руках огромная литература о нынешней 
советской ситуации, но если бы я даже попытался послать Вам статьи специалистов 
и свидетелей, Вы, при "Вашей свободе", никогда бы их не получили. Наш спор был 
бы напрасен еще и потому, что, судя по Вашему письму от 2 марта, Вы утратили 
былую жажду истины, стремление к анализу событий. Вы – другой. И хотя мы с женой 
не забудем наших милых, когда-то очень верных, теплых и достойных друзей по 
фамилии Сокирко, мы вместе с тем знаем: их больше нет. На улице Гурьянова в 
Москве живут их однофамильцы. А мое отношение к однофамильцам Вы, как сами 
пишете, знаете. Оно достаточно четко изложено в журнале "Страна и мир" № 6 за 
1968г. Прощайте. Марк Поповский.</p>
<p><strong>Из Москвы, 27.08.1987г.</strong> </p>
<p>Марк Александрович! Ваше "письмо-прощание" – как неожиданный удар "под-дых" 
человеку, доверчиво протянувшего руку на Ваш же зов. Такой неожиданный "разрыв" 
без аргументов, а только со ссылкой на "Свобода-КГБ" (излюбленная пара понятий 
для управы с любым "не так мыслящим"),- нельзя не принять как предательство 
прежних дружеских отношений и заслуживает с моей стороны соответствующего 
подтверждения разрыва.</p>
<p>В отличие от Вас, мне это делать больно, в нашей семье и ее памяти Вы 
занимали далеко не последнее место – теперь оно как бы затемнено Вашим поспешным 
приговором: "На ул.Гурьянова Сокирко больше нет, живут их однофамильцы, 
самопредатели…" Ничего не скажешь – лихо! Одним письмом всех чохом к духовному 
расстрелу: нет людей, есть их тени-однофамильцы… Сколько же в Вас за эти годы 
выросло духовного большевизма с обратным знаком, но не меньшей степени 
нетерпимости… И если Вы, действительно, интересуетесь до сих пор отечественной 
историей, то как Вы до сих пор не увидели банальности собственной ситуации: 
именно на свободном Западе вырастала всегда экстремистская оппозиция, всякие 
эсеры-большевики, отказывающие "гнилому" российскому либерализму в праве на 
существование… И Вы – сейчас такой же, роете ту же яму, но очень надеюсь – не 
успеете, очень надеюсь, что обновление страны будет и смоет все ямы – от 
сталинских до экстремистских.</p>
<p>После прочтения Вашего письма Лиля и старшие дети решили: это Поповский от 
обиды за свои "новые произведения", за тон "на равных", к которому он не привык… 
Может, и так, но, думаю, что причины глубже – Вас уже не устраивает диалог с 
инакомыслящим, проще выставить его марионеткой КГБ.</p>
<p>И видно в этих подтасовках и передержках (а ими полно Ваше письмо – 
достаточно положить его рядом с моим первым) жалкое желание: не трогайте моей 
непримиримости, моего выбора, моего "служения свободе", моих котурнов… - Хорошо, 
не буду, не хотите спорить – не надо, я же – в однофамильцы? А с другой стороны 
– почему я, доживши до 48 лет, не могу себя чувствовать на равных со своим 
старым знакомым (пусть много способней меня)? И если когда-нибудь наш разговор 
все же продолжится (совсем не исключено, что Ваши настроения и оценки могут и 
измениться) – да и вообще диалогу в любых условиях, на мой взгляд, нет 
альтернативы, он может продолжиться только "на равных". Сейчас мне даже кажется, 
что я сам виноват и своей прежней предупредительностью к старшему и уважаемому 
человеку в 70-е годы способствовал нынешней аберрации Вашей памяти, легенде о 
самопредательстве. Но в этой злостной и порочащей аберрации Вы виноваты не 
меньше.</p>
<p>Уж раз мы прощаемся, то вспомните. В начале 70-х годов Вы завели знакомство 
отнюдь не с "образованцем" (как ненавижу я это унижающее слово!), а с человеком, 
уже прошедшим в хрущевское время исключение из комсомола за критику ныне 
измененной Программы партии, подписывавшим открытые протесты, прошедшим 
осуждение на заводе и исключение из аспирантуры. Мало того – написавшим книгу с 
изложением своих буржуазно-коммунистических взглядов. Вы в это время оставались 
(и долго еще были) благополучным членом СП, издавали книги, добивались у высших 
инстанций КГБ допуска к материалам по Вавилову, числились собственным 
корреспондентом "Правды". Какими были тогда Ваши убеждения и чем они отличались 
от убеждений нынешних писателей-либералов, не знаю, но, если судить по 
высказываемому и написанному в те годы и сейчас – разница прилична 
(проанализируйте на досуге свой архив сами). Что касается меня, то Вы не могли 
не знать в самом начале нашего знакомства о несовпадении моих взглядов с 
преобладающим направлением в диссидентстве.</p>
<p>Уже в 1971 г., в приложении к своей главной книжке "Антигэлбрейт" 
(опубликованной на Западе), я поместил статью: "Я – охранитель", где доказывал: 
оппозиция должна быть лояльной, охранительной, действующей не во зло, а на благо 
государству, строю, Власти. Иначе – насильственная революция. Хотя эта статья 
была даже аннотирована в "Хронике", ее предпочли "не заметить". Тогда же была 
моя драматическая попытка добиться от диссидентского движения отграничения себя 
от экстремизма НТС. Потом был публичный спор с максималистскими трактовками 
лозунга "Не по лжи!", в 1977г. при обсуждении Конституции СССР – обоснование 
однопартийной системы (помещено в сборниках П.Г.Григоренко)… Обо всем этом Вы, 
как мой близкий знакомый, не могли не знать – но предпочитали "не замечать", а 
сейчас пытаетесь выговорить мне за измену каким-то, выдуманным Вами же, идеалам. 
Не получится! У меня хорошая память. Да и сохранился архив.</p>
<p>В 1980г. судьба предоставила мне возможность "посидеть" за диссидентские 
идеалы и оценки – и тем самым предать самого себя. Я выбрал иное. На суде 
защищал "Поиски" и сборники "В защиту эконом.свобод", как свое. Не строю из себя 
героя, за выход из тюрьмы пришлось платить компромиссом и последующим отказом от 
самиздата. Но, в отличие от диссидентов, на мои убеждения КГБ никогда не 
посягало – только удивлялся: "А что Вы понимаете под буржуазным 
коммунизмом?"</p>
<p>А вот с другой стороны не один год я слышал целый ворох домыслов о 
"двоемыслии", "самопредательстве", "падении" и прочие мерзости, назначение 
которых состоит только в духовном уничтожении человека.</p>
<p>Однако – не получится. Ни со мною, ни со всей страной. Кончаю. Остаюсь 
открытым для диалога и переписки. Ибо надеюсь, иного выбора и у Вас не будет. За 
неделю до Вашего письма мне пришли по почте две страницы "Русской мысли" с 
материалами Плюща, Егидеса и др. Мое впечатление – столь же унылое, как от 
"Страны и мира". А ведь страна и мир сейчас так нуждаются в конструктивных и 
последовательных материалах на благо и Стране, и Власти (только так, и не 
иначе). Но где там…</p>
<p>Все. Надеюсь, понятно, что замалчивать Ваш "опус-приговор" не намерен. 
Конечно, сил у меня немного. Ни "Правда", ни "Страна и мир" не давали и не дадут 
мне ни в жизнь трибуны, как бы ни были "свободны". Что же, у меня есть пишущая 
машинка, и своих знакомых со своей точкой зрения я ознакомлю. </p>
<table width="600"> <tr> <td>
<a href="C2b.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="C3.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
