{% extends 'base.html' %}
<title>Цели людей: Из история суда в 1980 году</title>
{% block content %}



<h3>В. Сокирко</h3>
<h3>Цели людей </h3>
<h1><font size="4">Из история суда в 1980 году над сборниками 
«В защиту экономических свобод» («ЗЭС»)</font></h1>
<h4><u>22.01.1980г. Московское управление КГБ направило на 
отзыв в Институт экономики АН СССР сборники «В защиту экономических свобод». 
Семь из них были составлены мною под псевдонимом К.Буржуадемов (К.Б.). </u></h4>
<h4><u>На следующий день я был арестован. 28 марта Заключение Института 
экономики, подписанное в сопроводиловке директором Института д.э.н. Капустиным, 
было из КГБ переправлено следователю Мосгорпрокуратуры Бурцеву Ю.А., который и 
предъявил его мне 2.06.80г. в Бутырском изоляторе. </u></h4>
<h1>Справка о серии самиздатской литературы “В защиту экономических свобод</h1>
<p>(из 8 выпусков, общим объемом 1832 страницы 
двухинтервального машинописного текста).</p>
<p>Структура первых семи сборников включает разделы с названиями, 
подчеркивающими претензию составителя на “научность", "концепции" ("Наука"), 
историческую преемственность ее ("Истоки"), видимость широкого обсуждения 
("Дискуссии и письма"), а также разделы, долженствующие по замыслу составителя 
(К.Б.) подтвердить объективность его позиции ("Право и судебные преследования", 
"Книги и рецензии"). Все разделы и материалы в них помещенные даются с 
комментариями составителя (К.Б.) и во вполне определенном направлении…</p>
<p>…Все выпуски состоят из тенденциозно подобранных, опубликованных в печати, в 
том числе и зарубежных статей, рецензии на них К.Б., а также сочинений 
составителей сборников и лиц, принявших участие в дискуссии по статье К.Б. "Я 
обвиняю…" в первом выпуске, где излагается его концепция "экономических свобод". 
Подобранные К.Б. статьи и его комментарии имеют целью аргументировать выдвинутые 
в 1-м выпуске положения о необходимости свободного предпринимательства, как 
более эффективного с его точки зрения вида деятельности, и отказа от важнейшего 
преимущества и закономерности развития социалистической экономики – 
планомерности, оправдать спекуляцию, подпольный бизнес, что объективно 
направлено на дискредитацию Советской власти, а предлагаемые меры вообще 
означают по существу ликвидацию завоеваний социализма.</p>
<p>…В.Грин фигурирует, как автор выпусков, в т.ч. первых двух, где определяется 
"теоретическая концепция" и политическое кредо составителей выпусков. Последний, 
8-ой выпуск, составленный В.Грином, в общем, не отходит от сложившейся схемы, но 
более определенно раскрывает тот политический подтекст, который звучит во всех 
выпусках… </p>
<p><em>"Теоретическая концепция" К.Буржуадемова и В.Грина.</em></p>
<p>…К.Б. утверждает, что с исчезновением темы свободного рынка из советской 
экономической науки исчезла и сама наука. Этот тезис не нов, ибо еще в 20-x 
годах науку политэкономию пытались свести к проблематике товарного производства, 
а грядущее отмирание его отождествляли с отмиранием политэкономии как науки 
(вып.2 - "Черный рынок и экономическая наука" К.Б.). </p>
<p>Дается лженаучная тенденциозная интерпретация ряда теоретических положений 
политэкономии, которые противопоставляются трудовой теории стоимости К.Маркса с 
позиции давно раскритикованной теории "предельной полезности", взятой на 
вооружение вульгарной буржуазной политэкономией. Марксистская политэкономия 
неоднократно давала научно-обоснованную критику теории предельной полезности, 
представители которой пытались определить цену товара, исходя из потребительских 
оценок, из отношений субъекта к вещи.</p>
<p>К.Б. и В.Г., используя метод тенденциозной обработки фактов, опираются нa 
мелкобуржуазные экономические теории. В.Грин соединяет потребительскую стоимость 
и меновую (по B.Г. – ценность), хотя, претендуя на знание марксистской 
политэкономии, не может не знать о качественном их различии. Однако К.Б. и В.Г. 
устраивает именно извращение азов учения К.Маркса, дабы дать нужное им 
толкование денег, цены, якобы определяющих развитие производства, преувеличивая 
роль обмена и т.д. Замена категории "стоимость" на "ценность" понадобилась для 
того, чтобы поставить в один ряд с создаваемыми общественным трудом благами 
такие "ценности", как насилие, нетворческий труд и т.д. К.Б. и В.Г. исходят из 
примата обмена, рынка в вульгарном его значении, утверждая таким образом 
второстепенную роль производства. С научных позиций "концепция" К.Б. и В.Г. не 
выдерживает критики. В то же время она содержит сознательное искажение сути 
производственных отношений социализма, попытку теоретического оправдания 
спекуляции (спекулянт якобы тоже затрачивает труд – см. статью "Юридические 
основы экономического насилия в СССР", вып. №2). Доказывать, что спекулянты – 
паразиты на теле общества, присваивающие себе часть труда в виде спекулятивной 
надбавки – значит, ломиться в открытую дверь. </p>
<p>Еще абсурднее тезис К.Б. о том, что спекулянты участвуют в создании 
национального дохода – они его только потребляют.</p>
<p>К.Б. и В.Г. утверждают, что главная роль в экономике принадлежит рынку. 
Только свободная игра рыночных сил, возрождение элементов капиталистического 
хозяйства могут обеспечить прогрессивное развитие экономики. Эти лженаучные 
теоретические посылки составителей выпусков подводят читателя к антисоветским 
выводам. В условиях социализма планомерность и товарно-денежные отношения не 
выступают как антиподы по отношению друг к другу. Перед обществом не стоит 
проблема выбора: план или рынок. В социалистической экономике рыночные аргументы 
используются для планомерного и гармоничного сбалансированного развития 
производства в целях повышения жизненного уровня членов общества и утверждения 
социалистического образа жизни.</p>
<p>Советская экономическая наука в этих целях активно занимается изучением 
спроса. Для этого нет необходимости (как думают К.Б. и В.Г.) опрашивать каждого. 
Наукой установлена довольно четкая зависимость изменения спроса от дохода, 
размера семьи, изменения ассортимента и т.д. Достижения экономической науки в 
этом вопросе значительны, что не снимает проблемы дальнейшего совершенствования 
методов изучения спроса. Существуют экономические проблемы возникновения 
спекуляции, в том числе, связанные с уровнем сбалансированности спроса и 
предложения. Социалистическое государство через планирование, хозяйственный 
механизм принимает меры по обеспечению последнего, экономическими мерами ведет 
борьбу со спекуляцией.</p>
<p>К.Б. и В.Г. отождествляют спекулянта и мелкого товаропроизводителя, хотя 
первый занимается перераспределением созданного продукта, второй производит и 
реализует продукт своего труда. Eсли предположить, что у спекулянта есть 
возможность вложить заработанные деньги в производство, он превращается в 
мелкого товаропроизводителя, а далее путь развития истории хорошо знаком. Мелкое 
товарное производство "ежедневно и ежечасно" рождает капитализм. По К.Б. вывод 
один – социализм, как экономическая система не может решить проблемы очереди, 
спекуляции. Они суть следствие "тоталитарной экономики". По их мнению надо 
заменить эту систему свободной конкуренцией, рынком. Появление спекулянта 
рассматривается ими как начало новой эпохи.</p>
<p>Все эти "теоретические" посылки нашли отражение в статье К.Буржуадемова "Я 
обвиняю интеллигентов – служащих и потребителей в противостоянии экономическим 
свободам и прогрессу Родины". К.Б. считает, что человек только тогда не зависит 
экономически от государства, когда не связан с ним получением дохода и благ и 
услуг бесплатного или "полубесплатного" характера и не может организовать свою 
деятельность самостоятельно, а значит, терпит "гнет государства".</p>
<p>Что означает "организовать свою деятельность самостоятельно", "быть 
экономически независимым от общества"? Человек всегда связан с обществом "до" и 
"после" появления государства. При капитализме экономически свободны те, кто 
обладает значительным капиталом для организации самостоятельной деятельности. Но 
эта экономическая свобода, заманчивая видимость для обывателя – есть 
ограниченная свобода для ограниченного круга людей, для класса капиталистов. Для 
всех остальных – зависимость в получении работы, самого существования, т.е. 
экономическое неравенство. Спекулянты и шабашники – это не "экономически 
свободные люди", а люди, паразитирующие на несовершенстве хозяйственного 
механизма социализма… Экономическая наука разрабатывает мероприятия, которые 
приведут к ликвидации этих явлений. Устранение социальной неоднородности 
общества является программной задачей строительства нового общества. В условиях 
социализма она решается – в бесплатном удовлетворении части потребностей 
трудящихся, и прежде всего, в части просвещения и здравоохранения.</p>
<p>Лозунг "экономических свобод" равнозначен лозунгу "обеспечения и охраны 
частной собственности, возврата на рельсы капиталистического пути развития, ибо 
логика исторического процесса известна – от мелкой частной собственности к 
крупной, от крупной к капиталистической монополии, к засилью финансовой 
олигархии.</p>
<p>2. Составители выпусков вопреки марксистскому пониманию собственности на 
средства производства, структуры капиталистической собственности, форм 
социалистической собственности предлагают и пропагандируют свое понимание, 
отождествляющее частную собственность и личное подсобное хозяйство колхозников, 
а в вып. 8 прямо дается антимарксистская классификация форм собственности. 
Считая "эпицентром насилия" неравноправную форму реальной собственности на 
"общественные ценности", составитель выделяет три надклассовых формы 
собственности (формирующейся в соответствии с правом наследования) и 
общественную равноправную форму собственности (когда каждый член общества 
реально распоряжается своей долей собственности, т.е. может либо использовать её 
непосредственно, либо сдать в аренду, либо использовать в качестве акционерного 
капитала ("см. "От составителя "). Из всех рассуждений составителей следует как 
вывод – отказ от социалистической собственности, которая по их представлениям 
превратилась в собственность то ли государственной монополии (стр. 68, вып.8), 
то ли в собственность "нового класса" – партийной бюрократии, опирающейся на 
безраздельное господство государства над всеми производственными средствами. 
“Остальная же часть населения – пишет автор (вып. 8, стр. 81) - бесправна, 
неимуща и эксплуатируема, находится на положении полукрепостных".</p>
<p><em>О планировании</em></p>
<p>Через все выпуски красной нитью проходит противопоставление плана и рынка, 
общества свободной конкуренции и планового хозяйства, дается соответствующая 
подборка статей, выдержек из книг, опубликованных в 20-е годы, либо зарубежных 
буржуазных экономистов, порочащих планирование, рассматривающих его как мощный 
инструмент военной экономики, ведущей к разрушению экономики, ибо перестает 
действовать "закон экономической целесообразности" (стр. 27, вып.5) нарастает 
дезорганизация, катастрофа.</p>
<p>Так, публикуются выдержки из книги Ясперса "Истоки истории и ее цель" под 
названием "Тотальное планирование".</p>
<p>На стр.33 сопоставляется рыночное и плановое хозяйства: </p>
<p>Рыночное 
хозяйство                                            
Плановое хозяйство</p>
<p> разум всех, 
реализующийся                     
разум нескольких специалистов</p>
<p> в игре свободной 
инициативы,            в 
области техники, осуществляющих</p>
<p>            в 
конкуренции                            
в тотальном планировании счастье для всех </p>
<p> риск, связь с 
рынком,                            
управление бюрократии, распределяющей </p>
<p> конкуренция                                          трудовые 
обязанности и прибыль </p>
<p>Успех или 
неудача                 
 односторонние права облеченных властью людей,     </p>
<p>                                                   
приводящих в движение бюрократический</p>
<p>                                                   
 аппарат, воздействие тотального планирования </p>
<p>                                                    
на всю человеческую жизнь вплоть до </p>
<p>                                                 
духовного творчества, которое гибнет при</p>
<p>                                                    всяком 
запланированном руководстве.</p>
<p> "Средством" планирования, утверждает автор, является господство 
чиновников, на основе правил и предписаний…" Бюрократический аппарат, который 
должен служить интересам населения, служит самому себе, он требует стабилизации 
и надежности для себя, недосягаем для критики. Вывод К.Ясперса: "тотальное 
планирование несет гибель" (стр. 44, вып.5). Автор цитируемой работы извращает 
суть социалистического планирования. В условиях общественной собственности на 
средства производства планирование выступает как средство реализации закона 
планомерного развития. Это означает, что планирование имеет научный характер. 
Оно основано на данных науки, на всестороннем познании экономических законов 
социализма (а не на "господстве чиновников"). В разработке планов принимают 
участие не только планирующие органы, но прежде всего коллективы предприятий, 
примером чего являются встречные планы. Составление плана начинается "снизу", с 
предприятия, производственного объединения. Использование принципа 
демократического централизма обеспечивает сочетание централизованного планового 
руководства с инициативой и широким участием трудящихся масс.</p>
<p><em>О характере труда при социализме и права человека.</em></p>
<p>Одним из краеугольных камней концепции К.Б. и В.Г. является тезис о 
принудительном характере труда при социализме. Вопреки общеизвестным фактам, 
документам (в частности, все существовавшие у нас Конституции, в том числе и 
новая Конституция СССР), теории политэкономии – авторы и составители выпусков 
утверждают, что в СССР якобы нет права на свободный труд. Правда, под этим, как 
ни странно, К.Б. понимает деятельность под началом частного предпринимателя. 
Однако ясно, что частное предпринимательство без юридических и финансовых 
ограничений приводит к возникновению капиталистических форм хозяйства с 
отношениями эксплуатации и всеми присущими капитализму противоречиями (вып. 2). 
В вып. 2, в статье В.Кувакина "О праве на труд в СССР" приводятся доказательства 
нарушения в СССР прав человека на труд (ряд фамилий людей, якобы не имевших 
работы по специальности) и многочисленные ссылки на международные конвенции, 
запрещающие принудительный и обязательный труд. Автор пишет: "Обязанность 
участия в общественно-полезном труде под угрозой возможного наказания 
представляет собой "классический образец обязательного и принудительного труда" 
(стр.70), а положения, прямо противоречащие международному законодательству, 
официально закреплены во внутреннем советском законодательстве (с.71).</p>
<p>К.Б. и др. "экономически свободными" признают только спекулянтов, шабашников, 
частников, "приусадебников", т.е. как раз людей, уклоняющихся от участия в 
общественно-необходимом труде, а на страницах выпусков содержатся призывы к 
расширению различных видов частной практики, как формы обретения экономической 
свободы и независимости, а следовательно, по мысли авторов, и политической 
независимости от государства (читай: от общества).</p>
<p>В выпусках систематически ведется раздел "Судебные преследования", где 
помещаются выдержки из Бюллетеня Верховного Суда СССР (из обзоров судебной 
практики), в котором обращается внимание, с одной стороны, на чрезмерную 
снисходительность судов к преступлениям, связанным с приписками, хищением, 
злоупотреблением служебным положением, а с другой стороны – притеснением 
частно-практикующих, домовладельцев, спекулянтов и прочих 
"экономически-свободных" деятелей. Такая подборка материала свидетельствует о 
распространении клеветнических материалов, порочащих государственный и 
общественный строй.</p>
<p>В вып.8 В.Г. публикует свою статью "Юридические основы экономического насилия 
в СССР" (стр.60-65) с разбором ст.162 УК РСФСР (занятия запрещенными промыслами) 
с позиций "свободной экономической деятельности": складские операции с 
полученными товарами для последующей их перепродажи (государству можно, а мне 
нельзя?), перевозка пассажиров на автомобилях и мотоциклах, содержание постоялых 
дворов, организация каруселей и прочих объектов отдыха, занятия кустарными и 
ремесленными промыслами – таков перечень видов деятельности, к которому не 
допускается, по выражению В.Г., человек с высокими организаторскими и деловыми 
качествами, способный эффективно использовать капитал и давать высокую норму 
прибыли". Комментируя УК РСФСР, В.Грин – ведущий "теоретик" всей серии выпусков 
– рассматривает зарплату как форму прибыли, а саму прибыль сопоставляет с 
количеством и качеством труда, что означает доведение до читателей заведомо не 
соответствующих действительности сведений, дезинформацию их.</p>
<p><em>Выводы составителей выпусков:</em></p>
<p>1. Социалистическое тоталитарное государство запрещает практически все виды 
общественно полезной экономической деятельности за пределами 
государственно-монополистических предприятий.</p>
<p>2. Глубинная цель законодателей: абсолютное закрепощение своих граждан для 
получения фантастической сверхприбыли, распоряжение которой всецело и монопольно 
принадлежит партийно-государственной элите. И не случайно самой секретной 
является информация о реальных доходах знати (стр.69).</p>
<p>Существующий паспортным режим рассматривается, во-первых, как сочетающий в 
себе остатки российского крепостного права, элементы сталинского режима, 
всеобщего административного надзора над населением страны, во-вторых, как режим, 
находящийся в вопиющем противоречии с подписанными правительством СССР 
международными правовыми договорами (стр.47).</p>
<p>Социализм уничтожил эксплуатацию труда, обобществив средства производства, 
превратил труд во всеобщий, создал условия, при которых только личный труд 
каждого члена общества является источником его доходов, ликвидировав самую 
возможность эксплуатации человека человеком. Но социализм – это еще не 
коммунизм, принципом которого станет: "от каждого по способностям, каждому по 
потребностям". При известной ограниченности ресурсов социалистическое общество 
не только реально гарантирует всей социально-экономической системе право на 
труд, но и обязывает трудиться. Труд – единственный источник всех материальных и 
духовных благ. Социалистическое общество, обобществив средства производства, 
берет на себя и функцию планомерного руководства развитием, в т.ч. и 
экономическим, а след., должно планомерно использовать все трудовые ресурсы в 
различных сферах хозяйства, чтобы обеспечить сбалансированность производства и 
потребления, о которых кстати так пекутся составители выпусков. Но эта 
сбалансированность производства и потребления достигается не свободной (читай: 
стихийной) игрой цен на рынке, а учетом потребностей общества, их 
удовлетворением за счет планомерного роста производства при ограниченных еще 
материальных, трудовых, финансовых ресурсах. Это обуславливает необходимость 
вовлечения всех трудоспособных граждан в общественное производство, направление 
имеющихся ресурсов прежде всего на развитие жизненно необходимых отраслей и 
видов трудовой деятельности. Вместе с тем социализм обеспечивает членам общества 
выбор разнообразных видов трудовой деятельности соответственно способностям, 
наклонностям и вкусам их.</p>
<p>Составители сборников не могут не знать всех этих очевидных фактов. Поэтому 
их позиция о принудительном характере труда при социализме, стремление 
апеллировать к практике международных органов буржуазных государств, выполняющих 
классовые функции и направленные в ряде случаев против социалистических стран, 
есть ни что иное, как стремление опорочить советский государственный и 
общественный строй, привлечь внимание антисоциалистических сил, ослабить влияние 
и роль социализма на международной арене, вызвать недоверие к нему, посеять 
сомнение в правоте и преимуществах социализма.</p>
<p><em>О личном подсобном хозяйстве.</em></p>
<p>Комментируя очерк советского журналиста Ю.Черниченко "Про картошку" о роли 
личного подсобного хозяйства в снабжении населения некоторыми с.х.продуктами, в 
том числе и картофелем, К.Б. предлагает взять курс на расширение 
высокоэффективного частного хозяйства (стр.86, вып.2), на свободное развитие 
частного сектора. Но личное подсобное хозяйство является разновидностью личной 
собственности при социализме, а не частным хозяйством, т.е. 
социально-экономическая природа его отлична от частного хозяйства.</p>
<p>К.Б. отождествляет практически частное и личное подсобное хозяйство, не 
различая их социально-экономической природы. Предлагаемый К.Б. курс развития 
сельского хозяйства (свободная покупка с/х машин и орудий, свобода частной 
торговли и т.д.) есть подрыв экономических основ социализма и неминуемо приведет 
к возникновению капиталистических форм хозяйства. К проблеме личного хозяйства 
возвращаются составители и в 8-м выпуске, где публикуется постановление ЦК КПСС 
и Совета Министров CССP от 14 сентября 1977г. "О личном подсобном хозяйстве" с 
комментариями: "В условиях полного развала экономики до них, очевидно, 
наконец-то дошло, что экономику страны, и в частности, сельское хозяйство они 
завели в тупик, выход из которого, на наш взгляд, был бы возможен на путях 
веками испытанной частнопредпринимательской деятельности. Такого глобального 
выхода они, конечно, не видят, а если и видят, то не смеют в этом признаться, 
ибо это означало бы отказ от незыблемого и единственно правильного 
марксистско-ленинского учения, открывающего дорогу всему человечеству к 
"светлому счастливому будущему" (стр.37).</p>
<p>Приведенный отрывок достаточно ясно иллюстрирует антисоветскую направленность 
составителей сборников, а равно и их клеветнический характер.</p>
<p>Составители сборников используют для доказательства своих идей известные 
научные авторитеты в экономической науке. Так, в третьем выпуске помещены две 
ранние работы советского крупного экономиста Новожилова с комментариями К.Б. и 
реферат К.Б. по книге Лапидуса (и Островитянова – составителя).</p>
<p>Работы Новожилова "Пределы инфляции" и "недостаток товаров" написаны в 
переходный период. В первой работе анализируются процессы инфляции в 
капиталистическом обществе. Поэтому интерпретация К.Б. статьи в качестве 
доказательства своей концепции – лишена основания. Вторая статья посвящена 
причинам дефицита товаров в период в условиях многоукладной экономики и НЭПа и 
мерам преодоления товарного голода. K.Б. ухватившись за название, пытается и эту 
статью использовать для доказательства своей концепции "введения равновесных 
цен" и т.п., не принимая во внимание, что существующий сейчас дефицит ряда 
товаров имеет другие причины, т.к. само хозяйство находится принципиально на 
другом уровне развития и требуются иные меры сбалансирования экономики.</p>
<p>Учебник политэкономии Лапидуса был издан в 1931г., когда еще не был 
разработан вопрос об объективном характере экономических законов социализма о 
соотношениях между плановым хозяйством и рынком. Это был период раннего 
становления политэкономии социализма как науки, когда еще существовало ошибочное 
представление об отсутствии политэкономии как науки вне связи с 
товарно-денежными отношениями. Вместе с тем в этой книге дается критика 
немарксистской концепции построения социализма. К.Б. эта работа потребовалась 
для того, чтобы еще раз связать политэкономию как науку с товарным производством 
и на этом "основании" отрицать научный характер политэкономии социализма. Вывод 
К.Б. – политэкономия социализма родилась в период НЭПа, в период перехода от 
рынка к государственному социализму, планированию - "изнасилованию" народного 
хозяйства, родилась в качестве необходимой наукообразной дисциплины, 
оправдывающей и прикрывающей все эти насилия. При своем росте она затоптала в 
грязь настоящую экономическую науку. Такой, по существу воинствующей 
идеологической, антинаучной она остается и поныне, извращая предмет изучения 
политэкономии. "Неоклассик" К.Б. отрицает ее научный характер.</p>
<p>Для обоснования своих "теорий" не обходят своим вниманием составители и 
христианское учение. В частности, в вып.6 помешены выдержки из книги Зейпеля 
"Хозяйственно-экономические взгляды отцов церкви", в которых проводятся аналогии 
между Римской империей периода ее распада и возникновения христианства и нашей 
страной. К.Б. утверждает, что страницы книги, описывающие, как система 
привилегий развращает целый народ, подрывает его способность к самостоятельному 
труду и жизни, и в конечном счете, губит, представляет большой интерес и для 
нашей страны, где также очень развита система государственных привилегий и для 
отдельных групп руководства (номенклатуры) и для целых классов (например, 
рабочих) или регионов (вроде жителей столиц) (стр.31). И так – неоднократно по 
ходу всей работы.</p>
<p>"Мы видим также, что в необходимых аспектах можно найти большое сходство с 
нашим собственным положением, а именно: презрение к свободному независимому от 
государства труду, всеобщая служба государству, система привилегий бесплатных и 
полубесплатных, выдач подданным жилищ и санаториев, больниц, школы, низкие цены 
на продукты и тому подобное" (стр.35).</p>
<p>В вып.6 помещена статья эмигранта А.Канцелейбогена "Разноцветные рынки", 
опубликованная в одном из западных журналов. В статье сделана попытка доказать, 
что существование планового нерыночного хозяйства - "это миф", что на деле 
всегда существует ряд рынков, в частности и главным образом полу- и 
неофициальные. Дается их классификация по степени легальности. В качестве рынка 
рассматривается частная практика врачей, подготовка абитуриентов, взятки (в 
государственных учреждениях, производственных и непроизводственных сферах), 
имеются в виду так называемые "толкачи", "выбивающие" различные фонды – 
оборудование, сырье, материалы, финансовые средства, а также в больницах 
(санитарам, врачам) и т.д. Понятно, что как автор, так и составитель выпуска – 
K.Б., не располагают для обоснования какими-то своими конкретными материалами, а 
опираются на публикации советской печати, в которой подвергаются критике 
имеющиеся злоупотребления. Комментарий К.Б. к статье еще раз отражает его точку 
зрения о необходимости замены плана рынком, об объективной необходимости 
расширения в перспективе нелегальных и полулегальных рынков. Таким образом, 
использование в выпуске выдержек из публикации различных авторов не зависит от 
времени публикации, имеет ту же антисоветскую направленность и преследует ту же 
цель.</p>
<p><em>О состоянии советской экономики и социалистисеском образе жизни. 
</em></p>
<p>Отрицательные высказывания и характеристика состояния советской экономики и 
образа жизни "рассыпаны" по всем выпускам серии. В 1-м вып. этой проблематике в 
разделе "Экономические письма" посвящена рецензия К.Б. на книгу А.Кузнецова 
"Бедность народов". И псевдоним автора книги, и название книги, и ее структура 
("Кисельные берега победившего социализма", "Как работать руками" – о работниках 
физического труда, особое внимание уделено шабашникам, "Как работать головой?", 
"Есть ли выход?"), и содержание – все имеет ярко выраженную антисоветскую 
направленность. "Если состояние национальной экономики так плачевно, если все 
части хозяйственного организма поражены столь тяжким недугом, как вообще может 
существовать великая сверхдержава – Советский Союз?… В исторических анналах 
можно найти много примеров весьма долговечных и устойчивых империй, сочетавших 
бедность и хозяйственную отсталость с известной политической прочностью и 
военной мощью. Как пример – Персидская держава: "Если размеры государства и 
численность населения достаточно велики, то жестко централизованная тоталитарная 
власть всегда сумеет извлечь из народа нужный ей избыток труда и использовать 
его для своих нужд (стр.228). В качестве выхода из "тупика" анализируется 
предложения разных группировок среди диссидентского движения (неортодоксальные 
марксисты, либерально демократическое направление – ак. Сахаров и др., 
традиционно-православное, представленное Солженицыным и др., славянофильское – 
самиздатский журнал "Вече" В.Осипова и др.). Все это преподносится как 
“политическая оппозиция в Советском Союзе, оформившаяся к середине 70-х 
годов".</p>
<p>В вып. 2 (в целом проникнутым антисоветскими настроениями) публикуются 
отрывки из книги И.Земцова "Разворованная республика". Замысел составителя – 
доказать существование подпольного бизнеса в СССР – на примере Азербайджана 
(причем для доказательства необходимости его приводится тезис, "что в России 
хорошо жить на зарплату невозможно" – стр.100), показать связь подпольного 
бизнеса с советским руководством республики и сделать вывод – не 
капиталистическое ли это перерождение, за которое ратует К.Б.? Если сам Земцов 
рассматривает подпольный бизнес, как преступление, то К.Б. считает преступниками 
тех, кто делает его нелегальным (стр.106-107). В целом книга Земцова порочит 
советский строй, многие положения этой книги необходимо расценивать, как 
клеветнические, (стр.89, 100,104). Комментарии К.Б. к этой книге изобилуют 
антисоветскими высказываниями вроде следующих: "Вот они, паразиты на шее не 
только народа, но и подпольного бизнеса. Вот они, кто извращает частное 
предпринимательство и превращает его представителей в сборщиков феодальных 
платежей" (стр.107). "Наш симбиозный строй – смесь деспотической рабской формы и 
капиталистического продажного содержания, т.е. феодализм в чистом виде" 
(стр.108). К.Б. рассматривает коллектив как государственное крепостничество 
(стр.107), искажает при этом и природу феодализма, и причины отмены 
крепостничества в 1861 году, и ряд других вопросов (в частности, природу НЭПа), 
о которых он пытается судить как профессионал. Выступая за признание "нынешнего 
левого бизнеса законным и моральным”, за экономическую реформу типа НЭПа, К.Б. 
извращает суть НЭПа, сводя ее лишь к широкому использованию товарно-денежных 
отношений, к свободе рыночного предпринимательства.</p>
<p>В вып.4 в реферате-рецензии на книгу Комарова подчеркивается мысль, что при 
социализме идет варварское истребление природы, что гибнет уникальное озеро 
Байкал, что Азовское, Аральское моря уже погибли. Комментарий К.Б. сводится к 
тому, что главный виновник – социалистическое государство. При капитализме, 
отмечает К.Б., тоже загрязняют реки, моря и воздух, но уровень промышленного 
производства там много выше, чем у нас, а степень загрязнения ниже. 
Тенденциозность в подборе доказательств, используемых К.Б., очевидна. Игнорируя 
многочисленные свидетельства даже буржуазной печати, не говоря уж о советской, о 
систематическом загрязнении окружающей среды в капиталистических странах, что 
связано с корыстным стремлением капиталистов к обогащению при использовании 
достижений современного научно-технического прогресса, К.Б. в своих выводах 
опирается прежде всего на приводимые в нашей печати факты бесхозяйственности и 
негативные моменты, связанные с развитием научно-технического прогресса.</p>
<p>В вып.5 в помещенном отрывке из рецензии Г.Бельского "Будущее CССР" по книге 
французского историка Э.Тодда "Окончательный провал" (Париж,1976г.) фактически 
воспроизводится текст автора или дается его пересказ, смысл которого сводится к 
доказательству того, что “централизованное планирование лишает советскую 
экономику гибкости и блокирует всю систему" (стр.23). Это клеветническое 
положение автор подкрепляет данными о понижении темпов экономического роста за 
1974-76гг. "Зависимость от Запада в продуктах питания” - последнее 
рассматривается как постоянное структурное явление нашей экономики. В этих 
приводимых фактах в кучу смешиваются совершенно различные вопросы с определенной 
подтасовкой их. Любопытно, что, во-первых, рецензент не приводит данных за 1972 
и 1973 годы, а оперирует цифрами с 1974 г., ибо если взять все три указанные 
года, то картина будет иная, а именно: 1972 – 6,5%, 1973 – 7,5%, 1974 – 8%. Т.о. 
цифры говорят в данном случае о росте, а не о снижении. Однако авторы берут на 
вооружение их устраивающее соотношение. Во-вторых, не приводится следующий год – 
1977, в котором темпы роста промышленной продукции выше, чем в 1976, в-третьих, 
игнорируется переход экономики на интенсивные факторы экономического роста, что 
связано с ориентацией на отдачу уже действующих предприятий, а также активным 
освоением районов Западной и Восточной Сибири и Дальнего Востока, требующих 
более значительных капиталовложений, чем уже освоенные европейские районы 
страны; в-четвертых, автор, рецензент, составитель (К.Б.) игнорируют в данном 
случае ускорение научно-технического прогресса, что также требует значительных 
капитальных вложений и, следовательно, меньшую "отдачу их сегодня; в пятых, 
игнорируется международное разделение труда, в частности, между 
социалистическими странами. </p>
<p>Некоторое преобладание в вывозе из СССР топливно-сырьевых ресурсов 
преподносится как признак недоразвитой страны, хотя известно, что в рамках стран 
соц. содружества СССР самая богатая страна с точки зрения 
топливно-энергетических и сырьевых ресурсов и в соответствии с принципами 
социалистического сотрудничества и взаимопомощи СССР предоставляет их в другие 
соц.страны, ввозя продукцию, производимую в этих странах, в частности, машины, 
продовольствие, товары народного потребления. </p>
<p>Автор книги, рецензии и К.Б. утверждают, что в СССР очень низка 
производительность труда, а общий уровень экономического развития растет все 
медленнее. Они могли бы при желании привести цифры, свидетельствующие о 
громадном экономическом потенциале страны, но они эти цифры не приводят. Только 
за один день в СССР производилось: 
<table align="center" border="0" cellpadding="3" cellspacing="0" width="100%">
<tr>
<td></td>
<td>Единицы</td>
<td>1940</td>
<td>1970</td>
<td>1975</td>
<td>1978</td></tr>
<tr>
<td>Электроэнергия</td>
<td>млн квт-ч</td>
<td>133</td>
<td>2030</td>
<td>2845</td>
<td>3293</td></tr>
<tr>
<td>Нефть</td>
<td>тыс. т</td>
<td>85</td>
<td>987</td>
<td>1345</td>
<td>1566</td></tr>
<tr>
<td>Газ</td>
<td>млн куб.м</td>
<td>8,8</td>
<td></td>
<td></td>
<td>1020</td></tr>
<tr>
<td>Уголь</td>
<td>тыс. т</td>
<td>453</td>
<td></td>
<td></td>
<td>
<p>1</p>
<p>983</p></td></tr>
<tr>
<td>Чугун/Сталь</td>
<td>тыс. т</td>
<td>41/50</td>
<td>/318</td>
<td>/387</td>
<td>303/415</td></tr>
<tr>
<td>Автомобили</td>
<td>шт.</td>
<td>397</td>
<td>2510</td>
<td>5381</td>
<td>5893</td></tr>
<tr>
<td>Ткани/обувь</td>
<td>млн м/тыс. шт.</td>
<td>9,1/580</td>
<td>24,3/1860</td>
<td>27,1/1917</td>
<td>29,2/2028</td></tr></table></p>
<p>Но автор, рецензент и К.Б. изыскивают другое – спекуляцию самыми необходимыми 
товарами, рост взяточничества, разворовывание государственных средств. Кстати, в 
доказательство берутся факты, публикуемые в советской печати, выдаваемые за 
закономерные и наиболее характерные черты социалистической экономики. Они с 
удовлетворением цитируют Тодда, рассматривающего советскую экономическую систему 
как загнивающую (стр.24), где черный рынок составляет половину советской 
экономической системы и органически ей присущ. Развитие его ведет к инфляции, 
что заставляет увеличивать зарплату, а увеличение зарплаты выдается, дескать, за 
неуклонное повышение уровня жизни. Тодд отмечает, что уровень жизни за последние 
30 послевоенных лет возрос очень мало, если не остался таким же. Но рецензент-то 
и К.Б. должны знать, что это не соответствует действительности. Вслед Тодду они 
вторят: "Советские граждане должны довольствоваться постоянными поисками пищи и 
жилья".</p>
<p>За три года 10-й пятилетки 31,6 млн. человек получили жилую площадь или 
построили себе собственные квартиры, за годы 9-й пятилетки - 56,1 млн. человек. 
Реальные расходы на душу населения (в %) в 1978г. к уровню 1940 г. увеличились в 
5,5 раз. Более высокими темпами увеличиваются доходы в менее обеспеченных 
семьях. Если в 1965 г. только 4% населения имело доход свыше 100 руб. в месяц на 
1 члена семьи, то в 1978 г.- 45%, а к концу 1980г. будет 50%. Обеспечивается 
сближение уровней реальных доходов колхозников и рабочих.</p>
<p>Но автор, рецензент и К.Б. видят:</p>
<p>- внешнему миру Сов.Союз представляется огромной недоразвитой страной с 
уровнем жизни, напоминающим эпоху допромышленного мира конца XVIII столетия,</p>
<p>- спутники, ракеты, атом и водородные бомбы – фасад потемкинских деревень (по 
Сахарову),</p>
<p>- низкая производительность труда – естественная форма классовой борьбы в 
тоталитарных странах,</p>
<p>- способы советского производства, как и азиатские,- ведут к застою.</p>
<p>Причины этого по Тодду: </p>
<p>1. Прекращение сталинского террора, что привело к засыпанию чудовищной 
советской бюрократии.</p>
<p>2. Развитие пассивного сопротивления рабочих…</p>
<p>(Выпущены стр.24-27 справки о статьях, помещенных в вып.5 – В.Грина "Как 
выжить", В.Владимирова (о книге Брежнева "Целина") и В.Новодворской - гимн 
диссидентам)</p>
<p><em>О стиле руководства</em></p>
<p>В вып.1 наряду с вопросами о причинах неэффективного социалистического 
производства, как рефрен данного и последующего выпусков звучит в подтексте 
ответ: стиль и принципы руководства. На конкретно поставленный вопрос: "Кто жe 
эти воры и грабители?" (стр.162) дается конкретный ответ: "Во-первых, тот 
миллион (а с семьями -4,9, с родственниками 10) партийно-советских чиновников, 
сидящих на кремлевском пайке, который они поручают либо бесплатно, ибо по 
смехотворно низким ценам. Во-вторых, работники сферы торговли, которые первыми 
(а зачастую только они) имеют возможность приобрести дефицит, т.е. товар 
сниженной (относительно рыночной) цены" и т.д.</p>
<p>В вып. 6 дается статья К.Б. "Стиль руководства страной как он видится в книге 
Л.И.Брежнева "Целина". К.Б. полагает, что самая яркая черта пропагандируемого в 
книге стиля руководства – постоянное обращение к урокам военного времени, 
использование военных методов проведения операций, армейский стиль мышления" 
(стр.56). Он утверждает, что у Л.И.Брежнева произошло смешение методов 
командования и хозяйствования" (стр.58), что важной причиной для "воинского 
стиля управления" является настоятельная потребность залатать очередную дыру в 
хозяйстве и на этой основе укрепить свою власть" (стр.59). "Вместе с тем,- 
отмечает K.Б. – воинский стиль руководства Л.И.Брежнева – это такой стиль, 
который требует не только подчинения, но и инициативы от исполнителей (стр.63), 
но при социализме всякая инициатива связана с нарушением инструкций, которые 
сдерживают наше развитие". </p>
<p>Общий вывод из книги Л.И.Брежнева по автору публикации такой: "Автор "Целины" 
осознал порочность административных военных методов в их наиболее грубом, 
карательном аспекте, но продолжает отстаивать их в "хорошем, культурном и даже 
терпимом качестве. Однако и такой мягкий стиль централизованного руководства не 
может привести нашу экономику к освобождению людской инициативы и к успеху”.</p>
<p><em>Дискуссия по статье К.Буржуадемова "Я обвиняю…"</em></p>
<p>Дискуссия была открыта по статье К.Б. в первом же выпуске. Чтобы "сегодня 
жить и работать… оптимальным способом, достичь самых высоких в мире 
экономических стандартов" и накопить больше средств для будущего развития, 
необходимо, пишет K.Б., "сбалансировать производство и потребление". Это 
возможно не за счет выполнения "научно рассчитанного социалистического плана", а 
путем "непрерывной балансировки обмена на самом древнейшем из человеческих 
форумов – рынке с помощью игры цен".</p>
<p>"Рынок, пишет К.Б., балансирует производство и потребление,  отсекает 
неэффективных производителей,  отсекает неэффективных потребителей".</p>
<p>Т.о. K.Б. - за свободную игру цен на рынке, за стихийное действие законов 
товарного производства, против участия государства в регулировании производства, 
обмена, распределения. Установление государством низких цен (ниже стоимости) 
товары народного потребления, низкая плата за жилье, транспорт и т.д., 
рассматривается К.Б. как подкуп государством трудящихся(!) С другой стороны, 
установление высоких цен на ряд товаров – как эксплуатация народа. Обвинения 
К.Б., направленные в адрес служащих и интеллигенции, состоит в том, что они 
экономической свободе "предпочитают покупать продукты у государства за полцены 
или совсем за бесценок, т.е. жить на дотации государства и быть его 
нахлебниками”. В отличие от нашей страны, продолжает К.Б., люди на Западе, платя 
за все сполна, "по истинным, рыночным ценам", являются экономически независимыми 
от государства и могут его критиковать.</p>
<p>"Инициативу в деле экономического освобождения берут низы, т.е. люди, 
занимающиеся спекуляцией…, выполняя этим регулирование" (стр.43). И далее - 
"общественно полезная деятельность этих людей – несомненна". "Интеллигенция,- 
заключает К.Б.,- ценя свои потребительские привилегии, получая их от 
государства, выступает против "спекулянтов, шабашников, "леваков'', т.е. 
экономически свободных людей, и потому является одной из самых активных 
общественных сил, противящихся экономическому и нравственному прогрессу 
страны"…</p>
<p>К.Б. пытается совместить спекуляцию, расхищение государственного имущества и 
мораль: "Логика жизни показывает, что во многих случаях эти люди правы и 
моральны в своем "воровстве" и т.п.. Экономическую пользу от воровства у 
тоталитарного государства показывают и простые расчеты". Если в последнем случае 
К.Б. имеет в виду увеличение национального дохода за счет спекуляции (а что 
еще?), то такой абсурд очевиден. К.Б. исходит из того, что "нашим ближайшим 
идеалом станет свободное общество с рыночной экономикой, а предпринимательская 
этика будет оправдывать частное предпринимательство и торговлю (т.е. спекуляцию) 
и защищать их от государства". К.Б. не видит различия между торговлей и 
спекуляцией, не замечает роста нашей экономики, квалифицируя ее как "бег на 
месте в тоталитарной клетке". </p>
<p>В третьем выпуске дается заключительный анализ "прошедшей дискуссии и 
"покаяние К.Б.", где К.Б. пишет, что народ должен решать – чему быть: 
"социализму или капитализму", забыв, что народ и решил это в 1917 году, а сейчас 
под народом понимает спекулянтов, шабашников, подпольных капиталистов, 
диссидентов.</p>
<p>Рецензируемые выпуски сборника "В защиту экономических свобод" являются 
пропагандистскими материалами антисоветского содержания: </p>
<p>а) теоретическое оправдание и "доказательство" целесообразности возврата к 
частной собственности на средства производства и к отказу от важнейшего 
преимущества социализма – планомерного ведения хозяйства, что, якобы обеспечит 
"экономическую свободу" граждан социалистического общества, являющегося, по 
мнению составителей сборника, залогом политической свободы;</p>
<p>б) тенденциозный подбор и публикация материалов (помещенных на страницах 
советской и зарубежной печати), выдержкек из монографий до- и послереволюционных 
лет, буржуазных авторов, эмигрантов, а также так называемых "Писем" отдельных 
граждан, дающих весьма недвусмысленную оценку советскому государству и 
общественному строю, извращающих факты социалистической действительности;</p>
<p>в) рекомендации к действиям, поощряющим практику частнопредпринимательской 
деятельности (спекуляции, шабашничества и пр.), а в некоторых случаях и к 
шантажу государственных деятелей и служащих;</p>
<p>г) оправдание так называемого производственного воровства.</p>
<p>Данный сборник объективно является проводником взглядов, чуждых 
марксистко-ленинской идеологии, клеветнических измышлений, порочащих советский 
государственный и общественный строй, направлен на дискредитацию советской 
власти, коммунистической партии и в целом идей социализма, как в СССР, так и на 
международной арене.</p>
<p>Указанное выше направление выпусков сборника безусловно определено 
составителями их и прежде всего К.Буржуадемовым. Взятое в 1-ом выпуске, 
направление четко выдерживалось в последующих выпусках. Из знакомства с 
отдельными выпусками может создаться впечатление, что К.Б. политэкономически 
неграмотный человек, дающий критику социализма с позиций мелкого буржуа и 
обывателя. Но в одной из первых же книжек говорится о том, что К.Маркс в 
современной социально-экономической теории извращен и не понят и теоретические 
опусы, помещенные в сборнике есть, стало быть, возврат к подлинно марксовым 
идеям ценности. Но К.Б. не акцентирует внимание читателя на связи с марксизмом, 
он идет от практики, т.е. от поверхности явлений, которая являлась 
вдохновительницей многих мелкобуржуазных теорий. Но проповедь мелкобуржуазных 
теорий, сохранявших иллюзии преодоления капиталистических отношений и 
преодоления их противоречивости, была более или менее уместна в XIX веке. ХХ век 
совершенно четко выявил закономерность перерастания любой мелкобуржуазной 
экономики в капиталистическую, а затем – в государственно-монополистическую, при 
которой не может быть и речи ни о какой экономической свободе. Ею не обладают 
даже крупные экономические объединения, ибо все экономические и политические 
вопросы решаются ведущими финансовыми группами, финансовой олигархией. Этого не 
может не знать К.Б., следовательно, игнорирование этих фактов современной 
действительности необходимо К.Б. для преследуемых им целей, т.е. по существу 
речь идет о пропаганде заведомо не соответствующих действительности 
сведений.</p>
<p>Что же касается целей К.Б., то ими не является забота о благосостоянии 
трудящихся, ибо расширение спекуляции и шабашничества – ухудшает благосостояние 
граждан, есть прямой вычет из их доходов или косвенное уменьшение возможных 
доходов (высокая оплата труда шабашников есть одновременно вынужденное 
сдерживание роста доходов работников данного подразделения (колхоза, совхоза, 
предприятия). Не радеет К.Б. и об интеллигенции. К интеллигенции у К.Б. большие 
претензии. Чьи же интересы отстаивает и реализует К.Б.? – Спекулянтов, 
шабашников и пр.? Тогда бы рассуждения авторов строились вокруг системы 
экономических мер, предусматривающих решение данной проблемы. Но К.Б. и не 
думает решать эту проблему, ибо действительные цели его выходит за рамки 
экономики в область политической организации советского общества, о чем 
недвусмысленно повествуется в материалах, посвященных комментариям произведений 
Л.И.Брежнева.</p>
<p><u>Авторы «Справки» от имени Института экономики АН СССР фактически 
предъявили мне, как составителю «ЗЭС»ов обвинение в «антисоветской пропаганде, 
клевете с целью подрыва советской власти» -т.е. по ст70 УК РСФСР, 
предусматривающей наказание в 7лет лагерей строгого режима, плюс 5 лет ссылки, 
плюс вечный срок судимости, т.е. непрописка в столицах на всю жизнь. Однако 
следствие оставило ст. 1901 – 3 года общих лагерей. Из-за достигнутого 
компромисса 4.09.1980г. я был освобождён из тюрьмы до суда (компромисс состоял в 
зачитывании на суде согласованного заявления). </u></p>
<p><u>25 сентября мне предъявили «Обвинительное заключение». В нём было 10 
пунктов обвинения в составлении и распространении 4 номеров самиздатского 
журнала «Поиски» (как соредактору этого журнала) и 6 выпусков сборника «ЗЭС» 
(как составителю). Обвинение по «ЗЭС»ам были составлены целиком на основе 
«Справки», представленной Институтом экономики АН СССР, конечно в сильно сжатом 
и формализованном виде.</u></p>
<p><u>Ниже я приведу выдержки из записи судебных заседаний 29 и 30 сентября 
1980г. в Мосгорсуде, посвящённые эпизодам с «ЗЭС»ами. Ходатайство подсудимого о 
вызове в суд специалистов, на заключениях которых построены обвинения в адрес 
«Поисков» -«ЗЭС» («для установления истины по делу»), включая директора 
Института экономики АН СССР д.э.н. Капустина Е.Н., суд отклонил как 
«преждевременное и необоснованное».</u></p>
<table width="600"> <tr> <td>
<a href="C4b.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="C5b.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
