{% extends 'base.html' %}
{% block title %}Цели людей: Выдержки из записи суда 1980г.{% endblock %}
{% block content %}



<h3>В. Сокирко</h3>
<h3>Цели людей </h3>
<h1>Выдержки из записи суда 1980г.</h1>
<p><strong>Из допроса подсудимого</strong></p>
<p>«…Действительно, с декабря 1978 по декабрь 1979 года я входил в редакцию 
самиздатского московского журнала “Поиски”, принимал участие в редактировании 
его материалов, помещал в нем свои статьи и способствовал их распространению. 
Однако мое основное внимание было привлечено к обсуждению экономических проблем 
страны в самиздатских сборниках “В защиту экономических свобод”, которые я 
составлял с марта 1978 по июнь 1979года под псевдонимом К. Буржуадемов. Сразу 
поясню, что этот псевдоним - Коммунист Буржуадемов был выбран мною, чтобы в 
полемической форме подчеркнуть свои буржуазно-коммунистические или либеральные 
взгляды. Часть статей этого сборника помещалась затем в экономических и иных 
разделах журнала “Поиски”. Но обо всех этих обстоятельствах я уже давал 
подробные показания на следствии.</p>
<p>Сейчас в дополнение я считаю необходимым дать суду пояснении о самом главном 
- о мотивах и причинах моей самиздатской деятельности. Почему собственно 
благополучный, хорошо работающий человек /что подтверждается и характеристикой с 
работы/, имеющий хорошую, крепкую семью, правда, когда-то осуждённый за отказ 
давать свидетельские показания, но твердо обещавший себе и другим не допускать 
нарушения закона, вдруг вновь привлечен к уголовной ответственности и по гораздо 
более тяжелому обвинению, на его квартире производят несколько обысков, потом 
арестовывают - и этим он приносит большие страдания своей семье, родным и 
знакомым, не говоря уже о себе самом?</p>
<p>Дело в том, что я совсем не считал тогда свою деятельность плохой и тем более 
- противозаконной, а напротив, считал ее выполнением своих гражданских 
обязанностей, исполнением долга перед страной и ее будущим в предвидении 
грозящих ей бед. Возможно, я заблуждался, возможно, виноват мой склад ума, с 
юности втягивавший меня в идеологические сомнения и выработку своих убеждений, 
идеалов, своей веры. Мне казалось постыдным ограничиваться только своей 
профессиональной работой и семьей и молчать о негативных процессах в стране, а 
главное, угнетала острая тревога за будущее, когда могут быть исчерпаны 
источники сегодняшнего относительного нашего благополучия.</p>
<p>Свои соображения я неоднократно высказывал в письмах, направленных как в 
высшие руководящие органы страны, так и в советскую печать, но практически ни 
разу не получал ответов по существу. Поэтому мне невольно приходилось 
ограничиваться обсуждением этих тем в узком кругу знакомых, не всегда в этом 
заинтересованных. Но чем больше я углублялся в острые экономические и 
нравственные проблемы, тем больше ощущалась необходимость быть услышанным 
специалистами и другими живо заинтересованными людьми - отсюда стремление к 
расширению круга лиц для обсуждения этих тем, сначала с помощью экономических 
сборников, а затем вступление в дискуссионный журнал “Поиски”.</p>
<p><strong>Из речи прокурора Праздниковой Т.П.</strong></p>
<p>Граждане судьи! Перед Вами дело редкое в нашей практика. Ибо в нашей стране 
нет социальной базы для возникновения буржуазных взглядов. Ведь наш народ много 
лет трудился и сражался, перенёс неимоверные трудности, чтобы избежать 
последствий капитализма, чтобы построить развитой социализм. Наша важнейшая цель 
- усиление беспощадной борьбы с буржуазной идеологией, с клеветой на наши 
достижения. В нашей стране строго соблюдаются положения международных Пактов и 
Деклараций. Конституция СССР полностью охраняет права граждан, но, конечно, в 
целях социалистического общества.</p>
<p>Империалистическая пропаганда становится все более изощренной, стараясь 
отвлечь внимание трудящихся всего мира от успехов реального социализма…</p>
<p>Наша страна освободила людей от эксплуатации, поэтому буржуазные страны не 
могут не клеветать на советский строй, потому что они не могут иначе защищать 
свою “демократию” и тогда погибнут. Поэтому они фальшиво кричат о преследовании 
отдельных лиц за взгляды и убеждения. Однако наша судебная практика не знает 
преследований за убеждения. И поэтому не за убеждения, а за противоправные 
действия, выразившиеся в распространении клеветнических измышлений, порочащих 
советский общественный и государственный строй, находится в суде Сокирко.</p>
<p>…он собирал материалы, составлял, редактировал, размножал и распространял 
нелегальные сборники “В защиту экономических свобод”, а потом и нелегальный 
журнал “Поиски”, который распространял и передавал за границу. Он помещал в них 
свои собственные клеветнические произведения…. Статьи Сокирко, Гефтера, Кувакина 
и др. - это клевета на советский строй и вымысел. Сокирко и Грин клевещут о 
принудительном характере труда при социализме. Сокирко высказывал лозунг 
экономических свобод, что равнозначно охране частной собственности, отождествлял 
личную и частную собственность, противоречил марксистской классификации форм 
собственности. Клеветал Сокирко и на Конституцию, в которой зафиксированы 
демократические права, роль массовой организации, в настоящее время 
расширяющаяся. Как писал Л.И.Брежнев: “Надо обратить внимание на развитие 
деятельности Советов”…</p>
<p>Да, товарищи судьи! Знакомясь со статьями в указанном журнале, нельзя найти 
ни одного тёплого слова о борьбе советских людей в годы войны и годы мирного 
труда за счастливое общество. Все материалы здесь тенденциозны, негативны, полны 
мрачной клеветы и злобы, оскорбляют всех советских людей, перенесших тяжелые 
испытания. Клеветнический характер их и так очевиден и продолжать их 
характеризовать, видно, не нужно.</p>
<p>…Сокирко заслуживает максимальной меры наказания по ст.190-1 УК РСФСР - трёх 
лет лишения свободы в лагерях общего режима. Однако хочется надеяться, что 7 
месяцев, проведанные им в заключении, не были для него бесплодными. Он осознал 
свою вину и раскаялся, о чём свидетельствует сделанное им в суде заявление. Это 
важное, смягчающее вину обстоятельство, а также материальное положение и четверо 
несовершеннолетних детей делают возможным применение в данном случае ст. 44 УК 
РСФСР. </p>
<p><strong>Из выступления подсудимого в качестве адвоката</strong></p>
<p>…Я подразделяю все аргументы в свою защиту на две группы. Первая - 
формально-юридические, которые доказывают отсутствие заведомой ложности в 
материалах, ставящихся мне в вину, и тем самым искренность моих побуждений. 
Важность этих аргументов разъяснена в Комментарии к Уголовному Кодексу РСФСР 
1971г. на с. 403, а именно: “распространение измышлений, ложность которых 
неизвестна распространяющему их лицу, а равно высказывание ошибочных оценок, 
суждений или предположений, а также изготовление и распространение произведений, 
хоть и выражающих отрицательное отношение изготавливающего их лица к советской 
действительности, но не содержащих заведомо ложные измышления, не влечёт 
ответственности по ст. 190-1 или, на мой взгляд, должно сильно смягчать эту 
ответственность. Вторая группа аргументов касается обстоятельств той вины, 
которую я признаю за собой в части создания по заблужденности возможностей для 
использование моих работ за рубежом во враждебных нашей стране целях.</p>
<p>По первому выпуску сборника “В защиту экономических свобод” обвинение считает 
клеветническими следующие работы: “Плановое производство... “ В. Грина, мою 
статью “Я обвиняю интеллигентов... “ и мою рецензию на книгу А. Кузнецова 
“Бедность народов”, поскольку в них, мол, содержатся “измышления о советской 
экономической наук, сущности производственных отношений, об СССР как 
тоталитарном государстве, находящемся, якобы, в экономическом тупике”. </p>
<p>Обвинение доказывает это лишь ссылкой на заключение специалиста Капустина - 
директора Института экономики АН СССР. Сразу должен заметить, что обвинение в 
клевете на советскую экономическую науку не входит в состав ст. 190-1 и должно 
быть изъято хотя бы до этой причине. Обвинение в приравнивании тоталитаризма и 
советского государства уже рассматривалось мною раньше на примере статьи 
Байтальского, когда выяснялось, что это различие применяемых терминов есть 
различие взглядов, а не заведомая ложь.</p>
<p>В выпуске “ЗЭС” №2 обвинение считает клеветнической статью В. Грина 
“Юридические основы экономического насилия в СССР”, В. Чалидзе “Частное 
предпринимательство”, мои рецензии - “Черный рынок и советская экономическая 
наука” и на книгу И. Земцова “Партия и мафия”, а также отрывок из книги Л. И. 
Брежнева “Целина”, Включение отрывка из книги Брежнева в число клеветнических 
материалов, думаю, является анекдотической ошибкой и, безусловно должно быть 
исключено из обвинения, иначе Вам придется обвинять вместе со мной и 
Брежнева.</p>
<p>Председ. перебивает: “Подсудимый, не забывайтесь!”</p>
<p>Что касается остальных материалов, то обвинение бездоказательно приписывает 
всем им клевету на советский строй, принципы коллективизации, право на труд в 
СССР, что также неверно.</p>
<p>В выпуске “ЗЭС” №3, по мнению обвинения, в двух моих работах: “Из истории 
политэкономии социализма” и “Покаяние К. Буржуадемова” содержится “клевета о, 
якобы, антинаучном характере науки политэкономии социализма”. Но суду известно, 
что клевета, если даже она есть, о характере науки политэкономии, не имеет 
отношения к ст.190-1 УК РСФСР и уже потому этот пункт должен быть изъят из 
обвинения. Кроме того, на деле точку зрение о невозможности науки политэкономии 
социализма высказал, прежде всего, советский учебник политэкономии 1931 года, 
написанный Лапидусом и известным советским экономистом академиком К. 
Островитяновым. Я же в своей работе только поддержал эту точку зрения. Если я 
клевещу на политэкономию социализма, то еще раньше в этом следует обвинять 
Лапидуса и Островитянова. Что касается моего заключительного “Анализа и 
покаяния” в дискуссии, то обвинение не указывает, в чем именно заключается его 
клевета. И понятно, ибо сделать это очень трудно, т. к. в данной работе, подводя 
итоги дискуссии, я пытался частично пересмотреть свои взгляды и во многом 
критикую самого себя или, если пользоваться ставшим сейчас привычным 
определением, “клевещу сам на себя”. Однако такая “клевета” к ст. 190-1 также не 
имеет никакого отношения. </p>
<p>В выпуске “ЗЭС” №4 обвинение определяет клеветническими две вещи: 
“Взяточничество” В. Чалидзе /”клевета о сущности производственных отношений 
социализма”/ и мой реферат книги Б. Комарова “Запасная страна”/”клевета о, 
якобы, хищническом уничтожении природы по вине социалистического государства”/. 
Почему глава из юридической книги Чалидзе о практике судебных процессов по делам 
о взяточничестве есть “клевета на суть производственных отношении социализма” - 
это не только не доказывается, а остается просто непонятным, как такое 
возможно.</p>
<p>Что касается моего реферата книги Комарова, то она написана, действительно с 
большой болью за страну, на огромном фактическом материале, с огромной 
заинтересованностью и не может оставить равнодушным любого из патриотов страны 
так же, как книги Солоухина, Распутина, Абрамова и др. Возможно, автор 
преувеличивает опасности, заостряет проблемы, но не от заведомой лжи, а совсем 
напротив. Никаких доказательств клеветы обвинение не приводит и здесь. </p>
<p>В выпуске “ЗЭС” №5 обвинение признает клеветническими работы Бельского 
“Будущее Советскою Союза” и К. Ясперса “О тотальном планировании”(отрывок из 
книги). Обвинение утверждает, что клевета этих работ касается сути 
социалистического планирования. Можно спорить, входит ли суть и методы 
планирования в “советский общественный и государственный строй”, но даже если и 
входят, что данное обвинение опять ничем не доказывается. Кроме того, глава из 
книги К. Ясперса “0 тотальном планировании” была перепечатана мною в ЗЭС-5 из 
книги, изданной советским Институтом общественно-научной информации, правда, для 
служебного пользования, но довольно большим тиражом. Если этот пункт оставить в 
обвинении, то наказанию придется подвергнуть и весь этот государственный 
институт.</p>
<p>В выпуске “ЗЭС” №6 обвинение считает клеветническими мой реферат книги 
Зейпеля “Хозяйственно-этические взгляды отцов церкви”, статью Канцелейбогена 
“Разноцветные рынки в Советском Союзе” и мое послесловие к ней, а также мою 
рецензию на книгу Л. И. Брежнева “Целина”. Первая из упомянутых книг касается 
событий почти полуторатысячной давности и не имеет никакого отношения к 
советскому общественному и государственному строю. Она интересна особенно, как 
анализ христианской точки зрения на хозяйственную этику и, без всякого сомнения, 
должна быть исключена из обвинения. Статья известного советского экономиста 
Канцелейбогена носит сугубо научный, описательный характер различных типов 
реально существующих рынков у нас в стране и также не является клеветой. Никакой 
клеветы не могу я усмотреть и в своем Послесловии к этой научной работе. Что 
касается моей рецензии на книгу Л. И. Брежнева “Целина”, то я уже пояснял суду, 
что взялся за ее анализ только из уважения к автору и к самой книге из желания 
глубже понять по её содержанию стиль руководства страной. Возможно, мой анализ 
субъективен и в чем-то ошибочен, но нет в нем ни клеветы, ни стремления 
опорочить. Напротив, многие читатели, как я уже говорил, меняли свое отношение к 
автору книги на более положительное именно после чтения моей рецензии.</p>
<p>Итак, ни по одному из выпусков ЗЭС обвинение не привело ни одного 
доказательства наличия в них заведомо ложных измышлений, порочащих советский 
общественный и государственный строй. Обвинение основывает доказательство 
наличия клеветы в ЗЭСах лишь на заключении специалиста, директора Института 
экономики Капустина (т. 2, л. 2-34). Однако на деле это заключение посвящено 
лишь разбору и критике взглядов основных авторов этих выпусков и очень редко 
квалифицирует их положения как клеветнические, притом без доказательств, в чём 
легко убедиться, ознакомившись с этим заключением, как впрочем, и со всеми 
другими. В заключение первой группы аргументов я хотел бы сделать общее 
замечание по поводу отзывов специалистов. Все они совершенно недоказательны в 
установлении наличия клеветы в исследуемых ими материалах. Кроме того, они 
написаны в крайне резком и грубом полемическом тоне, что свойственно скорее 
площадной брани-спору, чем спокойному разбору специалистов. Видимо, в этом 
виновато и следствие, направившее наши работы на отзыв именно работникам 
идеологических институтов, воспитанных на уничтожительной полемике. Следует 
поручать такие заключения более нейтральным, спокойным специалистам - логикам, 
юристам, математикам и т. д. Это, конечно, мое мнение.</p>
<p><strong>Из Приговора </strong>* </p>
<p>“…Судебная коллегия ... установила:</p>
<p>…Что же касается сборников “В защиту экономических свобод”, то, как пояснил 
Сокирко, он является инициатором этого сборника и его единственным редактором, в 
связи с чем лично подбирал для сборника материалы, редактировал их, 
изготавливал, размножал и распространял сборники, куда поместил указанные выше 
материалы, в том числе и статьи, написанные им лично… </p>
<p>Судебная коллегия, проверив материалы дела, находит доказанной вину Сокирко в 
полном объеме предъявленного ему обвинения…</p>
<p>Судебная коллегия обозревала сборники “В защиту экономических свобод” и 
пришла к выводу, что содержащиеся в них и указанные в приговоре материалы, в том 
числе написанные самим Сокирко и помещённые в сборниках под своей фамилией и под 
псевдонимом К. Буржуадемов, содержат клеветнические измышления о советской 
экономической науке, о сущности производственных отношений; об СССР, как 
тоталитарном государстве, находящемся, якобы, в тупике; о, якобы, хищническом 
уничтожении природы о вине социалистического государства, о сущности 
социалистического планирования, о стиле руководства страной, которые порочат 
советский общественный и государственный строй. В этих материалах содержатся 
также клеветнические измышления, которые порочат принципы коллективизации и 
право на труд в СССР». (Далее приговор дословно повторяет пункты Обвинительного 
заключения, включая отрывок из книги Брежнева «Целина»). </p>
<p>«... С заявлением Сокирко, что помещённые в журнале “Поиски” и сборниках “В 
защиту экономических свобод” и исследованные в судебном заседаний материалы 
заведомо клеветническими не являются, судебная коллегия не может согласиться по 
следующим причинам. </p>
<p>Так, в судебном заседании, подсудимой Сокирко пояснил, что с содержанием 
некоторых материалов, помещённых в журнале “Поиски”, одним из редакторов 
которого он являлся, он не был согласен, хотя, я не возражал против их 
опубликования. Это объяснение Сокирко подтверждает его умысел на изготовление и 
распространение в печатной форме заведомо ложных измышлений, порочащих советский 
государственный и общественный строй.</p>
<p>Это обстоятельство подтверждается также и показаниями Сокирко, данными им в 
суде по поводу написанного им в сборнике “В защиту экономических свобод” №3 
статьи “Заключительный анализ контрдоводов в дискуссии и покаяние К. 
Буржуадемова”, в которой он признает, что в написанных им ранее статьях имело 
место неправильное освещение некоторых сторон нашего государства вследствие 
того, что в вопросах, которые затрагивались в этих статьях, у него не было 
ясности. Вместе с тем Сокирко и после этого продолжал писать и публиковать 
статьи по экономическим вопросам клеветнического характера.</p>
<p>…Все это дает основание для вывода о том, что Сокирко, как автор и редактор 
“Поисков” и сборников “В защиту экономических свобод”, помещал в них материалы, 
содержащие заведомо ложные измышления, порочащие советский государственный и 
общественный строй. Исходя из изложенного, действия Сокирко по ст. 1901 УК РСФСР 
квалифицированы правильно.</p>
<p>При назначении Сокирко наказания судебная коллегия учитывает характер и 
степень общественной опасности совершенного им преступления, данные о его 
личности и все обстоятельства дела. Подсудимый Сокирко подтвердил все 
фактические обстоятельства, совершенного им преступления, представил суду 
заявление, в котором указал, что осознал антиобщественный характер своей 
деятельности и осуждает ее.</p>
<p>По месту работы и месту жительства Сокирко характеризуется положительно, 
имеет 4-х несовершеннолетних детей.</p>
<p>При таком положении судебная коллегия находит возможным применение к Сокирко 
ст. 44 УК РСФСР. На основании изложенного и руководствуясь ст… судебная коллегия 
ПРИГОВОРИЛА… признать виновным… и назначить… наказание в виде 3 (трёх) лет 
лишения свободы условно с испытательным сроком в течение 3 (трёх) лет.</p>
<p>…пишущие машинки “Олимпия”… и “Континенталь”… конфисковать в доход 
государства».</p>

<br/>

{% endblock content %}
