{% extends 'base.html' %}
{% block title %}Цели людей: "О новом самиздате" - неотправленное письмо{% endblock %}
{% block content %}



<h3>В. Сокирко</h3>
<h3>Цели людей </h3>
<h1>"О новом самиздате" - неотправленное письмо 
А.Д.Сахарову</h1>
<p>Уважаемый Андрей Дмитриевич! В письме М.С.Горбачеву 23.12.1986г. я 
приветствовал решение о Вашем возвращении в Москву и просил публично истолковать 
его, как первый шаг к примирению Власти с независимыми людьми на благо страны и 
миру, к широкой амнистии инакомыслящих в заключении и ссылке, к признанию 
общественно полезной роли правозащитного движения и ее "Хроники текущих 
событий".</p>
<p>Понятно, что трезвый человек не может рассчитывать на быстрый положительный 
ответ, а январская статья в "ЛГ" об "отщепенцах" вполне в старом духе 
свидетельствует об ином в сегодняшних настроениях властей. Тем не менее, никто 
не может мешать истолкованию Вашего возвращения как шага к примирению с 
инакомыслящей частью общества. И было бы трусостью или бессилием нам не 
воспользоваться этой возможностью и не попытаться внести свой вклад в 
перестройку общества.</p>
<p>В этом вкладе сегодня нуждаются и общество, и сами власти. Ведь, провозглашая 
лозунг "нравственной революции" и "перестройки", никто не понимает или, по 
крайней мере, не раскрывает их смысла и сути. Общество ждет окончательного 
решения руководства, а последнее – или колеблется, или само ждет каких-то чудес 
от общества.</p>
<p>Люди, которые и при брежневском пост-сталинизме решались на открытое 
инакомыслие, сегодня – или в лагерях, или "замирены" до молчания, устали до 
бессилия и безверия.</p>
<p>Такая "растерянность", на мой взгляд, должна быть преодолена, но на новых 
основаниях, возвращением к истокам правозащитного движения 1968 года, когда оно 
опиралось не на силу только западного мнения, а на подписи и мнения своих 
граждан – обыкновенных советских граждан, неразрывно связанных с этой жизнью и 
страной.</p>
<p>…Я очень хорошо помню этот год – когда подписывал в числе многих открытые 
письма, когда стоял у судов и перепечатывал первые "Хроники" и Ваш меморандум - 
"Размышления о мирном сосуществовании". Помню горящие глаза аспиранта-физика, 
крымского татарина Родана Кадыева: "Вот если еще с десяток академиков такое же 
напишут… что будет, Вы представляете?!"</p>
<p>Сейчас я знаю: ничего особенно не было бы. Да и письма от академиков через 
несколько лет, к сожалению, пошли совсем иные… и не только по карьерным или 
мракобесным соображениям, а и совсем искренне. И чем больше диссиденты опирались 
на западную поддержку, тем больше теряли сочувствие своих – тaк я считал… В 
этом, на мой взгляд, главная трагедия и опыт правозащитного движения 70-х годов, 
из которого надо делать вывод на будущее…</p>
<p>"Опора на собственные силы… даже если сил этих почти нет". Лояльность властям 
при безусловном отстаивании своих прав. И действовать в меру своих сил – так я 
считал… Сегодня о пороках пост-сталинизма говорит сама власть, о беззакониях в 
судах и органах следствия, даже КГБ, говорит официальная печать. Фактически 
власть и печать признают правоту по сути той критики, которую вели инакомыслящие 
в прежние годы. И они нуждаются в независимой общественной поддержке и 
обсуждениях, даже если сами еще этого не сознают. Само время, дух его требований 
ведет к примирению.</p>
<p>Но шаги к примирению могут быть только обоюдными. В своей безоглядной опоре 
на Запад, считаю, диссиденты ошибались и должны сегодня начинать если не с 
публичного осознания ошибок, то с реальной корректировки своих действий: 
консолидации на внешней арене с руководством страны в правильном и нейтралитет в 
неверном, а во внутренней политике – с поддержки прогрессивных и человечных 
начинаний – как необходимое условие конструктивной активности в главном и 
сегодня – в осваивании прав человека, в расширении свободы в нашем обществе.</p>
<p>Конечно, молчаливое существование независимых инакомыслящих в обществе 
оказывает свое положительное воздействие на окружающих людей, но сегодня по мне 
этого недостаточно, есть условия для большего – для возрождения самиздата – 
мысли и жизни-общения – не вперекор окружающей нас жизни и печати, а в помощь 
ей, в развитие и коррекцию. </p>
<p>Конечно, власти на такую возросшую активность могут опять отреагировать 
неадекватно, в духе прежнего мифа об агентах ЦРУ… Что ж, не считаю возможным 
звать к геройству, и тогда будет правильным отступить, не оставляя попыток 
переубеждения властей и общества, опять же – в меру собственных сил.</p>
<p>Но почему я не действую самостоятельно, почему обращаюсь к Вам? Дело в том, 
что для восстановления самиздатского общения, да еще на новых, лояльных 
основаниях, надо или обладать большими способностями и силами, которых у меня 
нет, или опереться на признанный общественный авторитет.</p>
<p>Андрей Дмитриевич, я, конечно, понимаю, что пережили Вы много, что сил и 
времени у Вас очень мало. Однако предмет слишком важен, чтобы не откликнуться на 
него – хотя бы мнением, одобрительным или неодобрительным – с пояснением причин. 
Думаю, что Ваше одобрительное мнение по поводу возрождения лояльного самиздата в 
контексте Вашего возвращения в Москву смогло бы вдохнуть энтузиазм в размышления 
инакомыслящих честных людей, ныне погруженных в общественную апатию, и, что 
очень важно, ускорило бы решение о возвращении из тюрем неправильно осужденных. 
Думаю, что Вашего слова ждут многие. Сам я готов участвовать в таком благородном 
и нужном обществу деле в меру своих также не очень больших сил и вперекор с 
нынешним своим разрывом со старым диссидентским кругом.</p>
<p>В заключение немного о себе, если Вас заинтересует мое письмо: Сокирко Виктор 
Владимирович, 1939г.р., инженер-экономист, в 1961г. исключен из ВЛКСМ за 
"Критику проекта Программы КПСС", как клевету, в 1969г. отчислен из аспирантуры 
за подписантство, в 1971г. выступил в Самиздате с книгой "Очерки растущей 
идеологии" под псевдонимом К.Буржуадемов, в 1973г. осужден за отказ от показаний 
в деле Якира-Красина, в 1978г. выступил в самиздате со сборником текстов и 
комментариев под своей фамилией с названием "Советский читатель вырабатывает 
убеждения". С 1972г. начал критику диссидентства за упор лишь на западную 
поддержку, за максимализм в отношениях с властями. Три сборника обсуждений 
вокруг солженицынского призыва "Жить не по лжи!" В 1979г. начало выпуска 
самиздатских сборников "В защиту экономических свобод" и почти одновременно – 
вступление в редакцию московского свободного журнала "Поиски взаимопонимания". В 
1980г. – арест и осуждение по ст.1901. Благодаря компромиссу (но без признания 
вины в клевете) был присужден к условному наказанию и остался с семьей в Москве. 
В "Заявлении для АПН" объяснил свою компромиссную позицию и свои надежды на 
будущее, свой запрет на использование моего имени и работ во вред нашей стране 
(в этом и заключалась главная формула моего публичного отказа – которой я верен 
до сих пор). Фактический разрыв с диссидентским кругом – отнюдь не по моей 
инициативе (в любой момент готов к возобновлению диалога). Считаю, что в 
последующие 80-е годы продолжал оставаться независимым и открытым инакомыслящим 
– и в диафильмах для знакомых, и в письмах в печать и властям никогда не скрывал 
своих мнений и буржуазно-коммунистических взглядов (конечно, при почти 
нескрываемым наблюдении и в довольно большой изоляции, вернее, даже вынужденной 
самоизоляции).</p>
<p>Но времена меняются, и меня мучает мысль, что для нынешних заключенных, для 
страны я не делаю всего, что в моих силах. </p>
<p>За этим советом я и обращаюсь к Вам. 25.1.1987.</p>
<table width="600"> <tr> <td>
<a href="C1b.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="cxe.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
