{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Том 3. Дети и шабашки. 1968-1977 гг.</title>
{% block content %}



<h2><i><b>Виктор и Лидия СОКИРКО</b></i></h2>
<h1>Том 3. Дети и шабашки. 1968-1977 гг.</h1>
<ul><li><ul><li><a href="intro.html">Предисловие </a>
<li><a href="position.html">Расположение документов </a></li>
</li></ul>
<li>Раздел I. Диафильмы о старших детях
 <ul>
<li><a href="../Part1/artemka/index.html">Диафильм «Артемка». 1968</a>
<li><a href="../Part1/Galja/index.html">Диафильм «Наша Галя». 1977 </a></li>
</li></ul>
<li><a href="../Part5/Chabarowsk-74/index.html">Раздел II. Хабаровская шабашка в письмах. 1974 г.</a>
<ul>
<li><a href="khabarovskD.html"> Обсуждение хабаровской шабашки </a></li>
</ul>
<li><a href="liter.html">Раздел III. Письма в «Литературную газету»</a>
<ul>
<li><a href="yura.html">Письмо по поводу статьи В. Кокашинского «Букет для Юры» </a>
<li><a href="rodovu.html"> Публицисту ЛГ Радову (неотправленное письмо Лили)</a>
<li><a href="kuchinoy.html">Письмо В. Кучиной - автору статьи «Еще раз о моей 
 	гордости и моей обиде»</a></li>
</li></li></ul>
<li><a href="pechora75.html">Раздел IV. Опыт печорской шабашки 1975 г. </a>
<ul>
<li><a href="../Part1/Pechora-Onega/index.html"> Диафильм «Печора - Онега»</a></li>
</ul>
<li><a href="pechora76.html">Раздел V. Вторая печорская шабашка.1976 г. </a>
<ul>
<li><a href="../Part1/Anja-Alesha-i-my/index.html"> Диафильм «Аня, Алеша и мы». 1977 г.</a> </li>
</ul>
<li><a href="caspii.html">Раздел VI. Каспийская шабашка.1979 г.</a>
<ul>
<li><a href="../Part1/Mangischlak/index.html">Диафильм «Мангышлак - 79»</a></li>
</ul>
<li>Приложение: <a href="../family/mama.html">В. Сокирко «ПАМЯТЬ О МАМЕ». 1975 г. </a>
</li></li></li></li></li></li></li></li></ul>
<br/>

{% endblock content %}
