{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. «Дети и шабашки» 1968-1977 гг</title>
{% block content %}



<h2><i><b>В. и Л. СОКИРКО</b></i></h2>
<h2>Том 3. Дети и шабашки. 1968-1977 гг.</h2>
<h1>Расположение документов</h1>
<p>Почему мы связали в этой части такие две разные темы - про детей и про шабашки? - Потому что они связаны тривиальной житейской причиной: детям нужны еда и дом, а для этого нужен производительный труд и деньги.</p>
<p>Конечно, это только самая главная и потому примитивнейшая связь. Появление и рост детей, этого главного источника радости в нашей жизни, неразрывно связаны и с остальным нашим миром; так же как и свободный труд в шабашных бригадах оказался неожиданно связанным с диссидентскими «горами». Возможно, эти связи трудно уловимы, их трудно выявить расположением материалов, но они есть.</p>
<p>Как и раньше, порядок расположения диафильмов и дневников-писем - почти хронологический. Правда, сроки записи диафильмов про наших старших детей разделены 9-тью годами, но по сравнению с датами их рождения - 1963 и 1968 - этот факт  лишь неважная подробность.</p>
<p>И все же самой главной темой здесь являются шабашные работы, как мне кажется, одно из самых интересных явлений современной жизни нашего общества. В условиях рутины и бесхозяйственности шабашные бригады возрождают традиции трудолюбия, предприимчивости, деловых навыков, мастерства, но вместе с тем вызывают множество побочных и совсем не розовых явлений. Письма из Хабаровска в Москву подробно описывают опыт и атмосферу моей первой «шабашки».</p>
<p>Но как в экономике производство продукта неразрывно связано с вызвавшей его потребностью, так и шабашные работы обычно тесно связаны со своей обратной стороной - потребностью семьи в деньгах и  связанными с этим затруднениями. Из-за нежелания раскрывать все внутрисемейные явления, мы привели  письма из Москвы в Хабаровск в урезанном виде.</p>
<p>Сценарий диафильма по Дальнему Востоку мы приводим лишь в отрывках, вперемежку между хабаровскими письмами, как фон и воспоминания с собственно туристском прошлом (ведь летний отпуск практически неделим, а шабашные работы за деньги делают невозможным бескорыстные туристские путешествия).</p>
<p>Возникшие в хабаровской бригаде финансовые и этические проблемы обсуждаются как в послесловии к письмам, так и в отзыве на них одного из первых читателей. Два моих письма в «Литературную газету» толкуют про то же самое: семью и деньги, но на более общем, почти официальном уровне.</p>
<p>Воспоминания о следующем шабашном сезоне - на Печоре 1975 года - даны без деталей, без конкретного описания, только в сравнениях и выводах из двухсезонного   опыта. Диафильм «Печора-Онега» возвращает нас к теме туризма и его соотношения с шабашными работами и этим как бы ставит последнюю точку.</p>
<p>Однако жизнь в этом месте вместо точки поставила запятую. На следующий, 1976 год, мне посчастливилось получить столь длинный летний отпуск, что его хватило не только на туризм, но и на очередную шабашку. Так появилась печорская переписка 1976 года.</p>
<p>Точка в шабашках была поставлена лишь в 1977 году (окончательно ли?), когда мы впервые путешествовали по Украине со всеми детьми. Диафильм о младших детях как бы осмысляет всю детскую тему и как бы завершает ее для нас лично.</p>
<p>Фактически продолжением и углублением детской семейной темы являются стоящие особняком (и потому расположенные в приложении) мои воспоминания о маме.</p>
<p>Примечание: Летом 79 г. Витя вновь поехал на шабашку. Причина та, что стройка - на берегу моря! Работать и купаться, работать и видеть в море своих детей, заработать за отпускной месяц и пойти походом по Кавказу в месяц отгулов. И потому сейчас, после его ареста, я решаю дополнить эту часть дневником и диафильмом 79 года.</p>
<br/>

{% endblock content %}
