{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Вологодчина</title>
{% block content %}



<br/><br/>
<p><b>Пояснение. </b>"Вологодчина" ("По Сухоне") последний из наших северных диафильмов 1967 года (хотя и первый по своему маршруту) - назван так по именам рек, по которым мы плыли пароходом на Северо-Восток, великим старинным путем русских землепроходцев и торговцев. В этом диафильме много слайдов церквей, но по духу это - не церковный фильм. Он, скорее, о самой северной земле, о Вологодчине и, конечно, о самой Вологде, этой северной столице, едва ли не Петербурга Ивана Грозного. Этот город нас поразил тогда своей свежестью и провинциализмом.</p>
<p>Через восемь лет мы вернулись в Вологду и поразились, как сильно изменился этот деревянный город-село - дорожек по траве уже не видно, вместо деревянных домов много больше стало бетонных коробок, но, правда, бабы еще ходят полоскать белье на Вологду. Снова нас не пустили в Прилуцкий монастырь: как обосновался там с войны военно-медицинский склад, так и не пускает диких туристов, держит оборону... Так что учреждения и люди за прошедшие годы почти не изменились, а вот прежнего города - считай, уже не осталось. Разве только на наших слайдах-памяти. И мы поняли, что надо спешить...</p>
<p>И не так ли будет со всей Вологодчиной и со всей "светлой и украсно-украшенной землею Русской"? Ведь сегодня рушат перестройками не меньше, а, наверное, даже больше, чем в годы революционной разрухи. Конечно, я понимаю, что новое строительство неизбежно и теснит старое. Но если бы оно вырастало в должной мере гармонично из самого города, из его традиций, если бы его производили сами жители, корнями связанные с родной почвой, - не было бы такого убийства. Но строят варяги, какие-то единые стройцентры, по единым шаблонным проектам.</p>
<p>Главное впечатление от встреченных нами на том пути церквей - их особый северный стиль, созданный, видимо, в XVII-XVIII-ом веке. Московское барокко северные мастера сделали более простым, тонким и суровым. Как будто московская роскошь ручной работы была здесь заменена отточенным изыском приемов мануфактурного поточного труда. Как будто в изменении архитектурных профилей и стилей можно увидеть преддверие русского капитализма: первоначальный аскетизм и трезвость.</p>
<p>Во всяком случае, Сухона была первой водной дорогой московского государства и на развитый Запад - через Архангельск, и на колонизируемый Восток - в Сибирь через Урал и Мангазею. Оба пути вели Россию к хозяйственному развитию, хоть и разными способами.</p>
<p>Сибирь могла осваиваться лишь свободными, предприимчивыми людьми: казаками, купцами, сектантами, она вызывала в них потребность, но сама не могла дать ни новой техники, ни новой технологии. Метрополии она могла дать только естественные богатства, которые сами по себе могли быть использованы и во благо, и во вред. России они пошли скорее во вред, ибо помогали богатеть и укрепляться застойному деспотизму...</p>
<p> Путь на Запад тоже мог привести к развитию при творческом усвоении европейских плодов просвещения. Однако ввоз их готовыми и годными к употреблению опять же мог идти на пользу и укрепление деспотизма. Это сочетание: огромные земли и богатства на Востоке, готовая развитая техника освоения на Западе и деспотичная власть самой России и обусловила ее самодержавный путь развития, сделали его чуть ли не географической неизбежностью.</p>
<p>Грозному не удалось переместить столицу в Вологду или в Архангельск. Петр это намерение выполнил более кардинально. Забыт был северный путь на Запад и северный путь казачьего освоения Сибири - захирел Великий Устюг, этот северный предшественник Петербурга (кстати, его в XVIII-ом веке перепланировал петербургский архитектор - потому-то в нем и чувствуется столичный дух) - укрепилась абсолютная власть Москвы и Петербурга.</p>
<p>И только много позже, когда Россия стала европейской державой, а догнать Европу так и не смогла ("как ни догоняй кнутом, а на подражательстве и исполнительстве все равно не перегонишь") - стало ясно, что первый путь - путь самостоятельного свободного развития, хоть и не так быстр, но более основателен, более верен...</p>
<p>1. <u>"По Сухоне"</u> </p> <p>2-6.</p>
<p>7. Дорога на Кириллов выматывает любого, но она же дает и первые впечатления о Вологодском крае.</p>
<p>8. А какая это земля вблизи, вам расскажут попутчики - местные колхозники. Они вам порасскажут об этой минеральной смеси из камней, сучьев и подзола.</p>
<p>9. Вы услышите, что совсем недавно здесь пахали только на лошадях, потому что тракторы ломались на камнях. И что только после огромного труда расчистки на эти поля можно выпускать технику. А главное - вы услышите их бесконечные жалобы на обезлюдивание вологодской деревни.</p>
<p>10. Хватит говорить о дороге. Вспомним утро на Сиверском озере и нашу палатку напротив свершившегося чуда - Кирилло-Белозерского монастыря, ставшего из воды как во сне, не в сказке, а взаправду.</p>
<p>10а. Была заря. И  луг сверкал росою./И медлило теченье. <br/>
      И, пробуждаясь, было все вокруг /Исполнено особого значенья.</p>
<p>11. А помнишь Ферапонтов монастырь? И Бородавское озеро с мельницей на дальнем берегу?</p>
<p>12. До свидания, Кириллов! До свидания, белые башни, тяжелые храмы, живая история зданий!</p>
<p>13.	Она - не старье, старина: /Иконы, попоны, церквушки... <br/>
      Она - это тоже страна, /А родина - не игрушки!</p>
<p>14. Мы отплываем от тебя на восток, чтобы по Сухоне попасть дальше и проплыть всю Вологодчину: от Кириллова до далекого Устюга.</p>
<p>15. - "Здравствуй, земля Северная, мясо-молочная Вологодчина! Что-то ты нам покажешь за тыщу километров водных дорог?" Шлюзы Двинской системы? Церкви на зеленых берегах? И бесконечное Кубенское озеро?</p>
<p>16. Оно огромно, это Кубенское озеро. И кажется, что теплоход стоит неподвижно относительно неподвижных берегов. И много пройдет часов, прежде чем</p>
<p>17. уже за полночь приблизится Усть-Кубинка со своими буксирами и плотовозами.</p>
<p>18. Но мы не будем спать. Мы дождемся всплытия в темных водах славного Спаса на Камне. Когда-то, лет семьсот назад, плыл, как и мы, в Великий Устюг, белозерский князь Глеб Василькович. Но случилась буря, и только маленький каменный остров спас судно от верной гибели. С тех пор и стоит здесь монастырь, заложенный князем в благодарность за спасение, и ставший прообразом пушкинского острова Буяна.</p>
<p>19.	В море остров был крутой, /Не привальный, не жилой. <br/>
      Он лежал в пустой равнине, /Рос на нем дубок единый.</p>
<p>19а.А теперь стоит на нем /Новый город со дворцом. <br/>
                          С златоглавыми церквями, /Теремами и садами. <br/>
                          А сидит в нем князь Гвидон. /Он прислал тебе поклон.</p>
<p>20. А на утро: здравствуй, Вологда! Здравствуй, столица Северного края, прихотью Ивана Грозного едва-едва не ставшая столицей русского государства.</p>
<p>21. Да, здравствуй, Вологда, провинциальный центр одной из захудалых русских областей, где в самом центре города, перед Кремлем, бабы полощут белье, где асфальтовые улицы тонут в зеленых тропинках, новостройки - в массе деревянных домов, а электрические столбы - среди поленниц дров на зиму.</p>
<p>23-24. Здравствуй, город, где по улицам вместо собак водят медведей.</p>
<p>25. А на деревянных избах всюду вывески: "Дом коммунистического быта", вызывающие отчаянное любопытство у приезжих насчет деталей осуществленного коммунизма.</p>
<p>25. Вологда - удивительно мягкий и красивый город. Может, городской центр вам покажется обычным, с его сутолокой и движением машин. Но чуть подальше вы будете очарованы тишиной чистых дорожек, неторопливостью прохожих и ритмом деревянных домов с возносящимися над ними храмами.  Вологда может напомнить москвичам старую деревянную Москву, лежащую под тенью сорока сороков церквей.</p>
<p>28. Деревянные дома здесь - не обычные избы, а настоящие городские строения. Каждое из них - оригинально.</p>
<p>29. Вот этому двухэтажному особняку противостоит мрачная бревенчатая громада со средневековыми окнами.</p>
<p>30. Или изящная балюстрада соседнего дома, которой, кажется, больше место в Средней Азии, чем здесь, под бледным небом Севера.</p>
<p>31. Город весь утопает в зелени парков, прудов и чистого воздуха.</p>
<p>32. А какое удовольствие может доставить зареченская панорама! Ритм повторяющихся церквей и их отражение в водах Вологды.</p>
<p>33-34.</p>
<p>35. Милые вологодские церквушки! Милые своей обыкновенностью, черным цветом пяти глав,</p>
<p>36. даже обшарпанностью давно не штукатуреных стен. Когда-то вы цвели на солнце, искрились золотом</p>
<p>37. и яркими красками. Весело было смотреть на вас.</p>
<p>38. Сейчас же вы постарели, потускнели, навеваете грусть об ушедшем времени. Но самой заброшенностью своей, самим угасанием вы будите в людях чувство живой истории родины.</p>
<p>39-40.</p>
<p>41. В древнем центре города, на бывшей Ленивой площадке, стоит памятник 800-летию Вологды. Сколько ей лет на самом деле, никто не знает, ведь так уж повелось на Руси, что годом основания города считается тот год, когда появлялась в нем важная личность, что и отмечалось в летописи.  Так, в 1147 году князь Юрий Долгорукий пировал на Боровицком холме. И в том же 1147 году чудотворец Герасим пришел в Вологду.</p>
<p>42. С Ленивой площадки хорошо виден более поздний центр города - Кремль, обозначенный пятикупольем Софийского собора.</p>
<p>43.</p>
<p>44. Строить кремль и собор начал Иван Грозный. И до сих пор вологодцы верят, что царь Иван хотел сделать их город столицей Руси. Может, и правда.</p>
<p>44а. Огромен, больше Успенского в Москве, собор Софии. Да и имя при закладке он носил - Успения, и лишь при освящении был переименован.</p>
<p>45. Скоро он помолодевшим выйдет из строительных лесов, но и сейчас, стоя перед этой белой, немногословной громадой, мысленно сняв леса, можно наслаждаться его силой.</p>
<p>45a. И испытывать на себе его очистительное действие. Как и прославленные в легендах Новогородская и Киевская Софии, так и Вологодской Софии посвящена красивая легенда.</p>
<p>Что на славной реке Вологде! /Во Насоне было городе,<br/>
      Где доселе было -  /Грозный царь <br/>
      Основать хотел престольный град.</p>
<p>      46. 	Для свово ли для величества, /И для царского могущества. <br/>
      Укрепил стеною град каменный /Со высокими со башнями,<br/>
       C неприступными бойницами.</p>
<p>46а. Посреди града он церковь склал, /Церковь лепую, соборную, <br/>
      Что во имя Божьей Матери, /Ее честного успения. <br/>
      Образец он взял с московского /Со собору со Успенского...</p>
<p>46б. А как стали после свод сводить, /Туда царь сам не коснел ходить,<br/>
      Надзирал он над наемники, /Чтобы божий крепче клали храм, <br/>
      Не жалели б плинфы красныя  /И той извести горючия. <br/>
      Когда царь о том кручинился,/В храме новоем похаживал. <br/>
      Как из своду туповатова /Упадала плинфа красная, <br/>
      Попадала ему в голову, /Во головушку, во буйную, <br/>
      В мудру голову, во царскую.</p>
<p>       47. Тут наш Грозный царь прогневался, /Взволновалась во всех жилах кровь, <br/>
      Закипела молодецька грудь, /Ретиво сердце взъярилося,</p>
<p>48.Выходил из храма нового, / Он садился на добра коня,<br/>
      Уезжал он в каменну Москву, /Насон-город проклинаючи...</p>
<p>48а. Уехал Грозный. Лишь после его смерти достроили собор, а Кремль - так и не завершили. Так и не стала Вологда столицей России, а все из-за плинфы...</p>
<p>49. Жемчужиной города является, конечно, Спасо-Прилуцкий монастырь. Основал обитель в 1371 году ученик и соратник Сергия Радонежского Дмитрий Прилуцкий. До чего же хорошо этот монастырь стоит! Он так неотделим от окружающего пейзажа, что трудно даже представить себе это место без него. Очертанием стен он вторит рельефу, как бы вырастая из земли-матери.</p>
<p>50. И лишь только мощные, мужественные и величавые башни, возвышаясь над округой, как бы противостоят природе, ее естественным формам, как порождение человеческих рук.</p>
<p>51. Когда смотришь на монастырские башни, вспоминается легенда "о белоризцах".</p>
<p>В 1450 году князь Дмитрий Шемяка "воевал Вологду многою ратью".</p>
<p>52. Вдруг в городе появились двое в белых одеждах. Таинственные незнакомцы, прошествовав через город, вышли за ворота и побили множество врагов. Ушел Шемяка. Кинулись вологодцы искать белоризцев, но нашли лишь два иссеченных тела.</p>
<p>53-54. С тех пор каждый год, в определенный день чествуют горожане своих спасителей.</p>
<p>55. А не слишком ли долго мы говорим о Вологде? Пора вниз по Сухоне! Эта река - главный стержень Вологодского края. Минуя древнюю Тотьму, у Великого Устюга она становится Северной Двиной.</p>
<p>56. Увидеть Сухону - это, прежде всего, увидеть большую сплавную реку.</p>
<p>57. По реке идет беспорядочный молевой сплав. Теплоход то и дело подминает бревна под себя, сотрясаясь от непрерывных ударов.</p>
<p>58. Тут можно увидеть нашу лесопромышленность в действии. Багры сортировщиц и тракторы-трелевочники. Плотовщиков 30-х годов и женский труд 60-х.</p>
<p>59. Конечно, такой тяжелый труд не для женщин! Но, как сказала одна из них: "Теперь у нас одноправие".</p>
<p>60. Но Сухона - это не только дорога, не только бревна. О Сухоне, с ее суровыми лесами и старинными деревнями на высоких берегах, поют песни и слагают стихи.</p>
<p>61. Она очень разная. Раздольная, светлая и чуть ленивая в своем верхнем течении</p>
<p>62. она становится быстрой, каменистой, и даже мрачноватой после Тотьмы, когда заливные вологодские луга сменяются густой архангельской тайгой.</p>
<p>63. А по берегам Сухоны как бы встает история. Вот на этом камне - обедал Петр Первый по пути в Архангельск. А еще раньше шли дружины мятежного князя Шемяки, и новгородские ушкуйники, и караваны землепроходцев.</p>
<p>64. И вся эта история подкрепляется видами печальных и заброшенных церквей... Да чего же в ней хорошего? Ведь это один из храмов в Тотьме, городе, который был с нами так холоден и неприветлив.</p>
<p>65. Даже необыкновенные своей токарной резьбой наличники окон не могли утешить нас в серой пелене сплошного дождя.</p>
<p>66. Ну, зачем же наговаривать на себя? Конечно, лил дождь, но ведь он не помешал нам увидеть Спасский монастырь</p>
<p>67. и порадоваться устремленным вверх пяти главам Богоявленского собора. Разве не ты удивлялся его обезглавленной колокольне, так напомнившей нам среднеазиатские башни? И вообще всему виду этой громады, как будто на пяти парусах стремящейся вперед сквозь взбаламученное море деревянных крыш?</p>
<p>68. Здесь мы столкнулись с тотьминским типом храмов, перепевами московского барокко на суровый северный лад: вычурные крыши, тонкие барабаны с маленькими главками. Особый рисунок узора наличников.</p>
<p>69. Все это дало нам первое представление о северном зодчестве. Древняя Тотьма, происхождение которой теряется в истории, своими белыми храмами подготовила нас к восприятию Великого Устюга.</p>
<p>70. И снова в путь по Сухоне, навстречу нашей главной цели: единственному древнему городу, существующему в стране, сохранившему официальный титул "Великого".</p>
<p>71. Дмитрий Сухарев:<br/>
      Обняв бревно, по Сухоне плыву, /Река несет ухватисто и бодро. <br/>
И за спиной уже далече Вологда. /И белый Устюг брезжит сквозь листву.</p>
<p>72.	Плывут со мною выпасы, луга, /Леса серебряно-зеленой плесенью,<br/>
И вдох просторнее, и воздух песенней, /И воля, словно в детстве, дорога.</p>
<p>73.	По Сухоне пленительной плыву /И охаю, округой околдованный. <br/>
      И, ласковыми волнами окованный, /Я окунаюсь в милую молву:<br/>
      "Ступай-ка диковинкою тропою, /Дорогу-то размыла водополица. <br/>
      Да скинь обувку, мурава не колется, /Не бойся, дитятко, иди за мной".</p>
<p>74.	Облитый синевою золотой, /Плыву с сосною срубленной об руку, <br/>
      И церковь, вырезанная из облаков,/ Кивает мне с обрыва головой: <br/>
      "Был этот град и гулок и велик, / А ныне только имя града помнится, <br/>
      Дороги поразмыла водополица, /Лишь диковинку уберег язык".</p>
<p>  75.С бревном в обнимку к бревнам-топлякам /На дно реки нахмурившейся кану,<br/>
Иль над обрывом зелено восстану, /Как мачтовая конда - тверд и прям? <br/>
      Не знаю. Но покуда я живу, /Покуда в глуби черные не рухнул, <br/>
      Я слушаю заботливую Сухону, /Закрыв глаза, по Сухоне плыву.</p>
<p>76. "За темными дремучими лесами на величавом просторе красавицы Сухоны стоит город храмов - Устюг Великий. Бесконечно длинной красочной каймой тянутся вдоль набережной Устюга его храмы. Издали они сливаются в одну прихотливо узорчатую ленту, закрывающую собой остальные строения. И от этого невольно кажется, что это какой-то особый, таинственный, сказочный, священный город".</p>
<p>78. Эти давно забытые слова сказаны в 1919 году. Неудобные дороги еще долго не позволят Устюгу стать туристским центром, как, например, Суздалю, хотя он  очень интересен.</p>
<p>79. Как и в Суздале, современность обошла Устюг и оставила нетронутым. Великий Устюг полностью сохранил устроенность торгово-промышленного города XVII-го века. Торговые ряды, двухэтажные дома-лавки, однотипные церкви.</p>
<p>80. Белые устюжские храмы! Город к ним хорошо относится, бережет. Но сил у него на реставрацию не хватает, только на побелку.</p>
<p>81. Конечно, город очень симпатичен. Неяркой краской домов, чистыми дорожками. И хоть тут много деревянных домов, а также немощеных улиц, это - не деревня.</p>
<p>82. Помнишь, как, попав сюда из Тотьмы, мы наслаждались воздухом северной столицы?</p>
<p>83. Мы любовались видом старинных особняков, каменных купеческих усадеб и нарядных домов.</p>
<p>84. А на главных улицах с их частыми автобусами и толпой людей в вечерние часы мы вообще забыли о захолустье. И у меня зародилось сравнение: "Это маленький северный Ленинград, только он сохранил свой облик с тех времен неприкосновенным".</p>
<p>85-90.</p>
<p>91. В Великом Устюге не запоминаются отдельные храмы, потому что они очень схожи друг с другом, ибо выстроены, в основном, в один и тот же XVII-ый век, когда город пережил бурный расцвет, после которого замер.</p>
<p>92. Город известен с XII-го века, но стоял он раньше в четырех километрах от нынешнего Устюга, на горе Гледень, при слиянии вод Сухоны и Юга. Сейчас здесь только старейший Гледенский монастырь, а раньше стоял торговый город.</p>
<p>93. Гербом этого города был старец, сливающий из кувшинов воды Сухоны и Юга - в Двину.</p>
<p>94. Этими реками шли в Устюг с трех сторон караваны купцов и землепроходцев. По Двине поднимались немецкие купцы, по Вычегде возвращались охотники за "рыбьим зубом", а по Югу шли русские люди на завоевание и покорение Сибири.</p>
<p>95. А по Сухоне Устюг держал связь со всей Россией. Эта река позволила ему стать главным внешним портом и перекрестком России. Но эта же река бывала и жестокой мачехой для города. Почти каждую весну в бурный разлив Сухона ломала берега. Она сносила причалы и целые улицы. И потому устюжане вынуждены были уйти с Гледень-горы вверх по Сухоне.</p>
<p>96. Михайло-Архангельский монастырь на новом месте встал позже Гледенского, переняв его роль центра города.</p>
<p>97-98. Монастырская надвратная церковь особенно впечатляет грандиозностью своих проездных арок.</p>
<p>99. Но особенно красив центральный комплекс храмов, что выходит на набережную Сухоны. Можно влюбиться в этого северного собрата Ивана Великого и перенести эту приязнь на весь Устюг.</p>
<p>100. Прокофьевский собор, до недавнего времени - единственный действующий собор города. Прокофий - главный устюжский святой. Сейчас же здесь устроен музей-планетарий.</p>
<p>101.Но упорные старушки продолжают ходить туда,  по билетам,  за пятак, молятся на иконы и фрески, входя в грех споров с гуляющими здесь же атеистами. И почему-то атеисты смущаются, как будто стесняются своей победы, как будто кто-то поселил их против воли в дом, из которого еще не ушли старые хозяева.</p>
<p>102. Вера еще не умерла, не умерли люди, для которых этот храм составлял основу жизни.</p>
<p>102а. Лучший храм Устюга - Вознесенская церковь, знаменитая своим пышным декором и живописным беспорядком композиции. Построена она в 1648 году, т.е.</p>
<p>103. опять в тот самый век, что и большая часть города.</p>
<p>104. Но почему только в XVII-ый век? Однако вспомним, что в это время была открыта и завоевана огромная часть света - Сибирь.</p>
<p>105. Завоевание Сибири - вот что породило Великий Устюг, дало ему богатство на постройку храмов и домов, позволило вырастить отважных землепроходцев и снарядить их в далекие экспедиции.</p>
<p>106. Устюжанин Хабаров открыл Приамурье, Атласов - Камчатку, а Семен Дежнев впервые проплыл между суровыми берегами Чукотки и Аляски.</p>
<p>107. По голубым дорогам родных рек они уходили далеко на Восток в погоне за даровыми богатствами - драгоценным мехом сибирских зверей и моржовым клыком северных морей. Они основывали остроги и городки, составляли карты и присоединяли новые земли, собирали для царя ясак, корчевали землю под пашни и устраивали "заводы". А силы для этого давал Великий Устюг. Он вырос на сибирские деньги, и его храмы - это фактически памятники, оставленные после себя русскими землепроходцами, открывателями и смельчаками.</p>
<p>107а. Но как только Россия нашла другой, более удобный путь в Сибирь через Средний и Южный Урал, а на Запад - через Петербург, значение Устюга резко падает. И он как бы засыпает. Но свою роль он выполнил. Сибирь была завоевана его сынами.</p>
<p>108. История приписала все заслуги открытия Сибири государевым служилым людям. Официальная история забудет, что экспедиция вокруг Чукотки была организована и возглавлена устюжским приказчиком Алексеем Поповым, но сборщика царского ясака - Семена Дежнева - она не забывает.</p>
<p>109. Да что там говорить,  даже самый первый поход на Урал отряда Ермака был снаряжен купцами Строгановыми, имевшими свою резиденцию в Сольвычегодске.</p>
<p>100. Этот город стоит на реке Вычегде, в ста километрах от Великого Устюга, и сюда легко добраться пароходом.</p>
<p>111. К сожалению, наша сольвычегодская пленка не удалась, и об истинном облике города мы можем лишь вспоминать, а вам остается догадываться.</p>
<p>112. Сольвычегодск - небольшой городок, он даже не районный центр. Когда-то он звался Звенигородом, наверное, от первопоселенцев с украинского Юга. Но потом, когда поблизости началась добыча соли, он стал называться Солью Вычегодской. До сих пор из этой деревянной башни вытекает соляная река, составляющая славу нынешнего города-курорта.</p>
<p>113. Сольвычегодск сегодня - тихий и сонный городок с водами и грязями, с тополями и прогулочными дорожками.</p>
<p>114. Но когда-то это была резиденция купцов Строгановых, властно наложивших свою лапу на земли Пред- и Зауралья. Сами Строгановы вышли из народа, но вышли так цепко и напористо, что очень скоро от их демократической предприимчивости не осталось и следа. Не стало купцов Строгановых, но остались лишь изнеженные графы Строгановы. Сгорели в Усолье огромные деревянные хоромы Строгановых, остались лишь три каменных храма.</p>
<p>115. Из  храмов вот этот - Спас-обыденный, не очень интересен, зато два других удивительны в этой глуши и заслуживают того, чтобы ради них приезжали издалека.</p>
<p>116. Благовещенский собор, построенный в годы расцвета, в годы экспедиций Ермака, был фамильным храмом Строгановых. До сих пор стоит их склеп во дворе собора. Величественный и одновременно простой снаружи,</p>
<p>117. внутри он как бы берет реванш - настолько красочно и богато украшен он и расписан.</p>
<p>118. Места пустого не осталось.</p>
<p>119. Сам собор стоит на высоком берегу Вычегды и хранит в себе не только фрески Арефьева и Савина, не только золото икон и роскошь строгановских вышивок, но и страшную память о каменных мешках-тюрьмах, о тяжелой руке колонизаторов Сибири, о жестокости, которой сопровождается любое начинание, любое строительство в истории. Собор стоит на костях погибших, и отражает не только синь Вычегды, сколько траур по тем погибшим давно людям. Как будто он говорит: а вы хотели бы, чтобы красивое было без крови?...</p>
<p>120. Другой строгановский собор - собор бывшего Воскресенского монастыря.</p>
<p>121-122. Буйство резных деталей вместе с многоцветьем изразцов - как вакхическая песня богатству и роскоши.</p>
<p>123-124. В этом соборе мы были на воскресной службе. Прихожан немного осталось в маленьком городе, но почему-то эта маленькая группка людей, собравшихся в небольшом боковом приделе огромного храма, вызвала у нас чувство грусти по уходящему в прошлое времени, погружающемуся в темноту вымирания.</p>
<p>125. Мы покидали Сольвычегодск, покидали Вологодчину, нашу северную родину. Прежде мы ее совершенно не знали, а теперь вот увидели из края в край, от Кириллова до Сольвычегодска.</p>
<p>126. И стали нам понятны слова старой летописи: "О светло-светлая, украсно-украшенная Земля Русская. И многими красотами удивлена еси, озерами многими удивлена еси, реками, кладезями,</p>
<p>127. горами крутыми, холмами высокими, дубравами чистыми, польми дивными, города великими, селы дивными...".</p>
<p>128. Конечно, окно теплохода - это очень мало, неделя пути - очень быстро. Но дай нам время, и мы вернемся к тебе,</p>
<p>129.земля Северная.</p>
<br/>

{% endblock content %}
