<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Виктор Сокирко и Лидия Ткаченко. Украина</title>
<link href="/modules/m.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>

    <script type="text/javascript" src="/modules/utilities.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            show_film_table_by_url_path(window.location.pathname)
        });
    </script>
    <br/><br/>

<p>1. Далеко-далеко на западе Киевской Руси, посреди украинских пологих полей, над пересохшей речкой Полтвой стоит невысокая песчаная Замковая гора, а под ней</p> <p>2. раскинулся старинный город Львов, основанный здесь русским князем и королем Данилой Романовичем в честь сына Льва.</p>
<p>3-5.</p>
<p>6. Многолюдно на смотровой площадке Высокого замка. Есть куда и на что посмотреть. Шутки, смех, вопросы. Раскрытые глаза малышей. И вдруг в уши проникает тонкий голосок: "Мама, мама, а откуда наши шли? Откуда они начали поляков выгонять?" Поляков?... Никто не поправляет мальчишку,</p>
<p>7. а у меня неприятно сжимается сердце.А ведь и, правда, выгоняли, выгнали - репатриировали подавляющее большинство поляков-львовян, в том числе и Станислава Лема. Живет он сейчас в горах Закопане и пишет воспоминания.</p>
<p>8. "Тем, чем для христианина являлся рай, для нас, гимназистов, был Высокий замок. Туда ходили, когда из-за отсутствия учителя пропадал урок - одна из самых приятных неожиданностей, которыми изредка баловала нас судьба. В Высокий замок мы отправлялись открыто, шумно, в сладостном ореоле легального бездельничанья, упиваясь избытком неожиданно свалившейся на нас свободы.</p>
<p>9. Обычно мы шли вверх по Театынской улице, а в нескольких десятков шагов за домами,... там, где кончаются трамвайные рельсы, склон холма улетал вниз, </p>
<p>10. открывая вид на огромную панораму Львова. Далеко внизу чернеет переплетение путей железнодорожной станции Подзамче с маленькими паровозиками, а еще дальше - до самого зеленого горизонта голубоватой дымкой дышало воздушное пространство.</p>
<p>11. За 8 гимназических лет я бывал в замке несчетное количество раз, но, кроме теней огромных каштанов, да низких живых изгородей, за которыми голубела панорама города, не помню ничего, потому что это собственно было даже не место,</p>
<p>12. а какое-то идеальное состояние, сравнимое разве что с первым днем каникул. Только Высокий замок открывался нам всего на 1 час, поэтому каждой минутой надлежало насытиться, испить ее до конца, заполнить откровенным бездельем,</p>
<p>13. мы утопаем в нем, позволяя ему нести себя словно темной реке под облачным небом. Это была скорее нирвана - никаких искуплений, желаний - блаженство, существующее само по себе".</p>
<p>14. Мы в историческом музее. Через окно еще раз любуемся центральной площадью старого Львова. Редко у какого из средневековых европейских городов так хорошо сохранилась площадь старого рынка с Ратушей в центре. Если пройти по площади, а потом дальше, по Русской улице мимо колокольни Успенской церкви, то можно увидеть</p>
<p>15. остатки крепостных сооружений Львова,</p>
<p>16. огромную Пороховую башню. В 1340 г. Львов был занят королем Казимиром. Став польско-немецким городом, он был заново выстроен уже в камне. Русские князья никогда не строили рынков в центре и не защищали их толстыми стенами. Под защитой же этих башен торговый и ремесленный Львов мог надежно процветать, не опасаясь ни татарских набегов, ни турков, ни Богдана Хмельницкого.</p>
<p>17. Сейчас старая башня лишь оболочка клуба архитекторов, вход в который охраняет пара разнежившихся старых львов.</p>
<p>18. Львов в те первые времена был еще более многонациональным городом, еще большим Вавилоном, чем сейчас: поляки, немцы, украинцы, турки, румыны и прочая и прочая.</p>
<p>19. Здесь сходились пути деловых и торговых путей. Здесь им было вольно жить и творить добро и богатство. Здесь не было дискриминации по крови или вере. И, наверно, только острота купеческого ума, ловкость искусных рук или художественный талант выводили человека в первые ряды граждан города. Поэтому Львов и стал таким.</p>
<p>20. Здесь охотно селились и работали гонимые из других стран. На кадре - купол еврейской больницы - одного из самых красивых зданий города.</p>
<p>21. Конечно, - это лишь малый пример таланта и труда многочисленных львовских евреев (четверти жителей города).</p>
<p>22. Нашли приют во Львове и восточные братья евреев - армяне. В то время, как их родина горела в мусульманских погромах и резне, здесь, во Львове, как и в других европейских городах, закладывалась основа западного</p>
<p>23. католического армянства. Армяно-католический кафедральный собор расположен в тишине деревьев неподалеку от старого рынка.</p>
<p>24. Как удивительно было нам встретить знакомые конусы куполов, точно тесанные серые камни, полукруглые окна, резьбу - армянское древнее зодчество - здесь, на далеком-далеком от Кавказа западе.</p>
<p>25. Как здорово было прикоснуться вновь к аркам галереи - типичной армянской академии. Как радостно было сознание неистребимости великой культуры небольшого, но трудолюбивого и торгового народа.</p>
<p>26. Терпим был Львов, многим давал приют и защиту - для многих оказался сперва приемной, а потом и настоящей родиной! Но, несомненно, всегда, вплоть до недавнего времени, основу город имел католическую, польскую, был частью Речи Посполитой. Чтобы в этом убедиться, достаточно поднять глаза.</p>
<p>27. Доминиканский костел - великолепная громада, величие которого пытаются принизить, поместив здесь музей атеизма. Но наш добровольный гид привел нас именно к нему, как к своему любимому и, требовательно ища в наших глазах восхищение, заставил прочесть надпись. Затем, удовлетворенный, отправился по своим делам.</p>
<p>28-29. Мы видели такие соборы в итальянских книжках. И не чаяли увидеть наяву.</p>
<p>30.Какую же радость глазу доставляют  эти непростые украшения</p>
<p>31 и ритм скульптурных форм после православных храмов, начисто лишенных скульптур.</p>
<p>32. Изящная светская женщина с мукой страдания на лице - Мария,</p>
<p>33. у костра святого Антония.</p>
<p>34. Костел иезуитов, кажется, нарочито сдержан, ибо принадлежит ордену, который в XVII веке возложил на себя нелегкие функции воспитания детей.</p>
<p>35. Мы вспоминаем, вернее, пытаемся мобилизовать в памяти свои скудные сведения о качестве и чертах католического воспитания. И, конечно же, вспоминаем детство маленького Стасика Лема, гулявшего когда-то в этих местах с папой.</p>
<p>36. "Жили мы на Браеровской улице, а на прогулку обычно ходили в </p>
<p>37. Иезуитский сад.</p>
<p>38. Иезуитский сад был не очень велик, но все равно однажды я в нем заблудился. Однако, это случилось так давно, и я был такой маленький, что, собственно, это даже не воспоминание, мне просто об этом рассказывали  В кустах, кажется, орешника, стояла огромная бочка с водой, спустя, вероятно, лет 30, я перенес ее в рассказ "Сад тьмы".</p>
<p>39. А потом я до умопомрачения влюбился в девчонку, которая была старше меня года на четыре. И на нее я глядел издали в Иезуитском саду, почти не двигаясь, словно загипнотизированный.</p>
<p>40. Она обо мне, пожалуй, и не подозревала, я не обмолвился с ней ни словом. И, однако, линия ее профиля, подбородка, губ врезалась мне в память настолько основательно, что их след остался и по сей день.</p>
<p>41. Правду говоря, Иезуитский сад не был таким уж привлекательным. Другое дело Стрийский парк. Там было озеро в виде восьмерки,</p>
<p>42. а по правой стороне шла аллейка, ведущая на край света. Может потому, что мы никогда туда не ходили, может, мне кто-нибудь так сказал. Но пожалуй, я все-таки выдумал это сам и даже довольно долго был склонен в это верить...</p>
<p>43. Летним днем мы прогуливались с отцом по Маршалковской перед университетом Яна Казимира, где, задрав голову, я мог рассматривать огромные полунагие каменные фигуры в странных позах и каменных шляпах. Постоянное задирание головы было мучительным, поэтому в основном я рассматривал шествующего рядом отца, примерно на уровне колена - немного выше.</p>
<p>44. Домой из сада возвращались или напрямик, или через площадь Смолки, посреди которой возвышалась его каменная персона, потом надо было идти по неинтересной улице Подлевского, а потом</p>
<p>45. по маленьким улочкам Шопена и Монюшко, где сильный запах кофе свидетельствовал о том, что вот-вот покажется наш дом".</p>
<p>46. Главой многочисленных храмов города всегда была Катедра. А сейчас - это единственный действующий католический храм, последний оплот поляков-католиков, их духовное прибежище и крепость.</p>
<p>47. Огромное готическое здание с высокой колокольней</p>
<p>48. барочного завершения доминирует над старым рынком.</p>
<p>49. По готическому обычаю стены самой катедры сурово чисты, зато часовня - </p>
<p>50. у этих стен прямо усыпана резьбой из черно-серого камня, недаром ведь строилась она на пожертвования</p>
<p>51. богатых граждан города.</p>
<p>52-53.</p>
<p>54. Барельефы Катедры для всех давно уже стали лишь историей искусства.</p>
<p>55. Но для прихожан-католиков эти изображения еще живы, полны внутреннего света, одухотворены. И почему-то для нас, глазеющих на эту старушку в качестве бесплатного приложения к памятнику, стало очень важно и очень нужно, чтобы старушка жила и дальше, чтобы эти камни оставались бессмертными.</p>
<p>56. Высочайшей художественной ценностью Катедры является часовня Боимов. Мы убеждены, что когда-нибудь эту безобразную новейшую пристройку, прилипшую к ее стенам, как медуза, обязательно снесут. Ведь надо же - просто уничтожить уже власти не хватило, а вот так унизить и обезобразить - рука поднялась.</p>
<p>57. Невольно кощунствуешь, углубляясь в подобные мысли, кажется, что даже боимский Христос об этом и печалится, и хочется невольно его утешить: ничего, все еще образуется.</p>
<p>58. Звучат гидовские голоса на польском, русском, украинском языках: Боимы... Боимы... Боимы...</p>
<p>59. 500 лет прошло. Давно умерли купцы Боимы. А мир вместе с гидами твердит Боимы, Боимы, Боимы, Боимы.</p>
<p>60. Очень долго мы кружили и вновь возвращались на Старый Рынок. Каждый из домов этого тесного квадрата - история и искусство,</p>
<p>61. каждый из них полон какого-то средневекового очарования южно-итальянской красоты. Каждый достоин бесконечных рассказов и показов.</p>
<p>62. Дом № 3. Утонченные галантные барочные атланты, красивая форма окон, легкий нарядный балкон. </p>
<p>63. Дом № 4 - черная каменица в ренессансном стиле. Очень интересно рассматривать барельефы: это богоматерь, Георгий и хозяйка дома. Они подтверждают подлинную старинность дома.</p>
<p>64. Дом № 6. Целый дворец, увенчанный широким аттиком со скульптурами усатых рыцарей и дельфинов. Все это так необычно для нас, что глаза все время норовят взглянуть вверх и не устают удивляться.</p>
<p>65. Еще один дом в этом ряду, и мы попадаем в филиал исторического музея Львова,</p>
<p>66. в котором самое интересное, наверное, заключено в этом светлом внутреннем дворе - детище итальянского юга. В путеводителях он так и значится "Итальянский дворик".</p>
<p>67. Вообще, каждая даже небольшая деталь в оформлении домов этой площади и прилегающих к ней улиц - удивительная по выразительности.</p>
<p>68-69. Особенно мы любили замечать Львовских львов, которых там великое множество, самых разных и интересных.</p>
<p>70. От Венецианских львов святого Марка до</p>
<p>71. официальных львов Ратуши.</p>
<p>72. Площадь Рынка в городе не единственная. Она лишь самая старая, и потому интересная для туристов.</p>
<p>73. Однако, другие кварталы и площади польского Парижа тоже полны своей истории и своих воспоминаний, тоже для кого-то бесценны.</p>
<p>74. "...Улицы, площади, костелы мне знакомы, близки, я чувствовал их как бы своими, но это ощущение можно, пожалуй, сравнить с ощущением домовой мыши, для которой закоулки и щели квартиры более близки и "свойски", нежели для законных владельцев жилища.</p>
<p>75. Из дома до гимназии я, пожалуй, мог бы пройти с закрытыми глазами даже сегодня; эта дорога настолько мне запомнилась своими повторениями, что стала чем-то вроде мелодии. И опять-таки невольно напрашивается сравнение с мышью, которая, отлично ориентируясь в окружении, наверняка, не способна к его эстетической оценке -</p>
<p>76. так же, как не был способен я, будучи львовским гимназистом. Несомненно, я проходил мимо памятников архитектуры армянского собора, старых домов Рынка со знаменитой черной каменицей во главе, но я ничего не могу о них сказать.</p>
<p>77. Дальше дорога пересекала Рынок. Шла мимо огромного сундука магистрата с башней Ратуши, мимо каменных львов,</p>
<p>78. присевших на корточки у ворот Ратуши,</p>
<p>79. мимо колодца с Нептуном, через узкую Русскую улицу</p>
<p>80. на Подвалье, где стоял трехэтажный дом гимназии, окруженный деревьями. Я поистине был мышь, а общество делало все, чтобы с помощью педагогики превратить меня в человека".</p>
<p>81. Вообще-то Львов в большей части своей исторической застройки - барочный город.</p>
<p>82. По-барочному изящен, пышен, вычурно выгнут, роскошен, изыскан, утончен, прекрасен - и всем обликом и скульптурой, и деталями отделки.</p>
<p>83. В этих бывших особняках и дворцах магнатов и вельмож сейчас располагаются музеи и институты.</p>
<p>84. Но, наверное. Самым красивым зданием прошлого века является Львовский Большой театр, который маленькому Лему казался "прямо-таки баснословно роскошным".</p>
<p>85-86. Столь же роскошным нам показалось убранство собора св. Юра, или Георгия по-русски -</p>
<p>87. главный Униатский раньше, а ныне православный собор Львова, бывший кафедрал Униатского митрополита, собор стоит на одной из неожиданных львовских горок, и ведет к нему лишь одна улица - как в крепости. Да это и была раньше духовная крепость - твердыня особой национальной веры западноукраинцев.</p>
<p>88. Их было немного во Львове - одна шестая часть города, но зато много в окрестных деревнях. Со времен Владимира Киевского они твердо держались византийского православия, и лишь оказавшись в едином государстве с поляками и австрийцами, пошли на унию с католиками  Так униатство стало особой национальной религией русинов, так они духовно соединили Восток и Запад.</p>
<p>89. Но сейчас этому объявлен конец. Западноукраинцы-русины официально провозглашены православными, униатство запрещено и преследуется. И большинство прихожан смирилось с этим, и считает, что ничего не изменилось.</p>
<p>90. Свадебная процессия спускается после венчания. Сейчас он пройдут через церковный двор, потом через улицу, войдут в ЗАГС и ... поедут "быть счастливыми". Для них, наверно тоже вопрос "униатство или православие" не стоит остро, лишь бы старые традиции были соблюдены, лишь бы родители были довольны, лишь бы вместе с ними были счастливы.</p>
<p>91. Ну, что особенного, если унию отменили, если древняя православная церковь св.Николая, долго бывшая униатской и водившая дружбу с католиками, ныне вновь стала московски православной, и эту дружбу теперь... отвергает? Для русинов-украинцев, может, немного. А для поляков-католиков?</p>
<p>92. Этот мрачноватый собор католического вида на Русской улице строился православным братством на деньги русских пожертвователей. На деле он строился как знамя украинцев-москвофилов, проповедовавших подчинение Российской империи.</p>
<p>93. Забавно видеть эту крепкую кладку черно-серых камней - приемы западного строительства, в стенах русского духовного форпоста. От форм православия здесь лишь трехглавие.</p>
<p>94. Польские города и украинские села враждовали и поддерживали врагов друг друга. И когда поляки боролись за независимость с Россией или Австрией, то украинские круги проявляли полную лояльность не только к русской, но и к австрийской императорской короне. Сама же корона боялась и поляков, и украинцев, и потому лишь умеренно поддерживал и тех, и других. После 17 года здесь взяли верх поляки, после 39 г, - украинцы и русские.</p>
<p>95. Торжествующая украинская деревня заполонила Львов своим говором, а сейчас и сама поселилась музеем деревянного зодчества.</p>
<p>96. В близком родстве эта украинская толстуха с тем</p>
<p>97. трехглавым собором на Русской улице. Видно только этих двух родственников и разрешено любить будущим архитекторам, деревня торжествует.</p>
<p>98. Закрыты польские костелы. Открыты православные церкви.</p>
<p>99. Их много, действующих и здравствующих. На удивленье много и больших, и малых.</p>
<p>100. Рассеиваются между ними прихожане и тоненькими струйками. И потому слабой, умирающей кажется в этих храмах вера, что угнетает заезжего туриста.</p>
<p>101. 20-40 годы - период модернистского Львова. Однако, он не теряет своего</p>
<p>102. польского лица,</p>
<p>103. свято сберегая рыцарский облик</p>
<p>104. и львиное сердце.</p>
<p>105. В этом Львове и прошло детство Станислава Лема. В его книгах полно картин того времени: шарманщик, человек-муха, неоновые рекламы. Роцлавская панорама победы Костюшко над русскими (сейчас ее тоже репатриировали в Польшу), чудеса парков, улиц, кондитерских.</p>
<p>106. "А что вообще связывало ребенка, ходящего всегда по одним и тем же улицам, с их тротуарами и стенами. Может быть, дело тут в красоте? Я ее не замечал, не думал, что город может быть другим, т.е. не закованным в каменную броню мостовых, не холмистым,</p>
<p>107. не подозревал, что перспективы улиц могли бы и не взлетать вверх, трамваи - не спускаться вниз иди взбираться в гору.</p>
<p>108. Я не замечал прелести костела Эльжбетты, восточной экзотики армянского кафедрального собора, а если я и поднимал голову, то только для того, чтобы посмотреть, как крутится на трубе жестяной петушок".</p>
<p>109. В конце 30-х годов гимназист Лем впервые проходит военную подготовку. Со львовского вокзала они уезжали в полевые лагеря, готовиться защищать Родину. Горечью веет с его страниц, посвященных бездарной муштре в довоенной Польше, горечью человека, потерявшего родной город.</p>
<p>110. "Это было после смерти Пилсудского, вечером. Мы долго маршировали и все время в положении "смирно", так что руки замлели от тяжелой винтовки, прижатой к самому поясу; мы шли центральными улицами через Марцианскую площадь, где неподалеку от памятника Мицкевичу, тогда в темноте не видного,</p>
<p>111. стоял одинокий небольшой постамент с каменным бюстом, перевязанным только черной лентой, освещенный откуда-то сверху прожекторами, а мы под траурный грохот барабанов шли, изо всех сил колотя по брусчатке ногами. Был 35 год".</p>
<p>112. Когда приезжий выходит на Привокзальную площадь, ему в глаза бросается типично немецкий костел, выстроенный в неоготическом стиле.</p>
<p>113. Но строили его не фашисты - виновники поражения Польши и страданий Львова. Его поставил последний наследник австрийского императора.</p>
<p>114. И, тем не менее, нам рассказали, что его собираются снести. Его необходимо снести, как не имеющего ценности. А может, наоборот, как имеющего отрицательную ценность памяти о власти Запада на них землях?</p>
<p>115-116.</p>
<p>117. Как? Снести эту красоту ради быстрейшего забывания истории,</p>
<p>118. ради стирания памяти, которая все равно крепко вписана в этот город, что стереть ее можно, лишь уничтожив весь старый Львов.</p>
<p>119. Снова, как в Калининграде, мы столкнулись с тупой и жестокой силой, не ведающей, что она творит.</p>
<p>120.  Несколько часов мы провели на Львовском кладбище. Бродили между новых памятников и старых, еще католических гробниц. Десятки поколений лежат здесь, зов для ныне живущих и их неизбывная боль и не забывающая память.</p>
<p>121. "Когда я был маленький, никто не умирал. Правда, я слышал о таких случаях, впрочем, как о падениях метеоритов. Каждый знает, что они падают, это случается, но какое это имеет к нам отношение?</p>
<p>122. Однажды в ночь между двумя дождливыми днями в Закопане мне снился отец. Не такой нечеткий, туманный, неопределенного возраста, каким я его могу представить наяву, а в конкретном времени, живой. Я видел его серые, еще неутомленные глаза, короткие усы, небольшую бородку. Постоянно натираемые щеткой руки врача...</p>
<p>123. Где-то там есть Старый парк, и отец, прогуливающийся по аллейке зеленых деревьев, засунувший руки в карманы,  и я, едва передвигающий ногами... стук копыт, неожиданно</p>
<p>124. приглохший на деревянной брусчатке Маршалковской перед Университетом Яна Казимира, протяжный, бьющий в окно класса плакучий скрежет трамвая, сворачивающего в своем трудном восхождении к Высокому замку...</p>
<p>125. А ведь какие лавины обрушились на этот мир, как могли не стереть его в порошок, не уничтожить его последние следы? Для кого же они существуют, от кого их так бережет память, недоброжелательная только ночью, только в беспамятстве сна, тревожащая нас недосказанными ответами? Для чего же она, память?</p>
<br>
			</br></body>
</html>