{% extends 'base.html' %}
<title>К.Буржуадемов: Активно думать, успешно работать, смело жить.</title>
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 1 (1977 г.) </h3>
<h1>К.Буржуадемов <em>Активно думать, успешно работать, 
смело жить</em>      
.</h1>
<p>Уезжая из страны, А.И.Солженицын оставил нам призыв 
"Жить не по лжи!" Он не требовал невозможного и потому ждал от нас неучастия во 
всеобщей лжи лишь в меру сил каждого. Таков призыв.</p>
<p>Автобиографические книги А.И. ("Архипелаг ГУЛАГ", 
"Бодался теленок с дубом") показывают нам, как он применял сам это правило в 
собственной жизни. Надо сказать, что А.И. был достаточно гибок, прекрасно владел 
фигурой умолчания и, например, во время написания "Архипелага" мог встречаться и 
"по-товарищески" беседовать и с министром внутренних дел, и с творцами лагерных 
законов, и даже соглашаться с ними. Т.о. умолчание, а иногда и прямое 
притворство никак не отвергалось А.И. в своей личной практике.</p>
<p>Но я не только не осуждаю такой "прагматизм", а от души 
приветствую и даже восхищаюсь. Он был необходим Солженицыну, чтобы исполнить 
главную жизненную задачу - раскрыть людям официальную ложь и реальную правду о 
лагерях и стране. В итоге вся его жизнь стала исполнением завета: "Жить не по 
лжи!", а повседневные умолчания и даже мелкая ложь были лишь тактическими 
несущественными отступлениями.</p>
<p>И все же лозунг "Жить не по лжи!" мне не кажется 
достаточным и даже не кажется главным, ключевым. Может быть, при обращении его к 
писательской, гуманитарной интеллигенции он и может стать основным, поскольку 
раскрытие правды - их хлеб, их дело. Для прочих же людей правило "жить не по 
лжи" никак не меняет характер основной деятельности, не может преобразовать 
жизнь. Конечно, если бы все вдруг перестали привычно лгать-лицедействовать по 
известным правилам, вдруг отбросили бы привычные шаблоны поведения, то наша 
жизнь круто изменилась бы. Нет, она просто взорвалась бы, развалилась, уступив 
место хаосу.</p>
<p>"Жить не по лжи" - всегда было и будет доступно лишь 
немногим праведникам, святым людям. Обычных же людей этот лозунг новой жизни не 
учит. Но что можно предложить в качестве руководящего принципа?</p>
<p>В III томе "Архипелаг ГУЛАГ" изложена чрезвычайно 
интересная история завоевания зэками 50-х годов своей свободы - с помощью 
"ножа", т.е. убийства (по тайному приговору зэковского руководства стукачей и 
пособников лагерной администрации). А.И. убедительно показывает, как еще до 
смерти Сталина тактика террора против стукачей привела к изоляции администрации, 
к ее вынужденным уступкам, к внутреннему освобождению и объединению заключенных, 
к началу их успешной борьбы за свои права и свободу. Становится ясным, что не 
столько смерть Сталина и разоблачительная смелость Хрущева привели к сильнейшему 
сокращению и едва ли не уничтожению всей системы сталинских лагерей, вездесущего 
Архипелага. Нет, огромную, а может и решающую роль сыграла здесь и борьба самих 
заключенных за реальную власть в лагерях, и их фактическая победа. Постепенно 
преобладающей формой лагеря конца 50-х годов стало зазонное, т.е. свободное (с 
семьями) содержание. Преобладающей формой отношений с администрацией - 
заискивание последней перед организованными заключенными. Если бы сама страна 
самоосвобождалась так же быстро, как и лагеря, то и нынешний Архипелаг давно 
стал бы достоянием истории. </p>
<p>Однако в 1961 г. был введен в действие Указ о смерти за 
убийство в лагерях, за террор против "исправившихся". Фактическая 
безнаказанность террора против стукачей и пособников администрации била 
ликвидирована, а сам террор сломлен. Стукачи и администрация снова взяли силу, и 
"Архипелаг" самовосстановился.</p>
<p>Рассказывая эту историю, Солженицын отказывается делать 
окончательные выводы о "благодетельном влиянии ножа". Нет, он не закрывает глаза 
и на перерождение самих "борцов-террористов". Да и сама христианская вера 
запрещает ему прославление насилия. Однако и правды скрыть он не хочет.</p>
<p>Что же остается делать нынешним заключенным, когда не 
только мораль, но и закон смертельно осуждают террор? Солженицын рассказывает и 
об ином способе воздействия на пособников администрации: раз за разом у них 
крадут и портят обувь и т.п. Все подобные методы оказываются нужными, чтобы 
противостоять засилью стукачей и, следовательно, администрации, чтобы сделать 
возможной самоорганизацию и самоосвобождение.</p>
<p>Но обратите внимание: в первый раз освобождающиеся 
заключенные нарушали заповедь "не убий", во второй раз - заповедь "не укради", о 
соблюдении заповеди "не лги" и говорить нечего... Все это - реальные примеры 
реального освобождения в нашей стране. И все они сводятся не к отказу от 
действий ради соблюдения своей моральной чистоты; а, напротив, к самостоятельным 
активным и успешным действиям по собственной воле и разумению, даже если это 
связано с нарушением моральных заповедей против гулаговцев. Видимо, в этом-то и 
состоит <u>главное - чтобы осмелиться жить по собственной 
воле, а не служить по воле начальства</u></p>
<p>"Самостоятельно думать, ответственно решать и смело 
действовать" - вместо традиционного у нас "внимательно слушать, беспрекословно 
повиноваться, выполнять не рассуждая". И если прирожденные службисты мешают 
свободной жизни - против них идет активная борьба со всеми естественными 
моральными издержками.</p>
<p>Главное - самим научиться быть свободными людьми, 
научиться свободно думать, работать и жить - и отстоять себя в таком качестве от 
посягательств старых службистов, прислуживающих "Народу", "Революции", "Партии", 
руководству, администрации ГУЛАГа и т.п. </p>
<p>Не надо думать, что я призываю к устранению всяческих 
моральных запретов в отношениях между приверженцами Архипелага и приверженцами 
свободы. Нет, даже в горячей войне соблюдается известные нормы и правила, от нас 
не требуется соблюдение еще большей жестокости, моральных запретов (например, 
запрет террора и насилия) и общечеловеческих законов, но есть и определенная 
грань в таком моральном ригоризме, за которым следует лишь фактический отказ от 
успешной борьбы и эволюции... Но отвлечемся пока от проблем конфронтации 
приверженцев старого и нового.</p>
<p>Спросим себя: "Но что значит стать свободным на деле?" 
Мне кажется, это прежде всего: перестать надеяться на какие-либо кардинальные, 
радикальные изменения - "освобождения" (сверху или снизу - все равно). Ждать 
"освобождения" - уже означает признавать свое сегодняшнее рабство, т.е. иметь 
рабское, ожидающее, бездеятельное состояние души. Свободный же человек приминает 
настоящую ситуацию лишь как трудные внешние условия, в которые он волею судьбы 
попал, но которые он будет сам изменять и приспосабливать себе своим целям на 
пользу.</p>
<p>Да, нам уже показали примеры действий духовно свободных 
людей - зэки добиваются расконвоирования, Солженицын добивается свободы печати - 
в жестокой и длительной борьбе. Трудно, но реально.</p>
<p>Ну, а мы с вами, те, кто ходит на свободе (т.е. 
"бесконвойно и зазонно")? - Ведь нас большинство и от нас зависит жизнь 
страны...</p>
<p>Я предлагаю для обсуждения три возможные у нас модели 
поведения, три возможные позиции:</p>
<p>1) активно противодействовать властям Архипелага, в том 
числе и в своей работе ("чем хуже работать, тем быстрее произойдет <u>ИХ</u> крах");</p>
<p>2) служить Власти, помогать ей во всем ("чем вернее 
служишь власти, тем лучше будет обществу");</p>
<p>3) активно действовать по собственным целям, воле и 
разумению (чем лучше себе и сейчас, тем лучше будет обществу и сейчас, и 
потом).</p>
<p>Рассмотрим эти позиции подробней. </p>
<p><b>Первая</b> -эта позиция простой 
ненависти и прямого противостояния, имеет и давно известные названия, 
революционаризм, пораженчество, вредительство. Открыто объявляя себя врагом 
власти и того большинства, которое ее пока поддерживает, сторонники этой позиции 
превращают себя в прекрасные мишени, замечательно удобных мальчиков для битья, 
т.е. для единственного дела, которое властители Архипелага могут выполнять 
профессионально и которым они могут оправдать свое существование в глазах 
народного большинства. Реальное существование таких "врагов народа" - козырная 
карта Власти; укрепляющая ее положение. Террор народовольцев в прошлом веке 
укрепил Александра III, потуги троцкистов оказали немало услуг Сталину, а когда 
все же "врагов" не хватало, приходилось их выдумывать ("вредительство 
спецов").</p>
<p>Постоянное наличие в обществе революционеров, "врагов 
порядка" и народа" и т.д. необходимо для тоталитарной власти, является реально 
действующей опорой и наилучшим залогом устойчивого существования. Таким образом, 
принцип этой позиции на деле такой: чем радикальнее сопротивление, чем больше 
связанные с ним жертвы и вред - тем лучше для власти.</p>
<p><b>Вторая позиция</b> - полная 
покорность и действия исключительно по воле руководства, приводит систему 
Архипелага к выявлению ее полной неэффективности, безнадежной дискредитации и 
практическому краху, когда подданные уже не хотят, а управляющие уже не смогут 
управлять по-старому, т.е. к революционной ситуации и самой революции. Т.о. в 
этом случае: чем больше и вернее служишь власти, тем будет ей хуже в конечном 
итоге! Нет больших пособников революции, чем ее ненавистники - ревностные 
служители Архипелага. </p>
<p>Позиция "лучше служить" - не творческая, она не учит 
людей самостоятельной работе, правилам свободной жизни, а просто ведет общество 
к распаду и революции. Революционные же хаос и разруху, как известно, можно 
преодолеть лишь возрождением "порядка", конечно, по сути того же самого, что был 
раньше, ибо иного не знают люди. Так через временную гибель система Архипелага 
возродится и укрепится.</p>
<p>Следовательно, 1-я и 2-я позиции при всей их внешней 
противоположности едины в своем итоге: обе они ведут к увековечению Архипелага. 
Только в первом случае, при наличии "врагов-революционеров" Архипелаг живет 
непрерывно, консервативно, а во втором случае, при засилии служак-консерваторов 
- он будет проходить через стадии революционного уничтожения и укрепления, т.е. 
прерывисто, революционно-реакционными циклами. В реальном общественном механизме 
тоталитарной страны революционеры выполняют консервативную роль. Но и те, и 
другие - в конечном счете, продолжают в будущее архипелажью систему.</p>
<p>Подлинной альтернативой существования Архипелага может 
служить только <b>третья позиция</b>: самостоятельности в 
работе и жизни. </p>
<p>Вот здесь доподлинно: чем лучше для нас самих, тем лучше 
для общества и его будущего. Старайся для себя, своих близких и дальних, приноси 
им реальную пользу и выгоду - и от этого будет лучше всем - и сейчас, и в 
будущем. Такой тезис нам, воспитанным в осуждении "буржуазного эгоизма", понять 
трудно. Но вспомним, что именно западные (эгоистические) народы достигли 
наибольших успехов в материальной и духовной культуре всего общества, а потому 
признаем, наконец, старую (еще от Адама Смита) мудрость: свободное преследование 
каждых своих выгод в итоге дает, как правило, наибольшую сумму благ для всех. 
Мудрость эта стара, как мир, но в нашей стране множество людей открывают ее 
заново. Самые разные люди из разных классов.</p>
<p>Вот <b>рабочие</b>. Не только у 
нас, но и во всех странах эти люди самой технологией производства обречены на 
деятельность полуавтоматов, на рабскую подчиненность. И в этом смысле им труднее 
всех. В сравнении с западными рабочими наши обладают только правом на увольнение 
и выбор работы, но не имеют права на независимый профсоюз и забастовку. Однако, 
когда возникает крайне существенная угроза понижения их жизненного уровня, 
возникают стихийные забастовки, которые обычно бывают весьма результативными (не 
прямо, конечно, а косвенно). Знаменитый новочеркасский "бунт" кончился, казалось 
бы, полной неудачей, однако сегодня, после событий 69-го года в Польше, когда 
рабочие волнения привели к падению власти, они напоминают и нашему руководству о 
подобной возможности. Отсюда курс на повышение жизненного уровня, отсюда 
контроль за ценами на продукты и ширпотреб, отсюда даже привилегированное 
положение рабочих. Наши рабочие не бастуют, но могут забастовать - и этого уже 
достаточно. На угрозе забастовок держится прочность ныне принятого 
"реалистического" курса, прочность нашего относительного благосостояния.</p>
<p>Другое дело, что наши рабочие работают плохо, 
неквалифицированно, незаинтересованно, что они пьют - но как раз с этим они не 
могут сами "справиться", как нельзя самого себя вытащить за волосы. Основная 
вина за эти "пороки" современной рабочей силы лежит на нынешней 
безответственности и бессильности хозяйственной власти, на факте отсутствия 
подлинных и полноправных хозяев производства. Можно сказать даже конкретнее: 
виновато отсутствие у производственных руководителей права на свободное 
увольнение плохих и излишних рабочих. Но, конечно, не рабочим бороться за права 
хозяйственников.</p>
<p>В условиях безрассудной растраты материальных и трудовых 
ресурсов рабочие по своей инициативе могут только спасти часть этих материалов и 
своего времени, вложив их в производство "левой" (т.е. частной) продукции - для 
себя и других. Огромное положительное значение для страны имеет это "левое", 
свободное производство. Даже помимо прямой реальной пользы и выигрыша для всех 
(фактически, это работа на "сэкономленных ресурсах") оно сохраняет и тренирует 
рабочую квалифицированную силу, готовит кадры истинных хозяйственников. Ведь не 
только поделками ("для дома и семьи") ограничивается современный рабочий. 
Постепенно он начинает обслуживать и своих знакомых и даже незнакомых, нащупывая 
клиентуру и сферу преимущественного сбыта. Великий жизненный механизм рынка 
восстанавливает свою силу.</p>
<p>А бригады шабашников, на труде которых держится, можно 
сказать, почти половина сельского и поселкового строительства? А сообщения в 
газетах о раскрываемых иногда "левых фабриках"?</p>
<p>Конечно, сейчас "левый сектор" еще очень слаб, 
полукустарен - из-за репрессий Архипелага, до его организации на мировом уровне 
еще очень далеко, но тем не менее - только в смелости, инициативности и 
работоспособности "левых работников" заключена наша надежда на лучшее 
будущее.</p>
<p><b>Крестьяне</b> - сегодня это те 
же рабочие, только в особом министерстве. Но в отличие от промышленных рабочих у 
крестьян этот "рабочий", вернее, рабский статус искусственен, неоправдан. Ведь 
на Западе до сих пор эффективным считается именно фермерское индивидуальное 
хозяйство. Сегодня у нас нет крестьян-хозяев, есть лишь рабочие на 
государственных плантациях. Правда, эра голого ("феодального") принуждения в 
сельском хозяйстве, когда "самостоятельность" колхозов означала работу на 
государство без зарплаты и без капитальных вложений -<u> 
прошла</u>. Ужасающая неэффективность с.-х. труда и отток населения в города 
(своеобразная забастовка, а вернее, стихийная борьба сельской молодежи за свои 
права) привели к известным улучшениям: государство ныне направляет в деревню 
миллиарды капиталовложений, а сельские рабочие получают иной раз больше 
городских.</p>
<p>Но, как и в городе, повышение жизненного уровня мало 
сказывается на повышении эффективности с.х. труда. Как и в городе, рабочие могут 
лишь участвовать в "левой" реализации с.х. продукции, но не более того. 
Магистральный путь повышения производительности труда в сельском хозяйстве 
состоит в передаче поля или фермы под единую ответственность механизатору - 
будущему фермеру. И если новая такая передача не будет осуществлена сверху, она 
будет сделана явочным порядком снизу. Частная реализация колхозной или совхозной 
продукции (неотличимая сегодня от "разворовывания") должна смениться 
непланируемым, свободным ("левым") производством с.х. продуктов. Не только 
выгода - само достоинство человека, живущего и работающего на земле, требует 
смелых и ответственных действий по собственному разумению.</p>
<p><b>Служащие</b> - казалось бы, по 
своему культурному уровню и развитости эти люди гораздо ближе стоят к 
освобождению, чем все прочие общественные слои. Но как раз у служащих их личное 
положение самым понятным образом связано с начальством, со службой ему, с 
карьерой, поэтому именно у них позже возникает воля к самостоятельным действиям. 
Да и что они могут сделать?</p>
<p>Конечно, добиваясь повышения своей личной заработной 
платы, служащий вроде бы не отличается от рабочего в городе и деревне. Но если 
рабочие добиваются этого результата стихийно массовыми "забастовками-миграцией", 
то у служащих до сих пор преобладающим путем является <u>служба начальству</u>. И понятно, почему, в целом, слой 
служащих, особенно "подслой" технической интеллигенции, сегодня скатился на 
уровень самых малооплачиваемых категорий работников. Уровень зарплаты, в 
некотором смысле, можно принять как показатель самосознания рассматриваемого 
слоя людей, т.е. инженеры намного отстали от рабочих.</p>
<p>Это обвинение в гораздо меньшей степени можно отнести к 
таким слоям служащих, как работники торговли, бытового обслуживания, 
здравоохранения и т.д., поскольку они достаточно широко организуют "левое" 
распределение товаров, услуг и пр. - и в этом смысле, возможно, занимают 
наиболее передовые позиции.</p>
<p>Другое дело - работники управления, техническая 
интеллигенция, на которую у нас в стране возложена практическая ответственность 
за организацию общественного труда, его эффективность. Именно на этих людей 
ложится самым тяжким, морально задавливающим грузом сознание ужасающей 
неэффективности общественного и собственного труда и бессмысленности любых 
усилий по исправлению неисправимого, ощущение никчемности своей работы и своего 
существования.</p>
<p dir="ltr" style="MARGIN-RIGHT: 0px">Как правило, 
благополучное развитие того или иного хозяйственного подразделения связано с 
большим количеством прямых или слабо замаскированных нарушений официально 
действующих инструкций, с фальсифицированной отчетностью и заниженными планами. 
Ведь эти запреты и установления, подобно змеям, опутали все наше хозяйство. Их 
нарушение - необходимое условие нормальной жизнедеятельности любых 
хозподразделений, предварительное условие организации их взаимодействия на 
основе взаимовыгоды. Как в сталинских лагерях террор против стукачей позволил 
заключенным вернуть себе человеческий облик, так фальсификация отчетной и 
плановой информации позволяет как бы отключить (вернее, ослабить) контроль 
верховных хозяев Архипелага и расчищает поле для нормального хозяйствования, для 
введения НЭПа - сначала де-факто, а уже потом, после укрепления - де-юре.</p>
<p>Содействовать развитию таких хорошо действующих 
хозяйственных подразделений, обороняться от губительного действия верховного 
контроля, т.е. лучше работать для реальной пользы своей и своих сослуживцев - 
вот достойная задача для служащих, сознающих свое истинное предназначение.</p>
<p>Основной парадокс <b>третьей 
позиции</b>, как мы видели, заключается в <u>видимом</u> 
противоречии с официально принятой моралью и <u>мнимом</u> 
противоречии с общими моральными принципами.</p>
<p>Даже сама первичная установка третьей позиции - на 
эгоизм, на личную или коллективную выгоду - аморальна с точки зрения нашего 
"социализма". А нарушения инструкций, фальсификация отчетов, организация 
"левого" производства - это уже вообще лежит на грани уголовного наказания. 
Заповеди "не лги", "не кради" подвергаются здесь суровым потрясениям. Кажущаяся 
аморальность третьей позиции сегодня является главным препятствием к ее принятию 
мыслящими, активными людьми.</p>
<p>Только большая умственная работа, только сознание 
конечной пользы от частного эгоизма и личной свободы каждого может вернуть 
3-позиции принадлежащую ей по праву действительную моральность, истинную 
человечность.</p>
<p>Только когда мы поймем, что: </p>
<ol>
<li>
<div> шабашить, значит, не только много 
  зарабатывать, но и благодетельствовать стране;</div>
<li>
<div> "левое" производство товаров и услуг - должно 
  слыть не грабежом, а реальным увеличением эффективности национального 
  хозяйства, приводить к существенному росту реального национального 
  богатства;</div>
<li>
<div>спекуляция - это не "паразитизм" (если ее отличать 
  от создания частной монополии), а дьявольски трудное в нашей стране, но 
  чрезвычайно полезное налаживание жизненно необходимых рыночных связей,</div>
<li>
<div>снабженческие махинации, фокусы бухгалтеров и 
  плановиков просто необходимы для производства, обеспечивают его 
  функционирование, учат НЭПу, готовят свободное экономическое будущее, и т.д. и 
  т.п.</div></li></li></li></li></ol>
<p>Только тогда мы сможем найти свое место в общей работе 
освобождения!</p>
<p>И чем быстрее мы перейдем от устаревшей морали 
сталинского социализма к морали свободного общества, тем быстрее пойдет наше 
развитие, тем основательнее и надежнее будет рушиться в нашей жизни 
"Архипелаг".</p>
<p>Подведем итоги: книга "Архипелаг ГУЛАГ" и жизнь его 
автора показывают недостаточность (а может, и неосновательность) лозунга "Жить 
не по лжи!" То же показывает и жизнь народа.</p>
<p><u>Важное правило</u>: "Жить и 
работать по собственному уму и воле", даже если это и будет нарушением 
официальной устаревшей морали. Уяснить себе и усвоить истинную моральность 
свободной частной жизни и на этой основе ее активизировать - наша задача!</p>
<p>22.12.1976г.</p>
<table width="600"> <tr> <td>
<a href="solghenizin2.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="Rostislawski.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
