{% extends 'base.html' %}
{% block title %}Комментарии статьи К.Светлова{% endblock %}
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 2 (1978 г.) </h3>
<h1>Комментарии статьи К.Светлова </h1>
<p>Мне не о чем спорить с К.Светловым, можно лишь 
благодарить судьбу за встречу с единомышленником - такое везение выпадает не 
часто.</p>
<p>Его поправки звучат для меня собственными сомнениями по 
"тонким местам", собственными упреками в недостаточной ясности изложения. А 
многие положения вызывают прямое удовольствие за помощь в додумывании. Например: 
"если даже "жизнь-игра", то уж во всяком случае - не антагонистическая. Если мне 
плохо, то это вовсе не значит, что кому-то от этого хорошо, и наоборот". Ведь и 
правда: большинство противников "левого бизнеса" и "частной выгоды" внутренне 
убеждены, что жизнь - антагонистическая игра, что все, кто стремятся к своему 
благу - тем самым "орудуют" против остальных. Все их призывы к бескорыстию 
основаны на глубоком внутреннем убеждении в антагонистичности нашего мира, в его 
враждебности. И вот они кричат всем людям: "Будьте бескорыстны", подразумевая: 
"Не вредите моим интересам!" Бедные, заблудшие души! За такую помощь - спасибо 
К.Светлову.</p>
<p>Одно небольшое исправление: утверждение, что "экономика 
- первична", для меня не означает вторичности духовной стороны жизни. На мой 
взгляд, первичной может быть только вся человеческая жизнь целиком, а в ней 
очень большую долю и значение играет экономическая часть, о чем можно судить по 
количеству времени, затрачиваемом на производство и потребление товаров.</p>
<p>Замечательной мне кажется и главная, анализирующая часть 
статьи - о туфте в науке, образовании, искусстве. Этот анализ К.Светлова еще 
больше укрепил меня в уверенности, что интеллигенция не должна далее терпеть 
свое бессильное и рабское существование, путаясь в моральных категориях, что 
нам, интеллигентам-служащим, надо смелее доверять своему нравственному чутью, 
брать на себя ответственность за свою жизнь и приносимое в мир Благо.</p>
<p>И, наконец, последнее - целиком согласен с предложением 
К.Светлова о платности Самиздата. Возлагать заботы о его распространении только 
на авторов и бескорыстных и самоотверженных соавторов-перепечатчиков (ибо за 
перепечатку сегодня берутся обычно очень заинтересованные и духовно близкие к 
автору люди) - неправильно. Получается, что главные потребители - читатели, в 
тревогах и затратах свободного книгопечатания не участвуют, а как бы пользуются 
(невольно) благотворительностью автора. Понятны причины такого странного 
положения: мы привыкли обмениваться книгами бескорыстно, потому что до сих пор 
книги очень дешевы, а государственные библиотеки бесплатны, т.е. потому, что 
львиную долю затрат на книжное производство брало на себя государство. С 
самиздатом же положение совершенно иное: государство не только не помогает, а 
всей своей мощью преследует свободное книгопечатание. На читателя же еще 
действует инерция бесплатного государственного книгопечатания.</p>
<p>Я считаю, что поднятую К.Светловым тему надо обязательно 
и глубоко обсуждать, чтобы до большинства читателей Самиздата дошло истинное 
положение вещей: те, кто только читают Самиздат, но сами его не покупают, не 
производят, не хранят - те являются фактическими захребетниками, сваливающими 
риск и тяготы этого опасного производства на своих друзей. Надо прямо признать, 
что такие люди занимают недостойную моральную позицию. Свободный интеллигент 
должен брать на себя ответственность за производство, хранение и распространение 
свободного слова, т.е. самиздатских книг.</p>
<p>Конечно, не многие могут решиться на покупку и хранение 
самиздата (слишком дорого и опасно), для них хорошим выходом может стать плата 
за чтение, я понимаю, что приучать себя к такой плате будет достаточно трудно, 
но такая психологическая перестройка необходима.</p>
<p>Важно только понять, что нельзя назвать себя внутренне 
порядочным человеком, если при чтении самиздата у тебя не возникнет чувство 
благодарности к его автору, издателю, хранителю и распространителю, и если это 
чувство благодарности не будет доведено до реальных последствий, до ощущения 
необходимости соучаствовать в этих трудах. С другой стороны, те авторы и 
владельцы Самиздата, которые предоставляют его читателям бесплатно, бескорыстно, 
должны помнить, что тем самым они укрепляют отрицательную традицию читательского 
нахлебничества, затрудняют деятельность рентабельного, стоящего на здоровой 
экономической основе Самиздата, способствуют обесцениванию самиздатского чтения, 
его малой эффективности. Такие авторы и владельцы должны понимать, что их 
"мягкость и бескорыстие" приносят гораздо больше вреда, чем пользы.</p>
<p>И вторая есть сторона у этого вопроса. Я убежден: только 
когда Самиздат будет широко ходить на "черном" (а на деле - свободном) книжном 
рынке, т.е. когда он завоюет симпатии рядовых людей и желание тратить на это 
свое время и средства, тогда самиздатские авторы смогут считать свое дело - 
истинно народным, а свои произведения - приносящими пользу народу.</p>
<p>Конечно, это правило не без исключений. Например, 
какие-то произведения могут получить широкое признание только у потомков, и все 
же главный закон правилен: бесцензурная печать должна служить, прежде всего, 
свободным, независимым от государства, его службы и распределения, людям! 
Самиздат обязан выходить на рынок. Авторы и изготовители, на мой взгляд, обязаны 
назначать своим произведениям ту цену, которая позволила бы им продолжить святое 
дело дальше, а с другой стороны - приучала бы читателей самиздата ценить его по 
достоинству, беречь его, чувствовать удовлетворение от своей доли участия в деле 
существования и развития свободной печати. Только тогда самиздат сможет 
по-настоящему конкурировать с государственной печатью - не только на духовной, 
но и на экономической основе.</p>
<table width="600"> <tr> <td>
<a href="kcvetlov.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="ep.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
