{% extends 'base.html' %}
{% block title %}Ответ В.Абрамкину{% endblock %}
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 2 (1978 г.) </h3>
<h1>Ответ В.Абрамкину</h1>
<p>Дорогой Валерий! Вступая в дискуссию статьей "Не свернуть 
себе шею...", Вы, конечно, понимали, что К.Буржуадемов - это обычный живой 
человек, а не какой-то бесстрастный дьявол во плоти. Заявляя о своей полной 
несовместимости со мною и даже о невозможности прямого разговора ("я не хочу 
полемизировать с К.Б., мы находимся в разных несовместимых системах отсчета"), 
Вы установили стену враждебности, принципиального непонимания между реальными 
людьми, не только между нами, но и (говоря Вашими словами) между Вами и 
диссидентами, с одной стороны, и К.Б. и его сторонников - с другой. Кстати, не 
знаю никаких своих "сторонников", а вот, что я - сторонник многих, в том числе 
диссидентов и Вас, - это точно.</p>
<p>Призываю Вас еще раз взвесить: достаточно ли обдуманно и 
ответственно Вы поступили, взявшись за такое "отлучение" друг от друга реальных 
людей? И до какой степени распространяется эта "несовместимость"? Об отказе от 
конструктивного разговора я уже слышал, а вот возможно ли простое знакомство? 
Можем ли мы находиться в одном помещении? Хотя бы мирное сосуществовать? 
Распространяется ли на случай общения между нами правила приличия или даже 
морали? - Содержание Вашей статьи заставило меня в этом усомниться...</p>
<p>Хотим мы этого или нет, но живем на одной земле, в одном 
обществе, и потому уже вынуждены общаться и разговаривать друг с другом. Само 
это письмо - тому доказательство. Только как мы будем разговаривать - прямо и с 
уважением, или отворачиваясь и забыв о приличиях?</p>
<p>Вы обвинили меня в построении и пропаганде очередной 
общественной теории, программы "светлого будущего". Сами же предлагаете иной 
"реальный путь решения вопроса о пути для нас, для нашей страны,.. реализуемый, 
в частности, на практике диссидентами". - Но ведь это самое будущее будет одно, 
неделимое, как мы будем уживаться в нем - без милиции и КГБ, если уже сейчас 
оказываемся несовместимыми, вплоть до невозможности разговора и объяснений.</p>
<p>Для меня нетерпимость, неумение вслушиваться в аргументы 
других и нежелание их понимать - одно из несомненных свидетельств пережитков 
сталинской нетерпимости ("кто не с нами, тот против нас"), и потому я не хочу 
оставаться в плену законного чувства негодования при чтении Вашей статьи.</p>
<p>Слава Богу, высокомерное желание не мараться спорами с 
Буржуадемовым осталось лишь намерением, и на 13 страницах своей статьи Вы 
достаточно подробно описали свое собственное мировосприятие (второй подход), к 
которому отнесли А.И.Солженицына (не полностью) и диссидентов (на практике), 
попутно отвернув все остальное, как проявления официальной культуры, как 
двоемыслие, несовместимое с "истинной человечностью", как "логику людоедов" и 
т.д.</p>
<p>...Ну так вот, зажав эмоции, попробуем понять Вашу 
систему мировосприятия непредубежденно, по-доброму (как это и пристало 
стороннику "третьей позиции").</p>
<p>Вы говорите: есть два несовместимых подхода в понимании 
смысла человеческого бытия: 1) цели человека и общества совместимы (в рамках 
этого подхода одни, следуя Адаму Смиту, отдают предпочтение в этом совмещении - 
целям и интересам индивидуумов, другие - (коммунисты) - выше всего ставят цели и 
интересы общества); 2) цели человека и общества различны (в крайнем варианте, 
изначально несовместимы). Вы считаете истинным второй подход. Согласно ему 
существуют две субкультуры - официальная и неофициальная. Причем "ценности и 
нормы официальной культуры используются для превращения индивида в функционера 
социальной системы и изменяются с изменением социальных условий" (относительны). 
Неофициальная же культура воплощает "гуманистическую совесть <u>всего</u> человечества", "боль и мудрость <u>всех</u> поколений", ее "морально-этические нормы, 
выстраданные человечеством в результате многовековой борьбы за право на 
индивидуальность" - абсолютны... и живы, если освящены "высшим смыслом бытия", 
который заключен в "развитии души", а не в "благоденствии, как <u>все мы</u> привыкли понимать". Индивидуум может выбрать или 
путь "растворения в окружающем Мире" (деградации), или путь духовного 
совершенствования, "действуя с Миром на равных", "творя себя и Мир". Если же 
человек не приемлет Мир (общество), но подчиняется ему в жизни, нарушает свои 
принципы - то губит душу двоемыслием, "изворачивается и лжет себе", пытаясь 
"рациональностью" оправдать ранее осуждавшиеся средства (ради "святой цели" или 
даже "борьбы за переустройство"). Призыв "жить не по лжи" как раз и заставляет 
осознать таким людям свое двоемыслие и снять его... прекратив "приспособление 
вопреки принципам"...</p>
<p>А теперь скажите: правильно ли я Вас понял, Валерий? 
Надеюсь, что - да! Если же нет - поправьте. Сейчас же я попытаюсь осмыслить Вами 
сказанное. </p>
<p>Прежде всего, выглядит очень странно, что этическая 
система А.Смита (и вместе с ней - западных капиталистических стран) помещена 
Вами в одной загородке с системой К.Маркса (и коммунистических стран). Кстати, 
очень неряшливо, если не хуже, выглядит Ваше описание "коммунистической 
системы", в котором Вы цитируете подряд Маркса, Энгельса,... Солженицына, в 
качестве авторитетных теоретиков коммунизма, - с каких это пор Солженицын занял 
место Ленина?</p>
<p>Потом оказывается, что в рамках другого подхода 
официальная культура у нас близка к коммунистической, а неофициальная культура - 
к гуманистической, индивидуалистической. Причем, последняя - истинна и 
неизменна, а первая - относительна и лжива. Но зачем же тогда А.Смита и всех 
западных людей, согласных с ним, выделять за скобки вкупе с теоретиками 
марксизма и отлучать от истины? </p>
<p>Мне кажется, что здесь виноват Э.Фромм. (Я не знаком с 
его произведениями, но, возможно, это один из авторов концепции об изначальной 
несовместимости официальной и неофициальной культур, находящейся в близком 
родстве с иными теориями "новых левых" на Западе. Кстати, концепция двух культур 
никак не оригинальна, имеет давние традиции - достаточно вспомнить хотя бы 
Ленина с его тезисами о двух Россиях и двух культурах - официальной, казенной - 
и демократической, социалистической). Э.Фромм, как западный житель, имеет перед 
собой в качестве общепризнанной, официальной доктрины - идеологию свободного 
рыночного общества, связанную и с именем А.Смита. Отсюда и неприязнь. Самих же 
себя приверженцы "неофициальной культуры" (контркультуры) на Западе, 
по-видимому, окрашивают в социалистические тона (по закону контраста). Все их 
родство с советскими диссидентами заключено лишь в факте оппозиции, а на деле 
они столь же противоположны по своим взглядам и намерениям, как противоположны и 
те официальные системы, которым они оппонируют.</p>
<p>Конечно, советские диссиденты и "новые левые" на Западе 
могут найти много общих и красивых слов относительно желаемого будущего, но все 
они будут туманны и бессодержательны. Да это видно и по Вашей статье, Валерий! 
Вы довольно подробно и с сочувствием (во всяком случае, без критики) описали 
этическую систему А.Смита (и я благодарен Вам за это), но, поскольку по "теории 
двух культур" она находится в стане "официоза", то принять ее не можете, а свои 
соображения о том, каким быть обществу, оставляете "на потом". Отвергнув А.Смита 
и западную культуру в ее наиболее существенной (как Вы выражаетесь - 
"официальной") части, Вы обедняете себя и свой протест до анархического бунта и 
вечного противостояния.</p>
<p>Прояви здесь последовательность, Вы бы пришли к 
оправданию существующего тоталитаризма (без официальной культуры, как и без 
милиции, общество не может, а без общества и человек, даже оппозиционный, не 
сможет существовать, но все равно официоз плох, а Смит ли, Маркс ли - буржуазная 
демократия или социализм - какая разница?) Полемика со Стернбахом демонстрирует 
эту Вашу спасительную непоследовательность. Очевидно, что Вашей душе западный 
А.Смит все же дороже осталиневшего К.Маркса, однако сделать логичный вывод, что 
для нашей страны переход от системы последнего к системе первого - был бы 
великим благом и делом, достойным больших усилий. Вы не решаетесь (в отличие от 
А.И.Солженицына, который как раз настаивает на исчезновении именно марксистской 
идеологии - правда, как представляется, не в пользу А.Смита, а в пользу 
православия.)</p>
<p>Я думаю, что в этой нерешительности виновата не Ваше 
социальное равнодушие, а некритическое следование догматам Э.Фромма. Однако 
находиться в абсолютной оппозиции любому типу государства, не видеть между ними 
различий, значит, на деле консервировать тоталитарное состояние нашего 
государства. А с другой стороны, как же тогда "быть силой, побуждающей общество 
стремиться к совершенству"? К чему стремиться, если "все равно", Смит ли, Маркс 
ли - официозу надо противостоять всегда?</p>
<p>Остается заботиться лишь о своей душе, о нравственном 
самосовершенствовании, наплевав на "всеобщую пользу" и "социальные нужды", тем 
более, что ничего точно предсказать нельзя. Ну и заботьтесь - кто же против? И 
власти Вам скажут: "Да ради Бога, совершенствуйтесь, только в наши дела не 
суйтесь".</p>
<p>Но нет. Тут вы совершаете следующий поворот, который 
фактически зачеркивает выводы из перед этим сказанного. Вы утверждаете: 
нравственно совершенствуясь, человек должен не уходить из Мира, а изменять его, 
творить. Но каким? - По-видимому, "гармоничным" с собой, т.е. 
индивидуализированным, ненасильственным, свободным, т.е. таким, каким он 
представляется А.Смиту и др... Этим поворотом Вы сводите свои убеждения с 
диссидентской практикой.</p>
<p>Но при этом не забудем: отринув всю и любую "официальную 
культуру ", Вам можете "действовать" лишь по наитию, по подсказке собственного 
"нравственного чутья" (ибо любые общественные теории Вы отвергли с порога). Вы 
будете действовать не как "человек разумный", а как "существо эмоциональное" 
(ибо эмоциональны и нравственны не только люди), подчиняться не голосу 
собственного разума, анализу исторического опыта, а - "стихии революционного 
чувства", простите, "вечно оппозиционного чувства". Что может получиться от 
этого, Вы можете узнать, только обратившись к анализу истории революций, к 
разуму, но Вы его отвергли, и потому "неуязвимы". Круг замкнулся.</p>
<p>Рассмотрим и другие доводы (или, выражаясь Вашими 
словами, "фокусы") за отказ от рационализма, от разума - в пользу деятельности, 
подчиненной голосу "нравственного чувства".</p>
<p>1) "Для каждого народа, не говоря о каждом человеке, эта 
польза своя, не сводится к среднеарифметической, а прогресс - понятие 
неопределенное"... </p>
<p>Правда, чуть раньше Вы говорили о неизменных и единых для 
всех народов и времен морально-этических нормах, а в другом месте о том, что 
перед нашим обществом стоят насущные вопросы, которые решала Англия 18-го 
века,... но о сходимости концов Вы не заботитесь. Почему моральные нормы - 
едины, а понятия Пользы (или Добра) - разные? - Дать ответ на этот вопрос, хотя 
бы самому себе, Вы не беретесь. Да и зачем, когда довод кажется убийственно 
точным? Ведь, правда - народы разные, интересы и понятие пользы - разные, точно 
мы их не знаем, так о чем же говорить?</p>
<p>Однако, почему же из факта, что мир - разный, что точно 
мы его не знаем и никогда не узнаем, следует, что думать перед действием - не 
надо?</p>
<p>Славянофилы и сталинисты тоже говорят о коренных отличиях 
нашего Отечества от развращенного Запада, но они хоть аргументы выдвигают, Вы же 
пользуетесь примитивной отмычкой скептицизма: ничего точно узнать нельзя, 
поэтому и узнавать не надо, есть мораль от отцов и гениев - ну, и будем ей 
следовать!... Пусть так - следуйте, но подумайте хоть один раз: не изменяя 
морали отцов, почему Вы уверены, что не будете жить так же, как жили эти самые 
отцы - под Грозными и Пугачами?</p>
<p>2) "Нам неведомы длинные цепи событий" (почему неведомы - 
ведь историки не зря работают?), "будущие последствия наших сегодняшних действий 
не предсказуемы... Но морально-этические нормы, являющиеся концентрированным 
выражением многовекового человеческого опыта, можно рассматривать как 
ограничения, которые призваны уберечь человечество от возможных катастроф".</p>
<p>"Скептическая"отмычка здесь преобразилась в орудие 
антиисторицизма. Предсказать ничего нельзя и никакого исторического опыта, 
никакой социальной и научной памяти - нет, ничего нет, и оглядываться нельзя, 
шею свернешь, только вперед, к совершенству духа, а что это такое, так "великих" 
слушайте в моей интерпретации. Есть только "вековые" нормы и чутье, они не 
выдадут.</p>
<p>Конечно, нормы - это сконцентрированный вековой опыт и 
они, действительно, не "выдадут", если условия существования не изменились 
кардинально и если мы не желаем жить по-иному, иначе, чем наши предки. Чтобы 
учесть эти два обстоятельства, человеку и дана голова. Человек выделился из 
природы именно своим разумом, памятью, накоплением социального и прочего опыта. 
Конечно, силы разума - не абсолютны, постигаемые им истины - относительны, нo 
отрицать его жизненную необходимость для человека - значит проявлять простое 
недомыслие.</p>
<p>3) "Вера в существование пользы делает нас зачастую 
похожими на дикарей, пытающихся с помощью топора заставить слушать себя машину, 
о которой они ничего толком и не знают... Общество посложнее всякой машины, а 
нам не до постижения его тайн и смыслов, мы предпочитаем шарахнуть первой 
попавшейся теоретической кувалдой, или, насмотревшись, как там бывает у соседей, 
тут же все и переделать".</p>
<p>Сравнение кажется мне удачным, и оно было бы уместным, 
если бы после него сразу последовал бы призыв: изучать и уяснять себе это 
малоизвестное общество, вдумываться в механизм его действия, изменять общество 
медленно и осторожно - лишь своею жизнью (ибо изучить общество до полной 
ясности, действительно, невозможно). Но ведь такого вывода нет, напротив, и это 
сравнение направлено против рационализма, против размышлений на тему "что и как 
делать, чтобы всем было хорошо". Но этот довод работает против Вас, Валерий. 
Именно Вы, принципиальный противник рационализма, размышлений о законах истории 
общества и его пользе, - похожи на дикаря, орудующего над нашей общественной 
машиной лишь каменным топором неизменной морали и первой попавшейся 
"теоретической кувалдой" Э.Фромма, притом не зная толком, чего же Вы хотите... 
</p>
<p>Подведем же итог рассмотрению Вашей концепции. </p>
<p>Как и полагается у "новых левых", она вся из "анти" - 
против рационализма, против историцизма, против Запада, против Востока, против 
марксизма, против бурж. экономизма, против прогресса, против пользы... ну, что 
там еще есть? - против! Кажется, в ней утверждается лишь одна ценность - 
вековечная и активная мораль оппозиционеров (неофициальной культуры), 
олицетворяемая сегодня именем А.И.Солженицына и практикой диссидентов (конечно, 
лишь части из них).</p>
<p>По этой приверженности моральным нормам довольно узкого 
слоя людей при полном отрицании всего остального можно легко увидеть в Вас 
современного сектанта. В сектантстве нет ничего дурного (я тоже имею твердое 
"верую", и потому считаю себя сектантом), если оно не сопровождается 
нетерпимостью к остальным точкам зрения. Ведь свою веру можно отстаивать 
по-разному. Или углубляя до бесконечности и оттачивая аргументы, или отрицая 
саму возможность общности знания и законности иных точек зрения. Вы избрали 
второй способ, опасный и бесплодный путь грызни и нетерпимости. Я не скажу, что 
он приведет Вас к одиночеству. Совсем напротив. Есть много людей, которые, 
отвергнув старую веру в сталинский социализм, ищут новой, столь же 
иррациональной и "твердо обоснованной". Они могут пойти и за Вами, но вот 
общения с другими инакомыслящими у Вас не получится, ибо при отказе от рацио, от 
вслушивания в чужие слова и ответы, Вы будете не мыслить, а изрекать. Таков мой 
печальный прогноз.</p>
<p>И еще: я не могу назвать Вашу позицию сейчас - 
экстремистской. Все зависит от того, что Вы понимаете под словами: "Человек 
творит не только себя, но и мир". Если это означает, что человек меняет общество 
своею осмысленной и безбоязненной жизнью, своим трудом, творчеством, правовой 
деятельностью, как участник Движения в защиту прав человека, то я эти слова могу 
только приветствовать. В пользу такого понимания можно привести Ваше замечание о 
том, что "жизнь не по лжи" чаще всего связана не со стремлением добиться краха 
существующего порядка, а с необходимостью отстоять свое человеческое 
достоинство, предотвратить духовную деградацию". В предложенном перечне 
возможных позиций такое поведение описывается именно третьей позицией, т.е. 
поведением людей, стремящихся не к краху или укреплению Власти, а к 
независимости от нее, к осуществлению собственных интересов, прав и свобод.</p>
<p>Однако у Солженицына призыв "жить не по лжи" имеет все же 
иной смысл, это призыв к отказу от "лжи официальной идеологии", ради 
гражданского неповиновения, ради революции. И если Вы в свои "творить мир" 
вкладываете нечто подобное, если совмещаете свои слова с этим призывом, то, 
конечно, близки к экстремизму, т.е. к первой позиции ("резким диссидентам"). 
</p>
<p>Кто же Вы на деле, Валерий?</p>
<p>А теперь я попробую защитить себя и свои взгляды от Ваших 
личных нападок. Я разберу их по ходу статьи.</p>
<p>1. "Когда К.Б. пытается доказать противоположность личной 
практики Солженицына с его призывом "жить не по лжи", укладывая оппонента в 
прокрустово ложе своих оценок и своей системы, то он только запутывает вопрос, 
совершает ловкую подмену, фокус. ...К.Б. совершенно искажает суть событий... 
бессознательно выбрасывает часть рассуждений Солженицына, концентрируя наше 
внимание на измене принципам (существенной, но не главной)... </p>
<p>...Не ставил себе целью автор (А.И.) во что бы то ни 
стало опубликовать "Ивана Денисовича".</p>
<p>Я должен определенно сказать, что все эти "описания" - 
неправда! Чтобы убедиться в этом, достаточно вернуться к первой странице моей 
статьи:</p>
<p>"Автобиографические книги А.И. ("Архипелаг Гулаг", 
"Теленок..." показывают нам, как применял он сам это правило в собственной 
жизни. Однако надо сказать, А.И. был достаточно гибок, прекрасно владел фигурой 
умолчания и, например, во время написания "Архипелага" мог встречаться и 
"по-товарищески" беседовать и с министром внутренних дел, и с творцами лагерных 
законов, и даже соглашаться с ними. Т.о. умолчание, а иногда и прямое 
притворство никак не отвергалось А.И. в своей личной практике.</p>
<p>Но я не только не осуждаю такой "прагматизм", но от души 
приветствую его и даже восхищаюсь. Он был необходим Солженицыну, чтобы исполнить 
главную жизненную задачу - раскрыть людям ложь и гигантскую правду о лагерях и 
стране. В итоге вся его жизнь была исполнением завета "жить не по лжи", и 
повседневные умалчивания и даже мелкая ложь были лишь тактическими 
несущественными отступлениями".</p>
<p>Выше приведено <u>практически 
все</u>, что говорилось мною по этому вопросу, и я прошу сопоставить мои слова с 
приведенными Вами отрывками из произведений Солженицына и указать, где здесь 
искажения?</p>
<p>Нет в моей статье и просто отрицательного отношения к 
самому лозунгу "жить не по лжи". Я подчеркнул только его недостаточность, 
второстепенность ("неосновательность) - для большиства наших людей, за 
исключением гуманитарной интеллигенции, "поскольку раскрытие правды - их хлеб, 
их дело").</p>
<p>Таким образом, я утверждал: а) что вся жизнь Солженицына 
была исполнением завета "жить не по лжи"; б) повседневные умолчания и даже 
мелкая ложь, "прагматизм" - были необходимы, чтобы исполнить "главную жизненную 
задачу"; в) я приветствовал и восхищался таким "прагматизмом".</p>
<p>Так кто же здесь совершает "ловкие подмены", "фокусы", 
"искажения"? Кто же ищет (и находит) противоречия личной практики Солженицына и 
его призыва "жить не по лжи" и "существенных измен" им своим принципам? И дальше 
- откуда появилась история о перипетиях публикации "Ивана Денисовича"? Или 
дурацкие примеры "невыполнимости" призыва "жить не по лжи", о которых я впервые 
слышу...</p>
<p>Все накручено, наврано, да еще прибавлено!</p>
<p>Но зачем же Вам нужен этот, не скажу - ловкий, чего уж 
тут ловкого,- а просто беспардонный "фокус"? Зачем Вам нужна <u>ложь</u>?</p>
<p>Да очень понятно: всем известно, сколь высоким 
авторитетом обладает А.И. Солженицын не только в среде мыслящей интеллигенции, 
но и во всем читающем народе. И потому - до чего удобно обвинить оппонента в 
неуважении к "святыне", как легко подвести его под гильотину общественного 
мнения, как не заорать при удобном случае: "Ату его! Он против Солженицына! Он 
его извращает!"</p>
<p>Нет, Валерий, я не думаю, что Ваша ложь были 
преднамеренной, не утверждаю, что она подпадает под понятие клеветы, т.е. 
уголовного деяния. Наверное, это просто "политические издержки", но обратите 
внимание, как больно они ранят, как дорого обходятся Ваши полемические победы (и 
какой ценой?), куда, к каким средствам заводит Вас "защита исключительной, 
высокой, неизменной нравственности духовных людей"... Сколь красиво в теории, а 
каково на практике? Еще хорошо, что свои теоретические упражнения Вы устроили на 
моей шкуре, у меня хватит сил защититься, ну, а если Вам попадется кто-нибудь 
послабее?</p>
<p>Я - К.Буржуадемов, считаю себя духовно свободным 
человеком (хотя до сих пор еще вынужден не раскрывать своего псевдонима), и 
потому имею право свободно спорить не только с Марксом и Лениным, но и с 
Солженицыным. Говорил и повторяю, что глубоко уважаю А.И.Солженицына как 
большого русского писателя и великого общественного деятеля, раскрывшего 
огромную ложь и правду в нашей жизни. Но когда он обращается к народу, в том 
числе и ко мне с призывом, мой долг высказать искренне и откровенно все, что я 
думаю.</p>
<p>А думаю я, что, находясь в стране, А.И.Солженицын как раз 
и показывал пример деятельности свободных людей, людей 3-й позиции. И только 
перед высылкой из страны статьями "Жить не по лжи" и "Письмо вождям" он выдвинул 
иную, радикальную, практически экстремистскую, и потому, на мой взгляд, 
ошибочную программу.</p>
<p>"Статья "Активно думать, успешно работать, смело жить" - 
мой отклик на призыв Солженицына, выполнение моего долга перед ним. И думаю, что 
этот долг я выполнил честно, без лжи и лени. Мне нечего стыдиться. </p>
<p>Напротив, те, кто превращает Солженицына в непогрешимого 
оракула, кто делает из Солженицына Маркса-Ленина, именно эти люди лгут и 
искажают истинного Солженицына. Не уподобляйтесь им, Валерий!</p>
<p>2. "Нельзя жертвовать хорошей работой ради строгого 
исполнения моральных принципов" утверждает К.Б. Но в наших условиях цена за 
хорошую работу, благосостояние, за видимое спокойствие - духовный распад, смерть 
при жизни. Размер этой цены мы осознаем, только перестав жертвовать собой, и дай 
Бог, чтобы для нас это прозрение не оказалось слишком поздним". </p>
<p>И опять я вынужден фиксировать Вашу ложь и извращения. 
Чтобы восстановить истину, мне придется здесь привести историю появления 
вышеприведенных слов "о хорошей работе".</p>
<p>Т.М.Великанова писала: "Для личности прежде всего важно - 
сохранить себя, т.е. мораль: не украсть, не предать, не изолгаться (не 
привыкнуть ко лжи); обрести свое достоинство и свое лицо в работе, плохо 
работать - аморально..."</p>
<p>В ответе я поддержал это определение: </p>
<p>"Прибавив к христианской традиционной морали еще и 
требование хорошей, достойной работы, получаем вариант протестантской этики... 
Требование хорошей работы - одно из основных, ключевых в протестантской 
этике..."</p>
<p>А дальше, упрекая Т.В. в непоследовательности по 
отношению к "протестантскому варианту" (отрицательное отношение к "заботе о 
брюхе", экономическим целям и т.п.), я писал:</p>
<p>"Но другое меня ставит в тупик: как можно называть 
хорошую работу только "заботой о брюхе"? Неужели же духовность, мораль и право 
находятся исключительно вне сферы труда? И как можно эффективность труда (его 
полезность) противопоставлять морали и праву?</p>
<p>Конечно, эти стороны жизни могут входить в противоречие, 
но нельзя их разрешать одну за счет другой, нельзя жертвовать хорошей работой 
ради строгого исполнения иных моральных требований, и наоборот. Такие 
противоречия можно примирять только совместно, системно, с одной общей точки 
зрения (жизни человечества, например)".</p>
<p>Каким же образом "хорошая работа" как одно из главных 
моральных требований (в чем были согласны Т.Великанова и я) превратилась у Вас, 
Валерий, в "хорошую работу=благосостояние и спокойствие", за которую надо 
платить "духовным распадом, смертью при жизни"?</p>
<p>Многое можно объяснить запальчивостью, невнимательностью, 
непониманием и т.д. А нет ли закономерности в этих ошибках? - Конечно, есть.</p>
<p>Обсуждаемому обвинению в мой адрес Вы предпослали длинное 
рассуждение о двоемыслии, о тех способах, которыми "ничтожества, духовное 
дерьмо" (в одном случае),... "быдло и трус" (в другом),... и, наверное, еще 
похлеще - в остальных случаях,... пытаются замаскировать свое приспособление к 
действительности... Думаю, что не ошибаюсь: передержка моих слов Вам 
понадобилась именно для того, чтобы подвести меня под ранг "двоемыслящего 
ничтожества и быдла"...</p>
<p>Я уже перестаю удивляться, почему Вы, столь 
высоконравственный защитник "Жизни не по лжи!", в реальной полемике хватаетесь 
за примитивные подтасовки. Мне остается задать только один вопрос: "За что Вы 
меня ненавидите?" - За то ли, что осмеливаюсь не соглашаться с Солженицыным и 
видеть в нем нового идола? За то ли, что осмеливаюсь призывать к реализации 
принципов "двухсотлетней давности" - экономической свободы? Или за то, что 
вступаюсь за честь и достоинство свободных людей, которым Вы в конкретных 
случаях собственной нужды -"признательны", но признать "героями дня" не намерены 
и даже напротив: вместе с некоей старушкой склонны отнести к "антихристову 
семени"? За то ли, что эти люди мне дороги не меньше интеллигенции?</p>
<p>Ответьте мне - за что?</p>
<p>3. "Для К.Б. выполнение принципов экономической свободы 
связано, прежде всего, с нарушением морально-этических норм неофициальной 
культуры, против которых он так активно выступает. Оглядываясь назад, он 
сворачивает шею; борясь за экономические свободы, готов оправдать (в 
целесообразных случаях, конечно) и убийства, и воровство, и ложь".</p>
<p>Ловко Вы меня объяснили, только вот чем объяснить Вашу 
очередную неправду? Неужели благой целью посрамления буржуазно-демократических 
взглядов? Может, "морально-этические нормы" неофициальной культуры допускают 
это?</p>
<p>Да, я говорил об оправдании "убийства, воровства и лжи" - 
но целиком на материале "Архипелага Гулага", истории завоевания зэками свободы с 
помощью убийства стукачей и т.п. История эта изложена в моей статье довольно 
подробно, я не могу ее здесь цитировать. Но где же оправдание убийства 
экономической борьбой? (о производственном воровстве и туфте-обмане - особый 
разговор). Неужели можно было не заметить, что я отрицаю любое убийство и 
насилие - даже в отношениях между "приверженцами Архипелага и приверженцами 
свободы"?</p>
<p>И почему Вы, столь полно характеризующий деятельность и 
тексты Солженицына, ни словом не упомянули об этой, центральной для меня 
истории, рассказанной Александром Исаевичем? (Именно после ознакомления с нею и 
созрело окончательно у меня решение писать статью "Активно думать...").</p>
<p>Дальше. Где Вы нашли у меня "необходимость нарушения 
морально-этических норм неофициальной культуры", когда я многократно повторял 
лишь о противоречии "третьей позиции" с официальной моралью сталинского 
социализма и о мнимом противоречии ее с общими моральными принципами (в связи с 
чем и распространено отрицательное отношение к диссидентами и экономически 
свободным людям). Весь смысл моей статьи - в призыве к большой работе по 
уяснению истинной моральности (третьей позиции), свободной частной жизни (этим 
она и кончается) - так как же отсюда можно вывести, что К.Б. активно выступает 
против морально-этических норм неофициальной культуры"?</p>
<p>Совсем наоборот: именно К.Б. отстаивает моральность 
неофициальной культуры (только не в Вашем понимании). Эта неофициальная мораль 
имеет очевидные противоречия с официально провозглашаемыми принципами. А вот что 
Вы, собственно, отстаиваете, неясно. И возникает законный вопрос: А не сходятся 
ли ценности отстаиваемой Вами "неофициальной культуры" на деле с официально 
пропагандируемыми "заповедями"? В чем же разница между официальными и 
неофициальными противниками экономической свободы, я ее что-то не 
различаю...</p>
<p>4. "Независимо от того, подлец ты или честный человек, ты 
- хорош, если эту прогрессивную силу одобряешь и плохой ("интеллигентская 
задница" - определение из другой работы К.Б. "Я обвиняю интеллигенцию"), если 
для тебя эта прогрессивность не главный критерий". (В.А.)</p>
<p>- Очередное, выдуманное от начала до конца обвинение. Оно 
может, конечно, звучать весьма забавно в качестве подначки в дружественной 
пирушке, но не в серьезном разговоре о судьбах Родины.</p>
<p>Да, я высказываю свои оценки различных классов нашего 
общества, в том числе и "этические" (а какие же еще?) и думаю, что имею на это 
гражданское право. Но как отсюда смогло выродиться очередное обвинение К.Б. в 
аморализме, постигнуть не могу.</p>
<p>Действительно, мною было употреблено в другой работе (она 
называется: "Я обвиняю интеллигентов-служащих и потребителей...") нехорошее 
слово "интеллигентные задницы". Сказано было в раздражении по поводу тех людей, 
которые, покупая у спекулянтов дефицитные товары, клянут их за повышение цены... 
Причем тут "одобрение прогрессивных сил"? Вот Вы, Валерий, "признательны" 
спекулянту за покупку, и поэтому к Вам это определение никак не относится, хоть 
Вы и против любых "прогрессивных сил" (наверное...)</p>
<p>И все же мне трудно успокоиться... Так зачем же Вам нужно 
было, Валерий, вытаскивать эту "задницу" из совсем другой работы (хотя я уже 
извинился там за свою несдержанность и попросил зачеркнуть ее), зачем в 
очередной раз приписывать аморальность?</p>
<p>5. "Позиция К.Б. и его сторонников хорошо укладывается в 
русло "отчаянного марксизма": "Не получилось с одним гегемоном - давай на его 
место другого (сразу ему и этическую оценку, и новую прогрессивную мораль). Где 
там лучше живут? - В Штатах. А почему? - Да, рынок же, свободный рынок! давай и 
у нас такой сделаем". (В.А.)</p>
<p>- Меня не надо скрести, чтобы найти "марксиста". И так 
отвечу правду: да, воспитан и получил "марксистскую выучку". И не вижу тут 
ничего ужасного, ибо она не помешала мне придти к либерально-демократическим 
убеждениям. Но неверно и нехорошо приписывать мне вопрос о "гегемоне". Неудачна 
Ваша очередная выдумка, Валерий. В своей статье я анализировал и подчеркивал 
участие в экономическом освобождении всех классов и групп нашего общества: 
рабочих, крестьян, интеллигенции-служащих, не выделяя никакого "гегемона". А вот 
Вы, уважаемый Валерий, очень склонны выделять особую группу - "диссидентов" и c 
особой "неофициальной культурой" - чем же это не "гегемон"? И кто из нас ближе к 
"отчаянному марксизму"?</p>
<p>6. "...Надо быть лицемером (в чем, по существу, К.Б. 
обвиняет Солженицына и Татьяну Великанову, противопоставляя их высказывания 
личной практике), чтобы не взирая на общественную или групповую пользу, думать о 
собственной душе".</p>
<p>Об абсурдности обвинения меня в неуважении к 
А.И.Солженицыну я уже говорил, что же касается Т.Великановой, то придется снова 
обратиться к тексту моего ответа ей:</p>
<p>"Я думаю, что сама жизнь и деятельность Т.М.Великановой 
вполне опровергают высказанные ею положения, но эти последние показывают, 
насколько же трудно ей при таком сознании своей греховности, без вины 
виноватости. </p>
<p>Да нет у Т.В. никакой вины и никакой греховности. Есть 
только реальные заслуги - в выработке обществом новой моральной системы и 
подготовке к принятию новых законов!"</p>
<p>Так где же здесь "обвинения по существу"? И кто же в 
этой' ситуации "лицемер"?</p>
<p>Но хватит объяснений, дорогой Валерий.</p>
<p>Думаю, что Вы не одиноки. Уверен, что таких радикальных 
защитников особой, высокой, духовной, нравственной, оппозиционной... 
"неофициальной культуры" немало. Что, подобно Вам, многие из них чувствуют себя 
солью земли, сверхлюдьми, отделенными от прочих "экономических" смертных 
непроходимыми нравственными и духовными "несовместимостями", а фактически 
чувствуют себя выше экономически освобождающегося народа, и презирают его. Что, 
подобно Вам, они гордятся своим высоким уровнем и культурой. Еще немного, и они 
почувствуют себя вправе учить всех остальных "жить не по лжи", стать новым 
авангардом.</p>
<p>И я очень рад, что Вы высказались откровенно, как провели 
эксперимент: чего стоят на практике Ваши красивые принципы. Думаю, что и другим 
будет полезно ознакомиться с результатами этого нечаянного эксперимента, 
убедиться воочию, как легко в борьбе за "духовное и моральное" загрязнить свою 
душу беспардонными средствами и передержками.</p>
<p>Вы, Валерий, взялись защищать лозунг "жить не по лжи" - и 
сколько уж наворотили на тринадцати страницах текста! Так почему это происходит? 
Откуда это желание "разгромить любыми средствами"? Откуда этот непроходимый 
идеализм и нетерпимость?</p>
<p>А.И.Солженицын своим лозунгом призывал нас к гражданскому 
неповиновению "официальной лжи". Мне же сегодня кажется гораздо более важным и 
насущным применить его к нам самим, к Самиздату. Вот здесь воистину надо жить 
без лжи и злобы. </p>
<p>Выбросите на свалку свою ненависть к Буржуадемову, 
Валерий!</p>
<p>Жить по правде в нынешнем обществе очень трудно. Так 
давайте хоть в Самиздате по правде!</p>
<table width="600"> <tr> <td>
<a href="abne.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="abvdop.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
