{% extends 'base.html' %}
{% block title %}poiski8{% endblock %}
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Поиски №8. Приложение </h3>
<p>Предуведомление</p>
<div>
<ol>
<li>
<div> </div></li>
<ul>
<li>
<div>А.И.Солженицын <i>Жить не по 
лжи!</i></div></li>
<li>
<div>А.И.Солженицын <i>Сахаров и критика 
"Письма вождям"</i></div></li>
<li>
<div>К.Буржуадемов <i>Активно думать, 
успешно работать, смело жить</i></div></li>
<li>
<div>Мнения разделились</div></li>
<li>
<div>М.Ростиславский <i>Без 
лозунгов</i></div></li>
<li>
<div>Т.М.Великанова <i>Возражения</i></div></li>
<li>
<div>М.А.Поповский <i>По поводу статьи 
"Активно думать..."</i></div></li>
<li>
<div>С.О. <i>О реминисценции 
экономического романтизма</i></div></li>
<li>
<div>В.Никольский <i>Мысли по 
поводу</i></div></li>
<li>
<div>А.Гринева <i>Учитель и строптивый 
ученик</i></div></li>
<li>
<div>Анонимный отзыв <i>Замечания по 
статье К.Буржуадемова</i> </div></li>
<li>
<div>В.Грин <i>К критике 
негуманистической морали </i></div></li>
<li>
<div>К.Светлов <i>Белый бизнес и надежды 
на выздоровление </i></div></li>
<li>
<div>Е.П. <i>Некоторые замечания о 
морали </i></div></li>
<li>
<div>Два диалога</div></li>
<li>
<div>В.Ф.Абрамкин <i>Не свернуть бы шею, 
оглядываясь назад</i> </div></li>
<li>
<div>
К. Буржуадемов 
<i>
Вступая в 
дискуссию
</i>
</div></li>
<li>
<div>
  В.Абрамкин 
<i>В дополнение к 
сказанному</i></div></li>
<li>
<div>
К.Буржуадемов 
<i>Простите и 
выслушайте...</i>
</div></li>
<li><div>Г.С.Померанц 
<i>Письма о 
нравственном выборе</i>
</div></li>
<li>
<div>К.Б.<i>Возможно, я не прав, но не 
могу иначе</i></div></li>
<li>
<div>Г.С.Померанц
 <i>Ответ на 
ответ</i> </div></li>
<li>
<div>Приложение.И.Р.Шафаревич <i>Интервью (отрывок)</i></div></li>
<li>
<div>Предварительные итогм</div></li>
<li>
<div>К.Б. <i>Предварительные итоги 
дискуссии</i></div></li>
<li>
<div>П.М. Абовин -Егидес <i>Чем 
жить7</i></div></li></ul>
<li>
<div> </div></li>
<ul>
<li>
<div>Вокруг Солженицина</div></li>
<li>
<div>Револьт Пименов <i>О социальном 
диалоге</i></div></li>
<li>
<div>Сергей Маслов <i>Со-чувствие 
(отрывки)</i></div></li>
<li>
<div>Глеб Павловский <i>По ту сторону 
принципа терпимости</i></div></li>
<li>
<div>Розалия Баренбоим <i>Несколько слов 
в защиту образованщины</i></div></li>
<li>
<div>Вацлав Хавел<i> Жить в 
правде</i></div></li></ul></ol></div>
<table width="600"> <tr> <td>
<a href="shwei.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
</td></tr></table>
<br/>

{% endblock content %}
