{% extends 'base.html' %}
{% block title %}И.Р.Шафаревич Интервью корреспонденту газеты "Франкфуртер Альгемейне Цайтунг" г-ну Виланду. Май 1978г.*{% endblock %}
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 3 (1978 г.) </h3>
<h1>И.Р.Шафаревич <em>Интервью корреспонденту газеты 
"Франкфуртер Альгемейне Цайтунг" г-ну Виланду. Май 1978г.*</em></h1>
<p>* Поскольку попытки привлечь к обсуждению нашей темы 
представителей почвеннического (православного) направления потерпели неудачу, 
приходится судить о развитии их позиции по иным самиздатским материалам. Сама 
работа "Жить не по лжи!" A.И.Солженицына написана в феврале I974 г. Сегодняшнее 
понимание "почвенниками" главных задач дня отражено в приводимом ниже интервью 
другого виднейшего представителя - И.Р.Шафаревича. Приводится только первая, 
более теоретическая часть этого интервью</p>
<p><u>Как Вы оцениваете нынешнее 
положение диссидентов в Советском Союзе? Какие течения Вы различаете среди них? 
Думаете ли Вы, что расширение диссидентского движения связано с политикой 
разрядки?</u></p>
<p>- Понятие "диссидента" очень расплывчато и, безусловно, 
нуждается в уточнении. Во время французской революции говорили: теперь есть 
только две партии - партия живых и партия мертвых. Мне кажется, и в нашей стране 
все люди прежде всего разделяются на два типа. Первые - это те, кто чувствует, 
что его судьба неразрывно связана с судьбой его страны, кто ощущает себя 
ответственным лично за ее будущее. Вторые - это все остальные. Я не хочу 
сказать, что первый тип и есть диссиденты, все это совершенно неверно. Под 
западное понятие "диссидента" подходят лишь те из них, кого их жизненная 
установка привела к явному столкновению с аппаратом власти - кто выступил с 
нежелательным властям заявлением, опубликовал по собственной инициативе статью 
или книгу на Западе и т.д.. Но подавляющее большинство в такое явное 
столкновение не вступают: учитель, старающийся рассказать школьникам вопреки 
программе побольше о Пушкине и поменьше о Шолохове; люди, борющиеся против 
загрязнения озера Байкал, вызывая неудовольствие начальства; писатель, 
рассказывающий о трагической судьбе русской деревни и т.д. и т.д. И все же 
основным представляется мне не факт столкновения с властями, прежде всего 
бросающийся в глаза, а <u>мотив</u> этого столкновения: не 
внешнее действие, а внутренняя его причина. Например, человека, вступающего в 
какой-нибудь "Комитет" или "Комиссию", чтобы тем самым заставить власти 
разрешить ему эмигрировать - было бы неразумно относить к тому же социальному 
типу. Я не хочу никак квалифицировать такую позицию, но только обращаю внимание 
на то, что здесь мы имеем два принципиально различных явления, которые неразумно 
объединять в едином понятии, хотя бы потому, что они совершенно различно 
прогнозируемы. Подобно тому, что человека и страуса, хотя можно объединить в 
одну группу по признаку хождения на двух ногах, но это не поможет пониманию 
сущности ни одного из обоих видов.</p>
<p>Среди диссидентов можно указать два течения, наиболее 
явно расходящихся в своих принципиальных установках (хотя в данный момент обе 
установки могут приводить и к очень близким действиям). Одна исходит из того, 
что все общества развиваются примерно по одним и тем же закономерностям, что на 
этом едином пути Запад обогнал Россию и Советский Союз, и потому единственно 
здоровый путь - это развитие по западному образцу. На такой точке зрения 
сходятся как те, кто "западный образец" понимают в духе парламентской 
демократии, так и те, кто исходят из другой идеологии западного происхождения - 
марксизма. До революции подобная точка зрения тоже существовала и ее 
последователи назывались "западниками".</p>
<p>Другие основываются на том убеждении, что каждый народ 
индивидуален, именно эта индивидуальность должна определять его жизненный путь, 
только благодаря ей народ и ценен для всего человечества. Поэтому они считают, 
что направление развития нашей страны должно органически определяться ее 
предшествующей историей, что разрыв в исторической традиции может быть смертелен 
для нации и должен быть всеми силами преодолен. Для большинства представителей 
этого течения основополагающую роль играют взгляды Достоевского на русскую 
историю. Достоевский сам называл себя "почвенником". Мне кажется, что такой 
термин хорошо характеризует все это течение.</p>
<p>- Политика разрядки не вызвала расширения диссидентского 
движения по той причине, что такого расширения за последнее время и не 
произошло. Но интересно, что не произошло и его сужения. Сколько я помню, 
начиная с того времени, когда впервые заговорили о диссидентах, после очередного 
процесса каждый раз казалось, что это движение пришло к концу. Но каждый раз оно 
восстанавливалось в прежнем, весьма небольшом размере. По-видимому, именно в 
таком размере оно зачем-то нужно для жизни страны, и страна его поддерживает на 
этом уровне.</p>
<p><u>Как Вы определяете Вашу идейную 
позицию? Причисляете ли Вы себя к какой-либо группе? Можно ли считать, то Вы 
выражаете взгляды какой-либо группы или идейного течения?</u></p>
<p>- Я разделяю взгляды того направления, которое я выше 
характеризовал как "почвенников". В частности, я считаю, что начало нашей 
национальной истории (точнее говоря, история народа, который в течение 
нескольких веков называл себя русским, а потом разветвился на три родственных 
народа: белорусский, украинский и русский) неразрывно связано с принятием 
православия. Тогда возникло сознание национального единства и представление о 
некоторых общенациональных целях. Православие было духовным стержнем, который 
помог перенести татарское иго, сохранив свои национальные идеалы. Оно дало силы 
преодолеть распад русского государства в XVII в., когда в Москве стоял польский 
гарнизон и сидел польский царь. Опираясь на православие, страна смогла выстоять 
под наплывом западных веяний, хлынувших после реформ Петра Великого, и 
иностранцев, образовавших правящий слой страны - и все же не потерять своей 
индивидуальности, но творчески вобрать в себя западные влияния. Так возникла 
русская культура XIX века, величайшие гении которой - Гоголь, Достоевский, 
Толстой - тоже стояли на почве православия. Мне кажется совершенно 
неправдоподобным, что какой-либо народ может отказаться от источника, питавшего 
его духовную жизнь в течение тысячелетия, и остаться духовно живым организмом. 
Поэтому я уверен, что если жизнь нашей страны еще не кончена, то возможна она на 
пути православия и развития русской национальной традиции.</p>
<p>Я не принадлежу ни к какой группе, если под этим 
подразумевать хоть какую-либо форму организации,- хотя бы то, что члены группы 
знают друг друга! Но я думаю, что многие придерживаются близких мне взглядов. 
Число их оценить, конечно, невозможно, но я думаю - что очень многие. Об этом 
говорит и тяготение молодежи к религии - раньше в церкви можно было увидеть 
почти только пожилых женщин (они и отстояли церковь в самое страшное время), а 
теперь на большие праздники в церкви теснится, в основном, молодежь, или интерес 
к старым иконам, зданиям и церквам, движение в защиту памятников старины. И 
особенно - замечательная литература о русской деревне, возникшая в последние 
десятилетия - одно из самых значительных явлений в культуре нашей страны.</p>
<p><u>Что Вы можете сказать о Вашем 
отношении к Солженицыну? Разделяете ли Вы общественно-политические взгляды 
Солженицына, высказанные им, например, в "Письме вождям Советского 
Союза"?</u></p>
<p>- Я думаю, что Солженицын принадлежит к тому же 
духовному течению, так же смотрит на будущей нашей страны. Более того, он ярче и 
глубже всех сумел выразить это мировоззрение. "В "Письме вождям" он сказал: 
"Вести такую страну - нужно иметь национальную линию и постоянно ощущать за 
своими плечами все 1100 лет ее истории, а не только 55 лет, 5% ее". Вряд ли 
можно более выпукло и четко выразить этот взгляд.</p>
<p>Что же касается до конкретных рекомендаций его "Письма", 
то что ж их обсуждать, когда адресаты не проявили к ним никакого признака 
интереса!</p>
<p><u>К какой общественной и 
политической альтернативе нынешней системе Вы склоняетесь? Считаете ли Вы 
либеральную демократию приемлемой моделью или предпочитаете авторитарную 
государственную систему?</u></p>
<p>- Этот вопрос представляется мне сейчас, в условиях 
нашей страны, безнадежно академическим, абсолютно не связанным ни с какой 
жизненной реальностью. Я, например, не встречал в своей жизни ни одного 
человека, считавшего желательным немедленное введение у нас многопартийной 
парламентской системы (равно как и монархии). Все, вероятно, чувствуют, что 
такой перелом жизни привел бы только к еще одному кризису, быть может, 
последнему для этой страны. Что нам нужно - это максимум духовных изменений при 
минимуме изменений внешних (какой-то минимум все же необходим). Нужен возврат к 
Богу и своему народу, ощущение общенациональных целей и чувство ответственности 
перед историей и будущим своей страны. Мне кажется, общественный строй есть 
нечто производное от духовного состояния народа. И он должен не логически 
конструироваться - это опасный путь "Утопий", а органически вырастать из 
истории.</p>

<br/>

{% endblock content %}
