{% extends 'base.html' %}
<title>А.И.Солженицын Сахаров и критика "Письма вождям"</title>
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 1 (1977 г.) </h3>
<h1>А.И.Солженицын <em>Сахаров и критика "Письма 
вождям"</em> </h1>
<p>...Критика ("Письма вождям"), пришедшая от московской 
интеллигенции, больше всего, пожалуй, поражала не сама собой, а - холодным 
игнорированием другого, одновременно опубликованного документа и обращенного 
прямо к советской интеллигенции: "Жить не по лжи!" Следовало нам или не 
следовало обращаться к советским правителям, "так" или "не так" было им 
предложено, откажутся они или не откажутся от идеологии - это не имело решающего 
и единственного значения: был предложен второй и более верный путь, с нашей 
стороны: отшатнуться от идеологии <u>нам</u>, перестать <u>нам</u> поддерживать это злобное чучело - и оно рухнет 
помимо воли "вождей". Странно, этого призыва, обращенного прямо <u>к нам</u>, многословные московские критики моего письма <u>не заметили</u>.</p>
<p>По пословице: где просто, тут ангелов со-сто, а где 
хитро - там ни одного...</p>
<p>"Континент", № 2. 1975г. </p>
<table width="600"> <tr> <td>
<a href="solghenizin.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="burghuademov.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
