{% extends 'base.html' %}
<title>Т.М.Великанова Возражения</title>
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 1 (1977 г.) </h3>
<h1>Т.М.Великанова <em>Возражения</em></h1>
<p>В статье К.Буржуадемова смешаны и спутаны 4 момента: 1) 
отношение к морали; 2) отношение к работе; 3) отношение к закону; 4) отношение к 
власти.</p>
<p>Общество устроено плохо - неэффективная экономика, 
неуважение к закону, недобросовестная работа, падение морали. Каждый гражданин 
вынужден выполнять одно - нарушать другое. Поэтому определим сперва, что важнее 
- а) для личности; б) для нации.</p>
<p><u>Для личности</u> прежде всего 
важно - сохранение себя, т.е. мораль: не украсть, не предать, не изолгаться (не 
привыкнуть ко лжи); обрести свое достоинство и свое лицо в работе, плохо 
работать - аморально. Отношение к закону и власти для человека в конкретном 
обществе могут быть разными, но должны быть подчинены п.1 и п.2.</p>
<p><u>Для нации</u> важно, чтобы в ней 
были и сохранялись личности, но очень существенны и п.п.3,4 (отношение к закону 
- правосознание к власти, государству- осознание этой власти, этого государства, 
как своей власти, своего государства есть элемент национального 
самосознания).</p>
<p><u>Для совершенствования 
экономики</u> могут быть разные пути и способы: эволюционные и революционные, 
более или менее радикальные. Но, во-первых, каков будет реальный путь - мы не 
знаем, слишком много объективно-исторических моментов это определяет. В своей 
личной деятельности, даже и для людей активных и конструктивных в этой области, 
стоит исходить из реальности, а не из модели, которая тебе больше нравится. А 
во-вторых, не стоит в разумном переустройстве экономики усматривать выход из 
современного маразма; и уж, во всяком случае, не стоит экономическим целям 
подчинять все другие - личные и национальные цели.</p>
<p>Поэтому для отдельного гражданина грешно пренебрегать 
своей личностью для экономики (через заботу о себе и своих близких, как это 
говорится в статье), попирая для этого мораль и право. И хотя человеку реальному 
приходится нарушать иногда и мораль, и Закон, но призывать к этому - грешно 
вдвойне. Это будет означать распад нации через распад личности.</p>
<p>И примеров тому - много, ближайший - самый убедительный: 
определили блистательную цель - коммунизм, изобразили ее конкретное воплощение в 
виде общества, построенного на брюхе, и стали убеждать, что для такой 
блистательной цели - все средства хороши. И поехало...</p>
<p><u>Выводы.</u> Противостоять власти 
ради того, чтобы противостоять, из любви к противостоянию - недостойно. 
Противостоять нужно злу, в частности, и власти, когда зло исходит от нее.</p>
<p>"Противостояние" никак не распространяется на 
работу.</p>
<p>"Стремиться к своей и других выгоде" - пожалуйста, пока 
это не встает в противоречие с моралью. Нарушение же иногда моральных норм 
должно всегда восприниматься как твой собственный грех. И только так. Если уж 
нарушаешь, пусть вынужденно, бери этот грех на себя, но не возводи в норму, в 
новую мораль.</p>
<p>Почти то же относится и к законам. Если готов нарушить 
их в вынужденной ситуации - будь готов и нести ответственность за это.</p>
<p>То, что тоталитаризм ищет себе "врагов" - верно, но это 
его личное дело, и нельзя свою позицию определять в зависимости от этого, иначе 
невозможно будет противостоять злу.</p>
<p>То, что власть устроена так, что экономика держится на 
нарушениях инструкций и законов - верно, и приходится с этим считаться, и 
приходится нарушать, но это никак не должно повлиять на твое отношение к Закону. 
Т.е. опять, нельзя возводить нарушение закона в норму общества, это его 
беда.</p>
<table width="600"> <tr> <td>
<a href="Rostislawski.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="popovski.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
