{% extends 'base.html' %}
<title>В.Н. О тезисе Солженицына "Жить не по лжи!"</title>
{% block content %}



<h3><i>В.Абрамкин, К.Буржуадемов, 
Т.М.Великанова, А.Гринева, В.Грин, В.Н., В.Никольский, С.О., Е.П., Г.С.Померанц, 
М.Ростиславский, К.Светлов, В.В.Сокирко</i></h3>
<h2>Жить не по лжи</h2>
<h2><i>(сборник откликов-споров на 
статью А.И.Солженицына)</i></h2>
<h3>Выпуск 1 (1977 г.) </h3>
<h1>В.Н. <em>О тезисе Солженицына "Жить не по 
лжи!"</em></h1>
<p>Тезис Солженицына "Жить не по лжи" понимается 
К.Буржуадемовым в его дискуссионных заметках излишне конструктивно, пожалуй, 
даже уставно. Тогда как, на мой взгляд, этот выстраданный призыв следует 
понимать в большей степени как моральный запрет. Такое понимание представляется 
более естественным, особенно, если учесть поведение самого Солженицына. В этом 
смысле приводимые автором заметок доводы о готовности и принятии Александром 
Исаевичем компромиссов, подтверждают предлагаемую точку зрения.</p>
<p>В нашем обществе единственная возможность сделать этот 
призыв хоть мало-мальски реалистичным не только для избранных единиц-героев, а 
для достаточно широкого круга людей - это понимать его, в значительной степени, 
как форму морального запрета и, в меньшей степени, как поведенческое 
ограничение.</p>
<p>В обществе обесцененной человеческой речи, в обществе, 
использующем двоемыслие в качестве основной формы общения, каждый человек 
поставлен в условия, при которых он, если и может избежать активной лжи, то 
ценой огромных усилий, добровольно принимаемых жесточайших ограничений на выбор 
профессии, знакомых, друзей, на род общественной деятельности и т.п. И уже 
совершенно невозможно для среднего человека уклониться от участия в лжи 
пассивной: он приобщен к ней на собрании, когда молча выслушивает ритуальный 
бред обязательств, когда молча одобряет ирреальных "планов громадье", на 
производственном совещании, когда молчит при двойном счете: одном - туфтовом - 
для начальства, другом, по существу - для себя; в разговоре с сослуживцами, 
когда молчит при обсуждении технологических режиссерских находок в лживом и 
пустом телевизионном фильме, посвященном колхозной деревне, в котором, конечно, 
нет ни проблемы рабочих рук, ни проблемы пьянства, а есть только единственная 
проблема - это борьба, в которую вовлечено население всех возрастов огромного 
совхоза, борьба "хорошего с лучшим" с заранее предрешенным исходом, поскольку на 
стороне лучшего прогрессивные силы народа, руководимые авангардом гегемона.</p>
<p>Действенность для каждого индивидуума принятого им 
добровольно морального правила "жить не по лжи" состоит в том, что, прибегая в 
определенные моменты к некоторой компромиссной форме поведения, он осознает 
нарушение наложенного на себя запрета и или казнится этим, либо пытается 
компенсировать свое поведение положительной оценкой принятого компромисса. Для 
нашего времени и нашего общества сам факт оценивания своих поступков "по 
внутренней шкале в терминах "нравственно" и "безнравственно", а не в более 
привычных понятиях "выгодно" и "невыгодно" является, вне всякого сомнения, 
значительным достижением. По-видимому, в тоталитарном социалистическом 
государстве, где сверхъестественные, мистические силы для большинства, если и 
существуют, то как силы, могущие или дать, или отнять (отсюда, например, 
ритуальные телодвижения при вытаскивании лотерейного или экзаменационного 
билета), и иногда - как сила всевидящая, всепроникающая и требующая, в конце 
концов, ответа за все совершенные дела, формирование своей внутренней системы 
моральных ценностей - это одна из наиболее действенных, а может быть, и 
единственная, доступная многим, форма противопоставления личности режиму, форма 
ее морального высвобождения. В таком обществе люди лишены Бога, Его указующих и 
запрещающих заповедей, по которым они могли бы сверять свои дела и поступки. Нет 
ни пастырей его, ни молитвы, ни исповеди, в которых человек мог бы облегчить 
душу свою и испытать блаженное чувство сопричастности правде, радость полной 
откровенности, радость самопознания. Есть лишь официальные, предписанные режим и 
мораль: одиннадцать неестественных для человеческой сущности и внутренне 
противоречивых пунктов "Кодекса" для формулировки "Майн кампф". В этих условиях 
у человека остается единственная возможность приобщиться Богу - опереться на 
ощущение добра и зла, заложенные в момент его рождения.</p>
<p>Именно в этом и состоит, по моему мнению, ценность 
призыва А.И.Солженицына, и он не только не противоречит тезису К.Буржуадемова: 
"активно думать, успешно работать, смело жить", а скорее, напротив, заставляет 
активно думать, делает небессмысленным попытки понять, что значит успешно 
работать, дает душевные силы для того, чтобы смело жить.</p>
<p>Во всем этом остается открытым вопрос: пришло ли то 
время, когда суровый призыв: "жить не по лжи" сможет найти отклик в наших душах? 
Ведь в каждый момент времени соблюдение этого принципа, как правило, 
противоречит сиюминутной выгоде. Единственная душевная эмоция, которую дарит 
следование этому принципу - душевное удовлетворение. Оттого он и реализуется в 
той мере, в которой наше общество испытывает душевную неловкость, беспокойство. 
Есть ли среди нас такие люди? И много ли их? - Нет, не герои. О героях мы знаем 
- их единицы. Существуют ли обыкновенные люди, испытывающие душевный разлад от 
несоответствия окружающей действительности и своих внутренних представлений о 
правде и лжи. Есть ли среди нас такие люди? - К счастью, да! Об этом 
свидетельствует хотя бы так долго живущий Самиздат - без читателей он немыслим, 
а читать теперь его более хлопотно, чем модно, поэтому читают его только те, кто 
ищет правды и не только для ума, но и для души.</p>
<p>И хочется верить, что, раз зародившись в нашем обществе 
призыв "жить не по лжи!" будет жить, и будет множиться число людей, следующих 
ему. Может быть, медленно и, уж конечно, медленней, чем бы хотелось, но ведь 
недаром говорят: "Капля камень точит".</p>
<p>Тезис "чем лучше для себя и сейчас, тем лучше обществу и 
сейчас и потом" нуждается в уточнении. Слишком уж тенденциозно утверждение, что 
левый бизнес - это работа на сэкономленных ресурсах. Порой и, может быть, 
довольно часто это - крючки для гальюнов из титановой проволоки (при малых 
оборотах бизнеса) или ухудшение качества изделий продукции на основном 
производстве, ресурсы которого используются для широкого бизнеса. Требует самого 
тщательного рассмотрения и моральная сторона левой деятельности. Является ли 
благом отрицание государственной морали без противопоставления ей некоторой 
личной или групповой, более широкой по своим нравственным основам?</p>
<p>Безусловной идеализацией левого бизнеса является и 
представление его в качестве своеобразной отрасли, исправляющей своим 
рациональным использованием материальных ресурсов нерациональности других 
отраслей. Дело в том, что левый бизнес не ограничивается только сферой 
производства, хотя, как уже говорилось, и здесь не все обстоит гладко и 
благопристойно (например, ухудшение качества выпускаемой продукции), он 
неизбежно проникает в сферу распределения и здесь, пользуясь постоянным 
дефицитом и создавая искусственный, принимает формы, присущие самым уродливым, 
самым кровожадным монополиям (жилье, автомашины, мебель, земельные участки, а за 
последнее время - здравоохранение и образование). </p>
<table width="600"> <tr> <td>
<a href="popovski.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="sokirko.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
