{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко. "Воронежская земля"{% endblock %}
{% block content %}



<br/><br/>
<p>95. <u>Раздел 3. "Воронеж и поэт Никитин"</u>В самом Воронеже мы провели день и уехали, понимая, что все равно усвоить все богатства его для нас невозможно, только центр. </p> <p>96. Со студенческих дет я охотно впускаю в свои уши всякую информацию о высокой воронежской культуре, из книг и воспоминаний моей сотрудницы, уроженки Воронежа, чту Никитина и Мандельштама. Дa, история своим перстом указала: быть здесь культурному центру. </p>
<p>97. Почему? - Город очень большой, в нем почти миллион, треть всех жителей воронежской земли. Высокий уровень промышленности и образования, 4 театра, университет, 8 вузов, музеи. Здесь родились и воспитывались Кольцов, Никитин, Слепцов, Бунин, Платонов, Маршак...</p>
<p>98. В войну Воронеж не был занят немцами полностью. Через него проходил фронт. Его так и называли - Воронежский фронт. Памятник.</p>
<p>99. Как будто из самой земли вырос народ-солдат, чтобы защитить свой город и свою землю...</p>
<p>100. <u>Известен с 1177г.(?)</u> Если бы церкви могли говорить, они, конечно, рассказали о начале города. Но было ли начало Воронежа русским? Вот Брокгауз говорит, что в древности здесь жили хазары, последние гробницы которых видели еще в петровское время. Русские же Воронеж с православными церквами на берегу лесной одноименной реки был поставлен как боевая крепость только сыном Грозного, царем Федором в 1586 году. По сравнению с иными южными крепостями его преимуществом была крайняя близость к донским казакам.</p>
<p>101. Нижний Вольный Дон - особая тема. Для нас важно, что именно в Воронеже был главный контакт-союз самодержавной Москвы с анархическим Доном. Именно Воронеж снабжал Дон хлебом и оружием и потому именно он быстро развился.</p>
<p>102. Положение Воронежа, как столицы Черноземья закрепил, конечно, Петр I, когда переехал сюда в 1695 году, чтобы строить флот для взятия Азова, всех южных морей. Своего Белого моря ему не хватало, хотелось теплого </p>
<p>103. - и он строит тысячи стругов и лодок, десятки галер с пушками и галеасов - руками десятков тысяч людей. А после взятия Азова строит здесь </p>
<p>104. уже десятки морских гигантов с десятками пушек на борту - силами всей страны, разверсткой по кораблю с 10000 дворов. Для Петра Воронеж был просто южно-морской временной столицей его великой державы. И потому город заслуженно благодарен творцу своего величия. И потом строительство </p>
<p>105. первого флота, а через 70 лет, при Екатерине II, гражданского флота в Воронеже велось вокруг доныне сохранившейся Успенской церкви и на острове. Вместе с русскими здесь были поселены иностранные мастера. Слободы иностранцев выглядели диковинами: "Воздушные галереи швейцарских домиков перемежались с тяжелыми крышами голландских построек, а за ними шли английские дома с узкими окнами - из дерева, но раскрашенные под кирпич и даже с каминами... </p>
<p>106. А у ворот адмиралтейства стояли античные статуи, из-за которых произошло столкновение между Петром и епископом Митрофанием, святым, требовавшим свергнуть "языческих идолов"... Ясно, что на петровой стороне тогда оказалась победа. Правда, в веках и народе слава</p>
<p>107. св. Митрофания Воронежского не померкла, но и столичность и европейскость </p>
<p>108. Воронежа, как южного Петербурга, тоже не исчезла, даже когда Петр потерял Азов и ушел на берега Невы, а почти все его строения уничтожили пожары. Дворец, магистрат, арсенал - лишь очень немногие здания остались Воронежу от XVIII века горделивым напоминанием о прежней заглавной роли, о визитах коронованных особ. А принцесса Ольденбургская с </p>
<p>109. принцем - прямо поселились под Воронежем в Рамони, развели бобров и стали у основания воронежского заповедника...</p>
<p>110. Это барочное здание, по преданию, построено для последнего крымского хана Шагин-Гирея - или для Екатерины. А сейчас - собрат московского музея изобразительных искусств, печать и слепок мировой культуры. И вполне можно поверить, что ссыльный Мандельштам проводил в нем многие часы перед полотнами фламандских и итальянских мастеров, чтобы потом, в </p>
<p>111. воронежских перспективах уходить в иные, "тосканские дали". </p>
<p>...Я обращался к воздуху-слуге,/Ждал от него услуги или вести.<br/>
      Я собирался в путь и плавал по дуге /Неначинающихся путешествий.<br/>
      Где больше неба мне - там я бродить готов -<br/>
      И ясная тоска меня не отпускает <br/>
      От молодых еще воронежских холмов <br/>
      К всечеловеческим-яснеющим в Тоскане. </p>
<p>112.<u> Воронеж: 1831г. - первые стихи Кольцова</u> </p>
<p><u>1853 - первые стихи Никитина</u></p>
<p>Через 10 лет после смерти Алексея Кольцова в тех же мещанских кругах появился еще более мощный народный поэт И.С.Никитин. Один из самых первых его стихов "Русь" стал почти гимном... В нем как будто наш народ проснулся, гордый своей самодержавностью. С каким вдохновением читала я его со школьной и клубной сцен. Мне и сейчас радостно слышать его звучание: <u>"Русь"</u></p>
<p>113.Под большим шатром /Голубых небес,/Вижу  даль степей /Зеленеется.<br/>
      И на гранях их, /Выше темных туч, /Цепи гор стоят /Великанами. <br/>
      По степям, в моря, /Реки катятся, /И лежат пути /Во все стороны...</p>
<p>114. Это ты: моя /Русь державная, /Моя родина /Православная!<br/>
      Широко ты, Русь, /По лицу земли, /В красе царственной, /Развернулася. <br/>
      У тебя ли нет /Поля чистого, /Где б разгул нашла /Воля смелая? <br/>
      У тебя ли нет /Про запас казны, /Для друзей стола, /Меча недругу? </p>
<p>115. У тебя ли нет /Богатырских сил, /Старины святой, /Громких подвигов? <br/>
      Перед кем себя /Ты унизила? /Кому в черный день /Низко кланялась? </p>
<p>116. И теперь среди /Городов твоих /Муравьем кишит /Православный люд.<br/>
      По седым морям, /Из далеких стран, /На поклон к тебе /Корабли идут,<br/>
      И поля цветут, /И леса шумят, /И лежат в земле / Груды золота. <br/>
      И во всех концах /Света белого /Про тебя идет /Слава громкая. <br/>
      Уж и есть за что, /Русь могучая, /Полюбить тебя, /Назвать матерью,<br/>
      Стать за честь твою /Против недруга, /За тебя в нужде /Сложить голову!</p>
<p>117. 10 лет прошло, а как изменилось общество. Воронеж теперь гораздо внимательней к поэту, чем к Кольцову. Один из прежних администраторов тогда рассказывал: "Черт знает, что с Кольцовым сделалось. Совсем рехнулся. Бывало, придет, станет прилично у двери, стоит с почтением. Никак, бывало, не уговоришь, чтобы сел. Дашь ему чашку чая, он стоя пьет и жжет себе губы. А теперь придет, сейчас за руку тебя, сядет возле и начнет пороть чепуху о каком-то Гегеле, Шеллинге и черт его знает о ком. Миросозерцание какое-то выдумал, - и кой черт его надоумил?"</p>
<p>118. Стихи же Никитина сразу получают признание в самом Воронеже от кружка губернского секретаря Второва, губернатора Долгорукого и его жены, вице-директора полиции графа Д.Н.Толстого (тот издает первую книгу Никитина в 1856г.) и даже от царя Александра II в благодарность за книгу Никитин получает бриллиантовый перстень и золотые часы.</p>
<p>119. Уже нет снисходительной жалости, Никитина ценят именно за принадлежность к народу, как такового, его умоляют не соблазняться пустотой светской барской культуры. Да Иван Саввич и не соблазнялся. Брокгауз правильно отмечает, что Никитин - один из редчайших примеров русского человека, сумевших все же отвоевать и талант, и свободу, и умереть с гордым и законным сознанием победы.</p>
<p>120. Детство его в материальном смысле было благополучным. Отец был богатым воронежским торговцем и владельцем свечного заводика, разрешал сыну посещать училище и даже духовную семинарию. Но счастье торговое не верно, и отец стал пить, превратившись в жалкого пройдоху. В своем главной, автобиографической поэме "Кулак" Никитин так прощается с героем поэмы:</p>
<p>121. Прощай, Лукич! Не раз с тобою,/Когда мой дом объят был сном, <br/>
                          Сидел я, грустный, за столом, /Под гнетом дум, ночной порою! <br/>
                           И мне по твоему пути/Пришлось бы, может быть, идти... </p>
<p>122. Но я избрал иную долю. /Как узник, я рвался на волю, <br/>
      Упрямо цепи разбивал! /Я света, воздуха желал!<br/>
      В моей тюрьме мне было тесно! /Ни сил, ни жизни молодой <br/>
      Я не жалел в борьбе с судьбой!/Во благо ль? Небесам известно... <br/>
      Но блага я просил у них! /Не ради шутки, не от скуки, <br/>
      Я, как умел, слагал мой стих, /Я воплощал боль сердца в звуки. <br/>
      Моей душе была близка /Вся грязь и бедность кулака! </p>
<p>123.Мой брат! Никто не содрогнется,/ Теперь, взглянувши на тебя!<br/>
                          Пройдет, быть может, посмеется, /Потеху пошлую любя... <br/>
                          Ты сгиб. Но велика ль утрата? /Вас много! Тысячи кругом, <br/>
                          Как ты, погибли под ярмом /Нужды, невежества, разврата! <br/>
                          Придет ли, наконец, пора, /Когда блеснут лучи рассвета; </p>
<p>124.Когда зародыши добра /На почве, солнцем разогретой,<br/>
      Взойдут, созреют в свой черед /И принесут сторичный плод.<br/>
      Когда минет приказа века /И воцарится честный труд, <br/>
      Когда увидим человека - /Добра божественный сосуд!</p>
<p>125. Музей оказался закрытым. Раньше здесь был постоялый двор, а дворником-хозяином работал Иван Никитин, совмещая услуги постояльцам-купцам и мужикам с ночным творчеством. В письме он вспоминает:</p>
<p>126. "Продавая извозчикам овес и сено, я обдумывал прочитанные мною и поразившие меня строки, обдумывал их в грязной избе, нередко под крик и песни разгулявшихся мужиков. Сердце мое обливалось кровью от грязных сцен, но с помощью доброй воли, я не развратил души своей. Найдя свободную минуту, я уходил в какой-нибудь отдаленный уголок моего дома... Все написанное я скрывал, как преступление, от всякого постороннего лица, и с рассветом сжигал строки, над которыми плакал во время бессонной ночи"...</p>
<p>127. Только опубликовав несколько своих стихотворных книг, получив помощь и кредит, он смог два года до смерти не только работать, чтобы жить, но и, открыв книжную лавку, служить обществу распространением хороших книг, становясь в центре культурной жизни Воронежа. Но как недолго! Как несправедливо недолго! На постоялом дворе он заработал смертельную чахотку... 16 октября 1861 г. Никитин умер. Похоронен на </p>
<p>128. Митрофаньевском кладбище рядом с Кольцовым. Правда, остального кладбища больше нет. Вместо него есть цирк и шумные широкие улицы. Грустно... </p>
<p>129.Вырыта заступом яма глубокая. /Жизнь бесприютная, жизнь одинокая, <br/>
         Жизнь бесприютная, жизнь терпеливая, /Жизнь, как осенняя ночь, молчаливая,-<br/>
             Горько она, моя бедная, шла, /И как степной огонек, замерла. <br/>
             Чтоже? Усни, моя доля суровая! /Крепко закроется крышка сосновая, <br/>
             Плотно сырою землею придавится, /Только одним человеком убавится...<br/>
             Убыль его никому не больна, /Память о нем никому не нужна!...</p>
<p>130.Вот она - слышится песнь беззаботная -/Гостья погоста, певунья залетная,<br/>
                   В воздухе синем на воле купается; /Звонкая песнь серебром рассыпается.<br/>
                   Тише!... О жизни покончен вопрос, /Больше не нужно ни песен, ни слез!</p>
<p>131. Творчество И.С.Никитина, конечно, не так разнообразно и искрометно, как у Пушкина или Лермонтова, но причина тому не узость интересов или недостаток образования. Никитину присуще глубокое </p>
<p>132. религиозное чувство, близка природа и загадки бытия...</p>
<p>133.Присутствие непостижимой силы <br/>
             Таинственно скрывается во всем:<br/>
      Есть мысль и жизнь в безмолвии ночном, <br/>
      И в блеске дня, и в тишине могилы,<br/>
      В торжественном покое океана...</p>
<p>134.И в сумраке задумчивых лесов.<br/>
      И в ужасе степного урагана, <br/>
      В дыхании прохладном ветерка,<br/>
      И в шелесте листов перед зарею, <br/>
      И в красоте пустынного цветка,<br/>
      И в ручейке, текущем под горою...</p>
<p>134. Но жизнь его чуткой души посреди народной нужды и страданий поворачивала его музу к так называемой демократической протестующей поэзии. И на это ничто не могло повлиять - ни искреннее уважение и </p>
<p>135. покровительство высшей власти, ни отвращение к партийной беспардонности демократических вождей - Чернышевского и Некрасова. Чернышевский начал с того, что объявил первую книгу Никитина бездарной - из-за его "дружбы с реакционерами". И хотя впоследствии Добролюбов пытался исправить эту ошибку, перетянуть Никитина на свою сторону, но - не получилось: Никитин не побоялся бросить журнальным  "властителям дум" горькое:</p>
<p>136.<u>"Обличитель чужого разврата"</u>/Проповедник святой чистоты!<br/>
      Ты, что камень на падшего брата /Поднимаешь,- сойди с высоты! <br/>
      Нищий духом и словом богатый /Понаслышке о всем ты поешь, <br/>
      И бесстыдно похвал ждешь, как платы, /За свою всенародную ложь.<br/>
      Перед нами - немые могилы  /Позади - одна горечь потерь... <br/>
      На тебя, на твои только силы, /Молодежь, вся надежда теперь...</p>
<p>137. <u>Праведник и провидец</u> Никитин жил своим трудом, был предельно строг к себе, честен, необыкновенно участлив к людям. Может, потому у него так много горьких образов. Он приходит к пониманию, что его любимой России еще очень далеко от выздоровления, что "барство еще не взялось за труд", не отказалось от векового бича, и что крестьянин все еще точит топор на бывшего владельца.</p>
<p>138. Памятник Никитину на площади у театров нам кажется главным в Воронеже, вроде памятника Пушкину в Москве. На многие темы постоянно разговаривает с воронежцами их поэт... Но мы выберем для окончания лишь следующие строки:</p>
<p>139. Медленно движется время - /Веруй, надейся и жди!...<br/>
      Зрей, наше юное племя! /Путь твой широк впереди. <br/>
      Молнии нас осветили, /Мы на распутьи стоим...<br/>
      Мертвые в мире почили, /Дело настало живым.</p>
<p>140. Стыд, кто бессмысленно тужит,- /Листья зашепчут - он нем!<br/>
      Слава, кто истине служит, /Истине жертвует всем! </p>
<p>141.Поздно глаза мы раскрыли, /Дружно на труд поспешим... <br/>
      Мертвые в мире почили, /Дело настало живым.<br/>
      Рыхлая почва готова, /Сейте, покуда весна; <br/>
      Доброго дела и слова  /Не пропадут семена. <br/>
      Где мы и как их добыли - /Внукам отчет отдадим...</p>
<p>142.Мертвые в мире почили, /Дело настало живым.</p>
<br/>

{% endblock content %}
