<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">

    {% block head_favicon %}
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
    {% endblock %}

    {% block head_meta %}
        {% block head_meta_charset %}
        <meta http-equiv="Content-Type"
              content="text/html; charset=utf-8"/>
        {% endblock %}
    {% endblock %}
</head>

<body>
    <a href="/"><img class="header_class" src="/static/images/header2.jpg"></a><br/><br/>

    {%  if contents_page %}
        <table width="600">
            <tr> <td> {%  if prev_page %} <a href="{{prev_page}}">предыдущая</a> {% endif %}</td>
                 <td><a href="{{contents_page}}">оглавление</a></td>
                 <td>{%  if next_page %} <a href="{{next_page}}"> следующая</a>{% endif %}</td>
            </tr>
        </table>
    {% endif %}

    {% if slide_film_key %}
        <div class="desktop">
            <table cellpadding="5">
                <tr>
                    <td><h2>{{ heading|safe }}</td>
                    <td><a href="//youtu.be/{{youtube_id}}"><img src="/static/images/{{slide_film_key}}/mini.jpg"></a></td>
                    <td><a href="//youtu.be/{{youtube_id}}">Смотреть на YouTube</a><br><br><br><a
                            href="{{yandex_photo}}">Отдельные слайды</a></td>
                </tr>
            </table>
        </div>
        <div class="mobile">
            <div style="float:left"><a href="//youtu.be/{{youtube_id}}"><img src="/static/images/{{slide_film_key}}/mini.jpg"></a></div>
            <div style="float:left">&nbsp;&nbsp;<a href="//youtu.be/{{youtube_id}}"><big>Смотреть на YouTube</big></a><br><br><br>&nbsp;&nbsp;<a
                    href="{{yandex_photo}}"><big>Отдельные слайды</big></a>
            </div>
            <br/>
        </div>
    {% endif %}

    {# The Document Body #}

    <div id="site-wrapper">
        {% block content %}
        if you see this, something is wrong!
        {% endblock content %}
    </div>

    <br clear="all" /> <br/>

    {%  if contents_page %}
        <table width="600">
            <tr> <td> {%  if prev_page %} <a href="{{prev_page}}">предыдущая</a> {% endif %}</td>
                 <td><a href="{{contents_page}}">оглавление</a></td>
                 <td>{%  if next_page %} <a href="{{next_page}}"> следующая</a>{% endif %}</td>
            </tr>
        </table>
        <br clear="all" /> <br/>
    {% endif %}

    <a rel="license" href="//creativecommons.org/licenses/by/4.0/">
        <img alt="Лицензия Creative Commons" style="border-width:0" src="/static/images/creative_common.png"/>
    </a>
    <br/>Все материалы сайта доступны по <a rel="license" href="//creativecommons.org/licenses/by/4.0/"> лицензии Creative Commons «Attribution» 4.0 Всемирная</a>.
</body>
</html>
