{% extends 'base.html' %}
{% block title %}Виктор Сокирко и Лидия Ткаченко (книги,дневники и слайд-фильмы).{% endblock %}
{% block content %}



<h3>Семья и дом: 2000-е годы</h3>
<ul>
<li><a href="zolotsvad/index.html">Золотая Свадьба (2012 г.)</a></li>
<li><a href="Part70/alex/">Алёшин диафильм "Поздравление на 70-летие маме Лиле"</a></li>
<li><a href="https://yadi.sk/d/vhtkEF3N3VfMVn">Галин диафильм "Поздравление Случей на 70-летие папе Вите" <i>65 Mb, Яндекс.диск</i></a></li>
<li><a href="family/mama.html">Память о маме</a></li>
<li><a href="family/Schweidnitz/">Открытки  Хермана Прассе из Бад Зальцбрунна</a></li>
<li><a href="family/Gvintovoe">Гвинтовое</a></li>
<li><a href="http://www.tyoma.com/table/hobbies/writing/grand.html">Артём Сокирко: Мой дед был рабочим</a></li>
<li><a href="http://www.tyoma.com/table/hobbies/discussions/100_let/100_let.html">Ася Сокирко: Сто лет недвижимости</a></li>
<li><a href="family/About_Vitya.html">Л.Н.Ткаченко: О Вите.</a></li>
<li><a href="family/library.html">Наш дом и его библиотечная душа</a></li>
<li><a href="http://video.yandex.ru/users/lilia-tkachen/view/1/#hq">Празднование 70-летнего юбилея Л.Н.Ткаченко</a></li>
<li><a href="family/alena.html">Отзыв на книгу Е.Д. Арманд "О Господи, о Боже мой!" </a></li>
</ul>
<br/>

{% endblock content %}
