<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!--$ZenonID: src/zen/share/zvm.skels/skel.extra/www/promote.html,v 1.2 2009/04/20 10:37:17 adamant Exp $ -->
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Виртуальный сервер www.sokirko.info</title>
<link href="http://host.ru/skel/skel.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<center>
<!-- head -->
<table border="0" cellpadding="0" cellspacing="10" width="700">
<tr valign="middle">
<td><a href="http://host.ru/prices/hosting/"><img alt="" border="0" height="52" src="http://host.ru/skel/logo.gif" width="63"/></a></td>
<td align="right"><font size="-1"><b>Добро пожаловать на
виртуальный сервер<br/>www.sokirko.info</b></font></td>
</tr>
</table>
<!-- /head -->
<!-- hr -->
<table border="0" cellpadding="0" cellspacing="0" width="700"><tr><td background="http://host.ru/skel/dot.gif"><img alt="" border="0" height="1" src="http://host.ru/skel/dot.gif" width="4"/></td></tr></table>
<img alt="" border="0" height="10" src="http://host.ru/skel/b.gif" width="1"/><br/>
<table border="0" cellpadding="20" cellspacing="0" width="700"><tr><td>
<!-- pics --> <center> <a href="/create.html"><img alt="Как
создать сайт" border="0" height="95" src="http://host.ru/skel/1a.gif" width="216"/></a><a href="/upload.html"><img alt="Как загрузить файлы на сервер" border="0" height="95" hspace="5" src="http://host.ru/skel/2a.gif" width="216"/></a><a href="/promote.html"><img alt="Как привлечь посетителей на сайт" border="0" height="95" src="http://host.ru/skel/3.gif" width="216"/></a><br/>
</center> <!-- /pics -->
<p align="justify"><font color="#850000"><b>Шаг 3: Как привлечь посетителей на
сайт</b></font><br/>
<p align="justify">

Можно воспользоваться различными способами для привлечения посетителей на
Ваш сайт. Это особенно важно, если сайт имеет определеную тематическую
направленность и может заинтересовать многих в сети интернет.

<p align="justify">

Наиболее простой способ сделать сайт посещаемым - регистрация его в
популярных поисковых системах (<a href="http://www.yandex.ru">Yandex</a>, <a href="http://www.rambler.ru">Rambler</a>, <a href="http://www.google.com">Google</a> и т.д.). На сайте любой подобной
системы есть форма для регистрации нового ресурса. Вам необходимо ввести
краткое описание, ключевые слова, связанные с тематикой сайта. Через
какое-то время поисковая система внесет сайт в свою базу данных и начнет
выдавать ссылки на Ваши страницы по тематическим запросам посетителей
поисковой системы.

<p align="justify">

Процесс внесения сайта в базу данных поисковой системы в соответствии с
заданными Вами ключевыми словами и описанием называется индексацией. Если Вы
знакомы с языком HTML, можно использовать его возможности для автоматической
индексации сайта. На многих поисковых системах используются специальные
программы, называемые роботами, которые постоянно обходят сеть интернет в
поисках новых страниц, внося их в свои базы данных. Если специальным образом
<a href="http://book.promo.ru/book/article5_3">включить необходимые ключевые
слова</a> в исходный код Ваших веб-страниц, то
через какое-то время сайт будет проиндексирован автоматически с помощью
подобных программ-роботов, и поисковые системы смогут по запросам
посетителей выдавать ссылки на него.

<p align="justify">

Другой способ привлечь посетителей на сайт - использование перекрестных
ссылок. Вы можете найти в сети ресурсы с аналогичной тематикой и
договориться с их владельцами о размещении ссылок: на Вашем сайте
публикуется ссылка на другой ресурс, а его владелец размещает у себя ссылку
на Вас. При этом велика вероятность того, что посетители сайтов в поисках
информации по интересующей их теме будут приходить по этим ссылкам на Ваш
сайт. Эффективность такого обмена ссылками будет выше, если Вы создадите для
рекламы сайта небольшие графические изображения, называемые баннерами.
Баннеры, размещенные на страницах других сайтов в качестве ссылок на Ваш
сайт, более привлекательны, чем простые текстовые ссылки. Не забывайте о
том, что в обмен на размещение баннеров на других сайтах Вам, скорее всего,
предложат разместить баннеры этих сайтов на своих страницах.

<p align="justify">


Конечно, показ рекламы Вашего сайта на других ресурсах сети не обязательно
связан с взаимным обменом ссылками. В интернете существуют платные службы, с
помощью которых можно заказать рекламу на других сайтах с высокой
посещаемостью - например, на популярных сайтах новостей. Также можно
"продвигать" свой сайт с помощь участия в обмене баннерами через
специализированные баннерные сети. Вы показываете у себя баннеры участников
сети, а на сайтах других участников показыватся Ваши баннеры.  Читайте об
этом в <a href="http://book.promo.ru/book/">"Энциклопедии интернет-рекламы"</a>.


<p align="justify">

Чтобы посетители Вашего сайта получали информацию об обновлениях и новых
разделах на сайте, можно воспользоваться <a href="http://www.host.ru/documentation/v-mail/0003.html">стандартным
скриптом для организации рассылки</a> новостей и другой полезной информации
(если Ваш тарифный план предоставляет возможность работать со списками
рассылки). Любой посетитель Вашего сайта сможет подписаться на рассылку и
получать информацию об изменениях на сайте, которую Вы будете сообщать
заинтересованным в этом лицам через эту рассылку.

<p align="justify">

Вам интересно, сколько человек приходят на Ваш сайт и какие разделы наиболее
популярны? Тогда можно установить на страницах сайта <a href="http://www.host.ru/documentation/pages/p0007.html">счетчик</a>,
который будет показывать количество посетителей. А воспользовавшись
возможностями <a href="http://www.host.ru/documentation/v-www/0003.html">анализатора
статистики</a> посещаемости сайта, можно получать полную информацию о
посетителях, наиболее популярных страницах и документах, отслеживать
динамику посещаемости сайта во времени и даже видеть, какие запросы
пользователей сети интернет в поисковых системах привели их на Ваш сайт.


<p align="justify">
<!-- advert -->
<center><table border="0" cellpadding="0" cellspacing="5">
<tr>
<td bgcolor="#eeeeee"><font size="-2"><center>А
теперь<br/>немного<br/>   рекламы:   </center></font></td>
<td>
<iframe frameborder="0" height="60" leftmargin="0" marginheight="0" marginwidth="0" scrolling="no" src="http://www.host.ru/static/images/txt_iframe.php" topmargin="0" width="468"></iframe>
</td>
</tr>
</table></center>
<!-- /advert -->
<!-- hr -->
<img alt="" border="0" height="10" src="http://host.ru/skel/b.gif" width="1"/><br/>
<table border="0" cellpadding="0" cellspacing="0" width="700"><tr><td background="http://host.ru/skel/dot.gif"><img alt="" border="0" height="1" src="http://host.ru/skel/dot.gif" width="4"/></td></tr></table>
<!-- nav -->
<table border="0" cellpadding="0" cellspacing="10" width="700"><tr><td><center><font size="-2"><a href="/">Первая
страница</a>  |  <a href="create.html">Как создать
сайт</a>  |  <a href="upload.html">Как загрузить файлы
на сервер</a>  |  <a href="promote.html">Как привлечь
посетителей на сайт</a></font></center></td></tr></table>
<!-- /nav -->
<!-- hr -->
<table border="0" cellpadding="0" cellspacing="0" width="700"><tr><td background="http://host.ru/skel/dot.gif"><img alt="" border="0" height="1" src="http://host.ru/skel/dot.gif" width="4"/></td></tr></table>
<!-- footer -->
<table border="0" cellpadding="0" cellspacing="10" width="700"><tr><td><font size="-2"><a href="http://www.host.ru/">Хостинг предоставлен компанией
Zenon N.S.P.</a></font></td><td align="right"><font size="-2">Copyright © 1999-2006 <a href="http://www.zenon.net/">Zenon N.S.P.</a></font></td></tr></table>
<!-- /footer -->
</p></p></p></p></p></p></p></p></p></td></tr></table></center>
<br>
</br></body>
</html>
