{% extends 'base.html' %}
<title>Вокруг Поисков: На случай ареста</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="1.13.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="1.15.html"> следующая </a>
</td></tr></table>
<p><strong>Событие 17</strong>. 
Нервничая, что открытое решение о приостановке журнала никак не осуществляется 
(из-за позиции "стариков", главным образом), Витя пишет свои последние 
экономические письма и самиздатские статьи ("чтобы выложить там все”), а также – 
письмо к друзьям – на случай своего ареста.</p>
<h3>1.14 На случай ареста</h3>
<p>Дорогие друзья! Вы хорошо знаете, что я очень не хотел 
ареста, а если не сумел все же избежать его, то потому что приходилось рисковать 
настоящим, чтобы облегчить свою жизнь в будущем.</p>
<p>Вы знаете, что как верующий материалист, я верю в свою 
бессмертную душу лишь как в совокупность идей и впечатлений, которые через мои 
слова и дела перейдут к сегодняшним и будущим людям. Мои главные дела – в 
диафильмах и самиздатских статьях.</p>
<p>И я прошу всех, кто любит меня – спасти мою душу, ее 
самую главную и самую важную часть, воплощенную в диафильмах и статьях. Я прошу 
показывать и смотреть мои диафильмы, сохранить их от уничтожения и забвения, а 
также читать, оспаривать и распространять мои статьи – ведь я писал их не для 
себя и они больше меня. Убежден, что даже в наших с Лилей дневниках есть много 
интересного, в них надо только заинтересованно разобраться.</p>
<p>Об этом моя главная просьба. Сознание, что вы на нее 
откликнетесь, придаст мне силы спокойно отсидеть, сколько выпадет и дождаться 
более справедливых времен. </p>
<br/>
<table width="600"> <tr> <td>
<a href="1.13.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="1.15.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
