{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Г.Померанц Мой собеседник Виктор Сокирко{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="1.17.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="1.19.html"> следующая </a>
</td></tr></table>
<h2>Приложения к разделу I</h2>
<h3>1.18 Г. Померанц “Мой собеседник Виктор Сокирко” </h3>
<a href="/Tom10/butyrka/a4-6.html"> см. Том 10 </a>
<br/>
<br/>
<br/>
<table width="600"> <tr> <td>
<a href="1.17.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="1.19.html"> следующая </a>
</td></tr></table>

{% endblock content %}
