{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление нач. ИЗ о голодовке{% endblock %}
{% block content %}




<h3>2.14 Заявление Начальнику ИЗ о голодовке.</h3>
<p>Начиная с 16 июня я объявляю недельную голодовку 
протеста по следующим причинам:</p>
<p>В конце апреля в наших и других камерах спецкорпуса без 
всякого предупреждения были настежь выставлены средние окна и в последующее 
холодное время мая мы отчаянно мерзли. Потом же, когда наступила летняя духота, 
средние окна также неожиданно были вставлены обратно и одновременно строго 
приказано не выставлять их по желанно заключенных – под страхом наказания 
лишением передач и ларька. Камеры сейчас переполнены, вентиляция в них не 
работает и многие из заключенных, больные сердцем, ощущают сильную головную 
боль, задыхаются.</p>
<p>Известно, что заключение, особенно подследственных, не 
должно иметь целью причинение физических и нравственных страданий. Однако 
действия администрации в этом случае трудно расценить иначе, как намерение 
причинить страдания. Наши жалобы Вам и прокурору по надзору остаются без ответа. 
Кроме того нам стало известно, что в изоляторе есть случаи избиения 
заключенных.</p>
<p>Все это заставляет меня прибегнуть к крайнему средству – 
голодовке протеста. </p>
<p>В этот же день голодовку протеста объявили еще несколько 
камер, в одной из которых находился В.Абрамкин. Утром эти камеры посетил 
начальник по режиму подполковник Бирюков. Валерия перевели, кажется, в карцер, а 
потом в камеру в коридоре смертников, а Витю – сначала в камеру для голодающих 
(13), где он провел шесть суток.</p>
<br/>

<br/>

{% endblock content %}
