{% extends 'base.html' %}
<title>Вокруг Поисков: Черновик заявления cледователю от 26.06.80</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="2.15.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.17.html"> следующая </a>
</td></tr></table>
<h3>2.16 Черновик заявления следователю от 26.06.80</h3>
<p>В случае освобождения я обязуюсь не заниматься 
самиздатской деятельностью, которая может быть оценена судом как криминальная, 
поскольку она и связанные с ней наказания приводят к росту разобщенности и 
страха среди людей, к ущербу для их нормальной трудовой жизни и взаимопонимания, 
т.к. она, несмотря на субъективно хорошие намерения, может нанести объективно 
вред общественному развитию и, кроме того, приводит к страданиям родных и 
знакомых. Я надеюсь, что в будущем жизнь выработает иные, принимаемые 
государством формы обмена информацией о нарушениях прав и формы свободных 
идейных дискуссий.</p>
<p>Сам же думаю в будущем заниматься семьей, традиционно 
разрешенным творчеством и научной работой, если на нее мне будет дана 
возможность. </p>
<p><strong>Событие 35.</strong> 27 
июня Витю вывезли из Бутырского изолятора в КПЗ 111 отд.милиции, а оттуда в 
какую-то гостиницу близ Останкино, где состоялась беседа с 
профессором-экономистом, отрекомендовавшимся только по имени-отчеству. Профессор 
был знаком со сборниками "В защиту экономических свобод", по отношению к Вите 
держался очень корректно, уважительно подчеркивая его права на личные убеждения, 
своеобразие его "теоретической концепции", но в то же время пытался убедить, что 
не один Витя болеет за нашу экономику, что множество специалистов ломает голову 
над усовершенствованием хозяйственного механизма, над тем, как лучше 
использовать зарубежный опыт и как повысить эффективность экономики. Он 
утверждал, что отличается от Вити в двух коренных вещах – в настроенности на 
конструктивную работу и четким выбором своего положения в современной и все 
обостряющейся борьбе двух мировых систем. Вите теоретический разговор с 
профессором доставлял огромное удовольствие (а перед этим он был опьянен 
поездкой по летней Москве после пятимесячного заключения в каменной конуре). В 
этой беседе он, естественно, вел партию младшего собеседника, хотя часто 
фиксировал свои несогласия и возражения. Однако довольно скоро (вся беседа 
заняла часа два) разговор перешел на необходимость выбирать: с кем ты в 
современной психологической войне (бойкот Олимпиады, радиопропаганда), ибо вне 
зависимости от субъективно добрых намерений существуют и недруги нашей страны, 
готовые использовать любое выступление диссидентов во враждебных стране целях. А 
снова пошла речь о применении статьи 70 и даже ст.64 УК PСФCP – говорил "коллега 
следователя". На это Витя отвечал, что всегда считал себя патриотом, отъезд из 
страны для него совершенно невозможен, что, конечно, любое использование его 
имени во враждебных стране целях он готов осудить. Но говорить неправду о себе и 
других как о клеветниках и преступниках он не может. Ему этого никто не простит, 
даже семья. "Подумайте!" – сказали ему.</p>
<p>Вечером Витя снова сидел в карцере и рассказывал 
Тарновскому и Лавуту о своей поездке. Этот рассказ слышали уголовники в соседних 
камерах, переводя его следующим образом: "Слышь, а Витька комитетчики на свою 
блатхату колоть возили!"</p>
<p>После этого вывоза Витя написал в карцере первый вариант 
заявления для печати от 30.6., который, правда, был тут же отобран при шмоне. 
После возвращения в камеру 322 (2 июля) Витя его восстановил.</p>
<br/>
<table width="600"> <tr> <td>
<a href="2.15.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.17.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
