{% extends 'base.html' %}
<title>Вокруг Поисков: Заявление для печати от 30.06.80 (первый вариант)</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="2.16.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.18.html"> следующая </a>
</td></tr></table>
<h3>2.17 <a href="/Tom10/butyrka/a4-1.html">Заявление для печати (первый вариант)</a> </h3>
<p><em>К заявлению была приложена 
записка:</em></p>
<p>"Если данный текст окажется полезным (видимо, для 
зарубежной печати), я прошу, чтобы мне дали возможность передать моей жене копию 
его. Если текст окажется неприемлемым, то я прошу приобщить его к делу, a также 
показать иным инстанциям, как свидетельство того, что выбор мой (если говорить 
не об убеждениях, а об отношении к Родине) делается без всяких условий и 
колебаний. Единственное не условие, а просьба к Вам в связи с этим – отказаться 
в отношениях со мной от давления. Ведь при всех идейных различиях я не враг 
своему отечеству, а напротив (ведь были при Ленине патриотами буржуазные 
специалисты, а при Сталине – патриоты-священники). Что же касается признания 
себя преступником до суда, то именно из уважения к советскому правосудию я не 
сделаю этого, пока не исчерпаю всех своих конституционных прав на защиту и 
доказательство обратного. Все иное считал бы лицемерием и профанацией 
правосудия".</p>
<p><strong>Событие 36</strong>. После 
вывоза 27.6.80г. Бурцев обещал вызвать Витю на допрос 30.6., но… "забыл” о своем 
обещании. В беспрерывном ожидании Витя начинает понимать, что его намеренно 
выдерживают в изоляторе, и потому пишет очередную жалобу прокурору г.Москвы. 
</p>
<br/>
<table width="600"> <tr> <td>
<a href="2.16.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.18.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
