{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление Прокурору г. Москвы{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="2.17.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.19.html"> следующая </a>
</td></tr></table>
<h3>2.18 Заявление Прокурору г.Москвы.</h3>
<p>…Конечно, я понимаю, что для следователя мое признание 
своей преступности было бы очень выгодным, ибо избавило бы его от необходимости 
доказывать наличие клеветы в наших работах, переложило бы всю тяжесть поиска 
таких доказательств на меня самого, раз уж "я сам признался". Однако такая линия 
следствия представляется мне противозаконной и дискредитирующей саму идею 
советского правосудия. Согласиться с этим требованием для меня равнозначно 
потере веры в закон. Я хочу на следствии и суде изложить все свои доводы, а если 
суд не примет их, лишь тогда подчиниться – и признать то, что выше моего разума. 
Прошу принять все меры, чтобы давление на меня в этом направлении с помощью 
держания в изоляторе прекратилось. Прошу изменить меру пресечения.</p>
<p><em>Однако отправить эту жалобу 
Витя не решился. Вместо нее он написал Бурцеву письмо с просьбой о встрече, 
поскольку у него есть важное заявление. И на допросе 16 июля передал первый 
вариант заявления для печати от 30.6.80г.</em></p>
<p><strong>Событие 37</strong>. В июле 
спецкорпус наполнило слухами об амнистии, объявленной в конце июня 1980г. 
Наконец, по местному радиоузлу начальник изолятора полковник Подрез провел 
беседу, в которой подтвердил, что Указ об амнистии существует, что текст его 
получен, a в нем среди прочих есть пункт, по которому заключенные, имеющие сроки 
до 5 лет лишения свободы, после года заключения должны быть отправлены на 
"химию" ( в сентябре выяснилось, что ст.190-1, конечно, исключена из этого 
пункта). В июле же Витя решил, что по этому Указу он мог бы даже в самом плохом 
случае yжe 23.1.1981 года уйти на "химию", если этому не помешает злосчастный 
факт отсидки им карцера за нарушение режима – но непонятно за что. Все это 
заставило Витю написать следующее:</p>
<br/>
<table width="600"> <tr> <td>
<a href="2.17.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.19.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
