{% extends 'base.html' %}
<title>Вокруг Поисков: Заявление-жалоба на ход следствия</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="2.25.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.27.html"> следующая </a>
</td></tr></table>
<h3>2.26 Заявление-жалоба на ход следствия (черновик)</h3>
<p>…23/I-80г. я был арестован… С 6 июня начал давать 
показания. Кроме того, когда мне было сообщено, что мое имя и самиздатские 
работы могут быть использованы зарубежом во враждебных стране целях, я по 
собственной инициативе предложил меры для предотвращения этого… Мне было обещано 
изменение меры пресечения, и я ежедневно ожидал освобождения.</p>
<p>Однако за последние два месяца в ходе следствия 
выявились новые моменты. Со мной дважды в присутствии следователя беседовал "его 
коллега". Он неприкрыто давил на меня, требуя признания себя клеветником и 
преступником, а в обмен обещал освобождение после суда "по помилованию". Если же 
я откажусь, то мне уготовлено дело по ст.70 и еще хуже – по ст.64. Мимоходом 
упоминались и кары для семьи. На мои возражения, что эти угрозы и обещания 
незаконны, "коллега следователя" отвечал, что он связан с такими инстанциями, 
которые решают такие вещи.</p>
<p>Конечно, я понимаю, что для следователя мое признание 
своей преступности очень выгодно, ибо перекладывает необходимость искать 
доказательства клеветы на меня самого. Однако, на мой взгляд, такая линия 
следствия является незаконной, преступной (по ст.179 УК РСФСР) и дискредитирует 
саму идею правосудия. Попытку принудить меня к отказу от права на защиту на суде 
путем вынужденного признания своей вины на следствии я должен отвергнуть и 
именно потому продолжаю сидеть в тюремном безделье. Следователь меня просто 
обманул, хотя и знает о всех моих семейных обстоятельствах, знает, насколько 
вредно содержание меня в безделье. Кроме того такая линия следствия показывает 
мне, что именно из-за того, что я проявил добрую волю, дал показания и 
обязательства на будущее, на меня теперь будут в полной мере давить и дальше, 
ибо следователь путает добрую волю и слабохарактерность: мол, раз он дает о себе 
показания, значит, и преступником себя признает. Только надо посильнее надавить 
(содержанием в тюрьме и угрозой применить ст.70 и 64). Я опасаюсь, что эти 
угрозы могут осуществиться именно потому, что я проявил добрую волю (т.е. 
"слабохарактерность" по понятиям "коллеги следователя").</p>
<p>Я еще раз заявляю: ради интересов семьи я, 
действительно, готов поступиться многим, но только признавать преступником себя 
и других я не буду при любых угрозах.</p>
<p>Я требую Вашего вмешательства в мою опасную ситуацию, 
настаиваю, чтобы данное заявление и ответ на него (равно, как и заявление от 
февраля 1980г.) были приложены к моему делу, а кроме того требую, чтобы было</p>
<p>1) возбуждено уголовное дело по ст.189 УК РСФСР против 
ст.следователя Бурцева Ю.А. и его "коллеги",</p>
<p>2) чтобы следователь Бурцев назначил экспертизу 
редактированных мною и моих собственных самиздатских материалов на предмет 
обнаружения в них клеветы, т.е. заведомо ложных отступлений от моих либеральных 
убеждений,</p>
<p>3) учитывая все вышеизложенное, прошу отпустить меня к 
семье до суда.</p>
<p>Жду Вашего решения. Если через две недели не получу 
известия о Вашем решении, то буду обращаться к Генеральному прокурору СССР и в 
Президиум Верховного Совета с аналогичными жалобами.</p>
<p>Одновременно, уже мало надеясь на благополучный исход 
своих требований и надежд, Витя готовит письмо мне через Бурцева.</p>
<br/>
<table width="600"> <tr> <td>
<a href="2.25.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.27.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
