{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление для печати (второй вариант){% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="2.29.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.31.html"> следующая </a>
</td></tr></table>
<h3>2.30 Заявление для печати (второй вариант).</h3>
<p>От гражданина СССР инженера Сокирко В.В.</p>
<p>Как мне стало известно, в некоторых зарубежных средствах 
массовой информации появились сообщения обо мне, как о "жертве советского 
режима". В связи с этим я должен сообщить следующее:</p>
<p>Действительно, в январе 1980г. я был арестован по 
обвинению в распространении клеветнических измышлений, порочащих сов.общ. и 
государств.строй. Участвуя в редактировании самиздатского журнала "Поиски" и 
выпуская сборники "В защиту экономических свобод" под псевдонимом К.Буржуадемов 
и под своей фамилией, я стремился обсудить в узком кругу своих читателей 
некоторые свои предложения, в том числе о переходе страны к рыночной 
(буржуазной) экономике и т.д.</p>
<p>Я понимаю, что мои буржуазно-коммунистические взгляды 
отвергаются большинством советских людей, что, как ни горько это сознавать, я 
являюсь идейным отщепенцем от своего народа, а мои усилия по бесконтрольному 
обсуждению и распространению своих взглядов могут быт оценены народом и 
советским судом, как преступление… Видимо, мне придется долгие годы жить среди 
презрения и осуждения своих соотечественников. Тем не менее, если суд вынесет 
мне обвинительный приговор, я встречу его с пониманием и постараюсь отбыть его 
без обид , как приговор народа. Ведь лучше отбывать наказание на родине, чем 
жить на чужбине.</p>
<p>Тем более, что в настоящее время, учитывая данные мною 
чистосердечные показания о себе и данное обязательство не вести впредь 
деятельности, способной нанести ущерб моей Родине, и семейное положение, я 
выпущен до суда на свободу.</p>
<p>Вместе с тем я должен заявить, что… если кто-либо 
зарубежом вознамерится использовать мои работы и имя во враждебных моей стране 
целях или для ведения психологической войны против нее, то такие действия с моей 
стороны могут вызвать только осуждение. 11.8.1980г. Сокирко</p>
<p>Р.S. Данное заявление может быть использовано в органах 
АПН, советской печати и телевидения".</p>
<p><em>Допрос закончился неожиданно: 
"На сегодня хватит, а через два-три дня я приду, все будет утрясено и решится". 
</em></p>
<p><em>Разочарованный Витя (он уже 
настроился, что вопрос об освобождении будет решен в этот же день) был уведен в 
камеру выжидать эти два-три дня.</em></p>
<p><strong>Событие 42.</strong> Однако 
ни через три дня, ни через неделю вызова на допрос не последовало. В сильном 
беспокойстве Витя решил, что эта новая задержка преднамеренная, что его хотят 
держать в изоляторе до 4 сентября, когда кончается последний срок содержания 
троих редакторов "Поисков" под стражей, разрешенный Генеральным прокурором СССР, 
а там – уговорить подписать дело без ознакомления и оставить в тюрьме до суда в 
обход всех прежних договоренностей и всех его надежд. При этом он мучился 
сделанными уступками во втором варианте заявления для печати и потому начал 
готовить заявление, чтобы вручить его, когда Бурцев вызовет для ознакомления с 
дело, если же вызова не будет, то объявить голодовку.</p>
<br/>
<table width="600"> <tr> <td>
<a href="2.29.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.31.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
