{% extends 'base.html' %}
<title>Вокруг Поисков: Заявление нач. ИЗ (о голодовке)</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="2.31.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.33.html"> следующая </a>
</td></tr></table>
<h3>2.32 Заявление нач. ИЗ (о голодовке)</h3>
<p>…Настоящим объявляю о том, что с 18.8.1980г. начинаю 
голодовку. О причинах и возможных условиях ее прекращения я объясню только 
своему следователю Бурцеву Ю.А. (ст.следователю прокуратуры г.Москвы). Прошу 
зафиксировать начало голодовки и снять меня с довольствия. Если возможно, о 
данном заявлении прошу срочно позвонить Бурцеву.</p>
<p><em>Однако никаких вызовов ни к 
следователю, ни даже к работникам изолятора не было. Голодовку как бы не 
замечали, тем более, что Витя продолжал вести активный образ жизни (делал 
зарядку, ходил на прогулки) и выполнял режим. Он все более уверяется в обмане и 
пишет 22.8. очередную жалобу прокурору г.Москвы, а позже – еще одно заявление 
начальнику тюрьмы.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="2.31.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="2.33.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
