{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление для западного читателя (девятый вариант){% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="3.10.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.12.html"> следующая </a>
</td></tr></table>
<h3>3.11 <a href="/Tom10/butyrka/a4-4.html"> Заявление для западного читателя (девятый вариант)</a> </h3>
<p><em>Через несколько дней я приехала 
за ответом. Он был отрицательным. Впрочем, со мной теперь беседовали 
благожелательно. Никто не собирается осуждать и клеймить Витю, но и радоваться 
его поступкам невозможно. Его заявление, переданное через АПН, конечно, 
неприятно, но все же в рамках допустимого. В то же время подготовленное интервью 
для западного корреспондента очень противоречиво и производит впечатление 
запутавшегося человека, который ищет выход из безвыходного положения. А выход 
для него один: осознать свою слабость и не заниматься больше общественной 
деятельностью, не ввязываться ни в какие истории, вроде новых интервью и 
заявлений. Кстати, это и очень опасный шаг: в течение года прокуратура имеет 
право обжаловать мягкое решение суда и добиться его пересмотра, т.е. снова 
посадить Витю – просто так, без всяких новых фактов и доказательств, а на деле – 
из-за этого интервью. Текст же его не достигает цели – оправдать себя, свою 
позицию Вите не удалось. Есть и просто неверные вещи. Так, никто из членов 
редакции "Поиски" не подтверждает, что заявлением 30.12.1979г. она "фактически 
самораспустилась". Абзац о чувстве симпатии к тюремщикам, которое Витя 
испытывал, сидя в карцере, один из благожелательных к нему людей прямо назвал 
мерзостью, поддержкой и оправданием "системы воспитания тюремщиков, которые 
должны душить политзаключенных". Конечно, как доказательство того, что прежние 
Витины заявления были даны под давлением, это интервью было бы полезно, но 
прямого права заявить, что они были даны лишь под давлением оно не дает. В 
общем, пользы от него мало, а вреда и опасности много. Поэтому никто из знакомых 
диссидентов не будет помогать Вите встречаться с корреспондентами и искать ему 
не советуют. Лучше ему молчать. Когда АПН все же опубликует заявление от 24 
октября и это станет известно, ему сообщат.</em></p>
<p><em>Так Витина оценка произошедшего 
с ним оказалась никому не нужной – ни властям, ни даже диссидентам. Эту историю 
он закончил тем, что послал в АПН с уведомлением о вручении письмо с отказом от 
заявления 24.10. и приложением своего последнего варианта №9 (интервью) – пусть 
хотя бы "коллеги" это знают.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="3.10.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.12.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
