{% extends 'base.html' %}
<title>Вокруг Поисков: В редакцию АПН</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="3.11.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.13.html"> следующая </a>
</td></tr></table>
<h3>3.12 В редакцию АПН</h3>
<p>24.10.1980г. работник АПН, журналист Строков Анатолий 
Леонидович (как он мне представился) уговорил меня составить заявление для 
печати по поводу обстоятельств и оценки обвинения и осуждения меня за участие в 
самиздатском журнале "Поиски" и сборниках "В защиту экономических свобод". 
Поддавшись на уговоры, я подписал требуемой заявление, но уже в тот же день 
пожалел о сделанном поспешном шаге. </p>
<p>Дело в том, что, дав обязательства молчать и не 
участвовать в привычных для меня самиздатских изданиях, наиболее правильным было 
бы не участвовать и в официальной печати, по крайней мере, пока не изменятся мои 
взгляды (ведь невозможно в официальной печати мне говорить совершенно свободно и 
полно). В противном случае неизбежно создастся впечатление неискренности и 
вынужденности таких выступлений. Думаю, что сделанное мною заявление от 
24.10.1980г. принесет гораздо больше вреда и мне самому, и авторитету АПН, а 
след. и государству, чем пользы, поэтому я официально отказываюсь от него.</p>
<p>За прошедшее время я пытался связаться с А.Л.Строковым, 
но безуспешно. Мне только гарантировали, что А.Л. Строков извещен о моем желании 
и что он обещал сам связаться со мной по телефону. Однако его звонка я жду до 
сих пор. Поэтому и решил выразить свое желание письменно. Если же мое заявление 
уже опубликовано за рубежом (против публикации в советской печати я возражал и 
возражаю категорически!), то я вижу только один способ исправить вред – 
организовать мне встречу с каким-либо нейтральным западным корреспондентом, 
которому бы я изложил совершенно свободно и полно и своими словами 
обстоятельства "своего дела", чтобы "вопрос обо мне был закрыт навсегда". 
Приблизительный текст этого интервью, если вы организуете такую встречу, 
прилагается ниже. Прошу мне ответить. 15 ноября 1980г.</p>
<p><strong>Событие 57.</strong> В 
ноябре у Вити было две тяжелых диссидентских беседы. Одна в моем присутствии с 
очень дорогими нам людьми. Честное слово, я не ожидала такой глубины осуждения и 
не за повторное заявление 24 октября, а за то, сделанное еще в тюрьме и 
повторенное на суде (о повторном они еще просто не знали).</p>
<p>Заявление в суде оказалось на деле не способом выхода из 
тюрьмы и разумным компромиссом с властью, а простой капитуляцией и отречением от 
взглядов, причем, если отречение от научных идей (как Галилей) возможно, то 
отречение от нравственных идей недопустимо. Неверно основное Витино положение, 
что он осуждает использование его имени и работ во враждебных стране целях: и 
потому что за "использование" никто не отвечает ("Правду" тоже используют), и 
потому что никто на Западе к стране не относится враждебно, а только помогают, 
на поддержке мирового общественного мнения вся сегодняшняя оппозиция держится. 
Впрочем, у Вити и до тюрьмы отмечалась безответственность в некоторых идеях, 
стремление подлаживаться к господствующим массам. Пример: глубоко огорчительная 
Витина статья о необходимости союза между сталинистами и диссидентами, 
написанная им еще в ноябре 1979 года, до ареста. Нельзя идти с большинством, 
если оно не право или угнетает меньшинство, нельзя ради действия жертвовать 
нравственностью – лучше молчать и не участвовать, если нет сил протестовать. Не 
изменять Богу – нравственности и правде. Если бы у Вити его заявление было 
простой слабостью, желанием откупиться от тюрьмы, это было бы понятным и 
простительным грехом, но то, что Витя ищет в этом позицию, пытается оправдаться, 
мириться с ГБ – это уже фарисейство и двоемыслие. Нельзя вести диалог с ГБ – это 
бесполезно и опасно (для души), потому что эта организация только и создана для 
подавления. И как вывод: Витя оказался недостойным общественной деятельности и 
потому ему ни в коем случае нельзя больше ею заниматься. Надо молчать и думать, 
что произошло.</p>
<p>Витя в этом разговоре возражал очень неубедительно. Он 
только подтвердил, что искал компромисс сознательно, что только это 
соответствовало его убеждениям, иначе он сидел бы в тюрьме и сейчас - "не так уж 
это трудно".</p>
<p>Другая беседа была у Вити ночью 16 ноября, когда в 11 
часов ночи к нам в гости приехало трое диссидентов (двоих Витя раньше не знал) и 
уехали в третьем часу. Я тогда была нездорова и спала, поэтому Витя принимал на 
кухне гостей один. Они сообщили, что yже слышали передачу "Би-би-си", где 
упоминалась особая позиция члена редакции Сокирко в духе заявления от 24 
октября, что уже подготовлено "Открытое письмо" К.Буржуадемову (Сокирко)", но 
прежде, чем его публиковать, решили известить Витю. Самого текста "Открытого 
письма" не оставили, но Витя говорит, что там просили его еще раз объясниться по 
ряду конкретных пунктов. Например: "Вы говорите, что никого не просили на Западе 
о помощи, но разве заключенные из тюрьмы имеют возможность просить о помощи?" 
Витя отвечал, что он дал обязательство не выступать в самиздате, но в частном 
письме, конечно, ответит на все вопросы, как может.</p>
<p>Витя говорит, что в этой беседе он чувствовал себя еще 
более беспомощным. Собеседники его беспрерывно и логично припирали к стенке:</p>
<p>- Не думаете ли Вы, Витя, что зачеркнули все, что 
сделали раньше? Что принесли вреда больше своим отречением, чем пользы всеми 
предшествующими своими делами?</p>
<p>- Что Ваше отречение теперь будут показывать заключенным 
как средство давления?</p>
<p>- Что Вы оклеветали "Русскую мысль", назвав ее органом 
НТС? </p>
<p>- Что они, "с Лубянки" – действительно, палачи?</p>
<p>- Что либералам на деле всегда было свойственно 
радикально, с "пеной на губах" выступать против мерзостей режима, вроде смертной 
казни?</p>
<p>- Что западные правительства делают доброе дело, 
заступаясь за политзаключенных, помогая осуществлению Фонда помощи и т.д.?</p>
<p>- Как Вы, Витя, жить думаете дальше?"</p>
<p>Это создалось невольно, но Витя чувствовал себя как в 
трибунале. И снова его возражения выглядели очень слабыми, путанными, 
неубедительными. Твердо он только кончил разговор, заявив, что считает свой 
выход из тюрьмы правильным и о поступках своих в главном не сожалеет.</p>
<p>Рассказывая же мне об этой беседе, он говорил, что вся 
сложность его положения – в промежуточности и нелогичности самого существования 
человека открытой и лояльной оппозиции в наши дни, когда везде царит логика 
противостояния и "кто не с нами, тот против нас". Раньше диссиденты говорили, 
что они не будут заниматься политикой, это было принципом лояльного 
самоограничения слабой оппозиции. Сегодня диссиденты не стали сильнее, но на 
деле занимаются не только политикой, а внешней политикой, играют существенную 
внешнеполитическую роль и, конечно, не столько по своей вине, сколько по вине 
самого давящего государства. Но при таких условиях нормальная лояльная оппозиция 
существовать не может и потому свой отказ от помощи Запада Витя считает 
правильным шагом, необходимым и конструктивным самоограничением.</p>
<p>Для власти любая оппозиция сегодня – преступна, не 
лояльна. Для диссидентов любая лояльность есть безнравственная смычка с 
преступной властью. И все же Витя упрямо не сходит со своего положения "между 
двумя стульями". В этом и заключается его верность своим принципам и убеждениям. 
</p>
<p>Он отказывается считать преступной и нашу власть, и 
наших диссидентов и собирается оставаться именно в лояльной оппозиции, не 
допуская противостояния и тюрьмы, но и не забывая о необходимости добиваться 
реформ и развития. Конечно, он только человек и не может выдержать свою линию 
без ошибок и уклонений. В прошлом году не смог своевременно выйти из 
противостояния прокуратуре и поплатился за это компромиссами с "коллегами" и 
верноподданными заявлениями этого года. И все же это только ошибки и частности 
на его непростом пути, в главном Витя остался верен себе и не думает меняться. 
Мне он говорил, что не желает скрывать от диссидентов своего верноподданничества 
советской власти, а от власти не желает скрывать своих оппозиционных, 
буржуазно-коммунистических взглядов, инакомыслия. </p>
<p>Я знаю, что и дальше наша жизнь не будет спокойной, что 
и дальше Витя будет искать свои пути, но очень надеюсь, что от этого она не 
станет несчастной (не дай Бог ему ни тюрьмы, ни эмиграции) или пустой и 
бессодержательной (это возможно, только если он духовно сломается или станет 
равнодушным).</p>
<p>Наш сын Тема уже понимает положение отца, когда говорит 
ему: "Твое положение безнадежно, ты как будто стоишь на промежуточной полосе, по 
которой стреляют обе стороны". А на Витин вопрос, где же он видит себя в 
будущем, отвечает: "Над обеими сторонами, сверху". Витя считает это иллюзией, но 
я рада и ей: пусть Тема занимается наукой и в ней будет счастлив.</p>
<p>Очень мне трудно было понять отношение Вити к Западу. 
Ведь он – западник, сам псевдоним его говорит oб этом, ведь знает он, что Запад 
желает России только добра и спокойного развития и никогда не начнет сам войны с 
нами, что только благодаря его поддержке держится сейчас открытая оппозиция, 
оказывается возможным свобода слова в самиздате. Ведь сам он радовался, когда 
узнал, что его книга "Антигэлбрейт" напечатана на Западе и благодарен за помощь, 
которую оказывали нам во время его ареста… Так почему же он осуждает эту 
поддержку Запада, которой сам пользовался? Почему настаивает на том, что фразы с 
осуждением "использования моего имени и работ во враждебных стране целях и для 
ведения психологической войны" – не просто вынужденная плата за выход из тюрьмы, 
а его реальные убеждения?</p>
<p>Сейчас я понимаю, что и в отношении к Западу Витя 
сознательно встал на позицию советского верноподданного: хотя он любит Запад, 
благодарен ему, во многом единомысленен с ним, но живет он именно в Советской 
России и будет с ней всегда, даже когда она будет неправа. Да, он тоже надеется, 
что войны с Западом (или с Китаем и Западом) никогда не будет, но если она все 
же случится, то он будет все же на родной, даже неправой стороне. Это 
трагический выбор между Родиной и правдой. И надо сделать все сейчас, чтобы 
избежать такой выбор в будущем. Может, потому и решился он на свое письмо 
Брежневу против ввода войск в Афганистан. И потому никак не хочет мириться с 
положением диссидента, существующего за счет поддержки Запада, а точнее, 
западных правительств.</p>
<p>Витя не отрицает, что не может в своих отношениях к 
Западу свести концы с концами (это было видно еще по диафильму "Ленинград"), что 
допустил много нехорошего в своих заявлениях – и неправду (например, что на 
Западе уже использовались его работы во враждебных целях) и ошибки (вроде 
определения газеты "Русская мысль", как органа НТС, на котором так настаивал 
корреспондент АПН и он ему в конце концов поверил), но убежден, что в главном он 
не изменил ни Западу, ни России, ни оппозиции, ни власти – отказываясь от 
одностороннего выбора и стремясь к миру и взаимопониманию между ними, именно так 
и прежде всего – к миру и взаимопониманию.</p>
<p><strong>Событие 58</strong>. После 
долгих проволочек 11 декабря Бурцев все же выдал часть изъятого у нас: сумку, 
папку, газетные вырезки, "Реквием" Ахматовой, Витину запись "Память о маме" и 
еще какие- то черновые бумажки – самую малость. До остального Бурцев не смог 
добраться в своих завалах, а две пишущие машинки он, оказывается, и не собирался 
выдавать, хотя раньше и обещал это… Как ни уговаривал его Витя отдать хотя бы 
одну, самую старую, от студенческих времен еще машинку – Бурцев был непреклонен: 
"Вы, Сокирко, настырны, это хорошо, но лучше бы Вы занимались другими 
делами".</p>
<p>Пообещав, что потом, в далеком будущем, когда дело 
(видно, по "Поискам") будет закончено, он разберется во всех материалах и 
ненужное всем вернет, он вдруг сообщил, что с Вити желает снять допрос, как 
свидетеля, следователь по делу Л.Терновского – Пономарев. </p>
<p>Допрос был коротким, поскольку Витя знал Терновского 
очень мало, т.е. фактически не знал и мог говорить об этом с чистой совестью, не 
знал также и откуда у Леонарда появились дома два выпуска сборника "В защиту 
экономических свобод".</p>
<p>Что касается Бурцева, то хоть и жалко было старой 
машинки, но Витя был рад просто окончанию бурцевских обещаний. Послав 
Генеральному прокурору СССР жалобу на Бурцева, Витя посчитал, что отношения его 
с горпрокуратурой на этом закончились, как полтора месяца назад списанием 
протокола судебного заседаний закончились отношения его с Мосгорсудом.</p>
<p>Правда, в эти же дни Витя написал все же жалобу и на 
Мосгорсуд, узнав от В.М.Сорокина, что сделанные в октябре замечания на протокол 
судебного заседания так и не приложены к нему.</p>
<br/>
<table width="600"> <tr> <td>
<a href="3.11.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.13.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
