{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Генпрокурору СССР Руденко (о протоколе судебного заседания){% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="3.12.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.14.html"> следующая </a>
</td></tr></table>
<h3>3.13 Генеральному прокурору СССP Руденко (о протоколе судебного заседания)</h3>
<p>30 сентября 1980г. я был осужден Мосгорсудом по ст.190-1 
УК РСФСР к условному наказанию. Согласно ст.320 УПК РСФСР не позднее трех суток 
после провозглашения приговора мне должна быть вручена копия. Однако копия мне 
не была вручена, несмотря на мои неоднократные просьбы и требования. Сначала 
секретарь суда Aртюковская и член Мосгорсуда Байкова ссылались на свою занятость 
и неготовность копии, а потом уже откровенно отвечали: "Она Вам не нужна". Через 
месяц, когда я согласился не требовать копии приговора, мне разрешили прочесть 
ее, но без права выписок.</p>
<p>После суда я также просил дать мне возможность сделать 
замечания на протокол судебного заседания – согласно ст.265 УПК РСФСР (не 
позднее 6 суток после окончания судебного заседания – согласно ст.264 и 265 УПК 
РСФСР), о чем подал письменное заявление, однако и в этом мне фактически 
отказывали, ссылаясь на занятость суда. Наконец, в обмен на мое согласие не 
требовать копии приговора мне разрешили смотреть протокол (через месяц после 
окончания судебного заседания и без права делать выписки). Протокол содержал 
значительные искажения реального хода судебного заседания, и я оставил суду 
шесть страниц своих замечаний, в том числе и относящиеся к показаниям свидетеля 
В.М.Сорокина. Суд вынес частное определение, что В.М.Сорокин допустил в суде 
заведомо ложные показания, т.е. преступление по ст.181 УК РСФСР. В своих 
замечаниях я отметил и это искажение, ибо суд неверно истолковал, на мой взгляд, 
слова Сорокина.</p>
<p>Недавно я узнал от Сорокина В.М., знакомившегося с 
протоколом моего суда, включенного в материалы его следственного дела, что к 
этому протоколу не приложены мои замечания, откуда я сделал вывод, что суд, 
видимо, не рассматривал мои замечания и не приложил их к делу, тем самым нарушив 
ст.266 УПК РСФСР, что имеет существенное значение в деле Сорокина В.М. </p>
<p>Столь многочисленные нарушения закона в Московском 
городском суде требуют Вашего вмешательства. Мои замечания должны быть приложены 
к протоколу судебного заседания. 14.12.1980г.</p>
<br/>
<table width="600"> <tr> <td>
<a href="3.12.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.14.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
