{% extends 'base.html' %}
<title>Вокруг Поисков: Генпрокурору СССР Руденко (о возврате отобранного)</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="3.13.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.15.html"> следующая </a>
</td></tr></table>
<h3>3.14 Генеральному прокурору СССР Руденко ( о невозвращении изъятого)</h3>
<p>8 сентября 1980г. было закончено предварительное 
следствие по моему дел, а 30 сентября Мосгорсуд приговорил меня по ст. 190-1 УК 
РСФСР к условному наказанию.</p>
<p>Заканчивая дело, ст.следователь Мосгорпрокуратуры Бурцев 
Ю.А. твердо обещал мне, что все имущество, изъятое у меня при обысках в 
1979-80гг.. и не конфискованное судом, будет мне возвращено в скором времени, 
"при первой же свободной минуте". Однако прошло уже более трех месяцев, 
обещаний, телефонных разговоров, даже конкретных вызовов, прежде чем Бурцев Ю.А. 
решился выдать мне: две сумки, газетные вырезки, том Плеханова, пару телефонных 
книжек жены и еще нескольких предметов… - это все!! В течение 4-х обысков было 
изъято 4 пишущих машинки, около 4 мешков с литературой, в том числе много книг 
художественных, фотографий архитектурных памятников, путевые и личные записи и 
т.д. – сотни наименований. На суде же было конфисковано только две мои пишущие 
машинки и 6 моих сборников "В защиту экономических свобод". Все же остальное 
Бурцев оставил в прокуратуре, вновь обещая, что в будущем "может быть, 
что-нибудь вернет", а может быть и нет – вдруг мои две машинки и иное имущество 
окажутся нужными для будущих процессов. Одни материалы Бурцев отказывается 
вернуть, поскольку его не устраивает их содержание, другие – потому что к ним 
причастны неугодные ему люди (например, осужденный одновременно со мной 
В.Абрамкин), третьи – просто так, на всякий случай, т.е. по откровенному 
следовательскому произволу.</p>
<p>Думаю, что это не мелочь: демонстрация произвола, 
пренебрежение к выполнению законных требований и собственных обещаний 
чрезвычайно дискредитирует следственные органы, советское правосудие в глазах 
всех, кто сталкивается с подобными явлениями, толкает их на протест и 
противостояние. Самый известный для меня пример – В.Абрамкин, который именно 
после своих безуспешных попыток добиться справедливости и возвращения незаконно 
изъятых у него машинки и материалов пришел к выводу, что никакие нормальные 
отношения со следственными властями невозможны. Думаю, что как раз в интересах 
властей, чтобы в обращении с диссидентами особенно тщательно выполнялись дух и 
буква закона.</p>
<p>Предварительное следствие по моему делу проходило 
достаточно долго, я давал исчерпывающие показания по всей своей деятельности, 
часть из написанных и распространяемых мною самиздатских материалов (например, 
сборник "В защиту экономических свобод" №7) следствие не включило в 
обвинительное заключение, видимо, не признав их преступными или по иным, 
неизвестным мне причинам. Важно, что никаких оснований отказывать мне в выдаче 
моего имущества, ссылаясь на то, что оно еще может пригодиться в качестве 
вещественных доказательств в будущих делах (наверное, против меня?), у следствия 
нет.</p>
<p>Я уверен, что ст.следователю Мосгорпрокуратуры Бурцеву 
Ю.А. известна ст. 171 УПК РСФСР: При производстве выемки и обыска следователь 
должен строго ограничиваться изъятием предметов и документов, могущих иметь 
отношение к делу" – и, тем не менее, он нарушал ее неоднократно. Также ему, 
конечно, известна ст.86 УПК РСФСР, что при разрешении уголовного дела "вещи 
выдаются законным владельцам", он и ее нарушает. Эти действия существенно 
нарушают охраняемые законом мои права и, следовательно, Бурцев Ю.А. виновен в 
превышении власти по ст. 171 УПК РСФСР.</p>
<p>Прошу Вас дать указание расследовать это дело и 
обеспечить выполнение закона, вернуть мне изъятое имущество. 14.12.1980г. </p>
<p><strong>Событие 59</strong>. В 
начале декабря Вите рассказали, что среди московских диссидентов ходит "Открытое 
письмо Сокирко (К.Буржуадемову) " С.В.Калистратовой с приложением Витиного 
заявления в АПН 24.10.1980г. Сначала нам с трудом верилось, что можно пустить в 
самиздат это заявление, хотя Витя отказался, а АПН так и не опубликовало, что 
можно выступать с Открытым письмом к человеку, который не может выступать 
открыто, да еще не посылать ему этого письма лично.</p>
<p>Я сама позвонила Софье Васильевне. Оказалось, она просто 
не имела нашего адреса. 10 декабря от нее пришло заказное письмо с ожидаемым 
текстом и личной запиской, заканчивавшейся так: "Лиля и Витя, надеюсь, что 
личные наши отношение из-за этой полемики не испортятся?" Была приложена также 
копия заявления в АПН от Калистратовой С.В., в котором говорилось:</p>
<p>24.10.1980г. В.Сокирко, бывший соредактор свободного 
дискуссионного московского журнала "Поиски", передал в Ваше агентство заявление 
для печати… Прошу опубликовать в тех же органах печати, в которых было (или 
будет) опубликовано заявление Сокирко, мое открытое письмо, адресованное 
Сокирко.</p>
<br/>
<table width="600"> <tr> <td>
<a href="3.13.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.15.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
