{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Свободная запись судебного процесса. Витина адвокатская речь{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="3.3.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.5.html"> следующая </a>
</td></tr></table>
<h3>3.4 <a href="/Tom10/butyrka/a3-4.html">Свободная запись судебного процесса. Витина адвокатская речь</a> </h3>
<br/>
<table width="600"> <tr> <td>
<a href="3.3.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.5.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
