{% extends 'base.html' %}
<title>Вокруг Поисков: Частная записка № 3</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="3.6.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.8.html"> следующая </a>
</td></tr></table>
<h3>3.7 Частная записка №3 </h3>
<p>Как я оцениваю результаты проведенной со мной работы 
летом 1980 года? - В целом положительно, хотя, наверное, "заявление в суд и для 
печати" будет мне икаться всю жизнь.</p>
<p>Но если говорить о своих впечатлениях по порядку, то 
начать надо с первой встречи 2 июня, когда О.С. предложил мне искать 
"оптимальный вариант поведения", если я хочу избежать полной меры наказания и 
скорее всего по ст.70 УК. Он предположил возможность практического освобождения 
от наказания после суда при выполнении трех условий: 1) дать обязательство не 
заниматься впредь самиздатом, 2) дать все показания по делу, 3) признать себя 
виновным в клеветнической преступной деятельности.</p>
<p>Я был готов принять лишь половину этих условий: 
отказаться от самиздата и дать показания, но лишь о себе. Признать себя 
клеветником и преступником было для меня равносильным предательству не только 
себя, но и своих "подельников". А лгать и предавать я не собирался, хотя к 
компромиссу и поиску выхода из тюрьмы стремился всем своим существом. Вокруг 
этого "пункта" и шли наши "споры". О публичном покаянии не было тогда и речи. 
О.С. лишь обмолвился: "Выступление в печати – это если сами пожелаете". Сам я 
тогда не рассчитывал на полное освобождение, а лишь на "химию".</p>
<p>От первой той встречи мне запомнилась та неприятная 
легкость, с которой О.С. брался разрешать вопросы переубеждения: "сами 
убедитесь", "клевету Вам следователь докажет", "Вот организую Вам встречу со 
специалистом и Вы поймете тут же, что заблуждались и клеветали"… Создалось 
впечатление какой-то легковесности, несерьезности самого слова "убеждения" в 
понимании О.С.. Или, может, в этом проявляется несерьезность его отношения к 
убеждениям диссидентов? – Но у меня это вызывало сильное раздражение… А может, 
О.С. слишком большую роль отводит силе и давлению, считая, что "твердостью" 
любые убеждения можно переделать легко и быстро?</p>
<p>Вторая неприятная черта О.С. – внутренняя нацеленность 
его на борьбу с Западом, едва ли не с оружием в руках. У меня, человека, высоко 
ценящего западную цивилизацию и глубоко огорченного, что моя страна находится с 
Западом не в дружбе, а в противостоянии, эта черта также вызывала неизбежный 
протест.</p>
<p>Вторая моя встреча с О.С. и Владимиром Александровичем 
была в идейном смысле очень содержательна. В личном плане Владимир Александрович 
вызывал только расположение и доверие, хотя я ни на минуту не сомневался, что он 
– не только профессор-экономист. В.А. прекрасно понимал, что убеждения не 
меняются давлением или одноразовым спором. Он высказывал свои мнения, а не 
навязывал их; старался лишь убедить, что "все решения в экономике очень сложны и 
неоднозначны" и что лучше усилия сосредоточить на конструктивной работе. Я 
просил о продолжении этой беседы после своего освобождения и сейчас был бы рад 
осуществлению этой просьбы.</p>
<p>Еще более содержательным оказался для меня разговор с 
В.А. об усиливающейся в настоящее время психологической войне (радио и пр.) и о 
необходимости для меня сделать в ней выбор "с кем ты", если твои самиздатские 
работы и имя начнут использоваться для ведения этой психологической войны. Я – 
сторонник свободного распространения идей и информации, но не могу не считаться 
с реальностью, что на западе есть и противники страны, готовые идейную полемику 
превратить в радиопропаганду, а ту в средство психологической войны и обработки 
населения, как предварение войны настоящей. При этой встрече я говорил, что если 
такие факты использования моих работ появятся, то я буду против.</p>
<p>После встречи я решил, что "выбор" надо сделать сразу, 
самому, принципиально и лучше как предварение враждебного использования моего 
имени. Так появился первый вариант моего заявления для печати – от 30.06.80г., в 
котором я не отступал от правды, как ее понимал; не признавая своей юридической 
вины, оправдывал будущий суд над собой существующим на сегодня народным 
правосознанием и определенно (не с идеологических, а с патриотических) позиций 
осуждал любые будущие попытки использования меня во враждебных целях.</p>
<p>До сих пор считаю, что именно это заявление и надо было 
принимать. Оно – честно, ему поверили бы больше, оно написано не под давлением, 
а мною самим. Отсюда и "эффект" его был бы больше, чем от заявления в суде, 
которому, наверняка, никто не поверил.</p>
<p>Я понимаю, что бессмысленно было бы упрекать лично О.С. 
или кого-то еще: в этой области решения принимать сейчас очень сложно, а 
правильней было бы, чтобы такие решения и "текст заявления" принимал именно я на 
самом деле, а не по названию, без лжи.</p>
<p>Суд поступил со мной гораздо более милостиво, чем я мог 
мечтать в июне месяце. Меня "осчастливили" даже помимо моих просьб – именно за 
то, что заявление для печати было написано не мною, а каким-то компромиссным 
текстом. И все же, с точки зрения всех, было бы лучше, если бы я говорил только 
правду, даже если б наказание мне было бы тяжелее (хотя, конечно, ни "химии", ни 
ссылки тоже не хочется)…</p>
<p>Как я оцениваю тот факт, что меня задержали в Бутырке на 
три с лишним месяца, буквально до последнего отпущенного Ген.прокурором срока 
вместо того, чтобы сразу "договориться" и отпустить домой, изменив меру 
пресечения? – Только отрицательно.</p>
<p>Мне эти три месяца выматывающих душу ожиданий и обещаний 
стоили очень многих нервов и, не скрою, - прямой ненависти к тем, кто не 
выполнял своих обещаний: говорит, что приду через два дня с решением, а приходит 
через две-три недели с очередным откладыванием. Так не поступают… Я, конечно, 
понимал, что содержание в тюрьме, это демонстрация государственной силы, что это 
средство "воспитания'' и давления, что отпущенный на меня срок использовали под 
предел выдавливания максимума возможного. Однако это понимание, что тебя 
содержат и будут содержать среди уголовников в ненормальных, нравственно 
нечеловеческих условиях специально, несмотря на все "человеческие" разговоры при 
встречах – действовало очень остро, пробуждая ненависть и обиду. Сколько раз мне 
в таком состоянии хотелось бросить все к черту, все компромиссы и ничего не 
ждать, и я очень хорошо понимаю тех, кто не идет ни на какие соглашения.</p>
<p>Сейчас я очень рад, что Вы меня все же выпустили именно 
до суда, несмотря на определенный риск с точки зрения своих интересов, что мне 
все же доверили и хотя бы потому я не мог нарушить принятые обязательства. Я рад 
также, что мне разрешили не называть на суде себя и значит, других клеветниками 
(впрочем, я этого просто не мог бы сделать) и потому, в основном, остался 
честным человеком и могу спокойно смотреть в глаза людям. Это хорошо.</p>
<p>Надеюсь, что с людьми моего типа в будущем будут 
договариваться без тюрьмы или, по крайней мере, с минимумом ее.</p>
<p>Надеюсь, что я смогу выполнять свои обязательства в 
будущем. Но это зависит и от того, насколько мне будут открыты возможности для 
конструктивной работы и выражения своей гражданской ответственности. Все зависит 
от того, сможет ли наша система принять предложение конструктивной работы от 
"буржуазного спеца" (выражаюсь нарочито утрированно, чтобы подчеркнуть сложность 
проблемы)… Например, дадут ли мне возможность заниматься экономическими 
исследованиями или прогнозами, защитить подготовленную еще в 1973 году 
диссертацию – при имеющемся уголовном наказании и сохраняющихся 
буржуазно-коммунистических взглядах (а куда я от них денусь?)? </p>
<p>- Я в этом не уверен до сих пор.</p>
<p>И еще одно откровенное сомнение. 1980 год вычеркнул меня 
из числа активных диссидентов, откровенных оппозиционеров. Но я до сих пор 
думаю, что с общей точки зрения вычеркивание из оппозиции открытых, легальных и 
лояльных, настроенных на компромисс с властью людей – очень вредно. Убежден, что 
инакомыслие – неистребимо. Давлением его можно только загнать в подполье, 
сделать нелегальным и экстремистским, т.е. усилить разрушительные силы. Разумным 
же государственным отношением является не борьба на уничтожение, а курс на 
полезное их использование. Практика показывает, что диссиденты часто являются 
трудолюбивыми, честными и способными людьми. Они только больны совестью и 
желанием общественного блага, потому от них может быть извлечена польза, а не 
вред. Но большой иллюзией является мысль, что они будут еще лучше работать, если 
сломать их нравственный стержень, заставить отказаться от оппозиционных 
убеждений. В этом случае их энергия лишь угаснет или, что опаснее, направится в 
сторону нелегальной оппозиционности.</p>
<p>Инакомыслие нельзя уничтожить, его и не надо уничтожать, 
а напротив, его надо использовать и, может быть, даже культивировать. Потому что 
на деле все люди думают про себя не по-газетному, а по своему. В глубине души 
все – разномыслящие и инакомыслящие, и только молчат вслух. Но думаю, что было 
бы лучше, если бы все стали говорить свободно и разно – но, конечно, не во вред 
обществу и государству, а на пользу, т.е. не экстремистски, не антисоветски, а в 
рамках законной и лояльной оппозиции. Быть в рамках такой законной и лояльной 
оппозиции, т.е. быть свободным и полезным одновременно – было моей самой большой 
мечтой.</p>
<p>В 1980 году власти мне сказали, что моя форма оппозиции 
– вредна и незаконна. И запретили оппозиционно говорить. Публичным 
самоосуждением (даже частичным) достигнуто мое публичное самоуничтожение как 
диссидента. Но я и сейчас не думаю, что это было хорошо. Может быть, на деле я 
был полезен обществу и государству именно как инакомыслящий, т.е. как лояльный, 
компромиссный инакомыслящий.</p>
<p>Мое отречение от самиздата вместе с тем уничтожило и то 
положительное, конструктивное влияние, которое я оказывал на диссидентскую 
среду. Уничтожение К.Буржуадемова означило одновременно и уничтожение яростного 
спорщика с экстремистскими взглядами в диссидентстве, способного искренне и 
открыто отстаивать даже необходимость для страны в настоящее время КГБ…</p>
<p>Это лишь пример большого недостатка вообще всех мер 
"ликвидации и подавления" против законопослушных и лояльных инакомыслящих: с их 
подавлением возникнут и разовьются только иные, нелегальные, откровенно 
нелояльные и трудноуловимые группы оппозиции. Самый свежий пример: было очень 
легко контролировать и подавить наш открытый журнал "Поиски", а вот сколько Вам 
придется возиться с закрытыми "Поиски и размышления" (№9-11) – неизвестно…</p>
<p>Но это, конечно, лишь мои внутренние сомнения. Если бы 
Вы отнеслись к ним серьезно, то смогли бы найти для меня общеполезную и законную 
форму открытого выражения своих взглядов. Если – нет, я буду выполнять принятые 
обязательства, сознавая, что другого выбора у меня нет.</p>
<p>Извините за сумбур в изложении, но главное в моем 
отношении к "проделанной надо мной работе", кажется, выражено. 6.10.80г.</p>
<p><em>В следующую встречу "коллега" 
сообщил реакцию на эту записку: "Это спекуляция, хоть и отражает Ваши взгляды. 
Никто, конечно, не будет Вам устраивать Гайд-парк и обеспечивать возможности… 
Вот будет в феврале съезд, решит он это разрешить – тогда другое дело…"</em></p>
<p><strong>Событие 56</strong>. 
Кажется, 20 октября "коллега" позвонил Вите на работу и попросил его о встрече с 
корреспондентом АПН, совершенно частного и необязательного характера. Эта 
встреча состоялась 21 октября в какой-то гостинице. Корреспондент назвал себя: 
Анатолий Леонидович Строков. Он бывал на многих диссидентских процессах, был и 
на Витином, читал его работы в "Поисках", и знает, насколько мягко поступили с 
ним: вместо всем очевидной 70 ст. – освобождение, хотя заявление для печати 
очень куцее и не содержательное. Конечно, он знает, что Витя не волен был 
выбирать слова для своего заявления, и ему самому первоначальный вариант гораздо 
больше нравится. Тут он вытащил предшествующий (четвертый) вариант заявления от 
2.09.80г. и сказал: "Мы хотим его сейчас использовать, потому что впечатление от 
сделанного Вами в суде заявления двусмысленное, многим кажется, что Вы его 
сделали лишь под давлением и чтобы избежать наказания. Конечно, это ошибка, 
такое заявление надо было делать уже после суда, но что поделаешь… Однако ошибку 
можно исправлять. Если вот это Ваше заявление от 2.09.80г., которое Вами 
подписано – Вы ведь не будете от этого отказываться? – подработать, сделать 
более сдержанным, выразить благодарность за мягкое решение суда, а главное – еще 
четче выразить свое отрицательное отношение к использованию Вашего имени, то я 
думаю, это будет правильно и хорошо".</p>
<p>Витя согласился подумать и записал, как именно корр. 
хотел изменить его прежнее заявление. Так неожиданно появился следующий, шестой 
вариант.</p>
<br/>
<table width="600"> <tr> <td>
<a href="3.6.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.8.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
