{% extends 'base.html' %}
<title>Вокруг Поисков: Заявление для печати (седьмой вариант)</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="3.8.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.10.html"> следующая </a>
</td></tr></table>
<p><em>Витя был в большой 
нерешительности, как поступить: принципиально отказаться от всяких повторных 
заявлений и выражений благодарности (хотя эту благодарность он испытывал) или 
писать свой "текст". Он считал, что отказавшись от заявления, откажется и от 
всех своих просьб и планов, связанных с помощью "коллеги", а также уменьшит 
безопасность сейчас и в будущем, но если соглашаться, то надо говорить свободно 
– ведь он уже не в тюрьме и уже никто не простит ему неправды. В конце концов он 
решил писать свой текст, хотя и знал, что его принять АПН не сможет – чтобы 
выразить свою добрую волю.</em></p>
<p><em>Уже потом я очень жалела, что 
не посоветовала Вите сразу отказаться от всякого нового заявления: ведь на самом 
деле он сам до сих пор не знает, как точно и правильно выразить свою позицию, 
она до сих пор не сложилась у него в ясности, и любой текст будет писать уже 
привычными ему "ихними" фразами, т.е. он будет чужим, неправильным. Так и 
получилось. Но я думала, что отстаивая свой новый вариант, он сможет отказаться 
вообще от любого. </em></p>
<p><em>Вот что написал Витя:</em></p>
<h3>3.9 Заявление для печати (седьмой вариант).</h3>
<p>Как мне стало известно, некоторые зарубежные средства 
массовой информации расценили сделанное мною в суде 29.09.80г. заявление лишь 
как результат давления и угроз в тюрьме. Это – неправда.</p>
<p>Сейчас я нахожусь на свободе, никто мне не может 
угрожать, и я вновь подтверждаю то, что было сказано мною на суде, а осознано 
задолго до него. Дополнительно же я хотел бы пояснить следующее:</p>
<p>С 1978г. под псевдонимом К.Буржуадемов и под своей 
фамилией я выпускал для узкого круга лиц машинописные сборники "В защиту 
экономических свобод", а в целях расширения круга лиц, способных обсуждать 
волновавшие меня проблемы, принимал участие в редактировании журнала "Поиски", 
публиковал и обсуждал в них свои либеральные взгляды, хотя они и чужды 
громадному большинству советских людей, т.е. народу моей страны. Как видно из 
моих статей прошлых лет, охваченный острой тревогой за будущее, я искренне 
считал эту деятельность исполнением своего гражданского долга и потому 
игнорировал неоднократные предупреждения следственных органов.</p>
<p>В январе 1980г. я был арестован по обвинению в 
распространении клеветнических измышлений, порочащих сов.общ. и госуд.строй в 
вышеупомянутых изданиях. В тюрьме у меня было время для анализа своих поступков 
и осознания причин произошедшего. Я понял, что мой арест был закономерен, потому 
что я противопоставил себя государству, народу. Нельзя жить в стране и помимо 
формальных законов не учитывать еще и мнения большинства советских людей, по 
которому я, например, заслуживал бы очень сурового наказания. Поэтому еще до 
суда я был готов принять любой приговор советского суда, как приговор народа. 
Ведь лучше отбыть наказание на Родине, чем жить на чужбине. </p>
<p>Так еще до суда я самостоятельно принял решение не 
заниматься впредь подобной деятельностью – и не только из-за личных мотивов – 
усталости и опасений, но из-за того, что объективно у меня она приводила не 
столько к конструктивным дискуссиям и обсуждениям, а к росту страха и 
озлобленности.</p>
<p>Кроме того, я понял, что некоторое мои статьи и имя 
могут быть использованы и уже использовались противниками страны и советского 
государства. Так, в первых числах апреля нынешнего года белоэмигрантская газета 
"Русская мысль" опубликовала статью о моем аресте, где допустила возмутительные 
выпады в адрес советского государства. Я никогда и никого не просил за рубежом о 
своей защите, а подобное использование случившегося со мной просто осуждаю. 
Вновь повторяю, что осуждаю любое использование моих работ и имени во враждебных 
моей стране целях, для ведения против нее психологической войны, этого пролога 
войны горячей.</p>
<p>Именно по патриотическим побуждениям, без особых надежд 
на снисхождение и самостоятельно я еще летом этого года составил заявление для 
печати, аналогичное этому по содержанию. Из этих же побуждений я повторяю его 
сейчас.</p>
<p>29-30 сентября состоялся суд, который учел все 
смягчающие обстоятельства и прежде всего мое осознание своей политической вины 
перед народом и государством, и проявив снисхождение ко мне и моей семье, 
приговорил меня к 3 годам лишения свободы условно. Я должен подчеркнуть, что суд 
совершенно не добивался от меня раскаяния в своих взглядах и воззрениях, что, 
несмотря на мое инакомыслие, вынес мне приговор много легче, чем я мог ожидать. 
Я понимаю, что в этом приговоре отразилась вера суда, что я буду полезным 
гражданином и работой искуплю свою вину.</p>
<p>Через несколько дней после моего процесса состоялись 
суды над другими членами редколлегии журнала "Поиски" – В.Абрамкиным и 
Ю.Гриммом. Приговоры им были тоже максимальными, но уже не условными. Я и сейчас 
убежден в их личной искренности и нравственности, по-человечески разделяю горе 
их родных и близких, но еще больше сожалею о царившей на их судах трагедии 
взаимонепонимания и с еще большей благодарностью воспринимаю приговор себе, 
который позволил остаться мне на свободе, растить детей, быть полезным членом 
советского общества. 22.10.1980г.</p>
<p><em>В тот же день Витя позвонил 
"коллеге", встретился с ним, передал вариант №7, как доказательство того, что 
печатать AПH его не будет, поэтому никаких встреч с корреспондентом больше не 
нужно – все равно договориться не удастся. "Коллега" выразил сожаление, но, 
впрочем, это не "его дело", он только организовал "Вашу встречу".</em></p>
<p><em>В этот и последующий день Витя 
думал, что развязался с этим делом, однако, в пятницу 24.10.80г. ему снова 
позвонил "коллега" и попросил еще об одной, теперь, действительно, последней 
встрече, уж очень надоел ему этот газетчик.</em></p>
<p><em>Встретились они в той же 
гостинице. Теперь сидели только вдвоем. Корреспондент был крайне предупредителен 
и настойчив. Он говорил, что время сильно их поджимает и потому надо торопиться 
(скоро Мадридская встреча), что он говорил с тремя членами редакции и они 
согласны принять "именно Ваш последний вариант" с самыми минимальными 
сокращениями. Показал отпечатанными свой вариант (№6), Витин последний №7, и 
последний редакционный №8. Витя прочитал его и убедился, что и вправду составлен 
в основном из выражений седьмого варианта, но многое, конечно, исключено и вновь 
добавлено. Ни о какой новой отсрочке для "домашнего анализа" корреспондент не 
хотел и слышать: давайте изменять сейчас, работать сколь угодно долго, но 
закончим с делом сегодня. "Или Вы от кого-то зависите и Вам надо советоваться со 
знакомыми?"</em></p>
<p><em>У Вити не хватило духа сказать: 
"Да, мне надо советоваться" и уйти. Он начал "работу над текстом". Корреспондент 
сначала соглашался почти с любым Витиным исправлением, но затем, работая над 
формулировками, он так убедительно жаловался Вите, что через АПН невозможно 
провести те или иные фразы или мысли, что Витя невольно соглашался. Ему как бы 
льстило, что его так уламывают и уговаривают, в общем, я не знаю, как, но Витя 
подписал этот злополучный вариант №8.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="3.8.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="3.10.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
