{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Витин ответ Г. Померанцу{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.11.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.13.html"> следующая </a>
</td></tr></table>
<h3>4.12 <a href="/Tom10/butyrka/a4-71.html"> Витин ответ Г. Померанцу</a></h3>
<br/>
<table width="600"> <tr> <td>
<a href="4.11.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.13.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
