{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Переписка с В.А. вокруг статьи «Цена отречения»: Ответ Вити на письмо В.А. №1{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.14.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.16.html"> следующая </a>
</td></tr></table>
<h3>4.15 Ответ Вити на письмо В.А. №1</h3>
<p>Уважаемый B.А.! Я огорчился, едва только узнал о факте 
Вашего письма. Весной, когда Вы колебались, к кому обращаться по поводу 
обсуждения статьи "Цена отречения" (к автору или ко мне), я настоятельно просил 
Вас обращаться именно к Г.С. – и потому, что устал находиться в положении 
обороняющегося от обвинений, когда ни на что иное не хватает сил, и потому, что 
связал себя словом, а главное – потому что надеялся, что у Вас хватит мужества 
разобраться в моей критике Г.С., хоть частично понять и принять ее и донести до 
Г.С., поможете ему в этом.</p>
<p>Но вы избрали намного более легкую дорогу безусловного 
одобрения одной стороны в споре и наставления второй, "растолкования ему правды 
Г.С.", чтобы вернуть блудного сына под отчий кров – да простится ему тогда!</p>
<p>Если это Ваше желание искренне (а у меня нет причин ему 
не доверять, если не обращать внимание на проскальзывающие иногда колкости и 
вышучивания – но это, видно, лишь от прирожденного темперамента), то большое 
спасибо за эти добрые намерения, но, к сожалению, я не могу ими воспользоваться, 
не могу сознаться в грехах, которые не понимаю, не могу отказаться от своих 
убеждений.</p>
<p>Собственно, на этом можно было бы и закончить нашу 
переписку ввиду ее очевидной бесполезности и нашей неспособности слышать друг 
друга, но, уважая Вас и выполняя пожелание Лили, я попробую еще раз объясниться… 
Да нет, как ни устал, я все равно, видно, буду отвечать на прямые вопросы, не 
страшась повторений, сколько хватит сил – как бы выполняя долг перед своими 
убеждениями, и еще потому, что Вы просите: "Будем беспощадно и бестактно 
указывать друг другу, если кто-то будет увиливать и не отвечать на прямо 
поставленные вопросы". Да, я буду рад отвечать прямо и откровенно. Тем более, в 
частном порядке.</p>
<p>Лиля просила отвечать Вам по пунктам, но поскольку Вы 
сами уклонились от обсуждения по пунктам моего письма Г.С., то думаю, будет 
бессмысленно нарушать заведенный Вами порядок. Лучше обсудим главное.</p>
<p>Так вот: у меня сложилось твердое убеждение, что Вы 
уклоняетесь от понимания и обсуждения моих главных аргументов, изложенных, как в 
письме Г.С., так и "Заявлении для западных читателей". Пусть я говорил там 
косноязычно, но при желании и некотором старании, можно было бы вдуматься в 
смысл моих объяснений. Правда, Вы объявили, что взаимопонимания не надо искать с 
предателями, бандитами и т.п…. Возможно, я вхожу в их число, в число людей, от 
которых надо требовать раскаяния, а не искать взаимопонимания. Если бы Вы читали 
без предубеждения упомянутые письма, то уверен, нашли бы ответы на свои вопросы. 
Не говоря уж о смысле таких известных слов, как "оппозиция" или "лояльность". 
Если смысл этих слов Вам неизвестен, то надо просто заглянуть в толковый 
словарь, а не путаться в домыслах. Словосочетание "лояльность народу и власти", 
конечно, употребляется реже, но его смысл я много раз пояснял, хотя бы ссылкой 
прежде всего на необходимость единства оппозиции, власти и народа в случае 
реальной военной угрозы, пожеланием, чтобы "оппозиция не допускала, чтобы ее 
использовали во враждебных стране целях".</p>
<p>Вы посчитали эти мои слова лишь "участием в бессовестной 
игре", сославшись, что, мол, никто вообще не может воспрепятствовать такому 
враждебному использованию вышесказанных слов. Но всем известно, что не допустить 
неверного толкования и искажения своих слов в независимой прессе можно только 
настаиванием на собственной интерпретации, только публичными протестами против 
искажений. Вы же пользуетесь замечательной логикой: раз невозможно командовать 
мировой печатью и невозможно накинуть платок на каждый независимый роток, то и 
возражать не следует, если кто-то начнет публично искажать мои слова, толковать 
их в антисоветском духе, в обосновании, например, "извечной агрессивности 
советской империи", необходимости подготовки войны против СССР, или, еще 
радикальнее – превентивного ядерного удара на наши головы… Нельзя возражать, ибо 
этим самым будешь "играть на руку КГБ" – вот логика некоторых… на что я отвечаю: 
"Да, в этом случае я лучше буду с КГБ, чем с двусмысленностью, чем с ЦРУ… И не 
надо, В.А., делать оскорбленных глаз: в определенных (выше обозначенных, для 
примера, вопросах, я с КГБ чувствую единство и считаю долгом говорить об этом 
открыто. Вы ведь сами хотели от меня откровенности. Еще раз повторяю: я очень не 
хочу войны с Западом и, кажется, готов сделать все, что в моих силах, чтобы ее 
не было, но если она будет, то буду на стороне своих, без рассуждений, как 
воевали будущие декабристы против тогдашнего олицетворения свободы – Наполеона, 
как воевали с Гитлером массы противников Сталина. В этом и заключалась их 
лояльность стране, народу, власти. А те, кто выбрал иной путь, как, например, 
генерал Власов, посчитавший, что Сталин, мол, хуже Гитлера, и пошедший, на деле, 
против народа, были осуждены историей – и народной памятью. (Думаю, 
справедливо). И я не хотел бы, чтобы стандартные обвинения диссидентов в службе 
ЦРУ, наймитстве, пятой колонне и т.п. имели под собой даже небольшое, но 
обоснование. Потому и считаю, что диссидентам, оппозиции следует не допускать 
никаких кривотолков и умолчании в таких вопросах, четко обнародовать свои 
позиции –тогда-то и будет положен конец возможности использования нашей критики 
"во враждебных стране целях". За себя я такое заявление сделал, и отказываться 
от него не собираюсь, ибо для меня это будет равносильно отказу от лояльности 
стране, от патриотизма, как не собираюсь отказываться от своих оппозиционных 
убеждений.</p>
<p>На мой взгляд, наоборот, безответственно и бессовестно 
делать какие-либо двусмысленные заявления и не отвечать за их антисоветское 
использование (если, конечно, не заявить определенно, что являешься 
антисоветчиком или русофобом по убеждениям). Знаю, что говорить об этих вещах 
очень не просто, как не просто быть в нашей стране и патриотом, и оппозиционером 
одновременно (сейчас это называется сидеть между двумя стульями). Не просто, но 
необходимо. Поэтому я и пошел на заявление в АПН, хотя и мог бы не идти (как Вы 
помните, оно было после суда) – неудачно, конечно, АПН не может дать говорить 
своим голосом, мне пришлось отказаться от того заявления. Но обратите внимание: 
гораздо проще было бы просто отказаться, но я составил новое, действительно, 
свое, и сделал попытку передать его зап. корреспондентам, а после неудачи этой 
попытки Лиля передала его в Самиздат. Вы знаете всю эту историю, но обратите 
внимание: и уважаемые наши диссиденты, и эмигрантская пресса ("Русская мысль" от 
21 мая 1981г.) предали гласности именно искаженное АПН мое заявление (незаконное 
ввиду моего официального от него отказа), а не последний, истинный, законный 
вариант, т.е. совершают реальный подлог, лишь бы замолчать неудобную им правду – 
вот пример терпимости и этичности Ваших дорогих "друзей и единомышленников"… Не 
обижайтесь – Вы сами просили откровенности. А что касается моего официального 
объяснения - "Заявлении для западных читателей", ради появления которого я был 
готов лишиться благорасположения многих людей, а с другой стороны, рисковал и 
новой посадкой в тюрьму, то оно так до сих пор нигде и не напечатано (кроме 
официальной передачи в Самиздат): ни для властей, ни для их противников этот 
документ оказывается неприемлемым, не подходит ни для кого. И после этого Вы 
говорите, что я принял участие "в чьей-то игре"? – Если это игра, то она целиком 
моя, собственная.</p>
<p>И опять же – совсем не обеляю себя – и за допущенную 
ложь в заявлении на суде, и за слабость в разговорах с АПН, и за вынужденный 
личный отказ от самиздата. Но судят меня уже скоро год совсем не за это, а за 
высказанные убеждения. – С.В.Калистратова, Г.С.Померанц, П.М.Егидес, теперь вот 
Вы… Да, кстати, мой личный отказ от самиздата совсем не означает его осуждения 
как неизбежно враждебного стране – протестую против такого толкования, как 
против злостного искажения. Самиздат в своей массе был и может быть и дальше 
лояльным к власти и стране и не допускать, чтобы кто-либо превратно толковал 
его. Надо только быть честными и говорить любую правду, неприятную не только 
нашим властям, но и некоторым западным покровителям диссидентов.</p>
<p>Конечно, единство народа и властей совсем не абсолютно, 
иначе не было бы нужды и в оппозиции, но они и не враги друг другу (как считают 
некоторые) и, прежде всего, в области внешних отношений. Именно это 
относительное единство народа и властей требует от оппозиции отказа от 
враждебности, от сотрудничества с внешними противниками, отказа от 
насильственных действий, легальности, лояльности… Кстати, именно такая установка 
заставляет меня резко возражать против неверного отождествления нынешней нашей 
системы с фашизмом (объединяя их единым – тоталитаризм). Фашизм в народной 
памяти связан с агрессией, с войной против мира. Фашизм – это то, против чего 
надо бороться оружием. Измена фашистской присяге, шпионаж и диверсии против 
фашистского государства – это доблесть и заслуга и т.д. Я отказываюсь признать 
правильность такой линии поведения, отказываюсь верить в фатальную агрессивность 
нашей страны и неспособность ее к мирному развитию.</p>
<p>Теперь о главном – об условиях диалога. В последних 
письмах, которыми мы обменялись с Г.С., он сообщил, что намерен "строже провести 
границы диалога (в этом Ваша заслуга), но в принципе от него не отказываюсь", а 
я ответил ему, что никаких предварительных условий для диалога не вижу, потому 
что ему нет альтернативы. (Кстати, условимся, что здесь имеется в виду диалог 
оппозиции с властями, а не диалог в рамках самой оппозиции – эти вещи часто 
путают. Так, например, мой бывший коллега по "Поискам" П.М.Егидес недавно 
объявил в "Русской мысли", что наш журнал ставил целью не поиски взаимопонимания 
всех людей, в том числе и поддерживающих власти, как понималось мной и др. до 
сих пор, а - "поисками противостояния тоталитарным мерзостям", т.е. почти так 
же, как писали о нас официальные идеологи - "Поиски" были заняты поисками общей 
платформы для всех антисоветчиков!!!)</p>
<p>Сейчас, неожиданно для меня, Вы подтвердили 
справедливость моего мнения, что диалогу с властями – нет альтернативы; заявив: 
"На мой взгляд, Витя, ситуация много безнадежнее, чем Вам представляется… 
Никогда открытого диалога у нас не будет. До полного краха нашей страны или 
всего мира". Правда, из этой безнадежности Вы делаете вывод, что ничего не надо 
и делать, а только идти спокойненько к конечному краху, наслаждаясь сегодняшней 
жизнью: "А после нас хоть потоп" (конечно, это только моя догадка о ходе Ваших 
мыслей). Я же делаю вывод, что нужно сломать эту безнадежность, добиваясь 
исполнения сейчас внешне невозможного – открытого диалога оппозиции с властью. 
Да, именно так: или открытый диалог, или всеобщая катастрофа. И перед лицом этой 
будущей катастрофы преступлением перед человечеством окажутся все ссылки, что 
нынешние наши власти нехороши, не готовы к диалогу, неморальны, нетерпимы, что 
"сил, жизни не хватит на диалог с предателями, бандитами, оккупантами, 
коллаборационистами…", а в других фразах Вы к этому списку добавляете 
следователей, профессоров-экономистов, приглашенных КГБ и, как можно понять, все 
наши власти, поскольку они не моральны, связаны жесткой партийной дисциплиной и 
т.д. и т.п. Вы еще практически и не пытались вступать в такой диалог, а уже 
заранее отказываетесь не менее принципиально, чем отказываются от этого наши 
власти (мол, о чем разговаривать с отщепенцами и добровольными пособниками ЦРУ). 
И хоть бы немного подумали при этом: а как вообще возможно зарождение 
общественного диалога и открытой оппозиции в нашей стране, с ее исконными 
традициями нетерпимости, как не преодолением невозможности, как не настаиванием 
на абсолютной необходимости такого диалога? Как Вы можете говорить, что стоите 
за существование лояльной и законной оппозиции, если заранее отказываете ей в 
праве вести разговор, диалог с властвующими лицами, под лозунгом: "С ними не 
разговаривать!", как с врагами и подонками. А ведь именно это звучит не только в 
Вашем письме, но и в эссе Г.С.</p>
<p>Вместе с Вами я уверен, что это эссе станет популярным, 
но к великому сожалению, оно послужит укреплению нетерпимости и фанатизма. Вы 
считаете, что "диссидентов-фанатиков" не бывает, сами таких никогда не 
встречали. А я воспользуюсь Вашим разрешением на бестактность и прямоту и отвечу 
на Ваш вопрос: "Кстати, кого Вы имеете в виду?" Вот мой ответ: "Вы и есть такой 
диссидент-фанатик". Возможно, Вы снова "вздрогнете от удивления", но это в 
пользу, наверное, Вам трудно будет применить это слово к себе, ведь часто 
фанатик у нас ассоциируется с верностью своим убеждениям вплоть до костра, а Вы 
– вполне благополучный, наверное, конформный в реальной жизни человек. Но я 
говорю сейчас и говорил раньше не столько о фанатиках дела, сколько о фанатизме 
убеждений. Ваши же позиции однозначны и непримиримы, фанатичны: "во всем прав 
только Г.С., разговаривать с ними аморально, а страну и мир ожидает крах". 
Правда, очевидный радикализм Ваших убеждений не вяжется с внешним жизненным 
благополучием, дружественными отношениями с высокопоставленными чиновниками (до 
замминистра включительно), с глубокой законспирированностью мыслей и поступков в 
реальных действиях… Однако я давно понял, что радикализм (фанатизм) убеждений 
чаще связан не с открытым поведением, а, напротив, с законспирированностью, 
которая с одной стороны давит человека, вызывает в нем ненависть от слабости и 
недовольства собой, а с другой стороны позволяет придерживаться сколь угодно 
крайних убеждений, раз это в действия не выливается и никакими неприятностями не 
грозит. И Вы правы: чем высокопоставленней чиновник, тем более он 
законспирированный, и тем он "левее и радикальнее" в дружественной обстановке, 
среди своих. Думаю, что в силу этих причин Вы намного радикальнее открытых 
правозащитников, а Ваш знакомый замминистра радикальнее Вас. Можно предположить, 
что министры, т.е. члены Советского правительства, наша официальная власть, 
среди своих оказываются совсем отъявленными радикалами, может даже 
антисоветчиками. Тогда получается, что советскую власть осуществляют 
антисоветски настроенные люди (а подлинно советскими людьми оказываются открытые 
критики существующих властей). И каждый из них считает себя совершенно 
бессильным, не имеющим никакой возможности действовать по собственным 
убеждениям, и у каждого на это есть весомые доказательства. А на деле именно они 
и властвуют – бессильно и безответственно. И Вы как раз среди этих людей, пусть 
и на относительно малом уровне, но тоже реально осуществляете советскую власть, 
а "среди своих" к ней непримиримы. А главный парадокс заключается в том, что 
такие "радикалы-конспираторы" способны презирать "идейную трусость" людей, 
открыто, но лояльно критикующих власти. Они, реальные лицемеры, способны 
упрекать других за умеренность открытой критики и стремление к компромиссам ради 
выживания оппозиционной мысли.</p>
<p>Мне лично такой двусмысленный стиль жизни не по нутру, и 
потому я с огромным облегчением раскрыл на следствии свой псевдоним, как только 
это стало возможным. К сожалению, этот тип поведения сейчас распространен, но 
надеюсь, что в будущем его "популярность" уменьшится в пользу открытой жизни 
лояльных, умеренных и ответственных граждан.</p>
<p>Кончаю свой затянувший ответ. Если отбросить чувство 
усталости от чрезмерно частых объяснений, то я рад обсуждению проблем диалога и 
со следователями-комитетчиками, и с подпольными диссидентами, ибо стремлюсь к их 
пониманию и примирению.</p>
<p>Еще раз спасибо и до свидания. Ваш В.Сокирко. 
29.7.81г.</p>
<br/>
<table width="600"> <tr> <td>
<a href="4.14.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.16.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
