{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Переписка с В.А. вокруг статьи «Цена отречения»: Мой ответ В.Л.А. 19 августа 1981г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.16.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.18.html"> следующая </a>
</td></tr></table>
<h3> 4.17 Мой ответ В.Л.А. 19 августа 1981г.</h3>
<p>Здравствуйте, B.Л.А.! Витя сейчас в совхозе, но Ваше 
письмо адресовано нам обоим, и я решилась ответить. К тому же мне верится, что 
мои слова, как перевод Витиных мыслей, могут оказаться более удобными для Вашего 
восприятия. Конечно, может, что и неправильно истолкую, но надо же ответить.</p>
<p>Прежде всего, он не смешивает адресаты. Когда писал для 
КГБ, то так и называл: "частная записка для…" В письме, адресованном Вам, каждое 
слово – для Вас. Это входит в понятие порядочности, а если Вы и в этом 
усомнитесь, то совсем не останется почвы для нормальных отношений.</p>
<p>По пп. 1-4. Ответ в п.1 не по существу. Из первого 
Вашего письма действительно следует, что Вы и вправду не посмели усомниться в 
правоте Г.С. (потому все, им написанное, Вам очень близко), и оттолкнулись от 
Витиной, не проанализировав ее. Наверное, она неприятна по духу. И хотя Ваше 
неприятие облачено в форму вопросов, но ответы на них уже содержатся в известных 
Вам Витиных письмах, а Вы их все равно не видите. А если бы видели, то и вопросы 
звучали бы иначе. Например, так: Вы выдвигаете тезис (высказываете мысль), но не 
подтверждаете ее, или подтверждаете тем-то, что вызывает недоумение потому-то… 
Тогда была бы видна попытка разобраться в его устоях и аргументах. Ваши же 
вопросы – лишь "на засыпку". Так и ощущается, что ответ-то у Вас есть, Вы просто 
предоставляете Вите возможность понять абсурдность его основных положений.</p>
<p>Наверное, это оттого, что у Вас еще нет доверия к чужому 
мнению, а диалог – это только перекидка мнениями (в духе показанной мне раньше 
переписки о прогнозировании будущего). Не хватает желания понять другого 
человека (не себя, а совсем другого, самобытного)*.</p>
<p></p>
<p>*Примечание: На последующей встрече В.Л.А. объяснил мне, 
что в упомянутой переписке тезисность его ответов была обусловлена лишь желанием 
обратить внимание на слабые места, и только. Я извинилась за неудачный пример, 
но что касается данной переписки, то его желание понять Витю по-настоящему все 
же плохо ощутимо.</p>
<p></p>
<p>Исток нашей культуры – православие – этому не учит, а 
больше упирает на соборность, на единомыслие. Но все же, попытаемся стать 
европейцами или закончим разговор, расставив "точки". Против Ваших 
пунктов-выводов я поставлю свои как своеобразные кредо веры, а ведь о вере 
спорить бессмысленно. И станем принимать друг друга в таком вот виде, не пытаясь 
уламывать. Отыщем другие сферы общих интересов, скажем, в искусстве или в 
вопросах воспитания детей мы можем быть друг другу полезными.</p>
<p>П.5-6. Давайте закончим с терминологией. Не знаю, есть 
ли у Даля перевод слова lojal – "верный", но он есть в БСЭ – 2 изд. Включает ли 
слово “верный” еще оттенок благожелательности? Для меня такой оттенок более 
ощутим у слова "лояльный". Посмотрим, как он увязывается со словом оппозиция 
(oppositio – лат. – противопоставление).</p>
<p>Лояльная оппозиция – некая общность людей, 
доброжелательно противопоставляющая вслух свои взгляды и действующая в рамках 
законов страны, т.е. верная выработанным законам. Лояльная оппозиция всегда 
открытая. Наши правозащитные группы – элементы такой оппозиции. Если лояльный 
оппозиционер убежден, что агропромышленные комплексы вредны стране, то, желая ей 
добра, он доводит свое мнение до правящей группы доступными ему средствами (в 
нашей стране это в основном через письма). Это его долг перед страной, народом и 
той же правящей группой. Именно так поступает Витя, сообщая правящей группе 
через письма в ее печатные органы свои предложения по решению самых важных для 
страны (и надо думать – для власти) вопросов. Писать он начал с 61 г. Вот 
наиболее важные письма: в ответе Н.Яковлеву в 1974 году после опубликования его 
статьи о Солженицыне, с предложениями о взаимоотношениях власти с 
инакомыслящими, в 78г. – по проекту Конституции, в 79г. – по экономике, в начале 
80г. – по Афганистану, в конце 80г. – опять по экономике. А были еще – зам. 
Пред. Совета Министров СССР Антонову (апрель 81г.), директору Института 
экономики (июнь 81г.).</p>
<p>Вы все еще сомневаетесь в возможности лояльной оппозиции 
в нашей стране? Может, Вы считаете письма делом незначительным, неэффективным? 
Незначительным не можете считать, т.к. даже с нашей частной перепиской 
осторожничаете. А неэффективным, точнее – малоэффективным, его и следует 
считать, потому что мало их, оппозиционеров, голос их – тоньше комариного писка, 
и потому от них отмахиваются, как от комаров, а не ведут разговор, а то и 
прихлопнуть могут, посадив в тюрьму. Но кто знает, где прохудится завеса 
молчания: в следовательском ли кабинете, в беседах с экономистом-профессором или 
в ответе директора Института экономики… Вы не верите в прорыв завесы на 100%, 
Витя не верит на 98%. Но он счастливей, у него есть надежда на 2%, есть цель 
снизить своей жизнью безнадежность еще на миллионную долю процента. Может, он 
относится к людям с большим доверием к будущему, или лучше изучил обстановку в 
стране, что смог выделить эти два процента, как две звездочки в темноте. Через 
Витю эти звездочки светят и мне, но как их Вам подарить – не знаю.</p>
<p>Власть и народ в наших глазах почти едины. То, что 
следователи и ГБ-сты скорее народ, чем интеллигенция – это для меня ясно, как 
божий день. Они обычные люди, и нет у меня перед ними страха или что они на 
порядок умнее. Только, бесспорно, боюсь грубой силы.</p>
<p>Мы привыкли думать, что власть – на вершине социальной 
пирамиды, но где она кончается? – В кассире, в учетчице, в уборщице. Мы 
властолюбивы сверху донизу. Потому, думаю, и правомочно объединять народ и 
власть, и потому лояльны мы именно к тому народу и той власти, которые даны нам 
в этой жизни – ведь других нет. В этом наш с Вами патриотизм (понятно и в защите 
от внешних врагов) и выражается. Приятно знать, что Вы не стесняетесь назвать 
себя патриотом. Или Вы патриот только в случае войны?</p>
<p>П.7. Я извелась, пытаясь понять доводы Ваших друзей. 
Хотелось бы напомнить, что открытый диалог с властью начали своими открытыми 
письмами инакомыслящие еще в 60-х годах. В иной форме продолжил журнал "Поиски" 
в 78г., и Витя своими письмами вписался в эту струю, пробивающую завесу 
молчания. Диалога пока нет. Может, власти и учатся "отвечать на письма 
трудящихся" – ответы их в основном формальные или с тяжелыми последствиями для 
нашей стороны. Но почему Ваши друзья говорят, что Витя лишь призывает к 
открытому диалогу? – Покажите им перечень его писем, в том числе и самых 
последних… Спросите своих друзей, отстаивающих право на независимое слово, зачем 
оно им нужно? Просто для самовыражения достаточно писать и отдавать в самиздат, 
ожидая оценки читателей. Что еще нужно? Хочешь быть полезным стране – посылай 
свои вещи в официальные органы, в самиздат или приводи свои предложения на 
собственном участке работы. И если в самом деле любишь не себя, а страну, то, в 
конце концов, найдешь приемлемую форму своего активного подталкивания ее в 
направлении, которое считаешь правильным. И не только правозащитники. 
Писатели-деревенщики, возродившие наше уважение к селу – весьма благотворно 
действуют на нашу нравственность, умеют через цензуру провести актуальнейшие 
мысли (один Ю.Чередниченко чего стоит!).</p>
<p>Но в том-то и дело, что у Ю.Чередниченко есть своя 
концепция, ему есть что сказать важного всем, есть конструктивные мысли. Имеют 
ли конструктивные мысли Ваши друзья (ведь конструктивное – это не значит, 
радикально все смести и построить новый дом, а – как перестроить имеющийся 
дом?). А если имеют, то почему таят, почему не прилагают силы, чтобы они стали 
достоянием народным (поначалу хотя бы написать и распечатать)? Если не имеют, (а 
таких критиканов сейчас большинство), то я им сочувствую, как людям, не сумевшим 
взять свою жизнь в свои руки, ищущим причины своей слабости не в себе, а вовне, 
но стараюсь не зависеть от мнения таких людей. </p>
<p>П.8. пропускаю.</p>
<p>Жаль только, что Вы свалили эти фразы в одну кучу и 
восприняли их лишь как личные выпады. По-видимому, Вам просто некогда, а так 
почему бы Вам и не обсудить тему диссидент-фанатик, например, если Вам так 
важно, что подумают наши знакомые, которым придется прочитать Архив. Манера 
Витиной полемики, конечно, не из лучших. Он это осознает, досадует, нередко 
исправляет. Я думаю, что если бы он умел говорить в академической манере с 
людьми, ценящими слово, как таковое, вроде Вас, то пользы и взаимопонимания было 
бы больше. Но он – простолюдин, и сама по себе мысль для него первична. Ее он 
старается донести любыми средствами, воздействуя сразу и на разум, и на чувства 
(не всегда удачно). Зато Вы не можете его упрекнуть, что он увильнул и не 
ответил на прямо поставленный вопрос, разве только не стал переводить слово 
"лояльный".</p>
<p>П.9. Упоминание о спорах "фашистская-нефашистская" было 
введено словом "кстати", и к Вам, конечно, никак не может относиться. Просто 
Витя обговаривал свое отношение к стране со всех сторон. К сожалению, мы знакомы 
с людьми, которые отождествляют фашистский строй с нашим (сожалею не о 
знакомстве, а о том, что они так думают). Этим он обосновывал, почему наша 
оппозиция не должна быть враждебной стране, народу, власти.</p>
<p>Тоталитарен ли наш режим? – Скорей всего – да. Но есть в 
нем особенность – властолюбие снизу доверху, которая мешает мне утверждать это 
без колебаний.</p>
<p>П.10. Подведу итоги и я.</p>
<p>10.1. Вы правы, но завесу молчания надо сверлить своей 
ручкой – вдруг порвется. Потому что сама по себе она уж точно не прорвется. В 
этом долг гражданина. </p>
<p>10.2. Конечно, наши знания по этому вопросу очень далеки 
от точных. Сомневаюсь, что точность здесь вообще возможна. Но что-то мы знаем из 
общения, рассказов, книг, радио, газет, анализа поведения и интересов. Эта кроха 
знания плюс интуиция и дает силу действовать. Если же человек не доверяет своей 
интуиции или знания столь малы, что и интуиция бессильна, то, конечно, ему не 
следует пока выступать на общественной арене.</p>
<p>10.3. Вы правы. И только вера в наш народ, в то, что он 
переболеет и воспрянет в новой форме (например, в виде заинтересованного 
результатами своего труда крестьянина, кормящего горожан через рынок, частного 
предпринимателя, ремесленника шьющего, вяжущего, печатающего и т.д. на дому или 
в независимых объединениях, тем самым делающих очень нужную людям работу и этим 
пересоздающим нашу экономику на здоровой основе и нравственности, на уважении к 
себе и другим) – только это поддерживает нашу надежду на изменение к 
лучшему.</p>
<p>10.4. Мне представляется, что репрессии против 
инакомыслящих всегда были жестокими. Раньше сажали даже за распространение, а 
сейчас за активные действия. Ваше право хотеть или не хотеть вести диалог. Можно 
и подождать, пока почву для диалога в этих условиях создадут другие люди.</p>
<p>10.5. Надо ли Вас понимать так, что момент неподходящий, 
что целесообразно сидеть тихо и только молча можно выжить? Ну и выживайте – это 
очень нужное дело – выжить и вырастить детей. Вы добры и хотите помочь выжить 
нам, но это обережение, многократно повторенное, становится навязчивым. Доверьте 
нам нашу жизнь, как умная мать доверяет своему уже взрослому ребенку. Мы ведь 
тоже надеемся, что наша семья, включая и лояльно оппозиционного папу, деятельно 
любящего и страну, и нас – тоже выживет. А насчет провокационности, то вспомните 
Г.С.. Он дал другое толкование слову provocative. </p>
<p>10.6. Это теоретическое умозаключение не укладывается у 
меня в голове. Не могли бы Вы проанализировать его на примерах?</p>
<p>10.7. Эсхатологические настроения, вроде как у Вас, к 
сожалению, широко распространены. Может оттого, что стало больше христиан?</p>
<p>Но даже если наша страна переживет крах на нашей жизни, 
давайте, встретив его достойно, проживем оставшиеся годы счастливо, управляя 
своею жизнью сами.</p>
<p>10.8. Намек не поняла. Может, Вы остерегаетесь нашего 
"раскола" у следователя, раскрытия псевдонима?.. Я долго искала и не нашла, 
простите, убедительных слов для Вашего успокоения. Прислушайтесь к своей 
интуиции. Будьте счастливы. Лиля. 18.8.81г.</p>
<br/>
<table width="600"> <tr> <td>
<a href="4.16.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.18.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
