{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Г. Павловский «К вопросу о снисхождении»{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.23.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.25.html"> следующая </a>
</td></tr></table>
<h3>4.24 <a href="/Tom10/butyrka/a4-83.html"> Г. Павловский «К вопросу о снисхождении»</a> </h3>
<br/>
<table width="600"> <tr> <td>
<a href="4.23.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.25.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
