{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Письмо к Соне Гримм{% endblock %}
{% block content %}




<h3>4.28 Письмо к Соне Гримм</h3>
<p>Дорогая Соня! Мы получили недавно письмо от 
Ю.П.Величкина, которой объявляет себя "доверенным лицом семьи Гримм", но в то же 
время проявляет элементарную неосведомленность и требует моего ответа на Ваше 
декабрьское письмо. Неужели он не знает, что этот ответ Вы уже давно получили? 
Но тогда какое же он "доверенное лицо"? А может, он просит обязательно открытого 
ответа, но тогда об этом надо прямо и писать. Обратного адреса он не сообщил, 
поэтому объясняться придется через Вас.</p>
<p>А может быть, дело в том, что мою приписку к 
декабрьскому ответу о его частном характере, Вы, Соня, принял и как запрет 
показывать его кому-либо. Но это неправильно. Сам я показывал и Ваше и свое 
письмо многим своим друзьям. То же самое, разумеется, вправе делать и Вы. 
"Частный характер" письма означает лишь запрет на его открытую публикацию (в 
Самиздате или тамиздате). Поэтому, если Юрий Павлович в самом деле является до 
сих пор Вашим доверенным лицом, то, конечно, надо ознакомить его с моим 
ответом.</p>
<p>И еще прошу объяснить ему, что я "налаживал контакты с 
Соней Г.” совсем не ради того, чтобы узнать "кто это написал ей" то декабрьское 
письмо (Правда, друзья поделились со мной догадкой, что оно было написано под 
влиянием Ю.П.Величкина, что скоропалительная резкость и недоброжелательность в 
нем вызваны, видимо, именно этим влиянием, а не Вашим с Юрой отрицательным 
пониманием меня – конечно, это важно для наших личных отношений, но и только), а 
скорее по Вашей с Юрой инициативе и чтобы завязать переписку с Юрой.</p>
<p>Что касается того, что обо мне говорят зарубежом и, в 
частности – П.М.Егидес, то не в моих силах и возможностях этому противостоять. Я 
уже обращался с публичной просьбой к Западу – забыть обо мне и объяснял, что не 
имею права на публичную самозащиту.</p>
<p>А, кроме того, все основное в этом плане уже высказано 
мною и Лилей. Конечно, если кто-то опровергнет очевидную неправду обо мне 
(неужели Егидес мог в интервью Би-би-си 24.5.81г. сказать, что я нахожусь в 
тюрьме? – Наверное, Юрий Павлович напутал…), то я буду благодарен за это, но сам 
заниматься опровержениями не могу, заранее мирюсь с тем, что обо мне создастся 
превратное представление. Но убежден, что внимательный читатель, если захочет, 
сможет понять правду. Конечно, мне очень хотелось бы попенять П.М.Егидесу, что 
он пользуется формулировкой судебной коллегии - "свою вину Сокирко признал 
частично", хотя признания юридической вины не было, но и этого я делать не буду 
– все разъяснится само собой.</p>
<p>Очевидно, что с Юрием Павловичем мы очень разные люди. 
Он, на мой взгляд, чистейшей воды максималист, яро враждебный к "изму", как к 
ложной идее. Я же, несмотря на буржуазность существенной части своих убеждений, 
человек не только компромиссный, но и просто советский, действительно, лояльный 
к власти. Что поделаешь, но даже в тюрьме я чувствовал гораздо больше сродства с 
надзирателями и следователями, чем с частью своих коллег-сокамерников… Однако 
эти мои особенности не мешали взаимопониманию с В.Абрамкиным и другими в 
редакции "Поиски". Думаю, что способен понять и Ю.П.Величкина, уважаю его 
позицию, хотя и не могу внутренне с ней согласиться. Если у него есть такое же 
понимание и моей позиции, есть желание, то буду рад с ним познакомиться и все 
недоразумения выяснить просто в беседе.</p>
<p>Приходите к нам вместе.</p>
<p>Кроме того, Соня, мы так ничего и не знаем о сегодняшнем 
положении Юры в лагере. На мое письмо он не ответил, неизвестно почему. Получил 
ли он мое письмо? В конце мая я забегал к Вам домой, передал через Клайда 
записку и приглашение на диафильм, но ты не пришла, неизвестно, по каким 
причинам. В общем, мы ничего не знаем.</p>
<p>Если тебе трудно звонить нам на работу, то, пожалуйста, 
отвечай письмом – ведь бросить открытку нетрудно. Очень прошу – ответь на это 
письмо. 17.6.81г.</p>
<br/>

<br/>

{% endblock content %}
