{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Отклик Глеба на Катино письмо{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.32.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.34.html"> следующая </a>
</td></tr></table>
<h3>4.33 <a href="/Tom10/butyrka/a4-92.html"> Отклик Глеба на Катино письмо</a> </h3>
<br/>
<table width="600"> <tr> <td>
<a href="4.32.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.34.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
