{% extends 'base.html' %}
<title>Вокруг Поисков: Витин комментарий Отклика Глеба</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="4.33.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.35.html"> следующая </a>
</td></tr></table>
<h3>4.34  Витин комментарий Отклика Глеба</h3>
<p>Вслед за неожиданным письмом Кати – совсем уж 
непрошенное письмо Глеба. Пишу ради того, чтобы кончить этот «спор», когда у 
меня не осталось никакого желания продолжать его. Так же как и Кате я не буду 
отвечать, а комментарий в дневнике – лишь способ осмысления, который совсем не 
равнозначен продолжению спора.</p>
<p>Манера Глебова письма очень своеобразна, 
импрессионистична что ли, и я с огромным трудом её перевариваю. Первые два его 
письма были направлены не ко мне, и потому я мог воспринимать их лишь в важном 
для меня разрезе. Последнее письмо обращено ко мне целиком и, хочешь–не хочешь, 
придётся воспринимать его в целом. Наверное, будет неинтересно уличать Глеба в 
противоречиях: вот в письме в «РМ» он говорит, что «никто из нас не предавал ни 
«Поиски», ни себя, ни других», а сейчас утверждает, что «с точки зрения любой 
морали – это преступление… отступничество. Отречение. Измена». Не стоит обращать 
внимание на изощрённую диалектичность, когда тебя вроде поддерживают, перед этим 
и вместе измордовав всласть. Это всё мелочи, не стоящие внимания – хватило бы 
сил понять смысл.</p>
<p>Итак, пренебрегая красотами стиля вроде «жалок», «мельче 
некуда», «вымогательство», «истерика», «свидетельство о невиновности» и т.д. 
т.п. (не говоря уж о «лоскутке на сраме»), пойду по тексту.</p>
<p>В моём заявлении на суде не было ничего от Сокирко, но 
был выбор и начало «какой-то позиции», которая позволила порядочному человеку 
подписать явную пакость». Первый мой «истинно смелый поступок в том году» 
заключался в принятии на себя ответственности за сентябрьское заявление. Тем 
самым я отказался от части друзей, но не совершил «второе отступничество». 
Сентябрьское заявление - это первое отступничество, отречение, измена, 
преступление против совести. Но есть и другая совесть, которой, видимо, я и 
последовал и ей мне надо следовать. Её значимость доказывается ссылкой на 
отступничество Петра, а ещё лучше на религиозный цинизм Генриха IV, 
пренебрегшего своей верой ради материального благополучия французов. Этот 
«нравственный выбор» выбил у меня из под ног почву диссидентства и теперь надо 
идти своим путём до упора, не искать оправдания и не заниматься рассуждениями в 
семейном архиве.</p>
<p>Во второй части письма по «личному вопросу», а на деле о 
диссидентстве, Глеб говорит: морально идти в лагерь за убеждения, но нечего 
говорить о морали, когда он «ищет протекции» у Запада, когда отстаивает взгляды 
«наших старых противников», т.е. Запада, когда втягивает в «игру на политических 
нервах сверхдержавы» (СССР или США?). В лагерях же нет героев, да они и 
уравнялись с трусами, да они частью и гибнут прежде чем останутся людьми или 
перестанут быть людьми. У нас же есть обязательства лишь перед первыми 
попавшимися, нашими пострадавшими (Валера, Юра…). Глеб никогда не согласится « 
ни с проволокой, ни с мозговыми перегородками в мозгу, рано или поздно 
превращающимися в новые рвы трупов».</p>
<p>Наконец, ему не нравится мой «кокетливо-развязный тон в 
защиту сентябрьской диктовки», потому что это не достойная речь о гражданском 
согласии с властью, когда это возможно и необходимо, а бормотливая, бесчестная 
скороговорка, безответственная и подстрекательская, оправдание на все стороны и 
не всерьёз. </p>
<p>Кажется всё. С трудом, но какая-то логика 
вырисовывается. Однако неожиданно она оказывается странно знакомой: в лагерях 
героев нет, есть только перестающие быть людьми, запутавшиеся и пострадавшие. 
Совершив отступничество от диссидентов на суде, надо идти своим путём до упора, 
не ища извинений, а вырабатывая достойные формы гражданского согласия с 
властью…</p>
<p>Вот так-то, Виктор Владимирович… Глеб как будто забыл 
всё, что знал с несомненностью: что я никогда не присягал диссидентам и потому 
не мог совершить ни измены, ни предательства, ни отступничества, ни , что я 
никогда не оправдывался за грех лжи в своём заявлении на суде ради личного 
компромисса во имя жизни, но заменил его на «заявление для западных читателей» 
(Лиля сделала его публичным) и потому только на него и следует ссылаться 
приличным людям. Почему? – не знаю.</p>
<p>Даже близкие мне рассуждения о двусмысленности положения 
диссидентов, когда они не отделяют себя от безусловной западной позиции, 
соединены здесь с двусмысленными рассуждениями об уравнении героев и трусов, о 
лагерях… Зачем8 – не понимаю.</p>
<p>Что мне делать с Глебовым письмом? Только одно – пройти 
мимо! Только так можно последовать его совету «Иди своим путём!» </p>
<br/>
<table width="600"> <tr> <td>
<a href="4.33.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.35.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
