{% extends 'base.html' %}
<title>Вокруг Поисков: Ответ из Мосгорпрокуратуры от 30.12.80г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="4.3.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.5.html"> следующая </a>
</td></tr></table>
<h3>4.4 Ответ из Прокуратуры г. Москвы от 30.12.80г.</h3>
<p>Сообщаю, что Ваше заявление от 14.12.80г., поступившее в 
прокуратуру г.Москвы, рассмотрено. Вопрос о возврате изъятых у Вас при обысках 
материалов и предметов будет решен после принятия окончательного решения по делу 
№ 50611/14-79.</p>
<p>Зам.нач.следст.управления прокуратуры г.Москвы, советник 
юстиции В.Ю.Смирнов</p>
<br/>
<table width="600"> <tr> <td>
<a href="4.3.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.5.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
