<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Вокруг Поисков: С. Пирогов «Поиски» №1-8» </title>
</head>
<body>
<script src="/modules/utilities.js" type="text/javascript"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            show_footer_and_header(window.location.pathname)
        });
    </script>
<table width="600"> <tr> <td>
<a href="4.6.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.8.html"> следующая </a>
</td></tr></table>
<h3>4.7 С.Пирогов "Поиски" №1-8</h3>
<p>Пожалуй, следует отметить огромную изобретательность и 
предприимчивость В.Сокирко, члена редакции (с №5) и весьма плодовитого автора, 
нередко выступавшего также под псевдонимом "К.Буржуадемов". Он решительно брался 
за многие темы, проницательными замечаниями, например, блещет его статья "Стиль 
руководства страной, как он видится в книге Л.И.Брежнева "Целина" (в №6), он же 
организовал дискуссию вокруг максимы "Жить не по лжи?", в которой проявил немало 
остроумия (отдельное приложение к №8). Он также выступил с множеством 
рекомендаций в статье "Диссиденты на рубеже 80-х. К вопросу о диссидентской 
этике" (в №8 эта статья напечатана в журнале "Посев" за 1980г.). Правда, автор 
переоценил свою готовность "спокойно отсидеть, сколько выпадет, и дождаться 
более справедливых времен" (из письма В.Сокирко из-под ареста), а КГБ сообразил 
предложить ему столь обходительный "компромисс", что при желании можно было бы и 
не заметить, как тебя "попользовали". Разумеется, не за такой компромисс и не за 
такой диалог боролись поисковцы словом и делом, жизнью и пером…</p>
<p><em>Кстати, "коллега следователя" 
упрекал Витю фактом напечатания этой статьи в "Посеве". Витя спросил: "А что, 
разве эта статья клеветническая?" – Коллега промолчал, ведь следствие ни разу не 
поставило Вите в вину его последние, предъарестные статьи.</em></p>
<p><em>Статья С.Пирогова понравилась 
спокойствием, выделением в "Поисках" главного: диалога и взаимопонимания. 
Например:</em></p>
<p><em>"Призыв к честному и смелому 
диалогу со всеми секторами общественного самосознания, вплоть до "народных 
сталинистов" (выражение В.Сокирко, обозначившего так симпатизантов покойного 
генералиссимуса)".</em></p>
<p><em>Витю покоробили лишь детали, 
вроде "поисковцы", "попользовали". И никто не предлагал ему "обходительный 
компромисс", за него приходилось бороться. И конечно, никто о "таком не мечтал". 
"Мечтали” о гораздо более достойном. Но вот реально получилось так. У него хуже, 
у других лучше, у третьих совсем никак. Это жизнь.</em></p>
<p><em>Другим отзывом, очень тяжелым, 
может быть, самым тяжелым и огорчительным, оказалась статья Г.С.Померанца "Цена 
отречения". В марте 1980г. Григорий Соломонович выступил со статьей в защиту 
Вити, после сентября дважды встречались (правда, с каждым разом все сдержанней) 
и вот – публичное осуждение. По имени и фамилии Витя не указан, но по деталям 
всем ясно, что речь идет именно о нем.</em></p>
<p><em>Снова Витя не спал ночь в 
чтении, а через неделю составил частный ответ. Частное письмо на открытые 
обвинения кажется бессмысленным, но оказывается, что трудно жить без 
ответа.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="4.6.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="4.8.html"> следующая </a>
</td></tr></table>
<br/>
</body>
</html>