{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Частное письмо Сокирко Цена отречения от диалога{% endblock %}
{% block content %}




<h3>4.9 <a href="/Tom10/butyrka/a4-71.html">Частное письмо Сокирко Цена отречения от диалога</a> </h3>
<p><em>Наконец, третий отзыв, 
пришедший к нам примерно в то же время – был от М.Я.Гефтера. Для Вити он был 
наиболее важным и значительным, - "как почва под ногами". Ведь Михаил Яковлевич 
играл ведущую роль в выдвижении идеи поисков взаимопонимания в "Поисках" и в 
более широком плане.</em></p>
<br/>

<br/>

{% endblock content %}
