{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Генеральному прокурору СССР от историка Гефтера М.Я.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="4.36.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.2.html"> следующая </a>
</td></tr></table>
<h3>Раздел V. 1982 год и дальше</h3>
<p><em>(В этом разделе События описывает Витя)</em></p>
<h3>5.1 Генеральному Прокурору СССР от историка Гефтера М.Я.</h3>
<p>Причины серьезнейшего свойства побудили меня прибегнуть к этому обращению.</p>
<p>Лишь отчасти эти причины касаются непосредственно меня. 
Имею в виду обыски дважды (4 декабря 1979г., 6 апреля 1982г.), произведенные у 
меня по ордерам, которые выдала Московская прокуратура. Я не стану задерживаться 
на подробностях. Они более или менее стереотипны, да и то, что весьма ощутимо 
для отдельного человека, не в любой момент злободневно для всех. Поразишь ли 
тем, что люди, представляющие органы правопорядка, сами открывают входную дверь 
в квартиру (как было во время первого из упомянутых обысков) или вовлекают в 
процесс обыскивания понятых (как было во второй раз)? Но человек – живое 
существо и, даже достигши моих лет, не утрачивает "наивного" свойства – 
удивляться. В данном же случае удивляться абсурдности действий, особенно 
задевающей сознание, когда эти действия наблюдаешь в натуре, когда на твоих 
глазах укладывают в мешок твои рукописи, книги и выписки, заметки, 
предназначенные для друзей, иначе говоря – обиход умственной работы и ее итог, 
который для того, кто производит эту работу, чаще всего неоднозначен, оставляя 
место сомнению и побуждая возвращаться вновь и вновь к будто решенной проблеме, 
к казалось бы законченному тексту. Что же, как не абсурд, вторжение в эту сферу 
людей, наперед уверенных, что этот самый текст, эта рукопись, эти заметки не 
более чем улика преступления?</p>
<p>Я не сделаю никакого открытия, сказав: презумпция 
виновности в любом случае страшная вещь, распространенная же на мысль – вдвойне. 
Это было правильно и вчера, тем более правильно сегодня. Частные же случаи 
бросают свет на ситуацию в целом. Можно, правда, пренебречь этим. Может 
показаться, что ущерб, наносимый отдельным людям, выпавшим из "общего строя", не 
вредит остальным. Но это тот же абсурд, только взятый с другой, не менее 
самоубийственной стороны. И что красноречивее в этом отношении, чем уроки 
последнего полувека, а внутри них – особо, отдельно – уроки 1930-х с их 
чересполосицей подвигов и злодейств, удивительных прозрений и чудовищной 
слепоты, с их новорожденной идеей неделимости Мира и с их роковой неспособностью 
преодолеть барьер различий – и с судьбой еретиков того порогового десятилетия: 
отпавших и отброшенных, загубленных и потерпевших поражение из-за собственной 
слабости, которая едва ли не родственней нам сегодня, чем все остальное в нашем 
не едином всеобщем наследстве. Я позволю себе утверждать это, поскольку потратил 
годы на уяснение и этих уроков, и этой судьбы, мои возражения против 
произвольных действий, нарушающих мою работу, проистекают, прежде всего, из 
взгляда, внутри которого я сам занимаю довольно скромное место.</p>
<p>И еще одна, решающая причина моего обращения к Вам и в 
данный момент: тревога за участь молодых людей, к духовной 6жизни которых я 
прикосновенен, равно как и они прикосновенны к моей духовной жизни, к моим 
интересам, к моим сомнениям. Этой счастливой связью я дорожу больше, чем 
нормальными условиями для независимой профессиональной деятельности; в сущности, 
она (эта связь) и составляет главное из названных условий, и всякий 
принудительный обрыв ее я воспринимаю как посягательство на меня самого. Поэтому 
я считал не столько даже непременным, сколько минимальным ходатайствовать о 
вызове свидетелем на процесс В.Ф.Абрамкина в 1980 году (Мосгорсуд мне в этом 
отказал). Сегодня же я просто не простил бы себе, если бы ответил молчанием на 
арест Г.О.Павловского.</p>
<p>Поскольку все, о чем сказано выше, имеет отношение к 
делу, значащимся под номером 50611/79, считаю необходимым изложить ниже то, что 
я думаю об этом деле.</p>
<p>Заведенное три года назад и незакрытое и по сей день, 
оно расшифровывается (следствием) как дело "Поисков". Таким образом, обыски, 
аресты и судебные приговоры, затрагивающие отдельных лиц и вносящие в крутые 
перемены их судьбу, направлены против них в меру их причастности к журналу, 
издание которого было прервано волеизъявлением редакции в конце того же 1979 
года.</p>
<p>В этой связи возникает два не частных вопроса. Первый: 
характер журнала, преследуемого много спустя после того, как появился на свет 
его последний (8-й) номер. Второй же вопрос касается самого незакрывания дела – 
правового и общественного смысла этой акции (ибо, это, конечно, не простое 
затягивание времени).</p>
<p>Что касается первого вопроса, то мне уже приходилось 
формулировать свою позицию – в заявлении, внесенном в протокол допроса 9 июня 
1981 года. Там говорилось в частности:</p>
<p>"1. Я считаю незаконными любые действия, препятствующие 
гражданам СССР (каждому из граждан) выражать устно или письменно свои убеждения 
и взгляды – естественно при условии, что эти публично высказываемые взгляд не 
содержали призыва к насилию.</p>
<p>2. С этой точки зрения я рассматриваю преследования, 
которым подверглись редакторы журнала "Поиски", как необоснованные и 
противозаконные".</p>
<p>Сейчас уместно дополнить этот текст следующим: моя 
причастность к "Поискам" не составляет тайны. И не потому, что нечто ранее 
скрытое оказалось разоблаченным и теперь нет резона его утаивать. Нет, этой 
тайны не было с самого начала. Более того: тайна была отвергнута как таковая – 
всеми, кто решил учредить "Поиски", положив в основание их принцип открытой 
мысли и диалога убеждений (неограниченного ни составом вопросов, ни составом 
участников). Мое добровольное и обдуманное решение участвовать в "Поисках" было 
обусловлено активным согласием с указанным принципом. Оно документируется 
текстом "Приглашения", написанного мною и опубликованного в первом номере 
журнала. Я подкрепил эту свою позицию (не считая статей, в которых она отражена) 
в письме редакторам "Поисков", преданном гласности на страницах заключительного 
номера 1979 года. Сегодня следует вновь подчеркнуть, что именно приверженность 
принципу открытости и систематического диалога смогли объединить людей разных 
поколений и взглядов, принявших то или иное участие в "Поисках"; моя духовная 
близость к молодому талантливому публицисту Глебу Павловскому (близость, которая 
также не составляет никакой тайны) разрешает мне заявить со всей решительностью: 
в деятельности, расходящейся с этим принципом, в деятельности, проникнутой духом 
безразличия к идеям, духом сектантской нетерпимости и любого ненавистничества, 
он, как и другие его сверстники и друзья, участия бы не принял. </p>
<p>Здесь не место разбирать, в какой степени самим 
"Поискам", т.е. людям, их создавшим и выпустившим, удалось воплотить заглавный 
принцип. Такой разбор сам по себе требует открытости и равноправия участников. 
Со своей стороны могу лишь выразить точнее: не могу не выразить глубочайшее свое 
убеждение – нет ныне другого способа сдвинуться с "мертвой точки", чем Диалог. 
Под "мертвой точкой" я понимаю не только масштаб и остроту проблем, нависших над 
всеми нами, но и нерешаемость этих проблем (как домашних, так и мировых) 
опробованными в прошлом действиями и приемами. Под "мертвой точкой" я понимаю 
такое также противостояние – и внешнее, и внутреннее. Все знают, что в ядерный 
век не может быть ни победителей, ни побежденных. Но разве эта истина относится 
лишь к геополитике, лишь к отношениям держав, располагающих средствами 
уничтожить жизнь, и не относится к жизненным отношениям между людьми – и, прежде 
всего, в этих державах?! Мы все равно ответственны за завтрашний день; и даже не 
за то, каким он будет – это, конечно, важно, гигантски важно, но все-таки 
вторично, первично же: добиться, чтобы он (завтрашний день) был.</p>
<p>Рискуя показаться ломящимся в открытую или, напротив, в 
прочно закрытую дверь, я утверждаю: ни один человек, наделенный властью, не 
смеет лишать мыслящего иначе, чем он, права на соучастие в этой высшей 
ответственности, - соучастие, предполагающее не только равенство действительных 
возможностей, но и нечто (сейчас!) более важное и более трудное.</p>
<p>Именно: совместность в завоевании и утверждении доверия. 
Вчера представлялось очевидным – к доверию приходят, им заканчивают, а не 
начинают. Сегодня же все (страны, миры, люди) обязаны сделать возможным 
невозможное – начать с доверия, наперед зная, что доверившиеся останутся разными 
(разномыслящими, разно-живущими). Таково веление времени, неотделимое от 
разгорающейся вселенской схватки за недопущение "обыкновенной" – узаконенной и 
практикуемой ядерной войны; схватки, в ходе которой уже рождаются совсем новые 
критерии и нравственные ценности, новые импульсы к консолидации умов и воль. 
Счет идет на этот раз даже не на миллионы, а на человеческие миллиарды – и счет 
идет (вновь, но еще резче и настоятельней, чем в 1930-е) на единицу: Человек. 
Теперь никто не должен отпасть и никто не должен быть отринут. Во имя успеха в 
борьбе, где на карте жизнь, нужно (и незамедлительно!!) вернуть в жизнь всех 
добровольно и мучительно ищущих.</p>
<p>Я начал с сюжета, наиболее кровного мне, и свернул сразу 
на то, что является ныне проблемой всех проблем, поскольку ощущаю здесь 
неконъюнктурную связь, отвлечься от которой не может даже человек, оказавшийся в 
условиях, когда его только спрашивают, а он ("по закону") обязан отвечать и 
только отвечать. Даже в этих условиях я считаю и правом, и долгом 
руководствоваться ответственностью перед всеми людьми, и теми, кто рядом, и 
теми, кто далеко, и перед "своими", и перед "чужими". Это право и этот долг 
продиктовали мне как участие в "Поисках", так и отказ (в 1981 и 1982 гг.) давать 
показания по делу "Поисков". Ибо включиться в него в качестве свидетеля на тех 
условиях, которые диктуются следствием, означило бы с моей стороны не только 
признание законности преследования идей и преследования людей, стремившихся 
нащупать живые контуры некатастрофического выхода, и признание правомерности 
затяжек (на годы!) этого дела – с явной тенденцией использовать его как средство 
давления и что-то вроде запасника при новых набегах на "инакую" мысль и 
неотделимые от нее формы человеческого общения. Оно означало бы, наконец, то, 
что для меня абсолютно неприемлемо и в данном, и в любом случае: фактическое 
приспособление к обстоятельствам, которые обращают людей с даром и энергией 
духовных исканий в уголовных преступников, чьи силы уходят на выживание в 
тюремных камерах и лагерях. Я спрашиваю: логике каких общественных интересов 
может отвечать эта растрата ума и самоотверженности, которая подобно цепной 
реакции захватывает, втягивает в себя и тех, кто "на воле", множа симптомы 
равнодушия и поощряя (на деле) неконтролируемые страсти и позывы к насилию?! 
</p>
<p>Если бы я считал этот вопрос только риторическим, я бы 
не стал обращаться в одну из высших инстанций власти. Но как историк я знаю, что 
бывают такие минуты в политической и народной жизни, когда вчера еще 
недоступное, отвергаемое с порога, становится и достижимым, и обязательным. Мне 
кажется, что такая минута уже наступила, что Мир и все мы в Мире подошли к тому 
краю, врозь отвернуться от которого не удастся никому. Сознание остроты момента 
и обусловило, в конечном счете, данное обращение.</p>
<p>Конкретно я призываю Вас во исполнение Вашего 
конституционного долга:</p>
<p>1. Взять под особый контроль дело "Поисков", способствуя 
скорейшему прекращению его в форме, соответствующей закону, принципам и нормам 
международного сообщества, а также и особенно – велению времени.</p>
<p>2. Исходя из наиболее широких соображений как 
нравственного, так и государственно-политического характера, возбудить перед 
Верховным Советом СССР вопрос об амнистии в текущем, 1982 году, которая 
распространялась бы и на всех без изъятия советских граждан, преследуемых за 
инакомыслие (и осужденных, и находящихся под следствием). 28.IV.1982.</p>
<br/>
<table width="600"> <tr> <td>
<a href="4.36.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.2.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
