{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Запись беседы 01.02.83г. с зав. Отделом агитации и пропаганды МК КПСС Барабановым{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="5.15.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.17.html"> следующая </a>
</td></tr></table>
<h3>5.16 Запись беседы с зав.отделом и пропаганды МК КПСС Барабановым А.К.</h3>
<p>31.1.83г. звонком домой меня попросил о встрече 
Барабанов А.К. по поводу письма Ю.В.Андропову, отправленного мною в ЦК в декабре 
82г.</p>
<p>В конце следующего рабочего дня я пришел в его рабочий 
кабинет. Беседа шла час с четвертью. Стол был совершенно пуст. Мой собеседник, 
лет 40, очень улыбался, был крайне вежлив и сговорчив. Признался, что такое 
поручение – переговорить с автором такого письма и сообщить результаты – в его 
практике впервые. ("Уж не знаю, что они раньше делали с такими письмами…" - 
"Видимо, переправляли в наши досье"…) С моим письмом он только бегло ознакомился 
(в разговоре же я убедился, что прочел он его очень внимательно и многое 
запомнил) и никаких оценок дать не может. Меня же он просил рассказать 
"преамбулу", т.е. предысторию письма и выраженных в нем взглядов. Не скрыл, что 
расспрашивал обо мне партком института и что получил положительный отзыв по 
работе. Видимо, имел он сведения и из органов, потому что совершенно бесстрастно 
и как хорошо известное слушал сообщения про мои суды и иное. Хотя и 
заинтересовался гораздо менее значащими деталями. Однако с упором подчеркивал 
свою независимость от органов - мы, мол, совсем иная организация. Смешная деталь 
этой игры: начав беседу с упоминания, что она носит сугубо доверительный 
характер (“Вы можете быть уверенны”), кончил он ее просьбой широко не 
распространяться (“хотя он и не делает из сказанного тайны”). Я шутливо заверил, 
что он может быть спокоен, "Голос Америки" об этом говорить не будет. В ответ же 
услышал: "Да что Вы, я этого совсем не опасаюсь. Просто не хотелось бы, чтобы 
узнали другие люди, из органов…" (?)</p>
<p>Коротко рассказывая свою историю, я упомянул про 
"Критику программы КПСС" в 1961 году, книгу К.Буржуадемова "Очерки растущей 
идеологии", вышедшую на Западе, в 1974г., критику проекта Конституции СССР в 
1977г., участие в "Хроники", "Поисках" и особенно – в сборниках "В защиту 
экон.свобод", суды 1974 и 1980гг.. Наконец, упомянул экономические письма в 
"Правду" после выхода из Бутырок. На вопрос о моих научных связях и основах 
упомянул про два года работы в ЦЭМИ АН СССР и друзей, про незащищенную 
диссертацию, а также о беседе в тюрьме с приближенным к власти 
профессором-экономистом В.А. и о своем предложении – участвовать в помощь 
реформам.</p>
<p>Из реплик Барабанова я смог понять следующее:</p>
<p>1. "Товарищи в ЦК" очень заняты, но письмом моим, 
видимо, заинтересованы, раз поручили навести обо мне справки и переговорить. При 
следующей встрече ("обязательной"), видимо, будут даны и какие-то оценки. С 
другой стороны, сразу же было сказано, что мои предложения совершенно не 
оригинальны, многие такое пишут – в письмах (статьях, просто расчетах…). 
Последнему я обрадовался: "Очень хорошо, что не один я так думаю. Значит, есть 
основания для принятия правильных решений"…</p>
<p>- Ну, не так все просто и быстро. У них (т.е. в ЦК), 
видимо, есть какой-то синклит ученых для изучения и оценок предложений… И не 
забывайте, что есть очень влиятельные силы, считающие, что в прошедшем спокойном 
периоде дали слишком много воли, "развели разнузданную демократию" и пр.</p>
<p>- Ну, такой "разгул демократии" мы на своей шкуре 
испытывали. Какая там демократия, о чем говорить.</p>
<p>- Да и предложения все стоят на грани, как бы сказать, 
на грани наших основ…</p>
<p>- Это иллюзия. Здесь нужно переубеждение. Это просто 
инерция старого мышления…</p>
<p>2. Видимо, Барабанову было поручено выяснить, одинок ли 
я в своих мыслях.</p>
<p>Он даже прямо задал вопрос, есть ли среди инакомыслящих 
думающие со мной. Я отвечал, что, конечно, есть, имея в виду людей, настроенных 
на компромисс. Хотя, конечно, инакомыслящие – разные люди и среди них есть и 
люди жесткого склада, "непримиримые".</p>
<p>Тема взаимоотношения с инакомыслящими Барабанова весьма 
интересовала. Он не отрицал неизбежности разных убеждений, но подчеркивал, чтобы 
не было запрограммированной враждебности.- "Иначе о каком диалоге и понимании" 
может идти речь. (Такие "поисковые слова" в устах зав.отдела МК мне показались 
очень интересными). Я же упирал на то, что шаг навстречу должна сделать и 
власть, отказавшись от совершенно необоснованных обвинений в клевете, от 
смешивания в кучу инакомыслящих (мы согласились, что можно говорить – просто 
мыслящих, потому что все люди мыслят по-разному), добросовестных – от враждебных 
людей. С неблагополучием в этой области он соглашался, и говорил о 
"существовании инерции", которую следует преодолевать (ведь никто не 
заинтересован, чтобы всех этих людей, многие из которых начали с хороших 
побуждений, держать только в лагерях – такой путь уже испробован при "отце 
родном" и сколько негативного принес…), но снова упорно поворачивал, что 
необходимы изменения в отношениях среди инакомыслящих, настоящего отказа от 
враждебности, а если без этого начинать, допустим, пересмотр нынешних 
строгостей, а он вызовет лишь усиление враждебности, консервативные силы тут же 
скажут: "Вот видите, к чему приводят разговоры с "ними" – и дело понимания и 
диалога будет отброшено далеко назад… Я же снова поворачивал к судам и 
необходимости освобождения людей добросовестных, даже готовых уйти в частную 
жизнь, но не способных из чувства чести говорить слова раскаяния и неправды – 
говорил об Абрамкине, показывал ответ следователя из Барнаула на мое письмо 
Ген.прокурору, даже под конец просил помочь советом, как мне действовать в этом 
деле дальше. Барабанов обещал навести справки в Минюсте. Но предупредил, что 
надежд на иной ответ, видно, нет, а из попыток зондажа, какие изменения сейчас 
происходят, вряд ли что удастся – зондаж дает неверные результаты.</p>
<p>3. Сам Барабанов подтвердил, что мое письмо, конечно, 
никакой клеветой считаться не может, да и по тону видно, что пишет гражданин, 
обеспокоенный развитием и трудностями страны – (чем и все мы обеспокоены, а что 
Вы думаете по-другому, так что ж с этим сделаешь").</p>
<p>Первого раздела письма (внешнеполитического) он не 
касался вовсе, только упомянул, что, конечно, все проблемы взаимоувязаны и все 
надо решать вместе. Наиболее содержательным и обоснованным, по его мнению, 
является второй раздел – про экономику. Хотя, конечно, вводить рынок в таких 
масштабах у нас, он думает, нельзя. Получится анархия. Целесообразно только 
сильно расширить сферу частных услуг, ремесла и т.д. Опыт Венгрии превозносится 
нашей печатью, но ведь сколько у них проблем, да и страна маленькая. Толкование 
ленинского НЭПа у меня односторонне, не следует забывать и работы Ленина о 
хозрасчете донэповского периода. Свои возражения и аргументы я пересказывать не 
буду.</p>
<p>Лично Барабанову интереснее всего раздел про 
внутриполитические проблемы, но как раз здесь он отметил у меня наибольший… 
"пессимизм" (имея в виду – по отношению к официальным догматам…) – мои взгляды 
он характеризовал, как типично социал-демократические. Мою поправку: 
"буржуазно-коммунистические" воспринял как столкновение противоположностей, из 
которых "должна родиться истина". Согласился, что вопрос о коммунизме совсем не 
простой, великий вопрос (тем более для Вас, с 1961 года).</p>
<p>Вот, кажется, основное содержание нашей беседы. 
1.2.1983г.</p>
<p><strong>Событие 76.Суд над 
В.Л.Гершуни</strong></p>
<p>За несколько дней до суда над Гершуни пришла повестка из 
Мосгорсуда -явиться свидетелем. Потом звонила секретарь суда о том же. Был я 
вызван на Каланчевку на 11.30 12.4.1983г., а уже в 12.30 был свободен после 
допроса.</p>
<p>Суд шел в маленькой комнате, вернее, кабинете 
зам.председателя Мосгорсуда и был закрытым. Кроме судьи, двух заседателей, 
прокурора, адвоката и секретаря, была только сестра Гершуни. Никаких оцеплений 
перед комнатой суда не было, как не было и комнаты для свидетелей. Все тихо и 
просто.</p>
<p>Так же тихо вел себя и суд, расспрашивая про мое 
знакомство с Гершуни и работу в "Поисках". Мое отношение положительное к 
"Поискам" тихо, без возражений игнорировал, неопределенными показаниями, в духе 
данных на следствии, вполне удовлетворился. Суду нужно было еще одно 
доказательство всем известного: что Гершуни являлся членом редколлегии 
"Поисков", т.е. формальность. Но, несмотря на формальность и предрешенность, 
чувствовал себя я очень плохо: как будто помогал неправедно осудить хорошего 
человека, пусть только тем, что лишь подтвердил всем известное, пусть даже 
выразил мнение о его высоких качествах и невиновности. Все равно…</p>
<p>Другие свидетели, видимо, говорили о СМОТе. В тот же 
день суд закончился. Как и ожидалось, приговором к лечению в спецбольнице 
тюремного типа.</p>
<p><strong>Событие 77. Суд над 
Абрамкиным</strong></p>
<p>В этот же день я слушал рассказ Кати о суде над 
Валерием, шедшим в Барнауле 4 дня с 30 марта по 2 апреля. Кроме Кати на суде 
присутствовали родители Валерия. Адвокат был местным, назначенный судом, и играл 
довольно неприглядную роль.</p>
<p>Основные обвинения, построенные на провокационных 
показаниях некоего Титова, с которым Валерий некоторое время был близок в 
лагере, а потом резко разошелся и не общался вплоть до освобождения Титова. 
Сейчас же последний жаловался, что до сих пор не может избавиться от 
"зловредного влияния" Валерия и смотрит на все антисоветскими глазами, что 
Валерий высокомерен и всех вербует на свою сторону, что он злой гений по части 
заведомо ложных измышлений, порочащих… и т.п. Все другие свидетели из лагеря и 
следственного изолятора – обычные уголовники, способные лишь утвердительно 
отвечать на наводящие вопросы о вине Абрамкина. И наконец, ставилось в вину 
опубликование парижской "Русской мыслью" "Письма из Бутырок" Абрамкина.</p>
<p>Прокурор вел себя довольно сдержанно, так что Валерий в 
последнем слове сказал, что не имеет к нему особых претензий. Что касается 
адвоката, то вину он признавал доказанной и спорил с Валерием, ссылаясь, что по 
новому Комментарию "тенденциозные высказывания" и есть преступление, вина по 
ст.190-1. У суда же он просил не выносить наказания, связанного с лишением 
свободы, учитывая, что "Абрамкин сделал большой шаг к исправлению".</p>
<p>На следствии Валерий давал большие показания о своем 
почвенническом мировоззрении, (изложил кредо), подтвердил, что не может 
эмигрировать, жизнь вне страны немыслима, лучше за решеткой. На суде он 
подтвердил, что после освобождения собирается заниматься только частной жизнью и 
не будет заниматься самиздатом, даже если к тому будет представляться 
возможность. Кроме того, он признал свою вину частично, признал ошибочность 
своих выражений, что в СССР не существует демократии, господствует тоталитаризм 
и т.д., но юридической вины не признал. Вел себя очень спокойно.</p>
<p>Тем не менее, суд признал его виновным и присудил к 
максимуму: трем годам строгого режима (сильное ограничение права на переписку, 
свиданий, передач).</p>
<p>После суда на свидании Катя услышала такую оценку 
Валерия: "У него такое чувство, что по нему прошлись ногами". По-видимому, ему 
говорили о возможности ее ареста и о возможности его освобождения в ином 
случае.</p>
<p>Со слов Л.Терновского, с которого перед освобождением в 
лагере взяли подписку об уходе в частную жизнь и что самиздатом он больше 
заниматься не будет, а перед этим "пожаловались, что с Абрамкина, мол, взять 
такую подписку не удалось", Катя предполагает, что такая предварительная встреча 
у Валерия в лагере все же была, а может и без такой "неудачи" было решено начать 
уже давно (почти год тому назад) подготовленное следствие о клевете на строй в 
лагере. Наверное, уже в Барнауле, учитывая опасности для семьи после обыска у 
Кати, Валерий решил отбросить молчание и говорить все честно. Это свое 
непременное требование: говорить честно – он подчеркивал на суде. Думается, что 
он пошел навстречу следствию и суду, максимум, что мог позволить себе честный 
человек его убеждений. А результат – тот же.</p>
<p>Этот результат на меня произвел гнетущее впечатление. 
Действительно: что еще надо от Валерия, когда всякому, кто хоть немного знает 
Валерия, понятно, что свои обещания он выполнит, что на суде он отказался от 
противостояния и пошел навстречу властям так далеко, как лишь мог. Все. Идти 
дальше для него – это слом, потеря себя, душевные терзания, т.е. невозможно… И 
действительно, чего суд от него хотел?</p>
<p>Я по-прежнему убежден, что вины Валерия на этом процессе 
не было даже в советском смысле. Потому что если судить за "разговоры и 
анекдоты", то большинство окажется за решеткой, некому будет охранять… Или за 
частное письмо, без ведома автора попавшее зарубеж.</p>
<p>Неужели тут действует инерция мести? А может, Валерию 
"не верят"? А когда поверят?… </p>
<p>И все же я цепляюсь за надежду – на кассацию, на "химию" 
после половины срока или же хотя бы освобождения после второго срока.. на 
окончании этого кошмара. Теперь, после того, как Валерий открыто объявил о своем 
почвенничестве и что он остается в стране даже при отказе от своих гражданских 
прав – я верю для него только в хорошее.</p>
<br/>
<table width="600"> <tr> <td>
<a href="5.15.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.17.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
