<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Вокруг Поисков: Председателю КГБ В.М.Чебрикову (от Гефтера об Абрамкине)</title>
</head>
<body>
<script src="/modules/utilities.js" type="text/javascript"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            show_footer_and_header(window.location.pathname)
        });
    </script>
<table width="600"> <tr> <td>
<a href="5.22.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.24.html"> следующая </a>
</td></tr></table>
<h3>5.23 Председателю Комитета государственной безопасности СССР В.М.Чебрикову (от М.Я.Гефтера об Абрамкине)</h3>
<p>Уважаемый Виктор Михайлович!</p>
<p>Я позволяю себе занять Ваше внимание вопросом, который 
не только тревожит меня, но не дает жить.</p>
<p>Речь идет о судьбе человека, молодого мужчины, 
советского гражданина Абрамкина Валерия Федоровича. В настоящее время он 
находится в Красноярском лагере строгого режима (УП 288/6 15-34).</p>
<p>Я знал Валерия Абрамкина в то время, когда он, как и я, 
принимал участие в открытом, хотя и не разрешенном официально журнале "Поиски". 
Встреч моих с ним было сравнительно немного. Но мой возраст и жизненный опыт 
разрешают мне утверждать, что я знаю его в той степени, какая достаточна, чтобы 
ответственно судить о характере человека, его умственном складе и нравственных 
качествах.</p>
<p>Не стану задерживаться на прошлом. Под ним подведена 
черта ходом событий, выходящих за пределы отдельных жизней. Я убежден, что все 
мы здесь, у себя дома, стали сегодня нужнее друг другу – перед лицом проблем и 
опасностей, для преодоления которых недостаточно прежнего опыта. Только в этой 
связи замечу: Валерий Абрамкин начал свою сознательную жизнь в 60-е годы, что 
само по себе многое объясняет. Сын коммуниста-инвалида войны и ветерана труда, 
он с ранних лет был приучен добиваться цели личным старанием. К переломному 
моменту жизни он уже квалифицированный специалист (инженер-химик), подававший 
большие надежды. И то, что он стал в молодой среде заметной фигурой – результат 
способностей вкупе с бескорыстием, увлеченностью общим почином и благородством в 
отношении к людям. Как бы строго не оценивалось то, что он делал прежде, одно 
представляется мне неоспоримым – намерения его были чисты. Уверен, что такими 
они остаются и по сей день, хотя в определении своей жизненной задачи и своего 
места в обществе Валерий Абрамкин существенно переменился.</p>
<p>Его жена – Екатерина Гайдамачук – познакомила меня с 
письмами, приходившими от него из лагеря. Я был поражен интенсивностью его 
духовной жизни, серьезностью и оригинальностью мыслей, сосредоточенных на 
проблемах воспитания, формирования человеческого сознания в детском возрасте. Не 
сомневаюсь, что именно эти мысли указывают будущее Абрамкина – человека, 
посвящающего себя семье и деятельности, так или иначе связанной с педагогикой в 
широком положительном смысле.</p>
<p>Конечно, о таких переменах должно судить по реальным 
делам. Но Абрамкин лишен возможностям подтвердить свои намерения поступками, 
совершаемыми по собственной воле. Образовался порочный круг. Из недоверия к 
Абрамкину и даже, видимо, из желания сломить его, чтобы не допустить возврата к 
прошлому, выросли решения, придавшие его судьбе поистине трагический характер. 
За трехгодичным сроком – первым, назначенным ему судом, последовал второй, 
который должен кончиться в декабре 1985 года. Но окончится ли, не перейдет ли в 
третий?</p>
<p>Сомнение в этом и побуждает меня обратиться к Вам в 
уверенности, что в Вашей власти разорвать порочный круг. Я призываю Вас сделать 
это – в интересах данного человека, его семьи, его малолетнего сына и в 
интересах государства, которому более чем когда-либо нужны сейчас честные, 
думающие и инициативные люди, обладающие чувством собственного достоинства. Если 
в определении участи этого человека хоть малейшее значение может иметь мое слово 
– заверение в гражданской и нравственной надежности В.Ф.Абрамкина и всей его 
дальнейшей жизни, прошу принять это заверение.</p>
<p>В том случае, если занятость не позволит Вам лично 
вникнуть в судьбу Валерия Абрамкина, прошу Вас дать указания тем из Ваших 
сотрудников, от которых зависит решение вопроса о нем, вызвать меня и 
выслушать.</p>
<p>С уважением (Гефтер Михаил Яковлевич, кандидат 
исторических наук, инвалид Отечественной Boйны. Москва, ул. Гарибальди, д.23, 
кв.31 телефон 128-43-74)</p>
<br/>
<table width="600"> <tr> <td>
<a href="5.22.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.24.html"> следующая </a>
</td></tr></table>
<br/>
</body>
</html>