{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Письмо священнику о. Дмитрию Дудко{% endblock %}
{% block content %}




<h3>5.3 Письмо священнику о.Дмитрию Дудко</h3>
<p>Уважаемый Дмитрий Сергеевич!</p>
<p>Мне довелось прочитать три первых выпуска Вашего журнала 
для своих - "На перекрестке" (фактически – Ваш открытый дневник).</p>
<p>Он меня сильно тронул, особенно из-за некоторых 
параллелей со своей собственной историей. Возможно, Вы слышали мою фамилию – 
Сокирко В. (примерно в одно с Вами время я был выпущен из Бутырской тюрьмы за 
месяц до суда над журналом "Поиски" и осужден по ст.190-1 к трем годам 
условно).</p>
<p>Правда, в определенном смысле, мой случай был менее 
болезненным – ни уличающих показаний, ни признания себя преступником и 
клеветником я все же не допустил, обошлось только заявлением в суде об ошибках и 
последующей полуоткрытой дискуссии в самиздате о моем "поведении". Тем не менее, 
шоковые переживания в тюрьме, и особенно после выхода из нее, мы пережили 
сходные. Ту же горечь отрыва от нормальных жизненных обязанностей и семьи, то же 
нежелание замкнуться на ненависти к тюремщикам. То же первоначальное чувство 
растерянности и вины перед друзьями за причиненные им переживания и неожиданный 
потом разрыв со многими друзьями, которые были готовы "простить слабость" - 
"кающегося грешника", но не желали вслушиваться в трудную для них правду, что 
чекисты – тоже люди, и что истинной причиной выхода из тюрьмы была не только 
"слабость", сколько начавшийся в тюрьме разговор о понимании и компромиссе, о 
соглашении. Эта правда казалась им ложью для самооправдания, короче – 
предательством. И это вправду было предательством – но не вере, не убеждениям, 
не людям, не Богу, а – духу нетерпимости и вражды, который, к сожалению, так 
силен у некоторых интеллигентов. Но ведь я, например, никогда не присягал этому 
духу нетерпимости и ненависти, всегда и сейчас был против него и считаю 
правильным отказаться от него, "предать". Но желают ли этого некоторые друзья? И 
чего они хотят??… Не меньше года на воле прошло, прежде чем прошли эти тяжкие 
недоумения. У Вас, наверное, они продолжаются.</p>
<p>Мне хочется поделиться своим пониманием 
произошедшего.</p>
<p>Я считаю, что Вы поступили совершенно верно, когда в 
тюрьме не отказались от человеческого отношения к тюремщикам, пытались их 
понять, разговаривать, вызвать на добро, принимали от них помощь и достигли 
соглашения о выходе из тюрьмы и условиях нормальной жизни и работы после тюрьмы 
(Вы говорили: не заниматься "политикой", я обещал не заниматься самиздатской, на 
запад ориентированной "деятельностью"). Может, только зря так легко согласились 
говорить в заявлении ТВ и печати "их языком", "для эллинов" – но, очевидно, 
лживом для Вас – хотя с точки зрения ГБ, называя себя клеветником, Вы говорили 
истинную правду. Думаю, что тезис о необходимости говорить с тюремщиками на "их 
языке" – неверен. С ними надо искать понимание, но говорить – на общем и 
правдивом языке, конечно, трудно вырабатывать такой общий язык понимания. 
Уверен, что без такого тезиса "с эллинами – по-эллински", Вы гораздо больше 
боролись бы за свою речь перед миром и сейчас имели бы гораздо меньше причин для 
угрызений совести в допущенной лжи. Да, на собственной шкуре я знаю, как трудно 
держаться правдивого языка в поисках соглашения в тюрьме и сам в своем довольно 
коротком заявлении на суде допустил 4 случая лжи – из-за слабости, желания все 
же выйти к семье, тюремных условий и т.д. Но все же установка, что с "ними" надо 
разговаривать на общем русском языке, без лжи, думаю, помогла мне удержаться от 
главной лжи и не допустить худшего… Думаю, что Вы это уже понимаете, именно этим 
вызваны Ваши перетолковывания своих же публичных текстов, но истинным языком. В 
этой работе не следует делать повторной ошибки – переходя уже на понятия и язык 
диссидентов, или в рамках Ваших сравнений – вновь говорить "по-иудейски". С 
диссидентами тоже нельзя говорить только по-диссидентски, подлаживаться к ним – 
снова получится неправда. С ними тоже надо искать понимания на общем, русском 
языке. Мы живем в одной стране, должны искать взаимопонимания всех и поэтому 
говорить должны – ни - "по-эллински", ни "по-иудейски", а только общим, 
истинным, в нашем случае русским языком.</p>
<p>То, что многие из "диссидентски настроенных" людей не 
захотят говорить на общем с властями языке и отвернутся от Вас – вполне понятно 
и неизбежно, надо смотреть на это без гнева, хотя без боли смотреть невозможно. 
К их уходу надо отнестись спокойно. В их понимании открытое исповедание своей 
"инаковости" может позволить только "герой и враг власти", которого власть может 
только временно терпеть, опасаясь защитной силы Запада, или сажать в лагерь. Их 
восхищение "героями-диссидентами" – восхищение "смертниками", сознательно 
пошедшими на "жертву", а если человек свободно говорит, но не желает садиться в 
лагерь – это нарушает их "понимание", "концепцию отношений и человека". И больше 
того, подрывает убеждение в "кровожадности властей", которая, мол, не дает 
"не-героям" (в том числе и для них самих) открыто высказываться и свободно жить. 
Для них гораздо удобнее думать – что все, достигшие каких-то соглашений с 
властями – просто предатели. И невозможно их переубедить, исправить этот порок 
подпольного либерального сознания, потому что невозможно принудить их к 
гражданской открытости, потому что им надо думать, что все остальные – или 
кандидаты на лагерь, или предатели.</p>
<p>Не надо жалеть о таких друзьях, лучше идти своим путем, 
честно выполняя принятое с властью соглашение, но не отказываясь ни от своей 
души, ни от своих слов, ни от своей активности. Говорить своим истинным языком. 
Я надеюсь, что встречавшиеся у Вас раньше "иудейская" (в упомянутом смысле) 
нетерпимость и воинственность сейчас будут преодолены, что встречающиеся у Вас и 
сейчас "военные термины и обороты" – лишь дань привычке, что вместе с установкой 
на противостояние они уйдут в прошлое.</p>
<p>В связи с последним, и под конец, хочу выразить Вам свое 
недоумение о причинах Вашей нетерпимости к атеистам. После чтения Ваших вещей 
(особенно раньше) у меня создалось впечатление, что Вы атеистов и людьми-то 
признаете нехотя и не полностью, а в душе желали бы их уничтожения, так что 
страшно становится. Я могу понять ненависть к государственному атеизму, если он 
нарушает свободу совести других, религиозных людей. Но чем виноват я сам, как 
атеист, что думаю и верую не так, как вы, религиозные люди? Почему именно мои 
убеждения, моя атеистическая вера – безнравственна – не понимаю. Неужели от 
того, что Вы верите, что мировая бесконечность есть Бог, и даже уверены, что имя 
ему Христос, а я вот по своей атеистической скромности ничего такого о 
Бесконечности утверждать не могу, а могу только испытывать перед Бесконечностью 
невыразимые чувства и мысли – только от этого я заслуживаю ненависти и Вашего 
осуждения?</p>
<p>Мне кажется, что в этом проглядывает Ваша идейная 
нетерпимость, ведущая к разделению и злу, и для меня – неприемлемая. Это 
понятно. Раз Вы ставите меня одним только фактом моего атеизма вне 
нравственности, у меня автоматически не может не сложиться враждебного к Вам 
отношения, а это очень прискорбно. А может, Ваша нетерпимость сейчас исчезает? 
Рад был бы в этом убедиться и пожелать Вам здоровья и успехов. 15.5.1982. 
В.В.Сокирко.</p>
<br/>

<br/>

{% endblock content %}
