{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Замечания к письму Евгегия{% endblock %}
{% block content %}




<h3>5.5 Замечания к письму Евгения…</h3>
<p>Дорогой Женя! Извини за непрошеные замечания, но 
поскольку ты хотел переделать свое письмо о.Димитрию, то может, они тебе 
пригодятся.</p>
<p>1. Можно понять, что ты в общем против исповедальной 
работы, проделанной о.Димитрием в его журналах: самооправдание, "смакование 
греховных подробностей" – препятствует очищению духа. Равнозначно употребляешь в 
этом ряду и слово "самоанализ". Но вот нужен ли самоанализ, публичная исповедь, 
самосуд и поучение другим на своем примере? Наверное, ты сознаешь, что такая 
работа нужна, даже необходима – и особенно с таким крупным человеком как 
о.Димитрий. Ведь если даже такие примеры будут проходить мимо общественного, 
публичного анализа и уроков, то о каком прогрессе нашей духовной жизни может 
идти речь? Поэтому всю эту работу о.Димитрия в целом надо безусловно одобрить, 
одобрить его откровенность и исповедальность – и поддержать. Тогда и 
огорчительные тебе недостатки – излишние самооправдания или копания в "грехе" 
станут извинительными издержками хорошей в целом работы, и даже станет яснее, 
как их можно исправлять (а может, они и необходимы для главного)…</p>
<p>2. Ты упрекаешь о.Димитрия в недоговоренности, но у меня 
создалось впечатление недоговоренности и от твоего письма. Кажется, что ты и в 
самом деле не хотел бы объективного анализа и самоанализа истории Дудко, может, 
бессознательно. И потому твои возражения против попыток его опереться в своем 
самоанализе на примеры священной и церковной истории ты легко отметаешь, не 
разбирая по существу. Например, ссылку на ситуацию наших патриархов, особенно 
Тихона – ты отвергаешь дешевым примером недостаточной информации. Так ее, этой 
информации, всегда и везде не хватает, а суждения выносить, тем не менее – 
нужно, опираясь на весь комплекс доступной сейчас информации. Вот и помог бы 
отцу Димитрию в этом, а не охолаживал его утверждениями, что любые попытки 
осмысления своей ситуации заведомо обречены на самооправдание и грех.</p>
<p>В самом главном – ты сознательно пасуешь: "сам я лично 
оценить Ваш поступок никак не берусь". Вот те и раз! О главном – благоразумно 
молчишь, а в остальном упреков короб. Но зачем они и к чему, когда нет главного, 
стержня - "твоей оценки поступка"?</p>
<p>Конечно, эта оценка – очень трудна и ответственна – но 
необходимо ее делать – каждому верующему и просто каждому человеку, а уж тем 
более пишущему ему. Ибо, не научившись оценивать такие поступки, никогда не 
сможешь и совершать такие гражданские поступки, не станешь полным, граждански 
ответственным человеком.</p>
<p>Но, в общем, этот мой упрек не совсем справедлив – 
потому что косвенно ты все-таки склоняешься к одобрению этого поступка, но не 
желаешь говорить этого прямо, а потому лишаешь себя возможности для собственного 
анализа, для отделения правильного ядра поступка от неправильных частностей (или 
наоборот, если все же не одобряешь). Если уж и ты, человек со стороны, но 
заинтересованный и подготовленный "не можешь оценить" – то кто же это сделает и 
как можно упрекать о.Димитрия, что он делает это сам?</p>
<p>3. Наверное, с христианской точки зрения твои упреки о 
недостаточной внутренней работе о.Димитрия и верны, но убежден, что рост 
внутренней аскетической, подвижнической работы должен мешать "внешнему деланию" 
– (ради других людей, мира, всех). И, конечно, должны быть учтены конкретные 
склонности и способности. Повторяю – может, ты и прав в этих советах, но помочь 
о.Димитрию следует не принуждением к уходу во внутреннее самосовершенствование и 
отказу от "внешней работы", а советами – как перестроить эту внешнюю работу. И 
потому я очень сочувственно отнесся к твоей критике "воинственности" о.Димитрия 
(правда, уверен, что называя себя "воином" он все же не имел в виду – 
физическую, материальную брань) или что "врагов христианства" надо жалеть до 
битвы.</p>
<p>В общем, я бы считал большим успехом для всех нас, если 
бы отец Димитрий из воинственного фанатика превратился не в фанатического 
аскета, а в настоящего христианского, полного религиозной любви пастыря – у него 
есть к этому возможности. Пусть вокруг него собираются вновь духовные дети – но 
другие, не фанатики, а настоящие христиане. Так я думаю. 15.5.82. </p>
<br/>

<br/>

{% endblock content %}
