{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление Гефтера о выходе из КПСС{% endblock %}
{% block content %}




<h3>5.7 Заявление Гефтера о выходе из КПСС</h3>
<p>В Черемушкинский РК КПСС г.Москвы от Гефтера М.Я., члена 
КПСС с 1943г….</p>
<p>В согласии с Уставом, предусматривающим добровольность 
пребывания в партии (как вступления в нее, так, соответственно, и выхода), прошу 
с момента подачи настоящего заявления не считать меня членом КПСС. 9 февраля 
1982г. М.Я.Гефтер</p>
<br/>

<br/>

{% endblock content %}
