{% extends 'base.html' %}
{% block title %}Вокруг Поисков: Заявление Гефтера, внесенное в протокол допроса после обыска 06.04.82г.{% endblock %}
{% block content %}




<h3>5.8 Заявление Гефтера, внесенное в протокол допроса после обыска 6.4.1982г.</h3>
<p>Так как по существу дела ничего не изменилось с декабря 
1979г. (включая № дела) я могу лишь повторить развернутую формулировку 
заявления, сделанного мною во время допроса ст.следователем Пономаревым 9 июля 
прошлого года. Там, наряду с разъяснением причин отказа от показаний в данных 
условиях, содержится указание на нравственные и правовые основы, на которых я не 
только соглашался выступить в требуемой роли свидетеля, но и сам ходатайствовал 
об этом перед Мосгорсудом во время процесса В.Ф.Абрамкина". М.Гефтер.</p>
<br/>

<br/>

{% endblock content %}
