{% extends 'base.html' %}
<title>Вокруг Поисков: Ответ из Мосгорсуда от 08.07.82г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="5.8.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.10.html"> следующая </a>
</td></tr></table>
<h3>5.9 Ответ из Мосгорсуда от 08.07.82г.</h3>
<p>20 июля, вернувшись с месячной шабашки, прочел ответ из 
Мосгорсуда на мое апрельское письмо по поводу ареста Глеба по нашему старому 
делу о "Поисках".</p>
<p>Сообщаю, что Ваше заявление от 24 апреля 1982 года, 
поступившее в прокуратуру города Москвы, приобщено к уголовному делу. В процессе 
следствия по делу Павловского действительно возникал вопрос об изменении ему 
меры пресечения, но решить его положительно не представилось возможным; дело в 
отношении Павловского направлено в суд.</p>
<p>Следователь по особо важным делам прокуратуры города 
Москвы Ю.А.Бурцев".</p>
<p>Главный же вопрос моего заявления: когда будет 
прекращено дело "Поисков", а также вопрос о возвращении изъятых у Глеба моих 
архивов Бурцев проигнорировал.</p>
<br/>
<table width="600"> <tr> <td>
<a href="5.8.html"> предыдущая </a>
</td><td><a href="../vokrugpoiskov.html">оглавление</a></td><td>
<a href="5.10.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
