{% extends 'base.html' %}
{% block title %}Bиктор Сокирко: Советский читатель вырабатывает убеждения{% endblock %}
{% block content %}



<h2>Bиктор Сокирко</h2>
<h2>Советский читатель вырабатывает убеждения</h2>
<h1>Что такое демократический социализм</h1>
<p>Выясняя, что такое равенство и свобода, социализм и капитализм, нам не следует забывать, что живем мы не одни на свете, что за рубежом - и, главным образом, в Западной Европе, уже существуют давние традиции использования этих терминов, и они далеко не однозначны нашему пониманию. И если мы желаем быть понятными миру, и в то же время учиться богатому западному опыту, то нам придется усваивать и западное понимание этих великих понятий и идеалов.</p>
<p>Конечно, мы не можем отказаться от того содержания слова "социализм", в котором воспитаны с детства (иначе просто не поймут соотечественники), но в то же время нельзя не учитывать, что в Зап.Европе, где социал-демократические партии играют едва ли не ведущую роль в большинстве стран, "социализмом" называют совсем иное, - а именно, еще нигде не осуществленный идеал, кардинально отличный от социализма, осуществленного у нас.</p>
<p>Один раз я попытался добиться взаимопонимания в вопросе о социализме и либерализме в переписке с французским социологом, профессором Католического университета в Париже. Попытка  оказалась, наверное, неудачной - главным образом, из-за моих путаных вопросов и затрудненности переписки на русском языке. Но даже в своей неудачности, этот диалог в письмах мне кажется показательной иллюстрацией возможных различий. Переписка продолжалась около года. </p>
<ul>
<li><a href="paris.html">Переписка с Парижем</a></li>
<li><a href="idea.html"> <i>Идейная борьба вокруг концепций "демократического социализма"</i></a></li>
<li><a href="alternative.html"> <i>Демократические альтернативы</i>.</a>
<ul>
<li><a href="michailovl.html">М.Михайлов <i>Демократия и социализм </i></a></li>
<li><a href="belo.html">В.Белоцерковский <i>Контуры синтеза. Новое левое мировоззрение. </i></a></li>
</ul>
</li></ul>
<br/>

{% endblock content %}
