{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Бутырский дневник</title>
{% block content %}



<center>
<h1><u>1980</u></h1>
<h1>год коммунизма</h1>
<h1>в тени Бутырки</h1>
</center>
<p align="right">
<b>
            «Нет, весь я не умру, душа в заветном диске<br/>
            Мой прах переживет и тленья избежит.…»
        </b><br/>
<i>По пушкинской молитве</i>
</p>
<p>
        Часть 1 «Свобода – это жизнь до тюрьмы»<br/>
<b>Часть 2 «Бутырский дневник»</b><br/>
        Часть 3 «Свобода – это жизнь после тюрьмы»
    </p>
<h2>Часть 2 . БУТЫРСКИЙ ДНЕВНИК</h2>
<h3>СОДЕРЖАНИЕ</h3>
<ul>
<li><a href="butyrka/int.html">Обращение</a></li>
<li>1. Январь 1980г.</li>
<ul>
<li><a href="butyrka/jan.html">Арест 23 января.</a></li>
<li><a href="butyrka/jan.1.html">Первый день.</a></li>
<li><a href="butyrka/jan.2.html">Первая неделя. Камера 252.</a></li>
<li><a href="butyrka/jan.3.html">Выдержки из дневника Лили.</a></li>
</ul>
<li><a href="butyrka/feb.html">2. Февраль – март</a></li>
<ul>
<li>Жалоба на следователя</li>
<li><a href="butyrka/feb.1.html">Сокамерники</a></li>
<li><a href="butyrka/feb.2.html">Уход из камеры 252.</a></li>
<li><a href="butyrka/feb.3.html">Лиля</a></li>
</ul>
<li>3. Апрель</li>
<ul>
<li><a href="butyrka/apr.html">Камера 322. Сокамерники.</a></li>
<li><a href="butyrka/apr.1.html">События в камере.</a></li>
<li><a href="butyrka/apr.2.html">Лиля.</a></li>
</ul>
<li>4. Май</li>
<ul>
<li><a href="butyrka/may.html">Празднование и события в камере.</a></li>
<li><a href="butyrka/may.1.html">Лиля.</a></li>
</ul>
<li>5. Июнь</li>
<ul>
<li><a href="butyrka/jun.html">Поворот.</a></li>
<li><a href="butyrka/jun.1.html">История с окнами.</a></li>
<li><a href="butyrka/jun.2.html">Камера голодающих.</a></li>
<li><a href="butyrka/jun.3.html">Карцер.</a></li>
<li><a href="butyrka/jun.4.html">Вывоз 27 июня.</a></li>
<li><a href="butyrka/jun.5.html">Лиля.</a></li>
</ul>
<li>6. Июль</li>
<ul>
<li><a href="butyrka/jul.html">Новые сокамерники и новые события.</a></li>
<li><a href="butyrka/jul.1.html">Высвечивание Фетисова.</a></li>
<li><a href="butyrka/jul.2.html">Лиля.</a></li>
</ul>
<li>7. Август – сентябрь</li>
<ul>
<li><a href="butyrka/aug.html">Вызов 11 августа.</a></li>
<li><a href="butyrka/aug.1.html">Голодовка.</a></li>
<li><a href="butyrka/aug.2.html">Последние бутырские дни.</a></li>
<li><a href="butyrka/aug.3.html">Последняя ночь и последние книги.</a></li>
<li><a href="butyrka/aug.4.html">Лиля.</a></li>
<li><a href="butyrka/exit.html">Выход 4 сентября</a></li>
</ul>
<li><a href="butyrka/pan.html">Пансионат после тюрьмы</a></li>
<li><a href="butyrka/hearing.html">Суд</a></li>
<li><a href="butyrka/epilog.html">Диссидентский суд</a></li>
<li><a href="butyrka/mother.html">Письма мамы</a></li>
</ul>
<h3>Приложения:</h3>
<ul>
<li>
<p>
                Приложения N1. Перед арестом
                <ul>
<li><a href="butyrka/a1-1.html">1.1. Длинная предистория</a></li>
<li><a href="butyrka/a1-2.html">1.2. Репортаж о первом обыске</a></li>
<li><a href="butyrka/a1-3.html">1.3. Экономика 1990года: что нас ждёт и есть ли выход?</a></li>
<li><a href="butyrka/a1-4.html">1.4. О возможности и жизненной необходимости союза между сталинистами и диссидентами</a></li>
<li><a href="butyrka/a1-5.html">1.5. К вопросу о диссидентской этике</a></li>
<li><a href="butyrka/a1-6.html">1.6. Прошение</a></li>
<li><a href="butyrka/a1-7.html">1.7. На случай ареста. </a></li>
</ul>
</p>
</li>
<li>
<p>
                Приложение N2. Книги, прочитанные в тюрьме
                <ul>
<li><a href="butyrka/a2-1.html">2.1 Обзор</a></li>
<li><a href="butyrka/a2-2.html">2.2 Книги советские.</a></li>
<li><a href="butyrka/a2-3.html">2.3 Книги "деревенщиков"</a></li>
<li><a href="butyrka/a2-4.html">2.4 Русская классика и революционная романтика</a></li>
<li><a href="butyrka/a2-5.html">2.5 Марксистские книги.</a></li>
<li><a href="butyrka/a2-6.html">2.6 Книги по философии.</a></li>
<li><a href="butyrka/a2-7.html">2.7 Книги античные.</a></li>
</ul>
</p>
</li>
<li>
<p>
                Приложение N 3. Отзывы специалистов и юридические документы
                <ul>
<li>
                        3.1. Отзывы специалистов на “Поиски” и ЗЭСы
                        <ul>
<li><a href="butyrka/a3-11.html">3.1.1. Справка о серии самиздатской литературы “В защиту экономических свобод”</a></li>
<li><a href="butyrka/a3-12.html">3.1.2. Из Заключения института философии АН СССР на самиздатский журнал “Поиски взаимопонимания” N1-3</a></li>
<li><a href="butyrka/a3-13.html">3.1.3. Рецензия Института истории СССР на “Поиски” N4</a></li>
<li><a href="butyrka/a3-14.html">3.1.4. Отзыв на самиздатский журнал “Поиски” N5 от Института всеобщей истории</a></li>
<li><a href="butyrka/a3-15.html">3.1.5. Заключение ИМРД на свободный московский журнал “Поиски” N6</a></li>
<li><a href="butyrka/a3-16.html">3.1.6. Заключение ИМРД на “Поиски” N7</a></li>
</ul>
</li>
<li><a href="butyrka/a3-2.html">3.2. Обращение к Генпрокурору от Оболонского А.В.</a></li>
<li><a href="butyrka/a3-3.html">3.3.Обвинительное заключение</a></li>
<li><a href="butyrka/a3-4.html">3.4.Свободная запись судебного процесса в Мосгорсуде по обвинению Сокирко В.В. по ст.190-1 УК РСФСР</a></li>
</ul>
</p>
</li>
<li>Приложение N 4 . “Феномен Сокирко”</li>
<ul>
<li><a href="butyrka/a4-1.html">4.1. Заявление для печати (первый вариант)</a></li>
<li><a href="butyrka/a4-2.html">4.2. Заявление в суд и для печати</a></li>
<li><a href="butyrka/a4-3.html">4.3.Заявление для печати (восьмой вариант)</a></li>
<li><a href="butyrka/a4-4.html">4.4.Заявление для западных читателей</a></li>
<li><a href="butyrka/a4-5.html">4.5.Открытое письмо Виктору Сокирко (К.Буржуадемову)</a></li>
<ul>
<li><a href="butyrka/a4-51.html">4.5.1. Витин ответ С.В.</a></li>
<li><a href="butyrka/a4-52.html">4.5.2. Открытое письмо С.В.Калистратовой от Г.Павловского</a></li>
<li><a href="butyrka/a4-53.html">4.5.3. Открытый ответ на открытое письмо Калистратовой С.В.</a></li>
<li><a href="butyrka/a4-54.html">4.5.4. Изложение истории с заявлениями Вити в «Хронике»</a></li>
</ul>
</ul>
</ul>
<ul>
<li><a href="butyrka/a4-6.html">4.6. Г.Померанц Мой собеседник Виктор Сокирко</a></li>
<li><a href="butyrka/a4-7.html">4.7. Г.Померанц Цена отречения </a> </li>
<li><a href="butyrka/a4-71.html">4.7.1. Частное письмо В.Сокирко «Цена отречения от диалога» - ответ Г.С. – Ответ Вити</a></li>
<li><a href="butyrka/a4-72.html">4.7.2. Частное письмо Е.С.Полищука Г.С.Померанцу</a></li>
<li><a href="butyrka/a4-8.html">4.8. П.М.Абовин-Егидес Феномен Виктора Сокирко</a></li>
<li><a href="butyrka/a4-81.html">4.8.1.Комментарий Л.Ткаченко</a></li>
<li><a href="butyrka/a4-82.html">4.8.2. С.Пирогов К вопросу о «феноменах»</a></li>
<li><a href="butyrka/a4-83.html">4.8.3. Г.Павловский К вопросу о снисхождении</a></li>
<li><a href="butyrka/a4-84.html">4.8.4. Х. Мнение о «Феномене В.Сокирко»</a></li>
<li><a href="butyrka/a4-9.html">4.9. Катино письмо и отклики на него</a></li>
<li><a href="butyrka/a4-91.html">4.9.1. Витина реакция</a></li>
<li><a href="butyrka/a4-92.html">4.9.2. Ответ Глеба на Катино письмо</a></li>
<li><a href="butyrka/a4-93.html">4.9.3. Письмо М.Я. Глебу 10.12.81</a></li>
</ul>
<br/>
<p><a href="/Part1/butyrka-1/">Диафильм “Наши пансионаты” ч.1</a></p>
<p><a href="/Part1/butyrka-2/">Диафильм “Наши пансионаты” ч.2</a></p>
<br/>

{% endblock content %}
