{% extends 'base.html' %}
{% block title %}ЗЭС N5: От составителя{% endblock %}
{% block content %}



<h3>В защиту экономических 
свобод.            Выпуск 
5</h3>
<h1>
<p>От составителя</p></h1>
<p>В данном сборнике тема экономической реформы в социалистической стране 
продолжается весьма интересной и обстоятельной статьей Н.Кириллова "Югославский 
феномен, как он представляется из нашего далека".</p>
<p>Очевидно, что Югославия – единственная из социалистических стран, допустившая 
рыночную, т.е. эффективную экономику, единственная, доказавшая, что социализм и 
рынок – совместимы. Можно только пожелать, чтобы будущая экономическая реформа в 
Советском Союзе учла весь положительный опыт югославского самоуправляющегося 
социализма в этой области, и, прежде всего – отказ от тотального 
планирования.</p>
<p>Вред последнего прекрасно выявлен К.Ясперсом в выдержках из книги "Истоки 
истории и ее цель" (перевод с немецкого этой книги выполнен только для 
"служебного пользования").</p>
<p>В разделе "Книги и рецензии" впервые перепечатаны две экономические главы из 
практически неизвестной самиздатской книги о судьбе русских храмовых зданий, об 
их разорении и сегодняшней судьбе. Очень существенно, что даже узкая проблема 
реставрации старинных зданий практически неразрешима для государства и упирается 
в освобождение духовной и экономической инициативы наших граждан. Об этом 
напоминает В.Сокирко.</p>
<p>Раздел дискуссий был поддержан отзывом П.А.Подрабинека, внесшего много новых 
моментов в обсуждение главной темы наших сборников.</p>
<p>Как составитель, я иногда сетовал на трудности привлечения новых авторов к 
участию в "ЗЭС". Меня даже уязвляла необходимость просить об этом участии, как 
будто при этом одолжение делается не стране, а мне лично. Но сейчас я уверен – 
всему свое время! Наши сборника найдут кровно заинтересованных читателей и 
авторов, наши споры будут услышаны и станут непрерывным элементом роста 
диссидентского самосознания.</p><table width="600"> <tr> <td>
</td><td><a href="index.html">оглавление</a></td><td>
<a href="51.1.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
