{% extends 'base.html' %}
{% block title %}ЗЭС N5: П.А.Подрабинек "Замечания к статье К.Буржуадемова "Я обвиняю…"{% endblock %}
{% block content %}



<h3>В защиту экономических свобод.            Выпуск  5</h3>
<h1>
<p><font size="4">Раздел VI. Дискуссии и письма</font></p>
<p>П.А.Подрабинек "Замечания к статье К.Буржуадемова "Я обвиняю…" с 
комментариями составителя </p></h1>
<p><strong>Предварительное объяснение.</strong></p>
<p>К моему огромному сожалению, первая половина отзыва П.А.Подрабинека на мою 
статью (см. "ЗЭС"№1) была утеряна, вернее, утрачена при обстоятельствах, к 
сожалению обыденных у нас, хотя и извинительных для потерпевшего: при личном 
обыске. Прежде чем приступить к перепечатке оставшейся части этой статьи, я 
приведу по памяти основное содержание утраченной первой части, сопровождая ее 
изложением своей позиции.</p>
<p>1) Прежде всего П.А.Подрабинек подверг критике название моей статьи и указал 
на неправильность моих обвинений в адрес "интеллигентов-служащих и 
потребителей". Сам он различает понятия интеллигентов и интеллектуалов. Если к 
первым принадлежит нравственная и мыслящая часть общества, к которым мои 
обвинения применимы менее всего, то вторые состоят из людей, занимающихся 
профессионально умственным трудом и стоящих в социальном плане между партийной 
номенклатурой и остальными слоями общества. К интеллектуалам можно отнести 
многие из обвинений К.Буржуадемова, почти так же как и к остальным слоям 
многочисленных служащих и потребителей.</p>
<p>- Сразу напомню, что я придерживаюсь общепринятого ныне употребления слова 
"интеллигент=интеллектуал" и вполне согласен с П.А.Подрабинеком, что мои 
обвинения должны быть распространены на всех служащих государству. Сужение 
адресата моих обвинений было вызвано, прежде всего, личной принадлежностью к 
этому слою: я спорю со "своими" и считал, что именно поэтому имел право на 
откровенность и даже резкость. Кроме того, я считал, что 
интеллигенты=интеллектуалы при всей своей нынешней несвободе обладают большим 
весом и влиянием в обществе, и именно они сегодня могут услышать критику в свой 
адрес.</p>
<p>2) П.А.Подрабинек заметил, что рост национального дохода и материального 
богатства в обществе совсем не обязательно совпадает с общим благом людей – 
например, если этот материальный рост выражается в росте вооружений…</p>
<p>- Напомню, что о таком совпадении я говорил лишь в принципе, противополагая 
его иному принципиальному положению: рост материального богатства современного 
общества есть по преимуществу зло. Но тогда злом придется объявить и труд, 
создающий материальные ценности, и организацию производства и распределения их, 
и саму экономическую науку. Сам спор становится бессмысленным.</p>
<p>3) П.А.Подрабинек высказал несогласие с моим утверждением, что одна из целей 
правильной, оптимальной организации экономической жизни общества – чтобы все его 
члены "работали по способности". Он говорит: "Я – музыкант и, говорят, неплохой, 
а вместе с тем столяр, так, средней руки "(цитирую по памяти), но желаю работать 
именно столяром и никто не должен заставлять меня делать иное"… </p>
<p>Все должны работать только по желанию – вот идеал П.А.Подрабинека. И я, 
конечно, с ним солидаризируюсь. Однако, думаю, что долгий человеческий опыт 
показал, что эффективное творчество и свобода, работа по способности и свобода 
выбора работы – не противоречат, а тесно связаны и обуславливают друг друга, 
хотя бы в большинстве случаев.</p>
<p>4) П.А.Подрабинек высказал несогласие с целью наилучшего удовлетворения 
потребностей людей и в связи с этим, с целью максимального роста национального 
дохода. Он считает, что максимальный рост – это бесконечность, а бесконечное 
удовлетворение потребностей – бессмыслица. Человек должен ограничивать свои 
потребности разумными пределами или необходимостью.</p>
<p>- Здесь я должен выразить свое несогласие. Пределы для роста степени 
удовлетворения потребностей людей и для национального дохода существуют и 
заключаются в ограниченности всех производственных ресурсов. </p>
<p>5) П.А.Подрабинек высказал свое сомнение в том, что подавляющее большинство 
наших людей против повышения нынешних государственных низких цен на дефицитные 
товары до уровня рыночных. Сам он, например, считает, что цены должны 
складываться на рынке свободно, согласно спросу и предложению. </p>
<p>6) П.А.Подрабинек не согласен с предложением возврата к НЭП, считая его 
неосновательным и ненадежным: государство уже не раз вводило "мини-нэпы", чтобы 
при удобном случае снова вернуться к чистому тоталитаризму и в экономике. Взамен 
он предлагает – социализм, т.е. освобождение экономической жизни от 
вмешательства государства (что, на мой взгляд, прямо противоположно официальному 
пониманию социализма в нашей стране).</p>
<p>Отвлекаясь от терминологических споров о том, что такое социализм, я 
соглашусь с П.А.Подрабинеком в основном: главное – это достичь минимума 
государственного вмешательства в экономическую и иную деятельность людей. Для 
меня предложение возврата к НЭПу – это лишь первый и наиболее простой этап на 
эволюционном пути развития страны к этой основной цели.</p>
<p>7) (к сожалению, не запомнил) </p>
<p>Общее впечатление от начала статьи П.А.Подрабинека - сдержанная по тону, 
корректная по форме, но весьма суровая, придирчивая критика и, к сожалению, 
недоброжелательная лично к К.Буржуадемову. Однако чувствуется огромная 
заинтересованность в теме спора, в выяснении путей освобождения наших людей от 
государственной опеки, в том числе и в их экономической деятельности, 
оригинальное понимание социализма, как наиболее свободного рынка (что близко и к 
моему пониманию будущего коммунистического идеала). На деле, в глубине мы 
гораздо большие единомышленники, чем это можно видеть при первом чтении 
нижеследующего отзыва…</p>
<p><strong>Вторая половина "Замечаний…".</strong></p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"8. "Они-то, на Западе, имеют возможность и право критиковать государство, 
  потому что экономически независимы от него, потому что они живут "на свои", а 
  не на дотации…" (из статьи К.Б.)</p></blockquote>
<p>Действительно, на Западе экономика в значительной мере независима от 
государства, но неверно, что там существует свободный рынок. Капиталист 
извлекает из производства прибавочную стоимость, частично принадлежащую 
трудящимся и лишает их возможности равноправного участия в "свободном" рынке. 
Конечно, есть разряд лиц, согласных на то, чтобы их эксплуатировали в обмен на 
свою безответственность в решении дел производства, лиц, согласных не быть 
экономическими личностями. Но есть и разряд лиц, которым прегражден путь к 
становлению экономическими личностями. Они принуждены к неравноправному участию 
в производстве. "Вы можете не работать на предпринимателя", т.е. имеете право 
умереть с голода… "Вы имеете право стать предпринимателем". Но, во-первых, не 
всякий человек, являющийся объектом бесправия, готов стать его субъектом, 
во-вторых, в век монополистического капитала мелкий предприниматель обречен в 
конкурентной борьбе на разорение. Насильственно эксплуатируемые отторгаются от 
рынка, который, поэтому, на Западе, тоже не свободен. Свободный рынок возможен 
только при социализме, где каждый человек во всех отношениях, в том числе и 
экономическом, является личностью, т.е. имеет право решать все общественные 
вопросы.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>9. "Низкими ценами на товары власть превращает в рабов как производителей, 
  так и потребителей" (стр.42)</p></blockquote>
<p>Между ценами на товары и рабством нет корреляция. Рабство существует как при 
низких, так и при высоких, как при богатстве, так и при нищете народа. Рабство 
есть узурпация прав человека, отчуждение от него его личности, а не регуляция 
его потребительских качеств.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>10."Прежде чем добиваться политических или иных прав, необходимо добиться 
  более основополагающих прав экономических…" (там же).</p></blockquote>
<p>Нет прав более или менее основополагающих. То, что важно одному, менее важно 
другому и никому не дано право решать, какое право человеку важнее. Кроме того, 
все права так тесно переплетены, что борьба за одно из них есть борьба и за 
другие. Потому-то тоталитарное государства не желает уступить ни одного из 
них.</p>
<p>11. Вообще удивительна готовность Буржуадемова сотрудничать с государством и 
рука об руку с ним найти разумную экономическую политику, помочь ему выйти из 
экономических бед, оставив за ним все его злокачественные свойства тоталитаризма 
(к стр.43).</p>
<p>12. О спекуляции достаточно много и веско говорили оппоненты К.Буржуадемова. 
Повторяться не буду, отмечу лишь, что автор смешивает три понятия: торговца, 
спекулянта и индивидуального хозяйственника ("частника"), выполняющих в обществе 
совершенно различные функции.</p>
<p>Торговец – профессионально-моральный человек. Он участвует в процессе 
распределения товаров, без чего не может обойтись ни одно общество. При 
свободном рынке оплата его труда определяете спросом и предложением. Если его 
труд выгоден, появляются конкуренты и оплата его труда снижается. </p>
<p>Спекулянт – профессионально-аморальный человек, т.к. оплачивается не труд 
его, а жуликоватость, блатовство, близость к дефицитным продуктам. Да, он 
рискует, но и бандит, вышедший с ножом на большую дорогу, рискует. Делает ли 
этот риск его "труд" общественно-полезным, благородным?</p>
<p>На Западе спекуляция ограничена сферой противозаконной торговли – 
наркотиками, женским телом, детьми и т.д. В законной сфере нет спекуляции, т.к. 
нет "интимной близости" прохиндеев к дефицитным товарам, попытки спекуляции 
автоматически пресекаются участием в торговле конкурентов, открыто, безбоязненно 
вступающих в то же дело.</p>
<p>Спекуляция на разрешенные законом товары – прерогатива тоталитарного 
государства с его системой преференций, запрета свободного рынка и неравномерным 
распределением товаров.</p>
<p>"Частник" – профессионально-моральный человек. Он вырабатывает продукт 
собственным трудом, без эксплуатации других людей и вправе требовать за него ту 
же стоимость, которую сочтет нужной. Если (запрошенная им цена) высока, тут же 
найдутся конкуренты, которые на свободном рынке эту стоимость снизят.</p>
<p>В тоталитарном государстве, однако, "частник" не полностью морален, он увязан 
со всей аморальной системой зависимости экономики от государства. Так, например, 
он выращивает цветы сам, но удобрения достает по спекулятивным ценам, растит 
борова отходами, взятыми женой из столовой, где она работает, и т.д.</p>
<p>То же самое относится и к "шабашникам", коллективу "частников, вынужденных 
иметь дело с государством и спекулянтами.</p>
<p>Такова структура тоталитаризма, что он никого не оставляет чистым. В той или 
иной степени каждый человек при нем запачкан. Разумеется, лучше, когда грязи 
меньше, поэтому шабашники и "частники", минимально связанные с государством, 
явление при тоталитаризме прогрессивное.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>13. "Вы на деле протянете без них ноги" (стр.45)</p></blockquote>
<p>- Ноги мы протягиваем в любом случае, как со спекулянтами, так и без них, и 
на ту же длину, ибо спекулянты продуктов не производят, а переносят их от одних 
к другим. Кстати, со спекулянтами лучше живется… спекулянтам и прочим жуликам, у 
которых много денег, а у кого их мало, от спекулянтов быстрее протягивают 
ноги.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>14. "…В этой проблеме любят различать вопросы морали и целесообразности" 
  (стр.48).</p></blockquote>
<p>- Кто это любит различать эти вопросы? Мораль и целесообразность совпадают. 
То, что целесообразно, то и морально, т.к. мораль – это общая целесообразность. 
Неужели кто-нибудь думает иначе? – Укажите!</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>15. "Если мы отнимаем у вора свои вещи, это не грабеж, а хорошее дело" 
  (стр.48)</p></blockquote>
<p>- Автор не учитывает, что, воруя на производстве, человек обворовывает не 
только государство, но и производителей. Государство,- это еще куда ни шло, а 
производителей – плохо. Если уж ты такой вороватый, то возьми у государства и 
верни производителям, которым государство недодало за их труд. Сначала сделай 
все расчеты, потом – с Богом, лезь в обобщенный государственно-производительский 
карман, раздели, верни производителям им причитающееся. Еще лучше – заберись 
ночью к секретарю горкома партии и утащи у него барахлишко… Фи!</p>
<p>Но и у государства воровать непристойно. Как? Оно тебя нагло грабит, а ты, 
как мелкая дрожащая тварь тащишь у него исподтишка?! – Уж лучше тогда приди с 
пистолетом, стукни по столу, заори: "Открыть сейф!" и то будет приличнее, по 
крайней мере, не так унизительно. Воровство – удел слабых, ослизненных, робких 
душ и ведет к их окончательной деградации.</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>16. "Наш народ и сегодня нравственен и здоров" (стр.50).</p></blockquote>
<p>- Это – воруя, растаскивая, что ни попадется? Упиваясь до смерти? Сгибая выю 
перед начальством? Тот самый народ, который "заслуживает тех руководителей, 
которые им сегодня управляют"? Или это относится лишь к интеллигентам? А они – 
не народ?  Что за каша?</p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>"Только ненормальные условия делают ненормальной форму этой 
  нравственности". </p></blockquote>
<p>- Извольте определить, что такое нравственность, в чем ее содержание, в чем 
форма и тогда вернемся к этому тезису. Полагаю, что Вам это не удастся. Нельзя 
быть нравственным "внутри" и систематически безнравственным в поведении, да еще 
считая это поведение правильным.</p>
<p>17. Честно же вот что – несотрудничество с государством!</p>
<p>Кто может – да вместит! Кто не может, пусть возможно меньше с ним 
сотрудничает, в частности, занимается… "свободной экономической деятельностью", 
которая, отметим это, далеко не так свободна, как считает автор.</p>
<p>А лозунг: "Становитесь кустарями, шабашниками, леваками, спекулянтами, 
предпринимателями, частниками…" – смешивает все и вся, честных с полу-, 
четверть-честными. Ну, так нельзя, дорогой!</p>
<p><strong>Продолжение ответа К.Буржуадемова на "Замечания" 
П.А.Подрабинека.</strong></p>
<p>По п.8 – Концепция о том, что на Западе нет свободного рынка, поскольку там 
существует экономическое неравноправие (например, капиталистов и рабочих), 
интересна, но непонятна и требует развернутого изложения. Конечно, я разделяю 
общепринятое убеждение, что совершенно свободного от монополий рынка не 
существует ни в одной стране, что это лишь идеал, но сравнивая хозяйственную 
жизнь на Западе и у нас и молчаливо подразумевая, что все определения – 
относительны, мы вполне можем говорить о том, что на Западе существует рыночное 
хозяйство в отличие от тотального планирования у нас.</p>
<p>По п.9 – Очень сожалею, что П.А.Подрабинек не захотел увидеть связи между 
директивно низкими ценами и уничтожением рынка, а также связи между 
полубесплатными раздачами некоторым слоям людей дефицитных товаров и 
приверженностью этих людей к рабской зависимости от государства, т.е. "продажа" 
ими своих естественных "прав человека" за "чечевичную похлебку" государственно 
низких цен.</p>
<p>По п.10 – Совершенно согласен, что свобода неделима, что все человеческие 
свободы и права взаимосвязаны. Возможно, я погрешил, напирая на важность, прежде 
всего, экономических свобод, но думаю, что не меньшую ошибку совершают и многие 
диссиденты, напирая только на важность защиты свободы убеждений, совести, 
получения и распространения информации, творчества, слова и печати.</p>
<p>Необходимо подчеркивать не только "свободу слова", но и "свободу дела". Мало 
того, именно в обосновании и защите "свободы дела" свобода слова получает свою 
цель и оправдание. Своим "перекосом" я хотел бы исправить очевидный перекос 
современного диссидентского мышления.</p>
<p>По п.11. – В моей готовности сотрудничать с государством и искать с ним 
вместе выход из грозящих экономических бед с помощью разумной экономической 
политики – нет ничего удивительного. Эта готовность вытекает из моего глубокого 
страха перед весьма реальным в будущем крахом всей нашей системы, из отвращения 
к будущей революционной перспективе, ибо из будущей революции неизбежно 
последует будущий тоталитаризм. Упрочение свобод и прав человека может нарастать 
только постепенно, только эволюционно, общими усилиями и низов, и верхов. Таково 
мое убеждение.</p>
<p>Совместно с государством надо искать выхода не только из экономических, но и 
остальных социальных тупиков (что, как мы уже раньше согласились, друг с другом 
связано). Если государство вместе с диссидентами и народом найдет выход из 
экономического тупика, оно это сможет сделать только на путях отказа от 
тоталитаризма и в других областях социальной жизни. </p>
<p>По п.12 – Что касается соотношений между положительными типами 
профессионально-моральных торговцев и частника и отрицательным типом 
"спекулянта", то мне кажется очевидным, что П.А.Подрабинек находится в плену 
бытующих в нашей среде до сих пор устаревших моральных оценок. Я же исхожу 
просто из существующих юридических определений, по которым обычный для Запада 
торговец в наших государственно-монополистических условиях автоматически 
объявляется вне закона в качестве спекулянта. Вину за это я возлагаю не на 
торговца, а на государство и поддерживающее его общественное мнение.</p>
<p>Раздражение и предвзятость мешает многим диссидентам (в том числе и 
П.А.Подрабинеку) объективно разобраться в положении экономически свободных 
людей. Он противопоставляет частных торговцев и спекулянтов, совершенно забывая, 
что и государство, и общество у нас именуют этих торговцев (кроме разрешенных на 
колхозном рынке) – спекулянтами.</p>
<p>Однако в целом я глубоко удовлетворен, что П.А.Подрабинек тем не менее 
признал, что шабашники и частники, в том числе и торговцы при всех их 
недостатках из-за неизбежной связи с тоталитарным государством, - "явление при 
тоталитаризме прогрессивное" очевидно, в сравнении с теми, кто только служит 
государству.</p>
<p>По п.13. – К сожалению, П.А.Подрабинек не учитывает, что потребности людей в 
товарах различны (например, одно и то же лекарство может в одном случае спасти 
жизнь, а в другом – оказаться забытым в личной аптечке). Поэтому он не признает 
положительной роли "спекулятивной" торговли в перераспределении товаров от 
людей, готовых купить их лишь за полцены, к людям, которым они необходимы и за 
две цены и больше, вплоть до "протягивания ног". </p>
<p>По п.14. – Существует множество людей, которые считают источником морали не 
общую целесообразность (допустим, существование человечества), а более 
абсолютную причину – Бога (религиозное понимание), или абсолютизируя саму мораль 
(понимание Канта)…</p>
<p>По п.15. – В отношении оценки "хищений социалистического имущества", 
"несунства", воровства с предприятий и т.д. – мне не хотелось бы выступать 
однозначно лишь с осуждением этого явления. Свое отношение к этому сложному и 
важному вопросу я пытался выяснить в "ЗЭС" №3.</p>
<p>По п.16. – На мой взгляд, нравственность – это готовность людей делать добро. 
Нравственность определяется именно этим, а не одним пунктуальным выполнением 
морального кодекса.</p>
<p>Есть заповедь "не убий", но безнравственно не убить вооруженного бандита, 
стреляющего в добрых людей, если с ним нельзя справиться иначе. Аналогичные 
ситуации возможны и применительно к остальным моральным заповедям, в том числе и 
к заповеди "не кради". Если воровством можно спасти жизнь человека, то 
безнравственным будет именно отказ от воровства.</p>
<p>Но обычно такие ситуация – лишь исключения. В целом, моральные заповеди и 
есть правила делания добра в типичных ситуациях. И только в ненормальных 
условиях наступает массовое расхождение между моральными заповедями и деланием 
добра. В таких условиях большинство людей просто следуют своему нравственному 
инстинкту, даже если он противоречит "заповедям".</p>
<p>Вот почему суть нравственности – делание добра, а форма ее – традиционные 
моральные заповеди. Наши условия – далеки от естественных и свободных, поэтому и 
существуют расхождения между сутью и формой.</p>
<p>Конечно, при этом необычайно трудно становится отличать нравственного 
человека от безнравственного, и даже типы поступков и даже профессий становятся 
нравственно неопределенными. Как в примере со спекуляцией или с расхищением 
соц.собственности. И в этом необходимо разбираться.</p>
<p>По п.17. – Я рад, что П.А.Подрабинек поддерживает призыв переходить от службы 
государству к свободной деятельности. Что же касается разграничения экономически 
свободных людей на "честных, полу- и четвертьчестных" – то согласен, давайте 
разбираться в этом вместе, но обстоятельно и углубленно, понимая, что речь идет 
о моральном осуждении или оправдания не единиц, а множества людей.</p>
<p>Осознаем важность этой работы и продолжим обсуждение!</p><table width="600"> <tr> <td>
<a href="55.2.html"> предыдущая </a>
</td><td><a href="index.html">оглавление</a></td><td>
</td></tr></table>
<br/>

{% endblock content %}
