{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. «Дети и шабашки» 1968-1977 гг</title>
{% block content %}



<br/><br/>
<div class="'n'"> <p>1.-8.</p>
<p>9. Познакомьтесь - это наша дочка Галя. Она родилась в 
мае 68-го года и сейчас кончает 2-й класс.</p>
<p>10. Кроме мамы и младших братика с сестричкой у нее есть старший брат Тема, фотографирующий нас папа, бабушка в Волгограде, дедушка в Москве, и, конечно же, -подруги.</p>
<p>11. Про ее брата Тему мы сделали диафильм, когда тому не было и 5 лет. Галины же разрозненные кадры почти дождались девятилетия. Однако нет худа без добра. За 9 лет можно больше вспомнить, чем за пять. Но начнем все же по порядку, с рождения. </p>
<p>12.В отличие от прошлых веков, теперь нельзя сказать: 
«Вот дом, где я родился». И потому я говорю: «Вот дом, в Филях, где Галя прожила первые годы после рождения. Сейчас лавочки перед домом пустые, а к вечеру здесь всегда собирается общество старух - «перемывательниц косточек».</p>
<p>13. Но с Галей они были приветливы, агукались и нахваливали. И не нашлось дурного глаза. Девочка росла здоровой и спокойной. Ни отсутствием аппетита, ни бессонницей не страдала.</p>
<p>14. Галя родилась 9 мая и ее бы, наверное, следовало назвать Викторией. Нo мы уже не были так смелы в выборе имени, и назвали простым именем в честь моих хороших подруг.</p>
<p>15.  Ну что говорить о младенчестве: сосет грудь, да спит и лишь очень редко кричит на зазевавшуюся маму.</p>
<p>16. Сколько тут Гале? - Наверное, несколько месяцев. А 
сколько радостей! Держать головку, гнуть спинку, болтать ножками, раскрыв миру еще совсем чистые, еще совсем добрые глаза.</p>
<p>17. Но как быстро летит время. Еще пара месяцев, и человек уже научится сидеть. И в этой завоеванной интеллигентской позе еще живее вглядывается в мир. В этот теплый осенний день мы с Темой бродили по лесу у Десны, а Галю оставили с бабулей дома.</p>
<p>18. Для первого года и околодомашних впечатлений много. С балкона нашей коммунальной квартиры открывался, правда, вполне урбанистический пейзаж, но ведь есть еще и небо.</p>
<p>19. А когда сумерки размывали этот пейзаж, лишь громыханье поездов метро по стыкам размеривало временные интервалы нашей крохотной девочки, формировало какие-то неподвластные нам основы.</p>
<p>20. Беспомощен младенец. Кажется, так узок круг его впечатлений - мать и кровать, соска да погремушка, да ритм уличного шума, да дреньканье радио, да редкое агуканье родительских знакомых. А ученые говорят, что именно первый год почти все решает: непостижимо и ...неисправимо.</p>
<p>21. И вот наступила зима. Первая для Гали. Двери балкона закрылись.</p>
<p>22. Ну и что с того? Человек научился стоять. А из этого положения стал глядеть еще дальше.</p>
<p>23. Правда, ходить тяжело, но и ползком можно доставлять себя в любую точку громоздкого неисследованного квартирного мира. </p>
<p>24. Скоро, скоро и человек сам пойдет, выскользнет из маминых рук в широкий божий свет.</p>
<p>25. Видно, и вправду в первом году человек проживает большую часть своей жизни. Месяцы неузнаваемо меняли Галю. </p>
<p>26. Эта мордочка уже очень далека от доброй бессмысленности. На Гале наши любимые красные ползунки. И когда ножка в красном в минуту строптивости топала, так и хотелось прокомментировать: «Ишь, генерал!»</p>
<p>27. Мы еще не почувствовали ее девочкой, но характер, невосприимчивость к физической боли, но страх перед стуком, покладистость в одном и упрямая властность в другом - уже ощущалась.</p>
<p>28. А может, такое «генеральство» и было первым основным признаком завязывающегося бутона будущей женщины?</p>
<p>29. Первый год, первая зима с мамой, с папой, братом и живущими в том же доме дедом и больной бабушкой Таней -</p>
<p>30. - кем он сделал нашу дочку? - Только жизнь даст на это ответ.</p>
<p>31-35.</p>
<p>36. Но прошла зима, прошли весна и лето в Волгограде у 
бабули Фаины. Диссертация потребовала от Лили гораздо больше сил и нервов, чем 
представлялось вначале. Чтобы она делала без помощи мамы, опекавшей внучку, как вторую дочку?!</p>
<p>37. Только осенью вернулась Галя в родной дом: выросшей, ходячей и даже незнакомой. Еще бы - ведь треть жизни провела в Волгограде.</p>
<p>38. В наших слайдах запечатлен первый лыжный выход. </p>
<p>39. Идти сама Галя еще не умела. И потому рука, причем лишь мамина и ничья иная, была ей необходима.</p>
<p>40. Вот вам первое сочетание слабости и гордости: помощь приму, но только от того, от кого хочу, а если не по-моему, так хоть режьте меня, не поддамся. Женская сталь.</p>
<p>41. В эту прогулку, помнится, я долго прыгал вокруг своих женщин. И отходил, неудовлетворенный.</p>
<p>42. Мне очень хотелось сделать несколько крупных планов Галиной мордашки. Тогда я думал, что Галины голубые глаза, как и младенческие Темины, со временем перекрасятся, и хотелось удержать их нынешний цвет на пленке.</p>
<p>43. Но Гале почему-то не нравился фотоаппарат, она сердилась на меня, прятала лицо.</p>
<p>44-45. Наконец, обессилевшей от смеха Лиле надоели мои пристрелки, и она решилась на небольшое насилие...Нет, вы только посмотрите на эту маленькую женщину!
Сколько в ней всего: оскорбленной невинности, презрения, гнева, в общем, всего будущего набора стрел и молний! Берегись, берегись!</p>
<p>46. Хорошо, что детские обиды так быстро забываются.</p>
<p>47-49.</p>
<p>50. ...Прошло еще одно лето в Волгограде, и снова приехала к нам повзрослевшая, чуть чужая, но такая родная дочка.</p>
<p>51. Уже  не дичок, а веселая, разбитная, компанейская!</p>
<p>52. «И вот говорит ему лиса: «Накормил ты меня, напоил, ну а теперь - испугай меня!» - Спасибо бабуле!</p>
<p>53. Так уж получилось, что вплоть до моей защиты Галя была нашей лишь в холодное время года. Меньше ей досталось от нас впечатлений и огорчений. Лучше это или хуже, не знаем!</p>
<p>54. Но все же некуда ей было деться от родительских увлечений - диафильмовских, туристских, архитектурных.</p>
<p>55. Декабрьское холодное воскресенье. Мы выбрались на прогулку в Кремль. Да, тяжелы мы стали на подъем, редкими стали такие прогулки.</p>
<p>56. А ведь каких-нибудь 5 лет до этого каждую субботу-воскресенье (вместе с Артемкой или без него) мы охотились  </p>
<p>57. за московскими церквами и не уставали. Была большая цель: все осмотреть, составить диафильм.</p>
<p>58. Конечно, Москва - бесконечна. И можно было бы сделать о ней не один диафильм.</p>
<p>59. Но, дав ухватить то, что на виду, Москва не пускает верхушко-хватателей в свои глубины, и потому не бродим мы больше по ней ежевоскресно.</p>
<p>60. Галя не знает еще, а мы про себя каемся, что не додали ей любви к Москве, златоглавой, старинной, престольной...</p>
<p>61. ...Ребенок карабкается к Верхоспасскому собору. Может, Вы думаете, что поднимается она за церковными главами, к небу?</p>
<p>62. Нет, ей просто захотелось посмотреть на нас сверху.</p>
<p>63. Обычный веселый ребенок, для которого кремлевские зубцы столь же незначительны, как и стена любого жилого дома. Однако трогать в детстве старинные стены, даже бесцельно и </p>
<p>64. бессознательно, разве это не важно? Разве не отзовется когда-нибудь в ее будущей жизни сладкой болью?</p>
<p>65.Москва, Кремль, родители... Улыбка на детских губах - первый проблеск будущей иронии. Ей хорошо, ну а нам и подавно.</p>
<p>66. У нас нет больше московских кадров, совмещенных с Галиным присутствием. И все же мы не теряем надежды, что еще </p>
<p>68. пройдем-ся с нею по Москве и всмотримся в </p>
<p>69. закоулки московских монастырей и храмов. И Новодевичьего, </p>
<p>70. и Высокопетровского, и Донского,</p>
<p>71. и многих-многих других, и передадим ей хоть частицу своей любви и удивленности.</p>
<p>72-74. Дай-то Бог!</p>
<p>75. Весна 1971 г. Первый Галин байдарочный поход - реки Лопасня и Ока.</p>
<p>76. Старая, дырявая байдарка приняла на борт четвертого, подросшего члена семьи.</p>
<p>77. Прекрасная погода, теплая вода, тенистые берега - путь в цветах и деревьях.</p>
<p>78-81.</p>
<p>82. Перекаты-пережидания на весенней Лопасне редки.</p>
<p>83. Гораздо чаще остановки-стоянки для еды, отдыха, купанья.</p>
<p>84. Что при этом чувствовала наша дочка? - Впервые перед ней распахнулось так щедро майское Подмосковье...</p>
<p>85-91.</p>
<p>92. Походные радости и обязанности: собрать щавель на щи, сучьев на костер, вымыть посуду.</p>
<p>93. Опекуншей Гали в этом походе была Сашенька из соседней байдарки. Ниточки симпатии сразу же протянулись между двумя</p>
<p>94. едва лишь расцветающими женщинами. И ты стоишь сбоку и смотришь на этот таинственный и благодатный процесс роста и боишься шелохнуться.</p>
<p>95.</p>
<p>96. Май 1972 года</p>
<p>97. Хорошо на байдарке, а пешком лучше. Хоть и трудней, но проще и мобильней. В 4 года Галя стала почти полноправным участником наших весенне-праздничных походов по Подмосковью.</p>
<p>98. Ходить устойчиво и без особой усталости она стала довольно рано. В отличие от Темы, ее  почти не пришлось таскать не горбу.</p>
<p>99. В тот раз мы шли очень большой компанией, объединив своих друзей разных лет и разных сфер.</p>
<p>100. Наши дети чувствовали себя среди них вполне уютно и непринужденно. Гале особенно нравился четвероногий участник по кличке Марек.</p>
<p>101. Это был еще один ребенок в походной компании, не считая его 13-летней хозяйки.</p>
<p>102. А какое удовольствие можно было получить от весеннего акварельного леса,</p>
<p>103. от попыток сбора березового сока ртом капля по капле, </p>
<p>104-105. от принарядившихся веток деревьев.</p>
<p>106. Погода в те дни была то солнечной и ветреной, то пасмурной и сырой.</p>
<p>107. Но мы уже давно усвоили нехитрую туристскую мудрость: в лесу погода бывает разной, но не бывает плохой.</p>
<p>108. Костер, теплая и сухая одежда, шутки и бодрость друзей, последождевые лесные ароматы - все это делает ненастье в лесу легко переносимым.</p>
<p>109. Сапожки и плащ на Гале днем, надувной матрац и палатка - ночью, придают мне спокойствие за ее здоровье. </p>
<p>110. А Галя и вообще ни о чем не беспокоится. Ей здесь 
хорошо. Это видно по тому, что она не капризничает, не топает, не кричит, лучше 
смиряет свой упрямый нрав, более спокойно управляется.</p>
<p>111. В свои 4 года Галя уже стала человеком с характером и чувством достоинства. Даже маленькую, ее нельзя было заставлять - только уговаривать. Потом мы убедились в ее доброте и отзывчивости, затем поразились драчливости в обращении со старшим братом.</p>
<p>112. Мы с интересом знакомились с этим новым человеком, примеряя к ней свою жизнь и свои привычки. Следили, как уже не мы, а весь окружающий мир контактирует с нашим голубоглазым сокровищем.</p>
<p>113. «Овраг сказок». Март 74 г. Это овраг в лесу по 
усовской ж.д. ветке, где которую зиму художники-энтузиасты устраивают для детей 
и взрослых выставку снежных и древесных чудищ из русских и иных сказок.</p>
<p>114. Чего тут только нет. Вот - филин из двух скрещенных досок.</p>
<p>115. Вот леший из корней.</p>
<p>116. А вот ведьма. Нет, нет, ошибка, это - персонаж совсем из другой, более страшной сказки и зовется он - «коммунальная мегера».</p>
<p>117. Мы тоже соорудили, правда, в другом пространстве-времени, но еще более зловещий персонаж. Посмеявшись над ним, ушли довольные, как будто осуществили фрейдистскую сублимацию.</p>
<p>118. Но в то воскресенье мы только потребляли чье-то бескорыстное искусство, радостью своих детей отдаривая труды создателей оврага сказок.</p>
<p>119. Гале уже почти 6 лет, выросли руки из когда-то большой шубки. Фотографироваться? - С удовольствием. </p>
<p>120. А сколько удовольствия вертеться около любимой тети Лены.</p>
<p>121. Как жаль, что наша Галя проводит в обществе хороших наших людей так немного времени.</p>
<p>122. Да и мы сами так редко встречаемся - все недосуг.</p>
<p>123. Но все же они есть, мы их любим и желаем Гале, чтобы и у нее было много друзей.</p>
<p>124. Встречая вчетвером новый 74 год в своем Филевском доме, мы пожелали друг другу поскорей въехать в новую, кооперативную квартиру.</p>
<p>125. И через пять месяцев переехали в Печатники, в дом на берегу Москворецкого моря. Еще через 2 месяца родились</p>
<p>126. маленькие, и у нашей Гали началась другая, совсем 
взрослая жизнь. Но, прежде чем закончить этот диафильм, мы расскажем еще об 
одном походе в места, где природа и история слились в одно целое.</p>
<p>127. Бородино, май 1973 г.</p>
<p>128. В первый раз мы попали на Бородинское поле в 65 году, и лишь какие-то смутные ощущения остались в памяти от этого странного места.</p>
<p>129. Через 8 лет четыре дня майских праздников позволили нам сделать не экскурсию, а настоящий поход с тремя ночевками.</p>
<p>130. И мы прошли от Поля к Колоцкому монастырю, потом к Можайскому морю и снова к Семеновскому.</p>
<p>131. Уходились всласть и отдохнули на славу.</p>
<p>132-134.</p>
<p>135. «Море» было крайней точкой маршрута.</p>
<p>136. Здесь мы заночевали,</p>
<p>137.  а утром, оставшиеся от похода силы истощали в молодецких</p>
<p>138-139.  играх-забавах.</p>
<p>140. Походная жизнь шла своим чередом, но, кроме праздничных будней, песен Кима и стихов Волошина, </p>
<p>141. задушевных бесед и длинных споров, купания в море и прогулок,</p>
<p>142. в памяти и на слайдах остались и праздничный стол, и </p>
<p>143. подарок от Прасковьи Ивановны через дочку Лену.</p>
<p>144. И глядели на все это Галины большие глаза, как бы ощупывая наш «старый мир».</p>
<p>145. Дети - это люди из будущего, вертятся около нас постоянно, почище всяких разведчиков. И ведь знаешь об их наблюдательности и цепкой памяти, но нет сил стать под их взглядами лучше и красивее. Забываешься. Не знаю, кто первый сказал фразу, но она мне нравится: «Люди, будьте бдительны, на вас смотрят дети».</p>
<p>146. Колоцкий монастырь считается в округе самым древним.  Построен в 1413 г. еще можайским князем на западных рубежах Московских земель.</p>
<p>147. При подходе к нему, на нас обрушился сильный ливень - спрятались под колокольню.  </p>
<p>148. Колокольня высока: Лилю внизу не разглядишь. </p>
<p>149. Зато вокруг простор можайский, тот самый «За Можай», куда загоняли московские князья своих противников.</p>
<p>150. Только в таком сочетании русской земли с формами древних церковных зданий мы воспринимаем понятие «Родина» в полном объеме. И рады, что наша Галя тоже возьмет это богатство, которое не получишь на уроках.</p>
<p>151. Мы смотрим на Западную Россию и ничего о ней не знаем. Лишь обрывки сведений о можайских князьях, об иx спорах с Москвой, о связях с западно-литовской Русью, о поляках и французах. Много чего было на этой земле, много важного и поучительного для нашей жизни.</p>
<p>152. И вот забылось, пропало, уничтожено. И нечего нам рассказать своим детям, передать им в наследство...</p>
<p>153. Монастырь пустынен, но подновляется. Свежую кирпичную кладку легко отличить от старой.</p>
<p>154. Пишутся путеводители, работают историки, копают землю археологи, готовят ответы на те вопросы, которые зададут им в будущем наши дети. Ведь дети должны знать больше нас.</p>
<p>155. Многочисленные военные памятники Бородинского поля, места грандиозного сражения России и Европы в 1812 мы засняли еще в 65-м году.</p>
<p>156. Большинство их установлено однополчанами через 100 лет после битвы.</p>
<p>157. Каждый столп означил место, где солдаты стояли под пулями и умирали. Десятки тысяч за один день.</p>
<p>158-159.</p>
<p>160. В последнюю войну здесь тоже погибло немало людей. </p>
<p>161. Блиндажи, доты, ходы в земле от безжалостно рвущего тело металла, смертельного дождя. </p>
<p>162. Тошнотворные картины.</p>
<p>163. И вот теперь, по этой земле в крови и костях, беспечно гуляют туристы с детьми и без детей.</p>
<p>164. Спасо-Преображенский монастырь - самый большой памятник 1812 года и военный госпиталь в последнюю войну.</p>
<p>165. Мрачное, казалось бы, место.</p>
<p>166. Но посмотрите, что с ним делает Галя! И разве она не права? Счастья и мирной жизни тебе, дочка!</p>
<p>167. Конечно, сейчас дети смотрят на это еще очень детскими глазами, но придет время, и они найдут слова для своих вопросов.</p>
<p>168. В этот раз на Бородинском поле мы набрели на новый 
для себя памятник. На французском языке надпись: «В память о гибели великой 
Армии». - Французов и иных европейцев здесь погибло не меньше, чем русских... Зачем французы пришли революционной армией под звуки марсельезы и свободы в страну крепостных нравов и азиатского невежества? И погибли? Зачем?</p>
<p>169. Кто был героем в той давней битве? - Мы горячо спорим, но, конечно, не находим сразу ответа. Не знаем его до сих пор. А должны найти, должны знать.</p>
<p>170. Вот они, дети, оседлали пушечные стволы перед музеем Бородинской битвы, запоминают невзначай увиденные клейма на пленных французских пушках: «Либерте, Егалите...» и сделают </p>
<p>171. когда-нибудь выводы: «Наши-то, русские, еще тогда сражались со свободой и равенством... А почему?»</p>
<p>172. Музей ответа не даст. Придется думать самим.</p>
<p>173-174.</p>
<p>175. Недалеко - село Бородино со своей церковной вертикалью.</p>
<p>176. Эта или иная церковь стояла здесь задолго до немцев, до французов, а может, и до поляков.</p>
<p>177. И если есть ответы на вопросы наших детей, то они заключены в таких вот зданиях, </p>
<p>178.  в олицетворенной ими истории.</p>
<p>179. Простодушны лица наших детей, немудрены пока их 
мысли и желания. Никто не знает, как они вырастут и кем вырастут. И потому 
всем: и Теме, и Гале, и их родителям остается лишь трудиться изо всех сил и самим создавать счастье. </p>
<p>Дочка, будь счастлива!</p>
</div>
<br/>

{% endblock content %}
