{% extends 'base.html' %}
<title>Прошение Ю.В.Андропову о реабилитации буржуазно-коммунистического мировоззрения и выражающих его сборников "В защиту экономических свобод", 21.11.81</title>
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1>Прошение Ю.В.Андропову о реабилитации 
буржуазно-коммунистического мировоззрения и выражающих его сборников "В защиту 
экономических свобод", 21.11.81</h1>
<p>Я обращаюсь к Вам не только как к главе ведомства, занимающегося проблемами 
существования инакомыслящих, но больше как к члену высшего руководства страной, 
в рамках которого только и может быт поставлено для разрешения данное 
прошение.</p>
<p>В 1980 году я был осужден к условному лишению свободы за участие в 
редактировании самиздатского журнала "Поиски" и за составление сборников "В 
защиту экономических свобод". Оставляя в стороне сейчас юридические пункты 
обвинения (на мой взгляд, совершенно не доказанные), я хочу обратить Ваше 
внимание, что сборники "В защиту экономических свобод" выражают в целом мои 
буржуазно-коммунистические взгляды, не противоречат основным принципам и целям 
страны и потому не могут быть преступными… Отдельные ошибки в них могли быть 
исправлены путем обычной критики, без уголовного преследования.</p>
<p>Конкретным поводом для данного заявления послужил выход в 1981г. сборника 
статей ученых Института экономики мировой социалистической системы АН СССР 
"Частный сектор в условиях социалистического строительства", в которых изложены 
важные аргументы в пользу развития частнособственнического хозяйства при 
социалистическом строительстве и условий для нормальной жизни и политического 
самовыражения для его представителей. Эти аргументы во многом мне очень близки, 
хотя в выводах я иду намного дальше, что следует отнести за счет разницы наших 
мировоззрений. Эти вопросы далеко не частные, касаются коренных проблем развития 
страны, и потому я надеюсь, что вы разберетесь в этих аргументах непредвзято и 
объективно. Также надеюсь, что мое доверие к Вам не будет обмануто и не принесет 
вреда ни мне, ни авторам книги "Частный сектор…", ни кому бы то ни было, а 
только пользу всем.</p>
<p>На мой взгляд, основные и важные для моего прошения положения упомянутого 
сборника сводятся к следующему:</p>
<p>1) Хотя краеугольным положением марксизма является тезис о противоположности 
социализма и частной собственности, реальная практика демонстрирует и 
возможность, и необходимость функционирования частного сектора в условиях 
социалистического строительства. Однако, это не находит ясного выражения в 
существующей полит.теории.</p>
<p>"Приходится констатировать, что в настоящее время в общественной науке и 
политической литературе эта перспектива четко не сформулирована, если не считать 
в качестве таковой или общее понимание исторической обреченности частного 
сектора, или общее признание возможности использования частной инициативы, 
частного сектора в условиях социализма" (с.194).</p>
<p>Следовательно, существует настоятельная необходимость в выработке такой 
теории, в дополнении или исправлении существующей.</p>
<p>История марксизма показывает, что он развивался от обоснования логической 
схемы революционного перехода от полностью развившегося и экспроприировавшего 
всех мелких собственников капитализма – к коммунизму – до признания реальности 
длительного исторического существования частной собственности (в частности, 
крестьян и ремесленников) в процессе социалистического строительства.</p>
<p>2) Различая частнокапиталистическую и частную трудовую собственность, 
марксизм всегда принципиально отвергал насильственное обобществление частной 
собственности. Не только потому, что крестьяне и иные слои мелкой и средней 
буржуазии являются, как правило (почти, как закон), подавляющим народным 
большинством, совершающим социалистическую революцию, в переходный период и даже 
в периоде самого социалистического строительства, но и потому, что любое 
поспешное обобществление хозяйства, игнорирующее соображения экономической 
эффективности – вредят всему обществу в его стремлении к оптимальности и 
тормозят построение коммунизма. Единственно верным критерием целесообразности 
обобществленного хозяйства и уничтожения частной собственности является лишь 
очевидная всем б?льшая эффективность общественного хозяйства и его плодов, в 
сравнении с частным, что объективно может быть оценено лишь самыми частными 
собственниками в условиях их свободного волеизъявления и равных конкурентных 
отношений частных и обобществленных хозяйств:</p>
<p>"Накопленный уже исторический опыт использования основополагающих ленинских 
идей НЭПа в Советском Союзе и других соц.странах (в том числе и негативный опыт, 
связанный с недостаточным их учетом в практической политике) свидетельствует о 
том, что поспешное формальное обобществление мелкой (а отчасти и средней) 
частной собственности в переходный период не ускоряет, а, наоборот, тормозит ее 
реальное социалистическое обобществление, "обобществление на деле", о котором 
говорил В.И.Ленин, замедляя тем самым процесс социалистического строительства в 
целом" (с.40)… А это рано или поздно приводит к различного рода деформациям в 
реализации социалистических принципов, наносит ущерб, как экономическим 
интересам общества, так и его социалистическим идеалам (с.40).</p>
<p>3) Таким образом, частный сектор, т.е. мелкая (и средняя) буржуазия, являются 
важнейшими партнерами рабочего класса, как во время революции, в переходном 
периоде, так и во всем периоде социалистического строительства. И эта роль, 
видимо, будет исчерпана или когда обобществленные хозяйства будут эффективнее 
частных буквально во всем, или (что вероятнее), при наступлении коммунизма 
(последний вывод мой – В.С.).</p>
<p>Мелкая буржуазия сохраняет в своей среде замечательные трудовые качества, 
предприимчивость, ответственность, бережливость, моральность, очень ценные для 
социалистического строительства. Принудительное же подавление 
частнособственнического сознания приводит лишь к возрождению его в извращенной 
форме среди рабочих и служащих и даже в среде правящей партии.</p>
<p>"…Побуждая мелкого частника к восприятию коллективистских начал в труде, 
важно не утратить и то положительное, что характерно для труда индивидуального 
производителя – рачительное хозяйствование, бережливое отношение к 
производственным ресурсам, трудолюбие, профессиональную гордость, т.е. качества, 
заслуживающие всяческого уважения и культивирования в условиях социализма…" 
(с.34).</p>
<p>"Осуществление социальной политики и здесь не должно идти вразрез с 
экономическими принципами социализма, поскольку труд мелкого частного 
производителя и по своей интенсивности, и по включенности в него смекалки, 
инициативы и риска в отдельных случаях далеко превосходит затраты физической и 
умственной энергии работников государственного предприятия" (с.151).</p>
<p>"Если нет объективных условий для устранения частного сектора…, то его 
административное устранение или запрещение не только не соответствует принципам 
коммунизма, но и вызывает недовольство производителей и потребителей, нарушает 
общественную стабильность, наносит вред обществу… Его административное 
устранение или запрещение создает благоприятную обстановку для сохранения 
безынициативности и пассивности государственных предприятий, и, вместе с тем, 
порождает недовольство потребителей и производителей, вынужденных идти 
незаконными путями удовлетворения своих интересов (подпольные рынки, спекуляция 
и т.п.). Стремясь разрешить возникающие здесь противоречия, иногда идут на 
легализацию частнособственнической корректировки недостатков работы 
государственных предприятий…" (с.148).</p>
<p>4) Последние годы в социалистических странах наблюдается некоторая 
стабилизация положения частного сектора, признание его положительной роли и даже 
стимулирования его инициативы, однако, почти во всех странах (кроме стабилизации 
в Венгрии) наблюдается медленное сокращение его доли и, следовательно, его 
значения.</p>
<p>5) Длительное историческое существование частного сектора в условиях 
социалистического строительства требует соответствующих форм выражения их 
идеологии и интересов. Насильственное закрытие таких каналов грозит эрозией и 
отрывом правящей партии от масс и ущербом для социализма. Это же обстоятельство, 
видим, приводит и к моральному удушению важной для общества частной 
деятельности:</p>
<p>"Опыт развития европейских соц.стран в 50-е годы показал, что попытки в 
административном порядке закрыть институциональные каналы выражения и реализации 
интересов мелкого производителя (что находило себе выражение в свертывании 
деятельности непролетарских партий и общественных организаций, в их отдалении от 
мелкого частного собственника) приводят лишь к тому, что представители 
мелкотоварного сектора (настоящие или бывшие) начинают искать и находят иные 
формы для своего самовыражения, пытаются реализовать свои интересы с помощью 
других каналов. Часть из них ищет контакта с антисоциалистическими силами; 
другая часть проникает в правящую партию, привнося в нее свои 
частнособственнические интересы, убеждения…, приобретая завуалированную форму, 
они гораздо труднее выявляются… Возникает опасность эрозии социалистической 
идеологии и соответствующих институтов и под влиянием идеологии проникающих в 
них и жаждущих самовыражения недавних представителей частного сектора…" 
(с.102).</p>
<p>"…Экономические интересы м/бурж.слоев в случае неподготовленного 
обобществления идей или необоснованного ограничения экономической основы их 
существования – част.собственности – при отсутствии переходных форм их 
подключения к социал.строительству начинают проявляться в рамках государственных 
или кооперативных предприятий в виде использования госуд. и коопер.собственности 
для удовлетворения частнособственнических интересов… Добровольный, сознательный 
переход мелких производителей к социалистическим формам жизнедеятельности 
требовал не только разработки эффективных организационных форм подключения их к 
плановой экономике, но и одновременно создания соответствующих каналов для их 
самовыражения, а также для идеологического влияния на них". (с.105)</p>
<p>Возможно, я несколько гиперболизировал позиции сборника, но это можно легко 
исправить, ознакомившись с самим сборником (кстати, его тираж – 250 экз. – 
слишком мал для такой важной темы) или сделав коррективы на субъективность моего 
прочтения. Свои взгляды я называю буржуазно-коммунистическими и считаю их прямым 
выражением идей буржуазных людей, строящих коммунизм. Соглашаясь со многим в 
сборнике "Частный сектор…", думаю, что его следовало бы углубить в следующих 
пунктах:</p>
<p>1. Необходимо уточнить понятия социализма и коммунизма.</p>
<p>До революции и в первые ее годы они зачастую сливались в сознании 
социалистов. После 1917г. у нас под коммунизмом стали понимать общество, где 
действует принцип "от каждого по способностям, каждому по потребностям", а под 
социализмом – общество, где основным является принцип: "каждому – по труду", 
т.е. принцип эквивалентного воздаяния за труд. Но этот принцип есть выражение 
рыночной эквивалентности (Ленин в "Государство и революция" называет его 
"буржуазным правом") и действует также в капиталистических странах, там, где он 
не искажен феодальными пережитками и монополистическими прибылями.</p>
<p>В других работах этого же периода Ленин выделяет стадию социализма, как 
переходную к коммунизму и определяет его как государственно-монополистический 
капитализм, поставленный на службу народу и потому переставший быть 
капитализмом, что вполне согласуется с определением главного социалистического 
принципа "по труду" как "буржуазного права". Таким образом, социализм предстает 
как переходное буржуазно-коммунистическое общество, буржуазное по сути основных 
отношений, коммунистическое по главной цели. Его можно называть также обществом 
социалистического строительства коммунизма, однако сутью его должно являться не 
сталинское принудительное обобществление и огосударствление экономики, а 
соревновательность и свободное ее развитие на принципах ленинской НЭП, главным 
принципом которой Ленин считал умение "некоммунистическими руками строить 
коммунизм", а также умение управлять частнособственнической экономикой через 
государственный капитализм.</p>
<p>Социализм есть буржуазное или государственно-капиталистическое общество, 
строящее коммунизм. Только в этой важнейшей цели заключается его отличие от 
капиталистических стран с иной идеологией.</p>
<p>Это ленинское (я уверен в этом) воззрение подтверждает и современность, 
демонстрирующая, что и кап., и соцстраны опираются на примерно одинаковые 
производительные силы (у капит.стран они даже выше), организованные как в 
государственном, так и в кооперативном и частном секторах. Различия в удельных 
весах этих секторов, конечно, существуют, но они не принципиальны. 
Принципиальным является только руководящая роль коммунистической идеи и 
демократический характер правящей партии, от чего зависит реальное исполнение 
главного условия в ленинском определении - "обращенная на пользу народу". 
Социализм сегодня – это буржуазное, демократическое и развивающееся к коммунизму 
общество. А в каком соотношении секторы экономики должны находиться, следует 
решать исключительно из соображений оптимальности развития общества, что 
однозначно наибыстрейшему развитию к коммунизму.</p>
<p>2. Следует переосмыслить понятие "эксплуатация", с помощью которого из 
частного хозяйства выделяется частнокапиталистическое для осуждения его и 
обоснования недопустимости его в условиях социалистического строительства 
коммунизма.</p>
<p>На мой взгляд, это противоречит не только реальному существованию 
предпринимателей в соц.странах (в ГДР разрешается наем 10 работников, в Венгрии 
– 3+3 родственников, что вызвано исключительной выгодностью для народного 
хозяйства), но и здравому смыслу.</p>
<p>Почему надо считать, что если рабочий нанимается на государственное или 
кооперативное предприятие – то эксплуатации нет, а если на частное – то есть? 
Тем более что существование эксплуатации на государственных или кооперативных 
предприятиях в западных странах признается. Все эти различия искусственны и на 
практике почти неразличимы. Так, в годы коллективизации за кулака-эксплуататора 
стали принимать тех крестьян, у которых уровень доходов был выше среднего 
заработка рабочего (по воспоминаниям ак. Струмилина, разработавшего этот 
способ). Но спрашивается – почему не следует считать эксплуататором рабочего, 
который зарабатывает больше среднего крестьянина? А как при таком подходе 
относиться к различиям в оплате способностей к труду и вообще к принципу "по 
качеству и количеству труда"?</p>
<p>Я предлагаю иное понимание слова "эксплуатация" – через определение 
оптимально работающего производителя (или хозяйственной ячейки) – как 
работающего без эксплуатации. Если же человек работает не в оптимальных условиях 
и, следовательно, получает за свой труд меньше, чем заслуживал бы в первом 
случае, то он подвергается эксплуатации и потерям. Значит, мы должны найти для 
сравнения, какие хозяйственные ячейки в обществе работают оптимально, т.е. с 
наибольшей выгодой для себя и для общества, а все обстоятельства, которые 
вызывают отклонения от этого образца, считать источником эксплуатации, т.е. 
общественных и личных потерь.</p>
<p>Но как найти оптимально работающую хоз.ячейку в реальной жизни? Думаю, что 
для большинства экономистов ответ ясен: производители, работающие на свободный 
рынок ("рынок совершенной конкуренции") в условиях экономического равновесия, 
тем самым работают оптимально. Т.о., обычные и свободно работающие 
производители, получающие нормальную прибыль или нормальный заработок, и создают 
эталон нормальной безэксплуатационной работы. Если же какой-то монополист 
завышает цены на свою продукцию выше рыночной, то он и его служащие (которых он 
оплачивает выше среднего) являются эксплуататорами потребителей. Если 
капиталист, пользуясь привязанностью рабочих к месту жительства или отсутствием 
профсоюза, платит меньше среднерыночного заработка, а разницу кладет в свой 
карман – он несомненный эксплуататор рабочих. Если же профсоюз вырвал повышение 
зарплаты намного больше среднерыночного и капиталист вынужден лишиться средней 
своей прибыли и разориться, то эксплуататором является профсоюз. Если 
государственное предприятие работает хуже аналогичного частного, меньше платит и 
своим рабочим, и государству налогов (или даже пользуется государственными 
дотациями, то оно, несомненно, является неумным или неумелым эксплуататором и 
своих рабочих, и государства), т.е. всего народа.</p>
<p>Такое понимание эксплуатации, как причин отклонения от оптимальности, может 
помочь выявить эксплуататорскую сущность той или иной хозяйственной ячейки и ее 
руководителей. И, конечно же, общество, строящее коммунизм, должно бороться с 
любой эксплуатацией, устраняя любую причину неоптимальности, любой источник 
общественных и личных потерь и несправедливостей. Но этот важный вопрос не имеет 
отношения, к какой форме собственности, к какому сектору относятся предприятия. 
Если же по какой-либо догме или предубеждению одна форма предприятий будет 
устраняться в ущерб эффективной работе, а другая – расширяться в ущерб той же 
эффективности, то вызываемые этим общественные потери можно считать результатом 
эксплуатации общества со стороны этой системы догм и их приверженцев. Впрочем, 
таким может быть все общество, большинство его членов, и тогда следует признать, 
что это общество, охваченное какими-либо патриархально-восточными, феодальными и 
иными предубеждениями, эксплуатирует само себя, само себя принуждает к 
неоптимальной работе, к потерям и, следовательно, к отсталости.</p>
<p>Убежден, что принятие такого подхода и настоящая борьба с эксплуатацией 
сильно оздоровила бы экономику и придала бы ей смешанный характер, т.е. 
сочетание оптимально работающих государственных, кооперативных и частных 
предприятий, наиболее эффективных каждый в своей сфере. Включая, конечно, и 
частнокапиталистические предприятия, ибо если такие предприятия работают лучше 
государственных, то, значит, они имеют неэксплуататорский характер и приносят 
гораздо больше пользы социалистическому строительству, т.е. приближению 
коммунизма. Огульные запреты на частнособственническую производственную 
деятельность следовало бы отменить. </p>
<p>3. Следует также, на мой взгляд, переосмыслить причины реальных деформаций 
социалистического строительства, выражающиеся в необоснованном зажиме 
представителей частного сектора, буржуазии, что наблюдалось в истории 
практически всех социалистических стран. Вопрос этот очень сложный и трудный, 
даже болезненный, потому что связан неизбежно с необходимой критикой как 
некоторых ошибочных положений в господствующей марксистской теории, так и 
взглядов членов правящей партии. Но конструктивные дискуссии ради выявления 
истины и исправления теории необходимы. На мой взгляд, эти деформации и ошибки 
связаны главным образом с преобладанием патриархально-коммунистических 
предрассудков, восточных, азиатских пережитков, превозносящих до культа роль 
государства и его руководителя. Этим же объясняются и многочисленные явления 
культа личности в соцстранах – Сталина, Мао Цзе-дуна, Ким-Ир Сена, Тито, Ракоши, 
Э.Ходжи и т.д. и т.п., а также причины замедленного развития некоторых 
соц.стран. В такой критике следует, на мой взгляд, разъяснить заблуждения 
некоторых людей, путающих идеалы свободного коммунистического общества и 
казарменный, уравнительный коммунизм.</p>
<p>4. Признание полезности и необходимости существования частного сектора и 
буржуазии для целей социалистического строительства, на мой взгляд, должно быть 
углублено до признания буржуазии его основным и творческим участником – не 
только в согласии с историческими фактами большинства соц.стран, начинавших 
револ. преобразования, когда большинство было крестьянами и иной мелкой 
буржуазией, но и по самим качествам буржуазии – ее активности, творчества, 
инициативности, трудолюбия, предприимчивости и технической революционности 
(отмеченной еще в "Манифесте КПГ" Маркса-Энгельса).</p>
<p>Правда, такое углубление может вступить в противоречие с марксистской 
традицией провозглашения основными строителями коммунизма – рабочих, что идет от 
старой логической схемы, по которой буржуазия очень скоро исчерпает свои 
творческие возможности, а преемником ее должен стать пролетариат. Но эта схема 
уже давно не корректировалась реальной историей и потому ее справедливость 
вполне можно отнести на отдаленное и неизвестное пока будущее, в котором 
самостоятельность и все трудовые качества частного собственника потеряют свою 
высокую эффективность, а буржуазия действительно изживет себя. Пока же этого 
нет, буржуазия должна морально и материально поощряться. Возражение, что, мол, 
буржуазные отношения противоположны и противостоят коммунизму, на мой взгляд, не 
выдерживают критики, и потому что социалистические отношения есть на деле 
выражения "буржуазного права", и потому что в своей среде буржуазия культивирует 
коммунистические отношения ничем не реже, чем другие слои населения (кстати, в 
трудах Маркса я неоднократно встречался с такими терминами, как 
"капиталистический коммунизм" и ему подобными).</p>
<p>Создание материальной базы коммунизма, способной обеспечить изобилие 
материальных и духовных богатств, как раз и требует буржуазных качеств свободы, 
равенства, трудолюбия, бережливости, аскетизма, активности. Рабочий же класс и 
служащая интеллигенция, на мой взгляд, могут только помогать предприимчивым 
людям в этом, ввиду своего пассивного и наемного, т.е. добровольно подчиненного 
характера.</p>
<p>Однако даже если не признавать ведущей роли буржуазии в строительстве 
коммунизма, то необходимо согласиться с положением сборника "Частный сектор…" о 
том, что, поскольку частный сектор при социализме оказывается нужным и 
эффективным, то он должен получать не только признание и государственную защиту, 
но и поддержку, обеспечение возможности нормальной и достойной жизни, а также 
волеизъявления в своих нормально функционирующих партиях.</p>
<p>Только отсутствие всех видов социальной и моральной дискриминации позволит 
этим людям в полной мере развернуть на благо коммунизма свои способности и 
возможности. В тех же странах, где таких партий нет, надо разрешить их создание 
– конечно, при всех гарантиях и контроле. И первым шагом к этому было бы 
разрешение к публичному обсуждению взглядов и убеждений буржуазных слоев 
населения. Это необходимое условие для пробуждения и мобилизации для коммунизма 
их трудовой и социальной активности, реорганизации экономики на оптимальных, 
рыночных началах. Без этого естественная активность этих людей будет 
деформирована запретами, извращена и направлена на потребительство и даже 
преступные действия. А что этот вид людей необходим, видно любому трезвому 
наблюдателю, когда он знакомится с ролью теневой экономики, черного рынка и т.д. 
и т.п. в нашей жизни. Но, я думаю, что в активности таких людей – не только 
нынешнее зло, но и будущая надежда, если их активность не запрещать, а 
направлять на благо общества. Думаю – в этом главная задача нашего времени. 
Потому и обращаюсь к Вам.</p>
<p>Сам я считаю свои убеждения буржуазно-коммунистическими и не только вполне 
законными, но и весьма полезными для страны и ее главных целей. Поэтому считаю 
неоправданным все практические ограничения возможностей их выражения – ярким 
примером чему, на мой взгляд, служит осуждение меня за составление и 
распространение сборников "В защиту экономических свобод" под псевдонимом 
К.Буржуадемов. Если даже в них были резкие и неверные утверждения, это не должно 
закрывать возможность для издания подобных сборников только за 
буржуазно-коммунистическую их направленность.</p>
<p>Я прошу Вас разобраться в этих вопросах и посредством реабилитации сборников 
"В защиту экономических свобод" сделать первые шаги к нормализации положения 
людей, имеющих буржуазные и иные убеждения и готовых к сотрудничеству на путях 
социалистического строительства коммунизма.</p>
<p>Жду Вашего решения и помощи</p>
<br/>

{% endblock content %}
