{% extends 'base.html' %}
{% block title %}О наших «пятницах»(в связи с{% endblock %}
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1>       
О наших «пятницах»(в связи с милицейскими облавами),       
1984-86</h1>
<h3>Прошение Прокурору Люблинского района г.Москвы</h3>
<p>В пятницу 16 ноября 1984 г. вечером, когда у меня дома собралось много 
гостей, чтобы за чашкой чая тихо-спокойно поговорить на философские и иные темы, 
к нам пришел неожиданно наш участковый Александр Дмитриевич Сидоров в 
сопровождении двух неизвестных и не представившихся мне лиц. Посмотрев мой 
паспорт, он стал требовать, чтобы ему дали возможность ознакомиться с 
документами моих гостей или записать их данные, ссылаясь на проверку паспортного 
режима и поиск преступников.</p>
<p>Меня это весьма изумило. Паспортный режим я никогда не нарушал (и Александр 
Дмитриевич это знает), проверка паспортного режима проживания моих гостей у меня 
на квартире абсурдна. Что же касается "поиска преступников", то вначале 
Александр Дмитриевич ссылался на кучу телеграмм (даже назвал какой-то мифический 
номер одной из них), потом – на случившуюся якобы в нашем подъезде неделю назад 
попытку неизвестных "раздеть девочку", а затем стал ссылаться на "заявления" 
соседей, наконец, просто на звонки соседей о том, что у нас часто бывают гости и 
это, мол, подозрительно.</p>
<p>Я весьма уважаю нашего участкового инспектора, но в данном случае 
надуманность и противоречивость его объяснений, вынужденность его действий во 
исполнение чьего-то задания были так очевидны (хотя он ссылался лишь на свою 
волю), что я вынужден был решительно воспрепятствовать его незаконным 
требованиям. При этом объяснил, что такая "перепись" может показаться 
оскорбительной (быть заподозренным в "раздевании"), неприятной (вдруг начнут 
вызывать и требовать объяснений… хоть это и бессмысленно), может напугать и 
безнадежно испортить настрой всего нашего вечера.</p>
<p>Тогда Александр Дмитриевич заявил, что вызовет машину с тем, чтобы отвезти 
всех моих гостей в отделение для опознания личности. В ответ я потребовал 
покинуть мою квартиру, ссылаясь на неприкосновенность жилища (ст.55 Конституции 
СССР). Александр Дмитриевич ответил, что не уйдет, раз пришел, а силой я не могу 
его вывести. Мало того, по его звонку действительно приехал милицейский фургон, 
и я не допускал в свою квартиру еще пятерых лиц, часть их (работники МУР) 
ворвались силой. В конце концов, под давлением превосходящих сил я был вынужден 
согласиться на перепись своих гостей в неизвестных мне целях.</p>
<p>В связи с произошедшим прошу объяснить мне:</p>
<p>1) Существует ли реально конституционная гарантия о неприкосновенности 
жилища, за исключением строго законных случаев (арест, обыск).</p>
<p>Имеют ли право работники милиции входить в частную квартиру без разрешения 
хозяина (не имеющего до сих пор нарушений) и приводить с собой неизвестных лиц в 
помощь, действовать силой? И если таких прав у работников милиции нет, то могу 
ли я быть в будущем обезопасен от подобных посягательств?</p>
<p>2) Мне известно, что согласно п.10 "Положения о милиции" СМ СССР, работники 
милиции имеют право требовать документы для опознания личности только при 
нарушении паспортного режима, правонарушений в общественных местах или если к 
человеку ведет явный след преступления, имеются конкретные улики… Имеют ли право 
работники милиции требовать ознакомления с гостями частного лица, ссылаясь на 
звонки его соседей или случившиеся когда-то правонарушения поблизости? Если нет, 
то могу ли я рассчитывать, что такое больше не повторится?</p>
<p>Прошу ответить мне в установленный законом срок, во избежание последующих 
жалоб. 17.11.1984г. </p>
<p></p>
<h3>Заявление Прокурору г. Москвы</h3>
<p>В связи с неоднократными (16.11.1984; 7.12.1984г…) посещения моей квартиры 
работниками милиции и МУРа с целью переписывания пришедших ко мне гостей, должен 
заявить следующее:</p>
<p>1. Считаю действия работников милиции в эти посещения и их цели вызывающе и 
заведомо незаконными.</p>
<p>Свою цель: получение списка моих гостей они покрывали надуманными и 
взаимопротиворечивыми предлогами: то проверкой паспортного режима (хотя для 
такой проверки необходимы, согласно Указу Президиума ВС СССР от 2 июля 1973г., 
достоверные данные о его нарушении – но никогда у нас таких нарушений не было, 
за оба посещения ничего не выявлено – тем не менее, зам.начальника 112 
отд.милиции заявляет, что такие "проверки паспортного режима" будут постоянно 
проводиться и впредь…)</p>
<p>- то поисками преступников, голословно и даже смешно объясненными (хотя тот 
же Указ дозволяет входить в жилье лишь при преследовании конкретных преступников 
или для пресечения конкретных преступлений…)</p>
<p>- то жалобами соседей (хотя "звонки и заявления" оказываются анонимными, 
очевидно, сфабрикованными, и опросами реальных соседей не подтверждаются, да и 
сводятся лишь – если верить словам зам.нач.112 отд.милиции – к "подозрительности 
сборищ" в моей квартире).</p>
<p>Лицемерие этих доводов очевидно и мне просто стыдно их выслушивать. 
Вламываются в квартиру без разрешения, самовольно расхаживают, грозят 
насильственным приводом в милицию, 15 сутками – и не только мне, но и 
гостям.</p>
<p>…И при этом полная уверенность в своей безнаказанности по принципу: "Закон – 
это то, что нам приказано…" Все это вызывает у присутствующих людей раздражение 
и недоброжелательность – и в отношении тех, "что приказал", подрывает авторитет 
власти и веру в законность. И об этом я глубоко сожалею.</p>
<p>Я сожалею, что против своего желания стал причиной лицемерия и недостойных 
поступков работников милиции, увеличил невольно степень непонимания между 
представителями власти и обычными гражданами… Но в чем же я виноват? – Неужели я 
не прав, когда пытаюсь подчиниться не любому, а лишь строго очерченному законом 
требованию? Неужели правильно подчиняться беззаконию?</p>
<p>После первого прихода милиции (16 ноября) я послал запрос прокурору 
Люблинского района г.Москвы с аналогичными вопросами, но ответа не получил. 
Думаю, что ответа по существу не получу, что станет очередным нарушением буквы 
закона. После второго прихода я посетил зам.начальника 112 отд.милиции, который 
также не смог привести мне ни одного законного обоснования подобных "рейдов", но 
не скрывал, что они будут продолжаться и впредь.</p>
<p>2. Как мне стало известно окольными путями, многих из переписанных таким 
способом вызывали потом для "профилактических" бесед работники КГБ, в ходе 
которых последние высказывали обо мне резко негативные и даже порочащие и 
заведомо неверные оценки (вроде как "враг" или "антисоветчик") и принуждали к 
обещаниям не посещать наш дом и даже раззнакомиться со мной. Эта тайная работа 
весьма тревожит – и не только потому, что позорит и угрожает мне самому, 
разрывает дружеские связи, что, конечно, очень важно для меня – но и с более 
общей точки зрения. Здесь я обращаюсь к Вам не только как к прокурору, но и как 
представителю советской власти и к члену партии, руководящей страной.</p>
<p>Мне казалось, что в 1980 г. я достиг, пусть относительного, но все же 
некоторого взаимопонимания с властями, благодаря чему и вернулся домой, к семье 
и нормальной жизни. Никто при этом не посягал официально на мои непривычные 
(кратко говоря – буржуазно-коммунистические) убеждения и веру, никто не 
собирался вторгаться в мою частную жизнь (ходить ли в походы, показывать 
диафильмы, отношения со знакомыми и т.д.), никто не отнимал у меня права 
беспокойства за положение страны, право обращаться к властям со своими 
предложениями, как и все прочие конституционные права. Прошло уже четыре года 
такого моего существования лояльного инакомыслящего, уважающего советские законы 
и традиции и, в свою очередь, терпимого властями, несмотря на "идейную 
отщепленность".</p>
<p>Понимаю, что нормальное существование в советском обществе инакомыслящих (еще 
хуже – человека буржуазных взглядов) неприятно особенно для тех, кто озабочен 
казарменной мечтой об установлении тотального единообразия убеждений. Но во все 
времена своего существования советская власть терпела инакомыслящих (как 
попутчиков) на условиях лояльности и добросовестной работы, даже при Сталине, а 
при Ленине и вовсе ставился вопрос о завоевании доверия буржуазных спецов и 
привлечении их к работе. Я думаю, что сам факт нормального существования в 
обществе независимо мыслящих и лояльно настроенных граждан – лучшее 
доказательство его здоровья и прочности. Убежден, что это не противоречит 
безопасности государства, а напротив, укрепляет ее, повышает ее авторитет и 
доверие граждан. Это не противоречит даже задаче укрепления официальной 
идеологии – ведь спокойные споры и дискуссии свободных людей – необходимое 
условие для этого, а также для устранения скепсиса, нигилизма, экстремистских 
настроений.</p>
<p>Теперь же оказывается, что взаимопонимания меня с властями не существует, 
меня притягивают к разряду "антисоветчиков"- врагов, т.е. к кандидатам на скорое 
уголовное наказание. Думаю, что моих знакомых в действительности невозможно 
убедить, что я антисоветчик и враг своей Родины, потому что это просто не так. А 
вот подорвать их уверенность в своем собственном свободном, безбоязненном 
существовании, своем достоинстве, справедливости и законности – можно. И этим 
подорвать главные, нравственные основы власти.</p>
<p>3. Не хочу запальчивости. Не понимаю, в чем причина изменения ко мне 
отношения, не понимаю причин такой обработки моих знакомых, но обязан учесть, 
что такое изменение – реально произошло и в чем-то (непонятно, в чем именно), 
возможно, виноват и я. Не желая входить в разрушительную конфронтацию, я обязан 
сделать вывод, что каких-то властных лиц не устраивает происходящее в моем доме 
частное общение в виде свободных споров и поисков взаимопонимания разных людей, 
разных вер и убеждений.</p>
<p>Теперь я обязан об этой догадке предупредить всех своих гостей, как бы 
напугать их приходом милиции и последующими неприятными беседами. Я не могу 
нарушить старинный обычай гостеприимства, но если мои гости не желают испытать 
на себе недовольство "профилактических органов", им лучше отнестись к моей 
квартире, как к зачумленной, и отказаться от посещения наших вечеров… Понятно, 
что если такая практика "рейдов" будет продолжаться и мой дом станет источником 
бед и неприятностей для людей, то довольно скоро я и моя семья окажемся без 
друзей, т.е. под прессом довольно сурового психологического наказания, 
вынесенного помимо законов и непонятно за что, без всяких объяснений.</p>
<p>Я бы хотел, чтоб мне объяснили прямо, чего от меня хотят, и если эти 
пожелания, действительно, идут от власти, а не от каких-то бюрократов или 
карьеристов, желающих просто выявить очередного "врага-антисоветчика", 
организовать выгодный процесс и т.д. (в это я верю мало), то понять и пойти им 
навстречу, сколько можно, не нарушая, конечно, своей совести и убеждений, норм 
человеческой жизни и поведения.</p>
<p>Давно известно, что я – полностью во власти властей. Меня нетрудно посадить в 
тюрьму, сослать, наказать, но я бы хотел понимать необходимость этого.</p>
<p>Прошу Вас ответить, к кому мне надо обратиться за пониманием этих 
вопросов.</p>
<p></p>
<h3>Беседа 15 января 1985 г. с работниками Московского УГБ</h3>
<p>Беседа проходила в приемной Моск.УГБ на ул.Дзержинского в середине дня 
(привезли прямо с работы, вызвав предварительно в отдел кадров).</p>
<p>Я не скрыл, что рад беседе, что давно хотел выяснить их мнение о судьбе 
В.Ф.Абрамкина и о причине проработке моих знакомых за посещение наших пятниц. О 
последнем, в основном, и шла речь. Мне был высказан ряд претензий и 
предупреждений. Основные из них:</p>
<p>1) Спустя три года условного наказания участились мои обращения к органам 
власти и печати, в которых встречаются злобные, клеветнические утверждения, что 
ставит их на грань нарушения ст.1901 УК РСФСР, а меня – на грань уголовного 
наказания за рецидив прошлого. Особенно осуждались письма по поводу судьбы 
Т.М.Великановой в ссылке и В.Ф.Абрамкина в заключении. Мне показали официальные 
справки из Шевченковского УВД о том, что Т.М.Великанова прекрасно устроена в 
Бейнеу, у нее отдельная квартира, работа по специальности 
математиком-программистом, здоровье хорошее, лечить зубы ездит в обл.центр. Что 
касается Абрамкина, то утверждалось, что он ничего не осознал, его 
примирительная нынешняя позиция – только внешняя, чтобы выйти, а на деле в 
лагере он, действительно, ведет ту же деятельность, что судьба Абрамкина в его 
собственных руках и он, конечно, выйдет на свободу, если за словами последуют 
реальные действия, что я сам могу ему помочь, советуя изменить свое поведение 
(поезжайте и убедите его на свидании – было сказано мне)… Поехать на свидание в 
Красноярск не могу, хотя бы потому, что не являюсь родственником, да и что я 
могу сказать Валерию, я ему уже писал, - да и при собственной внутренней 
убежденности, что ведет себя он примирительно, т.е. правильно с моей точки 
зрения, а вот ему продолжают не верить и, самое главное, надеются выдавить 
официальное раскаяние для печати и телевидения. Об этом предложении говорили 
Кате – жаль, что при своей беседе я об этом не вспомнил и потому не понял, каких 
реальных действий ждут от Валерия. Но я ни в коем случае не могу уговаривать 
Валерия на это. Они могут, если нужно, опубликовать только те примирительные 
слова, которые он говорил уже на суде и офиц.инстанции, поскольку в них выражена 
его правда, а не навязанная ему. Жаль, что не сказал я это, а лишь заключил всю 
беседу последней просьбой проявить справедливость и человечность к Валерию и 
дать ему возможность на деле, на свободе доказать, что он выполнит уже данные им 
обязательства.</p>
<p>Что касается меня, то подчеркивая, что, конечно, никто не посягает на свободу 
моих убеждений, на право обращения с критикой и предложениями к руководству, но 
допускать распространения клеветы, т.е. преступлений, правозащитные органы не 
могут. Ранее я уже осуждался за аналогичные преступления, а возвращение к ним 
будет иметь для меня самые суровые и неотвратимые последствия.</p>
<p>2) Мой дом стали посещать некоторые люди, враждебно настроенные к власти и 
ведущие антиобщественную деятельность, даже собирающиеся эмигрировать. Они 
получают возможность у нас разговаривать с разными людьми, выведывать у них 
секретную и иную информацию для передачи зарубеж, вести подрывную работу и даже 
распространять клеветнические утверждения. Создание таких условий недопустимо… 
Нет, никто Ваше общение не ограничивает, но не создавайте для таких явно 
враждебных людей условия обрабатывать советских людей.</p>
<p>Я не знаю, что делать с этой претензией, если я убежден, что все мои знакомые 
из числа названных пофамильно – хорошие люди и не могут вести преступной 
деятельности против советского государства.</p>
<p>3) Традиционные для моей семьи просмотры туристских диафильмов близкими 
друзьями имеют в последнее время тенденцию превратиться в семинары с дурной 
славой (известностью), где под видом лекций и обсуждений проводится идейная 
обработка людей. Допускаются идейно незрелые и вредные высказывания. Допускать 
подобную антиобщественную и идейно-вредную деятельность нельзя. Опять же, никто 
не запрещает мне ни встречи с близкими людьми, ни диафильмы, как и в тысячах 
советских семей, но нельзя этим пользоваться во вред нашему обществу… Я должен 
помнить, сколь многим обязан, когда меня не только освободили от наказания, но 
даже не лишили московской прописки, как полагается со всеми, осужденными по 
ст.1901, и т.д. Кроме того, я должен помнить и о том вреде, который я наношу 
несведущим людям, оказавшимся в моем доме в обстановке идейно невыдержанных 
обсуждений. От неожиданности они сами могут допускать ошибки, непринципиальное 
поведение, а потом будут вынуждены нести партийную или иную ответственность по 
месту работы… Подчеркивалось заодно, что милиция имеет право проверять 
паспортный режим у меня дома и переписывать гостей.</p>
<p>Зачитывались выдержки из некоторых заявлений людей, с которыми они проводили 
профилактические беседы после переписи милицией. Все эти выдержки негативно 
оценивали обсуждение диафильмов и сообщение В.Розина. Говорилось, что такие 
опросы могут проводиться еще. Не совсем прямо, но явно ждали от меня решения 
"прекратить семинары". Даже предлагали рассказывать всем: "не могу; меня в ГБ 
трясут…" или предлагали самим придти на "семинар" или прислать 
"специалиста"…</p>
<p>Все эти предложения я отклонил: я не представляю своей духовной жизни без 
диафильмов, я не считаю сотрудников КГБ страшными людьми и не могу так 
представлять их, но не могу и делать из своей квартиры филиал КГБ для бесед с 
моими знакомыми… Но, с другой стороны, объяснял, что никаких "идейных 
проработок" не веду, в жизни не убедил никого и не ставлю это своей целью, 
впечатление о наших "пятницах", как и семинарах, у них ошибочно, но подумаю, как 
сделать, чтобы такого впечатления не создавалось.</p>
<p>И вообще обещал учесть сделанные мне предупреждения и сделать из них 
соответствующие выводы. Завтра я думаю отправить Московскому УГБ письмо 
следующего содержания: </p>
<h3>Заявление (вариант)</h3>
<p>15.1.85г. два Ваших сотрудника провели со мной беседу и сделали серьезные 
предупреждения о тяжелых последствиях некоторых моих действий.</p>
<p>Вполне понимая озабоченность и, видимо, добрые намерения моих собеседников, я 
не мог согласиться со многими негативными их оценками моих писем и форм общения 
с людьми, с такими определениями, как "клевета", антиобщественная деятельность", 
"вред", "преступление" и т.д.</p>
<p>Но я не могу и не отнестись с крайней серьезностью к сказанному официальными 
лицами. Это мне диктует жизненный опыт. Главная моя трудность заключается в том, 
что имея сугубо непартийные, буржуазно-коммунистические взгляды, я имею 
одновременно семью и активный характер, мне жизненно необходимо общение с 
людьми. Мне необходимо как общение с людьми иных взглядов, так и обращение с 
предложениями в органы власти. Но это-то и может быть расценено, как 
распространение преступных взглядов, клеветнических убеждений (хотя такого быть 
не может), что по традиции осуждается, как антиобщественная и даже "преступная 
деятельность".</p>
<p>Обдумав мне высказанное в беседе 15.1.85г., я пришел к выводу, что мне нужно 
сделать следующий шаг по добровольному ограничению своих прав. В 1980 г. мне 
пришлось согласиться с тем, что против собственного убеждения на неограниченную 
свободу идей и информации я должен сам ограничить свое личное право и отказаться 
от каких-либо публикаций на Западе, т.е. от бесконтрольного распространения моих 
мыслей в Самиздате. Сегодня, видимо, мне добровольно следует ограничить свои 
права в следующем:</p>
<p>а) воздерживаться от частых обращений к руководству, органам властей с 
претензиями и предложениями, а в случае все же настоятельно необходимого такого 
обращения, я должен следить за его выдержанностью и достоверностью, не допуская 
моментов, которые могут быть истолкованы по статье 1901 УК. </p>
<p>б) Видимо, на будущее я должен отказаться от своего права на устройство дома 
частных, идеологически неконтролируемых сверху семинаров. Хотя сам я к этому 
никогда не стремился и не считаю, что наши домашние вечера были "семинарами", но 
тенденция к превращению в такие идеологические семинары на будущее должна быть 
исключена. Лично для меня.</p>
<p>в) Видимо, мне следует самому добровольно ограничить свое право на общение с 
любым количеством людей, ограничивать круг своих знакомых, предупреждая их, что 
знакомство со мной, как с человеком неофициальных воззрений, может нанести им 
вред.</p>
<p>И все же я надеюсь, что мои друзья, с которыми я не могу расстаться, за 
знакомство со мной не будут наказываться или, по крайней мере, будут называться 
не больше меня – хотя бы из чувства справедливости… </p>
<p></p>
<p><em>В начале января 1985г. пришел <strong>ответ </strong>на заявление 
районному прокурору о незаконных действиях работников милиции и МУРа 
16.11.84г.</em></p>
<p>№1233 от 26.12.84. Гр-ну Сокирко В.В….</p>
<p>Прокуратурой района рассмотрено Ваше заявление.</p>
<p>Установлено, что ст.участковый инспектор 112 отделения милиции Сидоров А.Д. 
совместно с общественностью посетил Вашу квартиру с целью проверки паспортного 
режима, что он правомочен был делать согласно Инструкции по работе участкового 
инспектора милиции (от 10 ноября 1983 года).</p>
<p>Нарушений законности со стороны Сидорова А.Д не выявлено.</p>
<p>Зам.прокурора Люблинского р-на г.Москвы советник юстиции Ю.И.Сидоров</p>
<p><em>Почему я не отправил письмо в Моск.УГБ после беседы 15.1.85.</em></p>
<p><em>По настоятельному совету друзей, интуиции которых я доверяю (в понимании 
моей ситуации и воли "органов"), я решил временно не посылать письма с 
объяснением принимаемых самоограничений своих прав по следующим 
соображениям:</em></p>
<p><em>1) Я согласился, что брать на себя официальные обязательства и нежелаемые 
самоограничения без прямых требований, а лишь под косвенным указанием о 
возможных последствиях – выглядит малодостойно и, возможно, ненужно. 
Непродуманные формулировки могут быть неверно и расширительно истолкованы и, 
вообще, ненужными. Что же касается способа "осведомления органов", то они не 
скрывают наблюдения и сами позаботятся о своей осведомленности. Но это 
соображение не главное и как бы не мое…</em></p>
<p><em>2) Мне говорили – не надо "их" раздражать очередным "письмом 
инакомыслящего". Действительно, мои собеседники в КГБ ревностно уклонялись от 
прямых требований ко мне и отклоняли всякое мое предложение о самоограничениях. 
Видимо, они не желали фиксировать открытое давление. Я должен был уйти в 
растерянности и уже сам принять "нужное решение" и практически его выполнять. 
Мое же письмо с объявлением самоограничений прав зафиксировал бы результат 
косвенного давления (даже несмотря на декларируемую мною добровольность)… 
Конечно, моих собеседников и их начальство такое письмо сильно может обозлить, 
как неприятие диктуемой линии поведения.</em></p>
<p><em>Значит, в дополнение к уже выраженным в "варианте письма" 
самоограничениям, я, по мнению знающих людей, должен взять еще одно и, может, 
самое сильное: не фиксировать этих самоограничений у "органов". Чтобы у них 
остались "чистые руки", а мое "уползание в раковину" стало исключительно 
внутренним, самопроизвольным моим решением. И чтобы об этом никто, по 
возможности, не знал.</em></p>
<p><em>Мне даже трудно выразить, насколько это "пожелание" противно моим 
привычкам и стремлению к ясности и определенности в отношениях. Однако, учитывая 
свое положение и положение своих друзей, я решил пойти временно и на это. 
Надеясь, конечно, что и мои "собеседники в КГБ" проявят достаточно 
осведомленности и понимания. Но если визиты милиции будут продолжаться, и мои 
знакомые будут подвергаться проработкам, то придется признать, что данные мне 
советы неверны, что в КГБ о моих самообязательствах не знают и потому надо 
срочно слать заготовленное письмо. 23.1.1985г.</em></p>
<p></p>
<h3>Председателю КГБ СССР В.М.Чебрикову</h3>
<p>Уважаемый Виктор Михайлович!</p>
<p>Обращаюсь к Вам не с жалобой, а с недоумением.</p>
<p>17 февраля 1986г. в Московском УКГБ со мной провели очередную 
предупредительную беседу и в "доверительной форме настоятельно советовали" 
изменить многолетний образ жизни: прекратить принимать дома гостей без разбора, 
показывать любые свои путевые диафильмы, даже 20-летней давности, вести 
безбоязненные и откровенные разговоры.</p>
<p>Честно выполнять такие советы невозможно, если оставаться самим собой, запрет 
на выражение своих взглядов не предъявляется даже к заключенным и ссыльным. В 
качестве компромисса мне предложили в своих личных разговорах одергивать 
собеседников, если они допускают "идейно невыдержанные" высказывания (как 
провокационные), приносить свои диафильмы в КГБ на просмотр, выбирать для 
изучения только "патриотические и идейно выраженные" темы. В противном случае 
мне грозят обыски, изъятие всех путевых записей, слайдов, архивов и уголовное 
преследование по ст.1901 УК РСФСР. </p>
<p>Выполнение предъявленных мне рекомендаций помимо их практической 
неосуществимости означило бы согласие на отказ от прав нормального советского 
гражданина, согласие на "статус вечно подследственного". Все содержание этой 
беседы, на мой взгляд, находилось в разительном противоречии с тем, чем живет 
сегодня страна. </p>
<p>2 октября 1985 г. я прочел в "Правде" слова М.С.Горбачева, сказанные 
французским телезрителям: "Конечно, у нас есть люди, которые в силу той или иной 
логики оказались не в ладах с советской властью, с социализмом, исповедуют 
другую идеологию. Проблемы тут возникают в тех случаях, когда та или иная 
личность вступает в противоречие с законом". Тогда я подумал: это сказано и про 
меня. Конечно, я никогда не был противником советской власти и социализма, 
никогда не отказывался от идеалов коммунизма. Но и не стеснялся в критике даже 
высшего звена власти и доктрин, социальной и экономической реальности нашего 
общества и в течение всей жизни вырабатывал собственное понимание идеалов 
коммунизма. Всю жизнь был открытым инакомыслящим, полагая, что именно этим могу 
принести главную пользу своей стране, народу и самой власти (ведь нужен даже 
отрицательный опыт). Осмысление книг и жизненных впечатлений в письмах, 
дневниках и диафильмах стало неотъемлемой формой моей жизни, способом решения 
главной жизненной задачи. Все эти годы я был уверен, что как бы ни был 
неприемлем тем или иным должностным лицам, в своих мыслях и частной жизни я 
свободен. Если не нарушать законы, уважать законные интересы властей и традиции, 
то инакомыслящий может спокойно жить в стране - "без проблем", говоря словами 
М.С.Горбачева.</p>
<p>Беседа 17.02. в Московском УКГБ эту возможность моей спокойной жизни 
перечеркивает. С 1980 года начиная, Ваши сотрудники неоднократно говорили мне о 
доверии к моей лояльности и невраждебности, что они понимают мою нацеленность на 
добро. Но вместе с тем, ссылаясь на свои задачи воспитания, они постоянно 
требовали от меня фактического самоограничения в выражении своих убеждений, в 
реализации своих прав. По мягкости характера, а еще больше из-за своего 
стремления быть лояльным, я постоянно шел навстречу их интересам, беря на себя 
обязательства и стараясь их выполнять. Но сейчас "просят" опуститься "еще на 
один виток", рекомендуют заняться дачей, иначе…</p>
<p>И вот я загнан в угол, дальше в уступках мне двигаться некуда, и остается 
только ждать "последствий". А как проходят изъятия и арест, наступает крах 
нормальной жизни – я представляю… Сами эти вызовы, неприкрытое и тягостное 
наблюдение нашей семейной жизни, собирание доносов и "отрицательных" заявлений, 
ожидание самого худшего – изъятия трудов целой жизни (не только моей, а всей 
семьи) и лишения свободы – делают жизнь мою и моего окружения ненормальной, 
неустойчивой, наполненной страхом, рождает у меня желание отказаться от всех 
принятых обязательств. Ведь согласия с работниками КГБ о своей жизни достичь я 
все равно не могу: добровольного отказа от западной помощи и защиты им мало, 
вынужденного отказа от свободы печати - Самиздата – мало, отказа от права 
устраивать у себя дома беседы (семинары людей) – и этого мало… Теперь нужно 
перестать говорить и писать о том, что думаешь. Согласиться на это можно лишь в 
малодушной попытке обмануть, но я уже немолод, чтобы играть в такие игры. В 
ожидании обещанной катастрофы я прошу Вашего вмешательства: пусть со мной 
обращаются в соответствии с вышеприведенными словами М.С.Горбачева. пусть 
открыто объяснят мне мое положение: то ли я гражданин со всеми конституционными 
правами и обязанностями – и тогда надо снять с меня наблюдение и перестать 
воспитывать через вызовы-давление, то ли я – преступник, но тогда пусть открыто 
скажут, что лояльное высказывание убеждений инакомыслящим есть не только 
"проблема", но и преступление. Пусть перестанут требовать невозможное и толкать 
меня на отказ от ранее принятых обязательств. Я не хочу ни того, ни другого.</p>
<p>В Вашем лице прошу защиты закона. 19.02.1986 г.</p>
<p></p>
<h3>Беседа в Московском УКГБ 19 марта 1986г.</h3>
<p>По телефонному приглашению я пришел в Приемную Моск.управления. Разговаривали 
Юрий Тимофеевич и Николай Петрович, проводившие аналогичную беседу год назад. 
Беседа шла около часа (с 16 ч. до 17-ти). Тема – ответ на мое обращение к 
В.М.Чебрикову 19.02.1986г. - "В.М. поручил дать ответ и разобраться с Вами".</p>
<p>Главная формула ответа: Вы гражданин со всеми конституционными правами и 
обязанностями. Однако пока будут продолжаться неправильные действия и поступать 
сигналы от граждан, органы имеют право соответствующим образом на них 
реагировать – то ли профилактической беседой, то ли возбуждением уголовного 
дела, если в том будет необходимость.</p>
<p>В качестве примера мне было показано "объяснение" некоего В…, работника 
подмосковного совхоза о беседе со мной. Такая беседа, действительно, "имела 
место" месяц назад по просьбе одного молодого человека (Вани), очень редко у нас 
бывавшего – он настойчиво просил тогда приехать к нему домой и встретиться с его 
товарищем по работе, чтоб поговорить о жалобах на местное начальство. Мне самому 
эта встреча была очень не по нутру, но и причин для отказа не было, когда тебя 
очень просят помочь советом "борцу за правду". "Борец" оказался с виду весьма 
плутоватым гражданином, все рассказывал о совхозной "мафии", о ее безобразиях и 
своих разоблачениях всяких "ужасов" – и вместе с тем об ужасах "психушек" и 
"тюрем", всяческих телефонных подслушиваниях и прочей лабуде. Действительно, я 
сочувственно реагировал на рассказ, советуя быть сдержанным в жалобах, опираться 
только на твердые факты, искать союзников, например, в санинспекции и т.д. 
Соглашался, что возможны и иные встречи, можно приехать и ко мне домой… А в 
результате мне пришлось читать "Объяснение" этого борца, что его затянули на 
встречу с неким Виктором Владимировичем, связанным с Сахаровым и заграницей, 
сидевшим за "Поиски", выспрашивали о материальных условиях жизни работников 
с.х-ва и затягивали на какие-то лекции по пятницам… Что тут скажешь?</p>
<p>А собеседники мне выговаривали: «Мы предупреждали Вас, чтобы Вы были 
осторожны, а теперь как нам реагировать на этот документ? Не думаете же Вы, что 
он подстроен?... А Вы ведь обещали нам, что незнакомых людей к себе приглашать 
не будете…"</p>
<p>В целом ответом я удовлетворен. Я – гражданин со всеми правами и в частную 
мою жизнь никто вмешиваться, мол, не собирается – если я буду соблюдать все 
взятые ранее обязательства и не буду выходить за пределы личных друзей… Но что 
делать мне с подобными доносами?</p>
<p>Как бы то ни было, но отказаться от диафильмов, пока они еще интересны хотя 
бы немногим из наших друзей и нам самим, я не могу, отказаться от общения и 
мышления с друзьями – тоже. И впредь насчет этого я буду спокоен. А 
осмотрительность в высказываниях и поведении – пусть растет, старому человеку – 
она в пользу.</p>
<p>На прощание заинтересовались моими шабашными работами. С одной стороны – ведь 
они незаконны и "мы с ними боремся", а с другой стороны – как хорошо работать на 
чистом воздухе и мне откровенно завидовали. В заключение, внешне дружелюбный 
разговор, но с какими-то двойственными оценками – мол, думайте, Виктор 
Владимирович. </p>
<br/>

{% endblock content %}
