{% extends 'base.html' %}
<title>Заголовок</title>
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1> Письмо М.Я.Гефтеру (о необходимых изменениях в УК 
РСФСР),       
25.3.86г.</h1>
<p>Дорогой М.Я.! У меня отрицательное отношение к ст.190-1 и 70 УК РСФСР, хотя я 
понимаю, что подобные статьи УК у нас в стране пока необходимы. Но в нынешнем 
виде они нестрого сформулированы, их невозможно применять однозначно, поэтому 
достаточно частая практика их применения, на мой взгляд, как правило, 
произвольна и беззаконна.</p>
<p>Статья 50 Конституции СССР (1977) предоставляет гражданам СССР политические 
свободы слова, печати, собраний и т.д. – но не как абсолютные, а только - "в 
соответствии с интересами трудящихся и в целях укрепления социалистического 
строя". Понятно, что такое ограничение должно быть тщательно расшифровано в 
законодательстве, чтобы и граждане могли понимать, в каких именно пределах они 
могут пользоваться свободами не выходя за пределы "интересов трудящихся и целей 
укрепления соц.строя", и чтобы суды могли судить конкретных лиц за нарушение 
конституц. ограничений политических свобод.</p>
<p>Но можно ст.50 Конституции трактовать и так: гарантируется полная 
(абсолютная) свобода слова, печати и т.п. – поскольку она отвечает интересам 
трудящихся и целям укрепления соц.строя. Правда, она тут же несколько 
ограничивается другими статьями Конституции, например, запретом пропаганды войны 
или возбуждения вражды и ненависти в связи с религиозными верованиями. 
Возможность такого двойственного толкования важнейшей ст. Конституции – на мой 
взгляд, существенный ее недостаток.</p>
<p>Как же претворяется эта статья в уголовном законодательстве?</p>
<p>Насколько мне известно, свободу слова и печати существенно ограничивают три 
статьи УК РСФСР, наказывающие:</p>
<p>ст.130 – за клевету на частное лицо до года, а за клевету в печатном виде – 
до 3 лет лишения свободы (и даже до 5-ти в случае серьезных обвинений);</p>
<p>ст.190-1 – за распространение заведомо ложных измышлений, порочащих 
сов.госуд.и общ.строй – лишением свободы до 3 лет;</p>
<p>ст.70 – за антисоветскую агитацию и пропаганду – лишением свободы до 7 лет со 
ссылкой до 5 лет.</p>
<p>Повторное наказание по этим статьям ведет к еще более увеличенным срокам за 
рецидив. Значит, с точки зрения уголовного законодательства в перечисленных 
преступлениях и содержатся конституц.ограничения.</p>
<p>Попробую разобрать эти статьи подробнее.</p>
<p>Ст.130 гласит: "Клевета, т.е. распространение заведомо ложных, позорящих 
другое лицо измышлений,- наказывается…"</p>
<p>Здесь важно строгое определение понятия "клевета". Комментарий (1971г.) к 
этой статье гласит: "Для состава преступлений необходимо, чтобы налицо были 
следующие обстоятельства: а) распространение виновным сведений о другом лице; б) 
заведомо для виновного ложный характер распространяемых сведений ("измышлений"); 
в) позорящий другое лицо характер распространяемых измышлений".</p>
<p>Далее: "3. Распространение правильных, хотя и позорящих сведений… не 
составляет преступления. Сов.уголовное законодательство не знает такого 
преступления, как диффамация, т.е. распространение о другом лице позорящих его, 
но истинных сведений.</p>
<p>4. Являются ли распространяемые сведения позорящим другое лицо, решает суд, 
исходя из норм коммун.нравственности.</p>
<p>5. Клевета – преступление умышленное. Виновный сознает ложность 
распространяемых сведений им и их позорящий для потерпевшего характер и либо 
желает оклеветать потерпевшего, либо сознательно допускает, что в результате его 
действия потерпевший будет оклеветан. Если лицо добросовестно заблуждалось в 
ложном характере распространяемым им сведений, то уголовная ответственность за 
клевету исключается… </p>
<p>6. Особо тяжкой формой клеветы признается клевета, соединенная с обвинением в 
совершении госуд. или иного тяжкого преступления…"</p>
<p>Сейчас стали известны в печати случаи, когда людей несправедливо осуждали 
именно по ст.130. Тех, кто критиковал руководителей и, особенно, разоблачал их 
должностные преступления, привлекали к уголовной ответственности именно за 
клевету и как особо тяжкую форму клеветы, соединенную с обвинением в совершении 
преступления (лишение свободы до 5 лет)… Так, "ЛГ" несколько раз возвращалась к 
судьбе преподавателя Дильмуратова, осужденного за клевету в годы рашидовского 
руководства Узбекистаном и отбывшего большую часть срока, а ныне, наконец, 
восстановленного и на работе, и в партии, и даже в степени кандидата наук, 
поскольку, как оказалось, он не только не клеветал (т.е. знал заведомо о 
ложности своих разоблачений, а был совершенно прав). Значит, суд над ним в обеих 
инстанциях и контролирующие органы ошиблись или, скорее, и не занимались 
доказательствами ложности и заведомости лжи его утверждений, а убедились лишь в 
их позорящем видных руководителей характере.</p>
<p>Сколько таких неправильных решений было, неизвестно, но что их было немало и 
что они составляли очень важную угрозу для всех, кто желал бы выступить с 
критикой руководителей, косвенным образом свидетельствует тот факт, что Указом 
Президиума ВС СССР от 30.10.1985г. была принята дополнительная ст.1391 
"Преследование граждан за критику" (лишение свободы до 2 лет). В связи с этим 
"ЛГ" 1.1.1986г. писала, что эта новая статья есть долгожданная статья, 
юридическая гарантия ст.49 Конституции, которая запрещает преследование за 
критику. Тем самым, было косвенно признано, что до сих пор, фактически и 
юридически, ст.49 Конституции бездействовала, и что ст.130 УК служила зачастую 
средством судебной расправы с критикующими людьми.</p>
<p>Но вместе с тем, весьма сомнительно, чтобы новая статья 139-1, наказывающая 
должностных лиц за преследование критики, как то могла повлиять на практику 
применения ст.130, исключить судебные ошибки, поскольку сами процедуры 
установления ложности и заведомости лжи в ходе следствия и суда – отсутствуют… 
Впрочем, это очень тяжелый вопрос и, думаю, именно потому в некоторых странах 
закон преследует не за клевету, а просто за диффамацию (позорящие утверждения), 
поскольку установить заведомо ложный их характер практически невозможно. В 
английском старом законодательстве даже существовала норма: чем истиннее 
позорящие власть утверждения – тем больше опасность для строя и тем, след., 
сильнее наказание… Конечно, эта логичная норма была невозможна в новое время и 
была отменена…</p>
<p>На тезисе о практической невозможности установления в судебном порядке 
клеветы без нарушения прав граждан на свободу слова строят свои аргументы 
сторонники абсолютной свободы слова (без ограничений)… Я лично с этой точки 
зрения не согласен и думаю, что возможно выработать процедуры для выяснения в 
следствии и на суде заведомо ложных измышлений…</p>
<p>Ст.190-1 "Распространение заведомо ложных измышлений, порочащих сов.госуд.и 
общ.строй (3 года) почти аналогична ст.130, но защищает не опозоренное лицо, а 
строй ("клевета на строй").</p>
<p>Комментарий к этой статье также указывает, что для обвинения необходимо 
установление заведомой ложности порочащих строй утверждений:</p>
<p>- "Распространение измышлений, ложность которых неизвестна распространяющему 
ее лицу, а равно высказывания ошибочных оценок, суждений или предположений, не 
образует преступления, предусмотренного ст.190-1…"</p>
<p>- "Изготовление или распространение произведений, хотя и выражающих 
отрицательное отношение изготовившего их лица к советской действительности, но 
не содержит заведомо ложных измышлений упомянутого характера, не влечет 
ответственности по ст.190-1.</p>
<p>Виновный должен обязательно сознавать, что распространяет ложные и порочащие 
измышления и произведения…"</p>
<p>Однако, как мой личный опыт, так и то, что я слышал от знакомых и читал в 
свидетельствах, показывает, что на следствии и в судах никогда не доказывается 
ни ложность, ни тем более – заведомость лжи инкриминируемых обвиняемому 
утверждений или произведений. Устанавливается только факт распространения (да и 
то упрощенно) и иногда в общем виде – негативное отношение к госуд.строю (чаще к 
отдельным проявлениям сов. действительности). Заведомо ложный же их характер 
доказательствами не устанавливается ни в обвинительном заключении, ни в 
заседании, ни в судебном приговоре. Только фраза: "суд рассмотрел предъявленные 
следствием произведения и убедился в их заведомо ложном характере" – и все.</p>
<p>Естественно, что под такую формулу можно подвести что угодно, любые 
критические замечания и даже не в адрес строя. Тем более что специального закона 
против зажимщиков критики строя просто нет.</p>
<p>По мне лучше иметь закон просто за чрезмерную, неуместную критику строя в 
определенных, строго определенных рамках, чем внешне либеральный закон, который 
на деле может применяться исключительно произвольно…</p>
<p>Ст.70 "Агитация или пропаганда, проводимая в целях подрыва или ослабления 
Сов.власти, либо совершения отдельных особо опасных гос.преступлений, 
распространение в тех же целях клеветнических измышлений, порочащих сов.гос. и 
общ. строй… (7+5)</p>
<p>Эта самая тяжелая в этом ряду статья, прямая наследница знаменитой сталинской 
57-й. Ее содержание часто приравнивают к ст.190-1, к которой прибавлено только 
наличие у виновного цели на подрыв или ослабление Советской власти (Комментарий 
к ст.190-1). Установить "цель подрыва" – совсем трудно. Помочь может только 
признание самого подсудимого, но, как известно, показания подсудимого на себя 
являются весьма ненадежными доказательствами… На деле ст. 70 может трактоваться 
и без всякого отношения к клевете. Ведь первая и самая основная ее часть говорит 
"об агитации или пропаганде, проводимой в целях подрыва или ослабления 
Сов.власти или совершения особо опасных госуд.преступлений…"</p>
<p>Комментарий к этой статье гласит:</p>
<p>"3. Агитация или пропаганда, проводимая в целях подрыва или ослабления 
Сов.власти – это распространение среди более или менее значительного круга лиц 
взглядов или идей, выражающих ненависть к сов. общ. или гос. строю, стремление 
свергнуть Сов. власть, отказаться от завоеваний социал.революции в пользу 
реставрации капитализма и тому подобные деяния, совершаемые в угоду 
антисоциалист.силам…</p>
<p>…Виновный, совершая преступление, сознает, что с указанной целью 
распространяет антисоветские идеи и взгляды, либо клеветнические, порочащие… 
строй измышления… и желает при этом подрыва или ослабления Сов.власти либо 
совершения отдельных особо опасных госуд.преступлений".</p>
<p>Т.о. по ст.70 суд может и не рассматривать вопрос о заведомой ложности или 
даже вообще о ложности распространяемых утверждений. Они могут быть даже 
истинными. Тут важно обнаружить наличие умысла на свержение и подрыв власти. Но, 
как мне известно, суды и этого строго законным путем не доказывали. Единственная 
здесь поддержка для обвинит.приговора – только признания и показания на самого 
себя обвиняемого.</p>
<p>Ст.70 запрещает уже не искажение истины под видом информации, а и просто 
слова идейных противников или критиков в целях подрыва строя.</p>
<p>А как разделить стремление к изменению строя (след., и критику существующего 
строя) и стремление к его подрыву? Внешне соответствующая ст.50 Конституции, 
ст.70 на деле антиконституционна и является сильнейшей преградой для 
осуществления людьми своих естественных прав.</p>
<p>Вот пока и все, что я хотел сказать Вам.</p>
<p>P.S. Но отсутствие спец. ст. в УК (подобной ст.139-1 ), преследующей 
неконституционное преследование властями своих критиков, распространение 
неразрешенных идей религиозных верований, или лояльную критику строя (без умысла 
к подрыву и насильственному свержению его), отсутствие разработанной технологии 
доказательства умысла на насильственный подрыв и свержение законной власти – все 
это фактически превращает ст.190-1 и 70 в сильнейшие запреты к осуществлению 
гражданами своих политических прав, делает их свободную гражданскую жизнь – 
угрожаемой и практически неосуществимой, толкает их на путь обращения к 
"международной защите", эмиграции или подполью, а еще чаще – к общественному 
равнодушию, гражданской смерти (аналогично тому, как раньше угроза применения 
ст.130 толкала людей к анонимкам или, еще хуже – к пассивности).</p>
<p>Необходимо совершенствование законодательства. Без этого устойчивой и 
правильное возрождение гражданской жизни и активности людей 
невозможно.</p>
<br/>

{% endblock content %}
