{% extends 'base.html' %}
{% block title %}Заголовок{% endblock %}
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1>       
        
       
   О проблемах возвращения на 
родину крымских       
        
       
татар</h1>
<h3>Председателю комиссии по правам крымских татар,</h3>
<h3>Председателю Президиума Верховного Совета СССР А.А.Громыко</h3>
<p>Приветствуя решение ЦК КПСС и Советского правительства о создании под Вашим 
председательством комиссии по проблеме крымско-татарского народа, мы надеемся, 
что последнее из крупных сталинских преступлений против целого народа будет, 
наконец-то, полностью отменено и публично осуждено. Наконец-то оно перестанет 
позорить нашу страну, всех нас. Мы рады, что руководство страны по-новому, в 
духе перестройки, гласности и демократии – отнеслось к просьбам людей о 
восстановлении всех национальных прав крымских татар и публично объявило об 
этом.</p>
<p>Вместе с тем, не могла не встревожить и даже возмутить очевидная 
необъективность и предвзятость по отношению к крымским татарам, выраженные в 
самом первом сообщении ТАСС по этому поводу (24 июля 1987г.). Длинно и подробно 
рассказывается о враждебных действиях и преступлениях в годы войны охранных 
батальонов из крымских татар, сколоченных немецкими оккупантами, но лишь 
скороговоркой упоминается о том, что в Советской армии воевали тысячи крымских 
татар и многие были награждены. Чтобы быть объективными, надо было бы помянуть, 
что если в немецких пособниках числилось лишь 3 тысячи человек (следуя сообщению 
ТАСС), то в Красной Армии против немцев воевало не менее, чем в десять раз 
большее число крымских татар (принимая во внимание численность части 
крымско-татарского народа, подлежащей мобилизации). Соответственно, и об их 
подвигах и заслугах перед Советским Союзом надо рассказывать в 10 раз больше. В 
том числе и перед крымскими партизанами, в числе которых также были крымские 
татары.</p>
<p>Если поднимать вновь вопрос о преступлениях немецких пособников в Крыму, то 
почему не вспомнить, сколько тысяч таких пособников было среди русских, 
украинцев, белорусов – но ведь никому не пришло в голову выселять за это в Азию 
– русских, белорусов, украинцев – поголовно? Почему? Если уж говорить об участии 
татар в угоне советских людей в Германию (вина за это лежит целиком на 
оккупантах), то надо в полной мере вспомнить нашу собственную и гораздо большую 
вину – угон, преступное выселение невинных татарских женщин, стариков и детей 
(ведь немецкие пособники, наверняка, ушли с немцами не ожидая суда) – когда от 
ужасной дороги и суровых условий спецпоселений погибло почти половина 
выселенных. Кто ответит за эти десятки тысяч невинных людей?</p>
<p>Нам кажется, что страшное решение ГКО от 11 мая 1944 г. невозможно оправдать 
никакими ссылками на "условия войны" и "настроения того времени". Оно должно 
быть осуждено, как проявление геноцида и военное преступление. А главное – 
должно быть полностью аннулировано восстановлением всех несправедливо утраченных 
национальных прав крымско-татарского народа (естественно, с учетом произошедших 
за 40 лет высылки демографических изменений), включая право на воссоздание своей 
государственной автономии.</p>
<p>Противники крымско-татарского народа часто ссылаются на возросшее население 
Крыма, что якобы не дает возможности возвращения в Крым высланных татар. 
Сообщение ТАСС намекает на это же. Однако простая статистика говорит об ином. 
Сегодня плотность населения Крыма – 84 чел./кв км. Если татары вернутся, то она 
не поднимется, наверное, выше 100 чел./кв км, что гораздо меньше плотности 
населения, например, в Донецкой области на Украине (200 чел./кв км), в 
Ферганской области (262 чел./кв км). А в таком благоустроенном государстве, как 
Голландия – 340 чел./кв км. Тем более что, по нашим собственным наблюдениям, 
бывшие татарские горные селения и сейчас – полупустые.</p>
<p>Что касается опасений ныне проживающих в Крыму украинских переселенцев, то 
при правильной среди них объяснительной работе, обнародовании полной правды о 
бедах крымских татар и осознании нами собственной вины, уверен, что конкретные 
вопросы национальных взаимоотношений вполне могут быть разрешены и 
отрегулированы.</p>
<p>Мы предлагаем:</p>
<p>1. Открыть широкую возможность публикаций для крымских татар и разоблачений 
всех накопившихся предрассудков и предубеждений. Несомненно, это укрепит дружбу 
народов СССР.</p>
<p>2. Восстановить крымско-татарскую автономию в виде 6-ти татарских районов 
горного Крыма (существовавших до 1944г.) со своими школами и учреждениями – в 
составе Крымской автономной советской социалистической республики в духе 
ленинской национальной политики.</p>
<p>3. Отменить волюнтаристское решение Хрущева о переводе русскоязычного по 
преимуществу Крыма из РСФСР в УССР, что, видимо, и стало причиной застоя в 
разрешении крымско-татарской проблемы, а также определенного ущемления русского 
большинства. Крыму следует входить в РСФСР.</p>
<p>4. Вся правда о сталинских преследованиях народов – и не только крымских 
татар, а всех потерпевших народов, должны быть всенародно осуждены с гарантиями 
неповторения. (Подписи на нашей копии обращения отсутствуют) 27.VII.1987г.</p>
<p></p>
<h3>Обсуждение 23 октября 1987 г. темы "Автономия крымских татар"</h3>
<p>- Показ диафильма "Татарский Крым" – 1973 г.</p>
<p>- Чтение письма В.Сокирко и Л.Ткаченко – Председателю госуд.комиссии по 
крымско-татарской проблеме – А.А.Громыко.</p>
<p>Из числа собравшихся (около 20-ти человек) только несколько полностью 
разделили тезис письма о необходимости срочного предоставления крымским татарам 
отнятых у них преступным образом в 1944 году прав, включая право на свою 
автономную государственность.</p>
<p>Большинство же собравшихся солидарны в осуждении решения 1944 года о 
выселении, а также поддерживают безусловное право всех крымских татар на 
проживание в Крыму – без ущемления прав и интересов уже живущих там людей. Что 
касается прав крымских татар на автономию, то большинство склонно расценивать 
это требование, как нереалистичное, даже экстремистское, как ущемляющее права 
ныне живущих в Крыму русских и украинцев и даже способное привести "к резне и 
насилиям" – были и такие мнения. Они склонялись к предоставлению крымским 
татарам в Крыму лишь "право на культурную автономию" (собственные школы, 
искусства, печать на родном языке и т.п.) – возможно в виде "национальных 
округов", имея в виду скопление однородных вновь создаваемых крымских деревень 
на ныне пустующих землях (не утесняя интересов ныне живущих в Крыму).</p>
<p>Раздавались и такие голоса, что данный вопрос вообще не разрешим для нынешней 
системы национ.отношений в стране, что крымско-татарская проблема не будет 
решена вплоть до коренных изменений в стране. А, с другой стороны, прозвучал 
голос, что вообще внимание к правам крымских татар есть проявление национализма, 
вражды и ненависти…</p>
<p>Результаты обсуждения меня крайне удивили. Так или иначе, но большинство 
собравшихся "прогрессивных интеллигентов" высказались в духе опубликованного 
16.10.87г. сообщения ТАСС о "Заседании комиссии" А.А.Громыко, которая ни словом 
не обмолвилась об автономии, но зато много – об удовлетворении социально-бытовых 
и культурных запросов крымских татар и даже о недопустимости "отдельных фактов 
нарушения прав татар при выборе места их проживания, учебы и работы". Правда, 
право крымских татар на проживание в Крыму – комиссией никак не оговорено. Можно 
понять, что такого права у них пока нет. Правда, комиссия, опираясь на 10 тысяч 
поступивших в ее адрес писем, требует принять "решительные меры по пресечению 
деятельности экстремистки настроенных лиц из крымских татар". </p>
<p>Здесь – налицо расхождение между комиссией и большинством из собравшихся у 
нас. Но и только. В отношении главного требования крымских татар наблюдается 
сходство отрицательных мнений Госуд.Комиссии и представленной части московской 
интеллигенции.</p>
<p>По моему мнению, такое совпадение – факт тревожный. На мой взгляд, любая 
задержка возвращения законных прав на автономию крымским татарам есть 
практическое продолжение преступлений сталинизма, позор страны и поддержка 
пост-сталинизма. Какими бы резонами и ссылками на необходимость общих реформ 
советского государства эту задержку не оправдывать…</p>
<p>Подводя итог, можно сказать, что обсуждение не только не привело к 
взаимопониманию, к открытому высказыванию в пользу прав крымских татар, 
основанию Общества дружбы с крымско-татарским народом и т.д., а только вскрыло 
глубину расхождений.</p>
<p></p>
<h3>Пятница 27 ноября 1987 года. Продолжение обсуждения темы </h3>
<h3>"Автономия крымских татар"</h3>
<p>В обсуждении принимало участие 14 человек. В результате было выработано 
следующее обращение, с которым согласились все:</p>
<p>"Председателю государственной комиссии по проблеме крымско-татарского народа 
Громыко А.А.</p>
<p>Нас, граждан СССР разных национальностей, разочаровывает неспособность высшей 
власти в лице Вашей комиссии справедливо разрешить национальный вопрос 
крымско-татарского народа, что ставит по сомнение прочность национального мира в 
нашей стране.</p>
<p>В отношении работы Комиссии мы настаиваем на следующем:</p>
<p>1. Полная открытость и гласность ее работы (публикация протоколов 
заседаний)</p>
<p>2. Включение в состав комиссии признанных представителей крымско-татарского 
народа.</p>
<p>3. Публикация Указа Президиума Верховного Совета СССР 1967 г. о реабилитации 
крымско-татарского народа, публичное рассмотрение всех обвинений в адрес 
крымских татар и предоставление возможности последним для публичного 
разоблачения клеветы в адрес крымско-татарского народа. Безоговорочное осуждение 
преступного выселения 1944 года в качестве юридической базы для восстановления 
отнятых у крымских татар прав.</p>
<p>4. Безусловное признание права всех крымских татар проживать на своей 
исторической родине – в Крыму. Предоставление материальной помощи от государства 
всем переезжающим на Родину крымским татарам в формах, определенных Комиссией с 
участием представителей самих крымских татар. Переселение должно осуществляться 
без ущемления прав и интересов ныне живущих в Крыму, в случае необходимости 
осуществляя компенсацию за счет государства.</p>
<p>5. Восстановление конституционного права крымско-татарского народа на 
строительство своей культурной и государственной жизни, например, в форме 
национальных округов и районах в местах традиционного расселения в Крыму.</p>
<p>6. Необходимо назначить крайний срок работы Комиссии для вынесения решения на 
рассмотрение Верховного Совета – предлагаем до 1.5.1988 года. </p>
<p>При рассмотрении этого проекта по пунктам выяснились следующие разночтения: 
по п.4. четверо высказалось за право проживания крымских татар в любой точке 
Крыма, 10 человек – за "право крымских татар проживать в местах традиционного 
(до 1944 г.) расселения путем снятия каких-либо паспортных ограничений (кроме 
курортных зон). В остальных же местах приравнять права крымских татар к правам 
остальных сов.граждан.</p>
<p>В отношении материальной помощи двое высказались за разработку Комиссией 
строго определенного плана-графика расселения и трудоустройства татар в 
Крыму.</p>
<p>По п.6. – 8 человек высказалось за восстановление Крымской автономной ССР, 5 
– против этого требования.</p>
<p>Выявленные расхождения, на наш взгляд, не затрагивают принципиально полного 
единодушия собравшихся москвичей в поддержку основных требований крымских татар 
о возвращении на свою историческую родину.</p>
<p></p>
<h3><em>Борис Чичибабин</em> Крымские прогулки</h3>
<p>Колонизаторам – крышка!/Что языки чесать?</p>
<p>Перед землею крымской/Совесть моя чиста.</p>
<p>Крупные виноградины, /Дует с вершины свежо.</p>
<p>Я никого не грабил./Я ничего не жег.</p>
<p>Плевать я хотел на тебя, Ливадия,</p>
<p>И в памяти плебейской/Не станет вырисовываться</p>
<p>С дворцами-арабесками/Алупка воронцовская.</p>
<p>Дубовое вино я/Тянул и помнил долго.</p>
<p>А более иное /Мне памятно и дорого.</p>
<p>Волны мой след кропили,/Плечи царапал лес.</p>
<p>Улочками кривыми/В горы дышал и лез.</p>
<p>Думал о Крыме: чей ты,/Кровью чужой разбавленный?</p>
<p>Чьи у тебя мечети?/Прозвища и развалины?</p>
<p>Проверить хотелось версийки/Приехавшему с Руси:</p>
<p>Чей виноград и персики/В этих краях росли?</p>
<p>Люди на пляж, я с пляжа/Там у лесов и скал</p>
<p>"Где же татары?" – спрашивал, /Все я татар искал.</p>
<p>Шел, где паслись отары,/Желтую пыль топтал,</p>
<p>"Где ж вы,- кричал,- татары?"/Нет никаких татар.</p>
<p>А жили же вот тут они/С оскоминой о Мекке.</p>
<p>Цвели деревья тутовые,/И козочки мекали.</p>
<p>Не русская Ривьера,/А древняя Орда,</p>
<p>Жила, в аллаха верила,/Лепила города.</p>
<p>Кому-то, знать, мешая/Зарей во всю щеку,</p>
<p>Была сестра меньшая/Казани и Баку.</p>
<p>Конюхи и кулинары,/Радуясь синеве,</p>
<p>Песнями пеленали/Дочек и сыновей.</p>
<p>Их нищета назойливо/Наши глаза мозолила.</p>
<p>Был и очаг, и зелень,/И для ночлега кров…</p>
<p>Слезы глаза разъели им,/Выстыла в жилах кровь.</p>
<p>Это не при Иване,/Это не при Петре;</p>
<p>Сами, небось, припевали:/ "Нет никого мудрей".</p>
<p>Стало их горе солоно./Брали их целыми селами,.</p>
<p>Сколько в вагон поместится./Шел эшелон по месяцу.</p>
<p>Девочки там зачахли./Ни очага, ни сакли.</p>
<p>Родина оптом, так сказать,/ Отнята и подарена,-</p>
<p>И на земле татарской/Ни одного татарина.</p>
<p>Живы, поди, не все они:/ Мало ль у смерти жатв?</p>
<p>Где-то на сивом Севере/Косточки их лежат.</p>
<p>Кто помирай, кто вешайся,/Кто с камнем на конвой,-</p>
<p>В музеях краеведческих/Не вспомнят никого.</p>
<p>Сидит начальство важное,/"Дай,- думает,- повру-ка".</p>
<p>Вся жизнь брехнею связана,/Как круговой порукой.</p>
<p>Теперь хоть и обмолвитесь,/Хоть правду кто и вымолви,</p>
<p>-Чему поверит молодость?/Все верные повымерли.</p>
<p>Чепухи не порите-ка./Мы ведь все одноглавые.</p>
<p>У меня не политика…</p>
<p>На ладони прохукав,/Спотыкаясь, где шел,</p>
<p>Это в здешних прогулках/Я такое нашел.</p>
<p>Мы все попривыкли к страшному,/На сковородках жариться.</p>
<p>И нас не надо спрашивать/Ни доброты, ни жалости.</p>
<p>Мне вот, да будет вам ведомо,/Ни горячо, ни холодно</p>
<p>Из-за оклеветанных/Бабеля и Мейерхольда.</p>
<p>Умершим не подняться,/Не добудиться умерших…</p>
<p>Но чтоб целую нацию – /Это же надо додуматься.</p>
<p>А монументы Сталина,/Что гнул под ними спину ты,</p>
<p>как стали раз поставлены,/Так и стоят нескинуты.</p>
<p>А новые крадутся,/Честь растеряв,</p>
<p>К власти и к радости/Через тела.</p>
<p>И вражьи уши радуя,/Чтоб было что писать,</p>
<p>Врет без запинки радио,/Тщательно врет печать.</p>
<p>Когда ж ты родишься,/В огне трепеща,</p>
<p>Новый Радищев, /Гнев и печаль? </p>
<h4>Председателю Президиума Верховного Совета СССР, председателю государственной 
комиссии по проблеме крымско-татарского народа Громыко А.А.</h4>
<p>Нас, граждан СССР разных национальностей, разочаровывает неспособность высшей 
власти в лице Вашей комиссии справедливо разрешить национальный вопрос 
крымско-татарского народа, что ставит по угрозу прочность национального мира в 
нашей стране.</p>
<p>В отношении работы Комиссии мы настаиваем на следующем:</p>
<p>1. Полная открытость и гласность ее работы (публикация протоколов 
заседаний).</p>
<p>2. Включение в состав комиссии признанных представителей крымско-татарского 
народа.</p>
<p>3. Публикация Указа Президиума Верховного Совета СССР 1967 года о 
реабилитации крымско-татарского народа, публичное рассмотрение всех обвинений в 
его адрес и предоставление его представителям возможности публичного 
разоблачения клеветы.</p>
<p>4. Безоговорочное осуждение преступного выселения 1944 года как юридическая 
база для восстановления отнятых у крымских татар прав.</p>
<p>5. Безусловное признание права всех крымских татар проживать на своей 
исторической родине – в Крыму. </p>
<p>6. Предоставление всем переезжающим на Родину крымским татарам материальной 
помощи в формах, определенных смешанной комиссией. Переселение должно 
осуществляться без ущемления прав и интересов ныне живущих в Крыму, в случае 
необходимости предоставляя им компенсацию за счет государства.</p>
<p>7. Восстановление конституционного права крымско-татарского народа на 
строительство своей культурной и государственной жизни, например, в форме 
национальных округов, районов и т.п. в местах традиционного проживания в 
Крыму.</p>
<p>8. Необходимо назначить крайний срок работы Комиссии для вынесения проекта 
решения на рассмотрение Верховного Совета СССР – предлагаем до 1.5.1988 года. 
</p>
<p>Обращение подписали: Сокирко В.В., Ткаченко Л.Н., Сокирко А.В., Мунтян В.А., 
Лукашев А.Д., Музыковский В.А., Федоров Е.В., Аносова Л.С., Аносов А.А.. 
Верховский А.М. Оно было направлено по адресу в декабре 1987г.</p>
<br/>

{% endblock content %}
