{% extends 'base.html' %}
{% block title %}Материалы «Экспресс-Хроники» №13,{% endblock %}
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1>       
        
       
      Материалы 
«Экспресс-Хроники» №13,       
        
       
1987г.</h1>
<h3>Группа «За Установление Доверия Между Востоком и Западом» Семинар 
"Демократия и гуманизм"</h3>
<p>Семинар "Демократия и гуманизм" надеется восстановить в доступных ему 
масштабах историческую правду о прошлом и настоящем нашей страны. Кроме этого, 
семинар стремится способствовать становлению демократии в СССР.</p>
<p>На семинаре читаются лекции по русской, советской и зарубежной истории, 
изучается философия в тех ее разделах, с которыми у советских граждан нет 
реальной возможности подробно познакомиться.</p>
<p>Советская история и история ведущих западных демократий читается во всей 
совокупности источников, как изданных в СССР, так и имеющихся в Самиздате. 
Слушатели семинара имеют возможность ознакомиться с творчеством неизданных в 
СССР поэтов и писателей.</p>
<p>Семинар имеет определенную общественную ориентацию.</p>
<p>На семинаре обсуждаются темы, касающиеся главных болевых точек нашей жизни, 
некоторые аспекты нашего социального и политического развития. Эти темы могут 
относиться и к истории СССР.</p>
<p>Результаты обсуждения фиксируются в виде открытых писем семинара, а затем 
организаторы семинара знакомят с ними возможно более широкие общественные 
круги.</p>
<p>Организаторы семинара имеют свою общественную программу, цель которой - 
становление демократии в СССР:</p>
<p>1. Всеобщая политическая амнистия, включающая в себя политзаключенных, 
осужденных по политическим статьям: 70, 72, 1901, 1903, 142, 227 и тех узников 
совести, которые осуждены по ст.64 за участие в национальных движениях; 
политзаключенных, ложно обвиненных по уголовным статьям; политзаключенных, 
подвергнутых психиатрическим репрессиям, заключенным в спецтюрьмы и 
психиатрические больницы (СПБ, ПБ). Полная реабилитация всех освобожденных с 
широким освещением в печати; годы заключения засчитываются в трудовой стаж, 
возвращается прописка, жилплощадь и работа по специальности; выдается 
значительная материальная компенсация за все время заключения; с узников ПБ и 
СПБ снимается диагноз; они снимаются с учета в психоневрологических 
диспансерах.</p>
<p>2. Исключения из уголовного кодекса статей 70, 72, 1901, 1903, 188-3, 142, 
227.</p>
<p>3. Изменение текста Конституции в духе ее деидеологизации и обеспечение 
основных гражданских прав и свобод безотносительно (т.е., абсолютно, без всяких 
условий типа "в целях коммунистического строительства").</p>
<p>4. Запрещение применения карательной психиатрии к инакомыслящим.</p>
<p>5. Отмена смертной казни и смягчение пенитенциарного режима.</p>
<p>6. Деидеологизация общественной, культурной и социальной жизни страны и 
образования.</p>
<p>7. Напечатание в СССР всего лучшего Самиздата, включая труды и романы 
Солженицына, Авторханова, Зиновьева, Аксенова, Орвелла, Конквеста, как имеющего 
особенно важное значение для становления демократии в СССР. Право приобретать 
любую книгу за рубежом.</p>
<p>Эта программа определяет стиль занятий и выбор тем.</p>
<p>На семинар приглашаются все желающие, как частные лица, так и представители 
прессы и общественных организаций. 4 июня 1987 г. г.Москва</p>
<p>В.Новодворская, В.Сквирский, Д.Стариков, М.Ланда, Ю.Кисилев, И.Царьков, 
Е.Добрянский, П.Старчик, А.Лащивер, А.Мясников</p>
<p></p>
<h3>Встреча редакторов и представителей независимых изданий </h3>
<p>Ленинграда, Москвы и Риги состоялось 24-25 октября 1987г. в Ленинграде. В ней 
приняли участие редакторы и сотрудники 20 независимых изданий: "Бюллетень 
христианской общественности", "Бюллетень московского клуба "Перестройка", 
Бюллетень СМОТ, "Бюллетень Федерации социалистических общественных клубов", 
Бюллетень клуба "Община", "Вестник Совета по экологии культуры", "В полный 
рост", "День за днем", "ЛЕА", "Меркурий", "Митин журнал", "Обводной канал", 
"Петербург", "Поединок", "Предлог", Пресс-агенства СМОТ, "Третья модернизация", 
"Точка зрения", "Часы", "Экспресс-Хроника".</p>
<p>Во встрече принимали участие представители клубов "Дельта", "Аделаида", 
"Община", "Свидетель", "Клуб-81", московский и ленинградский клубы 
"Перестройка". На встрече, по инициативе ее ленинградских организаторов, 
присутствовали: корреспондент газеты "Известия" Ежелев, корреспондент 
ленинградской газеты "Смена" Дмитрий Запольский, корр. журнала "Сельская 
молодежь" Ю.Сочнев, корр. журнала "Аврора" А.Цежиневич, корр. "Литер.газеты" 
В.Я.Голованов, корр. АПН С.Лоскутов, сотрудник журнала "ЭКО" Филиппов, а также 
представители горкома ВЛКСМ, юрист и психолог.</p>
<p>Первоначально встречу предполагалось начать 24 октября в 13 час. в помещении 
ДК железнодорожников. Когда участники встречи собрались, дирекция Дворца 
известила организаторов, что встреча здесь состояться не может, т.к. в ДК якобы 
произошла авария водопровода. Собравшиеся поехали в другое место – помещение 
самодеятельного "Клуба-81". В первый день на встрече присутствовало 60 человек. 
Этот день был посвящен, главным образом, выступлениям редакторов, которые 
рассказывали о своих изданиях – целях, трудностях, достижениях.</p>
<p>Первым выступил Кирилл Бутырин,редактор журнала «Обводной канал» Этот 
литературно-публицистический журнал выходит с 1981г. Вышло 12 номеров. «В 
литературных произведениях показывается общество, среда, а не сам человек с его 
мятущейся душой, - сказал К.Бутырин.  Идея красоты и гармонии была и остается
главной идеей нашего журнала.»</p>
<p>Затем выступилМихаил Талалай, представляющий ленинградский "Вестник по 
экологии культуры". "Совет по экологии культуры" объединяет такие группы как 
"Спасение", "Невская битва", "Петербург". "Вестник" и отражает деятельность этих 
групп по спасению памятников культуры. Все вышедшие номера имеются в фонде 
Культуры – официальной общественной организации. Тираж "Вестника" – 40-50 
экземпляров. М.Талалай зачитал присутствующим историческую справку, согласно 
которой в Петербурге в 1914г. выходило 438 журналов различных направлений. Он 
предложил также создать единый блок информации и один раз в три месяца издавать 
бюллетень обо всех выходящих самиздатских журналах.</p>
<p>Борис Ив.Иванов рассказал о журнале "Часы". Журнал издается 15 лет, вышло 66 
номеров. Иванов отметил полную неспособность официальной литературы отразить 
сложный духовный мир личности. Необходимость самиздатской литературы в этой 
связи очевидна. Б.И.Иванов обратил внимание присутствующих на необходимость 
обеспечить правовые гарантии защиты самиздатской литературы. "Все наши проблемы, 
проблемы наших изданий – это, в конце концов, проблемы права" – сказал 
Б.И.Иванов.</p>
<p>Елена Зелинская рассказала о ленинградском журнале "Меркурий". Журнал выходит 
первый год, вышло 6 номеров. Журнал, по словам Зелинской, передает живой образ 
времени и людей, в нем участвующих. Со следующего, седьмого номера, журнал будет 
иметь спец.информационное приложение, которое планируется выпускать два раза в 
месяц. Ответственный за выпуск этого приложения Роман Игнатьев.</p>
<p>Александр Подрабинек рассказал о еженедельнике "Экспресс-хроника". 
Еженедельник выходит по воскресеньям, его объем около 20 стандартных 
машинописных страниц. Внимание еженедельника сосредоточено, главным образом, на 
случаях нарушения прав человека в СССР. Подрабинек призвал присутствующих 
сосредоточить свое внимание на общих проблемах – тиражировании, отсутствии 
правового статуса, трудностях в распространении изданий.</p>
<p>Он призвал к созданию Ассоциации независимых издателей.</p>
<p>Александр Фадин – рассказал о Бюллетене московского клуба "Перестройка". 
Первый номер этого бюллетеня готовится к выходу. Фадин предложил добиваться 
законодательного закрепления равенства прав официальной и неофициальной прессы, 
используя для этого обсуждение Закона о печати.</p>
<p>Петр Филиппов – представитель официального журнала "ЭКО" и член редколлегии 
"Меркурия" рассказал о работе в журнале "ЭКО". Он сказал, что официальная 
цензура смягчается, в их журнале появляются интересные публикации. Влияние 
горлита на редакцию уменьшается. Филиппов говорил также о необходимости каким-то 
образом ограничить свободу печати на основе демократ.процедуры.</p>
<p>По предложению Б.И.Иванова выступили представители официальных изданий. </p>
<p>Д.Запольский из ленинградской газеты "Смена" критиковал самиздатские журналы, 
упрекая их в однообразии, тенденциозности, неактуальности, бедности жанра, в 
низком профессиональном уровне, отсутствии сколько-нибудь значительных тиражей. 
Выступление Запольского несколько раз прерывалось вопросами и протестами 
присутствующих. </p>
<p>С.Филатов – зав.сектором досуга ленинградского горкома ВЛКСМ, обратился к 
редакторам независимых изданий с призывом сотрудничать с комсомольскими органами 
и официальной печатью.</p>
<p>Корр. ж-ла "Сельская молодежь" Сочнев говорил о невысоком интеллектуальном и 
культурном уровне читателей, пишущих в их журнал. Сочнев работает в этом журнале 
"по договору", что дает ему некоторую независимость. Он призывал не 
отождествлять официальные редакции или издания с конкретными их 
сотрудниками.</p>
<p>Андрей Цеханович из офиц.журнала "Аврора" просил прекратить дискуссии с 
представителями офиц.прессы и продолжить обсуждение проблем независимой печати. 
Он считает это обсуждение очень интересным.</p>
<p>Дм.Волчек из Ленинграда рассказал о редактируемом им "Митином журнале". 
Журнал выходит 6 раз в год и целиком посвящен литературе. Волчек говорил о том, 
что официальная литература не способна отразить целые пласты современной 
культурной жизни. В последнее время публикуется многое из ранее запрещенного, но 
все это хорошо известные вещи. Произведения, мало известные в официальной 
печати, не публикуются. Они до сих пор находятся в хранилищах.</p>
<p>Александр Сержант из Риги рассказал о журнале "Третья модернизация". Ж-л 
начал выходить 8 месяцев назад, вышло 2 номера. Выходит на русском языке.</p>
<p>Ефремов рассказал о ленинградском ж-ле "Предлог". Литературный, основан более 
3-х лет назад. Вышло 12 номеров. Периодичность издания – раз в три месяца. 
Печатают ранее неизвестных авторов. Ж-л "Третья модернизация" стремится найти 
пути к новой культуре, пути к модернизации.</p>
<p>Вл.Гургуликов рассказал о Бюллетене "Федерации общественных социалистических 
клубов" и о Бюллетене клуба "Община". Бюллетени издаются с августа этого года, 
вышло по одному номеру . Публикуют материалы социалист. характера, рассчитаны на 
читателей социалист.ориентации. тираж – около 30 экз.</p>
<p>Влад.Сквирский из Москвы рассказал о Бюллетене СМОТ. Вышло 42 номера. 
Бюллетень посвящен неофиц.профсоюзной деятельности. Лев Волхонский, 
представляющий пресс-агентство СМОТ, высказался в поддержку издания "Журнала 
Журналов" и за создание Ассоциации независимых издателей. После обмена мнениями 
между участниками по различным проблемам свободной издательской деятельности 
первый день встречи был закончен.</p>
<p>25 октября встреча продолжалась на частной квартире.</p>
<p>Юлий Рыбаков коротко рассказал о деятельности Товарищества экспериментального 
изобразительного искусства. Товарищество не имеет официального статуса. За 6 лет 
существования проведено 9 выставок, на которые были представлены картины более 
чем 350 художников. Выставки посетило более 200 тысяч человек. ТЭИИ издает 
Информационный бюллетень для членов Товарищесва. Ю.Рыбаков ознакомил 
присутствующих с документами Инициативной Группы содействия создания мемориала 
памяти жертв сталинизма. </p>
<p>Михаил Талалай информировал о планируемых акциях в рамках Совета по экологии 
культуры. </p>
<p>Роман Стахов рассказал о журнале "В полный рост". Тираж распространяется, 
главным образом, среди политических групп. На сегодняшний день вышло 4 номера. 
Рассчитан на читателей, поддерживающих курс Горбачева. В журнале, как сказал 
Астахов, помещаются и такие материалы, как "критика комм.программы КПСС" или 
"анализ радикальной реформы управления экономикой". В журнале печатаются 
материалы Всесоюзного социально-политического клуба (ВСПК). Общее направление 
журнала - "поддержка нынешнего курса". Выходит раз в две-три недели.</p>
<p>Валерий Трубицын рассказал о ж-ле "Петербург". Журнал новый, вышел только №1. 
Помещает не только статьи самиздатских авторов, но и перепечатывает наиболее 
интересные материалы официальной прессы.</p>
<p>Александр Огородников рассказал о "Бюллетене Христианской Общественности". 
Авторы бюллетеня состоят из сынов Русской Православной Церкви, но на страницах 
журнала слово предоставляется представителям и иных христианских конфессий. 
Основная проблема, затрагиваемая Бюллетенем – отношения между Церковью и 
государством. Бюллетень, как сказал Огородников, предпинимает попытку выработать 
соборное церковное сознание. Выходит раз в месяц с июля этого года.</p>
<p>Б.Дубров рассказал о "ЛЕА" – Ленинградском Еврейском Альманахе. Он выходит 
шестой год, выпущено 14 номеров. На страницах затрагиваются вопросы, связанные с 
положением евреев в России. В последних номерах – и вопросы современности, 
например, об отношении к обществу "Память". Объем Альманаха – около 90 
машинописных страниц, тираж приблизительно 100 экз.</p>
<p>Алексей Зверев рассказал о журнале "Точка зрения". Журнал издается, как 
сказал Зверев, "группой московских интеллигентов социал.направления". Многие 
имеют связи с клубом "Перестройка". Журнал предпринимает попытки взять старые 
правозащитные лозунги и выдвинуть их на "советском легальном уровне". Журнал 
адресован советской интеллигенции и работает над "поднятием ее уровня". Объем 
журнала 50-60 м/п страниц. На сегодняшний день вышло 2 номера. Редактор – Юрий 
Скубко.</p>
<p>Николай Храмов коротко рассказал о журнале "День за днем" московской группы 
"Доверие". Он информировал присутствующих о предполагаемых демонстрациях в 
Москве и Ленинграде 30 октября, в День политзаключенных СССР.</p>
<p>После выступления редакторов и представителей независимых изданий были 
зачитаны два проекта заключительного коммюнике встречи. 1-й проект представляла 
Е.Зелинская ("Меркурий"). Второй – А.Подрабинек ("Экспресс-хроника»). Мнения 
участников встречи по поводу этих двух проектов разделились. Для того, чтобы 
выяснить, какой из них брать за основу для дальнейшего обсуждения и доработки, 
было проведено голосование. 20-тью голосами против 5-ти был принят проект 
А.Подрабинека. После этого Подрабинек многократно зачитывал свой проект по 
частям, и в него вносились изменения и дополнения. В результате был выработан 
текст, который ни у кого не вызывал возражений. На заключительном этапе 
обсуждения отсутствовали В.Гургуликов и А.Баранов, представляющие московские 
Бюллетени "Федерации соц.общественных клубов" и клуба "Община", а также 
А.Зверев, представитель московского журнала "Точка зрения". Все присутствовавшие 
– редакторы и представители 17-ти независимых изданий подписали заключительное 
коммюнике встречи.</p>
<p>Заключительное коммюнике редакторов и представителей независимых изданий</p>
<p>Мы, редакторы и представители 17 независимых изданий Ленинграда, Москвы и 
Риги, настоящим коммюнике подводим некоторые общие итоги встречи.</p>
<p>Мы считаем нашу встречу в Ленинграде 24-25 октября полезной как для нас, так 
и для судеб независимой печати страны. На встрече выявились различия в позициях 
и оценках по вопросам культуры, политики и религии у различных изданий. Мы 
считаем это не только естественным, но и полезным, даже необходимым условием 
плюралистического общества, каким мы и хотим видеть то общество, в котором мы 
распространяем наши издания. Однако, при всех наших различиях, мы выявили и то, 
что нас объединяет. Мы все испытываем затруднения одного характера при 
распространении свободного печатного слова. Эти затруднения вызваны во многих 
случаях негативным отношением к нам со стороны госуд.органов, неопределенностью 
или несовершенством законодательства. Мы считаем необходимым, чтобы 
госуд.учреждения признавали за каждым независимым изданием права юридического 
лица. Мы должны иметь возможность регистрироваться в качестве кооперативов или 
каких-нибудь других общественных организаций. Это даст нам правовой статус, 
необходимый для успешного и стабильного функционирования. Редакторы и сотрудники 
независимых изданий заняты работой, которая по своему объему и общественному 
значению не уступает работе в госуд.учреждениях. Поэтому социальный статус 
людей, выпускающих независимые издания, должен быть официально признан 
государством, и эти люди должны быть надежно защищены законом от преследований и 
обвинений в тунеядстве. Кооперативная или какая-то иная хозрасчетная форма 
организации независимых изданий не только позволит вести достойное существование 
этим изданиям и их сотрудникам, но и покажет общественную полезность нашего 
труда. Признанный за нами правовой статус позволит вести организац.и 
хозрасчетную деятельность на основе права.</p>
<p>Мы, участники ленинградской встречи редакторов и сотрудников независимых 
изданий, пришли также к общему мнению о необходимости открыть для всех желающих 
широкий доступ к множительной технике. Только это по-настоящему способно 
обеспечить реальную и практическую свободу печати в стране.</p>
<p>Предстоит обсуждение Закона о печати. Мы считаем, что проект Закона должен 
быть вынесен на широкое обсуждение общественности. При принятии Закона должны 
учитываться мнения независимых издателей. В официальной печати должны быть 
опубликованы альтернативные проекты и обсуждения Закона о печати.</p>
<p>Мы все надеемся, что наше сотрудничество продолжится. Мы считаем его 
целесообразным и многообещающим. Мы договорились провести следующую встречу 
редакторов независимых изданий в Москве зимой 1988 г. Участники встречи решили 
начать совместное издание реферативного "Журнала журналов", содержащего 
информацию об органах самодеятельной печати и материалах, в них публикуемых.</p>
<p>Мы надеемся, что наши регулярные встречи будут способствовать укреплению 
независимой печати и расширению гласности в стране.</p>
<p>Мы убеждены, что переход от многолетнего самиздата к свободной и эффективной 
издательской деятельности – в интересах нашего народа и всей нашей страны.</p>
<p>"Экспресс-хроника" – А.Подрабинек, В.Рябоконь (Москва); "День за днем" – 
Н.Храмов (Москва); Бюллетень СМОТ – В.Сквирский, М.Кублицкая (Москва); 
"Поединок" – Ю.Денисов (Москва); "Бюллетень христианской общественности" – 
А.Огородников (Москва); "Обводной канал" – С.Стратоновский, К.Бутырин 
(Ленинград); "Митин журнал" – Д.Волчек (Ленинград); "В полный рост" Р.Астахов 
(Ленинград); "Предлог" – С.Хренов (Ленинград); "Меркурий" – Е.Зелинская 
(Ленинград); "Вестник Совета по экологии культуры" – М.Талалай (Ленинград); 
"Часы" – Б.Иванов (Ленинград); "Третья модернизация" – А.Сержант (Рига); 
"Пресс-агентство СМОТ" – Л.Волохонский, О.Корзинина (Москва); "Бюллетень 
"Перестройка" – А.Фадин, С.Митрофанов (Москва); "ЛЕА" (Ленинградский Еврейский 
Альманах) – Б.Дубров (Ленинград); "Петербург" – В.Трубицин (Ленинград). 
Ленинград, 25 октября 1987 г.</p>
<p></p>
<h4>В ЦК КПСС В Президиум Верховного Совета</h4>
<h4>Обращение</h4>
<p>Мы, граждане СССР, считаем необходимым создание мемориала памяти жертв 
беззаконий времен сталинизма.</p>
<p>Сегодня, когда восстанавливается историческая справедливость, нельзя забывать 
о трагедии уничтожения лучших сыновей и дочерей Отчизны в годы культа личности. 
Настало время воздать долг памяти миллионам безвинно пострадавших и погибших 
советских граждан.</p>
<p>Общественность в разных городах нашей страны уже приступила к объединению 
усилий по созданию такого мемориала. Этот мемориал должен стать не только 
выражением нашей скорби, но и отразить мужество, героизм жертв неравной борьбы с 
беззаконием, стать предупреждением тем, кто пытается сейчас реабилитировать 
насильственные методы построения социализма, предать забвению преступления 
последних лет.</p>
<p>Такой мемориал должен включать в себя памятник жертвам сталинских репрессий, 
музейный комплекс с хранилищем документов и экспозициями по истории репрессий 
того периода.</p>
<p>Мы считаем необходимым учреждение и регистрацию Всесоюзной общественной 
комиссии и Фонда по созданию мемориала.</p>
<p>Обращение составлено ленинградской Инициативной Группой содействия создания 
мемориала. Предлагается всем общественным изданиям и организациям для сбора 
подписей. Подпись действительна при указании адреса и телефона лица, 
поставившего подпись. Подписанные обращения направлять по адресу: 196247, 
Ленинград, ул.Кубинская, д.52, кв.87. Жженова Марина 
Георгиевна.</p>
<br/>

{% endblock content %}
