{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}



<h4>В. Сокирко</h4>
<h4>Самиздатские материалы. 1981-1988гг.</h4>
<h1>       
Письмо к В.Г.(Каленскому) о работе "Гражданские свободы 
в конституционной истории США", окт.       
1981г.</h1>
<p>…С большим удовольствием я прочел рукопись Вашей прекрасной работы, 
ознакомился с динамичным и полным изложением возникновения, уточнения и 
упрочения ключевой правовой гарантии существования демократического государства 
– свободы совести, слова, печати и иных гражданских прав на классическом примере 
США.</p>
<p>Мне было очень интересно следить, как развивались понятия этих свобод, и 
сколь не просты и далеки от окончательного решения связанные с ними проблемы, 
как столетиями Верховный суд США оттачивает эти понятия в реальных судебных 
прецедентах. Каким образом разрешается противоречие между свободами слова и 
печати, защищающими общество от всесилия властей и их тиранического 
перерождения, и – государственной безопасностью, защищающей нынешнее общество от 
беспорядков, анархии и гибели. Как шло развитие запретов государством "мятежных 
пасквилей", враждебной и насильственной пропаганды… к нынешнему состоянию. Но я 
не буду повторять Вашу работу. Главнее, что никто не отрицает негативных черт 
свободы слова и печати, неразрывно связанной с возможностями распространения 
лжи, клеветы, враждебной пропаганды, опорочения и т.п., но эти негативные 
моменты считаются (и заслуженно) в США второстепенными по сравнению с 
общественной ценностью самих свобод (за исключением очевидной реальной и явной 
опасности обществу, например, в годы войны – по доктрине Холмса) для защиты от 
тиранического перерождения, или говоря нашим языком, от обожествления 
государства, от возникновения "культа личности".</p>
<p>В этой связи было бы интересно проследить на нашей истории, как развивались 
гражданские свободы. Ведь у нас все отличается: не было веков народной 
убежденности в необходимости религиозных свобод, так тесно связанных генетически 
с остальными свободами, да и сама история нормального права, наверное, может 
насчитать чуть больше века, если даже не исключать периоды войн и революций. Но 
вот на удивление, если обратиться к аналогичным конституционным нормам, 
гарантирующим "гражданские свободы" и даже к конкретным статьям УК РСФСР, 
которые переводят эти нормы на язык приговоров, то окажется, что они 
сформулированы очень либерально, может, даже либеральнее, чем американские 
законы. Так, ст.70 и 1901 запрещают только порочащую клевету, т.е. заведомо 
ложные измышления. Признак заведомости является чрезвычайно сильным ограничением 
для возможного обвинения. По крайней мере, мне неизвестны случаи обвинения по 
этим статьям, чтобы был доказан признак "заведомости "лжи". Т.о., наш закон 
разрешает и гарантирует гражданские свободы в гораздо большей степени, чем в 
иных западных странах, и притом без всякой связи с предыдущей историей 
недемократического существования страны, предшествующих столетий "самодержавия, 
православия, народности". Может за это надо благодарить наших юристов и 
законодателей, составивших для нас столь либеральные законы (лучшие в мире)?</p>
<p>Но стоит ли благодарить? И являются ли они реальным достижением? – Думаю, что 
нет, потому что в жизни людей судят по этим статьям, совсем не принимая признак 
"ложности", а ориентируясь лишь на признак "опорочения" госуд. и общ. строя и 
реальные интересы государственной безопасности (т.е. где-то на уровне 
доамериканской истории, кажется, по доктрине Кука). И выходит, что юристы 
записали очень хорошие законы (может, глядя на достижения Запад), хорошие, но 
невыполнимые в наших условиях. Невыполнимые – как по характеру власти, не 
привыкшей к публичной и безоглядной критике, так и по характеру общества, для 
которого свободы слова и печати, если их предоставить в полном объеме, послужат 
не для конструктивного и постепенного исправления существующей общ. и госуд. 
системы, их совершенствования, а лишь для тотальной критики и анархии. А раз эти 
законы невыполнимы, то вполне понятно, что они уступают место практике их 
беззаконного толкования, уступают место неписаному правилу, например, наказывать 
за активную порочащую критику, за обращение к неофициальным средствам печати 
(самиздату и тамиздату) и т.д.</p>
<p>Однако судопроизводство по неписанному закону хоть и лучше беззакония, но все 
же связано с массой погрешностей и произвольных действий как со стороны 
обвинителей, так и со стороны граждан, потому что последние путаются между 
реальным и записанным. Так что, если выбирать между нелиберальным, но выполнимым 
законом, и либеральным, но невыполнимым, я решительно выберу первый случай, ибо 
гораздо лучше жить в нелиберальном, но правовом обществе, чем без писаных 
законов.</p>
<p>Кто же виноват, что у нас есть прекрасные, но невыполнимые и невыполняющиеся 
законы? – Думаю, что прекраснодушные юристы, ориентирующиеся в своих разработках 
не на нашу грешную землю с действующей судебной практикой, а на "последние 
достижения" правовой мысли на Западе. Убежден, что первым достоинством любого 
закона должна быть его выполнимость, способность защищать как реальные интересы 
сегодняшнего государства, так и те права на критику, на письма и петиции, на 
оппозицию, на определенные свободы слова, печати и т.д. Видимо, в нашем случае в 
большей степени должны быть учтены интересы государственной безопасности, чем в 
западных законах, и уже потому – ограничены. Выработать такие правовые нормы, 
видимо, можно опираясь не столько на западный опыт, сколько на анализ нашей 
реальной практики, нашего собственного исторического опыта.</p>
<p>Внешне мое предложение выглядит ретроградством, предложением ужесточить 
нынешние ст. 70 и 1901 в пользу государства, на деле же оно послужило бы 
упорядочению и оздоровлению практики судебных дел по этим статьям, обретению 
судами большей независимости, росту правосознания в обществе, реально расширило 
бы гражданские свободы в допустимых на сегодня рамках.</p>
<p>Но начинать такой процесс, видимо, следует анализом и исследованием нашей 
собственной истории и собственной практики государственной безопасности и 
гражданских свобод. Я надеюсь когда-нибудь ознакомиться с такими исследованиями, 
их выводами и рекомендациями, надеюсь испытать на себе благотворное действие 
законов, выработанных под влиянием таких исследований.</p>
<br/>

{% endblock content %}
