{% extends 'base.html' %}
<title>А.Сокирко. Вечер</title>
{% block content %}



<h3>Самиздатские материалы. 1981-1988гг.</h3>
<h1><em>А.Сокирко.</em>  Вечер</h1>
<p>По дорожке, посыпанной гравием, в направлении большого девятиэтажного дома 
шагал мужчина небольшого роста, одетый в черное пальто. С Москвы-реки дул 
приятный сырой ветерок. Было уже 8 часов вечера, и последний краешек солнца 
виднелся над крышей этого дома. Рядом с домом играли дети, на скамейках сидели 
бабушки и присматривающие за детьми мамаши.</p>
<p>Василий Петрович опять шел в эту проклятую квартиру, в которой как всегда 
соберется 20-30 человек поговорить, посмотреть диафильмы, а потом как всегда все 
сойдет на критику нашего социального строя, на критику партии и всей остальной 
власти. И пойдут отсюда открытые обращения в Верховный совет, в Политбюро, в 
Совет Министров, а люди будут спорить до двенадцати, а то и до часа ночи. И все 
это должен слушать и записывать на магнитофон Василий Петрович.</p>
<p>"А во всем виноват этот проклятый Чистяков!" – думал Василий Петрович - "Ведь 
мог же другую работу дать, так нет: "Каждую пятницу, в 7-8 часов на такую-то 
квартиру, в таком-то доме, пойдешь с Соломоновым, потом будешь ходить один". И 
намекнул, что мол за это деньги будут. Какие, конечно, не сказал. Завтра еще 
надо на Лубянку ехать и все подробно Чистякову рассказать. Он еще о чем-нибудь 
спросит, короче, часа три промотаюсь. А как мне все это опротивело! В детстве я 
хотел стать небольшим начальником, иметь жену, двоих детей, жить где-нибудь на 
юге, и вроде начал осуществлять свою мечту; поехал в Москву, стал работать на 
АЗЛК, в партию вступил. И тут меня нашел Чистяков и пошло-поехало. Каждую неделю 
- задание. Нет абсолютно свободного времени. Не до мечты стало, правда, денежки 
идут, и немаленькие деньги. Может лет через двадцать удастся уехать на юг. А 
пока надо работать".</p>
<p>Василий Петрович поднялся на лифте на последний этаж. На лестничной клетке он 
увидел куривших людей, о чем-то оживленно спорящих. Василий Петрович 
поздоровался, кто-то из вежливости ответил. Ну а вообще его здесь не знали, те, 
кто поздоровались, просто видели его когда-то и не больше. Василий Петрович 
вообще избрал себе стратегию так называемого "невыделения". Он что-то говорил 
вместе со всеми, а когда его спрашивали впрямую, он либо отвечал ничего 
незначащими фразами, либо делал вид, что задумывался. Его никто не знал, никакой 
особенной позиции Василий Петрович не имел. Но эта квартира вообще отличалась 
тем, что сюда можно было прийти кому угодно, поэтому работник вездесущего 
учреждения попал сюда беспрепятственно.</p>
<p>Василий Петрович толкнул вечно незапертую дверь, тяжелую от повешенных на нее 
пальто, и оказался в прихожей, пол которой был заставлен ботинками. В соседней 
большой комнате показывали слайд-фильм, поэтому прихожая была затемнена. Василий 
Петрович снял пальто, и, облокотясь на дверной косяк, стал тупо и непонимающе 
смотреть на экран, где одна за другой сменялись цветные картинки. Потом он 
все-таки поинтересовался у соседа, какой это фильм. "Умирающий Кенигсберг", – 
шепотом ответил тот. Василий Петрович уже присутствовал при просмотре этого 
фильма три месяца назад, поэтому он снова углубился в размышления, но уже не о 
детской мечте, а о своей работе. "Слушай! – сказал он сам себе - Зачем ты сюда 
пришел? Ведь ты уже свое дело сделал. Об этом доме и об этих людях все Чистякову 
известно, а моими магнитофонными записями он завален. Я здесь не нужен, тем 
более через полчаса сюда должны приехать «ребятки», знают ли они меня – 
неизвестно. Что они со мной сделают? Да-а, уходить нельзя – не поймут ни гости, 
ни хозяева. Придется остаться".</p>
<p>Наконец, зажегся свет, и послышался тихий голос автора: "Ну что, кто чего 
скажет?" Когда Василий Петрович, преодолевая поток людей, идущих покурить, нашел 
стул и бухнулся на него, молодой парень с чувством стал говорить о Калининграде. 
Василий Петрович не слушал, это было ни к чему - в кармане пиджака работал 
портативный магнитофон. Он стал рассматривать небольшие картины, висевшие по 
стенам забитой людьми комнаты. Наверху к книжной полке был прикреплен кнопкой 
лист бумаги с надписью: "Выставка В.Гомерова". В живописи Василий Петрович 
ничего не понимал, но ему было интересно, что рисовали "свободные художники". На 
картинах были изображены городские пейзажи, пейзажи Севера, были рисунки к 
"Мастеру и Маргарите", были и такие, на которых с трудом можно было понять, что 
на них нарисовано. Последние и рисунки к Булгакову совсем не понравились. И в 
душе Василий Петрович согласился с признанными художниками, которые не признают 
свободных живописцев. "Ну, зачем рисовать такие непонятные картины, для чего? 
Может, чтобы запутать народ, поколебать наши идеалы! А это и есть тлетворное 
влияние Запада! Такие разложившиеся художники нам не нужны!" Тут Василий 
Петрович себя остановил: "Да что это я? Прямо как парторг на трибуне. Конечно, 
здесь есть хорошие работы. Но в целом – картины все-таки прозападнические, не 
наши, не советские. И в некоторых действительно чувствуется влияние 
капиталистической культуры".</p>
<p>Сделав такой вывод, Василий Петрович кончил рассматривать выставку и 
прислушался к разговору за столом, на котором стоял самовар, лежали пироги, 
бутерброды, печенье и конфеты. Споры вокруг Кенигсберга ужу переметнулись на 
Афганистан. Все тот же молодой парень доказывал ненужность и бесполезность этой 
войны: "Ну, вы посудите сами, кому нужна эта война. Ведь тысячи людей гибнут. 
Ну, конечно, понимаю, что СССР хотел влиять на Афганистан, но можно влиять и 
экономически?! Нет, еще не все потеряно, товарищи, еще можно остановить 
войну…"</p>
<p>Пока он это говорил, по рукам ходило открытое обращение с требованием 
остановить войну в Афганистане. Василию Петровичу пришлось поставить закорючку и 
передать соседу. Потом он посмотрел на часы и выключил магнитофон. "Сейчас 
приедут",- подумал он.</p>
<p>Тем временем майор с четырьмя "ребятками" поднимался на девятый этаж. У 
подъезда стояло еще две «Волги» и рафик, рядом с ними дежурило три 
милиционера. Еще трое стояли на первом этаже в ожидании лифта.</p>
<p>Майор же, поднявшись наверх, попросил всех стоявших на лестнице людей войти в 
квартиру. В квартире воцарилась тишина, которая прерывалась криками хозяина 
квартиры, пробиравшегося к двери: "Какое вы имеете право. Жилище 
неприкосновенно!" Один из «ребят» криво ухмыльнулся, но тут же присмирел под 
взглядом майора. "Товарищи, - предупредил майор, - проверка паспортного режима. 
Попрошу приготовить документы!" Тот парень снова ухмыльнулся. Тем временем 
хозяин квартиры прорвался сквозь гостей и захлопнул дверь, преградив майору путь 
к гостям. Начались переговоры, которые почти никто не слышал. Гости из шокового 
состояния, наконец, стали приходить в себя. Послышались разговоры и даже смешки, 
все со страхом ждали развязки. Майор и четверо ребят знали свое дело, и через 
десять минут послышался треск ломающейся двери. Началась проверка 
документов.</p>
<p>Василия Петровича, кажется, знали и поэтому только для виду проверили 
документы, ничего у него не спросив. Некоторых гостей забирали. Забрали и того 
молодого парня, и хозяина квартиры. Оставшихся после переписи стали отпускать по 
домам. Рафик же с пятью задержанными уехал в двенадцать. Василий Петрович ушел 
одним из первых. Он шел к остановке и думал, что за удачно проведенное дело ему, 
может, дадут путевку в Крым или на Кавказ, и, предвкушая приятный отдых, 
улыбался, совсем уже забыв этих странных, вечно сомневающихся, что-то 
доказывающих людей.</p>
<p>Через два года Василий Петрович узнал, что молодого парня, выступавшего на 
последней «пятнице», и хозяина квартиры осудили на три года за «заведомо ложные 
измышления, порочащие советскиё государственный и общественный строй".</p>
<br/>

{% endblock content %}
