{% extends 'base.html' %}
<title>Виктор Сокирко и Лидия Ткаченко. Наши горы (1967-1973гг.) Джан-Туган</title>
{% block content %}



<br/><br/>
<div class="'n'"><p>1.-14. «Джан-Туган»
      <br/>Горы 1968</p>
<p>15.  Июнь 1968 года. В альплагерь едет первая смена.</p>
<p>16.  Большинство из нас еще не было близко с альпинизмом, и потому появление по курсу автобуса первых снежных вершин вызывает взрыв оживления.</p>
<p>  17. Воодушевлено гремит хоровая песня, вызывая мечты о горных приключениях... Конечно, будущее окажется совсем иным, но пока мы самозабвенно орем знаменитую песню Высоцкого.</p>
<p>18-23.Текст песни Высоцкого (см. в конце д/ф)<em>. 
На кадрах «отдыхающих новичков», легких занятий, он  должен бы звучать 
не трагически, а иронично. Ироничный тон продолжается и дальше, на повествовании 
о горных занятиях).</em></p>
<p>24-25.</p>
<p>26.  Альплагерь «Джан-Туган». Здесь оглушающе гремит музыка, здесь весело и много смеются, вкусно кормят и крепко спят.</p>
<p>27.  Здесь свежий горный воздух и ледяная вода,</p>
<p>28.  запах сосны и краски альпийских цветов.</p>
<p>29. Здесь все красиво, может, даже чересчур, если вспомнить ту автобусную песню... </p>
<p>30-31.</p>
<p>32.  Большинство из нас попало в «оздоровители» и никуда не ходило. Остальным же разрешили сходить на несколько простых вершин по безопасным маршрутам и под строгим наблюдением инструкторов.</p>
<p>33.  А как же романтика? Та, что звучала в песне? - - Она досталась лишь этим товарищам (инструкторам), хоть они и не пели той песни.</p>
<p>34.Зато у нас были занятия с 10 утра до 3-х и лекции после обеда. </p>
<p>35-36.Скальные занятия... </p>
<p>37-42. Подъем на ледник Кашка-таш – ледовые занятия. </p>
<p>43. Снежные занятия. Инструктор Шутин, не помню уж за что, выговаривает своей группе «значкистов». </p>
<p>44. Ох и скучно же Вадиму Михайловичу на этих склонах.</p>
<p>45. Он даже отвернулся от своих радостно прыгающих «котят». </p>
<p>46-49.  Сломали ледоруб, устали и возвращаемся назад – домой в лагерь.</p>
<p><i>С кадра 50. текст читает Лиля, уже серьезно-элегическим тоном. Ведь речь идет  о снежных вершинах, а к ним нельзя относиться несерьезно. Звучат стихи Лермонтова, навевая грусть и мистику. И мелкими букашками кажемся мы сами, ползающие по лицу молчаливых гигантов...</i></p>
<p>50.  Жизнь в горах, если даже ты всего-навсего значкист или просто турист, - по-особому волнует. Уж очень необычная здесь природа!</p>
<p>51.  Утренние контрасты света и тени настолько глубоки, что даже фото не в силах их передать.</p>
<p>52... Светает...<br/>
                   Еще у ног Кавказа тишина.<br/>
                   Молчит табун, река журчит одна, </p>
<p>53.        Вот на скале новорожденный луч<br/>
                   Зарделся вдруг, прорезавшись меж туч,<br/>
                   И розовый, по речкам и шатрам<br/>
                  Разлился блеск и светит тут и там...</p>
<p>54.  Сам лагерь расположен в сосновом лесу ущелья Адыл-Су.</p>
<p>55-56.  Вьется мошкара, зреет смородина, хвойный настой в воздухе.</p>
<p>57.  Можно подумать даже, что ты в Подмосковье, если бы не стояли вверху – стоит только поднять голову – сами снежные горы, недоступные начинающим альпинистам. </p>
<p>58-62.</p>
<p>63.  Природа не любит, чтобы нарушалось ее правило: лед наверху, жизнь внизу.</p>
<p>64.  Но люди ей противоречат и идут наверх.</p>
<p>65.  Там, на вершине, перед ними открывается вся снежная страна...<br/>              Что на земле прекрасней пирамид <br/>
                    Природы, этих гордых снежных гор? <br/>
                    Не переменит их надменный вид <br/>
                    Ничто, ни слава царств, ни их позор...</p>
<p>66.         О ребра их дробятся темных туч<br/>
                          Толпы, и молний обвивает луч<br/>
                          Вершины скал, ничто не вредно им.<br/>
                    Кто близ небес, тот не сражен земным...</p>
<p>67.    Кто посещал вершины диких гор<br/>
               В тот свежий час, когда садится день, <br/>
               На западе светило видит взор, <br/>
               И на востоке близкой ночи тень,</p>
<p>68.    Внизу туман, уступы и кусты...<br/>
                     Кругом все горы чудной красоты.<br/>
                     Как после бури облака стоят<br/>
                И странные верхи в лучах горят...</p>
<p>69.Вечерние горы теряют свою резкость, становятся мягкими и даже ласковыми. </p>
<p>70.Они как бы устали от бурь и борьбы и просят у людей мира и покоя. </p>
<p>71-73.   «Горные вершины спят во тьме ночной,<br/>
               Тихие долины полны свежей мглой... <i>(и дальше)</i></p>
<p><i>Рассказ о самих восхождениях я начинал с самого простого и легкого к более трудным, где был даже срыв нашей Эли и неудача соседней группы. В душе нарастает горечь, достигающая кульминации при взгляде на Ушбу – место гибели Славы...</i></p>
<p>74. …Но нам день новый не несет отдыха и покоя. Закончились занятия и начались восхождения.</p>
<p>75.  Первое, тренировочное восхождение на Виа-Тау мы сделали в своем ущелье, расположив палатки под громадной тенью Джан-Тугана, крестного отца нашего лагеря.</p>
<p>76.  Последний вечер перед восхождением и окрестные прогулки…</p>
<p>77-101.</p>
<p>102.  А через несколько дней мы уже были в новом районе – ущелье Ирик-и-Чата – двух рек, что начинаются с двух соседних ледников Эльбруса…</p>
<p>103.  Эльбрус... Он на целый километр выше самых высоких здешних вершин. Эльбрус не просто велик, он огромен, и как бы подавляет всю округу,</p>
<p>104 делая ее и вправду Приэльбрусьем.</p>
<p>105-110.</p>
<p>111.  Таким был Эльбрус ранним утром, когда мы вышли на траверс вершин «Кзген-баши», «Советский воин» и Восточный Ирик-Чата.</p>
<p>112.  6 часов утра, а мы уже выходим к перемычке</p>
<p>113. А дальше скалы, гребни, лед и камни, …перекличка связок, холод в пронизывающем ветре солнечного утра и волнение от высоты.</p>
<p>114-118.</p>
<p>119.  Вот на таких наклонных плитах не прошла маршрут наша Эля. Сорвалась с уступа, пролетела три метра и повисла на перилах, ударившись спиной о стенку.</p>
<p>120.  Все мы здорово тогда перепугались… Все, кроме Эли: «Ну надо же было выбрать такой бестолковым путь» - сказала она, как только встала на ноги...</p>
<p>121.  А ведь это несложные вершины – всего-навсего «двоечки». Но уже здесь случаются срывы. Уже здесь возможны удары от еще добродушных гор.</p>
<p>122-130.</p>
<p>131.  Вечером мы спустились вниз, вон к тем далеким горам, у подножья которых стоит наш родном лагерь... </p>
<p>132-133.  Спускались в лагерь, уже забыв, конечно, о досадном происшествии с Элей и надеясь, что нам разрешат еще одно внеплановое восхождение.Его не разрешили, и потому самым ярким в нашей памяти осталось восхождение на Когутай-баши.</p>
<p>134. Природа его долины нас очаровала…</p>
<p>135-137.</p>
<p>138. Сам Когутай кажется низкорослым в сравнении с соседней вершиной Донгуз-Оруна, но у нас он отнял немало сил за 11 часов восхождения, а некоторых даже обескуражил. Настолько неожиданным было случившееся, что из 14 человек на вершину поднялось только 7.</p>
<p>139-148.</p>
<p>149. Все началось вот на этой стенке, которую надо было пройти по веревке, навешенной инструкторами – как на занятиях. Но уже первый из нас поднимался почти полчаса вместо двух минут.</p>
<p>150. Сначала мы смеялись, ожидая своей очереди, но потом, когда пришлось лезть самим, веселье сменилось растерянностью. А двоих из соседней группы пришлось просто втаскивать.</p>
<p>151. И пошло восхождение вперекос. Вторая группа все больше отставала и выводила первых из графика. В конечном счете, инструктора сняли вторую группу с маршрута,</p>
<p>152. приказав спуститься с когутайского гребня на снежное плато./p&gt;
<p>153. Нам же повезло больше – мы дошли до вершины.</p>
<p>154. Тут, на вершине Когутая, мы впервые начали понимать, как случаются неудачи в горах, как горы могут стать суровыми к людям. Вдруг, неожиданно, но в сущности и всегда только по вине самих людей. Из-за того, что двое оказались слабыми, остальные ребята испытали горечь поражения на такой легкой вершине. А что было бы на трудных?..</p>
<p>155. С Когутая хорошо видна Ушба, одна из самых мрачных и опасных вершин Кавказа, которая отняла так много человеческих жизней.</p>
<p>156. После гибели Славы я не могу спокойно смотреть на это двурогое создание, как будто Ушба угрожает мне лично. Хотя и знаю, что она ни в чем не виновата, что виноваты люди…</p>
<p>157-158. Горы ставят людей в суровые условия борьбы и обнажают их истинные свойства – черную или светлую суть. И даже более того: они делают просто хороших людей людьми большими и смелыми. Вот за этим-то и идут люди в горы...</p>
<p>159.  Группа инструкторов идет в ущелье Шхельды на траверс Чатына – 5<i>б</i> категории трудности...</p>
<p>160-165. «Немецкие ночевки»…</p>
<p>166-167. Перевал «Ложный Чатын»…</p>
<p>168.  Виден район Бизенги…</p>
<p>169-170. Наша стоянка наблюдателей…</p>
<p>171.  Чатын, где погиб Мышляев и с ним, и где сегодня снова погибли три человека...</p>
<p>172-180. <i>(Текст песни Высоцкого, но уже в трагическим тоне и в его исполнении).</i></p>
<p>172. «… Кто здесь не бывал, кто не рисковал,<br/>
                     Тот сам себя не испытал,<br/>
                     Пусть даже внизу он звезды хватал с небес<br/>
                  Внизу не встретишь, как ни тянись,<br/>
                  За всю свою счастливую жизнь<br/>
                  Десятой доли таких красот и чудес…</p>
<p>174.  Нет траурных роз и траурных лент,<br/>
                     И не поход на монумент<br/>
               Тот камень, что покой тебе подарил.</p>
<p>175.  Как вечным огнем сверкает днем<br/>
                     Вершина изумрудным льдом,<br/>
                     Которую ты так и не покорил.</p>
<p>176.  И пусть говорят, да, пусть говорят…<br/>
                     Но нет, никто не гибнет зря.<br/>
               Так лучше, чем от водки и от простуд.</p>
<p>177.  Другие придут, сменив уют,<br/>
                     На риск и непомерный труд<br/>
                Пройдут тобой не пройденный маршрут…»</p>
<p>178-180</p>
<p>181.  «Сколько слов и надежд,<br/>
                 Сколько песен и тем<br/>
                 Горы будят у нас<br/>
                 И зовут нас остаться.</p>
<p>182.  Но спускаемся мы<br/>
               Кто на год, кто совсем, <br/>
              Потому, что всегда <br/> 
              Мы должны возвращаться</p>
<p>183.  Так оставьте ненужные споры.<br/>
                     Я себе уже все доказал:<br/>
               Лучше гор могут быть только горы, <br/>
             На который еще не бывал…</p>
<p>184.      «До свидания, горы!»</p>
</p></div>
<br/>

{% endblock content %}
