{% extends 'base.html' %}
{% block title %}Раздел 5. Глава 5.{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава V. </h2>
<h1>Раздел 5. </h1>
<a href="../../Tom2/khronik.html"> . «Хроника текущих событий».1971-1972 гг </a>
<table width="600"> <tr> <td>
<a href="Rasdel5-4.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel5-6.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
