{% extends 'base.html' %}
{% block title %}Глава 5. Раздел 6{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава V. </h2>
<h1>Раздел 6. </h1>
<p>В  1969  году мы продолжили знакомством с русским Западом, начатое за два года до этого с Новгорода и Пскова. Теперь мы ехали на  окраины своей  державы, держа в уме. что  Советская Прибалтика и   Прикарпатье будут нам интересны, как часть Центральной Европы. Тем более, что мы уже заимели очное знакомство с литовцем Витасом (в средне-азиатском походе)  и заочное с его женой Аушрой. </p>
<a href="../../Part3/Litwa/index.html"> Литва </a>
<p> Осенью случилось наше знакомство с Осетией, Грузией и Арменией- южными нерусскими окраинами советской империи </p>
<ul>
<li><a href="../../Part3/Gruzii/index.html"> Д/ф «Грузия»</a>
<li><a href="../../Part3/Armenia-69/index.html">Д/ф "Армения"</a>
<li><a href="../../Part3/Sew_armenia/index.html">Д/ф "Северо-армянские монастыри"</a>
<li><a href="../../Part3/Ararat/index.html">Д/ф "Арарат"</a>
</li></li></li></li></ul>
<table width="600"> <tr> <td>
<a href="Rasdel5-5.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel5-7.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
