{% extends 'base.html' %}
<title>Глава 6. Раздел 8</title>
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава VI. </h2>
<h1>Раздел 8.  </h1>
<li><a href="/Part1/Mangischlak/">Мангышлак -1979</a></li>
<li><a href="/Part6/Lesgini/">Лезгины</a></li>
<li>Аварцы
<ol>
<li><a href="/Part6/Awarzi_1/">Чабаньи горы</a></li>
<li><a href="/Part6/Awarzi_2/">Хунзах, Ботлих</a></li>
</ol>
</li>
<li><a href="/Part6/Checheni/">Чеченцы</a> чеченцы и ингуши</li>
<li><a href="/Part6/Aserbaid_1/">Азербайджанцы</a> Бакинская любовь</li>
<br/>
<table width="600"> <tr> <td>
<a href="Rasdel6-7.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel6-9.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
