{% extends 'base.html' %}
{% block title %}Глава 5. Раздел 10{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава V. </h2>
<h1>Раздел 10.  </h1>
<a href="../../Tom7/krym.html"> Крымский дневник </a>
<ul>
<li><a href="../../Part4/Krim_tat_1/index.html">"Татарский Крым"</a>
<li><a href="../../Part4/Krim_rus_2/index.html">"Крым русский"</a>
<li><a href="../../Part4/Krim_rasni_3/index.html">"Крым разноплеменный"</a>
<li><a href="../../Part4/Krim_Kokt_4_73/index.html">"Коктебель"</a>
<li><a href="../../Part3/Odessa/index.html">"Одесса"</a></li>
</li></li></li></li></ul>
<table width="600"> <tr> <td>
<a href="Rasdel5-9.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="Rasdel6-1.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
