{% extends 'base.html' %}
{% block title %}Глава 6. Раздел 9{% endblock %}
{% block content %}



<h2><em>В.Сокирко</em> Жизнь и поражения советского инакомыслящего </h2>
<h2>Глава VI. </h2>
<h1>Раздел 9.  </h1>
<a href="/Tom11/">Черноморье (1981)</a><br/><br/>
<li><a href="/Part8/Kubani-81/">Путешествие к родителям</a> Волгоград-Кубань</li>
<li><a href="/Part8/Pont-81-1/">Понт Евксинский: Папай,Пшада,Анапа,Фанагория,порт Кавказ</a></li>
<li><a href="/Part8/Pont-81-2/">Понт Евксинский: Керчь, Демирджи, Херсонес. Одесса, Белгород Дн.</a></li>
<br/>
Молдавия
  <li><a href="/Part8/Moldawi-1/">Идея 1 Рима</a></li>
<li><a href="/Part8/Moldawi-2/">Идея 2 Рима и др.</a></li>
<br/>

<br/>

{% endblock content %}
