{% extends 'base.html' %}
<title>Сокирко В.В. Ответ из журнала "Юность", 29.5.1956г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="0.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="2.html"> следующая </a>
</td></tr></table>
<h3>1.Ответ из ж. “Юность”, 29.05.56г. </h3>
<h2>Период I. 1956-61гг. (выпускник школы - студент)</h2>
<p><i>Витя родился в 01.01.39г. и в 1956г. заканчивал школу.</i></p>
<p><i><u>“Как большинство сверстников, я воспитывался в коммунистической вере, сам я долго верил в коммунизм  и в будущем мне хотелось бы продолжать называть себя этим именем (не люблю не мотивированных, не выстраданных измен своей вере)</u></i>, 
писал он в статье <a href="/ideology/samosoznanie/thinkingabout.html">“Размышления о социализме”</a>       , 1976г.</p>
<p><i>Из сохранившегося  ответа на его письмо из журнала “Юность” следует, что Витя считал важнейшим искоренении формализма в комсомольской работе.</i> </p>
<p>Здравствуйте, Виктор! Мы получили Ваше интересное письмо, в котором Вы ставите очень серьезные жизненные вопросы. Можно сказать, что они тревожат не только Вас, молодого человека, только входящего в жизнь, но и очень многих.</p>
<p>Многие наши читатели, и юноши и взрослые люди, откликнулись на письмо Лары Ришиной. Конечно, Вы и сами понимаете, что одним письмом или одной статьей ничего решить нельзя. Надо постоянно заботиться о том, чтобы исчез, наконец, формализм в комсомольской работе, чтобы молодежь расширяла свои горизонты и видела, что жизнь – гораздо шире узких меркантильных целей, что люди живут совсем не для того, чтобы хорошо зарабатывать и хорошо одеваться. Нам очень радостно было, читая Ваше письмо, видеть, что среди молодежи встречаются люди глубокой мысли, серьезно размышляющие над коренными вопросами жизни. В этом и есть залог того, что мещанство не будет процветать, что все мелкое, формальное, бездушное должно уступить место здоровому, значительному. Человечеству суждено идти вперед, а не топтаться на месте.</p>
<p>В одном из ближайших номеров, видимо, в № 6, будет опубликована статья, посвященная вопросам комсомольской работы.</p>
<p>Желаем Вам успехов. С приветом. Отдел публицистики</p>
<p><i>В этом же1956г., по  настоянию родителей, боявшихся, что его “докапывание до исторических истин”  плохо кончится, Витя поступил в МВТУ им. Баумана. Но... его общественный темперамент продолжал “бить мощным ключом”. </i></p>
<p><i>Как бессменный староста группы он много усилий приложил  для воспитания добросовестного отношения сокурсников к учёбе, для оживления комсомольской работы, заводил (в основном, письменные) дискуссии по животрепещущим вопросам, о том  как жить.</i> </p>
<br/>
<table width="600"> <tr> <td>
<a href="0.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="2.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
