{% extends 'base.html' %}
{% block title %}Сокирко В.В. “Некоторые вопросы философии кибернетики”, 1964г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="17.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="19.html"> следующая </a>
</td></tr></table>
<h3>18. “Некоторые вопросы философии кибернетики” (41с.)</h3>
<br/>
<table width="600"> <tr> <td>
<a href="17.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="19.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
