{% extends 'base.html' %}
<title>Сокирко В.В. Письмо группе, осень1958г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="1.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="3.html"> следующая </a>
</td></tr></table>
<h3>2. Письмо группе, осень1958г.</h3>
<p>В прошлую среду, ожидая вызова на бюро, мы разговорились о целине. Говорили четыре целинника с целью похвастаться перед своим комсоргом Аней. На меня лично этот разговор произвёл тягостное впечатление - сплошные жалобы, ужас, нытьё, очернение без всякого проблеска всей целины. И мне подумалось – что же это такое? Какое право имеем мы негодовать на пассивность ребят в работе, если сами мы –убеждённые комсомольцы, члены народной дружины, активисты по отношению к одной из величайших наших строек – целине не находим других слов, кроме сплошного нытья и оплёвывания, если мы за коммунизм только на словах. А на практике (в отношении к целине) проповедуем сплошное моральное нытьё и дезертирство.</p>
<p>Ведь целину мы в полном праве можем сравнить со строительством Комсомольска-на-Амуре. Там было ещё труднее и с  начальством, там было прямое вредительство. Однако же стройка заслуженно стала одним из героических дел ВЛКСМ. И разве позволительным был для комсомольцев 30-ых годов (расцвет комсомола) такой панический трёп по отношению к строящемуся городу. Такого типа выгнали б из комсомола сразу.</p>
<p>Я уверен, что Витя Митин только ненароком так “пропагандировал” целину, и если будет нужно, он снова поедет туда без всякого нытья. Но дело в том, что такие россказни  “бывалых целинников” тоже своего рода агитация, и вовсе не безобидная, а вредная.</p>
<p>Ты, Витя, говорил, что надо воспитывать людей, в 
частности, надо учить Аню комсомольской работе. Ты сам знаешь, да и знал, даже 
когда говорил это, что это только пустые, красивые слова. Оказывается, что не 
только слова. На деле мы учим противоположному, что никакой героики, никакого 
энтузиазма нет и не нужно, что целина – это <u>один 
формализм</u> (слова Ани), <u>сплошной ужас и 
издевательство над “культурными” студентами.</u> Ясно, что ты совершенно убедил её, что целина – это гадость, которую надо по возможности избегать. Тебе это легко далось, потому что Аня и так вовсе не обладает  коммунистической идеологией и не видит какой-то ясной цели в жизни, вроде построения коммунизма, чтобы всем было лучше.</p>
<p>Аня, ты, может, обидишься на эти слова. Но если на 
чистоту, то это ведь правда? Конечно, так прямолинейно ставить вопрос несколько 
наивно и смешно. Но в такой простоте заключается большое преимущество – ясность 
по существу. У человека должно быть всё просто, вернее, как можно проще. Вот 
Савва Мацохин ратует за культуру человека, его многосторонность, многогранность, 
за его сложность. Сперва я был согласен с ним, но когда прочёл в “Комсомолке ” 
слова Горького, что человек должен быть простым, что у него должно преобладать 
одно мировоззрение, что за духовной сложностью понимания всех людей часто 
скрывается самая неприглядная безыдейность, бессодержательность, тогда я понял, 
что не хватает в словах Саввы (это давно известно): у человека должен быть 
стержень, ясные взгляды на жизнь (для нас коммунистические), в соответствии с 
которыми он строит свои действия.</p>
<p>Согласись, что тебе этого не хватает.</p>
<p>А ведь это так просто! Жизнь это только способ 
существования белковых тел (Энгельс). У каждого живого тела только две заявки : 
есть (обмен веществ) и дать потомство. Уже животные начинают кооперироваться, 
заботясь не только о себе, но и о других. Тем самым в целом в стаде представляют 
грозную силу и этим защищают самих себя. Коллективная оборона, как и 
коллективная жизнь – это важный этап по сравнению с индивидуальной жизнью. Но у 
животных это только зачатки коллективизма. Человек же животное общественное 
(Франклин). У человека коллективизм – основа существования. Работая на всё 
общество- на самом деле, он только лучше работает на самого себя, на 
удовлетворение своих потребностей (теория “разумного эгоизма” Чернышевского – 
помогая другим, человек не делает жертвы, он только выполняет свои внутренние 
потребности).</p>
<p>С падением капитализма окончательно исчезнут все 
пережитки чистого, слепого, животного индивидуализма (для себя), кончится 
предыстория человечества – его выход из животной природы, начнётся настоящая 
история человечества – выход в космос. Отсюда вывод: надо действовать на общую 
пользу, значит, на пользу коммунизма. Вот Вовка Гольцов мне говорит: “Зачем 
столько много громких слов? Я понимаю так, что если будет кому-нибудь трудно, я 
не задумываясь помогу, чем смогу. Вот это настоящее, а остальное – брехня!” По 
моему такая постановка вопроса не верна. Дело не только в помощи, дело в том, 
для чего жить. Что считать для себя лично выгоднее- заниматься ли общественной 
работой или нет, работать ли в Москве или на трудном месте (Сибирь). С точки 
зрения индивидуализма низкого типа (животного) - надо остаться в Москве, с точки 
зрения индивидуализма высшего типа (“разумного эгоизма” или коммунизма) – в 
Сибирь. Притом поехать в Сибирь не как в жертву обществу, а как внутренняя 
личная необходимость. И так во всех вопросах выбора путей в жизни. Вот так надо 
ставить вопрос – о правильном понимании жизни. Сейчас. В период развёрнутого 
строительства коммунизма, когда везде взялись за идеологию, нужно особо браться 
за пропаганду. Именно это должно быть самым главным у нас в жизни. А у нас 
конкретнее – разобраться в книге Николаевой “Битва в пути” и познакомиться с 
новым Китаем, который скоро по праву будет называться коммунистическим. Во 
многом в Китае сейчас видны черты будущего коммунистического общества, которое 
мы строим. Надо у них учиться, пока не поздно. Это особенно ясно становится, 
когда прочтёшь книгу “Под небом Китая” В.Василевской. Читайте эту книгу, и если 
не слепые – вы много поймёте.</p>
<p><i>Шли годы: активно набирались 
знания, опыт, мучительно шла переоценка своего романтизма, появлялись новые 
вопросы...</i></p>
<br/>
<table width="600"> <tr> <td>
<a href="1.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="3.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
