{% extends 'base.html' %}
{% block title %}Сокирко В.В. "Неудовлетворенность трудом как один из факторов технического прогресса" - реферат для аспирантуры социологического отделения Института истории техники и естествознания, лето 1965г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="22.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="24.html"> следующая </a>
</td></tr></table>
<h3>23. "Неудовлетворенность трудом как один из факторов технического прогресса", лето 1965г.</h3>
<p>Прежде чем приступить к конкретному социологическому 
исследованию, следует иметь рабочую гипотезу того, что надо доказать. Нельзя 
начинать исследование на пустом месте. Лучше иметь маловероятную гипотезу, чем 
никакую. Только с таких позиций я подхожу к нижеизложенному.</p>
<p>1.Повышение производительности труда –основной закон 
развития расширенного товарного воспроизводства. Основное выражение которого 
состоит в неуклонном повышении органического строения капитала, отношения 
стоимости машин и стоимости рабочей силы, участвующих в производстве. Этот закон 
действителен как для капитализма, так и для социалистического производства, хотя 
форма его проявления в разных условиях различна. Иногда этот закон формулируют 
как всеобщий закон передачи производственных функций от человека к машине, или 
как закон вытеснения человека машиной из производства, но не это будет нас 
сейчас интересовать. Интересно выяснить причины этого явления, что, собственно, 
сводится к вопросу о причинах технического прогресса.</p>
<p>Конечно, причин и влияний на технический прогресс очень 
много и в целом это слишком большая тема для одного исследования. Но можно 
заинтересоваться только частью темы, только одним фактором, влияющим на 
повышение органического строения капитала – а именно, фактор неудовлетворенности 
трудом.</p>
<p>2. Как известно, при капитализме противоположность между 
трудом и капиталом обладает весьма резкой, антагонистической формой, что 
выражается не только в классовой борьбе, не только в факте эксплуатации труда 
рабочего, но и в характере самого труда, в "отчужденности" его для рабочего, что 
хорошо раскрыто Марксом в его "Рукописи 1844-го года":</p>
<p>"Отчуждение является не только в конечном результате 
(отчуждается продукт труда), но и в самом акте производства. Труд для рабочего 
есть что-то внешнее, не принадлежащее к его сущности... он в своем труде не 
утверждает себя, а отрицает, чувствует себя не счастливым, а несчастным, не 
развертывает свободно свою физическую и духовную энергию, а изнуряет свою 
физическую природу и разрушает свой дух. Поэтому рабочий только вне труда 
чувствует себя самим собой, а в процессе труда он чувствует себя оторванным от 
самого себя. У себя он тогда, когда он не работает, а когда он работает, он уже 
не у себя. В силу этого труд его не добровольный, а вынужденный, это 
принудительный труд, это не удовлетворение потребности в труде, а только 
средство для удовлетворения других потребностей, нежели потребность в труде… 
Отчужденность труда ясно сказывается в том, что как только прекращается 
физическое или иное принуждение к труду, от труда бегут, как от чумы. Внешний 
труд, труд, в процессе которого человек себя отчуждает, есть принесение себя в 
жертву, самоистязание. И, наконец, внешний характер труда проявляется в том, что 
этот труд принадлежит не себе, а другому".</p>
<p>Неудовлетворенность трудом при капитализме вызывается, 
прежде всего, его отчуждением и выливается в ожесточенную классовую борьбу, 
являющуюся одним из основных факторов технического прогресса. Это положение 
хорошо обрисовано в докладе А.А.Зворыкина "Социальные проблемы современной 
научно-технической революции": "К.Маркс в своих трудах показывает, например, как 
в условиях США, при недостатке рабочих и более высокой заработной плате по 
сравнению с европейскими рабочими, капиталисты были особенно заинтересованы во 
внедрении в производство машин, как в конкретных исторических условиях, при 
обострении борьбы между предпринимателями и рабочими в Англии, капиталисты 
развивали технику, стремясь использовать ее для того, чтобы поставить на колени 
рабочих. “Начиная с 1825 г.,- пишет К.Маркс,- почти все новые изобретения были 
результатом конфликта между рабочими и предпринимателями, которые всеми силами 
старались обесценить специальную подготовку рабочих. После каждой сколько-нибудь 
значительной стачки появлялась какая-нибудь новая машина". Это, конечно, 
основное целеполагание для капиталистов при введении новой техники. Только 
беспрерывная классовая борьба пролетариата вынуждает капиталистов идти по пути 
технического прогресса, введения машин вместо одностороннего увеличения 
эксплуатации.</p>
<p>3. Совершенно по иному обстоит дело с факторами 
технического прогресса при социализме. Основным законом социализма является 
максимальное удовлетворение растущих потребностей трудящихся при одновременном 
облегчении труда и уменьшении его продолжительности. Единственно возможным путем 
для этого является повышение производительности труда, применение машин, 
технический прогресс. Однако если не удовлетвориться констатацией этого факта, 
то возникнет вопрос: "А в чем причины этих потребностей, столь основательно 
влияющих на материальные условия нашего существования, на технический прогресс, 
а через них и на все общественные отношения?"</p>
<p>Потребности в еде, одежде, книгах, искусстве и прочих 
материальных и духовных благах не требует своего обоснования. Это аксиомы 
очевидные и не требующие доказательства. Но вот потребность людей в облегчении и 
уменьшении производственного труда не является столь очевидной и может скорее 
вызвать удивление, поскольку широко известно положение о том, что труд создал 
человека, что труд – является потребностью человека, одной из основных, а при 
коммунизме – самой главной. С другой стороны – если бы у рабочих при социализме 
не было бы неудовлетворенности трудом и желания уменьшить его продолжительность 
и облегчить всемерно, то вся программа партии и правительства по постепенному 
сокращению рабочего дня оказалась бы бесцельной и направленной против желания 
трудящихся. Очевидно, что это бессмыслица. 8-часовой рабочий день когда-то 
являлся великим достижением рабочего класса нашей страны. Планы по переходу на 
самый короткий в мире (6-часовой) в мире вызывает чувство гордости и 
удовлетворения у всех трудящихся. Очевидно, что чувство неудовлетворенности 
своим производственным трудом и желание его сократить существует в 
действительности, объективно и может быть обнаружено конкретным социологическим 
исследованием.</p>
<p>4. В чем же причина этого феномена? – появления 
неудовлетворенности трудом в условиях отсутствия главного фактора, вызывавшего 
отчуждение труда при капитализме – отсутствия эксплуатации? Конечно, отчуждение 
труда при капитализме и неудовлетворенность трудом при социализме имеют не 
только различные причины, но и совершенно различный характер и форму. 
Неудовлетворенность трудом в социалистических условиях не только не принимают 
антагонистическую резкую форму, форму отвращения и ненависти, но даже 
обнаруживается с трудом, до сих пор не является доказанным фактом для всех наших 
социологов. Достаточно для примера привести сборник "Социология в СССР", где ряд 
авторов высказывают противоречивые суждения: одни говорят, что 
неудовлетворенность трудом совершенно нехарактерна, является исключением для 
наших рабочих, другие же приходят к выводу, что для большинства рабочих труд еще 
не стал самой первой потребностью, что для большинства существует 
неудовлетворенность трудом и, собственно, именно поэтому материальная 
заинтересованность пока еще играет очень важную роль. По-моему, это более 
логично.</p>
<p>В отношении причин неудовлетворенности трудом 
большинством социологов, видимо, признано, что кроме причин временного и 
устранимого в сегодняшнее время, вроде организационных неполадок, несоответствия 
профессии склонностям и т.д., существуют неустранимые сейчас причины, а именно – 
необходимость пока низкоквалифицированного труда, разделение труда и другие 
причины, вызванные характером и техническим уровнем современного производства… 
А.А.Зворыкин пишет: "Ликвидация частной собственности не может сразу 
преобразовать производительные силы и сделать их полностью адекватными новым 
общественным отношениям. Это рождает двойственную обусловленность отчужденного 
труда: с одной стороны, социальной формой, что является решающим моментом, а с 
другой стороны, техническим уровнем, организацией производства, распространением 
на социалистическом производстве взаимоотношений, соответствующих природе этого 
производства. Для ликвидации явлений отчуждения, имеющих место и на советских 
предприятиях, необходимо дальнейшее техническое совершенствование производства и 
особенно механизация трудоемких работ".</p>
<p>Короче говоря, основным источником неудовлетворенности 
трудом при социализме является несоответствие современного технического уровня 
производства и психофизиологических возможностей человека (как говорил Маркс - 
"родовой сущности человека"). "Человек с его психофизиологическими 
возможностями, с его мышлением на всех предшествующих этапах использовался в 
производстве, если можно так выразиться, не по назначению. И только тогда, когда 
он не станет выполнять грубые физические или расчлененные операции, которые он 
вынужден выполнять сейчас, когда он будет выведен из непосредственного процесса 
производства, а в основу производства будет, говоря словами Маркса, положен 
преобразованный естественный процесс, только тогда раскроются во всей полноте 
действительные возможности человека". (А.А.Зворыкин).</p>
<p>Что же это за психофизиологические возможности человека 
и почему они не соответствуют характеру современного производства? Тут следует 
вспомнить определение Маркса человека вообще, человеческой сущности: "Человек 
есть существо родовое, относится к себе, как к существу универсальному и потому 
свободному". В этом определении в неявной форме заключен ответ на наш вопрос. 
Два самых существенных свойства человека, а именно – универсальность и свобода 
не могут быть согласованы полностью с потребностью современного производства в 
строго специализированном труде, труде ежедневном, обязательном, строго 
регламентированном и далеком от полной свободы: хочу – работаю, хочу – нет, или: 
сегодня я – рыбак, а завтра – писатель. Ни одно производство, использующее 
рабочую силу, не сможет построить свою работу с учетом изменчивых и непостоянных 
желаний работника, производство обязательно будет регламентировать поведение 
человека и этим стеснять его свободу. То же самое касается и свойства 
универсальности: любое производство (развитое) требует работников разных 
специальностей и квалификаций и требует выполнения от них строго определенных 
функций. И трудно представить себе другое производство.</p>
<p>Но почему же тогда психика человека не подстраивается 
под требования материального производства? Почему человек не становится 
несвободным и неуниверсальным?</p>
<p>Дело в том, что психика человека, кроме основного и 
определяющего влияния материального производства, социальных отношений, 
испытывает столь же глубокое влияние физиологической, биологической стороны 
человеческого организма, которая, по мнению большинства ученых, остается 
неизменной после окончательного выделения человека из животного царства, т.е. 
после окончания действия на человеческий организм действия закона естественного 
отбора. Действительно, после перехода человека к трудовой деятельности, когда 
жизнь индивида и общества, в котором он живет, зависит в основном не от его 
физической организации, а от технических и социальных факторов, различные 
мутации могли лишь разнообразить человеческий род, но никак не изменять его в 
целом в каком-то определенном направлении. Биологическая природа человека 
осталась той же, что и у первобытных кроманьонцев, когда люди жили небольшими 
племенами, все были равны, не было никакого разделения труда (кроме 
естественного разделения занятий между мужским и женским полом), максимум 
свободы в условиях жизни среди природы. Надо думать, что в условиях такого 
первобытного коммунизма не существовало противоречий между деятельностью 
человека и его биологической природой. Надо также думать, что в условиях 
свободного и универсального труда, в условиях коммунизма, может окончательно 
исчезнуть противоречие между "родовой" сущностью человека и его трудовой 
деятельностью, а вместе с ними всякое неудовлетворение своим трудом.</p>
<p>Конечно, влияние социальных отношений, воспитания и пр. 
имеют колоссальное значение в деле преодоления неудовлетворенности трудом у 
каждого члена общества. Именно этим влиянием объясняется тот факт, что очень 
большое количество людей, особенно в зрелом возрасте, совершенно не чувствуют 
неудовлетворенности своим трудом, любят свою профессию, свой труд, и не такой, 
каким он будет при коммунизме, а таким, каков он есть сейчас: 
специализированный, регламентированный производством, строго обязательным и т.д. 
Тем не менее, полностью переделать человеческую психику, уничтожить влияние 
биологической стороны, социальное влияние и воспитание не может. Именно поэтому 
современное производство не может обойтись без материального стимулирования 
производственного труда, без подкрепления потребности к труду – удовлетворением 
потребности в пище, одежде и т.д. ("кто не работает, тот не ест").</p>
<p>5. Обрисовав в общих чертах причины неудовлетворенности 
трудом у работников и влияние этой неудовлетворенности на развитие материального 
производства в сторону все большего применения машин, уменьшения доли живого 
труда, в сторону технического прогресса было бы очень интересно выяснить на 
практике: "Как именно, конкретно влияет неудовлетворенность трудом на 
технический прогресс? Есть ли между ними прямая связь, и какая именно? А может 
быть вышеизложенная гипотеза неверна?» Ответом на это может служить только 
конкретное социологическое исследование.</p>
<p>Во-первых, надо убедиться в реальном существовании 
неудовлетворенности трудом, существовании не только в качестве досадного 
исключения или пережитка, а в качестве широко распространенного и законного 
свойства работников нашего производства. Имеется в виду не то чувство 
неудовлетворенности (вернее, отвращения) к труду, которое лежит в основе 
капиталистического отчуждения труда. Это чувство гораздо ближе к той творческой 
неудовлетворенности достигнутым, которая, по всеобщему признанию, характерна для 
наших людей (хотя и не совпадает с ним).</p>
<p>Исследованием этого вопроса занимались многие социологи. 
Однако в силу различных методик, в силу их недостаточной точности, а также, 
возможно, в силу различного понимания термина «неудовлетворенность трудом», эти 
исследования дают самые различные результаты, что не может быть признано 
нормальным. Именно поэтому вопрос считается до сих пор до конца не 
выясненным.</p>
<p>Для примера можно привести данные различных авторов, 
изложенные в одном сборнике «Социология в ССС» и в докладе А.А.Зворыкина:</p>
<p>l) По данным Наумовой, на вопрос «Любите ли Вы свою 
работу» из 58-и рабочих ответили: «да» – 52 человека, «нет» – 5 человек, 
неопред.ответ – 1. Вывод – только 10% опрашиваемых рабочих не удовлетворены 
своим трудом. Два контрольных вопроса уточнили эту цифру: на вопрос «Думаете ли 
Вы о своей работе во время досуга и всегда ли с хорошим чувством?» получено 35 
положительных ответа (следовательно, неудовлетворенность трудом можно 
подозревать у 39% опрашиваемых); ответы на вопрос «Какое время дня Вам больше 
всего нравится» заставляют подозревать неудовлетворенность трудом у 18-ти 
человек (нравится вечер, как отдых), т.е. 31% опрашиваемых. Как вывод – 
большинству советских рабочих совершенно не присуще чувство неудовлетворенности 
своим трудом (тем более, что по наблюдениям самого автора, у 38-ми рабочих 
работа по своему характеру была операционной, однообразной, неинтересной).</p>
<p>2) По данным А.Н.Когана, из 175-ти рабочих 64,1% - 
удовлетворены своей профессией, 10,7% - не вполне удовлетворены, 25,2% - не 
удовлетворены. Опрос 389 человек показал, что только 15,4% не удовлетворены 
своим трудом. Вывод – аналогичный предыдущему.</p>
<p>3) Опросы 600 рабочих, проведенных Э.Г.Валентиновой, 
показали, что 84,8% всех опрошенных удовлетворены своим трудом и только 15,2% не 
удовлетворены. Вывод – аналогичный предыдущему.</p>
<p>4) По данным Г.И.Попова, из 2700 молодых рабочих на 
вопрос «Удовлетворены ли Вы своим трудом» 40% дали положительный ответ, 18% - 
неудовлетворительный, а 42% - неопределенных ответ.</p>
<p>Вывод – что большинству рабочих в той или иной мере 
присуща неудовлетворенность трудом, что на степень удовлетворения влияет, прежде 
всего, содержание и условия труда, степень его разделенности.</p>
<p>5) По данным В.В.Мшвениерадзе и Г.В.Осипова исследование 
рабочих двух конвейеров показало, что 95% рабочих считают свой труд 
неинтересным, монотонным, недовольны им. Это очень ясно говорит о том, что 
крайняя степень разделенности труда и принудительность его ритма вызывает 
крайнюю степень неудовлетворенности трудом.</p>
<p>6) Интересны данные о соотношении моральных и 
материальных стимулов к труду приводит Гурьянов. Опрос 525 рабочих дал следующее 
распределение ответов на вопрос «С чем Вы согласны»:</p>
<p>а. «Хороша та работа, где ты приносишь пользу, где ты 
нужен». …40%</p>
<p>б. «Нельзя забывать о заработке, но основное – смысл 
работы и ее полезность для общества». …42%</p>
<p>в. «Заработок главное, но надо думать и о смысле 
работы». … 12%</p>
<p>г. «Хороша любая работа, лишь бы ее оплачивали». … 
2%</p>
<p>д. «Меня угнетает работа». … 1,5%</p>
<p>е. «Не знаю». … 2,5%</p>
<p>Имеет большое значение, что опрос ведется не просто: 
«да» или «нет», а в пятибалльной системе, что позволяет гораздо более полно и 
точно выявить действительную картину вещей. Большинство (60%) связывает работу с 
обязательностью заработка, материального стимула и не считает работу на 
производстве своей самой первой необходимостью. Следовательно, у каждого из этих 
рабочих имеется в той или иной степени неудовлетворенность своим 
производственным трудом.</p>
<p>7) Наиболее, на мой взгляд, ценные и точные данные 
приводят Здравомыслов и Ядов в своей статье «Отношение к труду и ценностная 
ориентация личности». Большое количество опрашиваемых молодых рабочих (2665 
человек), забота о правильности подбора опрашиваемых (случайно-районированная 
выборка), количественное выражение всех результатов и строгая математическая 
обработка их, сопоставление субъективных мнений рабочих о характере своего 
труда, выявленных опросом, с объективными результатами их труда и с их 
ценностными ориентациями, придают большую убедительность и достоверность их 
данным, а, следовательно, и выводам. Авторы приводят средние оценки по 
результатам в пятибалльной системе (от –2 до +2): объективное отношение к труду 
- 0,03; удовлетворение работой +0,16; понимание общественной значимости своего 
труда +0,06, т.е. все три показателя близки к нулю. Очень большое влияние на 
степень удовлетворения трудом оказывает характер труда (от +0,22 до –0,12). 
Только 10% опрашиваемых считают труд на производстве своей главной ценностью, 
первой потребностью. Это убедительно доказывает наличие неудовлетворенности 
трудом у большинства рабочих и показывает большое значение системы материального 
стимулирования.</p>
<p>Думается, что при исследовании неудовлетворенности 
трудом следует ориентироваться на методы, используемые Здравомысловым и 
Ядовым.</p>
<p>6. Выше подчеркивалась тесная связь между необходимостью 
материально стимулировать труд и степенью неудовлетворенности трудом. 
Подразумевалось, что чем тяжелее труд, чем большее неудовлетворение он вызывает, 
тем больший материальный стимул должен существовать для осуществления этого 
труда. Прямую связь здесь установить довольно трудно, так как на величину 
зарплаты гораздо больше влияет культурно-технический уровень работника, его 
производственная квалификация. Но, если брать группы работников одного какого-то 
уровня, или каким-либо другим способом вычитать этот фактор, то, может быть, 
удастся получить зависимость величины зарплаты от неудовлетворенности трудом. 
При этом надо будет учесть, что обычно рабочий не делает различий между 
характером труда и величиной зарплаты, так что на вопрос: «Удовлетворены ли Вы 
своей работой?» он может ответить: «Да», имея в виду свой заработок. Это надо 
строго различать. Видимо, здесь большую помощь сможет оказать корреляционный 
метод.</p>
<p>Имея такую зависимость, мы можем интерпретировать 
богатейшие данные по зарплате, которые имеются по всей стране и почти за все 
годы, интерпретировать как косвенные данные по неудовлетворенности трудом 
(относительно других профессий, конечно).</p>
<p>7. Имея данные по неудовлетворенности трудом, было бы 
интересно их сопоставить с основными и <u>постоянными</u> 
причинами, их вызывающими, а именно – со степенью разделения труда и со степенью 
его принудительности, обязательности. Конечно, прежде, чем сопоставлять, следует 
очистить эти данные от всех побочных влияний на неудовлетворенность трудом 
(плохая организация труда, отсутствие инженерно-психологических мероприятий и 
т.д.), видимо, с помощью корреляционного метода.</p>
<p>Как мне кажется, наибольшую трудность представляет 
классификация видов труда по степени его разделения. Большинство авторов сейчас 
пользуется делением на пять больших групп:</p>
<p>а. Рабочие, занятые на конвейерах и полуавтоматах;</p>
<p>б. Рабочие ручного труда;</p>
<p>в. Рабочие, занятые на универсальных станках и 
машинах;</p>
<p>г. Рабочие, занятые управлением автоматических линий или 
непрерывным производством (например, химическим);</p>
<p>д. Рабочие, занятые ремонтом и наладкой современного 
оборудования.</p>
<p>Эта классификация показала свою пригодность на практике, 
но она является недостаточно полной и точной и выглядит чересчур эмпиричной. 
Следовало бы попытаться расклассифицировать виды труда по критерию его 
разделенности – а именно, по количеству неодинаковых производственных операций в 
единицу времени (допустим, в рабочую смену), производимому одним рабочим. 
Конечно, неизвестно, насколько точно можно произвести подсчет этих операций по 
технологическим документам, имеющимся на производстве, насколько объективно 
будет отражать этот показатель разделенность труда, а, следовательно, и степень 
неудовлетворенности им. Возможно, что количество операций в смену надо будет 
устанавливать путем непосредственного наблюдения. Кроме того, сейчас в 
производстве действует классификация труда по виду профессии и по степени 
квалификации. Было бы очень важно попытаться каждому виду труда по этой 
классификации поставить в ряд степень его разделенности. Такой классификацией 
было бы удобно пользоваться при исследовании неудовлетворенности трудом. 
Конечно, это довольно большая работа и сначала можно сделать только пробу, 
попытку добиться успеха.</p>
<p>8. Еще большие трудности обещает попытка установления 
связи между техническим прогрессом и степенью разделенности труда. В данном 
случае технический прогресс можно отождествить с течением времени, ибо нет ни 
одного вида труда, на котором бы ни сказалось с течением времени влияние 
технического прогресса. Не имея данных за прошедшее время, можно исследовать 
труд рабочих на оборудовании различного времени выпуска или на оборудовании, 
типичном для того или иного времени. Но надежды на выявление четкой 
закономерности здесь почти нет, так как технический прогресс не просто 
уничтожает старое разделение труда введением машин, но одновременно вводит новое 
разделение труда. Достаточно вспомнить, как осторожно обрисовал эту связь Маркс 
в своем труде «Нищета философии». Полемизируя с Прудоном, который считал машину 
как соединение многих операций, как синтез разделенного труда, как антитезу 
разделения труда. Маркс возражал: «Нет ничего нелепее, как видеть в машинах 
антитезис разделения труда; синтез, восстанавливающий единство раздробленного 
труда. Машина есть соединение орудий труда, а вовсе не комбинация работ самого 
рабочего… По мере того, как развивается концентрация орудий, развивается 
разделение труда, и наоборот. Вот почему за каждым крупным изобретением в 
области механики следует разделение труда, а всякое разделение труда ведет к 
новым изобретениям в механике…(отметим эту прямую связь, установленную Марксом, 
между научно-техническим прогрессом и разделением труда – а через него и 
неудовлетворенностью трудом) Введение машин усилило разделение труда внутри 
общества, упростило функции рабочего внутри мастерской, увеличило концентрацию 
капитала и еще больше расчленило человека».</p>
<p>Однако, с другой стороны, Маркс видел и другие стороны 
фабричного производства, что доказывает следующий абзац: «Разделение труда на 
фабрике характеризуется тем, что труд совершенно теряет здесь характер 
специальности (надзор за машинами прост). Но как только прекращается всякое 
специальное развитие, начинает давать себя знать потребность в универсальности, 
стремление к всестороннему развитию индивида. Фабрика устраняет обособление 
профессии и профессиональный идиотизм.</p>
<p>Г-н Прудон, не поняв даже этой единственно революционной 
стороны фабрики, делает шаг назад и предлагает рабочему не ограничиваться 
изготовлением одной двенадцатой части булавки, а изготавливать поочередно все 
двенадцать ее частей (перемена труда?). Этим-де путем рабочий достиг бы полного 
и всестороннего знания булавки. Вот в чем заключается синтетический труд г-на 
Прудона. Никто не станет оспаривать, что шаг вперед и шаг назад составляют 
вместе тоже некое синтетическое движение».</p>
<p>Видимо, только сочетание этих внешне противоречивых 
сторон влияния машин, технического прогресса на разделенность труда, как это 
делает Маркс, может выявить истину. То возражение, что вышеприведенные положения 
Маркса относятся только к капиталистическому производству, не может быть принято 
всерьез, так как здесь речь идет о влиянии на разделение труда не социальных 
условий, а материальных средств, машин.</p>
<p>Думается, что исследование степени разделенности труда в 
зависимости от технического прогресса, от времени не может дать прямую 
зависимость между ними, а какую именно – неясно! Ответить на это может только 
исследование. Но как первую гипотезу можно принять, что технический прогресс или 
время не влияют с этой стороны на неудовлетворенность трудом.</p>
<p>9. Сложным вопросом является выяснение степени 
обязательности труда на степень неудовлетворенности им. Сложность заключается 
здесь опять же в классификации труда по степени его обязательности, 
принудительности, несвободности. Прежде всего, эта степень проявляется в 
продолжительности обязательного ежедневного рабочего дня: чем дольше длится 
обязательный рабочий день, тем тягостнее труд для человека. Затем большую роль в 
принудительности труда играют такие факторы, как наличие ночных и вечерних смен, 
особенно тягостных для человеческого организма, как тот принудительный ритм, 
который задает машина работающему при ней человеку и так далее. Видимо, рабочие 
ночных смен и конвейеров займут в этой классификации один конец, а писатели и 
прочие работники творческого труда, не имеющие обязательного рабочего дня – 
противоположное место.</p>
<p>Можно быть уверенным, что исследование установит четкую 
связь, прямую пропорциональность между объективным свойством принудительности 
труда и субъективным чувством неудовлетворенности трудом у работника. Было бы 
интересно выяснить субъективные мнения работников именно об этом свойстве 
производственного труда.</p>
<p>Так как технический прогресс неуклонно действует в 
сторону уменьшения продолжительности рабочего дня, увеличения творческой 
свободной стороны производственного труда (что следует установить зависимостью 
принудительности труда от времени), то в той же степени уменьшается и степень 
неудовлетворенности трудом. Именно в уменьшении обязательного труда проявляется 
гуманизация труда, переход к свободному коммунистическому труду, труду, как 
досуг, как радость, как удовлетворение первой потребности, как спорт, как 
средство воспитания; труду, полностью соответствующему сущности человека. И 
одновременно именно в этом проявляется действие технического прогресса, 
уменьшающего обязательный труд человека в производстве вводом все новых 
машин.</p>
<p>10. Данная тема предполагает много сложных и трудных 
исследований. Выполнять их на большом количестве опрашиваемых, видимо, 
невозможно. Целесообразно ограничиться исследованием небольшого количества цехов 
или небольших предприятий и других учреждений. Именно вследствие небольшого 
количества фактов, которые можно собрать, особое внимание надо уделить их 
репрезентативности, строгости и качеству их обработки математическими средствами 
и так далее. Следует также обратить внимание на полноту обработки фактов. Ведь 
на неудовлетворенность трудом кроме вышеотмеченных причин влияют масса других 
вещей: и разного вида моральные факторы, и отношения в коллективе, и степень 
организации труда, и наличие или отсутствие инженерно психологических 
мероприятий, и различный склад психики у разных работников и много другое. Все 
эти факторы представляют сами по себе значительный интерес, поскольку позволяют 
именно сейчас и с помощью небольших средств уменьшить неудовлетворенность 
трудом, улучшив этим жизнь людей. Поэтому исследованием этих факторов заняты 
многие советские социологи и именно поэтому нельзя пренебрегать возможностью их 
исследовать, раз собраны данные. Кроме того, точное исследование этих факторов 
необходимо для того, чтобы полностью их устранить при определении влияния 
разделенности и обязательности труда на неудовлетворенность трудом.</p>
<p>То же самое касается и влияния культурно-технического 
уровня работника на его неудовлетворенность своим трудом. Кроме того, в 
осмыслении этой темы большую роль может сыграть материал, уже накопленный 
советскими социологами.</p>
<p>11. Наконец, самое последнее и самое главное. Следует 
сопоставить исследованную степень неудовлетворенности трудом и скорость 
внедрения машин, скорость технического прогресса. В отраслях и для профессий с 
наибольшим разделением труда, с наибольшей принудительностью труда, и, 
следовательно, с наибольшей неудовлетворенностью трудом и наибольшей оплатой 
труда (сравнительно с другими работами того же культурно-технического уровня), 
скорость технического прогресса должна быть наибольшей. Высокая стоимость живого 
труда вызывает усиленное внедрение машин, усиленную замену живого труда 
машинным.</p>
<p><i>Хотя в конце 1965г. были сделаны 
ещё две попытки стать аспирантом –философом, Витя уже созрел до понимания, что с 
помощью официальной науки решать мировоззренческие вопросы у него не получится, 
надо расти самостоятельно.</i></p>
<br/>
<table width="600"> <tr> <td>
<a href="22.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="24.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
