{% extends 'base.html' %}
{% block title %}Сокирко В.В. Е.Дорошу – автору книги "Размышления в Загорске" 15.12.67г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="26.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="28.html"> следующая </a>
</td></tr></table>
<h3>27. Е.Дорошу –автору книги “Размышление в Загорске”,15.12.67г.</h3>
<p>Уважаемый товарищ Дорош! Не пугайтесь объема этого 
послания. Вы вольны распорядиться им как угодно, хотя мне и было бы жаль, если 
оно сразу попадет в мусорное ведро.</p>
<p>В конечном счете, причиной письма были Ваши "Размышления 
о Загорске", очень напомнившие мне некоторые из собственных домыслов… Отсюда 
предположение – возможно, Вам будет интересно, как нечто подобное рождается в 
другой голове.</p>
<p>Если это, действительно, Вас интересует, то у нас кроме 
этого письма есть еще две возможности:</p>
<p>1) диафильм на 2,5 часа про московские церкви (цветные 
диапозитивы ~ 250 московских еще сохранившихся храмов – с текстом на 
магнитофоне);</p>
<p>2) 4 альбома, в течение 3-х лет составленных одним 
пенсионером – каждая страница посвящена одному из 500 существовавших до 
революции храмов: краткая его история, вид прежний и вид существующий.</p>
<p>Но, конечно, это не главное, ради чего послана вся кипа 
бумаги. Я инженер и занятий мне хватает, так что этим я занимался не из-за 
скуки, а только по острому, почти необходимому желанию.</p>
<p>Однако не хочется быть графоманом. Отсюда главная 
просьба: просмотрите наш дневник северного похода 1967г. и скажите: стоит ли над 
ним работать (например, сокращать в 10 раз, выявлять рациональное зерно), или – 
это сплошная серость без проблеска и любое продолжение здесь работы – будет все 
тем же графоманством? Особенно важно Ваше мнение по двум сценариям диафильмов, 
приложенных в конце.</p>
<p>Почему просьба именно к Вам? – Только из-за "Размышлений 
о Загорске". Если уж Вам это будет совсем неинтересно, то не стоит оно моего 
времени.</p>
<p>Конечно, Ваше возможное молчание сможет стать некоторым 
ответом, но от графоманства это излечить не сможет. Нужен твердый и логичный 
совет.</p>
<p><i>Ответа не последовало.</i></p>
<p><i>После неудачных попыток 
профессионально заняться философией и социологией Витя нацеливается на свою 
прикладную науку – сварку. Он добивается доступа в заводскую лабораторию и 
своего участия в проводимых там экспериментах, связывается для консультации со 
своей кафедрой МВТУ и, наконец, поступает туда в заочную аспирантуру, проводит 
свои опыты на заводском оборудовании, делает экспериментальную установку, пишет 
обзоры и статьи, подаёт две заявки на изобретение. Но все же, это было не 
главной частью его увлечений.</i></p>
<p><i>А потом наступил 1968г.</i></p>
<p><i><b>"Я 
считаю1968 год кульминацией не только моей жизни, но и жизни многих моих 
сверстников…"</b></i></p>
<p><i>Это было время 
головокружительного освобождения, подъема всех духовных сил. Даже стихи 
рождались у Вити( при написании сценария для диафильма о байдарочном походе по 
рекам Архангельской области) и рассказ-раздумье, в котором он пытался на 
материале своих альпинистских наблюдений решить вопрос "Почему люди не вступают 
в движение защиты прав?"</i></p>
<br/>
<table width="600"> <tr> <td>
<a href="26.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="28.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
