{% extends 'base.html' %}
{% block title %}Сокирко В.В. Для тех, кто оставался в понедельник , 21.11.1960г.{% endblock %}
{% block content %}




<h3>3.Письмо группе, 21.11.1960г. (“Для тех, кто остался в понедельник”) </h3>
<p>Хороший был разговор. О многих вещах поговорили, уяснили 
суть, многих заинтересовали, некоторым помогло разобраться. Особенно это было 
важно для меня, т.к. я впервые вынужден был отчетливо объяснить ребятам 
некоторые наиболее спорные стороны своего мировоззрения. Ребята , в основном, 
критиковали мои взгляды, и не сумел тогда полностью отстоять их, опровергнуть 
критику. Защиту своих взглядов я хочу осмыслить и изложить в этой бумажке.</p>
<p>Ещё хочется отметить поразительный факт, что обсуждение 
в понедельник показало глубокое, на мой взгляд, отличие частных взглядов наших 
ребят от марксистского мировоззрения, и что ближе всего, по-моему, подходят к 
теории марксизма мои взгляды. Но это возможно моё личное субъективное 
убеждение.</p>
<p>Теперь критика критики, отрицание отрицания.</p>
<p>Об обязательности сомнения (конкретнее, в наших условиях 
- буржуазной и религиозной пропаганды)</p>
<p>Краткий перечень доводов против </p>
<p>1. Не все люди одинаковы: одни умнее, другие глупее, 
одним буржуазная пропаганда безвредна, другие могут сразу попасть под её влияние 
(и это вред). Одним людям , возможно, она полезна – для общего развития, для 
развития способности спорить; другие же надорвутся, её переваривая, и таких, 
деревенских, большинство. Надо считаться с интересами большинства, которые 
важнее интересов кучки первых.</p>
<p>2. Если разрешить враждебную пропаганду, надо будет 
тратить много сил на пропагандистскую работу, притом тратить лучшие силы, 
оторвать их от других дел, что причинит вред строительству коммунизма.</p>
<p>3. И вообще, зачем нарочно допускать сомнения в 
правильных вещах? Неужели мы будем и при коммунизме сомневаться в необходимости 
общественной собственности? Зачем эти усложнения? Зачем мы допускаем пропаганду 
антинаучного, религиозного мировоззрения? Зачем заставляем людей проходить 
заново мучительный путь поисков истины? Не лучше ли запретить религиозную 
пропаганду для пользы дела коммунизма?</p>
<p>Таковы возражения, которые я, думаю, сумел переварить. 
На этой недели я заглянул в статью Мао “О противоречиях внутри народа” – как 
правильно там раздолбано, мои смутные размышления там четко и точно отпечатаны. 
Но попробую своими словами.</p>
<p>1.Да, люди разнообразны по своему характеру, 
темпераменту, по характеру своих способностей и ума, но не по наличию их. Если 
такие различия сейчас и есть (отсутствие ума), то это несущественно и в 
коммунизме – нашем скором будущем - должны исчезнуть.</p>
<p>Все люди (за редким исключением) рождаются с глазами, 
ушами и т.д., со способностями и с будущим умом. Другое дело, что способности 
эти весьма различны по характеру их применения. Одни рождены быть сапожниками, 
другие профессорами. Делать отсюда вывод, что сапожник –глупее профессора – 
увольте! Все профессии равны!</p>
<p>Так что, неверна теория, которая объявляет только 
интеллигентов способными сомневаться и переносить буржуазную пропаганду, ибо, 
мол, интеллигенты умнее и развитее народа. Дело вовсе не в способностях, а в 
том, что интеллигенции по роду своих занятий приходится больше заниматься 
общественными и административными делами, которые народ из-за унаследованного им 
от царизма невежества и неразвитости передал интеллигенции. Но сейчас наступило 
время, когда народ становится всё более развитым, всё более однородным в смысле 
развитости, забирает у интеллигенции её монополию на способность разбираться в 
общих, общественных делах. Этому процессу надо помогать, а не тормозить его 
ссылкой на то, что если народ не развит, то и не надо его тревожить, пусть таким 
и остаётся, пусть плодотворно работает, а интеллигенция уж как-нибудь сумеет 
управиться с решением общественных задач, не делясь с народом своими сомнениями 
и спорами – каждый пусть делает своё дело. Идиллия!</p>
<p>Всё это довольно логично. Результат – отрицание 
общественной роли народа, антимарксистские взгляды.</p>
<p>2.Нужно ли усиление антимарксистской борьбы и не жалко 
ли сил? Да ведь основная задача партии –т акая борьба. Коммунисты всегда 
раздували идеологическую борьбу, стремясь разрешить все противоречия, быстрее 
резче обучить массы в ходе борьбы марксизму. Ведь известно, что идеологическое 
воспитание у нас очень отстаёт от технического развития нашего и требуется 
резкий качественный подъём идеологической работы, когда мы подступаем к 
коммунизму. И не так упрощенно понимать, как Савва – все коммунисты станут по 
профессии агитаторами, но все коммунисты в жизни, на своей работе должны стать 
агитаторами в обыденном общении с массами. Здесь содержится качественный скачок 
в области улучшения коммунистической пропаганды.</p>
<p>3. Да, конечно, разрешение буржуазной пропаганды 
обострит идеологическую борьбу, а где есть борьба, там кипит жизнь и тратятся 
жизненные силы. Да, это так и никто не думает, что раскрытие ворот враждебной 
пропаганде сразу убедит всех наших людей в пользе коммунизма, что нам можно 
будет последних пропагандистов переквалифицировать в хозяйственников, в 
директоров каких-либо контор. Вопрос в другом – нужно ли такое обострение 
идеологической борьбы? </p>
<p>Ведь, действительно, нам хватает и такой борьбы, которую 
приходится вести из-за просачивания буржуазной пропаганды через все рогатки, но 
нарочно, по своей воле раскрывать ворота буржуазной пропаганде – своему врагу – 
да это разбой!</p>
<p>Другое дело, если бы можно было полностью закрыть всякий 
доступ буржуазной пропаганды и предрассудков к молодым людям, охранить их от 
этого тлетворного влияния и кормить только социалистической кашицей, - тогда 
можно было бы совсем отказаться от обременительной идеологической работы и 
отдохнуть. Молодым с детства в школе внушали правильные мысли, дети бы их 
впитывали, усваивали и в жизни по ним бы действовали. Вот было бы хорошо и с 
покойно!</p>
<p>Таковы мечты и идеалы некоторых “деятелей”. Но ясно, что 
эти взгляды догматиков и метафизиков – неправильны, а люди, придерживающиеся 
этих взглядов и краем уха не слышали о марксистской теории познания, о борьбе 
противоположностей, как4 о главном источнике развития.</p>
<p>Ясное дело, где им знать, что процесс познания 
противоречив, что знание без сомнения невозможно, что человек не может полностью 
поверить чему-нибудь, если сам не посомневается предварительно и не ознакомится 
со всеми возможными сомнениями, отрицаниями данной теории и не отвергнет их 
(второе отрицание), убедившись в правильности данной теории. Если же вы будете 
ради облегчения познания скрывать от ученика любой факт против, любое сомнение, 
ваш ученик не скажет вам спасибо. Ведь если он будет знать, что вы от него 
что-то скрываете, он не будет верить вашим правильным учениям; если же он будет 
вам верить дословно, то когда-нибудь (возможно, в решающий для жизни момент), 
встретившись с крамольным возражением или отрицательным фактом, ваш ученик 
первым делом жестоко разочаруется в вас, усомнится в вашем учении, и кто его 
знает, сумеет ли он, вскормленный на чисто правильных мыслях, не привыкший 
бороться с сомнениями и неправдою, не подготовленный, не развитый духом в 
борьбе, сумеет ли он отвергнуть эту неправду и выйти на правильный путь? Весьма 
вероятно, что нет! И в этом виноваты будете вы!</p>
<p>Но неужели, чтобы объяснить людям какую-то идею, нужно 
перебрать все сомнения, заново пройти путь открытия и развития её? Ведь это 
слишком долго! Конечно, это так. Человек, конечно, не может вобрать в себя весь 
опыт предыдущих поколений, их борьбы. Это слишком много для его слабых сил и 
способностей. Он вбирает в себя результаты.</p>
<p>Человечество в сомнениях, невероятных, зигзагах и 
ошибках приобретает знания. Конечно, самое трудное –это пройти путь познания 
первым, особенно, если он не обладает научным диалектическим методом познания. 
Тогда открыватель действует вслепую, совершая массу ошибок, тратя массу труда. 
Ему зачастую приходится отрицать свои собственные представления, которые только 
в процессе поисков усовершенствуются и приобретают новые свойства, новую 
гибкость, поднимаются на новую ступень. Люди, идущие вслед, уже вооружены новыми 
представлениями, знают, где можно встретить врага, как и чем его победить. Они в 
любой момент могут повторить все опыты и доказательства заново и тем самым 
ответить на главные возражения. Но зачастую люди настолько доверяют 
первооткрывателям, что некритически воспринимают их результаты. Но это познание 
неглубокое, хотя и лёгкое. </p>
<p>Конечно, если речь идёт о таких отраслях, в которых 
данному человеку достаточно иметь поверхностные знания, но в своём деле такого 
быть не должно. Надо понимать, что речь идёт не о том, что обязательно надо не 
доверять добросовестности людей, проверять какие-то опыты, дело в том, что 
нельзя глубоко познать конечные результаты какой-либо теории, не преодолев хотя 
бы мысленно, хотя бы в главных чертах того пути сомнений и неудач, который 
пройден первооткрывателем.</p>
<p>Теперь перейдём к буржуазной пропаганде. Надеюсь, никто 
не захочет утверждать, что общественные вопросы – вопросы практической 
деятельности людей, не касаются всех людей, поскольку каждый из них - член 
общества, что без знания общественной теории никто не сможет стать полноценным, 
активным членом общества, строителем коммунизма. Отрицание этого было бы полным 
отказом от марксизма. А раз такое знание необходимо, то как же обойтись без 
активной идеологической работы (т.е. учёбы). А какая же это учеба и познание, 
если они запрещают сомневаться и думать, если учителя не стараются, чтобы 
учащийся как можно больше прошёл сомнений и отверг их, хотя бы на первых порах и 
с чужой помощью, а дальше – сам? Какая же это учёба, если закрывается один из 
главных источников сомнения (в наших условиях - иностранное радио)? Тем более, 
что в жизни такие вопросы, противоречащие нашей теории, встречаются очень часто. 
Буржуазной демократии нельзя закрыть вход, она всё равно просачивается и 
возрождается от поколения к поколению в виде буржуазных предрассудков. Как 
говорил Маркс, болезнь уходит вглубь и только сильнее становится в подполье. 
Запрещение буржуазной пропаганды – это ведь фактически запрещение марксистской 
учебы. Тот факт, что такая учёба у нас всё-таки есть, хотя и очень слабая и 
неэффективная, объясняется тем, что буржуазная пропаганда, её основные идеи у 
нас допускаются, хотя на зло и вред самим себе твердится об обратном. А надо 
признать это как принцип и на этой основе развернуть подлинно коммунистическое 
обучение масс. Ведь допускаем мы принципиально религиозную пропаганду и 
благодаря этому люди всё больше уясняют себе подлинное научное мировоззрение, 
научную философию. Посмотрите на крайние случаи – куда подаются люди, порвавшие 
с религией – в диамат. То же самое и с буржуазной пропагандой....</p>
<p><i>В нашем архиве есть и другие 
Витины письма, предназначенные для однокурсников, но, помня про “не объять 
необъятное”, я перейду к нашему последнему студенческому году, 1961 (в начале 
1962 мы уже защитили дипломы и... стали взрослыми). Весной 61г. он с товарищами 
взялся за проведение общеучилищного диспута “О времени и о себе” (о неравнодушии 
к проблемам нашего общества). Этому же вопросу посвящено</i> </p>
<br/>

<br/>

{% endblock content %}
