{% extends 'base.html' %}
{% block title %}Сокирко В.В. Запись собрания профсоюзного актива МТЗ 21.02.69.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="35.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="37.html"> следующая </a>
</td></tr></table>
<h3>36.Запись собрания профсоюзного актива Московского трубного завода 21.2.1969</h3>
<p>(Запись выступлений приведена, в основном, по памяти, 
поэтому не может быть полным и точным протоколом собрания, но смысл выступлений 
и отдельные запомнившиеся фразы приведены точно.)</p>
<p>Конференц-зал на 80 человек переполнен. На повестке дня 
обсуждение поведения члена коллектива инженера Сокирко В.В. Выбирается президиум 
из 3-х человек и предоставляется слово <b>секретарю 
партбюро завода Манохину В.И.</b></p>
<p>Товарищи! Все вы помните события 20 августа. По всей 
стране прошли митинги, поддержавшие решение партии и правительства об оказании 
братской помощи чехословацкому народу. Весь наш народ одобрил ввод советских 
войск и войск наших союзников… Но нашлись отщепенцы, которые пошли против воли 
народа. Это – лингвист Бабицкий, преподаватель Литвинов, внук нашего известного 
наркома, Делоне, говорят, – сын академика, Богораз-Брухман и Дремлюга. 25 
августа они вышли на Красную площадь с лозунгами: "Да здравствует свободная и 
независимая Чехословакия", "Долой оккупантов", "За нашу и вашу свободу", 
"Свободу Дубчеку". Остановились у Мавзолея. Им несколько раз предложили 
разойтись, но они не послушались, после чего их забрали. В сентябре состоялся 
процесс над этими товарищами ("Волк им товарищ" – нач. проектотдела Шуст В.А., 
"Не товарищи, а граждане" – голос из зала). Они были осуждены как нарушители 
общественного порядка: Литвинов – к 5 годам ссылки, Бабицкий – к 2 годам, 
остальные – к трем годам тюрьмы. И вот в декабре было написано письмо на имя 
депутатов Верховного Совета СССР и РСФСР и в редакции газет "Известия", 
"Советская Россия". Содержание этого письма – несогласие с осуждением этих 
пятерых, что, мол, участникам демонстрации были вынесены неправильные приговоры. 
Приписка в конце письма гласила: "Могли бы подписать и больше людей, но боялись 
трудовой дискриминации". О какой трудовой дискриминации может идти речь? Одним 
из подписавшихся был член нашего коллектива, работник технического отдела 
Сокирко Виктор Владимирович… Действия Сокирко наносят ущерб нашему государству… 
Отщепенцы не согласны с нашими порядками… Пусть он сам нам расскажет.</p>
<p><b>Вопрос</b>: Какова 
национальность демонстрантов: чехи или русские?</p>
<p><b>Ответ</b>: Нет, наши. Ну, 
советские подданные.</p>
<p>Слово предоставляется <b>Сокирко 
В.В.</b></p>
<p>Товарищи! Вчера меня попросили рассказать вам о мотивах, 
руководствуясь которыми я подписал обращение к депутатам Верховного Совета с 
просьбой о пересмотре судебного приговора пятерым демонстрантам на Красной 
площади 25 августа.</p>
<p>С одним из них, Константином Бабицким, я знаком лично. 
Познакомились с ним и его женой в позапрошлом году, в турпоходе по Карелии, при 
осмотре деревянных церквей в Яндом-озере и Типиницах. С тех пор у нас 
поддерживалось нечастое и нерегулярное семейное знакомство, хотя с ним больше я 
не встречался. Возможно, что если бы не августовские события, это знакомство так 
и заглохло, но, начиная с августа прошлого года, я узнал о нем очень много от 
его друзей и жены. Эти сведения, вместе с собственными карельскими 
впечатлениями, позволяют мне нарисовать довольно полно его облик.</p>
<p>С первого взгляда в нем каждому виден добрый и 
положительный человек – уже по одной улыбке и поведению. Все отмечают его 
необычайную работоспособность – отдается работе целиком, самозабвенно. Даже в 
тюрьме он ухитрился продолжать свою научную работу лингвиста, составляя из 
клочков бумаги картотеку имен существительных. Продолжает ее он и сейчас в Коми 
АССР, в ссылке, после рабочего дня плотником, продолжает, хотя знает, что теперь 
уже наверняка его книгу не опубликуют. А еще год назад подготовленную 
диссертацию – не позволят защитить. Он продолжает работать просто в силу своей 
увлеченности ученого.</p>
<p>Второй его главной чертой является большая 
принципиальность и моральная стойкость. Человек, построивший крепкую и дружную 
семью, вырастивший троих детей – не может быть морально неустойчивым, как 
писалось с наших газетах.</p>
<p>Но не это главное. Важно, что он был буквально воспитан 
нашей литературой – на ее образцах мужественности и стойкости в защите своих 
идеалов. Важно, что Костя считал идеалы нашего общества самыми гуманными и 
справедливыми и тяжело переживал все, что на его взгляд мешало их осуществлению. 
Он считал, что в наших ошибках, особенно таких тяжелых, как во времена 
сталинского произвола и хрущевского волюнтаризма виноваты сами люди, т.е. мы 
сами. Именно то, что они не имеют смелости сразу высказаться против очевидных 
ошибок и нарушений социалистических законов, не имеют гражданского мужества 
отвечать за свою страну и ее действия.</p>
<p>Именно осознание этого обстоятельства, что идеалы 
социализма и коммунизма неосуществимы без ответственности и гражданского 
мужества каждого из нас, заставило его очень чутко относиться ко всем случаям 
возвращения к жизни сталинизма и нарушений Советской Конституции. И даже если 
Костя бывал неправ в своих конкретных взглядах, он всегда был откровенен и 
честно высказывал свои убеждения.</p>
<p>Большим ударом… ("Вы нам здесь агитации не разводите" – 
директор завода Слепцов С.А.)</p>
<p>"Я могу прекратить, но как Вы тогда узнаете о моих 
мотивах?"</p>
<p>"Пусть говорит, должен же он объяснить" – голос из зала. 
</p>
<p>…Большим ударом для Кости явился ввод наших войск в 
Чехословакию. До этого он с большим сочувствием относился к послеянварскому 
курсу чехословацких коммунистов и ввод войск против воли большинства членов 
партии и правительства он расценил как нарушение ленинских принципов права наций 
на самоопределение и уважения права братских партий на самостоятельную политику, 
как акт агрессии против малого народа, акт, запятнавший честь великого 
социалистического Союза. Согласитесь, что это очень тяжелые мысли и убеждения. 
На собрании в институте 21 августа он сказал так: "Мать-Родину не выбирают, но 
сегодня мне стыдно за свою страну". – Только высокое осознание своего 
гражданского долга требовало от него публичного осуждения неправильного, на его 
взгляд, действия своей страны. Результатом явилась демонстрация на Красной 
площади, как традиционном месте обращения граждан к правительству. Костя 
прекрасно осознавал возможные последствия своего поведения и для самого себя, и 
для семьи, и для родителей, которые сейчас им гордятся. Друзья отговаривали его, 
но он сказал, что пойдет на площадь даже один. Иначе он не мог!</p>
<p>Я не берусь обсуждать здесь: прав ли был Костя по 
существу в вопросе о вводе войск, поскольку этот вопрос достаточно сложен и 
отрицательная позиция по нему многих зарубежных компартий – наших верных друзей 
– тому ясное доказательство. Только время внесет полную ясность в этот вопрос, 
но в любом случае – прав ли был Костя или неправ – он поступил согласно своей 
совести и в рамках советских законов, ради защиты идеалов социалистической 
Родины. Даже если он неправ, он не только мог выступить с критикой определенного 
действия правительства, но и морально был обязан выступить с такой критикой, раз 
был убежден в ее правоте. Раз и навсегда он отверг принцип: "Моя хата с краю, я 
ничего не знаю" и этим поступком доказал, что он может открыто отстаивать свои 
убеждения. …Тем не менее, Костю и его товарищей арестовали.</p>
<p>На суде в октябре постоянно подчеркивалось, что судят их 
не за убеждения, что в нашем свободном обществе граждане не могут преследоваться 
за различие убеждений или за их открытое высказывание, а, мол, судят их за 
возможное нарушение движения транспорта и за распространение заведомо ложных 
сведений – по статье 190-1.</p>
<p>Однако все обстоятельства демонстрации и разбирательства 
на суде показывают, что эти обвинения несправедливы, что суд не был 
беспристрастным и совершил грубое нарушение закона. Вот почему я подписал письмо 
с просьбой о пересмотре приговора.</p>
<p>Как же происходило все? Попробую изложить, полагаясь на 
свидетельства очевидцев:</p>
<p>В воскресенье 25 августа в середине дня 7 человек 
приехали на Красную площадь, встали на тротуаре у Лобного места и развернули 
плакаты "Да здравствует независимая Чехословакия", "Руки прочь от ЧССР", "Позор 
агрессорам", "Свободу Дубчеку" и др…. Они простояли, однако, только несколько 
минут, когда с центра площади к ним подбежали мужчины в штатском с криками: "Бей 
жидов и антисоветчиков". Подбежав, они закричали: "Расходись", но демонстранты 
остались на месте. Тогда люди в штатском стали вырывать у них плакаты. Причем, 
если Костя без возражений сам отдал свой плакат, то тех, кто замешкался, начали 
бить. Очевидцы говорят, что в течение пяти минут в этой свалке ничего не было 
видно, пока не подъехали легковые машины и демонстрантов не втолкнули в них…. 
Литвинова били по голове каким-то портфелем. Причем человек в штатском, который 
в течение года постоянно следил за ним, сейчас участвовал в этом с криком: 
"Наконец-то я добрался до тебя, жидовская морда". Ленинградцу Виктору Файнбергу 
разбили лицо в кровь и выбили зубы. Затолкнули в машину и Наталью Горбаневскую, 
литературного работника, а коляску с ее трехмесячным ребенком погрузили в другую 
машину.</p>
<p>Все это продолжалось минут 15, народа вокруг было 
немного, и только когда все было кончено, стали собираться люди, но ничего не 
найдя – расходились. В отделении милиции арестованные заявили протест и 
потребовали наказания людей, которые избивали их, выкрикивали антисемитские 
лозунги и прервали мирную и законную демонстрацию. Однако это требование не было 
принято во внимание. Во время суда выяснилось, что эти люди в штатском, хоть и 
утверждали, что находились на Красной площади случайно, но работали в одной и 
той же воинской части и явно были сотрудниками госбезопасности. Они утверждали, 
что избиения не было, а Виктор Файнберг сам себя избил в кровь, будучи 
ненормальным. Именно на том основании, что он сам себя избил, он не был 
привлечен к суду, а помещен в психолечебницу.</p>
<p>Нa суде не отвергалось право подсудимых на демонстрацию 
и публичную критику правительства. Сами обвинения носили характер мелочных 
придирок. Например, лозунги "Руки прочь от ЧССР" и "Позор агрессорам" не были 
предметом обвинения, а вот лозунг "Свободу Дубчеку" послужил поводом для 
обвинения всех в распространении заведомо ложных сведений. Однако каждому ясно, 
что до 27 августа не было известно, где находится Дубчек, и были все основания 
считать, что он арестован как правый ревизионист. Значит, никто не мог знать и о 
ложности лозунга "Свободу Дубчеку" и что это обвинение несправедливо. Второе 
обвинение – что демонстрация могла собрать толпу, которая бы помешала движению 
машин. Однако защита на суде неопровержимо доказала, что случиться этого не 
могло, да если бы и случилось, то вина за это лежала не на демонстрантах. Тем не 
менее, суд полностью принял сторону прокурора, не приняв во внимание требование 
защиты о полном оправдании подсудимых.</p>
<p>И даже в самом характере наказания было допущено 
беззаконие: вместо максимально возможного срока по этим статьям в 3 года тюрьмы 
дали: Литвинову – 5 лет ссылки, Богораз – 4 года, Бабицкому – 3 года ссылки, и 
двум остальным – 3 года тюрьмы.</p>
<p>Весь ход суда показывает, что на деле их осудили именно 
за факт демонстрации, за саму критику определенных действий правительства. И 
факт такого открытого судебного беззакония и нарушения конституционных прав 
весьма настораживает, заставляет просить все наши высшие органы присмотреться к 
этому делу, разобраться в нем и наказать виновных. Я уверен, что только если это 
будет сделано, и если так будут разбираться в аналогичных случаях, только тогда 
у нас закроется путь к нарушению законности, к возвращению времен сталинского 
террора и к установлению прокитайских порядков.</p>
<p>Конечно, я вполне сознаю, что вряд ли мои доводы будут 
восприняты сейчас как справедливые. Именно поэтому я и не обращаюсь к вам с 
просьбой тоже протестовать против несправедливого дела. Конечно, я осознаю, что 
для меня эта позиция может навлечь много неприятностей как в смысле работы и 
аспирантуры, так и в смысле семейном. Но в жизни бывает такой момент, когда 
человек должен твердо встать в защиту товарищей и справедливости. Иначе он будет 
подлецом, и совесть, в конце концов, не даст ему жить. Ведь когда вырастут дети, 
они спросят: "А ты, отец, нашел в себе мужество, нашел ли ты силу устоять перед 
уговорами и угрозами?" Мне хочется тогда не отводить глаз и ответить: "Да, такое 
было в моей жизни, и нет на мне вины за ошибки тех лет".</p>
<p><b>Вопрос из зала</b>: "Расскажите 
биографию" (шум: "He нужно")</p>
<p><b>Вопрос зам.нач.техотдела Арапова 
В.Д.</b>: "За Литвиновым следили? Значит, он совершил преступление?"</p>
<p><b>Ответ</b>: "Нет, но в январе 
прошлого года он подписал обращение к мировой общественности по поводу процесса 
Гинзбурга, Галанскова, Добровольского и Дашковой.</p>
<p><b>Вопрос нач.мех.лаб. Ельчанинова 
В.Н.: "Вы остальных так же хорошо знаете, как Бабицкого?"</b>/p&gt; 
<p><b>Ответ</b>: "Нет, хуже".</p>
<p><b>Второй вопрос Ельчанинова</b>: 
"А кто вам рассказывал о событиях на Красной площади?"</p>
<p><b>Ответ</b>: "Отвечать на такие 
вопросы не собираюсь, так как считаю их провокационными".</p>
<p><b>Вопрос механика цеха № 3 Карпова 
В.Т.</b>: "С их убеждениями Вы согласны. Почему не пришли на митинг?"</p>
<p><b>Ответ</b>: "О своих убеждениях я 
говорить не буду. О чехословацком вопросе я уже сказал – считаю его очень 
сложным. А на митинг 25 августа не пришел, прежде всего, потому, что не знал о 
нем, работал в вечернюю смену на стане".</p>
<p><b>Вопрос зам.секретаря партбюро 
Фурсова И.Г.</b>: "Кто писал письмо?"</p>
<p><b>Ответ</b>: "Не знаю".</p>
<p>(Шум в зале: "Что здесь – суд, что ли?")</p>
<p><b>Вопрос нач.техотдела Плаксина 
И.Н.</b>: "Вы полностью согласны с текстом письма?"</p>
<p><b>Ответ</b>: "Да".</p>
<p><b>Вопрос</b>: "Назовите фамилии 
людей, которые могли подписать, но не подписали?"</p>
<p><b>Ответ:</b> "Какой же смысл 
называть фамилии этих людей, когда они именно и не хотели, чтобы назывались их 
фамилии?"</p>
<p><b>Вопрос нач.отдела кадров 
Личновой М.Н.:</b> "Вы всех 90 человек знаете?"</p>
<p><b>Ответ:</b> "Нет".</p>
<p><b>К.т.н. Ковалев И.М.:</b> 
"Расскажите процедуру зарождения письма"</p>
<p><b>Ответ:</b> "Оно зародилось в 
среде друзей осужденных и подписано было ими же".</p>
<p><b>Второй вопрос Личновой М.В.:</b> 
"Встречаетесь ли Вы со своими единомышленниками? Есть ли у вас какая 
организация?"</p>
<p><b>Ответ:</b> "Ни о какой 
организации не может быть и речи. Лишь только друзья осужденных".</p>
<p><b>Вопрос председателя завкома 
Алешина:</b> "Кто вам дал это письмо?"</p>
<p><b>Ответ:</b> "Повторяю, есть 
друзья…" </p>
<p>Слово предоставляется <b>зам.секретаря партбюро завода Фурсову И.Г.:</b></p>
<p>"Мы собрались здесь не убеждать Виктора, он убежден, а 
обсуждать его и осуждать действия, которые Вы наворотили! Мы ответственны за 
действия своей семьи, а коллектив ответственен за действия любого. Удивительно, 
что Сокирко окончил МВТУ, а страдает политической слепотой. Есть всякие Богораз, 
но никто не будет их защищать… Весь народ их осудил… А то что же получается: 
"они в ногу, а рота – не в ногу?"</p>
<p>Мне приходилось в период событий в Чехословакии 
руководить партийной организацией: Владимир Иванович отдыхал в Болгарии, а 
Глебов – в Бельгии, приходилось информировать людей. Так в Киевском районе 
нашлось только семь человек, высказавшихся против ввода войск. Из них один 
воздержался. Это – организация, которая направляется какой-то рукой!!!</p>
<p>Нужно пересмотреть приговор суда и привлечь их за 
политические действия. Есть Варшавский договор: если в любой стране возникают 
контрреволюционные силы, мы вводим туда свои войска. Значит – все по закону!</p>
<p>Вы сами – сын нашего хорошего коммуниста, и он тебя 
также осуждает! А то с Костей или чай пил в Карелии, или там рыбку удил: а 
товарищ! А с нами ты посоветовался, в партком пришел?</p>
<p>А вот когда брали в армию, то поднял всех, вплоть до 
директора! Отец рабочий, а ты пренебрегаешь рабочим классом, и это я сейчас 
докажу. Судишь людей, что они бестолковые, а ты, мол – пример! В своей 
заметке-ответе "Откровенному" (редакционная статья, начавшая дискуссию: "Нужны 
ли нам самодельные диафильмы?" перед заводским вечером-огоньком "За чашкой 
кофе") ты писал следующее – и ты не будешь отрицать – в парткоме она и сейчас 
лежит с твоей подписью: "Разве мало у нас ходят в музеях, и в кино особенно, 
серых, духовно неразвитых людей?" (В заметке эта фраза служила обоснованием 
необходимости художественной самодеятельности и диафильмов, в частности.В.С.) 
Серые! Он называет рабочих – нас, кто ходит в кино – серыми! А у нас серость 
сорок лет назад как канула в вечность после культурной революции!!</p>
<p>Вы плюете в глаза коллективу! Агитацию разводите! Костя! 
А что мы знаем о Косте! Много Костей! Он стыдится!!! Кто из великих людей 
говорил так?? Белинский?! Гоголь?!!</p>
<p>Зажирели! Плюет в глаза коллективу, а коллектив для него 
сделал много. Мы вызволили тебя из Коломны, дали комнату, позволили учиться…</p>
<p>Нет, это кампания, направляемая рукой контрразведки! А 
они очень хитро действуют, даже наши старые пословицы используют: "Щи да каша – 
еда наша" – как пример бедности ассортимента блюд нашего рабочего…</p>
<p>Надо не только тех сажать, а и тех, которые их защищают. 
Тем – не меньше как до 10 лет, и этим… этим столько же !!!”</p>
<p><b>Выступление механика трубного 
цеха № 2 Карпова В.Т. </b></p>
<p>“Я не буду говорить, как вели себя эти люди… здесь 
достаточно говорили. Виктора знаю… еще по институту (видимо, имеется в виду 
исключение Сокирко в МВТУ из комсомола за "неубежденность в 
марксизме-ленинизме")…</p>
<p>Мне не понравились ссылки на сталинский режим, на 
хрущевский волюнтаризм. Я считаю, что мы слишком много в свое время об этом 
кричали. Создается впечатление, что чуть ли не каждый второй сидел! А я родился 
в 1940 году, при сталинском режиме, вырос, и образование получил!!</p>
<p>То, что сейчас возрождается сталинский режим – это ложь. 
Ведь если на 230 миллионов прижмут одного трепача, то это – не сталинский 
режим!</p>
<p>Нашлись защитники, выступили за Чехословакию! А где вы 
были, когда шли митинги? Всего 90 человек, а у нас в Москве – 6 миллионов.</p>
<p>Ты убежден, хочешь правды добиться. Хорошо. Никто не 
запретил с лозунгами выходить, но ведь надо же по порядку… Нет, лишь бы 
покрасоваться на кинопленке зарубежных корреспондентов…</p>
<p>Почему же ты не с нами, не в нашей партии, а всё - "за 
чашкой кофе", за чашкой коньяку?? Так вот, если ты грамотный такой, то лучше 
тебе стать в хвост пятого стана и покатать там ленту.</p>
<p>Такие вещи делать – подсудное дело.” </p>
<p><b>Выступление начальника техотдела 
Плаксина И.Н. </b></p>
<p>“Я хочу рассказать, как Сокирко работает. Работает он 
очень поверхностно, неглубоко. Т.е. учтет несколько факторов, а еще несколько не 
учтет, в результате письмо или другой материал оказываются подготовленными 
неправильно. Его способности больше, чем он работает. Сейчас, когда он стал 
начальником бюро стандартов и техусловий, работает также – неглубоко. Я ему об 
этом говорил… Он не заинтересован давать ту отдачу за свою зарплату, которую 
может… Уходил в ЦЗЛ без разрешения. Однажды уехал куда-то в отпуск, не решив 
вопроса… Сейчас он пока занимает у общества, а не отдает. Сокирко не отвечает 
требованиям начальника бюро, хотя я и сам его выдвинул. Сегодня он выступил 
очень нахально, агитировал за свои взгляды. Но если он и в политике учитывает из 
100 факторов 1, то он не разбирается и в политике. </p>
<p>Он должен не получать лишнего.”</p>
<p><b>Выступление начальника 
мех.лаборатории Ельчанинова В.Н.</b></p>
<p>“Здесь много сказало правильного. Я хотел бы отметить, 
что зачитанный им документ является весьма продуманным, я бы даже сказал – 
программным. И мало того – он является программой для какой-то группы, и, может, 
заранее подготовлен извне. Ведь все позаимствовано из зарубежных 
пропагандистских журналов. Все заранее продумано и организовано. Ведь как 
понимать такие злостные и двусмысленные лозунги: "Долой оккупантов", "За нашу и 
вашу свободу!"? Мнение, думаю, будет единое: говорить слово "оккупанты" – это 
относиться недоброжелательно к нашей стране. И меня очень заботит, чтобы 
молодежь восприняла эти события так, как надо!.. </p>
<p>Эти люди – противники советского народа! Сокирко хочет, 
чтобы совесть его осталась чистой… Что же, 90 имеют совесть, а мы все 
бессовестные?.. (Пayза…) Может, мы все шкурники?.. (Пауза) Нет, меня все 
поддержат.</p>
<p>У меня тоже недавно родился сын, и если он меня 
когда-нибудь спросит, что я сделал, то я с удовольствием сказал бы, что всегда 
выступал против людей, позорящих страну!..”</p>
<p><b>Выступление директора завода 
Слепцова С.А.</b></p>
<p>“Сегодня предстал Сокирко перед нами святым и чистым 
борцом за правду. А за какую правду? У нас правда одна, и общество наше 
сложилось в борьбе за нее. Это народная правда… А вот когда у фабрикантов 
отнимали фабрики, а у помещиков землю, они говорили – неправда, не по закону. 
Было ли это законно? Так, как Сокирко может понимать правду? – Его учили на 
народные деньги. Был бы он в капиталистической стране инженером? – Нет.</p>
<p>Зачитал послание здесь, где расхваливал проходимцев. 
Сами выражения чего стоят… Что это за "люди в штатском"? Так может ли он быть 
политически грамотным? Есть две идеологии – социалистическая и 
капиталистическая. Они борются… Так могут ли капиталистические государства 
защищать социалистическое государство? (видимо, Чехословакию –В.С.)…</p>
<p>Красная площадь – святая святых всего мира. Здесь 
покоится самый великий человек. Самый великий не только в нашей современности, 
но и за все время существования мира… Какие люди могут устроить здесь дебоши и 
демонстрации?! Эти люди зажирели… Выросли под маменьким крылышком в великих 
"философов-гуманистов"… Эти выученики за счет народа были нами слишком бережно 
воспитаны. Раньше мы росли в тяжелых условиях, а теперь, видимо, тепличные 
условия создают ядовитый сок. К этим людям нужно применить более жестокие 
условия…</p>
<p>Они говорят, что наша Конституция нарушается. Кто же ее 
нарушает? – Советский суд? Прокурор? Верховный Совет?? Что же – все нарушители, 
а ваша группочка – честная?..</p>
<p>Ему надо еще раз проходить школу, и школу суровую. И не 
выступать здесь героем. Иначе, говоря словами великого писателя: "Я тебя 
породил, я тебя и убью!" Так рабочий класс и поступает со всеми отступниками и 
изменниками!!</p>
<p>А может, Вам здесь пересмотреть Ваши взгляды, пока не 
поздно?… Ведь что творится в мире – народы борются в Латинской Америке, Африке. 
Матери и дети гибнут во Вьетнаме под американскими бомбами. Так кого мы 
защищаем? Возьмем Чехословакию: так там и сейчас выступают террористы. Вот к 
чему привела такая свобода – к неорганизованности, когда через такие 
"канальчики" проходит в страну реакционный строй. Так они хотели и в 
Чехословакии поставить революционное правительство вместо компартии, а потом 
возродить капитализм (видимо, оговорка – вместо "реакционное" – В.С.) </p>
<p>Мы должны здесь заклеймить позором Сокирко. Он это 
сделал или от слишком большого ума, или от бездумности…”</p>
<p><b>Выступление к.т.н. Ковалева 
И.М.- научного руководителя аспиранта Сокирко в МВТУ им. Баумана</b></p>
<p>“Поступок Сокирко и это собрание явилось для меня полной 
неожиданностью. Как работник, он очень хорошо работает над диссертацией, и 
может, его упущения в основной работе объясняются его хорошей работой, как 
аспиранта. Но с политической грамотностью у него оказалось совсем 
неблагополучно. Конечно, человек он мужественный, так как этот поступок требует 
мужества, но и в институте у него было нечто похожее, когда исключали из 
комсомола…</p>
<p>Стало быть, это письмо – не случайность. Урок его юности 
не пошел впрок. Из цветочков получились довольно кислые яблоки… Он меня 
информировал о письме, но я как-то не обратил внимание на серьезность… Так вот, 
истоком этого заблуждения является политическая безграмотность!</p>
<p>Есть грамотность от книг, а есть от интуитивного чутья. 
Видно, все здесь зависит от генов… Иначе придется признать, что простой рабочий, 
то ли от необразованности, то ли от того, что у него голова вот на столько 
меньше, но имеет меньше политической грамотности, чем ревизионист… Вся история – 
это история борьбы классов! Уже одно это должно было Вас остановить. А если Вы 
это отметаете, то Вы или враг, или безумец!</p>
<p>Тут, видно, есть организация. Без нее никак нельзя. Я 
сам когда-то подписывался, не под таким политическим письмом, а под местным, в 
пределах совнархоза, и знаю, как сложно это организовать… И мы знаем, какие 
сейчас внешние условия, когда на западе проводят политику "наведения мостов" - 
ловят простачков.</p>
<p>…Каутский был грамотным человеком, но политической 
грамотности у него не было, и он канул в вечность, как теоретик. Так же может 
кануть в вечность и Сокирко как политически грамотный… Я имел возможность 
немного беседовать с ним вечерами, во время работы, и выяснить его взгляды. Он 
считает, что там, где существует диктатура – это явление временное и случайно. 
Считает лучшей и естественной формой государства – либерализм!! Он считает, что 
все сейчас затихло в мире и пора выходить на демонстрации!!</p>
<p>Но на деле: или с нами, или против нас! Наши законы 
имеют классовую сущность. За них люди кровь пролили. Ваш отец имеет ордена и 
странно, что в такой рабочей семье вырос политически неграмотный человек.</p>
<p>Я сам осуждаю и поддерживаю негодование коллектива. 
Думаю, что институт, возможно, также поддержит это".</p>
<p>(Председатель пробует подвести черту, но слово просит 
еще один.)</p>
<p><b>Выступление механика цеха № 1 
Вирсиса А.Я. -коллеги Сокирко по диафильмам и байдарочной секции</b></p>
<p>“В августе, в начале событий, события в ЧССР освещались 
недостаточно полно на страницах нашей печати. И в первый момент понятно было 
мало. Но это никак не дает повода Сокирко так поступать. Нужно было все же 
разобраться. Он не был на митинге, а на митинге по поводу агрессии в Греции Вы 
тоже не были? – Вот где надо было выступить. Там же тоже агрессия (видимо, 
оговорка –В.С.)! …Я помню блокаду в Ленинграде. Страшный голод. И когда вели 
пленных немцев по улицам, женщины подносили лебеду к носу немцев и кричали им: 
"Ты это ел, сволочь?!"…</p>
<p>Teбe надо обдумать. Работай, учись, делай все, чтобы 
государство наше было еще сильнее. А ты, не разобравшись ни в чем, подписал 
бумажки. Надо тебе подумать!”</p>
<p><b>Второе выступление Сокирко 
В.В.</b></p>
<p>“Здесь было сказано очень много, и я не смогу сейчас на 
все ответить… Должен заявить, что действительно, мои родители не одобряют моих 
действий, поэтому я им ничего не говорил… И еще, Ваши слова, Иван Николаевич 
(обращение к Плаксину И.Н.) о моей поверхностной работе явились для меня 
сегодняшней неожиданностью… Что касается главного, то я считаю, что сталинизм 
существовал столь же реально, как и реальна возможность его возвращения, и 
поэтому необходимо протестовать против нарушения наших законов…"</p>
<p><b>Секретарь партбюро Манохин 
В.И.:</b> "Хватит, хватит! Он ничего не осознал… Плюет на коллектив, а сколько 
ему хорошего сделали: и когда в институте у него была история, по просьбе отца 
ездили его защищали, думали – молодой, с кем не случается. И из Коломны 
вызывали, вытаскивали сюда работать… Диссертацию защищать – пожалуйста, учись… 
Да, товарищи, ведь фактически мы ему заведомо ложную справку выдали в военкомат, 
когда прошлым летом его в армию забирали: ведь совсем не был он таким уж 
необходимым на стане 20-76. И без него справились бы! А он вот так платит 
неблагодарностью. Хватит, давайте принимать решение".</p>
<p><b>Вопрос женщины-бухгалтера:</b> 
"А позвольте спросить, как же Вы, будучи секретарем партбюро, могли подписать 
справку, заранее зная о ее ложности?" (Смех в зале).</p>
<p><b>Манохин В.И.:</b> "Товарищи, 
товарищи, Вы меня не так поняли… Во-первых, меня не было в то время на заводе, и 
я не подписывал этой справки, и вообще…" (в шуме кончает и садится).</p>
<p><b>Председатель:</b> "Товарищи, 
прения окончены, какие есть предложения?"</p>
<p><b>Манохин В.И.:</b> "Строго 
осудить и предупредить, что в случае повторения подобных поступков коллектив не 
потерпит Сокирко в своих рядах". </p>
<p>(Шум в зале: “почему так мало?”)</p>
<p><b>Выкрик:</b> "Лишить его 
диплома!" (председатель отклоняет).</p>
<p><b>Выкрик:</b> "Набить ему морду!" 
(шум и мягкий протест председателя).</p>
<p><b>Кто-то из зала:</b> "Снять его с 
начальника бюро. Разве он может руководить людьми?" (На деле в подчинении у меня 
никого нет, но объяснено этого на собрании не было – В.С.)</p>
<p><b>Манохин В.И.</b> председателю: 
"Запишите это".</p>
<p><b>Кто-то сзади:</b> "Нельзя ему 
быть ученым. Как же он, будучи политически неграмотным человеком, придет нами 
командовать? Предлагаю выгнать из аспирантуры".</p>
<p><b>Манохин В.И.:</b> "Запишите и 
это. Сообщить в МВТУ и просить принять меры".</p>
<p>…Председатель закрывает собрание.</p>
<p>В окончательной обработке, после напечатания протокола, 
решение выглядело примерно следующим образом:</p>
<p>1. Выразить суровое осуждение действиям Сокирко Виктора 
Владимировича, проявившиеся в подписании письма в поддержку Литвинова, Богораз, 
Бабицкого, Делоне и Дремлюги, демонстрировавших 25 августа на Красной площади 
против ввода наших воинских подразделений и войск наших союзников в 
Чехословакию.</p>
<p>2. Сообщить в партком МВТУ им. Баумана о политически 
незрелых действиях аспиранта Сокирко В.В. и просить принять соответствующие 
меры.</p>
<p>3. Предупредить Сокирко В.В., что, в случае повторения 
им подобных поступков, коллектив не потерпит его в своих рядах.</p>
<br/>
<table width="600"> <tr> <td>
<a href="35.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="37.html"> следующая </a>
</td></tr></table>
<br/>
</p>
{% endblock content %}
