{% extends 'base.html' %}
{% block title %}Сокирко В.В. "К вопросу о том, что делать", 1970г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="38.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="41.html"> следующая </a>
</td></tr></table>
<h3>40. <a href="/kb/app4.html">"К вопросу о том, что делать"</a>, 1970 г. </h3>
<p><em>как и <a href="/kb/app3.html">Письмо сверстнику"</a>, в 
книгу не вошло, хотя Витя в своём предисловии говорил о нём как о составной 
части книги </em></p>
<p><em>И книга, и Приложения 
объединены одной линией – размышлением о будущем нашей страны, попыткой 
разглядеть его в настоящем.</em></p>
<p><em>При писании "Сущности 
коммунизма"он основательно разобрал те формы, которые были в прошлом, ныне 
существующие реальные формы коммунистических отношений , будущий коммунизм; 
определил наш строй как государственно –феодальную форму (неразвитый коммунизм)и 
установил несомненную и важнейшую связь коммунизма и демократии: <strong>"Без борьбы за демократию невозможно быстрое развитие 
производства к полной автоматизации, невозможно создание материальной базы 
коммунизма… настоящего естественного коммунизма".</strong></em></p>
<p><em>В эти годы созрело осознание 
первичности экономических свобод. В последствии в одном из своих дискуссионных 
сборников "В защиту экономических свобод" он чётко сформулировал эту мысль: 
<strong>"Прежде чем добиваться политических или иных прав, 
необходимо добиться основополагающих прав – экономических, т.е. прав на 
независимое от государства, свободно рыночное существование. Не иначе! Ибо 
предоставить политические свободы детям небезопасно"</strong></em></p>
<p><em>Работа заводским технологом без 
перспектив роста тяготила его, даже не смотря на то, что он нашел свою “нишу“, 
ведь в семье было уже два ребёнка. К тому же весной 71г. я защитила диссертацию, 
и ожидаемое превышение женской зарплаты над мужской сильно задевало его 
самолюбие, становилось укором в неспособности обеспечить своими усилиями 
достаток семьи (хотя моя диссертация была подготовлена не без его участия). При 
первой возможности, по протекции новых друзей, он переходит в ЦЭМИ (Центральный 
экономико-математический институт АН СССР) в лабораторию оптимального 
использования минеральных ресурсов.</em></p>
<p><em>За те полтора года, что судьба 
отвела ему на работу в ЦЭМИ (пришлось уйти из-за отказа в допуску к секретным 
материалам), он интенсивно становился экономистом. <strong>“ Я вкалывал, как крестьянин в сложных погодных условиях в 
предчувствии богатого урожая (и не только денег) "</strong></em></p>
<p><em>Судьбе угодно было свести его 
со старым экономистом, бывшим з/к, В.А. Бессоновым, ныне покойным. Витина 
горячая защита математических методов в задачах оптимизации структуры цветной 
металлургии наталкивалась на спокойную трезвость бывалого экономиста, хорошо 
знавшего, какие экономические расчёты годятся для нашей перевёрнутой с ног на 
голову экономики. В конце концов, Витя принял многие из его установок.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="38.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="41.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
