{% extends 'base.html' %}
<title>Сокирко В.В. "Тезисы о морали" 26.02.73г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="48.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="50.html"> следующая </a>
</td></tr></table>
<h3>49. <a href="/Tom2/fall.html">Тезисы о морали</a>, 26.02.73г. </h3>
<p><em>Состоявшийся 16 мая 1973г суд 
приговорил Витю к шести месяцам исправительных работ по месту службы.</em></p>
<h2>Период IV.1973-1979 (экономист, правозащитник) 
</h2>
<p><em>1973-79 годы Витя много написал 
и сделал. В мае 1975г. после тяжёлой болезни умерла его мама. Горестные раздумья 
о причинах её смерти, ощущение своей невольной вины требовали выражения, и он 
написал книгу для наших детей </em><a href="/family/mama.html">”Память о маме”</a><em> . Ещё одного дорогого ему человека он постарался 
уберечь от забвения, составив комментированный сборник писем – Юлию Самуиловну 
Кальманович – светлейшего человека (мало надежды, что успею оцифровать, но 
машинописный текст в нескольких экземплярах имеется). В июле 1977г. Витя 
закончил большой труд </em><a href="/Tom7/mikola.html">“Письма и стихи Миколы Сокирко ”</a></p>
<p><em>В1976-78гг. как К.Буржуадемов 
Витя составил три дискуссионных сборника с обсуждением призыва А.И.Солженицына 
</em><a href="/ideology/gnl/">"Жить не по лжи?!"</a><em> 
,который сам начал статьёй “Активно думать, успешно работать, смело жить” Среди 
дискурсантов - Т.М.Великанова, М.А.Поповский, Г.С.Померанц и др.</em></p>
<p><em>В 1978г. была собрана  
книга </em><a href="/ideology/samosoznanie/">"Советский читатель вырабатывает 
убеждения"</a><em>, в 1978-79гг. он выпустил семь сборников 
"В защиту экономических свобод"-ЗЭСы. В эти же годы в самиздатском журнале 
"Поиски"№7 он открыл рубрику "Вера и гуманизм" (экономическую рубрику ввести ему 
так и не удалось)</em></p>
<p><em>Много написано им в 
эпистолярном жанре и друзьям, и в редакции газет. После высылки А.И.Солженицына 
в Литературной газете появилась статья Продавшийся, написанная проф. 
д.ист.н.Н.Н.Яковлевым.</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="48.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="50.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
