{% extends 'base.html' %}
{% block title %}Сокирко В.В. Поповскому М.А. (О книге "Жизнь и житие архиепископа Луки, профессора Войно-Ясинецкого"), 04.10.75г.{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="54.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="56.html"> следующая </a>
</td></tr></table>
<h3>55.Поповскому М.А. О книге “Жизнь и житие архиепископа Луки, профессора Воино-Ясинецкого”, 1971-75гг.</h3>
<p>Дорогой Марк Александрович!</p>
<p>I. Наверное, Вам будет интересна фиксация читательских 
впечатлений (главное – откровенных) о первых двух главах "Жизнь и Житие 
архиепископа Луки, профессора Войно-Ясенецкого". С удовольствием повторяю 
название, так оно мне нравится своей парадоксальностью и точностью смысла. 
Правда, кажется немного тяжеловесным из-за разделенности. А может, можно сделать 
название несколько короче и слитней? Допустим, так: "Жизнь и Житие 
Войно-Ясенецкого, профессора и епископа" (или длиннее: "…, профессора медицины и 
архиепископа Луки") – А то сейчас Лука забивает Войно и парадоксальность 
смазывается.</p>
<p>Так вот, прочитал 230 стр. за два вечера с неослабным 
вниманием. Правда. Спасибо от читателя. Особенно было интересно следить за 
легендами "Жития", как они рождаются на глазах. Ведь Лука был действительно 
святым, а то обстоятельство, что его еще не канонизировала церковь, ни о чем не 
говорит: времени прошло мало, православная церковь нетороплива и подобострастна 
– время для признания святого Луки еще впереди. Так что сегодняшняя запись 
легенд и создание "Жития святого Луки" – дело вполне благое, даже "богоугодное". 
</p>
<p>Я долго думал, в чем бы мог Вас покритиковать. Цепляться 
за наши разногласия в понимании мира – глупо, но вот что касается самой 
литературы, то вот что надумал.</p>
<p>Название книги обещает "Жизнь" и "Житие" как 
равноправные линии повествования, идущие и переплетающиеся через всю книгу. На 
деле есть только научно-художественная биография, а самого "Жития" почти нет. 
Есть только его фрагменты – легенды, собранные в Прологе совместно с Вашими 
комментариями. Но этого слишком мало: автор "Жития" обязан сам творить легенду, 
соединяя разрозненные куски народных преданий в свою связную религиозную 
легенду. Может быть, я хочу слишком многого. И Вы не можете стать на уровень 
народа, творящего мифы, и взглянуть на жизнь профессора гомеровскими глазами. 
Задача, действительно, громадная, а для интеллигента-атеиста – просто дерзкая. 
Может, она пока никому из ныне живущих писателей не по плечу. Но тогда следовало 
бы просто отказаться от обещания "Житие" в заголовке, оставив лишь "Жизнь 
профессора-епископа". Я думаю, что рано или поздно, но "Житие св.Луки 
Войно-Ясенецкого" будет написано.</p>
<p>Какая конструкция книги мне представляется идеальной? 
Прежде всего, "Пролог" освобождается от житийских легенд, до первых 14 страниц. 
По всем же главам идет сначала "Житие", а за ним - "Жизнь" в качестве 
научно-художественного комментария. В конце же книги могут быть примечания 
(может, до половины книги, или трети), в которые включено все богатство 
источников, вариантов легенд, воспоминаний и прочий научный материал.</p>
<p>Конечно, мне совсем не хотелось бы, чтобы "Житие" точно 
походило по стилю и наивности на канонические православные "Жития святых". 
Совсем необязательно его писать на уровне безграмотной старушки о "чудесном 
батюшке-исцелителе". Но совершенно необходимо, чтобы "Житие" было на уровне 
современного культурного верующего (отнюдь не отрицающего даже возможность 
чуда), на уровне самого епископа Луки. Наверное, здесь будут уместны и мысли 
Бердяева и других веховцев, и повести о борьбе с вепрем - "живой церковью", и 
все самые абстрактные положения (ведь и само Евангелие полно философской зауми 
вроде - "в начале было слово"). Но абсолютно недопустимо, чтобы в "Житие" 
включались материалистические нотки Вашего сомнения в реальности чудесных 
указаний Бога – Луке (вроде голоса в душе или отворачивания лика Христа, или 
чекистов, как "орудия Божия"). Недопустимо предпосылать им эпиграф о сплетнях, 
окружающих историческую личность, хотя в Прологе такой эпиграф вполне уместен. 
</p>
<p>Думаю, что при написании этой книги Вы должны почти 
реально раздвоиться: на 1) автора "Жития" – глубоко религиозного, везде видящего 
мистику, чудо, Божий Промысел; 2) автора "Жизни" – вполне нашего человека, 
ученого и светского писателя, во всякой мистике выявляющего только факты, 
объясняющего религиозное "Житие" и развивающего его доступным для нас, 
атеистического большинства, образом (да Вы это прекрасно и делаете). Только 
тогда и "Жизнь", и "Житие" сольются в одну великую книгу.</p>
<p>Конечно, все в меру, и "Житие" хоть по форме может 
походить на церковные каноны, соответствовать прежним традициям, во всяком 
случае, впитать их опыт. Выходит, я требую, чтобы Вы научились писать церковные 
"Жития", стали церковным писателем, почти Красновым. Но ведь я сейчас говорю 
лишь об идеале, фантазирую…</p>
<p>Конечно, трудно описывать в "Житии" доцерковную жизнь 
Войно-Ясенецкого, но ведь можно начать его с 1921 г., оставив первую главу 
сугубо светской, хотя это и убавит стройность книги. И потом, почему все же 
нельзя сфантазировать религиозную повесть о верующем докторе до 1919 г.? Ведь в 
"Житии" никто не требует очевидности каждой детали. Ведь здесь широкое поле для 
домыслов, фантазии, описания по догадкам, соединения черт и событий жизни многих 
людей.</p>
<p>Но как необходима в "Житии" Ваша религиозность, так 
необходим Ваш атеизм в "Жизни" – для нынешнего атеистического читателя (вроде 
меня хотя бы) и для собственной правды (ведь Вы все же атеист!), для полного 
разбора основного вопроса и книги, и всех нас: "Можно ли жить по совести?" 
"Житие" решает его на религиозном уровне (кстати, какие замечательные факты Вы 
мне раскрыли понятиями "акривии" и "икономии"), а в "Жизни" это решение 
переведено на наш атеистический язык. И опять же я не знаю, насколько это 
возможно, раз Вы считаете, что религия необходима для "морали" (с другой 
стороны, Ваш черновик-статья о естественном происхождении чувства "совести" 
говорит о твердом атеизме).</p>
<p>И не нужно в "Жизни" бросать тень сомнения на 
собственную нерелигиозность и допускать такие, например, насмешки и иронию, как 
над словами А.В.Стекольникова: "Я убежденный атеист и коммунист". Лично я очень 
поежился под этой насмешкой, приняв ее полностью на себя: ведь и я убежденный 
атеист и коммунист (и одновременно мещанин-буржуа и демократ).</p>
<p>Но, в общем, к "Жизни" у меня нет таких больших 
пожеланий, как к "Житию". Ведь здесь Вы чувствуете себя в родной стихии, как 
рыба в воде. Конечно, это не означает, что я согласен со всеми Вашими 
утверждениями и выводами. Но я понимаю, что не может автор угодить на 
каждого.</p>
<p>Одного только коснусь: очень часто огорчался Вашими 
резкими выражениями в адрес "семнадцатого года", "властей" и пр… Огорчался по 
двум причинам.</p>
<p>Первая: потому что эти выражения осуждения просто 
несправедливы. Ведь если считать 17-й год неизбежным (а он, наверное, все же был 
неизбежным – в этом убеждает наличие революций в истории почти всех 
цивилизованных стран), то большевистская партия была, в общем, положительным и 
конструктивным фактором в деле противодействия крестьянской анархии и разгулу, в 
деле собирания и упорядочивания России. И хотя Ленину принадлежат призывы к 
гражданской войне, экспроприации и террору, но после своей победы – главным в 
его лозунгах стало иное – положительная работа по удержанию прочной власти, 
призыв всех к труду, дисциплине, закону, обеспечению условий работы для 
"спецов", нэпманов и пр. и т.д. Поэтому нельзя отрицать положительную роль 
интеллигентных "партийцев", которые, сидя на вершине клокочущей народной волны и 
невольно санкционируя этот террор и разгул, тем не менее, сохраняли, спасали 
некоторую культуру (пример освобождения Войно-Ясенецкого из мастерских) и 
организацию. И только это обстоятельство может помочь нам понять, почему 
Войно-Ясенецкий и другие интеллигенты были "искренне за советскую власть". В 
тексте же книги эта "искренняя поддержка" – воспринимается лишь как непонятная 
слабость героя, его наивность или глупость.</p>
<p>Вообще, на мой взгляд, одной из важнейших черт и 
заповедей Войно-Ясенецкого является "подчинение власти, ибо всякая власть от 
Бога". Это положение требует более подробной разработки, а для этого прежде – 
Вашего на то душевного согласия. Сейчас же Вы невольно делаете упор на моменты 
противостояния Луки властям (на суде проф. Ситновского особенно). И может, вся 
разгадка удивительного благополучия жизни Войно-Ясенецкого (ибо пройти с 
достоинством через все последние десятилетия – это редчайшая удача) как раз и 
заключается в соединении полной лояльности и работоспособности (полезности) с 
внутренней независимостью. Вспоминается примерно такой случай в МВТУ им.Баумана: 
дореволюционный профессор, зав.кафедрой гидравлики Куколевский, ученый с мировым 
именем, так и не отказался от своих с.-р. убеждений, оставаясь до 60-х годов на 
своей кафедре. Среди студентов ходили удивительные рассказы о презрительных 
отзывах профессора и об Октябрьском празднике, и о своей непричастности к 
большевикам…</p>
<p>Но не будем влезать в дебри споров. Вторая причина, по 
которой я огорчался резкостью Ваших выражений, помимо их неправоты, - та, что 
они будут мешать публикации книги. Понятно, что сегодня трудно представить 
официально изданной книгу о хирурге-епископе. Но все же следовало ее хотя бы 
символично представить к печати (не обязательно представлять, но чтобы можно 
было представить: ведь узнать автора не составляет никакого труда).</p>
<p>Я кончаю. Как бы там ни было, для меня – это самая 
интересная и важная Ваша книга, интереснее Максимова. С нетерпением жду 
продолжения. И тешу себя надеждой, что дальше Вы станете больше похожи на своего 
героя, что опыт отца Луки нам всем пойдет впрок. 15.4.1972 г.</p>
<p>II. О главе III биографии Войно-Ясенецкого</p>
<p>Выжимаю из себя максимум критицизма, на который 
способен, отложив в сторону свою глубокую благодарность за захватывающее меня 
чтение.</p>
<p>1. Двойной эпиграф выявляет в главе две смысловые 
части:</p>
<p>- Жертву Луки – своим благополучием и, что еще важнее – 
благополучием своих детей – ради Бога, ради своей веры и убеждений, чести и 
достоинства, и</p>
<p>-Бесчестие атеистических преследователей Луки.</p>
<p>Но я не уверен, что именно так она делится на самом 
деле. Так мне показалось. А не уверен я потому, что это противопоставление чести 
и бесчестия не нашло отражения в названии самой главы ("Как это делалось в 30-м" 
– название посвящает главу только бесчестию).</p>
<p>Наверное, первая тема все же важнее читателю для 
выяснения облика самого Луки, а в его лице – возможности для достойного 
поведения человека в недостойном мире. Ведь именно эта тема актуальна и сегодня 
и волнует каждого из нас.</p>
<p>Вы говорите – честь и достоинство, свои убеждения или 
веру в Бога можно сохранить, ставя под угрозу благополучие не только свое, но и 
своих близких. И не только благополучие, но и саму жизнь. Здесь заключено одно 
из мучительных моральных противоречий, из числа неразрешимых. Вернее, никому не 
дано выбраться из этой проблемы, когда она встает практически, избавиться от 
своей вины. Любое решение этой проблемы с одной стороны правильно, а с другой – 
нет ("кантовская антиномия").</p>
<p>Я бы, например, не стал категорически отвергать 
осуждающие слова Елизаветы Никаноровны в адрес Луки. В них, наверняка, 
сосредоточен ее жизненный опыт от встреч с "принципиальными людьми", которые 
свои абстрактные идеи ставили гораздо выше окружающих конкретных людей, близких 
и неблизких. Да что там Елизавета Никаноровна… Помните Достоевского: никакие 
принципы не стоят даже одной человеческой жизни. И если это очевидно по 
отношению к принципам коммунистическим, то столь же верно по отношению к 
религиозным принципам Луки.</p>
<p>Авраам, приносящий в жертву сына, и Лука, которого Вы 
ему уподобляете – это одно решение проблемы. А Достоевский не соглашается 
принять даже счастье всего мира, если оно завязано со смертью одного невинного 
ребенка – это другое решение. Разве здесь нет контраста? Разве нет почвы для 
признания вопроса слишком сложным для лобового решения, для предоставления 
читателю права самостоятельно и по разному в конкретных случаях решать эту 
проблему выбора? А не только как Лука-Авраам?</p>
<p>И потом, не опасно ли это деление морали на один род – 
для массы, и другой – для "крупных личностей"? Конечно, неприятно, когда 
ташкентская профессура не понимает права Луки на подвиг и жертву себя и своих 
близких. Однако, неприятие автором морали "массы" (к которой принадлежит 
большинство будущих читателей книги) – тоже не очень приятно.</p>
<p>2. "Дело Михайловских" – жуткая своей обыденностью 
история. Поведение отчима, методично насиловавшего свою падчерицу во время сна 
жены – омерзительно, положение падчерицы показалось мне ужасным своей 
безысходностью. Даже изнасилование отцом родной дочери кажется мне более 
извинительным – как род помешательства, психического выверта, ненормальности. 
Здесь же – с физиологической точки зрения все нормально, но зато какое 
надругательство над боязнью и дочерними чувствами молодой девушки, какой цинизм 
к взятым на себя перед людьми отцовскими обязанностями! Этого отчима, наверное, 
даже к суду трудно привлечь, но у меня он вызывает только одно, чисто физическое 
и определенное желание – раздавить, стереть с лица земли, добиться, чтобы таких 
не было.</p>
<p>И как дополнение к этому чувству – щемящая жалость к 
этой Кате, к ее страху и метаниям, ко всей поломанной, растоптанной в самом 
начале жизни. Жалость к ее несчастливости, к ее злосчастной судьбе, которая как 
прилипает ко всем, на кого она пыталась опереться и спастись – Михайловский 
застрелился, Лука – арестован. Сколько же нужно душевных сил, чтобы вынести все 
эти удары. Вряд ли ей их хватило.</p>
<p>Но, по-видимому, дело Михайловских Вас волновало только 
в его отношении к Луке. И, наверное, поэтому все члены семьи Гайдебуровых – и 
дочь, и отчим, и мать – обрисованы одной презрительной интонацией. Мне даже 
показалось, что у Вас для дочери и матери находится больше отрицательных слов, 
чем для преступного отчима. Это кажется странным. Но главное – участие Луки 
выглядит здесь лишь бесполезной благоглупостью большого человека, а на деле, 
наверное, это было не совсем так. Наверное, Лука был более проницательным 
человеком и действительно хотел помочь мятущейся Кате, и даже решившийся ради 
нее на полуправду. Акценты тогда в этой истории расставляются несколько 
по-другому. Самоубийство Михайловского было не провокацией, в которой Катя была 
на стороне атеистического следствия, а напротив, сама Катя стала жертвой 
следствия. А может быть, даже в некоторой степени стала невольной "жертвой" 
непреклонности Луки, которого следствию было очень удобно осудить, приписав Кате 
убийство мужа, т.е. использовать ее против Луки в качестве необходимого 
звена-пешки. И ведь именно с Лукой связан первый шаг Кати к распрямлению, когда 
приносит следствию в надежде на облегчение участи Луки – свою страшную тайну, 
стыд всей своей несостоявшейся жизни. Нет, доброта Луки – не блажь, она не могла 
не приносить плоды. И "ненужное" письмо-признание Кати – прямое этому 
доказательство.</p>
<p>3. Мне очень понравилось описание механизма осуждения 
Луки, описание того, "как это делалось в тридцатом". Вся свистопляска поисков 
"поповских происков" – дана очень рельефно и ярко. Смущает только упоминание 
А.Сольца. Все же доказательство для обвинения его, на мой взгляд, мало. А ведь в 
главе он утверждается как главный идейный вдохновитель травли Луки. Один 
запрос-телеграмма Сольца по делу Михайловских мог иметь и положительные даже 
результаты – мы этого не знаем. Во всяком случае, речь Сольца на 15-м съезде 
ВКП(б) и раннее исчезновение с политической сцены свидетельствуют как раз о 
такой возможности. Ей-богу, лучше бы убрать эту сомнительную в своей 
отрицательности фигуру. Тем более что почти невозможно найти конкретных 
виновников всех преступлений этих лет. Виновны были все, виновно само время. Это 
правильнее и сильнее, чем вина какого-то Сольца.</p>
<p>4. Однако самое сильное впечатление произвело на меня 
перевоплощение уголовной истории о самоубийстве помешанного профессора 
Михайловского в литературно-политический миф об "антинаучных происках священника 
Луки". Я просто радовался – как только удалось Вам раскопать это 
перевоплощение.</p>
<p>Спасибо. 31.III.73 г.</p>
<p>3. Спасибо Вам за книгу о Луке и за доверие и интерес к 
моему мнению. Извините, если буду нахальным в советах.</p>
<p>Мы с Лилей прочли книгу очень быстро и с неослабным 
интересом. Это естественно – ведь в ней содержится одна объективная, несомненная 
и восхитительно обнаженная правда. Обнажали Вы ее очень старательно. Да и 
подумать только: что для советского читателя может быть привлекательнее голой 
истины? Когда умный автор ведет тебя по лабиринту человеческих судеб, показывает 
все без утайки, ничего не скрывает? А Ваш отказ от идеализации Луки и с ним 
заодно – сталинского православия – по-моему, одно из основных достоинств 
последнего тома книги.</p>
<p>Только я не называл бы верноподданичество Луки во время 
войны и после – его грехопадением. По моим представлениям, грехопадение – это 
всегда измена своим принципам. При грехопадении человек сознает свою невинность 
и мучается ею. Для Луки же его официозные статьи были только исполнением 
церковного долга, были вполне в духе древних традиций православной церкви, ее 
безусловного подчинения власти и безусловной защиты отечества. Скорее отказ от 
них был бы для Луки отказом от безусловной работы на пользу церкви, был бы 
признанием своей гордыни, умствования и грехопадения. В этом термине невольно 
сказалось Ваше авторское отрицательное отношение к позднему этапу жизни Луки, 
что несколько исказило житие св.Луки.</p>
<p>А вообще в книге много Вашей убеждающей силы, Вашей 
личности. Такая страстность усиливает интерес к книге, но, как мне кажется, 
способна иногда помешать объективности самого жизнеописания. Читательское 
внимание невольно отвлекается с анализа позиций Луки на анализ авторской 
позиции, путает их и делает неверные выводы (не по Вашей воле, а в силу 
перегруженности книги). Вот если бы Вы были основным, главным героем книги, а не 
Лука, то читательское внимание было бы приковано целиком к Вашим убеждениям и 
смогло бы справиться с правильной их оценкой. А поскольку главный герой – Лука, 
то авторские оценки, конечно, не совпадающие с читательскими, должны быть 
спрятаны или выделены в эпилог и примечания.</p>
<p>Лука был цельным и непреклонным человеком. Наверное, это 
в нем главное. А христианские или коммунистические убеждения – это уже 
вторичное, результат воспитания и судьбы. Именно эта цельность позволила ему не 
совершить грехопадения (с его точки зрения, а не с Вашей). У него не было 
больших грехов: отречения, гордыни перед Богом и церковью, сребролюбия, 
нарушения десяти заповедей и т.д…. С православной точки зрения он – несомненный 
святой. О нем в будущем, когда тюрьмы и ссылки будут официально упоминаться как 
"страдания за веру", будет создано настоящее "Житие св.Луки". Но для нас важно 
не будущее Житие, а важно объективное жизнеописание святого, потому что тогда 
можно будет реально оценить возможности и поведение всей православной церкви по 
судьбе и возможностям ее реального святого.</p>
<p>Жизнеописание святого невольно становится книгой о 
русском православии ХХ века, его роли в общественной жизни, науке и пр., об 
истории советского православия. И притом – совсем не апологетической истории, а 
объективно-критической. И в этом – я – Ваш самый искренний доброжелатель, потому 
что не хотел бы, чтобы на смену коммунистическому православию люди 
реставрировали в прежней силе православие христианское, с его декларированием 
своей исключительной православности, с его непременным оправдыванием и 
обожествлением любой земной власти. Сам термин "православие" мне 
антипатичен.</p>
<p>Я сочувствую христианству угнетенному, неофициальному, 
умеющему уважать другие мировоззрения, и мне заранее не нравится победившее 
христианство, потому что при этом его плюсы станут минусами.</p>
<p>Теперь об основном, на мой взгляд, недостатке книги. Мне 
кажется, он – в огромном объеме, большом количестве тем и аспектов – социальных, 
религиозных, исторических, философских, нравственных, хирургических и пр. и пр. 
Калейдоскоп проблем, море, в котором я, читатель, тону, как перегруженная баржа. 
Я помню, что Лука Вас лично обязал не разделять в его биографии судьбу хирурга и 
епископа. Но ведь нельзя этот наказ принимать как догму, ведь истинный его смысл 
состоит в его обращении к официальному писателю, члену ССП (по иному он Вас и не 
знал): "Не смейте замалчивать мое епископство". Так почему Вы теперь не вольны 
разделить, например, аспекты: религиозно-научный и религиозно-социальный на 
отдельные книги? Тогда каждая часть-книга выиграла бы за счет стройности 
изложения, логики повествования, глубины выводов и нашла бы своего заранее 
заинтересованного читателя, а перед этим – издателя.</p>
<p>Ведь на деле с жизнью и подвигами архиепископа Луки 
соотносится не научная деятельность профессора Войно-Ясенецкого, во всей ее 
глубине, а сам факт врачебной деятельности, "исцеления больных", как 
значительный фактор его популярности в Церкви. Так же и для научной деятельности 
Войно-Ясенецкого важны не столько епископство и связанные с ним страдания, 
сколько религиозные мировоззренческие и нравственные стороны его убеждений. 
Епископство и научная деятельность соотносятся в Луке лишь внешне, они текут 
параллельными струями, что Вы сами неоднократно отмечаете. Я согласен, что для 
понимания нравственных основ хирургической деятельности Войно-Ясенецкого очень 
важны его религиозные убеждения, соглашусь и с тем, что это очень богатая тема, 
отнюдь не приводимая к тезису о том, что священник может быть ученым 
(архиепископ и профессор). Такой тезис доказывать – значит встать на уровень 
нашей антирелигиозной пропаганды или ниже ее. А вот раскрыть на исканиях и 
работе Войно-Ясенецкого темы – наука и религиозная нравственность или 
религиозное мировоззрение – огромные задачи, которым одним размера книги не 
хватит.</p>
<p>Совсем другая тема – советская власть и православная 
церковь. Конечно, история архиепископа Луки и его популярности, как у прихожан, 
так и у властей, неотделима от его хирургической знаменитости – защиты. Но здесь 
эта связь – лишь дополнительное обстоятельство, а главное – история стойкого 
мученика за веру и в то же время фактического сталиниста, верного подданного 
верховного гонителя церкви и людей. Трагическая, великая тема! Зачем же ее 
разжижать научно-религиозной тематикой? Не понимаю. А Вы еще включаете свои 
воспоминания, характеристики иных лиц, изложение собственной позиции. И чем 
более этот материал интересен, тем хуже для восприятия читателем главного.</p>
<p>Иногда мне кажется, что проделана огромная работа, 
полностью собран весь наличный материал, приведен в порядок и мастерски записан, 
согрет авторским сердцем и раздумьями, но чего-то последнего и важного в книге 
не хватает. Какой-то последней операции высветления, что ли – не сделано. И 
потому читатель тонет в море фактов.</p>
<p>Конечно, можно возразить примером "Войны и мира", 
ссылкой на иные многотомные и многоплановые произведения. Однако разные сюжетные 
линии, различные миры в таких книжных гигантах носят соподчиненный характер. 
Сплетаясь, они высвечивают какую-то общую, главную тему. Так мне кажется. 
Помните, например, даже в "Анне Карениной" две главные линии Анны-Вронского и 
Кити-Левина текут внешне совершенно разобщенно, а на деле они вместе дают общую 
картину полной жизни, тьмы и света, добра и порока.</p>
<p>У Вас же четких линий нет, а если их выявить, разделить, 
то окажется, что их не нужно связывать, ибо истинной целью Вашей книги является 
не описание полноты жизни или еще что-то, а решение отдельных 
нравственно-научных и общественно-религиозных проблем.</p>
<p>Поэтому мой совет: не надо считать работу над книгой о 
Луке и свою жизнь в нашем мире – законченной. Дела еще – навалом. Обидно же 
работать дома, никуда не уезжая и рассчитывая если не на публикацию в Союзе, то 
на отсутствие наказаний при появлении "Луки" в Самиздате (кстати, почему бы Вам 
кроме основного и удачного названия не принять второе, удобное и укороченное - 
"Лука" – языку этого хочется).</p>
<p>Написанную же книгу оставить, как она есть – как первый 
и нужный вариант, но для себя, а не для печати (во всяком случае, сейчас, когда 
распространение ее может повредить и Вам, и тем, от кого Вы получали 
информацию).</p>
<p>А для печати и Самиздата – разделить книгу на две или 
больше книг. И, наконец, убрать все источники информации в книгах, 
предназначенных для печати. Я вообще не понимаю, зачем нужны точные ссылки на 
конкретные источники информации не в научном трактате, а в художественном 
произведении. Подойти строже к вольности своих оценок, что даст выигрыш в 
глубине разработки самих тем.</p>
<p>Я уверен, что такая работа над книгой будет очень 
полезной и даже необходимой. Понимаю, что свои наглые советы даю Вам не вовремя, 
что по Вашим представлениям книга требует лишь некоторой правки – и все, в 
добрый путь! И побыстрее, а то устареет… Но, Марк Александрович, зачем Вам 
издавать книгу, которая стареет? Не лучше ли потратить еще время и силы, чтобы 
создать ценность долговечную? Ведь Вы можете это сделать… Неужели жалко времени? 
Неужели так надоело? Неужели так не терпится и не сидится у нас? – Сделайте 
вечное, Марк Саныч, пожалуйста! 4.10.75.</p>
<br/>
<table width="600"> <tr> <td>
<a href="54.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="56.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
