{% extends 'base.html' %}
<title>Сокирко В.В. Поповскому М.А. (о книге "Куда девались толстовцы?"), 02.06.1977г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="56.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="58.html"> следующая </a>
</td></tr></table>
<h3>57. <a href="/ideology/samosoznanie/popvskii.html">Поповскому М.А. О книге "Куда девались толстовцы",</a> 2.06.1977г. </h3>
<p><em>Две рецензии на книги 
Ю.Трифонова написаны в разные годы, но их объединяет одна и та же важная для 
всех тема революционной психологии и судьбы, тема революции, из которой мы 
вышли, и будущей революции, которая нам грозит. Беспокойная эта тема плохо 
отпускала его – он отправил в самиздат подборку из этих двух рецензий и рецензии 
на “Оптимистическую трагедию” Вишневского в постановке Г.Юденича под названием 
“Три рецензии о революции”</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="56.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="58.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
