{% extends 'base.html' %}
{% block title %}Сокирко В.В. Рецензия на роман Ю.Трифонова “Старик”{% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="58.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="60.html"> следующая </a>
</td></tr></table>
<h3>59. Рецензия на роман Ю.Трифонова "Старик",1978г.</h3>
<p> (ж-л "Дружба народов", № 3, 1978 г.)</p>
<p>Этот роман читают по-разному и разное в нем видят. Для 
одних – это книга о сегодняшней жизни и буднях, перемежаемая воспоминаниями 
Старика – отживающего свое участника революции. Для других – это революционная 
трагедия, до сих пор еще не понятая нами, но определяющая нашу жизнь, 
просвечивающая даже в сегодняшних житейских дрязгах. Мне кажется, что именно 
последнее понимание близко к авторскому, и именно о нем следует говорить.</p>
<p>В романе реально существует только сегодняшняя жизнь – 
мелкая и пошлая. Но на деле только революционное прошлое Старика оказывается 
настоящей жизнью, осмысленным подвигом. В нынешней же жизни только старики, 
близкие к революции, оказываются лучшими людьми. Почти в каждой трифоновской 
фразе я ощущаю ненависть к современной среде. Как и в прежних, "городских" 
повестях, так и здесь, действуют современные герои пустоты и 
бессодержательности, фальшивых слов и мещанских чувств. Автор как бы вымучивает 
им свое сочувствие, заставляет себя не уважать их – нет, а хотя бы маскировать 
свое презрение вежливостью и якобы нейтральной доброжелательностью. Настоящая же 
его любовь отдана людям героического прошлого, революционным "отцам".</p>
<p>Как мне кажется, Трифонов выражает мироощущение детей 
старых большевиков, по большей части репрессированных в 30-е годы. В своем 
детстве они испытали ужасающий разлад между детской любовью к революционным 
родителям, восторг перед высотой их морали и эрудиции - и последовавшей после 
репрессии родителей тяжелейшей жизнью детей "врагов народа" (хоть "дети не 
отвечают за родителей", но отвечать им пришлось почти всю жизнь. Для них 
сталинизм – это личный, родовой враг, надругавшийся не только над любимыми 
"отцами", но и над собственными молодыми жизнями.</p>
<p>Однако с этим главным врагом в единое враждебное целое 
слилась и окружавшая их после ареста родителей мещанская, народная среда. 
Вынужденное переселение из относительно комфортабельных дач и квартир 
высокопоставленных партийцев – в обычные "коммуналки", да еще осложненном 
злорадством и злобностью многих соседей, должно было воспитать в "детях старых 
большевиков" жгучую и неизбывную ненависть к этому "некультурному, грязному, 
мещанскому миру". В их памяти сталинизм и мещанство стало одним враждебным 
целым. Когда-то отцы победили в революции мещан, но потом сталинисты сломали 
отцов, отдав их детей на унижение мещанам. И потому в своих мечтах дети, подобно 
отцам, снова должны возвыситься и победить мещан, но вместе с тем – не поддаться 
новым сталинистам.</p>
<p>Мне кажется, что Трифонов в своих романах и повестях 
тоже подчиняется этой логике воспитанных в детстве пристрастий. Для него борьба 
со сталинистами неотделима от борьбы против мещанства или нового буржуйства. И 
наоборот. А победа добра связана только с победой революционных отцов и с 
унижением всего, что им противостояло и противостоит: дореволюционной России 
юнкеров, попов и буржуев, сталинской России – проходимцев, перекрасившихся 
контриков, циников и демагогов, сегодняшней России – обывателей, безвольных 
интеллигентов, попусту разглагольствующих диссидентов. Все ненавистно автору, и 
потому перед читателем предстает выжженный (не столько московской жарой 1972 
года, сколько трифоновской неприязнью) мир с одной единственной доминантой 
революционного идеала. Все окрашено в черноту. И только талант художника 
заставляет его находить в этой сплошной мгле какие-то серые полутона.</p>
<p>Сплошь черной краской нарисован, например, Карнаухов – 
супермен и деловой человек. Это само воплощение современного дьявола – 
советского буржуя во плоти, подчинившего свою жизнь одному циничному расчету – 
достижению власти, богатства, материальных благ, загранкомандировок, прочих 
удовольствий. И как всякий дьявол, он неуязвим в этой земной жизни (никто не 
может ему противостоять) и лишь одна судьба (или Божье наказание – понимайте, 
как хотите) с помощью неожиданной болезни кладет конец его победам. По законам 
жанра, автор наделяет Карнаухова немалым набором привлекательных качеств, в том 
числе редкой энергией и деловитостью, работоспособностью и целеустремленностью - 
"до упора". Кажется, это единственный действующий современный герой романа, но 
его активность и "прелести" нужны Трифонову только для того, чтобы усилить наш 
страх от дьявольского "бездушия и порочности". Никакого желания понять 
Карнаухова и его поступки автор не испытывает, подсовывая вместо исследования 
причин – выдуманные им самым мотивы. Он просто живописует современного 
буржуазного дьявола, чтобы заклеймить его и противопоставить идеалисту Мигулину 
в революционном прошлом, чтобы разместить между этими крайними полюсами всех 
остальных героев. </p>
<p>Ближе всего к Карнаухову оказывается перекрасившийся 
белогвардеец и юнкер, а ныне кооперативный общественник и прощелыга Приходько. 
Потом идет Николай Эрастович, православный святоша (может, даже диссидент), 
прямой духовный потомок того толстовца, который едва не выдал под 
белогвардейский расстрел в пору гражданской войны самого Старика, тогда 
звавшегося Павликом. Потом – сын Старика – Руська, диссидентствующий либерал – 
говорун и пьяница, бездельник и хапуга (оба они борются с Карнауховым за дачный 
домик и потому уподобляются последнему). Затем – слесарь Митька, циник и 
халтурщик… Ну и так далее…</p>
<p>И только Старик, невесть как сохранивший свою память и 
свои идеалы в этой душной атмосфере безысходной "буржуазности", существует 
редким островком, к которому могут прибегнуть сегодняшние люди в редкие часы 
осветляющего их раскаяния и очеловечивания (на это больше способны женщины, т.к. 
Трифонов судит женщин менее строго, чем мужчин, что, возможно, объясняется его 
детскими привязанностями).</p>
<p>Что же представляет собой другой, революционный мир 
романа? Он развертывается последовательно, как хроника жизни самого Павлика, но 
главный нерв этих воспоминаний – в реабилитации настоящего революционера и героя 
гражданской войны – Мигулина. Реабилитации не формальной, не внешней, не перед 
официальными инстанциями, а реабилитации внутренней, по самой сути, по критериям 
общечеловеческих идеалов революции.</p>
<p>При чтении романа поражаешься мужеству Трифонова, столь 
смело пускающегося в беспощадный анализ революционной истории и правды о ней, 
решающегося на открытый разбор своей главной веры, веры в святость революционных 
отцов. Выводы же, которые он вынужден сделать из этого анализа (вернее, выводы, 
которые делает внимательный читатель романа), очень далеки от официального 
славословия коммунистической партии.</p>
<p>Оказывается, что все наши беды, беды культа личности, 
извращений и деформаций социализма и т.п. – начинались совсем не в 1937 г., и 
даже не в 20-е годы после воцарения Сталина, а много раньше, в годы самой 
революции и даже еще раньше. Уже знаменательная встреча большевика Шурика и 
поставляющего ему оружие бандита Грибова вводит в наши раздумья тревожные 
вопросы сложности и моральной неоднозначности революционных действий. А потом, 
после победной революции и в пылу гражданской войны вперед выдвигаются всяческие 
фанатики и бывшие каторжники, не испытывающие к нормальной жизни ничего, кроме 
мести и ненависти, насилием внедряющие свой "порядок". Всяческие Браславские, 
Шигонцевы, Бычины, Логачевы, Харины… Кажется, что они не остановятся перед 
уничтожением всех "буржуев", кроме казаков, да и всех людей, если те окажутся 
"зараженными" (как это проделали недавно красные кхмеры в Кампучии). Эти люди – 
готовые сталинисты и бериевцы – они успешно расстреливают уже в гражданскую 
войну. Мигулин (а за ним негласно и сам Трифонов), находит для них емкое имя: 
"лжекоммунисты" и даже объявляет им войну.</p>
<p>Но "лжекоммунисты" – отнюдь не редкое исключение в 
гражданской войне, а, напротив, чуть ли не самая главная сила красных войск и 
власти. С одной стороны, на них опирается и защищает все централизующий аппарат 
власти – от Троцкого до Янсона и прочих деятелей Южного фронта, снизу их 
подпирают входящие в силу завистники и мещане, т.е. нарождающаяся уже тогда, в 
огне революции – новая, советская буржуазия. Парадоксальная ситуация: 
революционный идеалист Трифонов, анализируя историю нашей великой революции, 
подвергает осуждению большинство реальных революционеров. Даже самый 
"правильный" коммунист – Шура (прообразом которому послужил, видимо, отец или 
дядя писателя), оказывается бессильным в этой грязной толчее и отступает, едва 
ли не предавая пламенного Мигулина, а вместе с ним – и собственную революционную 
страсть, т.е. ломается как революционер… Сначала он отказывается быть комиссаром 
у Мигулина, поскольку не может преодолеть сопротивление верховных 
"лжекоммунистов", с одной стороны, и утихомирить неукротимого Мигулина – с 
другой; потом отказывается участвовать в трибунале, судящего Мигулина за 
несанкционированное сверху революционное выступление на фронт – как бы умывает 
руки, не желая ни защищать, ни участвовать в его расстреле. Шура занят спасением 
личной честности, но не самой революции. Правда, вдалеке еще светят авторитет 
Ленина, поскольку Мигулин все порывается донести "всю правду". Но и Ленин то ли 
от высоты, то ли от занятости и болезни – бессилен изменить гибельный ход вещей. 
И вот оказывается, что революция гибнет – не наружно, а внутренне – через гибель 
истинных революционеров.</p>
<p>Оказывается, что истинным революционером (настоящим 
коммунистом) является отнюдь не какой-то член компартии – а сам Мигулин, бывший 
народный социалист или труженик, бывший казачий подполковник, на воззваниях 
которого Троцкий пишет уничтожающий отзыв: "Эсеровщина и донская учредиловщина" 
– И это истинная правда: члены компартии в своем преобладающем большинстве не 
были революционерами, т.е. людьми революционной страсти. Они были людьми 
порядка, централизации, глубоко враждебные революционным стихиям.</p>
<p>Блестящий художник и истинный социалист – Ю.Трифонов 
подводит своих читателей к тому же выводу, который еще раньше сделал социалист 
Дж.Орвелл, наблюдая испанскую войну 1936-1939гг.. ("Письма о Каталонии"): 
"Именно компартия была одной из самых сильных антиреволюционных партий". Сам 
Трифонов, возможно, и не хотел таких выводов, но тем убедительнее и естественней 
они всплывают в воспоминаниях Старика: лжекоммунисты-таки задавили Мигулина в 
самом конце гражданской войны, и все, что за этим последовало, все, вплоть до 
серости сегодняшней жизни – лишь расплата за те первоначальные грехи советской 
истории.</p>
<p>Со страниц трифоновского романа мы видим гражданскую 
войну совсем иной, чем привыкли ее видеть в школе – не красно-белой, а 
многоцветной, когда и белые, и красные сходились в своей жестокости, 
централизованности, диктатуре, к своей ненависти к людям, отстаивающим 
человеческую свободу, стихию, т.е. к искренним революционерам, которые, в свою 
очередь, самим ходом вещей втягивались в борьбу и с белыми, и с красными 
лжекоммунистами. Такими были и упоминаемый в романе атаман Григорьев, судьбу 
которого едва не повторил Мигулин, и анархистский вожак Махно, и глава 
крестьянского восстания на Тамбовщине эсер Антонов, и участники знаменитого 
кронштадского восстания с их лозунгом: "За Советы без коммунистов", т.е. без 
"лжекоммунистов" и т.д.</p>
<p>Большинство из этих людей поднимали борьбу против 
"лжекоммунистов", терпели поражение, погибали, оставаясь в официальной истории 
изменниками и контрреволюционерами. Сегодняшняя реабилитация и восстановление о 
них всей правды – святое дело… Другим повезло больше: они погибли раньше, еще в 
боях с белыми, и не успели втянуться в мятеж против "лжекоммунистов" и потому 
остались в официальной истории героями. Таким, наверное, был Чапаев… В детстве 
мы смеялись над его ответом на мужицкий вопрос: "Ты, Василий Иваныч, за 
большевиков или за коммунистов?", а тот отвечал: "За Третий Интернационал!" – и 
только теперь, после трифоновского романа, до нас доходит и сокровенный смысл 
мужицкого вопроса ("Ты за большевиков, которые сделали революцию и отдали народу 
землю, или ты за коммунистов, которые отбирают хлеб продотрядами и стреляют?"), 
так и чапаевского ответа: ("Я за истинных коммунистов, за настоящую 
революцию")</p>
<p>В суровые годы гражданской войны партийное руководство 
терпело этих людей – за их талант, за авторитет у людей, за военные победы и 
эффективность, но в более спокойные годы оно их устраняло от дел, а при 
сопротивлении этому – просто ставило к стенке. Такой деловой, функциональный 
подход применяла компартия и к военспецам, позже – к технической интеллигенции и 
ученым. И с такой страшной деловитостью укрепившаяся диктатура при нужде 
перемалывала и своих ревностных изобретателей и служителей, всяческих Троцких и 
Янсонов. Но их черед наступил несколько позже. А в гражданской войне 
расстреливали больше внепартийных революционеров. Описание суда над Мигулиным, 
переживаний подсудимых, их раскаяния-покаяния, самооговоров – дает понимание 
психологии подсудимых и более поздних знаменитых процессов 30-х годов. На деле 
они только повторяли то, что уже происходило в годы гражданской войны.</p>
<p>Революционная свобода была в первый раз укрощена 
приходом к власти централизаторской компартии в 1917 г., и с той поры 
постепенно, но неуклонно сокращалась сфера ее существования, сдавливалась вплоть 
до своего окончательного удушения. Сдавливалась руками самих Мигулиных и Шур, 
руками самих революционеров. Это было неизбежно: ведь стихия не вечна, порядок 
должен восстановиться. Но только какой порядок? – Об этом-то и спорили в 
гражданскую войну. Белые хотели восстановить старую абсолютную монархию, красные 
– создать абсолютную власть своей партии, Мигулин хотел какой-то справедливой, 
т.е. своей власти, пытался опереться на зеленых, на дезертиров, но 
безуспешно.</p>
<p>Для России, наверное, было бы лучше, если бы 
восстановился такой порядок, при котором могли бы мирно ужиться и красные, и 
белые, и зеленые, и все прочие, и Мигулин, и Мелехов…, т.е. – демократия. Но, к 
сожалению, такой порядок может быть создан не из гражданской разрухи, а лишь из 
давних правовых традиций. Гражданская война могла окончиться лишь победой одной 
из диктатур (или разделением государства), страшной в своей мести – независимо 
от цвета. Помочь стране в такой ситуации могло только быстрейшее окончание 
смуты, т.е. отказ от участия в ней. Попытки же Мигулина и иных истинных 
патриотов были безнадежны, исторически обречены. И чувствуя это, Мигулин сам 
пытается себя убедить в справедливости одной из диктатур – красной, заставляет 
себя примкнуть к компартии, быть верной ей несмотря ни на что. Он ломает самого 
себя под партийную доктрину, но не может сломать до конца, не может пересилить в 
себе ни любви к народу, ни трезвого видения мира, ни революционных идеалов. 
Отсюда его метания – от попыток вступления в компартию до арестов партработников 
в качестве заложников. А потом вновь слезы и раскаяния на суде, превращение из 
народного трибуна – в старика, просящего лжекоммунистов о пощаде перед 
расстрелом. И снова – фронт и верность компартии. Так ломались и "воспитывались" 
революционные бойцы, превращаясь в "солдат партии". Так они приучались жить не 
по своим убеждениям, а по партийным директивам. Сам Мигулин так и не смог до 
конца сломаться, а всяческие Буденные и Ворошиловы "воспитались вполне". И 
понятно: посредственности приспособиться к чужим директивам много легче, чем 
настоящим талантам.</p>
<p>А, с другой стороны, фронта разнообразие участников было 
еще более разительным. Величайший русский роман на революционную тему - "Тихий 
Дон" повествует достаточно ярко о метаниях казаков. А сколько метаний было у 
Самарского правительства эсеров и меньшевиков в их противостоянии и красной, и 
белой генеральской диктатуре ("лжеконституционалисты"). То же в Архангельске на 
Севере, в Баку – на Юге… Красные комиссары и белые генералы, Троцкий и Деникин 
совместно растаптывали в гигантской мясорубке истинных русских – демократов. 
Гибель их исторически неизбежна – в этом главная трагедия революции. Эту 
трагедию Трифонов чувствует и доносит до нас, предоставляя выводы делать 
самим.</p>
<p>Читая этот роман, снова убеждаешься, сколь мало мы знаем 
о великой революции, мы - ее прямые наследники. Сколь многого не понимаем. Хотя 
понять все очень трудно, почти невозможно. Недаром и сам Старик кончает свое 
существование в романе тем же вопросом, с которого начал: "Зачем же Мигулин 
выступил на фронт?" </p>
<p>Я думаю, что и Трифонов многого не понимает. Во всяком 
случае, его философское обобщение революционных событий, как столкновения 
космических сил веры и неверия – воспринимаются лишь как литературная 
догадка:</p>
<p>"Я объясняю: то истинное, что создавалось в те дни, во 
что мы так яростно верили, неминуемо дотянулось до дня сегодняшнего, 
преобразилось, преломилось, стало светом и воздухом, чего люди не замечают, о 
чем не догадываются. Дети не понимают. Но мы-то знаем. Ведь так. Мы-то как? – 
Мы-то видим это отражение, это преломление ясно. Поэтому так важно теперь, через 
полвека, понять причину гибели Мигулина. Люди погибают не от пуль, болезни или 
несчастного случая, а потому что сталкиваются величайшие силы и летит искорками 
смерть… А сам думаю: они потом никогда не поймут, как мы все это смогли вынести… 
какие силы нас разрывали… Мигулин погиб оттого, что в роковую пору сшиблись в 
небесах и дали разряд колоссальной мощи два потока тепла и прохлады, два облака 
величиной с континент – веры и неверия. Умчало его, унесло ураганным ветром, с 
которым перемешались холод и тепло, вера и неверие. От смешения всегда бывает 
гроза и ливень проливается на землю. Таким же ливнем кончится и этот нещадный 
зной (лето 1972г. в Москве) "</p>
<p>Революционный идеализм Трифонова здесь поднимается до 
религиозных высот, до создания новой религии света и тьмы, тепла и холода, веры 
и неверия, нового маздакизма. По-видимому, революционный идеализм 
отождествляется здесь с верой, теплом, светом, а диктатура лжекоммунистов – с 
неверием, холодом, мраком. Но с полной определенностью утверждать это нельзя. Да 
если мы и правильно поняли новую "религию" Трифонова, то что может дать для 
нашего понимания такая космизация революционных стихий?</p>
<p>Я лично убежден, что глубокий анализ истории революции и 
попыток осуществления ее идеалов должен привести к развенчанию и последних 
революционных иллюзий, т.е. святости и самого Мигулина. Я уверен, что он 
приведет к оправданию идеалов естественного, нереволюционного развития. Трифонов 
на такое "предательство идеалов отцов" пойти, наверное, не сможет, надеясь 
очистить их от лжекоммунистов, но для его читателей таких "табу" не существует. 
Писательский же талант делает свое благое дело и приводит к пониманию того, что 
преддверием <u>революционной трагедии</u>, почти 
детерминирующим ее ход, являются <u>трагедии 
дореволюционной жизни</u>, всей нашей истории, приведшей нашу страну не к 
мирному эволюционному развитию, а к срыву ее в революционном буйстве. И предвидя 
в будущем необходимость перемен, ощущая перед страной ответственность, нельзя не 
думать о том, что только сейчас и возможно что-то решить. Потом – будет поздно. 
Январь 1979 г.</p>
<p><em>С некоторой условностью можно 
назвать письма к ак.Д.С.Лихачёву рецензией на книгу О.Сулейменова “Аз и 
Я”</em></p>
<br/>
<table width="600"> <tr> <td>
<a href="58.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="60.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
