{% extends 'base.html' %}
{% block title %}Сокирко В.В. "Призыв Альберта Швейцера" 1975г. (?){% endblock %}
{% block content %}



<table width="600"> <tr> <td>
<a href="60.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="62.html"> следующая </a>
</td></tr></table>
<h3>61.Призыв Альберта Швейцера, 1975(?)г. (по книге А.Швейцера "Культура и этика", М., 1973г.),.</h3>
<p>Внимание к проблемам нравственности становится 
повсеместным – от самой ретроградной литературы до самиздатской. Наряду со 
смешными сторонами и модой, в этом внимании нетрудно видеть признак духовного 
роста людей, их работы в выработке нового сознания. Постепенно становится 
популярным мнение, что без коренной моральной реконструкции невозможно решить 
коренные проблемы общественного развития, невозможны насущные реформы и выход из 
затянувшегося застоя.</p>
<p>Вполне понятен и широкий интерес к этическому наследию, 
национальному и мировому, в том числе и к жизни и учению Альберта Швейцера, 
великого гуманиста ХХ века, гармонично соединившего в себе труд этического 
мыслителя и практический пример жизненного подвига. Впрочем, для этики такое 
сочетание является скорее правилом, чем исключением.</p>
<p>Швейцер может быть интересным по-разному. И как 
вероучитель – своей новой этической системой "благоговения перед жизнью" – для 
учеников и последователей. И как философ-проповедник, призывающий всех людей к 
этическим размышлениям. В этом последнем качестве он интересен для людей разных 
вер и убеждений, и особенно для нас, живущих в ожидании распада и близящегося 
гибельного развала.</p>
<p>Швейцер показывает нам, что ощущение близящейся 
катастрофы присуще не только нам, что оно связано не только с узконациональным 
(например, российским) или узкоидеологическими (например, марксистскими) 
формами, но и общими факторами развития всей нашей цивилизации, что везде наряду 
с несомненным материальным прогрессом происходит и потеря людьми своей 
самостоятельности, своих мировоззренческих и этических основ, и, как следствие, 
приводит к росту бескультурья и гибели. </p>
<p>"Между материальной и духовной свободой существует 
внутреннее единство. Культура предполагает наличие свободных людей, ибо только 
они могут выработать и воплотить в жизнь ее принципы.</p>
<p>…Материальные достижения, конечно, делают человечество, 
как таковое, более независимым от природы, чем раньше. Вместе с тем, однако, они 
уменьшают количество независимых существ внутри самого человечества. Ремесленник 
под воздействием машины превращается в фабричного рабочего. Место независимого 
коммерсанта все чаще занимают чиновники в силу того, что в сложных условиях 
современного производства шансы на существование имеют лишь предприятия, 
располагающие крупным капиталом… Возникающее состояние зависимости и подчинения 
усугубляется еще и тем, что и объединяет все большее число людей в крупные 
агломераты, отрывая их от кормилицы земли, от собственного дома и природы. Тем 
самым люди тяжело травмируются психически. Утверждение о том, что с потерей 
собственного участка земли и собственного жилища у человека начинается 
противоестественная жизнь, оказывается на поверку слишком правильным, чтобы 
считаться парадоксальным" (с.41).</p>
<p>"Кроме того, в новых условиях людям больше не присуще 
живое несокрушимое сознание ответственности людей, занимающихся самостоятельным 
трудом. Следовательно, условия их существования противоестественны. Теперь они 
ведут борьбу за существование, будучи лишены более или менее нормальных условий, 
когда каждый, идет ли речь о борьбе с природой или о конкуренции людей, может 
пробить себе дорогу, благодаря своим потребностям. Напротив, они считают, что 
необходимо объединиться и образовать, таким образом, силу, способную добиться 
лучших условий существования. В итоге складываются психология несвободных людей, 
в которых идеалы культуры уже не выступают в необходимой чистоте, а искажаются 
интересами борьбы. До известной степени мы все являемся в современных условиях 
несвободными людьми… наша духовная несамостоятельность увеличивается в той же 
степени, что и материальная. На каждом шагу мы попадаем в самые различные формы 
зависимости, равных которым по всеобъемлемости и силе раньше не знали. 
Непрерывно совершенствующиеся экономические, социальные и политические 
организации все больше подчиняют нас своей власти. Постоянно укрепляющее свою 
организацию государство все более решительно и всеобъемлюще повелевает нами. 
Т.о. наше личное бытие принижено во всех отношениях. Быть личностью становится 
для нас труднее… </p>
<p>Следовательно, материальные достижения – это еще не 
культура. Они становятся ею лишь в той мере, в какой их удается поставить на 
службу идее совершенствования индивида и общества"(с.100).</p>
<p>Мысли Швейцера о связи материальных достижений с ростом 
закабаления людей, их духовной несамостоятельности, противоречат привычным 
представлениям, а с другой стороны, объясняют нам, почему одной научной, 
технической производственной деятельности совершенно недостаточно для создания 
достойной жизни.</p>
<p>"Ставшая обычной сверхзанятость современного человека во 
всех слоях общества ведет к умиранию в нем духовного начала. Косвенно он 
становится жертвой этого уже в детстве. Его родители, поглощенные жестокими 
трудовыми буднями, не могут уделять ему нужного внимания. В результате для него 
оказывается безвозвратно утраченным нечто органически необходимое для его 
развития" (с.42).</p>
<p>"Постоянная спешка, характерная для нашего образа жизни, 
интенсификация взаимного общения, совместного труда и современного бытия… 
приводит к тому, что мы беспрестанно и при самых разнообразных условиях 
встречаемся друг с другом, держимся отчужденно к себе подобным… Мы утрачиваем 
чувство родства со своими близкими и скатываемся, таким образом, на путь 
антигуманности. Когда исчезает сознание, что любой человек нам в какой-то мере 
небезразличен, как человек, тогда расшатываются устои культуры и этики. Регресс 
гуманности в этом случае является лишь вопросом времени…"</p>
<p>Не только технический прогресс создает основу для 
современного рабства людей. В ту же сторону действует и прогресс общественных 
наук, позволяющий совершенствовать технику власти государства и прочих 
организаций над людьми.</p>
<p>"Отрицательно воздействует на культуру также 
сверхорганизованность наших общественных условий… Создание в какой-либо сфере 
всеобъемлющей организации на первых порах дает блестящие результаты, но через 
некоторое время первоначальный эффект уменьшается. Вначале демонстрируем уже 
существующее богатство, в дальнейшем дают себя знать последствия недооценки 
игнорирования живого и первоначального. Чем последовательнее внедряется 
организация, тем сильнее проявляется ее сдерживающее воздействие на 
производственное и духовное начало. Существующие культурные государства… не 
могут преодолеть ни в экономической, ни в духовной жизни последствия давно 
оставленного позади слишком всеобъемлющей и далеко идущей централизации 
управления.</p>
<p>Превращение леса в парк и поддержание его в таковом 
качестве может оказаться в том или ином отношении целесообразным, но об 
интенсивной вегетации, которая естественным путем обеспечивала бы и впредь 
богатый древостой, тогда уже не может идти речи…</p>
<p>Поглощение современного человека обществом, поистине, 
единственное в своем роде – это, пожалуй, наиболее характерная черта его 
сущности… Недостаток внимания к самому себе и без того уже делает его почти 
патологически восприимчивым к убеждениям, которые в готовом виде вводятся в 
обиход обществом и его институтами. Поскольку к тому же общество благодаря 
достигнутой организации стало невиданной ранее силой в духовной жизни, 
несамостоятельность современного человека по отношению к обществу принимает 
такой характер, что он почти перестает жить собственной духовной жизнью… Он 
уверен, что беспредельной духовной преданностью идее коллективизма докажет на 
деле величие современного человека. Естественно присущую ему общительность он 
намеренно превращает в фанатическую потребность насильственно подчинить все 
коллективному началу…</p>
<p>Уже внедрившиеся идеи завоевывает все больший авторитет, 
приобретают все более односторонний характер и доходят в своем господстве над 
людьми до самых крайних и опасных последствий. Так мы вступили в новое 
средневековье. Всеобщим актом всякая свобода мышления изъята из употребления, 
потому что миллионы индивидов отказываются от права на мышление и во всем 
руководствуются только принадлежностью к корпорации.</p>
<p>Духовную свободу мы приобретаем только тогда, когда эти 
миллионы людей станут духовно самостоятельными и найдут достаточную и 
естественную форму отношения к организациям, интеллектуально поработившим их. 
Избавиться от нынешнего средневековья будет намного труднее, чем от прежнего. 
Тогда велась борьба против исторически обусловленной внешней власти, ныне речь 
идет о том, чтобы побудить миллионы индивидов сбросить с себя собственноручно 
надетое ярмо духовной несамостоятельности. Может ли существовать более трудная 
задача?"</p>
<p>Швейцер был западноевропейцем, но мы видим, как похожи 
описываемые им беды на наши проблемы. Можно только считать, что у нас беды от 
централизации жизни, от дегуманизации и неэффективности труда, от тотальности 
пропаганды, от потери экономической и духовной свободы – много тяжелее, чем на 
родине Швейцера.</p>
<p>Достаточно сравнить положение западного фермера и нашего 
колхозника, предпринимателя и "хозяйственника", свободный профсоюз и 
государственный, западного и советского интеллигента, чтобы понять различия. А 
соображение, что Запад мучают те же проблемы, пусть не в столь острой форме, как 
у нас, что мы друзья по несчастью служит малым утешением. Хотя, конечно, важно, 
что мы – не исключение, что наши беды – это часть мировых проблем, и что на 
Западе мы сможем видеть результаты успешной (относительно) борьбы с этими 
недугами.</p>
<p>"Если среди наших современников встречается так мало 
людей с верным человеческим и нравственным чутьем, то это объясняется не в 
последнюю очередь тем, что мы беспрестанно приносим свою личную ответственность 
на алтарь отечества вместо того, чтобы оставаться в оппозиции к обществу и быть 
силой, побуждающей его стремиться к совершенству".</p>
<p>Швейцер видит суть культуры в материальном и духовном 
прогрессе, причем если под первым он разумеет рост господства разума над 
природой, то под вторым – господство человека над своей натурой, что гораздо 
важнее.</p>
<p>"В чем состоит господство разума над человеческими 
убеждениями и помыслами? В том, что индивиды и всевозможные человеческие 
сообщества соизмеряют свои желания с материальным и духовным благом целого и 
многих, т.е. в том, что они этичны. Следовательно, этический прогресс – это 
существенный и несомненный, а материальный – менее существенный и менее 
несомненный в развитии культуры".</p>
<p>Мне кажется, что с этим утверждением Швейцера необходимо 
согласиться. Как бы ни росло материальное богатство людей, комфортность их 
существования, их счастье зависит, прежде всего, от взаимоотношений, от душевной 
устроенности, доступной только нравственным людям, т.е. тем, которые каждым 
своим поступком приносят людям и миру не вред, а пользу.</p>
<p>В нашем кардинально меняющемся мире надо ухитриться жить 
так, чтобы никому не вредить. Конечно, существуют вечные идеалы-заповеди, 
сводящиеся всегда к одному и тому же – не вреди человеку, жизни, миру. Но вот 
правила, по которым следует выполнять эти заповеди в конкретной жизни, 
заслуживают серьезных размышлений.</p>
<p>Говоря современным языком, чтобы человек оптимально 
построил свою жизнь, он должен, прежде всего, верно выбрать цель и моральные 
ограничения (в которых отражены высшие цели мира и человечества, прошлого, 
нынешнего и будущего), а уж потом браться за решение жизненных задач и 
конкретную деятельность. Конечно, у человека всегда есть возможность не 
задумываться о столь "высоких материях", а поступать по аналогии с другими 
людьми (например, товарищами), или подчиняясь видимой, лежащей на поверхности и 
пропагандируемой выгоде, личной или общественной. Однако, такая поверхностность, 
подражательность часто приводит человека ко злу, бескультурью, дезорганизации и 
гибели.</p>
<p>"Вместо того, чтобы в мышлении выработать разумные, 
этические идеалы, ориентированные на действительность, мы заимствуем их у 
действительности… Мы, в сущности, поступаем как мальчишки, которые, мчась с горы 
на санках, беззаботно вверяют себя естественно действующим силам и нисколько не 
задумываются над тем, удастся ли совладать с несущимися санками на ближайшем 
повороте или у ближайшей непредвиденной преграды…" (с.55)</p>
<p>"С отречением от разумных этических идеалов, характерным 
для нашего чувства реальности, наша объективность не возрастает, а уменьшается… 
Своими страстями и предельно недальновидными соображениями выгоды мы стимулируем 
следование из одного факта непосредственно примыкающему к нему другого и т.д… 
Без плана и фундамента строим мы наше будущее на зыбкой почве конкретных 
обстоятельств и подвергаем его разрушительному воздействию хаотических смещений 
и передвижений, характерных для этих обстоятельств. "Наконец-то твердая почва 
под ногами!" – восклицаем мы… и тонем в хаосе событий". (с.58)</p>
<p>"Твердая почва под ногами дана нам в основанных на 
разуме этических идеалах. Хотим ли мы, чтобы дух сделал нас способным создать 
новые условия бытия и вновь вернуться к культуре, или же нас устраивает 
перспектива по-прежнему черпать духовное из конкретной действительности и в 
результате неудержимо катиться навстречу гибели? Таков роковой вопрос, перед 
которым мы поставлены волею судеб".</p>
<p>"Даже те сложные проблемы, которые целиком относятся к 
материально-экономической сфере, в конечном счете, могут быть решены только 
путем этизации убеждений… Единственно реальный путь для нас – прежде всего в 
старых условиях стать новыми людьми…" (с.67)</p>
<p>"Мои желания и дело обретают смысл и ценность лишь в той 
мере, в какой цель моей деятельности согласуется со смыслом моей жизни и жизни 
других людей. Все остальное, каким бы значительным оно ни представлялось… - 
суетно и опасно".</p>
<p>Важно, что помочь нам не может слепая верность 
традиционным духовным и моральным ценностям, ибо без практики перекладывания 
этих заповедей с помощью размышлений в конкретные правила и поступки они 
становятся бессодержательными понятиями, или еще хуже – ханжеством и 
лицемерием.</p>
<p>"Почему завещанные нам предыдущими поколениями истины 
перестают быть подлинными истинами и превращаются лишь в ходячие фразы?… Что же 
это – неотвратимая судьба? Или родник иссяк, потому что наше мышление не 
проникло в глубинные слои, постоянно несущие грунтовые воды?</p>
<p>Идеи, которые мы наследуем, бессильны возродить 
содержащиеся в них истины, поскольку олицетворяют собой уже умершее…" (с.71)</p>
<p>Бессильно также обращение к историческому опыту, если с 
его помощью пытаться подменить труд этических размышлений.</p>
<p>"Стремясь внушить себе, что в прошлом заключено все ныне 
сущее, мы злоупотребляем этим прошлым ради того, чтобы вывести из него и 
обусловить им наши требования, мнения, чувства, страсти… Наши школьные учебники 
по истории – рассадники исторической лжи… </p>
<p>Мы, собственно, не очень интересуемся тем ценным, что 
заключено в прошлом… Свои планы, страсти, чувства и эстетические вкусы мы 
переносим в прошлое, а затем, обманывая себя, утверждаем, что это в нас – наши 
корни".</p>
<p>Тщетно надеяться также на науку:</p>
<p>"Раньше наука и мышление шли рядом. Наука прокладывала 
путь практическому познанию… Ныне мышление ничего не получает от науки, т.к. 
последняя стала по отношению к нему независимой и индифферентной. 
Прогрессирующая наука сочетается теперь с предельно бездумным мировоззрением… 
Обобщение научных фактов и распространение полученных выводов на мировоззрение 
не входит в ее задачу… У нас есть еще, пожалуй, свобода науки, но почти нет 
мыслящей науки" (с.73)</p>
<p>Наконец, наше подлинное возрождение не может быть 
связано лишь с массовыми движениями революционной силы или иной общественной 
реформации.</p>
<p>"Возрожденная культура не имеет ничего общего с 
движениями, которые носят на себе печать массового переживания. Такие движения 
всегда являются лишь реакциями на внешние события. Культура же может возродиться 
только тогда, когда все большее число индивидов – независимо от господствующего 
в данное время склада мышления и в противовес ему – вырабатывает у себя новую 
систему взглядов, которые постепенно начинают оказывать влияние на склад 
мышления общества и, в конечном счете, определяют его. Только этическое движение 
может вывести нас из состояния бескультурья. Этическое же начало способно 
зародиться лишь в индивиде". (с.74)</p>
<p>Именно так: этическое движение! Т.е. возрождение 
этической самостоятельности людей. Швейцер подчеркивает именно этическую 
самостоятельность и глубину индивидов, ибо только в ней – прочная база для 
духовной и экономической свободы.</p>
<p>"Ясно одно: когда общество воздействует на индивида 
сильнее, чем индивид на общество, начинается деградация культуры, ибо в этом 
случае с необходимостью умаляется решающая величина – духовные и нравственные 
задатки человека. Происходит деморализация общества, и оно становится 
неспособным понимать и решать возникающие перед ним проблемы. В итоге рано или 
поздно наступает катастрофа.</p>
<p>Поскольку мы находимся именно в таком положении, каждый 
человек должен проявить большую, чем до сих пор, личную решимость и взять на 
себя доступную только индивиду функцию выдвижения духовно-этических идей. Ничто 
другое, кроме такого поворота в сознании множества людей, не в состоянии спасти 
нас.</p>
<p>Негласно должно сложиться новое общественное мнение. 
Нынешнее, поддерживаемое прессой, пропагандой, организациями, а также имеющими 
финансовые и другие средства подкупа и нажима. Этому противоестественному 
распространению идей следует противопоставить естественное, идущее от человека к 
человеку и принимающее в расчет только правду мысли и восприимчивость к правде. 
Невооруженное, опирающееся только на примитивную тактику борьбы, оно должно 
выступить против ныне господствующего мнения, которое противостоит ему, как 
Голиаф Давиду, во всем великолепии своих доспехов". (с.75)</p>
<p>Таким образом, Швейцер призывает к этическим 
размышлениям всех людей, надеясь, что каждый из нас выработает свое 
мировоззрение и свою этику. Он знает, что такой подход может быть назван 
рационализмом. Он знает, что рационализм 18-го века был отвергнут в 19-ом веке, 
но не боится признаться в этой своей "устаревшей" симпатии. Не закрывая глаз на 
недостатки просветительского рационализма 18-го века, он все же видит в отказе 
от него, вернее, в отказе от традиции разумного обоснования этических идеалов, 
произошедшем в философии 19-го веке – первопричину кризиса культуры в ХХ 
веке.</p>
<p>"Все движения, пришедшие на смену рационализму, далеко 
отстали от него по достигнутым результатам. Идти до конца по пути углубления 
мыслящего мировоззрения… это единственная возможность вновь выбраться на простор 
из дремучего леса, в котором мы заблудились… Если мы вновь отважимся на поиски 
разума, мы деградируем до уровня поколений, неспособных ни на какой энтузиазм, а 
загоримся великой и глубокой страстью великих и глубоких идеалов" (с.84).</p>
<p>"Призвание каждого человеческого существа состоит в том, 
чтобы, выработав собственное мыслящее мировоззрение, стать подлинной 
личностью".</p>
<p>Конечно, Швейцер не ограничивается лишь формулировкой 
призыва и его обоснованием. Он высказывает и соображения, каким должно быть 
вырабатываемое индивидом мировоззрение:</p>
<p>"Чтобы идеи культуры и зиждущиеся на них убеждения могли 
найти обоснование в мыслящем мировоззрении, оно должно быть оптимистическим и 
этичным.</p>
<p>"Оптимистично то мировоззрение, которое… утверждает мир 
и жизнь как нечто ценное само по себе… Оптимизм дает уверенность, что течение 
событий в мире так или иначе имеет разумную цель, а улучшение условий 
существования в мире вообще и в обществе в частности содействует 
духовно-нравственному совершенствованию индивида.</p>
<p>Из этического вытекает возможность сформулировать 
необходимые для воздействия на мир и общество целесообразные принципы и 
сосредоточить все достижения на духовном и нравственном совершенствовании 
индивида, являющемся последней целью культуры".</p>
<p>"Возможен только один путь: все люди должны обновить 
свои убеждения и идеалы, выведя их из размышлений о смысле жизни и о смысле 
мира. Даже если вновь пробуждающееся мышление придет лишь к несовершенному и 
неудовлетворительному мировоззрению, то и это мировоззрение, как истина, добытая 
ценой больших усилий, будет представлять прогресс по сравнению с 
бесмировоззренческим состоянием или с каким-либо авторитарным мировоззрением, 
которое мы, вопреки требованиям мышления, поддерживаем лишь в силу его 
внутренних достоинств, не испытывая по-настоящему глубокой и искренней 
преданности.</p>
<p>Началом любой полноценной духовной жизни является 
непоколебимая вера в истину и открытое исповедание ее. Даже самое глубокое 
чувство не переступает предела мышления, а непременно коренится в нем, если 
только достаточно глубоко уходит в себя"(с.91).</p>
<p>"Только единство миро- и жизнеутверждения и этики 
способно создать идеалы подлинной, совершенной культуры и побудить взяться за их 
осуществление".</p>
<p>Требования оптимизма и этичности, предъявленные 
Швейцером к мировоззрению, мне понятны и близки. Ведь только при этих чертах 
мировоззрение становится прочной базой для жизни и деятельности активных 
людей.</p>
<p>Впрочем, призыв к рационализму в этике, т.е. к 
размышлениям над проблемами нравственности, совсем не является чем-то необычным 
в народной практике. Ведь именно люди, посвятившие себя таким размышлениям в 
отшельничестве, становились святыми людьми, духовными наставниками. Конечно, 
невозможно ожидать, чтобы все люди стали святыми отшельниками и мудрецами, это и 
не нужно, но часть своего времени надо отдавать таким размышлениям. Обязательно. 
</p>
<p>"Ценно уже само по себе размышление о смысле жизни. Если 
оно вновь станет доступным нам, окончательно поблекнут все внушенные тщеславием 
и страстями идеи, которые, подобно зловредным сорнякам, буйно разрастаются в 
убеждениях масс. Насколько выиграли бы нынешние условия жизни людей, если бы все 
мы ежедневно хотя бы по несколько минут своего вечернего времени посвящали 
размышлению об окружающей нас Вселенной, мысленно обращаясь к бесконечным 
звездным мирам, а на похоронах предавались бы раздумьям о загадке жизни и 
смерти, вместо того, чтобы бездумно шествовать за гробом, обмениваясь 
малозначительными репликами с другими участниками процессии. Внушенные страстями 
и безумием идеалы тех, кто формирует общественное мнение и оказывает решающее 
влияние на события общественной жизни, утратили бы власть над людьми…</p>
<p>Раввины древних времен учили, что Царствие Божие 
наступит, если только весь Израиль начнет по-настоящему соблюдать субботу. 
Насколько вернее было бы сказать, что море несправедливости, насилия и лжи, 
захлестнувшее ныне все человечество, лишится своей разрушительной силы, если 
только нам удастся противопоставить ему хоть какие-то подобия раздумий о смысле 
мира и жизни…</p>
<p>Но, возможно, мы зайдем в тупик непознаваемости и 
вынуждены будем сознаться в том, что нам не под силу придать миру и жизни 
какой-то смысл… Но и это горькое разочарование благостнее для нашей воли, чем 
нетерпимое бездумье. Пока, однако, нет никакой нужды предаваться разочарованию… 
Вполне возможно, что нам придется, оставив вопрос о смысле жизни, истолковать 
смысл нашей жизни из заложенной в нас воли к жизни. Направление нашего движения 
уже ясно. Все мы должны задуматься над смыслом жизни и сообща бороться за 
создание миро- и жизнеутверждающего мировоззрения…"(с.93).</p>
<p>II. Таков призыв Альберта Швейцера. Его книга в основной 
части посвящена изложению и анализу мировой истории этических учений, их 
недостатков, а заканчивается изложением собственной системы Швейцера – этики 
"благоговения перед жизнью". Автор выполнил свою программу.</p>
<p>В условиях современного экологического кризиса, угрозы 
развитию не только человечества, но и природы, выдвинутые Швейцером этические 
принципы особенно интересны. Но меня лично волнует какой будет ныне 
складывающаяся этика моих современников и соотечественников. Ведь фактически 
призыву Швейцера к этическим размышлениям следуют сегодня многие люди разных 
взглядов и убеждений.</p>
<p>Жалобы на моральную деградацию становятся всеобщими. Они 
слышны от христиан и других верующих – что после революционного разлома 
религиозных основ и заповедей нравственность нарда неуклонно деградирует. От 
либералов можно услышать сетования, что прерванный в великую революцию процесс 
нарождения и укрепления самостоятельных русских крестьян и кустарей с их 
традициями честной добропорядочной и трудовой жизни (так похожими на 
протестантскую этику, воспитавшую в свое время нынешнюю Европу) сейчас не 
восстанавливается, и потому нет надежд на будущее. Наконец, верующие коммунисты 
также горюют, что революционный энтузиазм со своей своеобразной этикой 
преданности и бескорыстия уходит в небытие, уступая место равнодушию и низменным 
инстинктам.</p>
<p>Эти жалобы сопровождаются призывами возвращения к 
первоначальным этическим истокам. В силу различия перечисленных этических систем 
эти призывы кажутся противоречивыми и, может даже, взаимоисключающими. Но если 
вдуматься, они все имеют право на жизнь. И все могут быть исполнены. Именно все 
– без исключения. И в такой возможности плюралистичности будущего синтеза – наша 
надежда.</p>
<p>Но как это возможно?</p>
<p>Ведь кажется очевидным, что каждая идеологическая 
система, уже пережившая время своего расцвета, когда она господствовала, будет 
стремиться вернуть себе это преобладание и господство: православие – эпоху 
православного царства, либералы – время Государственной Думы, коммунисты – эпоху 
великой русской революции в ее досталинском периоде. И, конечно, одновременное 
осуществление таких надежд – противоречиво и потому немыслимо.</p>
<p>Однако на деле никто не желает простого повторения 
прошлого, ибо наряду с огромными плюсами в этом славном прошлом были и 
существенные недостатки, которые и привели к утере идеологической системой 
своего господствующего положения. Нет, необходимо использовать прошлый опыт и не 
допустить в будущем таких гибельных недостатков – таково убеждение и христиан, и 
либералов, и коммунистов.</p>
<p>Христиане видят, что православная церковь была в свое 
время слишком тесно связана с государством, слишком подчинена ему, ибо такое 
подчинение уменьшало ее духовную силу и самостоятельность, а государство – 
лишало духовной критики и очищения. Либералы видят, что русская демократия в 
свое время оказалась слишком слабой и несамостоятельной, слишком склонной к 
приспособлению, чтобы защитить свои идеалы.</p>
<p>Наконец, коммунисты также не могут не извлекать уроков 
их практики 20-30-х годов, выкормившей Сталина и раздавившей большевиков. Они 
воочию убедились, что без демократии коммунизм вырождается в государственный 
произвол.</p>
<p>Каждое из течений видит свое будущее торжество на новой 
реформированной основе, и поэтому каждое из них может с полным правом 
присовокупить к своему названию приставку "нео": новые православные, новые 
либералы и новые коммунисты. Трансформации подвергаются не только старые 
общественные идеалы и образцы, изменяются и системы моральных ценностей: в них 
выдвигаются в качестве основных другие, ранее бывшие второстепенными, 
стороны.</p>
<p>Призыв Швейцера к этическим размышлениям, к моральной 
реконструкции, к утверждению нравственной правды, слышен всем. То 
обстоятельство, что его критический анализ и осуждение обращены именно к 
западному обществу, никого не смущает, даже либералов. Все видят, что и на 
Западе главная угроза морали и культуре связана с усиливающимся господством 
государства и всяческих организаций над человеком и, соответственно – с потерей 
им своей индивидуальности. Технический прогресс постоянно создает все новые и 
новые возможности для господства одних людей над другими (в виде государственной 
и иной власти), а этический и культурный прогресс (по Швейцеру) часто 
опаздывает, не успевает выработать соответствующую защиту человеческой личности 
и свободы в новых условиях и временно уступает место тоталитаризму.</p>
<p>У нас эти беды наличествуют в гораздо большей степени, 
чем на Западе, и потому призыв Швейцера звучит еще настоятельней.</p>
<p>Чем же мы можем ответить на него? Попытаемся рассмотреть 
эти возможные изменения применительно к каждому идеологическому течению 
отдельно. И начнем с коммунистического, как основного и преобладающего на 
сегодня для большинства советских людей (встречающееся иногда в Самиздате 
утверждение о том, что коммунистическая идеология не имеет корней в русском 
народе, кажется мне чрезвычайно легковесной и примитивной иллюзией).</p>
<p>Сегодня многие из "задумывающихся" коммунистов и 
социалистов не отрекаются от коммунизма и социализма, а, напротив, укрепляются в 
этих идеалах и отрицают с этой идеальной точки зрения наличную действительность. 
Сегодня они питают любовь ко всему человечеству, ко всем людям, невзирая на 
национальные различия, границы и классы. Они полны веры в предопределенное всем 
прошлым развитием светлое будущее и именно потому полны активности в его 
отстаивании. Уже давно, с начала кальвинизма, многие люди удивлялись, как можно 
совместить концепцию предопределения будущего и личную активность. Ведь, 
казалось бы, если светлое будущее обязательно состоится – то зачем стараться? Но 
оно будет построено руками верных людей. И именно вера в безусловную конечную 
победу своей деятельности придает человеку громадную активность.</p>
<p>Современный верующий коммунист полон бескорыстия и 
желания действовать на благо людей. Распространенный предрассудок, что его 
неверие в Высшую Силу и личное бессмертие неизбежно вызывает аморальность, также 
не выдерживает никакой критики. На деле этот человек живет не для себя, а для 
человечества, в памяти которого заключено и его бессмертие (поистине духовное). 
Духовные цели у него стоят, несомненно, выше материальных, хотя он и 
подчеркивает важность, а иногда даже первичность материальных интересов. Это 
подчеркивание служит только для обоснования и укрепления главных духовных 
целей.</p>
<p>Когда коммунистическая идеология овладела массами в 
революцию, она разрушила все, что было до нее, и попыталась осуществить свои 
идеалы сразу, атакой, с помощью государственного принуждения. Сегодня 
неокоммунисты видят ошибочность такой линии. Своих целей теперь они могут 
добиваться только вопреки воле официальной власти, называющей себя по старой 
памяти коммунистической, только в протесте против ее разложения, только в роли 
коммунистического протестантизма.</p>
<p>Тем более ничего хорошего не могут ждать коммунисты от 
власти с иной, чуждой им даже по названию, идеологией. Отныне создавать светлое 
будущее они могут только собственными силами, только индивидуально или 
объединяясь в общины единомышленников. Мне кажется, этому уже есть практические 
примеры. Создание коммун шабашников, "диких" кооперативов, всевозможных 
товариществ, стремящихся к трудовой самостоятельной деятельности, на почве 
взаимовыгодного сотрудничества с внешним миром – это стихийное проявление 
возрождающегося коммунизма на новой, свободной, очищенной от государственного 
насилия основе.</p>
<p>Следовало бы приглядеться к поведению и этике этих 
стихийных образований, чтобы понять перспективы трансформации ведущей идеологии 
и этики нашего народа. Отказ от насилия и упор лишь на собственные усилия 
приводит новых коммунистов к реалистическому экономическому поведению в 
современном мире: бескорыстие внутри коммун по отношению к своим товарищам и 
единомышленникам дополняется благожелательной настороженностью и взаимовыгодной 
расчетливостью к чужим людям и коллективам. Такое сочетание внешнего 
капиталистического расчета и внутреннего коммунистического бескорыстия позволило 
в свое время выжить русской коммунистической державе, но это же сочетание 
позволит выжить неокоммунистам в будущем, возродиться жизнеспособным 
идеологическим течением в душах людей свободной России. А иначе оно вымрет.</p>
<p>С учетом этих тенденций новый коммунизм будет стремиться 
к преобразованию страны, сначала по югославскому варианту, и дальше, на началах 
свободы и демократии.</p>
<p>Реальные успехи свободных коммун и коллективов будут 
изменять коммунистические идеалы и нормы беззаветного труда, альтруизма, смелого 
творчества и эффективности, превращая их тем самым в вариант протестантской 
этики, основу творческого капиталистического духа (по Веберу). Новый коммунизм 
принесет с собой экономическую свободу.</p>
<p>Взглянем теперь на возможность развития главного 
религиозного движения в стране – православия. Здесь надежды также связаны, 
прежде всего, с протестом, но не против существующей церкви, а, скорее, против 
господствующего государственного атеизма. Поэтому именно у православия 
реформационные настроения будут слабее всего и, напротив, будет сильна 
склонность возродить государственное православие в неизменном строго 
ортодоксальном виде, т.е. к повторению исторических ошибок в части осуществления 
своих идеалов с помощью государственной власти. Возникновение и деятельность 
Союза социальных христиан (группа Огурцова), поставившего своим идеалом контроль 
православных иерархов над государством – тому очевидный пример.</p>
<p>Однако шансы на осуществление такой очередной утопии 
невелики (хотя они в перспективе есть, и именно у православия – наибольшие). 
Реальность же заключается в том, что в стране возникает множество разноверующих 
людей и групп, что даже среди традиционно единого православия сегодня много 
толков и разномыслия. Ужиться они смогут только на началах терпимости и свободы 
веры и совести, только на базе усвоения и обмена духовными богатствами. В его 
открытости и терпимости будет главное отличие новых христиан от старого 
православия. Новое православие принесет с собой идейную свободу и независимость 
от государства.</p>
<p>И, наконец, либерализм. Он тоже имел когда-то в 
предреволюционный период время расцвета, тоже потерпел поражение, а сейчас 
стремится к возрождению, очистившись от ошибок прошлого.</p>
<p>У приверженцев этого направления никогда не было больших 
надежд на государство, не было больших утопических иллюзий. Те уроки, которые 
новые коммунисты и православные только усваивают в ХХ веке (утопизм и упование 
на государственную власть), входят в изначальную суть либеральных убеждений. Но, 
чтобы не погибнуть снова в ряду своих сильных по вере соседей, либералам 
придется в будущем набраться больше твердости, т.е. именно того, чего так не 
хватало им в прошлом. Недаром уже не один год именно правозащитное движение, 
либеральное по своей сути, служит нам примером стойкости.</p>
<p>Беспринципность, приспособленчество, аморализм – отнюдь 
не свойственны современным либералам, имеющим прочную историческую память, 
практический разум, твердую веру в счастливое будущее страны. В каком-то смысле 
они противоположны привычному типу старых либералов. И если они сохранят свой 
активный и нравственный характер, если смогут распространить эти черты на 
освобождающихся людей, то развитие общества снизу будет обеспечено.</p>
<p>Таковы, на мой взгляд, возможные тенденции свободного 
развития основных оппозиционных течений наших сограждан. Они не исключают, а 
дополняют друг друга, внося свою часть в духовный облик будущего. Новый 
коммунизм обеспечит экономическую свободу, новое православие, в конце концов, 
придет к духовной свободе и независимости от государства, либерализм утвердит в 
нас твердую мораль и активность. В каких именно нормах воплотится синтетическая 
мораль этого будущего общества – надо смотреть и анализировать жизнь современных 
свободных (духовно и экономически) людей, их решения и поступки, трудности их 
нравственного выбора и нравственно-мировоззренческих размышлений, позволяющих 
решать реальные жизненные проблемы при сохранении всех идейных традиций основных 
идеологических течений. </p>
<br/>
<table width="600"> <tr> <td>
<a href="60.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="62.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
