{% extends 'base.html' %}
{% block title %}Сокирко В.В. Леваде Ю.А.,1975г.{% endblock %}
{% block content %}




<h3>68.Леваде Ю.А. , 1975г.</h3>
<p>Уважаемый Юрий Александрович! После окончания Вашего 
доклада 17 марта 75 г. на философском семинаре в ЦЭМИ АН СССР я подошел к Вам и 
попробовал высказать то, что не решился сказать при всех: "Вы не правы, Юрий 
Александрович, предостерегая слушателей об иллюзорности попыток подменить 
оперативным (т.е. административным, централизованным, математизированным) 
управлением – другие, "нижние" этажи управления: 2 этаж - "косвенные методы 
управления" (экономические и пр.) и 3 этаж - "структурно-личностные методы 
управления" (нормы поведения, воспитание, подбор и пр.). Но не смог быть 
убедительным.</p>
<p>Разрешите пояснить свое возражение.</p>
<p>Во-первых, неверно изображать нормативное поведение 
людей, их экономическое поведение, с одной стороны, и оперативное управление, с 
другой – в виде иерархической лестницы этажей управления. На деле есть только 
один вид управления: централизованный, административный и пр., и наряду с ним 
есть два вида поведения людей: нормативное или "экономическое" (целесообразно 
самоуправляющее).</p>
<p>Нормативный тип поведения – это ориентация (зачастую 
интуитивная) человека на сложившиеся в обществе нормы, мнения; бессознательное 
или осознанное подчинение обществу, свободное от всяких оценок целесообразности 
и рациональности ("экономичности") своего поведения.</p>
<p>"Экономический" тип поведения – это ориентация человека 
на наилучшее (оптимальное) выполнение своей свободно поставленной им цели (но, 
как правило, соответствующий глобальным целям общества).</p>
<p>В отличие от нормативного, как правило – интуитивного, 
типа поведения, экономический тип является по преимуществу рациональным, 
разумным типом поведения.</p>
<p>Вы правы в утверждении, что в реальных условиях всегда 
имеет место сочетание этих типов поведения, что речь может идти только о 
преобладании одного или другого типа (на Западе – имеется преобладание 
"экономического" поведения, в азиатских странах – нормативного).</p>
<p>С другой стороны, любое общество не может существовать 
без управления своими элементами, без организации их целесообразного поведения. 
Причем, если в обществе преобладает нормативный тип поведения, то свойство 
общественной целесообразности в их поведение должно вносить административное, 
централизованное управление (вопросов "биологического управления" человеческими 
обществами путем естественного отбора – обсуждать не будем). Чем больше 
нормативности в поведении людей, чем больше они привыкли к подсказкам извне, со 
стороны общественных традиций, мнений и прямых (оперативных) указаний 
начальства, тем больше необходимость административного управления.</p>
<p>Если же большинство людей в обществе обладает 
"экономическим" типом поведения (т.е. самоуправляются – по целям, согласованным 
с общественными целями), то управлять ими извне почти нет необходимости (если не 
говорить о войне, дипломатии и т.д. и т.п.).</p>
<p>Следовательно, задача совершенствования и укрепления 
методов оперативного управления (любого управления), задача рационализации 
управления, его автоматизации и т.д. – призвана укрепить и обеспечить 
преобладание в обществе нормативного типа поведения людей. С другой стороны, 
только рост и преобладание целесообразного экономического поведения людей может 
сделать (и обязательно сделает) ненужными многие функции административного 
управления.</p>
<p>Следовательно, предупреждение об иллюзорности следовало 
бы давать не тем, кто думает развивать и укреплять оперативное 
(административное) управление взамен нормативного и косвенного 
("экономического"), а тем, кто не дает развиваться экономическому типу поведения 
людей и коллективов, мешает согласованию их локальных целей с общественными 
целями, пытается укрепить нормативный, неэкономический тип поведения людей и 
коллективов.</p>
<p>Предупреждение против увлечения администрированием, 
против всевластия оперативного централизованного управления, против 
усовершенствования его вплоть до АСУ – бесполезно (если не указывать на 
альтернативу этому увлечению – самоуправление, рациональность, экономичность 
самих людей и коллективов), ибо это увлечение вызывается преобладанием в нашем 
обществе массы нормативных людей, для жизни которых оперативное управление 
необходимо, как воздух, как мать родная.</p>
<p>С другой стороны, Ваше предупреждение против иллюзии о 
том, что все люди принадлежат к экономическому типу поведения – звучит как 
предостережение против самого этого типа целесообразных людей (так можно было 
Вас понять). А это уж совсем неправильно, хотя, наверное, это впечатление 
создалось помимо Вашего желания.</p>
<p>Я очень желал бы услышать продолжение и развитие 
поднятой Вами темы.</p>
<br/>

<br/>

{% endblock content %}
