{% extends 'base.html' %}
{% block title %}Сокирко В.В. Пожелание членам комиссии КСП от заинтересованного человека со стороны, 1975г.{% endblock %}
{% block content %}




<h3>73.Пожелания членам Комиссии КСП заинтересованного человека со стороны</h3>
<p><em>Отдельный круг Витиных 
интересов – Клуб самодеятельной песни (КСП). Проблемы Клуба как независимой от 
государства организации, представляются ему интересными, важными, сам КСП – 
своеобразной кузницей гражданственности.</em></p>
<p>1. Формулировка Зимина сути движения КСП правильна и 
хороша, но чересчур обща, абстрактна, и потому может быть не понятой и не 
принятой. Следовало бы говорить проще. Например: КСП находится в центре движения 
самодеятельной песни, вызванного к жизни растущей после 1956 г. потребностью 
людей в свободной жизни и творчестве, в неформальном свободном общении, т.е. 
является частью общего движения советских людей к духовному освобождению (если 
следовать терминологии партийных документов, то следует говорить "о процессе 
преодоления культа личности") и утверждает гуманистические и демократические 
идеалы в противовес системе взглядов, сложившейся в период культа личности. 
Большинство участников КСП, по-видимому, не признают такой (или Зимина) 
формулировки, но от этого она не становится неправильной (только 
неосознанной).</p>
<p>2. Однако важно конкретизировать частную роль КСП в 
общеосвободительном движении (в упомянутом смысле), что позволит, во-первых, 
избавиться от иллюзий гигантизма, от стремления собрать все самодеятельное 
творчество и самостоятельную мысль под маркой КСП, а во-вторых, сохранит 
найденные жизнью формы свободного творчества и неформального общения, чтобы 
уделять главное внимание их укреплению и развитию.</p>
<p>Та требовательность к качеству песен и постановок, 
которой отличались до сих пор слеты – очень нужная для КСП черта. Стремление 
повысить качество произведений, вплоть до профессионального, нужно всемерно 
поощрять и приветствовать, ибо только на базе произведений высокого класса и 
почти профессионального исполнения можно говорить о серьезном отношении к 
содержанию и о серьезном стремлении к влиянию на слушателей. Сначала базис – 
затем надстройка. Именно так, хотя для большинства слушателей КСП, по-видимому, 
надстройка идей важнее базиса качественного исполнения.</p>
<p>В этом плане требования Васина о внимании к качеству 
песен и постановок, требования Каримова и Гербовицкого о внимании к деловым 
вопросам организации слетов – разумны и заслуживают одобрения. И наоборот – 
любые предложения о всемерном расширении влияния КСП на иные формы 
самодеятельного творчества должны обсуждаться и приниматься очень осторожно и 
скептически, как дело новое, не проверенное практикой, и потому, возможно, - 
лишь уводящее от главного.</p>
<p>Сама жизнь уже продиктовала, что на слетах звучат песни, 
стихи, небольшие постановки. И хватит. Если будет появляться что-то новое 
(художники, создатели диафильмов и т.д.) – пусть появляется, ищет свое место в 
жизни, завоевывает аудиторию. Не надо зажимать, но не нужно и форсировать, 
уделять основное внимание, отвлекая его от испытанных КСП-вских форм.</p>
<p>Столь же осторожно следует подходить и к предложениям о 
расширении каналов популяризации произведений КСП (концерты в городах, 
публикация сборников и т.д. и т.п.). Такое расширение (с помощью технической 
базы "Горкома" - будем называть начальство горкома и сам горком таким общим 
словом ) подобно троянскому коню – фикция. Фикция, потому что эти каналы будут 
достаточно жестко контролироваться горкомом и его начальством. Никакой свободы, 
никакого неформального общения на предоставляемой им территории Горком не 
допустит. Смысл произведений КСП будет выхолощен, а люди разбегутся. Примеров 
тому тьма! Актив КСП может затратить все свои силы на неравную и безнадежную 
борьбу с цензурой, пытаясь завоевать для самодеятельного творчества городские 
залы и печатные станки, и в это время потерять свою собственную аудиторию (слет 
в лесу).</p>
<p>Было уже много попыток открыть самодеятельные клубы, 
театры, кафе и пр. организации – даже при содействии комсомольских работников. И 
все проваливались (задавливались). Надеяться, что тысяча первая попытка КСП 
может увенчаться успехом – наивно (успех возможен лишь в результате 
общегосударственных изменений). А с другой стороны, движение КСП в его нынешнем 
виде существует не один год и существует оно именно потому, что обладает 
независимой от Горкома материальной базой – лесной поляной слета. Поэтому за 
форму слета надо держаться как за главное и основное. Расширять ее и углублять, 
как свой главный дом родной. Только в лесу (и частных квартирах) имеются почти 
идеальные условия для неформального общения, а не в тех 2-3 комнатах и зале, 
которые сегодня выпрашиваются у Горкома.</p>
<p>Итак, "бойтесь данайцев, дары приносящих". Другое дело, 
что не следует этого бояться слишком сильно, не следует всегда и безусловно 
отказываться от этих "даров". Но при этом знать им цену, не соблазняться ими, не 
считать их главными, не распыляться, не тратить силы на освоение чужих 
территорий, забывая о своей собственной.</p>
<p>Поэтому формулировку Зимина в той или иной редакции 
следует конкретизировать указанием на главную и основную форму существования КСП 
– слет, ибо слет – это суть организационной деятельности КСП, основная 
материальная база свободного песенного творчества и неформального общения.</p>
<p>2. Наблюдается почти полное единодушие в вопросе о 
необходимости контактов КСП и Горкома. Но эту необходимость обосновывают 
по-разному. Многие считают, что контакты и официальное открытие клуба дадут 
новое поле деятельности и каналы для КСП. Это опасные иллюзии! На самом деле от 
открытия клуба лучше не станет. Наоборот, будет сложнее и хуже для свободного 
общения. Больше цензуры и самоцензуры, больше формалистики. Но не идти на 
контакт с Горкомом и на создание при нем клуба – тоже нельзя. (Преследование 
лидеров, преследование студентов, нешуточная угроза массового разгона: надоест 
"им" возиться – могут и слет разогнать, а главное: отпугивание потенциальных 
участников КСП).</p>
<p>Отсюда вывод: контакты необходимы, но они должны быть не 
главным, а второстепенным, формальным делом, отвлекающим внимание Горкома 
маневром. Но эти контакты не должны отвлекать внимание актива КСП от своей 
основной задачи – подготовки неформальных слетов и неформального распространения 
песен.</p>
<p>Если принять эту точку зрения, то непонятно: почему так 
много времени и сил уделяется контактам с Горкомом. И какое значение имеет, 
сколько комнат Горком выделит: одну или три. Неужели Вы рискнете взаправду 
поместить в эти комнаты свою фонотеку, библиотеку, свой архив – поместите их под 
угрозу "чистки" и уничтожения? Я бы этого не делал, а ограничился лишь хранением 
части дубликатов. И неужели в этих комнатах Вы станете обсуждать что-то 
серьезное? В присутствии "освобожденных работников"? Или представителей? Я бы 
этого не советовал.</p>
<p>Если же Ваша дружба с Горкомом по поводу трех комнат, 
финансов и т.д. – чисто технический прием, помогающий затянуть время и 
официальное открытие клуба – тогда она мне понятна. Если же эта тяжба идет 
всерьез, то мне жаль лидеров КСП. В отвоеванных трех комнатах они похоронят 
КСП.</p>
<p>Если утвержденное Горкомом положение о клубе и 
создаваемые по нему органы будут в дальнейшем играть формальную и второстепенную 
роль, а основная работа, как и прежде, останется за активом КСП (комиссией), 
Советом командиров и самими слетами, то движение КСП продолжит и укрепит свое 
существование на неопределенно долгий срок, пока одураченный Горком не начнет 
нового этапа давления. (Очень хорошо, что в "Положении" ничего не говорится об 
организации слетов.) Если даже это "Положение" и созданные по нему органы будут 
приняты всерьез и актив КСП ввяжется в неравную борьбу за определяющее влияние 
на правление, бюро и "утверждающие инстанции" – то КСП погибнет.</p>
<p>Создаваемый при МГК клуб и его формальная структура 
должна быть вывеской, спасающей дело вывеской – и не более. Так мне кажется.</p>
<p>Горком сможет сегодня задавить КСП, но не сможет 
навсегда "перевоспитать" и задавить всю самостоятельную мысль и самодеятельное 
творчество. В конечном счете, счете истории, именно последние "перевоспитают" 
Горком. Но для этого нужны годы и годы, возможно, не одного только нашего 
поколения. Поэтому для нашего времени Горком будет постоянно искать методы 
тотального контроля и "перевоспитания" людей, а КСП и другие движения – искать 
реальные формы и методы существования. Всякой появившейся вновь организационной 
формой самодеятельного движения Горком будет интересоваться на предмет 
"овладения" и "воспитания" и обязательно будет добиваться этого не мытьем, так 
катаньем (как сегодня с помощью создания клуба при МГК), но каждый раз 
самостоятельная мысль и творчество будут уходить из этих захваченных Горкомом 
организаций и переливаться в иные формы.</p>
<p>Пусть поэтому МГК создает клуб при себе, пусть тешится. 
Это должно лишь помочь проведению следующих слетов. А каждый новый слет – это 
уже хорошо, победа. Год за годом, качественнее и содержательнее. И конечно, 
нельзя уступать Горкому сразу во всем. Он сам боится своих "быстрых побед", 
боится формализации движения и оттока людей, боится, чтобы схваченные им под 
контроль группы вдруг не рассыпались и не утекли сквозь пальцы. А с другой 
стороны, на горком давит его не совсем умное начальство – так что тенденция к 
задавливанию и к отступлению – неизбежна. Но лучше, если это отступление будет 
протекать медленно, на заранее подготовленные позиции.</p>
<p>3. Что касается конструктивной работы, то КСП следует 
расширять свое влияние за счет привлечения:</p>
<p>а) "хвостов". В идеале на слеты должны попадать все 
желающие. Следует работать и изобретать средства преодоления возникающих при 
этом организационных и технических трудностей (возможно, через укрепление и 
профессионализацию технических групп и групп порядка).</p>
<p>б) местных клубов и групп. Поощрение их частных и 
предварительных слетов, разработка системы отборочных прослушиваний (конкурсов), 
и не только в вузах и школах.</p>
<p>в) турклубов. Туризм – это пограничная область КСП и 
чистой самодеятельности людей в отдыхе, а потому невольно связан с 
самодеятельным творчеством. Туризм – полноправный хозяин лесных полян, и связи с 
ним нужно укреплять.</p>
<p>Нужно организовывать новые неформальные слеты. Идея 
мини-слета – прекрасный пример уже появившейся новой потребности. Ее надо 
удовлетворять.</p>
<p>Нужно упорядочивать систему отбора песен и постановок – 
для слета, для песенных сборников на пленках, вырабатывать свою, отдельную от 
Худсовета, систему премий (по содержанию). Этим будет создаваться климат 
поощрения свободной мысли и творчества.</p>
<p>И наконец, следует работать над организацией больших 
слетов с точки зрения обеспечения на них максимальной свободы: отдельные костры 
– не нужно все костры сбивать в одну кучу под контроль Горкома, неофициальное 
поощрение незапланированных конкурсов и т.д., т.е. ставить присутствующих 
представителей Горкома перед фактом прорыва стихии. Это для них и для "народа" 
будет полезно.</p>
<p>Минимум страхов и запретов. Ведь даже Галича можно петь 
по-разному. У него ведь есть масса достаточно сложных и содержательных песен, к 
которым трудно придраться с цензурной точки зрения, но которые не поют только 
из-за фамилии автора или из-за того, что не знают. А жаль. То же с Кимом. Для 
Горкома же можно просто не называть авторов или называть псевдонимы, авторы, 
думаю, не обидятся, ведь не для славы и не для гонорара они писали свои песни и 
дарили их людям.</p>
<p>Вот вкратце мои пожелания. И еще одно: очень важно 
сохранить ваши архивы, протоколы ваших споров. Пусть даже КСП "воспитают", но 
протоколы сохранят историю, а фонотека – песни. И жизнь <u>ваша</u> – не пропадет. Правда, ребята, отнеситесь к 
протоколам очень внимательно. Лучше их хранить в нескольких экземплярах и 
нескольких местах (с односторонним поступлением, как говорит Зимин). От души 
желаю успехов. 1975 г.</p>
<br/>

<br/>

{% endblock content %}
