{% extends 'base.html' %}
<title>Сокирко В.В. "Возможные альтернативы развития экономической реформы", сер. 70-х гг.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="78.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="80.html"> следующая </a>
</td></tr></table>
<h3>79.Возможные альтернативы развития экономической реформы, середина 70-х</h3>
<p> (в части ее влияния на дефицитность рабочей силы) </p>
<p><em>Завершая систематизацию 
написанного Витей в этот период, приведу список его статей, из неоцифрованных 
пока выпусков сборника “ В защиту экономических свобод”-ЗЭС и не нашедших в них 
почему-то места для статьи о громко звучавшем тогда Щёкинском методе и 
высказываний о путях повышения заинтересованности в результатах работы 
.</em></p>
<p>Одной из важных частей экономической реформы является 
"Щекинский метод", который заключается в строгом фиксировании фонда зарплаты и 
оставлении предприятию и его работникам экономии от сокращения численности 
персонала. Этот метод позволяет: а) резко увеличить производительность и 
дисциплину труда; б) ликвидировать дефицитность рабочей силы.</p>
<p>Однако этот метод внедряется очень медленно, что делает 
полезным рассмотрение возможных альтернатив его использования и соответствующих 
следствий и затруднений.</p>
<p>I. Фактический отказ от широкого использования 
Щекинского метода и развертывания экономических реформ вообще.</p>
<p>1) Запросы и потребности населения растут под влиянием 
примера с Запада, что подтверждается и стимулируется официальной главной линией 
на повышение жизненного уровня, удовлетворение потребностей как главной цели. 
Рост запросов и жизненного уровня делает необходимым быстрое экономическое 
развитие, которое бы уменьшило дефицитность продукции.</p>
<p>2) Производительность труда растет очень медленно – 
главным образом, только в связи с внедрением новой, в основном импортной 
(экономически опробованной) техники. Это делает необходимым экстенсивный путь 
роста, т.е. за счет привлечения новых рабочих.</p>
<p>3) Дефицитность рабочей силы, в свою очередь, подрывает 
ее трудовую дисциплину и качество, а с другой стороны, увеличивает стремление 
предприятий к закреплению своих кадров путем повышения их зарплаты. Рост 
зарплаты повышает жизненный уровень, потребности и запросы населения, что в еще 
большей степени увеличивает необходимость быстрого развития и дефицитность 
рабочей силы.</p>
<p>II. Неуправляемое внедрение Щекинского метода</p>
<p>Эта альтернатива состоит в представлении всем 
предприятиям права на Щекинский метод, т.е. на сокращение рабочих и 
использование оставшимися работниками большой части зарплаты для повышения 
своего личного потребления. Такое решение может привести к следующему:</p>
<p>1) Поскольку в настоящее время производительность наших 
работников намного ниже, например, американцев, то можно предположить, что с 
предоставлением предприятиям такого мощного стимула, как присвоение 
сэкономленной зарплаты, производительность будет возрастать чрезвычайно резко – 
вплоть до технически возможного уровня. Если Щекинский метод при этом не будет 
сопровождаться развертыванием и других сторон реформы (зависимость от 
потребителей, влияние последних на цены и т.д.), то повышение производительности 
может возрасти еще и за счет ухудшения качества продукции.</p>
<p>2) Следовательно, непосредственным результатом массового 
неконтролируемого внедрения Щекинского метода должно быть создание большого 
количества безработных при резком увеличении потребностей оставшихся 
производительных рабочих. Поскольку первых тоже надо как-то кормить (может, 
пособия), то общее потребление должно резко подняться, что возможно лишь за счет 
отвлечения средств от других целей, например, за счет сокращения 
капиталовложений. Общая производительность народного хозяйства в целом может 
даже снизиться.</p>
<p>3) Однако единственным способом рассасывания безработицы 
и увеличения общей производительности труда является интенсивное создание новых 
рабочих мест, т.е. промышленное строительство, что требует грандиозных средств, 
увеличения накоплений, фактически как бы для проведения второй индустриализации 
страны.</p>
<p>4) Очевидно, что это противоречие между резким ростом 
платежеспособного спроса населения в целом и еще более резким ростом необходимых 
капиталовложений очень трудно, почти невозможно выдержать. По-видимому, это 
возможно лишь ценой резкого снижения общего жизненного уровня, и особенно 
сильного снижения – у безработной части общества.</p>
<p>5) Если это снижение все же удастся выдержать, то 
проведение интенсивной индустриализации потребует создания и резкого расширения 
мощностей машиностроения и капитального строительства. Но, предположим, что 
новая машиностроительная и строительная база справились со своими грандиозными 
задачами – создали достаточное количество рабочих мест при максимально возможной 
на данном этапе времени производительности труда. Что ей придется делать, когда 
эта экстренная потребность (ликвидация безработицы) будет удовлетворена? – 
Очевидно, нечего. Это будет кризис машиностроения и кап.строительства, который 
положит начало дальнейшим (возможно, затухающим) кризисным колебаниям в 
экономике, связанным с большими общественными (и личными) потерями, поскольку 
часть трудовых и др.производственных ресурсов будет определенное время 
простаивать.</p>
<p>Следовательно, процесс внедрения Щекинского метода, т.е. 
всей экономической реформы, должен быть управляемым и постепенным.</p>
<p>III. Управляемое и постепенное внедрение Щекинского 
метода.</p>
<p>1) Одним из главных условий постепенности является 
отсутствие массовой безработицы. Но это не означает полного отсутствия 
безработицы. С производственной точки зрения оптимальным является не абсолютное 
отсутствие безработных, а напротив, некоторое наличие резервной рабочей силы 
позволяет стимулировать перемещение рабочих в места, где в них есть потребность 
(например, на Север и Восток, или в определенные производства). Мобильное 
заполнение свободных рабочих мест – необходимое условие эффективного 
производства. Побочный эффект от такого ищущего резерва – повышение трудовой 
дисциплины у работающих.</p>
<p>2) По-видимому, количество временно неиспользуемых 
рабочих должно совпадать с количеством людей, находящихся в процессе трудовой 
миграции и поисках незанятой работы, а также находящихся в процессе 
переобучения.</p>
<p>Поскольку речь идет о народно-хозяйственной потребности 
в определенном количестве временно неиспользуемых рабочих, это, по сути, не 
безработные, а резервные рабочие, которые за свои поиски рабочего места должны 
получать определенную стипендию от государства.</p>
<p>3) Право на Щекинский метод должно быть предоставлено 
всем предприятиям, но в определенных пределах. Для определения этих пределов 
нужно, хотя бы грубо, знать дефицит в стране раб.силы + процент на резервную 
рабочую силу. Только в пределах этого процента можно разрешить предприятиям 
рационализацию и соответствующее увольнение работников.</p>
<p>Т.о. будет устранена проблема дефицита раб.силы, 
повышена трудовая дисциплина и производительность труда – но до соответствующего 
предела. Основная цель экономической реформы: быстро встать вровень с 
капиталистическими странами по эффективности организации производства – не будет 
сразу достигнута. Эта задача будет решаться только по мере создания новых 
рабочих мест и соответствующего нового разрешения всем предприятиям на 
рационализацию своего производства и увольнение лишних работников. Причем, чем 
больше будет доля накоплений, тем быстрее пойдет этот вопрос. Достижение же 
максимально возможной производительности возможно лишь при полном развитии всех 
граней экономической реформы: децентрализации управления, зависимости 
предприятий от потребителей, эффективного ценообразования… (Эти альтернативы 
можно подкрепить качественными расчетами на основе данных о нац.доходе, 
количестве рабочих, производительности труда и т.д.).</p>
<br/>
<table width="600"> <tr> <td>
<a href="78.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="80.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
