{% extends 'base.html' %}
<title>Сокирко В.В. Характеристика группы</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="7.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="9.html"> следующая </a>
</td></tr></table>
<h3>8. Характеристика группы</h3>
<p>Виктор Сокирко поступил в МВТУ им. Баумана в 1956г. на 
специальность “Сварочное производство” после окончания 10 класса. В школе был 
секретарём комсомольской организации школы. Летом после окончания школы (<i>неточность – после 9 класса </i>) работал матросом на 
речном буксире... </p>
<p>В институте шестой год староста группы. Большая 
работоспособность, умение ценить время и работать в любой обстановке позволяют 
ему хорошо учиться самому, помогать товарищам, никогда не отказываться от 
поручений. Очень много читает, много времени уделяет изучению 
общественно-политических наук. </p>
<p>Активно участвовал в общественной жизни училища. После 
первого курса добровольно поехал на целину. Вернувшись с целины, переписал все 
лекции по всем предметам и сдал экзамены без троек и в срок. Второй раз ездил на 
целину вместе с группой и показал образец трудового героизма. За образцовый труд 
на целине награждён медалью “За освоение целины”.</p>
<p>После третьего курса попросил дать ему возможность 
работать в коммуне на строительстве общежития, хотя он москвич и общежитие ему 
не нужно, а его группа в это время отдыхала. Там его поставили работать в пару с 
отъявленным лодырем, но Виктор своим личным примером заставил парня относиться к 
работе так же добросовестно и сознательно, как он.</p>
<p>В группе никогда не говорил громких слов, а все идеи и 
мысли по улучшению работы отстаивал своим личным примером. Когда он убедился, 
что одного личного примера недостаточно, он обратился в деканат с принципиальным 
требованием, чтобы его отметки о непосещении лекций и семинаров не оставались 
пустым бумагомарением.</p>
<p>С 4-го курса Сокирко пошёл работать на кафедру, т.к. 
считал, что только в практической работе по специальности, он может стать 
настоящим инженером. Работая на кафедре, не пропуская занятий, он находил время 
работать в народной дружине, где был самым дисциплинированным. </p>
<p>Несмотря на большую занятость, активно участвовал во 
внутренней жизни группы, проводил по поручению агитаторов политинформации о 
международном положении. Но он видел, что может и должен делать ещё больше для 
того, чтобы вносить свой вклад в общественную жизнь училища. Поэтому он берётся 
за организацию совместно с клубом диспута “О времени и о себе”, идея которого – 
в наше время не должно быть равнодушных к общественной жизни, к задачам нашего 
общества. Диспут прошёл с большим успехом.</p>
<p>На 5-ом курсе Сокирко расширил свою работу на кафедре, 
связал её с вопросами кафедры организации производства. Летом как сотрудник 
кафедры организации производства ездил в командировку в Таганрог, где много и 
плодотворно работал. </p>
<p>Говоря о Сокирко, нельзя не говорить о его взглядах. Он 
придерживается мнения, что каждый человек должен иметь своё мировоззрение, своё 
мнение по всем вопросам и вырабатывать такое мнение – это одно из основных 
условий сознательного труда на благо общества. Он также считает, что помочь 
выработать такое мнение должна наша окружающая действительность, наш 
комсомол.</p>
<p>В последнее время Сокирко допустил очень грубые ошибки, 
которые привели к явно отрицательным результатам. Ошибки эти заключаются в 
безответственной подготовке к выступлению с комсомольской трибуны. Группа 
единодушно осудила, а сам он признал эти ошибки...</p>
<p><i>К сожалению, на этой фразе 
закончилась моя перезапись<b> Характеристики</b>. Может за 
ней уже следовали подписи комсорга и профорга...</i></p>
<p><i>После исключения из комсомола 
должно было последовать исключение из МВТУ, но был “дан отбой”- то ли покаянное 
<b>письмо в ЦК КПСС</b> остановило, то ли расположение 
ректора. Мне сейчас трудно судить насколько искренним было письмо. Возможно, 
подействовали аргументы, обрушившиеся на него во время исключения. Но думаю, что 
главным было желание закончить институт и вернуться к нормальной жизни. Через 
год, уже в Коломне, его вновь приняли в комсомол по рекомендации МВТУ-шного 
представителя</i>.</p>
<br/>
<table width="600"> <tr> <td>
<a href="7.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
<a href="9.html"> следующая </a>
</td></tr></table>
<br/>

{% endblock content %}
