{% extends 'base.html' %}
<title>Сокирко В.В. В ЛГ по поводу ст. ак. Целикова "Дайте институту завод", 1975г.</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="79.html"> предыдущая </a>
</td><td><a href="../pv1.html">оглавление</a></td><td>
</td></tr></table>
<h3>80. В ЛГ по поводу статьи ак. Целикова "Дайте институту завод", 1975 </h3>
<p>Считаю очень важной тему дискуссии по опубликованной в 
Вашей газете статье ак.Целикова "Дайте институту завод", считаю своим долгом 
принять участие в предложенной Вами анкете ("ЛГ" от 14 мая 1975г.).</p>
<p>1. По моему мнению, предприятия в современных условиях 
не заинтересованы в новой технике и, как правило, тормозят ее внедрение. 
Исправить это положение может только перевод предприятий на объем прибыли как 
основной показатель результатов их деятельности (критерий деятельности при 
условии использования цен на продукцию, построенных по согласованию с 
потребителями, учет потребительского эффекта и размер спроса). Тогда предприятия 
будут заинтересованы в изготовлении прогрессивной продукции, снижении своих 
издержек и, по выражению Л.И.Брежнева, будут "гоняться за техническими 
новинками".</p>
<p>2. На мой взгляд, нет никакой необходимости в 
приобретении особых количественных показателей степени технического прогресса на 
предприятиях, отрасли и т.д. Работы в этом направлении способны только повредить 
полноте использования основного критерия деятельности – объема прибыли. В 
принципе, именно этот показатель при правильно построенной системе цен и 
фиксированных платежей и следует считать нормой технического и организационного 
прогресса. Возможно использование показателя рентабельности.</p>
<p>3. Из предложенных Вами в п.3 анкеты конкретных 
предложений по структурным изменениям в систему "наука-производство" я считаю 
наиболее ценным и необходимым организацию межотраслевых хозрасчетных 
самостоятельных фирм типа "Поиск", "Факел" и консультационных самостоятельных 
фирм ("банки ученых"). Принятие этих предложений, несомненно, коренным образом 
повысит эффективность нашей прикладной науки (и особенно при одновременном 
выполнении рекомендаций п.1).</p>
<p>4. В качестве дисциплинарной меры экономического, 
морального и материального стимулирования, создания и внедрения новой техники я 
предложил бы предоставить изобретателям преимущественное право на внедрение 
своих изобретений и соответствующее вознаграждение на создание 
специализированных фирм по внедрению этих изобретений на всех заинтересованных 
предприятиях.</p>
<br/>

{% endblock content %}
