{% extends 'base.html' %}
<title>Бутырский дневник: 3.1.5. Заключение ИМРД на свободный московский журнал “Поиски” N6</title>
{% block content %}



<table width="600"> <tr> <td>
<a href="a3-14.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="a3-16.html"> следующая </a>
</td></tr></table>
<a name="a3-15"><h4>3.1.5.Заключение Института международного рабочего движения на свободный московский журнал “Поиски” №6, 1979г.</h4></a>
<ol>
<li><p>Сборник представляет собой собрание материалов, разнородных по жанрам, тематике и «теоретическим» посылкам. Общим для всех материалов является неприятие марксизма – ленинизма в целом как «государственной идеологии». Большинство авторов сборника критикует марксизм-ленинизм, политику партии и советского государства с позиции так называемого буржуазного либерализма и буржуазной демократии, за исключением статьи Р. Лерт, в которой реальному социализму противопоставляется «другой» социализм. Эту позицию можно расценить как ревизионистскую.</p>
<p>Материалы различаются также и по профессиональному уровню исполнения. Так, статья Г. Померанца написана профессионально. Статья И.Н. Понырёва производит впечатление шизофренического графоманства. Статья Г. Павловского теоретически несостоятельна. Автор исходит из неверного понимания «аутентичности марксизма», к которому он относит почему-то книги Э. Фишера, Ф. Марека и др. Он строго различает «аутентичный марксизм» -буржуазных авторов и авторов-ренегатов типа Фишера, Марека и др.. Смешение в одну кучу различных идейных течений нужно Павловскому для одной цели – смешав все течения, отбросить их, поскольку в них, хоть с буржуазной или ревизионистской точки зрения, но всё-таки речь идёт о марксизме, который автор отвергает целиком, за что приветствует как Джиласа, так и М. Михайлова. Материалы Прыжова (ответ Понырёву ) по стилю малограмотны, но злобны.</p></li>
<li><p>Клевета на советский государственный строй содержится практически во всех материалах, за исключением материалов о Югославии, о которых речь пойдёт отдельно. Это особенно заметно в рецензии К. Буржуадемова на книгу Л.И. Брежнева «Целина». Она бессодержательна, над всем превалирует желание автора очернить книгу во что бы то ни стало, произвольно трактуя цитаты и факты, приводимые в ней.</p>
<p>Откровенно клеветнический характер носит публикация Р. Джеймса. Весьма тенденциозны в освещении ряда сторон советской действительности все материалы Г. Снегирёва и комментарии к ним. Клеветническими являются «заявления» редакции журнала «Поиски» (особенно заявление, обозначенное римской цифрой II).</p>
<p>Клеветнические измышления о решении национального вопроса в СССР содержатся в статьях Р. Лерт и Г. Померанца. Об использовании психиатрии в политических целях говорится в материалах Г. Снегирёва и комментариях к ним, а также в утверждении, что в политических целях используется медицина в целом.</p>
<p>Клевета на внутреннюю политику содержится в статьях Р. Лерт, Буржуадемова, Прыжова, Г. Владимова, В. Войновича, П. Подрабинека. Материалы о Югославии помимо заявления о том, что якобы умышленно скрывается фактическое положение дел в Югославии, прямых выпадов против советского общественного и государственного строя содержат немного. Основная идея этих публикаций – дать некоторую альтернативу советской действительности.</p></li>
<li><p>Что касается клеветы на внешнюю политику партии, то она выражается преимущественно в огульном обвинении в проведении «имперской политики».</p>
</li>
</ol>
<p>Директор ИМРД АН СССР член-корр. Тимофеев Т.Т. </p>
<br/>
<table width="600"> <tr> <td>
<a href="a3-14.html"> предыдущая </a>
</td><td><a href="../index.html">оглавление</a></td><td>
<a href="a3-16.html"> следующая </a>
</td></tr></table>

{% endblock content %}
